Repository calcom/cal.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @calcom/Foundation, @calcom/API, @calcom/Consumer, @calcom/Platform

.github/CODEOWNERS:

/**/package.json @calcom/Foundation
/apps/api/**/* @calcom/API
/apps/ui-playground/**/* @calcom/Consumer @calcom/Foundation
/apps/web/**/layout.tsx @calcom/Consumer @calcom/Foundation
/apps/web/lib/csp.ts @calcom/Foundation
/apps/web/lib/buildNonce.ts @calcom/Foundation
/apps/web/lib/daily-webhook/**/* @calcom/Foundation
/apps/web/lib/core/**/* @calcom/Foundation
/apps/web/lib/booking.ts @calcom/Foundation
/apps/web/lib/handleOrgRedirect.ts @calcom/Foundation
/apps/web/middleware.ts @calcom/Foundation
/deploy/**/* @calcom/Foundation
/infra/**/* @calcom/Foundation
/packages/app-store/applecalendar/**/* @calcom/Foundation
/packages/app-store/caldavcalendar/**/* @calcom/Foundation
/packages/app-store/exchange2013calendar/**/* @calcom/Foundation
/packages/app-store/exchange2016calendar/**/* @calcom/Foundation
/packages/app-store/exchangecalendar/**/* @calcom/Foundation
/packages/app-store/feishucalendar/**/* @calcom/Foundation
/packages/app-store/googlecalendar/**/* @calcom/Foundation
/packages/app-store/ics-feedcalendar/**/* @calcom/Foundation
/packages/app-store/larkcalendar/**/* @calcom/Foundation
/packages/app-store/office365calendar/**/* @calcom/Foundation
/packages/app-store/zohocalendar/**/* @calcom/Foundation
/packages/embeds/**/* @calcom/Foundation
/packages/features/bookings/lib/**/* @calcom/Foundation
/packages/lib/getAggregatedAvailability.ts @calcom/Foundation
/packages/lib/getUserAvailability.ts @calcom/Foundation
/packages/lib/server/getLuckyUser.ts @calcom/Foundation
/packages/lib/slots.ts @calcom/Foundation
/packages/platform/atoms/**/*WebWrapper.tsx @calcom/Consumer
/packages/platform/**/* @calcom/Platform @calcom/Foundation
/packages/prisma/**/* @calcom/Foundation
/packages/trpc/server/routers/viewer/bookings/confirm.handler.ts @calcom/Foundation
/packages/trpc/server/routers/viewer/bookings/get.handler.ts @calcom/Foundation
/packages/trpc/server/routers/viewer/slots/**/* @calcom/Foundation
/packages/ui/**/* @calcom/Consumer @calcom/Foundation

chore:resolving api error
  apps/connector/package.json
  apps/connector/src/auth/guards.ts
  apps/connector/src/repositories/secondary-email.repository.ts
  yarn.lock
Owners: @calcom/Foundation

Fetching with event with id first to avoid slug conflicts
  packages/features/bookings/lib/getBookingFields.ts
  packages/features/schedules/lib/use-schedule/useSchedule.ts
  packages/trpc/server/routers/viewer/slots/util.ts
Owners: @calcom/Foundation

test:resolving fastify build
  apps/connector/package.json
  apps/connector/tsconfig.json
  yarn.lock
Owners: @calcom/Foundation

fix:router schemas to fix swagger issues
  apps/connector/src/plugins/swagger.ts
  apps/connector/src/routes/public/availability.route.ts
  apps/connector/src/routes/public/booking.route.ts
  apps/connector/src/routes/public/schedule.route.ts
  apps/connector/src/routes/public/slots.route.ts
  apps/connector/src/routes/public/users.route.ts
Owners: none

Via socket app added
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/viasocket/DESCRIPTION.md
  packages/app-store/viasocket/api/add.ts
  packages/app-store/viasocket/api/index.ts
  packages/app-store/viasocket/components/.gitkeep
  packages/app-store/viasocket/config.json
  packages/app-store/viasocket/index.ts
  packages/app-store/viasocket/package.json
  packages/app-store/viasocket/static/1.jpg
  packages/app-store/viasocket/static/2.jpg
  packages/app-store/viasocket/static/3.jpg
  packages/app-store/viasocket/static/icon.jpg
  packages/ui/components/empty-screen/EmptyScreen.tsx
  yarn.lock
Owners: @calcom/Foundation, @calcom/Consumer

fix:swagger request url
  apps/connector/src/config/env.ts
  apps/connector/src/plugins/swagger.ts
Owners: none

hide admin endpoints
  apps/connector/src/plugins/swagger.ts
Owners: none

Username field added
  apps/connector/src/plugins/swagger.ts
  apps/connector/src/routes/public/users.route.ts
  apps/connector/src/schema/user.schema.ts
  apps/connector/src/services/public/user.service.ts
Owners: none

fix:swagger api config
  apps/connector/src/plugins/swagger.ts
Owners: none

test:keysely fix
  packages/kysely/index.ts
Owners: none

test:keysely fix
  packages/kysely/index.ts
Owners: none

Bookings api issues fixes
  apps/connector/src/repositories/booking.repository.ts
  apps/connector/src/routes/public/booking.route.ts
  apps/connector/src/schema/booking.schema.ts
  packages/kysely/index.ts
Owners: none

hide admin endpoints
  apps/connector/src/plugins/swagger.ts
Owners: none

fix:swagger api config
  apps/connector/src/plugins/swagger.ts
Owners: none

test:keysely fix
  packages/kysely/index.ts
Owners: none

hide admin endpoints
  apps/connector/src/plugins/swagger.ts
  turbo.json
Owners: none

fix:swagger api config
  apps/connector/src/plugins/swagger.ts
Owners: none

fix:router schemas to fix swagger issues
  apps/connector/src/routes/public/booking.route.ts
Owners: none

test:keysely fix
  packages/kysely/index.ts
Owners: none

chore:support details
  apps/connector/src/plugins/swagger.ts
Owners: none

Bookings api issues fixes
  apps/connector/src/routes/public/booking.route.ts
  packages/kysely/index.ts
Owners: none

test:keysely fix
  packages/kysely/index.ts
Owners: none

fix:swagger api config
  apps/connector/src/plugins/swagger.ts
Owners: none

test:keysely fix
  packages/kysely/index.ts
Owners: none

hide admin endpoints
  apps/connector/src/plugins/swagger.ts
Owners: none

filter Unconfirmed tab bookings
  apps/web/components/booking/BookingListItem.tsx
  packages/trpc/server/routers/viewer/bookings/get.handler.ts
Owners: @calcom/Foundation

chore: Added icons
  apps/web/public/latest-Cal-ID-Favicon.svg
  apps/web/public/latest-CalId-logo.png
Owners: none

Chore:Added Home Page
  apps/web/public/home-assets/Cal-id-hero-2.svg
  apps/web/public/home-assets/abrealla.jpeg
  apps/web/public/home-assets/ajit.jpeg
  apps/web/public/home-assets/calendar-img.jpeg
  apps/web/public/home-assets/consulants.jpeg
  apps/web/public/home-assets/doctor.jpeg
  apps/web/public/home-assets/free-booking.jpeg
  apps/web/public/home-assets/freelancer.jpeg
  apps/web/public/home-assets/gagan.jpg
  apps/web/public/home-assets/hr-recruiter.webp
  apps/web/public/home-assets/jeff.jpeg
  apps/web/public/home-assets/lawyer.jpeg
  apps/web/public/home-assets/pablo.png
  apps/web/public/home-assets/real-estate-agent.jpeg
  apps/web/public/home-assets/rohit.jpg
  apps/web/public/home-assets/sales-executive.webp
  apps/web/public/home-assets/sara.jpeg
  apps/web/public/home-assets/startup-founder.jpeg
  apps/web/public/home-assets/tristan.png
Owners: none

fix: make cancel reason optional
  apps/web/components/dialog/BookingCancelDialog.tsx
  packages/features/bookings/lib/handleCancelBooking.ts
Owners: @calcom/Foundation

Bookings api issues fixes
  packages/kysely/index.ts
Owners: none

test:keysely fix
  packages/kysely/index.ts
Owners: none

fix:swagger api config
  apps/connector/src/plugins/swagger.ts
Owners: none

test:keysely fix
  packages/kysely/index.ts
Owners: none

Bookings api issues fixes
  packages/kysely/index.ts
Owners: none

hide admin endpoints
  apps/connector/src/plugins/swagger.ts
Owners: none

fix: contentType is added in worng format
  packages/features/ee/workflows/api/scheduleEmailReminders.ts
  packages/features/ee/workflows/lib/reminders/emailReminderManager.ts
Owners: none
