Repository calcom/cal.com, changes with the labels that .github/labeler.yml gives for each.
All labels: ❗️ migrations, ❗️ .env changes

chore:clean up the code
  apps/web/public/static/locales/de/common.json
  apps/web/public/static/locales/en/common.json
  apps/web/public/static/locales/es/common.json
  apps/web/public/static/locales/pt-BR/common.json
  packages/features/bookings/lib/getBookingResponsesSchema.ts
  packages/features/form-builder/FormBuilder.tsx
Labels: none

fix: PR update E2E tests problems (#15603)
  .github/actions/cache-db/action.yml
  .github/workflows/pr.yml
Labels: none

feat: finish batch processor finished
  apps/web/lib/daily-webhook/getBooking.ts
  apps/web/lib/daily-webhook/getBookingReference.ts
  apps/web/lib/daily-webhook/schema.ts
  apps/web/lib/daily-webhook/triggerRecordingReadyWebhook.ts
  apps/web/lib/daily-webhook/triggerWebhooks.ts
  apps/web/pages/api/recorded-daily-video.ts
  packages/app-store/dailyvideo/lib/VideoApiAdapter.ts
Labels: none

v4.2.3
  apps/web/package.json
Labels: none

chore: types
  apps/web/lib/daily-webhook/schema.ts
  apps/web/pages/api/recorded-daily-video.ts
Labels: none

feat: booking no show webhook (#15502)
  apps/web/components/booking/BookingListItem.tsx
  apps/web/playwright/bookings-list.e2e.ts
  apps/web/playwright/fixtures/webhooks.ts
  apps/web/playwright/lib/fixtures.ts
  apps/web/playwright/webhook.e2e.ts
  apps/web/public/static/locales/en/common.json
  packages/features/webhooks/components/WebhookForm.tsx
  packages/features/webhooks/lib/WebhookService.ts
  packages/features/webhooks/lib/constants.ts
  packages/features/webhooks/lib/sendPayload.ts
  packages/features/webhooks/lib/test/WebhookService.test.ts
  packages/prisma/migrations/20240619195146_add_booking_no_show_updated_webhook/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/publicViewer/noShow.handler.ts
Labels: ❗️ migrations

fix: getPublicEventType of NonOrgUser fetch OrgUser event-type of same username (#15587)
  apps/web/playwright/organization/booking.e2e.ts
  packages/features/eventtypes/lib/getPublicEvent.ts
Labels: none

v4.2.3 (#15604)
  apps/web/package.json
Labels: none

feat: adds env variable for email sender name (#15598)
  .env.example
  packages/emails/templates/account-verify-email.ts
  packages/emails/templates/admin-organization-notification.ts
  packages/emails/templates/attendee-request-email.ts
  packages/emails/templates/attendee-verify-email.ts
  packages/emails/templates/attendee-was-requested-to-reschedule-email.ts
  packages/emails/templates/booking-redirect-notification.ts
  packages/emails/templates/broken-integration-email.ts
  packages/emails/templates/change-account-email-verify.ts
  packages/emails/templates/disabled-app-email.ts
  packages/emails/templates/feedback-email.ts
  packages/emails/templates/forgot-password-email.ts
  packages/emails/templates/monthly-digest-email.ts
  packages/emails/templates/org-auto-join-invite.ts
  packages/emails/templates/organization-admin-no-slots-email.ts
  packages/emails/templates/organization-creation-email.ts
  packages/emails/templates/organization-email-verification.ts
  packages/emails/templates/organizer-attendee-cancelled-seat-email.ts
  packages/emails/templates/organizer-cancelled-email.ts
  packages/emails/templates/organizer-daily-video-download-recording-email.ts
  packages/emails/templates/organizer-daily-video-download-transcript-email.ts
  packages/emails/templates/organizer-location-change-email.ts
  packages/emails/templates/organizer-payment-refund-failed-email.ts
  packages/emails/templates/organizer-request-email.ts
  packages/emails/templates/organizer-request-reminder-email.ts
  packages/emails/templates/organizer-requested-to-reschedule-email.ts
  packages/emails/templates/organizer-rescheduled-email.ts
  packages/emails/templates/organizer-scheduled-email.ts
  packages/emails/templates/slug-replacement-email.ts
  packages/emails/templates/team-invite-email.ts
  packages/lib/constants.ts
  packages/types/environment.d.ts
  turbo.json
Labels: ❗️ .env changes

refactor: move functions to separate files (#15590)
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/checkIfBookerEmailIsBlocked.ts
  packages/features/bookings/lib/handleNewBooking/getEventTypesFromDB.ts
  packages/features/bookings/lib/handleNewBooking/getRequiresConfirmationFlags.ts
  packages/features/bookings/lib/handleNewBooking/handleAppsStatus.ts
  packages/features/bookings/lib/handleNewBooking/handleCustomInputs.ts
  packages/features/bookings/lib/handleSeats/reschedule/owner/moveSeatedBookingToNewTimeSlot.ts
  packages/features/ee/workflows/lib/reminders/scheduleMandatoryReminder.ts
  packages/features/instant-meeting/handleInstantMeeting.ts
Labels: none

Only update email on stripe if stripe is enabled and if there is a stripeAccountId already associated with the user
  apps/web/pages/api/auth/verify-email.ts
Labels: none

fix: CAL-3959 Disable Duplicate button in Readonly event type
  apps/web/modules/event-types/views/event-types-listing-view.tsx
Labels: none

add tests & weight adjustment improvments
  apps/web/test/lib/team-event-types.test.ts
  packages/trpc/server/routers/viewer/eventTypes/update.handler.ts
  packages/trpc/server/routers/viewer/eventTypes/util.ts
Labels: none

fix: type error
  packages/features/webhooks/lib/sendPayload.ts
Labels: none

refactor: update comments
  packages/features/form-builder/schema.ts
Labels: none

fix: min max validation
  packages/features/form-builder/FormBuilder.tsx
  packages/features/form-builder/schema.ts
Labels: none

test: Add test
  apps/web/playwright/test-min-max-characters.e2e.ts
Labels: none

fix: fix typo
  packages/features/form-builder/FormBuilder.tsx
Labels: none

refactor: review changes
  apps/web/public/static/locales/en/common.json
  packages/features/form-builder/FormBuilder.tsx
  packages/features/form-builder/schema.ts
Labels: none

refactor: review changes
  packages/platform/types/event-types/event-types_2024_06_14/inputs/booking-fields.input.ts
Labels: none

feat: min max chars for long text
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/inputs/update-event-type.input.ts
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/outputs/get-event-type-public.output.ts
  packages/features/bookings/lib/getBookingResponsesSchema.ts
  packages/features/form-builder/FormBuilder.tsx
  packages/features/form-builder/FormBuilderField.tsx
  packages/features/form-builder/schema.ts
  packages/lib/event-types/transformers/api-request.ts
  packages/lib/event-types/transformers/api-response.ts
Labels: none

refactor: review changes
  packages/features/bookings/lib/constants.ts
  packages/features/bookings/lib/getBookingResponsesSchema.ts
  packages/features/form-builder/FormBuilder.tsx
  packages/features/form-builder/FormBuilderField.tsx
  packages/features/form-builder/fieldTypes.ts
  packages/features/form-builder/schema.ts
Labels: none

refactor: remove console log
  packages/features/bookings/lib/getBookingResponsesSchema.ts
Labels: none

refactor: revert redundant change
  packages/lib/event-types/transformers/api-response.ts
Labels: none

fix: record icon for old rooms
  apps/web/modules/videos/views/videos-single-view.getServerSideProps.tsx
  packages/app-store/dailyvideo/lib/VideoApiAdapter.ts
  packages/app-store/dailyvideo/lib/types.ts
  packages/features/get-cal-video-reference.ts
Labels: none

chore: change function name
  apps/web/modules/videos/views/videos-single-view.getServerSideProps.tsx
  packages/app-store/dailyvideo/lib/VideoApiAdapter.ts
Labels: none

fix: use readonly variable
  apps/web/modules/event-types/views/event-types-listing-view.tsx
Labels: none

fix: backward compatibility for old cal rooms (#15609)
  apps/web/modules/videos/views/videos-single-view.getServerSideProps.tsx
  packages/app-store/dailyvideo/lib/VideoApiAdapter.ts
  packages/app-store/dailyvideo/lib/types.ts
  packages/features/get-cal-video-reference.ts
Labels: none

fix: description text
  apps/web/public/static/locales/en/common.json
Labels: none

fix: Autodetection of time zone only updated default time zone (#15392)
  apps/web/components/apps/AppList.tsx
  apps/web/pages/availability/index.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/eventtypes/components/BulkEditDefaultForEventsModal.tsx
  packages/features/eventtypes/components/BulkEditDefaultModal.tsx
  packages/features/settings/TimezoneChangeDialog.tsx
  packages/trpc/server/routers/loggedInViewer/updateProfile.handler.ts
  packages/trpc/server/routers/loggedInViewer/updateProfile.schema.ts
Labels: none

Update pr.yml
  .github/workflows/pr.yml
Labels: none

Added the types back so PR update triggers when labeled
  .github/workflows/pr.yml
Labels: none

refactor: handleNewBooking #3
  packages/features/bookings/lib/getBookingDataSchema.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/createBooking.ts
  packages/features/bookings/lib/handleNewBooking/ensureAvailableUsers.ts
  packages/features/bookings/lib/handleNewBooking/findBookingQuery.ts
  packages/features/bookings/lib/handleNewBooking/getBookingData.ts
  packages/features/bookings/lib/handleNewBooking/getOriginalRescheduledBooking.ts
  packages/features/bookings/lib/handleNewBooking/getRequiresConfirmationFlags.ts
  packages/features/bookings/lib/handleNewBooking/types.ts
  packages/features/bookings/lib/handleSeats/create/createNewSeat.ts
  packages/features/bookings/lib/handleSeats/reschedule/attendee/attendeeRescheduleSeatedBooking.ts
  packages/features/bookings/lib/handleSeats/reschedule/owner/combineTwoSeatedBookings.ts
  packages/features/bookings/lib/handleSeats/reschedule/owner/moveSeatedBookingToNewTimeSlot.ts
  packages/features/bookings/lib/handleSeats/types.d.ts
  packages/lib/defaultEvents.ts
  packages/lib/getPaymentAppData.ts
Labels: none

fix: Update pr.yml (#15611)
  .github/workflows/pr.yml
Labels: none

refactor useAddAppMutation 2
  apps/web/components/apps/AppPage.tsx
  apps/web/pages/api/integrations/[...args].ts
  apps/web/pages/apps/installation/[[...step]].tsx
  packages/app-store/_components/OmniInstallAppButton.tsx
  packages/app-store/_utils/useAddAppMutation.ts
  packages/app-store/around/api/_getAdd.ts
  packages/app-store/googlevideo/api/_getAdd.ts
  packages/app-store/huddle01video/api/add.ts
  packages/app-store/jitsivideo/api/add.ts
  packages/app-store/office365video/components/AccountDialog.tsx
  packages/app-store/ping/api/_getAdd.ts
  packages/app-store/riverside/api/_getAdd.ts
  packages/app-store/sylapsvideo/api/add.ts
  packages/app-store/tandemvideo/api/callback.ts
  packages/app-store/types.d.ts
  packages/app-store/webex/api/callback.ts
  packages/app-store/whereby/api/_getAdd.ts
  packages/embeds/embed-core/src/useCompatSearchParams.tsx
  packages/ui/components/apps/AppCard.tsx
Labels: none

Update getDefaultLocations.ts
  packages/lib/server/getDefaultLocations.ts
Labels: none

Make maxLength more configurable per field type
  apps/web/playwright/test-min-max-characters.e2e.ts
  packages/features/bookings/lib/constants.ts
  packages/features/bookings/lib/getBookingResponsesSchema.ts
  packages/features/form-builder/FormBuilder.tsx
  packages/features/form-builder/fieldTypes.ts
  packages/features/form-builder/schema.ts
Labels: none

Reduce maxLength to 1000
  packages/features/form-builder/fieldTypes.ts
Labels: none

fix: type error
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/createBooking.ts
  packages/features/bookings/lib/handleNewBooking/ensureAvailableUsers.ts
  packages/features/bookings/lib/handleNewBooking/getBookingData.ts
  packages/features/bookings/lib/handleNewBooking/getOriginalRescheduledBooking.ts
  packages/features/bookings/lib/handleNewBooking/loadUsers.ts
  packages/features/bookings/lib/handleNewBooking/types.ts
Labels: none

fix: type err
  packages/features/bookings/lib/handleNewBooking/handleAppsStatus.ts
  packages/features/bookings/lib/handleSeats/create/createNewSeat.ts
  packages/features/bookings/lib/handleSeats/lib/lastAttendeeDeleteBooking.ts
  packages/features/bookings/lib/handleSeats/reschedule/owner/moveSeatedBookingToNewTimeSlot.ts
  packages/features/bookings/lib/handleSeats/types.d.ts
  packages/features/instant-meeting/handleInstantMeeting.ts
Labels: none

.github/labeler.yml:

"❗️ migrations":
- changed-files:
  - any-glob-to-any-file:
    - packages/prisma/migrations/**/migration.sql

"❗️ .env changes":
- changed-files:
  - any-glob-to-any-file:
    - .env.example
    - .env.appStore.example
