Repository calcom/cal.com, pull requests merged in 2021-09, with the labels that each got.

#545 use `JSX.IntrinsicElements` for pass-through props
  components/ui/Button.tsx
Labels: ♻️ autoupdate

#552 allows builds to complete even if the project has lint errors
  next.config.js
Labels: ♻️ autoupdate

#553 add `yarn dx` for easier local development
  .env.example
  README.md
  docker-compose.yml
  package.json
  scripts/seed.ts
  yarn.lock
Labels: ♻️ autoupdate

#551 add `inferSSRProps` utility
  lib/types/inferSSRProps.ts
  pages/[user]/[type].tsx
  pages/event-types/[type].tsx
Labels: ♻️ autoupdate

#556 mv `/getting_started` to `/getting-started`
  pages/event-types/index.tsx
  pages/getting-started.tsx
Labels: ♻️ autoupdate

#557 mv `ONBOARDING_INTRODUCED_AT` to new file
  lib/getting-started.tsx
  pages/event-types/index.tsx
  pages/getting-started.tsx
Labels: ♻️ autoupdate

#534 add cypress e2e testing
  .eslintrc.json
  .github/workflows/build.yml
  .github/workflows/e2e.yml
  .gitignore
  cypress.json
  cypress/fixtures/example.json
  cypress/integration/load.test.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package.json
  yarn.lock
Labels: ♻️ autoupdate

#554 improve typings on "getting started"
  pages/getting-started.tsx
Labels: ♻️ autoupdate, 👀 ready for review

#562 fix: `<Button/>` proper types of `StartIcon` / `EndIcon`
  components/ui/Button.tsx
Labels: ♻️ autoupdate, 👀 ready for review

#566 inverted logic on `ONBOARDING_INTRODUCED_AT`
  pages/event-types/index.tsx
Labels: ♻️ autoupdate, 👀 ready for review

#563 use `getSession()` from `@lib/auth` everywhere
  pages/api/availability/eventtype.ts
  pages/api/availability/week.ts
  pages/api/book/confirm.ts
  pages/api/integrations/caldav/add.ts
  pages/api/integrations/zoomvideo/callback.ts
  pages/api/schedule/index.ts
  pages/api/teams.ts
  pages/api/teams/[team]/index.ts
  pages/api/teams/[team]/invite.ts
  pages/api/teams/[team]/membership.ts
  pages/api/user/[id].ts
  pages/api/user/membership.ts
  pages/api/user/profile.ts
  pages/auth/forgot-password/index.tsx
  pages/auth/login.tsx
  pages/availability/index.tsx
  pages/availability/troubleshoot.tsx
  pages/bookings/index.tsx
  pages/event-types/[type].tsx
  pages/event-types/index.tsx
  pages/integrations/[integration].tsx
  pages/integrations/index.tsx
  pages/settings/billing.tsx
  pages/settings/embed.tsx
  pages/settings/password.tsx
  pages/settings/profile.tsx
  pages/settings/teams.tsx
Labels: ♻️ autoupdate, 👀 ready for review

#549 add free plan
  .github/workflows/e2e.yml
  components/ui/Alert.tsx
  components/ui/Button.tsx
  components/ui/alerts/Error.tsx
  cypress.json
  cypress/integration/booking-pages.spec.ts
  cypress/integration/event-types.spec.ts
  cypress/integration/smoke-test.spec.ts
  cypress/support/commands.js
  cypress/support/commands.ts
  cypress/support/index.js
  cypress/support/index.ts
  cypress/tsconfig.json
  lib/asStringOrNull.tsx
  lib/hooks/useToggleQuery.tsx
  lib/prisma.ts
  lib/types/inferSSRProps.ts
  package.json
  pages/[user].tsx
  pages/[user]/[type].tsx
  pages/event-types/[type].tsx
  pages/event-types/index.tsx
  pages/sandbox/Alert.tsx
  prisma/migrations/20210902112455_event_type_unique_user_id_slug/migration.sql
  prisma/migrations/20210902121313_user_plan/migration.sql
  prisma/migrations/20210902125945_user_username_unique/migration.sql
  prisma/schema.prisma
  scripts/seed.ts
  yarn.lock
Labels: ♻️ autoupdate

#593 update kodiak to approve dependabot automatically
  .kodiak.toml
Labels: ♻️ autoupdate

#592 CAL-310 Timezone difference causing availability day shift Bug fix
  lib/slots.ts
Labels: 🐞bug

#591 tweak `inferSSRProps` to not need `as const`
  pages/[user]/[type].tsx
  pages/event-types/[type].tsx
  pages/getting-started.tsx
  pages/reschedule/[uid].tsx
Labels: ♻️ autoupdate, 👀 ready for review

#604 added 404 for event types
  pages/404.tsx
Labels: 👀 ready for review

#623 integrate apple icalendar
  lib/calendarClient.ts
  lib/integrations.ts
  lib/integrations/Apple/AppleCalendarAdapter.ts
  lib/integrations/Apple/components/AddAppleIntegration.tsx
  pages/api/integrations/apple/add.ts
  pages/integrations/index.tsx
  public/integrations/apple-calendar.svg
Labels: 👀 ready for review

#609 copy of #561 ensure callbackUrl exists when submitting login form
  pages/auth/login.tsx
Labels: 👀 ready for review

#629 move calendso branding into pro
  components/Modal.tsx
  components/ui/Badge.tsx
  lib/isBrandingHidden.tsx
  package.json
  pages/[user]/[type].tsx
  pages/settings/profile.tsx
  pages/success.tsx
  yarn.lock
Labels: ♻️ autoupdate, 👀 ready for review

#682 fixed booking buttons on mobile
  pages/bookings/index.tsx
Labels: ✨enhancement

#647 suggestion: `max-params` `3`
  .eslintrc.json
Labels: 📄 planned

#705 Run jest tests as part of ci
  .github/workflows/build.yml
  package.json
  test/lib/slots.test.ts
Labels: ♻️ autoupdate

#707 chore: change calendso strings to cal.com
  LICENSE
  README.md
  docker-compose.yml
  ee/LICENSE
  lib/emails/EventAttendeeMail.ts
  lib/emails/EventOrganizerMail.ts
  lib/emails/EventOrganizerRescheduledMail.ts
  lib/emails/EventRejectionMail.ts
  lib/emails/invitation.ts
  lib/emails/sendMail.ts
  lib/forgot-password/messaging/forgot-password.ts
  pages/api/auth/[...nextauth].tsx
  pages/auth/login.tsx
  pages/auth/signup.tsx
  pages/event-types/index.tsx
  pages/getting-started.tsx
  pages/integrations/index.tsx
  pages/settings/embed.tsx
  pages/settings/profile.tsx
  pages/success.tsx
  public/site.webmanifest
Labels: 👀 ready for review

#708 new EmptyScreen component, using it in /bookings
  components/EmptyScreen.tsx
  components/ui/Button.tsx
  lib/emails/EventAttendeeMail.ts
  lib/emails/EventOrganizerMail.ts
  lib/emails/EventRejectionMail.ts
  lib/types/SVGComponent.ts
  pages/auth/signup.tsx
  pages/bookings/index.tsx
  pages/event-types/index.tsx
  pages/success.tsx
Labels: ✨enhancement

#713 [CAL-463] Validates required checkboxes
  components/booking/pages/BookingPage.tsx
Labels: 🐞bug, ♻️ autoupdate, 👀 ready for review

#716 Fix/duplicate events on onboarding
  lib/queries/event-types/get-event-types.ts
  package.json
  pages/api/event-type/index.ts
  pages/api/user/[id].ts
  pages/getting-started.tsx
  yarn.lock
Labels: ♻️ autoupdate, 🧪 testing needed

#722 made it easier to see if there are more times available to scroll
  components/booking/AvailableTimes.tsx
Labels: ♻️ autoupdate

#717 Adds Stripe integration
  .env.example
  calendso.yaml
  components/Shell.tsx
  components/booking/Slots.tsx
  components/booking/pages/AvailabilityPage.tsx
  components/booking/pages/BookingPage.tsx
  components/eventtype/EventTypeDescription.tsx
  ee/README.md
  ee/components/stripe/Payment.tsx
  ee/components/stripe/PaymentPage.tsx
  ee/lib/stripe/client.ts
  ee/lib/stripe/server.ts
  ee/pages/api/integrations/stripepayment/add.ts
  ee/pages/api/integrations/stripepayment/callback.ts
  ee/pages/api/integrations/stripepayment/webhook.ts
  ee/pages/payment/[uid].tsx
  lib/calendarClient.ts
  lib/core/browser/useDarkMode.tsx
  lib/emails/EventOrganizerRefundFailedMail.ts
  lib/emails/EventPaymentMail.ts
  lib/hooks/useSlots.ts
  lib/integrations.ts
  lib/integrations/getIntegrations.ts
  lib/mutations/bookings/create-booking.ts
  lib/types/booking.ts
  lib/videoClient.ts
  next.config.js
  package.json
  pages/[user].tsx
  pages/[user]/[type].tsx
  pages/[user]/book.tsx
  pages/api/availability/[user].ts
  pages/api/availability/eventtype.ts
  pages/api/book/confirm.ts
  pages/api/book/event.ts
  pages/api/cancel.ts
  pages/api/integrations/stripepayment/add.ts
  pages/api/integrations/stripepayment/callback.ts
  pages/api/integrations/stripepayment/webhook.ts
  pages/availability/troubleshoot.tsx
  pages/event-types/[type].tsx
  pages/event-types/index.tsx
  pages/integrations/index.tsx
  pages/payment/[uid].tsx
  pages/team/[slug]/book.tsx
  prisma/migrations/20210813142905_event_payment/migration.sql
  prisma/migrations/20210918152354_user_id_slug_fix/migration.sql
  prisma/schema.prisma
  public/integrations/stripe.svg
  styles/globals.css
  tsconfig.json
  yarn.lock
Labels: ✨enhancement, 📄 planned, ♻️ autoupdate, 👀 ready for review, 💼 enterprise edition

#709 added Cal Sans
  components/Dialog.tsx
  components/ImageUploader.tsx
  components/booking/pages/AvailabilityPage.tsx
  components/booking/pages/BookingPage.tsx
  components/security/ChangePasswordSection.tsx
  components/security/TwoFactorAuthSection.tsx
  components/security/TwoFactorModalHeader.tsx
  components/team/EditTeam.tsx
  pages/404.tsx
  pages/[user].tsx
  pages/auth/forgot-password/[id].tsx
  pages/auth/forgot-password/index.tsx
  pages/auth/login.tsx
  pages/auth/signup.tsx
  pages/cancel/[uid].tsx
  pages/integrations/index.tsx
  pages/settings/embed.tsx
  pages/settings/teams.tsx
  pages/team/[slug].tsx
  public/cal.ttf
  styles/globals.css
  tailwind.config.js
Labels: ✨enhancement

#728 fixes: All booked display error, closes #726
  components/booking/AvailableTimes.tsx
Labels: 🐞bug

#715 Bugfix/include zoom location
  lib/CalEventParser.ts
  lib/calendarClient.ts
  lib/emails/EventMail.ts
  lib/events/EventManager.ts
  lib/videoClient.ts
  package.json
  prisma/migrations/20210913211650_add_meeting_info/migration.sql
  prisma/schema.prisma
  yarn.lock
Labels: ♻️ autoupdate, 🧪 testing needed

#712 Setup i18n and locale detection
  .babelrc
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  calendso.yaml
  lib/CalEventParser.ts
  lib/calendarClient.ts
  lib/core/i18n/i18n.utils.ts
  lib/hooks/useLocale.ts
  next-i18next.config.js
  next.config.js
  package.json
  pages/[user]/[type].tsx
  pages/[user]/book.tsx
  pages/_app.tsx
  pages/api/user/profile.ts
  pages/event-types/[type].tsx
  pages/event-types/index.tsx
  pages/index.tsx
  pages/settings/profile.tsx
  prisma/migrations/20210919174415_add_user_locale/migration.sql
  prisma/schema.prisma
  public/robots.txt
  public/static/locales/en/common.json
  public/static/locales/ro/common.json
  tsconfig.json
  yarn.lock
Labels: 🧪 testing needed, ❗️ changes requested

#748 fix CI e2e tests
  .github/workflows/e2e.yml
Labels: ♻️ autoupdate

#749 Fixes user event availability page
  components/booking/DatePicker.tsx
  components/booking/pages/AvailabilityPage.tsx
  components/ui/form/MinutesField.tsx
  lib/hooks/useSlots.ts
  pages/[user]/[type].tsx
  pages/event-types/[type].tsx
Labels: 🐞bug, ♻️ autoupdate, 👀 ready for review

#755 More availability fixes
  components/booking/AvailableTimes.tsx
  lib/hooks/useSlots.ts
  pages/api/availability/[user].ts
Labels: 🐞bug, ♻️ autoupdate, 👀 ready for review

#764 fixed event-type buttons on mobile
  components/Modal.tsx
  components/Shell.tsx
  components/dialog/ConfirmationDialogContent.tsx
  components/eventtype/EventTypeDescription.tsx
  components/ui/Text/Headline/Headline.tsx
  pages/event-types/index.tsx
  pages/integrations/index.tsx
Labels: ✨enhancement

#766 ui bug: alert looking funky
  components/ui/Alert.tsx
  lib/core/browser/browser.utils.ts
  lib/core/browser/useDarkMode.tsx
  pages/event-types/index.tsx
Labels: ♻️ autoupdate

#768 remove `npm-run-all`
  package.json
  yarn.lock
Labels: ♻️ autoupdate

#762 CAL-469 Adds intercom dynamically
  .env.example
  components/Shell.tsx
  ee/lib/intercom/HelpMenuItem.tsx
  ee/lib/intercom/HelpMenuItemDynamic.tsx
  ee/lib/intercom/provider.tsx
  ee/lib/intercom/providerDynamic.tsx
  lib/app-providers.tsx
  package.json
  pages/event-types/index.tsx
  yarn.lock
Labels: ♻️ autoupdate, 👀 ready for review

#783 `yarn lint --fix` take 100
  pages/event-types/[type].tsx
Labels: ♻️ autoupdate

#782 auto-approve peer & bailey
  .kodiak.toml
Labels: ♻️ autoupdate

#777 Fixes eventype form
  lib/asStringOrNull.tsx
  lib/mutations/event-types/update-event-type.ts
  lib/types/event-type.ts
  pages/api/availability/eventtype.ts
  pages/event-types/[type].tsx
  pages/getting-started.tsx
Labels: 🐞bug, ♻️ autoupdate, 👀 ready for review

#614 add tRPC
  components/Shell.tsx
  components/ui/Avatar.tsx
  cypress/integration/cancel.spec.ts
  lib/app-providers.tsx
  lib/trpc.ts
  package.json
  pages/_app.tsx
  pages/api/trpc/[trpc].ts
  pages/auth/login.tsx
  pages/availability/index.tsx
  pages/bookings/index.tsx
  server/createContext.ts
  server/createRouter.ts
  server/routers/_app.ts
  server/routers/viewer.tsx
  server/ssg.ts
  tsconfig.json
  yarn.lock
Labels: 📄 planned, ♻️ autoupdate, 👀 ready for review

#615 statically render profile pages
  .github/workflows/build.yml
  .github/workflows/e2e.yml
  lib/hooks/useTheme.tsx
  lib/trpc.ts
  pages/[user].tsx
  server/routers/_app.ts
  server/routers/booking.tsx
Labels: ♻️ autoupdate, 👀 ready for review

#797 added relative position to placeholder parent
  components/booking/pages/BookingPage.tsx
Labels: 👀 ready for review

#772 switching to stripes customer portal
  ee/pages/api/integrations/stripepayment/portal.ts
  pages/api/integrations/stripepayment/portal.ts
  pages/settings/billing.tsx
Labels: ♻️ autoupdate, 🧪 testing needed, 👀 ready for review

#804 confirming event gives no visual feedback
  pages/bookings/index.tsx
Labels: ♻️ autoupdate

#802 Fixes customer portal return url
  ee/pages/api/integrations/stripepayment/portal.ts
  environment.d.ts
  next.config.js
  pages/settings/billing.tsx
Labels: 🐞bug, ♻️ autoupdate

#767 downgrade users when trial ends
  .vscode/extensions.json
  ee/pages/api/integrations/stripepayment/webhook.ts
  package.json
  pages/_error.tsx
  pages/api/cron/downgradeUsers.ts
  yarn.lock
Labels: ♻️ autoupdate, 🧪 testing needed

#812 `yarn lint --fix`
  pages/api/cancel.ts
  pages/cancel/[uid].tsx
Labels: ♻️ autoupdate

#811 fix stripe `customer.subscription.deleted`-webhook
  ee/pages/api/integrations/stripepayment/webhook.ts
Labels: ♻️ autoupdate

#813 Fixes error when user cancels stripe integration
  ee/pages/api/integrations/stripepayment/callback.ts
Labels: 🐞bug, ♻️ autoupdate, 👀 ready for review

#677 Adds possibilty to analyze client and server bundle size
  next.config.js
  package.json
  yarn.lock
Labels: ✨enhancement, ♻️ autoupdate, 👀 ready for review

#822 move `withTRPC`-HOC to `_app.tsx`
  lib/app-providers.tsx
  pages/_app.tsx
Labels: ♻️ autoupdate

#831 resize image before storing
  package.json
  pages/api/user/profile.ts
  server/lib/resizeBase64Image.ts
  server/routers/viewer.tsx
  yarn.lock
Labels: ♻️ autoupdate

#824 refactor availability times form using react-hook-form
  package.json
  pages/availability/index.tsx
  yarn.lock
Labels: ♻️ autoupdate

#833 added license banner
  .env.example
  components/DonateBanner.tsx
  components/Shell.tsx
  components/dialog/ConfirmationDialogContent.tsx
  ee/components/LicenseBanner.tsx
  tailwind.config.js
Labels: 💼 enterprise edition
