Repository calcom/cal.com, pull requests merged in 2021-12, with the labels that each got.

#1249 Feature/field prefills
  components/booking/pages/BookingPage.tsx
  lib/types/booking.ts
  lib/webhooks/sendPayload.tsx
  pages/[user].tsx
  pages/api/book/event.ts
Labels: ✨enhancement, 🧪 testing needed, 👀 ready for review

#1216 Zomars/refactor emails followup
  .env.example
  @types/ical.d.ts
  lib/calendarClient.ts
  lib/integrations/Apple/AppleCalendarAdapter.ts
  lib/integrations/CalDav/CalDavCalendarAdapter.ts
  lib/integrations/GoogleCalendar/GoogleCalendarApiAdapter.ts
  package.json
  playwright/integrations.test.ts
  tsconfig.json
  yarn.lock
Labels: ♻️ autoupdate, 👀 ready for review, :x: merge conflicts

#1179 Migrate availability schedule for everyone
  .github/workflows/build.yml
  .github/workflows/e2e.yml
  package.json
  prisma/migrations/20211115182559_availability_issue/migration.sql
  prisma/schema.prisma
  test/tmpMigration.test.ts
  yarn.lock
Labels: ♻️ autoupdate, 👀 ready for review, ❗️ migrations

#1133 add select primary calendar
  components/integrations/CalendarListContainer.tsx
  ee/lib/stripe/server.ts
  ee/pages/api/integrations/stripepayment/webhook.ts
  jest.playwright.config.js
  lib/BaseCalendarApiAdapter.ts
  lib/CalEventParser.ts
  lib/calendarClient.ts
  lib/events/EventManager.ts
  lib/integrations/Apple/AppleCalendarAdapter.ts
  lib/integrations/CalDav/CalDavCalendarAdapter.ts
  lib/integrations/GoogleCalendar/GoogleCalendarApiAdapter.ts
  lib/integrations/Office365Calendar/Office365CalendarApiAdapter.ts
  lib/notEmpty.ts
  lib/videoClient.ts
  pages/[user].tsx
  pages/api/availability/calendar.ts
  pages/api/book/confirm.ts
  pages/api/book/event.ts
  pages/team/[slug]/[type].tsx
  playwright/integrations.test.ts
  prisma/migrations/20211207010154_add_destination_calendar/migration.sql
  prisma/schema.prisma
  public/static/locales/en/common.json
  scripts/seed.ts
  server/createContext.ts
  server/routers/viewer.tsx
Labels: ✨enhancement, ♻️ autoupdate, 🧪 testing needed, 👀 ready for review, ❗️ migrations

#1285 Improvement/teams
  .vscode/settings.json
  components/ImageUploader.tsx
  components/Shell.tsx
  components/form/fields.tsx
  components/team/EditTeam.tsx
  components/team/MemberChangeRoleModal.tsx
  components/team/MemberInvitationModal.tsx
  components/team/MemberList.tsx
  components/team/MemberListItem.tsx
  components/team/TeamCreateModal.tsx
  components/team/TeamList.tsx
  components/team/TeamListItem.tsx
  components/team/TeamRole.tsx
  components/team/TeamSettings.tsx
  components/team/TeamSettingsRightSidebar.tsx
  components/team/screens/Team.tsx
  components/ui/Button.tsx
  components/ui/LinkIconButton.tsx
  components/ui/ModalContainer.tsx
  components/ui/SettingInputContainer.tsx
  components/ui/UsernameInput.tsx
  components/ui/form/DatePicker.tsx
  components/ui/form/MinutesField.tsx
  ee/components/team/availability/TeamAvailabilityModal.tsx
  ee/components/team/availability/TeamAvailabilityScreen.tsx
  ee/components/team/availability/TeamAvailabilityTimes.tsx
  ee/pages/settings/teams/[id]/availability.tsx
  lib/getPlaceholderAvatar.tsx
  lib/queries/availability/index.ts
  lib/queries/teams/index.ts
  lib/team.ts
  package.json
  pages/api/teams.ts
  pages/api/teams/[team]/index.ts
  pages/api/teams/[team]/membership.ts
  pages/api/teams/[team]/profile.ts
  pages/api/user/membership.ts
  pages/settings/profile.tsx
  pages/settings/teams.tsx
  pages/settings/teams/[id].tsx
  pages/settings/teams/[id]/availability.tsx
  pages/team/[slug].tsx
  prisma/migrations/20211209201138_membership_admin_role/migration.sql
  prisma/schema.prisma
  public/static/locales/en/common.json
  server/routers/viewer.tsx
  server/routers/viewer/teams.tsx
  styles/globals.css
  yarn.lock
Labels: ♻️ autoupdate, 👀 ready for review, ❗️ migrations

#1269 Fix timezones being returned from office 365
  lib/integrations/Office365Calendar/Office365CalendarApiAdapter.ts
Labels: ♻️ autoupdate, 🧪 testing needed

#1293 Uses vercel url on integration endpoints for staging
  pages/api/integrations/apple/add.ts
  pages/api/integrations/caldav/add.ts
  pages/api/integrations/googlecalendar/add.ts
  pages/api/integrations/googlecalendar/callback.ts
  pages/api/integrations/office365calendar/add.ts
  pages/api/integrations/office365calendar/callback.ts
  pages/api/integrations/zoomvideo/add.ts
  pages/api/integrations/zoomvideo/callback.ts
Labels: ♻️ autoupdate, 👀 ready for review

#1294 Upgrades to tailwindcss v3
  components/eventtype/EventTypeDescription.tsx
  package.json
  tailwind.config.js
  yarn.lock
Labels: ♻️ autoupdate, 👀 ready for review

#1301 Fixes cancel booking page
  pages/cancel/[uid].tsx
  playwright/booking-pages.test.ts
Labels: ♻️ autoupdate

#1289 Adds complementing text color for various brand colors that the user might choose
  components/AddToHomescreen.tsx
  components/CustomBranding.tsx
  components/Tooltip.tsx
  components/booking/AvailableTimes.tsx
  components/booking/DatePicker.tsx
  components/booking/TimeOptions.tsx
  components/security/TwoFactorModalHeader.tsx
  components/team/MemberInvitationModal.tsx
  components/ui/Avatar.tsx
  components/ui/Button.tsx
  components/ui/WeekdaySelect.tsx
  components/ui/form/PhoneInput.tsx
  ee/components/stripe/Payment.tsx
  ee/components/team/availability/TeamAvailabilityTimes.tsx
  pages/auth/forgot-password/index.tsx
  pages/auth/logout.tsx
  pages/availability/troubleshoot.tsx
  pages/getting-started.tsx
  pages/success.tsx
  pages/team/[slug].tsx
  styles/globals.css
  tailwind.config.js
Labels: ♻️ autoupdate

#1316 Fixes Location options are repeatedly added to Location Dropdown
  pages/event-types/[type].tsx
Labels: ♻️ autoupdate

#1318 E2E tests refactoring
  .github/workflows/build.yml
  .github/workflows/e2e.yml
  .gitignore
  components/Shell.tsx
  jest.playwright.config.js
  package.json
  pages/event-types/[type].tsx
  pages/getting-started.tsx
  playwright.config.ts
  playwright/booking-pages.test.ts
  playwright/event-types.test.ts
  playwright/integrations.test.ts
  playwright/integrations.test.ts-snapshots/webhookResponse-chromium.txt
  playwright/lib/globalSetup.ts
  playwright/lib/loginProvider.ts
  playwright/lib/pageProvider.ts
  playwright/lib/testUtils.ts
  playwright/login.test.ts
  playwright/onboarding.test.ts
  tsconfig.json
  yarn.lock
Labels: ♻️ autoupdate, 👀 ready for review

#1323 Bugfix/year change
  components/booking/DatePicker.tsx
  lib/availability.ts
  lib/hooks/useSlots.ts
  lib/slots.ts
  pages/api/availability/eventtype.ts
  test/lib/slots.test.ts
Labels: ♻️ autoupdate

#1304 Even Better Teams
  components/Shell.tsx
  components/team/MemberListItem.tsx
  components/team/TeamListItem.tsx
  components/team/TeamSettings.tsx
  components/team/TeamSettingsRightSidebar.tsx
  components/ui/Alert.tsx
  ee/components/team/availability/TeamAvailabilityModal.tsx
  ee/components/team/availability/TeamAvailabilityScreen.tsx
  ee/components/team/availability/TeamAvailabilityTimes.tsx
  ee/pages/settings/teams/[id]/availability.tsx
  pages/api/availability/eventtype.ts
  pages/settings/teams.tsx
  public/static/locales/en/common.json
  server/createContext.ts
  server/routers/viewer.tsx
  server/routers/viewer/teams.tsx
Labels: ♻️ autoupdate, 🧪 testing needed, 👀 ready for review

#1342 Removes brand color from stripe card
  ee/components/stripe/Payment.tsx
Labels: 🐞bug, 🧪 testing needed

#1335 Zomars/cal 748 paid bookings are failing
  .github/workflows/e2e.yml
  .gitignore
  components/booking/BookingListItem.tsx
  components/integrations/CalendarListContainer.tsx
  ee/components/stripe/Payment.tsx
  ee/lib/stripe/server.ts
  ee/pages/api/integrations/stripepayment/webhook.ts
  lib/integrations/getIntegrations.ts
  pages/api/availability/eventtype.ts
  pages/api/book/event.ts
  pages/bookings/index.tsx
  pages/integrations/index.tsx
  playwright.config.ts
  playwright/booking-pages.test.ts
  playwright/integrations-stripe.test.ts
  playwright/integrations.test.ts
  playwright/lib/globalSetup.ts
  scripts/seed.ts
  server/routers/viewer.tsx
Labels: ♻️ autoupdate, 👀 ready for review

#1349 Allows setting the event frequency to other than event length
  components/booking/AvailableTimes.tsx
  components/booking/pages/AvailabilityPage.tsx
  lib/hooks/useSlots.ts
  lib/types/event-type.ts
  pages/[user]/[type].tsx
  pages/api/availability/eventtype.ts
  pages/event-types/[type].tsx
  pages/team/[slug]/[type].tsx
  prisma/migrations/20211217215952_added_slot_interval_to_event_type/migration.sql
  prisma/schema.prisma
  public/static/locales/en/common.json
  public/static/locales/nl/common.json
Labels: ✨enhancement, ♻️ autoupdate, ❗️ migrations, i18n

#1354 Uses Intl to translate weekdays and time related booking i18n
  components/booking/AvailableTimes.tsx
  components/booking/DatePicker.tsx
  components/booking/pages/BookingPage.tsx
Labels: ♻️ autoupdate

#1353 fix: apostrophe in delete event type text
  public/static/locales/en/common.json
Labels: ♻️ autoupdate

#1361 Zomars/cal 794 normalize emails in db
  components/booking/pages/BookingPage.tsx
  components/form/fields.tsx
  components/team/MemberInvitationModal.tsx
  components/team/MemberListItem.tsx
  pages/api/auth/[...nextauth].tsx
  pages/api/cron/downgradeUsers.ts
  pages/api/teams/[team]/invite.ts
  pages/auth/forgot-password/index.tsx
  pages/auth/login.tsx
  pages/success.tsx
  pages/team/[slug]/book.tsx
  playwright/integrations.test.ts
  playwright/integrations.test.ts-snapshots/webhookResponse-chromium.txt
  prisma/migrations/20211220192703_email_to_lowercase/migration.sql
  public/static/locales/en/common.json
Labels: 🐞bug, ♻️ autoupdate, ❗️ migrations

#1284 upgraded prisma to v3.0.2
  package.json
  prisma/migrations/20211217201940_upgrade_to_v3/migration.sql
  prisma/schema.prisma
  test/tmpMigration.test.ts
  yarn.lock
Labels: ♻️ autoupdate, ❗️ migrations

#1329 fixed zoom video not creating when credentials are not valid
  lib/integrations/Zoom/ZoomVideoApiAdapter.ts
  lib/videoClient.ts
Labels: ♻️ autoupdate, 🧪 testing needed, 👀 ready for review

#1387 Adds users metadata column
  prisma/migrations/20211228004752_adds_user_metadata/migration.sql
  prisma/schema.prisma
Labels: ♻️ autoupdate, 👀 ready for review, ❗️ migrations

#1392 Zomars/cal 798 issue with billing portal
  ee/pages/api/integrations/stripepayment/portal.ts
Labels: 🐞bug, ♻️ autoupdate, 👀 ready for review
