Repository calcom/cal.com, pull requests merged in 2021-11, with the labels that each got.

#1108 ignore `.js` files in type checker
  scripts/ts-check-changed-files.ts
Labels: ♻️ autoupdate

#1109 upgrade to Next.js 12
  .github/workflows/e2e.yml
  babel.config.js
  jest.playwright.config.js
  next.config.js
  package.json
  playwright/integrations.test.ts
  playwright/login.test.ts
  yarn.lock
Labels: ♻️ autoupdate

#1113 temporarily rollback to next.js 11
  next.config.js
  package.json
  yarn.lock
Labels: ♻️ autoupdate

#1112 fix locale being empty string
  server/createContext.ts
Labels: ♻️ autoupdate

#1079 Onboarding OAuth callback glitch
  components/integrations/ConnectIntegrations.tsx
  pages/api/integrations/googlecalendar/add.ts
  pages/api/integrations/googlecalendar/callback.ts
  pages/api/integrations/office365calendar/add.ts
  pages/api/integrations/office365calendar/callback.ts
  pages/api/integrations/types.d.ts
  pages/api/integrations/utils.ts
Labels: ♻️ autoupdate, 🧪 testing needed

#1118 onboarding login glitch fix
  .github/workflows/e2e.yml
  components/Shell.tsx
  playwright/lib/loginProvider.ts
  playwright/onboarding.test.ts
Labels: ♻️ autoupdate

#1032 Feature/availability page revamp
  components/form/fields.tsx
  components/ui/Schedule/Schedule.tsx
  components/ui/Scheduler.tsx
  components/ui/form/Schedule.tsx
  components/ui/form/Select.tsx
  lib/integrations/getIntegrations.ts
  lib/types/event-type.ts
  lib/types/schedule.ts
  package.json
  pages/[user]/[type].tsx
  pages/api/availability/[user].ts
  pages/api/availability/eventtype.ts
  pages/api/schedule/index.ts
  pages/availability/index.tsx
  pages/event-types/[type].tsx
  pages/getting-started.tsx
  pages/team/[slug]/[type].tsx
  prisma/migrations/20211105200545_availability_start_and_end_time_as_time/migration.sql
  prisma/schema.prisma
  public/static/locales/en/common.json
  public/static/locales/nl/common.json
  server/routers/viewer.tsx
  yarn.lock
Labels: ♻️ autoupdate

#1090 Fixed #1015 - Teams user registration is broken
  components/form/fields.tsx
  components/ui/UsernameInput.tsx
  components/ui/form/Schedule.tsx
  lib/availability.ts
  pages/api/auth/signup.ts
  pages/api/schedule/index.ts
  pages/auth/signup.tsx
  pages/availability/index.tsx
  pages/getting-started.tsx
  public/static/locales/en/common.json
  scripts/seed.ts
Labels: ♻️ autoupdate, 👀 ready for review

#1155 only create event on first calendar integration
  lib/events/EventManager.ts
Labels: ♻️ autoupdate, 🧪 testing needed

#1167 automerge and approve crowdin
  .github/workflows/crowdin.yml
  .kodiak.toml
Labels: ♻️ autoupdate

#1142 Manually reorder event types
  pages/[user].tsx
  pages/event-types/index.tsx
  prisma/migrations/20211106121119_add_event_type_position/migration.sql
  prisma/schema.prisma
  public/static/locales/en/common.json
  server/routers/viewer.tsx
Labels: ✨enhancement, ❗️ migrations

#1177 add happy path testing for booking an event
  components/booking/DatePicker.tsx
  pages/[user].tsx
  playwright/booking-pages.test.ts
Labels: ♻️ autoupdate, 👀 ready for review

#1180 availability timezone fix
  pages/[user]/[type].tsx
Labels: ♻️ autoupdate

#1178 set `engines` version to `>=14`
  package.json
Labels: ♻️ autoupdate

#1181 Edge case: Username-less users
  components/Shell.tsx
  server/createContext.ts
Labels: ♻️ autoupdate, 👀 ready for review

#1158 Feature/cal 677 brand color in settingsprofile
  components/CustomBranding.tsx
  components/Shell.tsx
  components/booking/pages/AvailabilityPage.tsx
  components/booking/pages/BookingPage.tsx
  pages/[user]/[type].tsx
  pages/[user]/book.tsx
  pages/cancel/[uid].tsx
  pages/settings/profile.tsx
  pages/success.tsx
  prisma/migrations/20211110063531_add_custom_brand_color/migration.sql
  prisma/schema.prisma
  public/static/locales/en/common.json
  server/createContext.ts
  server/routers/viewer.tsx
  styles/globals.css
  tailwind.config.js
Labels: ♻️ autoupdate

#1141 Enable Recording in Daily Video Calls
  .env.example
  README.md
  lib/integrations/Daily/DailyVideoApiAdapter.ts
Labels: ♻️ autoupdate

#1183 fix i18n flicker on auth pages
  pages/auth/error.tsx
  pages/auth/login.tsx
  pages/auth/logout.tsx
  pages/auth/signup.tsx
Labels: ♻️ autoupdate, 🧪 testing needed

#1193 Webhook tweaks + Support added for "Custom payload templates" / x-www-form-urlencoded / json
  lib/webhooks/sendPayload.tsx
  lib/webhooks/subscriptions.tsx
  pages/api/book/event.ts
  pages/api/cancel.ts
  pages/integrations/index.tsx
  prisma/migrations/20211120211639_add_payload_template/migration.sql
  prisma/schema.prisma
  public/static/locales/en/common.json
  server/routers/viewer/webhook.tsx
Labels: ✨enhancement, ❗️ migrations

#1198 get rid of circular references in `viewer.eventTypes`
  pages/event-types/index.tsx
  server/routers/viewer.tsx
Labels: ♻️ autoupdate

#1199 re-enable batching
  pages/_app.tsx
Labels: ♻️ autoupdate

#1227 Removed unused webhook
  ee/pages/api/integrations/stripepayment/webhook.ts
Labels: ♻️ autoupdate
