Repository calcom/cal.com, pull requests merged in 2021-10, with the labels that each got.

#839 fix login sometimes having to login twice
  pages/auth/login.tsx
Labels: 🐞bug, ♻️ autoupdate, 👀 ready for review

#836 make cypress in CI more fail-safe
  cypress.json
Labels: ♻️ autoupdate

#842 CAL-538 Adds specific empty copy by booking status
  pages/bookings/[status].tsx
Labels: ♻️ autoupdate, 👀 ready for review

#845 simplify `/bookings/[status]` logic
  pages/bookings/[status].tsx
  server/routers/viewer.tsx
Labels: ♻️ autoupdate

#849 `<QueryCell />` type inference improvement
  lib/QueryCell.tsx
  pages/bookings/[status].tsx
Labels: ♻️ autoupdate, 👀 ready for review

#628 Feature/cal 274 add webhooks
  components/SettingsShell.tsx
  components/webhook/EditWebhook.tsx
  components/webhook/WebhookList.tsx
  components/webhook/WebhookListItem.tsx
  lib/integrations/Apple/AppleCalendarAdapter.ts
  lib/integrations/CalDav/CalDavCalendarAdapter.ts
  lib/webhook.ts
  lib/webhooks/sendPayload.tsx
  lib/webhooks/subscriberUrls.tsx
  pages/api/availability/eventtype.ts
  pages/api/book/event.ts
  pages/api/cancel.ts
  pages/api/eventType.ts
  pages/api/webhook.ts
  pages/api/webhooks/[hook]/index.ts
  pages/cancel/[uid].tsx
  pages/settings/embed.tsx
  prisma/migrations/20211004231654_add_webhook_model/migration.sql
  prisma/schema.prisma
Labels: ✨enhancement, ♻️ autoupdate, 👀 ready for review

#854 Revert "Feature/cal 274 add webhooks"
  components/SettingsShell.tsx
  components/webhook/EditWebhook.tsx
  components/webhook/WebhookList.tsx
  components/webhook/WebhookListItem.tsx
  lib/integrations/Apple/AppleCalendarAdapter.ts
  lib/integrations/CalDav/CalDavCalendarAdapter.ts
  lib/webhook.ts
  lib/webhooks/sendPayload.tsx
  lib/webhooks/subscriberUrls.tsx
  pages/api/availability/eventtype.ts
  pages/api/book/event.ts
  pages/api/cancel.ts
  pages/api/eventType.ts
  pages/api/webhook.ts
  pages/api/webhooks/[hook]/index.ts
  pages/cancel/[uid].tsx
  pages/settings/embed.tsx
  prisma/migrations/20211004231654_add_webhook_model/migration.sql
  prisma/schema.prisma
Labels: ♻️ autoupdate

#840 make `yarn dx` work on Windows
  package.json
  yarn.lock
Labels: ♻️ autoupdate, 🧪 testing needed, 👀 ready for review

#859 bump `@trpc/*`
  package.json
  yarn.lock
Labels: ♻️ autoupdate

#865 added add to home screen banner for login in screens on mobile
  components/AddToHomescreen.tsx
  pages/auth/login.tsx
Labels: ✨enhancement

#908 Refactors useLocale
  components/ActiveLink.tsx
  components/I18nLanguageHandler.tsx
  components/booking/AvailableTimes.tsx
  components/booking/BookingListItem.tsx
  components/booking/DatePicker.tsx
  components/booking/TimeOptions.tsx
  components/booking/pages/AvailabilityPage.tsx
  components/booking/pages/BookingPage.tsx
  components/dialog/ConfirmationDialogContent.tsx
  components/eventtype/EventTypeDescription.tsx
  components/eventtype/EventTypeList.tsx
  components/eventtype/EventTypeListHeading.tsx
  components/security/ChangePasswordSection.tsx
  components/security/DisableTwoFactorModal.tsx
  components/security/EnableTwoFactorModal.tsx
  components/security/TwoFactorAuthSection.tsx
  components/team/EditTeam.tsx
  components/team/MemberInvitationModal.tsx
  components/team/MemberList.tsx
  components/team/MemberListItem.tsx
  components/team/TeamList.tsx
  components/team/TeamListItem.tsx
  components/team/screens/Team.tsx
  components/ui/TableActions.tsx
  components/ui/form/PhoneInput.tsx
  lib/core/i18n/i18n.utils.ts
  lib/hooks/useLocale.ts
  pages/[user].tsx
  pages/_app.tsx
  pages/event-types/[type].tsx
  pages/event-types/index.tsx
  pages/settings/profile.tsx
  pages/settings/security.tsx
  pages/settings/teams.tsx
  pages/team/[slug].tsx
Labels: ♻️ autoupdate, 👀 ready for review

#912 integration page follow ups
  .env.example
  components/seo/head-seo.tsx
  environment.d.ts
  lib/events/EventManager.ts
  lib/integrations/Apple/components/AddAppleIntegration.tsx
  lib/integrations/getIntegrations.ts
  package.json
  pages/api/integrations/googlecalendar/add.ts
  pages/api/integrations/googlecalendar/callback.ts
  pages/auth/forgot-password/[id].tsx
  pages/auth/forgot-password/index.tsx
  pages/event-types/[type].tsx
  pages/getting-started.tsx
  pages/integrations/index.tsx
  public/integrations/daily.svg
  server/createContext.ts
  server/routers/viewer.tsx
  yarn.lock
Labels: ♻️ autoupdate, 🧪 testing needed

#932 Use toast instead of modal for info messages
  components/Modal.tsx
  components/security/ChangePasswordSection.tsx
  components/team/EditTeam.tsx
  pages/event-types/[type].tsx
Labels: ♻️ autoupdate

#955 I18n's the i18n language dropdown & weekday using Intl
  lib/core/i18n/i18n.utils.ts
  lib/core/i18n/weekday.ts
  pages/settings/profile.tsx
Labels: ♻️ autoupdate

#923 [CAL-493] Implements tRCP on event types
  components/eventtype/EventTypeList.tsx
  components/eventtype/EventTypeListHeading.tsx
  components/pages/eventtypes/CustomInputTypeForm.tsx
  lib/mutations/event-types/create-event-type.ts
  lib/types/event-type.ts
  package.json
  pages/event-types/[type].tsx
  pages/event-types/index.tsx
  server/routers/viewer.tsx
Labels: ♻️ autoupdate, 👀 ready for review

#967 if you touch it you fix it
  .github/workflows/build.yml
  package.json
  scripts/ts-check-changed-files.ts
Labels: ♻️ autoupdate

#976 speed up e2e tests by reusing cookies
  jest.playwright.config.js
  playwright/lib/loginProvider.ts
Labels: ♻️ autoupdate

#978 moved embed and webhooks from settings into /integrations
  components/SettingsShell.tsx
  components/webhook/WebhookListItem.tsx
  pages/integrations/embed.tsx
  pages/integrations/index.tsx
  pages/settings/embed.tsx
  public/integrations/webhooks.svg
Labels: ♻️ autoupdate, 🧪 testing needed

#982 refactor webhooks UI
  components/Dialog.tsx
  components/form/fields.tsx
  components/ui/Switch.tsx
  components/webhook/EditWebhook.tsx
  components/webhook/WebhookList.tsx
  components/webhook/WebhookListItem.tsx
  package.json
  pages/integrations/embed.tsx
  pages/integrations/index.tsx
  public/static/locales/en/common.json
  server/createContext.ts
  server/routers/viewer.tsx
  yarn.lock
Labels: ♻️ autoupdate, 🧪 testing needed

#1011 e2e test retries
  playwright/booking-pages.test.ts
  playwright/event-types.test.ts
Labels: ♻️ autoupdate

#1016 `await` on open change
  components/integrations/DisconnectIntegration.tsx
Labels: ♻️ autoupdate

#1078 refactor `/integrations` with `<Suspense />`
  .vscode/settings.json
  components/ClientSuspense.tsx
  components/integrations/CalendarListContainer.tsx
  components/integrations/CalendarSwitch.tsx
  components/integrations/CalendarsList.tsx
  components/integrations/ConnectIntegrations.tsx
  components/integrations/ConnectedCalendarsList.tsx
  components/integrations/DisconnectIntegration.tsx
  lib/QueryCell.tsx
  lib/webhooks/constants.ts
  package.json
  pages/getting-started.tsx
  pages/integrations/index.tsx
  server/routers/viewer.tsx
  tsconfig.json
  yarn.lock
Labels: ♻️ autoupdate
