Repository calcom/cal.com, pull requests merged in 2022-04, with the labels that each got.

#2339 Fixes 500 error on avatar endpoint when user doesn't exist
  apps/web/pages/api/user/avatar.ts
Labels: 👀 ready for review

#2369 #2325 Followup
  apps/web/components/apps/Slider.tsx
  apps/web/pages/api/app-store/[...static].ts
  apps/web/pages/apps/[slug].tsx
Labels: ♻️ autoupdate, automerge

#2355 Attempt to fix Stripe webhooks
  apps/web/ee/pages/api/integrations/stripepayment/webhook.ts
Labels: ♻️ autoupdate, automerge

#2361 respect the timezone from the ical event
  packages/lib/CalendarService.ts
Labels: ♻️ autoupdate, automerge

#2087 Feature: Support redirecting to an external URL on successful booking
  apps/web/components/UpgradeToProDialog.tsx
  apps/web/lib/isSuccessRedirectAvailable.tsx
  apps/web/pages/event-types/[type].tsx
  apps/web/pages/settings/profile.tsx
  apps/web/pages/success.tsx
  apps/web/playwright/booking-pages.test.ts
  apps/web/public/static/locales/en/common.json
  apps/web/server/routers/viewer.tsx
  apps/web/server/routers/viewer/eventTypes.tsx
  packages/prisma/migrations/20220404132522_redirect_url/migration.sql
  packages/prisma/schema.prisma
Labels: ✨ feature, 💼 enterprise edition, ❗️ migrations

#2385 Fix/post deploy migrations
  apps/web/pages/apps/[slug].tsx
  turbo.json
Labels: ♻️ autoupdate, automerge

#2383 Fixes/locations
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/lib/location.ts
  apps/web/pages/[user]/book.tsx
  apps/web/pages/team/[slug]/book.tsx
  packages/app-store/_example/index.ts
  packages/app-store/applecalendar/index.ts
  packages/app-store/caldavcalendar/index.ts
  packages/app-store/dailyvideo/index.ts
  packages/app-store/googlecalendar/index.ts
  packages/app-store/googlevideo/index.ts
  packages/app-store/huddle01video/index.ts
  packages/app-store/jitsivideo/index.ts
  packages/app-store/locations.ts
  packages/app-store/office365calendar/index.ts
  packages/app-store/office365video/index.ts
  packages/app-store/stripepayment/index.ts
  packages/app-store/tandemvideo/index.ts
  packages/app-store/utils.ts
  packages/app-store/zoomvideo/index.ts
  packages/core/EventManager.ts
  packages/core/location.ts
  packages/prisma/zod-utils.ts
  packages/types/App.d.ts
Labels: ♻️ autoupdate, automerge

#2377 Fix with ical convert to zone
  packages/lib/CalendarService.ts
Labels: ♻️ autoupdate, automerge

#2041 Slack App Integration
  .env.example
  README.md
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/components/ui/form/PhoneInput.tsx
  apps/web/pages/api/integrations/[...args].ts
  apps/web/public/apps/slack.svg
  packages/app-store/components.tsx
  packages/app-store/index.ts
  packages/app-store/slackmessaging/api/add.ts
  packages/app-store/slackmessaging/api/callback.ts
  packages/app-store/slackmessaging/api/commandHandler.ts
  packages/app-store/slackmessaging/api/index.ts
  packages/app-store/slackmessaging/api/interactiveHandler.ts
  packages/app-store/slackmessaging/components/InstallAppButton.tsx
  packages/app-store/slackmessaging/components/index.ts
  packages/app-store/slackmessaging/index.ts
  packages/app-store/slackmessaging/lib/WhereCredsEqualsID.ts
  packages/app-store/slackmessaging/lib/actions/createEvent.ts
  packages/app-store/slackmessaging/lib/index.ts
  packages/app-store/slackmessaging/lib/showCreateEventMessage.ts
  packages/app-store/slackmessaging/lib/showLinksMessage.ts
  packages/app-store/slackmessaging/lib/showTodayMessage.ts
  packages/app-store/slackmessaging/lib/utils.ts
  packages/app-store/slackmessaging/lib/views/BookingSuccess.ts
  packages/app-store/slackmessaging/lib/views/CreateEventModal.ts
  packages/app-store/slackmessaging/lib/views/NoUser.ts
  packages/app-store/slackmessaging/lib/views/ShowLinks.ts
  packages/app-store/slackmessaging/lib/views/TodayMessage.ts
  packages/app-store/slackmessaging/lib/views/index.ts
  packages/app-store/slackmessaging/package.json
  packages/app-store/slackmessaging/static/icon.svg
  packages/prisma/schema.prisma
  packages/types/App.d.ts
  yarn.lock
Labels: ♻️ autoupdate

#2239 dynamic group links
  apps/web/components/booking/AvailableTimes.tsx
  apps/web/components/booking/pages/AvailabilityPage.tsx
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/lib/types/booking.ts
  apps/web/pages/[user].tsx
  apps/web/pages/[user]/[type].tsx
  apps/web/pages/[user]/book.tsx
  apps/web/pages/api/book/event.ts
  apps/web/pages/reschedule/[uid].tsx
  apps/web/pages/settings/profile.tsx
  apps/web/pages/success.tsx
  apps/web/pages/team/[slug]/[type].tsx
  apps/web/pages/team/[slug]/book.tsx
  apps/web/playwright/booking-pages.test.ts
  apps/web/playwright/dynamic-booking-pages.test.ts
  apps/web/playwright/lib/testUtils.ts
  apps/web/public/static/locales/en/common.json
  apps/web/server/routers/viewer.tsx
  packages/lib/defaultEvents.ts
  packages/prisma/migrations/20220330071743_add_dynamic_group_booking/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/seed.ts
  yarn.lock
Labels: ♻️ autoupdate, 👀 ready for review, ❗️ migrations

#2405 Don't display uninstalled apps
  packages/app-store/_appRegistry.ts
Labels: ♻️ autoupdate, automerge

#2408 DB deploy fixes
  packages/prisma/package.json
  turbo.json
Labels: 🐛 bug, ♻️ autoupdate, 🚨 urgent, automerge

#2406 Adds missing huddle01 README.mdx and screenshots
  packages/app-store/huddle01video/README.mdx
  packages/app-store/huddle01video/static/1.png
  packages/app-store/huddle01video/static/2.png
  packages/app-store/huddle01video/static/3.png
  packages/app-store/huddle01video/static/4.png
  packages/app-store/huddle01video/static/5.png
  packages/app-store/huddle01video/static/6.png
Labels: ♻️ autoupdate, automerge

#2414 Dynamic group booking fix to accept "+" in URL and updated Head SEO for dynamic booking
  apps/web/pages/[user].tsx
  packages/lib/defaultEvents.ts
Labels: 🐛 bug, 👀 ready for review

#2416 Dynamic group link for more than 2 user fixed
  apps/web/pages/[user]/[type].tsx
  apps/web/pages/[user]/book.tsx
  packages/lib/defaultEvents.ts
Labels: 🐛 bug, 🚧 wip / in the making

#2419 Fixing api points not returning
  packages/app-store/slackmessaging/api/add.ts
  packages/app-store/slackmessaging/api/callback.ts
  packages/app-store/slackmessaging/api/commandHandler.ts
  packages/app-store/slackmessaging/api/interactiveHandler.ts
Labels: ♻️ autoupdate, automerge

#2409 [fr] Add missing French translations
  apps/web/public/static/locales/fr/common.json
Labels: ♻️ autoupdate, automerge

#2371 Show eventDescription on email
  apps/web/lib/emails/templates/attendee-awaiting-payment-email.ts
  apps/web/lib/emails/templates/attendee-cancelled-email.ts
  apps/web/lib/emails/templates/attendee-declined-email.ts
  apps/web/lib/emails/templates/attendee-request-email.ts
  apps/web/lib/emails/templates/attendee-rescheduled-email.ts
  apps/web/lib/emails/templates/attendee-scheduled-email.ts
  apps/web/lib/emails/templates/organizer-cancelled-email.ts
  apps/web/lib/emails/templates/organizer-payment-refund-failed-email.ts
  apps/web/lib/emails/templates/organizer-request-email.ts
  apps/web/lib/emails/templates/organizer-request-reminder-email.ts
  apps/web/lib/emails/templates/organizer-rescheduled-email.ts
  apps/web/lib/emails/templates/organizer-scheduled-email.ts
  apps/web/pages/api/book/event.ts
  apps/web/playwright/integrations.test.ts-snapshots/webhookResponse-chromium.txt
  packages/core/CalendarManager.ts
  packages/lib/CalEventParser.ts
  packages/types/Calendar.d.ts
Labels: ♻️ autoupdate, automerge

#2425 fix order of past bookings
  apps/web/server/routers/viewer.tsx
Labels: ♻️ autoupdate, 👀 ready for review

#2430 Dynamic group booking follow-up
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/pages/[user]/book.tsx
  apps/web/pages/api/cancel.ts
  apps/web/pages/success.tsx
  apps/web/pages/team/[slug]/book.tsx
  apps/web/public/static/locales/en/common.json
  packages/lib/defaultEvents.ts
Labels: 🐛 bug, ♻️ autoupdate

#2423 Allows E2E to run from forks
  .github/workflows/e2e.yml
Labels: ♻️ autoupdate, automerge

#2422 Fixes public apps page
  apps/web/components/Shell.tsx
Labels: ♻️ autoupdate, automerge

#2437 Introduce isPublic prop in Shell
  apps/web/components/Shell.tsx
  apps/web/pages/apps/categories/[category].tsx
  apps/web/pages/apps/categories/index.tsx
  apps/web/pages/apps/index.tsx
Labels: ♻️ autoupdate, automerge

#2465 Add app-store tests
  .github/workflows/e2e.yml
  apps/web/components/App.tsx
  apps/web/components/apps/AppCard.tsx
  apps/web/components/apps/Categories.tsx
  apps/web/playwright/app-store.test.ts
  packages/app-store/components.tsx
Labels: ♻️ autoupdate

#2490 Fixes auth E2E tests
  apps/web/components/team/MemberInvitationModal.tsx
Labels: 🐛 bug, ♻️ autoupdate, 🚨 urgent, automerge

#2436 Perf: Optimize event-types page
  apps/web/components/Shell.tsx
  apps/web/lib/QueryCell.tsx
  apps/web/pages/availability/index.tsx
  apps/web/pages/event-types/index.tsx
  apps/web/pages/settings/profile.tsx
  apps/web/playwright/auth/auth-index.test.ts
Labels: ♻️ autoupdate

#2492 Fixes postinstall scripts
  package.json
  turbo.json
Labels: ♻️ autoupdate, automerge

#2455 fix handling for recurring events
  packages/lib/CalendarService.ts
  packages/types/ical.d.ts
Labels: ♻️ autoupdate

#2375 feat: adds swagger-ui new app in monorepo
  apps/swagger/.gitignore
  apps/swagger/README.md
  apps/swagger/next-env.d.ts
  apps/swagger/package.json
  apps/swagger/pages/_app.tsx
  apps/swagger/pages/index.tsx
  apps/swagger/public/favicon.ico
  apps/swagger/public/vercel.svg
  apps/swagger/styles/globals.css
  apps/swagger/styles/swagger-cal.css
  apps/swagger/tsconfig.json
  apps/swagger/yarn.lock
Labels: ♻️ autoupdate

#2515 Adds env example and changes route
  apps/swagger/.env.example
Labels: ♻️ autoupdate

#2523 Fix: styling
  apps/swagger/styles/swagger-cal.css
Labels: ♻️ autoupdate

#2380 HubSpot App
  .env.example
  README.md
  apps/web/pages/api/integrations/[...args].ts
  apps/web/server/routers/viewer.tsx
  packages/app-store/_utils/getCalendar.ts
  packages/app-store/_utils/useAddAppMutation.ts
  packages/app-store/components.tsx
  packages/app-store/hubspotothercalendar/README.mdx
  packages/app-store/hubspotothercalendar/api/add.ts
  packages/app-store/hubspotothercalendar/api/callback.ts
  packages/app-store/hubspotothercalendar/api/index.ts
  packages/app-store/hubspotothercalendar/components/InstallAppButton.tsx
  packages/app-store/hubspotothercalendar/components/index.ts
  packages/app-store/hubspotothercalendar/index.ts
  packages/app-store/hubspotothercalendar/lib/CalendarService.ts
  packages/app-store/hubspotothercalendar/lib/index.ts
  packages/app-store/hubspotothercalendar/package.json
  packages/app-store/hubspotothercalendar/static/hubspot01.webp
  packages/app-store/hubspotothercalendar/static/icon.svg
  packages/app-store/index.ts
  packages/core/CalendarManager.ts
  packages/types/App.d.ts
  yarn.lock
Labels: ♻️ autoupdate

#2277 Feature: Adds api keys to cal.com webapp
  .env.example
  apps/web/components/security/ChangePasswordSection.tsx
  apps/web/components/security/TwoFactorAuthSection.tsx
  apps/web/components/ui/form/DatePicker.tsx
  apps/web/ee/components/apiKeys/ApiKeyDialogForm.tsx
  apps/web/ee/components/apiKeys/ApiKeyListContainer.tsx
  apps/web/ee/components/apiKeys/ApiKeyListItem.tsx
  apps/web/pages/settings/security.tsx
  apps/web/public/static/locales/en/common.json
  apps/web/server/routers/viewer.tsx
  apps/web/server/routers/viewer/apiKeys.tsx
  packages/ee/lib/api/apiKeys.ts
  packages/prisma/json-schema/json-schema.json
  packages/prisma/migrations/20220413002425_adds_api_keys/migration.sql
  packages/prisma/schema.prisma
Labels: ♻️ autoupdate, 👀 ready for review

#2524 adds authorize to swagger docs to pass apiKey
  apps/swagger/pages/index.tsx
Labels: ♻️ autoupdate

#2498 Avatargroup on mobile screens
  apps/web/pages/[user].tsx
  apps/web/pages/team/[slug].tsx
Labels: 🐛 bug, ♻️ autoupdate, 👀 ready for review

#2548 fix: dangling zero in api keys list
  apps/web/ee/components/apiKeys/ApiKeyListContainer.tsx
Labels: ♻️ autoupdate, 👀 ready for review

#2452 Uniquely index event-type with teamId and slug
  packages/prisma/migrations/20220409195425_index_event_types_team_id_slug/migration.sql
  packages/prisma/schema.prisma
Labels: ♻️ autoupdate

#2573 fix: adds title to public-api docs
  apps/docs/pages/public-api.mdx
Labels: ♻️ autoupdate

#2574 Removed deprecated JWT secrets
  .github/workflows/e2e.yml
  apps/web/pages/api/auth/[...nextauth].tsx
Labels: ♻️ autoupdate

#2446 Improve create event-type flow
  apps/web/components/eventtype/CreateEventType.tsx
Labels: ♻️ autoupdate, automerge

#2601 Heading Skeleton
  apps/web/components/Shell.tsx
Labels: ♻️ autoupdate, automerge

#2587 Fix input field width to support two digits
  apps/web/pages/event-types/[type].tsx
Labels: ♻️ autoupdate, automerge

#2589 Fix location showing as "No App Name"
  apps/web/lib/emails/templates/attendee-scheduled-email.ts
  apps/web/lib/emails/templates/organizer-scheduled-email.ts
  packages/app-store/utils.ts
  packages/app-store/wipemycalother/lib/templates/base-template.ts
Labels: ♻️ autoupdate, automerge

#2503 Feat/impersonate users
  apps/web/components/NavTabs.tsx
  apps/web/components/SettingsShell.tsx
  apps/web/components/Shell.tsx
  apps/web/components/ui/AdminRequired.tsx
  apps/web/components/ui/ImpersonatingBanner.tsx
  apps/web/ee/lib/impersonation/ImpersonationProvider.ts
  apps/web/pages/api/auth/[...nextauth].tsx
  apps/web/pages/settings/admin.tsx
  apps/web/public/static/locales/en/common.json
  packages/embeds/embed-react/tsconfig.json
  packages/prisma/migrations/20220409155714_impersonate_users/migration.sql
  packages/prisma/schema.prisma
  packages/types/next-auth.d.ts
Labels: ♻️ autoupdate, 👀 ready for review

#2593 Improve logs for 500 error in datadog for /book/event
  packages/app-store/wipemycalother/lib/eventManager.ts
  packages/core/EventManager.ts
Labels: ♻️ autoupdate

#2611 Bug/email notes hidden
  apps/web/pages/api/book/event.ts
Labels: ♻️ autoupdate, automerge

#2607 Swagger docs improved
  apps/swagger/lib/snippets.ts
  apps/swagger/package.json
  apps/swagger/pages/index.tsx
  package.json
Labels: ♻️ autoupdate, 👀 ready for review, automerge

#2594 Fix/login with provider
  apps/web/lib/auth/next-auth-custom-adapter.ts
  apps/web/pages/api/auth/[...nextauth].tsx
  apps/web/pages/auth/logout.tsx
  packages/prisma/migrations/20220423175732_added_next_auth_models/migration.sql
  packages/prisma/schema.prisma
Labels: ♻️ autoupdate

#2627 Reduce Payload for Event-Types[Avoid 500]
  apps/web/next.config.js
  apps/web/pages/api/user/avatar.ts
  apps/web/pages/event-types/index.tsx
  apps/web/server/routers/viewer.tsx
Labels: ♻️ autoupdate

#2624 Make sure that redirect URLs are safe and either of App or website.
  apps/web/pages/auth/login.tsx
  packages/app-store/googlecalendar/api/callback.ts
  packages/app-store/hubspotothercalendar/api/callback.ts
  packages/app-store/office365calendar/api/callback.ts
  packages/app-store/office365video/api/callback.ts
  packages/lib/getSafeRedirectUrl.ts
Labels: ♻️ autoupdate

#2610 Add Event Types Test
  apps/web/ee/components/LicenseBanner.tsx
  apps/web/pages/event-types/[type].tsx
  apps/web/playwright/event-types.test.ts
  apps/web/playwright/integrations.test.ts-snapshots/webhookResponse-chromium.txt
Labels: ♻️ autoupdate

#2612 Adding validation for name and email
  apps/web/components/booking/pages/BookingPage.tsx
Labels: ♻️ autoupdate

#2629 Add new response if request contains account id
  apps/web/ee/pages/api/integrations/stripepayment/webhook.ts
Labels: ♻️ autoupdate, automerge

#2641 Fixing Scope Name [Slack]
  packages/app-store/slackmessaging/api/add.ts
Labels: ♻️ autoupdate

#2599 Pass userId while creating event-type
  apps/web/server/routers/viewer/eventTypes.tsx
Labels: ♻️ autoupdate

#2636 Fixes google meet url not appearing calendar invite
  packages/app-store/googlecalendar/lib/CalendarService.ts
Labels: ♻️ autoupdate, automerge

#2634 Fix emails and cal event descriptions as null
  apps/web/pages/api/book/request-reschedule.ts
  apps/web/pages/cancel/[uid].tsx
  packages/core/builders/CalendarEvent/builder.ts
  packages/core/builders/CalendarEvent/class.ts
  packages/core/builders/CalendarEvent/director.ts
  packages/lib/CalEventParser.ts
Labels: ♻️ autoupdate, automerge

#2643 Hotfix - change calendar error message
  apps/web/components/integrations/CalendarListContainer.tsx
  apps/web/public/static/locales/en/common.json
Labels: ♻️ autoupdate, automerge

#2645 Enable Autocomplete for 2FA Codes
  apps/web/components/auth/TwoFactor.tsx
  apps/web/components/security/EnableTwoFactorModal.tsx
Labels: ♻️ autoupdate, automerge
