Repository calcom/cal.com, pull requests merged in 2022-12, with the labels that each got.

#5804 5444 cal 339 radio option in additional questions on public booking page
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/components/eventtype/CustomInputTypeForm.tsx
  apps/web/components/eventtype/EventAdvancedTab.tsx
  apps/web/components/pages/eventtypes/CustomInputTypeForm.tsx
  apps/web/pages/[user]/book.tsx
  apps/web/pages/booking/[uid].tsx
  apps/web/pages/d/[link]/book.tsx
  apps/web/pages/event-types/[type]/index.tsx
  apps/web/pages/team/[slug]/book.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/lib/handleNewBooking.ts
  packages/lib/defaultEvents.ts
  packages/prisma/migrations/20221129112344_adding_radio_custom_input/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer/eventTypes.tsx
  packages/ui/index.tsx
  packages/ui/v2/core/form/index.ts
  packages/ui/v2/core/form/radio-area/Radio.tsx
  packages/ui/v2/core/form/radio-area/index.ts
Labels: ❗️ migrations

#5155 [CAL-103] All Bookings show up under Today and Today should be uppercase
  apps/web/pages/bookings/[status].tsx
Labels: ♻️ autoupdate, automerge

#5827 fixes UTC consideration in CalDAV
  packages/lib/CalendarService.ts
Labels: 🐛 bug

#5831 Fixes styles and imports on changing timezone dialog
  packages/ui/TimezoneChangeDialog.tsx
Labels: ♻️ autoupdate, automerge

#5549 fix: user infer props and remove avatarSSr from onboarding
  apps/web/components/getting-started/steps-views/UserProfile.tsx
  apps/web/components/getting-started/steps-views/UserSettings.tsx
  apps/web/pages/getting-started/[[...step]].tsx
Labels: ♻️ autoupdate, automerge

#5850 added team subdomain to whereby validation
  packages/app-store/whereby/_metadata.ts
Labels: ♻️ autoupdate, automerge

#5825 Requires Confirmation Threshold
  apps/web/components/booking/BookingDescription.tsx
  apps/web/components/booking/pages/AvailabilityPage.tsx
  apps/web/components/eventtype/EventAdvancedTab.tsx
  apps/web/components/eventtype/EventSetupTab.tsx
  apps/web/components/eventtype/RequiresConfirmationController.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/UnconfirmedBookingBadge.tsx
  packages/features/bookings/lib/handleNewBooking.ts
  packages/prisma/zod-utils.ts
  packages/ui/v2/core/Switch.tsx
  packages/ui/v2/modules/event-types/EventTypeDescription.tsx
Labels: ✨ feature, :scroll: Needs Documentation Update

#5724 feat: add each app from the app store to KBar
  packages/ui/Kbar.tsx
Labels: ♻️ autoupdate, automerge

#5859 BugFix: Link based Apps installation - Opens 2 tabs instead of 1
  apps/web/components/apps/App.tsx
  packages/app-store/_components/OmniInstallAppButton.tsx
  packages/app-store/_utils/useAddAppMutation.ts
  packages/ui/v2/core/apps/AppCard.tsx
Labels: ♻️ autoupdate, automerge

#5865 fix: toggle
  packages/ui/components/form/inputs/Input.tsx
Labels: ♻️ autoupdate, automerge

#5858 Wordpress App Files cleanup
  packages/app-store/apps.browser.generated.tsx
  packages/app-store/wordpress/config.json
  packages/app-store/wordpress/extensions/EventTypeAppCard.tsx
Labels: ♻️ autoupdate, automerge

#5854 Update german translations
  apps/web/public/static/locales/de/common.json
Labels: ♻️ autoupdate, automerge

#5848 Harsh/fix bookings name
  apps/web/pages/booking/[uid].tsx
Labels: ♻️ autoupdate, automerge

#5879 fix: ui of calendar item
  apps/web/pages/settings/my-account/calendars.tsx
Labels: ♻️ autoupdate, automerge

#5853 fix: remove duplicate title in event-types page
  apps/web/pages/event-types/index.tsx
Labels: ♻️ autoupdate, automerge

#5777 added EventReservationSchema to success page
  apps/web/components/schemas/EventReservationSchema.tsx
  apps/web/package.json
  apps/web/pages/booking/[uid].tsx
  yarn.lock
Labels: ♻️ autoupdate, automerge

#5700 Harsh/fix 404 page for undefined events
  apps/web/pages/[user]/[type].tsx
Labels: ♻️ autoupdate, automerge

#5911 fix/cant-create-team-name-taken
  packages/trpc/server/routers/viewer/teams.tsx
Labels: ♻️ autoupdate, automerge

#5913 Fixes disable branding for teams and users
  apps/web/components/booking/pages/AvailabilityPage.tsx
  apps/web/lib/isBrandingHidden.tsx
  apps/web/pages/[user]/[type].tsx
  apps/web/pages/api/auth/[...nextauth].tsx
  apps/web/pages/d/[link]/[slug].tsx
  apps/web/pages/settings/my-account/appearance.tsx
  apps/web/pages/team/[slug]/[type].tsx
  packages/features/ee/impersonation/lib/ImpersonationProvider.ts
  packages/types/next-auth.d.ts
Labels: ♻️ autoupdate, automerge

#5918 Harsh/fix timeformat hint
  apps/web/public/static/locales/en/common.json
Labels: ♻️ autoupdate, automerge

#5815 fix/premium-username-flow
  apps/web/components/getting-started/steps-views/UserSettings.tsx
  apps/web/components/ui/UsernameAvailability/PremiumTextfield.tsx
  apps/web/pages/api/teams.ts
  apps/web/pages/auth/sso/[provider].tsx
  apps/web/playwright/change-username.e2e.ts
  packages/app-store/stripepayment/api/paymentCallback.ts
  packages/app-store/stripepayment/api/subscription.ts
  packages/app-store/stripepayment/lib/constants.ts
  packages/app-store/stripepayment/lib/downgrade.ts
  packages/app-store/stripepayment/lib/getCustomerAndCheckoutSession.ts
  packages/app-store/stripepayment/lib/subscriptions.ts
  packages/app-store/stripepayment/lib/team-billing.ts
  packages/app-store/stripepayment/lib/utils.ts
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer.tsx
  packages/trpc/server/routers/viewer/teams.tsx
  turbo.json
Labels: ♻️ autoupdate

#5868 [CAL-462] Team settings dropdown menu should be open when you navigate from Teams
  packages/ui/v2/core/layouts/SettingsLayout.tsx
Labels: ♻️ autoupdate, automerge

#5928 Avoid booking success redirect in case of cancellation and visit from Bookings list Page
  apps/web/pages/booking/[uid].tsx
Labels: ♻️ autoupdate, automerge

#5927 fix: check input is not undefined
  apps/web/pages/event-types/[type]/index.tsx
Labels: ♻️ autoupdate, automerge

#5924 Removes appName variable in zapier instructions translation
  apps/web/public/static/locales/en/common.json
Labels: ♻️ autoupdate, automerge

#5934 fix: make banner responsive and cover entire app
  packages/ui/components/top-banner/TopBanner.tsx
  packages/ui/v2/core/Shell.tsx
Labels: ♻️ autoupdate, automerge

#5900 Harsh/fix avail time order
  apps/web/components/eventtype/EventSetupTab.tsx
Labels: ♻️ autoupdate

#5948 Hotfix/Google Meet must be globally installed
  packages/app-store/googlevideo/_metadata.ts
Labels: ♻️ autoupdate, automerge

#5952 Fixing branding toggle
  apps/web/pages/[user]/[type].tsx
  apps/web/pages/api/auth/[...nextauth].tsx
  apps/web/pages/settings/my-account/appearance.tsx
  packages/features/ee/teams/pages/team-appearance-view.tsx
Labels: ♻️ autoupdate, automerge

#5968 fix: hidden content due to teams upgrade banner
  packages/ui/v2/core/Shell.tsx
Labels: ♻️ autoupdate, automerge

#5888 fix/duplicate-event-types
  apps/web/pages/event-types/index.tsx
  apps/web/playwright/event-types.e2e.ts
  apps/web/playwright/fixtures/users.ts
  apps/web/public/static/locales/en/common.json
  packages/features/eventtypes/components/CreateEventTypeButton.tsx
  packages/features/eventtypes/components/DuplicateDialog.tsx
  packages/trpc/server/routers/viewer/eventTypes.tsx
  packages/ui/v2/core/Dialog.tsx
Labels: ♻️ autoupdate

#5979 Hotfix/Production/Embed Theming
  packages/embeds/embed-core/src/embed-iframe.ts
Labels: ♻️ autoupdate, automerge

#5969 Fixes SMS not sending for country codes not supporting alphanumeric sender IDs
  .env.example
  README.md
  packages/features/ee/workflows/api/scheduleSMSReminders.ts
  packages/features/ee/workflows/components/AddActionDialog.tsx
  packages/features/ee/workflows/components/WorkflowDetailsPage.tsx
  packages/features/ee/workflows/components/WorkflowStepContainer.tsx
  packages/features/ee/workflows/lib/alphanumericSenderIdSupport.ts
  packages/features/ee/workflows/lib/reminders/reminderScheduler.ts
  packages/features/ee/workflows/lib/reminders/smsProviders/twilioProvider.ts
  packages/features/ee/workflows/lib/reminders/smsReminderManager.ts
  packages/lib/constants.ts
  packages/trpc/server/routers/viewer/workflows.tsx
  turbo.json
Labels: :scroll: Needs Documentation Update

#5951 Feature/Embed/Add Embed `ui` instruction config to hide event type description
  apps/web/components/Embed.tsx
  apps/web/components/booking/pages/AvailabilityPage.tsx
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/public/static/locales/en/common.json
  packages/embeds/embed-core/index.html
  packages/embeds/embed-core/src/embed-iframe.ts
Labels: ♻️ autoupdate, automerge, :scroll: Needs Documentation Update

#6008 removed z-index from topbanner
  packages/ui/components/top-banner/TopBanner.tsx
Labels: ♻️ autoupdate, automerge

#5988 Misc fixes
  packages/trpc/server/routers/viewer/eventTypes.tsx
  packages/trpc/server/routers/viewer/workflows.tsx
Labels: ♻️ autoupdate, automerge

#5997 #5613 Optimise social images by utilising next image api.
  apps/web/package.json
  apps/web/pages/api/social/og/image.tsx
  apps/web/public/social-bg-dark-lines.jpg
  apps/web/public/social-bg-light-lines.jpg
  packages/lib/OgImages.tsx
  packages/lib/constants.ts
  yarn.lock
Labels: ♻️ autoupdate, automerge

#6017 feature/rate-limit-middleware
  packages/features/ee/workflows/components/WorkflowStepContainer.tsx
  packages/trpc/server/routers/viewer/workflows.tsx
  packages/trpc/server/trpc.ts
Labels: ♻️ autoupdate, automerge

#5956 team banner
  apps/web/pages/event-types/index.tsx
  apps/web/public/team-banner-background-small.jpg
  packages/ui/index.tsx
  packages/ui/v2/core/Tips.tsx
  packages/ui/v2/core/index.ts
  packages/ui/v2/modules/tips/index.ts
Labels: ♻️ autoupdate, automerge, 👥 teams

#5653 Calendar Weekly Scheduler
  apps/storybook/.storybook/main.js
  apps/storybook/.storybook/preview.jsx
  apps/storybook/styles/globals.css
  apps/storybook/styles/storybook-styles.css
  packages/dayjs/index.ts
  packages/features/calendars/weeklyview/_storybookData.ts
  packages/features/calendars/weeklyview/components/Calendar.tsx
  packages/features/calendars/weeklyview/components/DateValues/index.tsx
  packages/features/calendars/weeklyview/components/blocking/BlockedList.tsx
  packages/features/calendars/weeklyview/components/blocking/BlockedTimeCell.tsx
  packages/features/calendars/weeklyview/components/calendar.stories.mdx
  packages/features/calendars/weeklyview/components/currentTime/index.tsx
  packages/features/calendars/weeklyview/components/event/Empty.tsx
  packages/features/calendars/weeklyview/components/event/Event.tsx
  packages/features/calendars/weeklyview/components/event/EventList.tsx
  packages/features/calendars/weeklyview/components/event/index.tsx
  packages/features/calendars/weeklyview/components/grid/index.tsx
  packages/features/calendars/weeklyview/components/heading/SchedulerHeading.tsx
  packages/features/calendars/weeklyview/components/heading/index.tsx
  packages/features/calendars/weeklyview/components/horizontalLines/index.tsx
  packages/features/calendars/weeklyview/components/index.tsx
  packages/features/calendars/weeklyview/components/verticalLines/index.tsx
  packages/features/calendars/weeklyview/index.tsx
  packages/features/calendars/weeklyview/state/store.ts
  packages/features/calendars/weeklyview/styles/styles.css
  packages/features/calendars/weeklyview/types/events.ts
  packages/features/calendars/weeklyview/types/state.ts
  packages/features/calendars/weeklyview/utils/index.ts
  packages/features/package.json
  packages/ui/v2/core/form/ToggleGroup.tsx
Labels: ♻️ autoupdate, automerge

#5991 Feature/date overrides
  apps/web/pages/availability/[schedule].tsx
  apps/web/public/static/locales/en/common.json
  apps/web/styles/globals.css
  apps/web/test/lib/getAggregateWorkingHours.test.ts
  packages/core/getUserAvailability.ts
  packages/features/availability/README.md
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/ee/teams/components/MemberChangeRoleModal.tsx
  packages/features/ee/teams/components/v2/TeamAvailabilityModal.tsx
  packages/features/schedules/components/DateOverrideInputDialog.tsx
  packages/features/schedules/components/DateOverrideList.tsx
  packages/features/schedules/components/Schedule.tsx
  packages/features/schedules/components/ScheduleListItem.tsx
  packages/features/schedules/components/index.ts
  packages/lib/availability.ts
  packages/lib/slots.ts
  packages/trpc/server/routers/viewer/availability.tsx
  packages/trpc/server/routers/viewer/slots.tsx
  packages/ui/v2/core/Dialog.tsx
  packages/ui/v2/modules/booker/DatePicker.tsx
Labels: ♻️ autoupdate, automerge

#6013 fix: use cal url
  packages/features/ee/teams/pages/team-profile-view.tsx
Labels: ♻️ autoupdate, automerge

#6011 added layout for empty month to go to the next month
  apps/web/pages/settings/admin/apps/[category].tsx
  apps/web/public/static/locales/en/common.json
  packages/ui/v2/modules/booker/DatePicker.tsx
Labels: ♻️ autoupdate, automerge

#6003 SMS workflow actions only for Teams
  packages/features/ee/workflows/components/AddActionDialog.tsx
  packages/features/ee/workflows/components/WorkflowDetailsPage.tsx
  packages/features/ee/workflows/components/WorkflowStepContainer.tsx
  packages/features/ee/workflows/lib/getOptions.ts
  packages/trpc/server/routers/viewer/workflows.tsx
Labels: ♻️ autoupdate, automerge

#5791 vimcal app
  apps/web/components/apps/App.tsx
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/vimcal/README.mdx
  packages/app-store/vimcal/_metadata.ts
  packages/app-store/vimcal/api/add.ts
  packages/app-store/vimcal/api/index.ts
  packages/app-store/vimcal/components/.gitkeep
  packages/app-store/vimcal/config.json
  packages/app-store/vimcal/index.ts
  packages/app-store/vimcal/package.json
  packages/app-store/vimcal/static/1.avif
  packages/app-store/vimcal/static/1.gif
  packages/app-store/vimcal/static/2.avif
  packages/app-store/vimcal/static/2.gif
  packages/app-store/vimcal/static/3.avif
  packages/app-store/vimcal/static/3.gif
  packages/app-store/vimcal/static/4.avif
  packages/app-store/vimcal/static/4.gif
  packages/app-store/vimcal/static/icon.svg
  packages/prisma/seed-app-store.config.json
Labels: ♻️ autoupdate, automerge

#6005 Fixes for testing workflow action
  packages/features/ee/workflows/components/WorkflowStepContainer.tsx
  packages/trpc/server/routers/viewer/workflows.tsx
Labels: ♻️ autoupdate, automerge

#5773 Save meeting url to metadata of bookings and add it to webhook payload
  apps/web/playwright/webhook.e2e.ts
  apps/web/playwright/webhook.e2e.ts-snapshots/webhookResponse--calcom-web.txt
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/ee/workflows/components/TimeTimeUnitInput.tsx
  packages/lib/server/queries/bookings/confirm.ts
  packages/lib/test/builder.ts
  packages/prisma/migrations/20221129125935_add_metadata_to_booking/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/zod-utils.ts
Labels: ♻️ autoupdate, ❗️ migrations, automerge, :scroll: Needs Documentation Update

#6035 Feat/verify phone number
  .env.example
  README.md
  apps/web/public/static/locales/en/common.json
  packages/features/ee/workflows/components/WorkflowDetailsPage.tsx
  packages/features/ee/workflows/components/WorkflowStepContainer.tsx
  packages/features/ee/workflows/lib/reminders/reminderScheduler.ts
  packages/features/ee/workflows/lib/reminders/smsProviders/twilioProvider.ts
  packages/features/ee/workflows/lib/reminders/smsReminderManager.ts
  packages/features/ee/workflows/lib/reminders/verifyPhoneNumber.ts
  packages/features/ee/workflows/pages/workflow.tsx
  packages/prisma/migrations/20221215120525_add_verified_numbers/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/workflows.tsx
  packages/ui/form/PhoneInput.tsx
  turbo.json
Labels: ♻️ autoupdate, ❗️ migrations, automerge

#6046 added auto animate to installed apps, fixed container size
  apps/web/components/apps/IntegrationListItem.tsx
  apps/web/public/static/locales/en/common.json
  packages/app-store/_components/AppCategoryNavigation.tsx
  packages/ui/v2/core/layouts/InstalledAppsLayout.tsx
Labels: ♻️ autoupdate, automerge

#6057 Fixes the start and end time mobile view
  apps/web/pages/availability/[schedule].tsx
  packages/features/schedules/components/Schedule.tsx
Labels: ♻️ autoupdate, automerge

#6053 amie.so app
  packages/app-store/amie/README.mdx
  packages/app-store/amie/_metadata.ts
  packages/app-store/amie/api/add.ts
  packages/app-store/amie/api/index.ts
  packages/app-store/amie/components/.gitkeep
  packages/app-store/amie/config.json
  packages/app-store/amie/index.ts
  packages/app-store/amie/package.json
  packages/app-store/amie/static/1.jpg
  packages/app-store/amie/static/2.jpg
  packages/app-store/amie/static/3.jpg
  packages/app-store/amie/static/icon.svg
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/prisma/seed-app-store.config.json
Labels: ♻️ autoupdate, automerge, 📱 app

#6010 fix: use callback url in signup
  apps/web/pages/signup.tsx
Labels: ♻️ autoupdate, automerge

#6077 fix: prevent overflow in booking description
  apps/web/components/booking/BookingListItem.tsx
Labels: ♻️ autoupdate, automerge

#6090 React feather refactor
  apps/web/components/eventtype/EventTypeSingleLayout.tsx
  packages/app-store/closecom/pages/setup/index.tsx
  packages/features/ee/workflows/components/EmptyScreen.tsx
  packages/ui/components/avatar/Avatar.tsx
  packages/ui/components/badge/Badge.tsx
  packages/ui/components/button/Button.tsx
  packages/ui/components/form/inputs/HintOrErrors.tsx
  packages/ui/components/form/inputs/Input.tsx
  packages/ui/v2/core/Dialog.tsx
  packages/ui/v2/core/Dropdown.tsx
  packages/ui/v2/core/EmptyScreen.tsx
  packages/ui/v2/core/apps/Categories.tsx
  packages/ui/v2/core/banner.tsx
  packages/ui/v2/core/form/DatePicker.tsx
  packages/ui/v2/core/notifications.tsx
Labels: ♻️ autoupdate, automerge

#6067 Fixing navigation and visual issues
  apps/web/pages/auth/setup/index.tsx
  packages/app-store/_components/AppCategoryNavigation.tsx
  packages/app-store/_utils/getAppCategories.ts
  packages/features/apps/AdminAppsList.tsx
  packages/ui/v2/core/WizardForm.tsx
  packages/ui/v2/core/navigation/tabs/VerticalTabs.tsx
Labels: ♻️ autoupdate, automerge

#6068 Fixing wizard validation
  packages/ui/v2/core/Stepper.tsx
  packages/ui/v2/core/WizardForm.tsx
Labels: 🐛 bug

#6025 Set seatsShowAttendees default value to false
  packages/prisma/migrations/20221214210020_set_seats_show_attendees_to_default_false/migration.sql
  packages/prisma/schema.prisma
Labels: ❗️ migrations

#6111 Makes WizardForm translation agnostic
  apps/web/pages/auth/setup/index.tsx
  packages/ui/v2/core/Stepper.tsx
  packages/ui/v2/core/WizardForm.tsx
Labels: ♻️ autoupdate, automerge

#6113 /event-types improvements
  apps/web/pages/event-types/index.tsx
  packages/ui/components/badge/Badge.tsx
  packages/ui/v2/modules/event-types/EventTypeDescription.tsx
Labels: ♻️ autoupdate, automerge

#6034 Typed query hook
  packages/lib/hooks/useTypedQuery.ts
Labels: ♻️ autoupdate, automerge

#6130 fix/cannot-duplicate-and-event-type-teams
  packages/features/eventtypes/components/DuplicateDialog.tsx
  packages/trpc/server/routers/viewer/eventTypes.tsx
Labels: ♻️ autoupdate, automerge

#5897 fix: show email in outlook
  apps/web/components/apps/CalendarListContainer.tsx
  packages/app-store/googlecalendar/lib/CalendarService.ts
  packages/app-store/larkcalendar/lib/CalendarService.ts
  packages/app-store/office365calendar/lib/CalendarService.ts
  packages/features/calendars/DestinationCalendarSelector.tsx
  packages/lib/CalendarService.ts
  packages/types/Calendar.d.ts
Labels: ♻️ autoupdate, automerge

#5369 [CAL-211] Confirmed booking page for rescheduled event should show previous time and reschedule reason
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/pages/booking/[uid].tsx
  apps/web/public/static/locales/en/common.json
Labels: ♻️ autoupdate, automerge

#6131 [Hotfix] Fixing direct link encoding
  apps/web/package.json
  apps/web/pages/booking/direct/[...link].tsx
  packages/emails/src/components/CallToAction.tsx
  packages/emails/src/templates/OrganizerRequestEmail.tsx
  yarn.lock
Labels: ♻️ autoupdate

#6126 Fix: user impersonation switch showing the wrong value
  apps/web/pages/settings/security/impersonation.tsx
Labels: ♻️ autoupdate, automerge

#6138 Feat/add screenshot og image variant
  packages/lib/OgImages.tsx
Labels: ♻️ autoupdate, automerge

#6121 Fix/Round Robin
  apps/web/components/booking/AvailableTimes.tsx
  apps/web/test/lib/getAggregateWorkingHours.test.ts
  apps/web/test/lib/slots.test.ts
  packages/core/getUserAvailability.ts
  packages/features/ee/teams/components/TeamAvailabilityTimes.tsx
  packages/features/ee/teams/components/v2/TeamAvailabilityTimes.tsx
  packages/lib/availability.ts
  packages/lib/slots.ts
  packages/trpc/server/routers/viewer/slots.tsx
  packages/types/schedule.d.ts
Labels: ♻️ autoupdate, automerge

#5698 Fixes/stripe improvements
  packages/app-store/_components/AppCard.tsx
  packages/app-store/_components/OmniInstallAppButton.tsx
  packages/app-store/_utils/useAddAppMutation.ts
  packages/app-store/package.json
  packages/app-store/stripepayment/api/add.ts
  packages/app-store/stripepayment/api/callback.ts
  packages/app-store/stripepayment/api/subscription.ts
  packages/app-store/stripepayment/extensions/EventTypeAppCard.tsx
  packages/app-store/stripepayment/lib/client/createPaymentLink.ts
  packages/app-store/stripepayment/lib/getStripeAppKeys.ts
  packages/app-store/stripepayment/lib/server.ts
  yarn.lock
Labels: ♻️ autoupdate, automerge

#6099 Feature/booking filters
  apps/web/components/booking/BookingListItem.tsx
  apps/web/pages/bookings/[status].tsx
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/components/EventTypeFilter.tsx
  packages/features/bookings/components/FiltersContainer.tsx
  packages/features/bookings/components/PeopleFilter.tsx
  packages/features/bookings/components/TeamFilter.tsx
  packages/features/bookings/groupBy.ts
  packages/features/bookings/layout/BookingLayout.tsx
  packages/features/bookings/lib/useFilterQuery.tsx
  packages/lib/hooks/useTypedQuery.ts
  packages/trpc/server/routers/viewer/bookings.tsx
  packages/trpc/server/routers/viewer/eventTypes.tsx
  packages/trpc/server/routers/viewer/teams.tsx
  packages/trpc/server/trpc.ts
  packages/ui/components/avatar/Avatar.tsx
  packages/ui/components/index.ts
  packages/ui/components/popover/index.tsx
  packages/ui/index.tsx
  packages/ui/package.json
Labels: ♻️ autoupdate, automerge

#6172 Fix skeleton loader for /workflows
  packages/features/ee/workflows/components/SkeletonLoaderList.tsx
Labels: ♻️ autoupdate, automerge

#6188 fixed booking layout
  apps/web/pages/bookings/[status].tsx
  packages/features/bookings/layout/BookingLayout.tsx
Labels: ♻️ autoupdate, automerge

#6039 Cal Video (Daily) Recording
  apps/web/components/booking/BookingListItem.tsx
  apps/web/pages/api/download-cal-video-recording.ts
  apps/web/public/static/locales/en/common.json
  packages/app-store/dailyvideo/lib/VideoApiAdapter.ts
  packages/app-store/dailyvideo/lib/getDailyAppKeys.ts
  packages/app-store/dailyvideo/zod.ts
  packages/core/videoClient.ts
  packages/features/ee/video/ViewRecordingsDialog.tsx
  packages/features/ee/video/components/RecordingListItemSkeleton.tsx
  packages/features/ee/video/components/RecordingListSkeleton.tsx
  packages/features/ee/video/components/UpgradeRecordingBanner.tsx
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer.tsx
  packages/trpc/server/routers/viewer/bookings.tsx
  packages/trpc/server/routers/viewer/teams.tsx
  packages/trpc/server/routers/viewer/workflows.tsx
  packages/types/VideoApiAdapter.d.ts
Labels: ♻️ autoupdate, automerge
