Repository calcom/cal.com, pull requests merged in 2022-05, with the labels that each got.

#2580 feat(app-store): Add Giphy app
  .env.example
  apps/web/pages/event-types/[type].tsx
  apps/web/pages/success.tsx
  apps/web/public/static/locales/en/common.json
  packages/app-store/components.tsx
  packages/app-store/giphyother/_metadata.ts
  packages/app-store/giphyother/api/add.ts
  packages/app-store/giphyother/api/index.ts
  packages/app-store/giphyother/api/search.ts
  packages/app-store/giphyother/components/InstallAppButton.tsx
  packages/app-store/giphyother/components/SearchDialog.tsx
  packages/app-store/giphyother/components/SelectGifInput.tsx
  packages/app-store/giphyother/components/index.ts
  packages/app-store/giphyother/index.ts
  packages/app-store/giphyother/lib/giphyManager.ts
  packages/app-store/giphyother/lib/index.ts
  packages/app-store/giphyother/package.json
  packages/app-store/giphyother/static/icon.svg
  packages/app-store/index.ts
  packages/app-store/metadata.ts
Labels: ♻️ autoupdate, 📱 app

#2650 Add Meta Mask to app store
  apps/web/server/routers/viewer.tsx
  packages/app-store/apiHandlers.tsx
  packages/app-store/components.tsx
  packages/app-store/index.ts
  packages/app-store/metadata.ts
  packages/app-store/metamask/README.mdx
  packages/app-store/metamask/_metadata.ts
  packages/app-store/metamask/api/add.ts
  packages/app-store/metamask/api/index.ts
  packages/app-store/metamask/components/InstallAppButton.tsx
  packages/app-store/metamask/components/index.ts
  packages/app-store/metamask/index.ts
  packages/app-store/metamask/package.json
  packages/app-store/metamask/static/example1.png
  packages/app-store/metamask/static/example2.png
  packages/app-store/metamask/static/icon.svg
  packages/prisma/migrations/20220502154345_adds_metamask_giphy/migration.sql
  packages/prisma/seed-app-store.ts
Labels: ♻️ autoupdate

#2623 Feat/zapier app
  apps/web/components/webhook/WebhookDialogForm.tsx
  apps/web/lib/webhooks/sendPayload.tsx
  apps/web/lib/webhooks/subscriptions.tsx
  apps/web/pages/api/book/event.ts
  apps/web/pages/api/cancel.ts
  apps/web/pages/api/integrations.ts
  apps/web/pages/apps/setup/[appName].tsx
  apps/web/public/static/locales/en/common.json
  apps/web/public/static/locales/es/common.json
  apps/web/server/routers/viewer/apiKeys.tsx
  apps/web/server/routers/viewer/webhook.tsx
  apps/web/tailwind.config.js
  packages/app-store/_utils/getAppKeysFromSlug.ts
  packages/app-store/apiHandlers.tsx
  packages/app-store/components.tsx
  packages/app-store/index.ts
  packages/app-store/metadata.ts
  packages/app-store/zapier/README.md
  packages/app-store/zapier/README.mdx
  packages/app-store/zapier/_metadata.ts
  packages/app-store/zapier/api/add.ts
  packages/app-store/zapier/api/index.ts
  packages/app-store/zapier/api/subscriptions/addSubscription.ts
  packages/app-store/zapier/api/subscriptions/deleteSubscription.ts
  packages/app-store/zapier/api/subscriptions/listBookings.ts
  packages/app-store/zapier/components/InstallAppButton.tsx
  packages/app-store/zapier/components/icon.tsx
  packages/app-store/zapier/components/index.ts
  packages/app-store/zapier/components/zapierSetup.tsx
  packages/app-store/zapier/index.ts
  packages/app-store/zapier/package.json
  packages/app-store/zapier/static/icon.svg
  packages/ee/lib/api/findValidApiKey.ts
  packages/prisma/migrations/20220503194835_adds_app_relation_to_webhook_and_api_keys/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/seed-app-store.ts
  packages/prisma/zod/webhook.ts
Labels: ♻️ autoupdate, automerge

#2667 Slack Signature Verification
  packages/app-store/slackmessaging/api/commandHandler.ts
  packages/app-store/slackmessaging/api/interactiveHandler.ts
  packages/app-store/slackmessaging/lib/slackVerify.ts
Labels: ♻️ autoupdate, automerge

#2673 feature/space-booking-app
  apps/web/pages/success.tsx
  packages/app-store/apiHandlers.tsx
  packages/app-store/components.tsx
  packages/app-store/index.ts
  packages/app-store/metadata.ts
  packages/app-store/spacebooking/README.mdx
  packages/app-store/spacebooking/_metadata.ts
  packages/app-store/spacebooking/api/add.ts
  packages/app-store/spacebooking/api/index.ts
  packages/app-store/spacebooking/components/FullScreenDialog.tsx
  packages/app-store/spacebooking/components/InstallAppButton.tsx
  packages/app-store/spacebooking/components/SpaceBookingSuccessPage.tsx
  packages/app-store/spacebooking/components/index.ts
  packages/app-store/spacebooking/index.ts
  packages/app-store/spacebooking/lib/index.ts
  packages/app-store/spacebooking/package.json
  packages/app-store/spacebooking/static/spacebooking.webp
  packages/prisma/seed-app-store.ts
  packages/ui/Dialog.tsx
Labels: ♻️ autoupdate, automerge

#2677 MS Teams title to state that a work/school account is required.
  packages/app-store/office365video/_metadata.ts
  packages/app-store/office365video/components/AccountDialog.tsx
  packages/app-store/office365video/components/InstallAppButton.tsx
Labels: ♻️ autoupdate

#2657 Fix/reschedule on dynamic events
  apps/web/pages/api/book/request-reschedule.ts
  packages/core/builders/CalendarEvent/builder.ts
  packages/core/builders/CalendarEvent/director.ts
Labels: ♻️ autoupdate, automerge

#2686 fix: DatePicker to display the correct available hours
  apps/web/components/booking/AvailableTimes.tsx
Labels: ♻️ autoupdate, automerge

#2688 Embed Code Generator: Fix Preview HTML and Embed Lib path for production
  .env.example
  apps/web/.gitignore
  apps/web/components/Embed.tsx
  packages/embeds/embed-core/index.html
  packages/embeds/embed-core/package.json
  packages/embeds/embed-core/preview.html
  packages/embeds/embed-core/src/embed-iframe.ts
  packages/embeds/embed-core/src/embed.ts
  packages/embeds/embed-core/src/preview.ts
  packages/embeds/embed-core/vite.config.js
  packages/embeds/embed-react/playwright/tests/basic.test.ts-snapshots/react-component-inline-chromium-darwin.png
  packages/embeds/embed-react/test-cal.tsx
  packages/embeds/embed-react/vite.config.js
  packages/embeds/embed-snippet/src/index.ts
  packages/embeds/embed-snippet/vite.config.js
  packages/lib/constants.ts
  turbo.json
Labels: ♻️ autoupdate, automerge

#2500 Vital App - Auto reschedule based on health data
  .env.appStore.example
  README.md
  apps/web/next-i18next.config.js
  apps/web/pages/apps/installed.tsx
  apps/web/public/static/locales/en/vital.json
  apps/web/public/static/locales/es/vital.json
  apps/web/server/createContext.ts
  packages/app-store/_components/AppConfiguration.tsx
  packages/app-store/apiHandlers.tsx
  packages/app-store/components.tsx
  packages/app-store/index.ts
  packages/app-store/metadata.ts
  packages/app-store/vital/README.mdx
  packages/app-store/vital/_metadata.ts
  packages/app-store/vital/api/callback.ts
  packages/app-store/vital/api/index.ts
  packages/app-store/vital/api/save.ts
  packages/app-store/vital/api/settings.ts
  packages/app-store/vital/api/sleep.create.payload.example
  packages/app-store/vital/api/token.ts
  packages/app-store/vital/api/webhook.ts
  packages/app-store/vital/components/AppConfiguration.tsx
  packages/app-store/vital/components/InstallAppButton.tsx
  packages/app-store/vital/components/index.ts
  packages/app-store/vital/index.ts
  packages/app-store/vital/lib/client.ts
  packages/app-store/vital/lib/emailManager.ts
  packages/app-store/vital/lib/emailServerConfig.ts
  packages/app-store/vital/lib/index.ts
  packages/app-store/vital/lib/reschedule.ts
  packages/app-store/vital/lib/templates/attendee-request-reschedule-email.ts
  packages/app-store/vital/lib/templates/base-template.ts
  packages/app-store/vital/lib/templates/common/body-logo.ts
  packages/app-store/vital/lib/templates/common/head.ts
  packages/app-store/vital/lib/templates/common/index.ts
  packages/app-store/vital/lib/templates/common/link-icon.ts
  packages/app-store/vital/lib/templates/common/scheduling-body-divider.ts
  packages/app-store/vital/lib/templates/common/scheduling-body-head-content.ts
  packages/app-store/vital/lib/templates/common/scheduling-body-head.ts
  packages/app-store/vital/lib/templates/organizer-request-reschedule-email.ts
  packages/app-store/vital/package.json
  packages/app-store/vital/static/icon.svg
  packages/lib/hooks/useLocale.ts
  packages/prisma/seed-app-store.ts
  packages/ui/form/Select.tsx
  packages/ui/index.tsx
  yarn.lock
Labels: ♻️ autoupdate, 🧪 testing needed, automerge

#2691 fix: Booking page display time based on selected timezone
  apps/web/components/booking/pages/BookingPage.tsx
Labels: ♻️ autoupdate, automerge

#2694 Fix broken app on staging
  packages/embeds/embed-core/src/embed-iframe.ts
Labels: automerge

#2695 Fix turbo caching
  apps/web/package.json
  apps/web/playwright/app-store.test.ts
Labels: automerge

#2644 Flow, UX and other improvements for hash my url feature
  apps/web/pages/event-types/[type].tsx
  apps/web/playwright/hash-my-url.test.ts
  apps/web/public/static/locales/en/common.json
  apps/web/server/routers/viewer/eventTypes.tsx
Labels: ♻️ autoupdate

#2702 fixed team dark mode
  apps/web/pages/team/[slug].tsx
Labels: ♻️ autoupdate

#2700 Hotfix: blank page for booking embed in Incognito Chrome
  apps/web/components/booking/pages/AvailabilityPage.tsx
  apps/web/contexts/contractsContext.tsx
  apps/web/lib/clock.ts
  apps/web/pages/success.tsx
  packages/embeds/embed-core/src/embed.ts
  packages/lib/webstorage.ts
Labels: ♻️ autoupdate, automerge

#2708 Replaces member avatars with links to avatar.png endpoint
  apps/web/components/team/MemberListItem.tsx
  apps/web/components/team/screens/Team.tsx
  apps/web/ee/components/team/availability/TeamAvailabilityModal.tsx
  apps/web/ee/components/team/availability/TeamAvailabilityScreen.tsx
  apps/web/lib/queries/teams/index.ts
  apps/web/pages/team/[slug].tsx
Labels: ♻️ autoupdate, automerge

#2697 Missing translation
  apps/web/public/static/locales/en/common.json
Labels: ♻️ autoupdate, automerge

#2696 add invite link to Zapier setup page
  .env.appStore.example
  apps/web/components/Loader.tsx
  apps/web/ee/lib/stripe/server.ts
  apps/web/pages/apps/[slug]/index.tsx
  apps/web/pages/apps/[slug]/setup.tsx
  apps/web/pages/apps/setup/[appName].tsx
  apps/web/public/static/locales/en/common.json
  apps/web/tailwind.config.js
  packages/app-store/_components/DynamicComponent.tsx
  packages/app-store/_pages/setup/_getStaticProps.tsx
  packages/app-store/_pages/setup/index.tsx
  packages/app-store/zapier/README.md
  packages/app-store/zapier/README.mdx
  packages/app-store/zapier/api/add.ts
  packages/app-store/zapier/components/index.ts
  packages/app-store/zapier/pages/setup/_getStaticProps.tsx
  packages/app-store/zapier/pages/setup/index.tsx
  packages/prisma/seed-app-store.ts
  packages/ui/Loader.tsx
  packages/ui/index.tsx
Labels: ♻️ autoupdate, automerge

#2719 Add more embed events
  apps/web/components/booking/pages/AvailabilityPage.tsx
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/lib/telemetry.ts
  apps/web/pages/[user].tsx
  apps/web/pages/success.tsx
Labels: ♻️ autoupdate, automerge

#2718 Adds Skeleton loader to availability select
  apps/web/components/availability/SkeletonLoader.tsx
  apps/web/pages/event-types/[type].tsx
Labels: ♻️ autoupdate, 👀 ready for review, automerge

#2674 Improve logs and Fix unwanted 500 to reduce noise in logs
  apps/web/pages/[user]/book.tsx
  apps/web/pages/api/app-store/installed.ts
Labels: ♻️ autoupdate, automerge

#2707 Change date format for RecurringBookings
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/pages/success.tsx
Labels: ♻️ autoupdate, automerge

#2727 Hotfix already in production: preview.html not served.
  turbo.json
Labels: ♻️ autoupdate, automerge

#2652 Add 'free' and 'workingElsewhere' as a non-blocking event
  packages/app-store/office365calendar/lib/CalendarService.ts
  packages/types/Calendar.d.ts
Labels: ♻️ autoupdate, automerge

#2733 Fix reschedule not happening in calendar if two calendars are there
  apps/web/pages/api/book/event.ts
  packages/core/CalendarManager.ts
  packages/core/EventManager.ts
Labels: ♻️ autoupdate, automerge

#2745 Allow apps to belong to multiple categories
  apps/web/pages/apps/categories/[category].tsx
  apps/web/pages/apps/index.tsx
Labels: ♻️ autoupdate

#2743 Populate msteams key in db
  packages/app-store/office365video/api/add.ts
  packages/app-store/office365video/api/callback.ts
  packages/app-store/office365video/components/AccountDialog.tsx
  packages/prisma/seed-app-store.ts
Labels: ♻️ autoupdate

#2486 Improving Email DRYness
  apps/web/lib/emails/templates/_base-email.ts
  apps/web/lib/emails/templates/attendee-scheduled-email.ts
  apps/web/lib/emails/templates/forgot-password-email.ts
  apps/web/lib/emails/templates/organizer-scheduled-email.ts
  apps/web/lib/emails/templates/team-invite-email.ts
Labels: ♻️ autoupdate, automerge

#2747 E2E fixtures
  apps/web/components/apps/AppCard.tsx
  apps/web/pages/api/app-store/installed.ts
  apps/web/playwright/auth/forgot-password.test.ts
  apps/web/playwright/booking-pages.test.ts
  apps/web/playwright/dynamic-booking-pages.test.ts
  apps/web/playwright/embed-code-generator.test.ts
  apps/web/playwright/fixtures/bookings.ts
  apps/web/playwright/fixtures/payments.ts
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/hash-my-url.test.ts
  apps/web/playwright/integrations-stripe.test.ts
  apps/web/playwright/integrations.test.ts
  apps/web/playwright/integrations.test.ts-snapshots/webhookResponse-chromium.txt
  apps/web/playwright/lib/dbSetup.ts
  apps/web/playwright/lib/fixtures.ts
  apps/web/playwright/lib/teardown.ts
  apps/web/playwright/login.test.ts
  apps/web/playwright/onboarding.test.ts
  apps/web/playwright/reschedule.test.ts
  tests/config/playwright.config.ts
  yarn.lock
Labels: ♻️ autoupdate

#2723 Fixing ESLint warnings
  apps/web/components/App.tsx
  apps/web/components/CustomBranding.tsx
  apps/web/components/ImageUploader.tsx
  apps/web/components/Logo.tsx
  apps/web/components/Shell.tsx
  apps/web/components/apps/AppCard.tsx
  apps/web/components/availability/Schedule.tsx
  apps/web/components/booking/pages/AvailabilityPage.tsx
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/components/integrations/IntegrationListItem.tsx
  apps/web/components/security/EnableTwoFactorModal.tsx
  apps/web/components/team/TeamSettingsRightSidebar.tsx
  apps/web/components/team/screens/Team.tsx
  apps/web/components/ui/AuthContainer.tsx
  apps/web/components/ui/Avatar.tsx
  apps/web/components/ui/AvatarSSR.tsx
  apps/web/components/ui/PoweredByCal.tsx
  apps/web/components/ui/WeekdaySelect.tsx
  apps/web/components/ui/form/CheckedSelect.tsx
  apps/web/ee/components/stripe/PaymentPage.tsx
  apps/web/ee/components/web3/CryptoSection.tsx
  apps/web/lib/hooks/useSlots.ts
  apps/web/pages/404.tsx
  apps/web/pages/500.tsx
  apps/web/pages/auth/error.tsx
  apps/web/pages/auth/forgot-password/[id].tsx
  apps/web/pages/auth/logout.tsx
  apps/web/pages/auth/sso/[provider].tsx
  apps/web/pages/availability/troubleshoot.tsx
  apps/web/pages/event-types/[type].tsx
  apps/web/pages/getting-started.tsx
  apps/web/pages/success.tsx
  apps/web/pages/video/[uid].tsx
  apps/web/public/cal-logo-word-dark.svg
  packages/app-store/googlevideo/_metadata.ts
  packages/app-store/googlevideo/static/logo.webp
  packages/app-store/metamask/_metadata.ts
  packages/app-store/wipemycalother/_metadata.ts
  packages/ui/Button.tsx
Labels: ♻️ autoupdate, automerge

#2757 Added check on create eventtype to see is user has slug that already exists
  apps/web/components/eventtype/CreateEventType.tsx
  apps/web/server/routers/viewer/eventTypes.tsx
Labels: ♻️ autoupdate, automerge

#2761 Add back accidentally reverted fix for white border in dark mode - mobile
  apps/web/components/booking/pages/BookingPage.tsx
Labels: ♻️ autoupdate, automerge

#2764 fix: remove hardcoded redirect in signin url email verification
  apps/web/pages/api/auth/[...nextauth].tsx
Labels: ♻️ autoupdate, automerge

#2760 Bad UX when user wants to set the default Event Type Title #2245
  apps/web/pages/event-types/[type].tsx
Labels: ♻️ autoupdate, automerge

#2669 Users Phone Number Option
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/package.json
  apps/web/pages/event-types/[type].tsx
  apps/web/public/static/locales/en/common.json
  packages/app-store/locations.ts
  packages/app-store/utils.ts
  packages/prisma/zod-utils.ts
Labels: ♻️ autoupdate

#2755 Mutually exclusive options
  apps/web/components/eventtype/RecurringEventController.tsx
  apps/web/pages/event-types/[type].tsx
Labels: ♻️ autoupdate, automerge, 🎨 needs design

#2768 Fix adds redirect callback that support app.cal.com
  apps/web/pages/api/auth/[...nextauth].tsx
Labels: ♻️ autoupdate, automerge

#2506 respect local set timezone and update url on mismatch
  apps/web/components/booking/pages/AvailabilityPage.tsx
Labels: ♻️ autoupdate, automerge

#2770 Alert to describe exclusion of options
  apps/web/components/eventtype/RecurringEventController.tsx
  apps/web/pages/event-types/[type].tsx
  apps/web/public/static/locales/en/common.json
Labels: ♻️ autoupdate, automerge

#2766 fix: split time correctly if the local working hours are just across mid night
  apps/web/lib/slots.ts
Labels: ♻️ autoupdate, automerge

#2671 Add Google cal extneral calendar id to booking reference
  apps/web/pages/api/cancel.ts
  packages/app-store/googlecalendar/lib/CalendarService.ts
  packages/core/CalendarManager.ts
  packages/core/EventManager.ts
  packages/prisma/migrations/20220503183922_add_external_calendar_id_to_booking_reference/migration.sql
  packages/prisma/schema.prisma
  packages/types/Calendar.d.ts
  packages/types/EventManager.d.ts
Labels: ♻️ autoupdate, ❗️ migrations

#2777 fixing the hyperlink for open startup
  README.md
Labels: ♻️ autoupdate, automerge

#2782 Embed React improvements
  apps/web/ee/components/web3/CryptoSection.tsx
  apps/web/playwright/lib/testUtils.ts
  packages/embeds/embed-core/README.md
  packages/embeds/embed-core/src/embed.ts
  packages/embeds/embed-core/src/sdk-action-manager.ts
  packages/embeds/embed-react/README.md
  packages/embeds/embed-react/package.json
  packages/embeds/embed-react/src/index.ts
  packages/embeds/embed-react/test-cal.tsx
  packages/embeds/embed-react/vite.config.js
Labels: ♻️ autoupdate, automerge

#2801 VSCode Only: Automatically start various servers when cal.com project opens
  .vscode/tasks.json
Labels: ♻️ autoupdate, automerge

#2796 save additional inputs as json + view details of booking
  apps/web/components/booking/BookingListItem.tsx
  apps/web/components/booking/CancelBooking.tsx
  apps/web/components/booking/DatePicker.tsx
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/components/ui/TableActions.tsx
  apps/web/ee/pages/api/integrations/stripepayment/webhook.ts
  apps/web/lib/emails/templates/attendee-awaiting-payment-email.ts
  apps/web/lib/emails/templates/attendee-cancelled-email.ts
  apps/web/lib/emails/templates/attendee-declined-email.ts
  apps/web/lib/emails/templates/attendee-request-email.ts
  apps/web/lib/emails/templates/attendee-request-reschedule-email.ts
  apps/web/lib/emails/templates/attendee-rescheduled-email.ts
  apps/web/lib/emails/templates/attendee-scheduled-email.ts
  apps/web/lib/emails/templates/organizer-cancelled-email.ts
  apps/web/lib/emails/templates/organizer-payment-refund-failed-email.ts
  apps/web/lib/emails/templates/organizer-request-email.ts
  apps/web/lib/emails/templates/organizer-request-reminder-email.ts
  apps/web/lib/emails/templates/organizer-request-reschedule-email.ts
  apps/web/lib/emails/templates/organizer-rescheduled-email.ts
  apps/web/lib/emails/templates/organizer-scheduled-email.ts
  apps/web/lib/getBooking.tsx
  apps/web/lib/isOutOfBounds.tsx
  apps/web/lib/types/booking.ts
  apps/web/pages/api/book/confirm.ts
  apps/web/pages/api/book/event.ts
  apps/web/pages/api/cancel.ts
  apps/web/pages/api/cron/bookingReminder.ts
  apps/web/pages/cancel/[uid].tsx
  apps/web/pages/reschedule/[uid].tsx
  apps/web/pages/success.tsx
  apps/web/pages/video/[uid].tsx
  apps/web/pages/video/meeting-ended/[uid].tsx
  apps/web/pages/video/meeting-not-started/[uid].tsx
  apps/web/playwright/integrations.test.ts-snapshots/webhookResponse-chromium.txt
  apps/web/public/static/locales/en/common.json
  apps/web/server/routers/viewer.tsx
  packages/app-store/zapier/api/subscriptions/listBookings.ts
  packages/lib/CalEventParser.ts
  packages/lib/index.ts
  packages/lib/isPrismaObj.ts
  packages/prisma/index.ts
  packages/prisma/migrations/20220511095513_add_custom_inputs_to_booking/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/selects/booking.ts
  packages/prisma/selects/index.ts
  packages/types/Calendar.d.ts
Labels: 👀 ready for review, ❗️ migrations, 🧹 Optimisation

#2779 Include organizer in list of attendees with organizer: true
  packages/app-store/googlecalendar/lib/CalendarService.ts
Labels: ♻️ autoupdate, automerge

#2821 Fix: Dynamic link dark mode color
  apps/web/pages/[user].tsx
Labels: 🐛 bug, automerge

#2842 fix: long string overflowing calendar div
  apps/web/components/booking/pages/AvailabilityPage.tsx
Labels: ♻️ autoupdate

#2783 [Draft] Fixing A11y across event type settings
  apps/web/components/Shell.tsx
  apps/web/components/eventtype/RecurringEventController.tsx
  apps/web/components/ui/form/CheckboxField.tsx
  apps/web/pages/event-types/[type].tsx
Labels: ♻️ autoupdate, 🧹 Optimisation

#2828 Meet/Zoom Email Clarification
  apps/web/lib/emails/templates/attendee-scheduled-email.ts
  apps/web/lib/emails/templates/organizer-scheduled-email.ts
  apps/web/public/static/locales/en/common.json
Labels: ✨ feature, ♻️ autoupdate

#2840 Request the inclusion Assuncion Time Zone
  apps/web/components/booking/TimeOptions.tsx
  apps/web/components/ui/form/TimezoneSelect.tsx
  apps/web/ee/components/team/availability/TeamAvailabilityModal.tsx
  apps/web/ee/components/team/availability/TeamAvailabilityScreen.tsx
  apps/web/pages/getting-started.tsx
Labels: ♻️ autoupdate

#2788 Fix UI of dialog
  apps/web/components/dialog/ConfirmationDialogContent.tsx
  apps/web/pages/event-types/index.tsx
  packages/ui/Dialog.tsx
Labels: 🐛 bug, ♻️ autoupdate, automerge

#2848 Hotfix: Fixing Security Issues
  apps/web/pages/api/book/request-reschedule.ts
  apps/web/server/routers/viewer/availability.tsx
  apps/web/server/routers/viewer/teams.tsx
Labels: ♻️ autoupdate, automerge

#2832 Fix login page CTA disabled state
  apps/web/pages/auth/login.tsx
Labels: ♻️ autoupdate

#2820 Fix infinite renders on event-type edit page
  .github/PULL_REQUEST_TEMPLATE.md
  apps/web/components/ui/form/CheckedSelect.tsx
  apps/web/pages/event-types/[type].tsx
Labels: 🐛 bug

#2710 Redesign help menu item
  .env.example
  apps/web/components/Shell.tsx
  apps/web/ee/components/support/ContactMenuItem.tsx
  apps/web/ee/components/support/HelpMenuItem.tsx
  apps/web/ee/lib/helpscout/HelpscoutMenuItem.tsx
  apps/web/ee/lib/intercom/IntercomMenuItem.tsx
  apps/web/ee/lib/zendesk/ZendeskMenuItem.tsx
  apps/web/lib/emails/email-manager.ts
  apps/web/lib/emails/templates/feedback-email.ts
  apps/web/public/static/locales/en/common.json
  apps/web/server/routers/viewer.tsx
  packages/prisma/migrations/20220513151152_adds_feedback_table/migration.sql
  packages/prisma/migrations/20220518201335_add_user_relationship_to_feedback/migration.sql
  packages/prisma/schema.prisma
  yarn.lock
Labels: ✨ feature, ♻️ autoupdate, ❗️ migrations

#2872 fixes issues with date of recurring events on booking detail page
  apps/web/components/booking/BookingListItem.tsx
  apps/web/pages/success.tsx
Labels: ♻️ autoupdate

#2880 Disable Impersonation Option
  apps/web/components/security/DisableUserImpersonation.tsx
  apps/web/ee/lib/impersonation/ImpersonationProvider.ts
  apps/web/pages/settings/security.tsx
  apps/web/public/static/locales/en/common.json
  apps/web/server/createContext.ts
  apps/web/server/routers/viewer.tsx
  packages/prisma/migrations/20220525110759_add_user_impersonation_toggle/migration.sql
  packages/prisma/schema.prisma
Labels: 🧹 Improvements

#2879 Fix/email shows false
  apps/web/lib/emails/templates/attendee-scheduled-email.ts
  apps/web/lib/emails/templates/organizer-scheduled-email.ts
Labels: ♻️ autoupdate

#2883 Webhook sec fixes
  apps/web/server/routers/viewer/webhook.tsx
Labels: ♻️ autoupdate, 🚨 urgent, automerge

#2752 Feat/Display location information publicly
  apps/web/components/booking/pages/AvailabilityPage.tsx
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/pages/[user]/[type].tsx
  apps/web/pages/d/[link]/[slug].tsx
  apps/web/pages/event-types/[type].tsx
  apps/web/pages/team/[slug]/[type].tsx
  apps/web/public/static/locales/en/common.json
  packages/app-store/locations.ts
  packages/prisma/zod-utils.ts
Labels: ♻️ autoupdate

#2886 Fix 500 errors on invalid data and non existent event type
  apps/web/pages/event-types/[type].tsx
Labels: ♻️ autoupdate, automerge

#2892 remove unused imports
  apps/web/components/team/MemberInvitationModal.tsx
Labels: automerge

#2891 Cascades impersonations on user delete
  packages/prisma/migrations/20220526151550_cascades_impersonations_on_user_delete/migration.sql
  packages/prisma/schema.prisma
Labels: ♻️ autoupdate, ❗️ migrations, automerge

#2893 Prevents undefined values when fetching stripe keys
  apps/web/ee/lib/stripe/server.ts
Labels: ♻️ autoupdate, automerge

#2843 RFC: Truncate user about text on team public page
  apps/web/components/team/screens/Team.tsx
  packages/config/package.json
  packages/config/tailwind-preset.js
Labels: ♻️ autoupdate

#2658 Change location of booking
  apps/web/components/booking/BookingListItem.tsx
  apps/web/components/booking/pages/AvailabilityPage.tsx
  apps/web/components/dialog/EditLocationDialog.tsx
  apps/web/components/ui/TableActions.tsx
  apps/web/lib/emails/email-manager.ts
  apps/web/lib/emails/templates/attendee-location-change-email.ts
  apps/web/lib/emails/templates/organizer-location-change-email.ts
  apps/web/lib/linkValueToString.ts
  apps/web/lib/locationOptions.tsx
  apps/web/pages/event-types/[type].tsx
  apps/web/playwright/booking-pages.test.ts
  apps/web/playwright/dynamic-booking-pages.test.ts
  apps/web/playwright/reschedule.test.ts
  apps/web/public/static/locales/en/common.json
  apps/web/server/routers/viewer.tsx
  apps/web/server/routers/viewer/bookings.tsx
  packages/app-store/utils.ts
  packages/ui/Button.tsx
  packages/ui/Dialog.tsx
Labels: ♻️ autoupdate, automerge, 🧹 Improvements

#2895 remove unused imports
  apps/web/pages/[user]/[type].tsx
  apps/web/pages/apps/installed.tsx
  apps/web/pages/d/[link]/[slug].tsx
  apps/web/pages/event-types/index.tsx
  apps/web/pages/team/[slug]/[type].tsx
Labels: ♻️ autoupdate, automerge

#2919 Fix event-type preview links on Vercel Previews
  apps/web/components/Shell.tsx
  apps/web/components/booking/pages/AvailabilityPage.tsx
  apps/web/components/team/MemberListItem.tsx
  apps/web/components/team/screens/Team.tsx
  apps/web/ee/components/team/availability/TeamAvailabilityModal.tsx
  apps/web/ee/components/team/availability/TeamAvailabilityScreen.tsx
  apps/web/pages/event-types/[type].tsx
  apps/web/pages/event-types/index.tsx
  apps/web/pages/team/[slug].tsx
  packages/lib/constants.ts
Labels: ♻️ autoupdate, automerge

#2836 Payment amount input leading 0
  apps/web/pages/event-types/[type].tsx
  yarn.lock
Labels: ♻️ autoupdate, automerge

#2921 Hotfix[main]: Allow less than 6 bookings for PRO as well and add proper min validation of 2+
  apps/web/pages/event-types/[type].tsx
Labels: ♻️ autoupdate

#2925 Remove subtitle in dialog for adding new schedule
  apps/web/components/availability/NewScheduleButton.tsx
Labels: 🐛 bug, ♻️ autoupdate, automerge

#2909 Add reschedule reason to DB and emails
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/lib/emails/templates/attendee-request-reschedule-email.ts
  apps/web/lib/emails/templates/attendee-rescheduled-email.ts
  apps/web/lib/emails/templates/attendee-scheduled-email.ts
  apps/web/lib/emails/templates/organizer-request-reschedule-email.ts
  apps/web/lib/emails/templates/organizer-rescheduled-email.ts
  apps/web/lib/emails/templates/organizer-scheduled-email.ts
  apps/web/pages/api/book/event.ts
  apps/web/playwright/reschedule.test.ts
  apps/web/public/static/locales/en/common.json
  packages/app-store/vital/lib/templates/attendee-request-reschedule-email.ts
  packages/app-store/vital/lib/templates/base-template.ts
  packages/app-store/vital/lib/templates/organizer-request-reschedule-email.ts
  packages/app-store/wipemycalother/lib/templates/attendee-request-reschedule-email.ts
  packages/app-store/wipemycalother/lib/templates/base-template.ts
  packages/app-store/wipemycalother/lib/templates/organizer-request-reschedule-email.ts
  packages/core/EventManager.ts
Labels: ♻️ autoupdate

#2857 Invalid Payment URL gives 500
  apps/web/ee/pages/payment/[uid].tsx
Labels: ♻️ autoupdate, automerge
