Repository calcom/cal.com, pull requests merged in 2022-07, with the labels that each got.

#3171 Team event type scroll, manage team invite from mobile
  apps/web/components/eventtype/CreateEventType.tsx
  apps/web/components/team/TeamListItem.tsx
Labels: ♻️ autoupdate

#3206 Seats events send email to attendees and organizer
  apps/web/pages/api/book/event.ts
  apps/web/public/static/locales/en/common.json
  packages/emails/email-manager.ts
  packages/emails/src/templates/OrganizerScheduledEmail.tsx
  packages/emails/templates/organizer-scheduled-email.ts
Labels: ♻️ autoupdate, automerge

#3197 Attach credential id to destinationCalendar records
  apps/web/server/routers/viewer.tsx
  packages/app-store/googlecalendar/lib/CalendarService.ts
  packages/app-store/office365calendar/lib/CalendarService.ts
  packages/core/CalendarManager.ts
  packages/core/EventManager.ts
  packages/prisma/migrations/20220629151617_connect_destination_calendar_to_credential/migration.sql
  packages/prisma/schema.prisma
  packages/types/Calendar.d.ts
Labels: ❗️ migrations

#3249 Show error message for invalid phone number when booking an event
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/components/dialog/EditLocationDialog.tsx
  apps/web/public/static/locales/en/common.json
Labels: ♻️ autoupdate, automerge

#2306 feature/settings-username-update
  .env.example
  .github/workflows/e2e-embed.yml
  .github/workflows/e2e.yml
  apps/web/components/ui/UsernameAvailability/PremiumTextfield.tsx
  apps/web/components/ui/UsernameAvailability/UsernameTextfield.tsx
  apps/web/components/ui/UsernameAvailability/index.tsx
  apps/web/lib/core/server/checkRegularUsername.ts
  apps/web/lib/core/server/checkUsername.ts
  apps/web/pages/api/intent-username/index.ts
  apps/web/pages/api/username.ts
  apps/web/pages/auth/sso/[provider].tsx
  apps/web/pages/getting-started.tsx
  apps/web/pages/settings/profile.tsx
  apps/web/playwright/change-username.test.ts
  apps/web/playwright/integrations-stripe.test.ts
  apps/web/public/static/locales/en/common.json
  apps/web/server/routers/viewer.tsx
  packages/app-store/stripepayment/api/index.ts
  packages/app-store/stripepayment/api/subscription.ts
  packages/app-store/vital/api/settings.ts
  packages/ee/lib/core/checkPremiumUsername.ts
  packages/lib/constants.ts
  packages/lib/fetchUsername.ts
  packages/lib/hasKeyInMetadata.ts
  packages/prisma/zod-utils.ts
  packages/stripe/constants.ts
  packages/stripe/subscriptions.ts
  packages/stripe/utils.ts
  turbo.json
  yarn.lock
Labels: ✨ feature, ♻️ autoupdate, ❗️ changes requested, automerge

#3236 Workflows
  .env.example
  apps/web/components/Shell.tsx
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/components/ui/form/MultiSelectCheckboxes.tsx
  apps/web/ee/components/workflows/AddActionDialog.tsx
  apps/web/ee/components/workflows/NewWorkflowButton.tsx
  apps/web/ee/components/workflows/WorkflowDetailsPage.tsx
  apps/web/ee/components/workflows/WorkflowListPage.tsx
  apps/web/ee/components/workflows/WorkflowStepContainer.tsx
  apps/web/ee/lib/workflows/constants.ts
  apps/web/ee/lib/workflows/getOptions.ts
  apps/web/ee/lib/workflows/reminders/emailReminderManager.ts
  apps/web/ee/lib/workflows/reminders/reminderScheduler.ts
  apps/web/ee/lib/workflows/reminders/smsProviders/twilioProvider.ts
  apps/web/ee/lib/workflows/reminders/smsReminderManager.ts
  apps/web/ee/lib/workflows/reminders/templates/emailReminderTemplate.ts
  apps/web/ee/lib/workflows/reminders/templates/smsReminderTemplate.ts
  apps/web/ee/pages/api/cron/workflows/scheduleEmailReminders.ts
  apps/web/ee/pages/api/cron/workflows/scheduleSMSReminders.ts
  apps/web/ee/pages/workflows/[workflow].tsx
  apps/web/ee/pages/workflows/index.tsx
  apps/web/lib/types/booking.ts
  apps/web/pages/api/book/confirm.ts
  apps/web/pages/api/book/event.ts
  apps/web/pages/api/cancel.ts
  apps/web/pages/team/[slug]/book.tsx
  apps/web/pages/workflows/[workflow].tsx
  apps/web/pages/workflows/index.tsx
  apps/web/public/static/locales/en/common.json
  apps/web/server/routers/viewer.tsx
  apps/web/server/routers/viewer/workflows.tsx
  packages/ee/package.json
  packages/emails/email-manager.ts
  packages/emails/templates/workflow-reminder-email.ts
  packages/lib/defaultEvents.ts
  packages/prisma/migrations/20220711182928_add_workflows/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/selects/event-types.ts
  packages/prisma/zod-utils.ts
  packages/ui/form/fields.tsx
  yarn.lock
Labels: ♻️ autoupdate, automerge

#3346 Adds a fully extensible command(ctrl)+k interface for Cal
  apps/web/components/Kbar.tsx
  apps/web/components/Shell.tsx
  apps/web/package.json
  apps/web/public/static/locales/en/common.json
  packages/lib/isMac.ts
Labels: ♻️ autoupdate, automerge

#3380 minor improvements to routing forms
  apps/web/components/ui/form/Select.tsx
  apps/web/next.config.js
  packages/app-store/ee/routing_forms/api/responses/[formId].ts
  packages/app-store/ee/routing_forms/components/RoutingNavBar.tsx
  packages/app-store/ee/routing_forms/components/RoutingShell.tsx
  packages/app-store/ee/routing_forms/components/SideBar.tsx
  packages/app-store/ee/routing_forms/pages/form-edit/[...appPages].tsx
  packages/app-store/ee/routing_forms/pages/forms/[...appPages].tsx
  packages/app-store/ee/routing_forms/pages/route-builder/[...appPages].tsx
  packages/app-store/ee/routing_forms/pages/routing-link/[...appPages].tsx
  packages/app-store/ee/routing_forms/playwright/tests/basic.test.ts
  packages/app-store/ee/routing_forms/trpc-router.ts
  packages/ui/EmptyScreen.tsx
  packages/ui/form/Select.tsx
  yarn.lock
Labels: automerge

#3383 extracted upgrade to pro strings
  apps/web/ee/pages/settings/teams/[id]/availability.tsx
  apps/web/ee/pages/workflows/[workflow].tsx
  apps/web/ee/pages/workflows/index.tsx
  apps/web/public/static/locales/en/common.json
Labels: ♻️ autoupdate, automerge

#3391 Edited minor typo
  apps/web/public/static/locales/en/common.json
Labels: ♻️ autoupdate, automerge

#3394 HOTFIX: fixes soft failing on settings/profile routes
  apps/web/components/Kbar.tsx
  packages/app-store/apps.browser.generated.tsx
  packages/app-store/apps.server.generated.ts
Labels: ♻️ autoupdate

#3181 Disables batching for i18n query
  apps/web/components/I18nLanguageHandler.tsx
  apps/web/lib/app-providers.tsx
  apps/web/pages/_app.tsx
  apps/web/pages/settings/profile.tsx
Labels: ♻️ autoupdate, automerge

#3446 Hotfix: Fix failing api build
  apps/web/ee/lib/workflows/reminders/smsReminderManager.ts
Labels: ♻️ autoupdate, automerge

#3448 Hotfix: Cancelling recurring vs single event
  apps/web/components/booking/BookingListItem.tsx
  apps/web/lib/parseDate.ts
  apps/web/pages/api/cancel.ts
  apps/web/pages/bookings/[status].tsx
  apps/web/pages/cancel/[uid].tsx
  apps/web/public/static/locales/en/common.json
  apps/web/server/routers/viewer.tsx
Labels: ♻️ autoupdate, automerge

#3469 Fixed action button display while responsive and fix translations
  apps/web/components/ui/UsernameAvailability/PremiumTextfield.tsx
  apps/web/components/ui/UsernameAvailability/UsernameTextfield.tsx
  apps/web/public/static/locales/en/common.json
Labels: ♻️ autoupdate, automerge

#3470 Fixed action button display while responsive and fix translations
  apps/web/components/ui/UsernameAvailability/PremiumTextfield.tsx
  apps/web/components/ui/UsernameAvailability/UsernameTextfield.tsx
  apps/web/public/static/locales/en/common.json
Labels: ♻️ autoupdate, automerge

#3453 fix/error-handling-with-proper-status
  packages/lib/errors.ts
Labels: 🐛 bug

#3474 Show error message when workflow id is invalid
  apps/web/ee/pages/workflows/[workflow].tsx
  apps/web/server/routers/viewer/workflows.tsx
Labels: ♻️ autoupdate, automerge

#3475 Fix TS errors and weird instances of undefined error due to prisma upgrade and turbo cache
  packages/lib/errors.ts
  turbo.json
Labels: automerge

#3480 Hovering Text over Button
  apps/web/components/availability/Schedule.tsx
  apps/web/public/static/locales/en/common.json
  apps/web/public/static/locales/fr/common.json
Labels: ♻️ autoupdate, automerge

#3450 Team Impersonation
  .env.example
  apps/web/components/team/DisableTeamImpersonation.tsx
  apps/web/components/team/MemberListItem.tsx
  apps/web/ee/lib/impersonation/ImpersonationProvider.ts
  apps/web/lib/queries/teams/index.ts
  apps/web/pages/settings/teams/[id]/index.tsx
  apps/web/public/static/locales/en/common.json
  apps/web/server/routers/viewer/teams.tsx
  packages/prisma/migrations/20220719144253_disabled_impersonation_teams/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/seed.ts
Labels: ♻️ autoupdate, ❗️ migrations, automerge

#3393 Self-hosted onboarding first admin wizard
  apps/web/pages/api/auth/setup.ts
  apps/web/pages/auth/login.tsx
  apps/web/pages/auth/setup.tsx
  apps/web/public/static/locales/en/common.json
  packages/lib/auth.ts
  packages/ui/Stepper.tsx
  packages/ui/WizardForm.tsx
Labels: 🚧 wip / in the making, ♻️ autoupdate, automerge

#3493 Hotfix/Production: Embed ModalBox - Hidden Content (#3491)
  packages/embeds/embed-core/src/ModalBox/ModalBoxHtml.ts
  packages/embeds/embed-core/src/embed.ts
Labels: automerge

#3494 Hotfix: Fix Cancellation 500 error if one of the new video apps are installed
  packages/core/videoClient.ts
  packages/types/VideoApiAdapter.d.ts
Labels: ♻️ autoupdate, automerge

#3497 Add session info to Beacon
  apps/web/components/Shell.tsx
Labels: automerge

#3500 Fixing already installed apps & link to them
  apps/web/components/App.tsx
  apps/web/components/integrations/CalendarListContainer.tsx
  apps/web/components/integrations/IntegrationListItem.tsx
  apps/web/pages/apps/installed.tsx
Labels: ♻️ autoupdate

#3509 Wipe my cal e2e fixes
  apps/web/playwright/wipe-my-cal.test.ts
Labels: ♻️ autoupdate, automerge

#3502 HubSpot app improvement: create contacts
  apps/web/pages/success.tsx
  packages/app-store/hubspotothercalendar/README.mdx
  packages/app-store/hubspotothercalendar/lib/CalendarService.ts
Labels: ♻️ autoupdate

#3523 Fixes/bookings 500
  apps/web/pages/bookings/[status].tsx
Labels: 🐛 bug, ♻️ autoupdate, automerge

#3516 Fixes Atlantic/Azores blank results
  apps/web/components/booking/pages/AvailabilityPage.tsx
Labels: ♻️ autoupdate, automerge

#3527 Fixes translation for 'occurence'
  packages/lib/recurringStrings.ts
Labels: ♻️ autoupdate, automerge

#3263 Feat: Add next-themes for theme handling
  apps/web/components/Shell.tsx
  apps/web/components/booking/CancelBooking.tsx
  apps/web/components/booking/pages/AvailabilityPage.tsx
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/ee/components/stripe/PaymentPage.tsx
  apps/web/lib/app-providers.tsx
  apps/web/lib/hooks/useTheme.tsx
  apps/web/package.json
  apps/web/pages/[user].tsx
  apps/web/pages/[user]/[type].tsx
  apps/web/pages/[user]/book.tsx
  apps/web/pages/_app.tsx
  apps/web/pages/apps/[slug]/[...pages].tsx
  apps/web/pages/d/[link]/[slug].tsx
  apps/web/pages/d/[link]/book.tsx
  apps/web/pages/success.tsx
  apps/web/pages/team/[slug].tsx
  apps/web/pages/team/[slug]/[type].tsx
  apps/web/pages/team/[slug]/book.tsx
  packages/app-store/ee/routing_forms/pages/routing-link/[...appPages].tsx
  packages/ee/server/checkLicense.ts
  yarn.lock
Labels: ♻️ autoupdate, automerge

#3498 Prevent team members from creating events
  apps/web/components/eventtype/CreateEventType.tsx
  packages/trpc/server/routers/viewer/eventTypes.tsx
Labels: ♻️ autoupdate, automerge

#3543 Hotfix: Embed - Avoid global variables leak by making the entire code IIFE
  packages/embeds/embed-core/vite.config.js
Labels: ♻️ autoupdate, automerge

#3534 Fix/office365 api call
  packages/app-store/_utils/getAppKeysFromSlug.ts
  packages/app-store/_utils/getParsedAppKeysFromSlug.ts
  packages/app-store/office365calendar/lib/CalendarService.ts
  packages/app-store/office365calendar/lib/getOfficeAppKeys.ts
  packages/core/CalendarManager.ts
  packages/core/getBusyTimes.ts
  packages/core/getUserAvailability.ts
  packages/lib/errors.ts
  packages/trpc/server/routers/viewer/slots.tsx
Labels: ♻️ autoupdate, automerge

#3532 Few updates to V2 components
  apps/storybook/stories/Cards.stories.tsx
  apps/storybook/stories/HorizontalTab.stories.tsx
  packages/lib/defaultAvatarImage.ts
  packages/ui/package.json
  packages/ui/v2/Breadcrumb.tsx
  packages/ui/v2/Card.tsx
  packages/ui/v2/index.tsx
  packages/ui/v2/navigation/tabs/HorizontalTabItem.tsx
  packages/ui/v2/navigation/tabs/HorizontalTabs.tsx
  packages/ui/v2/navigation/tabs/index.tsx
Labels: ♻️ autoupdate, 👀 ready for review

#3486 Feat/onboarding admin
  apps/web/pages/api/auth/setup.ts
  apps/web/pages/auth/login.tsx
  apps/web/pages/auth/setup.tsx
  apps/web/public/static/locales/en/common.json
  packages/config/tailwind-preset.js
  packages/lib/auth.ts
  packages/ui/v2/Stepper.tsx
  packages/ui/v2/WizardForm.tsx
  packages/ui/v2/form/fields.tsx
Labels: ♻️ autoupdate

#3530 Embedded Routing Forms - Part1
  apps/web/components/ui/form/Select.tsx
  apps/web/lib/app-providers.tsx
  apps/web/lib/hooks/useTheme.tsx
  apps/web/pages/_app.tsx
  apps/web/pages/_document.tsx
  apps/web/pages/apps/[slug]/[...pages].tsx
  packages/app-store/ee/routing_forms/components/react-awesome-query-builder/widgets.tsx
  packages/app-store/ee/routing_forms/pages/routing-link/[...appPages].tsx
  packages/embeds/embed-core/README.md
  packages/embeds/embed-core/index.html
  packages/embeds/embed-core/playwright/config/playwright.config.ts
  packages/embeds/embed-core/playwright/tests/action-based.test.ts
  packages/embeds/embed-core/src/embed-iframe.ts
  packages/prisma/seed-app-store.ts
  packages/prisma/seed.ts
Labels: ♻️ autoupdate, automerge

#3605 Fix last day of month handling logic in tests
  apps/web/test/lib/getSchedule.test.ts
Labels: ♻️ autoupdate, automerge

#3606 Fix design of phone input
  packages/features/ee/workflows/components/WorkflowStepContainer.tsx
Labels: ♻️ autoupdate, automerge

#3604 Refactors twilio provider
  packages/features/ee/workflows/lib/reminders/smsProviders/twilioProvider.ts
Labels: ♻️ autoupdate, automerge
