Repository calcom/cal.com, pull requests merged in 2022-11, with the labels that each got.

#5299 Fix avatar infinite redirect
  apps/web/pages/api/user/avatar.ts
  packages/trpc/server/createContext.ts
Labels: ♻️ autoupdate, automerge

#5311 Fix profile page data reset on re-focus of window
  apps/web/pages/settings/my-account/profile.tsx
Labels: ♻️ autoupdate, automerge

#5288 🧹 Cleaned up older v1 components for availability, settings and auth.
  apps/web/components/availability/NewScheduleButton.tsx
  apps/web/components/availability/Schedule.tsx
  apps/web/components/availability/ScheduleListItem.tsx
  apps/web/components/availability/SkeletonLoader.tsx
  apps/web/components/booking/SkeletonLoader.tsx
  apps/web/components/settings/CalendarSwitch.tsx
  apps/web/components/settings/DisableTwoFactorModal.tsx
  apps/web/components/settings/EnableTwoFactorModal.tsx
  apps/web/components/settings/TwoFactorAuthAPI.ts
  apps/web/components/ui/AuthContainer.tsx
  apps/web/components/v2/availability/SkeletonLoader.tsx
  apps/web/components/v2/bookings/SkeletonLoader.tsx
  apps/web/components/v2/eventtype/AvailabilityTab.tsx
  apps/web/components/v2/ui/AuthContainer.tsx
  apps/web/pages/apps/categories/[category].tsx
  apps/web/pages/apps/installed/[category].tsx
  apps/web/pages/auth/forgot-password/[id].tsx
  apps/web/pages/auth/forgot-password/index.tsx
  apps/web/pages/auth/login.tsx
  apps/web/pages/auth/logout.tsx
  apps/web/pages/availability/[schedule].tsx
  apps/web/pages/availability/index.tsx
  apps/web/pages/bookings/[status].tsx
  apps/web/pages/old-getting-started.tsx
  apps/web/pages/settings/my-account/calendars.tsx
  apps/web/pages/settings/security/two-factor-auth.tsx
Labels: ♻️ autoupdate

#5319 Provide update feedback on event type settings
  apps/web/components/v2/eventtype/EventTypeSingleLayout.tsx
  apps/web/pages/event-types/[type]/index.tsx
Labels: ♻️ autoupdate, automerge

#5318 fix: add dark mode
  apps/web/pages/success.tsx
Labels: ♻️ autoupdate, automerge

#5321 Fixed description by manually implementing asSafeHTML
  apps/web/pages/[user]/[type].tsx
Labels: ♻️ autoupdate, automerge

#5248 Buffer limits fix
  apps/web/lib/hooks/useSlots.ts
  apps/web/test/lib/slots.test.ts
  packages/core/getBusyTimes.ts
  packages/core/getUserAvailability.ts
  packages/trpc/server/routers/viewer/slots.tsx
Labels: ♻️ autoupdate, automerge

#5328 Fix issue that workflows sometimes need refresh to show updated data
  packages/features/ee/workflows/components/v2/TimeTimeUnitInput.tsx
  packages/features/ee/workflows/pages/v2/workflow.tsx
Labels: ♻️ autoupdate, automerge

#5347 Hotfix/production/Email not updating
  apps/web/pages/settings/my-account/profile.tsx
Labels: ♻️ autoupdate, automerge

#5326 feature/sentry.io for web
  .env.example
  apps/web/.gitignore
  apps/web/next.config.js
  apps/web/package.json
  apps/web/pages/_error.tsx
  apps/web/sentry.client.config.js
  apps/web/sentry.properties
  apps/web/sentry.server.config.js
  turbo.json
  yarn.lock
Labels: ♻️ autoupdate, automerge

#5349 fix: add hour12
  apps/web/components/v2/eventtype/AvailabilityTab.tsx
Labels: ♻️ autoupdate, automerge

#5261 Send Email to Owner on Form Submission
  apps/web/pages/apps/[slug]/[...pages].tsx
  apps/web/public/static/locales/en/common.json
  packages/app-store/ee/routing-forms/components/SingleForm.tsx
  packages/app-store/ee/routing-forms/emails/components/ResponseEmail.tsx
  packages/app-store/ee/routing-forms/emails/components/index.tsx
  packages/app-store/ee/routing-forms/emails/templates/response-email.ts
  packages/app-store/ee/routing-forms/lib/getSerializableForm.ts
  packages/app-store/ee/routing-forms/pages/form-edit/[...appPages].tsx
  packages/app-store/ee/routing-forms/pages/route-builder/[...appPages].tsx
  packages/app-store/ee/routing-forms/trpc-router.ts
  packages/app-store/ee/routing-forms/types/types.d.ts
  packages/emails/src/templates/index.ts
  packages/prisma/migrations/20221028093727_add_routing_form_settings/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/zod-utils.ts
  packages/types/AppGetServerSideProps.d.ts
Labels: ♻️ autoupdate, ❗️ migrations, automerge

#5304 fix: use matcher in middleware
  apps/web/middleware.ts
Labels: ♻️ autoupdate, automerge

#5353 Routing Forms - UI Fixes
  packages/app-store/ee/routing-forms/components/react-awesome-query-builder/widgets.tsx
Labels: ♻️ autoupdate, automerge

#5159 feat: Improve edit availability workflow
  apps/web/pages/availability/[schedule].tsx
  packages/trpc/server/routers/viewer/availability.tsx
Labels: ♻️ autoupdate, automerge

#5379 /settings -> /settings/.. redirect in next.config.js is server only
  packages/ui/v2/core/Shell.tsx
Labels: ♻️ autoupdate, automerge

#5371 Hotfix:Fixes zoom tokens not being refreshed properly
  packages/app-store/zoomvideo/lib/VideoApiAdapter.ts
Labels: ♻️ autoupdate

#5390 fix/success-page-seats-description-5338
  apps/web/pages/success.tsx
Labels: ♻️ autoupdate, automerge

#5366 fix/google-calendar-removes-attendees-when-seats-5336
  apps/web/components/v2/eventtype/EventAdvancedTab.tsx
  packages/app-store/googlecalendar/lib/CalendarService.ts
  packages/core/EventManager.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/ee/teams/components/TeamAvailabilityScreen.tsx
  packages/features/ee/teams/components/v2/TeamAvailabilityScreen.tsx
  packages/features/schedules/components/NewScheduleButton.tsx
  packages/features/webhooks/pages/webhooks-view.tsx
  packages/ui/v2/core/apps/AppCard.tsx
Labels: ♻️ autoupdate, automerge

#5370 fix: bad link in booking page location
  apps/web/components/booking/AvailableEventLocations.tsx
Labels: ♻️ autoupdate, automerge

#5282 Guests will be able to add their own location for in person meetings
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/components/dialog/EditLocationDialog.tsx
  apps/web/components/v2/eventtype/EditLocationDialog.tsx
  apps/web/pages/event-types/[type]/index.tsx
  packages/app-store/locations.ts
  packages/ui/form/AddressInput.tsx
  packages/ui/form/AddressInputLazy.tsx
Labels: ♻️ autoupdate, automerge

#5234 use LOGO constant instead of fixed string in OgImages
  packages/lib/OgImages.tsx
Labels: ♻️ autoupdate, automerge

#5394 Remove unsupported operators by JSOnLogic
  packages/app-store/ee/routing-forms/components/react-awesome-query-builder/config/config.tsx
Labels: ♻️ autoupdate, automerge

#5396 [CAL-106] /onboarding - UI issues & small improvements
  apps/web/components/getting-started/steps-views/UserProfile.tsx
  apps/web/public/static/locales/en/common.json
Labels: ♻️ autoupdate, automerge

#5410 Downgrade plugin to match vite version
  packages/embeds/embed-react/package.json
  yarn.lock
Labels: ♻️ autoupdate, automerge

#5133 Support header in Routing Form CSV
  packages/app-store/ee/routing-forms/api/responses/[formId].ts
  packages/app-store/ee/routing-forms/lib/getSerializableForm.ts
  packages/app-store/ee/routing-forms/playwright/tests/basic.e2e.ts
  packages/app-store/ee/routing-forms/trpc-router.ts
  packages/app-store/ee/routing-forms/types/types.d.ts
  packages/app-store/ee/routing-forms/zod.ts
Labels: ♻️ autoupdate, automerge

#5414 fix: event types embed back button url
  apps/web/components/Embed.tsx
Labels: ♻️ autoupdate, automerge

#5425 Reverted Sentry for debug purposes
  .env.example
  apps/web/.gitignore
  apps/web/next.config.js
  apps/web/package.json
  apps/web/pages/_error.tsx
  apps/web/sentry.client.config.js
  apps/web/sentry.properties
  apps/web/sentry.server.config.js
  turbo.json
  yarn.lock
Labels: ♻️ autoupdate, automerge

#5449 fix: use Intl to format month name
  packages/ui/v2/modules/booker/DatePicker.tsx
Labels: ♻️ autoupdate, automerge

#5454 Fix flakiness with WipeMyCal test
  apps/web/playwright/wipe-my-cal.e2e.ts
Labels: ♻️ autoupdate, automerge

#5456 Change button text to 'Browse App Store'
  apps/web/public/static/locales/en/common.json
Labels: ♻️ autoupdate, automerge

#5457 Self-hosted: Team Event Created without explicitly setting locations crashes on /booking page
  apps/web/pages/team/[slug]/book.tsx
Labels: ♻️ autoupdate, automerge

#5399 Removed v1 component split for event types component
  apps/web/components/eventtype/AvailabilityTab.tsx
  apps/web/components/eventtype/CustomInputTypeForm.tsx
  apps/web/components/eventtype/EditLocationDialog.tsx
  apps/web/components/eventtype/EventAdvancedTab.tsx
  apps/web/components/eventtype/EventAppsTab.tsx
  apps/web/components/eventtype/EventLimitsTab.tsx
  apps/web/components/eventtype/EventRecurringTab.tsx
  apps/web/components/eventtype/EventSetupTab.tsx
  apps/web/components/eventtype/EventTeamTab.tsx
  apps/web/components/eventtype/EventTypeSingleLayout.tsx
  apps/web/components/eventtype/EventWorkfowsTab.tsx
  apps/web/components/eventtype/RecurringEventController.tsx
  apps/web/components/eventtype/SkeletonLoader.tsx
  apps/web/components/v2/eventtype/SkeletonLoader.tsx
  apps/web/pages/event-types/[type]/index.tsx
  apps/web/pages/event-types/index.tsx
Labels: ♻️ autoupdate, automerge

#5452 fix: ui of webhook segment
  apps/web/public/static/locales/en/common.json
  packages/features/webhooks/components/WebhookForm.tsx
Labels: ♻️ autoupdate, automerge

#5462 App-Store/Delete Slack App
  README.md
  packages/app-store/apps.browser.generated.tsx
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/index.ts
  packages/app-store/slackmessaging/README.mdx
  packages/app-store/slackmessaging/_metadata.ts
  packages/app-store/slackmessaging/api/add.ts
  packages/app-store/slackmessaging/api/callback.ts
  packages/app-store/slackmessaging/api/commandHandler.ts
  packages/app-store/slackmessaging/api/index.ts
  packages/app-store/slackmessaging/api/interactiveHandler.ts
  packages/app-store/slackmessaging/components/InstallAppButton.tsx
  packages/app-store/slackmessaging/components/index.ts
  packages/app-store/slackmessaging/index.ts
  packages/app-store/slackmessaging/lib/WhereCredsEqualsID.ts
  packages/app-store/slackmessaging/lib/actions/createEvent.ts
  packages/app-store/slackmessaging/lib/index.ts
  packages/app-store/slackmessaging/lib/showCreateEventMessage.ts
  packages/app-store/slackmessaging/lib/showLinksMessage.ts
  packages/app-store/slackmessaging/lib/showTodayMessage.ts
  packages/app-store/slackmessaging/lib/slackVerify.ts
  packages/app-store/slackmessaging/lib/utils.ts
  packages/app-store/slackmessaging/lib/views/BookingSuccess.ts
  packages/app-store/slackmessaging/lib/views/CreateEventModal.ts
  packages/app-store/slackmessaging/lib/views/NoUser.ts
  packages/app-store/slackmessaging/lib/views/ShowLinks.ts
  packages/app-store/slackmessaging/lib/views/TodayMessage.ts
  packages/app-store/slackmessaging/lib/views/index.ts
  packages/app-store/slackmessaging/package.json
  packages/app-store/slackmessaging/static/1.jpg
  packages/app-store/slackmessaging/static/2.jpg
  packages/app-store/slackmessaging/static/3.jpg
  packages/app-store/slackmessaging/static/icon.svg
  packages/prisma/seed-app-store.ts
Labels: ♻️ autoupdate, automerge

#5436 Test Preview for routing forms
  apps/web/public/static/locales/en/common.json
  packages/app-store/ee/routing-forms/components/FormInputFields.tsx
  packages/app-store/ee/routing-forms/components/SingleForm.tsx
  packages/app-store/ee/routing-forms/components/react-awesome-query-builder/widgets.tsx
  packages/app-store/ee/routing-forms/pages/route-builder/[...appPages].tsx
  packages/app-store/ee/routing-forms/pages/routing-link/[...appPages].tsx
  packages/ui/Dialog.tsx
Labels: ♻️ autoupdate, automerge

#5415 fix: floating pop up button embed modal size
  apps/web/components/Embed.tsx
Labels: ♻️ autoupdate, automerge

#5465 fix: ui bugs in apps
  packages/app-store/_components/AppCard.tsx
  packages/ui/v2/core/navigation/tabs/VerticalTabItem.tsx
Labels: ♻️ autoupdate

#5478 Deprecated API endpoints cleanup
  apps/web/calendso.yaml
  apps/web/components/integrations/DisconnectStripeIntegration.tsx
  apps/web/pages/api/_README/README.md
  apps/web/pages/api/import/calendly.ts
  apps/web/pages/api/import/savvycal.ts
  apps/web/pages/api/integrations.ts
  apps/web/pages/api/intent-username/index.ts
  apps/web/pages/api/me.ts
  apps/web/pages/api/schedule/index.ts
  apps/web/pages/api/teams/[team]/index.ts
  apps/web/pages/api/teams/[team]/invite.ts
  apps/web/pages/api/teams/[team]/membership.ts
  apps/web/pages/api/teams/[team]/profile.ts
  apps/web/pages/api/upgrade.ts
  apps/web/pages/api/user/[id].ts
  apps/web/pages/api/user/me.ts
  apps/web/pages/api/user/membership.ts
  apps/web/pages/api/user/profile.ts
  apps/web/pages/api/v2-opt-in.ts
  apps/web/pages/settings/billing/index.tsx
  packages/app-store/larkcalendar/lib/CalendarService.ts
  packages/features/ee/common/components/TrialBanner.tsx
  packages/ui/UpgradeToProDialog.tsx
Labels: ♻️ autoupdate, automerge

#5482 fix: use .watch() to disable update btn
  apps/web/pages/settings/my-account/profile.tsx
Labels: ♻️ autoupdate, automerge

#5476 fix/team-billing-update-publish-form
  packages/features/ee/teams/pages/team-profile-view.tsx
  packages/lib/server/queries/teams/index.ts
  packages/trpc/server/routers/viewer/teams.tsx
Labels: ♻️ autoupdate, automerge

#5497 fix: booking rejection message
  apps/web/components/booking/BookingListItem.tsx
  apps/web/public/static/locales/en/common.json
  packages/trpc/server/routers/viewer/bookings.tsx
Labels: ♻️ autoupdate, automerge

#5487 Add e2e tests for test preview (routing forms)
  apps/web/public/static/locales/en/common.json
  packages/app-store/ee/routing-forms/components/FormInputFields.tsx
  packages/app-store/ee/routing-forms/components/SingleForm.tsx
  packages/app-store/ee/routing-forms/playwright/tests/basic.e2e.ts
Labels: ♻️ autoupdate, automerge

#5217 Minimum booking notice will allow hours and days
  apps/web/components/eventtype/EventLimitsTab.tsx
  apps/web/pages/event-types/[type]/index.tsx
  packages/lib/convertToNewDurationType.ts
  packages/lib/findDurationType.ts
  packages/ui/components/form/inputs/Input.tsx
Labels: ♻️ autoupdate, automerge

#5412 Removed unused ui components and updated skeleton components
  apps/web/components/App.tsx
  apps/web/components/apps/App.tsx
  apps/web/components/booking/AvailableTimes.tsx
  apps/web/components/eventtype/SkeletonLoader.tsx
  apps/web/components/integrations/CalendarListContainer.tsx
  apps/web/components/integrations/DisconnectIntegration.tsx
  packages/app-store/rainbow/components/RainbowKit.tsx
  packages/features/ee/teams/components/SkeletonloaderTeamList.tsx
  packages/features/ee/teams/components/v2/SkeletonLoaderAvailabilityTimes.tsx
  packages/features/ee/workflows/components/v2/SkeletonLoaderEdit.tsx
  packages/ui/BooleanToggleGroup.tsx
  packages/ui/CustomBranding.tsx
  packages/ui/apps/SkeletonLoader.tsx
  packages/ui/booker/DatePicker.tsx
  packages/ui/index.tsx
  packages/ui/skeleton/index.tsx
Labels: ♻️ autoupdate, automerge

#5510 Routing Forms - Routing tab text fixes.
  packages/app-store/ee/routing-forms/pages/route-builder/[...appPages].tsx
Labels: ♻️ autoupdate, automerge

#5513 Stops content pushing on windows browsers due to overflow-y
  packages/ui/v2/core/layouts/SettingsLayout.tsx
Labels: 🐛 bug, ♻️ autoupdate, automerge

#5531 fix: use tooltip and max-w
  packages/ui/v2/core/navigation/tabs/VerticalTabItem.tsx
Labels: ♻️ autoupdate

#5533 Event row style improvements
  apps/web/components/eventtype/SkeletonLoader.tsx
  apps/web/pages/event-types/index.tsx
  packages/features/ee/teams/components/SkeletonloaderTeamList.tsx
  packages/features/ee/workflows/components/v2/SkeletonLoaderEdit.tsx
  packages/features/ee/workflows/components/v2/SkeletonLoaderList.tsx
Labels: automerge

#5298 Booking success query refactor
  apps/web/components/booking/BookingListItem.tsx
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/pages/success.tsx
  apps/web/playwright/booking-pages.e2e.ts
  apps/web/playwright/dynamic-booking-pages.e2e.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/ee/payments/components/Payment.tsx
  packages/features/ee/payments/components/PaymentPage.tsx
  packages/features/ee/payments/pages/payment.tsx
Labels: ♻️ autoupdate

#5447 Improving cancellation flow
  apps/web/components/booking/BookingListItem.tsx
  apps/web/components/booking/CancelBooking.tsx
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/pages/cancel/[uid].tsx
  apps/web/pages/cancel/success.tsx
  apps/web/pages/success.tsx
  apps/web/playwright/booking-pages.e2e.ts
  apps/web/playwright/dynamic-booking-pages.e2e.ts
  apps/web/public/static/locales/en/common.json
  packages/emails/src/components/ManageLink.tsx
  packages/lib/CalEventParser.ts
Labels: automerge

#5541 Adds team upgrade banner
  apps/web/public/static/locales/en/common.json
  packages/features/ee/teams/api/upgrade.ts
  packages/features/ee/teams/components/TeamListItem.tsx
  packages/features/ee/teams/components/TeamsUpgradeBanner.tsx
  packages/features/ee/teams/components/index.ts
  packages/features/ee/teams/lib/payments.ts
  packages/trpc/server/routers/viewer/teams.tsx
  packages/ui/components/top-banner/TopBanner.tsx
  packages/ui/v2/core/Shell.tsx
Labels: ♻️ autoupdate, automerge

#5498 fix: use zod for validation
  packages/features/ee/teams/pages/team-profile-view.tsx
Labels: ♻️ autoupdate, automerge

#5636 Attempt to fix vercel edge crash
  apps/web/next.config.js
Labels: ♻️ autoupdate

#5576 fix formState and undefined value
  apps/web/components/eventtype/EventLimitsTab.tsx
  apps/web/pages/event-types/[type]/index.tsx
Labels: ♻️ autoupdate

#5641 added whatsapp link MVP app
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/whatsapp/README.mdx
  packages/app-store/whatsapp/_metadata.ts
  packages/app-store/whatsapp/api/add.ts
  packages/app-store/whatsapp/api/index.ts
  packages/app-store/whatsapp/components/.gitkeep
  packages/app-store/whatsapp/config.json
  packages/app-store/whatsapp/index.ts
  packages/app-store/whatsapp/package.json
  packages/app-store/whatsapp/static/1.jpg
  packages/app-store/whatsapp/static/2.jpg
  packages/app-store/whatsapp/static/3.jpg
  packages/app-store/whatsapp/static/icon.svg
  packages/prisma/seed-app-store.config.json
Labels: 📱 app

#5627 [CAL-395] Change text from "Delete Team" to "Disband Team" on the Button
  apps/web/playwright/teams.e2e.ts
  apps/web/public/static/locales/ar/common.json
  apps/web/public/static/locales/cs/common.json
  apps/web/public/static/locales/de/common.json
  apps/web/public/static/locales/en/common.json
  apps/web/public/static/locales/es/common.json
  apps/web/public/static/locales/fr/common.json
  apps/web/public/static/locales/he/common.json
  apps/web/public/static/locales/it/common.json
  apps/web/public/static/locales/ja/common.json
  apps/web/public/static/locales/ko/common.json
  apps/web/public/static/locales/nl/common.json
  apps/web/public/static/locales/pl/common.json
  apps/web/public/static/locales/pt-BR/common.json
  apps/web/public/static/locales/pt/common.json
  apps/web/public/static/locales/ro/common.json
  apps/web/public/static/locales/ru/common.json
  apps/web/public/static/locales/sr/common.json
  apps/web/public/static/locales/sv/common.json
  apps/web/public/static/locales/tr/common.json
  apps/web/public/static/locales/uk/common.json
  apps/web/public/static/locales/vi/common.json
  apps/web/public/static/locales/zh-CN/common.json
  apps/web/public/static/locales/zh-TW/common.json
  packages/features/ee/teams/pages/team-profile-view.tsx
Labels: ♻️ autoupdate

#5645 signal app
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/signal/README.mdx
  packages/app-store/signal/_metadata.ts
  packages/app-store/signal/api/add.ts
  packages/app-store/signal/api/index.ts
  packages/app-store/signal/components/.gitkeep
  packages/app-store/signal/config.json
  packages/app-store/signal/index.ts
  packages/app-store/signal/package.json
  packages/app-store/signal/static/1.jpg
  packages/app-store/signal/static/2.jpg
  packages/app-store/signal/static/icon.svg
  packages/prisma/seed-app-store.config.json
Labels: ♻️ autoupdate, 📱 app

#5643 telegram app
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/telegram/README.mdx
  packages/app-store/telegram/_metadata.ts
  packages/app-store/telegram/api/add.ts
  packages/app-store/telegram/api/index.ts
  packages/app-store/telegram/components/.gitkeep
  packages/app-store/telegram/config.json
  packages/app-store/telegram/index.ts
  packages/app-store/telegram/package.json
  packages/app-store/telegram/static/1.jpg
  packages/app-store/telegram/static/2.jpg
  packages/app-store/telegram/static/3.jpg
  packages/app-store/telegram/static/icon.svg
  packages/prisma/seed-app-store.config.json
Labels: ♻️ autoupdate, 📱 app

#5659 Fix/event type clone
  packages/trpc/server/routers/viewer/eventTypes.tsx
Labels: ♻️ autoupdate

#5657 Fix rescheduling error with attendee phone number as location
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/pages/success.tsx
  packages/prisma/zod-utils.ts
Labels: ♻️ autoupdate

#5656 SMS workflow actions for all users
  packages/features/ee/workflows/components/AddActionDialog.tsx
  packages/features/ee/workflows/components/WorkflowDetailsPage.tsx
  packages/features/ee/workflows/components/WorkflowStepContainer.tsx
  packages/trpc/server/routers/viewer/workflows.tsx
Labels: ♻️ autoupdate

#5592 fix: disable update button when nothing changed
  apps/web/pages/settings/my-account/appearance.tsx
Labels: ♻️ autoupdate

#5651 [CAL-126] onboarding: step 3 not mobile friendly
  packages/features/schedules/components/Schedule.tsx
Labels: ♻️ autoupdate

#5679 Fix Impersonation Refresh Bug
  apps/web/pages/settings/admin/impersonation.tsx
  packages/features/ee/impersonation/components/ImpersonatingBanner.tsx
  packages/ui/v2/core/layouts/AdminLayout.tsx
Labels: ♻️ autoupdate

#5675 fix: add team member dialog ui updated
  packages/features/ee/teams/components/AddNewTeamMembers.tsx
  packages/features/ee/teams/components/CreateANewTeamForm.tsx
  packages/features/ee/teams/components/MemberInvitationModal.tsx
  packages/features/ee/teams/pages/team-members-view.tsx
  packages/ui/components/form/checkbox/Checkbox.tsx
  packages/ui/v2/core/form/ToggleGroup.tsx
Labels: ♻️ autoupdate

#5676 [CAL-317] Confirmation Email - Footer text isn't properly formatted
  packages/emails/src/components/ManageLink.tsx
Labels: ♻️ autoupdate

#5690 added tracking links to tips
  packages/ui/v2/modules/tips/Tips.tsx
Labels: ♻️ autoupdate

#5691 fix: ui of reschedule dialog
  apps/web/components/dialog/RescheduleDialog.tsx
Labels: ♻️ autoupdate

#5727 Prevent importing anything from /ui from breaking because of window usage in embed
  packages/embeds/embed-core/src/embed-iframe.ts
Labels: ♻️ autoupdate

#5660 Allow clients to choose different duration for a meeting
  apps/web/components/booking/BookingDescription.tsx
  apps/web/components/booking/pages/AvailabilityPage.tsx
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/components/eventtype/EventSetupTab.tsx
  apps/web/lib/hooks/useRouterQuery.ts
  apps/web/pages/[user]/[type].tsx
  apps/web/pages/[user]/book.tsx
  apps/web/pages/d/[link]/book.tsx
  apps/web/pages/event-types/[type]/index.tsx
  apps/web/pages/success.tsx
  apps/web/pages/team/[slug]/book.tsx
  apps/web/public/static/locales/en/common.json
  packages/prisma/seed.ts
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer/slots.tsx
  packages/ui/v2/modules/event-types/EventTypeDescription.tsx
Labels: ✨ feature, ♻️ autoupdate, automerge, :scroll: Needs Documentation Update

#5714 Dialog Api improvements
  apps/web/components/Embed.tsx
  apps/web/components/ImageUploader.tsx
  apps/web/components/booking/BookingListItem.tsx
  apps/web/components/dialog/EditLocationDialog.tsx
  apps/web/components/dialog/RescheduleDialog.tsx
  apps/web/components/eventtype/CreateEventType.tsx
  apps/web/components/eventtype/EditLocationDialog.tsx
  apps/web/components/eventtype/EventAdvancedTab.tsx
  apps/web/components/settings/DisableTwoFactorModal.tsx
  apps/web/components/settings/EnableTwoFactorModal.tsx
  apps/web/components/ui/UsernameAvailability/PremiumTextfield.tsx
  apps/web/components/ui/UsernameAvailability/UsernameTextfield.tsx
  apps/web/pages/settings/developer/api-keys.tsx
  apps/web/pages/settings/my-account/conferencing.tsx
  apps/web/pages/settings/my-account/profile.tsx
  packages/app-store/ee/routing-forms/components/FormActions.tsx
  packages/app-store/ee/routing-forms/components/SingleForm.tsx
  packages/app-store/giphy/components/SearchDialog.tsx
  packages/app-store/office365video/components/AccountDialog.tsx
  packages/features/ee/sso/components/SAMLConfiguration.tsx
  packages/features/ee/teams/components/MemberChangeRoleModal.tsx
  packages/features/ee/teams/components/MemberInvitationModal.tsx
  packages/features/ee/teams/components/MemberListItem.tsx
  packages/features/ee/workflows/components/AddActionDialog.tsx
  packages/features/ee/workflows/components/WorkflowStepContainer.tsx
  packages/features/schedules/components/NewScheduleButton.tsx
  packages/ui/ConfirmationDialogContent.tsx
  packages/ui/TimezoneChangeDialog.tsx
  packages/ui/v2/core/ConfirmationDialogContent.tsx
  packages/ui/v2/core/Dialog.tsx
  packages/ui/v2/core/ImageUploader.tsx
  packages/ui/v2/modules/event-types/CreateEventType.tsx
  packages/ui/v2/modules/integrations/DisconnectIntegration.tsx
Labels: ♻️ autoupdate, automerge

#5719 Rename /success to /manage and fix link in calendar event
  apps/web/components/booking/BookingListItem.tsx
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/components/dialog/RescheduleDialog.tsx
  apps/web/lib/hooks/usePublicPage.ts
  apps/web/next.config.js
  apps/web/pages/404.tsx
  apps/web/pages/booking/[uid].tsx
  apps/web/pages/cancel/[uid].tsx
  apps/web/playwright/booking-pages.e2e.ts
  apps/web/playwright/dynamic-booking-pages.e2e.ts
  apps/web/playwright/lib/testUtils.ts
  apps/web/playwright/reschedule.e2e.ts
  packages/emails/templates/attendee-was-requested-to-reschedule-email.ts
  packages/features/ee/payments/components/Payment.tsx
  packages/lib/CalEventParser.ts
Labels: ♻️ autoupdate

#5520 fix: update new team cancel button url
  packages/features/ee/teams/components/CreateANewTeamForm.tsx
Labels: ♻️ autoupdate, automerge

#5168 added wordpress plugin
  packages/app-store/apps.browser.generated.tsx
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.schemas.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/wordpress/README.mdx
  packages/app-store/wordpress/_metadata.ts
  packages/app-store/wordpress/api/add.ts
  packages/app-store/wordpress/api/index.ts
  packages/app-store/wordpress/components/.gitkeep
  packages/app-store/wordpress/config.json
  packages/app-store/wordpress/extensions/EventTypeAppCard.tsx
  packages/app-store/wordpress/index.ts
  packages/app-store/wordpress/package.json
  packages/app-store/wordpress/plugin.php
  packages/app-store/wordpress/static/icon.svg
  packages/app-store/wordpress/zod.ts
  packages/prisma/seed-app-store.config.json
Labels: ♻️ autoupdate, automerge

#5810 Fixing button/select styles
  packages/ui/components/button/Button.tsx
  packages/ui/v2/core/form/select/Select.tsx
Labels: ♻️ autoupdate

#5795 Fixed listing formatting and save for custom inputs
  apps/web/components/eventtype/CustomInputTypeForm.tsx
  apps/web/components/eventtype/EventAdvancedTab.tsx
  apps/web/pages/booking/[uid].tsx
  packages/ui/v2/modules/event-types/CustomInputItem.tsx
Labels: ♻️ autoupdate

#5704 App Store Search
  apps/web/package.json
  apps/web/pages/apps/index.tsx
  apps/web/public/static/locales/en/common.json
  apps/web/styles/globals.css
  packages/features/ee/teams/components/CreateANewTeamForm.tsx
  packages/ui/components/form/inputs/Input.tsx
  packages/ui/package.json
  packages/ui/v2/core/Shell.tsx
  packages/ui/v2/core/apps/AllApps.tsx
  packages/ui/v2/core/apps/AppCard.tsx
  packages/ui/v2/core/layouts/AppsLayout.tsx
  packages/ui/v2/core/navigation/tabs/HorizontalTabs.tsx
  yarn.lock
Labels: ♻️ autoupdate, automerge, :scroll: Needs Documentation Update
