Repository calcom/cal.com, pull requests merged in 2022-02, with the labels that each got.

#1603 Web3 App
  .env.example
  components/NavTabs.tsx
  components/booking/pages/AvailabilityPage.tsx
  components/booking/pages/BookingPage.tsx
  contexts/contractsContext.tsx
  ee/components/web3/CryptoSection.tsx
  lib/integrations/getIntegrations.ts
  lib/types/event-type.ts
  package.json
  pages/[user].tsx
  pages/[user]/[type].tsx
  pages/[user]/book.tsx
  pages/_app.tsx
  pages/api/book/event.ts
  pages/api/event-type/index.ts
  pages/api/eventType.ts
  pages/event-types/[type].tsx
  pages/integrations/index.tsx
  pages/team/[slug]/[type].tsx
  pages/team/[slug]/book.tsx
  prisma/migrations/20211222174947_placeholder/migration.sql
  prisma/migrations/20211222181246_add_sc_address/migration.sql
  prisma/migrations/20220113145333_rename_column_sc_address_to_smart_contract_address/migration.sql
  prisma/migrations/20220131170110_add_metadata_column_to_event_type/migration.sql
  prisma/schema.prisma
  prisma/zod/eventtype.ts
  public/integrations/metamask.svg
  public/integrations/web3.svg
  public/static/locales/de/common.json
  public/static/locales/en/common.json
  public/static/locales/es/common.json
  public/static/locales/fr/common.json
  public/static/locales/it/common.json
  public/static/locales/ja/common.json
  public/static/locales/ko/common.json
  public/static/locales/nl/common.json
  public/static/locales/pl/common.json
  public/static/locales/pt-BR/common.json
  public/static/locales/pt/common.json
  public/static/locales/ro/common.json
  public/static/locales/ru/common.json
  public/static/locales/zh-CN/common.json
  server/routers/viewer.tsx
  tsconfig.tsbuildinfo
  web3/abis/abiWithGetBalance.json
  web3/dummyResps/bloxyApi.js
  web3/utils/verifyAccount.ts
  yarn.lock
Labels: feature, ❗️ migrations

#1673 availability: end time should not be lower than start time
  components/ui/form/Schedule.tsx
  pages/availability/index.tsx
  public/static/locales/en/common.json
Labels: ♻️ autoupdate

#1724 smaller layout improvements to event-types edit
  pages/event-types/[type].tsx
  public/static/locales/en/common.json
Labels: ♻️ autoupdate

#1552 Team Billing
  .vscode/launch.json
  components/Dialog.tsx
  components/eventtype/EventTypeDescription.tsx
  components/team/MemberInvitationModal.tsx
  components/team/MemberListItem.tsx
  components/team/TeamCreateModal.tsx
  components/team/TeamListItem.tsx
  components/team/TeamPill.tsx
  components/team/TeamRole.tsx
  components/team/TeamSettingsRightSidebar.tsx
  components/team/UpgradeToFlexibleProModal.tsx
  components/ui/Alert.tsx
  components/ui/LinkIconButton.tsx
  ee/components/saml/Configuration.tsx
  ee/lib/stripe/customer.ts
  ee/lib/stripe/server.ts
  ee/lib/stripe/team-billing.ts
  ee/pages/api/integrations/stripepayment/add.ts
  ee/pages/api/integrations/stripepayment/portal.ts
  ee/pages/api/teams/[team]/upgrade.ts
  lib/config/constants.ts
  lib/prisma.ts
  lib/queries/teams/index.ts
  pages/_app.tsx
  pages/api/teams/[team]/upgrade.ts
  pages/api/user/me.ts
  pages/settings/teams.tsx
  pages/settings/teams/[id].tsx
  pages/team/[slug].tsx
  public/static/locales/en/common.json
  server/routers/viewer/teams.tsx
Labels: ♻️ autoupdate, 👀 ready for review

#1721 Timeslot selectable times fix for not UTC timezones in Availability
  components/ui/Scheduler.tsx
  components/ui/form/Schedule.tsx
Labels: bug, 🙋🏻‍♂️help wanted, ♻️ autoupdate, 🧪 testing needed

#1737 Brand color without correct hex value compatibility
  components/CustomBranding.tsx
  components/Swatch.tsx
  components/ui/colorpicker.tsx
  package.json
  pages/settings/profile.tsx
  server/routers/viewer.tsx
  yarn.lock
Labels: ♻️ autoupdate, 👀 ready for review

#1715 added playwright html reporter
  .github/workflows/e2e.yml
  .gitignore
  README.md
  package.json
  playwright.config.ts
  yarn.lock
Labels: ♻️ autoupdate

#1740 fix: handle prefers-color-scheme correctly
  lib/hooks/useTheme.tsx
Labels: ♻️ autoupdate

#1674 Add Jitsi Meet Integration
  components/booking/pages/BookingPage.tsx
  lib/events/EventManager.ts
  lib/integrations.ts
  lib/integrations/Jitsi/JitsiVideoApiAdapter.ts
  lib/integrations/getIntegrations.ts
  lib/location.ts
  lib/videoClient.ts
  pages/event-types/[type].tsx
  pages/integrations/index.tsx
  pages/success.tsx
  public/integrations/jitsi.svg
  public/static/locales/cs/common.json
  public/static/locales/de/common.json
  public/static/locales/en/common.json
  public/static/locales/es/common.json
  public/static/locales/fr/common.json
  public/static/locales/it/common.json
  public/static/locales/ja/common.json
  public/static/locales/ko/common.json
  public/static/locales/nl/common.json
  public/static/locales/pl/common.json
  public/static/locales/pt-BR/common.json
  public/static/locales/pt/common.json
  public/static/locales/ro/common.json
  public/static/locales/ru/common.json
  public/static/locales/zh-CN/common.json
Labels: feature, ♻️ autoupdate

#1736 fix: remove template string to fix interpolation
  ee/components/LicenseBanner.tsx
Labels: ♻️ autoupdate, automerge

#1719 Add reason for rejection (optional)
  @types/@wojtekmaj:react-daterange-picker.d.ts
  components/booking/BookingListItem.tsx
  lib/emails/templates/attendee-declined-email.ts
  lib/emails/templates/attendee-scheduled-email.ts
  lib/integrations/calendar/interfaces/Calendar.ts
  pages/api/book/confirm.ts
  prisma/migrations/20220209082843_add_rejection_reason/migration.sql
  prisma/schema.prisma
  prisma/zod/booking.ts
  public/static/locales/en/common.json
Labels: feature, ♻️ autoupdate, ❗️ migrations

#1360 fixed calendso busy query timezone issue
  lib/integrations/calendar/services/BaseCalendarService.ts
Labels: ♻️ autoupdate

#1760 Add Prisma Vscode Extension to the recommended list
  .vscode/extensions.json
Labels: ♻️ autoupdate, automerge

#1759 fixes gravatar fallback for team collective events
  @types/@wojtekmaj__react-daterange-picker.d.ts
  components/booking/pages/AvailabilityPage.tsx
  pages/event-types/[type].tsx
  pages/event-types/index.tsx
  server/routers/viewer.tsx
Labels: ♻️ autoupdate, 👀 ready for review

#1778 adds validation to event type availability
  components/ui/modal/SetTimesModal.tsx
  public/static/locales/en/common.json
Labels: feature, ♻️ autoupdate, 👀 ready for review

#1777 updated event object to hold rejection reason
  pages/api/book/confirm.ts
Labels: bug, ♻️ autoupdate, 👀 ready for review

#1782 Fixed infinite event-type page loop after onboarding
  pages/getting-started.tsx
Labels: bug, ♻️ autoupdate, urgent

#1756 The road to zero TypeScript errors
  components/integrations/IntegrationList.tsx
  environment.d.ts
  lib/crypto.ts
  lib/events/EventManager.ts
  lib/integrations/calendar/interfaces/Calendar.ts
  lib/integrations/calendar/services/BaseCalendarService.ts
  lib/parseZone.ts
  lib/serverConfig.ts
  pages/api/availability/week.ts
  pages/api/book/event.ts
  pages/api/user/profile.ts
  pages/index.tsx
  server/routers/viewer/webhook.tsx
  test/lib/team-event-types.test.ts
Labels: ♻️ autoupdate, 👀 ready for review

#1762 Performance improvements (lazy loading) for booking pages
  apps/web/components/ui/AvatarSSR.tsx
  apps/web/pages/[user].tsx
  apps/web/prisma/schema.prisma
  package.json
Labels: 🙋🏻‍♂️help wanted, 🔧 in progress

#1811 Updates README
  README.md
Labels: ♻️ autoupdate, automerge

#1796 Fix prettier importOrderSeparation not working
  .prettierrc.js
  merged-prettier-plugin.js
Labels: ♻️ autoupdate, automerge

#1826 Lint fixes
  apps/web/components/booking/BookingListItem.tsx
  apps/web/components/ui/form/CheckedSelect.tsx
  apps/web/components/ui/modal/SetTimesModal.tsx
  apps/web/lib/integrations/calendar/interfaces/Calendar.ts
  apps/web/lib/integrations/calendar/services/BaseCalendarService.ts
  apps/web/package.json
  apps/web/pages/[user]/book.tsx
  apps/web/pages/api/user/profile.ts
  apps/web/pages/index.tsx
  apps/web/pages/team/[slug]/book.tsx
Labels: ♻️ autoupdate, automerge

#1834 fix: deployment setup to Heroku
  Procfile
  app.json
  apps/web/app.json
  package.json
  turbo.json
Labels: ♻️ autoupdate

#1845 E2E fix attempt
  .github/workflows/e2e.yml
  package.json
  playwright.config.ts
Labels: ♻️ autoupdate

#1866 add validation for teams in the event type creation
  apps/web/components/eventtype/CreateEventType.tsx
  apps/web/pages/event-types/[type].tsx
  apps/web/server/routers/viewer/eventTypes.tsx
Labels: ♻️ autoupdate, automerge

#1790 Use folder structure for the apps
  components/integrations/ConnectIntegrations.tsx
  ee/components/web3/CryptoSection.tsx
  ee/lib/stripe/server.ts
  ee/pages/api/integrations/stripepayment/webhook.ts
  jest.config.ts
  lib/CalEventParser.ts
  lib/apps/apple_calendar/components/AddIntegration.tsx
  lib/apps/apple_calendar/constants/general.ts
  lib/apps/apple_calendar/services/CalendarService.ts
  lib/apps/caldav_calendar/components/AddIntegration.tsx
  lib/apps/caldav_calendar/services/CalendarService.ts
  lib/apps/calendar/components/CalendarListContainer.tsx
  lib/apps/calendar/config.ts
  lib/apps/calendar/constants/format.ts
  lib/apps/calendar/constants/general.ts
  lib/apps/calendar/interfaces/Calendar.ts
  lib/apps/calendar/managers/CalendarManager.ts
  lib/apps/calendar/services/CalendarService.ts
  lib/apps/calendar/types/CalendarTypes.ts
  lib/apps/calendar/utils/CalendarUtils.ts
  lib/apps/conferencing/config.ts
  lib/apps/google_calendar/interfaces/GoogleCalendar.ts
  lib/apps/google_calendar/services/CalendarService.ts
  lib/apps/interfaces/App.ts
  lib/apps/office365_calendar/services/CalendarService.ts
  lib/apps/office365_calendar/types/Office365Calendar.ts
  lib/apps/payment/config.ts
  lib/apps/utils/AppUtils.ts
  lib/emails/email-manager.ts
  lib/emails/templates/attendee-scheduled-email.ts
  lib/emails/templates/organizer-scheduled-email.ts
  lib/events/EventManager.ts
  lib/integrations.ts
  lib/integrations/calendar/constants/generals.ts
  lib/integrations/calendar/services/AppleCalendarService.ts
  lib/integrations/calendar/services/CalDavCalendarService.ts
  lib/integrations/getIntegrations.ts
  lib/queries/availability/index.ts
  lib/webhooks/sendPayload.tsx
  pages/api/availability/[user].ts
  pages/api/availability/calendar.ts
  pages/api/book/confirm.ts
  pages/api/book/event.ts
  pages/api/cancel.ts
  pages/api/cron/bookingReminder.ts
  pages/api/integrations/apple/add.ts
  pages/api/integrations/caldav/add.ts
  pages/apps/installed.tsx
  pages/event-types/[type].tsx
  pages/getting-started.tsx
  playwright/integrations-stripe.test.ts
  server/routers/viewer.tsx
  tsconfig.json
Labels: ✨ feature, 👀 ready for review

#1859 Test possible fix for Vercel builds
  apps/web/pages/settings/teams/[id]/index.tsx
  apps/web/pages/settings/teams/index.tsx
Labels: ♻️ autoupdate

#1865 Adds testing mail credentials
  .github/workflows/e2e.yml
Labels: ♻️ autoupdate

#1835 Remove intercom from public booking pages
  apps/web/lib/app-providers.tsx
  apps/web/lib/hooks/usePublicPage.ts
Labels: ♻️ autoupdate

#1807 Feature: Instant Theme Change, without refresh [Booking Pages Only]
  .vscode/extensions.json
  apps/web/lib/hooks/useTheme.tsx
Labels: ♻️ autoupdate

#1880 Updated attendees to auto-accept and setting reminders to useDefault
  apps/web/lib/integrations/calendar/services/GoogleCalendarService.ts
Labels: ♻️ autoupdate

#1896 Regenerates zod files
  packages/prisma/zod/attendee.ts
  packages/prisma/zod/availability.ts
  packages/prisma/zod/booking.ts
  packages/prisma/zod/bookingreference.ts
  packages/prisma/zod/credential.ts
  packages/prisma/zod/dailyeventreference.ts
  packages/prisma/zod/destinationcalendar.ts
  packages/prisma/zod/eventtype.ts
  packages/prisma/zod/eventtypecustominput.ts
  packages/prisma/zod/index.ts
  packages/prisma/zod/membership.ts
  packages/prisma/zod/payment.ts
  packages/prisma/zod/remindermail.ts
  packages/prisma/zod/resetpasswordrequest.ts
  packages/prisma/zod/schedule.ts
  packages/prisma/zod/selectedcalendar.ts
  packages/prisma/zod/team.ts
  packages/prisma/zod/user.ts
  packages/prisma/zod/verificationrequest.ts
  packages/prisma/zod/webhook.ts
Labels: ♻️ autoupdate

#1895 Upgrades next to 12.1
  apps/docs/package.json
  apps/web/package.json
  packages/config/package.json
  yarn.lock
Labels: ♻️ autoupdate

#1906 Revert "Tweak/gitignore prisma zod (#1905)"
  apps/web/server/routers/viewer/eventTypes.tsx
  package.json
  packages/prisma/zod-utils.ts
  turbo.json
Labels: ♻️ autoupdate

#1898 Eslint fixes
  .eslintrc.js
  apps/docs/.eslintrc.js
  apps/docs/next-env.d.ts
  apps/docs/next.config.js
  apps/docs/package.json
  apps/docs/pages/_app.tsx
  apps/docs/pages/self-hosting/install.mdx
  apps/docs/tsconfig.json
  apps/web/.eslintrc.js
  apps/web/components/booking/DatePicker.tsx
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/contexts/contractsContext.tsx
  apps/web/ee/components/web3/CryptoSection.tsx
  apps/web/lib/QueryCell.tsx
  apps/web/lib/jackson.ts
  apps/web/lib/slots.ts
  apps/web/lib/telemetry.ts
  apps/web/lib/types/inferSSRProps.ts
  apps/web/next-i18next.config.js
  apps/web/next.config.js
  apps/web/package.json
  apps/web/pages/_error.tsx
  apps/web/pages/api/book/event.ts
  apps/web/pages/getting-started.tsx
  apps/web/pages/settings/profile.tsx
  apps/web/pages/video/meeting-ended/[uid].tsx
  apps/web/pages/video/meeting-not-started/[uid].tsx
  apps/web/playwright/lib/testUtils.ts
  apps/web/scripts/ts-check-changed-files.ts
  apps/web/types/next-auth.d.ts
  packages/config/eslint-preset.js
  packages/config/package.json
  yarn.lock
Labels: ♻️ autoupdate, automerge

#1904 Upgrade to next 12.1
  apps/docs/package.json
  apps/web/components/eventtype/CreateEventType.tsx
  apps/web/package.json
  turbo.json
  yarn.lock
Labels: ♻️ autoupdate

#1886 Adds discord webhook support
  apps/web/lib/webhooks/sendPayload.tsx
  apps/web/pages/integrations/index.tsx
  apps/web/server/routers/viewer/webhook.tsx
Labels: 🐛 bug, ✨ feature, ♻️ autoupdate, 👀 ready for review

#1894 Upgrades prisma to latest version
  apps/web/pages/api/user/avatar.ts
  apps/web/playwright/integrations-stripe.test.ts
  packages/prisma/package.json
  turbo.json
  yarn.lock
Labels: ♻️ autoupdate

#1584 include `rescheduleUid` webhook payload (#1551)
  apps/web/lib/webhooks/sendPayload.tsx
  apps/web/pages/api/book/event.ts
Labels: ♻️ autoupdate

#1902 Removing room entry buffer before a Daily.co video call
  README.md
  apps/web/lib/integrations/Daily/DailyVideoApiAdapter.ts
  apps/web/pages/video/[uid].tsx
Labels: ♻️ autoupdate, automerge

#1920 fix/bookings-order
  apps/web/server/routers/viewer.tsx
Labels: ♻️ autoupdate

#1921 Handy shortcut to start Prisma Studio
  README.md
  apps/docs/pages/self-hosting/install.mdx
  apps/docs/pages/self-hosting/vercel.mdx
  package.json
  packages/prisma/package.json
Labels: ♻️ autoupdate, automerge

#1916 Add ui package for reusable components
  apps/web/components/ui/Button.tsx
  apps/web/lib/classNames.ts
  apps/web/next.config.js
  apps/web/package.json
  packages/lib/classNames.ts
  packages/ui/Button.tsx
  packages/ui/index.tsx
  packages/ui/package.json
  packages/ui/tsconfig.json
  yarn.lock
Labels: ♻️ autoupdate

#1733 Fix URL by removing slash and backslash
  apps/web/components/eventtype/CreateEventType.tsx
  apps/web/pages/event-types/[type].tsx
  packages/prisma/zod-utils.ts
Labels: ♻️ autoupdate

#1929 Build fixes
  apps/web/lib/slugify.ts
  apps/web/pages/event-types/[type].tsx
  packages/lib/slugify.ts
  packages/prisma/zod-utils.ts
Labels: ♻️ autoupdate, automerge

#1931 fix/update-days-schedule
  apps/web/pages/event-types/[type].tsx
Labels: ♻️ autoupdate

#1882 Adds BASE_URL to callbackUrl in signup page and Shell component
  apps/web/components/Shell.tsx
  apps/web/pages/auth/signup.tsx
Labels: ♻️ autoupdate, 👀 ready for review

#1875 Docs/prisma commands on docs
  README.md
  apps/docs/pages/developer/migrations.mdx
  apps/docs/pages/self-hosting/docker.mdx
  apps/docs/pages/self-hosting/install.mdx
  apps/docs/pages/self-hosting/upgrade.mdx
  apps/docs/pages/self-hosting/vercel.mdx
Labels: ♻️ autoupdate

#1930 Contributing guide
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
Labels: ♻️ autoupdate

#1883 Adds BASE_URL to connectIntegrations
  apps/web/components/integrations/ConnectIntegrations.tsx
Labels: ♻️ autoupdate, 👀 ready for review

#1949 [RFC-dx] Opt-out for trpc logging. Sanitize the dev console.
  README.md
  apps/web/pages/_app.tsx
Labels: ♻️ autoupdate

#1936 Fix billing portal for users without stripeCustomerId
  apps/web/ee/lib/stripe/customer.ts
Labels: ♻️ autoupdate

#1974 Fix missing zero-padding on troubleshoot
  apps/web/pages/availability/troubleshoot.tsx
Labels: ♻️ autoupdate

#1980 [Perf Improvement] Event Booking Date Picker
  apps/web/components/booking/DatePicker.tsx
  apps/web/lib/doWorkAsync.ts
  apps/web/lib/slots.ts
Labels: ♻️ autoupdate

#1991 Fixes undefined bug by replacing BASE_URL with NEXT_PUBLIC_BASE_URL in Shell and signup.
  apps/web/components/Shell.tsx
  apps/web/pages/auth/signup.tsx
Labels: 🐛 bug, ♻️ autoupdate, 👀 ready for review

#1994 fix/slots-calculate-hours
  apps/web/lib/slots.ts
Labels: ♻️ autoupdate

#2002 Let users set 12/24 hour time format
  apps/web/components/booking/BookingListItem.tsx
  apps/web/components/ui/form/Schedule.tsx
  apps/web/pages/settings/profile.tsx
  apps/web/public/static/locales/en/common.json
  apps/web/server/createContext.ts
  apps/web/server/routers/viewer.tsx
  packages/prisma/migrations/20220228122419_add_time_format/migration.sql
  packages/prisma/schema.prisma
Labels: ✨ feature
