Repository calcom/cal.com, pull requests merged in 2022-01, with the labels that each got.

#1402 Adds trial banner and in-app upgrade
  components/Shell.tsx
  ee/components/TrialBanner.tsx
  ee/lib/stripe/client.ts
  lib/config/constants.ts
  next-i18next.config.js
  pages/api/cron/downgradeUsers.ts
  pages/api/upgrade.ts
  pages/auth/login.tsx
  playwright/lib/globalSetup.ts
  playwright/trial.test.ts
  public/static/locales/en/common.json
Labels: 🚧 wip / in the making, ♻️ autoupdate

#1333 [WIP] Create password change test
  playwright/change-password.test.ts
Labels: ♻️ autoupdate, 👀 ready for review, automerge

#1369 [CAL-770] add new integration architecture revamp
  .gitignore
  README.md
  components/integrations/ConnectIntegrations.tsx
  ee/lib/stripe/server.ts
  ee/pages/api/integrations/stripepayment/webhook.ts
  lib/CalEventParser.ts
  lib/calendarClient.ts
  lib/emails/email-manager.ts
  lib/emails/templates/attendee-scheduled-email.ts
  lib/emails/templates/organizer-scheduled-email.ts
  lib/events/EventManager.ts
  lib/integrations/Apple/AppleCalendarAdapter.ts
  lib/integrations/CalDav/CalDavCalendarAdapter.ts
  lib/integrations/Daily/DailyVideoApiAdapter.ts
  lib/integrations/GoogleCalendar/GoogleCalendarApiAdapter.ts
  lib/integrations/Office365Calendar/Office365CalendarApiAdapter.ts
  lib/integrations/Zoom/ZoomVideoApiAdapter.ts
  lib/integrations/calendar/CalendarManager.ts
  lib/integrations/calendar/components/AddAppleIntegration.tsx
  lib/integrations/calendar/components/AddCalDavIntegration.tsx
  lib/integrations/calendar/constants/formats.ts
  lib/integrations/calendar/constants/generals.ts
  lib/integrations/calendar/constants/types.ts
  lib/integrations/calendar/interfaces/Calendar.ts
  lib/integrations/calendar/interfaces/GoogleCalendar.ts
  lib/integrations/calendar/interfaces/Office365Calendar.ts
  lib/integrations/calendar/services/AppleCalendarService.ts
  lib/integrations/calendar/services/BaseCalendarService.ts
  lib/integrations/calendar/services/CalDavCalendarService.ts
  lib/integrations/calendar/services/GoogleCalendarService.ts
  lib/integrations/calendar/services/Office365CalendarService.ts
  lib/integrations/calendar/utils/CalendarUtils.ts
  lib/queries/availability/index.ts
  lib/videoClient.ts
  lib/webhooks/sendPayload.tsx
  pages/api/availability/[user].ts
  pages/api/availability/calendar.ts
  pages/api/book/confirm.ts
  pages/api/book/event.ts
  pages/api/cancel.ts
  pages/api/cron/bookingReminder.ts
  pages/api/integrations/apple/add.ts
  pages/api/integrations/caldav/add.ts
  pages/getting-started.tsx
  playwright/lib/globalSetup.ts
  server/integrations/getCalendarCredentials.ts
  server/integrations/getConnectedCalendars.ts
  server/routers/viewer.tsx
Labels: ✨enhancement, ♻️ autoupdate, 👀 ready for review

#1425 fix code validation when the google calendar integration does not hav…
  lib/integrations/calendar/CalendarManager.ts
  lib/integrations/calendar/services/BaseCalendarService.ts
  lib/integrations/calendar/services/GoogleCalendarService.ts
  lib/integrations/calendar/services/Office365CalendarService.ts
  pages/api/integrations/googlecalendar/callback.ts
Labels: 🐞bug, ♻️ autoupdate, 👀 ready for review

#1185 Upgrades next-auth to v4
  .env.example
  .github/workflows/build.yml
  .github/workflows/e2e.yml
  .gitignore
  components/Shell.tsx
  lib/app-providers.tsx
  lib/auth.ts
  package.json
  pages/api/auth/[...nextauth].tsx
  pages/api/auth/forgot-password.ts
  pages/api/auth/reset-password.ts
  pages/api/eventType.ts
  pages/api/me.ts
  pages/api/user/[id].ts
  pages/auth/forgot-password/[id].tsx
  pages/auth/forgot-password/index.tsx
  pages/auth/login.tsx
  pages/auth/signup.tsx
  pages/call/[uid].tsx
  pages/call/meeting-ended/[uid].tsx
  pages/call/meeting-not-started/[uid].tsx
  pages/cancel/success.tsx
  pages/getting-started.tsx
  pages/settings/teams.tsx
  playwright.config.ts
  playwright/auth/auth-index.test.ts
  playwright/auth/forgot-password.test.ts
  server/createContext.ts
  tsconfig.json
  types/next-auth.d.ts
  yarn.lock
Labels: ⬆️ dependencies, ♻️ autoupdate, 🧪 testing needed

#1430 Fix missing date in booking page
  components/booking/pages/BookingPage.tsx
Labels: 🐞bug, ♻️ autoupdate, automerge

#1418 Add an away mode to disable your booking page
  components/Shell.tsx
  components/ui/Dropdown.tsx
  pages/[user].tsx
  prisma/migrations/20220105104913_add_away_field/migration.sql
  prisma/schema.prisma
  public/static/locales/en/common.json
  server/createContext.ts
  server/routers/viewer.tsx
Labels: ✨enhancement, ♻️ autoupdate

#1192 Add log in with Google and SAML
  .env.example
  .github/workflows/e2e.yml
  docker-compose.yml
  docs/saml-setup.md
  ee/README.md
  ee/components/saml/Configuration.tsx
  lib/auth.ts
  lib/jackson.ts
  lib/random.ts
  lib/saml.ts
  package.json
  pages/api/auth/[...nextauth].tsx
  pages/api/auth/changepw.ts
  pages/api/auth/forgot-password.ts
  pages/api/auth/saml/authorize.ts
  pages/api/auth/saml/callback.ts
  pages/api/auth/saml/token.ts
  pages/api/auth/saml/userinfo.ts
  pages/api/auth/signup.ts
  pages/api/auth/two-factor/totp/setup.ts
  pages/auth/login.tsx
  pages/auth/signup.tsx
  pages/auth/sso/[provider].tsx
  pages/settings/security.tsx
  pages/settings/teams/[id].tsx
  playwright/event-types.test.ts
  playwright/lib/testUtils.ts
  playwright/login.oauth.test.ts
  playwright/saml.test.ts
  prisma/migrations/20211110142845_add_identity_provider_columns/migration.sql
  prisma/migrations/20211112145539_add_saml_login/migration.sql
  prisma/migrations/20211210182230_add_invited_to/migration.sql
  prisma/schema.prisma
  public/static/locales/en/common.json
  public/static/locales/es/common.json
  public/static/locales/ja/common.json
  public/static/locales/pt/common.json
  public/static/locales/ro/common.json
  public/static/locales/ru/common.json
  server/createContext.ts
  server/lib/constants.ts
  server/routers/viewer.tsx
  server/routers/viewer/teams.tsx
  yarn.lock
Labels: ♻️ autoupdate, 🧪 testing needed, ❗️ changes requested, 👀 ready for review, ❗️ migrations

#1403 Enhancement/cal 708 delete account
  components/dialog/ConfirmationDialogContent.tsx
  ee/lib/stripe/server.ts
  ee/pages/api/integrations/stripepayment/portal.ts
  pages/api/user/[id].ts
  pages/api/user/me.ts
  pages/settings/profile.tsx
  playwright/auth/delete-account.test.ts
  prisma/migrations/20211231142312_add_user_on_delete_cascade/migration.sql
  prisma/schema.prisma
  public/static/locales/en/common.json
  scripts/seed.ts
  server/routers/viewer.tsx
Labels: ♻️ autoupdate

#1521 Fix for #1518
  server/lib/constants.ts
Labels: ♻️ autoupdate

#1522 Added known configuration for gmail smtp (nodemailer)
  .env.example
Labels: ♻️ autoupdate

#1536 Sets new users to trial by default and docs improvements
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  prisma/migrations/20220117193242_trial_users_by_default/migration.sql
  prisma/schema.prisma
Labels: ♻️ autoupdate, ❗️ migrations

#1488 Fixes: Get minutes offset from start of the day over days.utc()
  lib/slots.ts
  test/lib/slots.test.ts
Labels: ♻️ autoupdate

#1537 Removes e2e retries and videos
  playwright.config.ts
Labels: ♻️ autoupdate

#1538 Forgot password test troubleshooting
  playwright/auth/forgot-password.test.ts
Labels: ♻️ autoupdate

#1561 Survey at account deletion
  pages/settings/profile.tsx
Labels: ♻️ autoupdate, ❗️ changes requested

#1514 Allow choosing destination calendar per event type
  .eslintignore
  components/DestinationCalendarSelector.tsx
  components/eventtype/CreateEventType.tsx
  components/integrations/CalendarListContainer.tsx
  components/ui/Scheduler.tsx
  ee/components/stripe/Payment.tsx
  ee/pages/api/integrations/stripepayment/webhook.ts
  lib/events/EventManager.ts
  lib/integrations/calendar/constants/types.ts
  lib/integrations/calendar/interfaces/Calendar.ts
  lib/integrations/calendar/services/BaseCalendarService.ts
  lib/mutations/event-types/create-event-type.ts
  lib/mutations/event-types/delete-event-type.ts
  lib/mutations/event-types/update-event-type.ts
  lib/types/event-type.ts
  package.json
  pages/api/availability/eventtype.ts
  pages/api/book/confirm.ts
  pages/api/book/event.ts
  pages/api/cancel.ts
  pages/api/cron/bookingReminder.ts
  pages/event-types/[type].tsx
  prisma/schema.prisma
  prisma/zod-utils.ts
  prisma/zod/attendee.ts
  prisma/zod/availability.ts
  prisma/zod/booking.ts
  prisma/zod/bookingreference.ts
  prisma/zod/credential.ts
  prisma/zod/dailyeventreference.ts
  prisma/zod/destinationcalendar.ts
  prisma/zod/eventtype.ts
  prisma/zod/eventtypeCustom.ts
  prisma/zod/eventtypecustominput.ts
  prisma/zod/index.ts
  prisma/zod/membership.ts
  prisma/zod/payment.ts
  prisma/zod/remindermail.ts
  prisma/zod/resetpasswordrequest.ts
  prisma/zod/schedule.ts
  prisma/zod/selectedcalendar.ts
  prisma/zod/team.ts
  prisma/zod/user.ts
  prisma/zod/verificationrequest.ts
  prisma/zod/webhook.ts
  server/routers/viewer.tsx
  server/routers/viewer/eventTypes.tsx
  yarn.lock
Labels: ♻️ autoupdate, 👀 ready for review

#1609 added <InfoBadge> component with tooltip
  components/ui/InfoBadge.tsx
  components/ui/form/CheckboxField.tsx
  pages/event-types/[type].tsx
  public/static/locales/en/common.json
Labels: feature

#1608 Fix signup query
  components/team/MemberInvitationModal.tsx
  components/team/MemberListItem.tsx
  package.json
  pages/api/auth/signup.ts
  pages/settings/teams/[id].tsx
  playwright.config.ts
  playwright/auth/auth-index.test.ts
  playwright/lib/globalSetup.ts
  yarn.lock
Labels: ♻️ autoupdate, :x: merge conflicts

#1618 Added og-image for event-types
  components/booking/pages/AvailabilityPage.tsx
Labels: ♻️ autoupdate

#1622 Fixes #1572
  lib/slots.ts
Labels: ♻️ autoupdate

#1541 Wrong language in emails
  ee/pages/api/integrations/stripepayment/webhook.ts
  lib/CalEventParser.ts
  lib/emails/templates/attendee-awaiting-payment-email.ts
  lib/emails/templates/attendee-cancelled-email.ts
  lib/emails/templates/attendee-declined-email.ts
  lib/emails/templates/attendee-rescheduled-email.ts
  lib/emails/templates/attendee-scheduled-email.ts
  lib/emails/templates/organizer-cancelled-email.ts
  lib/emails/templates/organizer-payment-refund-failed-email.ts
  lib/emails/templates/organizer-request-email.ts
  lib/emails/templates/organizer-request-reminder-email.ts
  lib/emails/templates/organizer-rescheduled-email.ts
  lib/emails/templates/organizer-scheduled-email.ts
  lib/events/EventManager.ts
  lib/integrations/calendar/interfaces/Calendar.ts
  lib/videoClient.ts
  lib/webhooks/sendPayload.tsx
  pages/api/book/confirm.ts
  pages/api/book/event.ts
  pages/api/cancel.ts
  pages/api/cron/bookingReminder.ts
  playwright/integrations.test.ts
  playwright/integrations.test.ts-snapshots/webhookResponse-chromium.txt
  prisma/migrations/20220125035907_add_attendee_locale/migration.sql
  prisma/schema.prisma
  prisma/zod/attendee.ts
Labels: bug, ♻️ autoupdate, ❗️ migrations

#1587 feat: add option to provide cancellation reason for email
  lib/emails/templates/attendee-cancelled-email.ts
  lib/emails/templates/organizer-cancelled-email.ts
  lib/integrations/calendar/interfaces/Calendar.ts
  pages/api/cancel.ts
  pages/cancel/[uid].tsx
  prisma/migrations/20220121210720_add_cancellation_reason/migration.sql
  prisma/schema.prisma
  prisma/zod/booking.ts
  public/static/locales/en/common.json
Labels: ♻️ autoupdate, 🧪 testing needed, ❗️ migrations

#1642 Allows for in-app upgrade
  pages/api/upgrade.ts
  pages/event-types/index.tsx
  pages/settings/billing.tsx
  pages/settings/profile.tsx
  pages/settings/teams.tsx
  public/static/locales/de/common.json
  public/static/locales/en/common.json
  public/static/locales/es/common.json
  public/static/locales/fr/common.json
  public/static/locales/it/common.json
  public/static/locales/ja/common.json
  public/static/locales/ko/common.json
  public/static/locales/nl/common.json
  public/static/locales/pl/common.json
  public/static/locales/pt-BR/common.json
  public/static/locales/pt/common.json
  public/static/locales/ro/common.json
  public/static/locales/ru/common.json
  public/static/locales/zh-CN/common.json
Labels: ♻️ autoupdate, 👀 ready for review
