Repository calcom/cal.com, pull requests merged in 2022-06, with the labels that each got.

#2931 Fix/infinite booking list
  apps/web/server/routers/viewer.tsx
Labels: ♻️ autoupdate

#2938 Fixing Spacing + text color
  apps/web/components/booking/pages/AvailabilityPage.tsx
Labels: ♻️ autoupdate, 👀 ready for review

#2942 fix: owners can't be edited by admins
  apps/web/server/routers/viewer/teams.tsx
Labels: ♻️ autoupdate

#2941 Fixing spaces and wraps for event type legend
  apps/web/components/eventtype/EventTypeDescription.tsx
Labels: ♻️ autoupdate, automerge

#2943 Improve meeting url information in booking detail view
  apps/web/components/booking/BookingListItem.tsx
  apps/web/public/static/locales/en/common.json
Labels: ♻️ autoupdate, automerge

#2916 Images in slider will have fixed height, variable width
  apps/web/pages/apps/[slug]/index.tsx
Labels: ♻️ autoupdate

#2948 fix: saml update/delete only owner team
  apps/web/server/routers/viewer.tsx
Labels: 🐛 bug, ♻️ autoupdate, automerge

#2962 Fix preview not working
  packages/embeds/vite.config.js
Labels: ♻️ autoupdate

#2969 Test: Embed-Preview - Ensure embed.js loads.
  packages/embeds/embed-core/playwright/tests/preview.test.ts
  packages/embeds/vite.config.js
Labels: ♻️ autoupdate, automerge

#2898 Add more variables to event names and a dynamic field
  apps/web/lib/event.ts
  apps/web/pages/api/book/event.ts
  apps/web/pages/event-types/[type].tsx
  apps/web/pages/success.tsx
  apps/web/public/static/locales/ar/common.json
  apps/web/public/static/locales/cs/common.json
  apps/web/public/static/locales/de/common.json
  apps/web/public/static/locales/en/common.json
  apps/web/public/static/locales/es/common.json
  apps/web/public/static/locales/fr/common.json
  apps/web/public/static/locales/he/common.json
  apps/web/public/static/locales/it/common.json
  apps/web/public/static/locales/ja/common.json
  apps/web/public/static/locales/ko/common.json
  apps/web/public/static/locales/nl/common.json
  apps/web/public/static/locales/pl/common.json
  apps/web/public/static/locales/pt-BR/common.json
  apps/web/public/static/locales/pt/common.json
  apps/web/public/static/locales/ro/common.json
  apps/web/public/static/locales/ru/common.json
  apps/web/public/static/locales/sr/common.json
  apps/web/public/static/locales/sv/common.json
  apps/web/public/static/locales/tr/common.json
  apps/web/public/static/locales/uk/common.json
  apps/web/public/static/locales/vi/common.json
  apps/web/public/static/locales/zh-CN/common.json
  apps/web/public/static/locales/zh-TW/common.json
Labels: ✨ feature, ♻️ autoupdate, 🎨 needs design

#2973 Fix language of locations on booking page
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/pages/[user]/book.tsx
  apps/web/pages/d/[link]/book.tsx
  apps/web/pages/team/[slug]/book.tsx
Labels: ♻️ autoupdate

#2949 Booking confirm endpoint refactoring
  .vscode/extensions.json
  apps/web/components/booking/BookingListItem.tsx
  apps/web/components/eventtype/EventTypeDescription.tsx
  apps/web/ee/pages/api/integrations/stripepayment/webhook.ts
  apps/web/lib/getBusyTimes.ts
  apps/web/lib/queries/teams/index.ts
  apps/web/lib/types/booking.ts
  apps/web/modules/common/api/defaultHandler.ts
  apps/web/modules/common/api/defaultResponder.ts
  apps/web/modules/common/api/index.ts
  apps/web/modules/common/index.ts
  apps/web/pages/[user].tsx
  apps/web/pages/api/book/confirm.ts
  apps/web/pages/api/book/event.ts
  apps/web/pages/api/cancel.ts
  apps/web/pages/api/cron/bookingReminder.ts
  apps/web/pages/api/integrations.ts
  apps/web/playwright/fixtures/bookings.ts
  apps/web/server/routers/viewer.tsx
  apps/web/tsconfig.json
  packages/app-store/googlecalendar/lib/CalendarService.ts
  packages/prisma/migrations/20220604144700_fixes_booking_status/migration.sql
  packages/prisma/migrations/20220604210102_removes_booking_confirmed_rejected/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/seed.ts
  packages/prisma/selects/event-types.ts
  packages/prisma/selects/index.ts
Labels: 🐛 bug, ♻️ autoupdate, 👀 ready for review, ❗️ migrations, 🧹 Improvements

#2984 Add licenses to embeds
  packages/embeds/embed-core/LICENSE
  packages/embeds/embed-core/package.json
  packages/embeds/embed-react/LICENSE
  packages/embeds/embed-react/package.json
  packages/embeds/embed-snippet/LICENSE
  packages/embeds/embed-snippet/package.json
Labels: ♻️ autoupdate

#2711 Trailing unlocking node <17
  .nvmrc
  apps/web/package.json
  package.json
Labels: ♻️ autoupdate

#3005 Fix yarn dev and yarn dx from apps/web
  apps/web/package.json
  package.json
  turbo.json
  yarn.lock
Labels: ♻️ autoupdate, automerge

#3013 Adds all missing information on mobile view to availability page
  apps/web/components/booking/pages/AvailabilityPage.tsx
Labels: 🐛 bug, ♻️ autoupdate, automerge, 🧹 Improvements

#3011 Fixes plural issue with locales
  apps/web/public/static/locales/ar/common.json
  apps/web/public/static/locales/cs/common.json
  apps/web/public/static/locales/de/common.json
  apps/web/public/static/locales/en/common.json
  apps/web/public/static/locales/es/common.json
  apps/web/public/static/locales/fr/common.json
  apps/web/public/static/locales/he/common.json
  apps/web/public/static/locales/hu/common.json
  apps/web/public/static/locales/it/common.json
  apps/web/public/static/locales/ja/common.json
  apps/web/public/static/locales/ko/common.json
  apps/web/public/static/locales/nl/common.json
  apps/web/public/static/locales/pl/common.json
  apps/web/public/static/locales/pt-BR/common.json
  apps/web/public/static/locales/pt/common.json
  apps/web/public/static/locales/ro/common.json
  apps/web/public/static/locales/ru/common.json
  apps/web/public/static/locales/sr/common.json
  apps/web/public/static/locales/sv/common.json
  apps/web/public/static/locales/tr/common.json
  apps/web/public/static/locales/uk/common.json
  apps/web/public/static/locales/vi/common.json
  apps/web/public/static/locales/zh-CN/common.json
  apps/web/public/static/locales/zh-TW/common.json
Labels: ♻️ autoupdate

#2937 Fix: updated env file path for db setup
  README.md
Labels: ♻️ autoupdate, automerge

#3018 Improvement: Add React to Embed Snippet Generator
  apps/web/components/Embed.tsx
  apps/web/public/static/locales/en/common.json
  packages/embeds/embed-react/src/Cal.tsx
  packages/embeds/embed-react/src/index.ts
  packages/embeds/embed-react/test-cal.tsx
Labels: ♻️ autoupdate

#3009 Tweaks requested by Ciarán
  apps/web/components/AdditionalCalendarSelector.tsx
  apps/web/components/App.tsx
  apps/web/components/DestinationCalendarSelector.tsx
  apps/web/components/booking/pages/AvailabilityPage.tsx
  apps/web/components/integrations/CalendarListContainer.tsx
Labels: ♻️ autoupdate, automerge

#2983 Fix/wipe vital app revision
  apps/web/pages/api/book/request-reschedule.ts
  apps/web/playwright/fixtures/bookings.ts
  apps/web/playwright/lib/appstore/wipe-my-cal.test.ts
  packages/app-store/vital/lib/reschedule.ts
  packages/app-store/wipemycalother/api/wipe.ts
  packages/app-store/wipemycalother/components/confirmDialog.tsx
  packages/app-store/wipemycalother/components/wipeMyCalActionButton.tsx
  packages/app-store/wipemycalother/lib/reschedule.ts
Labels: ♻️ autoupdate, automerge

#2750 Recurring event improvements
  apps/web/components/booking/BookingListItem.tsx
  apps/web/components/booking/CancelBooking.tsx
  apps/web/components/booking/pages/AvailabilityPage.tsx
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/components/eventtype/EventTypeDescription.tsx
  apps/web/components/eventtype/RecurringEventController.tsx
  apps/web/pages/[user]/book.tsx
  apps/web/pages/api/book/confirm.ts
  apps/web/pages/api/cancel.ts
  apps/web/pages/bookings/[status].tsx
  apps/web/pages/cancel/[uid].tsx
  apps/web/pages/cancel/success.tsx
  apps/web/pages/d/[link]/book.tsx
  apps/web/pages/success.tsx
  apps/web/pages/team/[slug]/book.tsx
  apps/web/public/static/locales/en/common.json
  apps/web/server/routers/viewer.tsx
  packages/emails/src/components/WhenInfo.tsx
  packages/emails/src/templates/OrganizerRequestEmail.tsx
  packages/emails/templates/attendee-scheduled-email.ts
  packages/emails/templates/organizer-request-email.ts
  packages/emails/templates/organizer-scheduled-email.ts
  packages/lib/package.json
  packages/lib/recurringStrings.ts
  yarn.lock
Labels: ♻️ autoupdate

#3017 Adding UI for Requires Confirmation
  apps/web/components/booking/pages/AvailabilityPage.tsx
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/pages/[user]/[type].tsx
  apps/web/pages/[user]/book.tsx
  apps/web/pages/d/[link]/[slug].tsx
  apps/web/pages/d/[link]/book.tsx
  apps/web/pages/team/[slug]/[type].tsx
  apps/web/pages/team/[slug]/book.tsx
  packages/prisma/selects/event-types.ts
Labels: ♻️ autoupdate

#2972 Fixes slack verification and timeout errors
  apps/web/pages/api/book/event.ts
  packages/app-store/slackmessaging/api/add.ts
  packages/app-store/slackmessaging/api/callback.ts
  packages/app-store/slackmessaging/api/commandHandler.ts
  packages/app-store/slackmessaging/api/interactiveHandler.ts
  packages/app-store/slackmessaging/lib/actions/createEvent.ts
  packages/app-store/slackmessaging/lib/showCreateEventMessage.ts
  packages/app-store/slackmessaging/lib/showLinksMessage.ts
  packages/app-store/slackmessaging/lib/showTodayMessage.ts
  packages/app-store/slackmessaging/lib/slackVerify.ts
  packages/app-store/slackmessaging/lib/utils.ts
  packages/app-store/slackmessaging/lib/views/CreateEventModal.ts
  packages/app-store/slackmessaging/lib/views/TodayMessage.ts
  packages/app-store/slackmessaging/package.json
  packages/prisma/zod-utils.ts
Labels: ♻️ autoupdate

#3047 [Hotfix] Fix wrong "Pick Another" URL
  apps/web/pages/cancel/success.tsx
Labels: ♻️ autoupdate, automerge

#3049 Fix Event-Type 404 in case of unintentional duplicates.
  apps/web/pages/[user]/[type].tsx
  apps/web/pages/event-types/index.tsx
  apps/web/server/routers/viewer.tsx
Labels: ♻️ autoupdate

#3055 feat: Adds new customPrisma for hosted API
  packages/prisma/index.ts
Labels: ♻️ autoupdate

#3029 Fix credential creation flow for msteams app
  packages/app-store/office365video/api/callback.ts
  packages/app-store/office365video/lib/VideoApiAdapter.ts
Labels: ♻️ autoupdate, automerge

#3066 Missing calendar toggles fix
  apps/web/components/integrations/CalendarListContainer.tsx
  apps/web/public/static/locales/en/common.json
Labels: ♻️ autoupdate

#3079 Hotfix: Fix Embed Copy
  apps/web/components/Embed.tsx
Labels: automerge

#2987 Webhook polishing
  apps/web/components/webhook/WebhookDialogForm.tsx
  apps/web/lib/webhooks/sendPayload.tsx
  apps/web/lib/webhooks/subscriptions.tsx
  apps/web/pages/api/book/event.ts
  apps/web/pages/api/book/request-reschedule.ts
  apps/web/pages/api/cancel.ts
  apps/web/playwright/integrations.test.ts
  apps/web/playwright/integrations.test.ts-snapshots/webhookResponse-chromium.txt
  apps/web/public/static/locales/en/common.json
  apps/web/server/routers/viewer/webhook.tsx
  packages/prisma/migrations/20220614090326_add_webhook_secret/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/zod/webhook.ts
Labels: ✨ feature, ♻️ autoupdate, 👀 ready for review

#3083 Add clarification to feedback screen
  apps/web/ee/components/support/HelpMenuItem.tsx
  apps/web/public/static/locales/en/common.json
  apps/web/server/routers/viewer.tsx
Labels: ♻️ autoupdate, automerge

#3093 As Google Meet is always installed, this fixes the doubling
  apps/web/pages/api/book/event.ts
  packages/app-store/exchange2013calendar/lib/CalendarService.ts
  packages/app-store/exchange2016calendar/lib/CalendarService.ts
  packages/app-store/googlecalendar/_metadata.ts
  packages/core/CalendarManager.ts
  packages/core/EventManager.ts
  packages/core/videoClient.ts
  packages/emails/src/components/LocationInfo.tsx
  packages/lib/CalendarService.ts
  packages/types/Calendar.d.ts
  packages/types/Event.d.ts
  packages/types/EventManager.d.ts
Labels: ♻️ autoupdate, automerge

#3052 Cutting down calls for installed apps + other UI tweaks
  apps/web/components/AdditionalCalendarSelector.tsx
  apps/web/components/DestinationCalendarSelector.tsx
  apps/web/components/integrations/CalendarListContainer.tsx
  packages/app-store/caldavcalendar/pages/setup/index.tsx
Labels: ♻️ autoupdate

#3086 Save currency to db
  apps/web/public/static/locales/en/common.json
  apps/web/server/routers/viewer/eventTypes.tsx
  packages/stripe/server.ts
Labels: ♻️ autoupdate, automerge

#3116 Hotfix/fix legacy user eventtypes
  packages/prisma/migrations/20220620181226_add_all_userid_to_users/migration.sql
Labels: ♻️ autoupdate, automerge

#3123 Production/hotfix/Missing Manage Event link
  packages/lib/CalEventParser.ts
Labels: ♻️ autoupdate, automerge

#3121 HotFix - Background not being transparent for [user]/[type] in embed
  apps/web/components/booking/pages/AvailabilityPage.tsx
  apps/web/pages/[user]/[type].tsx
  apps/web/pages/_document.tsx
  packages/embeds/embed-core/src/embed-iframe.ts
Labels: ♻️ autoupdate

#3129 Fixes redirect to upcoming bookings after canceling booking
  apps/web/pages/cancel/success.tsx
Labels: ♻️ autoupdate, automerge

#3145 Saves app id to zoom credential
  packages/app-store/zoomvideo/api/callback.ts
Labels: ♻️ autoupdate

#3155 feat: adds new version endpoint in internal api
  apps/web/pages/api/version.ts
Labels: ♻️ autoupdate, automerge

#3162 Fix name not shown in password reset email
  packages/emails/src/templates/ForgotPasswordEmail.tsx
  packages/emails/templates/forgot-password-email.ts
Labels: automerge

#3163 remove duplicate datepicker, slight changes to success page
  apps/web/components/booking/pages/AvailabilityPage.tsx
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/components/ui/PoweredByCal.tsx
  apps/web/pages/success.tsx
  packages/app-store/apps.browser.generated.tsx
  packages/app-store/apps.server.generated.ts
  packages/ui/booker/DatePicker.tsx
Labels: ♻️ autoupdate, automerge

#3193 Fix theme flicker
  apps/web/lib/hooks/useTheme.tsx
Labels: ♻️ autoupdate, automerge
