Repository calcom/cal.com, pull requests merged in 2022-10, with the labels that each got.

#4485 /event-types /team-detail /scheduling type - double divider under team members
  packages/ui/v2/modules/event-types/CheckedTeamSelect.tsx
Labels: ♻️ autoupdate, automerge

#4758 Onboarding, input validation error isn't positioned correctly
  apps/web/components/getting-started/steps-views/UserProfile.tsx
  apps/web/components/getting-started/steps-views/UserSettings.tsx
Labels: ♻️ autoupdate, automerge

#4810 Improve password peek positioning accross app and website.
  packages/ui/v2/core/form/fields.tsx
Labels: ♻️ autoupdate, automerge

#4815 Adds support for .eml calendar objects
  packages/lib/CalendarService.ts
Labels: 🐛 bug, ✨ feature

#4825 Fixes global console error
  packages/trpc/server/routers/viewer.tsx
Labels: ♻️ autoupdate, automerge

#4821 fix/connected calendar list different states
  apps/web/pages/v2/settings/my-account/calendars.tsx
  apps/web/public/static/locales/en/common.json
  packages/core/CalendarManager.ts
Labels: ♻️ autoupdate, automerge

#4826 Some tweaks to the ui - use button - use flex justify-between
  apps/web/components/getting-started/components/CalendarItem.tsx
  apps/web/components/getting-started/steps-views/ConnectCalendars.tsx
Labels: ♻️ autoupdate, automerge

#4828 fixed dropdown in safari
  apps/web/pages/v2/event-types/index.tsx
  packages/ui/v2/core/Dropdown.tsx
Labels: ♻️ autoupdate, automerge

#4834 fix/error-while-confirm-booking
  apps/web/components/booking/BookingListItem.tsx
  apps/web/pages/v2/event-types/index.tsx
  apps/web/public/static/locales/en/common.json
  packages/trpc/server/routers/viewer/bookings.tsx
Labels: ♻️ autoupdate, automerge

#4846 Remove 'avatar' from query
  packages/features/ee/teams/components/v2/AddNewTeamMembers.tsx
  packages/lib/server/queries/teams/index.ts
Labels: ♻️ autoupdate, automerge

#4818 added TimezoneChangeDialog
  apps/web/pages/event-types/index.tsx
  apps/web/playwright/fixtures/users.ts
  apps/web/public/static/locales/en/common.json
  packages/ui/TimezoneChangeDialog.tsx
  packages/ui/v2/core/Dialog.tsx
  packages/ui/v2/core/Shell.tsx
Labels: ✨ feature, ♻️ autoupdate, automerge

#4676 fix: fixes multiple issues in routing form
  packages/app-store/ee/routing-forms/components/FormActions.tsx
  packages/app-store/ee/routing-forms/pages/forms/[...appPages].tsx
  packages/app-store/ee/routing-forms/trpc-router.ts
  packages/prisma/seed-app-store.config.json
Labels: ♻️ autoupdate, automerge

#4863 Fixes flakiness with timezone visibility in General Settings
  apps/web/pages/v2/settings/my-account/general.tsx
Labels: ♻️ autoupdate, automerge

#4869 Wrong css in event configuration page buttons
  apps/web/components/v2/eventtype/EventTypeSingleLayout.tsx
  apps/web/styles/globals.css
Labels: ♻️ autoupdate, automerge

#4881 Fixing unconfirmed/recurring bookings
  apps/web/components/booking/BookingListItem.tsx
  apps/web/lib/parseDate.ts
  apps/web/pages/bookings/[status].tsx
  apps/web/pages/v2/bookings/[status].tsx
  packages/prisma/seed.ts
  packages/trpc/server/routers/viewer.tsx
Labels: 🐛 bug, ♻️ autoupdate

#4893 Improve default app README.mdex
  packages/app-store-cli/src/CliApp.tsx
  packages/app-store/_baseApp/README.mdx
  packages/app-store/_baseApp/static/1.jpg
  packages/app-store/_baseApp/static/2.jpg
  packages/app-store/_baseApp/static/3.jpg
Labels: ♻️ autoupdate, automerge

#4911 Fix: Hiding event type loses recurring config
  packages/trpc/server/routers/viewer/eventTypes.tsx
Labels: 🐛 bug, ♻️ autoupdate, automerge

#4922 PaymentPage: Fix localStorage access issue in incognito
  packages/features/ee/payments/components/PaymentPage.tsx
  packages/features/ee/payments/pages/payment.tsx
Labels: ♻️ autoupdate, automerge

#4848 Feat/improve animation on public booking page
  apps/web/components/booking/AvailableTimes.tsx
  apps/web/components/booking/pages/AvailabilityPage.tsx
Labels: ♻️ autoupdate, automerge

#4939 dont show timezoneChangeDialog when impersonating
  packages/ui/TimezoneChangeDialog.tsx
Labels: ⚡ Quick Wins

#4906 Delete Dialog once closed, makes the entire app unresponsive.
  apps/web/pages/v2/event-types/index.tsx
Labels: ♻️ autoupdate, automerge

#4992 Fix/fallback to calvideo
  packages/app-store/zoomvideo/lib/VideoApiAdapter.ts
  packages/core/videoClient.ts
Labels: ♻️ autoupdate, automerge

#4819 Embed Improvements: Add auto-scroll support back, reduce CLS, remove loader for Routing Form embed
  apps/web/pages/_document.tsx
  packages/embeds/embed-core/playwright/config/playwright.config.ts
  packages/embeds/embed-core/src/embed-iframe.ts
  packages/embeds/embed-core/src/embed.ts
  packages/embeds/embed-react/README.md
  packages/embeds/embed-react/src/Cal.tsx
  packages/embeds/embed-react/test-cal.tsx
Labels: ♻️ autoupdate, automerge

#4982 Add links to Zapier templates in installed apps
  apps/web/components/v2/apps/CalendarListContainer.tsx
  apps/web/components/v2/apps/IntegrationListItem.tsx
  apps/web/pages/v2/apps/installed/[category].tsx
  packages/app-store/_components/AppSettings.tsx
  packages/app-store/n8n/config.json
  packages/app-store/zapier/_metadata.ts
  packages/app-store/zapier/components/AppSettings.tsx
  packages/app-store/zapier/components/TemplateCard.tsx
  packages/app-store/zapier/package.json
  packages/app-store/zapier/static/gmail.svg
  packages/app-store/zapier/static/googleCalendar.svg
  packages/app-store/zapier/static/googleSheets.svg
  packages/app-store/zapier/static/salesforce.svg
  packages/app-store/zapier/static/todoist.svg
  packages/types/App.d.ts
  packages/ui/v2/core/Shell.tsx
  packages/ui/v2/core/layouts/InstalledAppsLayout.tsx
Labels: ♻️ autoupdate, automerge

#4998 Add AppStore General Settings support
  apps/web/components/v2/apps/CalendarListContainer.tsx
  apps/web/pages/v2/apps/installed/[category].tsx
  packages/app-store-cli/src/app-store.ts
  packages/app-store/_components/AppSettings.tsx
  packages/app-store/apps.browser.generated.tsx
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/weather_in_your_calendar/README.mdx
  packages/app-store/weather_in_your_calendar/_metadata.ts
  packages/app-store/weather_in_your_calendar/api/add.ts
  packages/app-store/weather_in_your_calendar/api/index.ts
  packages/app-store/weather_in_your_calendar/components/AppSettings.tsx
  packages/app-store/weather_in_your_calendar/config.json
  packages/app-store/weather_in_your_calendar/index.ts
  packages/app-store/weather_in_your_calendar/package.json
  packages/app-store/weather_in_your_calendar/static/1.jpeg
  packages/app-store/weather_in_your_calendar/static/2.jpeg
  packages/app-store/weather_in_your_calendar/static/icon.gif
  packages/app-store/zapier/components/AppSettings.tsx
  packages/prisma/seed-app-store.config.json
Labels: ♻️ autoupdate, automerge

#5038 Update to message for invalid method
  packages/lib/server/defaultHandler.ts
Labels: ♻️ autoupdate, automerge

#4701 added QR code app, needs eventType.URL
  apps/web/components/v2/eventtype/EventAppsTab.tsx
  apps/web/pages/event-types/[type]/index.tsx
  packages/app-store/_components/AppCard.tsx
  packages/app-store/apps.browser.generated.tsx
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.schemas.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/qr_code/README.mdx
  packages/app-store/qr_code/_metadata.ts
  packages/app-store/qr_code/api/add.ts
  packages/app-store/qr_code/api/index.ts
  packages/app-store/qr_code/components/.gitkeep
  packages/app-store/qr_code/config.json
  packages/app-store/qr_code/extensions/EventTypeAppCard.tsx
  packages/app-store/qr_code/index.ts
  packages/app-store/qr_code/package.json
  packages/app-store/qr_code/static/icon.svg
  packages/app-store/qr_code/zod.ts
  packages/app-store/types.d.ts
  packages/prisma/seed-app-store.config.json
  packages/prisma/zod/webhook.ts
Labels: ♻️ autoupdate, automerge

#5063 Hotfix: Installed Apps Tabs Switchi g
  apps/web/pages/apps/installed/[category].tsx
Labels: ♻️ autoupdate, automerge

#5064 Hotfix: Installed Apps tab switching
  apps/web/pages/apps/installed/[category].tsx
Labels: ♻️ autoupdate, automerge

#5067 Hotfix: Avoid theme flicker in routing form embed.
  packages/embeds/embed-core/src/embed.ts
Labels: ♻️ autoupdate, automerge

#5068 Fix Zapier setup page
  packages/app-store/zapier/pages/v2/setup/index.tsx
Labels: ♻️ autoupdate, automerge

#5069 Hotfix: Prodution/ Routing Forms Embed
  packages/embeds/embed-core/src/embed.ts
Labels: ♻️ autoupdate, automerge

#4766 Hide other attendees on event types with seats
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/components/v2/eventtype/EventAdvancedTab.tsx
  apps/web/pages/api/email.ts
  apps/web/pages/event-types/[type]/index.tsx
  apps/web/pages/success.tsx
  apps/web/playwright/integrations.e2e.ts-snapshots/webhookResponse--calcom-web.txt
  apps/web/playwright/webhook.e2e.ts-snapshots/webhookResponse--calcom-web.txt
  apps/web/public/static/locales/en/common.json
  packages/app-store/closecomothercalendar/test/lib/CalendarService.test.ts
  packages/app-store/googlecalendar/lib/CalendarService.ts
  packages/emails/email-manager.ts
  packages/emails/templates/attendee-scheduled-email.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/lib/defaultEvents.ts
  packages/lib/test/builder.ts
  packages/prisma/migrations/20220929132137_add_seats_hide_attendees/migration.sql
  packages/prisma/schema.prisma
  packages/types/Calendar.d.ts
Labels: ❗️ migrations

#4971 Feat/3334 show times in timezones for bookingpage
  apps/web/components/booking/BookingListItem.tsx
  packages/lib/date-fns/index.ts
  packages/ui/v2/core/MeetingTimeInTimezones.tsx
  packages/ui/v2/core/index.ts
Labels: ♻️ autoupdate

#5091 iCalendar timezone fix in CalDAV
  packages/lib/CalendarService.ts
Labels: 🐛 bug, ✨ feature, ♻️ autoupdate, automerge, 🥇 High Priority

#5098 Fix social previews title and description by doing server side transl…
  apps/web/pages/apps/index.tsx
Labels: ♻️ autoupdate, automerge

#4975 The links that can be directly given to embed should pre-render(Either SSG/SSR)
  apps/web/components/booking/AvailableTimes.tsx
  apps/web/components/booking/CancelBooking.tsx
  apps/web/components/booking/pages/AvailabilityPage.tsx
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/lib/withEmbedSsr.tsx
  apps/web/middleware.ts
  apps/web/next.config.js
  apps/web/pages/[user].tsx
  apps/web/pages/[user]/[type].tsx
  apps/web/pages/[user]/[type]/embed.tsx
  apps/web/pages/[user]/book.tsx
  apps/web/pages/[user]/embed.tsx
  apps/web/pages/_document.tsx
  apps/web/pages/d/[link]/[slug].tsx
  apps/web/pages/d/[link]/[slug]/embed.tsx
  apps/web/pages/d/[link]/book.tsx
  apps/web/pages/success.tsx
  apps/web/pages/team/[slug].tsx
  apps/web/pages/team/[slug]/[type].tsx
  apps/web/pages/team/[slug]/[type]/embed.tsx
  apps/web/pages/team/[slug]/book.tsx
  apps/web/pages/team/[slug]/embed.tsx
  apps/web/playwright/fixtures/embeds.ts
  packages/app-store/ee/routing-forms/pages/routing-link/[...appPages].tsx
  packages/embeds/embed-core/index.html
  packages/embeds/embed-core/playwright/config/playwright.config.ts
  packages/embeds/embed-core/playwright/fixtures/fixtures.ts
  packages/embeds/embed-core/playwright/lib/testUtils.ts
  packages/embeds/embed-core/src/Inline/inlineHtml.ts
  packages/embeds/embed-core/src/embed-iframe.ts
  packages/embeds/embed-core/src/embed.ts
Labels: ♻️ autoupdate, automerge

#5103 refactor: use the useAnimate hook
  apps/web/components/booking/pages/AvailabilityPage.tsx
  apps/web/components/v2/eventtype/EventAdvancedTab.tsx
  apps/web/components/v2/eventtype/EventLimitsTab.tsx
  apps/web/components/v2/eventtype/EventSetupTab.tsx
  apps/web/pages/availability/index.tsx
  apps/web/pages/bookings/[status].tsx
  apps/web/pages/event-types/[type]/index.tsx
  packages/app-store/_components/AppCard.tsx
  packages/app-store/ee/routing-forms/pages/form-edit/[...appPages].tsx
  packages/app-store/ee/routing-forms/pages/route-builder/[...appPages].tsx
  packages/ui/v2/modules/event-types/CheckedTeamSelect.tsx
  packages/ui/v2/modules/event-types/MultiDropdownSelect.tsx
  packages/ui/v2/modules/tips/Tips.tsx
Labels: ♻️ autoupdate

#5113 fix: make all apps category tab scrollable
  packages/ui/v2/core/apps/AllApps.tsx
Labels: ♻️ autoupdate

#5132 Fix bug when booking an event with attendee's phone number as a location choice
  apps/web/components/booking/pages/BookingPage.tsx
Labels: ♻️ autoupdate, automerge

#5141 Hotfix: Unconfirmed bookings marked as confirmed in DB
  packages/features/bookings/lib/handleNewBooking.ts
Labels: ♻️ autoupdate, automerge

#5143 Hotfix/Production/Unconfirmed bookings
  packages/features/bookings/lib/handleNewBooking.ts
Labels: ♻️ autoupdate, automerge

#5146 [CAL-216] Confirming a booking shows old toast. Also removes old notification component.
  apps/web/components/App.tsx
  apps/web/components/availability/NewScheduleButton.tsx
  apps/web/components/booking/BookingListItem.tsx
  apps/web/components/dialog/RescheduleDialog.tsx
  apps/web/components/eventtype/CreateEventType.tsx
  apps/web/components/getting-started/components/CalendarSwitch.tsx
  apps/web/components/integrations/CalendarListContainer.tsx
  apps/web/components/integrations/DisconnectIntegration.tsx
  apps/web/components/integrations/DisconnectStripeIntegration.tsx
  apps/web/components/security/ChangePasswordSection.tsx
  apps/web/components/security/DisableUserImpersonation.tsx
  apps/web/components/team/DisableTeamImpersonation.tsx
  apps/web/components/team/MemberListItem.tsx
  apps/web/components/team/TeamSettings.tsx
  apps/web/components/team/TeamSettingsRightSidebar.tsx
  apps/web/components/team/UpgradeToFlexibleProModal.tsx
  apps/web/components/v2/apps/CalendarListContainer.tsx
  apps/web/pages/auth/verify.tsx
  apps/web/pages/old-getting-started.tsx
  packages/app-store/closecomothercalendar/pages/setup/index.tsx
  packages/app-store/ee/routing-forms/pages/routing-link/[...appPages].tsx
  packages/app-store/rainbow/components/RainbowKit.tsx
  packages/app-store/vital/components/AppConfiguration.tsx
  packages/app-store/wipemycalother/components/confirmDialog.tsx
  packages/app-store/zapier/pages/setup/index.tsx
  packages/features/ee/api-keys/components/ApiKeyDialogForm.tsx
  packages/features/ee/api-keys/components/v2/ApiKeyDialogForm.tsx
  packages/features/ee/support/components/HelpMenuItem.tsx
  packages/features/ee/workflows/components/NewWorkflowButton.tsx
  packages/features/ee/workflows/components/WorkflowDetailsPage.tsx
  packages/features/ee/workflows/components/WorkflowListPage.tsx
  packages/features/ee/workflows/components/WorkflowStepContainer.tsx
  packages/features/ee/workflows/components/v2/WorkflowStepContainer.tsx
  packages/features/webhooks/components/WebhookTestDisclosure.tsx
  packages/lib/notification.ts
  packages/ui/form/fields.tsx
Labels: ♻️ autoupdate, automerge

#5119 pipedream app
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/pipedream/README.mdx
  packages/app-store/pipedream/_metadata.ts
  packages/app-store/pipedream/api/add.ts
  packages/app-store/pipedream/api/index.ts
  packages/app-store/pipedream/components/.gitkeep
  packages/app-store/pipedream/config.json
  packages/app-store/pipedream/index.ts
  packages/app-store/pipedream/package.json
  packages/app-store/pipedream/static/1.png
  packages/app-store/pipedream/static/2.png
  packages/app-store/pipedream/static/3.png
  packages/app-store/pipedream/static/4.png
  packages/app-store/pipedream/static/5.png
  packages/app-store/pipedream/static/icon.svg
  packages/prisma/seed-app-store.config.json
Labels: ♻️ autoupdate, automerge, 📱 app

#5153 Hotfix: EventType can't be saved from AdvancedTab after enabling private links
  apps/web/components/v2/eventtype/EventAdvancedTab.tsx
Labels: ♻️ autoupdate, automerge

#5136 Profile dropdown menu will close after avatar is clicked
  packages/ui/v2/core/Shell.tsx
Labels: ♻️ autoupdate

#5127 Fix unauthorized error when saving workflows
  packages/trpc/server/routers/viewer/workflows.tsx
Labels: ♻️ autoupdate

#5147 #5131 -Event Type Settings Inconsistency
  apps/web/components/v2/eventtype/EventAdvancedTab.tsx
  apps/web/components/v2/eventtype/EventLimitsTab.tsx
  apps/web/components/v2/eventtype/RecurringEventController.tsx
  apps/web/public/static/locales/en/common.json
  packages/ui/package.json
  packages/ui/v2/core/SettingsToggle.tsx
  packages/ui/v2/core/index.ts
  packages/ui/v2/modules/event-types/CustomInputItem.tsx
Labels: 🧹 Improvements

#5148 Fix subjects for emails for Optin Bookings
  packages/emails/templates/attendee-request-email.ts
  packages/trpc/server/routers/viewer/bookings.tsx
Labels: ♻️ autoupdate, automerge

#5170 Segment Control
  apps/web/pages/sandbox/form.tsx
  packages/ui/v2/core/Segment.tsx
  packages/ui/v2/core/index.ts
Labels: ♻️ autoupdate, automerge

#5219 Hotfix/Production: 404 team link in embed
  apps/web/pages/team/[slug].tsx
Labels: ♻️ autoupdate, automerge

#5193 Hotfix/caldav reschedule jsonerror
  packages/lib/CalendarService.ts
Labels: 🐛 bug, ✨ feature

#5071 fix: overflow text, ui bugs
  apps/web/components/v2/eventtype/AvailabilityTab.tsx
  apps/web/components/v2/eventtype/EventSetupTab.tsx
  apps/web/components/v2/eventtype/EventTypeSingleLayout.tsx
  packages/app-store/_components/AppCard.tsx
  packages/ui/v2/core/Shell.tsx
Labels: ♻️ autoupdate

#5204 Cleaned up v1 for app store pages.
  apps/web/pages/apps/[slug]/setup.tsx
  packages/app-store/_pages/v2/setup/_getStaticProps.tsx
  packages/app-store/_pages/v2/setup/index.tsx
  packages/app-store/applecalendar/pages/setup/index.tsx
  packages/app-store/applecalendar/pages/v2/setup/index.tsx
  packages/app-store/caldavcalendar/pages/setup/index.tsx
  packages/app-store/caldavcalendar/pages/v2/setup/index.tsx
  packages/app-store/closecomothercalendar/pages/setup/index.tsx
  packages/app-store/closecomothercalendar/pages/v2/setup/index.tsx
  packages/app-store/exchange2013calendar/pages/setup/index.tsx
  packages/app-store/exchange2013calendar/pages/v2/setup/index.tsx
  packages/app-store/exchange2016calendar/pages/setup/index.tsx
  packages/app-store/exchange2016calendar/pages/v2/setup/index.tsx
  packages/app-store/exchangecalendar/pages/setup/index.tsx
  packages/app-store/exchangecalendar/pages/v2/setup/index.tsx
  packages/app-store/zapier/pages/setup/index.tsx
  packages/app-store/zapier/pages/v2/setup/_getStaticProps.tsx
  packages/app-store/zapier/pages/v2/setup/index.tsx
Labels: ♻️ autoupdate, automerge

#5187 added sirius video app
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/sirius_video/README.mdx
  packages/app-store/sirius_video/_metadata.ts
  packages/app-store/sirius_video/api/add.ts
  packages/app-store/sirius_video/api/index.ts
  packages/app-store/sirius_video/components/.gitkeep
  packages/app-store/sirius_video/config.json
  packages/app-store/sirius_video/index.ts
  packages/app-store/sirius_video/package.json
  packages/app-store/sirius_video/static/1.jpg
  packages/app-store/sirius_video/static/2.jpg
  packages/app-store/sirius_video/static/3.jpg
  packages/app-store/sirius_video/static/icon.svg
  packages/prisma/seed-app-store.config.json
Labels: ♻️ autoupdate, automerge

#5203 Add organizer's email address as reply-to for workflow emails
  packages/features/ee/workflows/api/scheduleEmailReminders.ts
  packages/features/ee/workflows/lib/reminders/emailReminderManager.ts
Labels: ♻️ autoupdate, automerge

#5150 fix: truncate longer text in tab item
  packages/ui/v2/core/navigation/tabs/VerticalTabItem.tsx
Labels: ♻️ autoupdate, automerge

#5149 [CAL-183] email and calendar still use old “cancel/reschedule” screens
  apps/web/pages/cancel/[uid].tsx
  packages/emails/src/components/ManageLink.tsx
  packages/lib/CalEventParser.ts
Labels: ♻️ autoupdate, automerge

#5157 Add a test that could have caught bug #5142
  apps/web/playwright/booking-pages.e2e.ts
  apps/web/playwright/lib/testUtils.ts
Labels: ♻️ autoupdate, automerge

#5176 fix: make "Bookings" side menu item active while switching submenu items
  packages/ui/v2/core/Shell.tsx
Labels: ♻️ autoupdate, automerge

#5210 Adds number for sms notifications from workflows to /success
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/pages/success.tsx
  apps/web/public/static/locales/en/common.json
Labels: ♻️ autoupdate, automerge

#5241 Fix Zapier sample data and payload
  packages/app-store/zapier/api/subscriptions/listBookings.ts
  packages/features/webhooks/lib/sendPayload.tsx
Labels: ♻️ autoupdate, automerge

#5259 Send only warn, error and fatal logs
  packages/lib/logger.ts
Labels: ♻️ autoupdate, automerge

#5252 Add try-catch and validation to run triggers on reschedule
  packages/app-store/zapier/lib/nodeScheduler.ts
Labels: ♻️ autoupdate, automerge

#5181 React embed: fix modal close on click outside
  apps/web/pages/success.tsx
Labels: ♻️ autoupdate, automerge

#5016 follow up: 4978 cal 87 re add tip in sidebar
  packages/ui/v2/core/Card.tsx
  packages/ui/v2/core/Shell.tsx
  packages/ui/v2/modules/tips/Tips.tsx
Labels: ♻️ autoupdate, automerge

#5286 🧹 Removed old v1 app components in web.
  apps/web/components/apps/AdditionalCalendarSelector.tsx
  apps/web/components/apps/AllApps.tsx
  apps/web/components/apps/App.tsx
  apps/web/components/apps/AppCard.tsx
  apps/web/components/apps/CalendarListContainer.tsx
  apps/web/components/apps/Categories.tsx
  apps/web/components/apps/DestinationCalendarSelector.tsx
  apps/web/components/apps/IntegrationListItem.tsx
  apps/web/components/apps/OmniInstallAppButton.tsx
  apps/web/components/apps/Slider.tsx
  apps/web/components/apps/TrendingAppsSlider.tsx
  apps/web/pages/apps/[slug]/index.tsx
  apps/web/pages/apps/installed/[category].tsx
  packages/app-store/_baseApp/README.mdx
  packages/app-store/_components/AppCard.tsx
  packages/app-store/applecalendar/README.mdx
  packages/app-store/around/README.mdx
  packages/app-store/caldavcalendar/README.mdx
  packages/app-store/campfire/README.mdx
  packages/app-store/closecomothercalendar/README.mdx
  packages/app-store/dailyvideo/README.mdx
  packages/app-store/fathom/README.mdx
  packages/app-store/ga4/README.mdx
  packages/app-store/giphy/README.mdx
  packages/app-store/googlecalendar/README.mdx
  packages/app-store/googlevideo/README.mdx
  packages/app-store/hubspotothercalendar/README.mdx
  packages/app-store/huddle01video/README.mdx
  packages/app-store/jitsivideo/README.mdx
  packages/app-store/larkcalendar/README.mdx
  packages/app-store/n8n/README.mdx
  packages/app-store/office365calendar/README.mdx
  packages/app-store/office365video/README.mdx
  packages/app-store/ping/README.mdx
  packages/app-store/pipedream/README.mdx
  packages/app-store/rainbow/README.mdx
  packages/app-store/raycast/README.mdx
  packages/app-store/riverside/README.mdx
  packages/app-store/sirius_video/README.mdx
  packages/app-store/slackmessaging/README.mdx
  packages/app-store/stripepayment/README.mdx
  packages/app-store/tandemvideo/README.mdx
  packages/app-store/typeform/README.mdx
  packages/app-store/weather_in_your_calendar/README.mdx
  packages/app-store/whereby/README.mdx
  packages/app-store/zapier/README.mdx
  packages/app-store/zoomvideo/README.mdx
Labels: ♻️ autoupdate, automerge, 🧹 Improvements

#5120 Feature/invalid credentials
  apps/web/components/apps/IntegrationListItem.tsx
  apps/web/pages/apps/installed/[category].tsx
  apps/web/public/static/locales/en/common.json
  packages/app-store/_utils/getCalendar.ts
  packages/app-store/applecalendar/lib/CalendarService.ts
  packages/app-store/caldavcalendar/lib/CalendarService.ts
  packages/app-store/closecomothercalendar/lib/CalendarService.ts
  packages/app-store/dailyvideo/lib/VideoApiAdapter.ts
  packages/app-store/exchange2013calendar/lib/CalendarService.ts
  packages/app-store/exchange2016calendar/lib/CalendarService.ts
  packages/app-store/exchangecalendar/lib/CalendarService.ts
  packages/app-store/googlecalendar/lib/CalendarService.ts
  packages/app-store/hubspotothercalendar/lib/CalendarService.ts
  packages/app-store/huddle01video/lib/VideoApiAdapter.ts
  packages/app-store/larkcalendar/lib/CalendarService.ts
  packages/app-store/office365calendar/lib/CalendarService.ts
  packages/app-store/office365video/lib/VideoApiAdapter.ts
  packages/app-store/tandemvideo/lib/VideoApiAdapter.ts
  packages/app-store/zoomvideo/lib/VideoApiAdapter.ts
  packages/core/CalendarManager.ts
  packages/core/EventManager.ts
  packages/core/videoClient.ts
  packages/lib/CalendarService.ts
  packages/lib/errors.ts
  packages/prisma/migrations/20221017205314_add_invalid_field_credential_table/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/createContext.ts
  packages/trpc/server/routers/viewer.tsx
  packages/types/Credential.d.ts
  packages/types/VideoApiAdapter.d.ts
  packages/ui/v2/core/Shell.tsx
Labels: ❗️ migrations
