Repository calcom/cal.com, pull requests merged in 2022-03, with the labels that each got.

#1889 Webhooks to support event type association
  apps/web/components/webhook/WebhookDialogForm.tsx
  apps/web/components/webhook/WebhookListContainer.tsx
  apps/web/components/webhook/WebhookListItem.tsx
  apps/web/components/webhook/WebhookTestDisclosure.tsx
  apps/web/lib/webhooks/integrationTemplate.tsx
  apps/web/lib/webhooks/subscriptions.tsx
  apps/web/pages/api/book/event.ts
  apps/web/pages/api/cancel.ts
  apps/web/pages/event-types/[type].tsx
  apps/web/pages/integrations/index.tsx
  apps/web/public/static/locales/en/common.json
  apps/web/server/routers/viewer/webhook.tsx
  packages/prisma/migrations/20220217093836_add_webhook_for_event/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/zod/eventtype.ts
  packages/prisma/zod/webhook.ts
Labels: ✨ feature, ♻️ autoupdate, 🧪 testing needed, 👀 ready for review, ❗️ migrations

#2047 Fixes incorrect Webhook Component title
  apps/web/components/webhook/WebhookListContainer.tsx
  apps/web/pages/event-types/[type].tsx
  apps/web/pages/integrations/index.tsx
  apps/web/public/static/locales/en/common.json
Labels: 🐛 bug, ♻️ autoupdate, 👀 ready for review

#2040 Admin/team billing downgrader
  apps/web/@prisma/client.ts
  apps/web/ee/components/TrialBanner.tsx
  apps/web/ee/lib/stripe/customer.ts
  apps/web/ee/lib/stripe/downgrade.ts
  apps/web/ee/lib/stripe/server.ts
  apps/web/ee/lib/stripe/team-billing.ts
  apps/web/ee/pages/api/integrations/stripepayment/portal.ts
  apps/web/lib/prisma.ts
  apps/web/package.json
  apps/web/pages/api/cron/downgradeUsers.ts
  apps/web/server/createContext.ts
  apps/web/server/routers/viewer.tsx
  apps/web/tsconfig.json
  packages/prisma/index.ts
  packages/prisma/migrations/20220303171305_adds_user_trial_ends_at/migration.sql
  packages/prisma/package.json
  packages/prisma/schema.prisma
  packages/tsconfig/base.json
  packages/tsconfig/package.json
  yarn.lock
Labels: ♻️ autoupdate, ❗️ migrations

#2015 Set buffer time before/after event type
  apps/web/components/booking/AvailableTimes.tsx
  apps/web/components/booking/pages/AvailabilityPage.tsx
  apps/web/lib/hooks/useSlots.ts
  apps/web/lib/types/event-type.ts
  apps/web/pages/[user]/[type].tsx
  apps/web/pages/event-types/[type].tsx
  apps/web/pages/team/[slug]/[type].tsx
  apps/web/public/static/locales/en/common.json
  packages/prisma/migrations/20220302035831_add_before_and_after_event_buffer/migration.sql
  packages/prisma/schema.prisma
Labels: ✨ feature, ♻️ autoupdate, 🧪 testing needed, 👀 ready for review, ❗️ migrations

#2028 Add "light-brand" and "dark-brand" colors (add a second color picker)
  apps/web/components/AddToHomescreen.tsx
  apps/web/components/CustomBranding.tsx
  apps/web/components/Loader.tsx
  apps/web/components/Shell.tsx
  apps/web/components/booking/AvailableTimes.tsx
  apps/web/components/booking/DatePicker.tsx
  apps/web/components/booking/TimeOptions.tsx
  apps/web/components/booking/pages/AvailabilityPage.tsx
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/components/security/TwoFactorModalHeader.tsx
  apps/web/components/team/MemberInvitationModal.tsx
  apps/web/components/ui/WeekdaySelect.tsx
  apps/web/components/ui/colorpicker.tsx
  apps/web/ee/components/team/availability/TeamAvailabilityTimes.tsx
  apps/web/pages/[user]/[type].tsx
  apps/web/pages/[user]/book.tsx
  apps/web/pages/availability/troubleshoot.tsx
  apps/web/pages/cancel/[uid].tsx
  apps/web/pages/settings/profile.tsx
  apps/web/pages/success.tsx
  apps/web/pages/team/[slug]/[type].tsx
  apps/web/pages/team/[slug]/book.tsx
  apps/web/public/static/locales/en/common.json
  apps/web/server/createContext.ts
  apps/web/server/routers/viewer.tsx
  apps/web/styles/globals.css
  apps/web/tailwind.config.js
  packages/prisma/migrations/20220302110201_add_dark_mode_brand_color/migration.sql
  packages/prisma/schema.prisma
  packages/ui/Button.tsx
Labels: ✨ feature, 🚧 wip / in the making, ♻️ autoupdate, ❗️ migrations

#2070 Fix prisma setup on e2e tests
  package.json
Labels: ♻️ autoupdate

#2029 fix: disregarding already booked spots or blocked calendar times
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/pages/api/book/event.ts
  apps/web/playwright/booking-pages.test.ts
  yarn.lock
Labels: ♻️ autoupdate

#2048 Feature/send opt in booking email
  apps/web/lib/emails/email-manager.ts
  apps/web/lib/emails/templates/attendee-request-email.ts
  apps/web/pages/api/book/event.ts
  apps/web/public/static/locales/en/common.json
Labels: ♻️ autoupdate

#1978 Upgrades prisma to 3.10
  packages/prisma/package.json
  yarn.lock
Labels: ♻️ autoupdate

#2075 Radix UI Switch
  apps/web/components/booking/TimeOptions.tsx
  apps/web/components/integrations/CalendarListContainer.tsx
  apps/web/components/webhook/WebhookDialogForm.tsx
  apps/web/pages/event-types/[type].tsx
  packages/config/tailwind-preset.js
  packages/ui/Switch.tsx
  packages/ui/index.tsx
Labels: ♻️ autoupdate, automerge

#2108 Fix for unintended webhook data being sent
  apps/web/pages/api/cancel.ts
Labels: 🐛 bug, ♻️ autoupdate, 👀 ready for review

#2079 Fix for buffer not considering custom interval slots and event duration for slots when using custom intervals
  apps/web/components/booking/DatePicker.tsx
  apps/web/ee/components/team/availability/TeamAvailabilityTimes.tsx
  apps/web/lib/hooks/useSlots.ts
  apps/web/lib/slots.ts
  apps/web/test/lib/slots.test.ts
Labels: 🐛 bug, ♻️ autoupdate, 🧪 testing needed, 👀 ready for review

#2104 Link/In person location
  apps/web/pages/event-types/[type].tsx
  apps/web/public/static/locales/en/common.json
  packages/lib/location.ts
  packages/prisma/zod-utils.ts
Labels: ♻️ autoupdate

#2109 Improved discord webhook payload
  apps/web/lib/webhooks/integrationTemplate.tsx
  apps/web/server/routers/viewer/webhook.tsx
Labels: ♻️ autoupdate, 👀 ready for review

#2152 Added 3 digit hex compatibility for Custom Brand colors
  apps/web/components/CustomBranding.tsx
Labels: ✨ feature, ♻️ autoupdate

#2081 Event type dropdown
  apps/web/components/Dialog.tsx
  apps/web/components/Shell.tsx
  apps/web/components/eventtype/CreateEventType.tsx
  apps/web/components/team/MemberListItem.tsx
  apps/web/components/team/TeamListItem.tsx
  apps/web/components/ui/TableActions.tsx
  apps/web/ee/lib/intercom/IntercomMenuItem.tsx
  apps/web/ee/lib/zendesk/ZendeskMenuItem.tsx
  apps/web/pages/event-types/index.tsx
  apps/web/pages/settings/profile.tsx
  apps/web/playwright/event-types.test.ts
  apps/web/public/static/locales/en/common.json
  packages/ui/Dropdown.tsx
  yarn.lock
Labels: ♻️ autoupdate

#2161 Fixing Ghost Input
  apps/web/pages/event-types/[type].tsx
Labels: ♻️ autoupdate

#2151 Refactor old dialog to radix Dialog
  apps/web/components/team/MemberChangeRoleModal.tsx
  apps/web/components/team/MemberInvitationModal.tsx
  apps/web/components/team/MemberListItem.tsx
  apps/web/components/team/TeamCreateModal.tsx
  apps/web/components/ui/ModalContainer.tsx
  apps/web/components/ui/Scheduler.tsx
  apps/web/components/ui/modal/SetTimesModal.tsx
  apps/web/ee/components/stripe/PaymentPage.tsx
  apps/web/pages/cancel/[uid].tsx
  apps/web/pages/cancel/success.tsx
  apps/web/pages/settings/teams/[id]/index.tsx
  apps/web/pages/settings/teams/index.tsx
  apps/web/pages/success.tsx
  apps/web/pages/video/meeting-ended/[uid].tsx
  apps/web/pages/video/meeting-not-started/[uid].tsx
  apps/web/pages/video/no-meeting-found.tsx
  packages/ui/Dialog.tsx
Labels: ♻️ autoupdate, 👀 ready for review

#2150 Feature/multiple schedules post turbo
  apps/web/components/Shell.tsx
  apps/web/components/availability/NewScheduleButton.tsx
  apps/web/components/availability/Schedule.tsx
  apps/web/components/ui/EditableHeading.tsx
  apps/web/lib/core/i18n/weekday.ts
  apps/web/pages/[user]/[type].tsx
  apps/web/pages/api/availability/[user].ts
  apps/web/pages/availability/[schedule].tsx
  apps/web/pages/availability/index.tsx
  apps/web/pages/event-types/[type].tsx
  apps/web/pages/getting-started.tsx
  apps/web/pages/settings/profile.tsx
  apps/web/pages/team/[slug]/[type].tsx
  apps/web/public/static/locales/en/common.json
  apps/web/public/static/locales/nl/common.json
  apps/web/server/createContext.ts
  apps/web/server/routers/viewer.tsx
  apps/web/server/routers/viewer/availability.tsx
  apps/web/server/routers/viewer/eventTypes.tsx
  apps/web/styles/globals.css
  packages/lib/availability.ts
  packages/lib/weekday.ts
  packages/prisma/migrations/20220305233635_availability_schedules/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/seed.ts
  packages/ui/Alert.tsx
  packages/ui/Switch.tsx
  yarn.lock
Labels: ♻️ autoupdate

#2177 Fix a set of E2E bugs causing several CI failures
  .github/workflows/e2e.yml
  README.md
  apps/web/.env.example
  apps/web/pages/api/auth/forgot-password.ts
  apps/web/playwright/auth/forgot-password.test.ts
  apps/web/playwright/booking-pages.test.ts
  apps/web/playwright/change-password.test.ts
  apps/web/playwright/event-types.test.ts
  apps/web/playwright/integrations-stripe.test.ts
  apps/web/playwright/integrations.test.ts
  apps/web/playwright/lib/teardown.ts
  apps/web/playwright/login.test.ts
  apps/web/playwright/saml.test.ts
  apps/web/playwright/trial.test.ts
  package.json
  packages/prisma/zod/custom/eventtype.ts
  packages/prisma/zod/webhook.ts
  tests/config/playwright.config.ts
  turbo.json
Labels: ♻️ autoupdate

#2195 Reverts the unintended changed files to before dialog change state
  apps/web/pages/cancel/[uid].tsx
  apps/web/pages/cancel/success.tsx
  apps/web/pages/video/meeting-ended/[uid].tsx
  apps/web/pages/video/meeting-not-started/[uid].tsx
  apps/web/pages/video/no-meeting-found.tsx
Labels: 🐛 bug

#2220 fix for email
  apps/web/lib/emails/templates/attendee-request-email.ts
Labels: 🐛 bug, ♻️ autoupdate

#2237 Fix prisma client bundle making final bundle overgrow
  apps/web/components/team/MemberListItem.tsx
  apps/web/components/team/TeamListItem.tsx
  apps/web/components/team/TeamSettingsRightSidebar.tsx
  apps/web/pages/api/auth/signup.ts
  apps/web/pages/api/auth/two-factor/totp/setup.ts
  apps/web/pages/settings/security.tsx
Labels: ♻️ autoupdate

#2259 Add various location events to seeder
  packages/prisma/seed.ts
Labels: ♻️ autoupdate, automerge

#2260 Booking page improvements
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/lib/core/http/fetch-wrapper.ts
Labels: ♻️ autoupdate, automerge

#2266 app store fixes
  apps/web/components/App.tsx
  apps/web/components/apps/AllApps.tsx
  apps/web/components/apps/AppCard.tsx
  apps/web/components/apps/Categories.tsx
  apps/web/pages/_app.tsx
  apps/web/pages/_document.tsx
  apps/web/pages/apps/categories/[category].tsx
  apps/web/pages/apps/nuke-my-cal.tsx
  packages/app-store/applecalendar/package.json
  packages/app-store/huddle01video/index.ts
  packages/app-store/huddle01video/package.json
  packages/app-store/office365video/package.json
Labels: ♻️ autoupdate, automerge

#2162 Add index rename migration
  packages/prisma/migrations/20220305233635_rename_indexes/migration.sql
Labels: ♻️ autoupdate

#2271 Fixes/app store mobile
  apps/web/components/apps/AllApps.tsx
  apps/web/pages/apps/categories/[category].tsx
  apps/web/pages/apps/installed.tsx
Labels: ♻️ autoupdate, automerge

#2219 Improving A11y across pages
  apps/web/components/availability/Schedule.tsx
  apps/web/pages/event-types/[type].tsx
  yarn.lock
Labels: ♻️ autoupdate, automerge

#2272 fix reacreate of bookingReferences when rescheduling
  apps/web/pages/api/book/event.ts
  packages/core/EventManager.ts
Labels: ♻️ autoupdate, automerge

#2336 Fixes locations options mistranslations
  apps/web/pages/event-types/[type].tsx
  packages/app-store/utils.ts
Labels: ♻️ autoupdate, automerge
