Repository calcom/cal.com, pull requests merged in 2022-08, with the labels that each got.

#3620 Hotfix: Fix Dialog not closing.
  packages/ui/Dialog.tsx
Labels: ♻️ autoupdate

#3542 Fixes unique constraint error of batchId when scheduling emails
  packages/features/ee/workflows/api/scheduleEmailReminders.ts
  packages/features/ee/workflows/api/scheduleSMSReminders.ts
Labels: ♻️ autoupdate, automerge

#3598 Correcting syntax of overloading
  packages/lib/auth.ts
Labels: ♻️ autoupdate, automerge

#3637 fix: base_url for login link should be WEBAPP_URL not WEBSITE_URL
  apps/web/pages/api/auth/[...nextauth].tsx
Labels: ♻️ autoupdate

#3437 feat(troubleshoot): add event titles to the troubleshoot page (#3434)
  apps/web/pages/availability/troubleshoot.tsx
  packages/core/getBusyTimes.ts
  packages/core/getUserAvailability.ts
  packages/types/Calendar.d.ts
Labels: ♻️ autoupdate

#3671 Brand color fix
  packages/config/tailwind-preset.js
Labels: ♻️ autoupdate, automerge

#3635 Tweaks for Website signup form
  apps/web/pages/auth/setup.tsx
  packages/ui/v2/form/fields.tsx
  yarn.lock
Labels: ♻️ autoupdate

#3675 Fix/api build
  packages/app-store/ee/routing_forms/trpc-router.ts
  packages/app-store/next-auth.d.ts
  packages/app-store/next.d.ts
  packages/app-store/tsconfig.json
  packages/lib/auth.ts
  packages/trpc/server/createContext.ts
  packages/trpc/tsconfig.json
  packages/tsconfig/nextjs.json
  packages/tsconfig/react-library.json
  packages/types/next-auth.d.ts
  packages/types/next.d.ts
Labels: ♻️ autoupdate, automerge

#3681 Hotfix: fixed dark mode profile page (#3650)
  apps/web/components/eventtype/EventTypeDescription.tsx
  apps/web/pages/team/[slug].tsx
Labels: automerge

#3602 Variables for custom templates in workflows
  apps/web/public/static/locales/de/common.json
  apps/web/public/static/locales/en/common.json
  packages/dayjs/index.ts
  packages/features/ee/workflows/api/scheduleEmailReminders.ts
  packages/features/ee/workflows/api/scheduleSMSReminders.ts
  packages/features/ee/workflows/components/AddVariablesDropdown.tsx
  packages/features/ee/workflows/components/NewWorkflowButton.tsx
  packages/features/ee/workflows/components/WorkflowStepContainer.tsx
  packages/features/ee/workflows/lib/reminders/emailReminderManager.ts
  packages/features/ee/workflows/lib/reminders/smsReminderManager.ts
  packages/features/ee/workflows/lib/reminders/templates/customTemplate.ts
  packages/features/ee/workflows/lib/variableTranslations.ts
  packages/trpc/server/routers/viewer/workflows.tsx
  packages/ui/Dropdown.tsx
Labels: ✨ feature, ♻️ autoupdate

#3685 Improve design of workflow reminder email
  packages/features/ee/workflows/api/scheduleEmailReminders.ts
  packages/features/ee/workflows/lib/reminders/emailReminderManager.ts
  packages/features/ee/workflows/lib/reminders/smsReminderManager.ts
  packages/features/ee/workflows/lib/reminders/templates/emailReminderTemplate.ts
  packages/trpc/server/routers/viewer/workflows.tsx
Labels: ♻️ autoupdate, automerge

#3693 Fix app-store seeding
  packages/prisma/seed-app-store.ts
Labels: automerge

#3697 Hotfix: Fix app-store seeding (#3693)
  packages/prisma/seed-app-store.ts
Labels: ♻️ autoupdate, automerge

#3711 Fixing App tabs routing
  apps/web/components/AppsShell.tsx
Labels: ♻️ autoupdate, automerge

#3669 Embed Test: Verifies that app remains hidden till link is ready
  packages/embeds/embed-core/playwright/config/playwright.config.ts
  packages/embeds/embed-core/playwright/fixtures/fixtures.ts
  packages/embeds/embed-core/playwright/lib/testUtils.ts
Labels: ♻️ autoupdate, automerge

#3648 updates to all public booking pages
  apps/storybook/styles/globals.css
  apps/web/components/booking/AvailableTimes.tsx
  apps/web/components/booking/TimeOptions.tsx
  apps/web/components/booking/pages/AvailabilityPage.tsx
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/components/eventtype/EventTypeDescription.tsx
  apps/web/components/ui/PoweredByCal.tsx
  apps/web/pages/[user].tsx
  apps/web/pages/team/[slug].tsx
  packages/ui/Shell.tsx
  packages/ui/booker/DatePicker.tsx
Labels: ♻️ autoupdate, automerge, 🧹 Improvements

#3678 Fix bug for reschedule on opt-in bookings
  apps/web/components/booking/pages/AvailabilityPage.tsx
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/pages/api/book/event.ts
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/reschedule.test.ts
  packages/core/builders/CalendarEvent/builder.ts
Labels: ♻️ autoupdate, automerge

#3019 feat: support lark calendar
  .env.appStore.example
  app.json
  packages/app-store/apps.browser.generated.tsx
  packages/app-store/apps.server.generated.ts
  packages/app-store/index.ts
  packages/app-store/larkcalendar/README.mdx
  packages/app-store/larkcalendar/_metadata.ts
  packages/app-store/larkcalendar/api/add.ts
  packages/app-store/larkcalendar/api/callback.ts
  packages/app-store/larkcalendar/api/events.ts
  packages/app-store/larkcalendar/api/index.ts
  packages/app-store/larkcalendar/common.ts
  packages/app-store/larkcalendar/components/InstallAppButton.tsx
  packages/app-store/larkcalendar/components/index.ts
  packages/app-store/larkcalendar/index.ts
  packages/app-store/larkcalendar/lib/AppAccessToken.ts
  packages/app-store/larkcalendar/lib/BotService.ts
  packages/app-store/larkcalendar/lib/CalendarService.ts
  packages/app-store/larkcalendar/lib/index.ts
  packages/app-store/larkcalendar/package.json
  packages/app-store/larkcalendar/static/icon.svg
  packages/app-store/larkcalendar/types/LarkCalendar.ts
  packages/prisma/seed-app-store.ts
  yarn.lock
Labels: ✨ feature, ♻️ autoupdate, automerge, 📱 app

#3688 Event description now supports markdown formatting
  apps/web/components/booking/pages/AvailabilityPage.tsx
  apps/web/components/eventtype/EventTypeDescriptionSafeHTML.tsx
  apps/web/package.json
  apps/web/pages/event-types/[type].tsx
  packages/lib/constants.ts
  packages/prisma/index.ts
  packages/prisma/middleware/bookingReference.ts
  packages/prisma/middleware/eventTypeDescriptionParseAndSanitize.ts
  packages/prisma/middleware/index.ts
  yarn.lock
Labels: ♻️ autoupdate, automerge

#3720 Add more details to running embed-core tests
  packages/embeds/embed-core/README.md
Labels: automerge

#3677 Setup Wizard Not Pulling Timezone
  apps/web/pages/getting-started.tsx
Labels: ♻️ autoupdate, automerge

#3585 Fixes bug when changing the location of a booking
  packages/app-store/googlecalendar/lib/CalendarService.ts
  packages/core/EventManager.ts
  packages/trpc/server/routers/viewer/bookings.tsx
Labels: 🐛 bug, ♻️ autoupdate, automerge

#3740 fix: remove mt
  apps/web/components/booking/pages/BookingPage.tsx
Labels: automerge

#3749 feat: signin test email magic signup in app
  apps/web/pages/auth/signin.tsx
Labels: ♻️ autoupdate

#3661 Fixes security issue when updating workflows
  packages/features/ee/workflows/components/NewWorkflowButton.tsx
  packages/trpc/server/routers/viewer/workflows.tsx
Labels: 🐛 bug, ♻️ autoupdate, automerge

#3667 refactor: use BookingReference instead of DailyEventReference
  apps/web/pages/video/[uid].tsx
  apps/web/pages/video/meeting-ended/[uid].tsx
  apps/web/pages/video/meeting-not-started/[uid].tsx
  packages/app-store/dailyvideo/lib/VideoApiAdapter.ts
  packages/app-store/dailyvideo/lib/getDailyAppKeys.ts
  packages/core/builders/CalendarEvent/class.ts
  packages/emails/src/components/LocationInfo.tsx
  packages/lib/CalEventParser.ts
  packages/lib/jest.config.js
  packages/lib/package.json
  packages/lib/test/.env.test
  packages/lib/test/CalEventParser.test.ts
  packages/lib/test/builder.ts
  packages/prisma/migrations/20220803090845_migrate_daily_event_reference_to_booking_reference/migration.sql
  packages/prisma/migrations/20220803091114_drop_daily_event_reference/migration.sql
  packages/prisma/schema.prisma
  packages/types/Calendar.d.ts
Labels: ♻️ autoupdate, automerge

#3752 Allows tree shaking unused modules
  apps/web/next.config.js
  packages/app-store-cli/package.json
  packages/app-store/package.json
  packages/config/package.json
  packages/core/package.json
  packages/emails/package.json
  packages/embeds/embed-react/package.json
  packages/embeds/embed-snippet/package.json
  packages/eslint-plugin/package.json
  packages/features/package.json
  packages/lib/package.json
  packages/trpc/package.json
  packages/tsconfig/package.json
  packages/ui/package.json
Labels: ♻️ autoupdate, automerge

#3823 Imports performance explicitly for Node v14
  packages/core/CalendarManager.ts
  packages/core/getBusyTimes.ts
  packages/core/getUserAvailability.ts
  packages/trpc/server/routers/viewer/slots.tsx
  turbo.json
Labels: ♻️ autoupdate, automerge

#3687 Dynamic Links re-integrate with availability logic
  apps/web/components/booking/pages/AvailabilityPage.tsx
  apps/web/pages/[user].tsx
  apps/web/pages/[user]/[type].tsx
  apps/web/pages/[user]/book.tsx
  apps/web/pages/api/book/event.ts
  apps/web/pages/d/[link]/[slug].tsx
  apps/web/pages/d/[link]/book.tsx
  apps/web/pages/team/[slug]/[type].tsx
  apps/web/pages/team/[slug]/book.tsx
  apps/web/test/lib/getSchedule.test.ts
  apps/web/test/lib/team-event-types.test.ts
  packages/core/getBusyTimes.ts
  packages/core/getUserAvailability.ts
  packages/lib/defaultEvents.ts
  packages/prisma/selects/user.ts
  packages/trpc/server/routers/viewer/slots.tsx
  packages/trpc/server/routers/viewer/teams.tsx
Labels: ♻️ autoupdate, automerge, 🧹 Improvements

#3760 Fixes issues with video location links from apps
  apps/web/components/booking/BookingListItem.tsx
  apps/web/components/booking/pages/AvailabilityPage.tsx
  packages/core/EventManager.ts
Labels: ♻️ autoupdate

#3850 Allow scrolling when the dialog exceeds screen height
  apps/web/components/eventtype/CreateEventType.tsx
  packages/ui/Dialog.tsx
Labels: ♻️ autoupdate

#3744 fix: css for location
  apps/web/components/booking/pages/AvailabilityPage.tsx
Labels: ♻️ autoupdate

#3709 Close.com App
  apps/web/public/static/locales/en/common.json
  packages/app-store/_pages/setup/index.tsx
  packages/app-store/apps.browser.generated.tsx
  packages/app-store/apps.server.generated.ts
  packages/app-store/closecomothercalendar/README.mdx
  packages/app-store/closecomothercalendar/_metadata.ts
  packages/app-store/closecomothercalendar/api/_getAdd.ts
  packages/app-store/closecomothercalendar/api/_postAdd.ts
  packages/app-store/closecomothercalendar/api/_postCheck.ts
  packages/app-store/closecomothercalendar/api/add.ts
  packages/app-store/closecomothercalendar/api/check.ts
  packages/app-store/closecomothercalendar/api/index.ts
  packages/app-store/closecomothercalendar/components/InstallAppButton.tsx
  packages/app-store/closecomothercalendar/components/index.ts
  packages/app-store/closecomothercalendar/config.json
  packages/app-store/closecomothercalendar/index.ts
  packages/app-store/closecomothercalendar/jest.config.ts
  packages/app-store/closecomothercalendar/lib/CalendarService.ts
  packages/app-store/closecomothercalendar/lib/index.ts
  packages/app-store/closecomothercalendar/package.json
  packages/app-store/closecomothercalendar/pages/setup/index.tsx
  packages/app-store/closecomothercalendar/static/icon.svg
  packages/app-store/closecomothercalendar/static/screenshot.png
  packages/app-store/closecomothercalendar/test/globals.ts
  packages/app-store/closecomothercalendar/test/lib/CalendarService.test.ts
  packages/app-store/index.ts
  packages/lib/CloseCom.ts
  packages/lib/deriveAppDictKeyFromType.ts
  packages/prisma/seed-app-store.ts
  packages/ui/v2/Button.tsx
  yarn.lock
Labels: ♻️ autoupdate

#3859 Fixes bug with dynamic variables in workflows
  packages/features/ee/workflows/components/AddVariablesDropdown.tsx
  packages/features/ee/workflows/lib/reminders/templates/customTemplate.ts
Labels: 🐛 bug

#3851 Hotfix: Embed - Fix issue in accessing sessionStorage in certain scenarios
  apps/web/pages/_document.tsx
  apps/web/pages/getting-started.tsx
  apps/web/pages/settings/profile.tsx
  apps/web/playwright/onboarding.test.ts
  packages/eslint-plugin/src/configs/recommended.ts
  packages/eslint-plugin/src/rules/avoid-web-storage.ts
  packages/eslint-plugin/src/rules/index.ts
  packages/lib/webstorage.ts
Labels: ♻️ autoupdate, automerge

#3923 redesigned cancel page to new design
  apps/web/pages/cancel/[uid].tsx
  apps/web/pages/success.tsx
Labels: ♻️ autoupdate, automerge

#3914 fix: developer docs url
  apps/web/pages/404.tsx
  packages/lib/constants.ts
Labels: documentation

#3898 Fixes collective availability for teams with overlapping day timezones
  apps/web/jest.config.ts
  apps/web/package.json
  apps/web/playwright/fixtures/users.ts
  apps/web/test/lib/getAggregateWorkingHours.test.ts
  apps/web/test/lib/getSchedule.test.ts
  apps/web/test/lib/getWorkingHours.test.ts
  apps/web/test/lib/team-event-types.test.ts
  packages/core/getAggregateWorkingHours.ts
  packages/core/getUserAvailability.ts
  packages/lib/availability.ts
  packages/lib/server/getLuckyUser.ts
  packages/lib/slots.ts
  packages/lib/test/builder.ts
  packages/trpc/server/routers/viewer/slots.tsx
  packages/trpc/server/routers/viewer/teams.tsx
Labels: ♻️ autoupdate, automerge

#3958 Fix availability free-busy data pull, location change and status in CALDAV | new branch (attempt#2)
  packages/lib/CalendarService.ts
  packages/lib/sanitizeCalendarObject.ts
Labels: 🐛 bug, ♻️ autoupdate

#3967 Fixing back reference to recurring event when rescheduled
  apps/web/pages/api/book/event.ts
Labels: 🐛 bug, ♻️ autoupdate, automerge

#3970 Hidding import features from other services
  apps/web/pages/getting-started.tsx
Labels: ♻️ autoupdate

#3973 Fixes CLS when loading Avatars
  packages/ui/v2/core/Avatar.tsx
Labels: ♻️ autoupdate, automerge

#3971 Adding continue button to connectCalendar on getting-started view
  apps/web/pages/getting-started.tsx
Labels: ♻️ autoupdate

#3874 2.0 Settings / My Account {View}
  apps/web/components/v2/settings/CalendarSwitch.tsx
  apps/web/components/v2/settings/ImageUploader.tsx
  apps/web/middleware.ts
  apps/web/next.config.js
  apps/web/pages/v2/settings/my-account/appearance.tsx
  apps/web/pages/v2/settings/my-account/calendars.tsx
  apps/web/pages/v2/settings/my-account/conferencing.tsx
  apps/web/pages/v2/settings/my-account/general.tsx
  apps/web/pages/v2/settings/my-account/profile.tsx
  apps/web/public/static/locales/en/common.json
  packages/ui/v2/core/Shell.tsx
  packages/ui/v2/core/layouts/SettingsLayout.tsx
  packages/ui/v2/core/navigation/tabs/VerticalTabItem.tsx
  packages/ui/v2/core/navigation/tabs/VerticalTabs.tsx
  packages/ui/v2/modules/List.tsx
  packages/ui/v2/modules/integrations/DisconnectIntegration.tsx
Labels: ♻️ autoupdate

#3873 Button to test a workflow action
  apps/web/public/static/locales/en/common.json
  packages/features/ee/workflows/components/WorkflowDetailsPage.tsx
  packages/features/ee/workflows/components/WorkflowStepContainer.tsx
  packages/features/ee/workflows/pages/workflow.tsx
  packages/trpc/server/routers/viewer/workflows.tsx
Labels: ✨ feature, ♻️ autoupdate, automerge, 🧹 Improvements

#3977 Adds deprecation notice to QueryCell
  apps/web/lib/QueryCell.tsx
Labels: ♻️ autoupdate, automerge

#3946 Disable broken calendar email
  packages/core/CalendarManager.ts
Labels: ♻️ autoupdate, automerge

#3210 Zoom/Hubspot Tests with MSW mocking of requests initiated from Next.js server
  .github/workflows/integrations-third-party.yml
  apps/web/package.json
  apps/web/pages/apps/installed.tsx
  apps/web/playwright-integrations/.gitignore
  apps/web/playwright-integrations/config/playwright.config.ts
  apps/web/playwright-integrations/lib/fixtures.ts
  apps/web/playwright-integrations/next-server.ts
  apps/web/playwright-integrations/tests/integrations.test.ts
  apps/web/playwright-integrations/tests/integrations.test.ts-snapshots/webhookResponse-chromium.txt
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/integrations-stripe.test.ts
  apps/web/playwright/integrations.test.ts
  package.json
  packages/app-store/zoomvideo/api/callback.ts
  packages/app-store/zoomvideo/lib/VideoApiAdapter.ts
  packages/emails/templates/_base-email.ts
  packages/ui/ConfirmationDialogContent.tsx
  tests/config/globalSetup.ts
  turbo.json
  yarn.lock
Labels: ♻️ autoupdate

#3947 fix: add team model in prisma middleware
  packages/prisma/middleware/eventTypeDescriptionParseAndSanitize.ts
Labels: ♻️ autoupdate, automerge

#4008 fix: add warn and trash icon
  apps/web/components/webhook/WebhookListItem.tsx
  packages/features/ee/api-keys/components/ApiKeyListItem.tsx
Labels: ♻️ autoupdate, automerge

#4000 Availability and booking info text format fixes
  apps/web/components/booking/AvailableEventLocations.tsx
  apps/web/components/booking/pages/AvailabilityPage.tsx
  apps/web/components/booking/pages/BookingPage.tsx
Labels: ♻️ autoupdate

#3957 One jest to rule them all
  apps/web/jest.config.ts
  apps/web/package.json
  apps/web/test/lib/getSchedule.test.ts
  jest.config.ts
  package.json
  packages/app-store/closecomothercalendar/jest.config.ts
  packages/app-store/closecomothercalendar/package.json
  packages/app-store/closecomothercalendar/test/lib/CalendarService.test.ts
  packages/lib/jest.config.js
  packages/lib/package.json
  packages/lib/test/CalEventParser.test.ts
  packages/prisma/delete-app.ts
  packages/prisma/seed.ts
  yarn.lock
Labels: ♻️ autoupdate, automerge

#4022 V2 colors - Public Booking
  apps/web/components/booking/AvailableTimes.tsx
  apps/web/components/booking/pages/AvailabilityPage.tsx
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/pages/[user].tsx
  packages/ui/booker/DatePicker.tsx
  packages/ui/v2/core/Button.tsx
  packages/ui/v2/modules/booker/DatePicker.tsx
  packages/ui/v2/modules/event-types/EventTypeDescription.tsx
Labels: 🧹 Improvements

#3997 feat: Adds new v2 design for app detail page. Fixes #3779
  apps/web/components/v2/apps/App.tsx
  apps/web/middleware.ts
  apps/web/pages/v2/apps/[slug]/index.tsx
Labels: ♻️ autoupdate, automerge

#4034 Improve the README development setup steps around environment variables
  .env.example
  README.md
Labels: ♻️ autoupdate

#4018 V2 Settings - Security View
  apps/web/components/v2/settings/DisableTwoFactorModal.tsx
  apps/web/components/v2/settings/EnableTwoFactorModal.tsx
  apps/web/components/v2/settings/TwoFactorAuthAPI.ts
  apps/web/lib/app-providers.tsx
  apps/web/lib/auth.ts
  apps/web/middleware.ts
  apps/web/next.config.js
  apps/web/pages/v2/settings/admin/apps.tsx
  apps/web/pages/v2/settings/admin/impersonation.tsx
  apps/web/pages/v2/settings/admin/index.tsx
  apps/web/pages/v2/settings/admin/users.tsx
  apps/web/pages/v2/settings/my-account/appearance.tsx
  apps/web/pages/v2/settings/my-account/calendars.tsx
  apps/web/pages/v2/settings/my-account/conferencing.tsx
  apps/web/pages/v2/settings/my-account/general.tsx
  apps/web/pages/v2/settings/my-account/profile.tsx
  apps/web/pages/v2/settings/security/password.tsx
  apps/web/pages/v2/settings/security/two-factor-auth.tsx
  apps/web/public/static/locales/en/common.json
  packages/lib/auth.ts
  packages/trpc/server/routers/viewer.tsx
  packages/trpc/server/routers/viewer/auth.tsx
  packages/ui/v2/core/Meta.tsx
  packages/ui/v2/core/layouts/SettingsLayout.tsx
Labels: ♻️ autoupdate

#3820 fix: rate limit auth
  apps/web/lib/auth.ts
  apps/web/pages/api/auth/[...nextauth].tsx
  apps/web/pages/auth/login.tsx
  apps/web/public/static/locales/en/common.json
  packages/lib/auth.ts
  packages/lib/rateLimit.ts
Labels: ♻️ autoupdate

#3811 Enhancement: Prevent duplicate webhooks in Routing Forms to prevent duplicate entries
  apps/web/components/webhook/WebhookDialogForm.tsx
  apps/web/components/webhook/WebhookListContainer.tsx
  apps/web/public/static/locales/en/common.json
  packages/prisma/migrations/20220811132430_add_unique_index_to_webhook/migration.sql
  packages/prisma/schema.prisma
Labels: automerge

#4054 Fix Zapier setup page
  packages/app-store/zapier/README.mdx
  packages/app-store/zapier/pages/setup/index.tsx
Labels: 🐛 bug, ♻️ autoupdate

#4058 HotFix: Routing forms logo
  apps/web/next.config.js
Labels: automerge

#4059 Add back enabledDateButton and disabledDateButton UI custom styling for embed
  packages/embeds/embed-core/index.html
  packages/ui/v2/modules/booker/DatePicker.tsx
Labels: ♻️ autoupdate, automerge

#4062 Fix locations listing in v2
  apps/web/components/v2/eventtype/EventSetupTab.tsx
Labels: ♻️ autoupdate, automerge

#4066 fix: lark calendar refresh token bug
  packages/app-store/larkcalendar/lib/AppAccessToken.ts
  packages/app-store/larkcalendar/lib/CalendarService.ts
Labels: ♻️ autoupdate, automerge

#3817 Improve 2fa: ask for code before account removal and 2fa disabling
  apps/web/components/auth/TwoFactor.tsx
  apps/web/components/security/DisableTwoFactorModal.tsx
  apps/web/components/security/EnableTwoFactorModal.tsx
  apps/web/components/security/TwoFactorAuthAPI.ts
  apps/web/components/security/TwoFactorModalHeader.tsx
  apps/web/lib/auth.ts
  apps/web/pages/api/auth/two-factor/totp/disable.ts
  apps/web/pages/auth/login.tsx
  apps/web/pages/settings/profile.tsx
  apps/web/playwright/auth/delete-account.test.ts
  apps/web/public/static/locales/en/common.json
  packages/trpc/server/routers/viewer.tsx
  packages/trpc/server/routers/viewer/auth.tsx
  packages/ui/form/fields.tsx
Labels: ♻️ autoupdate, 🧪 tests needed

#3996 feat: reschedule workflow added
  apps/web/pages/api/book/event.ts
  apps/web/public/static/locales/en/common.json
  packages/features/ee/workflows/lib/constants.ts
  packages/features/ee/workflows/lib/reminders/emailReminderManager.ts
  packages/features/ee/workflows/lib/reminders/reminderScheduler.ts
  packages/features/ee/workflows/lib/reminders/smsReminderManager.ts
  packages/prisma/migrations/20220827082641_reschedule_workflow_trigger_added/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/bookings.tsx
  turbo.json
Labels: ♻️ autoupdate
