Repository calcom/cal.com, pull requests merged in 2022-09, with the labels that each got.

#3933 Refactors google calendar service
  packages/app-store/googlecalendar/lib/CalendarService.ts
  packages/app-store/googlecalendar/lib/getGoogleAppKeys.ts
  packages/app-store/googlecalendar/lib/googleCredentialSchema.ts
Labels: ♻️ autoupdate, automerge

#4064 fixed dark mode skeleton on public page
  apps/web/components/booking/AvailableEventLocations.tsx
  apps/web/components/booking/AvailableTimes.tsx
  apps/web/components/booking/pages/AvailabilityPage.tsx
  packages/ui/skeleton/index.tsx
  packages/ui/v2/modules/booker/DatePicker.tsx
Labels: ♻️ autoupdate

#4002 Feat/v2 daterangepicker
  apps/storybook/stories/DatePicker.stories.tsx
  apps/storybook/stories/DateRangePicker.stories.tsx
  apps/storybook/styles/globals.css
  apps/web/components/v2/eventtype/EventLimitsTab.tsx
  packages/types/@wojtekmaj__react-daterange-picker.d.ts
  packages/ui/v2/core/Avatar.tsx
  packages/ui/v2/core/form/date-range-picker/DateRangePicker.tsx
  packages/ui/v2/core/form/date-range-picker/styles.css
Labels: automerge

#4081 fixes dark mode for success
  apps/web/pages/success.tsx
Labels: 🧹 Improvements

#4083 added lottie-react, added <Logo animated> for success page
  apps/web/package.json
  apps/web/pages/success.tsx
  packages/ui/Logo.tsx
  packages/ui/LogoAnimated.json
  packages/ui/LogoAnimatedWhite.json
  yarn.lock
Labels: 🧹 Improvements

#3945 Fixes 400 being thrown for NaN on disabling seats
  apps/web/pages/event-types/[type].tsx
Labels: ♻️ autoupdate

#4072 One playwright config to rule them all
  .github/workflows/e2e-app-store.yml
  .github/workflows/e2e-embed.yml
  .github/workflows/e2e.yml
  .github/workflows/integrations-third-party.yml
  .github/workflows/required-checks.yml
  .github/workflows/test.yml
  README.md
  apps/web/package.json
  apps/web/playwright-integrations/.gitignore
  apps/web/playwright-integrations/config/playwright.config.ts
  apps/web/playwright-integrations/lib/fixtures.ts
  apps/web/playwright/app-store.e2e.ts
  apps/web/playwright/auth/auth-index.e2e.ts
  apps/web/playwright/auth/auth-index.test.ts
  apps/web/playwright/auth/delete-account.e2e.ts
  apps/web/playwright/auth/forgot-password.e2e.ts
  apps/web/playwright/booking-pages.e2e.ts
  apps/web/playwright/change-password.e2e.ts
  apps/web/playwright/change-password.test.ts
  apps/web/playwright/change-username.e2e.ts
  apps/web/playwright/dynamic-booking-pages.e2e.ts
  apps/web/playwright/embed-code-generator.e2e.ts
  apps/web/playwright/event-types.e2e.ts
  apps/web/playwright/fixtures/embeds.ts
  apps/web/playwright/fixtures/servers.ts
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/hash-my-url.e2e.ts
  apps/web/playwright/integrations-stripe.e2e.ts
  apps/web/playwright/integrations.e2e.ts
  apps/web/playwright/integrations.e2e.ts-snapshots/webhookResponse--calcom-web.txt
  apps/web/playwright/lib/fixtures.ts
  apps/web/playwright/lib/next-server.ts
  apps/web/playwright/login.e2e.ts
  apps/web/playwright/login.oauth.e2e.ts
  apps/web/playwright/onboarding.e2e.ts
  apps/web/playwright/reschedule.e2e.ts
  apps/web/playwright/saml.e2e.ts
  apps/web/playwright/trial.e2e.ts
  apps/web/playwright/wipe-my-cal.e2e.ts
  jest.config.ts
  package.json
  packages/app-store/_apps-playwright/config/globalSetup.ts
  packages/app-store/_apps-playwright/config/playwright.config.ts
  packages/app-store/_apps-playwright/lib/testUtils.ts
  packages/app-store/closecomothercalendar/test/lib/CalendarService.test.ts
  packages/app-store/ee/routing_forms/package.json
  packages/app-store/ee/routing_forms/playwright/config/globalSetup.ts
  packages/app-store/ee/routing_forms/playwright/config/globalTeardown.ts
  packages/app-store/ee/routing_forms/playwright/config/playwright.config.ts
  packages/app-store/ee/routing_forms/playwright/fixtures/fixtures.ts
  packages/app-store/ee/routing_forms/playwright/lib/testUtils.ts
  packages/app-store/ee/routing_forms/playwright/tests/basic.e2e.ts
  packages/embeds/embed-core/playwright/tests/inline.e2e.ts
  packages/embeds/embed-core/playwright/tests/preview.e2e.ts
  packages/lib/CloseComeUtils.ts
  playwright.config.ts
  tests/config/globalSetup.ts
  tests/config/playwright.config.ts
  turbo.json
  yarn.lock
Labels: 👀 ready for review

#4119 Tidy up on event-types + NITS
  apps/web/components/eventtype/EventTypeDescription.tsx
  apps/web/components/v2/eventtype/EditLocationDialog.tsx
  apps/web/components/v2/eventtype/EventSetupTab.tsx
  apps/web/pages/v2/event-types/index.tsx
  packages/ui/v2/core/Badge.tsx
  packages/ui/v2/core/Dropdown.tsx
Labels: 👀 ready for review

#3902 V2.0 - Routing Forms and Shell 2.0 everywhere
  .github/workflows/e2e-app-store.yml
  apps/web/components/App.tsx
  apps/web/components/Embed.tsx
  apps/web/components/v2/eventtype/EventTypeSingleLayout.tsx
  apps/web/lib/app-providers.tsx
  apps/web/middleware.ts
  apps/web/pages/_app.tsx
  apps/web/pages/_document.tsx
  apps/web/pages/apps/[slug]/[...pages].tsx
  apps/web/pages/event-types/index.tsx
  apps/web/pages/v2/event-types/index.tsx
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/lib/fixtures.ts
  apps/web/styles/globals.css
  packages/app-store/ee/routing_forms/api/responses/[formId].ts
  packages/app-store/ee/routing_forms/components/FormActions.tsx
  packages/app-store/ee/routing_forms/components/RoutingNavBar.tsx
  packages/app-store/ee/routing_forms/components/RoutingShell.tsx
  packages/app-store/ee/routing_forms/components/SideBar.tsx
  packages/app-store/ee/routing_forms/components/SingleForm.tsx
  packages/app-store/ee/routing_forms/components/react-awesome-query-builder/styles.css
  packages/app-store/ee/routing_forms/components/react-awesome-query-builder/widgets.tsx
  packages/app-store/ee/routing_forms/lib/isAllowed.ts
  packages/app-store/ee/routing_forms/pages/form-edit/[...appPages].tsx
  packages/app-store/ee/routing_forms/pages/forms/[...appPages].tsx
  packages/app-store/ee/routing_forms/pages/route-builder/[...appPages].tsx
  packages/app-store/ee/routing_forms/playwright/tests/basic.e2e.ts
  packages/app-store/ee/routing_forms/trpc-router.ts
  packages/app-store/utils.ts
  packages/ui/Shell.tsx
  packages/ui/v2/core/Button.tsx
  packages/ui/v2/core/Divider.tsx
  packages/ui/v2/core/EmptyScreen.tsx
  packages/ui/v2/core/List.tsx
  packages/ui/v2/core/Shell.tsx
  packages/ui/v2/core/Tooltip.tsx
  packages/ui/v2/core/banner.tsx
  packages/ui/v2/core/form/BooleanToggleGroup.tsx
  packages/ui/v2/core/form/FormCard.tsx
  packages/ui/v2/core/form/Select.tsx
  packages/ui/v2/core/form/fields.tsx
  packages/ui/v2/core/form/index.ts
  packages/ui/v2/core/navigation/tabs/HorizontalTabItem.tsx
  packages/ui/v2/core/notifications.tsx
Labels: ♻️ autoupdate

#4063 Public Booking Pages
  apps/storybook/stories/AvatarGroup.stories.tsx
  apps/storybook/stories/ButtonGroup.stories.tsx
  apps/web/components/booking/AvailableEventLocations.tsx
  apps/web/components/booking/AvailableTimes.tsx
  apps/web/components/booking/TimeOptions.tsx
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/components/team/screens/Team.tsx
  apps/web/components/v2/eventtype/EventAdvancedTab.tsx
  apps/web/pages/[user].tsx
  apps/web/pages/team/[slug].tsx
  apps/web/pages/v2/event-types/index.tsx
  packages/ui/LogoAnimatedWhite.json
  packages/ui/form/PhoneInput.tsx
  packages/ui/form/TimezoneSelect.tsx
  packages/ui/v2/core/Avatar.tsx
  packages/ui/v2/core/Switch.tsx
  packages/ui/v2/modules/booker/DatePicker.tsx
Labels: ♻️ autoupdate, 👀 ready for review, automerge

#4049 wip: remove metamask app
  apps/web/components/booking/pages/AvailabilityPage.tsx
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/lib/app-providers.tsx
  apps/web/package.json
  apps/web/pages/[user].tsx
  apps/web/pages/[user]/book.tsx
  apps/web/pages/api/book/event.ts
  apps/web/pages/apps/installed.tsx
  apps/web/pages/d/[link]/book.tsx
  apps/web/pages/event-types/[type].tsx
  apps/web/pages/v2/event-types/[type]/index.tsx
  packages/app-store/apps.browser.generated.tsx
  packages/app-store/apps.server.generated.ts
  packages/app-store/index.ts
  packages/app-store/metamask/README.mdx
  packages/app-store/metamask/_metadata.ts
  packages/app-store/metamask/api/add.ts
  packages/app-store/metamask/api/index.ts
  packages/app-store/metamask/components/InstallAppButton.tsx
  packages/app-store/metamask/components/index.ts
  packages/app-store/metamask/index.ts
  packages/app-store/metamask/package.json
  packages/app-store/metamask/static/example1.png
  packages/app-store/metamask/static/example2.png
  packages/app-store/metamask/static/icon.svg
  packages/features/ee/web3/abis/abiWithGetBalance.json
  packages/features/ee/web3/components/CryptoSection.tsx
  packages/features/ee/web3/contexts/contractsContext.tsx
  packages/features/ee/web3/utils/verifyAccount.ts
  packages/lib/defaultEvents.ts
  packages/prisma/seed-app-store.ts
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer.tsx
  yarn.lock
Labels: ♻️ autoupdate

#4142 removed bg behind app logo and made category icon rounded
  apps/web/components/App.tsx
  apps/web/components/v2/apps/App.tsx
Labels: 🧹 Improvements

#4137 fixed add a location button
  apps/web/components/v2/eventtype/EventSetupTab.tsx
Labels: 🧹 Improvements

#4139 fixed search icon and tablet menu
  packages/ui/Kbar.tsx
  packages/ui/v2/core/Shell.tsx
Labels: ♻️ autoupdate, automerge

#4158 replaced gravatar default
  apps/web/components/ui/AvatarSSR.tsx
  apps/web/lib/profile.ts
  packages/lib/defaultAvatarImage.ts
  packages/lib/profile.ts
Labels: ♻️ autoupdate, automerge

#4136 #4133 fixed tooltip positioning
  apps/web/pages/v2/event-types/index.tsx
  packages/ui/v2/core/Tooltip.tsx
Labels: automerge, 🧹 Improvements

#4156 V2 Fixes
  apps/web/components/v2/eventtype/CustomInputTypeForm.tsx
  apps/web/pages/v2/event-types/index.tsx
  apps/web/pages/v2/settings/my-account/appearance.tsx
  packages/features/ee/workflows/components/v2/DeleteDialog.tsx
  packages/ui/v2/core/Dialog.tsx
  packages/ui/v2/core/form/fields.tsx
  packages/ui/v2/modules/event-types/CreateEventType.tsx
Labels: ♻️ autoupdate, automerge

#4165 added new VerticalDivider, using it in Event-types, fixed padding in app store
  apps/web/components/v2/eventtype/EventAppsTab.tsx
  apps/web/components/v2/eventtype/EventTypeSingleLayout.tsx
  apps/web/pages/v2/event-types/index.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/ee/workflows/components/v2/EventWorkflowsTab.tsx
  packages/ui/v2/core/EmptyScreen.tsx
  packages/ui/v2/core/VerticalDivider.tsx
Labels: ♻️ autoupdate

#4138 V2.0 Shell - Progressive Rendering with Skeleton
  apps/web/components/eventtype/CreateEventType.tsx
  apps/web/lib/QueryCell.tsx
  apps/web/pages/apps/installed.tsx
  apps/web/pages/availability/index.tsx
  apps/web/pages/bookings/[status].tsx
  apps/web/pages/event-types/index.tsx
  apps/web/pages/v2/availability/index.tsx
  apps/web/pages/v2/bookings/[status].tsx
  packages/ui/skeleton/index.tsx
  packages/ui/v2/core/Shell.tsx
  packages/ui/v2/core/form/FormCard.tsx
  packages/ui/v2/core/skeleton/index.tsx
Labels: ♻️ autoupdate, automerge

#4087 Design improvements for v2 security settings pages
  apps/web/pages/v2/settings/security/password.tsx
  apps/web/pages/v2/settings/security/two-factor-auth.tsx
Labels: 🧹 Improvements

#4019 Feat: Web3 Rainbowkit Integration
  .env.appStore.example
  apps/web/components/Gates.tsx
  apps/web/components/booking/AvailableTimes.tsx
  apps/web/components/booking/pages/AvailabilityPage.tsx
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/components/eventtype/RecurringEventController.tsx
  apps/web/components/v2/eventtype/EventRecurringTab.tsx
  apps/web/components/v2/eventtype/RecurringEventController.tsx
  apps/web/lib/types/booking.ts
  apps/web/pages/api/book/event.ts
  apps/web/pages/apps/installed.tsx
  apps/web/pages/event-types/[type].tsx
  apps/web/public/static/locales/en/common.json
  packages/app-store/apps.browser.generated.tsx
  packages/app-store/apps.server.generated.ts
  packages/app-store/package.json
  packages/app-store/rainbow/README.md
  packages/app-store/rainbow/README.mdx
  packages/app-store/rainbow/_metadata.ts
  packages/app-store/rainbow/api/add.ts
  packages/app-store/rainbow/api/index.ts
  packages/app-store/rainbow/components/RainbowInstallForm.tsx
  packages/app-store/rainbow/components/RainbowKit.tsx
  packages/app-store/rainbow/config.json
  packages/app-store/rainbow/index.ts
  packages/app-store/rainbow/package.json
  packages/app-store/rainbow/static/icon.svg
  packages/app-store/rainbow/trpc/router.ts
  packages/app-store/rainbow/utils/abi.json
  packages/app-store/rainbow/utils/ethereum.ts
  packages/prisma/seed-app-store.config.json
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer.tsx
  packages/types/App.d.ts
  turbo.json
  yarn.lock
Labels: ♻️ autoupdate

#4070 V2 workflow improvements
  apps/web/public/static/locales/en/common.json
  packages/features/ee/workflows/components/v2/AddActionDialog.tsx
  packages/features/ee/workflows/components/v2/AddVariablesDropdown.tsx
  packages/features/ee/workflows/components/v2/EventWorkflowsTab.tsx
  packages/features/ee/workflows/components/v2/WorkflowDetailsPage.tsx
  packages/features/ee/workflows/components/v2/WorkflowListPage.tsx
  packages/features/ee/workflows/components/v2/WorkflowStepContainer.tsx
  packages/features/ee/workflows/lib/getOptions.ts
  packages/features/ee/workflows/pages/v2/index.tsx
  packages/features/ee/workflows/pages/v2/workflow.tsx
  packages/ui/v2/core/Dropdown.tsx
Labels: ♻️ autoupdate

#4201 fixes dark mode piblic page
  apps/web/pages/_document.tsx
Labels: 🐛 bug

#4211 fixed dropdown component styling, added new shadow-dropdown
  packages/config/tailwind-preset.js
  packages/ui/v2/core/Dropdown.tsx
Labels: ♻️ autoupdate, automerge

#3987 V2/settings shell
  apps/web/components/v2/settings/DisableTwoFactorModal.tsx
  apps/web/components/v2/settings/EnableTwoFactorModal.tsx
  apps/web/components/v2/settings/TwoFactorAuthAPI.ts
  apps/web/pages/v2/auth/login.tsx
  apps/web/pages/v2/settings/my-account/conferencing.tsx
  apps/web/pages/v2/settings/my-account/profile.tsx
  apps/web/pages/v2/settings/security/password.tsx
  apps/web/public/static/locales/en/common.json
  packages/ui/v2/core/Dialog.tsx
  packages/ui/v2/core/Shell.tsx
  packages/ui/v2/core/layouts/AdminLayout.tsx
  packages/ui/v2/core/layouts/SettingsLayout.tsx
  packages/ui/v2/core/navigation/MobileSettingsContainer.tsx
  packages/ui/v2/core/navigation/SettingsSidebarContainer.tsx
Labels: ♻️ autoupdate, automerge

#3961 V1->V2 connect calendar
  apps/web/pages/v2/event-types/index.tsx
  packages/ui/v2/modules/event-types/DestinationCalendarSelector.tsx
Labels: ♻️ autoupdate

#4218 updated workflows empty screen
  apps/web/public/static/locales/en/common.json
  packages/features/ee/workflows/components/v2/EmptyScreen.tsx
  packages/features/ee/workflows/pages/v2/index.tsx
Labels: ♻️ autoupdate, automerge

#3377 Feature/new onboarding page
  README.md
  apps/web/components/DestinationCalendarSelector.tsx
  apps/web/components/availability/Schedule.tsx
  apps/web/components/availability/ScheduleListItem.tsx
  apps/web/components/getting-started/components/CalendarItem.tsx
  apps/web/components/getting-started/components/CalendarSwitch.tsx
  apps/web/components/getting-started/components/ConnectedCalendarItem.tsx
  apps/web/components/getting-started/components/CreateEventsOnCalendarSelect.tsx
  apps/web/components/getting-started/components/StepCard.tsx
  apps/web/components/getting-started/components/Steps.tsx
  apps/web/components/getting-started/steps-views/ConnectCalendars.tsx
  apps/web/components/getting-started/steps-views/SetupAvailability.tsx
  apps/web/components/getting-started/steps-views/UserProfile.tsx
  apps/web/components/getting-started/steps-views/UserSettings.tsx
  apps/web/components/ui/UsernameAvailability/PremiumTextfield.tsx
  apps/web/components/ui/UsernameAvailability/UsernameTextfield.tsx
  apps/web/components/ui/form/Select.tsx
  apps/web/pages/apps/installed.tsx
  apps/web/pages/availability/[schedule].tsx
  apps/web/pages/availability/index.tsx
  apps/web/pages/availability/troubleshoot.tsx
  apps/web/pages/event-types/[type].tsx
  apps/web/pages/getting-started/[[...step]].tsx
  apps/web/pages/old-getting-started.tsx
  apps/web/pages/v2/availability/[schedule].tsx
  apps/web/pages/v2/availability/index.tsx
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/onboarding.e2e.ts
  apps/web/public/fonts/Inter-Medium.ttf
  apps/web/public/fonts/Inter-Regular.ttf
  apps/web/public/static/locales/en/common.json
  apps/web/styles/globals.css
  package.json
  packages/app-store/components.tsx
  packages/features/schedules/components/NewScheduleButton.tsx
  packages/features/schedules/components/Schedule.tsx
  packages/features/schedules/components/ScheduleListItem.tsx
  packages/features/schedules/components/index.ts
  packages/features/schedules/index.ts
  packages/features/users/components/UserV2OptInBanner.tsx
  packages/trpc/server/routers/viewer.tsx
  packages/trpc/server/routers/viewer/availability.tsx
  packages/ui/form/TimezoneSelect.tsx
  packages/ui/v2/core/Switch.tsx
  packages/ui/v2/core/form/Select.tsx
  packages/ui/v2/modules/availability/Schedule.tsx
  packages/ui/v2/modules/availability/index.ts
  packages/ui/v2/modules/index.ts
Labels: ♻️ autoupdate

#4222 Hotfix Settings Shell
  packages/ui/v2/core/Shell.tsx
  packages/ui/v2/core/layouts/AdminLayout.tsx
  packages/ui/v2/core/layouts/SettingsLayout.tsx
  packages/ui/v2/core/navigation/tabs/VerticalTabItem.tsx
  packages/ui/v2/core/navigation/tabs/VerticalTabs.tsx
Labels: ♻️ autoupdate, automerge

#4224 Fix/styles getting started v2
  apps/web/components/getting-started/components/CalendarSwitch.tsx
  apps/web/components/getting-started/components/ConnectedCalendarItem.tsx
  apps/web/components/getting-started/components/StepCard.tsx
  apps/web/components/getting-started/components/Steps.tsx
  apps/web/components/getting-started/steps-views/ConnectCalendars.tsx
  apps/web/components/getting-started/steps-views/SetupAvailability.tsx
  apps/web/components/getting-started/steps-views/UserProfile.tsx
  apps/web/components/getting-started/steps-views/UserSettings.tsx
  apps/web/pages/event-types/[type].tsx
  apps/web/pages/getting-started/[[...step]].tsx
  apps/web/playwright/onboarding.e2e.ts
  apps/web/public/static/locales/en/common.json
  packages/features/schedules/components/Schedule.tsx
Labels: ♻️ autoupdate, automerge

#4219 added /more page for mobile
  apps/web/pages/more.tsx
  apps/web/public/static/locales/en/common.json
  packages/ui/v2/core/Shell.tsx
Labels: ♻️ autoupdate, automerge

#4227 Fixes overflow rounded border on availability page
  apps/web/components/booking/pages/AvailabilityPage.tsx
Labels: ♻️ autoupdate, automerge

#4233 Rounded divider + Fixing button group
  packages/app-store/ee/routing_forms/components/SingleForm.tsx
  packages/ui/v2/core/Button.tsx
  packages/ui/v2/core/ButtonGroup.tsx
  packages/ui/v2/core/VerticalDivider.tsx
  packages/ui/v2/core/index.ts
Labels: ♻️ autoupdate, automerge, ⚡ Quick Wins

#4230 fixed booking navbar, fixed bookings buttons, fixed /success dark mode
  apps/web/components/ui/TableActions.tsx
  apps/web/pages/v2/success.tsx
  packages/ui/v2/core/layouts/AppsLayout.tsx
  packages/ui/v2/core/layouts/BookingLayout.tsx
  packages/ui/v2/core/navigation/tabs/VerticalTabItem.tsx
Labels: automerge, ⚡ Quick Wins

#4226 Fixes UI issues of workflows component in event-type details
  packages/features/ee/workflows/components/v2/EventWorkflowsTab.tsx
Labels: ♻️ autoupdate, automerge

#4242 added desktop app layout for v2.0, changed 2.0 banner
  apps/web/pages/_document.tsx
  apps/web/styles/globals.css
  packages/config/tailwind-preset.js
  packages/features/users/components/UserV2OptInBanner.tsx
  packages/ui/Kbar.tsx
  packages/ui/v2/core/Alert.tsx
  packages/ui/v2/core/Shell.tsx
  packages/ui/v2/modules/event-types/CreateEventType.tsx
Labels: ♻️ autoupdate, automerge

#3743 Prevent saving error responses from Zoom to user credentials
  packages/app-store/zoomvideo/lib/VideoApiAdapter.ts
Labels: ♻️ autoupdate, automerge

#3074 Add calendar source to busy blocks
  apps/web/pages/availability/troubleshoot.tsx
  apps/web/pages/v2/availability/troubleshoot.tsx
  packages/core/CalendarManager.ts
  packages/core/getBusyTimes.ts
  packages/core/getUserAvailability.ts
  packages/trpc/server/routers/viewer/availability.tsx
  packages/types/Calendar.d.ts
Labels: ♻️ autoupdate, automerge

#4253 fixes toggle
  apps/web/components/eventtype/RecurringEventController.tsx
Labels: ♻️ autoupdate, 👀 ready for review, automerge, ⚡ Quick Wins

#4278 addded padding to sticky nav, temp removed TODAY from /booking
  apps/web/pages/v2/availability/[schedule].tsx
  apps/web/pages/v2/bookings/[status].tsx
  packages/ui/v2/core/navigation/tabs/HorizontalTabItem.tsx
  packages/ui/v2/core/navigation/tabs/VerticalTabs.tsx
Labels: ♻️ autoupdate, automerge, ⚡ Quick Wins

#4243 Impersonate UI
  apps/web/components/ui/AdminRequired.tsx
  apps/web/pages/v2/settings/admin/impersonation.tsx
  packages/features/auth/PermissionContainer.tsx
  packages/ui/v2/core/layouts/AdminLayout.tsx
  packages/ui/v2/core/layouts/SettingsLayout.tsx
Labels: ♻️ autoupdate, 🔧 in progress, automerge

#4294 fix/cookie-deletion-on-redirect
  apps/web/pages/apps/installed.tsx
Labels: ♻️ autoupdate

#4291 added n8n to app store
  apps/web/components/v2/apps/App.tsx
  packages/app-store/apps.browser.generated.tsx
  packages/app-store/apps.server.generated.ts
  packages/app-store/n8n/README.mdx
  packages/app-store/n8n/_metadata.ts
  packages/app-store/n8n/api/add.ts
  packages/app-store/n8n/api/index.ts
  packages/app-store/n8n/components/.gitkeep
  packages/app-store/n8n/config.json
  packages/app-store/n8n/index.ts
  packages/app-store/n8n/package.json
  packages/app-store/n8n/static/1.png
  packages/app-store/n8n/static/2.png
  packages/app-store/n8n/static/3.png
  packages/app-store/n8n/static/4.gif
  packages/app-store/n8n/static/icon.svg
  packages/prisma/seed-app-store.config.json
Labels: ✨ feature, ♻️ autoupdate, automerge, 📱 app

#4280 added padding top for settings on desktop
  packages/ui/v2/core/layouts/SettingsLayout.tsx
Labels: ♻️ autoupdate, automerge, ⚡ Quick Wins

#4297 removed <hr> from event type apps
  apps/web/components/v2/eventtype/EventAppsTab.tsx
Labels: ♻️ autoupdate, automerge

#4304 routing forms: first iteration of fixing dark mode
  packages/app-store/ee/routing_forms/components/react-awesome-query-builder/widgets.tsx
  packages/app-store/ee/routing_forms/pages/routing-link/[...appPages].tsx
Labels: ♻️ autoupdate, automerge, ⚡ Quick Wins

#4300 Fix UI issues
  apps/web/components/v2/settings/ImageUploader.tsx
  apps/web/pages/v2/settings/my-account/profile.tsx
  packages/ui/v2/core/Button.tsx
Labels: ♻️ autoupdate, automerge, ⚡ Quick Wins

#4282 fix: toggle alignment, spacing, square btn
  apps/web/components/v2/eventtype/EventAdvancedTab.tsx
  packages/ui/v2/core/form/fields.tsx
Labels: ♻️ autoupdate, automerge

#4292 feat: add an anchor tag to app detail category badge
  apps/web/components/v2/apps/App.tsx
Labels: ♻️ autoupdate, automerge

#3892 Improves Zapier response and payload
  apps/web/lib/webhooks/sendPayload.tsx
  apps/web/pages/api/book/event.ts
  apps/web/pages/api/cancel.ts
  apps/web/playwright/integrations.e2e.ts-snapshots/webhookResponse--calcom-web.txt
  packages/app-store/zapier/api/subscriptions/listBookings.ts
Labels: 🧹 Improvements

#4315 fixed dark mode team page
  apps/web/components/ui/AvatarGroup.tsx
  apps/web/pages/team/[slug].tsx
  packages/ui/v2/modules/event-types/EventTypeDescription.tsx
Labels: ♻️ autoupdate, automerge, ⚡ Quick Wins

#4323 Dynamic link description on Availability page & Booking page
  apps/web/components/eventtype/EventTypeDescriptionSafeHTML.tsx
Labels: 🐛 bug, ♻️ autoupdate, automerge

#4254 fix/onboarding-no-more-flaky-tests
  apps/web/playwright/change-password.e2e.ts
  apps/web/playwright/onboarding.e2e.ts
Labels: ♻️ autoupdate, automerge

#4331 Checking if serial fixes the issue (not conflicting with any others)
  apps/web/playwright/onboarding.e2e.ts
Labels: ♻️ autoupdate

#4333 minor changes to routing forms
  apps/web/public/static/locales/en/common.json
  packages/app-store/ee/routing_forms/components/FormActions.tsx
  packages/app-store/ee/routing_forms/components/SingleForm.tsx
  packages/app-store/ee/routing_forms/pages/forms/[...appPages].tsx
Labels: ♻️ autoupdate

#4311 Replace AdminLayout with SettingsLayout
  apps/web/pages/v2/settings/my-account/appearance.tsx
  apps/web/pages/v2/settings/my-account/calendars.tsx
  apps/web/pages/v2/settings/my-account/conferencing.tsx
  apps/web/pages/v2/settings/my-account/general.tsx
  apps/web/pages/v2/settings/my-account/profile.tsx
  apps/web/pages/v2/settings/security/password.tsx
  apps/web/pages/v2/settings/security/two-factor-auth.tsx
  packages/ui/v2/core/layouts/SettingsLayout.tsx
Labels: ♻️ autoupdate

#4314 Feature/add availability tab
  apps/web/components/v2/eventtype/AvailabilityTab.tsx
  apps/web/pages/v2/event-types/[type]/index.tsx
  apps/web/public/static/locales/en/common.json
Labels: automerge

#4336 a ton of mobile improvements to save space
  apps/web/components/booking/BookingListItem.tsx
  apps/web/components/ui/TableActions.tsx
  apps/web/pages/more.tsx
  apps/web/pages/v2/availability/index.tsx
  apps/web/pages/v2/bookings/[status].tsx
  apps/web/public/static/locales/en/common.json
  apps/web/styles/globals.css
  packages/app-store/ee/routing_forms/pages/forms/[...appPages].tsx
  packages/app-store/wipemycalother/components/confirmDialog.tsx
  packages/app-store/wipemycalother/components/wipeMyCalActionButton.tsx
  packages/features/ee/workflows/components/v2/WorkflowDetailsPage.tsx
  packages/ui/v2/core/Badge.tsx
  packages/ui/v2/core/Shell.tsx
  packages/ui/v2/core/layouts/BookingLayout.tsx
Labels: ♻️ autoupdate

#4322 HOTFIX: Removes disabled state from reminder phone input (reschedule)
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/lib/getBooking.tsx
Labels: 🐛 bug

#4324 V2 Multi-select (Team Select)
  apps/storybook/stories/Select.stories.tsx
  packages/ui/v2/modules/event-types/MultiDropdownSelect.tsx
Labels: ✨ feature

#4327 V2 password reset design
  apps/web/components/ui/AuthContainer.tsx
  apps/web/components/v2/ui/AuthContainer.tsx
  apps/web/pages/api/auth/forgot-password.ts
  apps/web/pages/auth/forgot-password/[id].tsx
  apps/web/pages/auth/forgot-password/index.tsx
  apps/web/playwright/auth/forgot-password.e2e.ts
  apps/web/public/static/locales/en/common.json
Labels: ♻️ autoupdate, automerge

#4351 Fixes Dynamic Link description Logic
  apps/web/components/eventtype/EventTypeDescriptionSafeHTML.tsx
  packages/lib/defaultEvents.ts
Labels: ♻️ autoupdate, automerge, 🧹 Improvements

#4378 Simple animations
  apps/web/pages/v2/availability/index.tsx
  apps/web/pages/v2/bookings/[status].tsx
Labels: ♻️ autoupdate, automerge

#4375 Fixes design issues in settings/appearance
  apps/web/pages/v2/settings/my-account/appearance.tsx
Labels: ♻️ autoupdate, automerge

#4372 fix: add fit to height
  apps/web/components/v2/eventtype/EventLimitsTab.tsx
  apps/web/components/v2/eventtype/RecurringEventController.tsx
Labels: ♻️ autoupdate, automerge

#4395 Fix px on suffix/prefix
  packages/ui/v2/core/form/fields.tsx
Labels: ♻️ autoupdate, automerge

#4347 V2 Settings Shell - Add Teams Section & UI fixes
  apps/web/playwright/dynamic-booking-pages.e2e.ts
  apps/web/public/static/locales/en/common.json
  packages/ui/v2/core/layouts/SettingsLayout.tsx
  packages/ui/v2/core/navigation/tabs/VerticalTabItem.tsx
Labels: ♻️ autoupdate, automerge

#4402 Adds skeleton loader to workflows
  apps/web/components/availability/SkeletonLoader.tsx
  apps/web/components/booking/SkeletonLoader.tsx
  apps/web/components/eventtype/SkeletonLoader.tsx
  packages/features/ee/workflows/components/v2/SkeletonLoaderEdit.tsx
  packages/features/ee/workflows/components/v2/SkeletonLoaderList.tsx
  packages/features/ee/workflows/components/v2/WorkflowDetailsPage.tsx
  packages/features/ee/workflows/components/v2/WorkflowListPage.tsx
  packages/features/ee/workflows/pages/v2/index.tsx
  packages/features/ee/workflows/pages/v2/workflow.tsx
  packages/ui/apps/SkeletonLoader.tsx
  packages/ui/v2/core/form/MultiSelectCheckboxes.tsx
Labels: ♻️ autoupdate

#4418 Fix/daterangepicker css
  packages/ui/v2/core/form/date-range-picker/styles.css
Labels: 🐛 bug, ♻️ autoupdate, automerge

#4428 [V2] Fix /settings/conferencing - 4421
  apps/web/pages/v2/settings/my-account/conferencing.tsx
  packages/ui/v2/modules/List.tsx
Labels: ♻️ autoupdate, automerge

#4369 Feat/3796 new UI for signin
  apps/storybook/stories/Input.stories.tsx
  apps/web/components/v2/ui/AuthContainer.tsx
  apps/web/middleware.ts
  apps/web/pages/v2/auth/login.tsx
  apps/web/public/static/locales/en/common.json
  packages/ui/v2/core/form/fields.tsx
  packages/ui/v2/modules/auth/SAMLLogin.tsx
Labels: ♻️ autoupdate

#4424 Adds radix tailwind + dropdown focus style
  apps/web/package.json
  packages/config/tailwind-preset.js
  packages/ui/v2/core/Dropdown.tsx
Labels: ♻️ autoupdate, automerge

#4430 V2 - Tidy up settings calendars
  apps/web/components/v2/settings/CalendarSwitch.tsx
  apps/web/pages/v2/settings/my-account/calendars.tsx
  packages/ui/v2/modules/integrations/DisconnectIntegration.tsx
Labels: ♻️ autoupdate, automerge

#4358 fix: Select dropdown styling
  apps/web/components/ui/form/Select.tsx
  packages/ui/v2/core/form/Select.tsx
Labels: ♻️ autoupdate, automerge

#4425 Fix input height 36px
  apps/web/components/v2/eventtype/EventLimitsTab.tsx
Labels: ♻️ autoupdate, automerge

#4427 Fix V2 settings/conference page error
  apps/web/pages/v2/settings/my-account/conferencing.tsx
  packages/app-store/riverside/config.json
  packages/types/App.d.ts
Labels: ♻️ autoupdate, automerge

#4404 Improve event type item description visibility
  apps/web/components/eventtype/EventTypeDescription.tsx
  apps/web/pages/v2/event-types/index.tsx
Labels: ♻️ autoupdate, automerge

#4431 Updating language in settings needs a reload to be translated
  apps/web/pages/v2/settings/my-account/general.tsx
Labels: ♻️ autoupdate, automerge

#4354 fix: remove i18n from title and description
  apps/web/pages/v2/settings/admin/apps.tsx
  apps/web/pages/v2/settings/admin/impersonation.tsx
  apps/web/pages/v2/settings/admin/index.tsx
  apps/web/pages/v2/settings/admin/users.tsx
  apps/web/pages/v2/settings/my-account/appearance.tsx
  apps/web/pages/v2/settings/my-account/calendars.tsx
  apps/web/pages/v2/settings/my-account/general.tsx
  apps/web/pages/v2/settings/my-account/profile.tsx
  apps/web/pages/v2/settings/security/password.tsx
  apps/web/pages/v2/settings/security/two-factor-auth.tsx
  packages/ui/v2/core/Meta.tsx
Labels: ♻️ autoupdate, automerge

#4448 Fix styles and remove temporarily elements
  apps/web/components/getting-started/components/CalendarItem.tsx
  apps/web/components/getting-started/components/ConnectedCalendarItem.tsx
  apps/web/components/getting-started/steps-views/ConnectCalendars.tsx
Labels: ♻️ autoupdate, automerge

#4466 V2: Routing Forms - Fix Route deletion
  packages/app-store/ee/routing_forms/pages/route-builder/[...appPages].tsx
  packages/ui/v2/core/form/FormCard.tsx
Labels: ♻️ autoupdate, automerge

#4437 feat: make toggle button default
  apps/web/pages/v2/availability/[schedule].tsx
  packages/ui/v2/core/Switch.tsx
Labels: ♻️ autoupdate, automerge

#3726 Adds rescheduling dropdown to past unconfirmed bookings
  apps/web/components/booking/BookingListItem.tsx
Labels: ♻️ autoupdate, automerge

#4401 fix: add a consistent key to the day ranges list
  packages/features/schedules/components/Schedule.tsx
Labels: ♻️ autoupdate, automerge

#4432 remove "Weve changed billing for teams" banner in teams
  apps/web/pages/settings/teams/[id]/index.tsx
Labels: ♻️ autoupdate, automerge

#4346 fix: remove name prop from NumberWidget
  packages/app-store/ee/routing_forms/components/react-awesome-query-builder/widgets.tsx
Labels: ♻️ autoupdate, automerge

#4456 Fixes active state of select options
  packages/ui/v2/core/form/Select.tsx
Labels: ✨ feature, automerge

#4469 KBar included @calcom/ui/v2/core -> Shell -> KBar -> Shell -> ...
  packages/ui/Kbar.tsx
Labels: automerge

#4451 4382 onboarding fix the disabled state of the username in step 1
  apps/web/components/ui/UsernameAvailability/PremiumTextfield.tsx
  apps/web/components/ui/UsernameAvailability/UsernameTextfield.tsx
  packages/ui/v2/core/form/fields.tsx
Labels: automerge

#4127 feat: Exchange with NTLM support
  apps/web/public/static/locales/de/common.json
  apps/web/public/static/locales/en/common.json
  packages/app-store/_pages/setup/index.tsx
  packages/app-store/_pages/v2/setup/index.tsx
  packages/app-store/apps.browser.generated.tsx
  packages/app-store/apps.server.generated.ts
  packages/app-store/exchangecalendar/README.mdx
  packages/app-store/exchangecalendar/_metadata.ts
  packages/app-store/exchangecalendar/api/_getAdd.ts
  packages/app-store/exchangecalendar/api/_postAdd.ts
  packages/app-store/exchangecalendar/api/add.ts
  packages/app-store/exchangecalendar/api/index.ts
  packages/app-store/exchangecalendar/components/InstallAppButton.tsx
  packages/app-store/exchangecalendar/components/index.ts
  packages/app-store/exchangecalendar/config.json
  packages/app-store/exchangecalendar/enums.ts
  packages/app-store/exchangecalendar/index.ts
  packages/app-store/exchangecalendar/lib/CalendarService.ts
  packages/app-store/exchangecalendar/lib/index.ts
  packages/app-store/exchangecalendar/package.json
  packages/app-store/exchangecalendar/pages/setup/index.tsx
  packages/app-store/exchangecalendar/pages/v2/setup/index.tsx
  packages/app-store/exchangecalendar/static/icon.svg
  packages/app-store/index.ts
  packages/prisma/seed-app-store.config.json
  yarn.lock
Labels: automerge

#4438 fix: merge order of calendar freebusy
  apps/web/components/booking/pages/AvailabilityPage.tsx
Labels: automerge

#4481 Bugfix/hide arrow button
  apps/web/pages/v2/event-types/index.tsx
Labels: automerge

#4348 fix/4128-reschedulebook-stops-creating-event-calendar
  apps/web/pages/success.tsx
  apps/web/public/static/locales/en/common.json
  packages/app-store/locations.ts
  packages/emails/email-manager.ts
  packages/emails/src/templates/AttendeeRescheduledEmail.tsx
  packages/emails/src/templates/AttendeeWasRequestedToRescheduleEmail.tsx
  packages/emails/src/templates/OrganizerRequestedToRescheduleEmail.tsx
  packages/emails/src/templates/OrganizerRescheduledEmail.tsx
  packages/emails/src/templates/index.ts
  packages/emails/templates/attendee-rescheduled-email.ts
  packages/emails/templates/attendee-scheduled-email.ts
  packages/emails/templates/attendee-was-requested-to-reschedule-email.ts
  packages/emails/templates/organizer-requested-to-reschedule-email.ts
  packages/emails/templates/organizer-rescheduled-email.ts
  packages/lib/CalEventParser.ts
Labels: automerge

#4477 feat: v2 embed
  apps/web/components/Embed.tsx
  apps/web/components/v2/eventtype/EventTypeSingleLayout.tsx
  apps/web/pages/v2/event-types/[type]/index.tsx
  apps/web/playwright/embed-code-generator.e2e.ts
  packages/embeds/embed-core/preview.html
  packages/embeds/embed-core/src/embed-iframe.ts
  packages/embeds/embed-core/src/embed.ts
  packages/ui/v2/core/layouts/AppsLayout.tsx
  packages/ui/v2/core/layouts/BookingLayout.tsx
  packages/ui/v2/core/navigation/tabs/HorizontalTabItem.tsx
  packages/ui/v2/core/navigation/tabs/HorizontalTabs.tsx
  packages/ui/v2/core/navigation/tabs/VerticalTabItem.tsx
  packages/ui/v2/core/navigation/tabs/VerticalTabs.tsx
  yarn.lock
Labels: ♻️ autoupdate, 👀 ready for review, automerge

#4467 Availability / Single View
  apps/web/components/getting-started/steps-views/SetupAvailability.tsx
  apps/web/pages/v2/availability/[schedule].tsx
  apps/web/public/static/locales/en/common.json
  packages/features/schedules/components/Schedule.tsx
  packages/trpc/server/routers/viewer/availability.tsx
Labels: ♻️ autoupdate, automerge

#4483 Implement getDefaultScheduleId to load the default schedule
  packages/trpc/server/routers/viewer/availability.tsx
Labels: ♻️ autoupdate, automerge

#4345 Availability default bug
  packages/trpc/server/routers/viewer/availability.tsx
Labels: ♻️ autoupdate, automerge

#4410 Add automation category and move zapier and n8n to it
  packages/app-store-cli/src/CliApp.tsx
  packages/app-store/n8n/_metadata.ts
  packages/app-store/n8n/config.json
  packages/app-store/zapier/_metadata.ts
  packages/prisma/migrations/20220912134714_add_automation_category/migration.sql
  packages/prisma/migrations/20220913034937_move_n8n_zapier_to_automation_category/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/seed-app-store.config.json
  packages/prisma/seed-app-store.ts
  packages/types/App.d.ts
Labels: ♻️ autoupdate, automerge

#4484 Settings Improvements - tRPC, Skeletons & Screen Width Issues
  apps/web/pages/v2/settings/my-account/appearance.tsx
  apps/web/pages/v2/settings/my-account/calendars.tsx
  apps/web/pages/v2/settings/my-account/conferencing.tsx
  apps/web/pages/v2/settings/my-account/general.tsx
  apps/web/pages/v2/settings/my-account/profile.tsx
  apps/web/public/static/locales/en/common.json
  packages/trpc/server/routers/viewer.tsx
  packages/ui/v2/core/layouts/SettingsLayout.tsx
Labels: ♻️ autoupdate, automerge

#4450 Create New Team
  apps/web/pages/v2/settings/teams/new/[[...step]].tsx
  apps/web/public/static/locales/en/common.json
  packages/features/ee/teams/components/MemberInvitationModal.tsx
  packages/features/ee/teams/components/v2/AddNewTeamMembers.tsx
  packages/features/ee/teams/components/v2/CreateNewTeam.tsx
  packages/lib/server/queries/teams/index.ts
  packages/trpc/server/routers/viewer/teams.tsx
  packages/ui/v2/core/Dialog.tsx
  packages/ui/v2/core/layouts/SettingsLayout.tsx
Labels: ♻️ autoupdate, automerge

#4491 Missing translations added
  apps/web/pages/v2/settings/teams/new/[[...step]].tsx
  apps/web/public/static/locales/en/common.json
Labels: automerge

#4492 Including cal.com domain
  apps/web/pages/v2/settings/my-account/profile.tsx
Labels: ⚡ Quick Wins

#4522 Settings View Fixes - Theme not working/Nav Items not highlighted
  apps/web/pages/v2/settings/my-account/appearance.tsx
  packages/ui/v2/core/layouts/SettingsLayout.tsx
Labels: ♻️ autoupdate, automerge

#4526 Fixing forget password link in login
  .github/workflows/check-types.yml
  apps/web/pages/v2/auth/login.tsx
Labels: 🐛 bug

#4495 Fix alignment issues
  apps/web/components/v2/eventtype/EventAppsTab.tsx
  packages/app-store/ee/routing_forms/components/react-awesome-query-builder/widgets.tsx
  packages/app-store/ee/routing_forms/pages/route-builder/[...appPages].tsx
Labels: ♻️ autoupdate, automerge

#4542 Use refs for inputs, full_name label, un-hardcoded WEBSITE_URL
  apps/web/pages/v2/settings/my-account/profile.tsx
Labels: ♻️ autoupdate, automerge

#4567 Fix typeform how-to-use page
  apps/web/middleware.ts
Labels: ♻️ autoupdate, automerge

#4568 Fix typeform how-to-use page (#4567)
  apps/web/middleware.ts
Labels: ♻️ autoupdate, automerge

#4569 Hotfix: Add back copy Typeform redirect url link and update screenshot
  packages/app-store/ee/routing_forms/components/FormActions.tsx
  packages/app-store/ee/routing_forms/components/SingleForm.tsx
  packages/app-store/ee/routing_forms/pages/forms/[...appPages].tsx
  packages/app-store/typeform/components/CopyRedirectUrlButton.tsx
  packages/app-store/typeform/components/index.ts
  packages/app-store/typeform/static/copy-typeform-redirect-url.png
  packages/app-store/typeform/static/how-it-looks-in-typeform.png
Labels: ♻️ autoupdate, automerge

#4573 fixed button group in /teams
  apps/web/components/team/TeamListItem.tsx
  packages/features/ee/teams/components/MemberInvitationModal.tsx
Labels: ♻️ autoupdate, automerge

#4564 added more app store screenshots
  apps/web/pages/v2/auth/login.tsx
  apps/web/public/static/locales/en/common.json
  packages/app-store/applecalendar/README.mdx
  packages/app-store/applecalendar/static/1.jpg
  packages/app-store/around/README.mdx
  packages/app-store/around/static/1.jpg
  packages/app-store/around/static/2.jpg
  packages/app-store/around/static/3.jpg
  packages/app-store/around/static/4.jpg
  packages/app-store/around/static/5.jpg
  packages/app-store/around/static/6.jpg
  packages/app-store/around/static/7.jpg
  packages/app-store/around/static/8.jpg
  packages/app-store/around/static/around1.webp
  packages/app-store/caldavcalendar/README.mdx
  packages/app-store/caldavcalendar/static/1.jpg
  packages/app-store/closecomothercalendar/README.mdx
  packages/app-store/closecomothercalendar/static/1.jpg
  packages/app-store/closecomothercalendar/static/2.jpg
  packages/app-store/closecomothercalendar/static/3.jpg
  packages/app-store/closecomothercalendar/static/4.jpg
  packages/app-store/closecomothercalendar/static/5.jpg
  packages/app-store/closecomothercalendar/static/screenshot.png
  packages/app-store/dailyvideo/README.mdx
  packages/app-store/dailyvideo/static/1.jpg
  packages/app-store/dailyvideo/static/2.jpg
  packages/app-store/dailyvideo/static/3.jpg
  packages/app-store/rainbow/README.mdx
  packages/app-store/rainbow/static/1.jpg
  packages/app-store/rainbow/static/2.jpg
  packages/app-store/rainbow/static/3.jpg
  packages/app-store/zapier/README.mdx
  packages/app-store/zapier/static/1.jpg
  packages/app-store/zapier/static/2.jpg
Labels: ♻️ autoupdate, automerge

#4595 Fixing installed app navigation
  apps/web/pages/v2/apps/installed/[category].tsx
Labels: ♻️ autoupdate, automerge

#4598 Hotfix/Production/ Fix Embed Tabs
  apps/web/components/Embed.tsx
  apps/web/components/v2/eventtype/EventTypeSingleLayout.tsx
  apps/web/playwright/embed-code-generator.e2e.ts
  packages/ui/Dialog.tsx
  packages/ui/v2/core/Dialog.tsx
Labels: automerge

#4610 typo in /more
  apps/web/public/static/locales/en/common.json
Labels: ♻️ autoupdate, automerge

#4620 Hotfix: Fix Wrong team link
  apps/web/components/v2/eventtype/EventTypeSingleLayout.tsx
Labels: ♻️ autoupdate, automerge

#4615 Fixes /availability/single-view - start date doesn't reflects settings
  apps/web/pages/v2/availability/[schedule].tsx
Labels: ♻️ autoupdate, automerge

#4478 fix: positioning of arrows
  packages/ui/v2/core/form/FormCard.tsx
Labels: ♻️ autoupdate, automerge

#4637 Fixes that workflow actions can be added to other workflows
  apps/web/public/static/locales/de/common.json
  packages/trpc/server/routers/viewer/workflows.tsx
Labels: ♻️ autoupdate, automerge

#4639 Show logo placeholder for teams in settings shell
  packages/ui/v2/core/layouts/SettingsLayout.tsx
Labels: ♻️ autoupdate, automerge

#4635 Improve new schedule creation flow
  packages/features/schedules/components/NewScheduleButton.tsx
Labels: ♻️ autoupdate, automerge

#4636 Icon button instead of text
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/public/static/locales/en/common.json
  packages/ui/v2/core/Button.tsx
  packages/ui/v2/core/Tooltip.tsx
Labels: ♻️ autoupdate, automerge

#4646 Run available user check if event type does not have checks
  apps/web/components/v2/eventtype/EventAdvancedTab.tsx
  apps/web/pages/api/book/event.ts
Labels: ♻️ autoupdate, automerge

#4651 Depreciate Exchange 2013 and 2016
  packages/prisma/seed-app-store.ts
Labels: ♻️ autoupdate, automerge

#4648 feat: optimistically update when deleting an availability
  apps/web/pages/availability/index.tsx
  apps/web/pages/v2/availability/index.tsx
  packages/features/schedules/components/ScheduleListItem.tsx
Labels: ♻️ autoupdate, automerge

#4586 fix-connect-calendar-minor-issues
  apps/web/components/getting-started/steps-views/ConnectCalendars.tsx
  apps/web/pages/v2/apps/installed/[category].tsx
Labels: ♻️ autoupdate, automerge

#4634 fix: skeleton loader issue in settings/api-keys
  apps/web/pages/v2/settings/developer/api-keys.tsx
Labels: ♻️ autoupdate, automerge

#4612 feat: new filter added
  apps/web/pages/bookings/[status].tsx
  apps/web/pages/v2/bookings/[status].tsx
  packages/app-store/wipemycalother/components/wipeMyCalActionButton.tsx
  packages/trpc/server/routers/viewer.tsx
  packages/ui/v2/core/layouts/BookingLayout.tsx
Labels: ♻️ autoupdate, automerge

#4546 Routing Forms Improvements - Rename routing_forms to routing-forms
  apps/web/lib/webhooks/constants.ts
  apps/web/middleware.ts
  apps/web/next.config.js
  apps/web/pages/apps/[slug]/[...pages].tsx
  apps/web/pages/settings/developer.tsx
  apps/web/playwright/integrations.e2e.ts
  apps/web/playwright/webhook.e2e.ts
  apps/web/playwright/webhook.e2e.ts-snapshots/webhookResponse--calcom-web.txt
  apps/web/tsconfig.json
  packages/app-store-cli/src/app-store.ts
  packages/app-store/apps.browser.generated.tsx
  packages/app-store/apps.server.generated.ts
  packages/app-store/ee/routing-forms/_metadata.ts
  packages/app-store/ee/routing-forms/api/add.ts
  packages/app-store/ee/routing-forms/api/index.ts
  packages/app-store/ee/routing-forms/api/responses/[formId].ts
  packages/app-store/ee/routing-forms/components/FormActions.tsx
  packages/app-store/ee/routing-forms/components/RoutingNavBar.tsx
  packages/app-store/ee/routing-forms/components/SingleForm.tsx
  packages/app-store/ee/routing-forms/components/index.ts
  packages/app-store/ee/routing-forms/components/react-awesome-query-builder/config/config.tsx
  packages/app-store/ee/routing-forms/components/react-awesome-query-builder/styles.css
  packages/app-store/ee/routing-forms/components/react-awesome-query-builder/widgets.tsx
  packages/app-store/ee/routing-forms/config.json
  packages/app-store/ee/routing-forms/env.d.ts
  packages/app-store/ee/routing-forms/index.ts
  packages/app-store/ee/routing-forms/lib/getFieldIdentifier.ts
  packages/app-store/ee/routing-forms/lib/getSerializableForm.ts
  packages/app-store/ee/routing-forms/lib/isAllowed.ts
  packages/app-store/ee/routing-forms/lib/processRoute.tsx
  packages/app-store/ee/routing-forms/package.json
  packages/app-store/ee/routing-forms/pages/app-routing.config.tsx
  packages/app-store/ee/routing-forms/pages/form-edit/[...appPages].tsx
  packages/app-store/ee/routing-forms/pages/forms/[...appPages].tsx
  packages/app-store/ee/routing-forms/pages/route-builder/[...appPages].tsx
  packages/app-store/ee/routing-forms/pages/router/[...appPages].tsx
  packages/app-store/ee/routing-forms/pages/routing-link/[...appPages].tsx
  packages/app-store/ee/routing-forms/playwright/tests/basic.e2e.ts
  packages/app-store/ee/routing-forms/static/icon.svg
  packages/app-store/ee/routing-forms/trpc-router.ts
  packages/app-store/ee/routing-forms/types/types.d.ts
  packages/app-store/ee/routing-forms/zod.ts
  packages/app-store/typeform/pages/how-to-use/[...appPages].tsx
  packages/features/webhooks/components/WebhookForm.tsx
  packages/features/webhooks/components/WebhookListItem.tsx
  packages/features/webhooks/pages/webhook-edit-view.tsx
  packages/features/webhooks/pages/webhook-new-view.tsx
  packages/features/webhooks/pages/webhooks-view.tsx
  packages/lib/webhooks/constants.ts
  packages/prisma/migrations/20220917042621_rename_routing_forms_slug/migration.sql
  packages/prisma/seed-app-store.config.json
  packages/trpc/server/routers/viewer.tsx
  packages/ui/v2/core/Shell.tsx
  packages/ui/v2/core/form/fields.tsx
Labels: ♻️ autoupdate

#4577 Use PremiumTextField in v2
  apps/web/components/ui/UsernameAvailability/PremiumTextfield.tsx
  apps/web/components/ui/UsernameAvailability/UsernameTextfield.tsx
  apps/web/pages/v2/settings/my-account/profile.tsx
  apps/web/playwright/change-username.e2e.ts
  packages/app-store/stripepayment/api/subscription.ts
  packages/trpc/server/createContext.ts
  packages/trpc/server/routers/viewer.tsx
Labels: ♻️ autoupdate, automerge

#4679 Fix min booking notice
  apps/web/components/v2/eventtype/EventLimitsTab.tsx
  apps/web/pages/v2/event-types/[type]/index.tsx
  packages/ui/v2/core/form/fields.tsx
Labels: ♻️ autoupdate, automerge

#4719 Fixes Zapier app installation
  packages/app-store/zapier/api/add.ts
  packages/app-store/zapier/components/InstallAppButton.tsx
  packages/app-store/zapier/pages/setup/index.tsx
  packages/app-store/zapier/pages/v2/setup/index.tsx
Labels: ♻️ autoupdate, automerge

#4657 fix: position of badges
  apps/web/components/booking/BookingListItem.tsx
  apps/web/components/ui/TableActions.tsx
Labels: ♻️ autoupdate, automerge

#4696 Improved load state
  apps/web/components/ui/EditableHeading.tsx
  apps/web/components/v2/availability/SkeletonLoader.tsx
  apps/web/components/v2/eventtype/AvailabilityTab.tsx
  apps/web/pages/availability/[schedule].tsx
  apps/web/pages/event-types/[type].tsx
  apps/web/pages/v2/availability/[schedule].tsx
Labels: ♻️ autoupdate, automerge

#4747 Fix updating event-type slug for actions
  apps/web/pages/v2/event-types/[type]/index.tsx
Labels: 🐛 bug

#4682 Feature/deprecate title translations
  apps/web/components/v2/eventtype/EventTypeSingleLayout.tsx
  apps/web/pages/v2/availability/[schedule].tsx
  apps/web/public/static/locales/ar/common.json
  apps/web/public/static/locales/cs/common.json
  apps/web/public/static/locales/de/common.json
  apps/web/public/static/locales/en/common.json
  apps/web/public/static/locales/es/common.json
  apps/web/public/static/locales/fr/common.json
  apps/web/public/static/locales/he/common.json
  apps/web/public/static/locales/it/common.json
  apps/web/public/static/locales/ja/common.json
  apps/web/public/static/locales/ko/common.json
  apps/web/public/static/locales/nl/common.json
  apps/web/public/static/locales/pl/common.json
  apps/web/public/static/locales/pt-BR/common.json
  apps/web/public/static/locales/pt/common.json
  apps/web/public/static/locales/ro/common.json
  apps/web/public/static/locales/sr/common.json
  apps/web/public/static/locales/sv/common.json
  apps/web/public/static/locales/tr/common.json
  apps/web/public/static/locales/uk/common.json
  apps/web/public/static/locales/vi/common.json
  apps/web/public/static/locales/zh-CN/common.json
  apps/web/public/static/locales/zh-TW/common.json
  packages/ui/v2/core/Shell.tsx
Labels: ♻️ autoupdate, automerge

#4743 Fix connected calendar list
  apps/web/components/booking/BookingListItem.tsx
  apps/web/pages/api/availability/calendar.ts
  packages/core/CalendarManager.ts
  packages/trpc/server/routers/viewer.tsx
Labels: ♻️ autoupdate, automerge

#4745 Fixing border in installed apps
  apps/web/components/v2/apps/IntegrationListItem.tsx
  apps/web/pages/v2/apps/installed/[category].tsx
Labels: 🐛 bug, ♻️ autoupdate, automerge

#4738 Fix long url and show password
  apps/web/pages/auth/setup.tsx
  packages/ui/v2/core/form/fields.tsx
Labels: ♻️ autoupdate, automerge

#4750 Ensure currentUsername is set before comparing it with username
  apps/web/components/ui/UsernameAvailability/PremiumTextfield.tsx
Labels: ♻️ autoupdate, automerge

#4755 Fixes few i18n related bugs on change password
  apps/web/pages/v2/settings/security/password.tsx
  packages/ui/v2/core/form/fields.tsx
Labels: ♻️ autoupdate, automerge

#4763 Improved team layout when blocks have unequal content length.
  apps/web/components/team/screens/Team.tsx
Labels: ♻️ autoupdate, automerge

#4683 add trpc v10
  apps/web/components/I18nLanguageHandler.tsx
  apps/web/components/booking/pages/AvailabilityPage.tsx
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/components/dialog/RescheduleDialog.tsx
  apps/web/components/getting-started/components/CalendarSwitch.tsx
  apps/web/components/integrations/CalendarListContainer.tsx
  apps/web/components/integrations/DisconnectStripeIntegration.tsx
  apps/web/components/v2/apps/CalendarListContainer.tsx
  apps/web/components/v2/settings/CalendarSwitch.tsx
  apps/web/lib/QueryCell.tsx
  apps/web/lib/app-providers.tsx
  apps/web/package.json
  apps/web/pages/bookings/[status].tsx
  apps/web/pages/event-types/[type].tsx
  apps/web/pages/event-types/index.tsx
  apps/web/pages/old-getting-started.tsx
  apps/web/pages/sandbox/test-async-error.tsx
  apps/web/pages/settings/profile.tsx
  apps/web/pages/v2/bookings/[status].tsx
  apps/web/pages/v2/event-types/index.tsx
  apps/web/pages/v2/settings/my-account/general.tsx
  packages/app-store/_utils/useAddAppMutation.ts
  packages/app-store/ee/routing-forms/components/FormActions.tsx
  packages/app-store/ee/routing-forms/components/SingleForm.tsx
  packages/app-store/ee/routing-forms/trpc-router.ts
  packages/app-store/wipemycalother/components/confirmDialog.tsx
  packages/trpc/package.json
  packages/trpc/react/trpc.ts
  packages/trpc/server/createRouter.ts
  packages/trpc/server/routers/_app.ts
  packages/trpc/server/routers/public.ts
  packages/trpc/server/routers/viewer.tsx
  packages/trpc/server/routers/viewer/webhook.tsx
  packages/trpc/server/trpc.ts
  packages/ui/package.json
  yarn.lock
Labels: ♻️ autoupdate, automerge

#4774 Adds skeleton loader to workflows in event-type settings
  packages/features/ee/workflows/components/v2/EventWorkflowsTab.tsx
  packages/features/ee/workflows/components/v2/SkeletonLoaderEventWorkflowsTab.tsx
Labels: ♻️ autoupdate, automerge
