Repository calcom/cal.com, pull requests merged in 2023-08, with the labels that each got.

#9165 fix: embed hides floating button
  packages/embeds/embed-core/src/FloatingButton/FloatingButton.ts
  packages/embeds/embed-core/src/FloatingButton/FloatingButtonHtml.ts
  packages/embeds/embed-core/src/ModalBox/ModalBox.ts
  packages/embeds/embed-core/src/ModalBox/ModalBoxHtml.ts
  packages/embeds/embed-core/src/embed.ts
Labels: automerge, 🧹 Improvements, Medium priority

#10353 perf: Refactor `getEnabledApps` to filter on credentials passed
  packages/app-store/applecalendar/api/add.ts
  packages/app-store/caldavcalendar/api/add.ts
  packages/app-store/dailyvideo/lib/VideoApiAdapter.ts
  packages/app-store/exchange2013calendar/api/add.ts
  packages/app-store/exchange2016calendar/api/add.ts
  packages/app-store/exchange2016calendar/lib/CalendarService.ts
  packages/app-store/exchangecalendar/api/_postAdd.ts
  packages/app-store/utils.ts
  packages/core/CalendarManager.ts
  packages/core/EventManager.ts
  packages/core/videoClient.ts
  packages/features/bookings/Booker/components/BookEventForm/BookFormAsModal.tsx
  packages/lib/apps/getEnabledApps.ts
  packages/lib/getEventTypeById.ts
  packages/trpc/server/routers/loggedInViewer/integrations.handler.ts
  packages/trpc/server/routers/loggedInViewer/locationOptions.handler.ts
  packages/trpc/server/routers/loggedInViewer/updateUserDefaultConferencingApp.handler.ts
  packages/trpc/server/routers/viewer/eventTypes/create.handler.ts
  packages/types/App.d.ts
  packages/types/Credential.d.ts
Labels: High priority, core

#10492 fix: Address translation problem
  packages/app-store/locations.ts
Labels: 🐛 bug, 🙋🏻‍♂️help wanted

#10479 test: Create unit tests for react components in packages/ui/components/form/daterangepicker
  packages/ui/components/form/date-range-picker/daterangepicker.test.tsx
Labels: Low priority, automated-tests, core

#9508 fix: Modified event type public api hander
  apps/api/pages/api/event-types/_get.ts
Labels: 🐛 bug, Low priority

#10383 feat: Enable Conferencing Apps for Team Events [CAL-1925]
  apps/web/components/AppListCard.tsx
  apps/web/components/apps/App.tsx
  apps/web/components/booking/BookingListItem.tsx
  apps/web/components/dialog/EditLocationDialog.tsx
  apps/web/components/eventtype/EventSetupTab.tsx
  apps/web/components/ui/form/LocationSelect.tsx
  apps/web/pages/apps/[slug]/index.tsx
  apps/web/pages/apps/installed/[category].tsx
  apps/web/pages/event-types/[type]/index.tsx
  packages/app-store/huddle01video/_metadata.ts
  packages/app-store/huddle01video/api/add.ts
  packages/app-store/jitsivideo/_metadata.ts
  packages/app-store/jitsivideo/api/add.ts
  packages/app-store/locations.ts
  packages/app-store/office365video/config.json
  packages/app-store/server.ts
  packages/app-store/utils.ts
  packages/app-store/webex/config.json
  packages/core/EventManager.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/lib/apps/getEnabledApps.ts
  packages/lib/getEventTypeById.ts
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/loggedInViewer/locationOptions.handler.ts
  packages/trpc/server/routers/viewer/bookings/editLocation.handler.ts
  packages/trpc/server/routers/viewer/bookings/editLocation.schema.ts
  packages/trpc/server/routers/viewer/bookings/get.handler.ts
  packages/types/App.d.ts
  packages/types/Calendar.d.ts
  packages/ui/components/apps/AppCard.tsx
Labels: app-store, High priority, teams, organizations, core

#10507 chore: fix "trialing new team plan" message
  apps/web/public/static/locales/en/common.json
Labels: core

#10489 test: Create unit tests for react components in packages/ui/components/scrollable
  packages/ui/components/scrollable/ScrollableArea.tsx
  packages/ui/components/scrollable/scrollablearea.test.tsx
Labels: Low priority, automated-tests, core

#10501 test: Create unit tests for react components in packages/ui/components/list
  packages/ui/components/list/List.tsx
  packages/ui/components/list/list.test.tsx
Labels: Low priority, automated-tests, core

#10293 fix: add booking form prefill e2e test
  apps/web/playwright/booking-pages.e2e.ts
  apps/web/playwright/fixtures/users.ts
Labels: 🐛 bug, Low priority, automated-tests

#10439 fix: react hook can't be used conditionally
  packages/features/bookings/Booker/components/Header.tsx
Labels: Low priority, bookings, core

#10513 fix: random multiple duration value input [CAL-887]
  apps/web/components/Embed.tsx
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/store.ts
Labels: High priority, core

#10544 perf: use dayjs utc mode to improve before/after performance
  packages/lib/date-ranges.ts
Labels: bookings, core

#10430 feat: org owner-admin cant see the teams created by other owner-admin 9982 cal 2120
  apps/web/pages/settings/organizations/teams/other/[id]/appearance.tsx
  apps/web/pages/settings/organizations/teams/other/[id]/members.tsx
  apps/web/pages/settings/organizations/teams/other/[id]/profile.tsx
  apps/web/pages/settings/organizations/teams/other/index.ts
  apps/web/public/static/locales/en/common.json
  packages/features/ee/organizations/pages/components/MemberListItem.tsx
  packages/features/ee/organizations/pages/components/OtherTeamList.tsx
  packages/features/ee/organizations/pages/components/OtherTeamListItem.tsx
  packages/features/ee/organizations/pages/components/OtherTeamsListing.tsx
  packages/features/ee/organizations/pages/settings/other-team-listing-view.tsx
  packages/features/ee/organizations/pages/settings/other-team-members-view.tsx
  packages/features/ee/organizations/pages/settings/other-team-profile-view.tsx
  packages/features/ee/teams/components/MemberInvitationModal.tsx
  packages/features/ee/teams/components/MemberListItem.tsx
  packages/features/ee/teams/pages/team-listing-view.tsx
  packages/features/settings/layouts/SettingsLayout.tsx
  packages/trpc/server/middlewares/sessionMiddleware.ts
  packages/trpc/server/procedures/authedProcedure.ts
  packages/trpc/server/routers/viewer/organizations/_router.tsx
  packages/trpc/server/routers/viewer/organizations/getOtherTeam.handler.ts
  packages/trpc/server/routers/viewer/organizations/listOtherTeamMembers.handler.ts
  packages/trpc/server/routers/viewer/organizations/listOtherTeams.handler.ts
  packages/trpc/server/routers/viewer/teams/update.handler.ts
Labels: 🐛 bug, High priority, organizations, core

#10434 fix: Broken Embed Dialog in Routing Forms due to recent rewrite
  apps/web/middleware.ts
  apps/web/pages/routing-forms/[...pages].tsx
  apps/web/pages/routing-forms/index.tsx
  packages/app-store/routing-forms/config.json
  packages/app-store/routing-forms/pages/form-edit/[...appPages].tsx
  packages/app-store/routing-forms/pages/reporting/[...appPages].tsx
  packages/app-store/routing-forms/pages/route-builder/[...appPages].tsx
  packages/features/shell/Shell.tsx
Labels: High priority, 📉 regressing, core

#10417 fix: Embed Code Generator - Fixes 404 in preview of embed for orgs
  apps/web/components/Embed.tsx
  packages/embeds/embed-core/playwright/tests/preview.e2e.ts
  packages/embeds/embed-core/src/preview.ts
Labels: 🐛 bug, High priority, organizations, core

#10557 perf: When a Google access token is expired and can't be refreshed, w…
  packages/app-store/googlecalendar/lib/CalendarService.ts
  packages/core/getCalendarsEvents.ts
Labels: core

#10536 fix: Redact prisma errors
  apps/api/lib/helpers/captureErrors.ts
  apps/api/lib/helpers/withMiddleware.ts
  apps/web/pages/_error.tsx
  packages/lib/redactError.ts
  packages/lib/server/getServerErrorFromUnknown.ts
  packages/trpc/server/middlewares/captureErrorsMiddleware.ts
  packages/trpc/server/procedures/authedProcedure.ts
  packages/trpc/server/procedures/publicProcedure.ts
Labels: core

#10519 fix: More instances of wrong avatar URL fixed
  apps/web/pages/api/user/avatar.ts
  packages/features/ee/organizations/lib/orgDomains.ts
  packages/features/ee/users/components/UsersTable.tsx
  packages/trpc/server/middlewares/sessionMiddleware.ts
  packages/trpc/server/routers/viewer/admin/listPaginated.handler.ts
Labels: automerge, organizations, core

#10389 fix: Remove Email embed from Routing Form[Stacked PR]
  apps/web/components/eventtype/EventTypeSingleLayout.tsx
  apps/web/pages/event-types/index.tsx
  apps/web/playwright/embed-code-generator.e2e.ts
  packages/app-store/routing-forms/components/FormActions.tsx
  packages/features/embed/Embed.tsx
  packages/features/embed/EventTypeEmbed.tsx
  packages/features/embed/RoutingFormEmbed.tsx
  packages/features/embed/lib/EmbedCodes.tsx
  packages/features/embed/lib/EmbedTabs.tsx
  packages/features/embed/lib/constants.ts
  packages/features/embed/lib/getDimension.tsx
  packages/features/embed/lib/hooks/index.tsx
  packages/features/embed/types/index.d.ts
Labels: automerge, High priority, embed, core

#10521 chore: mailhog
  .github/workflows/e2e.yml
Labels: High priority, automated-tests, core

#10572 fix: Only enforce min seats for orgs
  packages/features/ee/teams/lib/payments.ts
  packages/lib/constants.ts
Labels: High priority, Urgent, core

#10581 fix: random test failure when booking are on same date
  apps/web/test/lib/team-event-types.test.ts
Labels: ♻️ autoupdate, automerge, core

#9611 feat: show dialog when changing email after using Google Login
  apps/web/pages/api/auth/forgot-password.ts
  apps/web/pages/auth/forgot-password/index.tsx
  apps/web/pages/auth/logout.tsx
  apps/web/pages/settings/my-account/profile.tsx
  apps/web/public/static/locales/en/common.json
  packages/emails/templates/forgot-password-email.ts
  packages/features/auth/lib/passwordResetRequest.ts
  packages/lib/serverConfig.ts
  packages/trpc/server/routers/loggedInViewer/updateProfile.handler.ts
  packages/trpc/server/routers/viewer/admin/sendPasswordReset.handler.ts
Labels: 🧹 Improvements, High priority, authentication

#10177 fix: cancellation email for seated event for 2nd attendee onwards
  packages/features/bookings/lib/handleCancelBooking.ts
Labels: 🐛 bug, Medium priority, seats, emails

#10468 fix: {ATTENDEE} workflow variable always uses first attendee for for seated event
  packages/features/ee/workflows/lib/reminders/emailReminderManager.ts
  packages/features/ee/workflows/lib/reminders/smsReminderManager.ts
Labels: 🐛 bug, ❗️ migrations, 👩‍🔬 needs investigation, workflows

#10604 perf: Use Intl.DateTimeFormat instead of Dayjs.tz().format()
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: core

#10591 fix: Fix auto scroll
  packages/features/bookings/Booker/components/AvailableTimeSlots.tsx
Labels: core

#10556 fix: auth redirect
  apps/web/next.config.js
Labels: 🐛 bug, Low priority, ui, authentication, core

#10582 fix: don't show team unaccepted members
  packages/features/ee/teams/components/AddNewTeamMembers.tsx
  packages/lib/getEventTypeById.ts
  packages/lib/server/queries/teams/index.ts
Labels: High priority, organizations, core

#10619 perf: Remove organisation as it's unused in getBusyTimes (?)
  packages/core/CalendarManager.ts
  packages/core/getBusyTimes.ts
  packages/core/getUserAvailability.ts
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: High priority, performance, core

#10555 fix: installation dropdown
  apps/web/components/apps/InstallAppButtonChild.tsx
  packages/ui/components/apps/AppCard.tsx
Labels: core

#10613 fix: #10587 - added a right margin to VTI.
  packages/ui/components/navigation/tabs/VerticalTabItem.tsx
Labels: 🐛 bug, ⚡ Quick Wins

#10638 perf: Correct use of next-auth session
  apps/web/lib/app-providers.tsx
Labels: core

#10073 chore: upgrades to prisma v5
  packages/features/auth/lib/next-auth-custom-adapter.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/ee/managed-event-types/lib/handleChildrenEventTypes.ts
  packages/lib/getEventTypeById.ts
  packages/prisma/package.json
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/slots/util.ts
  yarn.lock
Labels: Medium priority, core

#10639 fix: API build
  apps/api/pages/api/availability/_get.ts
Labels: core

#10610 perf: Improved buildDateRanges performance + cleanup
  packages/core/getAggregatedAvailability.ts
  packages/lib/date-ranges.ts
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: core

#10578 test: Create unit tests for react components in packages/ui/components/toast
  packages/ui/components/toast/showToast.tsx
  packages/ui/components/toast/toast.test.tsx
Labels: Low priority, automated-tests, core

#10624 fix: SWR cache header on Vercel
  packages/trpc/server/createNextApiHandler.ts
Labels: performance, core

#10637 feat: container init in app-store and embeds workflow
  .github/workflows/e2e-app-store.yml
  .github/workflows/e2e-embed.yml
Labels: core

#10325 fix: don't send request reminder for unpaid bookings
  apps/web/pages/api/cron/bookingReminder.ts
Labels: 🐛 bug, Medium priority, bookings, billing, emails

#10597 fix: rescheduling dynamic booking
  packages/features/bookings/lib/get-booking.ts
Labels: 🐛 bug, Medium priority, bookings, core

#10593 fix: smtp send email fix for self hosted instance
  packages/emails/templates/_base-email.ts
Labels: 🐛 bug, self-hosting

#10643 feat: add loading state for buttons on settings page
  apps/web/components/settings/DisableTwoFactorModal.tsx
  apps/web/components/settings/EnableTwoFactorModal.tsx
  apps/web/pages/settings/security/impersonation.tsx
  apps/web/pages/settings/security/password.tsx
  packages/features/webhooks/components/WebhookForm.tsx
Labels: ✨ feature, ⚡ Quick Wins, Medium priority

#10565 fix: #10553 - "Apps" child items not highlighted when selected
  packages/features/shell/Shell.tsx
Labels: 🐛 bug, ✅ good first issue, app-store, Low priority

#10512 fix: date and month format issue on booking page for weekly view
  packages/features/bookings/Booker/components/Header.tsx
Labels: 🐛 bug, booking-page

#10607 perf: no wait for session when calling getschedule 10552 cal 2311
  apps/web/lib/app-providers.tsx
  apps/web/lib/hooks/useIsBookingPage.ts
  apps/web/lib/hooks/usePublicPage.ts
  apps/web/playwright/manage-booking-questions.e2e.ts
  apps/web/server/lib/ssr.ts
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/utils/event.ts
  packages/features/schedules/lib/use-schedule/useSchedule.ts
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: High priority, performance, core

#10514 fix: Calendar View
  packages/features/bookings/Booker/components/Header.tsx
  packages/features/bookings/Booker/components/LargeCalendar.tsx
  packages/features/calendars/weeklyview/components/Calendar.tsx
  packages/features/calendars/weeklyview/components/currentTime/index.tsx
  packages/features/calendars/weeklyview/components/event/Empty.tsx
  packages/features/calendars/weeklyview/components/horizontalLines/index.tsx
  packages/features/calendars/weeklyview/types/state.ts
  packages/features/calendars/weeklyview/utils/index.ts
Labels: 🐛 bug, High priority, booking-page, core

#10012 fix: Cleanup after removing connected calendar
  packages/trpc/server/routers/loggedInViewer/deleteCredential.handler.ts
Labels: 🐛 bug, Low priority, ui

#10662 fix: Orgs publishing with billing
  packages/features/ee/teams/api/upgrade.ts
Labels: High priority, organizations, core

#10612 fix: Offset start times event setting resets after save
  apps/web/components/eventtype/EventLimitsTab.tsx
  apps/web/pages/event-types/[type]/index.tsx
Labels: 🐛 bug

#10676 fix: disable locale detection
  apps/web/next.config.js
Labels: core

#10605 fix: add support email
  apps/web/pages/500.tsx
  apps/web/public/static/locales/en/common.json
Labels: 🐛 bug, Low priority, core

#10583 fix: add check mark to selected option in destionation calendar selector
  packages/features/calendars/DestinationCalendarSelector.tsx
Labels: 🧹 Improvements, ⚡ Quick Wins, linear, ui

#10664 fix: DST issue in the month of DST change
  packages/lib/date-ranges.test.ts
  packages/lib/date-ranges.ts
Labels: 🐛 bug, High priority, bookings, core

#10677 fix: fetching team with parent
  packages/lib/server/queries/teams/index.ts
Labels: High priority, organizations, core

#10480 fix: all booking and duration limits
  apps/web/components/eventtype/EventLimitsTab.tsx
  apps/web/test/lib/checkBookingLimits.test.ts
  apps/web/test/lib/checkDurationLimits.test.ts
  packages/core/getBusyTimes.ts
  packages/core/getUserAvailability.ts
  packages/lib/intervalLimit.ts
  packages/lib/server/checkBookingLimits.ts
  packages/lib/server/checkDurationLimits.ts
  packages/lib/server/queries/booking/index.ts
  packages/lib/validateIntervalLimitOrder.ts
  packages/types/Calendar.d.ts
Labels: 🐛 bug, linear, High priority, bookings

#10646 perf: Avoid unmounting of Shell on navigation and thus reduce number of paints
  apps/web/components/apps/layouts/AppsLayout.tsx
  apps/web/lib/hooks/useIsBookingPage.ts
  apps/web/pages/_app.tsx
  apps/web/pages/apps/index.tsx
  apps/web/pages/availability/index.tsx
  apps/web/pages/bookings/[status].tsx
  apps/web/pages/event-types/index.tsx
  apps/web/pages/insights/index.tsx
  apps/web/pages/teams/index.tsx
  packages/debugging/components/RenderCounter.tsx
  packages/debugging/index.tsx
  packages/debugging/package.json
  packages/debugging/tsconfig.json
  packages/features/MainLayout.tsx
  packages/features/bookings/layout/BookingLayout.tsx
  packages/features/ee/workflows/pages/index.tsx
  yarn.lock
Labels: core

#10691 chore: Fix UI NITs
  packages/features/ee/teams/components/MemberListItem.tsx
  packages/features/ee/users/components/UsersTable.tsx
  packages/ui/components/data-table/index.tsx
  packages/ui/components/navigation/tabs/HorizontalTabs.tsx
  packages/ui/components/table/TableNew.tsx
Labels: core

#10692 chor: Transform + usernames to - on token initiation
  apps/web/pages/signup.tsx
Labels: core

#10611 fix: showing default apps by Cal like Cal-Video in installed apps
  packages/lib/apps/getEnabledApps.ts
Labels: 🐛 bug, app-store, ⚡ Quick Wins

#10685 fix: Improve onboarding Availability
  apps/web/pages/getting-started/[[...step]].tsx
  packages/features/schedules/components/Schedule.tsx
  packages/ui/components/card/StepCard.tsx
Labels: 🧹 Improvements

#10680 fix: Redirect URL After Upgrading
  packages/features/ee/teams/api/upgrade.ts
Labels: organizations, core

#10697 fix: reschedule timezone
  packages/features/bookings/lib/handleNewBooking.ts
Labels: Urgent, core

#10702 fix: copy or view profile URL for org [CAL-2246]
  packages/features/shell/Shell.tsx
Labels: 🐛 bug, Medium priority, organizations, core

#10671 test: Create unit tests for react components in packages/ui/components/form/datepicker
  packages/ui/components/form/datepicker/datepicker.test.tsx
Labels: core

#10098 chore: Relying on CALCOM_ENV
  apps/api/lib/helpers/verifyApiKey.ts
  apps/web/next.config.js
  apps/web/pages/_document.tsx
  apps/web/pages/api/email.ts
  apps/web/pages/apps/[slug]/index.tsx
  packages/lib/constants.ts
  turbo.json
Labels: Low priority, ci, core

#10657 perf: Replace un-needed context fetching
  apps/web/pages/event-types/index.tsx
  apps/web/pages/settings/my-account/profile.tsx
  packages/features/settings/layouts/SettingsLayout.tsx
  packages/features/shell/Shell.tsx
  packages/lib/server/getUsersCredentials.ts
  packages/trpc/react/hooks/useAvatarQuery.ts
  packages/trpc/server/middlewares/sessionMiddleware.ts
  packages/trpc/server/routers/loggedInViewer/appById.handler.ts
  packages/trpc/server/routers/loggedInViewer/avatar.handler.ts
  packages/trpc/server/routers/loggedInViewer/integrations.handler.ts
  packages/trpc/server/routers/loggedInViewer/me.handler.ts
  packages/trpc/server/routers/loggedInViewer/setDestinationCalendar.handler.ts
  packages/trpc/server/routers/loggedInViewer/updateUserDefaultConferencingApp.handler.ts
  packages/trpc/server/routers/viewer/bookings/confirm.handler.ts
  packages/trpc/server/routers/viewer/bookings/editLocation.handler.ts
  packages/trpc/server/routers/viewer/bookings/requestReschedule.handler.ts
  packages/trpc/server/routers/viewer/eventTypes/create.handler.ts
  packages/ui/components/avatar/Avatar.tsx
Labels: core

#10632 fix: event type filter by team
  packages/trpc/server/routers/viewer/eventTypes/getByViewer.handler.ts
Labels: 🐛 bug, Medium priority, 📉 regressing, event-types, core

#10570 perf: Reduce Outlook Calendar & Availability Response Size
  packages/app-store/office365calendar/lib/CalendarService.ts
Labels: core

#10655 fix: insights - avoid using in conditional when fetching data
  packages/features/insights/server/events.ts
  packages/features/insights/server/trpc-router.ts
Labels: 🐛 bug, Medium priority, insights, core

#10546 fix: profile banner delay for orgs + small DX chore
  apps/web/pages/event-types/index.tsx
  packages/features/shell/Shell.tsx
  packages/trpc/server/routers/viewer/organizations/create.handler.ts
Labels: Low priority, core

#10636 fix: add extra security layers for sending messages to attendees
  apps/web/pages/api/trpc/kycVerification/[trpc].ts
  apps/web/pages/settings/admin/kycVerification/index.tsx
  apps/web/pages/settings/admin/kycVerification/kycVerificationView.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/features/bookings/lib/handleConfirmation.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/ee/workflows/api/scheduleSMSReminders.ts
  packages/features/ee/workflows/api/scheduleWhatsappReminders.ts
  packages/features/ee/workflows/components/AddActionDialog.tsx
  packages/features/ee/workflows/components/EventWorkflowsTab.tsx
  packages/features/ee/workflows/components/KYCVerificationDialog.tsx
  packages/features/ee/workflows/components/WorkflowDetailsPage.tsx
  packages/features/ee/workflows/components/WorkflowStepContainer.tsx
  packages/features/ee/workflows/lib/actionHelperFunctions.ts
  packages/features/ee/workflows/lib/getOptions.ts
  packages/features/ee/workflows/lib/isEventTypeOwnerKYCVerified.ts
  packages/features/ee/workflows/lib/reminders/reminderScheduler.ts
  packages/features/ee/workflows/lib/reminders/smsReminderManager.ts
  packages/features/ee/workflows/lib/reminders/whatsappReminderManager.ts
  packages/features/settings/layouts/SettingsLayout.tsx
  packages/trpc/react/trpc.ts
  packages/trpc/server/routers/viewer/_router.tsx
  packages/trpc/server/routers/viewer/kycVerification/_router.tsx
  packages/trpc/server/routers/viewer/kycVerification/isVerified.handler.ts
  packages/trpc/server/routers/viewer/kycVerification/isVerified.schema.ts
  packages/trpc/server/routers/viewer/kycVerification/verify.handler.ts
  packages/trpc/server/routers/viewer/kycVerification/verify.schema.ts
  packages/trpc/server/routers/viewer/workflows/getWorkflowActionOptions.handler.ts
  packages/trpc/server/routers/viewer/workflows/update.handler.ts
  packages/ui/components/badge/KYCVerificationBadge.tsx
  packages/ui/components/badge/index.ts
  packages/ui/components/form/select/components.tsx
Labels: High priority, core

#10424 fix: allow new booking to overlap old one when rescheduling
  apps/web/playwright/reschedule.e2e.ts
  packages/core/getBusyTimes.ts
  packages/core/getUserAvailability.ts
  packages/features/bookings/Booker/utils/event.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/schedules/lib/use-schedule/useSchedule.ts
  packages/trpc/server/routers/viewer/slots/types.ts
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: 🐛 bug, High priority, bookings, core

#10709 fix: multiple duration getSchedule calls [CAL-2336]
  apps/web/pages/[user]/[type].tsx
  apps/web/pages/d/[link]/[slug].tsx
  apps/web/pages/team/[slug]/[type].tsx
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/types.ts
  packages/features/bookings/lib/get-booking.ts
Labels: 🐛 bug, High priority, Urgent, core

#10442 test: Create unit tests for react components in packages/ui/components/form/step
  packages/ui/components/form/step/Steps.tsx
  packages/ui/components/form/step/steps.test.tsx
Labels: Low priority, automated-tests, core

#10585 feat: element call app added
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/element-call/DESCRIPTION.md
  packages/app-store/element-call/api/add.ts
  packages/app-store/element-call/api/index.ts
  packages/app-store/element-call/config.json
  packages/app-store/element-call/index.ts
  packages/app-store/element-call/package.json
  packages/app-store/element-call/static/1.png
  packages/app-store/element-call/static/2.png
  packages/app-store/element-call/static/3.png
  packages/app-store/element-call/static/icon.svg
  yarn.lock
Labels: ✨ feature, 🙋🏻‍♂️help wanted, Low priority, 💎 Bounty, calendar-apps

#10721 fix: e2e test for rescheduling overlapping time
  apps/web/playwright/reschedule.e2e.ts
Labels: core

#10606 feat: mailhog fixture
  apps/web/playwright/booking-pages.e2e.ts
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/lib/fixtures.ts
  package.json
  packages/emails/templates/_base-email.ts
  packages/emails/templates/organizer-scheduled-email.ts
Labels: core

#10642 fix: and enable dynamic booking test
  apps/web/playwright/dynamic-booking-pages.e2e.ts
  packages/features/bookings/lib/get-booking.ts
Labels: core

#10724 fix: Broken team events if a user with the same name exists
  apps/web/test/lib/getSchedule.test.ts
  packages/features/bookings/Booker/utils/event.ts
  packages/features/schedules/lib/use-schedule/useSchedule.ts
  packages/trpc/server/routers/viewer/slots/types.ts
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: core

#10720 fix: If Invalid Calendar Credentials Then Skip Listing Calendars [CAL-2340]
  packages/trpc/server/routers/loggedInViewer/deleteCredential.handler.ts
Labels: 🐛 bug, core

#10718 fix: link to org settings
  packages/features/shell/Shell.tsx
Labels: ⚡ Quick Wins, Low priority, organizations, core

#8797 feat: app paypal payment
  apps/web/pages/api/integrations/paypal/webhook.ts
  apps/web/public/static/locales/en/common.json
  packages/app-store/_pages/setup/index.tsx
  packages/app-store/apps.browser.generated.tsx
  packages/app-store/apps.keys-schemas.generated.ts
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.schemas.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/index.ts
  packages/app-store/paypal/DESCRIPTION.md
  packages/app-store/paypal/api/add.ts
  packages/app-store/paypal/api/capture.ts
  packages/app-store/paypal/api/index.ts
  packages/app-store/paypal/components/EventTypeAppCardInterface.tsx
  packages/app-store/paypal/components/PaypalPaymentComponent.tsx
  packages/app-store/paypal/config.json
  packages/app-store/paypal/index.ts
  packages/app-store/paypal/lib/PaymentService.ts
  packages/app-store/paypal/lib/Paypal.ts
  packages/app-store/paypal/lib/index.ts
  packages/app-store/paypal/package.json
  packages/app-store/paypal/pages/setup/_getStaticProps.tsx
  packages/app-store/paypal/pages/setup/index.tsx
  packages/app-store/paypal/static/1.jpeg
  packages/app-store/paypal/static/2.jpeg
  packages/app-store/paypal/static/3.jpeg
  packages/app-store/paypal/static/icon.svg
  packages/app-store/paypal/static/paypal-logo.svg
  packages/app-store/paypal/zod.ts
  packages/app-store/stripepayment/lib/PaymentService.ts
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/features/ee/payments/api/paypal-webhook.ts
  packages/features/ee/payments/components/Payment.tsx
  packages/features/ee/payments/components/PaymentPage.tsx
  packages/features/ee/payments/pages/payment.tsx
  packages/prisma/schema.prisma
  yarn.lock
Labels: ✨ feature, app-store, Medium priority, core

#10526 fix: RTL issues on booking pages + email confirmation
  apps/web/pages/booking/[uid].tsx
  packages/emails/templates/confirm-email.html
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/components/EventMeta.tsx
  packages/features/bookings/Booker/components/Header.tsx
  packages/features/bookings/components/AvailableTimes.tsx
  packages/features/bookings/components/event-meta/AvailableEventLocations.tsx
  packages/features/bookings/components/event-meta/Details.tsx
  packages/features/calendars/DatePicker.tsx
  packages/features/calendars/weeklyview/components/DateValues/index.tsx
  packages/features/calendars/weeklyview/components/horizontalLines/index.tsx
  packages/features/calendars/weeklyview/components/verticalLines/index.tsx
  packages/ui/components/alert/Alert.tsx
  packages/ui/components/form/toggleGroup/ToggleGroup.tsx
Labels: 💎 Bounty, ui

#10538 fix: Org profile slug [CAL-2252]
  packages/features/ee/organizations/pages/settings/profile.tsx
  packages/trpc/server/routers/viewer/organizations/list.handler.ts
Labels: 🐛 bug, Low priority, teams, core

#10712 fix: Avatar in Sidebars not showing up for org
  packages/features/shell/Shell.tsx
Labels: ♻️ autoupdate, core

#10462 feat: add range of dates for availability over-ride
  apps/web/pages/availability/[schedule].tsx
  packages/features/calendars/DatePicker.tsx
  packages/features/schedules/components/DateOverrideInputDialog.tsx
Labels: 🙋🏻‍♂️help wanted, 🧹 Improvements, Medium priority, 💎 Bounty, bookings

#10577 fix: border issue for time slots
  packages/features/calendars/weeklyview/components/event/Empty.tsx
Labels: ⚡ Quick Wins, Low priority, ui

#10672 fix: App Install Dropdown Sort Properly [CAL-2285]
  apps/web/components/apps/InstallAppButtonChild.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/ee/teams/lib/getUserAdminTeams.ts
  packages/ui/components/apps/AppCard.tsx
Labels: 🐛 bug, 🧹 Improvements, Medium priority, organizations, core

#10360 fix: link escaping in booking page
  packages/features/bookings/lib/getLocationOptionsForSelect.ts
Labels: 🐛 bug, booking-page

#10731 chore: fix refund i18n message
  apps/web/public/static/locales/en/common.json
Labels: core

#10728 chore: Simplified date overrides
  packages/lib/date-ranges.test.ts
  packages/lib/date-ranges.ts
Labels: High priority, core

#10741 fix: Show messaging app in locations list
  packages/app-store/server.ts
  packages/app-store/utils.ts
  packages/types/App.d.ts
  packages/ui/components/apps/AllApps.tsx
Labels: automerge, High priority, 📉 regressing, core

#10699 test: Create unit tests for react components in packages/ui/components/head-seo/HeadSeo
  packages/ui/components/head-seo/head-seo.test.tsx
Labels: Low priority, core

#10761 fix: paypal setup and key validation on server
  packages/app-store/paypal/components/EventTypeAppCardInterface.tsx
  packages/app-store/paypal/lib/Paypal.ts
  packages/app-store/paypal/lib/currencyOptions.ts
  packages/app-store/paypal/lib/updateAppCredentials.validator.ts
  packages/app-store/paypal/pages/setup/index.tsx
  packages/app-store/server.ts
  packages/lib/apps/getEnabledAppsFromCredentials.ts
  packages/trpc/server/routers/loggedInViewer/integrations.handler.ts
  packages/trpc/server/routers/loggedInViewer/integrations.schema.ts
  packages/trpc/server/routers/viewer/apps/updateAppCredentials.handler.ts
  packages/trpc/server/routers/viewer/apps/updateAppCredentials.validator.ts
Labels: core

#10566 feat: Allow / disallow SEO indexing on booking pages
  apps/web/pages/[user].tsx
  apps/web/pages/[user]/[type].tsx
  apps/web/pages/settings/my-account/general.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/components/BookerSeo.tsx
  packages/lib/test/builder.ts
  packages/prisma/migrations/20230803132959_adds_field_for_seo_indexing_checking/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/middlewares/sessionMiddleware.ts
  packages/trpc/server/routers/loggedInViewer/me.handler.ts
  packages/trpc/server/routers/loggedInViewer/updateProfile.schema.ts
Labels: ✨ feature, ❗️ migrations, Medium priority, 💎 Bounty

#10769 feat: api return schedule
  apps/api/lib/validations/event-type.ts
  apps/api/pages/api/event-types/[id]/_get.ts
  apps/api/pages/api/event-types/_get.ts
  apps/api/pages/api/teams/[teamId]/event-types/_get.ts
Labels: core

#10790 fix: vercel subdomain version
  apps/web/components/eventtype/EventSetupTab.tsx
  apps/web/components/ui/UsernameAvailability/index.tsx
  apps/web/pages/event-types/index.tsx
  packages/features/ee/organizations/pages/components/OtherTeamListItem.tsx
  packages/features/ee/teams/components/CreateANewTeamForm.tsx
  packages/features/ee/teams/components/TeamListItem.tsx
  packages/features/ee/teams/pages/team-profile-view.tsx
  packages/trpc/server/routers/viewer/organizations/create.handler.ts
Labels: core

#10504 feat: Org user table - bulk actions
  apps/web/package.json
  apps/web/public/static/locales/en/common.json
  apps/web/tailwind.config.js
  packages/features/users/components/UserTable/BulkActions/DeleteBulkUsers.tsx
  packages/features/users/components/UserTable/BulkActions/TeamList.tsx
  packages/features/users/components/UserTable/EditSheet/DisplayInfo.tsx
  packages/features/users/components/UserTable/EditSheet/EditUserForm.tsx
  packages/features/users/components/UserTable/EditSheet/EditUserSheet.tsx
  packages/features/users/components/UserTable/EditSheet/SheetFooterControls.tsx
  packages/features/users/components/UserTable/EditSheet/store.ts
  packages/features/users/components/UserTable/UserListTable.tsx
  packages/features/users/components/UserTable/UserTableActions.tsx
  packages/lib/hooks/useCopy.ts
  packages/trpc/server/routers/viewer/organizations/_router.tsx
  packages/trpc/server/routers/viewer/organizations/addBulkTeams.handler.ts
  packages/trpc/server/routers/viewer/organizations/addBulkTeams.schema.ts
  packages/trpc/server/routers/viewer/organizations/adminGetUnverified.handler.ts
  packages/trpc/server/routers/viewer/organizations/adminVerify.handler.ts
  packages/trpc/server/routers/viewer/organizations/bulkDeleteUsers.handler.ts
  packages/trpc/server/routers/viewer/organizations/bulkDeleteUsers.schema..ts
  packages/trpc/server/routers/viewer/organizations/checkIfOrgNeedsUpgrade.handler.ts
  packages/trpc/server/routers/viewer/organizations/create.handler.ts
  packages/trpc/server/routers/viewer/organizations/createTeams.handler.ts
  packages/trpc/server/routers/viewer/organizations/getBrand.handler.ts
  packages/trpc/server/routers/viewer/organizations/getMembers.handler.ts
  packages/trpc/server/routers/viewer/organizations/getOtherTeam.handler.ts
  packages/trpc/server/routers/viewer/organizations/getTeams.handler.ts
  packages/trpc/server/routers/viewer/organizations/getUser.handler.ts
  packages/trpc/server/routers/viewer/organizations/getUser.schema.ts
  packages/trpc/server/routers/viewer/organizations/list.handler.ts
  packages/trpc/server/routers/viewer/organizations/listMembers.handler.ts
  packages/trpc/server/routers/viewer/organizations/listOtherTeamMembers.handler.ts
  packages/trpc/server/routers/viewer/organizations/listOtherTeams.handler.ts
  packages/trpc/server/routers/viewer/organizations/publish.handler.ts
  packages/trpc/server/routers/viewer/organizations/setPassword.handler.ts
  packages/trpc/server/routers/viewer/organizations/update.handler.ts
  packages/trpc/server/routers/viewer/organizations/updateUser.handler.ts
  packages/trpc/server/routers/viewer/organizations/updateUser.schema.ts
  packages/trpc/server/routers/viewer/organizations/verifyCode.handler.ts
  packages/trpc/server/trpc.ts
  packages/ui/components/avatar/Avatar.tsx
  packages/ui/components/command/index.tsx
  packages/ui/components/data-table/DataTableSelectionBar.tsx
  packages/ui/components/data-table/index.tsx
  packages/ui/components/sheet/sheet.tsx
  packages/ui/index.tsx
  yarn.lock
Labels: Medium priority, organizations, core

#10791 fix: update profile input metadata
  packages/trpc/server/routers/loggedInViewer/updateProfile.handler.ts
  packages/trpc/server/routers/loggedInViewer/updateProfile.schema.ts
Labels: core

#10743 fix: sucess page time
  apps/web/pages/booking/[uid].tsx
Labels: 🐛 bug, linear, High priority, core

#10795 chore: Line clamp event type bio
  packages/features/eventtypes/components/EventTypeDescription.tsx
Labels: core

#10788 feat: organization avatar component
  apps/web/components/getting-started/steps-views/UserProfile.tsx
  apps/web/pages/[user].tsx
  apps/web/pages/settings/my-account/profile.tsx
  packages/features/ee/organizations/components/OrganizationAvatar.tsx
  packages/ui/components/avatar/Avatar.tsx
  packages/ui/components/avatar/AvatarGroup.tsx
Labels: ❗️ migrations

#10801 perf: Booker bundle size optimization - Remove `sanitize-html` dependency on client
  apps/web/pages/booking/[uid].tsx
  packages/features/bookings/Booker/components/BookEventForm/BookEventForm.tsx
  packages/features/bookings/Booker/components/EventMeta.tsx
  packages/features/bookings/lib/SystemField.ts
  packages/features/bookings/lib/getBookingFields.ts
  packages/lib/defaultEvents.ts
  packages/lib/markdownToSafeHTML.ts
  packages/trpc/server/routers/viewer/workflows/util.ts
Labels: core

#10756 feat: rank apps with most installed for a chosen category
  apps/web/pages/apps/categories/[category].tsx
Labels: ✨ feature, app-store, Medium priority, 💎 Bounty

#10137 test: add apple calendar testing
  .env.example
  .github/workflows/e2e-app-store.yml
  .github/workflows/e2e-embed-react.yml
  .github/workflows/e2e-embed.yml
  .github/workflows/e2e.yml
  .github/workflows/production-build-without-database.yml
  .github/workflows/production-build.yml
  apps/web/playwright/app-store.e2e.ts
  apps/web/playwright/apple-calendar.e2e.ts
  apps/web/playwright/lib/testUtils.ts
  packages/app-store/applecalendar/pages/setup/index.tsx
  packages/embeds/embed-core/playwright/lib/testUtils.ts
  turbo.json
Labels: High priority, ❗️ .env changes, 💎 Bounty, automated-tests

#10660 feat: add support for apple travel time
  packages/lib/CalendarService.ts
  packages/types/ical.d.ts
Labels: ✨ feature, Low priority, 💎 Bounty, calendar-apps

#10792 fix: currency for event types
  apps/web/pages/booking/[uid].tsx
  packages/app-store/_utils/getEventTypeAppData.ts
  packages/lib/getEventTypeById.ts
Labels: 🐛 bug, Low priority, bookings, core

#10810 chore: add Steps in storybook (CALCOM-10760)
  apps/storybook/.storybook/main.js
  apps/storybook/.storybook/preview.jsx
  apps/storybook/package.json
  packages/ui/components/form/step/steps.stories.mdx
Labels: core

#10808 perf: Create a seperate component for dependencies of BookEventForm
  packages/features/bookings/Booker/components/BookEventForm/BookFormAsModal.tsx
Labels: Medium priority, core

#10816 feat: Add scheduleId to POST and PATCH requests in event-type endpoint
  apps/api/lib/validations/event-type.ts
  apps/api/pages/api/event-types/[id]/_patch.ts
  apps/api/pages/api/event-types/_post.ts
Labels: core

#10812 perf: Lazy load `libphonenumber-js` only when validation is needed.
  packages/features/bookings/Booker/components/BookEventForm/BookEventForm.tsx
  packages/features/bookings/lib/getBookingResponsesSchema.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/form-builder/Components.tsx
  packages/features/form-builder/utils.ts
Labels: Medium priority, performance, core

#10824 fix: GCal shared calendars write if enabled
  packages/app-store/googlecalendar/lib/CalendarService.ts
Labels: core

#10799 fix: Google spam warning banner text aligns to the right
  apps/web/pages/booking/[uid].tsx
Labels: 🐛 bug, ✅ good first issue, ⚡ Quick Wins, Low priority, booking-page

#10644 test: Create unit tests for react components in packages/ui/components/createButton
  packages/ui/components/createButton/create-button-with-teams-list.test.tsx
  packages/ui/components/test-setup.ts
Labels: Low priority, core

#10478 test: Create unit tests for react components in packages/ui/components/meta
  packages/ui/components/meta/meta.test.tsx
Labels: Low priority, automated-tests, core

#10842 perf: Fix slowest db query
  packages/trpc/server/routers/viewer/availability/schedule/get.handler.ts
Labels: High priority, bookings, performance, core

#10825 fix: Username suffix on production [CAL-2262]
  apps/web/components/ui/UsernameAvailability/index.tsx
Labels: High priority, organizations

#10773 fix: org username check [CAL-2352]
  apps/web/components/ui/UsernameAvailability/PremiumTextfield.tsx
  apps/web/components/ui/UsernameAvailability/UsernameTextfield.tsx
  apps/web/components/ui/UsernameAvailability/index.tsx
  apps/web/pages/api/auth/signup.ts
  apps/web/pages/signup.tsx
  packages/features/ee/organizations/lib/orgDomains.ts
  packages/lib/slugify.ts
  packages/lib/validateUsername.ts
  packages/lib/validateUsernameInOrg.ts
Labels: organizations, core

#10809 fix: org admin has team member privileges [CAL-2338]
  apps/web/public/static/locales/en/common.json
  packages/features/ee/organizations/pages/components/OtherTeamsListing.tsx
  packages/features/ee/organizations/pages/settings/other-team-members-view.tsx
  packages/features/ee/teams/components/AddNewTeamMembers.tsx
  packages/features/ee/teams/pages/team-members-view.tsx
  packages/features/settings/layouts/SettingsLayout.tsx
  packages/trpc/server/routers/viewer/organizations/listOtherTeams.handler.ts
  packages/trpc/server/routers/viewer/teams/create.handler.ts
  packages/trpc/server/routers/viewer/teams/get.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMember.handler.ts
  packages/trpc/server/routers/viewer/teams/removeMember.handler.ts
Labels: ✨ feature, High priority, teams, organizations, core

#10843 perf: Cache translations per language/per release
  apps/web/components/I18nLanguageHandler.tsx
  apps/web/components/security/DisableUserImpersonation.tsx
  apps/web/components/ui/UsernameAvailability/PremiumTextfield.tsx
  apps/web/components/ui/UsernameAvailability/UsernameTextfield.tsx
  apps/web/lib/app-providers.tsx
  apps/web/pages/settings/my-account/general.tsx
  apps/web/server/lib/ssg.ts
  apps/web/server/lib/ssr.ts
  packages/features/auth/lib/getServerSession.ts
  packages/features/auth/lib/next-auth-options.ts
  packages/features/ee/impersonation/lib/ImpersonationProvider.ts
  packages/features/ee/teams/components/DisableTeamImpersonation.tsx
  packages/trpc/server/createNextApiHandler.ts
  packages/trpc/server/middlewares/localeMiddleware.ts
  packages/trpc/server/routers/publicViewer/_router.tsx
  packages/trpc/server/routers/publicViewer/i18n.handler.ts
  packages/trpc/server/routers/publicViewer/i18n.schema.ts
  packages/types/next-auth.d.ts
Labels: core

#9195 feat: add basecamp integration to cal.com
  .env.appStore.example
  README.md
  apps/web/pages/api/trpc/appBasecamp3/[trpc].ts
  packages/app-store/apps.browser.generated.tsx
  packages/app-store/apps.keys-schemas.generated.ts
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.schemas.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/basecamp3/DESCRIPTION.md
  packages/app-store/basecamp3/api/add.ts
  packages/app-store/basecamp3/api/callback.ts
  packages/app-store/basecamp3/api/index.ts
  packages/app-store/basecamp3/components/EventTypeAppCardInterface.tsx
  packages/app-store/basecamp3/config.json
  packages/app-store/basecamp3/index.ts
  packages/app-store/basecamp3/lib/CalendarService.ts
  packages/app-store/basecamp3/lib/getBasecampKeys.ts
  packages/app-store/basecamp3/lib/helpers.ts
  packages/app-store/basecamp3/lib/index.ts
  packages/app-store/basecamp3/package.json
  packages/app-store/basecamp3/static/1.png
  packages/app-store/basecamp3/static/2.png
  packages/app-store/basecamp3/static/3.png
  packages/app-store/basecamp3/static/logo.svg
  packages/app-store/basecamp3/trpc-router.ts
  packages/app-store/basecamp3/trpc/_router.ts
  packages/app-store/basecamp3/trpc/projectMutation.handler.ts
  packages/app-store/basecamp3/trpc/projectMutation.schema.ts
  packages/app-store/basecamp3/trpc/projects.handler.ts
  packages/app-store/basecamp3/zod.ts
  packages/app-store/index.ts
  packages/prisma/seed-app-store.ts
  packages/trpc/react/trpc.ts
  packages/trpc/server/routers/viewer/_router.tsx
  turbo.json
Labels: ✨ feature, app-store, Low priority, ❗️ .env changes, crm-apps

#10838 fix: missing border-subtle class
  apps/web/pages/settings/developer/api-keys.tsx
  packages/features/ee/api-keys/components/ApiKeyListItem.tsx
Labels: ✅ good first issue, ⚡ Quick Wins, Low priority, ui

#10742 fix: Next/previous buttons on week view move 8 instead of 7 days
  packages/features/bookings/Booker/components/Header.tsx
Labels: 🐛 bug, linear, Low priority

#10853 perf: GCal reduce calendar payload
  packages/app-store/googlecalendar/lib/CalendarService.ts
Labels: performance, core

#10807 fix: icon in emails is considered a tracking pixel
  packages/emails/src/components/LocationInfo.tsx
Labels: emails

#10822 chore: add Dialog component in storybook
  packages/ui/components/dialog/dialog.stories.mdx
Labels: Low priority, ui, core

#10652 fix: Removing payment fee on stripe
  packages/app-store/stripepayment/components/EventTypeAppCardInterface.tsx
  packages/app-store/stripepayment/lib/PaymentService.ts
Labels: ✨ feature, Low priority, core

#10860 fix: Make identifier conform to RHF field requirement
  apps/web/playwright/manage-booking-questions.e2e.ts
  packages/features/bookings/lib/getBookingFields.ts
  packages/features/form-builder/FormBuilder.tsx
  packages/features/form-builder/schema.ts
  packages/features/form-builder/utils/getFieldIdentifier.ts
  packages/lib/getValidRhfFieldName.test.ts
  packages/lib/getValidRhfFieldName.ts
  packages/lib/slugify.test.ts
Labels: 🐛 bug, High priority, core

#10784 chore: add datePicker in storybook (CALCOM-10760)
  packages/features/calendars/DatePicker.tsx
  packages/features/calendars/datepicker.stories.mdx
Labels: ui, core

#10871 fix: Resolved Typescript Error in PR #9598 created by @vijeet-shah.
  apps/web/components/getting-started/steps-views/SetupAvailability.tsx
Labels: 🐛 bug, ✅ good first issue, Low priority

#10868 test: added team & user having same name test
  apps/web/pages/[user].tsx
  apps/web/pages/team/[slug].tsx
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/teams.e2e.ts
Labels: 🙋🏻‍♂️help wanted, 🧹 Improvements, Medium priority, automated-tests

#8271 feat: Added more query params to successRedirect page
  packages/features/bookings/Booker/components/BookEventForm/BookEventForm.tsx
  packages/features/ee/payments/components/Payment.tsx
  packages/features/ee/payments/components/PaymentPage.tsx
  packages/features/ee/payments/pages/payment.tsx
  packages/lib/bookingSuccessRedirect.ts
Labels: ✨ feature, docs, Low priority

#10850 fix: client locale inference
  apps/web/components/I18nLanguageHandler.tsx
  apps/web/components/PageWrapper.tsx
  apps/web/lib/app-providers.tsx
  apps/web/lib/core/i18n/i18n.utils.ts
  apps/web/next.config.js
  apps/web/server/lib/ssg.ts
  apps/web/server/lib/ssr.ts
  packages/config/next-i18next.config.js
  packages/lib/constants.ts
  packages/lib/i18n.ts
  packages/trpc/server/createContext.ts
  packages/trpc/server/routers/publicViewer/i18n.schema.ts
  packages/ui/components/credits/Credits.tsx
  packages/ui/components/credits/credits.test.tsx
  playwright.config.ts
  turbo.json
Labels: Medium priority, performance, core

#10762 chore: add constant for production builds
  packages/lib/constants.ts
Labels: ⚡ Quick Wins, Low priority, ci, core

#10885 fix: Improves the Login button for SAML/OIDC
  apps/web/public/static/locales/en/common.json
  packages/features/auth/SAMLLogin.tsx
Labels: High priority, authentication, core

#10893 fix: client locale inference
  apps/web/components/I18nLanguageHandler.tsx
  apps/web/package.json
  packages/trpc/server/routers/publicViewer/i18n.schema.ts
  yarn.lock
Labels: core

#10890 fix: scheduling workflow emails
  packages/features/ee/workflows/lib/reminders/emailReminderManager.ts
Labels: 🐛 bug, linear, High priority, workflows, core

#10881 chore: expect emails e2e
  .env.example
  .github/workflows/e2e-app-store.yml
  .github/workflows/e2e-embed.yml
  .github/workflows/e2e.yml
  README.md
  apps/web/playwright/booking-pages.e2e.ts
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/lib/fixtures.ts
  apps/web/playwright/lib/testUtils.ts
  packages/lib/constants.ts
  packages/types/environment.d.ts
  turbo.json
Labels: 🐛 bug, docs, High priority, ❗️ .env changes, automated-tests, ci, core

#10127 chore: cron workflow tidying
  .github/workflows/cron-bookingReminder.yml
  .github/workflows/cron-downgradeUsers.yml
  .github/workflows/cron-scheduleEmailReminders.yml
  .github/workflows/cron-scheduleSMSReminders.yml
  .github/workflows/cron-scheduleWhatsappReminders.yml
  .github/workflows/cron-stale-issue.yml
  .github/workflows/cron-syncAppMeta.yml
  .github/workflows/submodule-sync.yml
Labels: Low priority, ci

#9183 fix: data collection for headless router
  packages/app-store/routing-forms/lib/transformResponse.ts
  packages/app-store/routing-forms/pages/router/[...appPages].tsx
  packages/app-store/routing-forms/pages/routing-link/[...appPages].tsx
  packages/app-store/routing-forms/trpc/utils.ts
Labels: 🧹 Improvements, Low priority, routing-forms, core

#10909 fix: Prevents mixed server and client code
  apps/web/server/lib/ssr.ts
  packages/lib/getLocaleFromRequest.ts
  packages/lib/i18n.ts
  packages/trpc/server/createContext.ts
Labels: core

#10738 fix: team availability shows only to the member owning it
  apps/web/components/eventtype/EventAvailabilityTab.tsx
  packages/trpc/server/routers/viewer/availability/schedule/get.handler.ts
Labels: 🐛 bug, 👩‍🔬 needs investigation, Low priority, teams, 🤔 needs prioritisation

#10910 fix: Remove multiple durations for seated events
  apps/web/components/eventtype/EventAdvancedTab.tsx
  apps/web/components/eventtype/EventSetupTab.tsx
  apps/web/pages/event-types/[type]/index.tsx
  apps/web/public/static/locales/en/common.json
Labels: core

#10912 fix: adding a new workflow step that requires kyc verification
  packages/features/ee/workflows/components/AddActionDialog.tsx
  packages/features/ee/workflows/components/WorkflowDetailsPage.tsx
  packages/trpc/server/routers/viewer/workflows/update.handler.ts
Labels: core

#10847 fix: add org avatar to org booking pages [CAL-2333]
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/Booker/components/EventMeta.tsx
  packages/features/bookings/components/event-meta/Members.tsx
  packages/features/ee/organizations/lib/orgDomains.ts
  packages/features/ee/organizations/pages/settings/profile.tsx
Labels: 🐛 bug, app-store, Medium priority, organizations, core

#10875 feat: admin org list now shows all, dns check added
  apps/web/pages/settings/admin/organizations/index.tsx
  apps/web/public/static/locales/en/common.json
  packages/emails/email-manager.ts
  packages/emails/src/templates/AdminOrganizationNotificationEmail.tsx
  packages/emails/src/templates/index.ts
  packages/emails/templates/admin-organization-notification.ts
  packages/features/ee/organizations/pages/settings/admin/AdminOrgPage.tsx
  packages/features/ee/organizations/pages/settings/admin/unverifiedOrgPage.tsx
  packages/lib/getMetadataHelpers.ts
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer/organizations/_router.tsx
  packages/trpc/server/routers/viewer/organizations/adminGetAll.handler.ts
  packages/trpc/server/routers/viewer/organizations/create.handler.ts
  packages/trpc/server/routers/viewer/organizations/update.handler.ts
  packages/trpc/server/routers/viewer/organizations/update.schema.ts
Labels: core

#10902 feat: Availability Slider enabled for teams
  apps/web/pages/availability/index.tsx
  packages/features/timezone-buddy/components/AvailabilitySliderTable.tsx
  packages/trpc/server/routers/viewer/availability/team/listTeamAvailability.handler.ts
  packages/trpc/server/routers/viewer/availability/team/listTeamAvailability.schema.ts
Labels: core

#10698 test: Create unit tests for react components is packages/ui/components/navigation
  packages/ui/components/navigation/tabs/HorizontalTabItem.tsx
  packages/ui/components/navigation/tabs/VerticalTabItem.tsx
  packages/ui/components/navigation/tabs/navigation.test.tsx
  packages/ui/components/test-setup.ts
Labels: Low priority, core
