Repository calcom/cal.com, pull requests merged in 2023-02, with the labels that each got.

#6807 feat: add theming options to teams
  apps/web/pages/settings/my-account/appearance.tsx
  apps/web/pages/team/[slug].tsx
  apps/web/pages/team/[slug]/[type].tsx
  apps/web/pages/team/[slug]/book.tsx
  packages/features/ee/teams/pages/team-appearance-view.tsx
  packages/features/settings/ThemeLabel.tsx
  packages/lib/server/queries/teams/index.ts
  packages/prisma/migrations/20230131062229_add_theme_and_brand_colors_for_teams/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/teams.tsx
Labels: ❗️ migrations

#6866 fix: metadata not saved while creating a booking.
  packages/features/bookings/lib/handleNewBooking.ts
Labels: automerge

#6841 Beginning of Strict CSP Compliance
  .env.example
  README.md
  apps/web/lib/app-providers.tsx
  apps/web/lib/csp.ts
  apps/web/lib/withNonce.tsx
  apps/web/middleware.ts
  apps/web/next.config.js
  apps/web/pages/_app.tsx
  apps/web/pages/_document.tsx
  apps/web/pages/auth/login.tsx
  apps/web/public/embed-init-iframe.js
  packages/embeds/embed-core/src/embed-iframe.ts
  packages/types/environment.d.ts
  turbo.json
Labels: ❗️ .env changes

#6921 Hotfix: add req.headers
  apps/web/middleware.ts
Labels: ♻️ autoupdate, automerge

#6574 Admin Wizard Choose License
  .env.example
  apps/web/components/setup/AdminUser.tsx
  apps/web/components/setup/ChooseLicense.tsx
  apps/web/components/setup/EnterpriseLicense.tsx
  apps/web/components/setup/StepDone.tsx
  apps/web/pages/api/auth/[...nextauth].tsx
  apps/web/pages/auth/setup/index.tsx
  apps/web/pages/getting-started/[[...step]].tsx
  apps/web/public/static/locales/en/common.json
  packages/app-store/_components/AppCategoryNavigation.tsx
  packages/config/tailwind-preset.js
  packages/features/apps/AdminAppsList.tsx
  packages/features/ee/api-keys/components/ApiKeyListItem.tsx
  packages/features/ee/common/components/LicenseRequired.tsx
  packages/features/ee/common/components/v2/LicenseRequired.tsx
  packages/features/ee/common/server/checkLicense.ts
  packages/features/ee/deployment/lib/getDeploymentKey.ts
  packages/features/kbar/Kbar.tsx
  packages/features/settings/layouts/SettingsLayout.tsx
  packages/trpc/server/routers/viewer.tsx
  packages/trpc/server/routers/viewer/deploymentSetup.tsx
  packages/types/environment.d.ts
  packages/ui/components/button/Button.tsx
  packages/ui/components/form/inputs/Input.tsx
  packages/ui/components/form/step/Stepper.tsx
  packages/ui/components/form/step/Steps.tsx
  packages/ui/components/form/wizard/WizardForm.tsx
  packages/ui/components/navigation/tabs/VerticalTabs.tsx
Labels: ❗️ migrations, ❗️ .env changes

#6874 Allow account linking for Google and SAML providers
  apps/web/pages/api/auth/[...nextauth].tsx
  apps/web/pages/api/auth/signup.ts
Labels: Urgent

#6677 feat/payment-service-6438-cal-767
  apps/web/components/booking/BookingListItem.tsx
  apps/web/components/booking/pages/AvailabilityPage.tsx
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/components/eventtype/EventRecurringTab.tsx
  apps/web/pages/event-types/index.tsx
  apps/web/playwright/fixtures/payments.ts
  apps/web/playwright/reschedule.e2e.ts
  packages/app-store/ee/routing-forms/components/FormInputFields.tsx
  packages/app-store/stripepayment/index.ts
  packages/app-store/stripepayment/lib/PaymentService.ts
  packages/app-store/stripepayment/lib/index.ts
  packages/app-store/stripepayment/lib/server.ts
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/ee/payments/components/Payment.tsx
  packages/features/ee/payments/components/PaymentPage.tsx
  packages/features/ee/payments/pages/payment.tsx
  packages/features/eventtypes/components/EventTypeDescription.tsx
  packages/lib/PaymentService.ts
  packages/lib/getEventTypeById.ts
  packages/lib/getPaymentAppData.ts
  packages/lib/getStripeAppData.ts
  packages/lib/payment/deletePayment.ts
  packages/lib/payment/handlePayment.ts
  packages/lib/payment/handleRefundError.ts
  packages/prisma/migrations/20230125175109_remove_type_from_payment_and_add_app_relationship/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer.tsx
  packages/trpc/server/routers/viewer/apps.tsx
  packages/trpc/server/routers/viewer/bookings.tsx
Labels: ❗️ migrations

#6930 Feature/maintenance mode
  .env.example
  apps/web/middleware.ts
  apps/web/package.json
  apps/web/pages/maintenance.tsx
  apps/web/public/static/locales/en/common.json
  yarn.lock
Labels: ❗️ .env changes

#6823 I18N Caching
  apps/web/components/ImageUploader.tsx
  apps/web/components/security/TwoFactorAuthSection.tsx
  apps/web/components/team/screens/Team.tsx
  apps/web/lib/hooks/useLocale.ts
  apps/web/pages/404.tsx
  apps/web/pages/api/trpc/[trpc].ts
  apps/web/pages/auth/forgot-password/[id].tsx
  apps/web/pages/auth/forgot-password/index.tsx
  apps/web/pages/settings/my-account/general.tsx
Labels: ❗️ migrations, ❗️ .env changes

#7171 Embed: Remove ugly windows scrollbar even on unscrollable content
  packages/embeds/embed-core/src/embed.ts
Labels: ♻️ autoupdate, automerge

#7154 Fixes some variables in custom template for webhooks
  packages/features/webhooks/lib/sendPayload.ts
Labels: :scroll: Needs Documentation Update

#7174 feat(app-store): add facetime app to app-store
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/facetime/DESCRIPTION.md
  packages/app-store/facetime/api/add.ts
  packages/app-store/facetime/api/index.ts
  packages/app-store/facetime/config.json
  packages/app-store/facetime/index.ts
  packages/app-store/facetime/package.json
  packages/app-store/facetime/static/facetime1.png
  packages/app-store/facetime/static/facetime2.png
  packages/app-store/facetime/static/icon.svg
  packages/app-store/facetime/static/logo.svg
  packages/app-store/index.ts
  packages/prisma/seed-app-store.config.json
Labels: ♻️ autoupdate, automerge

#7194 Hotfix: Fix location select not rendering
  apps/web/components/ui/form/Select.tsx
Labels: ♻️ autoupdate, automerge

#7193 chore: add i18n in routing form pages
  apps/web/public/static/locales/en/common.json
  packages/app-store/ee/routing-forms/components/FormActions.tsx
  packages/app-store/ee/routing-forms/components/SingleForm.tsx
  packages/app-store/ee/routing-forms/pages/form-edit/[...appPages].tsx
  packages/app-store/ee/routing-forms/pages/route-builder/[...appPages].tsx
Labels: ♻️ autoupdate, automerge

#7232 Fixes that workflow reminders of cancelled and rescheduled bookings are still sent
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/ee/workflows/api/scheduleEmailReminders.ts
  packages/features/ee/workflows/components/WorkflowStepContainer.tsx
  packages/features/ee/workflows/lib/reminders/emailReminderManager.ts
  packages/features/ee/workflows/lib/reminders/smsReminderManager.ts
  packages/prisma/migrations/20230217230604_add_cancelled_to_workflow_reminder/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/bookings.tsx
  packages/trpc/server/routers/viewer/workflows.tsx
Labels: ❗️ migrations

#7235 Remove duplicated border in Calendar category
  apps/web/pages/apps/installed/[category].tsx
Labels: ♻️ autoupdate, automerge

#7244 Do not show location when booking has been cancelled
  apps/web/pages/booking/[uid].tsx
Labels: ♻️ autoupdate, automerge

#6858 Improve booking seats changes
  apps/web/components/booking/AvailableTimes.tsx
  apps/web/components/booking/BookingListItem.tsx
  apps/web/components/booking/CancelBooking.tsx
  apps/web/components/booking/SlotPicker.tsx
  apps/web/components/booking/pages/AvailabilityPage.tsx
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/lib/getBooking.tsx
  apps/web/lib/types/booking.ts
  apps/web/pages/[user]/book.tsx
  apps/web/pages/booking/[uid].tsx
  apps/web/pages/reschedule/[uid].tsx
  apps/web/public/static/locales/en/common.json
  packages/app-store/googlecalendar/lib/CalendarService.ts
  packages/core/CalendarManager.ts
  packages/core/EventManager.ts
  packages/emails/email-manager.ts
  packages/emails/src/templates/AttendeeCancelledSeatEmail.tsx
  packages/emails/src/templates/OrganizerAttendeeCancelledSeatEmail.tsx
  packages/emails/src/templates/OrganizerScheduledEmail.tsx
  packages/emails/src/templates/index.ts
  packages/emails/templates/attendee-cancelled-seat-email.ts
  packages/emails/templates/attendee-scheduled-email.ts
  packages/emails/templates/organizer-attendee-cancelled-seat-email.ts
  packages/emails/templates/organizer-scheduled-email.ts
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/lib/CalEventParser.ts
  packages/prisma/migrations/20230210005229_change_relationship_of_attendee_and_seat_reference/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer/bookings.tsx
  packages/types/Calendar.d.ts
Labels: ❗️ migrations, 🧹 Improvements, High priority

#7247 fix: placeholder in custom event name
  apps/web/components/eventtype/EventAdvancedTab.tsx
Labels: ♻️ autoupdate, automerge

#7282 fix: slot picker scroll position not consistent
  apps/web/components/booking/AvailableTimes.tsx
  packages/features/calendars/DatePicker.tsx
Labels: ♻️ autoupdate, automerge

#7257 [CAL-1125] Fix app detail page heading size
  apps/web/components/apps/App.tsx
  packages/features/shell/Shell.tsx
Labels: ♻️ autoupdate, automerge

#7318 Zomars/cal 884 paid events not sending the link
  packages/core/EventManager.ts
  packages/features/bookings/lib/handleConfirmation.ts
  packages/features/ee/payments/api/webhook.ts
  packages/trpc/server/routers/viewer/bookings.tsx
Labels: ♻️ autoupdate, automerge

#7038 Team Workflows
  apps/web/pages/event-types/index.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/ee/teams/pages/team-profile-view.tsx
  packages/features/ee/workflows/components/DeleteDialog.tsx
  packages/features/ee/workflows/components/EmptyScreen.tsx
  packages/features/ee/workflows/components/EventWorkflowsTab.tsx
  packages/features/ee/workflows/components/WorkflowDetailsPage.tsx
  packages/features/ee/workflows/components/WorkflowListPage.tsx
  packages/features/ee/workflows/components/WorkflowStepContainer.tsx
  packages/features/ee/workflows/lib/reminders/reminderScheduler.ts
  packages/features/ee/workflows/lib/reminders/smsReminderManager.ts
  packages/features/ee/workflows/lib/reminders/verifyPhoneNumber.ts
  packages/features/ee/workflows/pages/index.tsx
  packages/features/ee/workflows/pages/workflow.tsx
  packages/features/eventtypes/components/CreateEventTypeDialog.tsx
  packages/features/eventtypes/components/DuplicateDialog.tsx
  packages/features/eventtypes/components/index.ts
  packages/lib/getEventTypeById.ts
  packages/prisma/migrations/20230210132534_add_workflows_to_teams/migration.sql
  packages/prisma/migrations/20230210182245_add_verified_numbers_to_team/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/eventTypes.ts
  packages/trpc/server/routers/viewer/workflows.tsx
  packages/ui/components/createButton/CreateButton.tsx
  packages/ui/components/createButton/index.ts
  packages/ui/components/popover/AnimatedPopover.tsx
  packages/ui/index.tsx
Labels: ❗️ migrations

#7431 Solves Github actions caching issues
  .github/actions/cache-build/action.yml
  .github/actions/cache-db/action.yml
  .github/actions/env-read-file/action.yml
  .github/actions/yarn-build/action.yml
  .github/actions/yarn-install/action.yml
  .github/workflows/e2e-app-store.yml
  .github/workflows/e2e-embed.yml
  .github/workflows/e2e.yml
  .github/workflows/env-create-file.yml
  .github/workflows/pr.yml
  .github/workflows/production-build.yml
  gh.env
Labels: ❗️ migrations

#7440 upgrade nextjs to 13.2 version and replace @next/font for in built ne…
  apps/docs/package.json
  apps/storybook/package.json
  apps/swagger/package.json
  apps/web/package.json
  apps/web/pages/_app.tsx
  apps/web/pages/api/countrycode.ts
  apps/web/pages/api/social/og/image.tsx
  packages/config/package.json
  packages/ui/package.json
  yarn.lock
Labels: automerge
