Repository calcom/cal.com, pull requests merged in 2023-05, with the labels that each got.

#8538 Allow booking date overrides outside of working hours
  packages/features/bookings/lib/handleNewBooking.ts
Labels: 🐛 bug, Urgent

#8596 Fix: Show smsReminderNumber on booking success page
  apps/web/pages/booking/[uid].tsx
  apps/web/playwright/auth/delete-account.e2e.ts
  apps/web/playwright/auth/forgot-password.e2e.ts
  apps/web/playwright/booking-pages.e2e.ts
  apps/web/playwright/booking-seats.e2e.ts
  apps/web/playwright/dynamic-booking-pages.e2e.ts
  apps/web/playwright/embed-code-generator.e2e.ts
  apps/web/playwright/event-types.e2e.ts
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/integrations-stripe.e2e.ts
  apps/web/playwright/lib/testUtils.ts
  apps/web/playwright/manage-booking-questions.e2e.ts
  apps/web/playwright/reschedule.e2e.ts
  apps/web/playwright/webhook.e2e.ts
  packages/app-store/routing-forms/playwright/tests/basic.e2e.ts
  packages/app-store/typeform/playwright/tests/basic.e2e.ts
  packages/embeds/embed-core/playwright/lib/testUtils.ts
  playwright.config.ts
Labels: 🐛 bug, ⚡ Quick Wins

#8217 [CAL-1095] Embed modal (floating pop up button) - UI/layout/spacing issues
  apps/web/components/Embed.tsx
  apps/web/public/static/locales/en/common.json
  packages/ui/components/form/color-picker/colorpicker.tsx
Labels: automerge

#8632 Update README.md
  README.md
Labels: automerge

#8158 feat: Add Zoho Bigin app to appstore
  .env.appStore.example
  README.md
  packages/app-store/apps.keys-schemas.generated.ts
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.schemas.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/index.ts
  packages/app-store/zoho-bigin/DESCRIPTION.md
  packages/app-store/zoho-bigin/README.md
  packages/app-store/zoho-bigin/api/add.ts
  packages/app-store/zoho-bigin/api/callback.ts
  packages/app-store/zoho-bigin/api/index.ts
  packages/app-store/zoho-bigin/config.json
  packages/app-store/zoho-bigin/index.ts
  packages/app-store/zoho-bigin/lib/CalendarService.ts
  packages/app-store/zoho-bigin/lib/index.ts
  packages/app-store/zoho-bigin/package.json
  packages/app-store/zoho-bigin/static/1.png
  packages/app-store/zoho-bigin/static/zohobigin.svg
  packages/app-store/zoho-bigin/zod.ts
  packages/core/CalendarManager.ts
  yarn.lock
Labels: automerge, ❗️ .env changes

#8655 Fix: Embed Theme switching when appearance is using System Theme
  packages/embeds/embed-core/preview.html
  packages/embeds/embed-core/src/preview.ts
  packages/lib/hooks/useTheme.tsx
Labels: 🐛 bug

#8667 CAL-1554: remove gap between form and event meta on now booker
  packages/features/bookings/Booker/Booker.tsx
Labels: automerge

#8041 refactor: split up routers to separate lambdas
  apps/web/pages/api/trpc/[trpc].ts
  apps/web/pages/api/trpc/apiKeys/[trpc].ts
  apps/web/pages/api/trpc/appRoutingForms/[trpc].ts
  apps/web/pages/api/trpc/apps/[trpc].ts
  apps/web/pages/api/trpc/auth/[trpc].ts
  apps/web/pages/api/trpc/availability/[trpc].ts
  apps/web/pages/api/trpc/bookings/[trpc].ts
  apps/web/pages/api/trpc/deploymentSetup/[trpc].ts
  apps/web/pages/api/trpc/eth/[trpc].ts
  apps/web/pages/api/trpc/eventTypes/[trpc].ts
  apps/web/pages/api/trpc/features/[trpc].ts
  apps/web/pages/api/trpc/insights/[trpc].ts
  apps/web/pages/api/trpc/payments/[trpc].ts
  apps/web/pages/api/trpc/public/[trpc].ts
  apps/web/pages/api/trpc/saml/[trpc].ts
  apps/web/pages/api/trpc/slots/[trpc].ts
  apps/web/pages/api/trpc/teams/[trpc].ts
  apps/web/pages/api/trpc/users/[trpc].ts
  apps/web/pages/api/trpc/viewer/[trpc].ts
  apps/web/pages/api/trpc/webhook/[trpc].ts
  apps/web/pages/api/trpc/workflows/[trpc].ts
  apps/web/playwright/availability.e2e.ts
  apps/web/playwright/booking-pages.e2e.ts
  packages/app-store/routing-forms/playwright/tests/basic.e2e.ts
  packages/trpc/react/trpc.ts
  packages/trpc/server/createNextApiHandler.ts
  playwright.config.ts
Labels: 🧹 Improvements, High priority

#8574 [Symbolic Link Issues] Added instructions for setup on windows
  README.md
Labels: automerge

#8582 enhance Timezone Component with Box Shadow
  packages/ui/components/form/timezone-select/TimezoneSelect.tsx
Labels: ♻️ autoupdate, automerge

#8470 feat: catch emails sent locally using Mailhog
  .env.example
  README.md
  packages/emails/docker-compose.yml
  packages/emails/package.json
Labels: ❗️ .env changes

#8459 added gradients to dark dashboard and dark booking page
  apps/web/components/booking/TimezoneDropdown.tsx
  apps/web/components/booking/pages/BookingPage.tsx
  packages/features/shell/Shell.tsx
Labels: ✨ feature

#8762 fixes START_TIME variable in sms reminder
  packages/features/ee/workflows/lib/reminders/templates/customTemplate.ts
  packages/features/ee/workflows/lib/reminders/templates/smsReminderTemplate.ts
  packages/trpc/server/routers/viewer/workflows/update.handler.ts
Labels: 🐛 bug

#8662 Fixing availability for MET
  apps/web/components/eventtype/EventAvailabilityTab.tsx
  apps/web/pages/event-types/index.tsx
  apps/web/test/lib/handleChildrenEventTypes.test.ts
  packages/prisma/zod-utils.ts
Labels: ♻️ autoupdate

#8633 fix: location select logo in dark mode
  apps/web/components/booking/AvailableEventLocations.tsx
  apps/web/components/eventtype/EventSetupTab.tsx
  apps/web/components/ui/form/LocationSelect.tsx
Labels: 🐛 bug, automerge, 📉 regressing

#8789 fix: use useTeamsPlan hook
  packages/features/ee/video/ViewRecordingsDialog.tsx
  packages/ui/components/tooltip/Tooltip.tsx
Labels: 🐛 bug

#8798 Fix booking flow crash when zoho-bigin app is enabled.
  packages/app-store/_utils/getCalendar.ts
  packages/app-store/index.ts
Labels: automerge

#8636 Make Jitsi Host configurable
  packages/app-store/apps.keys-schemas.generated.ts
  packages/app-store/apps.schemas.generated.ts
  packages/app-store/jitsivideo/DESCRIPTION.md
  packages/app-store/jitsivideo/lib/VideoApiAdapter.ts
  packages/app-store/jitsivideo/zod.ts
  packages/trpc/server/routers/viewer/apps/listLocal.handler.ts
Labels: automerge

#8277 feat: add RECORDING_READY webhook
  apps/web/components/eventtype/EventTeamWebhooksTab.tsx
  apps/web/pages/api/recorded-daily-video.ts
  apps/web/public/static/locales/en/common.json
  packages/features/webhooks/components/WebhookForm.tsx
  packages/features/webhooks/lib/constants.ts
  packages/features/webhooks/lib/sendPayload.ts
  packages/prisma/migrations/20230414112451_add_recording_ready/migration.sql
  packages/prisma/schema.prisma
Labels: ✨ feature, ❗️ migrations, Medium priority

#8819 align text "Date overrides" with corresponding svg
  apps/web/pages/availability/[schedule].tsx
Labels: automerge

#7651 Webex integration
  README.md
  packages/app-store/apps.keys-schemas.generated.ts
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.schemas.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/index.ts
  packages/app-store/webex/DESCRIPTION.md
  packages/app-store/webex/README.md
  packages/app-store/webex/api/add.ts
  packages/app-store/webex/api/callback.ts
  packages/app-store/webex/api/index.ts
  packages/app-store/webex/config.json
  packages/app-store/webex/index.ts
  packages/app-store/webex/lib/VideoApiAdapter.ts
  packages/app-store/webex/lib/getWebexAppKeys.ts
  packages/app-store/webex/lib/index.ts
  packages/app-store/webex/package.json
  packages/app-store/webex/static/1.jpeg
  packages/app-store/webex/static/2.jpeg
  packages/app-store/webex/static/3.jpeg
  packages/app-store/webex/static/4.jpeg
  packages/app-store/webex/static/icon.ico
  packages/app-store/webex/zod.ts
  packages/app-store/zoomvideo/lib/VideoApiAdapter.ts
  packages/core/videoClient.ts
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/prisma/enums/index.ts
  packages/prisma/seed-app-store.config.json
  packages/trpc/server/createNextApiHandler.ts
  packages/types/AppHandler.d.ts
  yarn.lock
Labels: ❗️ .env changes

#8808 deleted fields in duplicate form 🎭
  packages/app-store/routing-forms/trpc/_router.ts
Labels: automerge

#8697 feat: add meta and seo tags for new booker component
  apps/web/pages/new-booker/[user]/[type].tsx
  apps/web/pages/new-booker/team/[slug]/[type].tsx
  packages/features/bookings/components/BookerSeo.tsx
  packages/features/eventtypes/lib/getPublicEvent.ts
Labels: 🐛 bug

#8774 #8701 CAL-1621 new booker dialog grow in height
  packages/features/bookings/Booker/components/BookEventForm/BookEventForm.tsx
  packages/features/bookings/Booker/components/BookEventForm/BookFormAsModal.tsx
  packages/features/package.json
  packages/features/shell/Shell.tsx
  packages/ui/components/alert/Alert.tsx
Labels: 📱 app

#8849 Fix no video reference on google-meet
  packages/features/bookings/lib/handleNewBooking.ts
Labels: 🐛 bug, High priority

#8583 fixed color of status bar for pwa
  apps/web/pages/_document.tsx
Labels: ♻️ autoupdate, automerge

#8786 fix: teams upgrade banner on smaller screens
  packages/features/tips/UpgradeTip.tsx
Labels: ♻️ autoupdate, automerge

#8486 Improvement/AppStore: Remove seeding from app-store-cli.
  apps/web/pages/apps/[slug]/index.tsx
  packages/app-store-cli/src/components/AppCreateUpdateForm.tsx
  packages/app-store-cli/src/components/DeleteForm.tsx
  packages/app-store-cli/src/core.ts
  packages/app-store/_appRegistry.ts
  packages/prisma/seed-app-store.config.json
  packages/prisma/seed-app-store.ts
Labels: ✨ feature

#8139 a11y: Exit the lexical Editor and button a11y on tab index
  packages/features/eventtypes/components/CreateEventTypeDialog.tsx
  packages/features/package.json
  packages/ui/components/editor/Editor.tsx
  yarn.lock
Labels: ♻️ autoupdate, automerge

#8757 cancel and schedule reminders when workflow activated/deactivated on event type
  packages/trpc/server/routers/viewer/workflows/activateEventType.handler.ts
  packages/trpc/server/routers/viewer/workflows/update.handler.ts
Labels: 🐛 bug

#8749 Fix: #8528 Moved the data checks to superRefine
  packages/trpc/server/routers/publicViewer/stripeCheckoutSession.handler.ts
  packages/trpc/server/routers/publicViewer/stripeCheckoutSession.schema.ts
Labels: ♻️ autoupdate

#8882 bottom nav: only border top
  packages/features/shell/Shell.tsx
Labels: 🎨 needs design, ⚡ Quick Wins, 1 points

#8894 Embed: Add missing eventTypeSelected event for team events listing
  apps/web/pages/team/[slug].tsx
Labels: automerge

#8446 Enabling workflows for managed events
  apps/web/components/eventtype/EventSetupTab.tsx
  apps/web/components/eventtype/EventTypeSingleLayout.tsx
  apps/web/pages/auth/setup/index.tsx
  apps/web/pages/event-types/index.tsx
  apps/web/public/static/locales/en/common.json
  apps/web/test/lib/handleChildrenEventTypes.test.ts
  packages/features/calendars/CalendarSwitch.tsx
  packages/features/ee/managed-event-types/lib/handleChildrenEventTypes.ts
  packages/features/ee/workflows/components/EventWorkflowsTab.tsx
  packages/features/ee/workflows/components/TimeTimeUnitInput.tsx
  packages/features/ee/workflows/components/WorkflowDetailsPage.tsx
  packages/features/ee/workflows/components/WorkflowListPage.tsx
  packages/features/ee/workflows/components/WorkflowStepContainer.tsx
  packages/features/ee/workflows/pages/workflow.tsx
  packages/features/eventtypes/components/ChildrenEventTypeSelect.tsx
  packages/features/schedules/components/Schedule.tsx
  packages/lib/getEventTypeById.ts
  packages/prisma/migrations/20230428142539_event_type_workflow_uniqueness/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/eventTypes/getByViewer.handler.ts
  packages/trpc/server/routers/viewer/eventTypes/update.handler.ts
  packages/trpc/server/routers/viewer/workflows/activateEventType.handler.ts
  packages/trpc/server/routers/viewer/workflows/list.handler.ts
  packages/trpc/server/routers/viewer/workflows/update.handler.ts
  packages/ui/components/editor/Editor.tsx
  packages/ui/components/form/checkbox/Checkbox.tsx
  packages/ui/components/form/checkbox/MultiSelectCheckboxes.tsx
  packages/ui/components/form/inputs/Input.tsx
  packages/ui/components/form/select/Select.tsx
Labels: ❗️ migrations

#8869 fix: add exp in /meeting-tokens
  apps/web/pages/_document.tsx
  packages/app-store/dailyvideo/lib/VideoApiAdapter.ts
Labels: 🐛 bug

#8713 issue#8601: fix
  packages/core/EventManager.ts
Labels: ♻️ autoupdate, automerge, kodiak:disabled

#8886 change datepicker styles to fix dark mode issue
  packages/ui/components/form/date-range-picker/styles.css
Labels: 💰 Rewarded

#8983 Fixes SMS workflow actions for premium users
  packages/trpc/server/routers/viewer/workflows/update.handler.ts
Labels: 🐛 bug

#8986 Add config support in `floatingButton` instruction
  packages/embeds/embed-core/playground.ts
  packages/embeds/embed-core/src/FloatingButton/FloatingButton.ts
  packages/embeds/embed-core/src/embed.ts
Labels: ✨ feature, Low priority

#8980 Replacement PR for closed PR #8960
  apps/web/components/eventtype/EventAdvancedTab.tsx
Labels: ♻️ autoupdate

#8924 fix: impersonation switch active state
  apps/web/pages/settings/security/impersonation.tsx
Labels: 🐛 bug

#8902 [CAL-1008] Fix 'All Bookings' filter not getting selected after coming from 'Your Bookings'
  packages/features/bookings/components/TeamFilter.tsx
  packages/lib/hooks/useTypedQuery.ts
Labels: ♻️ autoupdate

#8903 remove todo to issue action
  .github/workflows/todo-to-issue.yml
Labels: ♻️ autoupdate

#9030 Fix: Embed - Auto theme configured using embed `config` doesn't work when there is non-system theme configured in appearance.
  packages/embeds/embed-core/playground.ts
  packages/embeds/embed-core/src/embed-iframe.ts
  packages/embeds/embed-core/src/embed.ts
  packages/lib/hooks/useTheme.tsx
Labels: 🐛 bug, automerge

#9031 fix: reject icon color
  apps/web/public/emails/rejectIcon.png
  apps/web/public/emails/rejectIcon.svg
  packages/emails/src/components/CallToAction.tsx
  packages/emails/src/components/CallToActionIcon.tsx
Labels: 🐛 bug, 🚧 wip / in the making

#8203 fix: cancelled booking doesn't show the booker
  apps/web/pages/booking/[uid].tsx
  apps/web/playwright/booking-pages.e2e.ts
  apps/web/playwright/booking-seats.e2e.ts
  apps/web/playwright/lib/testUtils.ts
  packages/features/bookings/lib/handleCancelBooking.ts
Labels: 🐛 bug

#9049 fixed password input width (undo max-w-max)
  apps/web/pages/auth/login.tsx
  packages/ui/components/form/inputs/Input.tsx
Labels: 🐛 bug, ⚡ Quick Wins

#9010 feat: mirotalk app-store setup
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/mirotalk/DESCRIPTION.md
  packages/app-store/mirotalk/api/add.ts
  packages/app-store/mirotalk/api/index.ts
  packages/app-store/mirotalk/config.json
  packages/app-store/mirotalk/index.ts
  packages/app-store/mirotalk/package.json
  packages/app-store/mirotalk/static/1.jpeg
  packages/app-store/mirotalk/static/2.jpeg
  packages/app-store/mirotalk/static/icon.svg
Labels: ♻️ autoupdate, 📱 app, Medium priority

#8917 Team webhooks
  apps/web/components/eventtype/EventWebhooksTab.tsx
  apps/web/pages/api/recorded-daily-video.ts
  apps/web/pages/event-types/[type]/index.tsx
  apps/web/playwright/manage-booking-questions.e2e.ts
  apps/web/public/static/locales/en/common.json
  packages/app-store/routing-forms/trpc/utils.ts
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/features/bookings/lib/handleConfirmation.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/webhooks/components/WebhookListItem.tsx
  packages/features/webhooks/lib/getWebhooks.ts
  packages/features/webhooks/lib/subscriberUrlReserved.ts
  packages/features/webhooks/pages/webhook-edit-view.tsx
  packages/features/webhooks/pages/webhook-new-view.tsx
  packages/features/webhooks/pages/webhooks-view.tsx
  packages/lib/test/builder.ts
  packages/prisma/migrations/20230515121841_add_team_webhooks/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/zod/webhook.ts
  packages/trpc/server/routers/viewer/bookings/requestReschedule.handler.ts
  packages/trpc/server/routers/viewer/webhook/_router.tsx
  packages/trpc/server/routers/viewer/webhook/create.handler.ts
  packages/trpc/server/routers/viewer/webhook/create.schema.ts
  packages/trpc/server/routers/viewer/webhook/delete.handler.ts
  packages/trpc/server/routers/viewer/webhook/delete.schema.ts
  packages/trpc/server/routers/viewer/webhook/edit.handler.ts
  packages/trpc/server/routers/viewer/webhook/get.handler.ts
  packages/trpc/server/routers/viewer/webhook/getByViewer.handler.ts
  packages/trpc/server/routers/viewer/webhook/getByViewer.schema.ts
  packages/trpc/server/routers/viewer/webhook/list.handler.ts
  packages/trpc/server/routers/viewer/webhook/list.schema.ts
  packages/trpc/server/routers/viewer/webhook/types.ts
  packages/trpc/server/routers/viewer/webhook/util.ts
Labels: ♻️ autoupdate, ❗️ migrations

#9039 fix Former time in wrong time zone (Rescheduling)
  apps/web/components/booking/pages/BookingPage.tsx
  packages/lib/parse-dates.ts
Labels: ♻️ autoupdate

#9057 Forward query params from Team Profile page
  apps/web/components/team/screens/Team.tsx
  apps/web/pages/team/[slug].tsx
Labels: 🐛 bug, High priority

#9003 fixed spelling error on faq.mdx
  apps/docs/pages/faq.mdx
Labels: ♻️ autoupdate

#8969 [Feat] Bulk Invite of Users + Google Workspace
  apps/web/pages/api/teams/googleworkspace/add.ts
  apps/web/pages/api/teams/googleworkspace/callback.ts
  apps/web/pages/api/trpc/googleWorkspace/[trpc].ts
  apps/web/public/static/locales/en/common.json
  packages/features/ee/teams/components/AddNewTeamMembers.tsx
  packages/features/ee/teams/components/GoogleWorkspaceInviteButton.tsx
  packages/features/ee/teams/components/MemberInvitationModal.tsx
  packages/features/ee/teams/components/TeamListItem.tsx
  packages/features/ee/teams/pages/team-members-view.tsx
  packages/features/flags/config.ts
  packages/prisma/migrations/20230518084145_add_feature_flag_google_workspace/migration.sql
  packages/trpc/react/trpc.ts
  packages/trpc/server/routers/viewer/_router.tsx
  packages/trpc/server/routers/viewer/apps/_router.tsx
  packages/trpc/server/routers/viewer/apps/checkGlobalKeys.handler.ts
  packages/trpc/server/routers/viewer/apps/checkGlobalKeys.schema.ts
  packages/trpc/server/routers/viewer/googleWorkspace/_router.tsx
  packages/trpc/server/routers/viewer/googleWorkspace/googleWorkspace.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember.schema.ts
  packages/ui/components/dialog/Dialog.tsx
  packages/ui/components/form/toggleGroup/ToggleGroup.tsx
Labels: ❗️ migrations

#9064 fix: render action button only when actionButton.child is present
  packages/ui/components/card/Card.tsx
Labels: Low priority

#9108 fix: use correct locale of the attendee in attendee request to reschedule email
  packages/emails/src/templates/AttendeeWasRequestedToRescheduleEmail.tsx
  packages/emails/templates/attendee-was-requested-to-reschedule-email.ts
Labels: 🐛 bug, Low priority

#9139 fix: Broken 2 Factor Authentication
  apps/web/pages/auth/login.tsx
Labels: 🐛 bug, Urgent

#9113 refactor: radio area group
  apps/web/playwright/managed-event-types.e2e.ts
  packages/features/eventtypes/components/CreateEventTypeDialog.tsx
  packages/ui/form/radio-area/RadioAreaGroup.tsx
  packages/ui/form/radio-area/Select.tsx
  packages/ui/form/radio-area/index.ts
Labels: 🧹 Improvements, Medium priority, 1 points

#9011 feat: filter bookings by event type
  packages/features/bookings/components/EventTypeFilter.tsx
  packages/features/bookings/components/FiltersContainer.tsx
  packages/trpc/server/routers/viewer/bookings/get.handler.ts
Labels: 🎨 needs design

#9137 chore: Remove cold starts log
  apps/web/middleware.ts
Labels: ♻️ autoupdate

#9181 fix: confirm button not displayed
  apps/web/components/booking/BookingListItem.tsx
Labels: 🐛 bug, linear, Low priority

#8937 feat: GTM, Accept trackingId with and without GTM-
  packages/app-store/gtm/config.json
  packages/app-store/gtm/zod.ts
Labels: 🐛 bug, Medium priority

#9104 fix: upgrade btn bug
  packages/features/ee/video/ViewRecordingsDialog.tsx
  packages/features/ee/video/components/UpgradeRecordingBanner.tsx
Labels: 🐛 bug, Low priority

#9115 chore: Replace user email with ID in logs
  packages/trpc/server/routers/viewer/eventTypes/_router.ts
Labels: 🧹 Improvements, Low priority

#9160 feat: sidebar nav item tooltips
  packages/features/shell/Shell.tsx
  packages/ui/components/tooltip/Tooltip.tsx
Labels: ✨ feature

#9142 test: Two Factor Auth
  apps/web/components/settings/DisableTwoFactorModal.tsx
  apps/web/components/settings/EnableTwoFactorModal.tsx
  apps/web/pages/settings/security/two-factor-auth.tsx
  apps/web/playwright/auth/auth-index.e2e.ts
  apps/web/playwright/login.2fa.e2e.ts
Labels: 🧹 Improvements

#9099 fix: full name of app authors and added correct urls
  apps/web/components/apps/App.tsx
  packages/app-store/amie/config.json
  packages/app-store/around/config.json
  packages/app-store/campfire/config.json
  packages/app-store/closecom/config.json
  packages/app-store/cron/config.json
  packages/app-store/eightxeight/config.json
  packages/app-store/exchangecalendar/config.json
  packages/app-store/facetime/config.json
  packages/app-store/fathom/config.json
  packages/app-store/metapixel/config.json
  packages/app-store/mirotalk/config.json
  packages/app-store/n8n/config.json
  packages/app-store/plausible/config.json
  packages/app-store/qr_code/config.json
  packages/app-store/rainbow/config.json
  packages/app-store/raycast/config.json
  packages/app-store/riverside/config.json
  packages/app-store/routing-forms/config.json
  packages/app-store/salesforce/config.json
  packages/app-store/sendgrid/config.json
  packages/app-store/signal/config.json
  packages/app-store/sirius_video/config.json
  packages/app-store/sylapsvideo/config.json
  packages/app-store/telegram/config.json
  packages/app-store/typeform/config.json
  packages/app-store/vimcal/config.json
  packages/app-store/weather_in_your_calendar/config.json
  packages/app-store/webex/config.json
  packages/app-store/whatsapp/config.json
  packages/app-store/whereby/config.json
  packages/app-store/zoho-bigin/config.json
  packages/app-store/zohocrm/config.json
Labels: ✨ feature, 🧹 Improvements, ⚡ Quick Wins, Low priority

#8946 refactor: Show 404 page for new booker when event is not found.
  apps/web/pages/404.tsx
  apps/web/pages/new-booker/[user]/[type].tsx
  apps/web/pages/new-booker/team/[slug]/[type].tsx
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/components/Away.tsx
  packages/features/bookings/Booker/components/Unavailable.tsx
  packages/features/bookings/Booker/config.ts
Labels: 🧹 Improvements

#9158 fix(readme): Update node version requirements in prerequisites
  README.md
Labels: 🧹 Improvements

#8795 fix: Adjust height of sidebar to fit on screen when top banner is visible
  packages/features/shell/Shell.tsx
Labels: 🧹 Improvements

#8884 feat: Add new events to webhook BOOKING_CONFIRMED, BOOKING_REJECTED
  apps/web/components/booking/BookingListItem.tsx
  apps/web/playwright/webhook.e2e.ts
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleWebhookTrigger.ts
  packages/features/webhooks/components/WebhookForm.tsx
  packages/features/webhooks/lib/constants.ts
  packages/features/webhooks/lib/sendPayload.ts
  packages/prisma/migrations/20230522115850_add_enum_booking_requested_booking_rejected/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/bookings/confirm.handler.ts
Labels: ✨ feature, ❗️ migrations, Medium priority

#9077 feat: added toggle for dynamic booking in general settings #9060
  apps/web/pages/settings/my-account/general.tsx
  apps/web/public/static/locales/en/common.json
  packages/trpc/server/middlewares/sessionMiddleware.ts
  packages/trpc/server/routers/loggedInViewer/me.handler.ts
Labels: ✨ feature, Low priority

#8940 fix: footer in modals
  packages/features/form-builder/FormBuilder.tsx
  packages/ui/components/dialog/Dialog.tsx
Labels: 🐛 bug, 🧹 Improvements, ⚡ Quick Wins, Low priority

#8705 chore: Rounding, frames and radio buttons of the booking forms not consistent
  apps/web/package.json
  apps/web/styles/globals.css
  packages/app-store/routing-forms/components/react-awesome-query-builder/widgets.tsx
  packages/features/form-builder/Components.tsx
  packages/features/settings/layouts/SettingsLayout.tsx
  packages/ui/components/form/inputs/Input.tsx
  packages/ui/components/form/select/Select.tsx
  packages/ui/form/PhoneInput.tsx
  packages/ui/form/radio-area/Radio.tsx
  yarn.lock
Labels: 🧹 Improvements

#8955 feat: Use team logos for various meta icons
  apps/web/pages/_document.tsx
  apps/web/pages/api/logo.ts
  apps/web/public/browserconfig.xml
  apps/web/public/site.webmanifest
  packages/lib/constants.ts
  packages/ui/components/logo/Logo.tsx
Labels: ✨ feature, Low priority

#9206 chore: Shard E2E tests
  .github/workflows/e2e.yml
Labels: 🧹 Improvements

#9189 fix: Popular Apps Slider
  packages/app-store/_appRegistry.ts
  packages/types/App.d.ts
  packages/ui/components/apps/PopularAppsSlider.tsx
Labels: 🧹 Improvements

#7832 fix: use ip address in forgot password rate limitation
  apps/web/pages/api/auth/forgot-password.ts
Labels: 🧹 Improvements

#9172 fix: editor missing when duplicating event-type
  packages/features/eventtypes/components/DuplicateDialog.tsx
Labels: 🧹 Improvements, Low priority, 1 points

#8561 feat: Make database optional when building
  .github/workflows/pr.yml
  .github/workflows/production-build-without-database.yml
  apps/web/pages/apps/[slug]/index.tsx
  apps/web/pages/apps/categories/[category].tsx
  apps/web/pages/apps/categories/index.tsx
Labels: ✨ feature, ♻️ autoupdate, Medium priority, self-hosting

#8576 fix: wrong description in Calendar Invite after rescheduling meeting
  packages/features/bookings/lib/handleNewBooking.ts
Labels: ♻️ autoupdate, 🧹 Improvements

#9143 feat: adds paymentID and allow attendeeEmail filtering in Booking API
  apps/api/lib/validations/booking.ts
  apps/api/lib/validations/shared/queryAttendeeEmail.ts
  apps/api/pages/api/bookings/[id]/_get.ts
  apps/api/pages/api/bookings/_get.ts
  apps/api/pages/api/docs.ts
Labels: ✨ feature, API

#9245 fix: Allows team owners and team admins to query team availability
  apps/api/pages/api/availability/_get.ts
Labels: 🐛 bug, Urgent, API

#9250 fix: API: Only include accepted users, ignore all pending, unregistered or not
  apps/api/pages/api/availability/_get.ts
Labels: 🐛 bug, API

#9252 fix: insights-date-picker-same-time-start-end-date
  packages/features/insights/filters/DateSelect.tsx
Labels: 🐛 bug
