Repository calcom/cal.com, pull requests merged in 2023-12, with the labels that each got.

#12275 fix: handle reschedule request for dynamic meetings
  packages/trpc/server/routers/viewer/bookings/requestReschedule.handler.ts
Labels: 🐛 bug, Low priority, bookings

#12624 chore: added cursor-pointer to img upload
  packages/ui/components/image-uploader/ImageUploader.tsx
Labels: ⚡ Quick Wins, Low priority, ui, core

#12629 feat: add clear filters option in bookings page
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/components/FiltersContainer.tsx
Labels: ✨ feature, Low priority

#12631 feat: display long durations in hours on booking
  apps/web/public/static/locales/ar/common.json
  apps/web/public/static/locales/cs/common.json
  apps/web/public/static/locales/da/common.json
  apps/web/public/static/locales/de/common.json
  apps/web/public/static/locales/en/common.json
  apps/web/public/static/locales/es/common.json
  apps/web/public/static/locales/fr/common.json
  apps/web/public/static/locales/he/common.json
  apps/web/public/static/locales/it/common.json
  apps/web/public/static/locales/ja/common.json
  apps/web/public/static/locales/ko/common.json
  apps/web/public/static/locales/nl/common.json
  apps/web/public/static/locales/no/common.json
  apps/web/public/static/locales/pl/common.json
  apps/web/public/static/locales/pt-BR/common.json
  apps/web/public/static/locales/pt/common.json
  apps/web/public/static/locales/ro/common.json
  apps/web/public/static/locales/ru/common.json
  apps/web/public/static/locales/sr/common.json
  apps/web/public/static/locales/sv/common.json
  apps/web/public/static/locales/tr/common.json
  apps/web/public/static/locales/uk/common.json
  apps/web/public/static/locales/vi/common.json
  apps/web/public/static/locales/zh-CN/common.json
  apps/web/public/static/locales/zh-TW/common.json
  packages/features/bookings/components/event-meta/Duration.tsx
Labels: ✨ feature, 🧹 Improvements, Low priority

#12636 feat: Allow only first slot to be booked
  apps/api/lib/validations/event-type.ts
  apps/web/components/eventtype/EventLimitsTab.tsx
  apps/web/pages/event-types/[type]/index.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/ee/managed-event-types/lib/handleChildrenEventTypes.ts
  packages/lib/defaultEvents.ts
  packages/lib/getEventTypeById.ts
  packages/lib/test/builder.ts
  packages/prisma/migrations/20231202181233_adding_show_first_available_timeslot/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: ✨ feature, ❗️ migrations, 🎨 needs design, Low priority, ❓ needs spec, osshack

#12604 feat: oauth clients management
  apps/api/v2/src/modules/endpoints-module.ts
  apps/api/v2/src/modules/oauth/dtos/create-oauth-client.ts
  apps/api/v2/src/modules/oauth/dtos/update-oauth-client.ts
  apps/api/v2/src/modules/oauth/oauth-client.controller.ts
  apps/api/v2/src/modules/oauth/oauth-client.module.ts
  apps/api/v2/src/modules/repositories/oauth/oauth-client-repository.module.ts
  apps/api/v2/src/modules/repositories/oauth/oauth-client-repository.service.ts
Labels: core

#12626 feat: invites bypass disabled signup
  apps/web/pages/api/auth/signup.ts
  apps/web/pages/signup.tsx
  apps/web/playwright/signup.e2e.ts
Labels: core

#12645 feat: add resend email transport
  .env.example
  packages/lib/serverConfig.ts
  turbo.json
Labels: ❗️ .env changes, 🚨 needs approval, osshack

#12682 test: Booking creation failure in case of stray destinationCalendar with no matching calendar credential
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  packages/features/bookings/lib/handleNewBooking/test/fresh-booking.test.ts
Labels: automerge, automated-tests, core

#12693 fix: '/slots' endpoint API fixes
  apps/api/pages/api/slots/_get.ts
Labels: 🐛 bug, High priority, api, core

#12581 fix: component styles and sign up / onboarding dark mode
  apps/web/components/getting-started/steps-views/UserProfile.tsx
  apps/web/components/getting-started/steps-views/UserSettings.tsx
  apps/web/pages/auth/login.tsx
  apps/web/pages/getting-started/[[...step]].tsx
  apps/web/pages/signup.tsx
  packages/app-store/applecalendar/pages/setup/index.tsx
  packages/ui/components/button/Button.tsx
  packages/ui/components/form/inputs/Input.tsx
  packages/ui/components/form/inputs/TextField.tsx
  packages/ui/components/form/switch/Switch.tsx
Labels: Medium priority, ui

#12625 fix: ignore original rescheduled booking for booking limits
  packages/core/getBusyTimes.ts
  packages/core/getUserAvailability.ts
Labels: 🐛 bug, Medium priority, bookings, core

#11689 fix: adding team members from organization tab that alredy exist
  packages/features/ee/organizations/pages/components/MemberListItem.tsx
  packages/features/ee/organizations/pages/settings/other-team-members-view.tsx
  packages/features/ee/teams/components/MemberListItem.tsx
  packages/features/ee/teams/pages/team-members-view.tsx
  packages/trpc/server/routers/viewer/organizations/getMembers.handler.ts
  packages/trpc/server/routers/viewer/organizations/listOtherTeamMembers.handler.ts
Labels: 🐛 bug, automerge, Medium priority, teams

#12593 chore: [app-router-migration-2] migrate trpc, ssgInit, ssrInit
  apps/web/app/_trpc/createTRPCNextLayout.ts
  apps/web/app/_trpc/ssgInit.ts
  apps/web/app/_trpc/ssrInit.ts
  apps/web/next.config.js
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/locale.e2e.ts
  packages/emails/README.md
Labels: High priority, devops

#12326 chore: auto verify OTP whenever user enters 6 digits OTP instead of waiting for them to click on verify button
  packages/features/bookings/components/VerifyCodeDialog.tsx
Labels: ✨ feature, ⚡ Quick Wins, Low priority, ui

#12684 fix: Edit Location modal fields truncates on mobile view
  apps/web/components/dialog/EditLocationDialog.tsx
Labels: Low priority

#12532 refactor: Top Banner and add google calendar credential banner
  apps/web/public/static/locales/en/common.json
  packages/features/ee/impersonation/components/ImpersonatingBanner.tsx
  packages/features/ee/organizations/components/OrgUpgradeBanner.tsx
  packages/features/ee/teams/components/TeamsUpgradeBanner.tsx
  packages/features/ee/teams/components/index.ts
  packages/features/settings/layouts/SettingsLayout.tsx
  packages/features/shell/Shell.tsx
  packages/features/users/components/AdminPasswordBanner.tsx
  packages/features/users/components/CalendarCredentialBanner.tsx
  packages/features/users/components/VerifyEmailBanner.tsx
  packages/lib/constants.ts
  packages/trpc/server/routers/loggedInViewer/_router.tsx
  packages/trpc/server/routers/loggedInViewer/getUserTopBanners.handler.ts
  packages/ui/components/top-banner/TopBanner.tsx
Labels: High priority, core

#12695 fix: refactor booking details api middleware to use team member booking join
  apps/api/pages/api/bookings/[id]/_auth-middleware.ts
Labels: 🐛 bug, Low priority, teams, 🤔 needs prioritisation, api

#12704 fix: rr-host booked outside of availability
  apps/web/playwright/organization/organization-creation.e2e.ts
  packages/core/getBusyTimes.ts
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: High priority, core

#10968 test: booking and duration limits e2e
  apps/web/playwright/booking-limits.e2e.ts
  apps/web/playwright/lib/testUtils.ts
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  packages/embeds/embed-react/tsconfig.json
  packages/features/bookings/lib/handleNewBooking/test/booking-limits.test.ts
  packages/lib/date-fns/index.ts
Labels: automerge, Low priority, automated-tests, 🚨 merge conflict

#12478 test: Make sure response is still writable before setting headers
  packages/lib/server/defaultResponder.test.ts
Labels: ✅ good first issue, Low priority, api

#12616 feat: add cal video logo whitelabel for organization
  apps/web/pages/video/[uid].tsx
  apps/web/public/static/locales/ar/common.json
  apps/web/public/static/locales/cs/common.json
  apps/web/public/static/locales/de/common.json
  apps/web/public/static/locales/en/common.json
  apps/web/public/static/locales/es/common.json
  apps/web/public/static/locales/fr/common.json
  apps/web/public/static/locales/he/common.json
  apps/web/public/static/locales/it/common.json
  apps/web/public/static/locales/ja/common.json
  apps/web/public/static/locales/ko/common.json
  apps/web/public/static/locales/nl/common.json
  apps/web/public/static/locales/pl/common.json
  apps/web/public/static/locales/pt-BR/common.json
  apps/web/public/static/locales/pt/common.json
  apps/web/public/static/locales/ro/common.json
  apps/web/public/static/locales/ru/common.json
  apps/web/public/static/locales/sr/common.json
  apps/web/public/static/locales/sv/common.json
  apps/web/public/static/locales/tr/common.json
  apps/web/public/static/locales/uk/common.json
  apps/web/public/static/locales/vi/common.json
  apps/web/public/static/locales/zh-CN/common.json
  apps/web/public/static/locales/zh-TW/common.json
  packages/features/ee/organizations/components/AddNewTeamsForm.tsx
  packages/features/ee/organizations/pages/settings/appearance.tsx
  packages/prisma/migrations/20231206191034_add_cal_video_logo/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/organizations/update.handler.ts
  packages/trpc/server/routers/viewer/organizations/update.schema.ts
  packages/ui/components/image-uploader/ImageUploader.tsx
Labels: ❗️ migrations, Medium priority, core

#12715 fix: location Select auto focus
  apps/web/components/eventtype/EventSetupTab.tsx
Labels: 🐛 bug

#12713 fix: Trim spaces on datatable search key
  packages/ui/components/data-table/DataTableToolbar.tsx
Labels: core

#12620 chore: [app-router-migration-3] apps/[slug]/index, apps/[slug]/setup
  .env.example
  apps/web/abTest/middlewareFactory.ts
  apps/web/app/future/(individual-page-wrapper)/apps/[slug]/layout.tsx
  apps/web/app/future/(individual-page-wrapper)/apps/[slug]/page.tsx
  apps/web/app/future/(individual-page-wrapper)/apps/[slug]/setup/page.tsx
  apps/web/middleware.ts
  apps/web/pages/apps/[slug]/index.tsx
  apps/web/pages/apps/[slug]/setup.tsx
  apps/web/playwright/ab-tests-redirect.e2e.ts
  turbo.json
Labels: Medium priority, High priority, ❗️ .env changes, devops

#12444 fix: Dynamic duration was always overwritten with the default (30)
  apps/web/pages/[user]/[type].tsx
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/store.ts
  packages/features/bookings/Booker/types.ts
Labels: Medium priority, booking-page, core, devops

#12134 fix: change booking page filter ui to match Figma
  apps/web/pages/bookings/[status].tsx
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/BookingMultiFiltersStore.ts
  packages/features/bookings/components/EventTypeFilter.tsx
  packages/features/bookings/components/FilterToggle.tsx
  packages/features/bookings/components/FiltersContainer.tsx
  packages/features/bookings/components/PeopleFilter.tsx
  packages/features/filters/components/TeamsFilter.tsx
  packages/ui/components/popover/AnimatedPopover.tsx
Labels: ✅ good first issue, 🎨 needs design, 🧹 Improvements, ⚡ Quick Wins, Low priority, ui

#12744 fix: Disable source maps which looks to be infinitely looping
  apps/web/next.config.js
Labels: core, devops

#12619 chore: [app-router-migration-4]: apps/categories page
  .env.example
  apps/web/abTest/middlewareFactory.ts
  apps/web/app/future/(individual-page-wrapper)/apps/categories/[category]/page.tsx
  apps/web/app/future/(individual-page-wrapper)/apps/categories/page.tsx
  apps/web/app/layout.tsx
  apps/web/components/PageWrapperAppDir.tsx
  apps/web/lib/app-providers-app-dir.tsx
  apps/web/middleware.ts
  apps/web/pages/apps/categories/[category].tsx
  apps/web/pages/apps/categories/index.tsx
  apps/web/playwright/ab-tests-redirect.e2e.ts
  turbo.json
Labels: High priority, ❗️ .env changes, devops

#12618 chore: [app-router-migration-5] apps/installed page
  .env.example
  apps/web/abTest/middlewareFactory.ts
  apps/web/app/future/(individual-page-wrapper)/apps/installed/[category]/layout.tsx
  apps/web/app/future/(individual-page-wrapper)/apps/installed/[category]/page.tsx
  apps/web/middleware.ts
  apps/web/next.config.js
  apps/web/pages/apps/installed/[category].tsx
  apps/web/playwright/ab-tests-redirect.e2e.ts
  turbo.json
Labels: High priority, ❗️ .env changes, devops

#12756 chore: Wire up Sentry for API
  apps/api/next.config.js
  apps/api/sentry.client.config.ts
  apps/api/sentry.edge.config.ts
  apps/api/sentry.server.config.ts
Labels: Medium priority, core, admin, devops

#12721 fix: Allow lowercase/uppercase/mixedcase access with org team event booking page
  apps/web/pages/org/[orgSlug]/[user]/[type].tsx
  apps/web/playwright/teams.e2e.ts
Labels: organizations, core

#12742 fix: checkbox color
  packages/features/filters/components/TeamsFilter.tsx
Labels: automerge, ⚡ Quick Wins, ui, core

#12747 feat: mandatory email reminder for attendees with @gmail.com
  packages/features/bookings/lib/handleConfirmation.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/ee/workflows/api/scheduleEmailReminders.ts
  packages/features/ee/workflows/lib/getWorkflowReminders.ts
  packages/features/ee/workflows/lib/reminders/emailReminderManager.ts
  packages/features/ee/workflows/lib/reminders/reminderScheduler.ts
  packages/features/ee/workflows/lib/reminders/scheduleMandatoryReminder.ts
  packages/features/ee/workflows/lib/reminders/smsReminderManager.ts
  packages/features/ee/workflows/lib/reminders/whatsappReminderManager.ts
  packages/prisma/migrations/20231203154633_adding_is_mandatory_reminder_field_for_mandatory_reminders/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/workflows/activateEventType.handler.ts
  packages/trpc/server/routers/viewer/workflows/update.handler.ts
Labels: ❗️ migrations, core

#12725 fix: 500 error on email conflict
  apps/web/pages/settings/my-account/profile.tsx
  packages/trpc/server/routers/loggedInViewer/updateProfile.handler.ts
Labels: core, devops

#12759 chore: removed org_team_names_example_1
  packages/features/ee/organizations/components/AddNewTeamsForm.tsx
Labels: ⚡ Quick Wins, Low priority, 📉 regressing, organizations, core

#12757 fix: datatable toolbar
  packages/features/users/components/UserTable/BulkActions/DeleteBulkUsers.tsx
  packages/features/users/components/UserTable/UserListTable.tsx
  packages/ui/components/data-table/DataTableSelectionBar.tsx
  packages/ui/components/data-table/index.tsx
Labels: ✨ feature, Low priority, core

#12766 chore: Inter 4.0
  apps/web/components/PageWrapper.tsx
  apps/web/fonts/InterVariable.woff2
Labels: core

#12735 fix: Disallow changing username and email in case of Organization email invite
  apps/web/pages/signup.tsx
  apps/web/playwright/organization/organization-invitation.e2e.ts
  apps/web/playwright/signup.e2e.ts
  packages/features/auth/signup/handlers/calcomHandler.ts
  packages/features/auth/signup/handlers/selfHostedHandler.ts
  packages/features/auth/signup/utils/getOrgUsernameFromEmail.ts
  packages/features/auth/signup/utils/token.ts
  packages/lib/validateUsername.ts
  packages/prisma/zod-utils.ts
Labels: automerge, High priority, 📉 regressing, organizations, core

#12579 feat: roam (ro.am) conferencing
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/bookerApps.metadata.generated.ts
  packages/app-store/paypal/config.json
  packages/app-store/roam/DESCRIPTION.md
  packages/app-store/roam/api/add.ts
  packages/app-store/roam/api/index.ts
  packages/app-store/roam/config.json
  packages/app-store/roam/index.ts
  packages/app-store/roam/package.json
  packages/app-store/roam/static/1.jpg
  packages/app-store/roam/static/2.jpg
  packages/app-store/roam/static/3.jpg
  packages/app-store/roam/static/icon-dark.svg
  packages/app-store/roam/static/icon.png
Labels: app-store, Low priority, core, app-store-template

#12785 fix: Add scroll to troubleshooter sidebar
  packages/features/troubleshooter/components/TroubleshooterSidebar.tsx
Labels: 🐛 bug, 🙋🏻‍♂️help wanted, Low priority, core

#12783 chore: changed checkbox color
  apps/web/components/ui/form/CheckboxField.tsx
  packages/features/ee/organizations/components/TeamInviteFromOrg.tsx
  packages/features/ee/workflows/pages/index.tsx
  packages/ui/components/form/checkbox/Checkbox.tsx
  packages/ui/components/form/checkbox/MultiSelectCheckboxes.tsx
Labels: ⚡ Quick Wins, Low priority, ui

#12414 chore: Enable One Payment App Per Event Type
  apps/web/components/eventtype/EventAppsTab.tsx
  apps/web/pages/event-types/[type]/index.tsx
  apps/web/public/static/locales/en/common.json
  packages/app-store/_components/AppCard.tsx
  packages/app-store/_components/EventTypeAppCardInterface.tsx
  packages/app-store/_utils/checkForMultiplePaymentApps.ts
  packages/app-store/_utils/payments/checkForMultiplePaymentApps.ts
  packages/app-store/alby/components/EventTypeAppCardInterface.tsx
  packages/app-store/eventTypeAppCardZod.ts
  packages/app-store/paypal/components/EventTypeAppCardInterface.tsx
  packages/app-store/stripepayment/components/EventTypeAppCardInterface.tsx
  packages/app-store/types.d.ts
Labels: Medium priority, core

#12733 fix: padding off event user avatar
  apps/web/pages/event-types/index.tsx
Labels: 📉 regressing, ui

#12564 fix: create event type for a team that you are an owner or admin of
  apps/api/pages/api/event-types/_post.ts
  apps/api/pages/api/teams/[teamId]/_auth-middleware.ts
Labels: 🐛 bug, High priority, teams

#12199 chore: hsl-update-colors
  apps/storybook/styles/storybook-styles.css
  apps/web/styles/globals.css
  packages/features/shell/Shell.tsx
Labels: ⚡ Quick Wins, Low priority, ui, core

#12808 fix: type error
  apps/web/_app/_trpc/HydrateClient.tsx
  apps/web/_app/_trpc/trpc-provider.tsx
  apps/web/_app/future/(individual-page-wrapper)/apps/[slug]/page.tsx
  apps/web/_app/future/(individual-page-wrapper)/apps/[slug]/setup/page.tsx
  apps/web/_app/future/(individual-page-wrapper)/apps/categories/[category]/page.tsx
  apps/web/_app/future/(individual-page-wrapper)/apps/categories/page.tsx
  apps/web/_app/future/(individual-page-wrapper)/apps/installed/[category]/page.tsx
  apps/web/_app/future/(shared-page-wrapper)/(admin-layout)/settings/admin/apps/[category]/page.tsx
  apps/web/_app/future/(shared-page-wrapper)/(admin-layout)/settings/admin/apps/page.tsx
  apps/web/_app/future/(shared-page-wrapper)/(admin-layout)/settings/admin/flags/page.tsx
  apps/web/_app/future/(shared-page-wrapper)/(admin-layout)/settings/admin/impersonation/page.tsx
  apps/web/_app/future/(shared-page-wrapper)/(admin-layout)/settings/admin/oAuth/page.tsx
  apps/web/_app/future/(shared-page-wrapper)/(admin-layout)/settings/admin/page.tsx
  apps/web/_app/future/(shared-page-wrapper)/(layout)/event-types/page.tsx
  apps/web/_app/future/(shared-page-wrapper)/(no-layout)/settings/admin/oAuth/oAuthView/page.tsx
  apps/web/_app/future/(shared-page-wrapper)/(settings-layout)/settings/admin/organizations/page.tsx
  apps/web/_app/future/(shared-page-wrapper)/(settings-layout)/settings/admin/users/[id]/edit/page.tsx
  apps/web/_app/future/(shared-page-wrapper)/(settings-layout)/settings/admin/users/add/page.tsx
  apps/web/_app/future/(shared-page-wrapper)/(settings-layout)/settings/admin/users/page.tsx
  apps/web/lib/app-providers-app-dir.tsx
  apps/web/playwright/ab-tests-redirect.e2e.ts
  apps/web/playwright/event-types.e2e.ts
  apps/web/playwright/lib/future-legacy-routes.ts
  apps/web/playwright/lib/testUtils.ts
  apps/web/playwright/settings-admin.e2e.ts
  apps/web/playwright/teams.e2e.ts
  packages/app-store/routing-forms/playwright/tests/basic.e2e.ts
Labels: automerge, High priority, core, 🚨 urgent

#12811 fix: 404 /event-types on login
  .env.example
Labels: ❗️ .env changes, core, devops

#12743 fix: email validation in user post method API
  apps/api/lib/validations/user.ts
Labels: 🐛 bug, ⚡ Quick Wins, Low priority

#12122 feat: Add consistent iCalUID
  apps/web/playwright/fixtures/bookings.ts
  apps/web/test/utils/bookingScenario/expects.ts
  packages/app-store/googlecalendar/lib/CalendarService.ts
  packages/core/EventManager.ts
  packages/core/builders/CalendarEvent/class.ts
  packages/emails/lib/generateIcsString.ts
  packages/emails/lib/getICalUID.ts
  packages/emails/lib/test/generateIcsString.test.ts
  packages/emails/lib/test/getICalUID.test.ts
  packages/emails/templates/attendee-cancelled-email.ts
  packages/emails/templates/attendee-location-change-email.ts
  packages/emails/templates/attendee-rescheduled-email.ts
  packages/emails/templates/attendee-scheduled-email.ts
  packages/emails/templates/attendee-was-requested-to-reschedule-email.ts
  packages/emails/templates/broken-integration-email.ts
  packages/emails/templates/organizer-cancelled-email.ts
  packages/emails/templates/organizer-location-change-email.ts
  packages/emails/templates/organizer-requested-to-reschedule-email.ts
  packages/emails/templates/organizer-rescheduled-email.ts
  packages/emails/templates/organizer-scheduled-email.ts
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/test/fresh-booking.test.ts
  packages/features/bookings/lib/handleNewBooking/test/reschedule.test.ts
  packages/features/ee/api-keys/components/ApiKeyDialogForm.tsx
  packages/lib/CalEventParser.ts
  packages/lib/test/CalEventParser.test.ts
  packages/lib/test/builder.ts
  packages/prisma/migrations/20231113202947_add_ical_columns_to_booking/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/seed-utils.ts
  packages/trpc/server/routers/viewer/bookings/requestReschedule.handler.ts
  packages/types/Calendar.d.ts
Labels: ❗️ changes requested, ❗️ migrations, Medium priority, ❗️ .env changes, core, admin

#12702 fix: Zapier subscriber url shown in webhooks
  packages/trpc/server/routers/viewer/webhook/getByViewer.handler.ts
Labels: 🐛 bug, Low priority, webhooks

#11512 fix: Enhance the Robustness of Embed Snippets for Multiple Embeds on a Single Page
  apps/web/components/eventtype/EventTypeSingleLayout.tsx
  apps/web/pages/event-types/index.tsx
  packages/app-store/routing-forms/components/FormActions.tsx
  packages/embeds/embed-react/src/Cal.tsx
  packages/features/embed/Embed.tsx
  packages/features/embed/lib/EmbedCodes.tsx
  packages/features/embed/lib/EmbedTabs.tsx
  packages/features/embed/lib/getApiName.tsx
Labels: ✨ feature, Medium priority, embed, core

#12839 chore: revert Inter 4.0
  apps/web/components/PageWrapper.tsx
  apps/web/fonts/InterVariable.woff2
Labels: core

#12760 feat: Shows link location and respective icon in /bookings
  apps/web/components/booking/BookingListItem.tsx
  apps/web/public/static/locales/en/common.json
  packages/prisma/selects/booking.ts
Labels: 🧹 Improvements, ⚡ Quick Wins, Low priority, bookings, 🙋 Bounty claim

#12850 fix: dark mode switch color
  packages/ui/components/form/switch/Switch.tsx
Labels: ui, core

#12837 Fix: #12830
  apps/web/components/getting-started/steps-views/UserProfile.tsx
Labels: 🐛 bug, 🤔 needs prioritisation, ui

#12831 feat: Payment success screen re-design
  apps/web/pages/auth/verify.tsx
Labels: core

#12819 chore: Moved e2e suite to run on pushes to main
  .github/workflows/e2e-app-store.yml
  .github/workflows/e2e-embed-react.yml
  .github/workflows/e2e-embed.yml
  .github/workflows/e2e.yml
  .github/workflows/pr.yml
  .github/workflows/pre-release.yml
  .github/workflows/unit-tests.yml
Labels: core, admin, devops

#12859 fix: Workflow files for E2E naming issue
  .github/workflows/pre-release.yml
Labels: core, admin, devops

#12854 fix: Correctly prefill username in case of non-org email invite in an org
  apps/web/components/ui/UsernameAvailability/PremiumTextfield.tsx
  apps/web/components/ui/UsernameAvailability/UsernameTextfield.tsx
  apps/web/pages/api/username.ts
  apps/web/pages/signup.tsx
  apps/web/playwright/organization/organization-invitation.e2e.ts
  packages/lib/fetchUsername.ts
Labels: core

#12216 fix: join subteam as their respective organization role
  packages/trpc/server/routers/viewer/organizations/updateUser.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMember.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/utils.ts
Labels: ✅ good first issue, automerge, Low priority, organizations

#12784 fix: catch error for invalid subcriber url on webhook ping test
  packages/features/webhooks/components/WebhookTestDisclosure.tsx
Labels: Low priority, webhooks, core

#12861 fix: [main] Signup can't be done for email matching org domain
  apps/web/pages/signup.tsx
  apps/web/playwright/organization/organization-invitation.e2e.ts
Labels: automerge, High priority, core

#12807 fix: country code [Testing]
  packages/trpc/server/routers/publicViewer/countryCode.handler.ts
Labels: core

#12856 fix: videoCallUrl missing in webhooks for event types that require confirmation
  packages/features/bookings/lib/handleConfirmation.ts
Labels: 🐛 bug, Medium priority, webhooks

#12424 feat: More admin options for organizations
  .env.example
  apps/web/pages/settings/admin/organizations/[id]/edit.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/ee/organizations/lib/orgDomains.ts
  packages/features/ee/organizations/lib/utils.ts
  packages/features/ee/organizations/pages/settings/admin/AdminOrgEditPage.tsx
  packages/features/ee/organizations/pages/settings/admin/AdminOrgPage.tsx
  packages/features/ee/organizations/pages/settings/other-team-profile-view.tsx
  packages/features/ee/teams/components/CreateANewTeamForm.tsx
  packages/lib/domainManager/deploymentServices/cloudflare.ts
  packages/lib/domainManager/deploymentServices/vercel.ts
  packages/lib/domainManager/organization.ts
  packages/lib/redactError.ts
  packages/trpc/server/routers/viewer/organizations/_router.tsx
  packages/trpc/server/routers/viewer/organizations/adminDelete.handler.ts
  packages/trpc/server/routers/viewer/organizations/adminDelete.schema.ts
  packages/trpc/server/routers/viewer/organizations/adminGet.handler.ts
  packages/trpc/server/routers/viewer/organizations/adminGet.schema.ts
  packages/trpc/server/routers/viewer/organizations/adminUpdate.handler.ts
  packages/trpc/server/routers/viewer/organizations/adminUpdate.schema.ts
  packages/trpc/server/routers/viewer/organizations/adminVerify.handler.ts
  packages/trpc/server/routers/viewer/organizations/adminVerify.schema.ts
  packages/trpc/server/routers/viewer/organizations/create.handler.ts
  packages/trpc/server/routers/viewer/organizations/listOtherTeams.handler.ts
  packages/trpc/server/routers/viewer/teams/delete.handler.ts
  turbo.json
Labels: Medium priority, ❗️ .env changes, core

#12764 feat: meeting started webhook
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/lib/handleConfirmation.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/webhooks/components/WebhookForm.tsx
  packages/features/webhooks/lib/constants.ts
  packages/features/webhooks/lib/scheduleTrigger.ts
  packages/prisma/migrations/20231213083720_add_meeting_started_webhook/migration.sql
  packages/prisma/schema.prisma
Labels: ✨ feature, ❗️ migrations, Medium priority, 🙋 Bounty claim

#12864 fix: multiple bookings created on verify-email
  packages/features/bookings/components/VerifyCodeDialog.tsx
Labels: 🐛 bug

#12792 fix: Troubleshooter - Vertical scrolling not working on left panel or calendar
  packages/features/calendars/weeklyview/components/Calendar.tsx
  packages/features/troubleshooter/components/TroubleshooterSidebar.tsx
Labels: 🐛 bug, Medium priority

#12741 fix: translate boolean values in emails
  apps/web/pages/booking/[uid].tsx
  apps/web/public/static/locales/cs/common.json
  apps/web/public/static/locales/da/common.json
  apps/web/public/static/locales/el/common.json
  apps/web/public/static/locales/en/common.json
  apps/web/public/static/locales/eu/common.json
  apps/web/public/static/locales/fr/common.json
  apps/web/public/static/locales/hu/common.json
  apps/web/public/static/locales/it/common.json
  apps/web/public/static/locales/nl/common.json
  apps/web/public/static/locales/no/common.json
  apps/web/public/static/locales/pl/common.json
  apps/web/public/static/locales/pt-BR/common.json
  apps/web/public/static/locales/ro/common.json
  apps/web/public/static/locales/sr/common.json
  apps/web/public/static/locales/sv/common.json
  apps/web/public/static/locales/tr/common.json
  apps/web/public/static/locales/uk/common.json
  apps/web/public/static/locales/vi/common.json
  packages/emails/src/components/UserFieldsResponses.tsx
  packages/emails/src/templates/BaseScheduledEmail.tsx
Labels: ✨ feature, 🧹 Improvements, ⚡ Quick Wins, Low priority

#12737 fix: Users Cannot Be Upgraded to Owner in Organizations
  packages/features/users/components/UserTable/EditSheet/EditUserForm.tsx
Labels: Medium priority, enterprise

#12877 fix: ZodError in auth/oauth/authorize
  apps/web/pages/auth/oauth2/authorize.tsx
Labels: Low priority, core

#12825 fix: Dynamic Group Booking link for organization
  __checks__/organization.spec.ts
  apps/web/pages/[user]/[type].tsx
  apps/web/pages/org/[orgSlug]/[user]/[type].tsx
  apps/web/playwright/dynamic-booking-pages.e2e.ts
  apps/web/playwright/lib/testUtils.ts
  apps/web/playwright/teams.e2e.ts
  packages/features/bookings/Booker/components/EventMeta.tsx
  packages/features/bookings/components/event-meta/Title.tsx
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/ee/organizations/lib/orgDomains.ts
  packages/ui/components/avatar/AvatarGroup.tsx
Labels: High priority, core

#12876 fix: dropdown menu awkward hover state fixed
  packages/ui/components/form/dropdown/Dropdown.tsx
Labels: 🐛 bug, Low priority, 🤔 needs prioritisation

#12874 fix: button is not visible in the Getting-Started
  apps/web/components/getting-started/steps-views/ConnectCalendars.tsx
  apps/web/components/getting-started/steps-views/ConnectedVideoStep.tsx
Labels: 🐛 bug, High priority, ui

#12623 chore: [app-router-migration-8] Migrate all pages in `/video` directory
  .env.example
  apps/web/abTest/middlewareFactory.ts
  apps/web/app/future/(individual-page-wrapper)/teams/page.tsx
  apps/web/app/future/(individual-page-wrapper)/video/[uid]/page.tsx
  apps/web/app/future/(individual-page-wrapper)/video/meeting-ended/[uid]/page.tsx
  apps/web/app/future/(individual-page-wrapper)/video/meeting-not-started/[uid]/page.tsx
  apps/web/app/future/(shared-page-wrapper)/(no-layout)/video/no-meeting-found/page.tsx
  apps/web/lib/buildLegacyCtx.tsx
  apps/web/middleware.ts
  apps/web/pages/teams/index.tsx
  apps/web/pages/video/[uid].tsx
  apps/web/pages/video/meeting-ended/[uid].tsx
  apps/web/pages/video/meeting-not-started/[uid].tsx
  apps/web/pages/video/no-meeting-found.tsx
  turbo.json
Labels: High priority, ❗️ .env changes, devops

#12797 chore: [app-router-migration-8.5]: add a/b test flags for apps, workflows, getting-started, settings/teams
  .env.example
  apps/web/abTest/middlewareFactory.ts
  apps/web/middleware.ts
  turbo.json
Labels: Medium priority, ❗️ .env changes

#12878 fix: creating workflow reminders for existing bookings when new step is added
  packages/trpc/server/routers/viewer/workflows/update.handler.ts
Labels: core

#12894 fix: only use event type's webhooks
  packages/features/instant-meeting/handleInstantMeeting.ts
Labels: core

#12892 fix: Links on avatar for org events
  apps/web/components/ui/avatar/UserAvatarGroupWithOrg.tsx
  packages/features/eventtypes/lib/getPublicEvent.ts
  packages/lib/domainManager/deploymentServices/vercel.ts
Labels: core

#12843 fix: Organization's Team invite emails
  apps/web/public/static/locales/en/common.json
  packages/emails/src/templates/TeamInviteEmail.tsx
  packages/emails/templates/team-invite-email.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMember.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/utils.ts
  packages/trpc/server/routers/viewer/teams/resendInvitation.handler.ts
Labels: 🐛 bug, 🙋🏻‍♂️help wanted, organizations

#12798 chore(platform): OAuth Flow
  .vscode/settings.json
  apps/api/v2/package.json
  apps/api/v2/src/modules/auth/guard/oauth/access-token.guard.ts
  apps/api/v2/src/modules/endpoints-module.ts
  apps/api/v2/src/modules/oauth/flow/input/authorize.input.ts
  apps/api/v2/src/modules/oauth/flow/input/exchange-code.input.ts
  apps/api/v2/src/modules/oauth/flow/input/refresh-token.input.ts
  apps/api/v2/src/modules/oauth/flow/oauth-flow.controller.ts
  apps/api/v2/src/modules/oauth/flow/oauth-flow.module.ts
  apps/api/v2/src/modules/oauth/flow/oauth-flow.service.ts
  apps/api/v2/src/modules/oauth/oauth-client.repository.ts
  apps/api/v2/src/modules/tokens/tokens.module.ts
  apps/api/v2/src/modules/tokens/tokens.repository.ts
  packages/prisma/migrations/20231219131916_oauth_flow/migration.sql
  packages/prisma/schema.prisma
  yarn.lock
Labels: ❗️ migrations

#12272 fix: Update Event Type Pricing For Multiple Installed Payment Apps
  apps/web/components/eventtype/EventAppsTab.tsx
  apps/web/pages/event-types/[type]/index.tsx
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/integrations-stripe.e2e.ts
  apps/web/playwright/payment-apps.e2e.ts
  apps/web/public/static/locales/en/common.json
  packages/app-store/_components/AppCard.tsx
  packages/app-store/_components/EventTypeAppCardInterface.tsx
  packages/app-store/_utils/payments/checkForMultiplePaymentApps.ts
  packages/app-store/alby/components/EventTypeAppCardInterface.tsx
  packages/app-store/eventTypeAppCardZod.ts
  packages/app-store/paypal/components/EventTypeAppCardInterface.tsx
  packages/app-store/stripepayment/components/EventTypeAppCardInterface.tsx
  packages/app-store/types.d.ts
  packages/trpc/server/routers/viewer/eventTypes/update.handler.ts
Labels: High priority, core, admin

#12901 chore: Reduced shard count to 5 for E2E
  .github/workflows/e2e.yml
Labels: Low priority, core, admin, devops, cal-ai

#12596 test: Seed GCal test credentials
  .env.example
  .github/actions/cache-db/action.yml
  .github/workflows/e2e-app-store.yml
  .github/workflows/production-build.yml
  packages/app-store/googlecalendar/tests/google-calendar.e2e.ts
  packages/app-store/googlecalendar/tests/testUtils.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/prisma/seed-utils.ts
  packages/prisma/seed.ts
  turbo.json
Labels: Medium priority, ❗️ .env changes, automated-tests, core, admin

#12904 fix: organization-invitation e2e tests
  apps/web/playwright/organization/organization-invitation.e2e.ts
Labels: core

#12910 fix: siderbar hover state
  packages/features/shell/Shell.tsx
Labels: core

#12908 fix: leading-none on labels
  packages/ui/components/form/inputs/Label.tsx
Labels: core

#12853 feat: CRUD for oAuth users
  apps/api/v2/jest-e2e.json
  apps/api/v2/src/modules/auth/guard/oauth/access-token.guard.ts
  apps/api/v2/src/modules/auth/guard/organization-roles/organization-roles.guard.ts
  apps/api/v2/src/modules/auth/strategy/api-key-auth/api-key-auth.strategy.ts
  apps/api/v2/src/modules/oauth/guard/oauth-client/oauth-client.guard.spec.ts
  apps/api/v2/src/modules/oauth/guard/oauth-client/oauth-client.guard.ts
  apps/api/v2/src/modules/oauth/oauth-client.module.ts
  apps/api/v2/src/modules/oauth/user/oauth-user.controller.e2e-spec.ts
  apps/api/v2/src/modules/oauth/user/oauth-user.controller.ts
  apps/api/v2/src/modules/user/input/create-user.ts
  apps/api/v2/src/modules/user/input/update-user.ts
  apps/api/v2/src/modules/user/user.repository.ts
  apps/api/v2/test/fixtures/repository/oauth-client.repository.fixture.ts
  apps/api/v2/test/oauth.e2e-spec.ts
Labels: ✨ feature

#12787 feat: Restrict organization creation to admins and then automatically verify all organizations
  packages/trpc/server/routers/viewer/organizations/_router.tsx
  packages/trpc/server/routers/viewer/organizations/create.handler.ts
Labels: ✨ feature, Medium priority

#12911 fix: preview link for a non-org member within a team inside an org
  packages/features/ee/organizations/lib/orgDomains.ts
Labels: core

#12823 test: testing workflow triggers
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  apps/web/test/utils/bookingScenario/expects.ts
  packages/features/bookings/lib/handleNewBooking/test/fresh-booking.test.ts
  packages/features/bookings/lib/handleNewBooking/test/recurring-event.test.ts
  packages/features/bookings/lib/handleNewBooking/test/reschedule.test.ts
  packages/features/bookings/lib/handleNewBooking/test/team-bookings/collective-scheduling.test.ts
  packages/features/ee/workflows/api/scheduleEmailReminders.ts
  packages/features/ee/workflows/api/scheduleSMSReminders.ts
  packages/features/ee/workflows/api/scheduleWhatsappReminders.ts
  packages/features/ee/workflows/lib/reminders/emailReminderManager.ts
  packages/features/ee/workflows/lib/reminders/providers/sendgridProvider.ts
  packages/features/ee/workflows/lib/reminders/providers/twilioProvider.ts
  packages/features/ee/workflows/lib/reminders/smsReminderManager.ts
  packages/features/ee/workflows/lib/reminders/verifyPhoneNumber.ts
  packages/features/ee/workflows/lib/reminders/whatsappReminderManager.ts
  packages/lib/testEmails.ts
  turbo.json
Labels: core

#12919 Fix: #12898
  packages/features/ee/teams/components/MemberListItem.tsx
Labels: 🐛 bug, core, 🚨 needs approval

#12926 fix: Dont allow rescheduling for an already cancelled/rejected and thus resheduled booking
  apps/web/pages/reschedule/[uid].tsx
Labels: core

#12928 test: e2e for not allowing reschedule of a cancelled booking
  apps/web/playwright/booking-pages.e2e.ts
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/lib/testUtils.ts
  apps/web/playwright/organization/organization-creation.e2e.ts
  apps/web/playwright/settings-admin.e2e.ts
  packages/app-store/googlecalendar/tests/google-calendar.e2e.ts
  packages/features/auth/lib/next-auth-options.ts
  packages/features/ee/teams/components/MemberInvitationModal.tsx
Labels: core

#12936 chore: remove scrollbar-gutter
  apps/web/styles/globals.css
Labels: 🐛 bug, core

#12931 chore: minor changes to instant meetings
  apps/web/components/eventtype/EventTypeSingleLayout.tsx
  apps/web/components/eventtype/InstantEventController.tsx
  apps/web/pages/connect-and-join.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/Booker/Booker.tsx
Labels: Low priority, core

#12929 fix: Flakiness in tests
  apps/web/playwright/booking-pages.e2e.ts
  apps/web/playwright/fixtures/emails.ts
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/lib/fixtures.ts
  apps/web/playwright/lib/testUtils.ts
  apps/web/playwright/oauth-provider.e2e.ts
  apps/web/playwright/organization/across-org/across-org.e2e.ts
  apps/web/playwright/organization/expects.ts
  apps/web/playwright/organization/organization-creation.e2e.ts
  apps/web/playwright/organization/organization-invitation.e2e.ts
  apps/web/playwright/signup.e2e.ts
  apps/web/playwright/team/expects.ts
  apps/web/playwright/team/team-invitation.e2e.ts
Labels: core

#12937 chore: small fixes to org email
  apps/web/public/static/locales/en/common.json
  packages/emails/src/templates/TeamInviteEmail.tsx
Labels: 🐛 bug, organizations, core

#12959 fix: broken height on weekly view booker
  packages/features/calendars/weeklyview/components/Calendar.tsx
Labels: core

#12932 refactor: access token errors
  apps/api/v2/package.json
  apps/api/v2/src/modules/auth/guards/access-token/token-expired.exception.ts
  apps/api/v2/src/modules/auth/strategies/access-token/access-token.strategy.ts
  apps/api/v2/src/modules/oauth-clients/services/oauth-flow.service.ts
  packages/platform/constants/api.ts
Labels: Medium priority, ⚒️ platform

#12316 feat: pipedrive crm app on cal
  .env.appStore.example
  README.md
  packages/app-store/apps.keys-schemas.generated.ts
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.schemas.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/index.ts
  packages/app-store/pipedrive-crm/DESCRIPTION.md
  packages/app-store/pipedrive-crm/README.md
  packages/app-store/pipedrive-crm/api/add.ts
  packages/app-store/pipedrive-crm/api/callback.ts
  packages/app-store/pipedrive-crm/api/index.ts
  packages/app-store/pipedrive-crm/config.json
  packages/app-store/pipedrive-crm/index.ts
  packages/app-store/pipedrive-crm/lib/CalendarService.ts
  packages/app-store/pipedrive-crm/lib/index.ts
  packages/app-store/pipedrive-crm/package.json
  packages/app-store/pipedrive-crm/static/icon.svg
  packages/app-store/pipedrive-crm/static/pipedrive-banner.jpeg
  packages/app-store/pipedrive-crm/zod.ts
  turbo.json
  yarn.lock
Labels: ✨ feature, Low priority, ❗️ .env changes, crm-apps

#12933 fix: updated the bg-emphasis style in dark mode
  apps/web/styles/globals.css
Labels: 🧹 Improvements, ⚡ Quick Wins, Medium priority, ui

#12965 fix: dark mode improvements for signup
  apps/web/pages/signup.tsx
  apps/web/public/product-cards/trustpilot-dark.svg
  packages/lib/constants.ts
Labels: core

#12899 chore: allow disabling source map generation with env var
  .env.example
  apps/web/next.config.js
  turbo.json
Labels: High priority, ❗️ .env changes

#12967 chore: removed isSignup for 404 page
  apps/web/pages/404.tsx
  apps/web/public/static/locales/ar/common.json
  apps/web/public/static/locales/cs/common.json
  apps/web/public/static/locales/da/common.json
  apps/web/public/static/locales/de/common.json
  apps/web/public/static/locales/en/common.json
  apps/web/public/static/locales/es/common.json
  apps/web/public/static/locales/fr/common.json
  apps/web/public/static/locales/he/common.json
  apps/web/public/static/locales/it/common.json
  apps/web/public/static/locales/ja/common.json
  apps/web/public/static/locales/ko/common.json
  apps/web/public/static/locales/nl/common.json
  apps/web/public/static/locales/no/common.json
  apps/web/public/static/locales/pl/common.json
  apps/web/public/static/locales/pt-BR/common.json
  apps/web/public/static/locales/pt/common.json
  apps/web/public/static/locales/ro/common.json
  apps/web/public/static/locales/ru/common.json
  apps/web/public/static/locales/sr/common.json
  apps/web/public/static/locales/sv/common.json
  apps/web/public/static/locales/tr/common.json
  apps/web/public/static/locales/uk/common.json
  apps/web/public/static/locales/vi/common.json
  apps/web/public/static/locales/zh-CN/common.json
  apps/web/public/static/locales/zh-TW/common.json
Labels: ⚡ Quick Wins, Low priority, i18n, core
