Repository calcom/cal.com, pull requests merged in 2023-01, with the labels that each got.

#6226 Show admin password top banner
  apps/web/pages/api/auth/[...nextauth].tsx
  apps/web/public/static/locales/en/common.json
  packages/features/users/components/AdminPasswordBanner.tsx
  packages/types/next-auth.d.ts
  packages/ui/v2/core/Shell.tsx
Labels: ♻️ autoupdate, automerge

#6225 Add disable success page config[Platform Only]
  apps/web/components/eventtype/EventAdvancedTab.tsx
  apps/web/pages/booking/[uid].tsx
  apps/web/public/static/locales/en/common.json
  packages/prisma/zod-utils.ts
  packages/ui/components/form/checkbox/Checkbox.tsx
Labels: ♻️ autoupdate, automerge

#6245 Move Apps to ui/components
  apps/web/components/apps/CalendarListContainer.tsx
  apps/web/pages/apps/installed/[category].tsx
  apps/web/pages/settings/developer/api-keys.tsx
  packages/features/ee/sso/components/SAMLConfiguration.tsx
  packages/features/ee/sso/page/teams-sso-view.tsx
  packages/ui/components/apps/AllApps.tsx
  packages/ui/components/apps/AppCard.tsx
  packages/ui/components/apps/Categories.stories.mdx
  packages/ui/components/apps/Categories.tsx
  packages/ui/components/apps/SkeletonLoader.tsx
  packages/ui/components/apps/Slider.tsx
  packages/ui/components/apps/TrendingAppsSlider.tsx
  packages/ui/components/apps/_storybookData.ts
  packages/ui/components/apps/index.ts
  packages/ui/components/form/select/select.stories.mdx
  packages/ui/components/index.ts
  packages/ui/index.tsx
Labels: ♻️ autoupdate, automerge

#6259 sidebar improvements
  packages/ui/v2/core/layouts/SettingsLayout.tsx
Labels: ♻️ autoupdate, automerge

#5566 Feature/Routing Forms: Add the concepts of reusable Router and Router Linked Fields.
  packages/app-store/ee/routing-forms/api/responses/[formId].ts
  packages/app-store/ee/routing-forms/components/FormActions.tsx
  packages/app-store/ee/routing-forms/components/FormInputFields.tsx
  packages/app-store/ee/routing-forms/components/SingleForm.tsx
  packages/app-store/ee/routing-forms/lib/createFallbackRoute.ts
  packages/app-store/ee/routing-forms/lib/getConnectedForms.ts
  packages/app-store/ee/routing-forms/lib/getSerializableForm.ts
  packages/app-store/ee/routing-forms/lib/isFallbackRoute.ts
  packages/app-store/ee/routing-forms/lib/isFormEditAllowed.ts
  packages/app-store/ee/routing-forms/lib/isRouter.ts
  packages/app-store/ee/routing-forms/lib/isRouterLinkedField.ts
  packages/app-store/ee/routing-forms/lib/processRoute.tsx
  packages/app-store/ee/routing-forms/pages/form-edit/[...appPages].tsx
  packages/app-store/ee/routing-forms/pages/forms/[...appPages].tsx
  packages/app-store/ee/routing-forms/pages/route-builder/[...appPages].tsx
  packages/app-store/ee/routing-forms/pages/router/[...appPages].tsx
  packages/app-store/ee/routing-forms/pages/routing-link/[...appPages].tsx
  packages/app-store/ee/routing-forms/playwright/tests/basic.e2e.ts
  packages/app-store/ee/routing-forms/trpc-router.ts
  packages/app-store/ee/routing-forms/types/types.d.ts
  packages/app-store/ee/routing-forms/zod.ts
  packages/app-store/typeform/playwright/tests/basic.e2e.ts
  packages/lib/availability.ts
  packages/ui/v2/core/form/BooleanToggleGroup.tsx
  packages/ui/v2/core/form/FormCard.tsx
Labels: ♻️ autoupdate, automerge

#5569 fix localization issues with default locations
  apps/web/components/booking/AvailableEventLocations.tsx
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/components/eventtype/EventSetupTab.tsx
  apps/web/public/static/locales/de/common.json
  apps/web/public/static/locales/en/common.json
  packages/app-store/locations.ts
Labels: ♻️ autoupdate, automerge

#5821 Feature/whitelabel part 2
  apps/web/pages/auth/verify.tsx
  apps/web/pages/video/[uid].tsx
  apps/web/public/static/locales/de/common.json
  packages/emails/templates/attendee-request-email.ts
  packages/emails/templates/attendee-was-requested-to-reschedule-email.ts
  packages/emails/templates/organizer-cancelled-email.ts
  packages/emails/templates/organizer-location-change-email.ts
  packages/emails/templates/organizer-payment-refund-failed-email.ts
  packages/emails/templates/organizer-request-email.ts
  packages/emails/templates/organizer-request-reminder-email.ts
  packages/emails/templates/organizer-requested-to-reschedule-email.ts
  packages/emails/templates/organizer-rescheduled-email.ts
  packages/features/ee/workflows/lib/reminders/templates/emailReminderTemplate.ts
  packages/features/tips/Tips.tsx
  packages/features/users/components/UserV2OptInBanner.tsx
  packages/lib/CloseComeUtils.ts
  packages/lib/constants.ts
  packages/ui/v2/core/Meta.tsx
  packages/ui/v2/core/head-seo.tsx
Labels: ♻️ autoupdate, automerge

#6296 Adds availablity and schedule indexes
  packages/prisma/migrations/20230105212846_add_availability_schedule_indexes/migration.sql
  packages/prisma/schema.prisma
Labels: ♻️ autoupdate, ❗️ migrations, automerge

#6294 feat: update team schema, update team query
  apps/web/pages/team/[slug].tsx
  apps/web/public/static/locales/en/common.json
  packages/features/ee/teams/pages/team-appearance-view.tsx
  packages/lib/server/queries/teams/index.ts
  packages/prisma/migrations/20230105203125_add_hide_book_a_team_member/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/teams.tsx
Labels: ♻️ autoupdate, ❗️ migrations, automerge

#6317 fixed mobile sidebar in settings
  packages/features/settings/layouts/SettingsLayout.tsx
Labels: ♻️ autoupdate, automerge

#6210 adds event types to kbar
  packages/ui/v2/core/Kbar.tsx
Labels: ♻️ autoupdate

#6326 Replaces mdx-remote with markdown-it
  apps/docs/pages/developer/app-store.mdx
  apps/web/package.json
  apps/web/pages/apps/[slug]/index.tsx
  packages/app-store-cli/src/CliApp.tsx
  packages/app-store/_baseApp/DESCRIPTION.md
  packages/app-store/amie/DESCRIPTION.md
  packages/app-store/applecalendar/DESCRIPTION.md
  packages/app-store/around/DESCRIPTION.md
  packages/app-store/caldavcalendar/DESCRIPTION.md
  packages/app-store/campfire/DESCRIPTION.md
  packages/app-store/closecom/DESCRIPTION.md
  packages/app-store/dailyvideo/DESCRIPTION.md
  packages/app-store/exchangecalendar/DESCRIPTION.md
  packages/app-store/fathom/DESCRIPTION.md
  packages/app-store/ga4/DESCRIPTION.md
  packages/app-store/giphy/DESCRIPTION.md
  packages/app-store/googlecalendar/DESCRIPTION.md
  packages/app-store/googlevideo/DESCRIPTION.md
  packages/app-store/hubspot/DESCRIPTION.md
  packages/app-store/huddle01video/DESCRIPTION.md
  packages/app-store/jitsivideo/DESCRIPTION.md
  packages/app-store/larkcalendar/DESCRIPTION.md
  packages/app-store/n8n/DESCRIPTION.md
  packages/app-store/office365calendar/DESCRIPTION.md
  packages/app-store/office365video/DESCRIPTION.md
  packages/app-store/ping/DESCRIPTION.md
  packages/app-store/pipedream/DESCRIPTION.md
  packages/app-store/pipedream/README.mdx
  packages/app-store/plausible/DESCRIPTION.md
  packages/app-store/qr_code/DESCRIPTION.md
  packages/app-store/rainbow/DESCRIPTION.md
  packages/app-store/raycast/DESCRIPTION.md
  packages/app-store/riverside/DESCRIPTION.md
  packages/app-store/salesforce/DESCRIPTION.md
  packages/app-store/sendgrid/DESCRIPTION.md
  packages/app-store/signal/DESCRIPTION.md
  packages/app-store/sirius_video/DESCRIPTION.md
  packages/app-store/stripepayment/DESCRIPTION.md
  packages/app-store/tandemvideo/DESCRIPTION.md
  packages/app-store/telegram/DESCRIPTION.md
  packages/app-store/typeform/DESCRIPTION.md
  packages/app-store/typeform/README.mdx
  packages/app-store/vimcal/DESCRIPTION.md
  packages/app-store/vital/DESCRIPTION.md
  packages/app-store/weather_in_your_calendar/DESCRIPTION.md
  packages/app-store/whatsapp/DESCRIPTION.md
  packages/app-store/whereby/DESCRIPTION.md
  packages/app-store/wipemycalother/DESCRIPTION.md
  packages/app-store/wordpress/DESCRIPTION.md
  packages/app-store/zapier/DESCRIPTION.md
  packages/app-store/zoomvideo/DESCRIPTION.md
  yarn.lock
Labels: ♻️ autoupdate, automerge

#6307 Chor/v2 UI tidy - Dialog & Toasts
  packages/features/settings/TimezoneChangeDialog.tsx
  packages/ui/components/apps/AppCard.tsx
  packages/ui/components/dialog/ConfirmationDialogContent.tsx
  packages/ui/components/dialog/Dialog.tsx
  packages/ui/components/dialog/index.ts
  packages/ui/components/index.ts
  packages/ui/components/toast/index.tsx
  packages/ui/components/toast/showToast.tsx
  packages/ui/components/toast/toast.stories.mdx
  packages/ui/form/fields.tsx
  packages/ui/index.tsx
  packages/ui/v2/core/Shell.tsx
  packages/ui/v2/core/index.ts
  packages/ui/v2/core/notifications.tsx
Labels: ♻️ autoupdate, automerge

#6293 Make WYSIWYG editor reusable
  apps/web/public/static/locales/ar/common.json
  apps/web/public/static/locales/cs/common.json
  apps/web/public/static/locales/de/common.json
  apps/web/public/static/locales/en/common.json
  apps/web/public/static/locales/es/common.json
  apps/web/public/static/locales/fr/common.json
  apps/web/public/static/locales/he/common.json
  apps/web/public/static/locales/hu/common.json
  apps/web/public/static/locales/it/common.json
  apps/web/public/static/locales/ja/common.json
  apps/web/public/static/locales/ko/common.json
  apps/web/public/static/locales/nl/common.json
  apps/web/public/static/locales/no/common.json
  apps/web/public/static/locales/pl/common.json
  apps/web/public/static/locales/pt-BR/common.json
  apps/web/public/static/locales/pt/common.json
  apps/web/public/static/locales/ro/common.json
  apps/web/public/static/locales/ru/common.json
  apps/web/public/static/locales/sr/common.json
  apps/web/public/static/locales/sv/common.json
  apps/web/public/static/locales/tr/common.json
  apps/web/public/static/locales/uk/common.json
  apps/web/public/static/locales/vi/common.json
  apps/web/public/static/locales/zh-CN/common.json
  apps/web/public/static/locales/zh-TW/common.json
  packages/features/ee/workflows/components/EventWorkflowsTab.tsx
  packages/features/ee/workflows/components/WorkflowStepContainer.tsx
  packages/features/ee/workflows/lib/variableTranslations.ts
  packages/ui/components/editor/Editor.tsx
  packages/ui/components/editor/ExampleTheme.ts
  packages/ui/components/editor/images/icons/link.svg
  packages/ui/components/editor/images/icons/list-ol.svg
  packages/ui/components/editor/images/icons/list-ul.svg
  packages/ui/components/editor/images/icons/pencil-fill.svg
  packages/ui/components/editor/images/icons/text-paragraph.svg
  packages/ui/components/editor/images/icons/type-bold.svg
  packages/ui/components/editor/images/icons/type-h1.svg
  packages/ui/components/editor/images/icons/type-h2.svg
  packages/ui/components/editor/images/icons/type-italic.svg
  packages/ui/components/editor/index.ts
  packages/ui/components/editor/plugins/AddVariablesDropdown.tsx
  packages/ui/components/editor/plugins/AutoLinkPlugin.tsx
  packages/ui/components/editor/plugins/ToolbarPlugin.tsx
  packages/ui/components/editor/stylesEditor.css
  packages/ui/components/index.ts
  packages/ui/index.tsx
Labels: ♻️ autoupdate

#6024 fix: Parameterize Stripe Payment Fee configs
  .env.example
  packages/prisma/seed-app-store.ts
  turbo.json
Labels: ❗️ .env changes

#5904 Google Meet - installable app
  apps/web/components/eventtype/EventSetupTab.tsx
  apps/web/pages/api/email.ts
  apps/web/pages/api/integrations/[...args].ts
  apps/web/pages/apps/[slug]/index.tsx
  apps/web/public/static/locales/en/common.json
  packages/app-store/_utils/useAddAppMutation.ts
  packages/app-store/apps.browser.generated.tsx
  packages/app-store/apps.server.generated.ts
  packages/app-store/googlecalendar/api/callback.ts
  packages/app-store/googlecalendar/lib/CalendarService.ts
  packages/app-store/googlevideo/DESCRIPTION.md
  packages/app-store/googlevideo/_metadata.ts
  packages/app-store/googlevideo/api/_getAdd.ts
  packages/app-store/googlevideo/api/add.ts
  packages/app-store/googlevideo/api/index.ts
  packages/app-store/googlevideo/components/ExistingGoogleCal.tsx
  packages/app-store/googlevideo/components/InstallAppButton.tsx
  packages/app-store/googlevideo/components/index.ts
  packages/app-store/locations.ts
  packages/app-store/types.d.ts
  packages/core/EventManager.ts
  packages/emails/src/components/AppsStatus.tsx
  packages/features/bookings/lib/handleNewBooking.ts
  packages/trpc/server/routers/viewer/apps.tsx
Labels: ♻️ autoupdate, automerge

#6358 fix: margin and padding
  packages/ui/v2/core/Shell.tsx
Labels: ♻️ autoupdate, automerge

#6375 Fix custom event names in emails
  apps/web/public/static/locales/en/common.json
  packages/emails/src/templates/BaseScheduledEmail.tsx
  packages/emails/templates/attendee-awaiting-payment-email.ts
  packages/emails/templates/attendee-cancelled-email.ts
  packages/emails/templates/attendee-declined-email.ts
  packages/emails/templates/attendee-request-email.ts
  packages/emails/templates/attendee-rescheduled-email.ts
  packages/emails/templates/attendee-scheduled-email.ts
  packages/emails/templates/organizer-cancelled-email.ts
  packages/emails/templates/organizer-request-email.ts
  packages/emails/templates/organizer-request-reminder-email.ts
  packages/emails/templates/organizer-rescheduled-email.ts
  packages/emails/templates/organizer-scheduled-email.ts
Labels: ♻️ autoupdate, automerge

#6408 added GITHUB_API_REPO_TOKEN for console
  turbo.json
Labels: ♻️ autoupdate

#6405 Fix avatars not overlapping
  apps/web/components/booking/BookingDescription.tsx
  apps/web/components/booking/UserAvatars.tsx
  apps/web/pages/[user].tsx
  apps/web/pages/event-types/index.tsx
  apps/web/pages/team/[slug].tsx
  packages/ui/components/avatar/AvatarGroup.tsx
  packages/ui/components/avatar/index.ts
  packages/ui/components/index.ts
  packages/ui/index.tsx
Labels: ♻️ autoupdate

#6412 Adds "Upgrade" paywall to Workflow SMS features instead of disabling them
  apps/web/public/static/locales/en/common.json
  packages/features/ee/workflows/components/AddActionDialog.tsx
  packages/features/ee/workflows/components/WorkflowStepContainer.tsx
  packages/features/ee/workflows/lib/getOptions.ts
  packages/ui/components/form/select/components.tsx
Labels: ♻️ autoupdate, automerge

#6416 fix: remove flex-nowrap
  packages/features/eventtypes/components/EventTypeDescription.tsx
Labels: ♻️ autoupdate

#6410 fix: long words break UI
  apps/web/pages/booking/[uid].tsx
Labels: ♻️ autoupdate, automerge

#6430 fix: guess correct timezone when onboarding
  apps/web/components/getting-started/steps-views/UserSettings.tsx
  apps/web/pages/getting-started/[[...step]].tsx
Labels: ♻️ autoupdate

#6424 CALCOM-6362 - [CAL-728] App Sidebar. Child items aren't sized/spaced properly
  packages/features/shell/Shell.tsx
Labels: ♻️ autoupdate

#6423 Feature/fixed hosts
  apps/web/components/eventtype/EventTeamTab.tsx
  apps/web/components/eventtype/EventTypeSingleLayout.tsx
  apps/web/pages/booking/[uid].tsx
  apps/web/pages/event-types/[type]/index.tsx
  apps/web/pages/team/[slug]/[type].tsx
  apps/web/public/static/locales/en/common.json
  packages/core/getAggregateWorkingHours.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/eventtypes/components/CheckedTeamSelect.tsx
  packages/lib/defaultEvents.ts
  packages/lib/getEventTypeById.ts
  packages/lib/slots.ts
  packages/prisma/migrations/20230111183922_add_host_relation/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/eventTypes.tsx
  packages/trpc/server/routers/viewer/slots.tsx
  packages/ui/components/button/Button.tsx
Labels: ❗️ migrations, :scroll: Needs Documentation Update

#6443 Check for session in addition for isPublic prop
  packages/features/shell/Shell.tsx
Labels: ♻️ autoupdate

#6409 Small improvements for constants
  packages/lib/constants.ts
  packages/ui/components/credits/Credits.tsx
Labels: ♻️ autoupdate, automerge

#6470 Team invites - transform email or username to lower case
  apps/web/pages/api/auth/signup.ts
  packages/features/ee/teams/components/AddNewTeamMembers.tsx
  packages/trpc/server/routers/viewer/teams.tsx
Labels: 🐛 bug, ♻️ autoupdate, automerge

#6392 fix: `HOSTED_CAL_FEATURES` env doesn't get passed to the frontend
  .env.example
  packages/lib/constants.ts
  turbo.json
Labels: ♻️ autoupdate, automerge, :scroll: Needs Documentation Update, ❗️ .env changes

#6466 fix: remove website url in download recording
  packages/features/ee/video/ViewRecordingsDialog.tsx
Labels: ♻️ autoupdate, automerge

#6212 disables signups via env variable
  .env.example
  apps/web/pages/api/auth/signup.ts
  apps/web/pages/auth/login.tsx
  apps/web/pages/signup.tsx
  turbo.json
Labels: ❗️ .env changes

#6475 readding sidebar tips for everyone, added 3 more features to teams empty screen
  packages/features/ee/common/components/v2/LicenseRequired.tsx
  packages/features/ee/teams/components/TeamsListing.tsx
  packages/features/shell/Shell.tsx
Labels: 🚧 wip / in the making

#6498 Disable redirect for cancellation page
  apps/web/pages/booking/[uid].tsx
  packages/emails/templates/_base-email.ts
Labels: 🐛 bug

#6609 remove 1 on 1 icon
  apps/web/public/static/locales/ar/common.json
  apps/web/public/static/locales/cs/common.json
  apps/web/public/static/locales/de/common.json
  apps/web/public/static/locales/en/common.json
  apps/web/public/static/locales/es/common.json
  apps/web/public/static/locales/fr/common.json
  apps/web/public/static/locales/he/common.json
  apps/web/public/static/locales/it/common.json
  apps/web/public/static/locales/ja/common.json
  apps/web/public/static/locales/ko/common.json
  apps/web/public/static/locales/nl/common.json
  apps/web/public/static/locales/no/common.json
  apps/web/public/static/locales/pl/common.json
  apps/web/public/static/locales/pt-BR/common.json
  apps/web/public/static/locales/pt/common.json
  apps/web/public/static/locales/ro/common.json
  apps/web/public/static/locales/ru/common.json
  apps/web/public/static/locales/sr/common.json
  apps/web/public/static/locales/sv/common.json
  apps/web/public/static/locales/tr/common.json
  apps/web/public/static/locales/uk/common.json
  apps/web/public/static/locales/vi/common.json
  apps/web/public/static/locales/zh-CN/common.json
  apps/web/public/static/locales/zh-TW/common.json
  packages/features/eventtypes/components/EventTypeDescription.tsx
Labels: ⚡ Quick Wins

#6630 Hotfix/GA4 tracking
  packages/app-store/ga4/config.json
  packages/app-store/plausible/config.json
Labels: ♻️ autoupdate, automerge

#6706 Adds deployment settings to DB
  packages/prisma/extensions/index.ts
  packages/prisma/index.ts
  packages/prisma/migrations/20230125182832_add_deployment/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/zod-utils.ts
Labels: ❗️ migrations

#6419 Add additional guests
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/public/static/locales/en/common.json
  packages/trpc/server/routers/viewer/teams.tsx
  packages/ui/components/form/inputs/Input.tsx
  packages/ui/form/AddressInput.tsx
Labels: ♻️ autoupdate

#6439 Session Timeout
  apps/web/package.json
  apps/web/pages/api/auth/[...nextauth].tsx
  apps/web/pages/event-types/index.tsx
  apps/web/pages/settings/security/password.tsx
  apps/web/public/static/locales/en/common.json
  packages/app-store/ee/routing-forms/components/FormInputFields.tsx
  packages/features/ee/common/components/LicenseRequired.tsx
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer.tsx
  yarn.lock
Labels: :scroll: Needs Documentation Update
