Repository calcom/cal.com, pull requests merged in 2023-06, with the labels that each got.

#9191 fix: [CAL-1733] Revalidate Issue on Event-Type Page
  packages/trpc/server/routers/viewer/eventTypes/update.handler.ts
Labels: 🐛 bug, Urgent

#9177 feat: add additional parameters for QR code generator app
  apps/web/public/static/locales/en/common.json
  packages/app-store/qr_code/components/EventTypeAppCardInterface.tsx
Labels: ✨ feature

#9264 fix: use skeleton loader in feature flag page
  packages/features/flags/pages/flag-listing-view.tsx
Labels: Low priority

#9182 fix: Routing Forms, Number operators were using string operands
  packages/app-store/routing-forms/api/responses/[formId].ts
  packages/app-store/routing-forms/components/FormInputFields.tsx
  packages/app-store/routing-forms/jsonLogicToPrisma.ts
  packages/app-store/routing-forms/lib/getQueryBuilderConfig.ts
  packages/app-store/routing-forms/lib/processRoute.tsx
  packages/app-store/routing-forms/lib/transformResponse.ts
  packages/app-store/routing-forms/pages/router/[...appPages].tsx
  packages/app-store/routing-forms/pages/routing-link/[...appPages].tsx
  packages/app-store/routing-forms/test/lib/jsonLogicToPrisma.test.ts
  packages/app-store/routing-forms/trpc/report.handler.ts
  packages/app-store/routing-forms/trpc/response.schema.ts
  packages/app-store/routing-forms/types/types.d.ts
  packages/types/AppGetServerSideProps.d.ts
Labels: 🐛 bug, High priority

#9169 test: Smoke Tests for packaged embeds and build improvements
  .github/workflows/e2e-embed-react.yml
  package.json
  packages/embeds/embed-core/package.json
  packages/embeds/embed-core/playwright/lib/testUtils.ts
  packages/embeds/embed-core/src/embed.ts
  packages/embeds/embed-react/inline.tsx
  packages/embeds/embed-react/package.json
  packages/embeds/embed-react/playwright/tests/basic.e2e.ts
  packages/embeds/embed-react/src/Cal.tsx
  packages/embeds/embed-react/test/packaged/README.md
  packages/embeds/embed-react/test/packaged/api.test.ts
  packages/embeds/embed-react/test/packaged/tsconfig.json
  packages/embeds/embed-react/tsconfig.json
  packages/embeds/embed-snippet/package.json
  playwright.config.ts
  vitest.workspace.ts
Labels: 🧹 Improvements

#8639 chore: add canonical to the document via `PageWrapper`
  apps/web/components/PageWrapper.tsx
  packages/lib/browser/browser.utils.ts
  packages/lib/next-seo.config.ts
  packages/ui/components/head-seo/HeadSeo.tsx
Labels: 🧹 Improvements

#9320 fix: background colour for disabled select option
  apps/web/components/ui/form/CheckedSelect.tsx
  packages/features/eventtypes/components/CheckedTeamSelect.tsx
  packages/features/eventtypes/components/CheckedUserSelect.tsx
  packages/features/eventtypes/components/ChildrenEventTypeSelect.tsx
  packages/ui/components/form/select/Select.tsx
Labels: 🐛 bug

#8093 fix: Update forms UI
  apps/web/public/static/locales/en/common.json
  packages/app-store/routing-forms/components/SingleForm.tsx
  packages/app-store/routing-forms/pages/form-edit/[...appPages].tsx
  packages/app-store/routing-forms/pages/reporting/[...appPages].tsx
  packages/app-store/routing-forms/pages/route-builder/[...appPages].tsx
  packages/app-store/routing-forms/playwright/tests/basic.e2e.ts
  packages/features/ee/teams/pages/team-profile-view.tsx
  packages/ui/components/alert/Alert.tsx
  packages/ui/components/card/FormCard.tsx
  packages/ui/components/form/toggleGroup/BooleanToggleGroup.tsx
  packages/ui/components/navigation/tabs/HorizontalTabItem.tsx
  packages/ui/components/navigation/tabs/HorizontalTabs.tsx
Labels: 🧹 Improvements, Low priority

#9274 feat: add disable signup feature flag
  apps/web/pages/signup.tsx
  packages/features/flags/config.ts
  packages/prisma/migrations/20230601181657_disable_signup_feature_flag/migration.sql
Labels: ❗️ migrations, Low priority

#9310 fix: Skeleton Padding and Width Issue
  packages/features/shell/Shell.tsx
  packages/ui/components/skeleton/index.tsx
Labels: 🧹 Improvements, ⚡ Quick Wins, Low priority, 💎 Bounty, 1 points

#9270 fix: page rendering comments initially
  apps/web/pages/getting-started/[[...step]].tsx
Labels: 🐛 bug

#9333 fix: hide 2fa tab when using google as identity provider
  packages/features/settings/layouts/SettingsLayout.tsx
Labels: 🐛 bug

#9318 fix: background colour for show on booking page switch on event types …
  packages/features/form-builder/FormBuilder.tsx
Labels: 🐛 bug

#9055 fix: use the correct locale for event name in booking detail page
  apps/web/pages/booking/[uid].tsx
Labels: 🧹 Improvements

#9322 fix: Availability Name does Not Update
  apps/web/components/eventtype/EventTypeSingleLayout.tsx
  apps/web/public/static/locales/en/common.json
Labels: 🐛 bug

#9240 feat: email undefined value
  packages/emails/src/components/UserFieldsResponses.tsx
Labels: ⚡ Quick Wins, Low priority

#9082 feat: event settings booker layout toggle
  apps/web/components/eventtype/EventAdvancedTab.tsx
  apps/web/components/eventtype/EventTypeSingleLayout.tsx
  apps/web/pages/event-types/[type]/index.tsx
  apps/web/pages/settings/my-account/appearance.tsx
  apps/web/public/bookerlayout_column_view.svg
  apps/web/public/bookerlayout_month_view.svg
  apps/web/public/bookerlayout_week_view.svg
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/components/BookEventForm/BookEventForm.tsx
  packages/features/bookings/Booker/components/Header.tsx
  packages/features/bookings/Booker/components/Section.tsx
  packages/features/bookings/Booker/config.ts
  packages/features/bookings/Booker/store.ts
  packages/features/bookings/Booker/types.ts
  packages/features/bookings/components/AvailableTimes.tsx
  packages/features/eventtypes/lib/getPublicEvent.ts
  packages/features/flags/config.ts
  packages/features/settings/BookerLayoutSelector.tsx
  packages/lib/validateBookerLayouts.ts
  packages/prisma/migrations/20230524105015_added_newbooker_feature_flag/migration.sql
  packages/prisma/zod-utils.ts
  packages/trpc/server/middlewares/sessionMiddleware.ts
  packages/trpc/server/routers/loggedInViewer/me.handler.ts
  packages/trpc/server/routers/loggedInViewer/updateProfile.handler.ts
  packages/trpc/server/routers/viewer/eventTypes/update.handler.ts
  packages/ui/components/form/toggleGroup/ToggleGroup.tsx
Labels: ✨ feature, ❗️ migrations, High priority

#9163 fix: Disabled pinch to zoom on mobile devices#9155
  apps/web/pages/_document.tsx
Labels: 🧹 Improvements, Low priority

#9290 perf: Avoid useless dependencies in calendar cache page
  apps/web/pages/[user]/calendar-cache/[month].tsx
  packages/core/CalendarManager.ts
  packages/core/getCalendarsEvents.ts
Labels: 🧹 Improvements, High priority

#9358 fix: opt in booking from email
  apps/web/pages/api/link.ts
Labels: 🐛 bug, High priority, 📉 regressing

#9184 feat: Onboarding process to create an organization
  .vscode/launch.json
  apps/web/pages/api/trpc/organizations/[trpc].ts
  apps/web/pages/settings/organizations/[id]/about.tsx
  apps/web/pages/settings/organizations/[id]/add-teams.tsx
  apps/web/pages/settings/organizations/[id]/onboard-admins.tsx
  apps/web/pages/settings/organizations/[id]/set-password.tsx
  apps/web/pages/settings/organizations/new/index.tsx
  apps/web/pages/settings/teams/[id]/onboard-members.tsx
  apps/web/pages/settings/teams/new/index.tsx
  apps/web/public/org_avatar.png
  apps/web/public/static/locales/en/common.json
  packages/emails/email-manager.ts
  packages/emails/src/templates/OrganizationAccountVerifyEmail.tsx
  packages/emails/src/templates/TeamInviteEmail.tsx
  packages/emails/src/templates/index.ts
  packages/emails/templates/organization-email-verification.ts
  packages/emails/templates/team-invite-email.ts
  packages/features/ee/organizations/components/AboutOrganizationForm.tsx
  packages/features/ee/organizations/components/AddNewOrgAdminsForm.tsx
  packages/features/ee/organizations/components/AddNewTeamsForm.tsx
  packages/features/ee/organizations/components/CreateANewOrganizationForm.tsx
  packages/features/ee/organizations/components/SetPasswordForm.tsx
  packages/features/ee/organizations/components/index.ts
  packages/features/ee/organizations/lib/types.ts
  packages/lib/telemetry.ts
  packages/prisma/zod-utils.ts
  packages/trpc/react/trpc.ts
  packages/trpc/server/middlewares/sessionMiddleware.ts
  packages/trpc/server/routers/viewer/_router.tsx
  packages/trpc/server/routers/viewer/organizations/_router.tsx
  packages/trpc/server/routers/viewer/organizations/create.handler.ts
  packages/trpc/server/routers/viewer/organizations/create.schema.ts
  packages/trpc/server/routers/viewer/organizations/createTeams.handler.ts
  packages/trpc/server/routers/viewer/organizations/createTeams.schema.ts
  packages/trpc/server/routers/viewer/organizations/setPassword.handler.ts
  packages/trpc/server/routers/viewer/organizations/setPassword.schema.ts
  packages/trpc/server/routers/viewer/organizations/update.handler.ts
  packages/trpc/server/routers/viewer/organizations/update.schema.ts
  packages/trpc/server/routers/viewer/organizations/verifyCode.handler.ts
  packages/trpc/server/routers/viewer/organizations/verifyCode.schema.ts
  packages/trpc/server/routers/viewer/teams/inviteMember.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember.schema.ts
  packages/ui/index.tsx
  packages/ui/layouts/WizardLayout.tsx
Labels: ✨ feature, ❗️ migrations, High priority

#8355 feat: Add copy invite link
  apps/web/public/static/locales/en/common.json
  packages/features/ee/teams/components/AddNewTeamMembers.tsx
  packages/features/ee/teams/components/InviteLinkSettingsModal.tsx
  packages/features/ee/teams/components/MemberInvitationModal.tsx
  packages/features/ee/teams/components/TeamListItem.tsx
  packages/features/ee/teams/components/TeamsListing.tsx
  packages/features/ee/teams/pages/team-members-view.tsx
  packages/lib/server/queries/teams/index.ts
  packages/prisma/migrations/20230422152301_add_team_invite_token/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/teams/_router.tsx
  packages/trpc/server/routers/viewer/teams/createInvite.handler.ts
  packages/trpc/server/routers/viewer/teams/createInvite.schema.ts
  packages/trpc/server/routers/viewer/teams/deleteInvite.handler.ts
  packages/trpc/server/routers/viewer/teams/deleteInvite.schema.ts
  packages/trpc/server/routers/viewer/teams/getUpgradeable.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMemberByToken.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMemberByToken.schema.ts
  packages/trpc/server/routers/viewer/teams/list.handler.ts
  packages/trpc/server/routers/viewer/teams/listMembers.handler.ts
  packages/trpc/server/routers/viewer/teams/setInviteExpiration.handler.ts
  packages/trpc/server/routers/viewer/teams/setInviteExpiration.schema.ts
Labels: ✨ feature, ❗️ migrations, High priority

#9085 fix: embed non-transparent dark background on success page
  apps/web/components/Embed.tsx
  packages/embeds/embed-core/embed-iframe-init.ts
  packages/embeds/embed-core/index.html
  packages/embeds/embed-core/playground.ts
  packages/embeds/embed-core/playwright/lib/testUtils.ts
  packages/embeds/embed-core/playwright/tests/action-based.e2e.ts
  packages/embeds/embed-core/playwright/tests/inline.e2e.ts
  packages/embeds/embed-core/src/embed-iframe.ts
  packages/embeds/embed-core/src/embed.ts
  packages/embeds/embed-react/playwright/tests/basic.e2e.ts
Labels: 🐛 bug, High priority

#9081 feat: email verification
  apps/web/pages/api/auth/signup.ts
  apps/web/pages/api/auth/verify-email.ts
  apps/web/pages/api/email.ts
  apps/web/pages/auth/verify-email.tsx
  apps/web/pages/signup.tsx
  apps/web/public/static/locales/en/common.json
  packages/emails/email-manager.ts
  packages/emails/src/templates/VerifyAccountEmail.tsx
  packages/emails/src/templates/index.ts
  packages/emails/templates/account-verify-email.ts
  packages/features/auth/lib/verifyEmail.ts
  packages/features/flags/config.ts
  packages/features/shell/Shell.tsx
  packages/features/users/components/VerifyEmailBanner.tsx
  packages/prisma/migrations/20230523101834_email_verification_feature_flag/migration.sql
  packages/trpc/react/hooks/useEmailVerifyCheck.ts
  packages/trpc/server/middlewares/sessionMiddleware.ts
  packages/trpc/server/routers/loggedInViewer/_router.tsx
  packages/trpc/server/routers/loggedInViewer/shouldVerifyEmail.handler.ts
  packages/trpc/server/routers/loggedInViewer/shouldVerifyEmail.schema.ts
  packages/trpc/server/routers/viewer/auth/_router.tsx
  packages/trpc/server/routers/viewer/auth/resendVerifyEmail.handler.ts
  packages/ui/components/empty-screen/EmptyScreen.tsx
Labels: ✨ feature, ❗️ migrations, High priority

#9345 feat: [CAL-1816] Organization subdomain support
  .env.example
  apps/web/components/ui/UsernameAvailability/UsernameTextfield.tsx
  apps/web/middleware.ts
  apps/web/next.config.js
  apps/web/pages/[user].tsx
  apps/web/pages/api/organizations/[org]/subteams.ts
  apps/web/pages/bookings/[status].tsx
  apps/web/pages/getting-started/[[...step]].tsx
  apps/web/pages/team/[slug].tsx
  packages/features/ee/organizations/api/subteams.ts
  packages/features/ee/organizations/components/CreateANewOrganizationForm.tsx
  packages/features/ee/organizations/lib/orgDomains.ts
  packages/lib/constants.ts
  packages/lib/default-cookies.ts
  packages/trpc/server/routers/viewer/organizations/create.handler.ts
  turbo.json
Labels: ❗️ .env changes

#9273 fix: Wrong padding on "Invite Team Members" modal (CALCOM-8414-FIX)
  packages/features/ee/teams/components/MemberInvitationModal.tsx
  packages/features/eventtypes/components/CreateEventTypeDialog.tsx
  packages/features/form-builder/FormBuilder.tsx
  packages/ui/components/dialog/Dialog.tsx
Labels: Medium priority

#9404 fix: leading none in shell
  packages/features/shell/Shell.tsx
Labels: ⚡ Quick Wins, Low priority, 📉 regressing

#9286 fix: use the correct locale for the title in cancelled email
  packages/emails/email-manager.ts
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/trpc/server/routers/loggedInViewer/deleteCredential.handler.ts
Labels: ⚡ Quick Wins, Low priority

#9398 fix: Improve booker header for large views
  packages/features/bookings/Booker/components/Header.tsx
Labels: High priority

#9428 fix: error when updating event type availability
  apps/web/pages/event-types/[type]/index.tsx
Labels: 🐛 bug, High priority

#9435 fix: UI bugs
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/Booker/components/BookEventForm/BookFormAsModal.tsx
  packages/features/bookings/Booker/components/Header.tsx
  packages/ui/components/dialog/Dialog.tsx
  packages/ui/components/form/toggleGroup/ToggleGroup.tsx
Labels: 🐛 bug

#9429 fix: Rotate spinner
  packages/features/calendars/CalendarSwitch.tsx
Labels: 🐛 bug

#9422 test: Add E2E tests for seated attendee rescheduling or cancelling bookings
  apps/web/components/booking/AvailableTimes.tsx
  apps/web/components/booking/CancelBooking.tsx
  apps/web/playwright/booking-pages.e2e.ts
  apps/web/playwright/booking-seats.e2e.ts
  apps/web/playwright/dynamic-booking-pages.e2e.ts
  apps/web/playwright/fixtures/bookings.ts
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/lib/testUtils.ts
  apps/web/playwright/reschedule.e2e.ts
  packages/features/bookings/components/AvailableTimes.tsx
  packages/features/bookings/lib/getCalEventResponses.ts
Labels: 🐛 bug, 💎 Bounty, 🧪 tests

#9406 chore: moved viewport meta from document to PageWrapper
  apps/web/components/PageWrapper.tsx
  apps/web/pages/_document.tsx
Labels: ⚡ Quick Wins, Low priority

#9431 fix: carify what sender ID means
  apps/web/public/static/locales/en/common.json
  packages/features/ee/workflows/components/AddActionDialog.tsx
  packages/features/ee/workflows/components/WorkflowStepContainer.tsx
Labels: 🎨 needs design, 🧹 Improvements, ⚡ Quick Wins, :scroll: Needs Documentation Update, Low priority

#9453 fix: theme in new booker
  packages/features/eventtypes/lib/getPublicEvent.ts
Labels: 🐛 bug

#9446 feat: enabled csv upload for team bulk invites
  packages/features/ee/teams/components/MemberInvitationModal.tsx
Labels: ✨ feature

#9279 feat: Organization branding in side menu
  apps/web/components/booking/BookingDescription.tsx
  apps/web/components/ui/UsernameAvailability/UsernameTextfield.tsx
  apps/web/lib/app-providers.tsx
  apps/web/lib/hooks/useRouterQuery.ts
  apps/web/middleware.ts
  apps/web/pages/[user]/[type].tsx
  apps/web/pages/event-types/index.tsx
  apps/web/pages/settings/my-account/profile.tsx
  apps/web/pages/settings/organizations/[id]/add-teams.tsx
  apps/web/pages/team/[slug].tsx
  apps/web/pages/team/[slug]/[type].tsx
  apps/web/pages/team/[slug]/book.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/auth/lib/getServerSession.ts
  packages/features/auth/lib/next-auth-options.ts
  packages/features/ee/impersonation/lib/ImpersonationProvider.ts
  packages/features/ee/organizations/components/AboutOrganizationForm.tsx
  packages/features/ee/organizations/components/AddNewTeamsForm.tsx
  packages/features/ee/organizations/context/provider.ts
  packages/features/ee/organizations/hooks/index.ts
  packages/features/shell/Shell.tsx
  packages/lib/defaultAvatarImage.ts
  packages/lib/server/queries/teams/index.ts
  packages/prisma/selects/event-types.ts
  packages/trpc/server/routers/loggedInViewer/me.handler.ts
  packages/trpc/server/routers/viewer/organizations/_router.tsx
  packages/trpc/server/routers/viewer/organizations/getBrand.handler.ts
Labels: ❗️ migrations, High priority, 🏰 Organizations

#9459 fix: copy icon for dark mode
  packages/features/ee/api-keys/components/ApiKeyDialogForm.tsx
Labels: 🐛 bug

#9266 feat: organization settings general and members page
  apps/web/pages/settings/organizations/general.tsx
  apps/web/pages/settings/organizations/members.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/ee/organizations/pages/settings/general.tsx
  packages/features/ee/organizations/pages/settings/members.tsx
  packages/features/ee/teams/components/MemberChangeRoleModal.tsx
  packages/features/ee/teams/components/MemberListItem.tsx
  packages/features/ee/teams/components/TeamInviteList.tsx
  packages/features/ee/teams/components/TeamInviteListItem.tsx
  packages/prisma/migrations/20230601141825_add_locale_timezone_timeformat_in_team/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/organizations/_router.tsx
  packages/trpc/server/routers/viewer/organizations/listMembers.handler.ts
  packages/trpc/server/routers/viewer/organizations/update.handler.ts
  packages/trpc/server/routers/viewer/organizations/update.schema.ts
  packages/trpc/server/routers/viewer/teams/removeMember.handler.ts
  packages/trpc/server/routers/viewer/teams/removeMember.schema.ts
Labels: ❗️ migrations, High priority, 🏰 Organizations

#9467 fix: dark mode in Alert component
  packages/ui/components/alert/Alert.tsx
  packages/ui/components/alert/alert.stories.mdx
Labels: ✨ feature

#9449 feat: Organization support for event types page
  apps/web/pages/event-types/index.tsx
  apps/web/pages/team/[slug].tsx
  packages/features/eventtypes/components/CreateEventTypeDialog.tsx
  packages/features/eventtypes/components/OrganizationEventTypeFilter.tsx
  packages/trpc/server/routers/viewer/eventTypes/getByViewer.handler.ts
Labels: High priority, 🏰 Organizations

#9433 docs: Added command in manual section
  README.md
Labels: 📝 docs

#9465 fix: Multiple inPerson Location edit modals reading first location
  apps/web/components/dialog/EditLocationDialog.tsx
  apps/web/components/eventtype/EventSetupTab.tsx
  apps/web/components/ui/form/LocationSelect.tsx
  packages/app-store/locations.ts
Labels: 🐛 bug

#9471 fix: phone input update state persistence
  apps/web/components/dialog/EditLocationDialog.tsx
Labels: 🐛 bug

#8721 feat: add paid webhook
  packages/features/webhooks/lib/constants.ts
  packages/prisma/migrations/20230513235419_add_booking_webhooks/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/payments.tsx
Labels: ✨ feature, ❗️ migrations, Medium priority

#9401 fix: Add e2e test for routing forms webhook subscription
  apps/web/playwright/lib/testUtils.ts
  apps/web/playwright/webhook.e2e.ts
  packages/app-store/routing-forms/playwright/tests/basic.e2e.ts
Labels: Low priority, 💎 Bounty, 🧪 tests

#9023 feat: new booker embed
  apps/web/components/Embed.tsx
  apps/web/lib/withEmbedSsr.tsx
  apps/web/next.config.js
  apps/web/pages/new-booker/[user]/[type].tsx
  apps/web/pages/new-booker/[user]/[type]/embed.tsx
  apps/web/pages/new-booker/[user]/embed.tsx
  apps/web/pages/new-booker/team/[slug]/[type].tsx
  apps/web/pages/new-booker/team/[slug]/[type]/embed.tsx
  apps/web/pages/new-booker/team/[slug]/embed.tsx
  apps/web/public/static/locales/en/common.json
  packages/embeds/embed-core/index.html
  packages/embeds/embed-core/src/embed-iframe.ts
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/components/Header.tsx
  packages/features/bookings/Booker/config.ts
  packages/features/bookings/Booker/store.ts
  packages/features/bookings/Booker/utils/layout.ts
  packages/features/bookings/components/AvailableTimes.tsx
  packages/features/bookings/components/TeamFilter.tsx
  packages/features/bookings/components/event-meta/Details.tsx
  packages/features/ee/teams/pages/team-members-view.tsx
Labels: ✨ feature

#9512 chore: Improve IP Ban
  apps/web/middleware.ts
Labels: High priority

#9498 feat: Organizations users calendar cache
  apps/web/pages/[user]/calendar-cache/[month]/[orgSlug].tsx
  apps/web/pages/[user]/calendar-cache/[month]/index.tsx
  packages/core/CalendarManager.ts
  packages/core/getBusyTimes.ts
  packages/core/getUserAvailability.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/trpc/server/routers/viewer/slots/util.ts
  packages/trpc/server/routers/viewer/teams/getMemberAvailability.handler.ts
Labels: ❗️ migrations, High priority, ❗️ .env changes, 🏰 Organizations

#9519 fix: Email verification banner
  packages/features/users/components/VerifyEmailBanner.tsx
Labels: 🐛 bug

#9395 feat: organizations sidebar
  apps/web/public/static/locales/en/common.json
  packages/features/kbar/Kbar.tsx
  packages/features/shell/Shell.tsx
  packages/lib/server/queries/teams/index.ts
  packages/ui/components/avatar/Avatar.tsx
Labels: ❗️ migrations, High priority, ❗️ .env changes, 🏰 Organizations

#9541 feat: Enable new booker globally for 3.0
  .env.example
  apps/web/middleware.ts
  apps/web/next.config.js
  turbo.json
Labels: ❗️ migrations, ❗️ .env changes

#9544 fix: Team list now aware of org teams
  packages/features/ee/teams/components/TeamListItem.tsx
  packages/trpc/server/routers/viewer/organizations/createTeams.handler.ts
  packages/trpc/server/routers/viewer/teams/list.handler.ts
Labels: 🐛 bug, High priority, 🏰 Organizations

#9574 fix: Adding more time to org admin email verif step
  packages/trpc/server/routers/viewer/organizations/create.handler.ts
Labels: 🏰 Organizations

#9580 fix: update top banner
  apps/web/public/static/locales/da/common.json
  apps/web/public/static/locales/en/common.json
  apps/web/public/static/locales/nl/common.json
  apps/web/public/static/locales/pt-BR/common.json
  packages/features/users/components/VerifyEmailBanner.tsx
  packages/ui/components/top-banner/TopBanner.tsx
Labels: ✅ good first issue, 🎨 needs design, ⚡ Quick Wins

#9595 fix: typo in email verification banner
  apps/web/public/static/locales/en/common.json
Labels: 🐛 bug, Low priority

#9589 fix: New Booker: Success Redirect for Recurring as well non recurring bookings
  packages/features/bookings/Booker/components/BookEventForm/BookEventForm.tsx
  packages/features/eventtypes/lib/getPublicEvent.ts
Labels: Urgent, 📉 regressing

#9601 refactor: translated request_password_reset in dutch
  apps/web/public/static/locales/nl/common.json
Labels: 🎨 needs design

#9605 fix: Alert component fixed
  packages/ui/components/alert/Alert.tsx
Labels: 🧹 Improvements

#9505 fix: changes "cancelled" to canceled
  apps/web/public/static/locales/en/common.json
Labels: 🐛 bug, Low priority

#9619 fix: event type filter in Mobile view
  apps/web/pages/event-types/index.tsx
Labels: 🧹 Improvements, Low priority, 1 points

#9610 fix: Hide layout switcher when only 1 layout is enabled
  packages/features/bookings/Booker/components/Header.tsx
Labels: 🧹 Improvements, Low priority, 1 points

#9620 fix: Make layout of booker not overflow in safari
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/components/AvailableTimeSlots.tsx
  packages/features/bookings/Booker/config.ts
Labels: 🐛 bug

#9588 fix: Storybook build and fix cal brand colors
  apps/storybook/styles/storybook-styles.css
  packages/ui/components/top-banner/TopBanner.tsx
Labels: Low priority

#9499 fix: redirect to 404 page for invalid email verification token
  apps/web/pages/404.tsx
  apps/web/pages/api/auth/verify-email.ts
  apps/web/public/static/locales/en/common.json
Labels: 🐛 bug, ❗️ migrations, 🧹 Improvements, Low priority, ❗️ .env changes

#9511 docs: Update API documentation for Bookings endpoint (_post & _patch)
  apps/api/pages/api/bookings/[id]/_patch.ts
  apps/api/pages/api/bookings/_post.ts
Labels: Medium priority

#9599 chore: add inlang ide extension for i18n
  .vscode/extensions.json
  apps/web/public/static/locales/en/common.json
  inlang.config.js
Labels: Low priority, i18n

#9639 fix: padding in booking page
  packages/features/bookings/Booker/Booker.tsx
Labels: bookings

#9578 chore: Upgrades Next.js to 13.4.6
  apps/api/package.json
  apps/storybook/package.json
  apps/swagger/package.json
  apps/web/components/booking/CancelBooking.tsx
  apps/web/package.json
  apps/web/pages/api/availability/calendar.ts
  packages/features/calendars/CalendarSwitch.tsx
  packages/ui/package.json
  yarn.lock
Labels: High priority

#9516 feat: [CAL-1435] Emptyscreen for App Store if no external app has been configured (CALCOM-8154)
  apps/web/components/apps/layouts/AppsLayout.tsx
  apps/web/public/static/locales/en/common.json
Labels: i18n

#9654 fix: Booker fix for team + user with same event + event slug
  apps/web/pages/new-booker/d/[link]/[slug].tsx
  apps/web/pages/new-booker/team/[slug]/[type].tsx
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/store.ts
  packages/features/bookings/Booker/types.ts
  packages/features/bookings/Booker/utils/event.ts
  packages/features/eventtypes/lib/getPublicEvent.ts
  packages/trpc/server/routers/publicViewer/event.handler.ts
  packages/trpc/server/routers/publicViewer/event.schema.ts
Labels: 🐛 bug, Low priority, booking page

#9668 fix: eventType-getByViewer subselect on children->users[]
  apps/web/pages/event-types/index.tsx
  packages/trpc/server/routers/viewer/eventTypes/getByViewer.handler.ts
Labels: Urgent

#9548 feat: Organizations no middleware rewrite
  apps/web/middleware.ts
  apps/web/next.config.js
  apps/web/pages/[user].tsx
  apps/web/pages/org/[orgSlug]/[user]/[type].ts
  apps/web/pages/org/[orgSlug]/[user]/index.tsx
  apps/web/pages/org/[orgSlug]/index.ts
  apps/web/pages/org/[orgSlug]/team/[slug]/[type].ts
  apps/web/pages/org/[orgSlug]/team/[slug]/index.ts
  apps/web/pages/team/[slug].tsx
Labels: High priority

#9375 refactor: Skip license checks for development
  apps/web/public/static/locales/en/common.json
  packages/features/ee/common/components/LicenseRequired.tsx
Labels: 🧹 Improvements, docs

#9704 perf: Remove useless data on EvenTypes getByViewer endpoint
  packages/trpc/server/routers/viewer/eventTypes/getByViewer.handler.ts
Labels: ✨ feature, Medium priority, i18n

#9526 feat: [CAL-910] Pre-select country for phone number (CALCOM-5759)
  packages/ui/form/PhoneInput.tsx
Labels: Medium priority

#9722 feat: remove member from hosts on removal
  packages/features/ee/teams/components/MemberListItem.tsx
  packages/prisma/migrations/20230622164946_remove_host_remnants_from_old_team_members/migration.sql
  packages/trpc/server/routers/viewer/teams/removeMember.handler.ts
Labels: 🐛 bug, ❗️ migrations

#9721 fix: Fixed copy invite link button
  packages/features/ee/teams/components/MemberInvitationModal.tsx
Labels: 🐛 bug

#9710 fix: location details on new booker
  apps/web/components/booking/AvailableEventLocations.tsx
  packages/app-store/locations.ts
  packages/features/bookings/components/event-meta/Locations.tsx
Labels: 🐛 bug

#9740 fix: Event Analytics Apps not working with new booker
  packages/features/bookings/Booker/Booker.tsx
Labels: automerge, High priority, Urgent

#9713 fix: invite modal
  packages/features/ee/teams/components/MemberInvitationModal.tsx
Labels: 🐛 bug

#9739 fix: Fixed delete event-type button
  apps/web/public/static/locales/de/common.json
Labels: 🐛 bug

#9730 fix: Public Link of pending members is now disabled
  packages/features/ee/teams/components/MemberListItem.tsx
Labels: 🐛 bug, 🏰 Organizations

#9733 fix: Added relevant colors to preset and replaced with tailwind colors
  apps/storybook/styles/storybook-styles.css
  apps/web/styles/globals.css
  packages/config/tailwind-preset.js
  packages/config/theme/colors.css
  packages/ui/components/form/checkbox/Checkbox.tsx
Labels: ✨ feature, ✅ good first issue, linear, Low priority

#9748 feat: New Booker: Disable dialog form in mobile in embed
  packages/features/bookings/Booker/Booker.tsx
Labels: 🐛 bug, High priority

#9734 fix: Error during booking when default app is a Static Link Video App and Event has Organizer default location selected.
  packages/app-store/locations.ts
  packages/core/videoClient.ts
  packages/features/bookings/lib/handleNewBooking.ts
Labels: 🐛 bug, High priority

#9531 feat: Add google spam warning on booking confirmation page for gmail users ( CALCOM-9247)
  apps/web/pages/booking/[uid].tsx
  apps/web/public/static/locales/en/common.json
  packages/ui/components/alert/Alert.tsx
Labels: Medium priority

#9764 chore: Adding team and org registration suggestion in 404 error
  apps/web/pages/404.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/ee/organizations/components/CreateANewOrganizationForm.tsx
  packages/features/ee/teams/components/CreateANewTeamForm.tsx
Labels: 🏰 Organizations

#9772 fix: Broken Heroku Image in README.md
  README.md
Labels: 🐛 bug

#9770 fix: borders-on-weekly-view
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/components/Header.tsx
  packages/features/calendars/weeklyview/components/Calendar.tsx
  packages/features/calendars/weeklyview/components/DateValues/index.tsx
Labels: 🐛 bug, ✅ good first issue, ⚡ Quick Wins, Low priority

#9612 fix: don't show tool-tip when negative or zero recurring events
  apps/web/components/booking/pages/BookingPage.tsx
  packages/features/bookings/components/event-meta/Occurences.tsx
Labels: 🐛 bug, Low priority

#9762 fix: Removing 2fa text that appears twice
  apps/web/components/security/DisableTwoFactorModal.tsx
  apps/web/components/settings/DisableTwoFactorModal.tsx
Labels: 🐛 bug

#9504 feat: disable workflows and webhooks for orgs + UI changes [CAL-1873]
  packages/features/ee/teams/components/MemberListItem.tsx
  packages/features/ee/teams/pages/team-profile-view.tsx
  packages/features/ee/workflows/components/DeleteDialog.tsx
  packages/features/ee/workflows/components/EmptyScreen.tsx
  packages/features/ee/workflows/components/WorkflowListPage.tsx
  packages/features/ee/workflows/pages/index.tsx
  packages/features/ee/workflows/pages/workflow.tsx
  packages/features/filters/components/TeamsFilter.tsx
  packages/features/webhooks/pages/webhooks-view.tsx
  packages/trpc/server/routers/viewer/eventTypes/getByViewer.handler.ts
  packages/trpc/server/routers/viewer/webhook/getByViewer.handler.ts
  packages/trpc/server/routers/viewer/workflows/_router.tsx
  packages/trpc/server/routers/viewer/workflows/filteredList.handler.tsx
  packages/trpc/server/routers/viewer/workflows/filteredList.schema.tsx
  packages/trpc/server/routers/viewer/workflows/get.handler.ts
  packages/trpc/server/routers/viewer/workflows/getByViewer.handler.ts
  packages/trpc/server/routers/viewer/workflows/getByViewer.schema.ts
  packages/trpc/server/routers/viewer/workflows/update.handler.ts
  packages/ui/components/avatar/Avatar.tsx
  packages/ui/components/createButton/CreateButtonWithTeamsList.tsx
Labels: High priority, 🏰 Organizations

#9615 feat: allow duplicate availability
  apps/web/pages/availability/index.tsx
  packages/features/schedules/components/ScheduleListItem.tsx
  packages/trpc/server/routers/viewer/availability/schedule/_router.tsx
  packages/trpc/server/routers/viewer/availability/schedule/duplicate.handler.ts
  packages/trpc/server/routers/viewer/availability/schedule/duplicate.schema.ts
Labels: ✨ feature

#9791 fix: fixed layout shift issue of top banner
  packages/features/shell/Shell.tsx
Labels: 🧹 Improvements, ⚡ Quick Wins, Medium priority

#9666 test: New Booker Tests for Embed
  packages/embeds/embed-core/playwright/lib/testUtils.ts
  packages/embeds/embed-core/playwright/tests/action-based.e2e.ts
  packages/embeds/embed-core/playwright/tests/inline.e2e.ts
  packages/embeds/embed-core/playwright/tests/preview.e2e.ts
  packages/embeds/embed-react/playwright/tests/basic.e2e.ts
Labels: automerge, automated tests, embed

#9714 fix: Embed - Better support for layout config(without flash of default toggle)
  apps/web/components/Embed.tsx
  apps/web/next.config.js
  apps/web/test/lib/next-config.test.ts
  packages/embeds/embed-core/index.html
  packages/embeds/embed-core/playground.ts
  packages/embeds/embed-core/src/embed-iframe.ts
  packages/embeds/embed-core/src/embed.ts
  packages/features/bookings/Booker/Booker.tsx
Labels: High priority, embed

#9806 fix: adds triggerEvent attribute to meeting ended webhook
  packages/app-store/zapier/lib/nodeScheduler.ts
Labels: 🐛 bug

#9804 fix: custom meeting link overflowing
  packages/features/bookings/components/event-meta/Details.tsx
Labels: 🐛 bug

#9756 feat: update insights filters UI
  apps/web/public/static/locales/en/common.json
  packages/features/insights/components/AverageEventDurationChart.tsx
  packages/features/insights/components/BookingKPICards.tsx
  packages/features/insights/components/BookingStatusLineChart.tsx
  packages/features/insights/components/LeastBookedTeamMembersTable.tsx
  packages/features/insights/components/MostBookedTeamMembersTable.tsx
  packages/features/insights/components/PopularEventsTable.tsx
  packages/features/insights/context/FiltersProvider.tsx
  packages/features/insights/context/provider.ts
  packages/features/insights/filters/DateSelect.tsx
  packages/features/insights/filters/EventTypeList.tsx
  packages/features/insights/filters/FilterType.tsx
  packages/features/insights/filters/TeamAndSelfList.tsx
  packages/features/insights/filters/UsersListInTeam.tsx
  packages/features/insights/filters/index.tsx
  packages/features/insights/server/trpc-router.ts
  packages/trpc/server/routers/viewer/teams/listMembers.handler.ts
  packages/ui/components/form/dropdown/Dropdown.tsx
Labels: High priority, 🏰 Organizations

#9820 fix: Forever increasing scroll height in embed in month_view on certain screen size.
  packages/features/bookings/Booker/Booker.tsx
Labels: new-booker

#9728 chore: Subdomain blacklist when creating org
  .env.example
  packages/features/ee/organizations/lib/orgDomains.ts
  packages/features/test/orgDomains.test.ts
  packages/lib/constants.ts
  packages/trpc/server/routers/viewer/organizations/create.handler.ts
  turbo.json
Labels: High priority, ❗️ .env changes, 🏰 Organizations

#9727 fix: Make sure we get slug to decide things
  packages/trpc/server/routers/viewer/organizations/update.handler.ts
Labels: High priority, 🏰 Organizations

#9769 fix: Slot reservation in new booker
  packages/features/bookings/Booker/components/AvailableTimeSlots.tsx
  packages/features/bookings/Booker/components/BookEventForm/BookEventForm.tsx
Labels: High priority

#9833 chore: increase operations-per-run for stale issues job
  .github/workflows/cron-stale-issue.yml
Labels: Medium priority

#9814 Updated CONTRIBUTING.md
  CONTRIBUTING.md
Labels: 🐛 bug

#9832 fix: Toast is removed using onClick
  packages/ui/components/toast/showToast.tsx
Labels: 🐛 bug, 🤔 can't reproduce, Low priority, UI

#9306 chore: recategorize apps
  .env.example
  .github/workflows/cron-syncAppMeta.yml
  .github/workflows/env-create-file.yml
  app.json
  apps/web/components/eventtype/EventSetupTab.tsx
  apps/web/next.config.js
  apps/web/pages/api/cron/syncAppMeta.ts
  apps/web/pages/apps/installed/[category].tsx
  apps/web/public/app-categories/conferencing.svg
  apps/web/public/app-categories/messaging.svg
  apps/web/public/static/locales/en/common.json
  packages/app-store-cli/src/components/AppCreateUpdateForm.tsx
  packages/app-store/_utils/getAppCategories.ts
  packages/app-store/_utils/getInstalledAppPath.ts
  packages/app-store/around/config.json
  packages/app-store/campfire/config.json
  packages/app-store/closecom/config.json
  packages/app-store/dailyvideo/_metadata.ts
  packages/app-store/discord/config.json
  packages/app-store/eightxeight/config.json
  packages/app-store/facetime/config.json
  packages/app-store/googlevideo/_metadata.ts
  packages/app-store/hubspot/_metadata.ts
  packages/app-store/huddle01video/_metadata.ts
  packages/app-store/jitsivideo/_metadata.ts
  packages/app-store/mirotalk/config.json
  packages/app-store/office365video/config.json
  packages/app-store/ping/config.json
  packages/app-store/raycast/config.json
  packages/app-store/riverside/config.json
  packages/app-store/routing-forms/config.json
  packages/app-store/salesforce/config.json
  packages/app-store/sendgrid/config.json
  packages/app-store/signal/config.json
  packages/app-store/sirius_video/config.json
  packages/app-store/sylapsvideo/config.json
  packages/app-store/tandemvideo/_metadata.ts
  packages/app-store/telegram/config.json
  packages/app-store/templates/event-type-location-video-static/config.json
  packages/app-store/typeform/config.json
  packages/app-store/utils.ts
  packages/app-store/vital/_metadata.ts
  packages/app-store/webex/config.json
  packages/app-store/whatsapp/config.json
  packages/app-store/whereby/config.json
  packages/app-store/wipemycalother/_metadata.ts
  packages/app-store/zohocrm/config.json
  packages/app-store/zoomvideo/_metadata.ts
  packages/features/apps/AdminAppsList.tsx
  packages/prisma/migrations/20230603115613_reorganise_app_categories/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/seed-app-store.config.json
  packages/prisma/seed-app-store.ts
  packages/trpc/server/routers/viewer/apps/listLocal.handler.ts
  packages/trpc/server/routers/viewer/apps/toggle.handler.ts
  packages/types/environment.d.ts
  turbo.json
Labels: ❗️ migrations, Medium priority, Low priority, ❗️ .env changes, 💎 Bounty

#9497 docs: Fix markdownlint issues
  SECURITY.md
Labels: Low priority

#9792 perf: improve event types single page loading speed
  apps/web/components/eventtype/ManagedEventDialog.tsx
  apps/web/pages/event-types/[type]/index.tsx
Labels: 🧹 Improvements, performance

#9629 feat: Add divider and set spacing on modals with the type=creation prop (feat-add-divider)
  apps/web/components/Embed.tsx
  apps/web/components/settings/DisableTwoFactorModal.tsx
  apps/web/components/settings/EnableTwoFactorModal.tsx
  apps/web/pages/settings/my-account/profile.tsx
  packages/app-store/office365video/components/AccountDialog.tsx
  packages/app-store/routing-forms/components/FormActions.tsx
  packages/features/apps/AdminAppsList.tsx
  packages/features/apps/components/AppSetDefaultLinkDialog.tsx
  packages/features/bookings/components/event-meta/Occurences.tsx
  packages/features/calendars/weeklyview/components/Calendar.tsx
  packages/features/calendars/weeklyview/components/DateValues/index.tsx
  packages/features/ee/api-keys/components/ApiKeyDialogForm.tsx
  packages/features/ee/sso/components/OIDCConnection.tsx
  packages/features/ee/sso/components/SAMLConnection.tsx
  packages/features/ee/teams/components/InviteLinkSettingsModal.tsx
  packages/features/ee/teams/components/MemberChangeRoleModal.tsx
  packages/features/ee/teams/components/MemberInvitationModal.tsx
  packages/features/ee/teams/components/MemberListItem.tsx
  packages/features/ee/workflows/components/AddActionDialog.tsx
  packages/features/ee/workflows/components/WorkflowStepContainer.tsx
  packages/features/eventtypes/components/BulkEditDefaultConferencingModal.tsx
  packages/features/eventtypes/components/CreateEventTypeDialog.tsx
  packages/features/eventtypes/components/DuplicateDialog.tsx
  packages/features/form-builder/FormBuilder.tsx
  packages/features/settings/TimezoneChangeDialog.tsx
  packages/ui/components/dialog/Dialog.tsx
Labels: Low priority

#9501 fix: add floating button tests
  packages/embeds/embed-core/playground.ts
  packages/embeds/embed-core/playwright/tests/action-based.e2e.ts
Labels: 🙋🏻‍♂️help wanted, Low priority, 💎 Bounty, automated tests

#9810 fix: api date picker to drop down
  apps/web/public/static/locales/en/common.json
  packages/features/ee/api-keys/components/ApiKeyDialogForm.tsx
Labels: 🐛 bug, Low priority, 💎 Bounty, UI

#9551 feat: insights orgs [CAL-1888]
  apps/web/pages/insights/index.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/insights/components/AverageEventDurationChart.tsx
  packages/features/insights/components/BookingKPICards.tsx
  packages/features/insights/components/BookingStatusLineChart.tsx
  packages/features/insights/components/LeastBookedTeamMembersTable.tsx
  packages/features/insights/components/MostBookedTeamMembersTable.tsx
  packages/features/insights/components/PopularEventsTable.tsx
  packages/features/insights/context/FiltersProvider.tsx
  packages/features/insights/context/provider.ts
  packages/features/insights/filters/DateSelect.css
  packages/features/insights/filters/DateSelect.tsx
  packages/features/insights/filters/EventTypeList.tsx
  packages/features/insights/filters/FilterType.tsx
  packages/features/insights/filters/TeamAndSelfList.tsx
  packages/features/insights/filters/UsersListInTeam.tsx
  packages/features/insights/filters/index.tsx
  packages/features/insights/server/events.ts
  packages/features/insights/server/trpc-router.ts
  packages/features/schedules/components/ScheduleListItem.tsx
  packages/trpc/server/routers/viewer/teams/listMembers.handler.ts
  packages/ui/components/form/dropdown/Dropdown.tsx
Labels: High priority, 🏰 Organizations

#9596 fix: [CAL-1959] Removed duplicate value warnings on starting dev server
  apps/web/public/static/locales/en/common.json
  packages/features/ee/api-keys/components/ApiKeyDialogForm.tsx
  packages/features/ee/organizations/components/CreateANewOrganizationForm.tsx
  packages/features/ee/organizations/components/OrgUpgradeBanner.tsx
  packages/features/ee/teams/components/CreateANewTeamForm.tsx
  packages/features/ee/teams/components/MemberInvitationModal.tsx
  packages/features/ee/teams/components/TeamsUpgradeBanner.tsx
  packages/features/ee/workflows/components/EmptyScreen.tsx
  packages/features/eventtypes/components/CheckedTeamSelect.tsx
  packages/features/form-builder/FormBuilder.tsx
  packages/features/settings/BookerLayoutSelector.tsx
  packages/ui/components/apps/AllApps.tsx
Labels: 🐛 bug, ✅ good first issue, Low priority

#9848 chore: Adds auto increment ID to members table
  packages/prisma/migrations/20230629124638_membership_autoinc_id/migration.sql
  packages/prisma/schema.prisma
Labels: ❗️ migrations

#9861 fix: message for mandatory name field on profile
  apps/web/pages/settings/my-account/profile.tsx
  apps/web/public/static/locales/en/common.json
Labels: 🐛 bug, Low priority, 🏰 Organizations

#9789 fix: allow backtracking while adding new time slots in availability
  packages/features/schedules/components/Schedule.tsx
Labels: 🐛 bug, automerge

#9862 fix: missing translations for workflow variables
  apps/web/public/static/locales/en/common.json
Labels: 🐛 bug

#9865 fix: modal width while removing installed apps
  packages/features/apps/components/DisconnectIntegrationModal.tsx
Labels: 🐛 bug, 🙋🏻‍♂️help wanted
