Repository calcom/cal.com, pull requests merged in 2023-10, with the labels that each got.

#11628 fix: app that dont require setup page
  apps/web/playwright/payment-apps.e2e.ts
  packages/app-store/_components/AppCard.tsx
  packages/trpc/server/routers/loggedInViewer/integrations.handler.ts
Labels: core

#11633 fix: inverted logos and new logo for cal video
  apps/web/components/eventtype/EventSetupTab.tsx
  apps/web/components/ui/form/LocationSelect.tsx
  packages/app-store/dailyvideo/static/icon.svg
  packages/features/bookings/components/event-meta/AvailableEventLocations.tsx
  packages/lib/invertLogoOnDark.ts
Labels: app-store, ⚡ Quick Wins, High priority, Low priority, core

#11646 test: Booking flow App failure and ics file tests and improved logging
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  apps/web/test/utils/bookingScenario/expects.ts
  package.json
  packages/app-store/_utils/getCalendar.ts
  packages/core/CalendarManager.ts
  packages/core/EventManager.ts
  packages/core/getCalendarsEvents.ts
  packages/core/videoClient.ts
  packages/emails/src/components/LocationInfo.tsx
  packages/features/bookings/lib/handleNewBooking.test.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/isEventTypeLoggingEnabled.ts
  packages/lib/piiFreeData.ts
  packages/lib/sync/SyncServiceManager.ts
  packages/lib/testEmails.ts
  packages/trpc/server/routers/viewer/slots/util.ts
  yarn.lock
Labels: core

#10663 fix: Add 240 and 480 mins. options for multiple duration events
  apps/web/components/eventtype/EventSetupTab.tsx
Labels: ✨ feature, 👩‍🔬 needs investigation, Low priority, booking-page

#11653 fix: booker skeleton layout shift
  packages/features/bookings/Booker/components/AvailableTimeSlots.tsx
  packages/features/bookings/components/AvailableTimes.tsx
  packages/features/bookings/components/AvailableTimesHeader.tsx
Labels: core

#10714 feat: #1490 [CAL-422] Intercom App
  packages/app-store/apps.keys-schemas.generated.ts
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.schemas.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/intercom/DESCRIPTION.md
  packages/app-store/intercom/api/add.ts
  packages/app-store/intercom/api/callback.ts
  packages/app-store/intercom/api/configure.ts
  packages/app-store/intercom/api/index.ts
  packages/app-store/intercom/api/initialize.ts
  packages/app-store/intercom/components/.gitkeep
  packages/app-store/intercom/config.json
  packages/app-store/intercom/index.ts
  packages/app-store/intercom/lib/index.ts
  packages/app-store/intercom/lib/isValidCalURL.ts
  packages/app-store/intercom/package.json
  packages/app-store/intercom/static/1.png
  packages/app-store/intercom/static/2.png
  packages/app-store/intercom/static/3.png
  packages/app-store/intercom/static/icon.svg
  packages/app-store/intercom/zod.ts
Labels: ✨ feature, 🙋🏻‍♂️help wanted, app-store, Low priority, 💎 Bounty

#11668 fix: Use only the first connected calendar as fallback to create event
  packages/core/CalendarManager.ts
  packages/core/EventManager.ts
  packages/lib/piiFreeData.ts
Labels: High priority, core

#11696 fix: google calendar busy times
  packages/features/bookings/Booker/Booker.tsx
Labels: 🐛 bug, High priority, core, calendar-apps

#11474 fix: rescheduled value DB update on reschedule and insights view cancelleds
  apps/web/playwright/insights.e2e.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/insights/context/FiltersProvider.tsx
  packages/features/insights/filters/TeamAndSelfList.tsx
  packages/prisma/migrations/20230921002822_fix_booking_time_status/migration.sql
Labels: 🐛 bug, ❗️ migrations, 👩‍🔬 needs investigation, Medium priority, insights, core

#11703 fix: buffer dropdown text
  apps/web/components/eventtype/EventLimitsTab.tsx
Labels: core

#11344 test: RFC: tests for EventTypeAppCardInterface (CALCOM-11005 )
  packages/app-store/_components/eventTypeAppCardInterface.test.tsx
  packages/app-store/test-setup.ts
  vitest.workspace.ts
Labels: Low priority, core

#11711 fix: fixes organization table UI flickers and adds sticky search & filter + table header
  packages/ui/components/data-table/DataTableToolbar.tsx
  packages/ui/components/data-table/index.tsx
  packages/ui/components/table/TableNew.tsx
Labels: 🐛 bug, Low priority, organizations

#11504 fix: location icon doesn't change according to theme
  apps/web/components/eventtype/EventSetupTab.tsx
  apps/web/public/map-pin-dark.svg
  packages/app-store/locations.ts
  packages/features/bookings/components/event-meta/AvailableEventLocations.tsx
Labels: automerge, ⚡ Quick Wins, Low priority

#11705 fix: Single Use Private link does not regenerate after use
  apps/web/pages/d/[link]/[slug].tsx
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/components/BookEventForm/BookEventForm.tsx
  packages/features/bookings/Booker/types.ts
  packages/features/bookings/lib/book-event-form/booking-to-mutation-input-mapper.tsx
Labels: 🐛 bug, High priority, 📉 regressing

#11727 chore: experimental warning for recurring events
  apps/web/components/eventtype/RecurringEventController.tsx
Labels: core

#11729 chore: more contrast for cal video
  apps/web/pages/video/[uid].tsx
Labels: ✨ feature, core

#11733 fix: Backwards compatibility on google reschedule/cancel
  packages/app-store/googlecalendar/lib/CalendarService.ts
Labels: core

#11735 fix: check if appslug exist
  packages/features/bookings/lib/handleNewBooking.ts
Labels: core

#11714 feat: add parentid eventtype API along with children eventTypeIds
  apps/api/lib/validations/event-type.ts
  apps/api/pages/api/event-types/[id]/_get.ts
  apps/api/pages/api/event-types/_get.ts
  apps/api/pages/api/event-types/_post.ts
  apps/api/pages/api/event-types/_utils/checkParentEventOwnership.ts
  apps/api/pages/api/event-types/_utils/checkUserMembership.ts
Labels: ✨ feature, 🤔 needs prioritisation, api, core

#11667 fix: seated event type public id cancels/reschedule entire booking without auth
  apps/web/pages/[user]/[type].tsx
  apps/web/pages/booking/[uid].tsx
  apps/web/pages/d/[link]/[slug].tsx
  apps/web/pages/reschedule/[uid].tsx
  apps/web/pages/team/[slug]/[type].tsx
  apps/web/playwright/booking-seats.e2e.ts
  packages/features/bookings/Booker/components/BookEventForm/BookEventForm.tsx
  packages/features/bookings/Booker/components/BookEventForm/BookingFields.tsx
  packages/features/bookings/components/BookerSeo.tsx
  packages/features/bookings/lib/get-booking.ts
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/lib/server/maybeGetBookingUidFromSeat.ts
Labels: 🐛 bug, Urgent, seats, core

#11740 fix: API cold boot issues
  apps/api/pages/api/slots/_get.ts
  apps/web/pages/api/link.ts
  packages/app-store/cal-ai/api/_getAdd.ts
Labels: 🐛 bug, linear, High priority, api, performance, core

#11750 fix: decreased top and bottom padding
  packages/features/shell/Shell.tsx
Labels: 🧹 Improvements, ⚡ Quick Wins

#10938 fix: InputField storybook file is not rendering (fix-inputField)
  packages/ui/components/form/inputs/inputs.stories.mdx
Labels: Low priority, core

#10867 chore: add Navigation in storybook (CALCOM-10760)
  packages/lib/hooks/useUrlMatchesCurrentUrl.ts
  packages/ui/components/navigation/tabs/__stories__/horizontalTabs.stories.mdx
  packages/ui/components/navigation/tabs/__stories__/verticalTabs.stories.mdx
Labels: Low priority, core

#11220 fix: Dialog is open after adding a new overwrite
  apps/web/playwright/availability.e2e.ts
  packages/features/schedules/components/DateOverrideInputDialog.tsx
  packages/ui/components/dialog/Dialog.tsx
Labels: 🐛 bug, ⚡ Quick Wins, Low priority

#11307 docs: add an alternate approach to seed local database
  README.md
Labels: Stale

#11764 chore: throw toast when adding a new date overwrite
  apps/web/public/static/locales/en/common.json
  packages/features/schedules/components/DateOverrideInputDialog.tsx
Labels: 🐛 bug, ✅ good first issue

#11765 feat: added dark mode to login, logout, password reset
  apps/web/components/ui/AuthContainer.tsx
  apps/web/pages/auth/forgot-password/[id].tsx
  apps/web/pages/auth/forgot-password/index.tsx
  apps/web/pages/auth/login.tsx
  apps/web/pages/auth/logout.tsx
Labels: ✨ feature, core, ai

#10903 fix: Hide SAML/OIDC login button if no sso connection exists (Self hosted instance)
  apps/web/pages/auth/login.tsx
  apps/web/playwright/login.oauth.e2e.ts
  packages/trpc/server/routers/publicViewer/_router.tsx
  packages/trpc/server/routers/publicViewer/ssoConnections.handler.ts
Labels: Medium priority, Low priority, authentication

#11769 add yarn lockfile section for contributors
  CONTRIBUTING.md
Labels: core, ai

#11442 fix: update inlang project settings file
  inlang.config.js
  project.inlang.json
Labels: Stale

#11303 feat: Embed - Introduce `prerender` instruction - Lightning fast popup experience
  apps/web/playwright/fixtures/embeds.ts
  apps/web/playwright/lib/fixtures.ts
  apps/web/playwright/lib/testUtils.ts
  packages/embeds/.eslintrc.js
  packages/embeds/embed-core/index.html
  packages/embeds/embed-core/playground.ts
  packages/embeds/embed-core/playwright/lib/testUtils.ts
  packages/embeds/embed-core/playwright/tests/action-based.e2e.ts
  packages/embeds/embed-core/playwright/tests/inline.e2e.ts
  packages/embeds/embed-core/src/ModalBox/ModalBox.ts
  packages/embeds/embed-core/src/embed-iframe.ts
  packages/embeds/embed-core/src/embed.ts
  packages/embeds/embed-react/playwright/tests/basic.e2e.ts
  playwright.config.ts
Labels: Medium priority, embed, performance, core

#11670 test: Add collective scheduling tests
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  apps/web/test/utils/bookingScenario/expects.ts
  packages/app-store/appStoreMetaData.ts
  packages/app-store/getNormalizedAppMetadata.ts
  packages/app-store/utils.ts
  packages/core/EventManager.ts
  packages/core/getUserAvailability.ts
  packages/core/videoClient.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/test/booking-limits.test.ts
  packages/features/bookings/lib/handleNewBooking/test/dynamic-group-booking.test.ts
  packages/features/bookings/lib/handleNewBooking/test/fresh-booking.test.ts
  packages/features/bookings/lib/handleNewBooking/test/lib/createMockNextJsRequest.ts
  packages/features/bookings/lib/handleNewBooking/test/lib/getMockRequestDataForBooking.ts
  packages/features/bookings/lib/handleNewBooking/test/lib/setupAndTeardown.ts
  packages/features/bookings/lib/handleNewBooking/test/managed-event-type-booking.test.ts
  packages/features/bookings/lib/handleNewBooking/test/reschedule.test.ts
  packages/features/bookings/lib/handleNewBooking/test/team-bookings/collective-scheduling.test.ts
  packages/lib/piiFreeData.ts
  vitest.config.ts
Labels: Medium priority, core

#11781 fix: add prisma import
  packages/trpc/server/routers/viewer/teams/resendInvitation.handler.ts
Labels: core

#11693 feat: overlay your calendar
  apps/web/playwright/overlay-calendar.e2e.ts
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/Booker/components/AvailableTimeSlots.tsx
  packages/features/bookings/Booker/components/EventMeta.tsx
  packages/features/bookings/Booker/components/Header.tsx
  packages/features/bookings/Booker/components/LargeCalendar.tsx
  packages/features/bookings/Booker/components/OverlayCalendar/OverlayCalendarContainer.tsx
  packages/features/bookings/Booker/components/OverlayCalendar/OverlayCalendarContinueModal.tsx
  packages/features/bookings/Booker/components/OverlayCalendar/OverlayCalendarSettingsModal.tsx
  packages/features/bookings/Booker/components/OverlayCalendar/store.ts
  packages/features/bookings/Booker/components/hooks/useLocalSet.tsx
  packages/features/bookings/Booker/config.ts
  packages/features/bookings/components/AvailableTimes.tsx
  packages/features/bookings/lib/useCheckOverlapWithOverlay.tsx
  packages/trpc/server/routers/viewer/availability/_router.tsx
  packages/trpc/server/routers/viewer/availability/calendarOverlay.handler.ts
  packages/trpc/server/routers/viewer/availability/calendarOverlay.schema.ts
Labels: ❗️ migrations, core

#11794 fix: Remove credentials and some ts fixes
  packages/app-store/server.ts
  packages/lib/getEventTypeById.ts
Labels: core

#11807 fix: fetching booking with null responses from API
  apps/api/lib/validations/booking.ts
Labels: 🐛 bug, High priority, api

#11806 fix: Bring back dir attr using Intl
  apps/web/pages/_document.tsx
Labels: 🐛 bug, 🧹 Improvements, core

#11800 fix: improper border in event-types
  packages/features/settings/BookerLayoutSelector.tsx
Labels: 🐛 bug, 🧹 Improvements, ⚡ Quick Wins, Low priority, event-types

#11808 fix: newLocale fallback to 'en' locale
  apps/web/pages/_document.tsx
Labels: core

#11615 refactor: event type settings improvements
  apps/web/components/eventtype/EventAdvancedTab.tsx
  apps/web/components/eventtype/EventLimitsTab.tsx
  apps/web/components/eventtype/EventSetupTab.tsx
  apps/web/components/eventtype/EventWebhooksTab.tsx
  apps/web/components/eventtype/RecurringEventController.tsx
  apps/web/components/eventtype/RequiresConfirmationController.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/form-builder/FormBuilder.tsx
  packages/features/settings/BookerLayoutSelector.tsx
  packages/ui/components/arrow-button/ArrowButton.tsx
  packages/ui/components/form/inputs/Label.tsx
  packages/ui/components/form/switch/SettingsToggle.tsx
Labels: core

#11825 test: api-middleware
  apps/api/test/lib/bookings/_post.test.ts
  apps/api/test/lib/middleware/addRequestId.test.ts
  apps/api/test/lib/middleware/httpMethods.test.ts
  apps/api/test/lib/middleware/verifyApiKey.test.ts
  vitest.workspace.ts
Labels: core

#11835 fix: Revert deletion of getLocaleFromRequest in #11534
  packages/lib/getLocaleFromRequest.ts
Labels: core

#11820 fix: missing last day of month
  packages/features/calendars/DatePicker.tsx
  packages/lib/date-ranges.test.ts
  packages/lib/date-ranges.ts
Labels: 🐛 bug, High priority, core

#11836 fix: [CAL-2612] missing icon: request reschedule fixed #11829
  apps/web/components/dialog/RescheduleDialog.tsx
Labels: ✅ good first issue, ⚡ Quick Wins, Low priority, ui

#11783 feat: Add rate limting to API
  apps/api/lib/helpers/rateLimitApiKey.ts
  apps/api/lib/helpers/withMiddleware.ts
  packages/lib/rateLimit.ts
Labels: High priority, core

#11775 fix: Embed breaks back button behavior
  packages/features/embed/lib/EmbedTabs.tsx
Labels: 🐛 bug, 🙋🏻‍♂️help wanted, Medium priority, 💎 Bounty, embed, 🙋 Bounty claim

#11832 fix: Change sidebar skeleton width to w-full, better for i18n
  packages/features/shell/Shell.tsx
Labels: core

#11819 fix: overlay-switch-media-query
  packages/features/bookings/Booker/components/OverlayCalendar/OverlayCalendarContainer.tsx
Labels: core

#11817 fix: Remove overlay from embed
  packages/features/bookings/Booker/components/OverlayCalendar/OverlayCalendarContainer.tsx
Labels: Medium priority, core

#11759 feat: Adding Elestio as a deployment option
  README.md
Labels: ✨ feature, app-store

#11588 chore: fix CR line endings from es lint (prettier/prettier)
  packages/config/prettier-preset.js
Labels: 🐛 bug

#11432 fix: missing types export from @calcom/embed-react (ECMAScript modules)
  packages/embeds/embed-react/package.json
Labels: Stale

#11854 chore: cal.ai app store entry
  packages/app-store/cal-ai/DESCRIPTION.md
  packages/app-store/cal-ai/config.json
  packages/app-store/cal-ai/static/1.jpg
  packages/app-store/cal-ai/static/2.jpg
  packages/app-store/cal-ai/static/3.jpg
  packages/app-store/cal-ai/static/4.jpg
  packages/app-store/cal-ai/static/5.jpg
Labels: ✨ feature, app-store, core, ai

#11845 fix: reduce no-response errors in cal ai with increase of timeout threshold
  apps/ai/src/app/api/agent/route.ts
  apps/ai/src/app/api/receive/route.ts
Labels: Medium priority, ai

#11666 chore: upgrade to prisma 5.4.2
  apps/web/test/lib/checkBookingLimits.test.ts
  apps/web/test/lib/handleChildrenEventTypes.test.ts
  apps/web/test/lib/team-event-types.test.ts
  packages/app-store/googlecalendar/lib/CalendarService.test.ts
  packages/features/ee/managed-event-types/lib/handleChildrenEventTypes.ts
  packages/prisma/package.json
  packages/trpc/server/routers/viewer/bookings/get.handler.ts
  yarn.lock
Labels: High priority, core

#11722 fix: Function sendScheduledSeatsEmails ignore rule 'Disable default confirmation emails for attendees'
  packages/emails/email-manager.ts
  packages/features/bookings/lib/handleNewBooking.ts
Labels: 🐛 bug, 🙋🏻‍♂️help wanted, Medium priority, seats, workflows

#11867 fix: added missing prisma imports
  apps/api/pages/api/event-types/_post.ts
  apps/api/pages/api/event-types/_utils/checkParentEventOwnership.ts
  apps/api/pages/api/event-types/_utils/checkUserMembership.ts
Labels: core

#11789 chore: Refactors Destination calendar API endpoint with a bunch of fixes
  apps/api/lib/utils/extractUserIdsFromQuery.ts
  apps/api/lib/validations/destination-calendar.ts
  apps/api/pages/api/destination-calendars/[id].ts
  apps/api/pages/api/destination-calendars/[id]/_auth-middleware.ts
  apps/api/pages/api/destination-calendars/[id]/_delete.ts
  apps/api/pages/api/destination-calendars/[id]/_get.ts
  apps/api/pages/api/destination-calendars/[id]/_patch.ts
  apps/api/pages/api/destination-calendars/[id]/index.ts
  apps/api/pages/api/destination-calendars/_get.ts
  apps/api/pages/api/destination-calendars/_post.ts
  apps/api/pages/api/destination-calendars/index.ts
Labels: 🐛 bug, High priority, api, core, ai

#11874 chore: new intercom icon
  packages/app-store/intercom/static/icon.svg
Labels: core, ai

#11847 fix: Button icons tooltips opening out of view due to padding issue
  apps/web/components/eventtype/EventTypeSingleLayout.tsx
  packages/ui/components/button/Button.tsx
Labels: 🐛 bug, ⚡ Quick Wins, Low priority, ui

#11877 fix: by-pass global unubsribe for from transactional emails
  packages/emails/templates/_base-email.ts
Labels: core

#11848 fix: Requires Confirmation when organizer reschedules
  packages/core/EventManager.ts
  packages/features/bookings/lib/handleBookingRequested.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/test/fresh-booking.test.ts
  packages/features/bookings/lib/handleNewBooking/test/reschedule.test.ts
  packages/lib/testEmails.ts
Labels: High priority, core

#11853 chore: add tests for locale and directionality; set html.dir when the session locale is available
  apps/web/lib/app-providers.tsx
  apps/web/pages/_app.tsx
  apps/web/pages/_document.tsx
  apps/web/playwright/locale.e2e.ts
Labels: High priority

#11868 feat: cal.ai v1.2.0
  apps/ai/.env.example
  apps/ai/README.md
  apps/ai/package.json
  apps/ai/src/app/api/onboard/route.ts
  apps/ai/src/app/api/receive/route.ts
  apps/ai/src/env.mjs
  apps/ai/src/public/architecture.png
  apps/ai/src/tools/createBooking.ts
  apps/ai/src/tools/sendBookingEmail.ts
  apps/ai/src/tools/sendBookingLink.ts
  apps/ai/src/utils/agent.ts
  apps/ai/src/utils/extractUsers.ts
  package.json
  packages/app-store/cal-ai/api/_getAdd.ts
  turbo.json
Labels: ❗️ .env changes

#11889 chore: upgrade nextjs for ai package only
  apps/ai/package.json
Labels: core

#11888 chore: fix AddToHomescreen.tsx
  apps/web/components/AddToHomescreen.tsx
Labels: ⚡ Quick Wins, core

#11884 fix: Overlaying of Override button by toast on mobile.
  packages/features/schedules/components/DateOverrideInputDialog.tsx
Labels: 🐛 bug, 🎨 needs design, Medium priority

#11525 test: Non admin members cannot create team in org
  apps/web/pages/teams/index.tsx
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/teams.e2e.ts
  packages/features/ee/teams/components/TeamsListing.tsx
Labels: Medium priority, organizations, core

#11756 fix: [CAL-2593] Uploading a CSV File does not comma separate the values
  packages/features/ee/teams/components/MemberInvitationModal.tsx
Labels: 🐛 bug, Medium priority

#11645 feat: download insights raw data as csv
  apps/web/playwright/insights.e2e.ts
  apps/web/public/static/locales/en/common.json
  packages/features/insights/context/FiltersProvider.tsx
  packages/features/insights/filters/Download/index.tsx
  packages/features/insights/filters/index.tsx
  packages/features/insights/server/events.ts
  packages/features/insights/server/raw-data.schema.ts
  packages/features/insights/server/trpc-router.ts
  packages/prisma/migrations/20231001101010_add_user_email_to_booking_time_status/migration.sql
  packages/prisma/schema.prisma
Labels: ❗️ migrations, Medium priority, core

#11907 feat: Weekly calendar event border color
  packages/features/bookings/Booker/components/LargeCalendar.tsx
  packages/features/calendars/weeklyview/_storybookData.ts
  packages/features/calendars/weeklyview/components/event/Event.tsx
  packages/features/calendars/weeklyview/components/event/EventList.tsx
  packages/features/calendars/weeklyview/types/events.ts
Labels: core

#11852 test: Tests the order of middleware in API
  apps/api/lib/helpers/verifyApiKey.ts
  apps/api/lib/helpers/withMiddleware.ts
  apps/api/test/lib/middleware/withMiddleware.test.ts
Labels: Low priority, automated-tests, core

#11880 fix: Adds mandatory credentiaId in Destination Calendar API endpoint POST
  apps/api/lib/validations/destination-calendar.ts
  apps/api/pages/api/destination-calendars/_post.ts
Labels: 🐛 bug, High priority, api, core

#11841 fix: inconsistent timezones in e2e tests
  apps/web/playwright/fixtures/bookings.ts
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/wipe-my-cal.e2e.ts
  playwright.config.ts
Labels: 🐛 bug, High priority, core

#11892 feat: Support moving a user and it's teams to an org as temporary approach
  apps/web/lib/getTemporaryOrgRedirect.ts
  apps/web/pages/[user].tsx
  apps/web/pages/[user]/[type].tsx
  apps/web/pages/org/[orgSlug]/[user]/[type]/embed.tsx
  apps/web/pages/team/[slug].tsx
  apps/web/pages/team/[slug]/[type].tsx
  packages/prisma/migrations/20231014180034_add_temp_org_redirect/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/organizations/list.handler.ts
Labels: ❗️ migrations, High priority, core

#11936 fix: unlock limit tab for managed event types
  apps/web/components/eventtype/EventLimitsTab.tsx
Labels: ✨ feature, High priority, teams, core, event types

#11923 fix: `videoCallUrl` not updating when rescheduling with a broken Calendar integration
  apps/web/package.json
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  apps/web/test/utils/bookingScenario/expects.ts
  packages/emails/src/components/AppsStatus.tsx
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/test/fresh-booking.test.ts
  packages/features/bookings/lib/handleNewBooking/test/reschedule.test.ts
  packages/features/bookings/lib/handleNewBooking/test/team-bookings/collective-scheduling.test.ts
  yarn.lock
Labels: High priority, bookings, core

#11940 chore: Remove users from getSchedule return
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: core

#11937 chore: workflow for unapproved issues
  .github/workflows/comment-unapproved-issues
Labels: core

#11947 chore: Decouple API from tRPC handlers
  apps/api/pages/api/slots/_get.ts
Labels: core

#11946 chore: updat ai port number in readme
  apps/ai/README.md
Labels: core

#11926 chore: updated AI readme
  apps/ai/README.md
Labels: ⚡ Quick Wins, core

#11929 fix: scheduleEmailReminders cron job
  packages/features/ee/workflows/api/scheduleEmailReminders.ts
  packages/prisma/migrations/20231016153526_add_workflow_reminder_indexes/migration.sql
  packages/prisma/schema.prisma
Labels: ❗️ migrations, High priority, Urgent, core

#11898 feat: add rate limiting and more error handling to Cal.ai
  apps/ai/package.json
  apps/ai/src/app/api/agent/route.ts
  apps/ai/src/app/api/receive/route.ts
  packages/lib/checkRateLimitAndThrowError.ts
  packages/lib/rateLimit.ts
Labels: High priority

#11960 fix: failing scheduleEmailReminder cron job
  packages/features/ee/workflows/api/scheduleEmailReminders.ts
Labels: High priority, core

#11961 feat: (Overlay) Persist toggle option
  packages/features/bookings/Booker/components/LargeCalendar.tsx
  packages/features/bookings/Booker/components/OverlayCalendar/OverlayCalendarContainer.tsx
  packages/features/bookings/components/AvailableTimes.tsx
Labels: core

#11967 fix: location dropdown overflow
  apps/web/components/eventtype/EventTypeSingleLayout.tsx
Labels: 🐛 bug, core

#11976 fix: Add /embed route for booking/[uid]
  apps/web/pages/booking/[uid].tsx
  apps/web/pages/booking/[uid]/embed.tsx
Labels: core

#11987 fix: When GCal OAuth Canceled, Do Not Create A Credential
  packages/app-store/googlecalendar/api/callback.ts
Labels: core

#11977 fix: Missing avatar for non-migrated users on team booking page
  apps/web/pages/api/user/avatar.ts
Labels: core

#11866 feat: Shows link location and respective icon in /bookings
  apps/web/components/booking/BookingListItem.tsx
  apps/web/public/static/locales/en/common.json
Labels: ❗️invalid, 🧹 Improvements, ⚡ Quick Wins, Low priority, 💎 Bounty, bookings, 🙋 Bounty claim

#11978 feat: Allow hideBranding via public API
  apps/api/lib/validations/user.ts
  apps/api/pages/api/users/[userId]/_patch.ts
  apps/api/pages/api/users/_post.ts
Labels: ✨ feature, api, core

#11624 fix: added loading state to button
  apps/web/pages/auth/logout.tsx
  apps/web/playwright/login.e2e.ts
Labels: ✅ good first issue, 👩‍🔬 needs investigation, Low priority, ui

#11935 feat: use-primary-by-default-overlay
  packages/features/bookings/Booker/components/OverlayCalendar/OverlayCalendarSettingsModal.tsx
Labels: Medium priority, core

#11996 fix: Handle non-org team with same slug as the organization's requestedSlug
  apps/web/next.config.js
  apps/web/pages/team/[slug].tsx
  packages/lib/server/queries/teams/index.ts
  packages/trpc/server/routers/viewer/organizations/create.handler.ts
Labels: core

#11651 fix: Unable to modify the location of a booking when rescheduling
  apps/web/pages/booking/[uid].tsx
  packages/features/bookings/Booker/components/BookEventForm/BookingFields.tsx
Labels: Medium priority, 🙋 Bounty claim

#12017 fix: get correct count for team members in slider
  packages/trpc/server/routers/viewer/availability/team/listTeamAvailability.handler.ts
Labels: core

#12021 fix: overlay calendar modal
  packages/features/bookings/Booker/components/OverlayCalendar/OverlayCalendarContainer.tsx
  packages/features/bookings/Booker/components/OverlayCalendar/store.ts
Labels: core

#12020 fix: team availability slider overflow
  packages/ui/components/data-table/DataTableToolbar.tsx
Labels: 🐛 bug, ✅ good first issue, ⚡ Quick Wins, ui

#12001 chore: removed "set up your public profile" banner
  apps/web/pages/event-types/index.tsx
  apps/web/public/static/locales/en/common.json
Labels: core, platform

#11968 fix: webhook overflow
  packages/features/webhooks/components/WebhookListItem.tsx
Labels: core

#12008 chore: delete "unapproved issue" workflow
  .github/workflows/comment-unapproved-issues
Labels: core, platform

#12024 revert: "feat: Shows link location and respective icon in /bookings"
  apps/web/components/booking/BookingListItem.tsx
  apps/web/public/static/locales/en/common.json
Labels: core, 🚨 urgent

#12005 chore: [app dir bootstrapping 4] check nullability of navigation hook return values
  apps/web/components/booking/CancelBooking.tsx
  apps/web/components/ui/UsernameAvailability/PremiumTextfield.tsx
  apps/web/lib/hooks/useIsBookingPage.ts
  apps/web/lib/hooks/useRouterQuery.ts
  apps/web/pages/404.tsx
  apps/web/pages/auth/login.tsx
  apps/web/pages/auth/oauth2/authorize.tsx
  apps/web/pages/auth/setup/index.tsx
  apps/web/pages/auth/verify.tsx
  apps/web/pages/booking/[uid].tsx
  apps/web/pages/event-types/index.tsx
  packages/app-store/alby/components/AlbyPaymentComponent.tsx
  packages/app-store/alby/pages/setup/index.tsx
  packages/app-store/routing-forms/components/FormActions.tsx
  packages/app-store/routing-forms/pages/routing-link/[...appPages].tsx
  packages/features/apps/AdminAppsList.tsx
  packages/features/bookings/Booker/components/OverlayCalendar/OverlayCalendarContainer.tsx
  packages/features/bookings/Booker/utils/event.ts
  packages/features/bookings/components/event-meta/Members.tsx
  packages/features/ee/organizations/pages/settings/other-team-members-view.tsx
  packages/features/ee/organizations/pages/settings/other-team-profile-view.tsx
  packages/features/ee/payments/components/Payment.tsx
  packages/features/ee/users/pages/users-add-view.tsx
  packages/features/embed/Embed.tsx
  packages/features/insights/context/FiltersProvider.tsx
  packages/features/shell/Shell.tsx
  packages/features/webhooks/pages/webhook-edit-view.tsx
  packages/lib/bookingSuccessRedirect.ts
Labels: Medium priority

#11969 chore: [app dir bootstrapping 1] generate nonce with native crypto API
  apps/web/lib/buildNonce.test.ts
  apps/web/lib/buildNonce.ts
  apps/web/lib/csp.ts
Labels: Medium priority

#11970 chore: [app dir bootstrapping 2] ensure tests do not have explicit timeouts
  apps/web/playwright/booking-pages.e2e.ts
  apps/web/playwright/lib/testUtils.ts
  apps/web/playwright/manage-booking-questions.e2e.ts
  apps/web/playwright/webhook.e2e.ts
Labels: Low priority, automated-tests

#12019 fix: Date add 1 day adds 24 hours, not 1 day
  packages/features/calendars/DatePicker.tsx
  packages/features/calendars/lib/getAvailableDatesInMonth.test.ts
  packages/features/calendars/lib/getAvailableDatesInMonth.ts
Labels: High priority, bookings, core

#12027 feat: km-localization-cambodia 🇰🇭
  apps/web/public/static/locales/km/common.json
  apps/web/public/static/locales/km/vital.json
  packages/config/next-i18next.config.js
Labels: Low priority, i18n

#12022 chore: improve cal.ai not-installed message
  apps/ai/src/app/api/receive/route.ts
Labels: ⚡ Quick Wins, Low priority, core, platform

#12039 fix: Allow passing secret for the webhooks via API
  apps/api/lib/validations/webhook.ts
  apps/api/pages/api/webhooks/[id]/_patch.ts
  apps/api/pages/api/webhooks/_post.ts
Labels: 🐛 bug, api, core

#11980 chore: [app dir bootstrapping 3] check nullability in AppListCard
  apps/web/components/AppListCard.tsx
  apps/web/playwright/app-list-card.e2e.ts
Labels: 🧹 Improvements, Medium priority

#12043 fix: env.example requesting 24 bytes instead of 32 bytes encryption key
  .env.example
Labels: ❗️ .env changes

#12007 fix: booking day wrong in booking list
  apps/web/components/booking/BookingListItem.tsx
Labels: 🐛 bug, Medium priority, core

#11796 feat: remove location modal in event setup
  apps/web/components/eventtype/EventSetupTab.tsx
  apps/web/components/ui/form/CheckboxField.tsx
  apps/web/pages/event-types/[type]/index.tsx
  apps/web/playwright/event-types.e2e.ts
  apps/web/public/static/locales/en/common.json
Labels: Medium priority, ui, core

#12057 fix: response size scheduleEmailReminder
  packages/features/ee/workflows/api/scheduleEmailReminders.ts
Labels: High priority, core

#12058 fix: re-render on booker
  packages/features/bookings/Booker/components/EventMeta.tsx
  packages/features/bookings/components/AvailableTimes.tsx
  packages/features/bookings/lib/useCheckOverlapWithOverlay.tsx
Labels: core

#12068 fix: prevents prisma idle connections
  packages/prisma/index.ts
Labels: 🐛 bug, Urgent, core

#12066 perf: database index on booking_status_starttime_endtime
  packages/prisma/migrations/20231024173642_idx_booking_status_starttime_endtime/migration.sql
  packages/prisma/schema.prisma
Labels: ❗️ migrations, core

#12070 fix: Teams listing and wrong avatars - Cross org boundary scenario
  apps/web/pages/event-types/index.tsx
  packages/lib/getEventTypeById.ts
  packages/trpc/server/routers/viewer/eventTypes/getByViewer.handler.ts
  packages/trpc/server/routers/viewer/teams/list.handler.ts
Labels: core

#12080 fix/profile-dont-wait-for-avatar
  apps/web/pages/settings/my-account/profile.tsx
Labels: core

#12063 fix: Infinite loop in timezones on the negative side of UTC
  .github/workflows/test.yml
  packages/features/calendars/lib/getAvailableDatesInMonth.timezone.test.ts
  packages/features/calendars/lib/getAvailableDatesInMonth.ts
  vitest.workspace.ts
Labels: 🐛 bug, Urgent, core

#12081 feat: add oldBookingId to reschedule bookings payload
  packages/features/bookings/lib/handleNewBooking.ts
Labels: core

#12084 fix: typefix for webhook and rename oldBookingid to rescheduleId
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/webhooks/lib/sendPayload.ts
Labels: core

#12077 fix: event type invalidation
  packages/features/eventtypes/components/CreateEventTypeDialog.tsx
Labels: 🐛 bug, Medium priority, event-types

#11891 feat: Lock timezone on booking page
  apps/web/components/eventtype/EventAdvancedTab.tsx
  apps/web/pages/[user].tsx
  apps/web/pages/event-types/[type]/index.tsx
  apps/web/public/static/locales/en/common.json
  apps/web/test/lib/handleChildrenEventTypes.test.ts
  packages/features/bookings/Booker/components/EventMeta.tsx
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/eventtypes/lib/getPublicEvent.ts
  packages/lib/defaultEvents.ts
  packages/lib/getEventTypeById.ts
  packages/lib/test/builder.ts
  packages/prisma/migrations/20231020090443_add_lock_timezone_toggle/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/selects/event-types.ts
Labels: ✨ feature, ❗️ migrations, Low priority

#12087 fix: embed rewrites post dotted usernames
  apps/web/next.config.js
Labels: 🐛 bug, Urgent, core

#11982 chore: [app dir bootstrapping 5] add RootLayout
  .yarn/patches/libphonenumber-js-npm-1.10.12-51c84f8bf1.patch
  apps/web/app/layout.tsx
  apps/web/components/PageWrapperAppDir.tsx
  apps/web/lib/app-providers-app-dir.tsx
  package.json
  yarn.lock
Labels: Medium priority

#11995 chore: [app dir bootstrapping 6] server-side translations
  .yarn/patches/next-i18next-npm-13.3.0-bf25b0943c.patch
  apps/web/playwright/locale.e2e.ts
  apps/web/server/lib/ssg.ts
  apps/web/server/lib/ssr.ts
  package.json
  packages/features/auth/lib/getLocale.ts
  yarn.lock
Labels: Medium priority

#12071 fix: Embed Plus Org - Adds missing embed route, also fixes infinite redirection for migrated user in embed
  apps/web/lib/getTemporaryOrgRedirect.test.ts
  apps/web/lib/getTemporaryOrgRedirect.ts
  apps/web/lib/withEmbedSsr.test.ts
  apps/web/lib/withEmbedSsr.tsx
  apps/web/pages/[user].tsx
  apps/web/pages/[user]/[type].tsx
  apps/web/pages/org/[orgSlug]/[user]/embed.tsx
  apps/web/pages/team/[slug].tsx
  apps/web/pages/team/[slug]/[type].tsx
  apps/web/playwright/booking-seats.e2e.ts
  packages/prisma/schema.prisma
Labels: High priority, organizations, core

#12078 fix: fix the padding and position of tabs on the Team Availability page and Organisation Members page
  packages/features/timezone-buddy/components/AvailabilitySliderTable.tsx
  packages/ui/components/data-table/DataTableToolbar.tsx
Labels: 🐛 bug, 🧹 Improvements, Low priority

#12106 fix: pull managed event type bookings in zapier
  packages/features/webhooks/lib/scheduleTrigger.ts
Labels: core

#11962 split date ranges for calling /freebusy endpoint
  packages/app-store/googlecalendar/lib/CalendarService.ts
Labels: Medium priority, core

#11963 fix: use app.slug not hard coded zoom
  packages/app-store/zoomvideo/lib/VideoApiAdapter.ts
Labels: 🧹 Improvements, Medium priority

#12108 fix: cron scheduleEmailRemider time out
  packages/features/ee/workflows/api/scheduleEmailReminders.ts
Labels: core

#12111 fix: adding managed event type to workflow
  packages/trpc/server/routers/viewer/workflows/update.handler.ts
Labels: Medium priority, core

#12095 test: E2E for Orgs - The beginning
  apps/web/pages/404.tsx
  apps/web/pages/[user].tsx
  apps/web/pages/[user]/[type].tsx
  apps/web/pages/api/logo.ts
  apps/web/pages/api/user/avatar.ts
  apps/web/pages/api/username.ts
  apps/web/pages/auth/sso/[provider].tsx
  apps/web/pages/d/[link]/[slug].tsx
  apps/web/pages/team/[slug].tsx
  apps/web/pages/team/[slug]/[type].tsx
  apps/web/playwright/fixtures/orgs.ts
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/lib/fixtures.ts
  apps/web/playwright/teams.e2e.ts
  apps/web/playwright/unpublished.e2e.ts
  packages/app-store/routing-forms/pages/router/[...appPages].tsx
  packages/app-store/routing-forms/pages/routing-link/[...appPages].tsx
  packages/features/ee/organizations/lib/orgDomains.ts
  packages/features/ee/teams/components/TeamListItem.tsx
  packages/features/test/orgDomains.test.ts
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: Medium priority, automated-tests, core

#11986 refactor: Falling Back to `FirstCalendarCredential`
  packages/core/EventManager.ts
  packages/lib/piiFreeData.ts
Labels: High priority, core

#12101 fix: padding in footer in profile
  apps/web/pages/settings/my-account/profile.tsx
  apps/web/public/static/locales/en/common.json
Labels: core

#12144 fix: Skip failing tests
  packages/lib/date-ranges.test.ts
Labels: core

#12143 fix: Prevent possible reason behind avatar infinite redirect
  packages/trpc/server/routers/loggedInViewer/updateProfile.handler.ts
Labels: High priority, core

#12125 fix: request reschedule link in email for an Org event
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  apps/web/test/utils/bookingScenario/expects.ts
  packages/core/builders/CalendarEvent/builder.ts
  packages/core/builders/CalendarEvent/class.ts
  packages/emails/src/components/EmailScheduledBodyHeaderContent.tsx
  packages/emails/src/components/WhenInfo.tsx
  packages/features/bookings/lib/handleNewBooking/test/fresh-booking.test.ts
  packages/features/bookings/lib/handleNewBooking/test/lib/getMockRequestDataForBooking.ts
  packages/features/bookings/lib/handleNewBooking/test/lib/test.ts
  packages/features/bookings/lib/handleNewBooking/test/team-bookings/collective-scheduling.test.ts
  packages/features/ee/organizations/lib/orgDomains.ts
  packages/trpc/server/routers/viewer/bookings/requestReschedule.handler.ts
  tests/libs/__mocks__/prisma.ts
  vitest.config.ts
Labels: High priority, core

#12116 fix: Support embedding org profile page
  __checks__/README.md
  __checks__/organization.spec.ts
  apps/web/next.config.js
  apps/web/pages/org/[orgSlug]/embed.tsx
  checkly.config.ts
  package.json
  yarn.lock
Labels: High priority, organizations, core

#12113 fix: impersonation for orgs
  packages/features/ee/impersonation/lib/ImpersonationProvider.ts
  packages/features/ee/teams/components/MemberListItem.tsx
  packages/features/users/components/UserTable/ImpersonationMemberModal.tsx
Labels: core

#12152 fix: Use correct typing for totalTeamMembers
  packages/trpc/server/routers/viewer/availability/team/listTeamAvailability.handler.ts
Labels: 🐛 bug, core

#12153 fix: Google Spam Polciy alert breaking embed layout in popup mode
  apps/web/pages/booking/[uid].tsx
Labels: core

#12167 fix: Check for same day, not with <=
  packages/features/calendars/lib/getAvailableDatesInMonth.timezone.test.ts
  packages/features/calendars/lib/getAvailableDatesInMonth.ts
Labels: core

#12168 fix(e2e): failsafe if no availabilities
  apps/web/playwright/fixtures/regularBookings.ts
  packages/features/calendars/DatePicker.tsx
Labels: core

#12161 fix: org settings for member improvements
  apps/web/pages/settings/security/password.tsx
  packages/features/ee/organizations/pages/settings/appearance.tsx
  packages/features/ee/organizations/pages/settings/profile.tsx
Labels: 🧹 Improvements, ⚡ Quick Wins, Medium priority, ui, core

#12079 fix: cal video recording email
  apps/web/components/booking/BookingListItem.tsx
  apps/web/pages/api/recorded-daily-video.ts
  apps/web/public/static/locales/en/common.json
  packages/emails/templates/organizer-daily-video-download-recording-email.ts
  packages/features/ee/video/ViewRecordingsDialog.tsx
Labels: High priority, core
