Repository calcom/cal.com, pull requests merged in 2023-03, with the labels that each got.

#7455 Fix webhook e2e test
  apps/web/playwright/dynamic-booking-pages.e2e.ts
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/integrations.e2e.ts-snapshots/webhookResponse--calcom-web.txt
  apps/web/playwright/webhook.e2e.ts
  apps/web/playwright/webhook.e2e.ts-snapshots/webhookResponse--calcom-web.txt
Labels: automerge

#7468 Fix tests flakiness in embed
  packages/embeds/embed-core/playwright/lib/testUtils.ts
Labels: automerge

#7051 Tree shake icons
  apps/web/components/security/TwoFactorModalHeader.tsx
  apps/web/components/ui/UsernameAvailability/PremiumTextfield.tsx
  apps/web/next.config.js
  apps/web/pages/[user].tsx
  packages/app-store/zapier/pages/setup/index.tsx
  packages/features/ee/api-keys/components/ApiKeyDialogForm.tsx
  packages/features/ee/sso/components/ConnectionInfo.tsx
  packages/ui/components/icon/Icon.tsx
  packages/ui/package.json
  yarn.lock
Labels: automerge

#7557 Fix for bad primary calendar check
  packages/core/CalendarManager.ts
Labels: 🐛 bug

#6781 Add Idp-Initiated SSO
  .env.example
  apps/web/pages/api/auth/[...nextauth].tsx
  apps/web/pages/api/auth/saml/callback.ts
  apps/web/pages/auth/saml-idp.tsx
  packages/features/ee/sso/lib/jackson.ts
  packages/features/ee/sso/lib/saml.ts
  packages/trpc/server/routers/viewer/sso.tsx
  turbo.json
Labels: ❗️ .env changes

#7574 Generate getSchedule response using the invitee timeZone
  packages/trpc/server/routers/viewer/slots.tsx
Labels: automerge

#7448 feat: Add fresh chat to list of support integration
  .env.example
  packages/features/ee/support/components/ContactMenuItem.tsx
  packages/features/ee/support/components/HelpMenuItem.tsx
  packages/features/ee/support/lib/freshchat/FreshChatMenuItem.tsx
  packages/features/ee/support/lib/freshchat/FreshChatProvider.tsx
  packages/features/ee/support/lib/freshchat/FreshChatScript.tsx
  packages/features/ee/support/lib/helpscout/HelpscoutMenuItem.tsx
  packages/features/ee/support/lib/intercom/IntercomMenuItem.tsx
  packages/features/ee/support/lib/zendesk/ZendeskMenuItem.tsx
  packages/features/shell/Shell.tsx
Labels: ❗️ .env changes

#7165 Bugfix/improved assignment page
  apps/web/components/eventtype/EventTeamTab.tsx
  apps/web/pages/event-types/[type]/index.tsx
  apps/web/pages/event-types/index.tsx
  packages/features/schedules/components/Schedule.tsx
  packages/prisma/migrations/20230216171757_host_user_id_event_type_id/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer.tsx
  packages/trpc/server/routers/viewer/eventTypes.ts
Labels: ❗️ migrations

#7105 injects secrets with infisical
  .gitignore
  .infisical.json
  package.json
Labels: Low priority

#7308 Revamp Google Cal warning for Meet, Amie, and Vimcal
  apps/web/components/apps/App.tsx
  apps/web/pages/apps/[slug]/index.tsx
  apps/web/public/static/locales/en/common.json
  packages/app-store/_appRegistry.ts
  packages/app-store/amie/config.json
  packages/app-store/apps.browser.generated.tsx
  packages/app-store/components.tsx
  packages/app-store/googlecalendar/components/ExistingGoogleCal.tsx
  packages/app-store/googlevideo/_metadata.ts
  packages/app-store/googlevideo/components/ExistingGoogleCal.tsx
  packages/app-store/googlevideo/components/InstallAppButton.tsx
  packages/app-store/googlevideo/components/index.ts
  packages/app-store/typeform/config.json
  packages/app-store/types.d.ts
  packages/app-store/vimcal/config.json
  packages/trpc/server/routers/viewer/apps.tsx
  packages/types/App.d.ts
  packages/ui/components/apps/AppCard.tsx
Labels: ♻️ autoupdate, automerge

#7618 Added serverside translations to the forgot password page.
  apps/web/pages/auth/forgot-password/[id].tsx
  apps/web/pages/auth/forgot-password/index.tsx
Labels: ♻️ autoupdate, automerge

#7452 Routing form UI update
  apps/web/public/static/locales/en/common.json
  packages/app-store/ee/routing-forms/pages/forms/[...appPages].tsx
  packages/ui/components/list/List.tsx
Labels: ♻️ autoupdate, automerge

#7636 Add google-calendar dependency to Cron app
  packages/app-store/cron/config.json
Labels: automerge

#7638 fixed timezone select
  packages/ui/components/form/select/Select.tsx
Labels: High priority

#7647 Delay workflow email cancellation in sendgrid for all case
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/ee/workflows/api/scheduleEmailReminders.ts
  packages/features/ee/workflows/api/scheduleSMSReminders.ts
  packages/features/ee/workflows/lib/reminders/emailReminderManager.ts
  packages/prisma/migrations/20230309203435_make_booking_and_workflow_step_optional_for_workflow_reminder/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/workflows.tsx
Labels: ❗️ migrations

#7166 [CAL-988] Limit total appointment time per day/week/month/year
  CONTRIBUTING.md
  README.md
  apps/web/components/eventtype/EventLimitsTab.tsx
  apps/web/pages/event-types/[type]/index.tsx
  apps/web/public/static/locales/en/common.json
  apps/web/test/lib/checkBookingLimits.test.ts
  apps/web/test/lib/checkDurationLimits.test.ts
  packages/app-store/routing-forms/DESCRIPTION.md
  packages/core/getUserAvailability.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/lib/defaultEvents.ts
  packages/lib/getEventTypeById.ts
  packages/lib/index.ts
  packages/lib/isBookingLimits.ts
  packages/lib/isDurationLimits.ts
  packages/lib/server/checkBookingLimits.ts
  packages/lib/server/checkDurationLimits.ts
  packages/lib/server/index.ts
  packages/lib/server/queries/booking/index.ts
  packages/lib/server/queries/index.ts
  packages/lib/test/builder.ts
  packages/lib/validateIntervalLimitOrder.ts
  packages/prisma/migrations/20230214083325_add_duration_limits/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer/eventTypes.ts
  packages/trpc/server/routers/viewer/slots.tsx
  packages/types/Calendar.d.ts
Labels: ❗️ migrations, 5 points

#7253 Fix booking time hydration error
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/lib/parseDate.ts
Labels: automerge

#7206 empty screen for unpublished teams
  apps/web/components/team/screens/Team.tsx
  apps/web/pages/team/[slug].tsx
  apps/web/public/static/locales/en/common.json
  packages/emails/src/templates/BaseScheduledEmail.tsx
  packages/features/ee/api-keys/components/ApiKeyDialogForm.tsx
  packages/features/ee/sso/lib/saml.ts
  packages/features/ee/workflows/components/AddActionDialog.tsx
  packages/ui/components/empty-screen/EmptyScreen.tsx
Labels: ♻️ autoupdate

#7591 Fix save booking title unescaped
  apps/web/components/booking/BookingListItem.tsx
  apps/web/package.json
  packages/core/event.ts
  packages/emails/templates/_base-email.ts
Labels: ♻️ autoupdate, automerge

#5427 Seated booking rescheduling.
  apps/web/components/booking/AvailableTimes.tsx
  apps/web/components/booking/BookingListItem.tsx
  apps/web/components/booking/CancelBooking.tsx
  apps/web/components/booking/SlotPicker.tsx
  apps/web/components/booking/pages/AvailabilityPage.tsx
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/components/eventtype/EventAdvancedTab.tsx
  apps/web/lib/getBooking.tsx
  apps/web/lib/types/booking.ts
  apps/web/pages/[user]/book.tsx
  apps/web/pages/booking/[uid].tsx
  apps/web/pages/reschedule/[uid].tsx
  apps/web/pages/team/[slug]/book.tsx
  apps/web/playwright/booking-seats.e2e.ts
  apps/web/playwright/event-types.e2e.ts
  apps/web/playwright/fixtures/bookings.ts
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/lib/testUtils.ts
  apps/web/playwright/reschedule.e2e.ts
  apps/web/public/static/locales/en/common.json
  packages/app-store/googlecalendar/lib/CalendarService.ts
  packages/core/CalendarManager.ts
  packages/core/EventManager.ts
  packages/emails/email-manager.ts
  packages/emails/src/components/ManageLink.tsx
  packages/emails/src/templates/AttendeeCancelledSeatEmail.tsx
  packages/emails/src/templates/BaseScheduledEmail.tsx
  packages/emails/src/templates/OrganizerAttendeeCancelledSeatEmail.tsx
  packages/emails/src/templates/OrganizerScheduledEmail.tsx
  packages/emails/src/templates/index.ts
  packages/emails/templates/attendee-cancelled-seat-email.ts
  packages/emails/templates/attendee-scheduled-email.ts
  packages/emails/templates/organizer-attendee-cancelled-seat-email.ts
  packages/emails/templates/organizer-rescheduled-email.ts
  packages/emails/templates/organizer-scheduled-email.ts
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/lib/CalEventParser.ts
  packages/lib/server/maybeGetBookingUidFromSeat.ts
  packages/prisma/migrations/20230303162003_add_booking_seat_reference/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer/bookings.tsx
  packages/types/Calendar.d.ts
Labels: 🐛 bug, ❗️ migrations, High priority

#7295 cal video: show meeting info in a hideable box
  apps/web/components/booking/TimezoneDropdown.tsx
  apps/web/pages/auth/forgot-password/[id].tsx
  apps/web/pages/video/[uid].tsx
  apps/web/pages/video/meeting-not-started/[uid].tsx
  apps/web/pages/video/no-meeting-found.tsx
  apps/web/public/static/locales/en/common.json
  packages/ui/components/form/inputs/Input.tsx
Labels: automerge

#7182 feat(app-store): add zohocrm app to app-store
  .env.appStore.example
  README.md
  packages/app-store/_utils/getCalendar.ts
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/index.ts
  packages/app-store/zohocrm/DESCRIPTION.md
  packages/app-store/zohocrm/api/_getAdd.ts
  packages/app-store/zohocrm/api/add.ts
  packages/app-store/zohocrm/api/callback.ts
  packages/app-store/zohocrm/api/index.ts
  packages/app-store/zohocrm/config.json
  packages/app-store/zohocrm/index.ts
  packages/app-store/zohocrm/lib/CalendarService.ts
  packages/app-store/zohocrm/lib/index.ts
  packages/app-store/zohocrm/package.json
  packages/app-store/zohocrm/static/1.png
  packages/app-store/zohocrm/static/icon.png
  packages/prisma/seed-app-store.config.json
  packages/prisma/seed-app-store.ts
  turbo.json
Labels: automerge, ❗️ .env changes

#7284 Remove event type dupes, assign ownership based on _user_eventtype.'B'
  packages/prisma/migrations/20230222152136_assign_event_type_ownership/migration.sql
Labels: ♻️ autoupdate, ❗️ migrations

#7706 Adds prisma data proxy
  .env.example
  .github/workflows/env-create-file.yml
  packages/prisma/package.json
  turbo.json
Labels: :scroll: Needs Documentation Update, ❗️ .env changes

#7765 Fix: EventType crash when Moving up and down beyond boundaries
  packages/features/form-builder/FormBuilder.tsx
Labels: automerge

#7324 [CAL-203] App Store: Add <iframe> as an option in the slider
  apps/web/components/apps/App.tsx
  apps/web/pages/apps/[slug]/index.tsx
  packages/app-store/typeform/DESCRIPTION.md
Labels: automerge

#7792 Amend logic to calc slots time already in DST
  apps/web/components/booking/pages/BookingPage.tsx
  packages/features/bookings/lib/handleNewBooking.ts
  packages/lib/slots.ts
Labels: High priority

#7808 Follow up - Zoom & Outlook use Dayjs.tz for `utcOffset`
  packages/app-store/office365calendar/lib/CalendarService.ts
  packages/app-store/zoomvideo/lib/VideoApiAdapter.ts
Labels: automerge

#7809 Upgrades turbo to 1.8.3
  package.json
  turbo.json
  yarn.lock
Labels: automerge

#7693 fix: render markdown in og images
  apps/web/pages/api/social/og/image.tsx
Labels: automerge

#7847 Add motif env vars
  turbo.json
Labels: ❗️ .env changes

#7420 adds fix-availability-slot-addition
  packages/features/schedules/components/Schedule.tsx
Labels: automerge

#7871 Handle empty label from Custom inputs
  packages/features/bookings/lib/getBookingFields.ts
Labels: ♻️ autoupdate, automerge

#7888 fix: remove "Nameless" from title in booking cancel page
  apps/web/pages/booking/[uid].tsx
Labels: automerge

#7917 Revert "Fixes formatted description in email "
  apps/web/components/eventtype/EventTypeDescriptionSafeHTML.tsx
  apps/web/components/team/screens/Team.tsx
  apps/web/package.json
  apps/web/pages/[user].tsx
  apps/web/pages/[user]/[type].tsx
  apps/web/pages/[user]/book.tsx
  apps/web/pages/d/[link]/[slug].tsx
  apps/web/pages/d/[link]/book.tsx
  apps/web/pages/event-types/index.tsx
  apps/web/pages/team/[slug].tsx
  apps/web/pages/team/[slug]/[type].tsx
  apps/web/pages/team/[slug]/book.tsx
  packages/emails/src/components/Info.tsx
  packages/emails/src/templates/BaseScheduledEmail.tsx
  packages/embeds/embed-core/src/embed-iframe.ts
  packages/features/ee/teams/pages/team-profile-view.tsx
  packages/features/eventtypes/components/EventTypeDescription.tsx
  packages/lib/markdownAndSanitize.ts
  packages/lib/markdownAndSanitizeClientSide.ts
  packages/lib/markdownIt.ts
  packages/prisma/seed-app-store.config.json
  packages/ui/components/editor/plugins/ToolbarPlugin.tsx
  yarn.lock
Labels: automerge

#6511 /insights
  apps/web/next.config.js
  apps/web/package.json
  apps/web/pages/insights/index.tsx
  apps/web/public/banners/insights.jpg
  apps/web/public/banners/routing-forms.jpg
  apps/web/public/banners/teams.jpg
  apps/web/public/routing-form-banner-background.jpg
  apps/web/public/static/locales/en/common.json
  apps/web/public/team-banner-background.jpg
  apps/web/tailwind.config.js
  packages/app-store/routing-forms/pages/forms/[...appPages].tsx
  packages/features/ee/teams/components/TeamsListing.tsx
  packages/features/insights/components/AverageEventDurationChart.tsx
  packages/features/insights/components/BookingKPICards.tsx
  packages/features/insights/components/BookingStatusLineChart.tsx
  packages/features/insights/components/KPICard.tsx
  packages/features/insights/components/LeastBookedTeamMembersTable.tsx
  packages/features/insights/components/MostBookedTeamMembersTable.tsx
  packages/features/insights/components/PopularEventsTable.tsx
  packages/features/insights/components/TotalBookingUsersTable.tsx
  packages/features/insights/components/index.ts
  packages/features/insights/context/FiltersProvider.tsx
  packages/features/insights/context/provider.ts
  packages/features/insights/filters/DateSelect.tsx
  packages/features/insights/filters/EventTypeListInTeam.tsx
  packages/features/insights/filters/FilterType.tsx
  packages/features/insights/filters/TeamList.tsx
  packages/features/insights/filters/UsersListInTeam.tsx
  packages/features/insights/filters/index.tsx
  packages/features/insights/lib/calculateDeltaType.ts
  packages/features/insights/lib/colors.ts
  packages/features/insights/lib/index.ts
  packages/features/insights/lib/valueFormatter.ts
  packages/features/insights/server/events.ts
  packages/features/insights/server/trpc-router.ts
  packages/features/package.json
  packages/features/shell/Shell.tsx
  packages/features/tips/UpgradeTip.tsx
  packages/prisma/package.json
  packages/prisma/seed-analytics.ts
  packages/trpc/server/routers/viewer.tsx
  packages/trpc/server/trpc.ts
  yarn.lock
Labels: automerge

#7934 Fix for Apple Calendar failing entire availability check because of Shared Calendars
  packages/lib/sanitizeCalendarObject.ts
Labels: 🐛 bug

#7459 Adds basic global feature flags
  apps/web/lib/app-providers.tsx
  apps/web/pages/settings/admin/flags.tsx
  packages/emails/templates/_base-email.ts
  packages/features/flags/components/FlagAdminList.tsx
  packages/features/flags/config.ts
  packages/features/flags/context/provider.ts
  packages/features/flags/hooks/index.ts
  packages/features/flags/pages/flag-listing-view.tsx
  packages/features/flags/server/router.ts
  packages/features/flags/server/utils.ts
  packages/features/settings/layouts/SettingsLayout.tsx
  packages/features/shell/Shell.tsx
  packages/features/tailwind.config.js
  packages/lib/isKeyInObject.ts
  packages/prisma/migrations/20230303195431_add_feature_flags/migration.sql
  packages/prisma/migrations/20230303195432_add_feature_flag_default_values/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/react/trpc.ts
  packages/trpc/server/routers/viewer.tsx
Labels: ❗️ migrations, :scroll: Needs Documentation Update

#7988 Fix missing edge case where team is paid but needs to be updated
  packages/features/ee/teams/lib/payments.ts
Labels: ♻️ autoupdate, automerge, High priority

#7922 insights follow up
  apps/web/pages/404.tsx
  apps/web/pages/insights/index.tsx
  apps/web/public/static/locales/en/common.json
  apps/web/public/static/locales/es/common.json
  apps/web/styles/globals.css
  packages/features/flags/config.ts
  packages/features/insights/components/AverageEventDurationChart.tsx
  packages/features/insights/components/BookingStatusLineChart.tsx
  packages/features/insights/components/Card.tsx
  packages/features/insights/components/KPICard.tsx
  packages/features/insights/components/LeastBookedTeamMembersTable.tsx
  packages/features/insights/components/MostBookedTeamMembersTable.tsx
  packages/features/insights/components/PopularEventsTable.tsx
  packages/features/insights/context/FiltersProvider.tsx
  packages/features/insights/filters/DateSelect.css
  packages/features/insights/filters/DateSelect.tsx
  packages/features/insights/filters/FilterType.tsx
  packages/features/insights/filters/index.tsx
  packages/features/insights/server/trpc-router.ts
  packages/features/shell/Shell.tsx
  packages/prisma/migrations/20230329000000_add_insights_feature_flag/migration.sql
  packages/prisma/package.json
  packages/prisma/seed-insights.ts
  yarn.lock
Labels: ❗️ migrations

#7995 Fixes embeds tsconfig
  packages/embeds/embed-core/tsconfig.json
  packages/embeds/embed-react/tsconfig.json
  packages/embeds/embed-snippet/tsconfig.json
Labels: automerge
