Repository calcom/cal.com, pull requests merged in 2023-11, with the labels that each got.

#12086 fix: Attach `credentialId` to location option
  apps/web/components/dialog/EditLocationDialog.tsx
  apps/web/components/eventtype/EventSetupTab.tsx
  apps/web/components/ui/form/LocationSelect.tsx
  packages/app-store/server.ts
Labels: Medium priority, core

#12177 docs: needs approval label
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: core

#12184 fix: hide Check for recording
  apps/web/components/booking/BookingListItem.tsx
Labels: core

#12176 Update README.md
  README.md
Labels: docs, core

#12171 chore: changed readme
  README.md
Labels: core, platform

#12194 fix: Make sure if header is set already, it isn't set again
  packages/lib/server/defaultResponder.ts
Labels: core

#12175 fix: Event-types API endpoint Admin POST works with either userId or teamId
  apps/api/pages/api/event-types/_post.ts
Labels: api, core

#11710 fix: should allow org owners and admins to delete members from subteams
  packages/features/ee/teams/components/MemberListItem.tsx
  packages/features/ee/teams/pages/team-members-view.tsx
  packages/trpc/server/routers/viewer/teams/removeMember.handler.ts
Labels: ✨ feature, Medium priority, organizations

#12075 fix: Embed: data-cal-origin not used by modal(which is used by both element click popup and floating button popup)
  packages/embeds/embed-core/src/embed.ts
Labels: core

#12210 fix: Set the dateFrom to startOf day otherwise bad fromOffset is used
  packages/lib/date-ranges.test.ts
  packages/lib/date-ranges.ts
Labels: 🐛 bug, High priority, bookings, core

#12219 fix: installed calendar app - UI fix
  apps/web/components/apps/CalendarListContainer.tsx
  packages/features/calendars/DestinationCalendarSelector.tsx
Labels: core

#12128 feat: The 'confirm' button triggers after entering the code
  packages/features/bookings/Booker/components/BookEventForm/BookEventForm.tsx
Labels: ✨ feature, 🧹 Improvements, Medium priority

#12204 fix: API to return hosts on event types response
  apps/api/pages/api/event-types/[id]/_get.ts
  apps/api/pages/api/event-types/_get.ts
Labels: ✨ feature, High priority, api, core

#12126 feat: #11922 Removed error for cancelling past time slots
  apps/api/pages/api/bookings/[id]/_delete.ts
  packages/features/bookings/lib/handleCancelBooking.ts
Labels: 🧹 Improvements, Low priority, 🙋 Bounty claim

#12195 fix: booking timeslots
  packages/core/getAggregatedAvailability.ts
  packages/core/getAggregatedAvailability/date-range-utils/mergeOverlappingDateRanges/index.ts
  packages/core/getAggregatedAvailability/date-range-utils/mergeOverlappingDateRanges/mergeOverlappingDateRanges.test.ts
  packages/core/getAggregatedAvailability/index.ts
Labels: 🐛 bug, 👩‍🔬 needs investigation, High priority, bookings, core

#12229 fix: Removes send an invite email option & always send email
  apps/web/calendso.yaml
  packages/features/ee/organizations/components/AddNewOrgAdminsForm.tsx
  packages/features/ee/organizations/pages/settings/other-team-members-view.tsx
  packages/features/ee/teams/components/AddNewTeamMembers.tsx
  packages/features/ee/teams/components/MemberInvitationModal.tsx
  packages/features/ee/teams/components/TeamListItem.tsx
  packages/features/ee/teams/pages/team-members-view.tsx
  packages/features/users/components/UserTable/InviteMemberModal.tsx
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMember.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMember.schema.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/utils.ts
Labels: organizations

#12183 fix: unhandled promise error in scheduleEmailReminders endpoint
  packages/features/ee/workflows/api/scheduleEmailReminders.ts
  packages/features/ee/workflows/lib/getiCalEventAsString.ts
Labels: 🐛 bug, High priority, core

#12243 chore: init infra folder with dockerized api
  apps/api/package.json
  infra/README.md
  infra/docker/api/Dockerfile
  package.json
Labels: core

#11187 feat: Add user's avatar to POST and PATCH requests in users endpoints
  apps/api/lib/utils/isValidBase64Image.ts
  apps/api/lib/validations/user.ts
  apps/api/pages/api/users/[userId]/_patch.ts
  apps/api/pages/api/users/_post.ts
Labels: ✨ feature, Low priority

#12256 fix: wrong import isValidBase64Image
  apps/api/lib/validations/user.ts
Labels: High priority, core

#12041 fix: [app dir bootstrapping 8] `useParamsWithFallback` hook and add tests
  packages/lib/hooks/useParamsWithFallback.test.ts
  packages/lib/hooks/useParamsWithFallback.ts
  vitest.workspace.ts
Labels: Medium priority

#12250 fix: recurring events with calendar connections
  packages/features/bookings/lib/handleNewBooking.ts
  packages/lib/parse-dates.ts
Labels: High priority, bookings, core

#12155 feat: Add Sentry
  .env.example
  apps/api/package.json
  apps/web/next.config.js
  apps/web/package.json
  apps/web/sentry.client.config.ts
  apps/web/sentry.edge.config.ts
  apps/web/sentry.server.config.ts
  packages/trpc/server/middlewares/captureErrorsMiddleware.ts
  turbo.json
  yarn.lock
Labels: High priority, ❗️ .env changes, core

#12172 fix: booking limits
  apps/web/test/lib/getSchedule.test.ts
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/lib/server/checkBookingLimits.ts
  packages/prisma/zod-utils.ts
Labels: High priority, core

#12279 chore: delete welcome workflow
  .github/workflows/welcome-new-contributors.yml
Labels: core, platform

#12254 fix: payment cancel button redirects properly
  packages/features/ee/payments/components/Payment.tsx
Labels: core

#12281 fix: capitalization typo for show event type message
  apps/web/public/static/locales/en/common.json
Labels: core

#12284 fix: tests for booking limits
  apps/web/test/lib/getSchedule.test.ts
Labels: core

#12287 fix: Remove count from query to update schedule
  packages/trpc/server/routers/viewer/availability/schedule/update.handler.ts
Labels: core, admin

#12159 feat: 11642 app shimmer video
  packages/app-store/apps.keys-schemas.generated.ts
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.schemas.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/bookerApps.metadata.generated.ts
  packages/app-store/index.ts
  packages/app-store/shimmervideo/DESCRIPTION.md
  packages/app-store/shimmervideo/api/add.ts
  packages/app-store/shimmervideo/api/index.ts
  packages/app-store/shimmervideo/components/.gitkeep
  packages/app-store/shimmervideo/config.json
  packages/app-store/shimmervideo/index.ts
  packages/app-store/shimmervideo/lib/VideoApiAdapter.ts
  packages/app-store/shimmervideo/lib/getShimmerAppKeys.ts
  packages/app-store/shimmervideo/lib/index.ts
  packages/app-store/shimmervideo/package.json
  packages/app-store/shimmervideo/static/1.jpeg
  packages/app-store/shimmervideo/static/2.jpeg
  packages/app-store/shimmervideo/static/icon.png
  packages/app-store/shimmervideo/zod.ts
  packages/core/EventManager.ts
Labels: Low priority, ❗️ .env changes

#12170 refactor: Generating `.ics` files
  .env.example
  apps/web/test/utils/bookingScenario/expects.ts
  packages/core/EventManager.ts
  packages/emails/lib/generateIcsString.ts
  packages/emails/lib/getICalUID.ts
  packages/emails/lib/test/generateIcsString.test.ts
  packages/emails/lib/test/getICalUID.test.ts
  packages/emails/templates/attendee-cancelled-email.ts
  packages/emails/templates/attendee-location-change-email.ts
  packages/emails/templates/attendee-rescheduled-email.ts
  packages/emails/templates/attendee-scheduled-email.ts
  packages/emails/templates/attendee-was-requested-to-reschedule-email.ts
  packages/emails/templates/broken-integration-email.ts
  packages/emails/templates/organizer-cancelled-email.ts
  packages/emails/templates/organizer-location-change-email.ts
  packages/emails/templates/organizer-requested-to-reschedule-email.ts
  packages/emails/templates/organizer-rescheduled-email.ts
  packages/emails/templates/organizer-scheduled-email.ts
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/test/fresh-booking.test.ts
  packages/lib/CalEventParser.ts
  packages/lib/test/builder.ts
Labels: ❗️ migrations, High priority, ❗️ .env changes, core

#11774 fix: Recurring Booking - Check for conflicts on first 2 slots only
  apps/web/pages/api/book/recurring-event.ts
  apps/web/test/utils/bookingScenario/expects.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/test/recurring-event.test.ts
  packages/lib/payment/handlePaymentSuccess.ts
Labels: 🐛 bug, High priority, core

#12295 fix: add missing config files to api dockerfile
  infra/docker/api/Dockerfile
Labels: core, admin

#12174 feat: configure availability time picker interval by env variable
  .env.example
  app.json
  packages/features/schedules/components/Schedule.tsx
  packages/lib/slots.test.ts
  packages/lib/slots.ts
  packages/types/environment.d.ts
  turbo.json
Labels: ✨ feature, High priority, ❗️ .env changes

#12267 fix: create prisma client singleton with immediately invoked function
  apps/api/lib/helpers/customPrisma.ts
  packages/prisma/index.ts
Labels: core, admin

#12274 chore: fix avatar margin
  packages/features/bookings/components/event-meta/Members.tsx
Labels: ⚡ Quick Wins, ui, core, platform

#12300 fix: Sentry warnings for startTransaction
  apps/web/sentry.server.config.ts
Labels: core, admin

#12060 fix: fix bookings today
  apps/web/components/booking/BookingListItem.tsx
  apps/web/pages/bookings/[status].tsx
Labels: 🐛 bug, Low priority, bookings

#12304 feat: Add Sentry to edge
  apps/web/sentry.edge.config.ts
Labels: Medium priority, core, admin, devops

#12318 fix: add missing config files to api dockerfile
  infra/docker/api/Dockerfile
Labels: core, admin, devops

#12200 fix: link attendee to meeting in ZohoCRM app
  packages/app-store/zohocrm/lib/CalendarService.ts
Labels: ⚡ Quick Wins, Low priority

#12322 fix: Fix recurring booking failure due to rate limiting
  apps/api/pages/api/bookings/_post.ts
  apps/web/pages/api/book/event.ts
  apps/web/pages/api/book/recurring-event.ts
  packages/features/bookings/lib/handleNewBooking.ts
Labels: High priority, bookings, core

#12044 chore: [app dir bootstrapping 7] update middleware
  apps/web/lib/csp.ts
  apps/web/middleware.ts
Labels: Medium priority

#11983 feat: smooth transitions to interactive elements
  apps/web/pages/event-types/index.tsx
  packages/features/kbar/Kbar.tsx
  packages/features/schedules/components/ScheduleListItem.tsx
  packages/features/shell/Shell.tsx
  packages/ui/components/apps/Slider.tsx
  packages/ui/components/button/Button.tsx
  packages/ui/components/form/dropdown/Dropdown.tsx
  packages/ui/components/form/inputs/Input.tsx
  packages/ui/components/form/inputs/TextField.tsx
  packages/ui/components/navigation/tabs/HorizontalTabItem.tsx
  packages/ui/components/navigation/tabs/VerticalTabItem.tsx
Labels: Low priority, ui

#12207 feat: added /enterprise upgrade tip
  apps/web/pages/enterprise/index.tsx
  apps/web/pages/insights/index.tsx
  apps/web/public/static/locales/en/common.json
  apps/web/public/tips/enterprise-dark.jpg
  apps/web/public/tips/enterprise.jpg
  packages/app-store/routing-forms/pages/forms/[...appPages].tsx
  packages/features/ee/teams/components/TeamsListing.tsx
  packages/features/timezone-buddy/components/AvailabilitySliderTable.tsx
  packages/features/tips/UpgradeTip.tsx
  packages/lib/hooks/useHasPaidPlan.ts
Labels: ✨ feature, enterprise, core

#12339 fix: add teamId index on VerificationToken
  packages/prisma/migrations/20231113131945_idx_teamid_verification_token/migration.sql
  packages/prisma/schema.prisma
Labels: ❗️ migrations, core, admin, devops

#12337 fix: getTeamOrThrow ran on every request
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMember.handler.ts
Labels: core, devops

#12088 fix: display organizer location after booking
  apps/web/components/eventtype/EventSetupTab.tsx
  apps/web/playwright/event-types.e2e.ts
  packages/app-store/locations.ts
  packages/features/bookings/Booker/components/BookEventForm/BookingFields.tsx
  packages/features/form-builder/FormBuilderField.tsx
Labels: 🐛 bug, 👩‍🔬 needs investigation, Urgent, emails, core

#12308 fix: meeting url variable in workflow notifitcations
  packages/features/bookings/lib/handleConfirmation.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/lib/payment/getBooking.ts
  packages/trpc/server/routers/viewer/bookings/confirm.handler.ts
Labels: 🐛 bug, High priority, emails, core

#12270 chore: Reduce slots API serverless memory configuration
  apps/api/vercel.json
  apps/web/vercel.json
Labels: High priority, core, admin, devops

#12302 fix: Org: Any team URL with slug starting with `d` is 404
  apps/web/pagesAndRewritePaths.js
  apps/web/test/lib/next-config.test.ts
Labels: High priority, core

#12301 fix: unhandled promise rejection in scheduleWorkflowReminder
  packages/features/ee/workflows/api/scheduleEmailReminders.ts
  packages/features/ee/workflows/lib/getWorkflowReminders.ts
Labels: High priority, core

#12349 fix: add translations to api dockerfile
  infra/docker/api/Dockerfile
Labels: core, admin, devops

#12352 chore: variables names
  packages/app-store/locations.ts
  packages/features/bookings/Booker/components/BookEventForm/BookingFields.tsx
Labels: core

#12213 fix: team booking page having same slug as the org
  packages/lib/server/queries/teams/index.ts
  packages/lib/server/repository/team.test.ts
  packages/lib/server/repository/team.ts
Labels: High priority, core

#12360 fix: couldn't resend team member invite
  packages/trpc/server/routers/viewer/teams/resendInvitation.handler.ts
Labels: 🐛 bug, Medium priority

#12361 fix: Callback redirect
  apps/web/pages/auth/login.tsx
Labels: High priority, authentication, core

#12354 feat: `AtomsProvider` component
  packages/atoms/atoms-provider/export.ts
  packages/atoms/atoms-provider/index.tsx
  packages/atoms/index.ts
Labels: core

#12363 fix: getting shimmer app keys
  packages/app-store/shimmervideo/lib/getShimmerAppKeys.ts
Labels: core

#12366 revert: "fix: create prisma client singleton with immediately invoked function"
  apps/api/lib/helpers/customPrisma.ts
  packages/prisma/index.ts
Labels: core, admin, devops

#12261 fix: Fix 'Book a new time' link in request-reschedule for Team Event
  apps/web/test/handlers/requestReschedule.test.ts
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  apps/web/test/utils/bookingScenario/createMockNextJsRequest.ts
  apps/web/test/utils/bookingScenario/expects.ts
  apps/web/test/utils/bookingScenario/getMockRequestDataForBooking.ts
  apps/web/test/utils/bookingScenario/getSampleUserInSession.ts
  apps/web/test/utils/bookingScenario/setupAndTeardown.ts
  apps/web/test/utils/bookingScenario/test.ts
  packages/core/builders/CalendarEvent/builder.ts
  packages/core/builders/CalendarEvent/director.ts
  packages/features/bookings/lib/handleNewBooking/test/dynamic-group-booking.test.ts
  packages/features/bookings/lib/handleNewBooking/test/fresh-booking.test.ts
  packages/features/bookings/lib/handleNewBooking/test/managed-event-type-booking.test.ts
  packages/features/bookings/lib/handleNewBooking/test/recurring-event.test.ts
  packages/features/bookings/lib/handleNewBooking/test/reschedule.test.ts
  packages/features/bookings/lib/handleNewBooking/test/team-bookings/collective-scheduling.test.ts
  packages/lib/server/getBrand.ts
  packages/trpc/server/routers/viewer/bookings/requestReschedule.handler.ts
  tests/libs/__mocks__/prisma.ts
Labels: High priority, core

#12249 fix: avatar remove button
  apps/web/pages/settings/my-account/profile.tsx
  packages/lib/checkIfItFallbackImage.ts
  packages/trpc/server/routers/loggedInViewer/updateProfile.handler.ts
  packages/ui/components/image-uploader/ImageUploader.tsx
Labels: 🐛 bug, Medium priority

#12045 chore: [app dir bootstrapping 10] adds ab tests middleware
  apps/web/abTest/middlewareFactory.ts
  apps/web/abTest/utils.ts
  packages/lib/constants.ts
  turbo.json
Labels: Medium priority

#12376 fix: round-robin booked out of availability
  apps/web/playwright/booking-pages.e2e.ts
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/teams.e2e.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/lib/server/getLuckyUser.ts
Labels: Urgent, core

#12325 feat: booking errors logging
  apps/api/test/lib/bookings/_post.test.ts
  apps/web/public/static/locales/en/common.json
  packages/app-store/alby/lib/PaymentService.ts
  packages/app-store/paypal/lib/PaymentService.ts
  packages/app-store/stripepayment/lib/PaymentService.ts
  packages/core/CalendarManager.ts
  packages/core/getUserAvailability.ts
  packages/features/bookings/Booker/components/BookEventForm/BookEventForm.tsx
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/test/fresh-booking.test.ts
  packages/features/bookings/lib/handleNewBooking/test/recurring-event.test.ts
  packages/features/bookings/lib/handleNewBooking/test/team-bookings/collective-scheduling.test.ts
  packages/lib/errorCodes.ts
Labels: High priority, bookings, core

#12373 chore: Insights readonly DB client
  .env.example
  apps/web/server/lib/ssg.ts
  packages/features/insights/server/events.ts
  packages/features/insights/server/trpc-router.ts
  packages/prisma/index.ts
  packages/trpc/server/createContext.ts
  turbo.json
Labels: ❗️ .env changes, insights, core

#12251 fix: saving credential id for payment apps
  apps/web/components/eventtype/EventAppsTab.tsx
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/integrations-stripe.e2e.ts
  packages/app-store/_components/AppCard.tsx
  packages/app-store/alby/zod.ts
Labels: High priority, core

#12382 chore: Use apiLogin instead of user.login in e2e tests
  apps/web/playwright/login.2fa.e2e.ts
  apps/web/playwright/workflow.e2e.ts
  packages/app-store/typeform/playwright/tests/basic.e2e.ts
Labels: core

#12321 refactor: Removed the dirName config for app store cli
  packages/app-store-cli/src/core.ts
Labels: 🧹 Improvements, Low priority

#12230 refactor: team settings redesign
  apps/web/pages/settings/my-account/appearance.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/ee/components/BrandColorsForm.tsx
  packages/features/ee/components/CommonSkeletonLoaders.tsx
  packages/features/ee/organizations/pages/settings/appearance.tsx
  packages/features/ee/organizations/pages/settings/profile.tsx
  packages/features/ee/teams/components/DisableTeamImpersonation.tsx
  packages/features/ee/teams/components/MakeTeamPrivateSwitch.tsx
  packages/features/ee/teams/pages/team-appearance-view.tsx
  packages/features/ee/teams/pages/team-members-view.tsx
  packages/features/ee/teams/pages/team-profile-view.tsx
  packages/trpc/server/routers/viewer/teams/update.handler.ts
  packages/trpc/server/routers/viewer/teams/update.schema.ts
  packages/ui/components/image-uploader/ImageUploader.tsx
Labels: Medium priority, core

#12362 fix: change api root statusCode to 200
  apps/api/pages/api/index.ts
Labels: core, admin, devops

#12389 revert: "perf: Increased memory/vCPU for slots perf (#12387)"
  apps/web/vercel.json
Labels: Urgent, core, admin, devops

#12056 chore: [app dir bootstrapping 9]: replace useSearchParams with useCompatSearchParams hook
  apps/web/components/AppListCard.tsx
  apps/web/lib/hooks/useIsBookingPage.ts
  apps/web/lib/hooks/useRouterQuery.ts
  apps/web/lib/hooks/useToggleQuery.tsx
  apps/web/pages/500.tsx
  apps/web/pages/apps/[slug]/setup.tsx
  apps/web/pages/apps/categories/[category].tsx
  apps/web/pages/apps/installed/[category].tsx
  apps/web/pages/auth/error.tsx
  apps/web/pages/auth/login.tsx
  apps/web/pages/auth/oauth2/authorize.tsx
  apps/web/pages/auth/saml-idp.tsx
  apps/web/pages/auth/setup/index.tsx
  apps/web/pages/auth/sso/[provider].tsx
  apps/web/pages/auth/verify.tsx
  apps/web/pages/availability/[schedule].tsx
  apps/web/pages/availability/index.tsx
  apps/web/pages/booking/[uid].tsx
  apps/web/pages/event-types/index.tsx
  apps/web/pages/signup.tsx
  packages/app-store/alby/components/AlbyPaymentComponent.tsx
  packages/app-store/alby/pages/setup/index.tsx
  packages/app-store/routing-forms/components/FormActions.tsx
  packages/app-store/routing-forms/pages/routing-link/[...appPages].tsx
  packages/embeds/embed-core/src/embed-iframe.ts
  packages/embeds/embed-core/src/useCompatSearchParams.tsx
  packages/embeds/embed-core/tsconfig.json
  packages/embeds/embed-snippet/tsconfig.json
  packages/features/apps/AdminAppsList.tsx
  packages/features/bookings/Booker/utils/event.ts
  packages/features/ee/payments/components/Payment.tsx
  packages/features/ee/teams/components/AddNewTeamMembers.tsx
  packages/features/ee/teams/components/TeamListItem.tsx
  packages/features/ee/teams/components/TeamsListing.tsx
  packages/features/ee/teams/pages/team-members-view.tsx
  packages/features/embed/Embed.tsx
  packages/features/eventtypes/components/DuplicateDialog.tsx
  packages/features/insights/context/FiltersProvider.tsx
  packages/features/settings/layouts/SettingsLayout.tsx
  packages/features/webhooks/pages/webhook-edit-view.tsx
  packages/features/webhooks/pages/webhook-new-view.tsx
  packages/lib/bookingSuccessRedirect.ts
  packages/lib/hooks/useCompatSearchParams.test.ts
  packages/lib/hooks/useCompatSearchParams.tsx
  packages/lib/hooks/useRouterQuery.ts
  packages/lib/hooks/useUrlMatchesCurrentUrl.ts
  packages/ui/components/apps/AllApps.tsx
  packages/ui/components/createButton/CreateButton.tsx
  packages/ui/components/dialog/Dialog.tsx
  packages/ui/components/dialog/dialog.test.tsx
  packages/ui/components/form/wizard/WizardForm.tsx
  packages/ui/components/form/wizard/wizardForm.test.tsx
  vitest.workspace.ts
Labels: Medium priority, 🚨 merge conflict

#12292 fix: weird date override behaviour
  packages/features/schedules/components/DateOverrideInputDialog.tsx
Labels: 🐛 bug, Medium priority

#12400 perf: add idx scheduleId on eventType (CAL-2723)
  packages/prisma/migrations/20231117081852_idx_eventtype_scheduleid/migration.sql
  packages/prisma/schema.prisma
Labels: ❗️ migrations

#12401 fix: logo lack of contrast
  packages/features/bookings/components/event-meta/AvailableEventLocations.tsx
  packages/lib/invertLogoOnDark.ts
Labels: 🐛 bug, 🎨 needs design, ⚡ Quick Wins

#12435 fix: add node-mocks-http to web
  apps/web/package.json
  yarn.lock
Labels: core

#12280 feat: troubleshooter with weekly view (V2)
  apps/web/pages/availability/troubleshoot.tsx
  apps/web/playwright/availability.e2e.ts
  apps/web/public/static/locales/en/common.json
  packages/core/getCalendarsEvents.ts
  packages/features/calendars/weeklyview/components/event/Event.tsx
  packages/features/calendars/weeklyview/components/event/EventList.tsx
  packages/features/calendars/weeklyview/components/verticalLines/index.tsx
  packages/features/calendars/weeklyview/state/store.ts
  packages/features/calendars/weeklyview/types/events.ts
  packages/features/troubleshooter/Troubleshooter.tsx
  packages/features/troubleshooter/components/AvailabilitySchedulesContainer.tsx
  packages/features/troubleshooter/components/CalendarToggleContainer.tsx
  packages/features/troubleshooter/components/ConnectedAppsContainer.tsx
  packages/features/troubleshooter/components/EventScheduleItem.tsx
  packages/features/troubleshooter/components/EventTypeSelect.tsx
  packages/features/troubleshooter/components/LargeCalendar.tsx
  packages/features/troubleshooter/components/TroubleshooterHeader.tsx
  packages/features/troubleshooter/components/TroubleshooterListItemContainer.tsx
  packages/features/troubleshooter/components/TroubleshooterSidebar.tsx
  packages/features/troubleshooter/layout.tsx
  packages/features/troubleshooter/store.ts
  packages/features/troubleshooter/types.ts
  packages/trpc/server/routers/viewer/availability/schedule/_router.tsx
  packages/trpc/server/routers/viewer/availability/schedule/getScheduleByEventTypeSlug.handler.ts
  packages/trpc/server/routers/viewer/availability/schedule/getScheduleByEventTypeSlug.schema.ts
  packages/trpc/server/routers/viewer/availability/user.handler.ts
Labels: High priority, core

#12124 fix: Members count when `team` slug is same as `org` slug
  packages/lib/server/queries/teams/index.ts
Labels: Medium priority, organizations, core

#12426 fix: identifer
  packages/trpc/server/routers/viewer/auth/_router.tsx
  packages/trpc/server/routers/viewer/auth/sendVerifyEmailCode.handler.ts
Labels: core

#12439 fix: Better error reporting & some fixes to deleteUser API
  apps/api/pages/api/users/[userId]/_delete.ts
  packages/features/users/lib/userDeletionService.ts
  packages/trpc/server/routers/loggedInViewer/deleteMe.handler.ts
Labels: core, devops

#12333 fix: don't send notes to booker if "Hide notes in calendar" is on
  packages/emails/email-manager.ts
Labels: ✨ feature, 🧹 Improvements, Medium priority

#12327 fix: [embed-react] types fix for compatible with TypeScript's "moduleResolution": "bundler"
  packages/embeds/embed-react/package.json
Labels: Low priority

#12290 fix: slug value in webhook payload
  apps/web/playwright/webhook.e2e.ts
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/lib/payment/getBooking.ts
  packages/trpc/server/routers/viewer/bookings/confirm.handler.ts
  packages/trpc/server/routers/viewer/bookings/requestReschedule.handler.ts
Labels: 🐛 bug, Medium priority, webhooks

#12419 chore: paid support wip
  apps/web/public/static/locales/en/common.json
  packages/features/ee/support/components/ContactMenuItem.tsx
Labels: ✨ feature, core, platform

#12460 fix: alby payment could not be created
  packages/app-store/alby/lib/PaymentService.ts
Labels: High priority, core, admin, devops

#12403 fix: better errors for googleCalendar integration CAL-2721
  packages/app-store/googlecalendar/api/add.ts
  packages/app-store/googlecalendar/api/callback.ts
Labels: High priority, core, admin, devops

#12241 test: Add more orgs tests
  apps/web/pages/signup.tsx
  apps/web/playwright/fixtures/clipboard.ts
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/lib/fixtures.ts
  apps/web/playwright/lib/testUtils.ts
  apps/web/playwright/organization/expects.ts
  apps/web/playwright/organization/organization-creation.e2e.ts
  apps/web/playwright/organization/organization-invitation.e2e.ts
  package.json
  packages/features/ee/organizations/pages/settings/members.tsx
  packages/features/ee/teams/components/MemberInvitationModal.tsx
  packages/features/users/components/UserTable/UserListTable.tsx
  packages/trpc/server/routers/viewer/organizations/create.handler.ts
  packages/trpc/server/routers/viewer/organizations/verifyCode.handler.ts
  yarn.lock
Labels: Medium priority, automated-tests, core

#12482 fix: Admin Logic for event-type API endpoint
  apps/api/pages/api/event-types/_post.ts
Labels: 🐛 bug, 👩‍🔬 needs investigation, High priority, api, core

#12397 fix: opening team invite link in email throws error on signup page
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMember.handler.ts
Labels: 🐛 bug, teams, Urgent

#12485 chore: fix cal.ai price
  packages/app-store/cal-ai/config.json
Labels: core, platform

#12486 chore: fixed cal.ai thumbnail
  packages/features/tips/Tips.tsx
Labels: core, platform

#12465 chore: reset form on submission
  packages/features/eventtypes/components/CreateEventTypeDialog.tsx
Labels: Low priority, core, event types

#12013 fix: Not able to add a second Outlook Calendar
  packages/app-store/office365calendar/api/add.ts
Labels: 🐛 bug, Medium priority, calendar-apps

#12425 chore: Add team invite tests
  apps/web/playwright/team/expects.ts
  apps/web/playwright/team/team-invitation.e2e.ts
  packages/features/ee/teams/components/MemberListItem.tsx
  packages/ui/components/form/inputs/HintOrErrors.tsx
Labels: ✅ good first issue, Medium priority, automated-tests, devops

#12463 fix: alby payment isPaid always false on create
  packages/app-store/alby/lib/PaymentService.ts
Labels: core, admin, devops

#11695 docs: add google credentials in example env
  .env.example
Labels: docs, Medium priority, ⚒️ platform, ❗️ .env changes

#12353 chore: Clean Up Delete Credential Selected Calendar Error Message
  packages/trpc/server/routers/loggedInViewer/deleteCredential.handler.ts
Labels: Low priority, core, calendar-apps

#12011 test: Integration Test GCal Primary Calendar
  .env.example
  apps/web/playwright/fixtures/users.ts
  packages/app-store/googlecalendar/lib/CalendarService.test.ts
  packages/app-store/googlecalendar/lib/CalendarService.ts
  packages/app-store/googlecalendar/tests/google-calendar.e2e.ts
  packages/app-store/googlecalendar/tests/testUtils.ts
  packages/prisma/seed.ts
  turbo.json
Labels: Medium priority, ❗️ .env changes, automated-tests, core

#11921 fix: default organizer bug in managed event type
  apps/web/components/eventtype/EventTeamTab.tsx
  apps/web/playwright/fixtures/regularBookings.ts
  apps/web/playwright/integrations-stripe.e2e.ts
  apps/web/playwright/managed-event-types.e2e.ts
  apps/web/playwright/payment-apps.e2e.ts
  packages/app-store/paypal/components/EventTypeAppCardInterface.tsx
  packages/app-store/stripepayment/components/EventTypeAppCardInterface.tsx
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/eventtypes/components/ChildrenEventTypeSelect.tsx
  packages/features/form-builder/FormBuilder.tsx
  packages/ui/components/form/select/Select.tsx
  packages/ui/components/form/select/components.tsx
  packages/ui/components/form/select/selectTheme.ts
Labels: 🐛 bug, linear, High priority, core

#12390 chore: migrate the event-types page to the app directory
  .env.example
  apps/web/abTest/middlewareFactory.ts
  apps/web/app/_trpc/HydrateClient.tsx
  apps/web/app/_trpc/client.ts
  apps/web/app/_trpc/createHydrateClient.tsx
  apps/web/app/_trpc/trpc-provider.tsx
  apps/web/app/_utils.tsx
  apps/web/app/error.tsx
  apps/web/app/future/(shared-page-wrapper)/(layout)/event-types/page.tsx
  apps/web/app/future/(shared-page-wrapper)/(layout)/layout.tsx
  apps/web/app/global-error.tsx
  apps/web/app/layout.tsx
  apps/web/components/PageWrapperAppDir.tsx
  apps/web/lib/app-providers-app-dir.tsx
  apps/web/lib/metadata.ts
  apps/web/middleware.ts
  apps/web/pages/event-types/index.tsx
  apps/web/playwright/event-types.e2e.ts
  apps/web/playwright/lib/future-legacy-routes.ts
  apps/web/tsconfig.json
  packages/features/MainLayoutAppDir.tsx
  packages/features/auth/lib/getLocale.ts
  packages/lib/constants.ts
  packages/lib/server/getFixedT.ts
Labels: 🧹 Improvements, Medium priority, ❗️ .env changes

#12187 feat(webhooks): pass webhook secret to `testTrigger`
  packages/features/webhooks/components/WebhookTestDisclosure.tsx
  packages/trpc/server/routers/viewer/webhook/testTrigger.handler.ts
  packages/trpc/server/routers/viewer/webhook/testTrigger.schema.ts
Labels: Medium priority

#12506 fix: getting-started crash and build failure
  apps/web/lib/metadata.ts
  apps/web/playwright/teams.e2e.ts
  packages/app-store/_utils/paid-apps.ts
  packages/app-store/routing-forms/playwright/tests/basic.e2e.ts
  packages/lib/hooks/useCompatSearchParams.tsx
Labels: Urgent, core

#12504 fix: Avatar write and unset, ensure no bad behaviour
  packages/trpc/server/routers/loggedInViewer/updateProfile.handler.ts
Labels: core, devops

#12489 chore: Remove free use of Cal.AI
  packages/app-store/cal-ai/DESCRIPTION.md
  packages/app-store/cal-ai/api/_getAdd.ts
  yarn.lock
Labels: core, devops

#12498 chore: insights UI refresher
  apps/web/pages/insights/index.tsx
  packages/features/ee/common/components/LicenseRequired.tsx
  packages/features/insights/components/BookingKPICards.tsx
  packages/features/insights/components/LineChart.tsx
  packages/features/insights/filters/DateSelect.css
  packages/features/insights/filters/DateSelect.tsx
  packages/features/insights/filters/index.tsx
Labels: ⚡ Quick Wins, Low priority, ui, core

#12517 chore: Remove cache-control and disable avatar cache
  apps/web/pages/api/user/avatar.ts
Labels: core, devops

#12515 chore: avatar padding
  apps/web/pages/[user].tsx
Labels: core

#12522 fix: Stripe webhook event mismatch
  .env.example
  apps/web/pages/api/integrations/subscriptions/webhook.ts
  packages/types/environment.d.ts
  turbo.json
Labels: automerge, ❗️ .env changes, core, devops

#12525 chore: sync platform branch with main
  .github/workflows/sync-platform-branch.yml
Labels: core

#12526 fix: platform branch sync with main
  .github/workflows/sync-platform-branch.yml
Labels: core

#12528 fix: platform branch sync with main
  .github/workflows/sync-platform-branch.yml
Labels: core

#12530 fix: OAuth URL account for dev environment
  packages/lib/constants.ts
Labels: core

#12158 feat: if profile only has one public event-type, redirect to it
  apps/web/components/ui/avatar/UserAvatarGroup.tsx
  apps/web/components/ui/avatar/UserAvatarGroupWithOrg.tsx
  apps/web/pages/[user].tsx
  apps/web/pages/org/[orgSlug]/[user]/index.tsx
Labels: ✨ feature, ⚡ Quick Wins, Medium priority, booking-page

#12529 chore: fixed order of tips
  apps/web/public/static/locales/de/common.json
  packages/features/tips/Tips.tsx
Labels: ✨ feature, ⚡ Quick Wins, Low priority, core

#12548 revert: sync platform branch with main
  .github/workflows/sync-platform-branch.yml
Labels: core

#12442 refactor: invite members handler
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMember.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMember.schema.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMemberUtils.test.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/utils.ts
Labels: Medium priority, api, core, admin, devops

#12266 fix: phone-number-input
  apps/web/playwright/fixtures/regularBookings.ts
  apps/web/public/static/locales/en/common.json
  packages/app-store/routing-forms/components/react-awesome-query-builder/widgets.tsx
  packages/features/form-builder/Components.tsx
  packages/features/form-builder/FormBuilderField.tsx
Labels: 🐛 bug, 🧹 Improvements, Medium priority, 🚨 merge conflict

#12550 fix: event-types post api endpoint not showing hosts in response data
  apps/api/pages/api/event-types/_post.ts
Labels: core, admin, devops

#12549 fix: removing next steps
  packages/emails/src/templates/TeamInviteEmail.tsx
Labels: 🐛 bug, ⚡ Quick Wins, Medium priority, core

#12459 fix(api): Added correct include for `GET /teams/{teamId}/event-types`
  apps/api/pages/api/teams/[teamId]/event-types/_get.ts
Labels: Medium priority, api

#12539 fix: crash on other team members and profile page
  packages/features/ee/organizations/pages/settings/other-team-members-view.tsx
  packages/features/ee/organizations/pages/settings/other-team-profile-view.tsx
Labels: 🐛 bug, Medium priority

#12380 fix: Embed: Get correct snippet for Org events
  apps/web/playwright/embed-code-generator.e2e.ts
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/teams.e2e.ts
  apps/web/playwright/unpublished.e2e.ts
  packages/app-store-cli/src/build.ts
  packages/features/embed/lib/EmbedCodes.tsx
  packages/features/embed/lib/EmbedTabs.tsx
Labels: Medium priority, embed, core

#12469 fix: rescheduling round robin events (emails and calendar events)
  apps/web/test/utils/bookingScenario/expects.ts
  packages/core/EventManager.ts
  packages/emails/email-manager.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/test/reschedule.test.ts
Labels: 🐛 bug, High priority, core

#12566 fix: team and org invite e2e tests
  apps/web/playwright/fixtures/clipboard.ts
  apps/web/playwright/lib/fixtures.ts
  apps/web/playwright/lib/testUtils.ts
  apps/web/playwright/organization/organization-invitation.e2e.ts
  apps/web/playwright/team/team-invitation.e2e.ts
  packages/features/ee/teams/components/MemberInvitationModal.tsx
  packages/lib/server/queries/teams/index.ts
  packages/trpc/server/routers/viewer/teams/createInvite.handler.ts
  packages/trpc/server/routers/viewer/teams/createInvite.schema.ts
Labels: core, devops

#12569 fix: premium username to premium username
  packages/trpc/server/routers/loggedInViewer/updateProfile.handler.ts
Labels: core

#11421 feat: signup refactor
  apps/web/pages/api/auth/signup.ts
  apps/web/pages/auth/login.tsx
  apps/web/pages/auth/sso/[provider].tsx
  apps/web/pages/signup.tsx
  apps/web/playwright/fixtures/features.ts
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/lib/fixtures.ts
  apps/web/playwright/signup.e2e.ts
  apps/web/public/google-icon.svg
  apps/web/public/mock-event-type-list.svg
  apps/web/public/product-cards/g2.svg
  apps/web/public/product-cards/product-of-the-day.svg
  apps/web/public/product-cards/product-of-the-month.svg
  apps/web/public/product-cards/product-of-the-week.svg
  apps/web/public/product-cards/producthunt.svg
  apps/web/public/product-cards/trustpilot.svg
  apps/web/public/static/locales/en/common.json
  packages/features/auth/signup/handlers/calcomHandler.ts
  packages/features/auth/signup/handlers/selfHostedHandler.ts
  packages/features/auth/signup/username.ts
  packages/features/auth/signup/utils/organization.ts
  packages/features/auth/signup/utils/token.ts
  packages/lib/constants.ts
  packages/lib/server/checkUsername.ts
  packages/lib/server/username.ts
  packages/lib/slugify.ts
  packages/trpc/server/routers/loggedInViewer/updateProfile.handler.ts
  turbo.json
  yarn.lock
Labels: High priority, authentication, core, 🚨 merge conflict

#12546 fix: cal video issues
  apps/web/pages/video/[uid].tsx
  packages/features/ee/organizations/README.md
Labels: High priority, core, cal video

#12574 chore: refactor reschedule EventManager with changed organizer
  packages/core/EventManager.ts
  packages/features/bookings/lib/handleNewBooking.ts
Labels: core

#12580 fix: Toggling really fast throws internal errors
  packages/features/calendars/CalendarSwitch.tsx
Labels: core, devops

#12388 chore: Refactor `<CalendarListContainer />`
  apps/web/components/AppListCard.tsx
  apps/web/components/apps/CalendarListContainer.tsx
  apps/web/pages/settings/my-account/calendars.tsx
  packages/features/apps/components/DisconnectIntegration.tsx
Labels: Medium priority, ui, core

#12583 fix: increase maxWait/Timeout invite members transaction
  packages/trpc/server/routers/viewer/teams/inviteMember/utils.ts
Labels: core, admin, devops

#12584 chore: add check for recording
  apps/web/components/booking/BookingListItem.tsx
Labels: core

#12578 fix: selecting behaviour fixed
  packages/features/tips/UpgradeTip.tsx
Labels: 🐛 bug, Low priority, ui

#12540 chore: removed last web3 references
  apps/web/package.json
  apps/web/pages/apps/installed/[category].tsx
  apps/web/public/static/locales/ar/common.json
  apps/web/public/static/locales/cs/common.json
  apps/web/public/static/locales/da/common.json
  apps/web/public/static/locales/de/common.json
  apps/web/public/static/locales/en/common.json
  apps/web/public/static/locales/es/common.json
  apps/web/public/static/locales/eu/common.json
  apps/web/public/static/locales/fr/common.json
  apps/web/public/static/locales/he/common.json
  apps/web/public/static/locales/it/common.json
  apps/web/public/static/locales/ja/common.json
  apps/web/public/static/locales/ko/common.json
  apps/web/public/static/locales/nl/common.json
  apps/web/public/static/locales/no/common.json
  apps/web/public/static/locales/pl/common.json
  apps/web/public/static/locales/pt-BR/common.json
  apps/web/public/static/locales/pt/common.json
  apps/web/public/static/locales/ro/common.json
  apps/web/public/static/locales/ru/common.json
  apps/web/public/static/locales/sr/common.json
  apps/web/public/static/locales/sv/common.json
  apps/web/public/static/locales/tr/common.json
  apps/web/public/static/locales/uk/common.json
  apps/web/public/static/locales/vi/common.json
  apps/web/public/static/locales/zh-CN/common.json
  apps/web/public/static/locales/zh-TW/common.json
  packages/lib/deriveAppDictKeyFromType.ts
  packages/types/App.d.ts
  yarn.lock
Labels: 🧹 Improvements, ⚡ Quick Wins, core

#12501 refactor: Team Creation Flow [CAL-2751]
  apps/web/pages/api/teams/create.ts
  apps/web/playwright/auth/forgot-password.e2e.ts
  apps/web/playwright/lib/testUtils.ts
  apps/web/playwright/managed-event-types.e2e.ts
  apps/web/playwright/teams.e2e.ts
  packages/features/ee/teams/components/AddNewTeamMembers.tsx
  packages/features/ee/teams/components/CreateANewTeamForm.tsx
  packages/features/ee/teams/lib/payments.ts
  packages/features/ee/teams/pages/team-profile-view.tsx
  packages/lib/constants.ts
  packages/lib/telemetry.ts
  packages/trpc/server/routers/viewer/teams/create.handler.ts
  packages/ui/components/dialog/ConfirmationDialogContent.tsx
Labels: High priority, teams, core

#12591 fix: invite member by username
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMember.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMember.schema.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMemberUtils.test.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/utils.ts
Labels: High priority, core, admin, devops

#12594 chore: improve invitation form validation
  apps/web/public/static/locales/en/common.json
  packages/features/ee/teams/components/MemberInvitationModal.tsx
  packages/lib/constants.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMember.schema.ts
Labels: Low priority, core

#12492 fix: improved team upgrade screen to also show unpublished teams
  packages/features/ee/teams/components/TeamList.tsx
  packages/features/ee/teams/components/TeamListItem.tsx
  packages/features/ee/teams/components/TeamsListing.tsx
  packages/features/tips/UpgradeTip.tsx
  packages/trpc/server/routers/viewer/teams/_router.tsx
  packages/trpc/server/routers/viewer/teams/acceptOrLeave.handler.ts
  packages/trpc/server/routers/viewer/teams/changeMemberRole.handler.ts
  packages/trpc/server/routers/viewer/teams/create.handler.ts
  packages/trpc/server/routers/viewer/teams/createInvite.handler.ts
  packages/trpc/server/routers/viewer/teams/delete.handler.ts
  packages/trpc/server/routers/viewer/teams/deleteInvite.handler.ts
  packages/trpc/server/routers/viewer/teams/get.handler.ts
  packages/trpc/server/routers/viewer/teams/getMemberAvailability.handler.ts
  packages/trpc/server/routers/viewer/teams/getMembershipbyUser.handler.ts
  packages/trpc/server/routers/viewer/teams/getUpgradeable.handler.ts
  packages/trpc/server/routers/viewer/teams/hasEditPermissionForUser.handler.ts
  packages/trpc/server/routers/viewer/teams/hasTeamPlan.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMember.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMemberByToken.handler.ts
  packages/trpc/server/routers/viewer/teams/list.handler.ts
  packages/trpc/server/routers/viewer/teams/listInvites.handler.ts
  packages/trpc/server/routers/viewer/teams/listMembers.handler.ts
  packages/trpc/server/routers/viewer/teams/publish.handler.ts
  packages/trpc/server/routers/viewer/teams/removeMember.handler.ts
  packages/trpc/server/routers/viewer/teams/resendInvitation.handler.ts
  packages/trpc/server/routers/viewer/teams/setInviteExpiration.handler.ts
  packages/trpc/server/routers/viewer/teams/update.handler.ts
  packages/trpc/server/routers/viewer/teams/updateMembership.handler.ts
Labels: 🐛 bug, 🙋🏻‍♂️help wanted, Medium priority, teams, core

#12568 Fix:use typed query initially fill default paramaters
  packages/lib/hooks/useTypedQuery.ts
Labels: core

#12597 fix: attempting to book meeting in the past
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: 🐛 bug, bookings, core

#12484 fix: meeting ended incorrect content type
  packages/features/webhooks/lib/cron.ts
  packages/features/webhooks/lib/sendPayload.ts
Labels: 🐛 bug, Medium priority, 💎 Bounty, webhooks, 🙋 Bounty claim

#12570 feat: rate limit removeMember
  packages/trpc/server/createContext.ts
  packages/trpc/server/routers/viewer/teams/removeMember.handler.ts
Labels: core

#12605 chore: Succession
  README.md
Labels: core
