Repository calcom/cal.com, pull requests merged in 2023-04, with the labels that each got.

#8020 renamed banner folder to prevent adblock from blocking
  apps/web/pages/insights/index.tsx
  apps/web/public/tips/insights.jpg
  apps/web/public/tips/routing-forms.jpg
  apps/web/public/tips/teams.jpg
  packages/app-store/routing-forms/pages/forms/[...appPages].tsx
  packages/features/ee/teams/components/TeamsListing.tsx
  packages/features/tips/Tips.tsx
Labels: ⚡ Quick Wins

#8038 fix: flash of grey when navigating to workflow page
  packages/features/ee/workflows/pages/index.tsx
Labels: ⚡ Quick Wins, High priority

#8010 Set GCal & Outlook `iCalUID` in .ics file
  packages/app-store/googlecalendar/lib/CalendarService.ts
  packages/app-store/office365calendar/lib/CalendarService.ts
  packages/core/CalendarManager.ts
  packages/core/EventManager.ts
  packages/emails/templates/attendee-scheduled-email.ts
  packages/emails/templates/attendee-was-requested-to-reschedule-email.ts
  packages/emails/templates/organizer-requested-to-reschedule-email.ts
  packages/emails/templates/organizer-scheduled-email.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/prisma/zod-utils.ts
  packages/types/Calendar.d.ts
  packages/types/EventManager.d.ts
Labels: Urgent

#8077 fix: remove box shadow none
  apps/web/styles/globals.css
Labels: automerge

#7937 fixed links and more on signup 404 page that requires license
  apps/web/pages/404.tsx
Labels: ⚡ Quick Wins

#8016 Follow up insights - user metrics
  apps/web/pages/insights/index.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/insights/components/AverageEventDurationChart.tsx
  packages/features/insights/components/BookingKPICards.tsx
  packages/features/insights/components/BookingStatusLineChart.tsx
  packages/features/insights/components/Card.tsx
  packages/features/insights/components/LeastBookedTeamMembersTable.tsx
  packages/features/insights/components/LoadingInsights.tsx
  packages/features/insights/components/MostBookedTeamMembersTable.tsx
  packages/features/insights/components/PopularEventsTable.tsx
  packages/features/insights/components/TotalBookingUsersTable.tsx
  packages/features/insights/context/FiltersProvider.tsx
  packages/features/insights/context/provider.ts
  packages/features/insights/filters/DateSelect.css
  packages/features/insights/filters/EventTypeList.tsx
  packages/features/insights/filters/FilterType.tsx
  packages/features/insights/filters/TeamAndSelfList.tsx
  packages/features/insights/filters/UsersListInTeam.tsx
  packages/features/insights/filters/index.tsx
  packages/features/insights/server/events.ts
  packages/features/insights/server/trpc-router.ts
  packages/prisma/seed-insights.ts
  yarn.lock
Labels: High priority

#8095 fix: whitelist legacy custom event name variables
  packages/core/event.ts
Labels: 🐛 bug, Low priority

#8104 added illustrations to app store
  apps/web/public/app-categories/analytics.svg
  apps/web/public/app-categories/automation.svg
  apps/web/public/app-categories/calendar.svg
  apps/web/public/app-categories/crm.svg
  apps/web/public/app-categories/other.svg
  apps/web/public/app-categories/payment.svg
  apps/web/public/app-categories/video.svg
  apps/web/public/app-categories/web3.svg
  packages/ui/components/apps/Categories.tsx
Labels: ✨ feature

#7734 fix: ui and ux improvements in booking questions
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/components/eventtype/EventAdvancedTab.tsx
  apps/web/playwright/manage-booking-questions.e2e.ts
  apps/web/public/static/locales/en/common.json
  apps/web/public/static/locales/fr/common.json
  apps/web/public/static/locales/he/common.json
  apps/web/public/static/locales/ru/common.json
  packages/features/bookings/lib/getBookingFields.ts
  packages/features/bookings/lib/getBookingResponsesSchema.ts
  packages/features/bookings/lib/getLocationOptionsForSelect.ts
  packages/features/form-builder/Components.tsx
  packages/features/form-builder/FormBuilder.tsx
  packages/features/form-builder/FormBuilderFieldsSchema.ts
  packages/ui/components/badge/Badge.tsx
  packages/ui/components/form/switch/Switch.tsx
  packages/ui/components/form/toggleGroup/BooleanToggleGroup.tsx
Labels: automerge

#8114 fix: flash of title in event types page
  apps/web/pages/event-types/index.tsx
Labels: 🧹 Improvements, ⚡ Quick Wins

#8137 fix: dark mode variant in team member card
  apps/web/components/team/screens/Team.tsx
Labels: automerge

#8165 fix: booker phone input style
  apps/web/styles/globals.css
  packages/app-store/routing-forms/components/react-awesome-query-builder/widgets.tsx
  packages/ui/components/form/inputs/Input.tsx
  packages/ui/form/PhoneInput.tsx
Labels: 🐛 bug

#8172 added dark mode upgrade banner
  apps/web/pages/insights/index.tsx
  apps/web/public/tips/insights-dark.jpg
  apps/web/public/tips/routing-forms-dark.jpg
  apps/web/public/tips/teams-dark.jpg
  packages/app-store/routing-forms/pages/forms/[...appPages].tsx
  packages/features/ee/teams/components/TeamsListing.tsx
  packages/features/tips/UpgradeTip.tsx
Labels: ♻️ autoupdate, automerge, ⚡ Quick Wins, 1 points

#8164 Bugfix: Booking Success Redirect should be in parent frame in case of embed.
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/pages/booking/[uid].tsx
  apps/web/pages/team/[slug]/book.tsx
  packages/features/ee/payments/components/Payment.tsx
  packages/features/ee/payments/pages/payment.tsx
  packages/lib/bookingSuccessRedirect.ts
  packages/prisma/selects/event-types.ts
Labels: 🐛 bug, Medium priority, 📉 regressing

#8190 Fix missing sylaps icon in admin/apps
  apps/web/components/getting-started/components/CalendarItem.tsx
  apps/web/components/getting-started/steps-views/ConnectCalendars.tsx
  packages/app-store/around/config.json
  packages/app-store/googlecalendar/_metadata.ts
  packages/app-store/sylapsvideo/config.json
  packages/app-store/templates/basic/config.json
  packages/app-store/templates/booking-pages-tag/config.json
  packages/app-store/templates/event-type-app-card/config.json
  packages/app-store/templates/event-type-location-video-static/config.json
  packages/app-store/templates/general-app-settings/config.json
  packages/app-store/templates/link-as-an-app/config.json
  packages/app-store/utils.ts
Labels: automerge

#8168 bugfix/sync-not-working-properly
  apps/web/pages/[user]/calendar-cache/[month].tsx
  packages/core/CalendarManager.ts
Labels: 🐛 bug, Urgent

#8202 Fix app not visible in app-store after enabling from admin
  packages/trpc/server/routers/viewer/apps.tsx
Labels: 🐛 bug, linear

#8215 make routing form select full width
  packages/app-store/routing-forms/components/FormInputFields.tsx
Labels: ✨ feature, ⚡ Quick Wins, 1 points

#8211 wip: replaced dark border with border-subtle
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/pages/team/[slug].tsx
  packages/app-store/routing-forms/components/react-awesome-query-builder/config/config.tsx
  packages/app-store/routing-forms/pages/routing-link/[...appPages].tsx
  packages/features/form-builder/Components.tsx
  packages/ui/components/form/selectimproved/components/Item.tsx
  packages/ui/components/form/selectimproved/components/SearchInput.tsx
  packages/ui/components/form/selectimproved/components/Select.tsx
  packages/ui/form/AddressInput.tsx
Labels: 🐛 bug

#8229 Hotfix: Revert color-scheme for embed
  apps/web/lib/app-providers.tsx
  apps/web/styles/globals.css
Labels: automerge

#8224 app store fixes
  packages/app-store/apps.browser.generated.tsx
  packages/app-store/apps.keys-schemas.generated.ts
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.schemas.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/google-tag-manager/config.json
  packages/app-store/google-tag-manager/static/1.jpeg
  packages/app-store/google-tag-manager/static/icon.svg
  packages/app-store/gtm/DESCRIPTION.md
  packages/app-store/gtm/api/add.ts
  packages/app-store/gtm/api/index.ts
  packages/app-store/gtm/components/EventTypeAppCardInterface.tsx
  packages/app-store/gtm/config.json
  packages/app-store/gtm/index.ts
  packages/app-store/gtm/package.json
  packages/app-store/gtm/static/1.jpg
  packages/app-store/gtm/static/2.jpg
  packages/app-store/gtm/static/icon.svg
  packages/app-store/gtm/zod.ts
  packages/app-store/sylapsvideo/DESCRIPTION.md
  packages/app-store/sylapsvideo/config.json
  packages/app-store/sylapsvideo/static/1.jpg
  packages/app-store/sylapsvideo/static/sylaps1.png
  packages/prisma/migrations/20230412094052_fix_apps/migration.sql
  packages/prisma/seed-app-store.config.json
  packages/trpc/server/routers/viewer/apps.tsx
  yarn.lock
Labels: ❗️ migrations, automerge, 📱 app

#8232 remove leading-none
  packages/features/ee/workflows/components/EmptyScreen.tsx
  packages/features/form-builder/Components.tsx
  packages/ui/components/card/FormCard.tsx
Labels: 🐛 bug

#8112 test: add other fields to routing form e2e
  packages/app-store/routing-forms/playwright/tests/basic.e2e.ts
  packages/ui/components/form/select/components.tsx
Labels: 🙋🏻‍♂️help wanted

#8245 readded vibrancy for desktop app
  apps/web/styles/globals.css
Labels: ✨ feature

#8247 Fix radio item on future limits
  apps/web/components/eventtype/EventLimitsTab.tsx
Labels: automerge, 🎨 needs design, Low priority

#8227 fix: reccuring input width
  apps/web/components/booking/pages/AvailabilityPage.tsx
  packages/ui/components/form/index.ts
  packages/ui/components/form/inputs/Input.tsx
  packages/ui/index.tsx
Labels: automerge

#8169 Feat: Support setting custom css variables through embed API.
  apps/web/components/booking/pages/AvailabilityPage.tsx
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/pages/[user].tsx
  apps/web/pages/_app.tsx
  apps/web/pages/booking/[uid].tsx
  apps/web/styles/globals.css
  packages/app-store/routing-forms/pages/routing-link/[...appPages].tsx
  packages/config/tailwind-preset.js
  packages/embeds/embed-core/index.html
  packages/embeds/embed-core/playground.ts
  packages/embeds/embed-core/src/embed-iframe.ts
Labels: automerge

#8170 bugfix/Reading timezone of undefined on getUserAvailability function
  packages/core/getUserAvailability.ts
Labels: automerge

#6777 feat: add isRecordingExist field and create api handler
  apps/web/components/booking/BookingListItem.tsx
  apps/web/pages/api/recorded-daily-video.ts
  apps/web/pages/video/[uid].tsx
  apps/web/public/emails/logo.png
  apps/web/public/static/locales/en/common.json
  packages/app-store/apps.browser.generated.tsx
  packages/app-store/apps.keys-schemas.generated.ts
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.schemas.generated.ts
  packages/app-store/dailyvideo/lib/VideoApiAdapter.ts
  packages/emails/email-manager.ts
  packages/emails/src/components/EmailBodyLogo.tsx
  packages/emails/src/templates/AttendeeDailyVideoDownloadRecordingEmail.tsx
  packages/emails/src/templates/index.ts
  packages/emails/templates/attendee-daily-video-download-recording-email.ts
  packages/emails/templates/confirm-email.html
  packages/lib/test/builder.ts
  packages/prisma/migrations/20230129094557_add_recording_exist/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer/bookings.tsx
Labels: ❗️ migrations

#8253 fix: selectfield bug and min height
  packages/features/form-builder/FormBuilder.tsx
  packages/ui/components/form/select/Select.tsx
Labels: 🐛 bug, automerge

#8276 perf: reduce array iteration on bookings router
  packages/trpc/server/routers/viewer/bookings.tsx
Labels: automerge

#8265 Hotfix: Label selects the option of different Radio Group
  packages/app-store/routing-forms/components/react-awesome-query-builder/widgets.tsx
  packages/features/form-builder/Components.tsx
  packages/features/form-builder/FormBuilder.tsx
Labels: automerge

#8300 chore: UI username RTL
  apps/web/components/ui/UsernameAvailability/UsernameTextfield.tsx
  packages/ui/components/form/inputs/Input.tsx
Labels: ♻️ autoupdate, automerge

#8315 fixed dark mode booker
  apps/web/components/booking/pages/BookingPage.tsx
Labels: 🐛 bug

#8267 perf: removed page_view tracker
  apps/web/components/booking/pages/AvailabilityPage.tsx
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/pages/[user].tsx
  apps/web/pages/booking/[uid].tsx
Labels: ♻️ autoupdate, automerge, 🧹 Improvements

#8171 fix: varients to layer
  apps/web/styles/globals.css
Labels: ♻️ autoupdate, automerge

#8327 fix: giphy input dark color
  packages/app-store/giphy/components/SearchDialog.tsx
Labels: 🐛 bug

#8325 Fix: Routing Form toggle not working
  packages/app-store/routing-forms/components/FormActions.tsx
Labels: automerge

#8260 fix: some ui regressions
  apps/web/components/apps/CalendarListContainer.tsx
Labels: automerge

#8108 Fix/Keep themes in peace across embed and booking pages and App
  apps/web/components/booking/CancelBooking.tsx
  apps/web/lib/app-providers.tsx
  apps/web/pages/[user].tsx
  apps/web/pages/[user]/[type].tsx
  apps/web/pages/[user]/book.tsx
  apps/web/pages/apps/[slug]/[...pages].tsx
  apps/web/pages/booking/[uid].tsx
  apps/web/pages/d/[link]/[slug].tsx
  apps/web/pages/d/[link]/book.tsx
  apps/web/pages/team/[slug].tsx
  apps/web/pages/team/[slug]/[type].tsx
  apps/web/pages/team/[slug]/book.tsx
  packages/app-store/routing-forms/pages/form-edit/[...appPages].tsx
  packages/app-store/routing-forms/pages/forms/[...appPages].tsx
  packages/app-store/routing-forms/pages/reporting/[...appPages].tsx
  packages/app-store/routing-forms/pages/route-builder/[...appPages].tsx
  packages/app-store/routing-forms/pages/router/[...appPages].tsx
  packages/app-store/routing-forms/pages/routing-link/[...appPages].tsx
  packages/features/shell/Shell.tsx
  packages/lib/hooks/useTheme.tsx
Labels: automerge

#8262 fix: undo showRecordingsButton
  apps/web/components/booking/BookingListItem.tsx
Labels: ♻️ autoupdate, automerge

#8334 perf: remove sentry
  .env.example
  apps/web/.gitignore
  apps/web/lib/csp.ts
  apps/web/next.config.js
  apps/web/package.json
  apps/web/pages/_error.tsx
  apps/web/sentry.client.config.js
  apps/web/sentry.properties
  apps/web/sentry.server.config.js
  packages/app-store/wipemycalother/components/confirmDialog.tsx
  turbo.json
  yarn.lock
Labels: ❗️ .env changes

#8308 perf: use getSlimServerSession for session retrieval
  packages/features/auth/lib/getServerSession.ts
  packages/features/auth/lib/next-auth-options.ts
  packages/types/next-auth.d.ts
Labels: ♻️ autoupdate, automerge

#8304 perf: improve booking confirm authorization
  packages/trpc/server/routers/viewer/bookings.tsx
Labels: ♻️ autoupdate, automerge

#8311 perf: Generate calendar cache in background on cold starts
  packages/core/CalendarManager.ts
  packages/core/getBusyTimes.ts
  packages/core/getUserAvailability.ts
Labels: ♻️ autoupdate, automerge

#8339 perf: use LRU cache for getServerSession
  packages/features/auth/lib/getServerSession.ts
  packages/features/auth/package.json
  yarn.lock
Labels: ♻️ autoupdate, automerge

#8298 fix: signup form submiting after api error
  apps/web/pages/signup.tsx
Labels: ♻️ autoupdate, automerge

#8302 perf: improve application toggle flow
  packages/features/apps/AdminAppsList.tsx
  packages/trpc/server/routers/viewer/apps.tsx
Labels: ♻️ autoupdate, automerge

#8348 Fix: dark mode issues
  apps/web/components/apps/App.tsx
  packages/features/eventtypes/components/EmptyPage.tsx
Labels: 🐛 bug

#8028 Allow editing workflow templates
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/features/bookings/lib/handleConfirmation.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/ee/workflows/api/scheduleEmailReminders.ts
  packages/features/ee/workflows/api/scheduleSMSReminders.ts
  packages/features/ee/workflows/components/WorkflowDetailsPage.tsx
  packages/features/ee/workflows/components/WorkflowStepContainer.tsx
  packages/features/ee/workflows/lib/actionHelperFunctions.ts
  packages/features/ee/workflows/lib/constants.ts
  packages/features/ee/workflows/lib/getOptions.ts
  packages/features/ee/workflows/lib/reminders/emailReminderManager.ts
  packages/features/ee/workflows/lib/reminders/reminderScheduler.ts
  packages/features/ee/workflows/lib/reminders/smsReminderManager.ts
  packages/features/ee/workflows/lib/reminders/templates/customTemplate.ts
  packages/features/ee/workflows/lib/reminders/templates/emailReminderTemplate.ts
  packages/features/ee/workflows/lib/reminders/templates/smsReminderTemplate.ts
  packages/features/ee/workflows/lib/variableTranslations.ts
  packages/features/ee/workflows/pages/workflow.tsx
  packages/prisma/migrations/20230404100155_remove_reminder_body_email_subject_from_reminder_template/migration.sql
  packages/trpc/server/routers/viewer/bookings.tsx
  packages/trpc/server/routers/viewer/workflows.tsx
  packages/types/Calendar.d.ts
  packages/ui/components/editor/Editor.tsx
  packages/ui/components/editor/plugins/AddVariablesDropdown.tsx
  packages/ui/components/editor/plugins/ToolbarPlugin.tsx
Labels: ❗️ migrations, automerge, :scroll: Needs Documentation Update

#8115 API Support: Manage Booking Questions and responses
  packages/features/bookings/lib/handleNewBooking.ts
  packages/prisma/zod-utils.ts
Labels: :scroll: Needs Documentation Update

#8296 Fix: cssVars API not working correctly on Booker Timeslot selection page
  apps/web/pages/_app.tsx
  apps/web/pages/_document.tsx
  apps/web/public/embed-init-iframe.js
  packages/embeds/embed-core/embed-iframe-init.ts
  packages/embeds/embed-core/index.html
  packages/embeds/embed-core/src/embed-iframe.ts
  packages/embeds/embed-react/inline.tsx
Labels: automerge

#8330 Date override fixes
  apps/web/test/lib/getSchedule.test.ts
  packages/lib/slots.ts
  packages/trpc/server/routers/viewer/slots.ts
  packages/types/schedule.d.ts
Labels: 🐛 bug, High priority, round robin

#7416 Cal 1099 availability section defined hour mismatch
  apps/web/components/eventtype/EventAvailabilityTab.tsx
  apps/web/components/eventtype/EventTypeSingleLayout.tsx
  apps/web/pages/event-types/[type]/index.tsx
  packages/ui/components/navigation/tabs/VerticalTabItem.tsx
  packages/ui/components/navigation/tabs/VerticalTabs.tsx
Labels: ♻️ autoupdate, automerge

#8361 perf: Add database indexes
  packages/prisma/migrations/20230410234751_add_foreign_key_indexes/migration.sql
  packages/prisma/schema.prisma
Labels: ❗️ migrations

#8305 fix: [CAL-1490] Google Cal/Outlook not actively syncing/self hosted
  apps/web/pages/_document.tsx
Labels: 🐛 bug, Urgent, google

#8368 Hotfix: Event Type Description Save not working
  apps/web/components/eventtype/EventSetupTab.tsx
Labels: 🐛 bug

#8337 perf: reduce bundle size
  apps/web/components/ImageUploader.tsx
  apps/web/components/NavTabs.tsx
  apps/web/components/Slider.tsx
  apps/web/components/apps/App.tsx
  apps/web/components/ui/AdminRequired.tsx
  apps/web/package.json
  apps/web/pages/settings/developer/api-keys.tsx
  apps/web/pages/signup.tsx
  packages/features/auth/PermissionContainer.tsx
  packages/features/ee/api-keys/components/ApiKeyDialogForm.tsx
  packages/features/ee/common/components/LicenseRequired.tsx
  packages/features/ee/common/components/v2/LicenseRequired.tsx
  packages/features/ee/sso/components/SSOConfiguration.tsx
  packages/features/ee/teams/components/MemberListItem.tsx
  packages/features/ee/teams/components/SkeletonLoaderAvailabilityTimes.tsx
  packages/features/ee/teams/components/TeamAvailabilityModal.tsx
  packages/features/ee/teams/components/TeamAvailabilityScreen.tsx
  packages/features/ee/teams/components/TeamAvailabilityTimes.tsx
  packages/features/ee/teams/components/v2/TeamAvailabilityModal.tsx
  packages/features/ee/teams/components/v2/TeamAvailabilityScreen.tsx
  packages/features/ee/teams/components/v2/TeamAvailabilityTimes.tsx
  packages/features/ee/teams/pages/availability.tsx
  packages/features/ee/users/components/UsersTable.tsx
  packages/features/ee/users/pages/users-add-view.tsx
  packages/features/ee/users/pages/users-edit-view.tsx
  packages/features/ee/users/pages/users-listing-view.tsx
  packages/features/ee/video/ViewRecordingsDialog.tsx
  packages/features/ee/workflows/components/EventWorkflowsTab.tsx
  packages/features/ee/workflows/pages/index.tsx
  packages/features/ee/workflows/pages/workflow.tsx
  packages/ui/form/MultiSelectCheckboxes.tsx
  yarn.lock
Labels: automerge

#8213 RFC: added brandcolor for switch
  apps/web/pages/settings/my-account/appearance.tsx
  packages/config/tailwind-preset.js
  packages/lib/getBrandColours.tsx
  packages/ui/components/form/switch/Switch.tsx
Labels: ✨ feature, ♻️ autoupdate, automerge, ⚡ Quick Wins

#8135 fix: limit avatar upload size
  apps/web/public/static/locales/en/common.json
  packages/ui/components/image-uploader/ImageUploader.tsx
Labels: 🐛 bug, automerge

#8364 Fix/insights load speed
  packages/features/insights/components/AverageEventDurationChart.tsx
  packages/features/insights/components/BookingKPICards.tsx
  packages/features/insights/components/BookingStatusLineChart.tsx
  packages/features/insights/components/LeastBookedTeamMembersTable.tsx
  packages/features/insights/components/MostBookedTeamMembersTable.tsx
  packages/features/insights/components/PopularEventsTable.tsx
  packages/features/insights/context/FiltersProvider.tsx
  packages/features/insights/server/events.ts
  packages/features/insights/server/trpc-router.ts
  packages/prisma/migrations/20230418002117_booking_time_status/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/seed-insights.ts
Labels: ♻️ autoupdate, ❗️ migrations, automerge

#8263 feat: add user hash for intercom
  .env.example
  apps/web/pages/api/intercom-hash.ts
  apps/web/pages/settings/billing/index.tsx
  packages/features/ee/support/components/HelpMenuItem.tsx
  packages/features/ee/support/lib/intercom/IntercomMenuItem.tsx
  packages/features/ee/support/lib/intercom/useIntercom.ts
  turbo.json
Labels: ❗️ .env changes

#8264 Feat/subdomain logochanges
  apps/web/components/ui/AuthContainer.tsx
  apps/web/lib/app-providers.tsx
  apps/web/pages/api/logo.ts
  packages/prisma/migrations/20230417102118_app_logo_subdomain/migration.sql
  packages/prisma/schema.prisma
  packages/ui/components/logo/Logo.tsx
Labels: ❗️ migrations

#8208 Remove Intl.Provider
  apps/web/components/apps/App.tsx
  apps/web/components/booking/BookingDescriptionPayment.tsx
  apps/web/components/booking/pages/AvailabilityPage.tsx
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/components/dialog/ChargeCardDialog.tsx
  apps/web/public/static/locales/en/common.json
  packages/app-store/stripepayment/components/EventTypeAppCardInterface.tsx
  packages/features/ee/payments/components/PaymentPage.tsx
  packages/features/eventtypes/components/EventTypeDescription.tsx
Labels: ❗️ migrations

#8400 Hotfix: Fix theme not changing once page has started loading
  packages/embeds/embed-core/index.html
  packages/lib/hooks/useTheme.tsx
Labels: automerge

#8399 CalDAV - improves the UTC offset eval to include DST
  packages/lib/CalendarService.ts
Labels: 🐛 bug

#8417 Show team invites regardless of user plan
  packages/features/ee/teams/components/TeamsListing.tsx
Labels: ♻️ autoupdate, automerge

#8406 Fix: appKeys handling
  packages/app-store/appStoreMetaData.ts
  packages/app-store/apps.keys-schemas.generated.ts
  packages/app-store/apps.schemas.generated.ts
  packages/app-store/zohocrm/zod.ts
  packages/trpc/server/routers/viewer/apps.tsx
Labels: ♻️ autoupdate, automerge

#8416 misc frontend fixes
  apps/web/components/eventtype/EventAppsTab.tsx
  apps/web/components/ui/UsernameAvailability/PremiumTextfield.tsx
  apps/web/components/ui/UsernameAvailability/UsernameTextfield.tsx
  apps/web/pages/[user].tsx
  apps/web/public/static/locales/es/common.json
  apps/web/public/tips/insights-dark.jpg
  packages/app-store/zapier/pages/setup/index.tsx
  packages/features/ee/teams/components/AddNewTeamMembers.tsx
  packages/features/eventtypes/components/CheckedTeamSelect.tsx
  packages/features/form-builder/Components.tsx
  packages/features/settings/layouts/SettingsLayout.tsx
  packages/features/tips/UpgradeTip.tsx
  packages/ui/components/apps/AllApps.tsx
  packages/ui/components/apps/SkeletonLoader.tsx
  packages/ui/components/avatar/AvatarGroup.tsx
  packages/ui/components/dialog/Dialog.tsx
  packages/ui/components/editor/stylesEditor.css
Labels: 🧹 Improvements

#8453 Hotfix - CalDAV/Wraps timezone addition in try catch
  packages/lib/CalendarService.ts
Labels: 🐛 bug

#8457 fixed bg for profile on light mode
  apps/web/pages/[user].tsx
Labels: 🐛 bug, 📉 regressing

#8461 fixed timezone dropdown
  apps/web/components/booking/TimeOptions.tsx
Labels: 🐛 bug

#8464 removing more leading-none
  .github/workflows/scripts/apply-issue-labels-to-pr.ts
  packages/app-store/apps.browser.generated.tsx
  packages/ui/components/form/inputs/Label.tsx
Labels: 🐛 bug, automerge

#8521 removed devcontainer
  .devcontainer/devcontainer.json
Labels: 🧹 Improvements

#8535 perf: prevent refetching i18n on route change
  apps/web/lib/app-providers.tsx
Labels: automerge

#8514 fix: password not updatable after an api error
  apps/web/pages/settings/security/password.tsx
  packages/ui/components/form/inputs/Input.tsx
Labels: 🐛 bug, automerge
