Repository calcom/cal.com, pull requests merged in 2023-09, with the labels that each got.

#11072 fix: Revert "feat: adds next cold start profiler (#11014)"
  apps/web/vercel.json
Labels: core

#10998 fix: Fixes username invite issue
  packages/features/ee/teams/components/MemberInvitationModal.tsx
  packages/features/users/components/UserTable/InviteMemberModal.tsx
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMember.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/utils.ts
Labels: core

#11076 fix: Fix avatar alligment
  packages/ui/components/avatar/Avatar.tsx
Labels: core

#11039 fix: unauthorized error in organization
  packages/features/auth/lib/next-auth-options.ts
  packages/trpc/server/routers/viewer/organizations/update.handler.ts
Labels: 🐛 bug, linear, organizations, core

#11081 fix: #11077 Team event types have no padding at the bottom.
  apps/web/pages/event-types/index.tsx
Labels: ✅ good first issue, ⚡ Quick Wins, ui

#11082 fix: Remove background colour from avatar
  packages/features/shell/Shell.tsx
Labels: core

#10874 chore: add Dropdown in storybook
  packages/ui/components/form/dropdown/dropdown.stories.mdx
Labels: Low priority, core

#11078 fix: Revert #10366: Undoing then redo fix differently
  packages/features/bookings/Booker/components/DatePicker.tsx
  packages/features/bookings/Booker/store.ts
  packages/features/calendars/DatePicker.tsx
  packages/features/embed/Embed.tsx
  packages/features/schedules/components/DateOverrideInputDialog.tsx
Labels: core

#11080 fix: support subteam in org redirection
  apps/web/next.config.js
Labels: core

#11069 fix: paypal minor issues
  packages/app-store/paypal/api/capture.ts
  packages/app-store/paypal/lib/Paypal.ts
  packages/trpc/server/routers/viewer/eventTypes/update.handler.ts
Labels: 🐛 bug, core

#11003 fix: Plausible App - Remove duplicate fields
  packages/app-store/plausible/components/EventTypeAppCardInterface.tsx
Labels: 📉 regressing, core

#11090 fix: Vercel preview rewrites 404s
  apps/web/pagesAndRewritePaths.js
  apps/web/test/lib/next-config.test.ts
Labels: core

#11091 chore: Add test for different layouts
  apps/web/playwright/booking-pages.e2e.ts
  packages/features/calendars/weeklyview/components/event/Empty.tsx
  packages/ui/components/form/toggleGroup/ToggleGroup.tsx
Labels: core

#11050 chore: stop using telemetry for website
  packages/lib/telemetry.ts
Labels: ⚡ Quick Wins, core

#10989 fix: Booking Question Dialog: Dropdown covered by DialogFooter (CALCOM-10987)
  packages/features/form-builder/FormBuilder.tsx
Labels: core

#11107 fix: dark mode icons for Riverside and Sirius Video
  apps/web/components/AppListCard.tsx
  apps/web/components/eventtype/EventSetupTab.tsx
  apps/web/components/ui/form/LocationSelect.tsx
  packages/features/bookings/components/event-meta/AvailableEventLocations.tsx
  yarn.lock
Labels: ✅ good first issue, Low priority

#11118 feat: recently added apps
  apps/web/pages/apps/index.tsx
  apps/web/public/static/locales/en/common.json
  packages/app-store/_appRegistry.ts
  packages/types/App.d.ts
  packages/ui/components/apps/RecentAppsSlider.tsx
  packages/ui/components/apps/index.ts
  packages/ui/index.tsx
Labels: app-store, 🎨 needs design

#10964 fix: no-scrollbar for firefox
  apps/web/styles/globals.css
  packages/ui/components/navigation/tabs/HorizontalTabs.tsx
Labels: 🐛 bug, Low priority, ui, core

#10806 fix: color tokens are not used in payment form
  packages/features/ee/payments/components/Payment.tsx
Labels: 🐛 bug, ✅ good first issue, Low priority, ui

#11046 fix: create event type
  apps/web/components/eventtype/EventTypeSingleLayout.tsx
  apps/web/pages/event-types/[type]/index.tsx
  packages/lib/getEventTypeById.ts
  packages/trpc/server/routers/viewer/eventTypes/create.handler.ts
  packages/trpc/server/routers/viewer/eventTypes/get.handler.ts
  packages/trpc/server/routers/viewer/eventTypes/util.ts
Labels: core

#11092 fix: teams are listed on insights but then you cant find them on settings page 11087 cal 2401
  apps/web/public/static/locales/en/common.json
  packages/features/ee/organizations/pages/components/OtherTeamList.tsx
  packages/features/ee/organizations/pages/components/OtherTeamListItem.tsx
  packages/features/ee/organizations/pages/settings/other-team-members-view.tsx
  packages/features/settings/layouts/SettingsLayout.tsx
  packages/trpc/server/routers/viewer/organizations/listOtherTeams.handler.ts
Labels: 🐛 bug, teams, insights, organizations, core

#11123 fix: Require an 'Email' placeholder in the 'Add guest' field.
  packages/features/bookings/lib/getBookingFields.ts
Labels: ✅ good first issue, ⚡ Quick Wins

#11130 chore: cal.ai redirect
  apps/ai/next.config.js
Labels: core

#11135 fix: variables for custom webhook payload
  packages/features/webhooks/lib/sendPayload.ts
Labels: 🐛 bug, core

#11009 fix: improve UX of team invite by copy link
  apps/web/pages/auth/login.tsx
  apps/web/pages/signup.tsx
  apps/web/pages/teams/index.tsx
  apps/web/public/static/locales/en/common.json
Labels: High priority, teams, core

#11139 fix: missing gCal calendarId
  packages/app-store/googlecalendar/lib/CalendarService.ts
Labels: core

#10986 fix: `FORM_SUBMITTED` webhook payload change and support for Team Webhooks with it
  apps/web/playwright/fixtures/routingForms.ts
  apps/web/playwright/lib/fixtures.ts
  apps/web/playwright/webhook.e2e.ts
  packages/app-store/routing-forms/playwright/tests/basic.e2e.ts
  packages/app-store/routing-forms/playwright/tests/testUtils.ts
  packages/app-store/routing-forms/trpc/utils.ts
  packages/app-store/typeform/playwright/tests/basic.e2e.ts
  packages/features/webhooks/lib/sendPayload.ts
  packages/features/webhooks/pages/webhook-edit-view.tsx
  packages/features/webhooks/pages/webhook-new-view.tsx
Labels: core

#11141 fix: remove double call on useSchedule()
  packages/features/bookings/Booker/Booker.tsx
  packages/features/schedules/lib/use-schedule/useSchedule.ts
Labels: 🐛 bug, 👩‍🔬 needs investigation, High priority, booking-page, core

#11073 fix: #10973 back button not working as expected in embed
  packages/features/bookings/Booker/components/BookEventForm/BookEventForm.tsx
  packages/features/bookings/Booker/useSlotReservationId.ts
  packages/trpc/server/routers/viewer/slots/_router.tsx
  packages/trpc/server/routers/viewer/slots/removeSelectedSlot.schema.ts
  packages/trpc/server/routers/viewer/slots/reserveSlot.handler.ts
  packages/trpc/server/routers/viewer/slots/types.ts
Labels: 🐛 bug, Medium priority, bookings

#11152 fix: rescheduling in require confirmation
  packages/features/bookings/lib/handleNewBooking.ts
Labels: 🐛 bug, linear, High priority, emails, core, calendar-apps

#10568 perf: Removed unused queries for user event types
  apps/ai/next.config.js
  apps/web/pages/event-types/index.tsx
  packages/features/ee/workflows/components/WorkflowListPage.tsx
  packages/trpc/server/routers/viewer/eventTypes/getByViewer.handler.ts
Labels: High priority, event-types, performance, core

#10873 fix: Fix wrong footer Button in some languages
  packages/features/ee/teams/components/MemberInvitationModal.tsx
Labels: Low priority, core

#11157 fix: selected organizer when creating event
  packages/app-store/googlecalendar/lib/CalendarService.ts
Labels: 🐛 bug, bookings, core, event types

#11160 fix: i18n issues reported by crowdin
  apps/web/public/static/locales/en/common.json
  packages/emails/src/templates/TeamInviteEmail.tsx
Labels: core

#11161 fix: Installing Zoho CRM
  packages/app-store/zohocrm/api/_getAdd.ts
Labels: automerge, core

#11159 chore: remove unused queries on user event types
  apps/web/pages/event-types/index.tsx
  packages/features/ee/workflows/components/WorkflowDetailsPage.tsx
  packages/trpc/server/routers/viewer/eventTypes/getByViewer.handler.ts
Labels: core

#10984 fix: DataTable storybook file is not rendering
  packages/ui/components/data-table/__storybook__/datatable.stories.mdx
Labels: core

#11171 fix: teams page error
  packages/lib/server/queries/teams/index.ts
Labels: 🐛 bug, linear, High priority, core

#11166 chore: add Wizard in storybook (CALCOM-10760)
  packages/ui/components/form/wizard/wizard.stories.mdx
Labels: core

#11177 fix: add make invite link to setup page
  apps/web/public/static/locales/en/common.json
  packages/app-store/make/pages/setup/index.tsx
Labels: core

#11163 fix: set avatar cache control
  apps/web/pages/api/logo.ts
  apps/web/pages/api/user/avatar.ts
Labels: core

#11044 test: Integration tests for handleNewBooking
  apps/web/test/fixtures/fixtures.ts
  apps/web/test/lib/getSchedule.test.ts
  apps/web/test/utils/bookingScenario.ts
  package.json
  packages/core/EventManager.ts
  packages/emails/templates/_base-email.ts
  packages/features/bookings/lib/handleNewBooking.test.ts
  packages/lib/testEmails.ts
  setupVitest.ts
  tests/libs/__mocks__/app-store.ts
  tests/libs/__mocks__/libServerI18n.ts
  tests/libs/__mocks__/prisma.ts
  tests/libs/__mocks__/reminderScheduler.ts
  tests/libs/__mocks__/videoClient.ts
  vitest.config.ts
  vitest.workspace.ts
  yarn.lock
Labels: High priority, automated-tests, core

#11093 fix: booking_paid webhook and added new payment metadata
  packages/features/bookings/lib/handleConfirmation.ts
  packages/features/webhooks/lib/sendPayload.ts
  packages/trpc/server/routers/viewer/eventTypes/update.handler.ts
Labels: Low priority, webhooks, billing, core

#11164 chore: app store improvements
  packages/app-store/basecamp3/config.json
  packages/app-store/basecamp3/static/icon-dark.svg
  packages/app-store/element-call/static/icon.svg
  packages/app-store/make/config.json
  packages/app-store/metapixel/static/icon.svg
  packages/app-store/vital/DESCRIPTION.md
  packages/app-store/vital/_metadata.ts
  packages/app-store/vital/static/1.jpg
  packages/app-store/vital/static/icon-dark.svg
  packages/app-store/zohocrm/config.json
  packages/app-store/zohocrm/static/icon.svg
Labels: app-store, 🎨 needs design, ⚡ Quick Wins, core

#11184 fix: mobile event types and avatars
  apps/web/pages/event-types/index.tsx
  apps/web/pages/signup.tsx
  packages/trpc/server/routers/viewer/eventTypes/getByViewer.handler.ts
  packages/ui/components/empty-screen/EmptyScreen.tsx
Labels: core

#11188 fix: updateProfile metadata overwrite
  packages/trpc/server/routers/loggedInViewer/updateProfile.handler.ts
Labels: High priority, core

#11195 chore: fixing darkmode data table
  apps/web/public/static/locales/en/common.json
  apps/web/styles/globals.css
  packages/features/timezone-buddy/components/AvailabilitySliderTable.tsx
  packages/features/users/components/UserTable/EditSheet/EditUserSheet.tsx
  packages/ui/components/command/index.tsx
  packages/ui/components/table/TableNew.tsx
Labels: 🐛 bug, organizations, core

#11143 fix: Routing Form - Show responses in the order of fields
  packages/app-store/routing-forms/emails/components/ResponseEmail.tsx
  packages/app-store/routing-forms/emails/templates/response-email.ts
  packages/app-store/routing-forms/trpc/utils.ts
  packages/app-store/routing-forms/types/types.d.ts
Labels: core

#11173 fix: Fixed SVG icons on light and dark mode
  apps/web/components/eventtype/EventSetupTab.tsx
  apps/web/components/ui/form/LocationSelect.tsx
  packages/features/bookings/components/event-meta/AvailableEventLocations.tsx
Labels: 🐛 bug, ⚡ Quick Wins

#10654 feat: send new booking uid on reschedule webhook
  apps/web/playwright/booking-seats.e2e.ts
  apps/web/playwright/lib/testUtils.ts
  apps/web/playwright/webhook.e2e.ts
  packages/features/bookings/lib/handleNewBooking.ts
Labels: 🐛 bug, Medium priority, webhooks

#11200 chore: fixed an i18n string
  packages/emails/src/templates/SlugReplacementEmail.tsx
Labels: ⚡ Quick Wins, Low priority, core

#10924 fix: eventName variables
  packages/core/event.ts
Labels: 🐛 bug, Low priority, core

#11158 chore: unify org data access
  apps/web/lib/app-providers.tsx
  packages/features/auth/lib/getServerSession.ts
  packages/features/auth/lib/next-auth-options.ts
  packages/features/ee/organizations/context/provider.ts
  packages/features/ee/organizations/pages/organization.tsx
  packages/features/ee/organizations/pages/settings/other-team-members-view.tsx
  packages/features/ee/teams/components/AddNewTeamMembers.tsx
  packages/features/ee/teams/pages/team-members-view.tsx
  packages/features/settings/layouts/SettingsLayout.tsx
  packages/features/shell/Shell.tsx
  packages/features/users/components/UserTable/ChangeUserRoleModal.tsx
  packages/features/users/components/UserTable/DeleteMemberModal.tsx
  packages/features/users/components/UserTable/ImpersonationMemberModal.tsx
  packages/features/users/components/UserTable/InviteMemberModal.tsx
  packages/types/next-auth.d.ts
Labels: High priority, organizations, core

#11222 fix: subteam invitation without teamId associated
  packages/trpc/server/routers/viewer/teams/inviteMember/utils.ts
Labels: 🐛 bug, High priority, organizations, core

#11224 perf: Improve getAggregatedAvailability by reducing reliance on Day.js
  packages/core/getAggregatedAvailability.ts
Labels: bookings, performance, core

#11230 perf: Move query to get just the user email to the main get query
  packages/core/getBusyTimes.ts
  packages/core/getUserAvailability.ts
  packages/prisma/selects/user.ts
Labels: High priority, bookings, performance, core

#11233 fix: inverted location logo
  packages/features/bookings/components/event-meta/AvailableEventLocations.tsx
Labels: 🐛 bug, core

#11245 fix: showing profile settings of other teams
  packages/features/settings/layouts/SettingsLayout.tsx
Labels: 🐛 bug, Low priority, organizations, core

#10744 fix: Booking and Cancellation related text changes
  apps/web/public/static/locales/en/common.json
Labels: ✨ feature, ✅ good first issue, 🙋🏻‍♂️help wanted, 🚧 wip / in the making, Low priority, core

#11271 fix: hide book a team member
  apps/web/pages/team/[slug].tsx
Labels: core

#11250 fix: smaller date overwrite when no date is selected
  packages/features/schedules/components/DateOverrideInputDialog.tsx
Labels: ✅ good first issue, 🎨 needs design, ⚡ Quick Wins

#11266 fix: add hardcoded strings to locales so they can be translated
  apps/web/public/static/locales/en/common.json
  packages/features/ee/organizations/components/AddNewOrgAdminsForm.tsx
  packages/features/ee/teams/components/MemberInvitationModal.tsx
Labels: 🐛 bug, i18n

#11257 fix: "no teams" text not visibl in organization's public url
  apps/web/pages/team/[slug].tsx
Labels: 🐛 bug, ⚡ Quick Wins

#11227 fix: Handle removing user from org
  packages/trpc/server/routers/viewer/teams/removeMember.handler.ts
Labels: 🐛 bug, High priority, organizations, core

#11281 fix: Selected calendar unhandled promise when removing calendars
  packages/trpc/server/routers/loggedInViewer/deleteCredential.handler.ts
Labels: High priority, core, calendar-apps

#11280 fix: add inline color in og image
  packages/lib/OgImages.tsx
Labels: 🐛 bug, ✅ good first issue, Low priority, core

#11286 feat: Create VerifyCodeDialog storybook file
  packages/features/bookings/components/verifyCodeDialog.stories.mdx
Labels: core

#11289 fix: Prefill not working if firstAndLastName variant enabled in name field and `name` doesn't have any space
  apps/web/playwright/manage-booking-questions.e2e.ts
  packages/prisma/zod-utils.ts
Labels: Medium priority, core

#11243 perf: pre-load booking data for all users
  apps/web/test/lib/getSchedule.test.ts
  apps/web/test/utils/bookingScenario.ts
  packages/core/getBusyTimes.ts
  packages/core/getUserAvailability.ts
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: High priority, bookings, performance, core

#11267 feat: autolink org on provider signup
  .env.example
  packages/features/auth/lib/next-auth-options.ts
  packages/features/ee/organizations/README.md
  packages/features/ee/organizations/components/OrganizationAvatar.tsx
  packages/trpc/server/routers/viewer/organizations/create.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/utils.ts
  turbo.json
Labels: High priority, ❗️ .env changes, organizations, core

#11248 fix: payments on round-robin events
  packages/features/ee/payments/pages/payment.tsx
Labels: 🐛 bug, High priority, teams, bookings, billing, core

#11247 fix: org admin delete other teams
  packages/features/ee/organizations/pages/components/OtherTeamList.tsx
  packages/features/ee/organizations/pages/components/OtherTeamListItem.tsx
  packages/features/ee/organizations/pages/settings/other-team-profile-view.tsx
  packages/trpc/server/routers/viewer/organizations/_router.tsx
  packages/trpc/server/routers/viewer/organizations/deleteTeam.handler.ts
  packages/trpc/server/routers/viewer/organizations/deleteTeam.schema.ts
Labels: 🐛 bug, High priority, organizations, core

#11283 fix: Connect selected calendar to credential
  apps/web/components/apps/CalendarListContainer.tsx
  apps/web/components/getting-started/components/ConnectedCalendarItem.tsx
  apps/web/pages/api/availability/calendar.ts
  apps/web/pages/settings/my-account/calendars.tsx
  packages/features/calendars/CalendarSwitch.tsx
  packages/prisma/migrations/20230911172537_connect_selected_calendar_to_credential/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/loggedInViewer/deleteCredential.handler.ts
  packages/types/Calendar.d.ts
Labels: ❗️ migrations, High priority, performance, core, calendar-apps

#11320 chore: Fix overflow on invite user desc
  packages/features/ee/teams/components/AddNewTeamMembers.tsx
Labels: 🐛 bug, ✅ good first issue, ⚡ Quick Wins, Low priority, core

#11299 fix: multiple organizer address bug
  apps/web/pages/booking/[uid].tsx
  apps/web/playwright/event-types.e2e.ts
  packages/features/bookings/lib/handleNewBooking.test.ts
  packages/features/form-builder/FormBuilderField.tsx
Labels: automerge, High priority, core

#11342 fix: org shell and org user settings avatars + org owner username
  packages/features/settings/layouts/SettingsLayout.tsx
  packages/features/shell/Shell.tsx
  packages/trpc/server/routers/viewer/organizations/create.handler.ts
Labels: organizations, core

#11238 fix: when creating new user, set email handle as username
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMember.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/utils.ts
Labels: Medium priority, teams, organizations, core

#11221 feat: Add more metadata to Stripe transaction
  packages/app-store/stripepayment/lib/PaymentService.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/lib/payment/handlePayment.ts
  packages/types/PaymentService.d.ts
Labels: ✨ feature, 🚧 wip / in the making, Medium priority, billing

#11190 chore: Enable prettier on vitest files without causing test failures
  .prettierignore
  apps/web/.prettierignore
  apps/web/test/lib/availabilityAsString.test.ts
  apps/web/test/lib/checkBookingLimits.test.ts
  apps/web/test/lib/checkDurationLimits.test.ts
  apps/web/test/lib/getAggregateWorkingHours.test.ts
  apps/web/test/lib/getAvailabilityFromSchedule.test.ts
  apps/web/test/lib/getSchedule.test.ts
  apps/web/test/lib/getWorkingHours.test.ts
  apps/web/test/lib/handleChildrenEventTypes.test.ts
  apps/web/test/lib/next-config.test.ts
  apps/web/test/lib/team-event-types.test.ts
  apps/web/test/utils/bookingScenario.ts
  packages/config/prettier-preset.js
Labels: 🧹 Improvements, Low priority, core

#11318 test: verify embed helpers
  packages/embeds/embed-core/embed-iframe-init.ts
  packages/embeds/embed-core/playwright/tests/embed-pages.e2e.ts
  packages/embeds/embed-core/src/embed-iframe.ts
  packages/embeds/embed-core/src/embed.ts
  packages/embeds/embed-core/src/types.ts
  packages/embeds/embed-react/test/packaged/api.test.ts
Labels: automerge, High priority, 💎 Bounty, automated-tests, embed, 🙋 Bounty claim

#11181 fix: paypal save event type and payment
  packages/app-store/paypal/lib/Paypal.ts
  packages/trpc/server/routers/viewer/eventTypes/update.handler.ts
Labels: ✨ feature, Medium priority, core

#11353 fix: remove avatar form user select when loading insights
  packages/features/insights/components/TotalBookingUsersTable.tsx
  packages/features/insights/server/trpc-router.ts
Labels: 🐛 bug, api, core

#11197 feat: editmode availbility slider
  apps/web/public/static/locales/en/common.json
  packages/features/schedules/components/Schedule.tsx
  packages/features/timezone-buddy/components/AvailabilityEditSheet.tsx
  packages/features/timezone-buddy/components/AvailabilitySliderTable.tsx
  packages/lib/hasEditPermissionForUser.ts
  packages/trpc/server/routers/viewer/availability/schedule/_router.tsx
  packages/trpc/server/routers/viewer/availability/schedule/get.handler.ts
  packages/trpc/server/routers/viewer/availability/schedule/getScheduleByUserId.handler.ts
  packages/trpc/server/routers/viewer/availability/schedule/getScheduleByUserId.schema.ts
  packages/trpc/server/routers/viewer/availability/schedule/update.handler.ts
  packages/trpc/server/routers/viewer/availability/team/listTeamAvailability.handler.ts
  packages/trpc/server/routers/viewer/teams/_router.tsx
  packages/trpc/server/routers/viewer/teams/hasEditPermissionForUser.handler.ts
  packages/trpc/server/routers/viewer/teams/hasEditPermissionForUser.schema.ts
  packages/ui/components/data-table/index.tsx
  packages/ui/components/sheet/sheet.tsx
  packages/ui/components/table/TableNew.tsx
  yarn.lock
Labels: High priority, ui, core

#11347 feat: getalby.com app
  packages/app-store/alby/DESCRIPTION.md
  packages/app-store/alby/api/add.ts
  packages/app-store/alby/api/index.ts
  packages/app-store/alby/components/.gitkeep
  packages/app-store/alby/config.json
  packages/app-store/alby/index.ts
  packages/app-store/alby/package.json
  packages/app-store/alby/static/1.jpg
  packages/app-store/alby/static/2.png
  packages/app-store/alby/static/icon.svg
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.server.generated.ts
Labels: ✨ feature, app-store, Low priority, billing, core, app-store-template

#11350 chore: Outlook `processBusyTimes` iterate busy times once
  packages/app-store/office365calendar/lib/CalendarService.ts
Labels: performance, core, calendar-apps

#11364 fix: yarn.lock
  yarn.lock
Labels: ci, core

#11338 fix: Routing Forms - Forward Query Params and show the error message in case of validation error in headless router
  packages/app-store/routing-forms/pages/router/[...appPages].tsx
  packages/app-store/routing-forms/playwright/tests/basic.e2e.ts
  packages/app-store/routing-forms/trpc/response.handler.ts
Labels: core

#11287 fix: Allow attendee first and last name from attendee name when name …
  packages/features/ee/workflows/lib/reminders/templates/customTemplate.ts
Labels: 🐛 bug, Low priority, cal video

#10713 fix: use selected duration when checking for conflicts for new bookings
  packages/features/bookings/lib/handleNewBooking.ts
Labels: 🐛 bug, Medium priority, bookings

#11327 fix: Duplicate calendar events
  apps/web/pages/api/availability/calendar.ts
  packages/app-store/applecalendar/api/add.ts
  packages/app-store/basecamp3/trpc/projectMutation.handler.ts
  packages/app-store/basecamp3/trpc/projects.handler.ts
  packages/app-store/caldavcalendar/api/add.ts
  packages/app-store/dailyvideo/lib/VideoApiAdapter.ts
  packages/app-store/exchange2013calendar/api/add.ts
  packages/app-store/exchange2016calendar/api/add.ts
  packages/app-store/exchangecalendar/api/_postAdd.ts
  packages/app-store/googlecalendar/lib/CalendarService.ts
  packages/app-store/larkcalendar/lib/CalendarService.ts
  packages/app-store/office365calendar/lib/CalendarService.ts
  packages/app-store/server.ts
  packages/app-store/utils.ts
  packages/core/CalendarManager.ts
  packages/core/EventManager.ts
  packages/core/getBusyTimes.ts
  packages/core/getUserAvailability.ts
  packages/core/videoClient.ts
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/ee/payments/api/paypal-webhook.ts
  packages/features/ee/payments/api/webhook.ts
  packages/lib/CalendarService.ts
  packages/lib/defaultEvents.ts
  packages/lib/server/getUsersCredentials.ts
  packages/prisma/selects/credential.ts
  packages/trpc/server/routers/loggedInViewer/connectedCalendars.handler.ts
  packages/trpc/server/routers/loggedInViewer/deleteCredential.handler.ts
  packages/trpc/server/routers/loggedInViewer/integrations.handler.ts
  packages/trpc/server/routers/viewer/bookings/editLocation.handler.ts
  packages/trpc/server/routers/viewer/slots/util.ts
  packages/trpc/server/routers/viewer/teams/getMemberAvailability.handler.ts
  packages/types/Calendar.d.ts
  packages/types/Credential.d.ts
Labels: teams, Urgent, core, calendar-apps

#11369 fix: Import prisma
  apps/web/playwright/login.2fa.e2e.ts
  packages/features/ee/payments/api/paypal-webhook.ts
  packages/trpc/server/routers/viewer/availability/schedule/getScheduleByUserId.handler.ts
Labels: High priority, bookings, core

#11185 feat: Calendar Cache
  apps/web/pages/api/cron/calendar-cache-cleanup.ts
  apps/web/vercel.json
  packages/app-store/googlecalendar/lib/CalendarService.test.ts
  packages/app-store/googlecalendar/lib/CalendarService.ts
  packages/features/flags/config.ts
  packages/prisma/migrations/20230907002853_add_calendar_cache/migration.sql
  packages/prisma/schema.prisma
Labels: ❗️ migrations, 👩‍🔬 needs investigation, High priority, core

#11325 chore: edit and update paypal setup instructions
  packages/app-store/paypal/pages/setup/index.tsx
Labels: core

#11313 fix: settings/organization/members table filtering issue
  packages/features/users/components/UserTable/UserListTable.tsx
Labels: 🐛 bug, organizations

#11382 fix: team page data
  apps/web/components/team/screens/Team.tsx
  apps/web/pages/team/[slug].tsx
Labels: core

#11383 fix: Include returns all credential fields, select excludes
  packages/lib/server/queries/teams/index.ts
Labels: core

#11384 fix: Embed - app.cal.com instead of cal.com
  packages/embeds/embed-core/src/embed.ts
Labels: 🐛 bug, High priority, embed, core

#11385 fix: Safari overflowing issues
  apps/web/pages/[user].tsx
  packages/features/eventtypes/components/EventTypeDescription.tsx
Labels: core

#11390 fix: org username check for dynamic and signup
  packages/app-store/salesforce/lib/CalendarService.ts
  packages/lib/validateUsername.ts
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: 🐛 bug, Medium priority, organizations, core, event types

#11413 fix: "scrollbar-gutter: stable" on html to prevent layout shift
  apps/web/styles/globals.css
Labels: 🐛 bug

#11420 feat: support `firstName` and `lastName` query params
  apps/web/playwright/manage-booking-questions.e2e.ts
  packages/features/bookings/Booker/components/BookEventForm/BookEventForm.tsx
Labels: core

#11381 fix: Required "Add guests" button isn't required on attendee's end
  packages/features/bookings/lib/getBookingResponsesSchema.ts
Labels: core

#11345 chore: send comment about merge conflict
  .github/workflows/merge-conflict
Labels: core

#11395 fix: re-render on insights with orgs
  apps/web/pages/insights/index.tsx
  packages/features/insights/components/AverageEventDurationChart.tsx
  packages/features/insights/components/BookingKPICards.tsx
  packages/features/insights/components/BookingStatusLineChart.tsx
  packages/features/insights/components/LeastBookedTeamMembersTable.tsx
  packages/features/insights/components/MostBookedTeamMembersTable.tsx
  packages/features/insights/components/PopularEventsTable.tsx
  packages/features/insights/context/FiltersProvider.tsx
  packages/features/insights/context/provider.ts
  packages/features/insights/filters/TeamAndSelfList.tsx
Labels: 🐛 bug, 🚧 wip / in the making, 👩‍🔬 needs investigation, High priority, insights, core

#11284 fix: Return all responses in booking api
  apps/api/lib/validations/booking.ts
Labels: Low priority, api

#11428 feat: resend invitation
  apps/web/public/static/locales/en/common.json
  packages/features/ee/teams/components/MemberListItem.tsx
  packages/features/users/components/UserTable/UserListTable.tsx
  packages/features/users/components/UserTable/UserTableActions.tsx
  packages/trpc/server/routers/viewer/teams/_router.tsx
  packages/trpc/server/routers/viewer/teams/resendInvitation.handler.ts
  packages/trpc/server/routers/viewer/teams/resendInvitation.schema.ts
Labels: 🧹 Improvements, High priority, teams, organizations, core

#11438 chore: slow caldav hint in description
  packages/app-store/caldavcalendar/DESCRIPTION.md
Labels: ⚡ Quick Wins, core

#11356 fix: org invite
  apps/web/pages/api/auth/signup.ts
  apps/web/pages/signup.tsx
  apps/web/pages/teams/index.tsx
  packages/features/ee/teams/components/MemberInvitationModal.tsx
  packages/features/ee/teams/pages/team-members-view.tsx
  packages/features/users/components/UserTable/InviteMemberModal.tsx
  packages/lib/server/queries/teams/index.ts
  packages/trpc/server/routers/viewer/teams/createInvite.handler.ts
Labels: 🐛 bug, High priority, teams, organizations, core

#10621 feat: monthly email digest
  .github/workflows/cron-monthlyDigestEmail.yml
  apps/web/pages/api/cron/monthlyDigestEmail.ts
  apps/web/pages/api/email.ts
  apps/web/pages/settings/my-account/general.tsx
  apps/web/public/static/locales/en/common.json
  packages/emails/email-manager.ts
  packages/emails/src/templates/MonthlyDigestEmail.tsx
  packages/emails/src/templates/index.ts
  packages/emails/templates/monthly-digest-email.ts
  packages/lib/test/builder.ts
  packages/prisma/migrations/20230828175052_/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/middlewares/sessionMiddleware.ts
  packages/trpc/server/routers/loggedInViewer/me.handler.ts
  packages/trpc/server/routers/loggedInViewer/updateProfile.schema.ts
Labels: ✨ feature, ❗️ migrations, Low priority, 💎 Bounty, insights, emails

#11412 fix: Time Buttons Should be Scroll not the Whole Right Side
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/components/AvailableTimeSlots.tsx
  packages/features/bookings/components/AvailableTimes.tsx
  packages/features/bookings/components/AvailableTimesHeader.tsx
  packages/features/bookings/index.ts
  packages/features/embed/Embed.tsx
Labels: Low priority

#11429 fix: unpublished org/team avatar and i18n
  apps/web/playwright/unpublished.e2e.ts
  apps/web/public/static/locales/en/common.json
  packages/ui/components/unpublished-entity/UnpublishedEntity.tsx
Labels: Low priority, core

#11059 feat: Sync app credentials between Cal.com & self-hosted platforms
  .env.example
  apps/web/pages/api/webhook/app-credential.ts
  packages/app-store/_utils/oauth/createOAuthAppCredential.ts
  packages/app-store/_utils/oauth/decodeOAuthState.ts
  packages/app-store/_utils/oauth/encodeOAuthState.ts
  packages/app-store/_utils/oauth/parseRefreshTokenResponse.ts
  packages/app-store/_utils/oauth/refreshOAuthTokens.ts
  packages/app-store/googlecalendar/api/add.ts
  packages/app-store/googlecalendar/api/callback.ts
  packages/app-store/googlecalendar/lib/CalendarService.ts
  packages/app-store/hubspot/api/add.ts
  packages/app-store/hubspot/api/callback.ts
  packages/app-store/hubspot/lib/CalendarService.ts
  packages/app-store/larkcalendar/api/add.ts
  packages/app-store/larkcalendar/api/callback.ts
  packages/app-store/larkcalendar/lib/CalendarService.ts
  packages/app-store/office365calendar/api/add.ts
  packages/app-store/office365calendar/api/callback.ts
  packages/app-store/office365calendar/lib/CalendarService.ts
  packages/app-store/office365video/api/add.ts
  packages/app-store/office365video/api/callback.ts
  packages/app-store/office365video/lib/VideoApiAdapter.ts
  packages/app-store/salesforce/api/add.ts
  packages/app-store/salesforce/api/callback.ts
  packages/app-store/salesforce/lib/CalendarService.ts
  packages/app-store/stripepayment/api/callback.ts
  packages/app-store/tandemvideo/api/callback.ts
  packages/app-store/webex/api/callback.ts
  packages/app-store/webex/lib/VideoApiAdapter.ts
  packages/app-store/zoho-bigin/api/add.ts
  packages/app-store/zoho-bigin/api/callback.ts
  packages/app-store/zoho-bigin/lib/CalendarService.ts
  packages/app-store/zohocrm/api/_getAdd.ts
  packages/app-store/zohocrm/api/callback.ts
  packages/app-store/zohocrm/lib/CalendarService.ts
  packages/app-store/zoomvideo/api/add.ts
  packages/app-store/zoomvideo/api/callback.ts
  packages/app-store/zoomvideo/lib/VideoApiAdapter.ts
  packages/lib/constants.ts
  turbo.json
Labels: ✨ feature, docs, High priority, ❗️ .env changes, core

#11324 feat: Setups prisma accelerate
  apps/api/lib/helpers/customPrisma.ts
  apps/api/next.d.ts
  apps/api/pages/api/event-types/_get.ts
  apps/web/test/lib/checkBookingLimits.test.ts
  apps/web/test/lib/getSchedule.test.ts
  apps/web/test/lib/handleChildrenEventTypes.test.ts
  apps/web/test/lib/team-event-types.test.ts
  apps/web/test/utils/bookingScenario.ts
  packages/app-store/googlecalendar/lib/CalendarService.test.ts
  packages/features/auth/lib/getServerSession.ts
  packages/features/auth/lib/next-auth-custom-adapter.ts
  packages/features/ee/teams/lib/getUserAdminTeams.ts
  packages/prisma/index.ts
  packages/prisma/package.json
  yarn.lock
Labels: High priority, performance, core

#11449 fix: subteam invite org acceptance
  apps/web/pages/api/auth/signup.ts
  apps/web/pages/signup.tsx
  packages/trpc/server/routers/viewer/teams/inviteMember/utils.ts
Labels: core

#11463 chore: reducing team next data
  apps/web/pages/team/[slug].tsx
  packages/lib/server/queries/teams/index.ts
Labels: core

#11453 feat: Readd app syncing
  .env.example
  apps/web/pages/api/webhook/app-credential.ts
  packages/app-store/_utils/oauth/createOAuthAppCredential.ts
  packages/app-store/_utils/oauth/decodeOAuthState.ts
  packages/app-store/_utils/oauth/encodeOAuthState.ts
  packages/app-store/_utils/oauth/parseRefreshTokenResponse.ts
  packages/app-store/_utils/oauth/refreshOAuthTokens.ts
  packages/app-store/googlecalendar/api/add.ts
  packages/app-store/googlecalendar/api/callback.ts
  packages/app-store/googlecalendar/lib/CalendarService.ts
  packages/app-store/hubspot/api/add.ts
  packages/app-store/hubspot/api/callback.ts
  packages/app-store/hubspot/lib/CalendarService.ts
  packages/app-store/larkcalendar/api/add.ts
  packages/app-store/larkcalendar/api/callback.ts
  packages/app-store/larkcalendar/lib/CalendarService.ts
  packages/app-store/office365calendar/api/add.ts
  packages/app-store/office365calendar/api/callback.ts
  packages/app-store/office365calendar/lib/CalendarService.ts
  packages/app-store/office365video/api/add.ts
  packages/app-store/office365video/api/callback.ts
  packages/app-store/office365video/lib/VideoApiAdapter.ts
  packages/app-store/salesforce/api/add.ts
  packages/app-store/salesforce/api/callback.ts
  packages/app-store/salesforce/lib/CalendarService.ts
  packages/app-store/stripepayment/api/callback.ts
  packages/app-store/tandemvideo/api/callback.ts
  packages/app-store/webex/api/callback.ts
  packages/app-store/webex/lib/VideoApiAdapter.ts
  packages/app-store/zoho-bigin/api/add.ts
  packages/app-store/zoho-bigin/api/callback.ts
  packages/app-store/zoho-bigin/lib/CalendarService.ts
  packages/app-store/zohocrm/api/_getAdd.ts
  packages/app-store/zohocrm/api/callback.ts
  packages/app-store/zohocrm/lib/CalendarService.ts
  packages/app-store/zoomvideo/api/add.ts
  packages/app-store/zoomvideo/api/callback.ts
  packages/app-store/zoomvideo/lib/VideoApiAdapter.ts
  packages/lib/constants.ts
  turbo.json
Labels: ❗️ .env changes, core

#11464 feat: Add 300s accelerate cache to feature flags
  packages/features/flags/server/router.ts
  packages/features/flags/server/utils.ts
Labels: performance, core

#11466 chore: Add login to rewrites
  apps/web/next.config.js
Labels: core

#11469 chore: avoid i18n strings in org profile
  apps/web/pages/team/[slug].tsx
  apps/web/server/lib/ssr.ts
Labels: organizations, core

#11456 fix: team members not showing up in org members list
  apps/web/pages/api/auth/signup.ts
Labels: High priority, core

#11389 fix: remove kyc and make text messages to attendee org only
  apps/web/pages/api/trpc/kycVerification/[trpc].ts
  apps/web/pages/settings/admin/kycVerification/index.tsx
  apps/web/pages/settings/admin/kycVerification/kycVerificationView.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/features/bookings/lib/handleConfirmation.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/ee/workflows/components/AddActionDialog.tsx
  packages/features/ee/workflows/components/KYCVerificationDialog.tsx
  packages/features/ee/workflows/components/WorkflowDetailsPage.tsx
  packages/features/ee/workflows/components/WorkflowStepContainer.tsx
  packages/features/ee/workflows/lib/actionHelperFunctions.ts
  packages/features/ee/workflows/lib/getOptions.ts
  packages/features/ee/workflows/lib/isEventTypeOwnerKYCVerified.ts
  packages/features/ee/workflows/lib/reminders/reminderScheduler.ts
  packages/features/settings/layouts/SettingsLayout.tsx
  packages/trpc/react/trpc.ts
  packages/trpc/server/routers/viewer/_router.tsx
  packages/trpc/server/routers/viewer/kycVerification/_router.tsx
  packages/trpc/server/routers/viewer/kycVerification/isVerified.handler.ts
  packages/trpc/server/routers/viewer/kycVerification/isVerified.schema.ts
  packages/trpc/server/routers/viewer/kycVerification/verify.handler.ts
  packages/trpc/server/routers/viewer/kycVerification/verify.schema.ts
  packages/trpc/server/routers/viewer/workflows/getWorkflowActionOptions.handler.ts
  packages/trpc/server/routers/viewer/workflows/sendVerificationCode.handler.ts
  packages/trpc/server/routers/viewer/workflows/update.handler.ts
  packages/ui/components/badge/KYCVerificationBadge.tsx
  packages/ui/components/badge/UpgradeOrgsBadge.tsx
  packages/ui/components/badge/index.ts
  packages/ui/components/form/select/components.tsx
Labels: workflows, organizations, core

#11470 fix: disable create team button for non admins
  packages/features/ee/teams/components/CreateANewTeamForm.tsx
  packages/features/ee/teams/components/TeamsListing.tsx
Labels: core

#11478 chore: reduce team data footprint
  apps/web/pages/team/[slug].tsx
  packages/features/ee/organizations/context/provider.ts
  packages/features/ee/teams/components/MemberListItem.tsx
  packages/features/ee/teams/components/TeamInviteList.tsx
  packages/features/ee/teams/components/TeamInviteListItem.tsx
  packages/features/ee/teams/pages/team-members-view.tsx
  packages/features/ee/teams/pages/team-profile-view.tsx
  packages/lib/constants.ts
  packages/lib/server/queries/teams/index.ts
  packages/ui/components/unpublished-entity/UnpublishedEntity.tsx
Labels: 🧹 Improvements, teams, organizations, core

#11485 fix: server side error on /apps
  packages/features/ee/teams/lib/getUserAdminTeams.ts
Labels: core

#11473 chore: convert isCreateTeamButtonDisabled to bool
  packages/features/ee/teams/components/TeamsListing.tsx
Labels: core

#11481 chore: add reply_to to all booking emails
  packages/emails/templates/attendee-request-email.ts
  packages/emails/templates/organizer-location-change-email.ts
  packages/emails/templates/organizer-request-email.ts
  packages/emails/templates/organizer-request-reminder-email.ts
  packages/emails/templates/organizer-rescheduled-email.ts
  packages/emails/templates/organizer-scheduled-email.ts
Labels: core

#11489 fix: remove stripe metadata and more logos
  apps/web/components/team/screens/Team.tsx
  apps/web/pages/team/[slug].tsx
  packages/features/ee/teams/pages/team-profile-view.tsx
  packages/lib/server/queries/teams/index.ts
  packages/trpc/server/routers/viewer/teams/get.handler.ts
  packages/trpc/server/routers/viewer/teams/get.schema.ts
  packages/ui/components/unpublished-entity/UnpublishedEntity.tsx
Labels: High priority, core

#11399 feat: Add ability to edit avatar
  apps/web/public/static/locales/en/common.json
  packages/features/users/components/UserTable/EditSheet/EditUserForm.tsx
  packages/features/users/components/UserTable/EditSheet/EditUserSheet.tsx
  packages/features/users/components/UserTable/UserListTable.tsx
  packages/lib/server/queries/organisations/index.ts
  packages/trpc/server/routers/viewer/organizations/updateUser.handler.ts
  packages/trpc/server/routers/viewer/organizations/updateUser.schema.ts
  packages/ui/components/sheet/sheet.tsx
Labels: ✨ feature, ⚡ Quick Wins, Low priority, organizations, ui

#11411 fix: #11397 request for reschedule did not cancel initial meeting
  packages/core/videoClient.ts
  packages/trpc/server/routers/viewer/bookings/requestReschedule.handler.ts
Labels: 🐛 bug, Medium priority, bookings

#11434 fix: The clickable area of the 'x' in add guests section is not user friendly
  packages/features/form-builder/Components.tsx
  packages/ui/components/form/inputs/TextField.tsx
  packages/ui/components/form/inputs/types.d.ts
Labels: core

#11349 fix: Tickets are being shown in user preferred time format
  apps/web/pages/booking/[uid].tsx
Labels: 🐛 bug, ⚡ Quick Wins, bookings

#9754 chore: refactor app list into common component
  apps/web/components/apps/AppList.tsx
  apps/web/pages/apps/installed/[category].tsx
  apps/web/pages/settings/my-account/conferencing.tsx
Labels: ✅ good first issue, 🧹 Improvements, Medium priority, ui

#10429 feat: Zoho Calendar
  .env.appStore.example
  README.md
  packages/app-store/apps.keys-schemas.generated.ts
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.schemas.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/index.ts
  packages/app-store/zohocalendar/DESCRIPTION.md
  packages/app-store/zohocalendar/README.md
  packages/app-store/zohocalendar/api/add.ts
  packages/app-store/zohocalendar/api/callback.ts
  packages/app-store/zohocalendar/api/index.ts
  packages/app-store/zohocalendar/config.json
  packages/app-store/zohocalendar/index.ts
  packages/app-store/zohocalendar/lib/CalendarService.ts
  packages/app-store/zohocalendar/lib/index.ts
  packages/app-store/zohocalendar/package.json
  packages/app-store/zohocalendar/static/ZCal1.jpg
  packages/app-store/zohocalendar/static/ZCal2.jpg
  packages/app-store/zohocalendar/static/ZCal3.jpg
  packages/app-store/zohocalendar/static/ZCal4.jpg
  packages/app-store/zohocalendar/static/icon.svg
  packages/app-store/zohocalendar/types/ZohoCalendar.ts
  packages/app-store/zohocalendar/zod.ts
  packages/prisma/seed-app-store.ts
  yarn.lock
Labels: ✨ feature, app-store, Medium priority

#11507 Update the oauth imports to _utils/oauth
  packages/app-store/zohocalendar/api/add.ts
  packages/app-store/zohocalendar/api/callback.ts
Labels: core

#11498 chore: removed ring from org avatar
  packages/features/ee/organizations/components/OrganizationAvatar.tsx
Labels: ⚡ Quick Wins, core

#11508 fix: Salesforce by wrapping the refresh logic in a try/catch
  packages/app-store/salesforce/lib/CalendarService.ts
Labels: core

#11475 fix: add a default timezone
  apps/web/components/getting-started/steps-views/UserSettings.tsx
  apps/web/lib/clock.ts
  apps/web/pages/booking/[uid].tsx
  packages/features/bookings/Booker/components/EventMeta.tsx
  packages/features/bookings/lib/timePreferences.ts
  packages/features/ee/payments/components/PaymentPage.tsx
  packages/features/ee/teams/components/TeamAvailabilityModal.tsx
  packages/features/settings/TimezoneChangeDialog.tsx
  packages/features/timezone-buddy/components/AvailabilitySliderTable.tsx
  packages/ui/components/form/timezone-select/TimezoneSelect.tsx
Labels: core

#11309 fix: icons for dark mode
  apps/web/pages/booking/[uid].tsx
  packages/embeds/embed-core/bun.lockb
Labels: 🐛 bug, ⚡ Quick Wins, core

#11511 fix: username change test
  apps/web/playwright/change-username.e2e.ts
Labels: core

#11493 fix: verify-rerender-checkout-stripe-session
  apps/web/pages/auth/verify.tsx
Labels: core

#11523 test: private team test
  apps/web/components/team/screens/Team.tsx
  apps/web/pages/team/[slug].tsx
  apps/web/playwright/teams.e2e.ts
  packages/features/ee/teams/components/MakeTeamPrivateSwitch.tsx
Labels: Medium priority, teams, automated-tests, core

#11418 fix: Prefill issue when name isn't present and add unit tests
  packages/features/bookings/lib/getBookingResponsesSchema.test.ts
  packages/features/bookings/lib/getBookingResponsesSchema.ts
  packages/features/form-builder/schema.ts
  packages/prisma/zod-utils.ts
Labels: Medium priority, automated-tests, core

#11533 fix: timezone of default schedule should change if profile timezone is updated
  packages/trpc/server/routers/loggedInViewer/updateProfile.handler.ts
  packages/trpc/server/routers/viewer/availability/schedule/create.handler.ts
Labels: ✨ feature, 🎨 needs design, 🧹 Improvements, High priority, bookings, core

#11288 fix: Dynamic events prevent fetching all users that share a username [CAL-2409]
  apps/web/pages/[user]/[type].tsx
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/ee/organizations/lib/orgDomains.ts
Labels: organizations, core

#11540 fix: form input not being saved after "back"
  apps/web/playwright/booking-pages.e2e.ts
  packages/features/bookings/Booker/components/BookEventForm/BookEventForm.tsx
Labels: 🐛 bug, ⚡ Quick Wins, Medium priority, ui

#11546 fix: allow different casing for team
  apps/web/pages/team/[slug].tsx
Labels: 🐛 bug, 🚧 wip / in the making, ⚡ Quick Wins, Low priority

#11335 fix: Blank state wouldn't set 'schedule'; resulting toggle had no effect
  apps/web/components/eventtype/EventAvailabilityTab.tsx
  packages/core/getUserAvailability.ts
  packages/prisma/selects/user.ts
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: bookings, core

#10927 feat: ability to reorder fields in multiple select in Routing Forms
  packages/app-store/routing-forms/pages/form-edit/[...appPages].tsx
Labels: ✨ feature, Low priority, routing-forms

#11554 docs: Add team availability doc for API
  apps/api/pages/api/availability/_get.ts
Labels: core

#11520 fix: removed duplicate account delete confirmation text
  apps/web/pages/settings/my-account/profile.tsx
  apps/web/public/static/locales/ar/common.json
  apps/web/public/static/locales/cs/common.json
  apps/web/public/static/locales/da/common.json
  apps/web/public/static/locales/de/common.json
  apps/web/public/static/locales/en/common.json
  apps/web/public/static/locales/es/common.json
  apps/web/public/static/locales/fr/common.json
  apps/web/public/static/locales/he/common.json
  apps/web/public/static/locales/hu/common.json
  apps/web/public/static/locales/it/common.json
  apps/web/public/static/locales/ja/common.json
  apps/web/public/static/locales/ko/common.json
  apps/web/public/static/locales/nl/common.json
  apps/web/public/static/locales/no/common.json
  apps/web/public/static/locales/pl/common.json
  apps/web/public/static/locales/pt-BR/common.json
  apps/web/public/static/locales/pt/common.json
  apps/web/public/static/locales/ro/common.json
  apps/web/public/static/locales/ru/common.json
  apps/web/public/static/locales/sr/common.json
  apps/web/public/static/locales/sv/common.json
  apps/web/public/static/locales/tr/common.json
  apps/web/public/static/locales/uk/common.json
  apps/web/public/static/locales/zh-CN/common.json
  apps/web/public/static/locales/zh-TW/common.json
Labels: 🐛 bug
