Repository calcom/cal.com, pull requests merged in 2023-07, with the labels that each got.

#9462 fix: Stripe integration
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/integrations-stripe.e2e.ts
Labels: Medium priority, automated tests

#9811 fix: phone number disappearing issue
  packages/ui/form/PhoneInput.tsx
Labels: 🐛 bug, Medium priority, bookings

#9863 chore: Make reading env file cache strict
  .github/actions/env-read-file/action.yml
Labels: High priority

#9868 fix: alignment of icon and title in ConfirmationDialogContent
  packages/ui/components/dialog/ConfirmationDialogContent.tsx
Labels: 🐛 bug, Low priority

#9719 chore: small changes to dropdown & main sidebar
  packages/features/ee/teams/components/TeamList.tsx
  packages/features/filters/components/TeamsFilter.tsx
  packages/features/shell/Shell.tsx
  packages/ui/components/divider/Divider.tsx
  packages/ui/components/empty-screen/EmptyScreen.tsx
  packages/ui/components/popover/AnimatedPopover.tsx
Labels: 🧹 Improvements, Low priority, UI

#9291 feat: org invite billing
  .env.example
  apps/web/pages/api/auth/signup.ts
  apps/web/pages/settings/admin/organizations/index.tsx
  apps/web/pages/settings/organizations/billing.tsx
  apps/web/pages/signup.tsx
  apps/web/public/static/locales/en/common.json
  packages/app-store/stripepayment/api/portal.ts
  packages/emails/email-manager.ts
  packages/emails/src/templates/OrgAutoInviteEmail.tsx
  packages/emails/src/templates/index.ts
  packages/emails/templates/org-auto-join-invite.ts
  packages/features/ee/api-keys/components/ApiKeyDialogForm.tsx
  packages/features/ee/organizations/components/OrgUpgradeBanner.tsx
  packages/features/ee/organizations/pages/settings/admin/unverifiedOrgPage.tsx
  packages/features/ee/sso/components/OIDCConnection.tsx
  packages/features/ee/teams/components/MemberInvitationModal.tsx
  packages/features/ee/teams/lib/payments.ts
  packages/features/ee/workflows/components/EmptyScreen.tsx
  packages/features/eventtypes/components/CheckedTeamSelect.tsx
  packages/features/settings/layouts/SettingsLayout.tsx
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer/organizations/_router.tsx
  packages/trpc/server/routers/viewer/organizations/adminGetUnverified.handler.ts
  packages/trpc/server/routers/viewer/organizations/adminVerify.handler.ts
  packages/trpc/server/routers/viewer/organizations/adminVerify.schema.ts
  packages/trpc/server/routers/viewer/organizations/create.handler.ts
  packages/trpc/server/routers/viewer/organizations/getMembers.handler.ts
  packages/trpc/server/routers/viewer/organizations/getMembers.schema.ts
  packages/trpc/server/routers/viewer/organizations/publish.handler.ts
  packages/trpc/server/routers/viewer/teams/getUpgradeable.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember.handler.ts
  packages/trpc/server/routers/viewer/teams/publish.handler.ts
  turbo.json
Labels: High priority, ❗️ .env changes, 🏰 Organizations

#9890 fix: Transform Google API Key [CAL-1749]
  packages/app-store/googlecalendar/zod.ts
Labels: 🐛 bug, Medium priority

#9648 fix: Creating team and preview URL fixes [CAL-1997] [CAL-1998]
  apps/web/components/ui/UsernameAvailability/index.tsx
  apps/web/pages/event-types/index.tsx
  apps/web/pages/signup.tsx
  packages/features/ee/organizations/components/AboutOrganizationForm.tsx
  packages/features/ee/organizations/context/provider.ts
  packages/features/ee/organizations/lib/orgDomains.ts
  packages/features/ee/organizations/pages/settings/appearance.tsx
  packages/features/ee/organizations/pages/settings/profile.tsx
  packages/features/ee/teams/components/CreateANewTeamForm.tsx
  packages/features/ee/teams/components/TeamListItem.tsx
  packages/features/eventtypes/components/CreateEventTypeDialog.tsx
  packages/features/shell/Shell.tsx
  packages/features/test/orgDomains.test.ts
  packages/trpc/server/routers/viewer/organizations/create.handler.ts
  packages/trpc/server/routers/viewer/organizations/getBrand.handler.ts
Labels: automerge, High priority, 🏰 Organizations

#9909 feat: added missing skeletons for sidebar
  packages/features/shell/Shell.tsx
Labels: ✨ feature, Low priority, UI

#9919 fix: Few minor UI issues in Orgs
  packages/features/ee/organizations/components/CreateANewOrganizationForm.tsx
  packages/features/shell/Shell.tsx
  packages/trpc/server/routers/viewer/eventTypes/getByViewer.handler.ts
Labels: Medium priority, 🏰 Organizations

#9917 fix: Enhance the AnimatedPopover
  packages/ui/components/popover/AnimatedPopover.tsx
Labels: ✨ feature

#9904 fix: API /teams/:id/publish
  apps/api/lib/helpers/verifyApiKey.ts
  apps/api/pages/api/teams/[teamId]/publish.ts
  packages/trpc/server/routers/viewer/teams/publish.schema.ts
Labels: 🐛 bug, High priority, API

#9899 fix: app crash issue on setting a greater recurring count than the ma…
  apps/web/components/booking/pages/AvailabilityPage.tsx
Labels: 🐛 bug, Low priority, booking page

#9936 fix: added brand hover for dates
  packages/features/bookings/components/AvailableTimes.tsx
Labels: ✨ feature, ⚡ Quick Wins, UI

#9663 fix: Spacing issues on "settings" Button navbar skeleton (fix-settings-skeleton)
  apps/web/pages/settings/my-account/profile.tsx
  packages/features/settings/layouts/SettingsLayout.tsx
  packages/features/shell/Shell.tsx
  packages/ui/components/skeleton/index.tsx
Labels: Low priority

#9898 fix: Exclude the possibility to book events with invalid email addresses
  packages/features/bookings/lib/getBookingResponsesSchema.ts
  packages/prisma/zod-utils.ts
Labels: ✨ feature, Medium priority, 💎 Bounty, booking page

#9692 feat: booking filters [CAL-1801]
  apps/web/components/dialog/EditLocationDialog.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/BookingMultiFiltersStore.ts
  packages/features/bookings/components/EventTypeFilter.tsx
  packages/features/bookings/components/FiltersContainer.tsx
  packages/features/bookings/components/PeopleFilter.tsx
  packages/features/bookings/components/TeamFilter.tsx
  packages/features/bookings/layout/BookingLayout.tsx
  packages/features/filters/components/TeamsFilter.tsx
  packages/ui/components/form/dropdown/Dropdown.tsx
  packages/ui/components/form/index.ts
  packages/ui/components/form/inputs/Input.tsx
  packages/ui/components/popover/AnimatedPopover.tsx
  packages/ui/index.tsx
Labels: High priority, 🏰 Organizations

#9938 fix: premium-username-callback
  apps/web/components/ui/UsernameAvailability/PremiumTextfield.tsx
  apps/web/components/ui/UsernameAvailability/UsernameTextfield.tsx
  packages/trpc/server/routers/loggedInViewer/stripeCustomer.handler.ts
Labels: 🐛 bug, Medium priority, 📉 regressing

#9945 feat: Fix invite bug - added tests
  packages/features/ee/organizations/pages/settings/members.tsx
  packages/features/ee/teams/components/AddNewTeamMembers.tsx
  packages/features/ee/teams/components/MemberInvitationModal.tsx
  packages/features/ee/teams/components/TeamListItem.tsx
  packages/features/ee/teams/pages/team-members-view.tsx
  packages/trpc/server/routers/viewer/teams/_router.tsx
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMember.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMember.schema.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMemberUtils.test.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/types.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/utils.ts
Labels: High priority, 🏰 Organizations

#9888 chore: Button Component Tidy up
  packages/ui/components/button/Button.tsx
Labels: ⚡ Quick Wins, Low priority, by: cal.com

#9870 feat: Make Team Private
  apps/web/pages/team/[slug].tsx
  apps/web/public/static/locales/en/common.json
  packages/features/ee/teams/components/MakeTeamPrivateSwitch.tsx
  packages/features/ee/teams/pages/team-members-view.tsx
  packages/lib/server/queries/teams/index.ts
  packages/prisma/migrations/20230701125542_add_is_private/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/teams/update.handler.ts
  packages/trpc/server/routers/viewer/teams/update.schema.ts
Labels: ✨ feature, ❗️ migrations, Medium priority, teams, by: cal.com

#9959 chore: Create pr-assign-team-label.yml
  .github/workflows/pr-assign-team-label.yml
Labels: cal-com

#9969 fix: Preview deployements don't have NEXT_PUBLIC_WEBAPP_URL defined
  apps/web/pagesAndRewritePaths.js
Labels: ci, core

#9281 fix: Credential of type video wrong id on bookingReference
  packages/app-store/dailyvideo/lib/VideoApiAdapter.ts
  packages/app-store/utils.ts
  packages/core/EventManager.ts
  packages/core/videoClient.ts
  packages/types/EventManager.d.ts
Labels: 🐛 bug, Medium priority, core

#9976 fix: layout shift in booker
  packages/features/bookings/Booker/Booker.tsx
Labels: 🐛 bug, 📉 regressing, ui, core

#9977 fix: update should be based on email only
  packages/features/auth/lib/next-auth-options.ts
Labels: core

#9968 fix: Only enable when defaultScheduleId is truthy
  apps/web/components/getting-started/steps-views/SetupAvailability.tsx
Labels: core

#9987 feat: temp admin user management
  apps/web/pages/api/trpc/admin/[trpc].ts
  packages/features/ee/users/components/UserForm.tsx
  packages/features/ee/users/components/UsersTable.tsx
  packages/features/ee/users/schemas/userBodySchema.ts
  packages/features/ee/users/server/trpc-router.ts
  packages/lib/hooks/useDebounce.tsx
  packages/trpc/react/trpc.ts
  packages/trpc/server/routers/viewer/_router.tsx
  packages/trpc/server/routers/viewer/admin/_router.ts
  packages/trpc/server/routers/viewer/admin/listPaginated.handler.ts
  packages/trpc/server/routers/viewer/admin/listPaginated.schema.ts
  packages/trpc/server/routers/viewer/admin/sendPasswordReset.handler.ts
  packages/trpc/server/routers/viewer/admin/sendPasswordReset.schema.ts
Labels: High priority, core

#9963 fix: hide invite member button from list tile for team members
  packages/features/ee/teams/components/TeamListItem.tsx
Labels: 🐛 bug, Medium priority, teams

#9860 fix: Organizations/ Fixes related to Routing Form, Booking Pages and Embeds
  apps/web/test/lib/next-config.test.ts
Labels: High priority, organizations, core

#9983 fix: Back to Bookings button only shows for organizer
  apps/web/pages/booking/[uid].tsx
Labels: 🐛 bug, Low priority

#9631 fix: Orgs/create child teams CAL-1986
  apps/web/pages/teams/index.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/ee/teams/components/TeamsListing.tsx
  packages/features/settings/layouts/SettingsLayout.tsx
  packages/trpc/server/middlewares/sessionMiddleware.ts
  packages/trpc/server/routers/viewer/teams/create.handler.ts
Labels: High priority, organizations, core

#9569 feat: from org team invite
  apps/storybook/package.json
  apps/web/package.json
  packages/features/ee/organizations/components/TeamInviteFromOrg.tsx
  packages/features/ee/teams/components/MemberInvitationModal.tsx
  packages/features/ee/teams/components/MemberListItem.tsx
  packages/features/ee/teams/pages/team-members-view.tsx
  packages/trpc/server/routers/viewer/organizations/_router.tsx
  packages/trpc/server/routers/viewer/organizations/getMembers.handler.ts
  packages/trpc/server/routers/viewer/organizations/getMembers.schema.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMemberUtils.test.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/utils.ts
  packages/ui/components/form/toggleGroup/ToggleGroup.tsx
  packages/ui/package.json
  yarn.lock
Labels: ❗️ migrations, High priority, core

#10034 fix: Missing rounded border in embed for New Booker
  packages/features/bookings/Booker/Booker.tsx
Labels: automerge, core

#9994 fix: location icon
  packages/features/bookings/components/event-meta/Details.tsx
  packages/features/bookings/components/event-meta/Locations.tsx
Labels: 🐛 bug, ⚡ Quick Wins, Low priority, 📉 regressing

#8125 fix: /routing-form/single - Don't clear edits when moving from one tab to the other
  apps/web/pages/apps/[slug]/[...pages].tsx
  packages/app-store/routing-forms/components/SingleForm.tsx
  packages/app-store/routing-forms/pages/app-routing.config.tsx
  packages/app-store/routing-forms/pages/form-edit/[...appPages].tsx
  packages/app-store/routing-forms/pages/forms/[...appPages].tsx
  packages/app-store/routing-forms/pages/layout-handler/[...appPages].tsx
  packages/app-store/routing-forms/pages/route-builder/[...appPages].tsx
  packages/app-store/routing-forms/playwright/tests/basic.e2e.ts
Labels: 🧹 Improvements, Medium priority, Low priority, core

#10022 Fix #10021 Changes save button color from secondary to primary.
  packages/ui/components/image-uploader/ImageUploader.tsx
Labels: Low priority, ui

#10006 fix: cancel button not working on payment page
  packages/features/ee/payments/components/Payment.tsx
Labels: 🐛 bug

#9999 chore: Credits with commit hash
  apps/web/components/PageWrapper.tsx
  apps/web/pages/404.tsx
  packages/lib/constants.ts
  packages/lib/isCalcom.ts
  packages/ui/components/credits/Credits.tsx
  packages/ui/components/head-seo/HeadSeo.tsx
Labels: core

#9978 chore: Improve info that should be filled out for bugs and features
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: core

#9997 chore: Teams empty screen
  apps/web/pages/team/[slug].tsx
  apps/web/public/static/locales/en/common.json
  packages/features/ee/teams/components/CreateANewTeamForm.tsx
  packages/features/ee/teams/components/TeamsListing.tsx
Labels: Medium priority, teams, organizations, core

#10042 feat: Add password checks for password-reset
  apps/web/pages/api/auth/reset-password.ts
  apps/web/pages/auth/forgot-password/[id].tsx
  apps/web/playwright/auth/forgot-password.e2e.ts
Labels: core

#10029 fix: 404 booking pages when org support is enabled locally
  apps/web/test/lib/next-config.test.ts
  packages/features/ee/organizations/lib/orgDomains.ts
  packages/features/test/orgDomains.test.ts
Labels: High priority, organizations, core

#10047 fix: Calcom UI deployments
  packages/ui/components/TokenHandler/tokenhandler.stories.mdx
Labels: Low priority, ci, core

#9967 fix: better slot starting times
  apps/web/test/lib/getSchedule.test.ts
  packages/lib/slots.ts
Labels: High priority, bookings, core

#9973 fix: Enable Salesforce & CRMs for teams & orgs [CAL-2116]
  packages/app-store/hubspot/api/add.ts
  packages/app-store/salesforce/api/add.ts
  packages/app-store/salesforce/lib/CalendarService.ts
  packages/app-store/zoho-bigin/api/add.ts
  packages/app-store/zohocrm/api/_getAdd.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/lib/defaultEvents.ts
  packages/prisma/selects/user.ts
Labels: High priority, core

#10025 fix: fixes issue with webhook not being triggered for managed events
  packages/features/bookings/lib/handleNewBooking.ts
  packages/lib/defaultEvents.ts
Labels: 🐛 bug, High priority, teams, webhooks

#10010 fix: Reject Organization button is not working
  packages/features/ee/organizations/pages/settings/admin/unverifiedOrgPage.tsx
Labels: 🐛 bug, ⚡ Quick Wins, Medium priority, organizations, ui

#10037 feat: Auto accept on org verify
  packages/trpc/server/routers/viewer/organizations/adminVerify.handler.ts
Labels: ✨ feature, Medium priority, organizations, core

#10043 fix: about section unnecessary scrollbar
  packages/ui/components/editor/Editor.tsx
Labels: 🐛 bug, 🙋🏻‍♂️help wanted, ⚡ Quick Wins, Low priority

#10051 fix: prevents warnings on branding call when unauthed
  packages/features/ee/organizations/hooks/index.ts
Labels: Low priority, core

#10053 chore: removed old booker and make new booker as a default
  .env.example
  apps/web/components/booking/AvailableEventLocations.tsx
  apps/web/components/booking/BookingDescription.tsx
  apps/web/components/booking/pages/AvailabilityPage.tsx
  apps/web/components/booking/pages/BookingPage.tsx
  apps/web/middleware.ts
  apps/web/next.config.js
  apps/web/pages/[user]/[type].tsx
  apps/web/pages/[user]/[type]/embed.tsx
  apps/web/pages/[user]/book.tsx
  apps/web/pages/api/newbooker/[status].tsx
  apps/web/pages/d/[link]/[slug].tsx
  apps/web/pages/d/[link]/[slug]/embed.tsx
  apps/web/pages/d/[link]/book.tsx
  apps/web/pages/new-booker/[user]/[type].tsx
  apps/web/pages/new-booker/[user]/[type]/embed.tsx
  apps/web/pages/new-booker/[user]/embed.tsx
  apps/web/pages/new-booker/d/[link]/[slug].tsx
  apps/web/pages/new-booker/team/[slug]/[type].tsx
  apps/web/pages/new-booker/team/[slug]/[type]/embed.tsx
  apps/web/pages/new-booker/team/[slug]/embed.tsx
  apps/web/pages/org/[orgSlug]/[user]/[type].ts
  apps/web/pages/org/[orgSlug]/[user]/index.tsx
  apps/web/pages/team/[slug].tsx
  apps/web/pages/team/[slug]/[type].tsx
  apps/web/pages/team/[slug]/[type]/embed.tsx
  apps/web/pages/team/[slug]/book.tsx
  apps/web/pages/team/[slug]/embed.tsx
  apps/web/pagesAndRewritePaths.js
  apps/web/playwright/booking-pages.e2e.ts
  apps/web/playwright/booking-seats.e2e.ts
  apps/web/playwright/event-types.e2e.ts
  apps/web/playwright/lib/new-booker.ts
  apps/web/playwright/manage-booking-questions.e2e.ts
  apps/web/playwright/reschedule.e2e.ts
  apps/web/test/lib/next-config.test.ts
  packages/embeds/embed-core/playwright/lib/testUtils.ts
  packages/embeds/embed-core/playwright/tests/action-based.e2e.ts
  packages/embeds/embed-core/playwright/tests/inline.e2e.ts
  packages/embeds/embed-core/playwright/tests/preview.e2e.ts
  packages/embeds/embed-react/playwright/tests/basic.e2e.ts
  packages/lib/defaultEvents.ts
  turbo.json
Labels: 🧹 Improvements, High priority, ❗️ .env changes, 💎 Bounty, ui, booking-page

#10050 feat: Meticulous experiment & audit
  apps/web/pages/_document.tsx
Labels: Low priority, automated-tests, core

#9684 feat: Added back to today button for new booker week and column views
  packages/features/bookings/Booker/components/Header.tsx
  packages/features/bookings/Booker/store.ts
Labels: Medium priority, ui, booking-page

#9353 feat: enable crowdin 2-way sync
  .github/workflows/crowdin.yml
Labels: Medium priority, i18n, core

#9928 fix: 404 links issue
  apps/web/pages/404.tsx
  packages/features/shell/Shell.tsx
Labels: 🐛 bug, Medium priority, 📉 regressing, core

#10063 fix: TS error in main
  packages/lib/defaultEvents.ts
Labels: core

#9778 fix: seats regression [CAL-2041]
  apps/web/components/booking/AvailableTimes.tsx
  apps/web/pages/[user]/[type].tsx
  apps/web/pages/d/[link]/[slug].tsx
  apps/web/pages/reschedule/[uid].tsx
  apps/web/pages/team/[slug]/[type].tsx
  apps/web/pages/team/[slug]/[type]/embed.tsx
  apps/web/playwright/booking-pages.e2e.ts
  apps/web/playwright/booking-seats.e2e.ts
  apps/web/playwright/lib/testUtils.ts
  packages/core/getBusyTimes.ts
  packages/core/getUserAvailability.ts
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/components/AvailableTimeSlots.tsx
  packages/features/bookings/Booker/components/BookEventForm/BookEventForm.tsx
  packages/features/bookings/Booker/components/EventMeta.tsx
  packages/features/bookings/Booker/store.ts
  packages/features/bookings/Booker/types.ts
  packages/features/bookings/Booker/utils/query-param.ts
  packages/features/bookings/components/AvailableTimes.tsx
  packages/features/bookings/lib/book-event-form/booking-to-mutation-input-mapper.tsx
  packages/features/bookings/lib/get-booking.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/ee/organizations/pages/settings/appearance.tsx
  packages/features/ee/teams/components/TeamList.tsx
  packages/features/filters/components/TeamsFilter.tsx
  packages/lib/date-ranges.ts
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer/bookings/get.handler.ts
Labels: High priority, 📉 regressing, core

#10052 fix: Org booking pages link fixes for Routing Forms and Event type
  apps/web/components/eventtype/EventTypeSingleLayout.tsx
  packages/app-store/routing-forms/components/FormActions.tsx
  packages/features/ee/teams/components/MemberListItem.tsx
  packages/lib/getOrgAwareUrl.ts
Labels: High priority, organizations, core

#10038 fix: Empty spaces in text field do not trigger inline field error
  packages/prisma/zod-utils.ts
Labels: 🐛 bug, ⚡ Quick Wins, Low priority

#10072 chore: Enabling console for staging
  packages/lib/constants.ts
Labels: core

#9878 fix: Allow editing guests when rescheduling or editing a booking
  packages/features/bookings/Booker/components/BookEventForm/BookingFields.tsx
  packages/features/bookings/lib/handleNewBooking.ts
Labels: ✨ feature, High priority, 💎 Bounty, bookings

#10090 fix: ternary operator with lenght causing 0
  apps/web/pages/event-types/[type]/index.tsx
Labels: 🐛 bug, Medium priority, ui, core

#10104 fix: Use user locale for sending password resets
  apps/web/pages/api/auth/forgot-password.ts
  apps/web/pages/auth/forgot-password/index.tsx
Labels: core

#10103 fix: slot reservation uses wrong event length
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: core

#10094 fix: yaml syntax for new contributors action
  .github/workflows/welcome-new-contributors.yml
Labels: core

#10105 fix: onboard-pricing-options-self-host
  apps/web/components/setup/ChooseLicense.tsx
  apps/web/public/static/locales/en/common.json
Labels: ✨ feature, Medium priority, self-hosting, core

#9875 fix: incomplete vercel api error message on org creation
  apps/web/public/static/locales/en/common.json
  packages/features/ee/organizations/components/CreateANewOrganizationForm.tsx
Labels: 🐛 bug, Medium priority, organizations

#10109 fix: hasTeamPlan with accepted prop
  packages/trpc/server/routers/viewer/teams/hasTeamPlan.handler.ts
Labels: 🧹 Improvements, Medium priority, ui, core

#10110 fix: team invite links
  apps/web/pages/signup.tsx
  packages/lib/server/queries/teams/index.ts
  packages/prisma/migrations/20230712192734_fixes_team_verification_tokens/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/teams/createInvite.handler.ts
  packages/trpc/server/routers/viewer/teams/list.handler.ts
Labels: ❗️ migrations, Urgent, core

#10113 fix: Ensure rendering as UTC to prevent browser tz from messing up times
  apps/web/pages/availability/[schedule].tsx
  packages/features/schedules/components/DateOverrideInputDialog.tsx
  packages/features/schedules/components/DateOverrideList.tsx
Labels: High priority, bookings, core

#10116 fix: Remove/Update behaviour of date-overrides
  apps/web/pages/availability/[schedule].tsx
  packages/features/schedules/components/DateOverrideList.tsx
Labels: High priority, bookings, core

#10069 feat: Added e2e test paid booking should be able to be rescheduled
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/integrations-stripe.e2e.ts
Labels: ✨ feature, Low priority, 💎 Bounty, automated-tests

#10134 fix: Hotfix/consider new conferencing and old video app categories
  packages/prisma/schema.prisma
  packages/trpc/server/routers/loggedInViewer/deleteCredential.handler.ts
  packages/trpc/server/routers/loggedInViewer/locationOptions.handler.ts
Labels: High priority, core

#9600 fix: Improved recurring event booking speed
  apps/web/pages/api/book/recurring-event.ts
  packages/features/bookings/lib/create-recurring-booking.ts
Labels: 🐛 bug, Medium priority, performance

#10108 fix: Creating a default availability for org owner [CAL-2142]
  apps/web/pages/availability/index.tsx
  packages/trpc/server/routers/viewer/organizations/create.handler.ts
Labels: Medium priority, organizations, core

#10117 fix: incorrect error messsage for invalid login credentials
  apps/web/pages/auth/login.tsx
  apps/web/playwright/login.e2e.ts
  apps/web/public/static/locales/en/common.json
  packages/features/auth/lib/ErrorCode.ts
  packages/features/auth/lib/next-auth-options.ts
Labels: 🐛 bug, authentication

#10095 fix: "change username" dialog design
  apps/web/components/ui/UsernameAvailability/UsernameTextfield.tsx
Labels: 🐛 bug, Low priority, ui

#9981 fix: upload csv button not clickable
  packages/features/ee/teams/components/MemberInvitationModal.tsx
Labels: 🐛 bug, Medium priority

#9891 feat: Added order by most popular in Onboarding screen
  apps/web/components/getting-started/steps-views/ConnectCalendars.tsx
  apps/web/components/getting-started/steps-views/ConnectedVideoStep.tsx
  packages/app-store/_appRegistry.ts
  packages/lib/apps/getMostPopularApps.ts
  packages/trpc/server/routers/loggedInViewer/integrations.handler.ts
  packages/trpc/server/routers/loggedInViewer/integrations.schema.ts
Labels: ✨ feature, app-store, 🧹 Improvements, Medium priority, 2 points

#10083 fix: More instances of Avatar and booker links fixed
  apps/web/components/booking/BookingListItem.tsx
  apps/web/pages/team/[slug].tsx
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/ee/organizations/components/TeamInviteFromOrg.tsx
  packages/features/ee/organizations/hooks/index.ts
  packages/features/ee/organizations/lib/orgDomains.ts
  packages/features/ee/teams/components/AddNewTeamMembers.tsx
  packages/features/insights/filters/UsersListInTeam.tsx
  packages/features/webhooks/pages/webhooks-view.tsx
  packages/lib/CalEventParser.ts
  packages/lib/hooks/useBookerUrl.ts
  packages/lib/server/getBookerUrl.ts
  packages/lib/server/getBrand.ts
  packages/trpc/server/routers/loggedInViewer/teamsAndUserProfilesQuery.handler.ts
  packages/trpc/server/routers/viewer/eventTypes/getByViewer.handler.ts
  packages/trpc/server/routers/viewer/organizations/getBrand.handler.ts
  packages/trpc/server/routers/viewer/webhook/getByViewer.handler.ts
  packages/types/Calendar.d.ts
  packages/ui/components/createButton/CreateButton.tsx
Labels: High priority, organizations, core

#10130 fix: Important Booking Page fixes
  apps/web/components/team/screens/Team.tsx
  apps/web/pages/[user]/[type].tsx
  apps/web/pages/api/user/avatar.ts
  apps/web/pages/d/[link]/[slug].tsx
  apps/web/pages/org/[orgSlug]/[user]/[type].tsx
  apps/web/pages/org/[orgSlug]/[user]/index.tsx
  apps/web/pages/team/[slug].tsx
  apps/web/pages/team/[slug]/[type].tsx
  apps/web/pages/team/[slug]/[type]/embed.tsx
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/store.ts
  packages/features/bookings/Booker/types.ts
  packages/features/bookings/Booker/utils/event.ts
  packages/features/bookings/components/BookerSeo.tsx
  packages/features/eventtypes/lib/getPublicEvent.ts
  packages/trpc/server/routers/publicViewer/event.handler.ts
  packages/trpc/server/routers/publicViewer/event.schema.ts
Labels: High priority, organizations, core

#10096 chore: Update GitHub env caching to use current PR details
  .github/actions/env-read-file/action.yml
  .github/workflows/env-create-file.yml
Labels: core

#10126 fix: remove max width from bookings page
  packages/features/bookings/layout/BookingLayout.tsx
Labels: 🐛 bug, ✅ good first issue, ⚡ Quick Wins, ui

#10007 fix: added slugify the eventType slugs on the api end as well
  apps/api/lib/validations/event-type.ts
Labels: ✨ feature, Low priority, api

#10143 fix: webhooks for events with seats
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/features/bookings/lib/handleNewBooking.ts
Labels: 🐛 bug, 🚧 wip / in the making, 👩‍🔬 needs investigation, High priority, seats, webhooks, core

#9729 feat: Auto submit 2FA if all inputs have a value
  apps/web/components/security/EnableTwoFactorModal.tsx
  apps/web/components/settings/EnableTwoFactorModal.tsx
  apps/web/playwright/login.2fa.e2e.ts
  packages/lib/hooks/useCallbackRef.ts
Labels: ✨ feature, Low priority, 1 points, authentication

#10144 fix: Added distinct clause when getting user list in team for insights
  packages/features/insights/server/trpc-router.ts
Labels: 🐛 bug, Medium priority, insights, core

#10152 fix: no feedback on buttons on /getting-started page.
  apps/web/components/getting-started/components/AppConnectionItem.tsx
  packages/app-store/components.tsx
  packages/app-store/types.d.ts
Labels: 🐛 bug, ✅ good first issue, ⚡ Quick Wins, Medium priority, ui

#10164 fix: slot start times with interrupted availabilities
  packages/lib/slots.ts
Labels: 🐛 bug, High priority, bookings, core

#9851 feat: Zapier For Teams
  apps/web/pages/api/integrations/[...args].ts
  apps/web/public/static/locales/en/common.json
  packages/app-store/zapier/api/subscriptions/addSubscription.ts
  packages/app-store/zapier/api/subscriptions/deleteSubscription.ts
  packages/app-store/zapier/api/subscriptions/listBookings.ts
  packages/app-store/zapier/api/subscriptions/me.ts
  packages/app-store/zapier/pages/setup/index.tsx
  packages/features/ee/api-keys/lib/findValidApiKey.ts
  packages/features/webhooks/lib/getWebhooks.ts
  packages/prisma/migrations/20230629083927_add_team_id_in_api_key/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/apiKeys/_auth-middleware.ts
  packages/trpc/server/routers/viewer/apiKeys/create.handler.ts
  packages/trpc/server/routers/viewer/apiKeys/create.schema.ts
  packages/trpc/server/routers/viewer/apiKeys/findKeyOfType.handler.ts
  packages/trpc/server/routers/viewer/apiKeys/findKeyOfType.schema.ts
  packages/trpc/server/routers/viewer/teams/_router.tsx
  packages/trpc/server/routers/viewer/teams/listOwnedTeams.handler.ts
Labels: ✨ feature, ❗️ migrations, High priority, organizations, core

#10162 chore: Relying on feature flag
  apps/web/pages/settings/organizations/[id]/about.tsx
  apps/web/pages/settings/organizations/[id]/add-teams.tsx
  apps/web/pages/settings/organizations/[id]/onboard-admins.tsx
  apps/web/pages/settings/organizations/[id]/set-password.tsx
  apps/web/pages/settings/organizations/new/index.tsx
  apps/web/pages/team/[slug].tsx
  packages/features/ee/organizations/components/CreateANewOrganizationForm.tsx
  packages/features/ee/organizations/pages/organization.tsx
Labels: organizations, core

#10169 fix: Add feedback when user installs app [CAL-2144]
  apps/web/components/apps/App.tsx
  packages/ui/components/apps/AppCard.tsx
Labels: core

#10159 fix: reduced duplicate event type length to min. 1 min
  packages/features/eventtypes/components/DuplicateDialog.tsx
Labels: ✨ feature, ⚡ Quick Wins, Low priority, 1 points, core

#10014 feat: unit tests for embed pages
  packages/embeds/embed-core/playwright/tests/embed-pages.e2e.ts
Labels: 🙋🏻‍♂️help wanted, Low priority, 💎 Bounty, automated-tests

#10140 refactor: renamed getMostPopularApps function to getInstallCountPerApp
  packages/app-store/_appRegistry.ts
  packages/lib/apps/getInstallCountPerApp.ts
  packages/trpc/server/routers/loggedInViewer/integrations.handler.ts
Labels: Low priority

#10184 fix: iw to he (hebrew)
  packages/config/next-i18next.config.js
Labels: Low priority, i18n, core

#10100 fix: CAL-2126 url layout query param is source of truth for layout
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/store.ts
Labels: ✨ feature, ✅ good first issue, Medium priority, ui, booking-page

#10190 fix: Move to minmax instead of auto grid
  packages/features/bookings/Booker/config.ts
Labels: core

#10192 fix: Embed/Show header in weekly view and column view
  packages/features/bookings/Booker/components/Header.tsx
Labels: core

#10170 fix: possible to have same slug for team and user in an organization 9985 cal 2122
  apps/web/pages/api/auth/signup.ts
  packages/lib/validateUsernameInOrg.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMember.handler.ts
Labels: High priority, organizations, core

#10195 feat: Page loading indicator
  apps/web/package.json
  packages/features/shell/NProgressPageIndicator.tsx
  packages/features/shell/Shell.tsx
  yarn.lock
Labels: core

#10020 fix: modal footer issue
  packages/ui/components/dialog/Dialog.tsx
Labels: ✨ feature, Medium priority, ui

#10079 feat: Add Skiff to app store
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/skiff/DESCRIPTION.md
  packages/app-store/skiff/api/add.ts
  packages/app-store/skiff/api/index.ts
  packages/app-store/skiff/config.json
  packages/app-store/skiff/index.ts
  packages/app-store/skiff/package.json
  packages/app-store/skiff/static/1.png
  packages/app-store/skiff/static/2.png
  packages/app-store/skiff/static/3.png
  packages/app-store/skiff/static/4.png
  packages/app-store/skiff/static/5.png
  packages/app-store/skiff/static/icon.svg
Labels: app-store, ⚡ Quick Wins, Medium priority

#10149 fix: check for single email in TextAreaField
  packages/features/ee/organizations/components/AddNewOrgAdminsForm.tsx
  packages/features/ee/teams/components/MemberInvitationModal.tsx
Labels: 🐛 bug, Medium priority, organizations, ui

#10067 fix: locales in dates utils
  packages/features/bookings/Booker/utils/dates.tsx
Labels: Medium priority

#10201 fix: customTemplate() function fails when no locale is given
  packages/features/ee/workflows/api/scheduleEmailReminders.ts
  packages/features/ee/workflows/api/scheduleSMSReminders.ts
  packages/trpc/server/routers/viewer/workflows/activateEventType.handler.ts
  packages/trpc/server/routers/viewer/workflows/update.handler.ts
Labels: core

#10122 fix: Improve continue button on org-add-team and validations [CAL-2015]
  apps/web/public/static/locales/en/common.json
  packages/features/ee/organizations/components/AddNewTeamsForm.tsx
  packages/trpc/server/routers/viewer/organizations/createTeams.handler.ts
  packages/ui/components/form/inputs/Input.tsx
Labels: 🧹 Improvements, ⚡ Quick Wins, Medium priority, organizations, core

#10161 fix: wrong slot starting times for half hour times zones
  apps/web/test/lib/getSchedule.test.ts
  packages/lib/slots.test.ts
  packages/lib/slots.ts
Labels: 🐛 bug, High priority, core

#10163 fix: Embed `theme` not working using Embed API
  apps/web/components/ui/form/Select.tsx
  apps/web/lib/app-providers.tsx
  apps/web/pages/[user]/[type].tsx
  apps/web/pages/booking/[uid].tsx
  apps/web/pages/d/[link]/[slug].tsx
  apps/web/pages/org/[orgSlug]/[user]/[type].tsx
  apps/web/pages/org/[orgSlug]/[user]/index.tsx
  apps/web/pages/team/[slug]/[type].tsx
  packages/embeds/embed-core/playground.ts
  packages/embeds/embed-core/playwright/tests/action-based.e2e.ts
  packages/features/bookings/Booker/utils/use-brand-colors.tsx
  packages/lib/hooks/useTheme.tsx
  packages/prisma/seed.ts
Labels: High priority, 📉 regressing, booking-page, core

#10211 fix: modals regression
  packages/features/form-builder/FormBuilder.tsx
  packages/ui/components/dialog/ConfirmationDialogContent.tsx
  packages/ui/components/dialog/Dialog.tsx
Labels: 🐛 bug, ⚡ Quick Wins, core

#10172 fix: og-image event link
  packages/lib/OgImages.tsx
Labels: 🐛 bug, Medium priority, 📉 regressing, ui

#10214 fix: Add missing auth package to yarn.lock
  yarn.lock
Labels: core

#10223 fix: inconsistent duration labels
  packages/features/eventtypes/components/CreateEventTypeDialog.tsx
  packages/features/eventtypes/components/DuplicateDialog.tsx
Labels: 🐛 bug, event-types

#10219 chore: Add `website` deps to yarn.lock
  yarn.lock
Labels: High priority, ci

#9993 fix: booking page: location icon is not showing up (CALCOM-9951)
  apps/web/components/booking/AvailableEventLocations.tsx
  apps/web/public/static/locales/en/common.json
  packages/app-store/locations.ts
  packages/features/bookings/components/event-meta/Details.tsx
Labels: Low priority, booking-page, core

#10230 fix: lint errors introduced in PR#10225
  packages/ui/components/popover/MeetingTimeInTimezones.tsx
Labels: core

#10209 fix: booking error on invalid timezone
  packages/prisma/zod-utils.ts
Labels: 🐛 bug, High priority, bookings

#10210 fix: Avoid resetting state one every render.
  apps/web/pages/event-types/index.tsx
Labels: 🐛 bug, Medium priority, 📉 regressing, embed, core

#10033 fix: Embed - Non transparent background when color-scheme of embedding document and cal.com iframe don't match
  apps/web/pages/_document.tsx
  packages/embeds/embed-core/index.html
  packages/embeds/embed-core/playground.ts
  packages/embeds/embed-core/src/embed-iframe.ts
  packages/embeds/embed-core/src/embed.ts
Labels: High priority, embed, core

#10237 fix: add missing booking paid webhook trigger to dropdwon
  apps/web/public/static/locales/en/common.json
  packages/features/webhooks/components/WebhookForm.tsx
  packages/lib/date-fns/index.ts
Labels: core

#10238 perf: Event-type config page
  apps/web/components/Embed.tsx
  apps/web/components/eventtype/EventTypeSingleLayout.tsx
  packages/app-store/_components/AppCategoryNavigation.tsx
  packages/features/shell/Shell.tsx
  packages/ui/components/navigation/tabs/HorizontalTabItem.tsx
  packages/ui/components/navigation/tabs/HorizontalTabs.tsx
  packages/ui/components/navigation/tabs/VerticalTabItem.tsx
  packages/ui/components/navigation/tabs/VerticalTabs.tsx
Labels: 🐛 bug, High priority, event-types, performance, core

#10221 fix: The button is loading when saving availability
  apps/web/pages/availability/[schedule].tsx
Labels: 🐛 bug, ✅ good first issue, ⚡ Quick Wins, Low priority, ui

#10193 feat: replaced slack icon with Discord
  apps/web/pages/404.tsx
  packages/features/shell/Shell.tsx
  packages/ui/components/icon/Discord.tsx
  packages/ui/package.json
Labels: ✨ feature, ⚡ Quick Wins, Low priority, ui

#10232 fix: update list for countries that don't support alphanumeric sender ids
  packages/features/ee/workflows/lib/alphanumericSenderIdSupport.ts
Labels: Medium priority, core

#10240 fix: Booking Form - Prefill username and email from session [New Booker Regression]
  packages/features/bookings/Booker/components/BookEventForm/BookEventForm.tsx
Labels: High priority, 📉 regressing, core

#10236 fix: Flaky 2FA test due to waiting redundant Enter
  apps/web/playwright/login.2fa.e2e.ts
Labels: Low priority, automated-tests, core

#10054 fix: Gets Google Calendar working locally even when not using localhost:3000 domain to access the app
  apps/web/next.config.js
  packages/app-store/googlecalendar/api/add.ts
  packages/app-store/googlecalendar/api/callback.ts
  packages/lib/constants.ts
Labels: Medium priority, core, calendar-apps

#10185 chore: fixing some initial re-renders
  apps/web/components/I18nLanguageHandler.tsx
  apps/web/components/PageWrapper.tsx
  apps/web/components/eventtype/EventAvailabilityTab.tsx
  apps/web/lib/app-providers.tsx
  packages/features/insights/filters/EventTypeList.tsx
  packages/features/shell/Shell.tsx
  packages/features/tips/Tips.tsx
  packages/lib/hooks/useTraceUpdate.tsx
Labels: Medium priority, ui, performance, core

#10229 feat: dynamic time format rendering in workflows based on user settings
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/ee/payments/api/webhook.ts
  packages/features/ee/workflows/api/scheduleEmailReminders.ts
  packages/features/ee/workflows/api/scheduleSMSReminders.ts
  packages/features/ee/workflows/api/scheduleWhatsappReminders.ts
  packages/features/ee/workflows/components/WorkflowDetailsPage.tsx
  packages/features/ee/workflows/components/WorkflowStepContainer.tsx
  packages/features/ee/workflows/lib/actionHelperFunctions.ts
  packages/features/ee/workflows/lib/reminders/emailReminderManager.ts
  packages/features/ee/workflows/lib/reminders/smsReminderManager.ts
  packages/features/ee/workflows/lib/reminders/templates/customTemplate.ts
  packages/features/ee/workflows/lib/reminders/templates/emailReminderTemplate.ts
  packages/features/ee/workflows/lib/reminders/templates/smsReminderTemplate.ts
  packages/features/ee/workflows/lib/reminders/templates/whatsapp/whatsappEventCancelledTemplate.ts
  packages/features/ee/workflows/lib/reminders/templates/whatsapp/whatsappEventCompletedTemplate.ts
  packages/features/ee/workflows/lib/reminders/templates/whatsapp/whatsappEventReminderTemplate.ts
  packages/features/ee/workflows/lib/reminders/templates/whatsapp/whatsappEventRescheduledTemplate.ts
  packages/features/ee/workflows/lib/reminders/whatsappReminderManager.ts
  packages/features/ee/workflows/pages/workflow.tsx
  packages/lib/timeFormat.ts
  packages/trpc/server/routers/viewer/bookings/confirm.handler.ts
  packages/trpc/server/routers/viewer/workflows/activateEventType.handler.ts
  packages/trpc/server/routers/viewer/workflows/create.handler.ts
  packages/trpc/server/routers/viewer/workflows/update.handler.ts
Labels: ✨ feature, Low priority, workflows

#9897 test: Create unit tests for react components in packages/ui/components/alert (tests-alert-component)
  package.json
  packages/ui/components/alert/Alert.tsx
  packages/ui/components/alert/alert.test.tsx
  packages/ui/components/test-setup.ts
  vitest.workspace.ts
Labels: Low priority, core

#10203 fix: Fix bookingPage UI issues in dark mode
  packages/features/form-builder/Components.tsx
  packages/ui/form/radio-area/Radio.tsx
Labels: Medium priority, ui, core

#9902 chore: Improve and standardize simplified and traditional Chinese localizations
  apps/web/public/static/locales/zh-CN/common.json
  apps/web/public/static/locales/zh-TW/common.json
Labels: Low priority

#10254 fix: issue with date overrides in some timezones
  packages/lib/date-ranges.test.ts
  packages/lib/date-ranges.ts
Labels: core

#10160 feat: orgs - user management v2
  apps/web/components/eventtype/EventAdvancedTab.tsx
  packages/features/bookings/components/EventTypeFilter.tsx
  packages/features/ee/organizations/pages/settings/members.tsx
  packages/features/ee/payments/components/Payment.tsx
  packages/features/ee/teams/components/MemberChangeRoleModal.tsx
  packages/features/ee/teams/components/MemberInvitationModal.tsx
  packages/features/ee/workflows/components/AddActionDialog.tsx
  packages/features/ee/workflows/components/WorkflowStepContainer.tsx
  packages/features/eventtypes/components/BulkEditDefaultConferencingModal.tsx
  packages/features/form-builder/Components.tsx
  packages/features/insights/filters/EventTypeList.tsx
  packages/features/package.json
  packages/features/schedules/components/Schedule.tsx
  packages/features/settings/BookerLayoutSelector.tsx
  packages/features/settings/layouts/SettingsLayout.tsx
  packages/features/users/components/UserTable/ChangeUserRoleModal.tsx
  packages/features/users/components/UserTable/DeleteMemberModal.tsx
  packages/features/users/components/UserTable/ImpersonationMemberModal.tsx
  packages/features/users/components/UserTable/InviteMemberModal.tsx
  packages/features/users/components/UserTable/UserListTable.tsx
  packages/features/users/components/UserTable/UserTableActions.tsx
  packages/lib/hooks/usePagination.ts
  packages/trpc/server/routers/viewer/organizations/_router.tsx
  packages/trpc/server/routers/viewer/organizations/adminVerify.handler.ts
  packages/trpc/server/routers/viewer/organizations/listMembers.handler.ts
  packages/trpc/server/routers/viewer/organizations/listMembers.schema.ts
  packages/types/tanstack-table.d.ts
  packages/ui/components/command/index.tsx
  packages/ui/components/data-table/DataTableFilter.tsx
  packages/ui/components/data-table/DataTablePagination.tsx
  packages/ui/components/data-table/DataTableSelectionBar.tsx
  packages/ui/components/data-table/DataTableToolbar.tsx
  packages/ui/components/data-table/__storybook__/columns.tsx
  packages/ui/components/data-table/__storybook__/data.ts
  packages/ui/components/data-table/__storybook__/datatable.stories.mdx
  packages/ui/components/data-table/index.tsx
  packages/ui/components/dialog/Dialog.tsx
  packages/ui/components/form/checkbox/Checkbox.tsx
  packages/ui/components/form/checkbox/checkbox.stories.mdx
  packages/ui/components/form/checkbox/index.ts
  packages/ui/components/form/dropdown/Dropdown.tsx
  packages/ui/components/form/index.ts
  packages/ui/components/popover/index.ts
  packages/ui/components/popover/index.tsx
  packages/ui/components/table/TableNew.tsx
  packages/ui/index.tsx
  packages/ui/package.json
  yarn.lock
Labels: High priority, organizations, ui, core

#10260 fix: duplicate event-type dialog not using the new dialog footer (CALCOM-10258)
  packages/features/eventtypes/components/DuplicateDialog.tsx
Labels: core

#10252 fix: More Brand color for calendar view
  packages/features/bookings/components/event-meta/Duration.tsx
  packages/features/calendars/weeklyview/components/DateValues/index.tsx
  packages/features/calendars/weeklyview/components/event/Empty.tsx
Labels: ✨ feature, ⚡ Quick Wins, Low priority, ui

#8671 feat: firstAndLastName variant for name field
  apps/web/components/eventtype/EventAdvancedTab.tsx
  apps/web/pages/booking/[uid].tsx
  apps/web/playwright/manage-booking-questions.e2e.ts
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/Booker/components/BookEventForm/BookEventForm.tsx
  packages/features/bookings/Booker/components/BookEventForm/BookingFields.tsx
  packages/features/bookings/lib/SystemField.ts
  packages/features/bookings/lib/getBookingFields.ts
  packages/features/bookings/lib/getBookingResponsesSchema.ts
  packages/features/bookings/lib/getCalEventResponses.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/form-builder/Components.tsx
  packages/features/form-builder/FormBuilder.tsx
  packages/features/form-builder/FormBuilderField.tsx
  packages/features/form-builder/FormBuilderFieldsSchema.ts
  packages/features/form-builder/fieldTypes.ts
  packages/features/form-builder/propsTypes.ts
  packages/features/form-builder/schema.ts
  packages/features/form-builder/utils.ts
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer/eventTypes/types.ts
  packages/ui/components/form/inputs/Input.tsx
Labels: ✨ feature, Medium priority, core

#10257 test: Create unit tests for react components in packages/ui/components/card (CALCOM-617)
  packages/ui/components/card/Card.tsx
  packages/ui/components/card/card.test.tsx
Labels: Low priority, core

#10255 test: add unit tests for `packages/ui/components/badge` (CALCOM-613)
  packages/ui/components/badge/Badge.tsx
  packages/ui/components/badge/badge.test.tsx
Labels: Low priority, core

#10256 test: Create unit tests for react components in packages/ui/components/breadcrumb (CALCOM-614)
  packages/ui/components/breadcrumb/breadcrumb.test.tsx
Labels: core

#10168 feat: Pending members selection
  apps/web/components/eventtype/EventTeamTab.tsx
  apps/web/pages/team/[slug].tsx
  packages/features/eventtypes/components/ChildrenEventTypeSelect.tsx
  packages/lib/getEventTypeById.ts
  packages/trpc/server/routers/viewer/eventTypes/update.handler.ts
Labels: ✨ feature, linear, Medium priority, 1 points, organizations, core

#10265 fix: Momentary flash of non-transparent background with different color-schemes of embed and embedding document
  packages/embeds/embed-core/src/embed.ts
Labels: High priority, embed, core

#10271 chore: Make embed and app-store tests required
  .github/workflows/pr.yml
Labels: High priority, core

#10279 fix: Default to Daily if Viable
  apps/web/playwright/manage-booking-questions.e2e.ts
  packages/core/EventManager.ts
Labels: core

#10262 fix: including parentId when filter by eventTypeId happens
  packages/features/insights/server/events.ts
  packages/features/insights/server/trpc-router.ts
  packages/prisma/migrations/20230719214513_update_booking_time_status_fields_event_parent_id/migration.sql
  packages/prisma/schema.prisma
Labels: ❗️ migrations, High priority, core

#10283 fix: Flaky 2FA tests
  apps/web/playwright/login.2fa.e2e.ts
Labels: core

#10278 fix: empty screen width
  packages/ui/components/empty-screen/EmptyScreen.tsx
Labels: 🐛 bug, ⚡ Quick Wins, Low priority, 1 points, core

#10285 fix: Add attendees to getLuckyUser algorithm
  apps/web/test/lib/team-event-types.test.ts
  packages/lib/server/getLuckyUser.ts
Labels: core

#10289 fix: team event emails; sending & email subject
  packages/core/event.ts
  packages/emails/templates/organizer-scheduled-email.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/lib/defaultEvents.ts
  packages/prisma/selects/user.ts
Labels: core
