Repository calcom/cal.com, pull requests merged in 2024-04, with the labels that each got.

#14286 chore: Skip broken out-of-office tests
  apps/web/playwright/out-of-office.e2e.ts
Labels: core, foundation

#14195 fix: cancellation seems to be using slug instead of title
  packages/features/bookings/lib/handleCancelBooking.ts
Labels: 🐛 bug, High priority, emails, community

#14283 fix: Show proper actionable error in case the team can't be published
  packages/features/ee/organizations/pages/settings/admin/AdminOrgEditPage.tsx
  packages/features/ee/organizations/pages/settings/admin/AdminOrgPage.tsx
  packages/trpc/server/routers/viewer/organizations/adminUpdate.handler.ts
Labels: core, consumer

#14237 feat: v2 event-types POST, PATCH, DELETE endpoints
  apps/api/v2/nest-cli.json
  apps/api/v2/src/ee/event-types/controllers/event-types.controller.e2e-spec.ts
  apps/api/v2/src/ee/event-types/controllers/event-types.controller.ts
  apps/api/v2/src/ee/event-types/event-types.module.ts
  apps/api/v2/src/ee/event-types/event-types.repository.ts
  apps/api/v2/src/ee/event-types/inputs/create-event-type.input.ts
  apps/api/v2/src/ee/event-types/inputs/enums/editable.ts
  apps/api/v2/src/ee/event-types/inputs/enums/field-type.ts
  apps/api/v2/src/ee/event-types/inputs/enums/frequency.ts
  apps/api/v2/src/ee/event-types/inputs/enums/period-type.ts
  apps/api/v2/src/ee/event-types/inputs/enums/scheduling-type.ts
  apps/api/v2/src/ee/event-types/inputs/event-type-location.input.ts
  apps/api/v2/src/ee/event-types/inputs/update-event-type.input.ts
  apps/api/v2/src/ee/event-types/outputs/create-event-type.output.ts
  apps/api/v2/src/ee/event-types/outputs/event-type.output.ts
  apps/api/v2/src/ee/event-types/services/event-types.service.ts
  apps/api/v2/src/modules/selected-calendars/selected-calendars.module.ts
  apps/api/v2/src/modules/selected-calendars/selected-calendars.repository.ts
  apps/api/v2/swagger/documentation.json
  apps/api/v2/test/fixtures/repository/event-types.repository.fixture.ts
  packages/lib/server/getUsersCredentials.ts
  packages/platform/libraries/index.ts
  packages/prisma/zod-utils.ts
  packages/prisma/zod/custom/eventtype.ts
  packages/trpc/server/routers/loggedInViewer/setDestinationCalendar.handler.ts
  packages/trpc/server/routers/viewer/eventTypes/create.handler.ts
  packages/trpc/server/routers/viewer/eventTypes/update.handler.ts
Labels: platform, core

#14293 chore: remove cal-ai from nav
  packages/features/shell/Shell.tsx
Labels: core

#14295 fix: Sentry DNS -> Sentry DSN
  apps/api/v2/.env.example
  apps/api/v2/src/app.ts
  apps/api/v2/src/env.ts
Labels: 🐛 bug, platform, ❗️ .env changes, core, 💻 refactor

#14297 fix: Platform Hotfixes
  apps/api/v2/src/filters/http-exception.filter.ts
  apps/api/v2/src/filters/prisma-exception.filter.ts
  apps/api/v2/src/filters/sentry-exception.filter.ts
  apps/api/v2/src/filters/trpc-exception.filter.ts
  apps/api/v2/src/filters/zod-exception.filter.ts
  apps/api/v2/src/modules/tokens/tokens.repository.ts
  apps/api/v2/src/modules/users/users.repository.ts
Labels: platform, core

#14292 fix: Typo in OAuth clients
  apps/web/pages/settings/organizations/platform/oauth-clients/index.tsx
Labels: 🐛 bug, Medium priority, platform, api, ui, core, foundation

#14218 chore: SDK Fixes and add swagger docs
  packages/platform/sdk/package.json
  packages/platform/sdk/src/endpoints/events/event-types/index.ts
  packages/platform/sdk/src/swagger-types.d.ts
Labels: platform, core

#14257 chore: Move avatars using cursor
  packages/prisma/migrations/20240321143215_move_avatars_cols_to_avatar_table/migration.sql
Labels: ❗️ migrations, core, foundation

#14289 chore: Platform tidy up unused variables, etc
  apps/api/v2/src/app.logger.middleware.ts
  apps/api/v2/src/ee/bookings/inputs/create-reccuring-booking.input.ts
  apps/api/v2/src/ee/calendars/controllers/calendars.controller.ts
  apps/api/v2/src/ee/event-types/services/event-types.service.ts
  apps/api/v2/src/ee/gcal/gcal.controller.e2e-spec.ts
  apps/api/v2/src/ee/gcal/gcal.controller.ts
  apps/api/v2/src/ee/gcal/gcal.module.ts
  apps/api/v2/src/ee/provider/provider.controller.ts
  apps/api/v2/src/filters/trpc-exception.filter.ts
  apps/api/v2/src/filters/zod-exception.filter.ts
  apps/api/v2/src/lib/atoms/decorators/for-atom.decorator.ts
  apps/api/v2/src/modules/apps/services/gcal.service.ts
  apps/api/v2/src/modules/auth/guards/organization-roles/organization-roles.guard.ts
  apps/api/v2/src/modules/oauth-clients/services/oauth-clients-users.service.ts
  apps/api/v2/src/modules/oauth-clients/services/oauth-flow.service.ts
  apps/api/v2/src/modules/prisma/prisma-read.service.ts
  apps/api/v2/src/modules/prisma/prisma-write.service.ts
  apps/api/v2/src/modules/selected-calendars/selected-calendars.repository.ts
Labels: platform, core

#14303 fix: org guard did not have user org profile + missing db read in selectedCalendarRepo
  apps/api/v2/src/lib/passport/strategies/types.ts
  apps/api/v2/src/modules/auth/strategies/next-auth/next-auth.strategy.ts
  apps/api/v2/src/modules/selected-calendars/selected-calendars.repository.ts
  apps/api/v2/src/modules/users/users.repository.ts
Labels: 🐛 bug, platform, api, core

#13139 feat: new org onboarding wizard
  apps/api/v1/pages/api/teams/_post.ts
  apps/web/app/future/settings/organizations/[id]/set-password/page.tsx
  apps/web/pages/settings/organizations/[id]/add-teams.tsx
  apps/web/pages/settings/organizations/[id]/set-password.tsx
  apps/web/pages/settings/organizations/new/index.tsx
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/lib/testUtils.ts
  apps/web/playwright/organization/organization-creation.e2e.ts
  apps/web/playwright/organization/organization-invitation.e2e.ts
  apps/web/public/static/locales/en/common.json
  packages/emails/email-manager.ts
  packages/emails/src/templates/OrganizationCreationEmail.tsx
  packages/emails/src/templates/TeamInviteEmail.tsx
  packages/emails/src/templates/index.ts
  packages/emails/templates/organization-creation-email.ts
  packages/emails/templates/team-invite-email.ts
  packages/features/auth/lib/getServerSession.ts
  packages/features/ee/dsync/lib/handleGroupEvents.ts
  packages/features/ee/dsync/lib/handleUserEvents.ts
  packages/features/ee/dsync/lib/users/inviteExistingUserToOrg.ts
  packages/features/ee/organizations/components/AddNewTeamsForm.tsx
  packages/features/ee/organizations/components/CreateANewOrganizationForm.tsx
  packages/features/ee/organizations/components/OrgUpgradeBanner.tsx
  packages/features/ee/organizations/components/SetPasswordForm.tsx
  packages/features/ee/organizations/components/index.ts
  packages/features/ee/organizations/pages/organization.tsx
  packages/features/ee/teams/components/TeamList.tsx
  packages/features/ee/teams/lib/payments.ts
  packages/lib/constants.ts
  packages/lib/createAProfileForAnExistingUser.ts
  packages/lib/server/repository/membership.ts
  packages/lib/server/repository/organization.ts
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer/organizations/_router.tsx
  packages/trpc/server/routers/viewer/organizations/create.handler.ts
  packages/trpc/server/routers/viewer/organizations/create.schema.ts
  packages/trpc/server/routers/viewer/organizations/createTeams.handler.ts
  packages/trpc/server/routers/viewer/organizations/createTeams.schema.ts
  packages/trpc/server/routers/viewer/organizations/publish.handler.ts
  packages/trpc/server/routers/viewer/teams/acceptOrLeave.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMember.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMemberUtils.test.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/utils.ts
  packages/trpc/server/routers/viewer/teams/publish.handler.ts
  packages/trpc/server/routers/viewer/teams/resendInvitation.handler.ts
  packages/ui/components/card/Card.tsx
  packages/ui/components/form/inputs/HintOrErrors.tsx
  packages/ui/form/radio-area/RadioAreaGroup.tsx
  turbo.json
Labels: ✨ feature, High priority, enterprise, organizations, core

#14309 chore: publish atoms on npm and bump version
  packages/platform/atoms/package.json
Labels: ⬆️ dependencies, platform, core

#14319 fix: API builds after rename
  apps/api/v1/pages/api/teams/[teamId]/_patch.ts
Labels: 🐛 bug, api, core, 🚨 needs approval, foundation

#14275 fix: Add adminReview option to allow impersonating org members
  apps/web/public/static/locales/en/common.json
  packages/features/ee/impersonation/lib/ImpersonationProvider.ts
  packages/features/ee/organizations/lib/ensureOrganizationIsReviewed.ts
  packages/features/ee/organizations/pages/settings/admin/AdminOrgPage.tsx
  packages/features/users/components/UserTable/UserListTable.tsx
  packages/lib/server/repository/organization.ts
  packages/prisma/migrations/20240401034329_add_admin_review_org/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer/organizations/adminUpdate.handler.ts
  packages/trpc/server/routers/viewer/organizations/create.handler.ts
  packages/trpc/server/routers/viewer/organizations/list.handler.ts
  packages/trpc/server/routers/viewer/organizations/updateUser.handler.ts
  turbo.json
Labels: ✨ feature, ❗️ migrations, Medium priority, enterprise, core, 🚨 needs approval, consumer

#14327 fix: pass begin_message for updating LLM
  packages/trpc/server/routers/viewer/organizations/createPhoneCall.handler.ts
Labels: 🐛 bug, core, 🚨 urgent, consumer

#14328 chore: downgrade react query atoms
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/components/BookEventForm/BookEventForm.tsx
  packages/features/bookings/Booker/components/DatePicker.tsx
  packages/features/bookings/Booker/components/EventMeta.tsx
  packages/features/bookings/Booker/utils/event.ts
  packages/features/embed/Embed.tsx
  packages/platform/atoms/availability/AvailabilitySettings.tsx
  packages/platform/atoms/availability/wrappers/PlatformAvailabilitySettingsWrapper.tsx
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
  packages/platform/atoms/package.json
  yarn.lock
Labels: ⬆️ dependencies, 🧹 Improvements, platform, core

#14332 revert: chore downgrade react query atoms
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/components/BookEventForm/BookEventForm.tsx
  packages/features/bookings/Booker/components/DatePicker.tsx
  packages/features/bookings/Booker/components/EventMeta.tsx
  packages/features/bookings/Booker/utils/event.ts
  packages/features/embed/Embed.tsx
  packages/platform/atoms/availability/AvailabilitySettings.tsx
  packages/platform/atoms/availability/wrappers/PlatformAvailabilitySettingsWrapper.tsx
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
  packages/platform/atoms/package.json
  yarn.lock
Labels: platform, 📉 regressing, bookings, embed, core

#14230 docs(contrib): update docs for `yarn.lock` management
  CONTRIBUTING.md
Labels: community

#14298 chore: Remove payment keys from appKeysSchema
  .env.example
  packages/app-store/stripepayment/zod.ts
Labels: ❗️ .env changes, api, billing, core, 💻 refactor, consumer

#14269 fix: Show proper error when API_V2_URL variable is missing
  apps/web/next.config.js
Labels: core, consumer

#14306 chore: added email and company form to cal.ai form
  apps/web/components/eventtype/AIEventController.tsx
  apps/web/modules/event-types/views/event-types-single-view.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/eventtypes/lib/types.ts
  packages/platform/sdk/src/endpoints/events/types.ts
  packages/prisma/migrations/20240404092234_add_guest_company_and_email/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer/eventTypes/types.ts
  packages/trpc/server/routers/viewer/organizations/createPhoneCall.handler.ts
Labels: ✨ feature, ❗️ migrations, platform, ❓ needs spec, ui, event-types, core, ai, 🚨 needs approval, cal-ai

#14331 fix: refresh access token expiry 60m
  apps/api/v2/src/filters/http-exception.filter.ts
  apps/api/v2/src/filters/prisma-exception.filter.ts
  apps/api/v2/src/filters/sentry-exception.filter.ts
  apps/api/v2/src/filters/trpc-exception.filter.ts
  apps/api/v2/src/filters/zod-exception.filter.ts
  apps/api/v2/src/modules/oauth-clients/services/oauth-clients-users.service.ts
  apps/api/v2/src/modules/tokens/tokens.repository.ts
  apps/api/v2/test/mocks/next-auth-mock.strategy.ts
Labels: 🐛 bug, platform, api, core

#14333 fix: correct limit amount in api middleware
  apps/api/v1/lib/helpers/rateLimitApiKey.ts
Labels: 🐛 bug, api, core, consumer

#13913 feat: implement turnstile on signup
  .env.example
  apps/web/components/auth/Turnstile.tsx
  apps/web/lib/signup/getServerSideProps.tsx
  apps/web/package.json
  apps/web/pages/api/auth/signup.ts
  apps/web/pages/signup.tsx
  apps/web/playwright/signup.e2e.ts
  packages/lib/constants.ts
  packages/lib/server/checkCfTurnstileToken.ts
  turbo.json
  yarn.lock
Labels: High priority, ❗️ .env changes, core, consumer

#14335 fix: urls, gcal check, oauth client controller
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-clients/oauth-clients.controller.ts
  packages/platform/atoms/hooks/event-types/useEventTypesPrivate.ts
  packages/platform/atoms/hooks/event-types/useEventTypesPublic.ts
  packages/platform/atoms/hooks/event-types/useGetEventTypeById.ts
  packages/platform/atoms/hooks/useClientSchedule.ts
  packages/platform/atoms/hooks/useDeleteSchedule.ts
  packages/platform/atoms/hooks/useGetBooking.ts
  packages/platform/atoms/hooks/useGetBookingForReschedule.ts
  packages/platform/atoms/hooks/useGetBookings.ts
  packages/platform/atoms/hooks/useGetCityTimezones.ts
  packages/platform/atoms/hooks/useMe.ts
  packages/platform/atoms/hooks/useUpdateSchedule.ts
  packages/platform/atoms/hooks/useUpdateUserTimezone.ts
Labels: 🐛 bug, platform, api, core

#14296 docs: v2 event types swagger
  apps/api/v2/src/ee/event-types/controllers/event-types.controller.ts
  apps/api/v2/src/ee/event-types/outputs/delete-event-type.output.ts
  apps/api/v2/src/ee/event-types/outputs/get-event-type.output.ts
  apps/api/v2/src/ee/event-types/outputs/get-event-types-public.output.ts
  apps/api/v2/src/ee/event-types/outputs/get-event-types.output.ts
  apps/api/v2/src/ee/event-types/outputs/update-event-type.output.ts
  apps/api/v2/src/ee/event-types/services/event-types.service.ts
  apps/api/v2/swagger/documentation.json
  packages/lib/server/eventTypeSelect.ts
Labels: docs, platform, api, event-types, core

#14315 chore: teams filter improvements
  apps/web/public/static/locales/cs/common.json
  apps/web/public/static/locales/de/common.json
  apps/web/public/static/locales/es/common.json
  apps/web/public/static/locales/it/common.json
  apps/web/public/static/locales/nl/common.json
  apps/web/public/static/locales/pt-BR/common.json
  apps/web/public/static/locales/pt/common.json
  apps/web/public/static/locales/ro/common.json
  apps/web/public/static/locales/ru/common.json
  apps/web/public/static/locales/sr/common.json
  packages/features/filters/components/TeamsFilter.tsx
  packages/lib/hooks/useTypedQuery.ts
Labels: 🧹 Improvements, teams, i18n, core, foundation

#14188 fix: improve api/cron/webhookTriggers endpoint
  packages/features/webhooks/lib/cron.ts
  packages/features/webhooks/lib/scheduleTrigger.ts
  packages/prisma/migrations/20240322152654_add_webhook_to_scheduled_webhook_triggers/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/zod/webhook.ts
Labels: 🐛 bug, ❗️ migrations, Medium priority, webhooks, core, consumer

#14343 fix: remove port in prod url apiv2
  apps/api/v2/src/config/app.ts
Labels: 🐛 bug, platform, api, core

#14347 fix: scope oauth managed users to oauth client id to avoid username / emails conflicts
  apps/api/v2/src/modules/oauth-clients/services/oauth-clients-users.service.ts
Labels: 🐛 bug, platform, api, core

#14288 fix: create platform handler isPlatform flag
  packages/lib/server/repository/organization.ts
  packages/trpc/server/routers/viewer/organizations/create.handler.ts
Labels: platform, core

#14339 fix: "Checkbox" custom field throws error
  apps/web/playwright/manage-booking-questions.e2e.ts
  packages/features/form-builder/Components.tsx
  packages/features/form-builder/FormBuilder.tsx
Labels: 🐛 bug, High priority, 📉 regressing, ui, core, community, foundation, consumer

#14326 fix: change identity provider on password reset
  apps/web/pages/api/auth/reset-password.ts
Labels: 🐛 bug, authentication, core, consumer

#14428 chore: bump atoms package version 1.0.12
  packages/platform/atoms/package.json
  packages/platform/atoms/postcss.config.js
Labels: ⬆️ dependencies, platform, api, core

#14429 fix: filter and listMember handler
  packages/features/bookings/components/PeopleFilter.tsx
  packages/trpc/server/routers/viewer/teams/listMembers.handler.ts
Labels: 🐛 bug, platform, Urgent, bookings, organizations, core, consumer

#14430 feat: retell AI webhook url
  apps/web/components/eventtype/AIEventController.tsx
  apps/web/modules/event-types/views/event-types-single-view.tsx
  apps/web/pages/api/get-inbound-dynamic-variables.ts
  packages/lib/retellAIFetcher.ts
  packages/prisma/migrations/20240405142908_make_guest_company_and_email_optional/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer/organizations/createPhoneCall.handler.ts
Labels: ✨ feature, ❗️ migrations, api, core, ai, consumer

#14345 ci: adds api v1 builds to required checks
  .github/workflows/api-v1-production-build.yml
  .github/workflows/pr.yml
Labels: api, ci, core, foundation

#14454 fix: v1 tsconfig decorators
  apps/api/v1/tsconfig.json
Labels: 🐛 bug, platform, api, core

#14433 chore: change timezone format and update webhook
  apps/web/pages/api/get-inbound-dynamic-variables.ts
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer/eventTypes/types.ts
  packages/trpc/server/routers/viewer/eventTypes/update.handler.ts
Labels: 🐛 bug, bookings, core, consumer

#14442 fix: Empty "Add guests" email input is blocking form submission
  packages/features/bookings/Booker/components/BookEventForm/BookEventForm.tsx
  packages/features/bookings/lib/getBookingResponsesSchema.ts
Labels: 🐛 bug, 🧹 Improvements, Urgent, bookings, ui, booking-page, core, community

#14440 fix: Add missing import for Icon component
  packages/features/eventtypes/components/MultiDropdownSelect.tsx
Labels: 🐛 bug, ui, event-types, core, community

#14077 feat: New app install flow 2
  apps/web/components/apps/AppPage.tsx
  apps/web/components/apps/InstallAppButtonChild.tsx
  apps/web/components/apps/installation/AccountsStepCard.tsx
  apps/web/components/apps/installation/ConfigureStepCard.tsx
  apps/web/components/apps/installation/EventTypesStepCard.tsx
  apps/web/components/apps/installation/StepHeader.tsx
  apps/web/components/apps/onboarding/AccountsStepCard.tsx
  apps/web/components/apps/onboarding/ConfigureStepCard.tsx
  apps/web/components/apps/onboarding/EventTypesStepCard.tsx
  apps/web/components/apps/onboarding/OAuthStepCard.tsx
  apps/web/components/apps/onboarding/StepFooter.tsx
  apps/web/pages/apps/[slug]/index.tsx
  apps/web/pages/apps/installation/[[...step]].tsx
  apps/web/pages/apps/onboarding/[[...step]].tsx
  apps/web/public/static/locales/en/common.json
  packages/app-store/_components/DynamicComponent.tsx
  packages/app-store/_components/OmniInstallAppButton.tsx
  packages/app-store/_utils/oauth/decodeOAuthState.ts
  packages/app-store/alby/components/EventTypeAppCardInterface.tsx
  packages/app-store/basecamp3/api/callback.ts
  packages/app-store/intercom/api/callback.ts
  packages/app-store/office365video/api/callback.ts
  packages/app-store/salesforce/api/callback.ts
  packages/app-store/stripepayment/api/callback.ts
  packages/app-store/types.d.ts
  packages/app-store/zoho-bigin/api/callback.ts
  packages/app-store/zohocrm/api/callback.ts
  packages/lib/apps/appOnboardingSteps.ts
  packages/lib/apps/getAppOnboardingRedirectUrl.ts
  packages/lib/apps/getAppOnboardingUrl.ts
  packages/lib/apps/shouldRedirectToAppOnboarding.ts
  packages/lib/getAppOnboardingRedirectUrl.ts
  packages/trpc/server/routers/viewer/eventTypes/update.handler.ts
  packages/ui/components/apps/AppCard.tsx
  yarn.lock
Labels: community

#14432 docs: Update README.md add minimum PostgreSQL version
  README.md
Labels: 🧹 Improvements, docs, community

#14431 docs: Update README.md regarding POSTGRES db port
  README.md
Labels: docs, core, community

#14464 fix: Return team event type
  apps/api/v1/pages/api/event-types/[id]/_get.ts
Labels: 🐛 bug, High priority, api, event-types, core, foundation

#14337 fix: Allow unpublished org to serve redirected links plus other org onboarding fixes
  apps/api/v2/src/modules/events/controllers/events.controller.ts
  apps/web/lib/d/[link]/[slug]/getServerSideProps.tsx
  apps/web/lib/getTemporaryOrgRedirect.test.ts
  apps/web/lib/getTemporaryOrgRedirect.ts
  apps/web/lib/org/[orgSlug]/[user]/getServerSideProps.tsx
  apps/web/lib/team/[slug]/[type]/getServerSideProps.tsx
  apps/web/lib/team/[slug]/getServerSideProps.tsx
  apps/web/modules/users/views/users-public-view.getServerSideProps.tsx
  apps/web/modules/users/views/users-public-view.tsx
  apps/web/modules/users/views/users-type-public-view.getServerSideProps.tsx
  apps/web/pages/org/[orgSlug]/instant-meeting/team/[slug]/[type].tsx
  apps/web/pages/team/[slug].tsx
  packages/app-store/routing-forms/pages/routing-link/getServerSideProps.ts
  packages/emails/src/templates/OrganizationCreationEmail.tsx
  packages/emails/src/templates/TeamInviteEmail.tsx
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/types.ts
  packages/features/eventtypes/lib/getPublicEvent.ts
  packages/lib/constants.ts
  packages/lib/event-types/getEventTypesByViewer.ts
  packages/lib/server/queries/teams/index.ts
  packages/lib/server/repository/membership.ts
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
  packages/trpc/server/routers/publicViewer/event.handler.ts
  packages/trpc/server/routers/publicViewer/event.schema.ts
  packages/trpc/server/routers/viewer/organizations/create.handler.ts
  packages/trpc/server/routers/viewer/organizations/createTeams.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMember.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMemberUtils.test.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/utils.ts
  packages/ui/components/unpublished-entity/UnpublishedEntity.tsx
Labels: 🐛 bug, ✨ feature, High priority, platform, routing-forms, api, organizations, core, consumer

#14472 chore: typo
  apps/web/public/static/locales/en/common.json
Labels: 🧹 Improvements, i18n, core

#14478 fix: Ensure the session is invalidated during booking-seats test
  apps/web/playwright/booking-seats.e2e.ts
Labels: 🐛 bug, automated-tests, core, foundation

#14424 chore: add instruction in recording email
  apps/web/public/static/locales/en/common.json
  packages/emails/src/templates/DailyVideoDownloadRecordingEmail.tsx
  packages/features/ee/video/ViewRecordingsDialog.tsx
Labels: core, consumer

#14147 refactor: Add `crm` type to app credentials
  apps/web/pages/apps/installed/[category].tsx
  apps/web/playwright/payment-apps.e2e.ts
  packages/app-store/_utils/getAppCategoryTitle.ts
  packages/app-store/_utils/getCalendar.ts
  packages/app-store/closecom/api/_postAdd.ts
  packages/app-store/closecom/config.json
  packages/app-store/hubspot/_metadata.ts
  packages/app-store/hubspot/api/add.ts
  packages/app-store/hubspot/api/callback.ts
  packages/app-store/pipedrive-crm/config.json
  packages/app-store/salesforce/api/add.ts
  packages/app-store/salesforce/api/callback.ts
  packages/app-store/salesforce/config.json
  packages/app-store/sendgrid/config.json
  packages/app-store/utils.ts
  packages/app-store/zoho-bigin/config.json
  packages/app-store/zohocrm/api/callback.ts
  packages/app-store/zohocrm/config.json
  packages/core/EventManager.ts
  packages/trpc/server/routers/loggedInViewer/integrations.handler.ts
  packages/types/App.d.ts
Labels: app-store, core, crm-apps, consumer

#14475 fix: Remove exports in barrel file which are causing prisma import on client side
  packages/lib/index.ts
Labels: 🐛 bug, platform, core, consumer

#14480 fix: isTeamEvent would eval to null when undefined
  packages/features/bookings/components/BookerSeo.tsx
Labels: 🐛 bug, event-types, core, foundation

#14488 fix: Remove logo from getPublicEvent response
  packages/features/eventtypes/lib/getPublicEvent.ts
Labels: 🐛 bug, event-types, core, foundation

#13621 feat: ooo-v2
  apps/web/modules/users/views/users-public-view.getServerSideProps.tsx
  apps/web/modules/users/views/users-public-view.tsx
  apps/web/modules/users/views/users-type-public-view.getServerSideProps.tsx
  apps/web/pages/settings/my-account/out-of-office/index.tsx
  apps/web/playwright/out-of-office.e2e.ts
  apps/web/public/static/locales/en/common.json
  apps/web/test/lib/getAggregateWorkingHours.test.ts
  packages/core/getUserAvailability.ts
  packages/emails/templates/booking-redirect-notification.ts
  packages/features/booking-redirect/handle-type.ts
  packages/features/booking-redirect/handle-user.ts
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/components/AvailableTimeSlots.tsx
  packages/features/bookings/Booker/components/DatePicker.tsx
  packages/features/bookings/Booker/components/LargeCalendar.tsx
  packages/features/bookings/Booker/components/OutOfOfficeInSlots.tsx
  packages/features/bookings/Booker/utils/event.ts
  packages/features/bookings/components/AvailableTimes.tsx
  packages/features/calendars/DatePicker.tsx
  packages/features/calendars/weeklyview/components/Calendar.tsx
  packages/features/calendars/weeklyview/components/event/Empty.tsx
  packages/features/calendars/weeklyview/components/verticalLines/index.tsx
  packages/features/calendars/weeklyview/types/state.ts
  packages/features/schedules/lib/use-schedule/index.ts
  packages/features/schedules/lib/use-schedule/types.ts
  packages/features/schedules/lib/use-schedule/useNonEmptyScheduleDays.ts
  packages/features/schedules/lib/use-schedule/useSlotsForDate.ts
  packages/features/settings/layouts/SettingsLayout.tsx
  packages/lib/slots.ts
  packages/prisma/migrations/20240305054507_add_reasons_to_out_of_office_entries/migration.sql
  packages/prisma/migrations/20240305054508_default_reasons_out_of_office/migration.sql
  packages/prisma/migrations/20240308211937_add_notes_field_to_ooo_entry/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/loggedInViewer/_router.tsx
  packages/trpc/server/routers/loggedInViewer/outOfOffice.handler.ts
  packages/trpc/server/routers/loggedInViewer/outOfOffice.schema.ts
  packages/trpc/server/routers/loggedInViewer/outOfOfficeReasons.handler.ts
  packages/trpc/server/routers/viewer/slots/util.ts
  packages/ui/components/dialog/Dialog.tsx
  packages/ui/components/empty-screen/EmptyScreen.tsx
Labels: ✨ feature, ❗️ migrations, 🎨 needs design, 🧹 Improvements, Medium priority, Urgent, 🚨 needs approval, community, high-risk

#14492 fix: unnecessary access token guard on public endpoint for slots
  apps/api/v2/src/modules/slots/controllers/slots.controller.ts
Labels: 🐛 bug, platform, api, core

#14496 fix: [CAL-422] Intercom App add link
  packages/app-store/intercom/api/configure.ts
Labels: 🐛 bug, ✨ feature, 🙋🏻‍♂️help wanted, app-store, Medium priority, 💎 Bounty, 💰 Rewarded, core, community

#14079 fix: view team bookings
  apps/web/playwright/bookings-list.e2e.ts
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/lib/testUtils.ts
  apps/web/playwright/organization/booking-list.e2e.ts
  packages/trpc/server/routers/viewer/bookings/get.handler.ts
Labels: High priority, teams, bookings, community, foundation, high-risk

#14490 chore: AtomsWrapper to scope css
  packages/platform/atoms/availability/wrappers/PlatformAvailabilitySettingsWrapper.tsx
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
  packages/platform/atoms/gcal-connect/GcalConnect.tsx
  packages/platform/atoms/package.json
  packages/platform/atoms/postcss.config.js
  packages/platform/atoms/src/components/atoms-wrapper.tsx
  packages/platform/atoms/src/components/ui/toaster.tsx
  packages/platform/atoms/src/constants/styles.ts
  packages/platform/examples/base/src/pages/_app.tsx
Labels: 🧹 Improvements, platform, api, core

#14493 fix: org-redirect-url-admin-update
  packages/features/ee/users/server/trpc-router.ts
Labels: 🐛 bug, High priority, core, admin, consumer

#14473 fix: private link for a team event gives 404
  apps/web/lib/d/[link]/[slug]/getServerSideProps.tsx
Labels: 🐛 bug, High priority, teams, event-types, core, community

#14501 fix: Fix broken locale in Availability Settings title
  packages/platform/atoms/availability/AvailabilitySettings.tsx
Labels: 🐛 bug, i18n, community

#14506 chore: bump atoms to 1.0.13
  packages/platform/atoms/package.json
Labels: ⬆️ dependencies, platform, api, core

#14082 feat: Implement the ability to login via multiple means when signed up via google/non-cal providers
  apps/web/pages/api/auth/two-factor/totp/setup.ts
  apps/web/pages/auth/login.tsx
  apps/web/pages/settings/my-account/profile.tsx
  apps/web/pages/settings/security/password.tsx
  apps/web/pages/settings/security/two-factor-auth.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/auth/lib/next-auth-custom-adapter.ts
  packages/features/auth/lib/next-auth-options.ts
  packages/features/settings/layouts/SettingsLayout.tsx
  packages/prisma/migrations/20240318085938_add_provider_email/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/middlewares/sessionMiddleware.ts
  packages/trpc/server/routers/loggedInViewer/me.handler.ts
  packages/trpc/server/routers/loggedInViewer/me.schema.ts
  packages/trpc/server/routers/loggedInViewer/procedures/me.ts
  packages/trpc/server/routers/loggedInViewer/updateProfile.handler.ts
  packages/trpc/server/routers/loggedInViewer/updateProfile.schema.ts
  packages/trpc/server/routers/viewer/auth/_router.tsx
  packages/trpc/server/routers/viewer/auth/changePassword.handler.ts
  packages/trpc/server/routers/viewer/auth/createAccountPassword.handler.ts
  packages/trpc/server/routers/viewer/auth/createAccountPassword.schema.ts
Labels: ✨ feature, ❗️ migrations, High priority, authentication, community, high-risk

#14280 fix: correct language is used when booking with a modal + location icon visible in booker when using light mode
  packages/features/bookings/Booker/components/BookEventForm/BookFormAsModal.tsx
  packages/features/bookings/Booker/utils/dates.tsx
  packages/features/bookings/components/event-meta/AvailableEventLocations.tsx
  packages/features/bookings/components/event-meta/Duration.tsx
Labels: community

#14470 feat: In Embed, Fire 'routed' event when Routing Form routes
  packages/app-store/routing-forms/pages/routing-link/[...appPages].tsx
  packages/app-store/routing-forms/types/types.d.ts
  packages/embeds/embed-core/index.html
  packages/embeds/embed-core/playground.ts
  packages/embeds/embed-core/src/sdk-action-manager.ts
Labels: ✨ feature, routing-forms, embed, core, consumer

#14509 fix: platform booking endpoints should be public
  apps/api/v2/src/ee/bookings/controllers/bookings.controller.ts
  apps/api/v2/swagger/documentation.json
Labels: 🐛 bug, platform, api, core

#14513 fix: platform gcal connect reconnect credentials
  apps/api/v2/src/ee/gcal/gcal.controller.ts
  apps/api/v2/src/ee/gcal/gcal.module.ts
  apps/api/v2/src/modules/credentials/credentials.repository.ts
  apps/api/v2/src/modules/selected-calendars/selected-calendars.repository.ts
  packages/platform/atoms/gcal-connect/GcalConnect.tsx
  packages/platform/atoms/hooks/useGcal.ts
  packages/platform/examples/base/src/pages/calendars.tsx
Labels: 🐛 bug, platform, api, core

#14497 fix: Broken SSR for event booking pages
  apps/web/app/future/[user]/[type]/page.tsx
  apps/web/app/future/d/[link]/[slug]/page.tsx
  apps/web/app/future/org/[orgSlug]/team/[slug]/[type]/page.tsx
  apps/web/app/future/team/[slug]/[type]/page.tsx
  apps/web/playwright/booking-pages.e2e.ts
  packages/features/bookings/Booker/utils/event.ts
  packages/features/bookings/components/BookerSeo.tsx
  packages/features/eventtypes/lib/getPublicEvent.ts
  packages/trpc/server/routers/viewer/organizations/createTeams.handler.ts
Labels: 🐛 bug, booking-page, core, consumer

#14535 fix: test
  packages/features/bookings/components/BookerSeo.tsx
Labels: 🐛 bug, event-types, core, foundation, consumer

#14518 feat: add redirect uris for booking success, cancel and reschedule for a platform user
  apps/api/v2/src/modules/oauth-clients/inputs/update-oauth-client.input.ts
  apps/web/components/settings/organizations/platform/oauth-clients/OAuthClientCard.tsx
  apps/web/components/settings/organizations/platform/oauth-clients/OAuthClientForm.tsx
  apps/web/pages/settings/organizations/platform/oauth-clients/index.tsx
  packages/platform/types/oauth-clients.ts
  packages/prisma/migrations/20240411114622_platform_urls_emails/migration.sql
  packages/prisma/schema.prisma
Labels: ✨ feature, ❗️ migrations, platform, api, core

#14527 fix: Redirect only those apps that extend 'EventType' to the new apps install flow
  packages/lib/apps/shouldRedirectToAppOnboarding.ts
Labels: 🐛 bug, app-store, core, community

#14536 chore: Add unit tests event types api
  apps/api/v1/test/lib/event-types/[id]/_get.test.ts
  vitest.workspace.ts
Labels: High priority, automated-tests, api, event-types, core, foundation

#14423 feat: always show intercom on desktop by default (hidden on mobile)
  apps/web/modules/event-types/views/event-types-listing-view.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/ee/support/components/ContactMenuItem.tsx
  packages/features/ee/support/components/HelpMenuItem.tsx
  packages/features/ee/support/lib/intercom/IntercomMenuItem.tsx
  packages/features/ee/support/lib/intercom/useIntercom.ts
  packages/features/shell/Shell.tsx
Labels: ✨ feature, linear, Medium priority, platform, event-types, core, community

#14528 fix: Invalid 403 forbidden for event-types GET
  apps/api/v1/pages/api/event-types/[id]/_auth-middleware.ts
  apps/api/v1/pages/api/event-types/[id]/index.ts
  apps/api/v1/pages/api/event-types/_utils/checkTeamEventEditPermission.ts
  apps/api/v1/test/lib/event-types/[id]/_get.test.ts
  vitest.workspace.ts
Labels: 🐛 bug, api, event-types, core, foundation

#14544 fix: State Inconsistency issue on webhook edit modal
  packages/features/webhooks/pages/webhook-edit-view.tsx
Labels: 🐛 bug, webhooks, community

#14543 chore: Publish new versions of embeds
  apps/web/CHANGELOG.md
  apps/web/package.json
  packages/embeds/embed-core/CHANGELOG.md
  packages/embeds/embed-core/package.json
  packages/embeds/embed-react/CHANGELOG.md
  packages/embeds/embed-react/package.json
  packages/embeds/embed-snippet/CHANGELOG.md
  packages/embeds/embed-snippet/package.json
Labels: ⬆️ dependencies, embed, core, consumer

#14546 fix: atoms package types were not exported
  packages/platform/atoms/package.json
Labels: 🐛 bug, platform, api, core

#14549 fix: Remove hardcoded stripe..
  packages/trpc/server/routers/loggedInViewer/deleteCredential.handler.ts
Labels: 🐛 bug, platform, billing, core, foundation

#14551 fix: v2 create schedule with availabilities
  apps/api/v2/src/ee/event-types/controllers/event-types.controller.ts
  apps/api/v2/src/modules/availabilities/inputs/create-availability.input.ts
Labels: 🐛 bug, platform, api, core

#14121 feat: Delete/Create WebhookScheduledTriggers for existing bookings
  packages/features/webhooks/lib/scheduleTrigger.ts
  packages/trpc/server/routers/viewer/webhook/create.handler.ts
  packages/trpc/server/routers/viewer/webhook/delete.handler.ts
  packages/trpc/server/routers/viewer/webhook/edit.handler.ts
Labels: 🐛 bug, webhooks, community

#14512 feat: travel schedules to schedule timezone changes
  .github/workflows/cron-changeTimeZone.yml
  apps/web/components/settings/TravelScheduleModal.tsx
  apps/web/lib/types/schedule.ts
  apps/web/pages/api/cron/changeTimeZone.ts
  apps/web/pages/settings/my-account/general.tsx
  apps/web/public/static/locales/en/common.json
  packages/core/getUserAvailability.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/schedules/components/DateOverrideList.tsx
  packages/lib/date-ranges.test.ts
  packages/lib/date-ranges.ts
  packages/lib/defaultEvents.ts
  packages/platform/atoms/availability/AvailabilitySettings.tsx
  packages/platform/atoms/availability/wrappers/WebAvailabilitySettingsWrapper.tsx
  packages/prisma/migrations/20240321153033_add_travel_schedules/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/selects/user.ts
  packages/trpc/server/routers/loggedInViewer/_router.tsx
  packages/trpc/server/routers/loggedInViewer/getTravelSchedules.handler.ts
  packages/trpc/server/routers/loggedInViewer/getTravelSchedules.schema.ts
  packages/trpc/server/routers/loggedInViewer/updateProfile.handler.ts
  packages/trpc/server/routers/loggedInViewer/updateProfile.schema.ts
  packages/trpc/server/routers/viewer/availability/team/listTeamAvailability.handler.ts
  packages/trpc/server/routers/viewer/slots/util.ts
  packages/types/schedule.d.ts
  packages/ui/components/form/datepicker/DatePicker.tsx
Labels: ✨ feature, ❗️ migrations, High priority, platform, bookings, core, 🚧 wip / in the making, consumer

#14471 chore: enable platform emails
  apps/api/v2/src/app.ts
  apps/api/v2/src/ee/bookings/bookings.module.ts
  apps/api/v2/src/ee/bookings/controllers/bookings.controller.ts
  apps/api/v2/src/ee/calendars/services/calendars.service.ts
  apps/api/v2/src/modules/credentials/credentials.repository.ts
  apps/api/v2/swagger/documentation.json
  packages/app-store/googlecalendar/lib/CalendarService.ts
  packages/emails/email-manager.ts
  packages/emails/src/components/BaseEmailHtml.tsx
  packages/emails/src/templates/BaseScheduledEmail.tsx
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/lib/CalEventParser.ts
  packages/lib/formatCalendarEvent.ts
  packages/platform/atoms/hooks/useOAuthClient.ts
  packages/platform/atoms/lib/http.ts
  packages/platform/constants/api.ts
  packages/types/Calendar.d.ts
Labels: ✨ feature, platform, api, emails, core

#14557 fix: Cal Video Links Expire After 14 Days
  packages/app-store/dailyvideo/lib/VideoApiAdapter.ts
Labels: 🐛 bug, platform, core, cal video, consumer

#14526 fix: update playwright config to allow permissions
  playwright.config.ts
Labels: 🐛 bug, High priority, automated-tests, core, consumer

#14270 feat: add classNames prop to `Booker` atom for passing external styles
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/components/AvailableTimeSlots.tsx
  packages/features/bookings/Booker/components/DatePicker.tsx
  packages/features/bookings/Booker/components/EventMeta.tsx
  packages/features/bookings/Booker/types.ts
  packages/features/bookings/components/AvailableTimes.tsx
  packages/features/bookings/components/AvailableTimesHeader.tsx
  packages/features/bookings/components/TimeFormatToggle.tsx
  packages/features/calendars/DatePicker.tsx
  packages/features/schedules/components/Schedule.tsx
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
  packages/platform/atoms/booker/BookerWebWrapper.tsx
  packages/ui/components/form/timezone-select/TimezoneSelect.tsx
  packages/ui/components/form/toggleGroup/ToggleGroup.tsx
Labels: ✨ feature, platform, bookings, ui, core

#14559 fix: remove prefix /api from apiv2
  apps/api/v2/src/app.module.ts
  apps/api/v2/src/app.rewrites.middleware.ts
  apps/api/v2/src/app.ts
  apps/api/v2/src/config/app.ts
  apps/api/v2/swagger/documentation.json
Labels: 🐛 bug, High priority, platform, api, core

#14555 chore: adds maintenance mode for API v1
  apps/api/v1/middleware.ts
Labels: api, core, foundation

#14561 revert: "fix: view team bookings (#14079)"
  apps/web/playwright/bookings-list.e2e.ts
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/lib/testUtils.ts
  apps/web/playwright/organization/booking-list.e2e.ts
  packages/trpc/server/routers/viewer/bookings/get.handler.ts
Labels: Urgent, 📉 regressing, bookings, performance, core, foundation

#14562 chore: fix class type and bump atoms version
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/components/AvailableTimeSlots.tsx
  packages/features/bookings/Booker/types.ts
  packages/features/bookings/components/AvailableTimes.tsx
  packages/features/bookings/components/AvailableTimesHeader.tsx
  packages/features/bookings/components/TimeFormatToggle.tsx
  packages/features/calendars/DatePicker.tsx
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
  packages/platform/atoms/booker/BookerWebWrapper.tsx
  packages/platform/atoms/package.json
  packages/ui/components/form/toggleGroup/ToggleGroup.tsx
Labels: 🐛 bug, ⬆️ dependencies, platform, bookings, api, core

#14545 refactor: v2 event types endpoint paths
  apps/api/v2/src/ee/event-types/controllers/event-types.controller.e2e-spec.ts
  apps/api/v2/src/ee/event-types/controllers/event-types.controller.ts
  apps/api/v2/src/ee/event-types/inputs/get-public-event-type-query-params.input.ts
  apps/api/v2/src/ee/event-types/outputs/get-event-type-public.output.ts
  apps/api/v2/src/modules/endpoints.module.ts
  apps/api/v2/src/modules/events/controllers/events.controller.ts
  apps/api/v2/src/modules/events/events.module.ts
  apps/api/v2/swagger/documentation.json
  packages/platform/atoms/hooks/usePublicEvent.tsx
  packages/platform/types/index.ts
Labels: platform, api, event-types, core

#14570 feat: return `isPlatform` boolean to detect if user is a platform user
  packages/lib/server/repository/profile.ts
Labels: ✨ feature, platform, core

#14571 fix: Integrate maintenance mode with current middleware
  apps/api/v1/lib/helpers/checkIsInMaintenanceMode.ts
  apps/api/v1/lib/helpers/withMiddleware.ts
Labels: 🐛 bug, High priority, api, core, foundation

#14568 chore: remove /ee from apiv2 urls
  apps/api/v2/src/app.rewrites.middleware.ts
  apps/api/v2/src/ee/bookings/controllers/bookings.controller.e2e-spec.ts
  apps/api/v2/src/ee/bookings/controllers/bookings.controller.ts
  apps/api/v2/src/ee/calendars/controllers/calendars.controller.ts
  apps/api/v2/src/ee/gcal/gcal.controller.e2e-spec.ts
  apps/api/v2/src/ee/gcal/gcal.controller.ts
  apps/api/v2/src/ee/me/me.controller.e2e-spec.ts
  apps/api/v2/src/ee/me/me.controller.ts
  apps/api/v2/src/ee/provider/provider.controller.ts
  apps/api/v2/swagger/documentation.json
  packages/platform/atoms/hooks/useCalendarsBusyTimes.ts
  packages/platform/atoms/hooks/useConnectedCalendars.tsx
  packages/platform/atoms/hooks/useCreateBooking.ts
  packages/platform/atoms/hooks/useCreateInstantBooking.ts
  packages/platform/atoms/hooks/useCreateRecurringBooking.ts
  packages/platform/atoms/hooks/useGcal.ts
  packages/platform/constants/api.ts
  packages/platform/examples/base/README.md
  packages/platform/sdk/src/swagger-types.d.ts
Labels: platform, Urgent, api, core

#14576 fix: only call useMe if access token is set
  packages/platform/atoms/cal-provider/CalProvider.tsx
  packages/platform/atoms/hooks/useMe.ts
  packages/platform/atoms/index.ts
Labels: 🐛 bug, platform, api, core

#14578 fix: Production deploys
  apps/web/scripts/vercel-production-deploy.sh
Labels: 🐛 bug, platform, Urgent, core, foundation

#14579 fix: Remove PageWrapper
  apps/web/pages/maintenance.tsx
Labels: 🐛 bug, core, foundation

#14583 fix: removing stripe results in the event-types page loading indefintely
  packages/trpc/server/routers/loggedInViewer/deleteCredential.handler.ts
Labels: 🐛 bug, event-types, billing, community

#14586 fix: conditionally remove fixed prop if we're in embed
  packages/features/bookings/Booker/Booker.tsx
Labels: 🐛 bug, Medium priority, ui, embed, core, consumer

#14592 fix: acme.cal.local crashes due to missing requestedSlug in seed
  apps/web/lib/team/[slug]/getServerSideProps.tsx
Labels: 🐛 bug, core, foundation

#14594 fix: email not sending with : in from name
  packages/emails/lib/sanitizeDisplayName.ts
Labels: 🐛 bug, emails, core, consumer

#14563 fix: intercom visible on mobile
  packages/features/shell/Shell.tsx
Labels: 🐛 bug, platform, core, community

#14596 fix: Re-instate hasEmailBeenChanged before sending email
  packages/trpc/server/routers/loggedInViewer/updateProfile.handler.ts
Labels: 🐛 bug, Urgent, emails, core, foundation

#14587 feat: use experimental optimizePackageImports for @calcom/ui
  apps/web/next.config.js
Labels: 🐛 bug, 🧹 Improvements, ⚡ Quick Wins, Medium priority, 2 points, ui, performance, core, 💻 refactor, community, consumer

#14567 chore: org signup for admins min 1 org user, for self-serve 30
  packages/features/ee/organizations/components/CreateANewOrganizationForm.tsx
Labels: platform, seats, organizations, core

#14542 feat: update platform oauth client form
  apps/web/components/settings/organizations/platform/oauth-clients/OAuthClientCard.tsx
  apps/web/components/settings/organizations/platform/oauth-clients/OAuthClientForm.tsx
  apps/web/lib/hooks/settings/organizations/platform/oauth-clients/useOAuthClients.ts
  apps/web/lib/hooks/settings/organizations/platform/oauth-clients/usePersistOAuthClient.ts
  apps/web/pages/settings/organizations/platform/oauth-clients/create.tsx
  apps/web/pages/settings/organizations/platform/oauth-clients/index.tsx
  packages/platform/utils/permissions.ts
Labels: ✨ feature, platform, api, core

#14520 chore: Delete duplicate apps/platform directory
  apps/platform/README.md
  apps/platform/example/README.md
Labels: platform, core

#14523 fix: update sub-team slug - update tempOrgRedirect
  packages/trpc/server/routers/viewer/teams/update.handler.ts
Labels: 🐛 bug, teams, api, core, consumer

#14522 fix: hide "upgrade org banner" for isPlatform
  packages/features/ee/organizations/components/OrgUpgradeBanner.tsx
Labels: ✨ feature, Medium priority, High priority, platform, core

#14582 fix: Remove // @ts-ignore
  apps/api/v2/src/ee/event-types/event-types.repository.ts
Labels: 🧹 Improvements, event-types, core, 💻 refactor, community

#14585 chore: bump atoms to v1.0.22
  packages/platform/atoms/index.ts
  packages/platform/atoms/package.json
Labels: ⬆️ dependencies, platform, api, core

#14600 fix: custom attributes not being synced in intercom
  apps/web/server/lib/ssr.ts
  packages/features/ee/support/lib/intercom/useIntercom.ts
  packages/features/shell/Shell.tsx
Labels: 🐛 bug, platform, core, community

#14602 refactor: remove /ee/ url segment from atoms hooks
  packages/platform/atoms/hooks/useCancelBooking.ts
  packages/platform/atoms/hooks/useOAuthClient.ts
  packages/platform/atoms/hooks/useOAuthFlow.ts
Labels: platform, api, core, 💻 refactor

#14245 feat: round robin: show avatar and name of person on success page
  apps/web/lib/booking.ts
  apps/web/modules/bookings/views/bookings-single-view.tsx
  apps/web/playwright/organization/booking.e2e.ts
  apps/web/playwright/teams.e2e.ts
  apps/web/public/static/locales/en/common.json
  packages/config/tailwind-preset.js
  packages/features/auth/SAMLLogin.tsx
  packages/features/bookings/Booker/components/OverlayCalendar/OverlayCalendarSettingsModal.tsx
  packages/features/bookings/lib/getUserBooking.ts
  packages/features/calendars/weeklyview/components/heading/SchedulerHeading.tsx
  packages/features/ee/dsync/components/DirectoryInfo.tsx
  packages/features/ee/organizations/pages/components/MemberListItem.tsx
  packages/features/eventtypes/components/ChildrenEventTypeSelect.tsx
  packages/features/insights/filters/Download/index.tsx
  packages/features/schedules/components/DateOverrideList.tsx
  packages/features/timezone-buddy/components/AvailabilityEditSheet.tsx
  packages/features/timezone-buddy/components/AvailabilitySliderTable.tsx
  packages/features/troubleshooter/components/TroubleshooterHeader.tsx
  packages/features/webhooks/components/WebhookTestDisclosure.tsx
  packages/platform/atoms/availability/AvailabilitySettings.tsx
Labels: ✨ feature, linear, community

#14476 fix: always load troubleshooter without SSR
  apps/web/pages/availability/troubleshoot.tsx
  packages/features/troubleshooter/components/CalendarToggleContainer.tsx
Labels: 🐛 bug, platform, Urgent, ui, core, consumer

#14486 chore: Adds deprecated-imports-next-router
  apps/web/components/settings/organizations/platform/oauth-clients/OAuthClientForm.tsx
  apps/web/pages/settings/organizations/platform/oauth-clients/index.tsx
  packages/eslint-plugin/src/configs/recommended.ts
  packages/eslint-plugin/src/rules/deprecated-imports-next-router.ts
  packages/eslint-plugin/src/rules/index.ts
  packages/lib/next-seo.config.ts
  packages/platform/examples/base/src/pages/[bookingUid].tsx
  packages/platform/examples/base/src/pages/booking.tsx
  packages/platform/examples/base/src/pages/bookings.tsx
Labels: platform, api, core, 💻 refactor, foundation

#14574 fix: Organization payment failure in case of custom price
  packages/features/ee/teams/lib/payments.ts
Labels: 🐛 bug, billing, core, consumer

#13736 fix: rescheduling daily
  .github/workflows/e2e-app-store.yml
  .github/workflows/e2e-embed-react.yml
  .github/workflows/e2e-embed.yml
  .github/workflows/e2e.yml
  .github/workflows/production-build-without-database.yml
  .github/workflows/production-build.yml
  apps/web/pages/auth/verify-email-change.tsx
  apps/web/playwright/booking-pages.e2e.ts
  packages/app-store/locations.ts
  packages/features/bookings/lib/handleNewBooking/test/fresh-booking.test.ts
Labels: 🐛 bug, linear, Medium priority, bookings, core, cal video, consumer

#14612 fix: booker atoms using next/router
  apps/web/pages/settings/organizations/platform/oauth-clients/create.tsx
  packages/features/bookings/components/AvailableTimes.tsx
  packages/platform/atoms/package.json
  packages/platform/examples/base/src/pages/[bookingUid].tsx
  packages/platform/examples/base/src/pages/booking.tsx
  packages/platform/examples/base/src/pages/bookings.tsx
Labels: 🐛 bug, platform, bookings, api, core

#14617 fix: Minimum fix for N Calendar Invites
  packages/app-store/_utils/calendars/processExternalId.ts
  packages/core/EventManager.ts
  packages/features/bookings/lib/handleNewBooking.ts
Labels: 🐛 bug, teams, Urgent, bookings, emails, core, consumer

#14618 chore: v4.0.1
  apps/web/package.json
Labels: ⬆️ dependencies, core, foundation

#14620 fix: API v2 recurring spelling
  apps/api/v2/src/app.rewrites.middleware.ts
  apps/api/v2/src/ee/bookings/controllers/bookings.controller.e2e-spec.ts
  apps/api/v2/src/ee/bookings/controllers/bookings.controller.ts
  apps/api/v2/src/ee/bookings/inputs/create-recurring-booking.input.ts
  apps/api/v2/swagger/documentation.json
  packages/platform/sdk/src/swagger-types.d.ts
Labels: 🐛 bug, High priority, platform, api, core, foundation

#14627 fix: Hide org tab when you are team admin
  packages/features/ee/teams/components/MemberInvitationModal.tsx
  packages/trpc/server/routers/viewer/organizations/getMembers.handler.ts
Labels: 🐛 bug, teams, core, consumer

#14481 fix: add new styling for emoji links
  apps/web/modules/bookings/views/bookings-single-view.tsx
  packages/features/ee/workflows/lib/reminders/providers/sendgridProvider.ts
  packages/features/ee/workflows/lib/reminders/templates/emailRatingTemplate.ts
  packages/ui/components/editor/ExampleTheme.ts
  packages/ui/components/editor/plugins/ToolbarPlugin.tsx
  packages/ui/components/editor/stylesEditor.css
Labels: 🧹 Improvements, ui, core, consumer

#14630 chore: settings design match
  apps/web/components/eventtype/EventTypeSingleLayout.tsx
  packages/features/settings/layouts/SettingsLayout.tsx
  packages/ui/components/navigation/tabs/VerticalTabItem.tsx
Labels: 🧹 Improvements, ⚡ Quick Wins, Low priority, Stale, ui, core, consumer

#14624 fix: use 'success' value for better accuracy
  packages/lib/checkRateLimitAndThrowError.test.ts
  packages/lib/checkRateLimitAndThrowError.ts
Labels: 🐛 bug, api, core, community

#14636 fix: 500 on forbidden showing up in logs
  apps/web/modules/event-types/views/event-types-single-view.getServerSideProps.tsx
  packages/trpc/server/routers/viewer/eventTypes/util.ts
Labels: 🐛 bug, event-types, core, foundation

#14645 fix: add linting exception for website
  packages/config/eslint-preset.js
Labels: High priority, api, core, devops, foundation

#14633 chore: atoms 1.0.29 + fix typing issues
  packages/platform/atoms/package.json
  packages/platform/atoms/tsconfig.json
  packages/platform/atoms/vite.config.ts
Labels: 🐛 bug, ⬆️ dependencies, platform, api, core

#14635 feat: booker atom custom location
  apps/api/v2/src/ee/bookings/controllers/bookings.controller.ts
  apps/api/v2/src/ee/bookings/inputs/create-booking.input.ts
  apps/api/v2/swagger/documentation.json
  packages/features/bookings/lib/handleNewBooking.ts
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
  packages/platform/atoms/hooks/useCreateBooking.ts
  packages/platform/atoms/hooks/useHandleBookEvent.ts
  packages/platform/examples/base/src/pages/[bookingUid].tsx
  packages/platform/examples/base/src/pages/booking.tsx
Labels: ✨ feature, platform, bookings, api, core

#14650 chore: atoms 1.0.30
  packages/platform/atoms/package.json
  packages/platform/atoms/vite.config.ts
Labels: ⬆️ dependencies, platform, api, core

#14655 fix: v2 e2e tests
  apps/api/v2/src/ee/gcal/gcal.controller.e2e-spec.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.e2e-spec.ts
Labels: 🐛 bug, platform, automated-tests, api, core

#14649 fix: managed users check if exist
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.ts
  apps/api/v2/src/modules/oauth-clients/services/oauth-clients-users.service.ts
Labels: 🐛 bug, platform, api, core

#14180 feat: Tasker
  .env.example
  apps/api/v1/test/lib/bookings/_post.test.ts
  apps/web/app/api/tasks/cleanup/route.ts
  apps/web/app/api/tasks/cron/route.ts
  apps/web/pages/api/recorded-daily-video.ts
  apps/web/playwright/webhook.e2e.ts
  apps/web/vercel.json
  packages/features/bookings/lib/handleBookingRequested.ts
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/features/bookings/lib/handleConfirmation.ts
  packages/features/bookings/lib/handleSeats/cancel/cancelAttendeeSeat.ts
  packages/features/bookings/lib/handleWebhookTrigger.ts
  packages/features/tasker/README.md
  packages/features/tasker/api/cleanup.ts
  packages/features/tasker/api/cron.ts
  packages/features/tasker/index.ts
  packages/features/tasker/internal-tasker.ts
  packages/features/tasker/redis-tasker.ts
  packages/features/tasker/repository.ts
  packages/features/tasker/tasker-factory.ts
  packages/features/tasker/tasker.ts
  packages/features/tasker/tasks/index.ts
  packages/features/tasker/tasks/sendEmail.ts
  packages/features/tasker/tasks/sendWebook.ts
  packages/features/webhooks/lib/schedulePayload.ts
  packages/features/webhooks/lib/sendOrSchedulePayload.ts
  packages/prisma/migrations/20240327153218_adds_tasker_feature/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/bookings/requestReschedule.handler.ts
  turbo.json
  yarn.lock
Labels: ✨ feature, ❗️ migrations, High priority, ❗️ .env changes, 5 points, api, core, osshack, foundation, high-risk

#14656 fix: only boot intercom if .env variable is set
  packages/features/ee/support/components/HelpMenuItem.tsx
  packages/features/shell/Shell.tsx
Labels: 🐛 bug, ❗️ .env changes, community

#14667 feat: hide org admin tabs when youre a member
  packages/features/settings/layouts/SettingsLayout.tsx
Labels: ✨ feature, organizations, core, consumer

#14652 feat: include org role in org session data
  packages/features/auth/lib/next-auth-options.ts
  packages/features/ee/organizations/context/provider.ts
  packages/features/settings/layouts/SettingsLayout.tsx
  packages/types/next-auth.d.ts
Labels: ✨ feature, enterprise, organizations, authentication, core, consumer

#14647 chore: better string for "Create an Out of Office"
  apps/web/public/static/locales/en/common.json
Labels: 🧹 Improvements, i18n, core

#14672 fix: remove away view
  apps/web/modules/users/views/users-public-view.tsx
  packages/features/bookings/Booker/Booker.tsx
  packages/features/shell/Shell.tsx
Labels: 🐛 bug, core, consumer

#14670 fix: get llm response schema
  packages/prisma/zod-utils.ts
Labels: 🐛 bug, api, core, consumer

#14673 chore: Removing away (DB related, not slot related) from code
  apps/api/v1/lib/validations/user.ts
  apps/web/lib/d/[link]/[slug]/getServerSideProps.tsx
  apps/web/lib/team/[slug]/[type]/getServerSideProps.tsx
  apps/web/modules/users/views/users-public-view.getServerSideProps.tsx
  apps/web/modules/users/views/users-type-public-view.getServerSideProps.tsx
  apps/web/modules/users/views/users-type-public-view.tsx
  apps/web/pages/d/[link]/[slug].tsx
  apps/web/pages/org/[orgSlug]/instant-meeting/team/[slug]/[type].tsx
  apps/web/pages/team/[slug]/[type].tsx
  apps/web/test/utils/bookingScenario/getSampleUserInSession.ts
  packages/features/bookings/Booker/types.ts
  packages/features/ee/users/server/trpc-router.ts
  packages/features/shell/Shell.tsx
  packages/lib/server/repository/user.ts
  packages/lib/test/builder.ts
  packages/trpc/server/middlewares/sessionMiddleware.ts
  packages/trpc/server/routers/loggedInViewer/_router.tsx
  packages/trpc/server/routers/loggedInViewer/away.handler.ts
  packages/trpc/server/routers/loggedInViewer/away.schema.ts
  packages/trpc/server/routers/loggedInViewer/me.handler.ts
Labels: 🧹 Improvements, core, foundation

#14678 fix: credit card icon
  packages/features/bookings/components/event-meta/Details.tsx
Labels: 🐛 bug, 🧹 Improvements, bookings, ui, core

#14698 fix: managed type url in orgs
  packages/features/eventtypes/components/ChildrenEventTypeSelect.tsx
Labels: 🐛 bug, event-types, core, consumer

#14681 fix: tooltip text on Create event type dialog
  packages/features/eventtypes/components/CreateEventTypeDialog.tsx
Labels: 🐛 bug, event-types, community

#14628 fix: Private settings of the event disabled after making changes to your event
  apps/web/components/eventtype/EventSetupTab.tsx
  apps/web/modules/event-types/views/event-types-single-view.tsx
  apps/web/playwright/hash-my-url.e2e.ts
Labels: 🐛 bug, event-types, community

#14629 fix: Update visibility of team members based on user role
  apps/web/playwright/fixtures/orgs.ts
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/organization/organization-privacy.e2e.ts
  packages/features/ee/organizations/pages/settings/members.tsx
  packages/features/ee/teams/pages/team-members-view.tsx
  packages/features/users/components/UserTable/UserListTable.tsx
  packages/trpc/server/routers/viewer/teams/get.handler.ts
  packages/ui/components/data-table/index.tsx
Labels: 🐛 bug, teams, core, consumer

#14653 feat: updated the useage of listCurrent in the app and use org role from session
  packages/features/ee/organizations/pages/settings/appearance.tsx
  packages/features/ee/organizations/pages/settings/general.tsx
  packages/features/ee/sso/page/orgs-sso-view.tsx
  packages/features/ee/teams/components/AddNewTeamMembers.tsx
  packages/features/ee/teams/pages/team-members-view.tsx
  packages/features/users/components/UserTable/EditSheet/EditUserForm.tsx
Labels: ✨ feature, platform, api, core, consumer

#14703 fix: send completed_onboarding to intercom
  packages/features/ee/support/lib/intercom/useIntercom.ts
Labels: 🐛 bug, emails, core, community

#14552 fix: Managed event isn’t showing in the upcoming bookings when filtered
  packages/trpc/server/routers/viewer/bookings/get.handler.ts
Labels: 🐛 bug, teams, bookings, community
