Repository calcom/cal.com, pull requests merged in 2024-10, with the labels that each got.

#16849 chore: add saml signup test / improve signup e2e test
  apps/web/modules/signup-view.tsx
  apps/web/playwright/saml.e2e.ts
  apps/web/playwright/signup.e2e.ts
Labels: automated-tests, core, consumer, ready-for-e2e

#16889 fix: theme is not configured in app router
  .env.example
  apps/web/abTest/middlewareFactory.ts
  apps/web/app/layoutHOC.tsx
  apps/web/lib/app-providers-app-dir.tsx
  apps/web/playwright/change-theme.e2e.ts
  apps/web/scripts/vercel-app-router-deploy.sh
  turbo.json
Labels: ❗️ .env changes, ui, core, consumer, ready-for-e2e

#16890 chore: improve event-type atom desc, data fetch
  packages/features/eventtypes/components/tabs/setup/EventSetupTab.tsx
  packages/platform/atoms/event-types/wrappers/EventTypePlatformWrapper.tsx
  packages/platform/examples/base/src/pages/event-types.tsx
Labels: 🧹 Improvements, platform, core, ready-for-e2e

#16882 feat: v2 rate limiting
  apps/api/v2/package.json
  apps/api/v2/src/app.e2e-spec.ts
  apps/api/v2/src/app.module.ts
  apps/api/v2/src/ee/schedules/schedules_2024_04_15/controllers/schedules.controller.ts
  apps/api/v2/src/ee/schedules/schedules_2024_06_11/controllers/schedules.controller.ts
  apps/api/v2/src/env.ts
  apps/api/v2/src/lib/throttler-guard.ts
  apps/api/v2/src/modules/auth/guards/permissions/permissions.guard.spec.ts
  apps/api/v2/src/modules/auth/guards/permissions/permissions.guard.ts
  apps/api/v2/src/modules/slots/controllers/slots.controller.ts
  apps/api/v2/test/fixtures/repository/rate-limit.repository.fixture.ts
  apps/api/v2/test/setEnvVars.ts
  packages/prisma/migrations/20241001091544_add_api_key_rate_limit/migration.sql
  packages/prisma/schema.prisma
  yarn.lock
Labels: ✨ feature, ❗️ migrations, platform, api, core, ready-for-e2e

#16895 chore: Couple fixes to improve error reporting
  apps/api/v1/pages/api/bookings/[id]/_delete.ts
  apps/web/test/utils/bookingScenario/getMockRequestDataForCancelBooking.ts
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/features/bookings/lib/handleSeats/cancel/cancelAttendeeSeat.ts
  packages/features/bookings/lib/handleSeats/test/handleSeats.test.ts
  packages/lib/server/defaultResponder.ts
  packages/lib/server/getServerErrorFromUnknown.ts
  packages/platform/atoms/hooks/useCancelBooking.ts
  packages/prisma/zod-utils.ts
Labels: api, core, foundation, ready-for-e2e

#16719 fix: booker atom recurring event
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/input-event-types.service.ts
  packages/lib/event-types/transformers/api-to-internal/api-to-internal.spec.ts
  packages/lib/event-types/transformers/api-to-internal/recurrence.ts
  packages/platform/atoms/booker-embed/BookerEmbed.tsx
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
  packages/platform/atoms/cal-provider/BaseCalProvider.tsx
  packages/platform/atoms/event-types/atom-api-transformers/transformApiEventTypeForAtom.ts
Labels: 🐛 bug, platform, core, ready-for-e2e

#16896 chore: Release v4.5.8
  apps/web/package.json
Labels: core, foundation, ready-for-e2e

#16900 fix: Better defaulting to NEXT_PUBLIC_LOGGER_LEVEL=4
  packages/lib/logger.ts
Labels: core, foundation, ready-for-e2e

#16788 docs: v2 refresh tokens and slots endpoints swagger
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-flow/oauth-flow.controller.ts
  apps/api/v2/src/modules/oauth-clients/inputs/refresh-token.input.ts
  apps/api/v2/src/modules/slots/controllers/slots.controller.ts
  apps/api/v2/swagger/documentation.json
  packages/platform/types/slots.ts
Labels: docs, platform, core, ready-for-e2e

#16661 fix: fix ui overflow on phone for calendar settings
  packages/features/calendars/CalendarSwitch.tsx
Labels: 🐛 bug, ui, community, ready-for-e2e

#15673 refactor: handleNewBooking #4
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/addVideoCallDataToEvent.ts
  packages/features/bookings/lib/handleNewBooking/checkBookingAndDurationLimits.ts
  packages/features/bookings/lib/handleNewBooking/createBooking.ts
  packages/features/bookings/lib/handleNewBooking/getCustomInputsResponses.ts
  packages/features/bookings/lib/handleNewBooking/getLocationValuesForDb.ts
  packages/features/bookings/lib/handleNewBooking/getOriginalRescheduledBooking.ts
  packages/features/bookings/lib/handleNewBooking/getRequiresConfirmationFlags.ts
  packages/features/bookings/lib/handleNewBooking/getSeatedBooking.ts
  packages/features/bookings/lib/handleNewBooking/getVideoCallDetails.ts
  packages/features/bookings/lib/handleNewBooking/loadAndValidateUsers.ts
  packages/features/bookings/lib/handleNewBooking/loadUsers.ts
  packages/features/bookings/lib/handleNewBooking/types.ts
  packages/features/bookings/lib/handleNewBooking/validateBookingTimeIsNotOutOfBounds.ts
  packages/features/bookings/lib/handleNewBooking/validateEventLength.ts
  packages/features/bookings/lib/handleNewBooking/validateOriginalRescheduledBooking.ts
  packages/features/bookings/lib/handleSeats/reschedule/owner/combineTwoSeatedBookings.ts
  packages/features/bookings/lib/handleSeats/reschedule/owner/moveSeatedBookingToNewTimeSlot.ts
  packages/features/bookings/lib/handleSeats/types.d.ts
  packages/features/instant-meeting/handleInstantMeeting.ts
  packages/lib/defaultEvents.ts
  packages/lib/server/repository/booking.ts
Labels: enterprise, bookings, core, 💻 refactor, consumer, ready-for-e2e

#16893 chore: refactor shell to individual files
  apps/web/modules/more/more-page-view.tsx
  apps/web/playwright/signup.e2e.ts
  packages/features/auth/lib/hooks/useRedirectToLoginIfUnauthenticated.tsx
  packages/features/auth/lib/hooks/useRedirectToOnboardingIfNeeded.tsx
  packages/features/ee/support/lib/intercom/useIntercom.ts
  packages/features/shell/Shell.tsx
  packages/features/shell/SideBar.tsx
  packages/features/shell/TopNav.tsx
  packages/features/shell/banners/LayoutBanner.tsx
  packages/features/shell/banners/useBanners.ts
  packages/features/shell/navigation/Navigation.tsx
  packages/features/shell/navigation/NavigationItem.tsx
  packages/features/shell/navigation/useShouldDisplayNavigationItem.ts
  packages/features/shell/useAppTheme.ts
  packages/features/shell/user-dropdown/ProfileDropdown.tsx
  packages/features/shell/user-dropdown/UserDropdown.tsx
Labels: core, 💻 refactor, consumer, high-risk, ready-for-e2e

#16910 fix: translations for sidebar
  apps/web/public/static/locales/en/common.json
  apps/web/public/static/locales/ko/common.json
  packages/features/shell/navigation/Navigation.tsx
Labels: 🐛 bug, i18n, core, consumer, ready-for-e2e

#16909 fix: i18n for app router
  apps/web/lib/app-providers-app-dir.tsx
Labels: i18n, core, consumer, ready-for-e2e

#16918 fix: Tooltip must be used within TooltipProvider
  apps/web/pages/auth/setup/index.tsx
Labels: 🐛 bug, ui, docker, community, ready-for-e2e

#16926 chore: v4.5.9
  apps/web/package.json
Labels: core, foundation, ready-for-e2e

#16936 fix: Certain query params being filtered out from embed
  packages/embeds/embed-core/src/embed.test.ts
  packages/embeds/embed-core/src/embed.ts
Labels: 🐛 bug, enterprise, embed, core, ready-for-e2e

#16793 chore: (2) `settings/my-account` - remove pages router and use app router
  apps/web/app/settings/(settings-layout)/my-account/appearance/page.tsx
  apps/web/app/settings/(settings-layout)/my-account/calendars/page.tsx
  apps/web/app/settings/(settings-layout)/my-account/conferencing/page.tsx
  apps/web/app/settings/(settings-layout)/my-account/general/page.tsx
  apps/web/app/settings/(settings-layout)/my-account/out-of-office/page.tsx
  apps/web/app/settings/(settings-layout)/my-account/profile/page.tsx
  apps/web/modules/settings/my-account/general-view.tsx
  apps/web/next.config.js
  apps/web/pages/settings/my-account/appearance.tsx
  apps/web/pages/settings/my-account/calendars.tsx
  apps/web/pages/settings/my-account/conferencing.tsx
  apps/web/pages/settings/my-account/general.tsx
  apps/web/pages/settings/my-account/out-of-office/index.tsx
  apps/web/pages/settings/my-account/profile.tsx
Labels: ❗️ .env changes, core, 💻 refactor, consumer, high-risk, ready-for-e2e

#16931 fix: rescheduledBy to carry into success url redirect
  apps/web/modules/bookings/views/bookings-single-view.tsx
  packages/features/bookings/Booker/components/hooks/useBookings.ts
Labels: 🐛 bug, bookings, community, ready-for-e2e

#16937 test: more Embed Page Params filtering tests
  packages/embeds/embed-core/index.html
  packages/embeds/embed-core/playground.ts
  packages/embeds/embed-core/playwright/tests/action-based.e2e.ts
  packages/embeds/embed-core/src/embed.test.ts
Labels: enterprise, automated-tests, embed, core, ready-for-e2e

#16940 feat: add trial days to stripe teams checkout
  packages/features/ee/teams/lib/payments.ts
Labels: ✨ feature, teams, billing, core, payments, consumer, ready-for-e2e

#16933 fix: translations for insights, routing-forms, apps store, etc
  apps/web/app/future/apps/[slug]/[...pages]/page.tsx
  apps/web/app/future/apps/categories/[category]/page.tsx
  apps/web/app/future/apps/categories/page.tsx
  apps/web/app/future/bookings/[status]/page.tsx
  apps/web/app/future/insights/page.tsx
  apps/web/app/future/settings/platform/page.tsx
  apps/web/components/EnterprisePage.tsx
  apps/web/modules/apps/apps-view.tsx
  apps/web/modules/apps/categories/[category]/category-view.tsx
  apps/web/modules/apps/categories/categories-view.tsx
  apps/web/modules/availability/availability-view.tsx
  apps/web/modules/bookings/views/bookings-listing-view.tsx
  apps/web/modules/insights/insights-view.tsx
  apps/web/modules/settings/platform/platform-view.tsx
  apps/web/modules/teams/teams-view.tsx
  apps/web/pages/404.tsx
  apps/web/playwright/availability.e2e.ts
  apps/web/public/static/locales/ar/common.json
  apps/web/public/static/locales/cs/common.json
  apps/web/public/static/locales/de/common.json
  apps/web/public/static/locales/en/common.json
  apps/web/public/static/locales/es/common.json
  apps/web/public/static/locales/he/common.json
  apps/web/public/static/locales/it/common.json
  apps/web/public/static/locales/ja/common.json
  apps/web/public/static/locales/nl/common.json
  apps/web/public/static/locales/pl/common.json
  apps/web/public/static/locales/pt-BR/common.json
  apps/web/public/static/locales/pt/common.json
  apps/web/public/static/locales/ro/common.json
  apps/web/public/static/locales/ru/common.json
  apps/web/public/static/locales/sr/common.json
  apps/web/public/static/locales/sv/common.json
  apps/web/public/static/locales/tr/common.json
  apps/web/public/static/locales/uk/common.json
  apps/web/public/static/locales/vi/common.json
  apps/web/public/static/locales/zh-CN/common.json
  apps/web/public/static/locales/zh-TW/common.json
  packages/app-store/routing-forms/pages/forms/[...appPages].tsx
  packages/features/ee/workflows/pages/index.tsx
Labels: app-store, routing-forms, insights, i18n, core, consumer, ready-for-e2e

#16948 fix: annoying warning due to key spread
  apps/web/lib/app-providers-app-dir.tsx
  apps/web/lib/app-providers.tsx
Labels: ui, core, consumer, ready-for-e2e

#16917 fix: currency conversion error for paypal
  packages/app-store/_utils/payments/currencyConversions.ts
  packages/app-store/paypal/components/EventTypeAppSettingsInterface.tsx
  packages/app-store/stripepayment/components/EventTypeAppSettingsInterface.tsx
  packages/lib/price.ts
Labels: 🐛 bug, billing, community, ready-for-e2e, community-interns

#16949 fix: flaky one in locale e2e test
  apps/web/playwright/locale.e2e.ts
Labels: automated-tests, core, consumer, ready-for-e2e

#15366 refactor: Billing service
  .env.example
  apps/web/pages/api/cron/downgradeUsers.ts
  apps/web/pages/api/stripe/webhook.ts
  packages/features/ee/billing/api/webhook/__handler.test.ts
  packages/features/ee/billing/api/webhook/__handler.ts
  packages/features/ee/billing/api/webhook/_customer.subscription.deleted.team-plan.ts
  packages/features/ee/billing/api/webhook/_customer.subscription.deleted.ts
  packages/features/ee/billing/api/webhook/_payment_intent.succeeded.ts
  packages/features/ee/billing/api/webhook/index.ts
  packages/features/ee/billing/billing-service-factory.ts
  packages/features/ee/billing/billing-service.ts
  packages/features/ee/billing/index.ts
  packages/features/ee/billing/package.json
  packages/features/ee/billing/stripe-billling-service.test.ts
  packages/features/ee/billing/stripe-billling-service.ts
  packages/features/ee/billing/teams/index.ts
  packages/features/ee/billing/teams/internal-team-billing.test.ts
  packages/features/ee/billing/teams/internal-team-billing.ts
  packages/features/ee/billing/teams/stub-team-billing.ts
  packages/features/ee/billing/teams/team-billing.repository.interface.ts
  packages/features/ee/billing/teams/team-billing.repository.test.ts
  packages/features/ee/billing/teams/team-billing.repository.ts
  packages/features/ee/billing/teams/team-billing.test.ts
  packages/features/ee/billing/teams/team-billing.ts
  packages/features/ee/organizations/pages/settings/other-team-profile-view.tsx
  packages/features/ee/teams/api/upgrade.ts
  packages/features/ee/teams/components/MemberInvitationModal.tsx
  packages/features/ee/teams/lib/payments.ts
  packages/features/package.json
  packages/lib/redirect.ts
  packages/lib/server/repository/TeamRepository.test.ts
  packages/lib/server/repository/team.ts
  packages/lib/server/service/workflows.ts
  packages/trpc/server/routers/viewer/organizations/bulkDeleteUsers.handler.ts
  packages/trpc/server/routers/viewer/teams/delete.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMember.handler.test.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMember.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMemberByToken.handler.ts
  packages/trpc/server/routers/viewer/teams/publish.handler.ts
  packages/trpc/server/routers/viewer/teams/removeMember.handler.ts
  packages/types/environment.d.ts
  tests/libs/__mocks__/stripe.ts
  tests/libs/mockData.ts
  tests/libs/mockTRPCContext.ts
  turbo.json
  yarn.lock
Labels: ❗️ .env changes, webhooks, billing, core, 💻 refactor, foundation, ready-for-e2e

#16954 chore: improve readability of some e2e tests
  apps/web/playwright/availability.e2e.ts
  apps/web/playwright/integrations-stripe.e2e.ts
  apps/web/playwright/payment-apps.e2e.ts
  packages/app-store/stripepayment/components/EventTypeAppSettingsInterface.tsx
Labels: automated-tests, core, consumer, ready-for-e2e

#16953 fix: DOM attribute warning in event-types edit page
  packages/features/eventtypes/components/tabs/advanced/EventAdvancedTab.tsx
Labels: event-types, core, consumer, ready-for-e2e

#16947 fix: add missing ApiOperation tag v2
  apps/api/v2/src/modules/stripe/controllers/stripe.controller.ts
  docs/api-reference/v2/openapi.json
Labels: platform, api, core, ready-for-e2e

#16961 docs: v2 mintlify docs update
  docs/api-reference/v2/openapi.json
Labels: docs, platform, core, ready-for-e2e

#16906 feat: Booker atom enable hiding event details
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/components/hooks/useBookerLayout.ts
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
Labels: ✨ feature, platform, core, ready-for-e2e

#16904 feat: Booker atom read only fields
  packages/features/bookings/Booker/components/BookEventForm/BookingFields.tsx
  packages/lib/event-types/transformers/internal-to-api/booking-fields.ts
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
  packages/platform/atoms/event-types/atom-api-transformers/transformApiEventTypeForAtom.ts
Labels: ✨ feature, platform, core, ready-for-e2e

#16959 fix: make theme logic safe and add better e2e tests
  apps/web/modules/settings/my-account/appearance-view.tsx
  apps/web/playwright/change-theme.e2e.ts
  packages/features/ee/organizations/pages/settings/appearance.tsx
  packages/features/ee/teams/pages/team-appearance-view.tsx
  packages/features/settings/ThemeLabel.tsx
  packages/ui/styles/useCalcomTheme.tsx
Labels: 🐛 bug, core, consumer, ready-for-e2e

#16945 fix: booker atom phone booking field
  packages/platform/atoms/globals.css
  packages/platform/atoms/styles/react-phone-input2.css
  packages/platform/examples/base/src/pages/booking.tsx
  yarn.lock
Labels: 🐛 bug, platform, core, ready-for-e2e

#16960 fix: add suppressHydrationWarning to app router layout
  apps/web/app/layout.tsx
Labels: ui, core, consumer, ready-for-e2e

#16922 refactor: v2 throttler guard
  apps/api/v2/src/lib/throttler-guard.ts
Labels: platform, core, ready-for-e2e

#16731 chore: Fixing ICS file in workflows & ICS calendar descriptions [CAL-4409]
  packages/emails/lib/generateIcsFile.ts
  packages/emails/lib/generateIcsString.ts
  packages/emails/templates/attendee-add-guests-email.ts
  packages/emails/templates/attendee-cancelled-email.ts
  packages/emails/templates/attendee-location-change-email.ts
  packages/emails/templates/attendee-rescheduled-email.ts
  packages/emails/templates/attendee-scheduled-email.ts
  packages/emails/templates/attendee-was-requested-to-reschedule-email.ts
  packages/emails/templates/organizer-add-guests-email.ts
  packages/emails/templates/organizer-cancelled-email.ts
  packages/emails/templates/organizer-location-change-email.ts
  packages/emails/templates/organizer-requested-to-reschedule-email.ts
  packages/emails/templates/organizer-rescheduled-email.ts
  packages/emails/templates/organizer-scheduled-email.ts
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/features/ee/workflows/api/scheduleEmailReminders.ts
  packages/features/ee/workflows/lib/getWorkflowReminders.ts
  packages/features/ee/workflows/lib/reminders/emailReminderManager.ts
  packages/features/ee/workflows/lib/reminders/reminderScheduler.ts
  packages/features/ee/workflows/lib/reminders/smsReminderManager.ts
  packages/features/ee/workflows/lib/test/workflows.test.ts
  packages/lib/CalEventParser.ts
  packages/lib/getLabelValueMapFromResponses.ts
  packages/trpc/server/routers/viewer/workflows/activateEventType.handler.ts
  packages/trpc/server/routers/viewer/workflows/util.ts
Labels: 🐛 bug, workflows, emails, core, consumer, ready-for-e2e

#16923 feat: checkbox to count managed events for team-wide limits
  apps/api/v1/lib/validations/team.ts
  apps/api/v2/src/modules/organizations/inputs/update-organization-team.input.ts
  apps/web/public/static/locales/en/common.json
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  packages/core/bookingLimits/getBusyTimesFromLimits.ts
  packages/core/getUserAvailability.ts
  packages/features/bookings/lib/handleNewBooking/getEventTypesFromDB.ts
  packages/features/bookings/lib/handleNewBooking/global-booking-limits.test.ts
  packages/features/ee/teams/pages/team-booking-limits-view.tsx
  packages/lib/server/checkBookingLimits.ts
  packages/lib/server/queries/teams/index.ts
  packages/lib/server/repository/booking.ts
  packages/prisma/migrations/20241003145122_add_include_managed_events_in_limits_to_teams/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/slots/util.ts
  packages/trpc/server/routers/viewer/teams/update.handler.ts
  packages/trpc/server/routers/viewer/teams/update.schema.ts
Labels: 🐛 bug, ✨ feature, ❗️ migrations, High priority, teams, bookings, core, consumer, ready-for-e2e

#16966 fix: SMS reminders are being sent out with HTML code
  packages/features/ee/workflows/components/WorkflowStepContainer.tsx
  packages/lib/turndownService.ts
Labels: 🐛 bug, workflows, community, ready-for-e2e, community-interns

#16981 chore: remove log in settings/my-account/conferencing
  apps/web/modules/settings/my-account/conferencing-view.tsx
Labels: core, consumer, ready-for-e2e

#16935 chore: add dev docs on mintlify
  docs/api-reference/v2/introduction.mdx
  docs/developing/guides/api/how-to-setup-api-in-a-local-instance.mdx
  docs/developing/guides/appstore-and-integration/adding-your-first-app.mdx
  docs/developing/guides/appstore-and-integration/build-a-greeter-app.mdx
  docs/developing/guides/appstore-and-integration/build-an-app.mdx
  docs/developing/guides/appstore-and-integration/how-to-show-assigned-people-from-a-crm.mdx
  docs/developing/guides/appstore-and-integration/integration-with-hubspot.mdx
  docs/developing/guides/appstore-and-integration/oauth.mdx
  docs/developing/guides/auth-and-provision/how-to-setup-oidc-with-okta.mdx
  docs/developing/guides/auth-and-provision/how-to-setup-scim-with-okta.mdx
  docs/developing/guides/auth-and-provision/sso-setup.mdx
  docs/developing/guides/email/setup-mailtrap-for-email-testing.mdx
  docs/developing/guides/embeds/embed-events.mdx
  docs/developing/introduction.mdx
  docs/developing/local-development.mdx
  docs/developing/open-source-contribution/code-styling.mdx
  docs/developing/open-source-contribution/contributors-guide.mdx
  docs/developing/open-source-contribution/index.mdx
  docs/developing/open-source-contribution/pull-requests.mdx
  docs/essentials/code.mdx
  docs/essentials/images.mdx
  docs/essentials/markdown.mdx
  docs/essentials/navigation.mdx
  docs/essentials/reusable-snippets.mdx
  docs/essentials/settings.mdx
  docs/images/high-priority.svg
  docs/images/i958x1232-mgsIib6PZJLt_zobva8.webp
  docs/images/low-priority.svg
  docs/images/medium-priority.svg
  docs/images/urgent-priority.svg
  docs/mint.json
  docs/platform/atoms-reference.mdx
  docs/self-hosting/apps/install-apps/daily.mdx
  docs/self-hosting/apps/install-apps/google.mdx
  docs/self-hosting/apps/install-apps/hubspot.mdx
  docs/self-hosting/apps/install-apps/introduction.mdx
  docs/self-hosting/apps/install-apps/microsoft.mdx
  docs/self-hosting/apps/install-apps/sendgrid.mdx
  docs/self-hosting/apps/install-apps/stripe.mdx
  docs/self-hosting/apps/install-apps/twilio.mdx
  docs/self-hosting/apps/install-apps/zoho.mdx
  docs/self-hosting/apps/install-apps/zoom.mdx
  docs/self-hosting/database-migrations.mdx
  docs/self-hosting/deployments/aws.mdx
  docs/self-hosting/deployments/azure.mdx
  docs/self-hosting/deployments/gcp.mdx
  docs/self-hosting/deployments/vercel.mdx
  docs/self-hosting/docker.mdx
  docs/self-hosting/guides/appstore-and-integration/syncing-third-party-apps.mdx
  docs/self-hosting/guides/sponsorship/can-calcom-sponsor-my-open-source-project.mdx
  docs/self-hosting/guides/white-labeling/custom-css.mdx
  docs/self-hosting/guides/white-labeling/introduction.mdx
  docs/self-hosting/installation.mdx
  docs/self-hosting/sso-setup.mdx
  docs/self-hosting/upgrading.mdx
Labels: docs, enterprise, core, ready-for-e2e

#16986 perf: Only render the TimezoneChangeDialog when needed
  packages/features/settings/TimezoneChangeDialog.tsx
Labels: performance, core, foundation, ready-for-e2e

#16963 refactor: platform bookings hooks & bookings API
  apps/api/v2/src/ee/bookings/2024-08-13/bookings.repository.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/bookings.controller.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/team-bookings.controller.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/user-bookings.controller.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/bookings.service.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/input.service.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/output.service.ts
  apps/api/v2/swagger/documentation.json
  packages/platform/atoms/CHANGELOG.md
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
  packages/platform/atoms/hooks/bookings/useBooking.ts
  packages/platform/atoms/hooks/bookings/useBookings.ts
  packages/platform/atoms/hooks/bookings/useCancelBooking.ts
  packages/platform/atoms/hooks/bookings/useCreateBooking.ts
  packages/platform/atoms/hooks/bookings/useCreateInstantBooking.ts
  packages/platform/atoms/hooks/bookings/useCreateRecurringBooking.ts
  packages/platform/atoms/hooks/bookings/useGetBookingForReschedule.ts
  packages/platform/atoms/hooks/bookings/useHandleBookEvent.ts
  packages/platform/atoms/hooks/useBookings.tsx
  packages/platform/atoms/hooks/useGetBooking.ts
  packages/platform/atoms/hooks/useGetBookings.ts
  packages/platform/atoms/index.ts
  packages/platform/atoms/monorepo.ts
  packages/platform/examples/base/src/pages/[bookingUid].tsx
  packages/platform/examples/base/src/pages/bookings.tsx
  packages/platform/examples/base/src/pages/event-types.tsx
  packages/platform/types/bookings/2024-08-13/inputs/create-booking.input.ts
  packages/platform/types/bookings/2024-08-13/outputs/booking.output.ts
  packages/platform/types/bookings/2024-08-13/outputs/get-booking.output.ts
  packages/platform/types/bookings/2024-08-13/outputs/get-bookings.output.ts
  packages/platform/types/bookings/2024-08-13/outputs/index.ts
  yarn.lock
Labels: platform, core, ready-for-e2e

#16971 fix: Salesforce assign event to organizer
  packages/app-store/salesforce/lib/CrmService.ts
Labels: enterprise, Urgent, core, crm-apps, consumer, ready-for-e2e

#16997 chore: remove react code in getLayout
  packages/app-store/routing-forms/pages/forms/[...appPages].tsx
Labels: core, 💻 refactor, consumer, ready-for-e2e

#16962 refactor: throttler rate limits for oauth client & access token
  apps/api/v2/src/env.ts
  apps/api/v2/src/lib/throttler-guard.ts
  docs/api-reference/v2/openapi.json
Labels: platform, ❗️ .env changes, api, core, ready-for-e2e

#16990 fix: some doc fixes
  docs/developing/guides/appstore-and-integration/adding-your-first-app.mdx
  docs/developing/guides/appstore-and-integration/integration-with-hubspot.mdx
  docs/developing/guides/appstore-and-integration/oauth.mdx
  docs/developing/open-source-contribution/introduction.mdx
  docs/mint.json
  docs/self-hosting/guides/white-labeling/color-tokens.mdx
  docs/self-hosting/guides/white-labeling/introduction.mdx
Labels: docs, enterprise, core, ready-for-e2e

#16823 feat: Attribute based routing from Team Routing Form to Team Event(with assigned users matching the attribute logic)
  apps/web/public/static/locales/en/common.json
  packages/app-store/routing-forms/README.md
  packages/app-store/routing-forms/TODO.md
  packages/app-store/routing-forms/components/FormInputFields.tsx
  packages/app-store/routing-forms/components/SingleForm.tsx
  packages/app-store/routing-forms/components/react-awesome-query-builder/config/BasicConfig.ts
  packages/app-store/routing-forms/components/react-awesome-query-builder/config/config.tsx
  packages/app-store/routing-forms/components/react-awesome-query-builder/widgets.tsx
  packages/app-store/routing-forms/lib/FieldTypes.ts
  packages/app-store/routing-forms/lib/InitialConfig.tsx
  packages/app-store/routing-forms/lib/__tests__/getQueryBuilderConfig.test.ts
  packages/app-store/routing-forms/lib/createFallbackRoute.ts
  packages/app-store/routing-forms/lib/evaluateRaqbLogic.test.ts
  packages/app-store/routing-forms/lib/evaluateRaqbLogic.ts
  packages/app-store/routing-forms/lib/getAttributes.ts
  packages/app-store/routing-forms/lib/getQueryBuilderConfig.ts
  packages/app-store/routing-forms/lib/getSerializableForm.ts
  packages/app-store/routing-forms/lib/jsonLogic.test.ts
  packages/app-store/routing-forms/lib/jsonLogic.ts
  packages/app-store/routing-forms/lib/processRoute.tsx
  packages/app-store/routing-forms/lib/substituteVariables.ts
  packages/app-store/routing-forms/pages/reporting/[...appPages].tsx
  packages/app-store/routing-forms/pages/route-builder/[...appPages].tsx
  packages/app-store/routing-forms/pages/router/getServerSideProps.ts
  packages/app-store/routing-forms/pages/routing-link/[...appPages].tsx
  packages/app-store/routing-forms/pages/routing-link/getUrlSearchParamsToForward.test.ts
  packages/app-store/routing-forms/pages/routing-link/getUrlSearchParamsToForward.ts
  packages/app-store/routing-forms/trpc/__tests__/utils.test.ts
  packages/app-store/routing-forms/trpc/_router.ts
  packages/app-store/routing-forms/trpc/findTeamMembersMatchingAttributeLogic.handler.ts
  packages/app-store/routing-forms/trpc/findTeamMembersMatchingAttributeLogic.schema.ts
  packages/app-store/routing-forms/trpc/getAttributesForTeam.handler.ts
  packages/app-store/routing-forms/trpc/getAttributesForTeam.schema.ts
  packages/app-store/routing-forms/trpc/raqbUtils.ts
  packages/app-store/routing-forms/trpc/response.handler.ts
  packages/app-store/routing-forms/trpc/response.schema.ts
  packages/app-store/routing-forms/trpc/utils.ts
  packages/app-store/routing-forms/types/types.d.ts
  packages/app-store/routing-forms/zod.ts
  packages/features/bookings/lib/book-event-form/booking-to-mutation-input-mapper.tsx
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/createBooking.ts
  packages/features/bookings/lib/handleNewBooking/loadAndValidateUsers.ts
  packages/features/bookings/lib/handleNewBooking/loadUsers.ts
  packages/features/schedules/lib/use-schedule/useSchedule.ts
  packages/lib/bookings/getRoutedTeamMemberIdsFromSearchParams.ts
  packages/lib/bookings/getRoutedUsers.ts
  packages/lib/server/repository/user.ts
  packages/prisma/migrations/20241007134700_add_connection_bw_booking_and_routing_form_response/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer/slots/types.ts
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: ✨ feature, ❗️ migrations, High priority, teams, enterprise, Urgent, routing-forms, core, ready-for-e2e

#17000 fix: Close OOO Create Modal on backdrop click
  packages/features/settings/outOfOffice/CreateOrEditOutOfOfficeModal.tsx
Labels: ui, core, consumer, ready-for-e2e

#17002 chore: revert /settings/my-account app router
  apps/web/app/future/settings/(settings)/my-account/appearance/page.tsx
  apps/web/app/future/settings/(settings)/my-account/calendars/page.tsx
  apps/web/app/future/settings/(settings)/my-account/conferencing/page.tsx
  apps/web/app/future/settings/(settings)/my-account/general/page.tsx
  apps/web/app/future/settings/(settings)/my-account/out-of-office/page.tsx
  apps/web/app/future/settings/(settings)/my-account/profile/page.tsx
  apps/web/modules/settings/my-account/general-view.tsx
  apps/web/next.config.js
  apps/web/pages/settings/my-account/appearance.tsx
  apps/web/pages/settings/my-account/calendars.tsx
  apps/web/pages/settings/my-account/conferencing.tsx
  apps/web/pages/settings/my-account/general.tsx
  apps/web/pages/settings/my-account/out-of-office/index.tsx
  apps/web/pages/settings/my-account/profile.tsx
Labels: core, consumer, ready-for-e2e

#17003 chore: Update PR template to account for new docs
  .github/PULL_REQUEST_TEMPLATE.md
Labels: core, foundation, ready-for-e2e

#17004 fix: add fallback to data needed in SettingsLayout
  packages/features/settings/appDir/SettingsLayoutAppDirClient.tsx
Labels: 🐛 bug, core, consumer, ready-for-e2e

#17001 chore: v4.5.10
  apps/web/package.json
Labels: core, foundation, ready-for-e2e

#17005 fix: billing webhook secret
  packages/features/ee/billing/api/webhook/__handler.test.ts
  packages/features/ee/billing/api/webhook/__handler.ts
  turbo.json
Labels: 🐛 bug, billing, core, foundation, ready-for-e2e

#17011 fix: Prettier error and EmailField import error due to Attributes query PR
  packages/app-store/routing-forms/components/react-awesome-query-builder/config/config.tsx
  packages/app-store/routing-forms/components/react-awesome-query-builder/widgets.tsx
  packages/app-store/routing-forms/lib/evaluateRaqbLogic.test.ts
  packages/app-store/routing-forms/trpc/__tests__/utils.test.ts
Labels: 🐛 bug, enterprise, core, ready-for-e2e

#17012 feat: Support headless router as well in embed
  apps/web/next.config.js
  packages/app-store/routing-forms/getEventTypeRedirectUrl.ts
  packages/app-store/routing-forms/pages/router/[...appPages].tsx
  packages/app-store/routing-forms/pages/router/getServerSideProps.ts
  packages/app-store/routing-forms/pages/routing-link/[...appPages].tsx
  packages/app-store/routing-forms/playwright/tests/basic.e2e.ts
  packages/embeds/embed-core/index.html
  packages/embeds/embed-core/playground.ts
  packages/prisma/seed-app-store.ts
Labels: 🐛 bug, ✨ feature, enterprise, Urgent, embed, core, ready-for-e2e

#17018 fix: schema.prisma path
  docs/developing/local-development.mdx
Labels: docs, community, ready-for-e2e

#16995 feat: mass assign attributes
  apps/web/package.json
  apps/web/public/static/locales/en/common.json
  packages/features/users/components/UserTable/BulkActions/MassAssignAttributes.tsx
  packages/features/users/components/UserTable/UserListTable.tsx
  packages/prisma/migrations/20241008124232_remove_attribute_value_unique/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/attributes/_router.ts
  packages/trpc/server/routers/viewer/attributes/bulkAssignAttributes.handler.ts
  packages/trpc/server/routers/viewer/attributes/bulkAssignAttributes.schema.ts
Labels: ✨ feature, ❗️ migrations, Urgent, organizations, core, consumer, ready-for-e2e

#17022 fix: URLs to images in docs
  docs/developing/guides/appstore-and-integration/build-a-greeter-app.mdx
  docs/developing/guides/appstore-and-integration/build-an-app.mdx
  docs/developing/guides/auth-and-provision/how-to-setup-oidc-with-okta.mdx
  docs/developing/guides/auth-and-provision/how-to-setup-scim-with-okta.mdx
  docs/developing/guides/auth-and-provision/sso-setup.mdx
  docs/developing/introduction.mdx
  docs/developing/local-development.mdx
  docs/developing/open-source-contribution/introduction.mdx
  docs/self-hosting/sso-setup.mdx
Labels: docs, High priority, core, foundation, ready-for-e2e

#16455 feat: add nextcloud talk app
  packages/app-store/apps.keys-schemas.generated.ts
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.schemas.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/bookerApps.metadata.generated.ts
  packages/app-store/index.ts
  packages/app-store/nextcloudtalk/DESCRIPTION.md
  packages/app-store/nextcloudtalk/README.md
  packages/app-store/nextcloudtalk/api/add.ts
  packages/app-store/nextcloudtalk/api/callback.ts
  packages/app-store/nextcloudtalk/api/index.ts
  packages/app-store/nextcloudtalk/config.json
  packages/app-store/nextcloudtalk/index.ts
  packages/app-store/nextcloudtalk/lib/VideoApiAdapter.ts
  packages/app-store/nextcloudtalk/lib/index.ts
  packages/app-store/nextcloudtalk/package.json
  packages/app-store/nextcloudtalk/static/icon.svg
  packages/app-store/nextcloudtalk/static/nextcloudtalk1.jpg
  packages/app-store/nextcloudtalk/static/nextcloudtalk2.jpg
  packages/app-store/nextcloudtalk/zod.ts
  yarn.lock
Labels: ✨ feature, app-store, Low priority, 💎 Bounty, 🙋 Bounty claim, community, ready-for-e2e

#17015 feat: Skip contact owner even if it matches attribute routing
  packages/app-store/routing-forms/TODO.md
  packages/app-store/routing-forms/__tests__/getEventTypeRedirectUrl.test.ts
  packages/app-store/routing-forms/__tests__/jsonLogicToPrisma.test.ts
  packages/app-store/routing-forms/components/SingleForm.tsx
  packages/app-store/routing-forms/components/react-awesome-query-builder/config/BasicConfig.ts
  packages/app-store/routing-forms/getEventTypeRedirectUrl.ts
  packages/app-store/routing-forms/lib/InitialConfig.tsx
  packages/app-store/routing-forms/lib/evaluateRaqbLogic.ts
  packages/app-store/routing-forms/lib/getAttributes.ts
  packages/app-store/routing-forms/lib/getQueryBuilderConfig.ts
  packages/app-store/routing-forms/lib/getSerializableForm.ts
  packages/app-store/routing-forms/lib/processRoute.tsx
  packages/app-store/routing-forms/package.json
  packages/app-store/routing-forms/pages/reporting/[...appPages].tsx
  packages/app-store/routing-forms/pages/route-builder/[...appPages].tsx
  packages/app-store/routing-forms/pages/router/getServerSideProps.ts
  packages/app-store/routing-forms/pages/routing-link/[...appPages].tsx
  packages/app-store/routing-forms/pages/routing-link/getUrlSearchParamsToForward.test.ts
  packages/app-store/routing-forms/pages/routing-link/getUrlSearchParamsToForward.ts
  packages/app-store/routing-forms/playwright/tests/basic.e2e.ts
  packages/app-store/routing-forms/trpc/_router.ts
  packages/app-store/routing-forms/trpc/findTeamMembersMatchingAttributeLogic.schema.ts
  packages/app-store/routing-forms/trpc/getAttributesForTeam.handler.ts
  packages/app-store/routing-forms/trpc/raqbUtils.ts
  packages/app-store/routing-forms/trpc/response.handler.ts
  packages/app-store/routing-forms/trpc/utils.ts
  packages/app-store/routing-forms/types/types.d.ts
  packages/app-store/routing-forms/zod.ts
  packages/features/bookings/lib/book-event-form/booking-to-mutation-input-mapper.tsx
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/loadAndValidateUsers.ts
  packages/features/bookings/lib/handleNewBooking/loadUsers.ts
  packages/features/schedules/lib/use-schedule/useSchedule.ts
  packages/lib/bookings/getRoutedUsers.ts
  packages/lib/fromEntriesWithDuplicateKeys.ts
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer/slots/types.ts
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: 🐛 bug, ✨ feature, teams, enterprise, Urgent, routing-forms, core, ready-for-e2e

#17028 chore: Removed development only docs tags
  apps/api/v2/src/app.controller.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-clients/oauth-clients.controller.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
Labels: docs, api, core, foundation, ready-for-e2e

#17030 fix: padding in TeamPill (and hence TeamRole)
  packages/features/ee/teams/components/TeamPill.tsx
Labels: teams, core, consumer, ready-for-e2e

#17032 test: Add Attributes Routing e2e and some more unit tests
  apps/web/playwright/fixtures/users.ts
  packages/app-store/routing-forms/TODO.md
  packages/app-store/routing-forms/pages/route-builder/[...appPages].tsx
  packages/app-store/routing-forms/playwright/tests/basic.e2e.ts
  packages/app-store/routing-forms/playwright/tests/testUtils.ts
  packages/lib/bookings/getRoutedUsers.test.ts
  packages/trpc/server/routers/viewer/slots/util.test.ts
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: enterprise, routing-forms, automated-tests, core, ready-for-e2e

#17034 fix: add a bunch of missing pages including v1 slot info
  docs/api-reference/v1/openapi-v1.json
  docs/developing/guides/appstore-and-integration/oauth.mdx
  docs/developing/guides/automation/webhooks.mdx
  docs/developing/introduction.mdx
  docs/images/i1440x910-pNoAmSPnktzZ_ecaypm.png
  docs/images/i1440x910-pNoAmSPnktzZ_ecaypm.webp
  docs/mint.json
  docs/self-hosting/license-key.mdx
Labels: docs, enterprise, core, ready-for-e2e

#16874 feat: additional calendar selector for calendar settings atom
  apps/web/public/static/locales/en/common.json
  packages/platform/atoms/calendar-settings/wrappers/CalendarSettingsPlatformWrapper.tsx
  packages/platform/atoms/connect/OAuthConnect.tsx
  packages/platform/atoms/connect/apple/AppleConnect.tsx
  packages/platform/atoms/selected-calendars/wrappers/SelectedCalendarsSettingsPlatformWrapper.tsx
Labels: ✨ feature, platform, ui, core, ready-for-e2e

#17023 feat: google meet conferencing api v2
  apps/api/v2/src/modules/conferencing/conferencing.module.ts
  apps/api/v2/src/modules/conferencing/controllers/conferencing.controller.e2e-spec.ts
  apps/api/v2/src/modules/conferencing/controllers/conferencing.controller.ts
  apps/api/v2/src/modules/conferencing/outputs/get-conferencing-apps.output.ts
  apps/api/v2/src/modules/conferencing/outputs/set-default-conferencing-app.output.ts
  apps/api/v2/src/modules/conferencing/repositories/conferencing.respository.ts
  apps/api/v2/src/modules/conferencing/services/conferencing.service.ts
  apps/api/v2/src/modules/conferencing/services/google-meet.service.ts
  apps/api/v2/src/modules/credentials/credentials.repository.ts
  apps/api/v2/src/modules/endpoints.module.ts
  apps/api/v2/src/modules/users/users.repository.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
  packages/platform/constants/apps.ts
Labels: ✨ feature, platform, api, core, ready-for-e2e

#17037 fix: DatePicker not showing up in mobile mode when hideEventTypeDetails is true
  packages/embeds/embed-core/playground.ts
  packages/features/bookings/Booker/Booker.tsx
Labels: 🐛 bug, Urgent, 📉 regressing, bookings, core, ready-for-e2e

#16941 feat: advanced tab platform wrapper
  apps/api/v2/package.json
  apps/web/package.json
  packages/app-store/routing-forms/playwright/tests/basic.e2e.ts
  packages/features/bookings/lib/book-event-form/booking-to-mutation-input-mapper.tsx
  packages/features/bookings/lib/handleNewBooking/loadAndValidateUsers.ts
  packages/features/eventtypes/components/tabs/advanced/EventAdvancedTab.tsx
  packages/features/form-builder/FormBuilder.tsx
  packages/features/settings/BookerLayoutSelector.tsx
  packages/lib/fromEntriesWithDuplicateKeys.ts
  packages/lib/markdownToSafeHTMLClient.ts
  packages/platform/atoms/event-types/hooks/usePlatformTabsNavigations.tsx
  packages/platform/atoms/event-types/wrappers/EventAdvancedPlatformWrapper.tsx
  packages/platform/atoms/event-types/wrappers/EventAdvancedWebWrapper.tsx
  packages/platform/atoms/event-types/wrappers/EventTypePlatformWrapper.tsx
  packages/platform/atoms/event-types/wrappers/EventTypeWebWrapper.tsx
  packages/ui/components/navigation/tabs/HorizontalTabItem.tsx
  packages/ui/components/navigation/tabs/VerticalTabItem.tsx
Labels: ✨ feature, platform, core, ready-for-e2e

#17031 chore: docs changes
  docs/introduction.mdx
  docs/mint.json
Labels: docs, ready-for-e2e

#17041 fix: API V1 Bookings, pick attendee id in response
  apps/api/v1/lib/validations/booking.ts
Labels: enterprise, api, core, ready-for-e2e

#17047 chore: Add typings for DOMPurify
  package.json
  yarn.lock
Labels: ⬆️ dependencies, core, foundation, ready-for-e2e

#16974 feat: Add Eastern and Eastern Pacific time zones #16880
  apps/web/playwright/availability.e2e.ts
  apps/web/test/lib/getTimezone.test.ts
  packages/features/additionalTimezones/additionalTimezones.json
  packages/features/additionalTimezones/additionalTimezones.ts
  packages/lib/timezone.ts
Labels: ✨ feature, Medium priority, enterprise, community, ready-for-e2e

#17049 perf: Add index to EventType for parentId
  packages/prisma/migrations/20241010171846_add_eventtype_parent_id_index/migration.sql
  packages/prisma/schema.prisma
Labels: ❗️ migrations, performance, core, foundation, ready-for-e2e

#16727 feat: automatic no show
  apps/web/cron-tester.ts
  apps/web/lib/video/[uid]/getServerSideProps.ts
  apps/web/modules/settings/platform/oauth-clients/[clientId]/edit/edit-webhooks-view.tsx
  apps/web/package.json
  apps/web/public/static/locales/en/common.json
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  packages/app-store/dailyvideo/lib/VideoApiAdapter.ts
  packages/app-store/dailyvideo/lib/types.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/scheduleNoShowTriggers.ts
  packages/features/ee/workflows/components/TimeTimeUnitInput.tsx
  packages/features/ee/workflows/components/WorkflowStepContainer.tsx
  packages/features/ee/workflows/lib/constants.ts
  packages/features/ee/workflows/lib/getOptions.ts
  packages/features/eventtypes/components/tabs/webhooks/EventWebhooksTab.tsx
  packages/features/tasker/api/cron.ts
  packages/features/tasker/internal-tasker.ts
  packages/features/tasker/tasker.ts
  packages/features/tasker/tasks/index.ts
  packages/features/tasker/tasks/triggerNoShow/common.ts
  packages/features/tasker/tasks/triggerNoShow/getBooking.ts
  packages/features/tasker/tasks/triggerNoShow/getMeetingSessionsFromRoomName.ts
  packages/features/tasker/tasks/triggerNoShow/schema.ts
  packages/features/tasker/tasks/triggerNoShow/triggerGuestNoShow.ts
  packages/features/tasker/tasks/triggerNoShow/triggerHostNoShow.test.ts
  packages/features/tasker/tasks/triggerNoShow/triggerHostNoShow.ts
  packages/features/webhooks/components/WebhookForm.tsx
  packages/features/webhooks/lib/constants.ts
  packages/features/webhooks/lib/getWebhooks.ts
  packages/features/webhooks/lib/scheduleTrigger.ts
  packages/features/webhooks/pages/webhook-edit-view.tsx
  packages/features/webhooks/pages/webhook-new-view.tsx
  packages/lib/dailyApiFetcher.ts
  packages/lib/server/repository/webhook.ts
  packages/lib/test/builder.ts
  packages/prisma/migrations/20240920100549_add_daily_no_show/migration.sql
  packages/prisma/migrations/20240920192534_add_no_show_daily_webhook_trigger/migration.sql
  packages/prisma/migrations/20240920195815_add_time_unit_in_webhooks/migration.sql
  packages/prisma/migrations/20241010070020_add_active/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/zod/webhook.ts
  packages/trpc/server/routers/viewer/webhook/create.schema.ts
  packages/trpc/server/routers/viewer/webhook/edit.schema.ts
Labels: ✨ feature, ❗️ migrations, High priority, enterprise, Urgent, bookings, webhooks, core, ready-for-e2e

#17053 chore: v4.5.11
  apps/web/package.json
Labels: core, foundation, ready-for-e2e

#17054 chore: Update CI to not run all checks for docs/translations
  .github/workflows/pr.yml
Labels: Low priority, ci, core, foundation, ready-for-e2e

#17060 fix: add billing tab in platform navigation sidebar
  packages/features/shell/navigation/Navigation.tsx
Labels: 🐛 bug, platform, billing, core, ready-for-e2e

#17058 fix: add node-gyp as dev dependency
  package.json
Labels: ⬆️ dependencies, core, consumer, ready-for-e2e

#17057 chore: remove react-query, update next.js to v13.5.6
  apps/api/v1/package.json
  apps/storybook/package.json
  apps/swagger/package.json
  apps/web/package.json
  packages/ui/package.json
  yarn.lock
Labels: ⬆️ dependencies, core, consumer, ready-for-e2e

#17035 fix: phone number input field is missing from the mail
  packages/lib/getLabelValueMapFromResponses.ts
Labels: 🐛 bug, community, ready-for-e2e, community-interns

#17038 feat: Salesforce round robin skip - choose which entity to search on
  apps/web/public/static/locales/en/common.json
  packages/app-store/_utils/CRMRoundRobinSkip.ts
  packages/app-store/closecom/lib/CrmService.ts
  packages/app-store/hubspot/lib/CrmService.ts
  packages/app-store/pipedrive-crm/lib/CrmService.ts
  packages/app-store/salesforce/components/EventTypeAppCardInterface.tsx
  packages/app-store/salesforce/lib/CrmService.ts
  packages/app-store/salesforce/zod.ts
  packages/app-store/zoho-bigin/lib/CrmService.ts
  packages/app-store/zohocrm/lib/CrmService.ts
  packages/core/crmManager/crmManager.ts
  packages/types/CrmService.d.ts
Labels: ✨ feature, Urgent, core, crm-apps, consumer, ready-for-e2e

#17056 chore: `settings/my-account` - remove pages router
  apps/web/app/settings/(settings-layout)/my-account/appearance/page.tsx
  apps/web/app/settings/(settings-layout)/my-account/calendars/page.tsx
  apps/web/app/settings/(settings-layout)/my-account/conferencing/page.tsx
  apps/web/app/settings/(settings-layout)/my-account/general/page.tsx
  apps/web/app/settings/(settings-layout)/my-account/out-of-office/page.tsx
  apps/web/app/settings/(settings-layout)/my-account/profile/page.tsx
  apps/web/modules/settings/my-account/general-view.tsx
  apps/web/next.config.js
  apps/web/pages/settings/my-account/appearance.tsx
  apps/web/pages/settings/my-account/calendars.tsx
  apps/web/pages/settings/my-account/conferencing.tsx
  apps/web/pages/settings/my-account/general.tsx
  apps/web/pages/settings/my-account/out-of-office/index.tsx
  apps/web/pages/settings/my-account/profile.tsx
Labels: core, 💻 refactor, consumer, ready-for-e2e

#17009 feat: Salesforce choose how to save attendees & other options
  apps/web/public/static/locales/en/common.json
  packages/app-store/_utils/CRMRoundRobinSkip.ts
  packages/app-store/_utils/getCrm.ts
  packages/app-store/closecom/lib/CrmService.ts
  packages/app-store/hubspot/lib/CrmService.ts
  packages/app-store/pipedrive-crm/lib/CrmService.ts
  packages/app-store/salesforce/components/EventTypeAppCardInterface.tsx
  packages/app-store/salesforce/lib/CrmService.ts
  packages/app-store/salesforce/lib/recordEnum.ts
  packages/app-store/salesforce/zod.ts
  packages/app-store/zoho-bigin/lib/CrmService.ts
  packages/app-store/zohocrm/lib/CrmService.ts
  packages/core/EventManager.ts
  packages/core/crmManager/crmManager.ts
  packages/types/CrmService.d.ts
Labels: ✨ feature, enterprise, Urgent, core, crm-apps, consumer, ready-for-e2e

#17077 fix: lock on user view
  packages/features/ee/users/components/UsersTable.tsx
Labels: 🐛 bug, Low priority, enterprise, 💎 Bounty, ui, 🙋 Bounty claim, community, ready-for-e2e

#17082 fix: Docs build issue
  apps/api/v2/src/modules/conferencing/controllers/conferencing.controller.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
Labels: docs, api, core, foundation, ready-for-e2e

#17083 feat: telli.so app
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/telli/DESCRIPTION.md
  packages/app-store/telli/api/add.ts
  packages/app-store/telli/api/index.ts
  packages/app-store/telli/components/.gitkeep
  packages/app-store/telli/config.json
  packages/app-store/telli/index.ts
  packages/app-store/telli/package.json
  packages/app-store/telli/static/1.jpg
  packages/app-store/telli/static/2.jpg
  packages/app-store/telli/static/3.jpg
  packages/app-store/telli/static/4.jpg
  packages/app-store/telli/static/5.jpg
  packages/app-store/telli/static/icon-dark.svg
Labels: ✨ feature, app-store, ready-for-e2e

#17087 fix: Daterangepicker is not opening in some browsers
  packages/features/settings/outOfOffice/CreateNewOutOfOfficeEntryButton.tsx
  packages/ui/components/form/date-range-picker/DateRangePicker.tsx
Labels: 🐛 bug, ui, community, ready-for-e2e, community-interns

#17073 fix: atoms tooltip
  packages/platform/atoms/connect/OAuthConnect.tsx
  packages/platform/atoms/connect/apple/AppleConnect.tsx
  packages/ui/components/button/Button.tsx
  packages/ui/components/tooltip/Tooltip.tsx
Labels: platform, ui, core, ready-for-e2e

#16013 fix: improved code for meeting link is not updated and broken ui in edit location dialog issue
  apps/web/components/dialog/EditLocationDialog.tsx
Labels: 🐛 bug, Medium priority, Stale, ui, booking-page, community, ready-for-e2e, community-interns

#16303 perf: improve get bookings performance
  apps/web/components/booking/BookingListItem.tsx
  packages/trpc/server/routers/viewer/bookings/confirm.handler.ts
  packages/trpc/server/routers/viewer/bookings/get.handler.ts
Labels: High priority, enterprise, bookings, performance, core, 💻 refactor, ready-for-e2e

#17092 fix: Update stripe trials for teams
  packages/features/ee/teams/lib/payments.ts
Labels: teams, core, payments, consumer, ready-for-e2e

#16989 refactor: v2 recurring bookings allow specifying recurrence count
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/user-bookings.controller.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/input.service.ts
  packages/platform/types/bookings/2024-08-13/inputs/create-booking-input.pipe.ts
  packages/platform/types/bookings/2024-08-13/inputs/create-booking.input.ts
Labels: platform, core, ready-for-e2e

#17016 fix: Memory leak with cal embed modal box
  packages/embeds/embed-core/src/embed.ts
Labels: 🐛 bug, embed, community, ready-for-e2e

#16957 fix: 500 status code visible when cancelling event
  packages/features/bookings/lib/handleCancelBooking.ts
Labels: 🐛 bug, community, ready-for-e2e, community-interns

#16803 feat: member management for platform
  apps/web/components/settings/platform/dashboard/oauth-client-dropdown/index.tsx
  apps/web/modules/settings/platform/billing/billing-view.tsx
  apps/web/pages/settings/platform/members/index.tsx
  packages/features/ee/platform/pages/settings/members.tsx
  packages/features/shell/navigation/Navigation.tsx
  packages/features/users/components/UserTable/InviteMemberModal.tsx
  packages/features/users/components/UserTable/UserListTable.tsx
  packages/lib/server/repository/user.ts
  packages/trpc/server/middlewares/sessionMiddleware.ts
  packages/trpc/server/routers/viewer/organizations/bulkDeleteUsers.handler.ts
  packages/trpc/server/routers/viewer/organizations/getTeams.handler.ts
  packages/trpc/server/routers/viewer/organizations/list.handler.ts
  packages/trpc/server/routers/viewer/organizations/listMembers.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMember.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMember.schema.ts
Labels: ✨ feature, platform, core, ready-for-e2e

#17085 chore: fixed docs support URL
  docs/mint.json
Labels: ⚡ Quick Wins, docs

#15535 fix: email-address with apostrophe not accepted
  apps/api/v1/lib/validations/attendee.ts
  apps/api/v1/lib/validations/shared/queryAttendeeEmail.ts
  apps/api/v1/lib/validations/shared/queryUserEmail.ts
  apps/api/v1/lib/validations/user.ts
  apps/web/components/settings/SecondaryEmailModal.tsx
  apps/web/components/setup/AdminUser.tsx
  apps/web/lib/signup/getServerSideProps.tsx
  apps/web/modules/auth/login-view.tsx
  apps/web/modules/settings/my-account/profile-view.tsx
  apps/web/pages/api/auth/forgot-password.ts
  apps/web/pages/api/auth/setup.ts
  apps/web/pages/api/sync/helpscout/index.ts
  packages/app-store/exchangecalendar/api/_postAdd.ts
  packages/app-store/exchangecalendar/pages/setup/index.tsx
  packages/app-store/routing-forms/trpc/response.handler.ts
  packages/features/auth/SAMLLogin.tsx
  packages/features/users/components/UserTable/EditSheet/EditUserForm.tsx
  packages/lib/emailSchema.ts
  packages/prisma/schema.prisma
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/publicViewer/samlTenantProduct.schema.ts
  packages/trpc/server/routers/viewer/admin/createSelfHostedLicenseKey.schema.ts
  packages/trpc/server/routers/viewer/auth/resendVerifyEmail.schema.ts
  packages/trpc/server/routers/viewer/organizations/create.schema.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMember.schema.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMemberUtils.test.ts
  packages/trpc/server/routers/viewer/teams/resendInvitation.schema.ts
Labels: 🐛 bug, Medium priority, authentication, booking-page, emails, community, ready-for-e2e

#17103 fix: Update constants.ts - fix crashing by adding optional chaining for th…
  packages/lib/constants.ts
Labels: 🐛 bug, community, ready-for-e2e

#17101 chore: Add docs build
  .github/workflows/docs-build.yml
  .github/workflows/pr.yml
  .github/workflows/production-build-without-database.yml
Labels: docs, Medium priority, ci, core, foundation, ready-for-e2e

#17108 fix: PR update workflow duplicate job
  .github/workflows/pr.yml
Labels: ci, core, foundation, ready-for-e2e

#17086 refactor: improve variable logic
  packages/app-store-cli/src/build.ts
Labels: app-store, 💻 refactor, community, ready-for-e2e

#17070 feat: update github workflows to install playwright in a separate job
  .github/workflows/pr.yml
  .github/workflows/yarn-install.yml
Labels: ✨ feature, Medium priority, ci, devops, community, foundation, ready-for-e2e

#16903 fix: theme flickering
  apps/web/modules/settings/my-account/appearance-view.tsx
  apps/web/pages/_document.tsx
Labels: 🐛 bug, ui, core, consumer, ready-for-e2e

#17113 fix: Playwright install
  .github/workflows/pr.yml
Labels: ci, core, foundation, ready-for-e2e

#17114 revert: "feat: update github workflows to install playwright in a sepa…
  .github/workflows/pr.yml
  .github/workflows/yarn-install.yml
Labels: ci, core, foundation, ready-for-e2e

#17118 fix: Fix TS error + set isPending on Button
  apps/web/modules/settings/my-account/appearance-view.tsx
Labels: ui, core, foundation, ready-for-e2e

#17065 feat: allow delete event-type platform atoms
  packages/features/eventtypes/components/EventType.tsx
  packages/features/eventtypes/components/EventTypeLayout.tsx
  packages/platform/atoms/event-types/wrappers/EventTypePlatformWrapper.tsx
  packages/platform/atoms/hooks/event-types/private/useDeleteEventTypeById.ts
  packages/platform/examples/base/src/pages/event-types.tsx
Labels: ✨ feature, platform, event-types, core, ready-for-e2e

#17066 fix: Issue chargin no show fee
  packages/trpc/server/routers/viewer/payments/chargeCard.handler.ts
Labels: 🐛 bug, payments, community, ready-for-e2e, community-interns

#17116 fix: link is not rendering properly for SMS and WhatsApp workflows
  packages/features/ee/workflows/components/WorkflowStepContainer.tsx
Labels: 🐛 bug, workflows, community, ready-for-e2e, community-interns

#17117 chore: revamp platform docs
  docs/mint.json
  docs/platform/atoms-reference.mdx
  docs/platform/atoms/apple-calendar-connect.mdx
  docs/platform/atoms/availability-settings.mdx
  docs/platform/atoms/booker.mdx
  docs/platform/atoms/calendar-settings.mdx
  docs/platform/atoms/google-calendar-connect.mdx
  docs/platform/atoms/outlook-calendar-connect.mdx
  docs/platform/booking-redirects.mdx
  docs/platform/faq.mdx
  docs/platform/introduction.mdx
  docs/platform/quickstart.mdx
Labels: docs, platform, core, ready-for-e2e

#15618 feat: #15416 Expand round robin availability beyond default schedule
  apps/web/public/static/locales/en/common.json
  apps/web/test/lib/CheckForEmptyAssignment.test.ts
  apps/web/test/lib/getSchedule.test.ts
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  packages/app-store/routing-forms/components/SingleForm.tsx
  packages/app-store/routing-forms/lib/getSerializableForm.ts
  packages/app-store/routing-forms/types/types.d.ts
  packages/core/getUserAvailability.ts
  packages/features/bookings/lib/handleNewBooking/getEventTypesFromDB.ts
  packages/features/ee/round-robin/roundRobinReassignment.ts
  packages/features/eventtypes/components/AddMembersWithSwitch.tsx
  packages/features/eventtypes/components/CheckedTeamSelect.tsx
  packages/features/eventtypes/components/EventType.tsx
  packages/features/eventtypes/components/tabs/assignment/EventTeamAssignmentTab.tsx
  packages/features/eventtypes/components/tabs/availability/EventAvailabilityTab.tsx
  packages/features/eventtypes/lib/types.ts
  packages/lib/server/repository/eventType.ts
  packages/platform/atoms/event-types/wrappers/EventAvailabilityTabWebWrapper.tsx
  packages/platform/atoms/event-types/wrappers/EventTypeWebWrapper.tsx
  packages/prisma/migrations/20240627170642_host_schedule/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/availability/schedule/_router.tsx
  packages/trpc/server/routers/viewer/availability/schedule/getAllSchedulesByUserId.handler.ts
  packages/trpc/server/routers/viewer/availability/schedule/getAllSchedulesByUserId.schema.ts
  packages/trpc/server/routers/viewer/eventTypes/types.ts
  packages/trpc/server/routers/viewer/eventTypes/util.ts
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: ✨ feature, ❗️ migrations, 🎨 needs design, High priority, teams, 💎 Bounty, bookings, organizations, event-types, 🙋 Bounty claim, community, high-risk, ready-for-e2e

#17014 feat: attributes filter / refactor of user data table
  apps/web/pages/settings/organizations/members.tsx
  apps/web/playwright/organization/lib/inviteUser.ts
  apps/web/playwright/organization/organization-invitation.e2e.ts
  apps/web/playwright/team/team-invitation.e2e.ts
  apps/web/public/static/locales/en/common.json
  packages/features/ee/dsync/components/GroupTeamMappingTable.tsx
  packages/features/ee/teams/components/MemberList.tsx
  packages/features/ee/teams/pages/team-members-view.tsx
  packages/features/settings/layouts/SettingsLayout.tsx
  packages/features/timezone-buddy/components/AvailabilitySliderTable.tsx
  packages/features/users/components/UserTable/BulkActions/DeleteBulkUsers.tsx
  packages/features/users/components/UserTable/BulkActions/DynamicLink.tsx
  packages/features/users/components/UserTable/BulkActions/EventTypesList.tsx
  packages/features/users/components/UserTable/BulkActions/MassAssignAttributes.tsx
  packages/features/users/components/UserTable/BulkActions/TeamList.tsx
  packages/features/users/components/UserTable/ChangeUserRoleModal.tsx
  packages/features/users/components/UserTable/DeleteMemberModal.tsx
  packages/features/users/components/UserTable/EditSheet/EditUserForm.tsx
  packages/features/users/components/UserTable/EditSheet/EditUserSheet.tsx
  packages/features/users/components/UserTable/ImpersonationMemberModal.tsx
  packages/features/users/components/UserTable/InviteMemberModal.tsx
  packages/features/users/components/UserTable/UserListTable.tsx
  packages/features/users/components/UserTable/UserTableActions.tsx
  packages/features/users/components/UserTable/types.ts
  packages/features/users/components/UserTable/useFetchMoreOnBottomReached.ts
  packages/trpc/server/routers/viewer/organizations/_router.tsx
  packages/trpc/server/routers/viewer/organizations/getFacetedValues.handler.ts
  packages/trpc/server/routers/viewer/organizations/getFacetedValues.schema.ts
  packages/trpc/server/routers/viewer/organizations/listMembers.handler.ts
  packages/trpc/server/routers/viewer/organizations/listMembers.schema.ts
  packages/ui/components/data-table/DataTableFilter.tsx
  packages/ui/components/data-table/DataTablePagination.tsx
  packages/ui/components/data-table/DataTableSelectionBar.tsx
  packages/ui/components/data-table/DataTableToolbar.tsx
  packages/ui/components/data-table/__storybook__/columns.tsx
  packages/ui/components/data-table/__storybook__/data.tsx
  packages/ui/components/data-table/__storybook__/datatable.stories.mdx
  packages/ui/components/data-table/filters/index.tsx
  packages/ui/components/data-table/filters/utils.ts
  packages/ui/components/data-table/index.tsx
  packages/ui/components/data-table/useFetchMoreOnBottomReached.ts
  packages/ui/components/table/TableNew.tsx
  packages/ui/index.tsx
Labels: ✨ feature, enterprise, Urgent, core, 💻 refactor, consumer, ready-for-e2e

#17121 chore: Release v4.6.0
  apps/web/package.json
Labels: core, foundation, ready-for-e2e

#17123 fix: organizationId called on possibly undefined profile array
  packages/trpc/server/routers/viewer/organizations/list.handler.ts
Labels: core, foundation, ready-for-e2e

#17125 chore: release v4.6.1
  apps/web/package.json
Labels: core, foundation, ready-for-e2e

#17112 chore: developer docs updates
  docs/api-reference/v1/openapi-v1.json
  docs/images/deploy-elastio.png
  docs/images/deploy-railway.svg
  docs/images/deploy-render.svg
  docs/mint.json
  docs/self-hosting/apps/install-apps/introduction.mdx
  docs/self-hosting/deployments/aws.mdx
  docs/self-hosting/deployments/azure.mdx
  docs/self-hosting/deployments/elastio.mdx
  docs/self-hosting/deployments/gcp.mdx
  docs/self-hosting/deployments/railway.mdx
  docs/self-hosting/deployments/render.mdx
  docs/self-hosting/deployments/vercel.mdx
  docs/self-hosting/installation.mdx
Labels: docs, enterprise, core, ready-for-e2e

#17106 chore: refactor create event -type forms
  apps/web/modules/settings/teams/[id]/event-types-view.tsx
  packages/features/ee/teams/components/TeamEventTypeForm.tsx
  packages/features/eventtypes/components/CreateEventTypeDialog.tsx
  packages/features/eventtypes/components/CreateEventTypeForm.tsx
  packages/lib/hooks/useCreateEventType.ts
Labels: platform, event-types, core, 💻 refactor, ready-for-e2e

#17130 fix: Hotfix - Revert hideEventTypeDetails handling in Booker.tsx
  packages/embeds/embed-core/index.html
  packages/embeds/embed-core/playground.ts
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/components/hooks/useBookerLayout.ts
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
Labels: enterprise, 📉 regressing, bookings, core, ready-for-e2e

#17091 feat: Event availability platform wrapper
  packages/app-store/routing-forms/__tests__/config.test.ts
  packages/app-store/routing-forms/components/react-awesome-query-builder/config/BasicConfig.ts
  packages/features/eventtypes/components/tabs/availability/EventAvailabilityTab.tsx
  packages/platform/atoms/availability/atom-api-transformers/transformApiScheduleForAtom.ts
  packages/platform/atoms/event-types/hooks/useSchedule.ts
  packages/platform/atoms/event-types/hooks/useSchedules.ts
  packages/platform/atoms/event-types/wrappers/EventAvailabilityTabPlatformWrapper.tsx
  packages/platform/atoms/event-types/wrappers/EventAvailabilityTabWebWrapper.tsx
  packages/platform/atoms/event-types/wrappers/EventTypePlatformWrapper.tsx
  packages/platform/atoms/event-types/wrappers/EventTypeWebWrapper.tsx
  packages/platform/examples/base/src/pages/event-types.tsx
Labels: ✨ feature, platform, core, ready-for-e2e

#17105 feat: added custom class name to booker and availability atom
  packages/features/bookings/Booker/types.ts
  packages/platform/atoms/availability/AvailabilitySettings.tsx
  packages/platform/atoms/availability/wrappers/AvailabilitySettingsPlatformWrapper.tsx
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
  packages/platform/atoms/event-types/wrappers/EventTypePlatformWrapper.tsx
  packages/platform/atoms/src/components/atoms-wrapper.tsx
  packages/platform/examples/base/src/pages/availability.tsx
  packages/platform/examples/base/src/pages/event-types.tsx
Labels: ✨ feature, platform, core, ready-for-e2e

#17136 fix: pass from org link to all instances of event.public
  packages/features/bookings/Booker/types.ts
  packages/features/bookings/Booker/utils/event.ts
  packages/platform/atoms/booker/BookerWebWrapper.tsx
Labels: 🐛 bug, bookings, core, consumer, ready-for-e2e

#17132 fix: Update openapi-v1.json bookings post example
  docs/api-reference/v1/openapi-v1.json
Labels: docs, enterprise, bookings, core, ready-for-e2e

#17129 fix: Replace hardcoded username error with translation key
  apps/web/components/ui/UsernameAvailability/PremiumTextfield.tsx
Labels: i18n, community, ready-for-e2e

#17111 chore: add logs for debugging
  packages/trpc/server/routers/viewer/eventTypes/getEventTypesFromGroup.handler.ts
  packages/trpc/server/routers/viewer/eventTypes/getEventTypesFromGroup.integration-test.ts
Labels: enterprise, core, ready-for-e2e

#17146 chore: Release v4.6.2
  apps/web/package.json
Labels: core, foundation, ready-for-e2e

#17147 chore: increase pagination managed users endpoint
  packages/platform/types/api.ts
Labels: platform, core, ready-for-e2e

#17142 feat: create event type atom
  apps/api/v2/src/modules/organizations/controllers/teams/organizations-teams.controller.e2e-spec.ts
  apps/api/v2/src/modules/organizations/controllers/teams/organizations-teams.controller.ts
  apps/api/v2/src/modules/organizations/outputs/organization-team.output.ts
  apps/api/v2/src/modules/organizations/repositories/organizations-teams.repository.ts
  apps/api/v2/swagger/documentation.json
  docs/platform/atoms/create-event-type.mdx
  packages/features/ee/teams/components/TeamEventTypeForm.tsx
  packages/features/eventtypes/components/CreateEventTypeForm.tsx
  packages/lib/hooks/useCreateEventType.ts
  packages/platform/atoms/event-types/wrappers/CreateEventTypePlatformWrapper.tsx
  packages/platform/atoms/hooks/event-types/private/useCreateEventType.ts
  packages/platform/atoms/hooks/event-types/private/useCreateTeamEventType.ts
  packages/platform/atoms/hooks/teams/useTeams.ts
  packages/platform/atoms/index.ts
  packages/platform/examples/base/src/pages/event-types.tsx
Labels: ✨ feature, platform, event-types, core, ready-for-e2e

#17150 fix: event-types locations output schema apiv2
  apps/api/v2/package.json
  packages/lib/event-types/transformers/api-to-internal/locations.ts
Labels: 🐛 bug, platform, api, event-types, core, ready-for-e2e

#17149 fix: Hide invite_new_member_description cost from users within an org
  packages/features/ee/teams/components/MemberInvitationModal.tsx
Labels: 🐛 bug, teams, core, foundation, ready-for-e2e

#17154 fix: Possible perf improvement and logging for team members routing logic
  packages/app-store/routing-forms/lib/evaluateRaqbLogic.ts
  packages/app-store/routing-forms/trpc/__tests__/utils.test.ts
  packages/app-store/routing-forms/trpc/findTeamMembersMatchingAttributeLogic.handler.ts
  packages/app-store/routing-forms/trpc/findTeamMembersMatchingAttributeLogic.schema.ts
  packages/app-store/routing-forms/trpc/raqbUtils.ts
  packages/app-store/routing-forms/trpc/response.handler.ts
  packages/app-store/routing-forms/trpc/utils.ts
Labels: enterprise, Urgent, routing-forms, performance, core, ready-for-e2e

#17148 fix: `select_any_in` operator - Broken only for attributes
  packages/app-store/routing-forms/TODO.md
  packages/app-store/routing-forms/trpc/__tests__/utils.test.ts
  packages/app-store/routing-forms/trpc/raqbUtils.ts
Labels: 🐛 bug, enterprise, routing-forms, core, ready-for-e2e

#17160 perf: Add indices to Membership
  packages/prisma/migrations/202410181114246_add_membership_indices/migration.sql
  packages/prisma/schema.prisma
Labels: ❗️ migrations, High priority, performance, core, foundation, ready-for-e2e

#17162 perf: Add index for invalid column in Credential
  packages/prisma/migrations/20241018121846_add_credentials_invalid_index/migration.sql
  packages/prisma/schema.prisma
Labels: ❗️ migrations, performance, core, foundation, ready-for-e2e

#17161 chore: v4.6.3
  apps/web/package.json
Labels: core, foundation, ready-for-e2e

#17141 fix: data table fixes
  packages/features/users/components/UserTable/UserListTable.tsx
  packages/ui/components/data-table/index.tsx
  packages/ui/components/data-table/tanstack.d.ts
  packages/ui/components/table/TableNew.tsx
Labels: 🐛 bug, ui, core, consumer, ready-for-e2e

#17089 fix: schedule no show webhooks for requires confirmation event
  packages/features/bookings/lib/handleConfirmation.ts
  packages/features/bookings/lib/handleNewBooking/scheduleNoShowTriggers.ts
Labels: 🐛 bug, High priority, enterprise, webhooks, event-types, core, ready-for-e2e

#17169 fix: Timings of attributes query endpoint
  packages/app-store/routing-forms/trpc/findTeamMembersMatchingAttributeLogic.handler.ts
Labels: enterprise, routing-forms, core, ready-for-e2e

#17170 chore: Release v4.6.4
  apps/web/package.json
Labels: core, foundation, ready-for-e2e

#17171 fix: Embed - Do not reuse the modal on reopening it.
  packages/embeds/embed-core/src/embed.ts
Labels: 🐛 bug, enterprise, embed, core, ready-for-e2e

#17172 perf: Attributes Query - loadTree only once
  packages/app-store/routing-forms/trpc/__tests__/utils.test.ts
  packages/app-store/routing-forms/trpc/utils.ts
Labels: enterprise, routing-forms, performance, core, ready-for-e2e

#17174 chore: Release v4.6.5
  apps/web/package.json
Labels: core, foundation, ready-for-e2e

#17074 feat: Rerouting a booking with corrected responses
  apps/web/components/booking/BookingListItem.tsx
  apps/web/components/dialog/RerouteDialog.tsx
  apps/web/components/dialog/__tests__/RerouteDialog.test.tsx
  apps/web/modules/bookings/views/bookings-listing-view.tsx
  apps/web/modules/bookings/views/bookings-single-view.tsx
  apps/web/playwright/icons.e2e.ts-snapshots/icons--calcom-web-linux.png
  apps/web/public/icons/sprite.svg
  apps/web/public/static/locales/en/common.json
  packages/app-store/BookingPageTagManager.tsx
  packages/app-store/routing-forms/TODO.md
  packages/app-store/routing-forms/components/FormInputFields.tsx
  packages/app-store/routing-forms/lib/RoutingPages.ts
  packages/app-store/routing-forms/lib/createFallbackRoute.ts
  packages/app-store/routing-forms/lib/processRoute.tsx
  packages/app-store/routing-forms/pages/route-builder/[...appPages].tsx
  packages/app-store/routing-forms/pages/routing-link/getUrlSearchParamsToForward.ts
  packages/app-store/routing-forms/trpc/__tests__/utils.test.ts
  packages/app-store/routing-forms/trpc/_router.ts
  packages/app-store/routing-forms/trpc/getResponseWithFormFields.handler.ts
  packages/app-store/routing-forms/trpc/raqbUtils.ts
  packages/app-store/routing-forms/trpc/utils.ts
  packages/app-store/routing-forms/zod.ts
  packages/features/bookings/lib/book-event-form/booking-to-mutation-input-mapper.tsx
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/createBooking.ts
  packages/lib/bookingSuccessRedirect.ts
  packages/prisma/schema.prisma
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer/bookings/get.handler.ts
  packages/ui/components/dialog/Dialog.tsx
  packages/ui/components/icon/icon-list.mjs
  packages/ui/components/icon/icon-names.ts
  vitest.config.ts
Labels: ✨ feature, enterprise, Urgent, routing-forms, bookings, core, ready-for-e2e

#17181 perf: Increase vCPU for slots and routing forms
  apps/web/vercel.json
Labels: performance, core, foundation, ready-for-e2e

#17178 refactor: Minor settings style & copy alterations
  apps/web/components/settings/CustomEmailTextField.tsx
  apps/web/components/settings/SecondaryEmailModal.tsx
  apps/web/modules/settings/my-account/general-view.tsx
  apps/web/modules/settings/my-account/profile-view.tsx
  apps/web/public/static/locales/en/common.json
Labels: ui, core, ready-for-e2e

#17188 fix: Add troubleshooting data and ensure no errors in live mode of router.
  apps/web/components/dialog/RerouteDialog.tsx
  apps/web/components/dialog/__tests__/RerouteDialog.test.tsx
  packages/app-store/routing-forms/components/SingleForm.tsx
  packages/app-store/routing-forms/components/react-awesome-query-builder/config/config.tsx
  packages/app-store/routing-forms/trpc/__tests__/utils.test.ts
  packages/app-store/routing-forms/trpc/findTeamMembersMatchingAttributeLogic.handler.ts
  packages/app-store/routing-forms/trpc/findTeamMembersMatchingAttributeLogic.schema.ts
  packages/app-store/routing-forms/trpc/utils.ts
Labels: 🐛 bug, enterprise, routing-forms, core, ready-for-e2e

#17189 fix: allow gCal installs without a primary calendar
  packages/app-store/googlecalendar/api/callback.ts
Labels: 🐛 bug, app-store, Urgent, core, 🚨 urgent, foundation, high-risk, ready-for-e2e

#17190 perf: Single query user enrichment calls by array of userIds instead
  packages/features/eventtypes/lib/getPublicEvent.ts
  packages/lib/server/repository/profile.ts
  packages/lib/server/repository/user.ts
Labels: enterprise, performance, core, ready-for-e2e

#17191 perf: duplicate getSchedule request
  apps/web/lib/org/[orgSlug]/instant-meeting/team/[slug]/[type]/getServerSideProps.ts
  apps/web/lib/team/[slug]/[type]/getServerSideProps.tsx
  apps/web/modules/org/[orgSlug]/instant-meeting/team/[slug]/[type]/instant-meeting-view.tsx
  apps/web/modules/team/type-view.tsx
  apps/web/modules/users/views/users-type-public-view.tsx
  packages/features/bookings/Booker/types.ts
  packages/features/bookings/Booker/utils/event.ts
  packages/features/embed/Embed.tsx
  packages/platform/atoms/booker/BookerWebWrapper.tsx
Labels: High priority, enterprise, bookings, performance, core, 🚨 urgent, ready-for-e2e

#17183 docs: small optimization
  CONTRIBUTING.md
Labels: docs, community, ready-for-e2e
