Repository calcom/cal.com, pull requests merged in 2024-01, with the labels that each got.

#12975 fix: ui bugs in settings page
  packages/features/ee/teams/pages/team-profile-view.tsx
  packages/features/webhooks/pages/webhooks-view.tsx
Labels: core

#12969 fix: check your email page flickers
  apps/web/pages/auth/verify-email.tsx
Labels: ⚡ Quick Wins, Low priority, ❗️ .env changes, ui

#12981 feat: macos desktop styles
  apps/web/styles/globals.css
  packages/features/shell/Shell.tsx
Labels: ⚡ Quick Wins, ui, core

#12900 fix: fix-animations on event-types/[type] page
  apps/web/package.json
  apps/web/pages/event-types/[type]/index.tsx
  packages/ui/package.json
Labels: Medium priority, ui

#12973 fix: preview url for booking page
  apps/web/test/utils/bookingScenario/expects.ts
  packages/features/bookings/lib/handleNewBooking/test/fresh-booking.test.ts
  packages/features/bookings/lib/handleNewBooking/test/recurring-event.test.ts
  packages/features/bookings/lib/handleNewBooking/test/team-bookings/collective-scheduling.test.ts
  packages/lib/getBookerUrl/server.ts
  packages/lib/getEventTypeById.ts
Labels: ⚡ Quick Wins, Medium priority, ui, core

#12925 docs: Add Tunnelmole as an open source alternative to ngrok
  apps/ai/README.md
  packages/features/ee/organizations/README.md
Labels: Low priority

#12984 chore: Update permissions used for assigning team labels
  .github/workflows/pr-assign-team-label.yml
Labels: core, admin, devops, cal-ai

#12979 fix: layout for settings/teams
  packages/features/settings/layouts/SettingsLayout.tsx
  packages/features/settings/layouts/SettingsLayoutAppDir.tsx
Labels: Low priority, core

#12987 chore: Merge PR labeler actions
  .github/workflows/apply-issue-labels-to-pr.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-assign-team-label.yml
Labels: Low priority, ci

#12951 fix: dynamic booking duration
  packages/features/bookings/Booker/components/BookEventForm/BookEventForm.tsx
Labels: ⚡ Quick Wins, High priority

#12992 fix: Permissions issue with team labeler
  .github/workflows/labeler.yml
Labels: Low priority, ci

#12944 fix: cal video link on booking confirmation
  packages/features/bookings/lib/handleConfirmation.ts
Labels: 🐛 bug, Medium priority, bookings

#13008 fix: bad request in webhook route
  apps/web/pages/api/recorded-daily-video.ts
Labels: High priority, webhooks, core

#13017 fix: skeleton width for settings menu in sidebar
  packages/features/shell/Shell.tsx
Labels: 🙋🏻‍♂️help wanted, ⚡ Quick Wins, Low priority, ui

#12991 chore: replace global.css with todesktop tailwind variant
  apps/web/app/layout.tsx
  apps/web/components/auth/layouts/AdminLayout.tsx
  apps/web/pages/_document.tsx
  apps/web/styles/globals.css
  packages/config/package.json
  packages/config/tailwind-preset.js
  packages/features/kbar/Kbar.tsx
  packages/features/settings/layouts/SettingsLayout.tsx
  packages/features/shell/Shell.tsx
  packages/ui/components/data-table/DataTableToolbar.tsx
  packages/ui/components/popover/AnimatedPopover.tsx
Labels: ⚡ Quick Wins, ui, core

#13021 chore: Remove need for force merges
  .github/workflows/pr.yml
Labels: Medium priority, core, admin, devops, cal-ai

#12622 chore: [app-router-migration-7] Migrate `/teams` page
  .env.example
  apps/web/abTest/middlewareFactory.ts
  apps/web/middleware.ts
  apps/web/playwright/teams.e2e.ts
  turbo.json
Labels: High priority, ❗️ .env changes, devops

#12993 chore: Allow labeler action to use workflow_dispatch
  .github/workflows/labeler.yml
Labels: Low priority, core, admin, devops, cal-ai

#12917 feat: orgMigration - Support moving users as an option when moving a team
  apps/web/lib/orgMigration.test.ts
  apps/web/lib/orgMigration.ts
  apps/web/pages/api/orgMigration/moveTeamToOrg.ts
  apps/web/pages/api/orgMigration/moveUserToOrg.ts
  apps/web/pages/api/orgMigration/removeTeamFromOrg.ts
  apps/web/pages/api/orgMigration/removeUserFromOrg.ts
  apps/web/pages/settings/admin/orgMigrations/_OrgMigrationLayout.tsx
  apps/web/pages/settings/admin/orgMigrations/moveTeamToOrg.tsx
  apps/web/pages/settings/admin/orgMigrations/moveUserToOrg.tsx
  apps/web/pages/settings/admin/orgMigrations/removeTeamFromOrg.tsx
  apps/web/pages/settings/admin/orgMigrations/removeUserFromOrg.tsx
  packages/prisma/zod-utils.ts
Labels: core

#13025 chore: Upgrade upload-artifact action to v4
  .github/workflows/e2e-app-store.yml
  .github/workflows/e2e-embed-react.yml
  .github/workflows/e2e-embed.yml
  .github/workflows/e2e.yml
  .github/workflows/lint.yml
  .github/workflows/nextjs-bundle-analysis.yml
Labels: Low priority, ci, devops

#13026 chore: Upgrade buildjet cache action to v3
  .github/actions/yarn-playwright-install/action.yml
Labels: Low priority, ci, core, admin, devops, cal-ai

#13024 chore: Fix NODE_OPTIONS error
  .github/workflows/check-types.yml
  .github/workflows/e2e-app-store.yml
  .github/workflows/e2e-embed-react.yml
  .github/workflows/e2e-embed.yml
  .github/workflows/e2e.yml
  .github/workflows/unit-tests.yml
Labels: Low priority, core, admin, devops, cal-ai

#13027 chore: Remove invalid DATABASE_URL 'with' value
  .github/actions/cache-db/action.yml
Labels: Low priority, core, admin, devops, cal-ai

#13018 feat: Make private URLs easier to copy-paste from web app
  apps/web/pages/event-types/index.tsx
Labels: ⚡ Quick Wins, Low priority, ui

#12946 feat: Organization Add member to a team email communication
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMember.handler.ts
Labels: ✨ feature, Medium priority, organizations

#13040 chore: removed old booker feature flag
  packages/features/embed/Embed.tsx
  packages/features/flags/config.ts
  packages/features/settings/BookerLayoutSelector.tsx
  packages/prisma/migrations/20240105110500_removed_newbooker_feature_flag/migration.sql
Labels: ❗️ migrations, 🧹 Improvements, ⚡ Quick Wins, Low priority, Stale, core

#13036 fix: team availability data table scrolling
  apps/web/components/booking/BookingListItem.tsx
  packages/features/timezone-buddy/components/AvailabilitySliderTable.tsx
  packages/features/timezone-buddy/components/TimeDial.tsx
  packages/ui/components/data-table/DataTableToolbar.tsx
  packages/ui/components/data-table/index.tsx
  packages/ui/components/form/toggleGroup/ToggleGroup.tsx
  packages/ui/components/table/TableNew.tsx
Labels: 🐛 bug, ✅ good first issue, 🙋🏻‍♂️help wanted, 🧹 Improvements, ⚡ Quick Wins, Low priority, teams, ui, core

#12775 chore: [app-router-migration-9] Migrate apps/index page
  apps/web/app/future/apps/installed/[category]/page.tsx
  apps/web/app/future/apps/page.tsx
  apps/web/pages/apps/index.tsx
  apps/web/playwright/app-store.e2e.ts
  apps/web/playwright/teams.e2e.ts
Labels: High priority, ❗️ .env changes

#12716 chore: front-end-avatars
  apps/web/components/getting-started/steps-views/UserProfile.tsx
  apps/web/components/team/screens/Team.tsx
  apps/web/components/ui/avatar/UserAvatar.tsx
  apps/web/pages/[user].tsx
  apps/web/pages/settings/my-account/profile.tsx
  apps/web/playwright/settings/upload-avatar.e2e.ts
  packages/features/ee/organizations/components/OrganizationMemberAvatar.tsx
  packages/features/ee/organizations/pages/components/MemberListItem.tsx
  packages/features/ee/organizations/pages/settings/profile.tsx
  packages/features/ee/teams/components/AddNewTeamMembers.tsx
  packages/features/ee/teams/components/MemberListItem.tsx
  packages/features/timezone-buddy/components/AvailabilitySliderTable.tsx
  packages/ui/components/avatar/UserAvatar.test.tsx
  packages/ui/components/avatar/UserAvatar.tsx
  packages/ui/components/avatar/index.ts
  packages/ui/index.tsx
Labels: High priority, core

#13034 fix: Can't resubmit otp while verifying email
  packages/features/bookings/components/VerifyCodeDialog.tsx
Labels: 🐛 bug, Medium priority

#13048 fix: Avoid duplicate inline embeds
  packages/embeds/embed-core/src/embed.ts
Labels: core

#13052 feat: Add newline as a bulk import seperator
  packages/features/ee/teams/components/MemberInvitationModal.tsx
Labels: ✨ feature, core, devops

#13028 fix: Changed dynamic to group meeting and udpated meta
  packages/lib/defaultEvents.ts
Labels: ⚡ Quick Wins, Low priority, ui

#13059 fix: Broken test after recent organization avatar revamp
  apps/web/playwright/profile.e2e.ts
Labels: core, devops

#12776 chore: [app-router-migration-10] Migrate getting started page
  apps/web/app/future/(individual-page-wrapper)/getting-started/[[...step]]/page.tsx
  apps/web/pages/getting-started/[[...step]].tsx
  apps/web/playwright/ab-tests-redirect.e2e.ts
Labels: ❗️ migrations, Medium priority, High priority, ❗️ .env changes

#13065 fix: Allow org creation with conflicting slug and renaming team slug during migration
  apps/web/lib/orgMigration.test.ts
  apps/web/lib/orgMigration.ts
  apps/web/pages/api/orgMigration/moveTeamToOrg.ts
  apps/web/pages/settings/admin/orgMigrations/moveTeamToOrg.tsx
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer/organizations/create.handler.ts
Labels: core

#13062 fix: Stripe e2e regression
  packages/app-store/_components/AppCard.tsx
Labels: core, admin, devops, cal-ai

#13085 fix: align username update, cancel and check icon
  apps/web/components/ui/UsernameAvailability/UsernameTextfield.tsx
Labels: 🐛 bug, ui

#13092 chore: Stop closing stale PRs
  .github/workflows/cron-stale-issue.yml
Labels: ci, core, admin, devops, cal-ai

#13089 feat(app-store): add feishu calendar
  packages/app-store/apps.keys-schemas.generated.ts
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.schemas.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/feishucalendar/DESCRIPTION.md
  packages/app-store/feishucalendar/_metadata.ts
  packages/app-store/feishucalendar/api/add.ts
  packages/app-store/feishucalendar/api/callback.ts
  packages/app-store/feishucalendar/api/events.ts
  packages/app-store/feishucalendar/api/index.ts
  packages/app-store/feishucalendar/common.ts
  packages/app-store/feishucalendar/index.ts
  packages/app-store/feishucalendar/lib/AppAccessToken.ts
  packages/app-store/feishucalendar/lib/BotService.ts
  packages/app-store/feishucalendar/lib/CalendarService.ts
  packages/app-store/feishucalendar/lib/index.ts
  packages/app-store/feishucalendar/package.json
  packages/app-store/feishucalendar/static/1.png
  packages/app-store/feishucalendar/static/2.png
  packages/app-store/feishucalendar/static/3.png
  packages/app-store/feishucalendar/static/4.png
  packages/app-store/feishucalendar/static/icon.svg
  packages/app-store/feishucalendar/types/FeishuCalendar.ts
  packages/app-store/feishucalendar/zod.ts
  yarn.lock
Labels: ✨ feature, Low priority, calendar-apps

#13093 chore: Add E2E test suite back to PRs
  .github/workflows/pr.yml
  .github/workflows/pre-release.yml
Labels: High priority, core, admin, devops, cal-ai

#13058 fix: invalid cal video bug
  apps/web/pages/booking/[uid].tsx
  apps/web/pages/video/[uid].tsx
Labels: High priority, core

#13096 chore: Change PR template to have bullet points instead of checkboxes for type
  .github/PULL_REQUEST_TEMPLATE.md
Labels: core, admin, devops, cal-ai

#13050 fix: Team URL and booker URLs
  apps/web/lib/orgMigration.test.ts
  apps/web/test/utils/bookingScenario/test.ts
  packages/features/ee/organizations/lib/orgDomains.ts
  packages/features/ee/teams/components/TeamListItem.tsx
Labels: High priority, core

#13101 refactor: booker imports dynamically specific ui components
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/components/EventMeta.tsx
  packages/ui/package.json
Labels: ♻️ autoupdate, Medium priority, core, admin, devops

#12778 chore: [app-router-migration-11] Migrate settings/teams page group
  apps/web/app/future/apps/categories/[category]/page.tsx
  apps/web/app/future/settings/teams/[id]/appearance/layout.tsx
  apps/web/app/future/settings/teams/[id]/appearance/page.tsx
  apps/web/app/future/settings/teams/[id]/billing/layout.tsx
  apps/web/app/future/settings/teams/[id]/billing/page.tsx
  apps/web/app/future/settings/teams/[id]/members/layout.tsx
  apps/web/app/future/settings/teams/[id]/members/page.tsx
  apps/web/app/future/settings/teams/[id]/onboard-members/page.tsx
  apps/web/app/future/settings/teams/[id]/profile/layout.tsx
  apps/web/app/future/settings/teams/[id]/profile/page.tsx
  apps/web/app/future/settings/teams/[id]/sso/layout.tsx
  apps/web/app/future/settings/teams/[id]/sso/page.tsx
  apps/web/app/future/settings/teams/layout.tsx
  apps/web/app/future/settings/teams/new/page.tsx
  apps/web/app/future/settings/teams/page.ts
  apps/web/pages/settings/billing/index.tsx
  apps/web/pages/settings/teams/[id]/onboard-members.tsx
  apps/web/pages/settings/teams/new/index.tsx
  packages/features/ee/sso/page/teams-sso-view.tsx
  packages/features/ee/teams/pages/team-appearance-view.tsx
  packages/features/ee/teams/pages/team-listing-view.tsx
  packages/features/ee/teams/pages/team-members-view.tsx
  packages/features/ee/teams/pages/team-profile-view.tsx
Labels: Medium priority, ❗️ .env changes

#13108 chore: [app-router-migration 10.5]: replace new trpc helper with legacy ssrInit/ssgInit
  apps/web/app/_trpc/createTRPCNextLayout.ts
  apps/web/app/_trpc/ssgInit.ts
  apps/web/app/_trpc/ssrInit.ts
  apps/web/app/future/apps/categories/page.tsx
  apps/web/app/future/apps/page.tsx
  apps/web/app/future/bookings/[status]/layout.tsx
  apps/web/app/future/getting-started/[[...step]]/page.tsx
  apps/web/app/future/teams/page.tsx
  apps/web/app/future/video/[uid]/page.tsx
  apps/web/app/future/video/no-meeting-found/page.tsx
Labels: High priority

#13104 chore: Upgrade deprecated parts of bundle analysis
  .github/workflows/nextjs-bundle-analysis.yml
Labels: Low priority, core, admin, devops

#13078 fix: add check for parentId
  apps/api/pages/api/teams/[teamId]/_patch.ts
  apps/api/pages/api/teams/_post.ts
Labels: 🐛 bug, Medium priority, teams, enterprise, api

#13106 fix: Button re-enables on sluggish networks whilst redirecting
  packages/features/bookings/Booker/components/BookEventForm/BookEventForm.tsx
Labels: core, devops

#13130 chore: mitigates docker rate limiting
  .github/workflows/pr.yml
Labels: core, devops

#13146 fix: Payment Page not showing
  packages/features/bookings/Booker/components/BookEventForm/BookEventForm.tsx
Labels: core

#13116 fix: Bundle analysis commenting
  .github/workflows/nextjs-bundle-analysis.yml
Labels: High priority, core, admin, devops

#13119 fix: org link for desktop
  apps/web/styles/globals.css
  packages/features/shell/Shell.tsx
Labels: ⚡ Quick Wins, Medium priority, Low priority, ui, core

#13123 fix: scheduling/canceling workflow emails in cron api call
  packages/features/ee/workflows/api/scheduleEmailReminders.ts
  packages/features/ee/workflows/lib/reminders/providers/sendgridProvider.ts
Labels: core

#12653 feat: OOO booking-forwarding
  apps/web/components/out-of-office/DateRangePicker/DateSelect.css
  apps/web/components/out-of-office/DateRangePicker/index.tsx
  apps/web/pages/[user].tsx
  apps/web/pages/[user]/[type].tsx
  apps/web/pages/availability/index.tsx
  apps/web/pages/settings/my-account/out-of-office/index.tsx
  apps/web/playwright/out-of-office.e2e.ts
  apps/web/public/static/locales/en/common.json
  packages/emails/email-manager.ts
  packages/emails/src/templates/BookingRedirectEmailNotification.tsx
  packages/emails/src/templates/index.ts
  packages/emails/templates/booking-redirect-notification.ts
  packages/features/booking-redirect/handle-type.ts
  packages/features/booking-redirect/handle-user.ts
  packages/features/bookings/Booker/Booker.tsx
  packages/features/insights/filters/DateSelect.css
  packages/features/settings/layouts/SettingsLayout.tsx
  packages/features/shell/Shell.tsx
  packages/prisma/migrations/20240109041925_add_out_of_office_entry_table/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/loggedInViewer/_router.tsx
  packages/trpc/server/routers/loggedInViewer/outOfOffice.handler.ts
  packages/trpc/server/routers/loggedInViewer/outOfOffice.schema.ts
  packages/ui/index.tsx
Labels: ✨ feature, ❗️ migrations, Medium priority, teams, Stale, osshack

#13080 fix: only consider unique eventTriggers
  apps/api/pages/api/webhooks/[id]/_patch.ts
  apps/api/pages/api/webhooks/_post.ts
Labels: Medium priority, webhooks

#13056 chore: [app-router-migration 25] Migrate "/maintenance" page
  apps/web/app/future/maintenance/page.tsx
  apps/web/pages/maintenance.tsx
Labels: High priority

#12777 chore: [app-router-migration-11] Migrate workflow page group
  apps/web/app/future/workflows/[workflow]/page.tsx
  apps/web/app/future/workflows/page.tsx
  packages/features/ee/workflows/pages/index.tsx
  packages/features/ee/workflows/pages/workflow.tsx
Labels: Medium priority, ❗️ .env changes

#13030 chore: [app-router-migration 13] Migrate reschedule page group
  apps/web/app/AppDirSSRHOC.tsx
  apps/web/app/future/maintenance/page.tsx
  apps/web/app/future/reschedule/[uid]/embed/page.tsx
  apps/web/app/future/reschedule/[uid]/page.tsx
  apps/web/app/layoutHOC.tsx
  apps/web/pages/reschedule/[uid].tsx
  apps/web/pages/reschedule/[uid]/embed.tsx
Labels: High priority

#13045 chore: [app-router-migration 19] Migrate `/settings/my-account/*` pages
  apps/web/app/future/settings/my-account/appearance/layout.tsx
  apps/web/app/future/settings/my-account/appearance/page.tsx
  apps/web/app/future/settings/my-account/calendars/layout.tsx
  apps/web/app/future/settings/my-account/calendars/page.tsx
  apps/web/app/future/settings/my-account/conferencing/layout.tsx
  apps/web/app/future/settings/my-account/conferencing/page.tsx
  apps/web/app/future/settings/my-account/general/layout.tsx
  apps/web/app/future/settings/my-account/general/page.tsx
  apps/web/app/future/settings/my-account/profile/layout.tsx
  apps/web/app/future/settings/my-account/profile/page.tsx
  apps/web/pages/settings/my-account/appearance.tsx
  apps/web/pages/settings/my-account/calendars.tsx
  apps/web/pages/settings/my-account/conferencing.tsx
  apps/web/pages/settings/my-account/general.tsx
  apps/web/pages/settings/my-account/profile.tsx
Labels: High priority

#13046 chore: [app-router-migration 20] Migrate `/settings/security/*` pages
  apps/web/app/future/settings/security/impersonation/layout.tsx
  apps/web/app/future/settings/security/impersonation/page.tsx
  apps/web/app/future/settings/security/password/layout.tsx
  apps/web/app/future/settings/security/password/page.tsx
  apps/web/app/future/settings/security/sso/layout.tsx
  apps/web/app/future/settings/security/sso/page.tsx
  apps/web/app/future/settings/security/two-factor-auth/layout.tsx
  apps/web/app/future/settings/security/two-factor-auth/page.tsx
  apps/web/pages/settings/security/impersonation.tsx
  apps/web/pages/settings/security/password.tsx
  apps/web/pages/settings/security/two-factor-auth.tsx
  packages/features/ee/sso/page/user-sso-view.tsx
Labels: High priority

#13055 chore: [app-router-migration 22] Migrate `/insights` page
  apps/web/app/future/insights/page.tsx
  apps/web/pages/insights/index.tsx
Labels: High priority

#13162 chore: Ignore admin and devops team labels
  .github/workflows/labeler.yml
Labels: Low priority, core, admin, devops

#13044 chore: [app-router-migration 23] Migrate the "enterprise" page
  apps/web/app/future/enterprise/layout.tsx
  apps/web/app/future/enterprise/page.tsx
  apps/web/components/EnterprisePage.tsx
  apps/web/package.json
  apps/web/pages/enterprise/index.tsx
  packages/ui/package.json
Labels: High priority

#13161 fix: Bundle analysis message
  .github/workflows/nextjs-bundle-analysis.yml
Labels: High priority, core, devops

#13125 fix: add missing translations for workflows variables
  apps/web/public/static/locales/en/common.json
Labels: 🐛 bug, Medium priority, core

#13167 fix: Use constants.ts for brand colours > db DEFAULT
  apps/web/pages/[user].tsx
  apps/web/pages/settings/my-account/appearance.tsx
  packages/features/bookings/Booker/Booker.tsx
  packages/features/ee/components/BrandColorsForm.tsx
  packages/features/ee/organizations/pages/settings/appearance.tsx
  packages/features/ee/teams/pages/team-appearance-view.tsx
  packages/lib/getBrandColours.tsx
  packages/prisma/migrations/20240111075727_remove_brand_colours_default/migration.sql
  packages/prisma/schema.prisma
Labels: ❗️ migrations, ui, core

#13173 chore: corrected event-types icons
  apps/web/components/eventtype/EventTypeSingleLayout.tsx
Labels: ⚡ Quick Wins, ui, core

#13159 fix: Oauth refreshToken endpoint for teams
  apps/web/pages/api/auth/oauth/refreshToken.ts
Labels: 🐛 bug, Medium priority, core, zapier

#13054 chore: [app-router-migration 24] migrate more page
  apps/web/app/future/more/page.tsx
  apps/web/pages/more.tsx
Labels: High priority

#13178 chore: rename 'reason' to 'cancellationReason' to match the api
  apps/api/pages/api/bookings/[id]/_delete.ts
Labels: Low priority, community

#13193 fix: correctly use eventTriggers parsed and use Array.from
  apps/api/pages/api/webhooks/[id]/_patch.ts
  apps/api/pages/api/webhooks/_post.ts
Labels: core

#13194 fix: use brand accent instead of invert on current day selector
  packages/features/calendars/DatePicker.tsx
Labels: core

#13076 fix: add check for already used slug
  apps/api/pages/api/teams/[teamId]/_patch.ts
Labels: 🐛 bug, Medium priority, teams, api, community

#13042 chore: [app-router-migration 18] Migrate "/settings/organizations/*" pages
  apps/web/app/future/apps/categories/page.tsx
  apps/web/app/future/apps/page.tsx
  apps/web/app/future/bookings/[status]/layout.tsx
  apps/web/app/future/getting-started/[[...step]]/page.tsx
  apps/web/app/future/settings/organizations/[id]/about/page.tsx
  apps/web/app/future/settings/organizations/[id]/add-teams/page.tsx
  apps/web/app/future/settings/organizations/[id]/onboard-admins/page.tsx
  apps/web/app/future/settings/organizations/[id]/set-password/page.tsx
  apps/web/app/future/settings/organizations/appearance/layout.tsx
  apps/web/app/future/settings/organizations/appearance/page.tsx
  apps/web/app/future/settings/organizations/billing/layout.tsx
  apps/web/app/future/settings/organizations/billing/page.tsx
  apps/web/app/future/settings/organizations/general/layout.tsx
  apps/web/app/future/settings/organizations/general/page.tsx
  apps/web/app/future/settings/organizations/members/layout.tsx
  apps/web/app/future/settings/organizations/members/page.tsx
  apps/web/app/future/settings/organizations/new/page.tsx
  apps/web/app/future/settings/organizations/profile/layout.tsx
  apps/web/app/future/settings/organizations/profile/page.tsx
  apps/web/app/future/settings/organizations/teams/other/[id]/appearance/layout.tsx
  apps/web/app/future/settings/organizations/teams/other/[id]/appearance/page.tsx
  apps/web/app/future/settings/organizations/teams/other/[id]/members/layout.tsx
  apps/web/app/future/settings/organizations/teams/other/[id]/members/page.tsx
  apps/web/app/future/settings/organizations/teams/other/[id]/profile/layout.tsx
  apps/web/app/future/settings/organizations/teams/other/[id]/profile/page.tsx
  apps/web/app/future/settings/organizations/teams/other/layout.tsx
  apps/web/app/future/settings/organizations/teams/other/page.ts
  apps/web/app/future/teams/page.tsx
  apps/web/app/future/video/[uid]/page.tsx
  apps/web/app/future/video/meeting-ended/[uid]/page.tsx
  apps/web/app/future/video/meeting-not-started/[uid]/page.tsx
  apps/web/app/future/video/no-meeting-found/page.tsx
  apps/web/app/future/workflows/[workflow]/page.tsx
  apps/web/app/layoutHOC.tsx
  apps/web/pages/settings/organizations/[id]/about.tsx
  apps/web/pages/settings/organizations/[id]/add-teams.tsx
  apps/web/pages/settings/organizations/[id]/onboard-admins.tsx
  apps/web/pages/settings/organizations/[id]/set-password.tsx
  apps/web/pages/settings/organizations/new/index.tsx
  packages/features/ee/organizations/pages/settings/appearance.tsx
  packages/features/ee/organizations/pages/settings/general.tsx
  packages/features/ee/organizations/pages/settings/members.tsx
  packages/features/ee/organizations/pages/settings/other-team-listing-view.tsx
  packages/features/ee/organizations/pages/settings/other-team-members-view.tsx
  packages/features/ee/organizations/pages/settings/other-team-profile-view.tsx
  packages/features/ee/organizations/pages/settings/profile.tsx
  packages/ui/index.tsx
  packages/ui/layouts/WizardLayoutAppDir.tsx
Labels: High priority, community

#13032 chore: [app-router-migration 14] migrate not-found page
  apps/api/pages/api/teams/[teamId]/_patch.ts
  apps/web/app/not-found.tsx
  apps/web/lib/app-providers-app-dir.tsx
  apps/web/pages/404.tsx
  apps/web/playwright/booking-seats.e2e.ts
  apps/web/playwright/lib/testUtils.ts
  apps/web/playwright/teams.e2e.ts
  packages/app-store/routing-forms/playwright/tests/basic.e2e.ts
  packages/ui/components/errorBoundary/ErrorBoundary.tsx
Labels: High priority, community

#13071 fix: don't allow uid update in bookings update api
  apps/api/lib/validations/booking.ts
Labels: Medium priority, api, community, foundation

#13207 fix: use DateRangePicker component in my-account/out-of-office
  apps/web/components/out-of-office/DateRangePicker/DateSelect.css
  apps/web/components/out-of-office/DateRangePicker/index.tsx
  apps/web/pages/settings/my-account/out-of-office/index.tsx
  apps/web/public/static/locales/en/common.json
  packages/trpc/server/routers/loggedInViewer/outOfOffice.handler.ts
  packages/trpc/server/routers/loggedInViewer/outOfOffice.schema.ts
Labels: core

#13177 chore: added mini game to waiting screen of instant meetings
  packages/features/bookings/Booker/components/BookEventForm/BookEventForm.tsx
Labels: ✨ feature, Medium priority, core

#13171 chore: added a fallback for country code
  packages/trpc/server/routers/publicViewer/countryCode.handler.ts
Labels: Medium priority, core

#12907 fix: check for isEmbed
  packages/features/bookings/Booker/components/Header.tsx
Labels: Low priority, embed, core

#13227 chore: small improvements to signup
  apps/web/pages/signup.tsx
Labels: 🧹 Improvements, Low priority, authentication, core

#13122 fix: event reschedule workflow trigger
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/test/reschedule.test.ts
Labels: 🐛 bug, Medium priority, workflows, community

#13213 chore: added community support to help
  packages/features/ee/support/components/HelpMenuItem.tsx
Labels: 🧹 Improvements, Medium priority, core

#12062 refactor: Abstract `handleSeats` from `handleNewBooking`
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleSeats.ts
Labels: Medium priority, core, admin

#13223 fix: Dynamic group booking org-migration redirect
  apps/web/lib/getTemporaryOrgRedirect.test.ts
  apps/web/lib/getTemporaryOrgRedirect.ts
  apps/web/pages/[user].tsx
  apps/web/pages/[user]/[type].tsx
  apps/web/pages/team/[slug].tsx
  apps/web/pages/team/[slug]/[type].tsx
  apps/web/playwright/teams.e2e.ts
Labels: ✨ feature, High priority, bookings, organizations, core, organizations-2024-Q1

#12434 test: Check availability tab and all your functions (teste2e-availability)
  apps/web/playwright/booking/availability.e2e.ts
  apps/web/playwright/fixtures/eventTypes.ts
  apps/web/playwright/lib/fixtures.ts
  packages/features/schedules/components/Schedule.tsx
  packages/features/shell/Shell.tsx
Labels: Low priority, automated-tests, core

#12939 test: In Team Event type when location is Organizer Default App and U…
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/test/team-bookings/collective-scheduling.test.ts
  packages/prisma/zod-utils.ts
Labels: Medium priority, automated-tests, core, consumer

#13103 test: add test for invalid cal video
  apps/web/components/booking/BookingListItem.tsx
  apps/web/pages/video/[uid].tsx
  apps/web/playwright/reschedule.e2e.ts
  packages/features/get-cal-video-reference.test.ts
  packages/features/get-cal-video-reference.ts
  packages/ui/components/table/TableActions.tsx
Labels: Medium priority, automated-tests, core, consumer

#13230 chore: add error message for no availability
  apps/web/public/static/locales/en/common.json
  packages/core/getUserAvailability.ts
  packages/lib/errorCodes.ts
Labels: Medium priority, bookings, core, consumer

#13228 fix: Org Migration - Team Revert should revert team members as well
  apps/web/lib/orgMigration.test.ts
  apps/web/lib/orgMigration.ts
Labels: High priority, organizations, core, organizations-2024-Q1, consumer

#12905 refactor: Refactor seats logic
  apps/web/playwright/booking-seats.e2e.ts
  apps/web/public/static/locales/en/common.json
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleSeats.ts
  packages/features/bookings/lib/handleSeats/create/createNewSeat.ts
  packages/features/bookings/lib/handleSeats/handleSeats.ts
  packages/features/bookings/lib/handleSeats/lib/lastAttendeeDeleteBooking.ts
  packages/features/bookings/lib/handleSeats/reschedule/attendee/attendeeRescheduleSeatedBooking.ts
  packages/features/bookings/lib/handleSeats/reschedule/owner/combineTwoSeatedBookings.ts
  packages/features/bookings/lib/handleSeats/reschedule/owner/moveSeatedBookingToNewTimeSlot.ts
  packages/features/bookings/lib/handleSeats/reschedule/owner/ownerRescheduleSeatedBooking.ts
  packages/features/bookings/lib/handleSeats/reschedule/rescheduleSeatedBooking.ts
  packages/features/bookings/lib/handleSeats/test/handleSeats.test.ts
  packages/features/bookings/lib/handleSeats/types.d.ts
  packages/lib/errorCodes.ts
Labels: Medium priority, core, consumer

#13236 feat: Allow admins to filter bookings only by attendee emails
  apps/api/pages/api/bookings/_get.ts
Labels: ✨ feature, Urgent, api, core, zapier, foundation

#13237 fix: Org branding isnt centered in shell
  packages/features/shell/Shell.tsx
Labels: ✅ good first issue, ⚡ Quick Wins, Low priority, ui, 🚧 wip / in the making, organizations-2024-Q1, community

#12651 fix: Use Google recurring events protocol
  apps/web/pages/api/book/recurring-event.ts
  packages/app-store/googlecalendar/lib/CalendarService.ts
  packages/core/EventManager.ts
  packages/core/builders/CalendarEvent/class.ts
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/types.ts
  packages/prisma/migrations/20231206220118_add_recurring_event_id/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/zod-utils.ts
  packages/types/Calendar.d.ts
  packages/types/EventManager.d.ts
Labels: ❗️ migrations, app-store, Medium priority, High priority, ❗️ .env changes, calendar-apps, app-store-template, recurring-events, osshack, community

#13066 feat: impersonation improvements
  apps/web/pages/settings/admin/impersonation.tsx
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/impersonation.e2e.ts
  packages/features/auth/lib/getServerSession.ts
  packages/features/auth/lib/next-auth-options.ts
  packages/features/ee/impersonation/components/ImpersonatingBanner.tsx
  packages/features/ee/impersonation/lib/ImpersonationProvider.test.ts
  packages/features/ee/impersonation/lib/ImpersonationProvider.ts
  packages/features/settings/TimezoneChangeDialog.tsx
  packages/features/shell/Shell.tsx
  packages/types/next-auth.d.ts
Labels: automerge, 🧹 Improvements, Medium priority, core, consumer

#12828 chore: Chore team metadata table + isOrganization migration from metadata
  apps/web/lib/orgMigration.test.ts
  apps/web/lib/orgMigration.ts
  apps/web/pages/signup.tsx
  apps/web/pages/team/[slug].tsx
  apps/web/playwright/fixtures/orgs.ts
  apps/web/playwright/fixtures/users.ts
  packages/features/auth/lib/next-auth-options.ts
  packages/features/auth/signup/handlers/calcomHandler.ts
  packages/features/auth/signup/handlers/selfHostedHandler.ts
  packages/features/auth/signup/utils/createOrUpdateMemberships.ts
  packages/features/ee/organizations/api/subteams.ts
  packages/features/ee/organizations/lib/orgDomains.ts
  packages/features/ee/organizations/pages/settings/admin/AdminOrgEditPage.tsx
  packages/features/ee/organizations/pages/settings/admin/AdminOrgPage.tsx
  packages/features/ee/teams/api/upgrade.ts
  packages/features/ee/teams/components/MemberListItem.tsx
  packages/features/filters/components/TeamsFilter.tsx
  packages/lib/entityPermissionUtils.ts
  packages/lib/server/queries/teams/index.ts
  packages/lib/server/repository/team.test.ts
  packages/lib/server/repository/team.ts
  packages/lib/validateUsername.ts
  packages/prisma/migrations/20231215054122_organization_metadata/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/loggedInViewer/teamsAndUserProfilesQuery.handler.ts
  packages/trpc/server/routers/viewer/eventTypes/getByViewer.handler.ts
  packages/trpc/server/routers/viewer/organizations/adminGet.handler.ts
  packages/trpc/server/routers/viewer/organizations/adminGetAll.handler.ts
  packages/trpc/server/routers/viewer/organizations/adminUpdate.handler.ts
  packages/trpc/server/routers/viewer/organizations/adminUpdate.schema.ts
  packages/trpc/server/routers/viewer/organizations/adminVerify.handler.ts
  packages/trpc/server/routers/viewer/organizations/checkIfOrgNeedsUpgrade.handler.ts
  packages/trpc/server/routers/viewer/organizations/create.handler.ts
  packages/trpc/server/routers/viewer/organizations/update.schema.ts
  packages/trpc/server/routers/viewer/teams/createInvite.handler.ts
  packages/trpc/server/routers/viewer/teams/delete.handler.ts
  packages/trpc/server/routers/viewer/teams/getUpgradeable.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMember.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMemberUtils.test.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/utils.ts
  packages/trpc/server/routers/viewer/teams/list.handler.ts
  packages/trpc/server/routers/viewer/teams/listOwnedTeams.handler.ts
  packages/trpc/server/routers/viewer/teams/removeMember.handler.ts
  packages/trpc/server/routers/viewer/teams/resendInvitation.handler.ts
  packages/trpc/server/routers/viewer/webhook/getByViewer.handler.ts
Labels: ❗️ migrations, Medium priority, 5 points, core, consumer

#13247 fix: untranslated string in event
  packages/emails/templates/attendee-scheduled-email.ts
Labels: High priority, core, consumer

#13246 docs: Documentation only changes
  README.md
Labels: docs, Low priority

#13256 chore: Revert bundle analysis text formatting
  .github/workflows/nextjs-bundle-analysis.yml
Labels: High priority, core, devops, foundation

#13257 refactor: app-store imports webhook.ts from @calcom/web
  packages/app-store/alby/api/index.ts
  packages/app-store/paypal/api/index.ts
Labels: High priority, core, foundation

#13251 chore: added dark mode image for signup
  apps/web/pages/signup.tsx
  apps/web/public/mock-event-type-list-dark.svg
Labels: ⚡ Quick Wins, Low priority, ui, core, consumer

#13211 refactor: API POST /teams
  apps/api/lib/validations/team.ts
  apps/api/pages/api/teams/_post.ts
  apps/web/pages/api/teams/api/create.ts
  packages/prisma/extensions/exclude-pending-payment-teams.ts
  packages/prisma/index.ts
  packages/prisma/migrations/20240116085902_add_pending_payment_column_to_teams/migration.sql
  packages/prisma/schema.prisma
Labels: 🐛 bug, ✨ feature, ❗️ migrations, Medium priority, platform, api, core

#12508 feat: add booking date range filters and freeze GPT-4 version
  apps/ai/src/tools/getBookings.ts
  apps/ai/src/utils/agent.ts
  apps/ai/src/utils/now.ts
  apps/api/lib/validations/booking.ts
  apps/api/pages/api/bookings/_get.ts
Labels: 🐛 bug, Medium priority, api, ai, community

#13074 fix: improve slug filtering to prevent same slug with diff case
  apps/api/pages/api/teams/_post.ts
Labels: Medium priority, api, community

#13205 chore: [app-router-migration 37] migrate connect and join page
  apps/web/app/future/connect-and-join/page.tsx
  apps/web/pages/connect-and-join.tsx
Labels: High priority, community

#13262 fix: datepicker border color fix
  packages/ui/components/form/date-range-picker/styles.css
Labels: 🐛 bug, ⚡ Quick Wins, Medium priority, ui, community

#13100 chore: [app-router-migration 28] Migrate `org/[orgSlug]/[user]` page group
  apps/web/app/future/org/[orgSlug]/[user]/[type]/embed/page.tsx
  apps/web/app/future/org/[orgSlug]/[user]/[type]/page.tsx
  apps/web/app/future/org/[orgSlug]/[user]/embed/page.tsx
  apps/web/app/future/org/[orgSlug]/[user]/page.tsx
  apps/web/app/layoutHOC.tsx
  apps/web/lib/[user]/[type]/getServerSideProps.tsx
  apps/web/lib/org/[orgSlug]/[user]/[type]/getServerSideProps.tsx
  apps/web/lib/org/[orgSlug]/[user]/getServerSideProps.tsx
  apps/web/lib/team/[slug]/[type]/getServerSideProps.tsx
  apps/web/pages/[user]/[type].tsx
  apps/web/pages/org/[orgSlug]/[user]/[type].tsx
  apps/web/pages/org/[orgSlug]/[user]/[type]/embed.tsx
  apps/web/pages/org/[orgSlug]/[user]/embed.tsx
  apps/web/pages/org/[orgSlug]/[user]/index.tsx
  apps/web/pages/team/[slug]/[type].tsx
Labels: High priority, community

#13276 fix: fix build error caused by 'export' keyword before getData
  apps/web/app/future/org/[orgSlug]/[user]/[type]/embed/page.tsx
  apps/web/app/future/org/[orgSlug]/[user]/[type]/page.tsx
  apps/web/app/future/org/[orgSlug]/[user]/embed/page.tsx
  apps/web/app/future/org/[orgSlug]/[user]/page.tsx
Labels: Urgent, foundation

#13278 feat: skip code verification for instance admin
  packages/trpc/server/routers/viewer/organizations/verifyCode.handler.ts
Labels: core, consumer

#13184 chore: [app-router-migration 13.5] Add ability to reuse legacy getServerSideProps and getStaticProps on the `/future` pages
  apps/web/app/WithAppDirSsg.tsx
  apps/web/app/WithAppDirSsr.tsx
  apps/web/app/future/apps/[slug]/layout.tsx
  apps/web/app/future/apps/[slug]/page.tsx
  apps/web/app/future/apps/[slug]/setup/page.tsx
  apps/web/app/future/apps/categories/page.tsx
  apps/web/app/future/apps/installed/[category]/layout.tsx
  apps/web/app/future/apps/installed/[category]/page.tsx
  apps/web/app/future/apps/page.tsx
  apps/web/app/future/d/[link]/[slug]/page.tsx
  apps/web/app/future/getting-started/[[...step]]/page.tsx
  apps/web/app/future/org/[orgSlug]/[user]/[type]/embed/page.tsx
  apps/web/app/future/org/[orgSlug]/[user]/[type]/page.tsx
  apps/web/app/future/org/[orgSlug]/[user]/embed/page.tsx
  apps/web/app/future/org/[orgSlug]/[user]/page.tsx
  apps/web/app/future/reschedule/[uid]/embed/page.tsx
  apps/web/app/future/reschedule/[uid]/page.tsx
  apps/web/app/future/teams/page.tsx
  apps/web/app/future/video/[uid]/page.tsx
  apps/web/app/future/video/meeting-ended/[uid]/page.tsx
  apps/web/app/future/video/meeting-not-started/[uid]/page.tsx
  apps/web/app/future/video/no-meeting-found/page.tsx
  apps/web/app/future/workflows/[workflow]/page.tsx
  apps/web/app/layoutHOC.tsx
  apps/web/lib/apps/[slug]/getStaticProps.tsx
  apps/web/lib/apps/categories/[category]/getStaticProps.tsx
  apps/web/lib/apps/categories/getServerSideProps.tsx
  apps/web/lib/apps/getServerSideProps.tsx
  apps/web/lib/apps/installed/[category]/getServerSideProps.tsx
  apps/web/lib/apps/installed/getServerSideProps.tsx
  apps/web/lib/buildLegacyCtx.tsx
  apps/web/lib/d/[link]/[slug]/getServerSideProps.tsx
  apps/web/lib/event-types/[type]/getServerSideProps.tsx
  apps/web/lib/getting-started/[[...step]]/getServerSideProps.tsx
  apps/web/lib/teams/getServerSideProps.tsx
  apps/web/lib/video/[uid]/getServerSideProps.tsx
  apps/web/lib/video/meeting-ended/[uid]/getServerSideProps.tsx
  apps/web/lib/video/meeting-not-started/[uid]/getServerSideProps.tsx
  apps/web/pages/apps/[slug]/index.tsx
  apps/web/pages/apps/categories/[category].tsx
  apps/web/pages/apps/categories/index.tsx
  apps/web/pages/apps/index.tsx
  apps/web/pages/apps/installed/[category].tsx
  apps/web/pages/apps/installed/index.tsx
  apps/web/pages/d/[link]/[slug].tsx
  apps/web/pages/event-types/[type]/index.tsx
  apps/web/pages/getting-started/[[...step]].tsx
  apps/web/pages/org/[orgSlug]/[user]/[type]/embed.tsx
  apps/web/pages/teams/index.tsx
  apps/web/pages/video/[uid].tsx
  apps/web/pages/video/meeting-ended/[uid].tsx
  apps/web/pages/video/meeting-not-started/[uid].tsx
  apps/web/playwright/organization/organization-invitation.e2e.ts
  packages/app-store/alby/pages/setup/_getServerSideProps.tsx
  packages/app-store/make/pages/setup/_getServerSideProps.tsx
  packages/app-store/stripepayment/pages/setup/_getServerSideProps.ts
  packages/app-store/zapier/pages/setup/_getServerSideProps.tsx
  packages/embeds/embed-core/playwright/tests/action-based.e2e.ts
Labels: High priority, community

#13102 chore: [app-router-migration 29] Migrate `/team/*` page group
  apps/web/app/future/apps/categories/[category]/page.tsx
  apps/web/app/future/team/[slug]/[type]/embed/page.tsx
  apps/web/app/future/team/[slug]/[type]/page.tsx
  apps/web/app/future/team/[slug]/embed/page.tsx
  apps/web/app/future/team/[slug]/page.tsx
  apps/web/lib/team/[slug]/getServerSideProps.tsx
  apps/web/pages/team/[slug].tsx
  apps/web/pages/team/[slug]/[type]/embed.tsx
  apps/web/pages/team/[slug]/embed.tsx
Labels: High priority, community

#13273 fix: mobile-navbar
  packages/features/shell/Shell.tsx
Labels: Low priority, ui, community

#13306 fix: change "n available seats" to "n available" and truncate
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/components/SeatsAvailabilityText.tsx
Labels: 🙋🏻‍♂️help wanted, 🧹 Improvements, ⚡ Quick Wins, Medium priority, 💎 Bounty, 🙋 Bounty claim, community

#13317 fix: corrected signup condition to show social proof
  apps/web/pages/signup.tsx
Labels: core

#13319 fix: skip e2e tests that are memory crashing
  apps/web/playwright/ab-tests-redirect.e2e.ts
  apps/web/playwright/app-store.e2e.ts
  apps/web/playwright/event-types.e2e.ts
  apps/web/playwright/payment.e2e.ts
  apps/web/playwright/settings-admin.e2e.ts
  apps/web/playwright/teams.e2e.ts
Labels: core, foundation

#13221 feat: preview of installed app name on the schedule screen
  packages/features/bookings/Booker/components/BookEventForm/BookingFields.tsx
  packages/features/form-builder/Components.tsx
Labels: ✨ feature, ♻️ autoupdate, Low priority, community

#13185 feat: integrate avatarapi to pre-fill avatar
  .env.example
  packages/features/auth/signup/handlers/selfHostedHandler.ts
  packages/features/auth/signup/utils/prefillAvatar.ts
  packages/trpc/server/routers/loggedInViewer/updateProfile.handler.ts
  turbo.json
Labels: ✨ feature, Medium priority, Low priority, ❗️ .env changes, ui, community

#13284 fix: start and end date for ooo entry
  apps/web/pages/settings/my-account/out-of-office/index.tsx
  packages/trpc/server/routers/loggedInViewer/outOfOffice.handler.ts
  packages/trpc/server/routers/loggedInViewer/outOfOffice.schema.ts
  packages/ui/components/form/date-range-picker/styles.css
Labels: 🐛 bug, ♻️ autoupdate, High priority, 3 points, core, consumer

#13136 refactor: Canceling Seats
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  apps/web/test/utils/bookingScenario/getMockRequestDataForCancelBooking.ts
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/features/bookings/lib/handleSeats/cancel/cancelAttendeeSeat.ts
  packages/features/bookings/lib/handleSeats/test/handleSeats.test.ts
Labels: ♻️ autoupdate, Medium priority, bookings, seats, automated-tests, core, consumer

#13323 fix: Make usernameList optional and make consistent return obj structure
  apps/api/pages/api/slots/_get.ts
Labels: 🐛 bug, Medium priority, api, core

#12960 feat: show `pay & book` label to the meeting confirmation button when payment is enabled.
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/Booker/components/BookEventForm/BookEventForm.tsx
Labels: ✨ feature, 🧹 Improvements, linear, Medium priority, billing, community

#13312 fix: webhooks destructuring error
  apps/api/pages/api/webhooks/[id]/_patch.ts
  apps/api/pages/api/webhooks/_post.ts
Labels: 🐛 bug, High priority, 📉 regressing, webhooks, consumer

#13285 chore: Cache-Control new style avatar URLs
  apps/web/pages/api/avatar/[uuid].ts
Labels: core, foundation

#13309 fix: displaying recurring dates
  apps/web/pages/booking/[uid].tsx
Labels: core, recurring events, consumer

#13330 fix: fix-e2e-tests
  apps/web/lib/apps/categories/getServerSideProps.tsx
  apps/web/lib/apps/getServerSideProps.tsx
  apps/web/lib/buildLegacyCtx.tsx
  apps/web/lib/getting-started/[[...step]]/getServerSideProps.tsx
  apps/web/lib/video/[uid]/getServerSideProps.tsx
  apps/web/pages/auth/forgot-password/index.tsx
  apps/web/pages/auth/setup/index.tsx
  apps/web/pages/auth/signin.tsx
  apps/web/pages/auth/sso/[provider].tsx
  apps/web/playwright/ab-tests-redirect.e2e.ts
Labels: Urgent, community, foundation

#13243 fix: Troubleshooter - Vertical scrolling not working on left panel or calendar (Re-opened)
  packages/features/calendars/weeklyview/components/Calendar.tsx
  packages/features/troubleshooter/components/TroubleshooterSidebar.tsx
Labels: Medium priority, ui, community

#13329 chore: flappy bird ui fixes
  packages/features/bookings/Booker/components/BookEventForm/BookEventForm.tsx
Labels: core

#13295 fix: update inlang `settings.json`
  project.inlang/project_id
  project.inlang/settings.json
Labels: Medium priority, community

#13061 chore: [app-router-migration 27] migrate the "signup" page
  apps/web/app/WithAppDirSsr.tsx
  apps/web/app/future/signup/page.tsx
  apps/web/lib/signup/getServerSideProps.tsx
  apps/web/pages/signup.tsx
  packages/embeds/embed-core/playwright/tests/action-based.e2e.ts
Labels: High priority, community

#13015 chore: [app-router-migration 16]: migrate routing forms page
  apps/web/app/future/apps/[slug]/[...pages]/page.tsx
  apps/web/app/future/routing-forms/[...pages]/page.tsx
  apps/web/app/future/routing-forms/page.tsx
  apps/web/components/PageWrapper.tsx
  apps/web/lib/app-providers.tsx
  apps/web/lib/getQuery.tsx
  apps/web/middleware.ts
  apps/web/pages/apps/[slug]/[...pages].tsx
  apps/web/pages/settings/organizations/[id]/add-teams.tsx
  apps/web/pages/settings/organizations/[id]/onboard-admins.tsx
  packages/app-store/routing-forms/components/SingleForm.tsx
  packages/app-store/routing-forms/components/getServerSidePropsSingleForm.ts
  packages/app-store/routing-forms/lib/processRoute.tsx
  packages/app-store/routing-forms/pages/app-routing.config.tsx
  packages/app-store/routing-forms/pages/form-edit/[...appPages].tsx
  packages/app-store/routing-forms/pages/forms/[...appPages].tsx
  packages/app-store/routing-forms/pages/forms/getServerSideProps.ts
  packages/app-store/routing-forms/pages/layout-handler/[...appPages].tsx
  packages/app-store/routing-forms/pages/reporting/[...appPages].tsx
  packages/app-store/routing-forms/pages/route-builder/[...appPages].tsx
  packages/app-store/routing-forms/pages/router/[...appPages].tsx
  packages/app-store/routing-forms/pages/router/getServerSideProps.ts
  packages/app-store/routing-forms/pages/routing-link/[...appPages].tsx
  packages/app-store/routing-forms/pages/routing-link/getServerSideProps.ts
  packages/app-store/typeform/pages/app-routing.config.tsx
  packages/emails/src/templates/AdminOrganizationNotificationEmail.tsx
  packages/emails/src/templates/BrokenIntegrationEmail.tsx
  packages/emails/src/templates/SlugReplacementEmail.tsx
  packages/features/filters/lib/getTeamsFiltersFromQuery.ts
Labels: High priority, ❗️ .env changes, community

#13199 chore: [app-router-migration 34] migrate the "/auth/logout" and "/auth/signin" pages
  apps/web/app/future/auth/logout/page.tsx
  apps/web/app/future/auth/signin/page.tsx
  apps/web/middleware.ts
  apps/web/pages/auth/logout.tsx
  apps/web/pages/auth/signin.tsx
  apps/web/server/lib/auth/logout/getServerSideProps.tsx
  apps/web/server/lib/auth/signin/getServerSideProps.tsx
Labels: High priority, community

#13200 chore: [app-router-migration 35] migrate the "sso" pages
  apps/web/app/future/auth/sso/[provider]/page.tsx
  apps/web/app/future/auth/sso/direct/page.tsx
  apps/web/pages/auth/sso/[provider].tsx
  apps/web/pages/auth/sso/direct.tsx
  apps/web/server/lib/auth/sso/[provider]/getServerSideProps.tsx
  apps/web/server/lib/auth/sso/direct/getServerSideProps.tsx
Labels: High priority, community

#13197 chore: [app-router-migration 32] migrate the "/auth/forgot-password/*" pages
  apps/web/app/future/auth/forgot-password/[id]/page.tsx
  apps/web/app/future/auth/forgot-password/page.tsx
  apps/web/pages/auth/forgot-password/[id].tsx
  apps/web/pages/auth/forgot-password/index.tsx
  apps/web/playwright/auth/forgot-password.e2e.ts
  apps/web/server/lib/forgot-password/[id]/getServerSideProps.tsx
  apps/web/server/lib/forgot-password/getServerSideProps.tsx
Labels: High priority, community

#13287 feat: added upgrade page
  apps/web/pages/upgrade.tsx
  packages/features/ee/users/components/UsersTable.tsx
Labels: ✨ feature, Medium priority, organizations, core, consumer

#13195 chore: [app-router-migration 30] migrate the "login" page
  apps/web/app/future/auth/login/page.tsx
  apps/web/pages/auth/login.tsx
  apps/web/playwright/login.e2e.ts
  apps/web/server/lib/auth/login/getServerSideProps.tsx
Labels: High priority, community

#13334 chore: fixed some of the terms language
  apps/web/pages/signup.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/Booker/components/BookEventForm/BookEventForm.tsx
Labels: Low priority, core, consumer

#13303 fix: removed shell from troubleshooter to prevent topbanner overlay
  packages/features/troubleshooter/layout.tsx
Labels: Low priority, ui, core

#13083 fix: prevent primary key update in memberships api
  apps/api/lib/validations/membership.ts
Labels: ⚡ Quick Wins, Medium priority, platform, api, community

#13187 feat(app-store): add feishu calendar
  packages/app-store/apps.keys-schemas.generated.ts
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.schemas.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/feishucalendar/DESCRIPTION.md
  packages/app-store/feishucalendar/_metadata.ts
  packages/app-store/feishucalendar/api/add.ts
  packages/app-store/feishucalendar/api/callback.ts
  packages/app-store/feishucalendar/api/events.ts
  packages/app-store/feishucalendar/api/index.ts
  packages/app-store/feishucalendar/common.ts
  packages/app-store/feishucalendar/index.ts
  packages/app-store/feishucalendar/lib/AppAccessToken.ts
  packages/app-store/feishucalendar/lib/BotService.ts
  packages/app-store/feishucalendar/lib/CalendarService.ts
  packages/app-store/feishucalendar/lib/index.ts
  packages/app-store/feishucalendar/package.json
  packages/app-store/feishucalendar/static/1.png
  packages/app-store/feishucalendar/static/2.png
  packages/app-store/feishucalendar/static/3.png
  packages/app-store/feishucalendar/static/4.png
  packages/app-store/feishucalendar/static/icon.svg
  packages/app-store/feishucalendar/types/FeishuCalendar.ts
  packages/app-store/feishucalendar/zod.ts
Labels: Low priority, calendar-apps, community

#13203 fix: event api accepts invalid start & end values
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/test/fresh-booking.test.ts
  packages/features/bookings/lib/handleNewBooking/test/recurring-event.test.ts
  packages/features/bookings/lib/handleNewBooking/test/reschedule.test.ts
  packages/features/bookings/lib/handleNewBooking/test/team-bookings/collective-scheduling.test.ts
  packages/features/bookings/lib/handleSeats/test/handleSeats.test.ts
Labels: 🐛 bug, Medium priority, api, community

#13274 feat: me endpoint v2 api
  apps/api/v2/src/ee/me/me.controller.e2e-spec.ts
  apps/api/v2/src/ee/me/me.controller.ts
  apps/api/v2/src/ee/me/me.module.ts
  apps/api/v2/src/ee/platform-endpoints-module.ts
Labels: platform, core

#13176 refactor: Booker Component
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/components/AvailableTimeSlots.tsx
  packages/features/bookings/Booker/components/BookEventForm/BookEventForm.tsx
  packages/features/bookings/Booker/components/BookEventForm/BookFormAsModal.tsx
  packages/features/bookings/Booker/components/DatePicker.tsx
  packages/features/bookings/Booker/components/EventMeta.tsx
  packages/features/bookings/Booker/components/Header.tsx
  packages/features/bookings/Booker/components/InstantBooking.tsx
  packages/features/bookings/Booker/components/LargeCalendar.tsx
  packages/features/bookings/Booker/components/OverlayCalendar/OverlayCalendar.tsx
  packages/features/bookings/Booker/components/OverlayCalendar/OverlayCalendarSettingsModal.tsx
  packages/features/bookings/Booker/components/OverlayCalendar/OverlayCalendarSwitch.tsx
  packages/features/bookings/Booker/components/RedirectToInstantMeetingModal.tsx
  packages/features/bookings/Booker/components/hooks/useBookerLayout.ts
  packages/features/bookings/Booker/components/hooks/useBookingForm.ts
  packages/features/bookings/Booker/components/hooks/useBookings.ts
  packages/features/bookings/Booker/components/hooks/useCalendars.ts
  packages/features/bookings/Booker/components/hooks/useInitialFormValues.ts
  packages/features/bookings/Booker/components/hooks/useOverlayCalendar.ts
  packages/features/bookings/Booker/components/hooks/useSlots.ts
  packages/features/bookings/Booker/components/hooks/useVerifyEmail.ts
  packages/features/bookings/Booker/utils/event.ts
  packages/features/bookings/lib/book-event-form/booking-to-mutation-input-mapper.tsx
  packages/features/bookings/lib/create-instant-booking.ts
  packages/features/bookings/types.ts
Labels: Medium priority, platform, ui, booking-page, core

#13354 fix: Broken signup for a new user who is invited to an organization and isn't auto-accepted
  packages/lib/server/username.ts
Labels: High priority, core, consumer

#13069 feat: Add Owner during organization creation
  apps/web/app/future/settings/organizations/[id]/onboard-admins/page.tsx
  apps/web/pages/settings/organizations/[id]/onboard-members.tsx
  apps/web/playwright/organization/organization-creation.e2e.ts
  apps/web/public/static/locales/en/common.json
  packages/features/ee/organizations/components/AboutOrganizationForm.tsx
  packages/features/ee/organizations/components/AddNewOrgAdminsForm.tsx
  packages/features/ee/organizations/components/index.ts
  packages/features/ee/teams/components/AddNewTeamMembers.tsx
  packages/features/ee/teams/components/MemberInvitationModal.tsx
  packages/trpc/server/routers/viewer/teams/get.handler.ts
  packages/trpc/server/routers/viewer/teams/get.schema.ts
Labels: ✨ feature, app-store, 🧹 Improvements, High priority, organizations, community

#13344 fix: team invite broken link
  packages/features/ee/teams/components/InviteLinkSettingsModal.tsx
  packages/trpc/server/routers/viewer/teams/createInvite.handler.ts
  packages/trpc/server/routers/viewer/teams/setInviteExpiration.handler.ts
Labels: 🐛 bug, High priority, organizations, community

#12437 fix: SAML postgres err
  packages/trpc/server/routers/publicViewer/ssoConnections.handler.ts
Labels: 🐛 bug, 🙋🏻‍♂️help wanted, linear, Low priority, self-hosting, community, foundation

#13258 feat: instant meeting improvements
  apps/web/components/eventtype/InstantEventController.tsx
  apps/web/public/static/locales/en/common.json
  apps/web/public/static/locales/he/common.json
  packages/dayjs/index.ts
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/components/BookEventForm/BookEventForm.tsx
  packages/features/bookings/Booker/components/InstantBooking.tsx
  packages/features/bookings/Booker/components/RedirectToInstantMeetingModal.tsx
  packages/features/bookings/Booker/components/hooks/useBookings.ts
  packages/features/instant-meeting/handleInstantMeeting.ts
  packages/features/webhooks/components/WebhookForm.tsx
  packages/trpc/server/routers/viewer/webhook/list.handler.ts
  packages/trpc/server/routers/viewer/webhook/list.schema.ts
Labels: ✨ feature, Medium priority, core, consumer

#13314 chore: [app-router-migration 38]: Refactor migrated pages and fix generateMetadata functions
  apps/web/app/future/apps/categories/[category]/page.tsx
  apps/web/app/future/enterprise/layout.tsx
  apps/web/app/future/enterprise/page.tsx
  apps/web/app/future/event-types/layout.tsx
  apps/web/app/future/event-types/page.tsx
  apps/web/app/future/insights/page.tsx
  apps/web/app/future/payment/[uid]/page.tsx
  apps/web/app/future/reschedule/[uid]/page.tsx
  apps/web/app/future/settings/admin/users/[id]/edit/page.tsx
  apps/web/app/future/settings/admin/users/add/page.tsx
  apps/web/app/future/settings/admin/users/layout.tsx
  apps/web/app/future/settings/admin/users/page.tsx
  apps/web/app/future/settings/organizations/new/page.tsx
  apps/web/app/future/workflows/[workflow]/page.tsx
  apps/web/lib/insights/getServerSideProps.tsx
  apps/web/lib/settings/organizations/new/getServerSideProps.tsx
  apps/web/lib/workflows/[workflow]/getStaticProps.tsx
  apps/web/pages/apps/categories/[category].tsx
  apps/web/pages/insights/index.tsx
  apps/web/pages/settings/organizations/new/index.tsx
  apps/web/pages/workflows/[workflow].tsx
  packages/features/ee/payments/pages/payment.tsx
  packages/features/ee/workflows/pages/workflow.tsx
Labels: High priority, community, foundation
