Repository calcom/cal.com, pull requests merged in 2024-06, with the labels that each got.

#15287 chore: v4.1.8
  apps/web/package.json
Labels: ⬆️ dependencies, core, foundation

#14199 feat: ability to assign people to round robin from org members
  apps/web/public/static/locales/en/common.json
  packages/features/ee/organizations/pages/settings/other-team-profile-view.tsx
  packages/features/ee/teams/components/AddNewTeamMembers.tsx
  packages/features/ee/teams/components/MemberListItem.tsx
  packages/features/ee/teams/pages/team-profile-view.tsx
  packages/features/users/components/UserTable/BulkActions/EventTypesList.tsx
  packages/features/users/components/UserTable/BulkActions/TeamList.tsx
  packages/features/users/components/UserTable/DeleteMemberModal.tsx
  packages/features/users/components/UserTable/UserListTable.tsx
  packages/lib/event-types/getEventTypesByViewer.ts
  packages/trpc/server/routers/viewer/eventTypes/getByViewer.schema.ts
  packages/trpc/server/routers/viewer/organizations/_router.tsx
  packages/trpc/server/routers/viewer/organizations/addBulkTeams.schema.ts
  packages/trpc/server/routers/viewer/organizations/addMembersToEventTypes.handler.ts
  packages/trpc/server/routers/viewer/organizations/addMembersToEventTypes.schema.ts
  packages/trpc/server/routers/viewer/organizations/addMembersToTeams.handler.ts
  packages/trpc/server/routers/viewer/organizations/addMembersToTeams.schema.ts
  packages/trpc/server/routers/viewer/organizations/removeHostsFromEventTypes.handler.ts
  packages/trpc/server/routers/viewer/organizations/removeHostsFromEventTypes.schema.ts
  packages/trpc/server/routers/viewer/organizations/utils.ts
  packages/trpc/server/routers/viewer/teams/removeMember.handler.ts
  packages/trpc/server/routers/viewer/teams/removeMember.schema.ts
Labels: ✨ feature, 🎨 needs design, Medium priority, teams, community

#15283 fix: Kbar component styles and improve transitions
  apps/web/modules/users/views/users-public-view.tsx
  packages/features/kbar/Kbar.tsx
Labels: 🐛 bug, ui, community

#15077 feat: outlook 365 calendar endpoints
  apps/api/v2/package.json
  apps/api/v2/src/ee/calendars/calendars.controller.e2e-spec.ts
  apps/api/v2/src/ee/calendars/calendars.interface.ts
  apps/api/v2/src/ee/calendars/calendars.module.ts
  apps/api/v2/src/ee/calendars/controllers/calendars.controller.ts
  apps/api/v2/src/ee/calendars/services/calendars.service.ts
  apps/api/v2/src/ee/calendars/services/gcal.service.ts
  apps/api/v2/src/ee/calendars/services/outlook.service.ts
  apps/api/v2/swagger/documentation.json
  packages/platform/constants/apps.ts
Labels: ✨ feature, platform, api, core, calendar-apps

#15297 chore: added admin API docs
  packages/features/settings/layouts/SettingsLayout.tsx
Labels: ✨ feature, ⚡ Quick Wins, docs, Medium priority, api

#15007 fix: no rating submitted text fixed
  packages/ui/components/empty-screen/EmptyScreen.tsx
Labels: 🐛 bug, Low priority, insights, ui, community

#11312 fix: inviting a team member dosent work when he login in via Google
  apps/web/pages/auth/login.tsx
Labels: 🐛 bug, Medium priority, teams, Stale, core, consumer

#15319 fix: typo in `Gcal` atom prop and outlook service
  apps/api/v2/src/ee/calendars/services/outlook.service.ts
  packages/platform/atoms/gcal-connect/GcalConnect.tsx
  packages/platform/atoms/hooks/useGcal.ts
Labels: 🐛 bug, platform, api, core, calendar-apps

#15135 feat: API v2 subversioning
  apps/api/v2/package.json
  apps/api/v2/src/app.module.ts
  apps/api/v2/src/app.ts
  apps/api/v2/src/ee/bookings/controllers/bookings.controller.e2e-spec.ts
  apps/api/v2/src/ee/bookings/controllers/bookings.controller.ts
  apps/api/v2/src/ee/bookings/inputs/create-recurring-booking.input.ts
  apps/api/v2/src/ee/calendars/controllers/calendars.controller.ts
  apps/api/v2/src/ee/calendars/services/calendars.service.ts
  apps/api/v2/src/ee/event-types/controllers/event-types.controller.e2e-spec.ts
  apps/api/v2/src/ee/event-types/controllers/event-types.controller.ts
  apps/api/v2/src/ee/event-types/event-types.repository.ts
  apps/api/v2/src/ee/event-types/services/event-types.service.ts
  apps/api/v2/src/ee/gcal/gcal.controller.ts
  apps/api/v2/src/ee/me/me.controller.ts
  apps/api/v2/src/ee/provider/provider.controller.ts
  apps/api/v2/src/ee/schedules/controllers/schedules.controller.ts
  apps/api/v2/src/ee/schedules/services/schedules.service.ts
  apps/api/v2/src/filters/trpc-exception.filter.ts
  apps/api/v2/src/lib/api-versions.ts
  apps/api/v2/src/modules/billing/controllers/billing.controller.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-clients/oauth-clients.controller.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-flow/oauth-flow.controller.ts
  apps/api/v2/src/modules/oauth-clients/services/oauth-clients-users.service.ts
  apps/api/v2/src/modules/slots/controllers/slots.controller.ts
  apps/api/v2/src/modules/slots/slots.repository.ts
  apps/api/v2/src/modules/timezones/controllers/timezones.controller.ts
  apps/api/v2/src/modules/timezones/services/timezones.service.ts
  packages/platform/atoms/cal-provider/CalProvider.tsx
  packages/platform/atoms/lib/http.ts
  packages/platform/constants/api.ts
Labels: ✨ feature, Medium priority, api, core, foundation

#15288 fix: Booking Error - cannot be booked at this time
  apps/web/test/lib/getSchedule/expects.ts
  apps/web/test/lib/getSchedule/futureLimit.timezone.test.ts
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  packages/lib/isOutOfBounds.tsx
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: 🐛 bug, High priority, bookings, core, consumer

#15307 feat: track no-shows in bookings
  apps/web/components/booking/BookingListItem.tsx
  apps/web/pages/auth/verify-email.tsx
  apps/web/playwright/bookings-list.e2e.ts
  apps/web/public/static/locales/en/common.json
  apps/web/test/handlers/requestReschedule.test.ts
  packages/prisma/migrations/20240531082824_add_meeting_attendee_no_show_column/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/publicViewer/noShow.handler.ts
  packages/trpc/server/routers/publicViewer/noShow.schema.ts
  packages/ui/components/form/dropdown/Dropdown.tsx
Labels: ✨ feature, 🚧 wip / in the making, ❗️ migrations, High priority, enterprise, bookings, core, consumer

#15321 chore: v4.1.9
  apps/web/package.json
Labels: ⬆️ dependencies, High priority, core, foundation

#15328 chore: Remove DeploySentinel
  package.json
  playwright.config.ts
  yarn.lock
Labels: ⬆️ dependencies, platform, core, foundation

#15334 fix: install flow: wrong org team avatars
  apps/web/components/apps/installation/AccountsStepCard.tsx
  apps/web/pages/apps/installation/[[...step]].tsx
Labels: 🐛 bug, app-store, Low priority, ui, community

#15332 fix: Wrong error message when inviting
  apps/web/public/static/locales/en/common.json
  packages/features/ee/organizations/pages/settings/other-team-members-view.tsx
  packages/features/ee/teams/components/AddNewTeamMembers.tsx
  packages/features/ee/teams/components/TeamListItem.tsx
  packages/features/ee/teams/pages/team-members-view.tsx
  packages/features/users/components/UserTable/InviteMemberModal.tsx
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMember.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMemberUtils.test.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/utils.ts
Labels: 🐛 bug, teams, core, consumer

#14705 chore: Remove deprecated logo/avatar/away fields
  apps/api/v1/pages/api/me/_get.ts
  apps/api/v1/pages/api/users/[userId]/_get.ts
  apps/api/v1/pages/api/users/[userId]/_patch.ts
  apps/web/components/apps/installation/AccountsStepCard.tsx
  apps/web/pages/apps/installation/[[...step]].tsx
  packages/features/auth/signup/utils/prefillAvatar.ts
  packages/lib/server/avatar.ts
  packages/prisma/schema.prisma
  packages/trpc/server/routers/loggedInViewer/updateProfile.handler.ts
  packages/trpc/server/routers/loggedInViewer/workflowOrder.handler.ts
  packages/trpc/server/routers/viewer/organizations/update.handler.ts
  packages/trpc/server/routers/viewer/organizations/updateUser.handler.ts
  packages/trpc/server/routers/viewer/teams/create.handler.ts
  packages/trpc/server/routers/viewer/teams/update.handler.ts
  packages/trpc/server/routers/viewer/workflows/filteredList.handler.tsx
Labels: 🧹 Improvements, Medium priority, core, foundation

#15339 revert: "fix: 404 collisions (#15249)"
  apps/web/app/error.tsx
  apps/web/app/global-error.tsx
  apps/web/app/not-found.tsx
  apps/web/pages/404.tsx
  apps/web/playwright/lib/testUtils.ts
Labels: 🐛 bug, 📉 regressing, core, foundation

#15346 chore: added apple verification
  apps/web/public/.well-known/apple-developer-merchantid-domain-association
Labels: app-store

#15342 fix: Team and User Links
  apps/web/components/eventtype/EventTeamTab.tsx
  packages/features/ee/organizations/lib/orgDomains.test.ts
  packages/features/ee/teams/pages/team-profile-view.tsx
  packages/features/eventtypes/components/ChildrenEventTypeSelect.tsx
  packages/lib/getBookerUrl/client.test.ts
  packages/lib/getBookerUrl/client.ts
  packages/lib/getBookerUrl/getBookerBaseUrlSync.ts
Labels: 🐛 bug, teams, event-types, core, consumer

#14905 fix: [CAL-3578] [CAL-2733] Zoho calendar issues
  packages/app-store/zohocalendar/api/callback.ts
  packages/app-store/zohocalendar/lib/CalendarService.ts
  packages/app-store/zohocalendar/types/ZohoCalendar.ts
Labels: 🐛 bug, app-store, Medium priority, High priority, 💎 Bounty, 🙋 Bounty claim, community

#15174 fix: Exclude location options for seated event
  apps/web/components/eventtype/EventAdvancedTab.tsx
  apps/web/components/eventtype/EventSetupTab.tsx
  apps/web/public/static/locales/en/common.json
Labels: 🐛 bug, ✨ feature, Low priority, seats, community

#15318 feat: outlook 365 connect atom
  apps/api/v2/src/ee/calendars/controllers/calendars.controller.ts
  apps/api/v2/src/ee/calendars/services/gcal.service.ts
  apps/api/v2/src/ee/calendars/services/outlook.service.ts
  apps/api/v2/src/ee/gcal/gcal.controller.ts
  packages/platform/atoms/connect/OAuthConnect.tsx
  packages/platform/atoms/connect/google/GcalConnect.tsx
  packages/platform/atoms/connect/index.ts
  packages/platform/atoms/connect/outlook/OutlookConnect.tsx
  packages/platform/atoms/gcal-connect/GcalConnect.tsx
  packages/platform/atoms/gcal-connect/index.ts
  packages/platform/atoms/hooks/connect/useCheck.ts
  packages/platform/atoms/hooks/connect/useConnect.ts
  packages/platform/atoms/hooks/useGcal.ts
  packages/platform/atoms/index.ts
  packages/platform/atoms/package.json
  packages/platform/atoms/vite.config.ts
  packages/platform/examples/base/src/pages/index.tsx
Labels: ✨ feature, platform, core, calendar-apps

#15356 chore: removed next app dir banner
  packages/features/shell/Shell.tsx
  packages/features/users/components/UserV2OptInBanner.tsx
Labels: 🧹 Improvements, ⚡ Quick Wins, Low priority

#15359 chore: v4.1.10
  apps/web/package.json
Labels: High priority, core, foundation

#15128 fix: trigger workflow only for first recurring event
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleSeats/handleSeats.ts
  packages/features/ee/workflows/lib/reminders/reminderScheduler.ts
Labels: 🐛 bug, High priority, bookings, core, consumer

#15024 feat: license creation admin PR
  .env.example
  apps/web/lib/settings/license-keys/new/getServerSideProps.tsx
  apps/web/pages/settings/license-key/new/index.tsx
  packages/features/ee/deployment/licensekey/CreateLicenseKeyForm.tsx
  packages/lib/telemetry.ts
  packages/trpc/server/routers/viewer/admin/_router.ts
  packages/trpc/server/routers/viewer/admin/createSelfHostedLicenseKey.handler.ts
  packages/trpc/server/routers/viewer/admin/createSelfHostedLicenseKey.schema.ts
  turbo.json
Labels: ✨ feature, Medium priority, ❗️ .env changes, core, consumer

#15353 fix: event-types controller params validation
  apps/api/v2/src/ee/event-types/controllers/event-types.controller.e2e-spec.ts
  apps/api/v2/src/ee/event-types/controllers/event-types.controller.ts
  apps/api/v2/src/ee/event-types/inputs/event-type-id.input.ts
  apps/api/v2/swagger/documentation.json
Labels: Medium priority, platform, api, event-types, core

#15362 chore: /.well-known/
  apps/web/public/.well-known/apple-developer-merchantid-domain-association
Labels: ⚡ Quick Wins

#15223 fix: sidebar height being fixed for platform dashboard
  packages/features/shell/Shell.tsx
Labels: 🐛 bug, Low priority, platform, ui, core

#15267 feat: Remove minimum of 2 teams for making an Org
  packages/lib/constants.ts
Labels: ✨ feature, 🚧 wip / in the making, High priority, 💎 Bounty, organizations, 🙋 Bounty claim, community

#15313 feat: Datepicker transitions
  packages/features/calendars/DatePicker.tsx
Labels: 🧹 Improvements, Low priority, community

#15369 fix: add missing migration
  packages/prisma/migrations/20240607082125_removal_of_logo_and_avatar/migration.sql
Labels: ❗️ migrations, High priority, core, consumer

#15383 chore: Add error logging to `getTOkenObjectFromCredential`
  packages/app-store/_utils/oauth/getTokenObjectFromCredential.ts
Labels: core, consumer

#15293 feat: Add syntax highlighting and autocomplete menu for workflow variables
  packages/ui/components/editor/Editor.tsx
  packages/ui/components/editor/nodes/VariableNode.ts
  packages/ui/components/editor/plugins/AddVariablesPlugin.tsx
Labels: ✨ feature, Medium priority, workflows, ui, community

#14882 feat: go to Assignment tab after creation and warn if existing without assigning
  apps/web/components/eventtype/AssignmentWarningDialog.tsx
  apps/web/modules/event-types/views/event-types-single-view.tsx
  apps/web/playwright/managed-event-types.e2e.ts
  apps/web/public/static/locales/en/common.json
  packages/features/eventtypes/components/CreateEventTypeDialog.tsx
Labels: ✨ feature, Medium priority, teams, event-types, community

#15390 fix: atoms useCheck and bump atoms version
  packages/platform/atoms/connect/OAuthConnect.tsx
  packages/platform/atoms/hooks/connect/useCheck.ts
  packages/platform/atoms/package.json
Labels: 🐛 bug, ⬆️ dependencies, platform, core

#15358 feat: generate transcription from recording and API endpoint
  apps/api/v1/lib/validations/shared/queryIdTransformParseInt.ts
  apps/api/v1/pages/api/bookings/[id]/transcripts/[recordingId]/_get.ts
  apps/api/v1/pages/api/bookings/[id]/transcripts/[recordingId]/index.ts
  apps/api/v1/test/lib/bookings/[id]/transcripts/[recordingId]/_get.test.ts
  apps/web/pages/api/recorded-daily-video.ts
  packages/app-store/dailyvideo/lib/VideoApiAdapter.ts
  packages/app-store/dailyvideo/zod.ts
  packages/core/videoClient.ts
  packages/types/VideoApiAdapter.d.ts
Labels: ✨ feature, High priority, api, core, consumer

#15394 fix: fixed the padding at the footer in /signup
  apps/web/pages/signup.tsx
Labels: 🐛 bug, Low priority, ui, community

#15067 fix: bookings made via API don't include the specified location
  apps/web/test/utils/bookingScenario/getMockRequestDataForBooking.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/test/fresh-booking.test.ts
  packages/features/bookings/lib/handleNewBooking/test/team-bookings/collective-scheduling.test.ts
Labels: 🐛 bug, linear, Medium priority, platform, bookings, api, community

#15406 chore: Release v4.1.11
  apps/web/package.json
Labels: core, foundation

#15414 chore: v2 managed user inform when access token expires
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/outputs/create-managed-user.output.ts
  apps/api/v2/src/modules/oauth-clients/services/oauth-clients-users.service.ts
  apps/api/v2/src/modules/tokens/tokens.repository.ts
  apps/api/v2/swagger/documentation.json
Labels: platform, core

#15417 revert: "fix: bookings made via API don't include the specified locati…
  apps/web/test/utils/bookingScenario/getMockRequestDataForBooking.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/test/fresh-booking.test.ts
  packages/features/bookings/lib/handleNewBooking/test/team-bookings/collective-scheduling.test.ts
Labels: 📉 regressing, bookings, core, foundation

#15412 fix: margin top in booker embed
  packages/embeds/embed-core/playwright/tests/embed-pages.e2e.ts
  packages/features/bookings/Booker/Booker.tsx
Labels: 🐛 bug, Medium priority, ui, embed, core, consumer

#15119 chore: added platform admin to seed.ts
  packages/prisma/seed.ts
Labels: Low priority, platform, ci, core, foundation

#15013 fix: reschedule and cancel unconfirmed event from email
  packages/emails/src/templates/AttendeeRequestEmail.tsx
Labels: 🐛 bug, linear, Medium priority, emails, community

#15419 refactor: recording and transcript webhook
  apps/web/pages/api/recorded-daily-video.ts
  apps/web/pages/api/send-daily-video-transcript.ts
Labels: core, 💻 refactor, consumer

#15396 chore: Upgrade Sentry in v1, v2 & web
  apps/api/v1/instrumentation.ts
  apps/api/v1/next.config.js
  apps/api/v1/package.json
  apps/api/v1/sentry.edge.config.ts
  apps/api/v1/sentry.server.config.ts
  apps/api/v2/.prettierrc.js
  apps/api/v2/package.json
  apps/api/v2/src/app.ts
  apps/api/v2/src/filters/sentry-exception.filter.ts
  apps/api/v2/src/instrument.ts
  apps/web/instrumentation.ts
  apps/web/next.config.js
  apps/web/package.json
  apps/web/sentry.edge.config.ts
  apps/web/sentry.server.config.ts
  packages/core/sentryWrapper.ts
  turbo.json
  yarn.lock
Labels: ⬆️ dependencies, core, foundation

#15421 chore: removed semantic-pull-requests comment
  .github/workflows/semantic-pull-requests.yml
Labels: ci

#15203 fix: unable to update app keys for google meet in settings/admin
  packages/app-store/apps.keys-schemas.generated.ts
  packages/app-store/apps.schemas.generated.ts
  packages/app-store/googlevideo/zod.ts
Labels: 🐛 bug, app-store, Medium priority, calendar-apps, admin, community

#15405 chore: standalone output experiment
  apps/web/next.config.js
Labels: core, foundation

#15431 fix: pt-16 on booker
  packages/features/bookings/Booker/Booker.tsx
Labels: 🐛 bug, bookings, core, consumer

#15432 chore: Release v4.1.12
  apps/web/package.json
Labels: core, foundation

#15425 chore: return accessTokenExpiresAt in oauth exchange and refresh
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-flow/oauth-flow.controller.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-flow/responses/KeysResponse.dto.ts
  apps/api/v2/src/modules/oauth-clients/services/oauth-flow.service.ts
Labels: platform, api, core

#14780 feat: Twipla app analytics added
  packages/app-store/apps.browser.generated.tsx
  packages/app-store/apps.keys-schemas.generated.ts
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.schemas.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/bookerApps.metadata.generated.ts
  packages/app-store/twipla/DESCRIPTION.md
  packages/app-store/twipla/api/add.ts
  packages/app-store/twipla/api/index.ts
  packages/app-store/twipla/components/EventTypeAppCardInterface.tsx
  packages/app-store/twipla/config.json
  packages/app-store/twipla/index.ts
  packages/app-store/twipla/package.json
  packages/app-store/twipla/static/1.png
  packages/app-store/twipla/static/icon.svg
  packages/app-store/twipla/zod.ts
Labels: ✨ feature, app-store, Low priority, insights, app-store-template, community

#14784 fix: Seat Attendee Rescheduling Logic
  packages/emails/lib/getICalUID.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleSeats/reschedule/attendee/attendeeRescheduleSeatedBooking.ts
  packages/features/bookings/lib/handleSeats/reschedule/rescheduleSeatedBooking.ts
  packages/features/bookings/lib/handleSeats/types.d.ts
Labels: 🐛 bug, High priority, bookings, seats, core, consumer, high-risk

#15452 fix: unexpected scrolling on event-types page
  apps/web/modules/event-types/views/event-types-single-view.tsx
Labels: 🐛 bug, event-types, community

#15171 fix: Offer seats events invites everyone regardless their availability schedule
  apps/web/playwright/booking-pages.e2e.ts
  apps/web/playwright/fixtures/users.ts
  packages/features/bookings/lib/handleNewBooking.ts
Labels: 🐛 bug, High priority, teams, bookings, seats, community

#15467 fix: added empty screen for missing platform plan
  apps/web/components/settings/platform/dashboard/NoPlatformPlan.tsx
  apps/web/pages/settings/platform/index.tsx
  apps/web/pages/settings/platform/oauth-clients/[clientId]/edit/index.tsx
  apps/web/pages/settings/platform/oauth-clients/create.tsx
Labels: ⚡ Quick Wins, Low priority, platform

#15460 fix: `AvailabilitySettings` atom shift pencil icon after input to make it wider
  packages/ui/components/editable-heading/EditableHeading.tsx
Labels: 🐛 bug, platform, ui, core

#15482 chore: v4.2.0
  apps/web/package.json
Labels: core, foundation

#15442 fix: event type uses calvideo as location instead of user default
  packages/lib/server/getDefaultLocations.test.ts
  packages/lib/server/getDefaultLocations.ts
  packages/lib/server/index.ts
  packages/trpc/server/routers/viewer/eventTypes/create.handler.ts
Labels: 🐛 bug, event-types, community

#15493 fix: Remove comment about private api for now.
  .env.example
Labels: ❗️ .env changes, core, consumer

#15435 fix: correctly assign status code on rate limit error
  apps/api/v1/lib/helpers/rateLimitApiKey.test.ts
  apps/api/v1/lib/helpers/rateLimitApiKey.ts
Labels: 🐛 bug, api, core, consumer

#14863 fix: your name translation
  packages/features/form-builder/FormBuilder.tsx
  packages/features/form-builder/FormBuilderField.tsx
  packages/features/form-builder/fieldTypes.ts
  packages/features/form-builder/schema.ts
  packages/features/form-builder/utils.ts
  packages/features/form-builder/utils/variantsConfig.ts
Labels: 🐛 bug, linear, Low priority, i18n, ui, community

#15507 refactor: only check platform billing for platforms
  apps/web/components/settings/platform/hooks/useGetUserAttributes.ts
  apps/web/lib/hooks/settings/platform/oauth-clients/usePersistOAuthClient.ts
Labels: platform, core

#15514 chore: v4.2.1
  apps/web/package.json
Labels: core, foundation

#15488 fix: modal logic for assignment reminder
  apps/web/modules/event-types/views/event-types-single-view.tsx
Labels: 🐛 bug, event-types, core, consumer

#15519 fix: typo license key env type api-v2
  apps/api/v2/src/config/app.ts
  apps/api/v2/src/config/type.ts
  apps/api/v2/src/modules/deployments/deployments.service.ts
Labels: 🐛 bug, platform, ❗️ .env changes, api, core

#15518 fix: AvailabilitySettings atom closing override window button
  packages/ui/components/dialog/Dialog.tsx
  packages/ui/components/dialog/dialog.test.tsx
Labels: 🐛 bug, Low priority, platform, i18n, ui, core

#14484 feat: Add Hungarian support
  apps/web/playwright/locale.e2e.ts
  packages/config/next-i18next.config.js
Labels: ✨ feature, Low priority, api, i18n, core, foundation

#15486 fix: Dashboard theme description in multiple languages
  apps/web/public/static/locales/ar/common.json
  apps/web/public/static/locales/cs/common.json
  apps/web/public/static/locales/da/common.json
  apps/web/public/static/locales/de/common.json
  apps/web/public/static/locales/el/common.json
  apps/web/public/static/locales/es/common.json
  apps/web/public/static/locales/hr/common.json
  apps/web/public/static/locales/ja/common.json
  apps/web/public/static/locales/ko/common.json
  apps/web/public/static/locales/nl/common.json
  apps/web/public/static/locales/no/common.json
  apps/web/public/static/locales/pl/common.json
  apps/web/public/static/locales/ro/common.json
  apps/web/public/static/locales/ru/common.json
  apps/web/public/static/locales/sr/common.json
  apps/web/public/static/locales/sv/common.json
  apps/web/public/static/locales/tr/common.json
  apps/web/public/static/locales/vi/common.json
Labels: 🐛 bug, i18n, community

#15524 fix: isChildEvent issue + loader is shown forever
  apps/web/modules/event-types/views/event-types-listing-view.tsx
  packages/lib/event-types/getEventTypesByViewer.ts
Labels: 🐛 bug, High priority, event-types, core, foundation

#15508 fix: create instant meeting error if DAILY_SCALE_PLAN is false
  packages/app-store/dailyvideo/lib/VideoApiAdapter.ts
Labels: 🐛 bug, ⚡ Quick Wins, Low priority, community

#15485 fix: Webex app not working
  packages/app-store/webex/api/callback.ts
Labels: 🐛 bug, app-store, High priority, community

#15523 fix: #15487 select arbitary start time
  packages/features/schedules/components/Schedule.tsx
Labels: 🐛 bug, Low priority, ui, core, community

#15534 fix: New CI workflow flaws in detecting the ready-for-e2e label on PRs
  .github/workflows/pr.yml
Labels: 🐛 bug, High priority, ci, core, foundation, ready-for-e2e

#15536 chore: Make ready-for-e2e label check more robust
  .github/workflows/pr.yml
Labels: High priority, ci, core, foundation, ready-for-e2e

#15541 chore: Add GH actions test branch
  .github/workflows/pr.yml
Labels: High priority, ci, core, foundation, ready-for-e2e

#15545 chore: streamline ready-for-e2e label check for PRs
  .github/workflows/pr.yml
Labels: ci, core, foundation, ready-for-e2e

#15549 fix: v2 event-types versioning
  .github/actions/cache-build/action.yml
  .github/workflows/pr-labeled.yml
  .github/workflows/pr.yml
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/controllers/event-types.controller.e2e-spec.ts
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/controllers/event-types.controller.ts
  apps/api/v2/src/lib/api-versions.ts
Labels: 🐛 bug, platform, api, core, ready-for-e2e

#15527 chore: Attempt reduction of Sentry size by treeshaking tracing
  apps/api/v1/instrumentation.ts
  apps/web/instrumentation.ts
  apps/web/next.config.js
Labels: core, foundation, ready-for-e2e

#15484 fix: Translation for Dashboard Theme box is not available in all languages #15480
  apps/web/public/static/locales/ar/common.json
  apps/web/public/static/locales/cs/common.json
  apps/web/public/static/locales/da/common.json
  apps/web/public/static/locales/es/common.json
  apps/web/public/static/locales/ja/common.json
  apps/web/public/static/locales/ko/common.json
  apps/web/public/static/locales/nl/common.json
  apps/web/public/static/locales/no/common.json
  apps/web/public/static/locales/pl/common.json
  apps/web/public/static/locales/ro/common.json
  apps/web/public/static/locales/ru/common.json
  apps/web/public/static/locales/sr/common.json
  apps/web/public/static/locales/sv/common.json
  apps/web/public/static/locales/tr/common.json
  apps/web/public/static/locales/uk/common.json
  apps/web/public/static/locales/vi/common.json
  apps/web/public/static/locales/zh-TW/common.json
  packages/features/bookings/Booker/components/EventMeta.tsx
  packages/features/bookings/components/AvailableTimes.tsx
Labels: 🐛 bug, i18n, community

#15520 feat: add monthly annual billing org form
  packages/features/ee/organizations/components/CreateANewOrganizationForm.tsx
  packages/features/ee/teams/lib/payments.test.ts
  packages/features/ee/teams/lib/payments.ts
  packages/lib/server/repository/organization.ts
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer/organizations/create.handler.ts
  packages/trpc/server/routers/viewer/organizations/create.schema.ts
  packages/trpc/server/routers/viewer/organizations/publish.handler.ts
Labels: ✨ feature, ⚡ Quick Wins, Medium priority, billing, core, consumer, ready-for-e2e

#15522 fix: SAML: invalid_code issue, missing user error signing up
  apps/web/pages/auth/saml-idp.tsx
  packages/app-store/_utils/installation.ts
  packages/features/auth/lib/next-auth-options.ts
  packages/features/ee/organizations/pages/organization.tsx
  packages/types/next-auth.d.ts
Labels: authentication, core, foundation, ready-for-e2e

#15532 refactor: loadUsers and move to separate file
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/loadUsers.ts
Labels: bookings, core, 💻 refactor, consumer, ready-for-e2e

#15563 chore: IsOrg guard api v2
  apps/api/v2/src/modules/auth/decorators/get-org/get-org.decorator.ts
  apps/api/v2/src/modules/auth/guards/organizations/is-org.guard.ts
  apps/api/v2/src/modules/organizations/controllers/organizations-teams.controller.e2e-spec.ts
  apps/api/v2/src/modules/organizations/controllers/organizations-teams.controller.ts
  apps/api/v2/src/modules/organizations/organizations.module.ts
  apps/api/v2/src/modules/organizations/organizations.repository.ts
Labels: platform, api, organizations, core, ready-for-e2e

#15560 fix: git-setup.sh to account for website default branch change
  git-setup.sh
Labels: 🐛 bug, core, consumer, ready-for-e2e

#15565 fix: stop shrinking icon when content overflows
  apps/web/components/eventtype/AssignmentWarningDialog.tsx
  packages/ui/components/dialog/Dialog.tsx
Labels: ui, core, consumer, ready-for-e2e

#15566 fix: IsOrgGuard apiv2 casing
  apps/api/v2/src/modules/auth/guards/organizations/is-org.guard.ts
  apps/api/v2/src/modules/organizations/controllers/organizations-teams.controller.ts
Labels: 🐛 bug, platform, api, core, ready-for-e2e

#15569 fix: Include `business-days-plugin` and `window` types in platform utils and types `tsconfig`s
  packages/platform/types/tsconfig.json
  packages/platform/utils/tsconfig.json
Labels: platform, core, consumer, ready-for-e2e

#15568 chore: Release v4.2.2
  apps/web/package.json
Labels: core, foundation, ready-for-e2e

#15567 chore: IsTeamInOrg guard and decorator apiv2
  apps/api/v2/src/modules/auth/decorators/get-team/get-team.decorator.ts
  apps/api/v2/src/modules/auth/guards/teams/is-team-in-org.guard.ts
  apps/api/v2/src/modules/organizations/controllers/organizations-teams.controller.e2e-spec.ts
  apps/api/v2/src/modules/organizations/controllers/organizations-teams.controller.ts
  apps/api/v2/src/modules/organizations/organizations.repository.ts
Labels: teams, platform, api, organizations, core, ready-for-e2e

#15579 chore: IsUserInOrg guard
  apps/api/v2/src/modules/auth/guards/users/is-user-in-org.guard.ts
  apps/api/v2/src/modules/organizations/organizations.repository.ts
Labels: platform, api, organizations, core, ready-for-e2e

#15556 chore: Cache timezones by calcom version
  packages/trpc/server/createNextApiHandler.ts
  packages/trpc/server/routers/publicViewer/cityTimezones.schema.ts
  packages/trpc/server/routers/publicViewer/timezones/_router.tsx
  packages/trpc/server/routers/publicViewer/timezones/cityTimezones.schema.ts
  packages/ui/components/form/timezone-select/TimezoneSelect.tsx
Labels: Medium priority, performance, core, foundation, ready-for-e2e

#15570 fix: team billing on batch operations
  packages/trpc/server/routers/viewer/organizations/bulkDeleteUsers.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMember.handler.ts
Labels: 🐛 bug, High priority, teams, billing, core, foundation, ready-for-e2e

#15555 feat: add instant meeting expiry input
  apps/web/components/eventtype/InstantEventController.tsx
  apps/web/modules/event-types/views/event-types-single-view.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/Booker/components/hooks/useBookings.ts
  packages/features/eventtypes/lib/types.ts
  packages/features/instant-meeting/handleInstantMeeting.ts
  packages/lib/event-types/getEventTypeById.ts
  packages/lib/server/eventTypeSelect.ts
  packages/lib/test/builder.ts
  packages/platform/sdk/src/endpoints/events/event-types/types.ts
  packages/platform/sdk/src/endpoints/events/types.ts
  packages/prisma/migrations/20240624195855_add_instant_meeting_expiry_offset/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer/eventTypes/types.ts
Labels: ✨ feature, ❗️ migrations, High priority, core, consumer, ready-for-e2e

#15572 fix: exclude web wrappers from dist
  packages/platform/atoms/booker/index.ts
  packages/platform/atoms/index.ts
  packages/platform/atoms/tsconfig.json
Labels: 🐛 bug, platform, core, ready-for-e2e

#15581 chore: Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: docs, core, foundation, ready-for-e2e

#15576 chore: minimum required roles guard api-v2
  apps/api/v2/src/lib/roles/constants.ts
  apps/api/v2/src/modules/auth/decorators/roles/membership-roles.decorator.ts
  apps/api/v2/src/modules/auth/decorators/roles/roles.decorator.ts
  apps/api/v2/src/modules/auth/guards/organization-roles/organization-roles.guard.ts
  apps/api/v2/src/modules/auth/guards/roles/roles.guard.ts
  apps/api/v2/src/modules/billing/controllers/billing.controller.ts
  apps/api/v2/src/modules/memberships/memberships.repository.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-clients/oauth-clients.controller.ts
  apps/api/v2/src/modules/organizations/controllers/organizations-teams.controller.e2e-spec.ts
  apps/api/v2/src/modules/organizations/controllers/organizations-teams.controller.ts
  apps/api/v2/src/modules/organizations/organizations.module.ts
  apps/api/v2/swagger/documentation.json
Labels: platform, api, core, ready-for-e2e

#15561 fix: office365video expiry_date
  packages/app-store/_utils/oauth/getTokenObjectFromCredential.ts
Labels: 🐛 bug, app-store, High priority, core, consumer, ready-for-e2e

#15585 feat: setting background color to red for remove button in profile section when hovered
  apps/web/pages/settings/my-account/profile.tsx
Labels: 🐛 bug, ✨ feature, ⚡ Quick Wins, Low priority, ui, core, community

#15583 chore: Add dynamic import and trigger captureException
  packages/lib/server/defaultResponder.ts
Labels: core, foundation, ready-for-e2e

#15593 fix: PATCH /me endpoint should capitalize timezone apiv2
  apps/api/v2/src/modules/users/inputs/update-managed-user.input.ts
Labels: 🐛 bug, platform, api, core, ready-for-e2e

#15594 fix: cancel sub when movingTeamToOrg
  packages/trpc/server/routers/viewer/organizations/createTeams.handler.ts
Labels: teams, billing, core, consumer, ready-for-e2e

#15586 feat: organizations teams endpoints apiv2
  apps/api/v2/src/modules/auth/guards/teams/is-team-in-org.guard.ts
  apps/api/v2/src/modules/organizations/controllers/organizations-teams.controller.e2e-spec.ts
  apps/api/v2/src/modules/organizations/controllers/organizations-teams.controller.ts
  apps/api/v2/src/modules/organizations/inputs/create-organization-team.input.ts
  apps/api/v2/src/modules/organizations/organizations.module.ts
  apps/api/v2/src/modules/organizations/organizations.repository.ts
  apps/api/v2/src/modules/organizations/outputs/organization-team.output.ts
  apps/api/v2/src/modules/organizations/repositories/organizations-teams.repository.ts
  apps/api/v2/src/modules/organizations/services/organizations-teams.service.ts
  apps/api/v2/swagger/documentation.json
  packages/platform/types/api.ts
Labels: ✨ feature, platform, api, organizations, core, ready-for-e2e

#15588 fix: reduce cal recording bitrate
  apps/web/modules/videos/ai/ai-transcribe.tsx
  apps/web/modules/videos/views/videos-single-view.getServerSideProps.tsx
  apps/web/modules/videos/views/videos-single-view.tsx
  apps/web/public/start-recording.svg
  apps/web/public/stop-recording.svg
  packages/app-store/dailyvideo/lib/VideoApiAdapter.ts
  packages/app-store/dailyvideo/lib/types.ts
  packages/lib/constants.ts
Labels: 🐛 bug, Medium priority, core, cal video, consumer, ready-for-e2e

#15510 feat: apple calendar connect atom
  apps/api/v2/package.json
  apps/api/v2/src/ee/calendars/calendars.interface.ts
  apps/api/v2/src/ee/calendars/calendars.module.ts
  apps/api/v2/src/ee/calendars/controllers/calendars.controller.ts
  apps/api/v2/src/ee/calendars/services/apple-calendar.service.ts
  packages/platform/atoms/cal-provider/CalProvider.tsx
  packages/platform/atoms/connect/apple/AppleConnect.tsx
  packages/platform/atoms/connect/index.ts
  packages/platform/atoms/hooks/connect/useCheck.ts
  packages/platform/atoms/hooks/connect/useConnect.ts
  packages/platform/constants/apps.ts
  packages/platform/examples/base/src/pages/index.tsx
Labels: ✨ feature, platform, core, calendar-apps, ready-for-e2e

#15601 fix: update version apiv2 platform libraries for createNewUsersConnectToOrgIfExists
  apps/api/v2/package.json
  apps/api/v2/src/modules/oauth-clients/services/oauth-clients-users.service.ts
Labels: High priority, platform, core, ready-for-e2e

#15516 fix: update z-index for intercom app launcher
  apps/web/styles/globals.css
Labels: 🐛 bug, ✨ feature, 🙋🏻‍♂️help wanted, ⚡ Quick Wins, Low priority, ui, community

#15584 feat: organization schedules endpoints
  apps/api/v2/src/ee/schedules/schedules_2024_06_11/schedules.module.ts
  apps/api/v2/src/modules/organizations/controllers/schedules/organizations-schedules.controller.ts
  apps/api/v2/src/modules/organizations/controllers/schedules/organizations-schedules.e2e-spec.ts
  apps/api/v2/src/modules/organizations/organizations.module.ts
  apps/api/v2/src/modules/organizations/repositories/organizations-schedules.repository.ts
  apps/api/v2/src/modules/organizations/services/organizations-schedules.service.ts
  apps/api/v2/src/modules/users/users.repository.ts
  apps/api/v2/swagger/documentation.json
  apps/api/v2/test/fixtures/repository/profiles.repository.fixture.ts
  packages/prisma/schema.prisma
Labels: ✨ feature, platform, api, organizations, core, ready-for-e2e

#15603 fix: E2E tests problems on PRs
  .github/actions/cache-db/action.yml
  .github/workflows/pr.yml
Labels: High priority, automated-tests, ci, core, foundation, ready-for-e2e

#15502 feat: booking no show webhook
  apps/web/components/booking/BookingListItem.tsx
  apps/web/playwright/bookings-list.e2e.ts
  apps/web/playwright/fixtures/webhooks.ts
  apps/web/playwright/lib/fixtures.ts
  apps/web/playwright/webhook.e2e.ts
  apps/web/public/static/locales/en/common.json
  packages/features/webhooks/components/WebhookForm.tsx
  packages/features/webhooks/lib/WebhookService.ts
  packages/features/webhooks/lib/constants.ts
  packages/features/webhooks/lib/sendPayload.ts
  packages/features/webhooks/lib/test/WebhookService.test.ts
  packages/prisma/migrations/20240619195146_add_booking_no_show_updated_webhook/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/publicViewer/noShow.handler.ts
Labels: ✨ feature, ❗️ migrations, High priority, bookings, webhooks, core, foundation, ready-for-e2e

#15587 fix: getPublicEventType of NonOrgUser fetch OrgUser event-type of same username
  apps/web/playwright/organization/booking.e2e.ts
  packages/features/eventtypes/lib/getPublicEvent.ts
Labels: 🐛 bug, platform, event-types, core, ready-for-e2e

#15604 chore: v4.2.3
  apps/web/package.json
Labels: core, foundation

#15598 feat: adds env variable for email sender name
  .env.example
  packages/emails/templates/account-verify-email.ts
  packages/emails/templates/admin-organization-notification.ts
  packages/emails/templates/attendee-request-email.ts
  packages/emails/templates/attendee-verify-email.ts
  packages/emails/templates/attendee-was-requested-to-reschedule-email.ts
  packages/emails/templates/booking-redirect-notification.ts
  packages/emails/templates/broken-integration-email.ts
  packages/emails/templates/change-account-email-verify.ts
  packages/emails/templates/disabled-app-email.ts
  packages/emails/templates/feedback-email.ts
  packages/emails/templates/forgot-password-email.ts
  packages/emails/templates/monthly-digest-email.ts
  packages/emails/templates/org-auto-join-invite.ts
  packages/emails/templates/organization-admin-no-slots-email.ts
  packages/emails/templates/organization-creation-email.ts
  packages/emails/templates/organization-email-verification.ts
  packages/emails/templates/organizer-attendee-cancelled-seat-email.ts
  packages/emails/templates/organizer-cancelled-email.ts
  packages/emails/templates/organizer-daily-video-download-recording-email.ts
  packages/emails/templates/organizer-daily-video-download-transcript-email.ts
  packages/emails/templates/organizer-location-change-email.ts
  packages/emails/templates/organizer-payment-refund-failed-email.ts
  packages/emails/templates/organizer-request-email.ts
  packages/emails/templates/organizer-request-reminder-email.ts
  packages/emails/templates/organizer-requested-to-reschedule-email.ts
  packages/emails/templates/organizer-rescheduled-email.ts
  packages/emails/templates/organizer-scheduled-email.ts
  packages/emails/templates/slug-replacement-email.ts
  packages/emails/templates/team-invite-email.ts
  packages/lib/constants.ts
  packages/types/environment.d.ts
  turbo.json
Labels: ✨ feature, ⚡ Quick Wins, Low priority, ❗️ .env changes, emails, community, ready-for-e2e

#15590 refactor: move functions to separate files
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/checkIfBookerEmailIsBlocked.ts
  packages/features/bookings/lib/handleNewBooking/getEventTypesFromDB.ts
  packages/features/bookings/lib/handleNewBooking/getRequiresConfirmationFlags.ts
  packages/features/bookings/lib/handleNewBooking/handleAppsStatus.ts
  packages/features/bookings/lib/handleNewBooking/handleCustomInputs.ts
  packages/features/bookings/lib/handleSeats/reschedule/owner/moveSeatedBookingToNewTimeSlot.ts
  packages/features/ee/workflows/lib/reminders/scheduleMandatoryReminder.ts
  packages/features/instant-meeting/handleInstantMeeting.ts
Labels: bookings, core, 💻 refactor, consumer, ready-for-e2e

#15609 fix: backward compatibility for old cal rooms
  apps/web/modules/videos/views/videos-single-view.getServerSideProps.tsx
  packages/app-store/dailyvideo/lib/VideoApiAdapter.ts
  packages/app-store/dailyvideo/lib/types.ts
  packages/features/get-cal-video-reference.ts
Labels: 🐛 bug, core, 🚨 urgent, cal video, consumer, ready-for-e2e

#15392 fix: Autodetection of time zone only updated default time zone
  apps/web/components/apps/AppList.tsx
  apps/web/pages/availability/index.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/eventtypes/components/BulkEditDefaultForEventsModal.tsx
  packages/features/eventtypes/components/BulkEditDefaultModal.tsx
  packages/features/settings/TimezoneChangeDialog.tsx
  packages/trpc/server/routers/loggedInViewer/updateProfile.handler.ts
  packages/trpc/server/routers/loggedInViewer/updateProfile.schema.ts
Labels: 🐛 bug, ⚡ Quick Wins, Medium priority, Stale, booking-page, core, community, community-interns

#15611 fix: Update pr.yml
  .github/workflows/pr.yml
Labels: ci, core, consumer, ready-for-e2e

#15272 feat: Support running webapp and embed-core playground on HTTPS. It allows to test SameSite cookie attribute easily in embed
  apps/web/.gitignore
  apps/web/next.config.js
  apps/web/package.json
  packages/embeds/embed-core/index.html
  packages/embeds/embed-core/package.json
  packages/embeds/embed-core/playground.ts
  packages/embeds/embed-core/vite.config.js
  yarn.lock
Labels: Medium priority, automated-tests, embed, core, security, consumer, ready-for-e2e

#15150 fix: Provide event rescheduling option before the event end time
  apps/web/modules/bookings/views/bookings-single-view.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/calendars/DatePicker.tsx
Labels: ✨ feature, ❗️ migrations, Medium priority, bookings, event-types, booking-page, community, community-interns

#15306 fix: Add fromRedirectOfNonOrgLink in getServerSideProps of private links
  apps/web/lib/d/[link]/[slug]/getServerSideProps.tsx
Labels: 🐛 bug, Medium priority, Low priority, Stale, organizations, event-types, community, ready-for-e2e
