Repository calcom/cal.com, pull requests merged in 2024-02, with the labels that each got.

#13510 fix: Skip booking limits for now
  apps/web/playwright/booking-limits.e2e.ts
Labels: core, foundation

#13482 fix: syntax error in WordPress plugin
  packages/app-store/wordpress/plugin.php
Labels: 🐛 bug, app-store, community

#13374 feat: Added new API route to get event-types using slug
  apps/api/lib/validations/shared/querySlug.ts
  apps/api/pages/api/event-types/_get.ts
Labels: ✨ feature, Medium priority, platform, 💎 Bounty, api, 🙋 Bounty claim, community, foundation

#13506 fix: Organization Signup when the username is already taken by someone else outside the organization
  packages/lib/server/username.ts
Labels: 🐛 bug, High priority, organizations, core, consumer

#13496 feat: API wrapper for invite members.
  apps/api/pages/api/invites/_post.ts
  apps/api/pages/api/invites/index.ts
Labels: teams, api, core

#13469 fix: initialized flags on event-types page
  apps/web/lib/event-types/getServerSideProps.tsx
  apps/web/pages/event-types/index.tsx
  packages/features/eventtypes/components/CreateEventTypeDialog.tsx
  packages/features/flags/config.ts
  packages/features/flags/hooks/index.ts
  packages/prisma/migrations/20240131021824_revert_20230404202721_add_feature_flag_managed_event_types/migration.sql
Labels: ❗️ migrations, Low priority, community

#13500 fix: replaced border-neutral-300 with border-subtle
  apps/web/pages/availability/[schedule].tsx
  packages/app-store/routing-forms/components/react-awesome-query-builder/widgets.tsx
  packages/app-store/routing-forms/pages/forms/[...appPages].tsx
  packages/features/insights/filters/FilterType.tsx
  packages/ui/components/command/index.tsx
  packages/ui/components/form/inputs/Input.tsx
  packages/ui/components/form/inputs/TextField.tsx
  packages/ui/components/form/switch/Switch.tsx
Labels: ⚡ Quick Wins, Low priority, ui, core

#13516 fix: spanish translation for email title
  apps/web/public/static/locales/es/common.json
Labels: Low priority, core, consumer

#13519 feat: routing form fields as variables in route
  apps/web/public/static/locales/en/common.json
  packages/app-store/routing-forms/lib/substituteVariables.ts
  packages/app-store/routing-forms/pages/route-builder/[...appPages].tsx
  packages/app-store/routing-forms/pages/routing-link/[...appPages].tsx
Labels: ✨ feature, High priority, routing-forms, core, consumer

#13454 chore: create security.txt
  .well-known/security.txt
Labels: Low priority, community

#13517 chore: use one yarn version
  package.json
  yarn.lock
Labels: community

#13449 feat: v2 api event type endpoints
  apps/api/v2/src/ee/event-types/controllers/event-types.controller.e2e-spec.ts
  apps/api/v2/src/ee/event-types/controllers/event-types.controller.ts
  apps/api/v2/src/ee/event-types/event-types.module.ts
  apps/api/v2/src/ee/event-types/event-types.repository.ts
  apps/api/v2/src/ee/event-types/inputs/create-event-type.input.ts
  apps/api/v2/src/ee/event-types/services/event-types.service.ts
  apps/api/v2/src/ee/platform-endpoints-module.ts
  apps/api/v2/src/lib/atoms/decorators/for-atom.decorator.ts
  apps/api/v2/src/modules/memberships/memberships.repository.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.e2e-spec.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.ts
  apps/api/v2/src/modules/oauth-clients/oauth-client.module.ts
  apps/api/v2/src/modules/oauth-clients/services/oauth-clients-users.service.ts
  apps/api/v2/test/fixtures/repository/event-types.repository.fixture.ts
  apps/api/v2/test/setEnvVars.ts
  packages/lib/getEventTypeById.ts
  packages/platform/libraries/index.ts
Labels: High priority, platform, core

#13486 feat: v2 api me PUT endpoint
  apps/api/v2/src/ee/event-types/constants/constants.ts
  apps/api/v2/src/ee/event-types/services/event-types.service.ts
  apps/api/v2/src/ee/me/me.controller.e2e-spec.ts
  apps/api/v2/src/ee/me/me.controller.ts
  apps/api/v2/src/ee/me/me.module.ts
  apps/api/v2/src/ee/schedules/controllers/schedules.controller.e2e-spec.ts
  apps/api/v2/src/ee/schedules/controllers/schedules.controller.ts
  apps/api/v2/src/ee/schedules/inputs/create-schedule.input.ts
  apps/api/v2/src/ee/schedules/inputs/update-schedule.input.ts
  apps/api/v2/src/ee/schedules/services/schedules.service.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.e2e-spec.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/zod/response/response.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-clients/oauth-clients.controller.e2e-spec.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-clients/oauth-clients.controller.ts
  apps/api/v2/src/modules/users/inputs/create-user.input.ts
  apps/api/v2/src/modules/users/inputs/update-user.input.ts
  apps/api/v2/src/modules/users/inputs/validators/is-time-format.ts
  apps/api/v2/src/modules/users/inputs/validators/is-time-zone.ts
  apps/api/v2/src/modules/users/inputs/validators/is-week-start.ts
  apps/api/v2/src/modules/users/users.repository.ts
  packages/platform/constants/timezones.ts
Labels: platform, core

#13416 fix: Broken routing form public links(old links) on migrating the owner user to an organization
  packages/app-store/routing-forms/enrichFormWithMigrationData.ts
  packages/app-store/routing-forms/getEventTypeRedirectUrl.ts
  packages/app-store/routing-forms/pages/router/getServerSideProps.ts
  packages/app-store/routing-forms/pages/routing-link/[...appPages].tsx
  packages/app-store/routing-forms/pages/routing-link/getServerSideProps.ts
  packages/features/ee/teams/components/TeamListItem.tsx
  packages/lib/server/repository/eventType.ts
  packages/lib/server/repository/profile.ts
  packages/lib/server/repository/user.ts
  packages/prisma/zod-utils.ts
Labels: 🐛 bug, Medium priority, High priority, routing-forms, organizations, core, consumer

#13543 chore: uses safeGet to be more explicit
  apps/web/middleware.ts
Labels: api, core, foundation

#13537 fix: don't display setup page icon for these apps
  packages/app-store/_components/AppCard.tsx
  packages/app-store/fathom/components/EventTypeAppCardInterface.tsx
  packages/app-store/ga4/components/EventTypeAppCardInterface.tsx
  packages/app-store/gtm/components/EventTypeAppCardInterface.tsx
  packages/app-store/matomo/components/EventTypeAppCardInterface.tsx
  packages/app-store/metapixel/components/EventTypeAppCardInterface.tsx
  packages/app-store/plausible/components/EventTypeAppCardInterface.tsx
Labels: High priority, core, consumer

#13534 fix: Admin shouldn't be able to update the owner details
  packages/trpc/server/routers/viewer/organizations/updateUser.handler.ts
Labels: core, consumer

#13530 fix: add emailVerified in seed script
  packages/prisma/seed.ts
Labels: Low priority, organizations, core, consumer

#13552 fix: payload cleanup
  apps/api/pages/api/event-types/[id]/_get.ts
  apps/api/pages/api/event-types/_get.ts
  apps/api/pages/api/teams/[teamId]/event-types/_get.ts
  packages/app-store/routing-forms/trpc/response.handler.ts
  packages/app-store/routing-forms/trpc/utils.ts
  packages/app-store/vital/lib/reschedule.ts
  packages/app-store/wipemycalother/lib/reschedule.ts
  packages/features/auth/lib/next-auth-options.ts
  packages/lib/server/repository/eventType.ts
  packages/lib/server/repository/membership.ts
  packages/lib/server/repository/profile.ts
  packages/lib/server/repository/team.ts
  packages/lib/server/repository/user.ts
  packages/trpc/server/routers/viewer/bookings/confirm.handler.ts
  packages/trpc/server/routers/viewer/bookings/requestReschedule.handler.ts
  packages/trpc/server/routers/viewer/eventTypes/duplicate.handler.ts
  packages/trpc/server/routers/viewer/eventTypes/util.ts
  packages/trpc/server/routers/viewer/payments.tsx
  packages/trpc/server/routers/viewer/workflows/update.handler.ts
Labels: 🐛 bug, Urgent, 📉 regressing, api, performance, core, foundation

#13557 fix: Flakiness in location tests
  apps/web/components/ui/form/LocationSelect.tsx
  apps/web/playwright/event-types.e2e.ts
Labels: Urgent, core, consumer

#13522 fix: 'Invalid event length' error for 1 hour dynamic events
  packages/lib/defaultEvents.ts
Labels: High priority, event types, community

#13564 fix: locale flaky tests
  apps/web/playwright/locale.e2e.ts
Labels: Urgent, core, consumer

#13471 fix: recurring round robin events
  apps/web/pages/api/book/recurring-event.ts
  apps/web/test/lib/getSchedule.test.ts
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  apps/web/test/utils/bookingScenario/getMockRequestDataForBooking.ts
  packages/features/bookings/lib/book-event-form/booking-to-mutation-input-mapper.tsx
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/test/recurring-event.test.ts
  packages/features/bookings/types.ts
  packages/prisma/zod-utils.ts
Labels: 🐛 bug, 🎨 needs design, Medium priority, teams, core, recurring-events, consumer

#13567 fix: 2FA falky test
  apps/web/playwright/login.2fa.e2e.ts
Labels: core, consumer

#13571 fix: org user event types with same event slug
  packages/features/eventtypes/lib/getPublicEvent.ts
Labels: Urgent, core, consumer

#13474 perf: Load bookings used for limits in bulk
  packages/core/getBusyTimes.ts
  packages/core/getUserAvailability.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer/slots/util.ts
  packages/trpc/server/routers/viewer/teams/getMemberAvailability.handler.ts
  packages/types/Calendar.d.ts
Labels: High priority, Urgent, bookings, performance, core, foundation

#13569 chore: adds failsafe auto migrations back
  .env.example
  packages/prisma/package.json
  packages/prisma/schema.prisma
Labels: ❗️ .env changes, api, core, foundation

#13495 perf: Don't process date overrides outside of requested boundaries
  apps/api/pages/api/availability/_get.ts
  apps/web/playwright/availability.e2e.ts
  packages/core/getUserAvailability.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/lib/date-ranges.test.ts
  packages/lib/date-ranges.ts
  packages/trpc/server/routers/viewer/availability/user.handler.ts
  packages/trpc/server/routers/viewer/slots/util.ts
  packages/trpc/server/routers/viewer/teams/getMemberAvailability.handler.ts
Labels: High priority, Urgent, bookings, performance, core, foundation

#13362 feat: integrate formbricks for team disband action
  .env.example
  packages/features/ee/organizations/pages/components/OtherTeamList.tsx
  packages/features/ee/organizations/pages/settings/other-team-profile-view.tsx
  packages/features/ee/teams/components/TeamInviteList.tsx
  packages/features/ee/teams/components/TeamList.tsx
  packages/features/ee/teams/pages/team-profile-view.tsx
  packages/features/shell/Shell.tsx
  packages/lib/formbricks-client.ts
  packages/lib/formbricks.ts
  packages/lib/package.json
  packages/trpc/server/routers/loggedInViewer/submitFeedback.handler.ts
  turbo.json
  yarn.lock
Labels: ✨ feature, Medium priority, ❗️ .env changes, 🚨 merge conflict, community

#13568 refactor: removed isNotAnApiCall
  apps/api/pages/api/bookings/_post.ts
  apps/web/pages/api/book/event.ts
  apps/web/pages/api/book/recurring-event.ts
  packages/features/bookings/Booker/components/hooks/useBookingForm.ts
  packages/features/bookings/Booker/components/hooks/useInitialFormValues.ts
  packages/features/bookings/lib/getBookingDataSchema.ts
  packages/features/bookings/lib/getBookingDataSchemaForApi.ts
  packages/features/bookings/lib/getBookingResponsesSchema.test.ts
  packages/features/bookings/lib/getBookingResponsesSchema.ts
  packages/features/bookings/lib/getCalEventResponses.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/instant-meeting/handleInstantMeeting.ts
  packages/prisma/zod-utils.ts
  vitest.workspace.ts
Labels: api, core, foundation

#13438 fix: Ensure event type duplication respects private link setting
  apps/web/components/eventtype/EventAdvancedTab.tsx
  packages/features/ee/managed-event-types/lib/handleChildrenEventTypes.ts
  packages/lib/generateHashedLink.ts
  packages/trpc/server/routers/viewer/eventTypes/duplicate.handler.ts
Labels: 🐛 bug, Medium priority, High priority, event-types, community

#13447 fix: filtering events bug in bookings page
  packages/trpc/server/routers/viewer/bookings/get.handler.ts
Labels: 🐛 bug, Medium priority, event types, community

#13443 feat: email confirmation on change
  apps/web/pages/api/auth/reset-password.ts
  apps/web/pages/api/auth/verify-email.ts
  apps/web/pages/auth/verify-email-change.tsx
  apps/web/pages/settings/my-account/profile.tsx
  apps/web/playwright/profile.e2e.ts
  apps/web/public/static/locales/en/common.json
  packages/emails/email-manager.ts
  packages/emails/src/templates/VerifyEmailChangeEmail.tsx
  packages/emails/src/templates/index.ts
  packages/emails/templates/change-account-email-verify.ts
  packages/features/auth/lib/verifyEmail.ts
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/loggedInViewer/updateProfile.handler.ts
Labels: 🐛 bug, High priority, 2 points, authentication, core, consumer

#13581 feat: overlay calendar busy dates events
  apps/api/v2/src/ee/calendars/calendars.ts
  apps/api/v2/src/ee/calendars/controllers/calendars.controller.ts
  apps/api/v2/src/ee/calendars/inputs/calendar-busy-times.input.ts
  apps/api/v2/src/ee/calendars/inputs/validators/isYearMonthDays.ts
  apps/api/v2/src/ee/calendars/services/calendars.ts
  apps/api/v2/src/ee/platform-endpoints-module.ts
  apps/api/v2/src/modules/credentials/credentials.repository.ts
Labels: api, core

#13579 fix: Hide branding still retains the space
  packages/features/bookings/Booker/Booker.tsx
Labels: Low priority, community

#13586 refactor: trpc get schedule handler
  packages/lib/index.ts
  packages/lib/schedules/client/transformers.ts
  packages/lib/schedules/index.ts
  packages/trpc/server/routers/viewer/availability/schedule/get.handler.ts
  packages/trpc/server/routers/viewer/availability/schedule/update.handler.ts
  packages/trpc/server/routers/viewer/availability/util.ts
Labels: High priority, platform, core

#13583 fix: 2FA OTP flaky test
  apps/web/playwright/login.2fa.e2e.ts
Labels: Urgent, core, consumer

#13307 fix: add missing title
  apps/web/app/future/bookings/[status]/page.tsx
  apps/web/app/future/event-types/page.tsx
  apps/web/app/future/insights/page.tsx
  apps/web/app/future/teams/page.tsx
  apps/web/app/future/workflows/page.tsx
  apps/web/components/apps/layouts/InstalledAppsLayout.tsx
  apps/web/modules/bookings/views/bookings-listing-view.tsx
  apps/web/modules/event-types/views/event-types-listing-view.tsx
  apps/web/pages/apps/categories/[category].tsx
  apps/web/pages/apps/categories/index.tsx
  apps/web/pages/apps/index.tsx
  apps/web/pages/availability/index.tsx
  apps/web/pages/bookings/[status].tsx
  apps/web/pages/event-types/index.tsx
  apps/web/pages/insights/index.tsx
  apps/web/pages/settings/my-account/out-of-office/index.tsx
  apps/web/pages/teams/index.tsx
  packages/app-store/routing-forms/pages/forms/[...appPages].tsx
  packages/features/ee/workflows/pages/index.tsx
  packages/features/shell/Shell.tsx
Labels: 🙋🏻‍♂️help wanted, 🧹 Improvements, ⚡ Quick Wins, linear, Low priority, 💎 Bounty, ui, 🙋 Bounty claim, community

#13310 fix: prevent duplicate calendar account linking
  apps/web/components/apps/CalendarListContainer.tsx
  apps/web/lib/hooks/useRouterQuery.ts
  apps/web/pages/apps/[slug]/index.tsx
  apps/web/public/static/locales/en/common.json
  packages/app-store/googlecalendar/api/callback.ts
  packages/app-store/office365calendar/api/callback.ts
  packages/app-store/zohocalendar/api/callback.ts
  packages/ui/components/toast/showToast.tsx
Labels: 🐛 bug, app-store, High priority, calendar-apps, community, foundation

#13588 fix: Revert event-type profile based querying
  apps/web/modules/event-types/views/event-types-listing-view.tsx
  packages/lib/server/repository/user.ts
  packages/trpc/server/routers/viewer/eventTypes/getByViewer.handler.ts
  packages/trpc/server/routers/viewer/eventTypes/getByViewer.schema.ts
Labels: Urgent, core, consumer

#13585 refactor: schedules for atom
  apps/api/v2/src/ee/schedules/controllers/schedules.controller.e2e-spec.ts
  apps/api/v2/src/ee/schedules/controllers/schedules.controller.ts
  apps/api/v2/src/ee/schedules/schedules.module.ts
  apps/api/v2/src/ee/schedules/schedules.repository.ts
  apps/api/v2/src/ee/schedules/services/response/response.service.ts
  apps/api/v2/src/ee/schedules/services/response/zod/response.ts
  packages/platform/libraries/index.ts
Labels: platform, core

#13576 test: Bookings: Add more automated tests for organization
  __checks__/organization.spec.ts
  apps/web/playwright/fixtures/emails.ts
  apps/web/playwright/fixtures/orgs.ts
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/lib/testUtils.ts
  apps/web/playwright/organization/booking.e2e.ts
  apps/web/playwright/organization/lib/inviteUser.ts
  apps/web/playwright/organization/organization-invitation.e2e.ts
  apps/web/playwright/organization/team-management.e2e.ts
  apps/web/playwright/team/expects.ts
  apps/web/playwright/teams.e2e.ts
  packages/features/eventtypes/lib/getPublicEvent.ts
Labels: Medium priority, bookings, automated-tests, organizations, core, consumer

#13535 fix: organization user shouldn't be asked for payment for a premium username
  packages/lib/server/username.ts
Labels: High priority, enterprise, organizations, core, consumer

#13597 chore: refactor handle new reccuring booking
  apps/web/pages/api/book/recurring-event.ts
  packages/features/bookings/lib/handleNewRecurringBooking.ts
Labels: api, core

#13604 fix: update valid_for_secs
  packages/app-store/dailyvideo/lib/VideoApiAdapter.ts
  packages/app-store/shimmervideo/lib/VideoApiAdapter.ts
Labels: Urgent, core, consumer

#13593 fix: Fixes teams UI load issue
  packages/features/ee/teams/components/CreateANewTeamForm.tsx
Labels: 🐛 bug, 🤔 can't reproduce, Medium priority, teams, ui, community, consumer

#13477 chore: upgrades boxyhq jackson
  apps/web/next.config.js
  apps/web/package.json
  packages/features/bookings/Booker/Booker.tsx
  packages/features/ee/sso/lib/jackson.ts
  yarn.lock
Labels: Medium priority, api, core, foundation

#13614 fix: organizer_default_conferencing_app translatable key in app location
  packages/app-store/locations.ts
Labels: High priority, api, emails, core, foundation

#13566 feat: round-robin priority ranking
  apps/web/components/eventtype/EventTeamTab.tsx
  apps/web/modules/event-types/views/event-types-single-view.tsx
  apps/web/pages/event-types/[type]/index.tsx
  apps/web/public/static/locales/en/common.json
  apps/web/public/static/locales/he/common.json
  apps/web/test/lib/team-event-types.test.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/eventtypes/components/CheckedTeamSelect.tsx
  packages/lib/getEventTypeById.ts
  packages/lib/server/getLuckyUser.ts
  packages/lib/test/builder.ts
  packages/prisma/migrations/20240206162624_add_priority_field_to_host/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/eventTypes/types.ts
  packages/trpc/server/routers/viewer/eventTypes/update.handler.ts
  packages/ui/components/form/switch/SettingsToggle.tsx
Labels: ✨ feature, ❗️ migrations, Medium priority, teams, core, consumer

#13607 feat: PLA-47 Reserve Slots Handler
  apps/api/v2/package.json
  apps/api/v2/src/ee/event-types/event-types.repository.ts
  apps/api/v2/src/ee/platform-endpoints-module.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-flow/oauth-flow.controller.ts
  apps/api/v2/src/modules/slots/controllers/slots.controller.ts
  apps/api/v2/src/modules/slots/inputs/reserve-slot.input.ts
  apps/api/v2/src/modules/slots/services/slots.service.ts
  apps/api/v2/src/modules/slots/slots.module.ts
  apps/api/v2/src/modules/slots/slots.repository.ts
Labels: platform, core

#13596 PLA-44 feat: Platform getPublicEvent
  apps/api/v2/src/ee/platform-endpoints-module.ts
  apps/api/v2/src/modules/events/controllers/events.controller.ts
  apps/api/v2/src/modules/events/events.module.ts
  apps/api/v2/src/modules/events/input/get-public-event-input.ts
Labels: platform, core

#13599 fix: Reduce payload even further.
  apps/web/modules/event-types/views/event-types-listing-view.tsx
  packages/lib/server/repository/eventType.ts
  packages/lib/server/repository/membership.ts
  packages/lib/server/repository/user.ts
  packages/prisma/seed-huge-event-types.ts
  packages/prisma/seed-utils.ts
  packages/prisma/seed.ts
  packages/trpc/server/routers/viewer/eventTypes/getByViewer.handler.ts
  packages/trpc/server/routers/viewer/eventTypes/getByViewer.schema.ts
Labels: High priority, Urgent, core, consumer

#13613 feat: booker atom bookings platform endpoints
  apps/api/v2/src/ee/bookings/bookings.module.ts
  apps/api/v2/src/ee/bookings/controllers/bookings.controller.ts
  apps/api/v2/src/ee/bookings/inputs/create-booking.input.ts
  apps/api/v2/src/ee/bookings/inputs/create-reccuring-booking.input.ts
  apps/api/v2/src/ee/platform-endpoints-module.ts
  packages/platform/libraries/index.ts
Labels: api, core

#13623 fix: settings ooo layout
  apps/web/pages/settings/my-account/out-of-office/index.tsx
Labels: ui, community, consumer

#13625 fix: oncancel modal action week layout
  packages/features/bookings/Booker/components/BookEventForm/BookFormAsModal.tsx
Labels: 🐛 bug, High priority, ui, community, consumer

#13631 fix: troubleshooter scroll
  packages/features/troubleshooter/Troubleshooter.tsx
Labels: 🐛 bug, ✅ good first issue, High priority, booking-page, core, community, consumer

#13624 fix: improvements for variables in routing-from routes
  apps/web/public/static/locales/en/common.json
  packages/app-store/routing-forms/pages/route-builder/[...appPages].tsx
Labels: core, consumer

#13622 refactor: Bump LangChain to 0.1 & update other LangChain imports
  apps/ai/package.json
  apps/ai/src/tools/createBooking.ts
  apps/ai/src/tools/deleteBooking.ts
  apps/ai/src/tools/getAvailability.ts
  apps/ai/src/tools/getBookings.ts
  apps/ai/src/tools/getEventTypes.ts
  apps/ai/src/tools/sendBookingEmail.ts
  apps/ai/src/tools/updateBooking.ts
  apps/ai/src/utils/agent.ts
  yarn.lock
Labels: Low priority, community, foundation

#13634 fix: unable to setup localy
  .env.example
Labels: High priority, ❗️ .env changes

#13637 fix: Errors due to namespacing of embed
  apps/web/components/eventtype/EventTypeSingleLayout.tsx
  apps/web/modules/event-types/views/event-types-listing-view.tsx
  packages/embeds/embed-core/src/embed.ts
Labels: High priority, core, consumer

#13632 fix: use org logo for sub teams
  packages/trpc/server/routers/viewer/eventTypes/getByViewer.handler.ts
Labels: 🧹 Improvements, Medium priority, enterprise, organizations, core, consumer

#13645 fix: Missing date ranges when specifying a specific slot time
  packages/lib/date-ranges.test.ts
  packages/lib/date-ranges.ts
Labels: 🐛 bug, Urgent, core, foundation

#13628 refactor: migrates user password to it's own table
  apps/web/pages/api/auth/changepw.ts
  apps/web/pages/api/auth/reset-password.ts
  apps/web/pages/api/auth/setup.ts
  apps/web/pages/api/auth/two-factor/totp/disable.ts
  apps/web/pages/api/auth/two-factor/totp/setup.ts
  apps/web/playwright/auth/forgot-password.e2e.ts
  apps/web/playwright/fixtures/users.ts
  packages/features/auth/lib/next-auth-options.ts
  packages/features/auth/signup/handlers/calcomHandler.ts
  packages/features/auth/signup/handlers/selfHostedHandler.ts
  packages/features/ee/users/server/trpc-router.ts
  packages/lib/test/builder.ts
  packages/lib/validateUsername.ts
  packages/prisma/migrations/20240209223121_adds_user_password/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/seed-insights.ts
  packages/prisma/seed-utils.ts
  packages/prisma/seed.ts
  packages/trpc/server/routers/loggedInViewer/deleteMe.handler.ts
  packages/trpc/server/routers/viewer/auth/changePassword.handler.ts
  packages/trpc/server/routers/viewer/auth/verifyPassword.handler.ts
  packages/trpc/server/routers/viewer/organizations/create.handler.ts
  packages/trpc/server/routers/viewer/organizations/setPassword.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/utils.ts
  packages/trpc/server/routers/viewer/teams/removeMember.handler.ts
Labels: ❗️ migrations, Medium priority, api, core, foundation

#13131 fix: loading animation of update buttons
  apps/web/pages/settings/my-account/appearance.tsx
  packages/features/settings/BookerLayoutSelector.tsx
Labels: ⚡ Quick Wins, Low priority, ui, community

#13523 fix: Collective Events: Duration parameter in link not working
  apps/web/app/future/org/[orgSlug]/team/[slug]/[type]/page.tsx
  apps/web/app/future/team/[slug]/[type]/page.tsx
  apps/web/lib/team/[slug]/[type]/getServerSideProps.tsx
  apps/web/pages/team/[slug]/[type].tsx
Labels: High priority, bookings, community

#13646 fix: Add location to `ics` file
  packages/emails/lib/generateIcsString.ts
  packages/emails/lib/test/generateIcsString.test.ts
  packages/lib/test/builder.ts
Labels: High priority, core, calendar-apps, consumer

#13650 chore: Removed Skiff from the App Store
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/skiff/DESCRIPTION.md
  packages/app-store/skiff/api/add.ts
  packages/app-store/skiff/api/index.ts
  packages/app-store/skiff/config.json
  packages/app-store/skiff/index.ts
  packages/app-store/skiff/package.json
  packages/app-store/skiff/static/1.png
  packages/app-store/skiff/static/2.png
  packages/app-store/skiff/static/3.png
  packages/app-store/skiff/static/4.png
  packages/app-store/skiff/static/5.png
  packages/app-store/skiff/static/icon.svg
  yarn.lock
Labels: app-store, Low priority

#13653 fix: make v2 run after user model changes
  apps/api/v2/src/modules/users/users.repository.ts
Labels: platform, core

#12821 fix: use destination calendar email
  apps/web/components/eventtype/EventAdvancedTab.tsx
  apps/web/modules/bookings/views/bookings-single-view.getServerSideProps.tsx
  apps/web/modules/bookings/views/bookings-single-view.tsx
  apps/web/modules/event-types/views/event-types-single-view.tsx
  apps/web/pages/api/cron/bookingReminder.ts
  apps/web/pages/api/recorded-daily-video.ts
  apps/web/public/static/locales/en/common.json
  apps/web/test/lib/handleChildrenEventTypes.test.ts
  apps/web/test/utils/bookingScenario/expects.ts
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/test/fresh-booking.test.ts
  packages/lib/defaultEvents.ts
  packages/lib/getEventTypeById.ts
  packages/lib/payment/getBooking.ts
  packages/lib/test/builder.ts
  packages/prisma/migrations/20231220152005_add_email_in_destination_calendar/migration.sql
  packages/prisma/migrations/20240205185412_add_email_field_in_booking/migration.sql
  packages/prisma/migrations/20240208075646_use_event_type_destination_calendar/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/selects/booking.ts
  packages/trpc/server/routers/loggedInViewer/connectedCalendars.handler.ts
  packages/trpc/server/routers/loggedInViewer/deleteCredential.handler.ts
  packages/trpc/server/routers/loggedInViewer/setDestinationCalendar.handler.ts
  packages/trpc/server/routers/viewer/bookings/confirm.handler.ts
  packages/trpc/server/routers/viewer/bookings/editLocation.handler.ts
  packages/trpc/server/routers/viewer/bookings/requestReschedule.handler.ts
  packages/trpc/server/routers/viewer/payments/chargeCard.handler.ts
  packages/trpc/server/routers/viewer/workflows/activateEventType.handler.ts
  packages/trpc/server/routers/viewer/workflows/update.handler.ts
Labels: 🐛 bug, ✨ feature, 🙋🏻‍♂️help wanted, ❗️ migrations, Medium priority, High priority, bookings, core, 🚨 needs approval, doc, consumer

#13657 fix: AI build
  apps/ai/package.json
  apps/api/package.json
  apps/web/package.json
  packages/app-store/stripepayment/package.json
  packages/features/ee/package.json
  packages/prisma/package.json
  packages/trpc/package.json
  yarn.lock
Labels: High priority, core, foundation

#13660 style: Update SettingsToggle.tsx
  packages/ui/components/form/switch/SettingsToggle.tsx
Labels: community

#13662 fix: amend user password migration
  packages/prisma/migrations/20240209223121_adds_user_password/migration.sql
Labels: ❗️ migrations, api, core, foundation

#13665 fix: route always selects 'custom' after saving an event redirect
  packages/app-store/routing-forms/pages/route-builder/[...appPages].tsx
Labels: routing-forms, core, consumer

#13668 fix: dont link to org url inside embeds
  packages/ui/components/avatar/Avatar.tsx
  packages/ui/components/avatar/AvatarGroup.tsx
  packages/ui/components/avatar/UserAvatarGroupWithOrg.tsx
Labels: 🐛 bug, teams, embed, booking-page, core, consumer

#13680 revert: UserPassword
  apps/web/pages/api/auth/changepw.ts
  apps/web/pages/api/auth/reset-password.ts
  apps/web/pages/api/auth/setup.ts
  apps/web/pages/api/auth/two-factor/totp/disable.ts
  apps/web/pages/api/auth/two-factor/totp/setup.ts
  apps/web/playwright/auth/forgot-password.e2e.ts
  apps/web/playwright/fixtures/users.ts
  packages/features/auth/lib/next-auth-options.ts
  packages/features/auth/signup/handlers/calcomHandler.ts
  packages/features/auth/signup/handlers/selfHostedHandler.ts
  packages/features/ee/users/server/trpc-router.ts
  packages/lib/test/builder.ts
  packages/lib/validateUsername.ts
  packages/prisma/migrations/20240209223121_adds_user_password/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/seed-insights.ts
  packages/prisma/seed-utils.ts
  packages/prisma/seed.ts
  packages/trpc/server/routers/loggedInViewer/deleteMe.handler.ts
  packages/trpc/server/routers/viewer/auth/changePassword.handler.ts
  packages/trpc/server/routers/viewer/auth/verifyPassword.handler.ts
  packages/trpc/server/routers/viewer/organizations/create.handler.ts
  packages/trpc/server/routers/viewer/organizations/setPassword.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/utils.ts
  packages/trpc/server/routers/viewer/teams/removeMember.handler.ts
Labels: ❗️ migrations, core, foundation

#13656 fix: Organizations Admin improvements
  apps/web/public/static/locales/en/common.json
  packages/features/ee/organizations/pages/settings/admin/AdminOrgPage.tsx
  packages/lib/domainManager/deploymentServices/cloudflare.ts
  packages/lib/domainManager/organization.ts
  packages/trpc/server/routers/viewer/organizations/adminDelete.handler.ts
Labels: Medium priority, core, consumer

#13685 revert: Revert UserPassword (#13680)
  apps/web/pages/api/auth/changepw.ts
  apps/web/pages/api/auth/reset-password.ts
  apps/web/pages/api/auth/setup.ts
  apps/web/pages/api/auth/two-factor/totp/disable.ts
  apps/web/pages/api/auth/two-factor/totp/setup.ts
  apps/web/playwright/auth/forgot-password.e2e.ts
  apps/web/playwright/fixtures/users.ts
  packages/features/auth/lib/next-auth-options.ts
  packages/features/auth/signup/handlers/calcomHandler.ts
  packages/features/auth/signup/handlers/selfHostedHandler.ts
  packages/features/ee/users/server/trpc-router.ts
  packages/lib/test/builder.ts
  packages/lib/validateUsername.ts
  packages/prisma/migrations/20240209223121_adds_user_password/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/seed-insights.ts
  packages/prisma/seed-utils.ts
  packages/prisma/seed.ts
  packages/trpc/server/routers/loggedInViewer/deleteMe.handler.ts
  packages/trpc/server/routers/viewer/auth/changePassword.handler.ts
  packages/trpc/server/routers/viewer/auth/verifyPassword.handler.ts
  packages/trpc/server/routers/viewer/organizations/create.handler.ts
  packages/trpc/server/routers/viewer/organizations/setPassword.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/utils.ts
  packages/trpc/server/routers/viewer/teams/removeMember.handler.ts
Labels: ❗️ migrations, api, core, foundation

#13674 fix: Video app categories page need null safety
  apps/web/pages/apps/categories/[category].tsx
Labels: ❗️ migrations, community

#13696 chore: Platform get schedule
  apps/api/v2/src/ee/event-types/event-types.repository.ts
  apps/api/v2/src/modules/slots/controllers/slots.controller.ts
  apps/api/v2/src/modules/slots/inputs/get-available-slots.input.ts
  apps/api/v2/src/modules/slots/services/slots.service.ts
Labels: platform, core

#13627 feat: Add Google Profile Photo when connecting Google Calendar
  packages/app-store/googlecalendar/api/add.ts
  packages/app-store/googlecalendar/api/callback.ts
Labels: ⚡ Quick Wins, Low priority, ui, community

#13705 fix: safely delete userPassword
  packages/features/auth/lib/next-auth-options.ts
Labels: platform, api, core

#13407 feat: store event-type filters to localStorage
  packages/features/filters/components/TeamsFilter.tsx
  packages/lib/hooks/useTypedQuery.ts
Labels: 🧹 Improvements, ⚡ Quick Wins, Low priority, event-types, community, consumer

#13713 chore: add instruction for #12821
  apps/web/components/eventtype/EventAdvancedTab.tsx
  apps/web/public/static/locales/en/common.json
Labels: Medium priority, core, consumer

#13292 refactor: Only send dirty fields for event type update call
  apps/web/components/eventtype/EventAdvancedTab.tsx
  apps/web/components/eventtype/EventAppsTab.tsx
  apps/web/components/eventtype/EventAvailabilityTab.tsx
  apps/web/components/eventtype/EventLimitsTab.tsx
  apps/web/components/eventtype/EventSetupTab.tsx
  apps/web/components/eventtype/EventTeamTab.tsx
  apps/web/components/eventtype/EventTypeSingleLayout.tsx
  apps/web/components/eventtype/InstantEventController.tsx
  apps/web/components/eventtype/RecurringEventController.tsx
  apps/web/components/eventtype/RequiresConfirmationController.tsx
  apps/web/modules/event-types/views/event-types-single-view.tsx
  apps/web/test/lib/handleChildrenEventTypes.test.ts
  packages/features/ee/managed-event-types/lib/handleChildrenEventTypes.ts
  packages/features/form-builder/FormBuilder.tsx
  packages/trpc/server/routers/viewer/eventTypes/update.handler.ts
Labels: 🐛 bug, ✨ feature, High priority, teams, enterprise, event-types, core, event types

#13718 fix: [CAL-3141] (+1) badge not aligned
  packages/ui/components/avatar/AvatarGroup.tsx
Labels: 🐛 bug, ✅ good first issue, 🙋🏻‍♂️help wanted, ⚡ Quick Wins, Low priority, ui, community

#13687 feat: v2 endpoint for availability atom timezones
  apps/api/v2/src/ee/bookings/inputs/create-booking.input.ts
  apps/api/v2/src/ee/schedules/controllers/schedules.controller.ts
  apps/api/v2/src/ee/schedules/inputs/create-schedule.input.ts
  apps/api/v2/src/ee/schedules/inputs/update-schedule.input.ts
  apps/api/v2/src/ee/schedules/services/schedules.service.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.e2e-spec.ts
  apps/api/v2/src/modules/users/inputs/validators/is-time-zone.ts
  apps/web/pages/api/trpc/timezones/[trpc].ts
  package.json
  packages/lib/cityTimezonesHandler.ts
  packages/lib/package.json
  packages/platform/constants/index.ts
  packages/platform/constants/timezones.ts
  packages/platform/libraries/index.ts
  packages/trpc/react/shared.ts
  packages/trpc/server/routers/publicViewer/_router.tsx
  packages/trpc/server/routers/publicViewer/timezones/_router.tsx
  packages/trpc/server/routers/publicViewer/timezones/cityTimezones.schema.ts
  packages/trpc/server/routers/viewer/_router.tsx
  packages/ui/components/form/timezone-select/TimezoneSelect.tsx
  yarn.lock
Labels: platform, core

#13724 chore: add toast and tooltip
  apps/web/components/eventtype/EventAdvancedTab.tsx
  apps/web/public/static/locales/en/common.json
  packages/ui/components/form/switch/Switch.tsx
Labels: core, consumer

#13676 chore: booker web wrapper
  packages/atoms/booker/Booker.docs.mdx
  packages/atoms/booker/Booker.stories.tsx
  packages/atoms/booker/Booker.tsx
  packages/atoms/booker/export.ts
  packages/atoms/booker/index.ts
  packages/atoms/booker/wrappers/BookerWebWrapper.tsx
  packages/atoms/index.ts
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/components/BookEventForm/BookEventForm.tsx
  packages/features/bookings/Booker/components/InstantBooking.tsx
  packages/features/bookings/Booker/components/LargeCalendar.tsx
  packages/features/bookings/Booker/components/OverlayCalendar/OverlayCalendar.tsx
  packages/features/bookings/Booker/components/OverlayCalendar/OverlayCalendarContinueModal.tsx
  packages/features/bookings/Booker/components/OverlayCalendar/OverlayCalendarSwitch.tsx
  packages/features/bookings/Booker/components/hooks/useBookerLayout.ts
  packages/features/bookings/Booker/components/hooks/useBookingForm.ts
  packages/features/bookings/Booker/components/hooks/useBookings.ts
  packages/features/bookings/Booker/components/hooks/useCalendars.ts
  packages/features/bookings/Booker/components/hooks/useInitialFormValues.ts
  packages/features/bookings/Booker/components/hooks/useOverlayCalendar.ts
  packages/features/bookings/Booker/components/hooks/useSlots.ts
  packages/features/bookings/Booker/components/hooks/useVerifyCode.ts
  packages/features/bookings/Booker/components/hooks/useVerifyEmail.ts
  packages/features/bookings/Booker/types.ts
  packages/features/bookings/components/VerifyCodeDialog.tsx
  packages/features/ee/organizations/components/CreateANewOrganizationForm.tsx
Labels: platform, api, core

#13722 fix: Managed children event listing for organization members
  packages/lib/server/repository/eventType.ts
  packages/trpc/server/routers/viewer/eventTypes/getByViewer.handler.ts
Labels: 🐛 bug, teams, Urgent, core, consumer

#13717 fix: team invite signup not working
  packages/lib/server/username.test.ts
  packages/lib/server/username.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/utils.ts
Labels: 🐛 bug, High priority, teams, Urgent, core, consumer

#13727 fix: attempt to fix update email flaky test
  apps/web/playwright/profile.e2e.ts
Labels: core, consumer

#13592 feat: Split-large-code-file-functions
  packages/features/bookings/lib/conflictChecker/checkForConflicts.ts
  packages/features/bookings/lib/getAllCredentialsForUsersOnEvent/getAllCredentials.ts
  packages/features/bookings/lib/getAllCredentialsForUsersOnEvent/refreshCredential.ts
  packages/features/bookings/lib/getAllCredentialsForUsersOnEvent/refreshCredentials.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleSeats/create/createNewSeat.ts
  packages/features/bookings/lib/handleSeats/reschedule/rescheduleSeatedBooking.ts
Labels: 🧹 Improvements, Low priority, automated-tests, 💻 refactor, osshack, community

#13699 feat: Implement orgs/teams logoUrls
  apps/web/modules/event-types/views/event-types-listing-view.tsx
  apps/web/pages/team/[slug].tsx
  packages/features/ee/teams/pages/team-profile-view.tsx
  packages/lib/getAvatarUrl.ts
  packages/lib/server/queries/teams/index.ts
  packages/lib/server/repository/eventType.ts
  packages/lib/server/repository/membership.ts
  packages/lib/server/uploadLogo.ts
  packages/trpc/server/routers/viewer/eventTypes/getByViewer.handler.ts
  packages/trpc/server/routers/viewer/organizations/update.handler.ts
  packages/trpc/server/routers/viewer/organizations/update.schema.ts
  packages/trpc/server/routers/viewer/teams/list.handler.ts
  packages/trpc/server/routers/viewer/teams/update.handler.ts
  packages/trpc/server/routers/viewer/teams/update.schema.ts
Labels: core, foundation

#13406 fix: double bookings on seated event
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleSeats/create/createNewSeat.ts
  packages/features/bookings/lib/handleSeats/handleSeats.ts
  packages/features/bookings/lib/handleSeats/test/handleSeats.test.ts
Labels: linear, High priority, seats, community, consumer

#13752 feat: platform useGetPublicEvent
  apps/api/v2/src/modules/events/controllers/events.controller.ts
  packages/platform/atoms/hooks/usePublicEvent.tsx
  packages/platform/libraries/index.ts
  packages/platform/types/events.ts
  packages/platform/types/index.ts
Labels: platform, api, core

#13639 fix: fix types in apps/swagger (fixes #10023 and required for successful Railway build)
  apps/swagger/lib/snippets.js
  apps/swagger/package.json
  apps/swagger/pages/_app.tsx
  apps/swagger/pages/index.tsx
Labels: 🐛 bug, Low priority, Stale, ci, foundation

#13742 fix: correct German translation
  apps/web/public/static/locales/de/common.json
Labels: Low priority, i18n, community

#13753 fix: Old username link on org user's profile.
  apps/web/modules/users/views/users-public-view.tsx
Labels: High priority, core, consumer

#13757 feat: platform use get connected calendars
  apps/api/v2/src/ee/calendars/controllers/calendars.controller.ts
  packages/platform/atoms/hooks/useConnectedCalendars.tsx
Labels: platform, api, core

#13774 chore: platform enable cors
  apps/api/v2/src/app.ts
Labels: platform, api, core

#13759 feat: platform use get calendars busy times
  apps/api/v2/src/ee/calendars/controllers/calendars.controller.ts
  packages/platform/atoms/hooks/useCalendarsBusyTimes.ts
  packages/platform/types/calendars.ts
  packages/platform/types/index.ts
  packages/platform/types/validators/isYearMonthDays.ts
Labels: platform, api, core

#13775 fix: text truncation on shell navigation items
  packages/features/shell/Shell.tsx
Labels: core, consumer

#13698 chore: Drop deprecated password column
  packages/prisma/migrations/20240213220617_drop_deprecated_passwords/migration.sql
Labels: ❗️ migrations, High priority, api, core, foundation

#13738 fix: No available users found
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/test/date-overrides.test.ts
  packages/lib/date-ranges.ts
  packages/prisma/zod-utils.test.ts
Labels: 🐛 bug, 🧹 Improvements, Urgent, core, foundation

#13790 fix: og images avatars
  apps/web/modules/users/views/users-public-view.getServerSideProps.tsx
  packages/features/auth/lib/getServerSession.ts
  packages/features/eventtypes/lib/getPublicEvent.ts
  packages/lib/OgImages.tsx
  packages/lib/constants.ts
  packages/lib/getAvatarUrl.ts
  packages/ui/components/head-seo/HeadSeo.tsx
Labels: api, core, foundation

#13791 chore: Add extra logging for no available users error
  packages/features/bookings/lib/handleNewBooking.ts
Labels: High priority, foundation

#13734 chore: Refactor feature flags
  apps/web/lib/insights/getServerSideProps.tsx
  apps/web/lib/settings/organizations/new/getServerSideProps.tsx
  apps/web/lib/signup/getServerSideProps.tsx
  apps/web/lib/team/[slug]/getServerSideProps.tsx
  packages/app-store/googlecalendar/lib/CalendarService.test.ts
  packages/app-store/googlecalendar/lib/CalendarService.ts
  packages/emails/templates/_base-email.ts
  packages/features/auth/lib/verifyEmail.ts
  packages/features/ee/organizations/pages/organization.tsx
  packages/features/flags/server/utils.ts
  packages/trpc/server/routers/loggedInViewer/updateProfile.handler.ts
Labels: platform, core, foundation

#13785 feat: platform use slots hooks
  apps/api/v2/src/modules/slots/controllers/slots.controller.ts
  apps/api/v2/src/modules/slots/inputs/remove-selected-slot.input.ts
  apps/api/v2/src/modules/slots/inputs/reserve-slot.input.ts
  apps/api/v2/src/modules/slots/services/slots.service.ts
  packages/platform/atoms/hooks/useDeleteSelectedSlot.ts
  packages/platform/atoms/hooks/useReserveSlot.ts
  packages/platform/types/slots.ts
Labels: platform, api, core

#13797 feat: platform use create bookings
  apps/api/v2/src/ee/bookings/bookings.module.ts
  apps/api/v2/src/ee/bookings/controllers/bookings.controller.ts
  apps/api/v2/src/modules/oauth-clients/services/oauth-flow.service.ts
  packages/platform/atoms/hooks/useCreateBooking.ts
  packages/platform/atoms/hooks/useCreateInstantBooking.ts
  packages/platform/atoms/hooks/useCreateRecurringBooking.ts
Labels: ❗️ migrations, platform, ❗️ .env changes, api, core

#13779 feat: Settings for dashboard theme that is separate from system
  apps/api/lib/validations/user.ts
  apps/web/lib/app-providers-app-dir.tsx
  apps/web/lib/app-providers.tsx
  apps/web/pages/settings/my-account/appearance.tsx
  apps/web/public/static/locales/en/common.json
  apps/web/test/utils/bookingScenario/getSampleUserInSession.ts
  packages/features/settings/ThemeLabel.tsx
  packages/features/shell/Shell.tsx
  packages/lib/test/builder.ts
  packages/prisma/migrations/20231201233433_add_new_user_field_app_theme/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/middlewares/sessionMiddleware.ts
  packages/trpc/server/routers/loggedInViewer/me.handler.ts
  packages/trpc/server/routers/loggedInViewer/updateProfile.schema.ts
Labels: ✨ feature, 🙋🏻‍♂️help wanted, ❗️ migrations, Low priority, ui, core, osshack, community, consumer

#13761 feat: signup redirect query param after onboarding
  apps/web/components/getting-started/steps-views/UserProfile.tsx
  apps/web/lib/signup/getServerSideProps.tsx
  apps/web/pages/signup.tsx
Labels: Medium priority, core, consumer

#13800 chore: Including original start and end dates from request in log
  packages/features/bookings/lib/handleNewBooking.ts
Labels: High priority, core, foundation

#13801 fix: No available users found near midnight
  packages/features/bookings/lib/handleNewBooking/test/complex-schedules.test.ts
  packages/lib/date-ranges.ts
Labels: High priority, bookings, core, foundation

#13807 fix: crash on signup page while inviting a new member to an org
  apps/web/lib/signup/getServerSideProps.tsx
Labels: community

#13755 fix: sdk action events
  apps/web/components/booking/CancelBooking.tsx
  apps/web/modules/bookings/views/bookings-single-view.tsx
  packages/embeds/embed-core/src/sdk-action-manager.ts
  packages/features/bookings/Booker/components/hooks/useBookings.ts
  packages/features/eventtypes/lib/getPublicEvent.ts
Labels: Medium priority, core, consumer

#13813 fix: log more info on sendEmail error
  packages/emails/templates/_base-email.ts
Labels: core, consumer

#13815 fix: Bookings API
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewRecurringBooking.ts
Labels: core, foundation

#13806 chore: Shorten "aplicaciones instaladas" to "apps instaladas"
  apps/web/public/static/locales/es/common.json
Labels: core

#13817 fix: more og avatar fixes
  packages/features/eventtypes/lib/getPublicEvent.ts
  packages/lib/OgImages.tsx
  packages/lib/constants.ts
Labels: api, core, foundation

#13802 chore: removing wrong translations about {{consoleUrl}}
  apps/web/public/static/locales/ar/common.json
  apps/web/public/static/locales/cs/common.json
  apps/web/public/static/locales/da/common.json
  apps/web/public/static/locales/de/common.json
  apps/web/public/static/locales/es/common.json
  apps/web/public/static/locales/fr/common.json
  apps/web/public/static/locales/he/common.json
  apps/web/public/static/locales/it/common.json
  apps/web/public/static/locales/ja/common.json
  apps/web/public/static/locales/ko/common.json
  apps/web/public/static/locales/nl/common.json
  apps/web/public/static/locales/no/common.json
  apps/web/public/static/locales/pl/common.json
  apps/web/public/static/locales/pt-BR/common.json
  apps/web/public/static/locales/pt/common.json
  apps/web/public/static/locales/ro/common.json
  apps/web/public/static/locales/ru/common.json
  apps/web/public/static/locales/sr/common.json
  apps/web/public/static/locales/sv/common.json
  apps/web/public/static/locales/tr/common.json
  apps/web/public/static/locales/uk/common.json
  apps/web/public/static/locales/vi/common.json
  apps/web/public/static/locales/zh-CN/common.json
  apps/web/public/static/locales/zh-TW/common.json
Labels: 🐛 bug, 🙋🏻‍♂️help wanted, Medium priority, core

#13384 feat: let org admins change usernames
  packages/features/users/components/UserTable/EditSheet/EditUserForm.tsx
  packages/lib/server/checkRegularUsername.ts
  packages/trpc/server/routers/viewer/organizations/updateUser.handler.ts
  packages/trpc/server/routers/viewer/organizations/updateUser.schema.ts
Labels: Medium priority, organizations, core

#13805 fix: Type check failure in occupiedSeats
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: core, foundation

#13824 chore: Added a period after undone
  apps/web/public/static/locales/en/common.json
Labels: ✨ feature, community

#13822 fix: New Team Members Join Org as OWNER/ADMIN
  packages/trpc/server/routers/viewer/teams/inviteMember/utils.ts
Labels: 🐛 bug, linear, High priority, teams, enterprise, organizations, community, consumer

#13829 fix: og image
  packages/lib/constants.ts
Labels: core, consumer

#13733 feat: demodesk app
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/bookerApps.metadata.generated.ts
  packages/app-store/demodesk/DESCRIPTION.md
  packages/app-store/demodesk/api/add.ts
  packages/app-store/demodesk/api/index.ts
  packages/app-store/demodesk/config.json
  packages/app-store/demodesk/index.ts
  packages/app-store/demodesk/package.json
  packages/app-store/demodesk/static/1.jpeg
  packages/app-store/demodesk/static/2.jpeg
  packages/app-store/demodesk/static/2.webp
  packages/app-store/demodesk/static/3.jpeg
  packages/app-store/demodesk/static/3.webp
  packages/app-store/demodesk/static/4.webp
  packages/app-store/demodesk/static/icon.svg
Labels: ✨ feature, ⚡ Quick Wins, Low priority, core

#13833 fix: show go back button after expiry
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/components/RedirectToInstantMeetingModal.tsx
  packages/features/bookings/Booker/components/hooks/useBookings.ts
Labels: core, consumer

#13832 fix: username overflow
  packages/features/shell/Shell.tsx
Labels: 🐛 bug, ✅ good first issue, 🙋🏻‍♂️help wanted, ⚡ Quick Wins, linear, Low priority, ui, community

#13868 fix: seed script
  packages/prisma/seed-utils.ts
Labels: Urgent, core, consumer

#13842 fix: video call url in event location for recurring events
  packages/app-store/googlecalendar/lib/CalendarService.ts
Labels: core, consumer

#13851 fix: Limit future bookings - Default is 1 day even though on UI it is 30 days
  apps/web/components/eventtype/EventLimitsTab.tsx
  apps/web/modules/event-types/views/event-types-single-view.tsx
Labels: 🐛 bug, bookings, community

#13877 fix: infinite rendering in event setup tab
  apps/web/components/eventtype/EventSetupTab.tsx
  packages/ui/form/PhoneInput.tsx
Labels: core, 🚨 urgent, consumer

#13880 fix: Embed - Flickering Header
  packages/features/bookings/Booker/components/Header.tsx
Labels: core, consumer

#13886 fix: ics-feedcalendar logo not showing
  packages/app-store/ics-feedcalendar/config.json
Labels: community

#13875 fix: missing userPrimaryEmail in workflows
  packages/features/ee/workflows/api/scheduleEmailReminders.ts
  packages/features/ee/workflows/lib/getWorkflowReminders.ts
Labels: core, consumer

#13862 fix: hover state
  apps/web/pages/team/[slug].tsx
Labels: core, consumer

#13872 fix: Fix calendar event included in the workflow, doesn't show the meeting link
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/ee/workflows/lib/reminders/emailReminderManager.ts
Labels: 🐛 bug, app-store, ⚡ Quick Wins, High priority, workflows, community, consumer

#13876 fix: remove special characters from email display name
  packages/emails/lib/sanitizeDisplayName.ts
  packages/emails/templates/_base-email.ts
  packages/emails/templates/disabled-app-email.ts
  packages/emails/templates/slug-replacement-email.ts
Labels: core, consumer

#13900 fix: Test flakiness due to unfilled name/email
  apps/web/pages/settings/my-account/profile.tsx
  apps/web/playwright/booking/addressQuestione2e/addressQuestion.e2e.ts
  apps/web/playwright/booking/allQuestions.e2e.ts
  apps/web/playwright/booking/checkboxGroupQuestion.e2e.ts
  apps/web/playwright/booking/collectiveEventType/collectiveEventType.e2e.ts
  apps/web/playwright/booking/longTextQuestion.e2e.ts
  apps/web/playwright/booking/multipleEmailQuestion.e2e.ts
  apps/web/playwright/booking/phoneQuestion.e2e.ts
  apps/web/playwright/booking/radioGroupQuestion.e2e.ts
  apps/web/playwright/booking/recurringBooking.e2e.ts
  apps/web/playwright/booking/responsiveBooking.e2e.ts
  apps/web/playwright/booking/selectQuestion.e2e.ts
  apps/web/playwright/fixtures/regularBookings.ts
  apps/web/playwright/profile.e2e.ts
  apps/web/playwright/webhook.e2e.ts
  packages/features/calendars/weeklyview/components/event/EventList.tsx
  packages/ui/components/avatar/UserAvatar.tsx
Labels: core, foundation

#13911 fix: text overflowing in username change popup
  apps/web/components/ui/UsernameAvailability/UsernameTextfield.tsx
Labels: community

#13847 fix: Currency Not Reflecting Correctly #13845
  packages/app-store/stripepayment/lib/currencyConversions.ts
  packages/lib/price.ts
Labels: 🐛 bug, linear, High priority, billing, 🚨 urgent, community

#13830 fix: invalid type check occupied seats
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: core, foundation

#13855 fix: Large padding on small screens for embedded booking widgets.
  packages/features/bookings/Booker/utils/getBookerWrapperClasses.ts
Labels: Low priority, ui, community

#13938 fix: workfow e2e tests
  apps/web/playwright/workflow.e2e.ts
Labels: core, consumer

#13940 fix: toLowercase on emailChangeWaitingForVerification
  packages/prisma/zod-utils.ts
Labels: core, consumer

#13720 feat: show top banner for broken integrations [Cal 3125]
  apps/web/public/static/locales/en/common.json
  packages/features/shell/Shell.tsx
  packages/features/users/components/InvalidAppCredentialsBanner.tsx
  packages/trpc/server/routers/loggedInViewer/checkForInvalidAppCredentials.ts
  packages/trpc/server/routers/loggedInViewer/getUserTopBanners.handler.ts
Labels: ✨ feature, 🙋🏻‍♂️help wanted, ❗️ migrations, app-store, ⚡ Quick Wins, Low priority, 💎 Bounty, 🙋 Bounty claim, community

#13892 fix: broken google account avatar fix
  packages/lib/getAvatarUrl.ts
Labels: High priority, community, foundation

#13711 fix: Google Profile Picture Update Race Condition
  packages/app-store/googlecalendar/api/add.ts
  packages/app-store/googlecalendar/api/callback.ts
  packages/app-store/googlecalendar/lib/constants.ts
Labels: Low priority, core, consumer
