Repository calcom/cal.com, pull requests merged in 2024-03, with the labels that each got.

#13939 fix: font bold font semibold
  apps/web/app/layout.tsx
  apps/web/components/PageWrapper.tsx
  packages/app-store/routing-forms/pages/routing-link/[...appPages].tsx
  packages/features/embed/Embed.tsx
  packages/features/settings/layouts/SettingsLayout.tsx
  packages/features/settings/layouts/SettingsLayoutAppDir.tsx
Labels: 🐛 bug, linear, Low priority, community

#13944 refactor: v2 user timezones
  apps/api/v2/src/modules/users/inputs/create-user.input.ts
  apps/api/v2/src/modules/users/inputs/update-user.input.ts
Labels: platform, core

#13890 fix: Update api image Dockerfile
  infra/docker/api/Dockerfile
Labels: platform, api, community

#13700 fix: Revert -> "Revert "chore: Chore team metadata table + isOrganization migration
  apps/web/lib/orgMigration.test.ts
  apps/web/lib/orgMigration.ts
  apps/web/lib/signup/getServerSideProps.tsx
  apps/web/lib/team/[slug]/getServerSideProps.tsx
  apps/web/pages/team/[slug].tsx
  apps/web/playwright/fixtures/orgs.ts
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/organization/booking.e2e.ts
  packages/features/auth/lib/next-auth-options.ts
  packages/features/auth/signup/handlers/calcomHandler.ts
  packages/features/auth/signup/handlers/selfHostedHandler.ts
  packages/features/auth/signup/utils/createOrUpdateMemberships.ts
  packages/features/auth/signup/utils/organization.ts
  packages/features/ee/organizations/api/subteams.ts
  packages/features/ee/organizations/lib/orgDomains.ts
  packages/features/ee/organizations/pages/settings/admin/AdminOrgEditPage.tsx
  packages/features/ee/organizations/pages/settings/admin/AdminOrgPage.tsx
  packages/features/ee/teams/api/upgrade.ts
  packages/features/ee/teams/components/MemberListItem.tsx
  packages/features/ee/teams/lib/payments.ts
  packages/features/filters/components/TeamsFilter.tsx
  packages/lib/createAProfileForAnExistingUser.ts
  packages/lib/entityPermissionUtils.ts
  packages/lib/server/queries/teams/index.ts
  packages/lib/server/repository/team.test.ts
  packages/lib/server/repository/team.ts
  packages/lib/server/repository/user.ts
  packages/lib/server/username.ts
  packages/lib/validateUsername.ts
  packages/prisma/migrations/20240117062434_move_org_metadata_to_org_settings/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/loggedInViewer/teamsAndUserProfilesQuery.handler.ts
  packages/trpc/server/routers/viewer/organizations/adminDelete.handler.ts
  packages/trpc/server/routers/viewer/organizations/adminGet.handler.ts
  packages/trpc/server/routers/viewer/organizations/adminGetAll.handler.ts
  packages/trpc/server/routers/viewer/organizations/adminUpdate.handler.ts
  packages/trpc/server/routers/viewer/organizations/adminUpdate.schema.ts
  packages/trpc/server/routers/viewer/organizations/adminVerify.handler.ts
  packages/trpc/server/routers/viewer/organizations/checkIfOrgNeedsUpgrade.handler.ts
  packages/trpc/server/routers/viewer/organizations/create.handler.ts
  packages/trpc/server/routers/viewer/organizations/update.schema.ts
  packages/trpc/server/routers/viewer/teams/createInvite.handler.ts
  packages/trpc/server/routers/viewer/teams/delete.handler.ts
  packages/trpc/server/routers/viewer/teams/getUpgradeable.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMember.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMemberUtils.test.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/utils.ts
  packages/trpc/server/routers/viewer/teams/list.handler.ts
  packages/trpc/server/routers/viewer/teams/listOwnedTeams.handler.ts
  packages/trpc/server/routers/viewer/teams/removeMember.handler.ts
  packages/trpc/server/routers/viewer/teams/resendInvitation.handler.ts
  packages/trpc/server/routers/viewer/webhook/getByViewer.handler.ts
Labels: ❗️ migrations, core, consumer, high-risk

#13949 fix: Add missing lockefile from Jelly app
  yarn.lock
Labels: core, consumer

#13678 feat: Implement secondary email
  apps/web/components/eventtype/EventAdvancedTab.tsx
  apps/web/components/settings/CustomEmailTextField.tsx
  apps/web/components/settings/SecondaryEmailConfirmModal.tsx
  apps/web/components/settings/SecondaryEmailModal.tsx
  apps/web/modules/event-types/views/event-types-single-view.tsx
  apps/web/pages/api/auth/verify-email.ts
  apps/web/pages/settings/my-account/profile.tsx
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/profile.e2e.ts
  apps/web/public/static/locales/en/common.json
  apps/web/test/lib/handleChildrenEventTypes.test.ts
  packages/app-store/ics-feedcalendar/config.json
  packages/emails/templates/account-verify-email.ts
  packages/features/auth/lib/verifyEmail.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/lib/defaultEvents.ts
  packages/lib/getEventTypeById.ts
  packages/lib/test/builder.ts
  packages/prisma/migrations/20240213081819_add_secondary_email/migration.sql
  packages/prisma/migrations/20240221051147_link_secondary_email_with_token/migration.sql
  packages/prisma/migrations/20240222120917_link_secondary_emails_with_events/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/loggedInViewer/_router.tsx
  packages/trpc/server/routers/loggedInViewer/addSecondaryEmail.handler.ts
  packages/trpc/server/routers/loggedInViewer/addSecondaryEmail.schema.ts
  packages/trpc/server/routers/loggedInViewer/me.handler.ts
  packages/trpc/server/routers/loggedInViewer/updateProfile.handler.ts
  packages/trpc/server/routers/loggedInViewer/updateProfile.schema.ts
  packages/trpc/server/routers/viewer/auth/_router.tsx
  packages/trpc/server/routers/viewer/auth/resendVerifyEmail.handler.ts
  packages/trpc/server/routers/viewer/auth/resendVerifyEmail.schema.ts
  packages/trpc/server/routers/viewer/eventTypes/update.handler.ts
  packages/ui/components/form/index.ts
  packages/ui/components/form/inputs/HintOrErrors.tsx
  packages/ui/components/form/inputs/InputError.tsx
  packages/ui/index.tsx
Labels: ❗️ migrations, Medium priority, community

#13818 refactor: `CreateANewTeamForm`
  apps/web/pages/settings/teams/new/index.tsx
  packages/features/ee/teams/components/CreateANewTeamForm.tsx
Labels: Medium priority, core, consumer

#13837 fix: OAuth client form improvements
  apps/web/pages/settings/organizations/platform/oauth-clients/components/OAuthClientForm.tsx
  apps/web/public/static/locales/en/common.json
  packages/platform/constants/permissions.ts
Labels: platform, core

#13966 chore: hide terms and privacy on self-hosted
  packages/features/bookings/Booker/components/BookEventForm/BookEventForm.tsx
Labels: 🐛 bug, ⚡ Quick Wins, Low priority, self-hosting, ❓ needs spec, core

#13953 refactor: Removed use of depracted functions from langchain
  apps/ai/src/utils/agent.ts
Labels: Low priority, 💻 refactor, community

#13968 fix: add org settings into seed
  packages/prisma/seed.ts
Labels: core, consumer

#13917 fix: email embed for org
  apps/web/test/lib/getSchedule.test.ts
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  packages/features/bookings/Booker/utils/event.ts
  packages/features/embed/Embed.tsx
  packages/features/schedules/lib/use-schedule/useSchedule.ts
  packages/trpc/server/routers/viewer/slots/types.ts
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: 🐛 bug, High priority, embed, core, consumer

#13969 refactor: check organizationId primarily on user profile
  apps/api/v2/src/ee/calendars/controllers/calendars.controller.ts
  apps/api/v2/src/ee/event-types/controllers/event-types.controller.ts
  apps/api/v2/src/ee/event-types/event-types.repository.ts
  apps/api/v2/src/ee/event-types/services/event-types.service.ts
  apps/api/v2/src/ee/me/me.controller.ts
  apps/api/v2/src/ee/provider/provider.controller.ts
  apps/api/v2/src/ee/schedules/controllers/schedules.controller.ts
  apps/api/v2/src/modules/auth/guards/organization-roles/organization-roles.guard.ts
  apps/api/v2/src/modules/auth/strategies/access-token/access-token.strategy.ts
  apps/api/v2/src/modules/users/users.repository.ts
Labels: platform, core

#13970 chore: Increase API rate limit
  packages/lib/rateLimit.ts
Labels: High priority, api, core, foundation

#13950 chore: Add index to Team.parentId
  packages/prisma/migrations/20240229154858_add_insights_db_indexes/migration.sql
  packages/prisma/schema.prisma
Labels: ❗️ migrations, High priority, core, foundation

#13907 chore: Add credential sync secret when requesting a token
  .env.example
  apps/web/pages/api/webhook/app-credential.ts
  packages/app-store/_utils/oauth/refreshOAuthTokens.ts
  packages/lib/constants.ts
  turbo.json
Labels: Medium priority, ❗️ .env changes, core, consumer, high-risk

#13828 chore: remove CF-region
  packages/trpc/server/routers/publicViewer/countryCode.handler.ts
Labels: Medium priority, core, consumer

#13859 feat: improvement org member list
  packages/features/users/components/UserTable/UserListTable.tsx
  packages/trpc/server/routers/viewer/organizations/getTeams.handler.ts
  packages/ui/components/table/TableNew.tsx
Labels: ✨ feature, Medium priority, organizations, community

#13840 fix: Bug with recurring bookings with seats enabled
  packages/features/bookings/lib/book-event-form/booking-to-mutation-input-mapper.tsx
Labels: 🐛 bug, Medium priority, seats, recurring-events, community

#13858 fix: resolve TS errors to build v2 for prod
  packages/features/insights/server/trpc-router.ts
  packages/trpc/react/trpc.ts
  packages/trpc/server/createContext.ts
  packages/trpc/server/routers/viewer/sso/get.handler.ts
Labels: Medium priority, platform, core

#13675 fix: Organization Migration - Prevent the redirected username from being claimed by others.
  apps/web/lib/orgMigration.ts
  apps/web/playwright/change-username.e2e.ts
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/organization/organization-invitation.e2e.ts
  packages/features/auth/signup/handlers/calcomHandler.ts
  packages/features/auth/signup/handlers/selfHostedHandler.ts
  packages/features/ee/teams/components/TeamListItem.tsx
  packages/features/ee/teams/components/TeamsListing.tsx
  packages/features/ee/teams/lib/payments.ts
  packages/lib/entityPermissionUtils.ts
  packages/lib/server/checkRegularUsername.ts
  packages/lib/server/checkUsername.ts
  packages/lib/server/repository/user.ts
  packages/lib/server/username.ts
  packages/trpc/server/routers/viewer/eventTypes/getByViewer.handler.ts
  packages/trpc/server/routers/viewer/teams/acceptOrLeave.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMember.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/utils.ts
Labels: Medium priority, organizations, core, organizations-2024-Q1, consumer

#13888 fix: team event type error when when no one is assigned
  packages/features/bookings/Booker/components/BookEventForm/BookEventForm.tsx
  packages/features/bookings/Booker/components/Header.tsx
  packages/features/bookings/Booker/components/hooks/useBookings.ts
  packages/features/eventtypes/lib/getPublicEvent.ts
  packages/trpc/server/routers/viewer/eventTypes/create.handler.ts
Labels: 🐛 bug, High priority, core, foundation, consumer

#13986 fix: add the X-Cal-Signature-256 header to MEETING_ENDED webhook requests
  packages/features/webhooks/lib/cron.ts
  packages/features/webhooks/lib/sendPayload.ts
Labels: 🐛 bug, webhooks, community

#13990 fix: Email Embed for team event types
  apps/web/components/eventtype/EventTypeSingleLayout.tsx
  apps/web/playwright/teams.e2e.ts
  packages/features/bookings/components/AvailableTimes.tsx
  packages/features/embed/Embed.tsx
Labels: 🐛 bug, High priority, embed, emails, core, consumer

#13991 chore: Reduce insights range to 7 days
  packages/features/insights/context/FiltersProvider.tsx
Labels: High priority, insights, performance, core, foundation

#13984 refactor: standardize v2 api returned data
  apps/api/v2/src/ee/event-types/controllers/event-types.controller.e2e-spec.ts
  apps/api/v2/src/ee/event-types/controllers/event-types.controller.ts
  apps/api/v2/src/ee/me/me.controller.ts
  packages/platform/atoms/availability/wrappers/PlatformAvailabilitySettingsWrapper.tsx
  packages/platform/atoms/hooks/useMe.ts
  packages/platform/atoms/hooks/useTimezone.ts
  packages/platform/atoms/hooks/useUpdateUserTimezone.ts
Labels: platform, core

#13864 feat: atoms typescript build
  packages/platform/atoms/package.json
  packages/platform/atoms/tsconfig.json
  packages/platform/atoms/vite.config.ts
Labels: Medium priority, platform, core

#13804 feat: V2 api swagger
  apps/api/v2/nest-cli.json
  apps/api/v2/package.json
  apps/api/v2/src/lib/response/response.dto.ts
  apps/api/v2/src/main.ts
  apps/api/v2/src/modules/bookings/booking.module.ts
  apps/api/v2/src/modules/bookings/booking.repository.ts
  apps/api/v2/src/modules/bookings/controllers/bookings/bookings.controller.ts
  apps/api/v2/src/modules/bookings/inputs/create-booking.input.ts
  apps/api/v2/src/modules/endpoints.module.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-clients/oauth-clients.controller.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-clients/responses/CreateOAuthClientResponse.dto.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-clients/responses/GetOAuthClientResponse.dto.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-clients/responses/GetOAuthClientsResponse.dto.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-flow/oauth-flow.controller.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-flow/responses/KeysResponse.dto.ts
  apps/api/v2/swagger/copy-swagger-module.ts
  apps/api/v2/swagger/documentation.json
  yarn.lock
Labels: Medium priority, platform, core

#13960 fix: unable to remove single recurring instance from gCal
  packages/app-store/googlecalendar/lib/CalendarService.ts
Labels: 🐛 bug, app-store, linear, Medium priority, recurring events, community

#11169 feat: SCIM 2.0 Automatic User provisioning
  apps/web/pages/api/scim/v2.0/[...directory].ts
  apps/web/pages/api/trpc/dsync/[trpc].ts
  apps/web/pages/settings/organizations/dsync.tsx
  apps/web/pages/settings/teams/new/index.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/ee/dsync/components/ConfigureDirectorySync.tsx
  packages/features/ee/dsync/components/CreateDirectory.tsx
  packages/features/ee/dsync/components/DirectoryInfo.tsx
  packages/features/ee/dsync/lib/createUserAndInviteToOrg.ts
  packages/features/ee/dsync/lib/directoryProviders.ts
  packages/features/ee/dsync/lib/inviteExistingUserToOrg.ts
  packages/features/ee/dsync/lib/removeUserFromOrg.ts
  packages/features/ee/dsync/page/team-dsync-view.tsx
  packages/features/ee/sso/lib/jackson.ts
  packages/features/ee/teams/components/CreateANewTeamForm.tsx
  packages/features/ee/teams/lib/removeMember.ts
  packages/features/settings/layouts/SettingsLayout.tsx
  packages/prisma/migrations/20240220151951_add_dsync_data/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/react/shared.ts
  packages/trpc/react/trpc.ts
  packages/trpc/server/routers/viewer/_router.tsx
  packages/trpc/server/routers/viewer/dsync/_router.tsx
  packages/trpc/server/routers/viewer/dsync/create.handler.ts
  packages/trpc/server/routers/viewer/dsync/create.schema.ts
  packages/trpc/server/routers/viewer/dsync/delete.handler.ts
  packages/trpc/server/routers/viewer/dsync/delete.schema.ts
  packages/trpc/server/routers/viewer/dsync/get.handler.ts
  packages/trpc/server/routers/viewer/dsync/get.schema.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMember.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/utils.ts
  packages/trpc/server/routers/viewer/teams/removeMember.handler.ts
Labels: ✨ feature, 🚧 wip / in the making, ❗️ migrations, High priority, enterprise, ❗️ .env changes, organizations, osshack, community, high-risk

#13995 fix: missing videoCallUrl in metadata for static link based video apps
  packages/features/bookings/lib/handleNewBooking.ts
Labels: 🐛 bug, workflows, emails, core, consumer

#14002 fix: slugify from creating double+ dashes
  packages/lib/slugify.test.ts
  packages/lib/slugify.ts
Labels: 🐛 bug, High priority, booking-page, core, 🚧 wip / in the making, consumer

#13962 fix: Banner text not showing correctly in light mode
  packages/features/tips/UpgradeTip.tsx
Labels: 🐛 bug, linear, Low priority, ui, community

#13918 feat: docker build for v2
  apps/api/v2/.dockerignore
  apps/api/v2/Dockerfile
Labels: Medium priority, platform, core

#14008 fix: add future team members toggle
  packages/trpc/server/routers/loggedInViewer/updateProfile.handler.ts
Labels: 🐛 bug, High priority, community

#14007 fix: duplicate event types
  apps/web/components/eventtype/EventAdvancedTab.tsx
  apps/web/playwright/event-types.e2e.ts
  apps/web/public/static/locales/en/common.json
  packages/features/eventtypes/components/DuplicateDialog.tsx
  packages/trpc/server/routers/viewer/eventTypes/duplicate.handler.ts
Labels: 🐛 bug, High priority, event-types, core, 🚧 wip / in the making, consumer

#14017 build: adds action to manually remove faulty cache entries
  .github/workflows/delete-buildjet-cache.yml
Labels: api, core, foundation

#13996 fix: Implement new avatars in insights
  packages/features/insights/components/TotalBookingUsersTable.tsx
  packages/features/insights/server/trpc-router.ts
Labels: Medium priority, insights, core, foundation

#14021 fix: avatar upload flakyness
  apps/web/playwright/settings/upload-avatar.e2e.ts
Labels: api, core, foundation

#14030 fix: seed organization
  packages/prisma/seed.ts
Labels: core, 🚨 urgent, consumer

#14035 fix: Broken timezone-select.test.tsx after DST change
  packages/ui/components/form/timezone-select/timezone-select.test.tsx
Labels: High priority, core, foundation

#14032 fix: update handler
  packages/trpc/server/routers/loggedInViewer/updateProfile.handler.ts
Labels: Urgent, core, consumer

#14013 feat: add pending to role filter
  packages/features/users/components/UserTable/UserListTable.tsx
Labels: ✨ feature, Medium priority, organizations, community

#14031 feat: gtm push signup event
  apps/web/components/PageWrapper.tsx
  apps/web/pages/signup.tsx
  packages/lib/gtm.ts
  turbo.json
Labels: core, consumer

#14038 chore: added ooo tip to sidebar
  packages/features/tips/Tips.tsx
Labels: core

#14027 fix: Dsync bugs
  packages/features/ee/dsync/components/ConfigureDirectorySync.tsx
  packages/features/ee/dsync/components/CreateDirectory.tsx
  packages/trpc/server/routers/viewer/dsync/create.handler.ts
  packages/trpc/server/routers/viewer/dsync/create.schema.ts
  packages/trpc/server/routers/viewer/dsync/delete.handler.ts
Labels: High priority, core, consumer

#14041 fix: org banner
  apps/web/playwright/settings/upload-avatar.e2e.ts
  packages/lib/server/uploadLogo.ts
  packages/prisma/migrations/20240308214010_add_is_banner_in_avatar/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/loggedInViewer/updateProfile.handler.ts
  packages/trpc/server/routers/viewer/organizations/update.handler.ts
  packages/ui/components/form/timezone-select/timezone-select.test.tsx
Labels: ❗️ migrations, High priority, core, consumer

#13934 chore: use availability settings atom and fix useTimezone platform hook
  apps/web/pages/availability/[schedule].tsx
  packages/platform/atoms/availability/AvailabilitySettings.tsx
  packages/platform/atoms/hooks/useTimezone.ts
Labels: Medium priority, platform, core

#12320 feat: Managed Events V2
  apps/web/components/eventtype/EventAdvancedTab.tsx
  apps/web/components/eventtype/EventAppsTab.tsx
  apps/web/components/eventtype/EventAvailabilityTab.tsx
  apps/web/components/eventtype/EventLimitsTab.tsx
  apps/web/components/eventtype/EventSetupTab.tsx
  apps/web/components/eventtype/EventTeamTab.tsx
  apps/web/components/eventtype/EventTypeSingleLayout.tsx
  apps/web/components/eventtype/EventWebhooksTab.tsx
  apps/web/components/eventtype/InstantEventController.tsx
  apps/web/components/eventtype/RecurringEventController.tsx
  apps/web/components/eventtype/RequiresConfirmationController.tsx
  apps/web/modules/event-types/views/event-types-listing-view.tsx
  apps/web/modules/event-types/views/event-types-single-view.tsx
  apps/web/pages/event-types/[type]/index.tsx
  apps/web/playwright/managed-event-types.e2e.ts
  apps/web/playwright/managedBooking/advancedOptions.e2e.ts
  apps/web/public/static/locales/en/common.json
  apps/web/test/lib/handleChildrenEventTypes.test.ts
  packages/features/ee/managed-event-types/hooks/useLockedFieldsManager.tsx
  packages/features/ee/managed-event-types/lib/handleChildrenEventTypes.ts
  packages/features/ee/workflows/components/EventWorkflowsTab.tsx
  packages/features/ee/workflows/components/WorkflowDetailsPage.tsx
  packages/features/eventtypes/components/CreateEventTypeDialog.tsx
  packages/features/eventtypes/lib/types.ts
  packages/prisma/zod-utils.ts
  packages/ui/components/alert/Alert.tsx
  packages/ui/components/form/switch/SettingsToggle.tsx
  packages/ui/components/form/switch/Switch.tsx
Labels: ✨ feature, linear, High priority, teams, enterprise, 2 points, core, event types

#14056 fix: Timezone Select invalid labels as DST unsupported in spacetime
  apps/web/test/lib/getTimezone.test.ts
  packages/lib/timezone.ts
  packages/ui/components/form/timezone-select/timezone-select.test.tsx
Labels: core, foundation

#14059 fix: v2 api TS fixes
  apps/api/v2/src/ee/event-types/controllers/event-types.controller.ts
  apps/api/v2/src/ee/schedules/controllers/schedules.controller.e2e-spec.ts
  apps/api/v2/src/ee/schedules/controllers/schedules.controller.ts
  packages/platform/types/schedules.ts
Labels: platform, core

#14018 fix: Booking confirmation: Cancelled event icon regression
  apps/web/modules/bookings/views/bookings-single-view.tsx
  apps/web/styles/globals.css
Labels: 🐛 bug, Low priority, 📉 regressing, 🚧 wip / in the making, community

#14047 fix: update to `cancel_event` dictionary key in an event related context
  apps/web/components/booking/BookingListItem.tsx
Labels: ⚡ Quick Wins, Medium priority, community

#14063 chore: remove network idle from test
  apps/web/playwright/teams.e2e.ts
Labels: core, consumer

#14011 fix: pending payment in mobile
  apps/web/components/booking/BookingListItem.tsx
Labels: 🐛 bug, Medium priority, bookings, core, consumer

#13591 fix: view team bookings
  apps/web/playwright/bookings-list.e2e.ts
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/lib/testUtils.ts
  apps/web/playwright/organization/booking-list.e2e.ts
  packages/trpc/server/routers/viewer/bookings/get.handler.ts
Labels: High priority, teams, 💰 Rewarded, bookings, community, foundation

#14034 fix: username inconsistency
  packages/trpc/server/routers/loggedInViewer/updateProfile.handler.ts
Labels: 🐛 bug, Low priority, community

#13659 fix: open reporting in new tab full screen
  packages/app-store/routing-forms/components/RoutingNavBar.tsx
  packages/app-store/routing-forms/pages/reporting/[...appPages].tsx
  packages/app-store/routing-forms/playwright/tests/basic.e2e.ts
  packages/ui/components/navigation/tabs/HorizontalTabItem.tsx
Labels: ✨ feature, ⚡ Quick Wins, Low priority, routing-forms, ui, core, consumer

#13693 feat: new privacy settings for orgs
  apps/web/lib/team/[slug]/getServerSideProps.tsx
  apps/web/pages/settings/organizations/privacy.tsx
  apps/web/pages/team/[slug].tsx
  apps/web/public/static/locales/en/common.json
  packages/features/ee/organizations/pages/settings/members.tsx
  packages/features/ee/organizations/pages/settings/privacy.tsx
  packages/features/settings/layouts/SettingsLayout.tsx
  packages/lib/server/queries/teams/index.ts
  packages/trpc/server/routers/viewer/organizations/listMembers.handler.ts
  packages/trpc/server/routers/viewer/teams/get.handler.ts
Labels: ✨ feature, 🎨 needs design, Medium priority, High priority, enterprise, core

#14039 fix: event length in webhook payload
  packages/features/bookings/lib/handleNewBooking.ts
Labels: ⚡ Quick Wins, Low priority, webhooks, core, consumer

#14025 fix: metadata for seats in webhooks
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleSeats/handleSeats.ts
  packages/features/bookings/lib/handleSeats/test/handleSeats.test.ts
Labels: 🐛 bug, Medium priority, seats, webhooks, core, consumer

#14022 chore: add pt-BR translations
  apps/web/public/static/locales/en/common.json
  apps/web/public/static/locales/pt-BR/common.json
Labels: ⚡ Quick Wins, Low priority, i18n, community

#14044 fix: Create team events using admin token
  apps/api/pages/api/event-types/_utils/checkTeamEventEditPermission.ts
Labels: 🐛 bug, Medium priority, platform, api, event-types, community

#14066 revert: "fix: view team bookings (#13591)"
  apps/web/playwright/bookings-list.e2e.ts
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/lib/testUtils.ts
  apps/web/playwright/organization/booking-list.e2e.ts
  packages/trpc/server/routers/viewer/bookings/get.handler.ts
Labels: core, foundation

#14073 fix: me module dependencies
  apps/api/v2/src/ee/me/me.module.ts
Labels: platform, ❗️ .env changes, core

#13843 fix: hide hidden fields on booking page
  apps/web/modules/bookings/views/bookings-single-view.getServerSideProps.tsx
  apps/web/test/utils/bookingScenario/expects.ts
  packages/emails/src/components/UserFieldsResponses.tsx
  packages/emails/src/templates/BaseScheduledEmail.tsx
  packages/emails/src/templates/OrganizerPaymentRefundFailedEmail.tsx
  packages/emails/src/templates/OrganizerScheduledEmail.tsx
  packages/features/bookings/lib/getCalEventResponses.ts
  packages/lib/getLabelValueMapFromResponses.ts
  packages/types/Calendar.d.ts
Labels: 🐛 bug, ✨ feature, Medium priority, core, consumer

#14071 chore: update to see webhook creation error handling to see error in prod
  packages/app-store/paypal/lib/Paypal.ts
Labels: core, consumer

#13988 fix: Remove the right date override on removal
  apps/web/pages/availability/[schedule].tsx
  apps/web/playwright/availability.e2e.ts
  apps/web/public/static/locales/en/common.json
  package.json
  packages/features/schedules/components/DateOverrideList.test.tsx
  packages/features/schedules/components/DateOverrideList.tsx
  packages/features/timezone-buddy/components/AvailabilityEditSheet.tsx
  packages/lib/getClientErrorFromUnknown.ts
  setupVitest.ts
  vitest.workspace.ts
  yarn.lock
Labels: 🐛 bug, Medium priority, High priority, core, foundation, consumer

#13924 fix: Do not refund payments when cancelling bookings
  apps/web/playwright/integrations-stripe.e2e.ts
  packages/features/bookings/lib/handleCancelBooking.ts
Labels: 🧹 Improvements, Medium priority, billing, core, consumer

#14067 fix: Get `dsyncData` based on database
  packages/features/ee/dsync/components/ConfigureDirectorySync.tsx
  packages/prisma/migrations/20240313151954_connect_dsync_data_to_org_settings_org_id/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/dsync/create.handler.ts
  packages/trpc/server/routers/viewer/dsync/get.handler.ts
Labels: ❗️ migrations, core, consumer

#14000 feat: lock event types for org users
  apps/web/components/eventtype/EventTypeSingleLayout.tsx
  apps/web/modules/event-types/views/event-types-listing-view.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/ee/organizations/pages/components/LockEventTypeSwitch.tsx
  packages/features/ee/organizations/pages/settings/general.tsx
  packages/lib/getEventTypeById.ts
  packages/lib/server/repository/profile.ts
  packages/prisma/migrations/20240304093822_lock_eventtype_creation_for_orgs/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/seed.ts
  packages/trpc/server/routers/viewer/eventTypes/create.handler.ts
  packages/trpc/server/routers/viewer/eventTypes/getByViewer.handler.ts
  packages/trpc/server/routers/viewer/organizations/list.handler.ts
  packages/trpc/server/routers/viewer/organizations/update.handler.ts
  packages/trpc/server/routers/viewer/organizations/update.schema.ts
Labels: ❗️ migrations, Medium priority, core, consumer

#14081 fix: A bug fix
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 🐛 bug, ✅ good first issue, docs, community

#14074 feat: check v2 request origin
  apps/api/v2/src/ee/schedules/controllers/schedules.controller.e2e-spec.ts
  apps/api/v2/src/modules/auth/strategies/access-token/access-token.strategy.ts
Labels: platform, core

#14091 fix: date overrides typing issue in `AvailabilitySettings` atom
  packages/platform/atoms/availability/wrappers/PlatformAvailabilitySettingsWrapper.tsx
Labels: platform, core

#14093 fix: don't show 'send event details to' for team events
  apps/web/components/eventtype/EventAdvancedTab.tsx
Labels: core, consumer

#14088 fix: v2 e2e tests
  apps/api/v2/package.json
  apps/api/v2/src/ee/gcal/gcal.controller.e2e-spec.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.e2e-spec.ts
Labels: platform, core

#14072 fix: Avoid CSP related warnings in console on booking pages.
  .env.example
  apps/web/lib/csp.ts
Labels: 🐛 bug, linear, Medium priority, ❗️ .env changes, embed, core, consumer

#13963 refactor: Moving credential syncing to API
  .env.example
  apps/api/lib/helpers/verifyCredentialSyncEnabled.ts
  apps/api/lib/helpers/withMiddleware.ts
  apps/api/lib/validations/credential-sync.ts
  apps/api/pages/api/credential-sync/_delete.ts
  apps/api/pages/api/credential-sync/_get.ts
  apps/api/pages/api/credential-sync/_patch.ts
  apps/api/pages/api/credential-sync/_post.ts
  apps/api/pages/api/credential-sync/index.ts
  packages/app-store/_utils/oauth/parseRefreshTokenResponse.ts
  packages/lib/constants.ts
  turbo.json
Labels: ✨ feature, Medium priority, ❗️ .env changes, core, consumer

#14049 feat: enable user control over timezone changes and helpers for query params
  packages/platform/atoms/cal-provider/BaseCalProvider.tsx
  packages/platform/atoms/cal-provider/CalProvider.tsx
  packages/platform/atoms/hooks/useTimezone.ts
  packages/platform/atoms/lib/getQueryParam.ts
  packages/platform/atoms/lib/setQueryParam.ts
Labels: Medium priority, platform, core

#14116 fix: deprecated code in new credential sync endpoints
  apps/api/pages/api/credential-sync/_delete.ts
  apps/api/pages/api/credential-sync/_get.ts
  apps/api/pages/api/credential-sync/_patch.ts
  apps/api/pages/api/credential-sync/_post.ts
Labels: 🐛 bug, High priority, api, core, 🚧 wip / in the making, foundation

#14128 fix: email embed displaying wrong date
  packages/features/embed/Embed.tsx
Labels: 🐛 bug, Medium priority, emails, core, consumer

#14104 fix: failing webhookTriggers cron job
  packages/features/webhooks/lib/cron.ts
Labels: 🐛 bug, webhooks, core, consumer

#14130 chore: update github actions for platform
  .github/workflows/production-build-without-database.yml
  .github/workflows/production-build.yml
Labels: platform, api, core

#14092 feat: support for platform wide webhooks
  packages/features/webhooks/lib/getWebhooks.ts
  packages/features/webhooks/lib/subscriberUrlReserved.ts
  packages/features/webhooks/pages/webhook-edit-view.tsx
  packages/features/webhooks/pages/webhook-new-view.tsx
  packages/features/webhooks/pages/webhooks-view.tsx
  packages/lib/test/builder.ts
  packages/prisma/migrations/20240314152130_platform_wide_webhooks/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/zod/webhook.ts
  packages/trpc/server/routers/viewer/webhook/create.handler.ts
  packages/trpc/server/routers/viewer/webhook/create.schema.ts
  packages/trpc/server/routers/viewer/webhook/delete.handler.ts
  packages/trpc/server/routers/viewer/webhook/edit.handler.ts
  packages/trpc/server/routers/viewer/webhook/get.handler.ts
  packages/trpc/server/routers/viewer/webhook/getByViewer.handler.ts
  packages/ui/components/createButton/CreateButton.tsx
  packages/ui/components/createButton/CreateButtonWithTeamsList.tsx
Labels: ✨ feature, ❗️ migrations, 🎨 needs design, High priority, webhooks, community, consumer

#14126 feat: add 2fa removal for admins
  packages/features/ee/users/components/UsersTable.tsx
  packages/trpc/server/routers/viewer/admin/_router.ts
  packages/trpc/server/routers/viewer/admin/removeTwoFactor.handler.ts
  packages/trpc/server/routers/viewer/admin/removeTwoFactor.schema.ts
Labels: core, consumer

#14129 fix: date picker arrow positioning
  packages/features/calendars/DatePicker.tsx
Labels: 🐛 bug, 🧹 Improvements, ui, core, consumer

#14110 fix: dynamic event length change on reschedule
  packages/features/bookings/Booker/store.ts
  packages/features/bookings/lib/get-booking.ts
Labels: 🐛 bug, ✅ good first issue, ⚡ Quick Wins, bookings, community

#14135 fix: booking limits for team event types
  packages/features/bookings/lib/handleNewBooking.ts
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: 🐛 bug, core, consumer

#14131 feat: golden verified badge for org members
  apps/web/modules/users/views/users-public-view.tsx
Labels: ✨ feature, 🧹 Improvements, Medium priority, enterprise, 💎 Bounty, core

#14125 fix: fix indicator size
  apps/web/pages/settings/my-account/profile.tsx
  packages/ui/components/avatar/UserAvatar.tsx
Labels: core, consumer

#14138 fix: pass org slug to useSchedule
  packages/features/troubleshooter/components/LargeCalendar.tsx
Labels: core, consumer

#14137 style: Provide Visual Feedback to Users Upon Button Click to Indicate Processing Time #13553
  apps/web/components/getting-started/steps-views/SetupAvailability.tsx
  apps/web/components/getting-started/steps-views/UserProfile.tsx
  apps/web/components/getting-started/steps-views/UserSettings.tsx
Labels: 🧹 Improvements, Low priority, ui, community

#14139 chore: improve apple calendar message
  apps/web/public/static/locales/en/common.json
  packages/app-store/applecalendar/api/add.ts
  packages/app-store/applecalendar/pages/setup/index.tsx
Labels: 🐛 bug, Medium priority, core, calendar-apps, foundation, consumer

#14136 fix: Crash of event types page if the upId is incorrect
  packages/trpc/server/routers/viewer/eventTypes/getByViewer.handler.ts
Labels: core, foundation

#14145 fix: Some tests weren't running
  vitest.workspace.ts
Labels: core, foundation

#14127 fix: timezone display on booking page to reflect event availability timezone
  packages/features/bookings/Booker/components/EventMeta.tsx
  packages/features/eventtypes/lib/getPublicEvent.ts
Labels: 🐛 bug, Low priority, bookings, community

#14105 fix: Adding 'hosts' instead of 'users'
  packages/lib/server/queries/teams/index.ts
Labels: core, foundation

#14102 fix: email displayed as organizer eventtype settings
  apps/web/components/eventtype/EventAdvancedTab.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/calendars/DestinationCalendarSelector.tsx
Labels: 🧹 Improvements, ⚡ Quick Wins, Medium priority, community

#14119 chore: hide org banner i hideEventTypeDetails is true
  packages/features/bookings/Booker/Booker.tsx
Labels: ✨ feature, core, 🚨 needs approval

#14154 chore: Platform SDK
  packages/platform/sdk/.release-it.js
  packages/platform/sdk/README.md
  packages/platform/sdk/example/index.ts
  packages/platform/sdk/package.json
  packages/platform/sdk/rollup.config.js
  packages/platform/sdk/src/cal.ts
  packages/platform/sdk/src/endpoints/bookings/index.ts
  packages/platform/sdk/src/endpoints/endpoint-handler.ts
  packages/platform/sdk/src/endpoints/events/event-types/index.ts
  packages/platform/sdk/src/endpoints/events/event-types/types.ts
  packages/platform/sdk/src/endpoints/events/index.ts
  packages/platform/sdk/src/endpoints/events/types.ts
  packages/platform/sdk/src/endpoints/oauth-flow/index.ts
  packages/platform/sdk/src/endpoints/oauth-flow/types.ts
  packages/platform/sdk/src/endpoints/schedules/index.ts
  packages/platform/sdk/src/endpoints/schedules/types.ts
  packages/platform/sdk/src/endpoints/slots/index.ts
  packages/platform/sdk/src/endpoints/slots/types.ts
  packages/platform/sdk/src/index.ts
  packages/platform/sdk/src/lib/endpoints.ts
  packages/platform/sdk/src/lib/errors/cal-api-error.ts
  packages/platform/sdk/src/lib/errors/sdk-initialization-error.ts
  packages/platform/sdk/src/lib/http-caller.ts
  packages/platform/sdk/src/lib/sdk-secrets.ts
  packages/platform/sdk/src/types.ts
  packages/platform/sdk/tsconfig.build.json
  packages/platform/sdk/tsconfig.json
  yarn.lock
Labels: platform, core

#14146 chore: adds Intercom admin link
  packages/features/ee/support/lib/intercom/useIntercom.ts
Labels: api, core, foundation

#14152 fix: migrated users admin update
  packages/features/ee/users/server/trpc-router.ts
Labels: core, consumer

#14107 fix: improve defined slot start times
  packages/lib/slots.test.ts
  packages/lib/slots.ts
Labels: core, consumer

#13893 fix: Broken reschedule link in email created by workflow for team event
  packages/features/bookings/lib/handleBookingRequested.ts
  packages/features/bookings/lib/handleConfirmation.ts
  packages/features/ee/workflows/api/scheduleEmailReminders.ts
  packages/features/ee/workflows/api/scheduleSMSReminders.ts
  packages/features/ee/workflows/lib/getWorkflowReminders.ts
  packages/features/ee/workflows/lib/reminders/emailReminderManager.ts
  packages/features/ee/workflows/lib/reminders/smsReminderManager.ts
  packages/features/ee/workflows/lib/reminders/templates/customTemplate.ts
  packages/lib/payment/getBooking.ts
  packages/trpc/server/routers/viewer/bookings/confirm.handler.ts
Labels: 🐛 bug, Medium priority, High priority, workflows, emails, 🚧 wip / in the making, community

#14076 fix: url query params dynamic url server side app router
  apps/web/app/favicon.ico
Labels: community

#14109 fix: rescheduling in round robin
  packages/core/EventManager.ts
  packages/features/bookings/lib/handleNewBooking.ts
Labels: 🐛 bug, linear, High priority, teams, bookings, core, consumer

#14167 refactor: availabilitySettings atoms web wrapper and translations
  apps/web/pages/availability/[schedule].tsx
  packages/platform/atoms/availability/AvailabilitySettings.tsx
  packages/platform/atoms/availability/wrappers/PlatformAvailabilitySettingsWrapper.tsx
  packages/platform/atoms/availability/wrappers/WebAvailabilitySettingsWrapper.tsx
  packages/platform/atoms/index.ts
Labels: platform, api, core

#14033 fix: url input field overflows when update profile & editing event
  apps/web/components/ui/UsernameAvailability/UsernameTextfield.tsx
  packages/ui/components/form/inputs/TextField.tsx
Labels: 🐛 bug, ✅ good first issue, 🧹 Improvements, ⚡ Quick Wins, Low priority, ui, community

#13957 feat: select team members to receive emails
  apps/web/components/eventtype/EventTeamTab.tsx
  apps/web/public/static/locales/en/common.json
  packages/app-store/routing-forms/components/SingleForm.tsx
  packages/app-store/routing-forms/lib/getSerializableForm.ts
  packages/app-store/routing-forms/trpc/formMutation.handler.ts
  packages/app-store/routing-forms/trpc/response.handler.ts
  packages/app-store/routing-forms/trpc/utils.ts
  packages/app-store/routing-forms/types/types.d.ts
  packages/features/eventtypes/components/AddMembersWithSwitch.tsx
  packages/features/eventtypes/components/AssignAllTeamMembers.tsx
  packages/features/eventtypes/components/CheckedTeamSelect.tsx
  packages/features/eventtypes/lib/types.ts
  packages/prisma/zod-utils.ts
Labels: 🧹 Improvements, Medium priority, routing-forms, ui, community, consumer

#14160 feat: atoms as npm package
  apps/api/v2/src/env.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.ts
  apps/api/v2/swagger/documentation.json
  apps/web/modules/users/views/users-type-public-view.tsx
  apps/web/pages/availability/[schedule].tsx
  apps/web/pages/d/[link]/[slug].tsx
  apps/web/pages/org/[orgSlug]/instant-meeting/team/[slug]/[type].tsx
  apps/web/pages/team/[slug]/[type].tsx
  packages/app-store/test-setup.ts
  packages/features/bookings/Booker/components/EventMeta.tsx
  packages/features/bookings/Booker/components/hooks/useBookings.ts
  packages/features/bookings/components/event-meta/AvailableEventLocations.tsx
  packages/features/bookings/components/event-meta/Members.tsx
  packages/lib/hooks/useLocale.ts
  packages/platform/atoms/README.md
  packages/platform/atoms/build.mjs
  packages/platform/atoms/components.ts
  packages/platform/atoms/gcal-connect/GcalConnect.tsx
  packages/platform/atoms/hooks/useIsPlatform.ts
  packages/platform/atoms/index.ts
  packages/platform/atoms/monorepo.ts
  packages/platform/atoms/package.json
  packages/platform/atoms/vite.config.ts
  packages/platform/examples/base/.env.example
  packages/platform/examples/base/README.md
  packages/platform/examples/base/package.json
  packages/platform/examples/base/src/pages/_app.tsx
  packages/platform/examples/base/src/pages/availability.tsx
  packages/platform/examples/base/src/pages/booking.tsx
  packages/platform/examples/base/src/pages/index.tsx
  packages/platform/examples/base/tsconfig.json
  packages/ui/components/test-setup.ts
  packages/ui/components/tooltip/Tooltip.tsx
  yarn.lock
Labels: platform, core

#14114 fix: revalidation replacing availability form values
  packages/features/timezone-buddy/components/AvailabilityEditSheet.tsx
  packages/platform/atoms/availability/AvailabilitySettings.tsx
  packages/platform/atoms/availability/wrappers/WebAvailabilitySettingsWrapper.tsx
Labels: 🐛 bug, 🧹 Improvements, Urgent, api, core, foundation

#14186 refactor: dialog auto swap platform primitives
  packages/platform/atoms/availability/AvailabilitySettings.tsx
  packages/platform/atoms/src/components/ui/confirmation-dialog-content.tsx
  packages/ui/components/dialog/Dialog.tsx
Labels: platform, api, core

#14159 fix: bug in zapier when user has no bookings
  packages/app-store/zapier/api/subscriptions/listBookings.ts
Labels: 🐛 bug, core, zapier, consumer

#14181 fix: Adding missing multiple_duration_timeUnit on both zh-tw and zh-cn locales.
  apps/web/public/static/locales/ar/common.json
  apps/web/public/static/locales/cs/common.json
  apps/web/public/static/locales/da/common.json
  apps/web/public/static/locales/es/common.json
  apps/web/public/static/locales/hu/common.json
  apps/web/public/static/locales/ja/common.json
  apps/web/public/static/locales/ko/common.json
  apps/web/public/static/locales/nl/common.json
  apps/web/public/static/locales/no/common.json
  apps/web/public/static/locales/pl/common.json
  apps/web/public/static/locales/pt-BR/common.json
  apps/web/public/static/locales/ro/common.json
  apps/web/public/static/locales/ru/common.json
  apps/web/public/static/locales/sr/common.json
  apps/web/public/static/locales/sv/common.json
  apps/web/public/static/locales/tr/common.json
  apps/web/public/static/locales/uk/common.json
  apps/web/public/static/locales/zh-CN/common.json
  apps/web/public/static/locales/zh-TW/common.json
Labels: community

#13989 fix: Attendee address and phone number field not shown in booking questions
  apps/web/components/eventtype/EventSetupTab.tsx
  packages/features/form-builder/FormBuilder.tsx
  packages/features/form-builder/FormBuilderField.tsx
Labels: 🐛 bug, Medium priority, bookings, community, consumer

#14182 fix: removing apps from team events
  packages/trpc/server/routers/loggedInViewer/deleteCredential.handler.ts
Labels: 🐛 bug, billing, 🚨 needs approval, community

#14175 chore: moved GTM into signup
  apps/web/components/PageWrapper.tsx
  apps/web/pages/signup.tsx
  apps/web/public/static/locales/en/common.json
Labels: ✨ feature, core, 🚨 needs approval

#14200 feat: prevent OAuth client creation for non platform orgs
  apps/api/v2/src/modules/auth/guards/organization-roles/organization-roles.guard.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-clients/oauth-clients.controller.e2e-spec.ts
  apps/api/v2/src/modules/oauth-clients/oauth-client.module.ts
  apps/api/v2/src/modules/organizations/organizations.module.ts
  apps/api/v2/src/modules/organizations/organizations.repository.ts
  apps/api/v2/src/modules/organizations/services/organizations.service.ts
  packages/prisma/migrations/20240325082604_add_is_platform_flag_to_team/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/organizations/create.handler.ts
  packages/trpc/server/routers/viewer/organizations/create.schema.ts
Labels: ❗️ migrations, platform, core

#14203 feat: display connected calendars on platform calendars page
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
  packages/platform/atoms/hooks/useConnectedCalendars.tsx
  packages/platform/atoms/index.ts
  packages/platform/examples/base/src/pages/calendars.tsx
Labels: platform, api, core

#14205 refactor: v2 API remove defaultScheduleId when creating a managed user
  apps/api/v2/src/ee/event-types/controllers/event-types.controller.e2e-spec.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.e2e-spec.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-clients/oauth-clients.controller.e2e-spec.ts
  apps/api/v2/src/modules/users/inputs/create-user.input.ts
Labels: platform, core

#14207 feat: distinguish managed platform users
  apps/api/v2/src/ee/me/me.controller.e2e-spec.ts
  apps/api/v2/src/ee/me/me.controller.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.e2e-spec.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.ts
  apps/api/v2/src/modules/oauth-clients/services/oauth-clients-users.service.ts
  apps/api/v2/src/modules/users/inputs/create-managed-platform-user.input.ts
  apps/api/v2/src/modules/users/inputs/update-managed-platform-user.input.ts
  apps/api/v2/src/modules/users/users.repository.ts
  packages/lib/test/builder.ts
  packages/prisma/migrations/20240325162556_add_user_is_platform_managed/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/teams/inviteMember/utils.ts
Labels: ❗️ migrations, platform, core

#14209 fix: Fixes Jelly type mismatch and passes conference credential id when confirm bookings
  packages/app-store/jelly/config.json
  packages/trpc/server/routers/viewer/bookings/confirm.handler.ts
Labels: 🐛 bug, app-store, High priority, core, consumer

#14192 feat: v2 api endpoints and hooks to list private and public event types of user
  apps/api/v2/src/ee/event-types/controllers/event-types.controller.e2e-spec.ts
  apps/api/v2/src/ee/event-types/controllers/event-types.controller.ts
  apps/api/v2/src/ee/event-types/event-types.module.ts
  apps/api/v2/src/ee/event-types/services/event-types.service.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-clients/responses/GetOAuthClientResponse.dto.ts
  apps/api/v2/src/modules/users/users.repository.ts
  apps/api/v2/swagger/documentation.json
  apps/web/modules/users/views/users-public-view.getServerSideProps.tsx
  packages/app-store/test-setup.ts
  packages/lib/event-types/getEventTypeById.ts
  packages/lib/event-types/getEventTypesByViewer.ts
  packages/lib/event-types/getEventTypesPublic.ts
  packages/lib/index.ts
  packages/platform/atoms/hooks/event-types/useEventTypesPrivate.ts
  packages/platform/atoms/hooks/event-types/useEventTypesPublic.ts
  packages/platform/atoms/hooks/useConnectedCalendars.tsx
  packages/platform/atoms/index.ts
  packages/platform/examples/base/src/pages/booking.tsx
  packages/platform/libraries/index.ts
  packages/platform/types/events.ts
  packages/trpc/server/routers/viewer/eventTypes/get.handler.ts
  packages/trpc/server/routers/viewer/eventTypes/getByViewer.handler.ts
  packages/trpc/server/routers/viewer/webhook/getByViewer.handler.ts
  packages/ui/components/test-setup.ts
Labels: platform, core

#14214 fix: instant meeting fixes
  packages/app-store/dailyvideo/lib/VideoApiAdapter.ts
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/components/RedirectToInstantMeetingModal.tsx
  packages/features/bookings/Booker/components/hooks/useBookings.ts
  packages/features/instant-meeting/handleInstantMeeting.ts
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
Labels: core, consumer

#13794 feat: SSO for orgs
  apps/web/pages/settings/organizations/sso.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/auth/lib/next-auth-options.ts
  packages/features/ee/dsync/lib/handleGroupEvents.ts
  packages/features/ee/dsync/lib/handleUserEvents.ts
  packages/features/ee/dsync/lib/users/createUsersAndConnectToOrg.ts
  packages/features/ee/sso/lib/sso.ts
  packages/features/ee/sso/page/orgs-sso-view.tsx
  packages/features/settings/layouts/SettingsLayout.tsx
Labels: High priority, enterprise, organizations, core

#14201 feat: hide if team slider if org is private
  apps/web/pages/availability/index.tsx
Labels: core, consumer

#14173 feat: use unkey for global ratelimiting and identifier overrides
  .env.example
  apps/web/package.json
  apps/web/test/utils/bookingScenario/setupAndTeardown.ts
  packages/lib/checkRateLimitAndThrowError.test.ts
  packages/lib/checkRateLimitAndThrowError.ts
  packages/lib/rateLimit.ts
  turbo.json
  yarn.lock
Labels: ✨ feature, 🧹 Improvements, Medium priority, teams, ❗️ .env changes, community

#14217 chore: Bump all postgres:12 -> postgres:13.13
  .github/workflows/e2e-app-store.yml
  .github/workflows/e2e-embed-react.yml
  .github/workflows/e2e-embed.yml
  .github/workflows/e2e.yml
  .github/workflows/production-build.yml
Labels: core, foundation

#14220 chore: bump GitHub postgres v2
  .github/workflows/e2e-app-store.yml
  .github/workflows/e2e-embed-react.yml
  .github/workflows/e2e-embed.yml
  .github/workflows/e2e.yml
  .github/workflows/production-build.yml
Labels: core, foundation

#14170 feat: Migrate all old avatars to 'avatars' table
  packages/prisma/migrations/20240321143215_move_avatars_cols_to_avatar_table/migration.sql
Labels: ❗️ migrations, High priority, core, foundation, high-risk

#14231 chore(ci): Add nextjs framework env vors to @calcom/website in `turbo.json`
  turbo.json
Labels: community

#14238 chore: added vercel env to turbo repo
  turbo.json
Labels: ✨ feature, core, 🚨 needs approval

#14225 fix: embed env var EnvrionmentPlugin config
  packages/embeds/embed-core/vite.config.js
  packages/embeds/vite.config.js
Labels: platform, api, core

#14248 chore: rename platform endpoints provider/gcal
  apps/api/v2/src/ee/gcal/gcal.controller.e2e-spec.ts
  apps/api/v2/src/ee/gcal/gcal.controller.ts
  apps/api/v2/src/ee/provider/provider.controller.ts
  apps/api/v2/swagger/documentation.json
  packages/platform/atoms/hooks/useGcal.ts
  packages/platform/atoms/hooks/useOAuthClient.ts
  packages/platform/atoms/hooks/useOAuthFlow.ts
  packages/platform/examples/base/README.md
Labels: platform, api, core

#14100 feat: cal.ai enterprise phone calls
  .env.example
  apps/web/components/apps/InstallAppButtonChild.tsx
  apps/web/components/eventtype/AIEventController.tsx
  apps/web/components/eventtype/EventAITab.tsx
  apps/web/components/eventtype/EventTypeSingleLayout.tsx
  apps/web/components/ui/LinkIconButton.tsx
  apps/web/modules/event-types/views/event-types-single-view.tsx
  apps/web/public/static/locales/en/common.json
  package.json
  packages/app-store/giphy/components/SearchDialog.tsx
  packages/features/bookings/components/event-meta/Details.tsx
  packages/features/bookings/components/event-meta/getPayIcon.ts
  packages/features/bookings/components/event-meta/getPriceIcon.ts
  packages/features/ee/workflows/components/EmptyScreen.tsx
  packages/features/eventtypes/lib/getPublicEvent.ts
  packages/features/eventtypes/lib/types.ts
  packages/features/insights/filters/FilterType.tsx
  packages/features/shell/Shell.tsx
  packages/lib/event-types/getEventTypeById.ts
  packages/lib/server/eventTypeSelect.ts
  packages/platform/atoms/package.json
  packages/platform/sdk/src/endpoints/events/types.ts
  packages/prisma/migrations/20240328080307_add_ai_phone_call_config/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer/eventTypes/types.ts
  packages/trpc/server/routers/viewer/eventTypes/update.handler.ts
  packages/trpc/server/routers/viewer/organizations/_router.tsx
  packages/trpc/server/routers/viewer/organizations/createPhoneCall.handler.ts
  packages/ui/components/alert/Alert.tsx
  packages/ui/components/apps/AppCard.tsx
  packages/ui/components/badge/Badge.tsx
  packages/ui/components/button/Button.tsx
  packages/ui/components/button/LinkIconButton.tsx
  packages/ui/components/createButton/CreateButton.tsx
  packages/ui/components/dialog/Dialog.tsx
  packages/ui/components/form/dropdown/Dropdown.tsx
  packages/ui/components/navigation/tabs/HorizontalTabItem.tsx
  packages/ui/components/navigation/tabs/VerticalTabItem.tsx
  packages/ui/package.json
  turbo.json
  yarn.lock
Labels: ✨ feature, ❗️ migrations, ❗️ .env changes, core

#14250 refactor: platform timezone endpoint
  apps/api/v2/src/ee/schedules/controllers/schedules.controller.ts
  apps/api/v2/src/ee/schedules/services/schedules.service.ts
  apps/api/v2/src/modules/endpoints.module.ts
  apps/api/v2/src/modules/timezones/controllers/timezones.controller.ts
  apps/api/v2/src/modules/timezones/services/timezones.service.ts
  apps/api/v2/src/modules/timezones/timezones.module.ts
  apps/api/v2/swagger/documentation.json
  packages/platform/atoms/hooks/useGetCityTimezones.ts
Labels: platform, api, core

#14252 chore: add styling to examples app
  packages/platform/examples/base/src/pages/[bookingUid].tsx
  packages/platform/examples/base/src/pages/booking.tsx
  packages/platform/examples/base/src/pages/bookings.tsx
  packages/platform/examples/base/src/pages/calendars.tsx
  packages/platform/examples/base/src/pages/index.tsx
Labels: platform, core

#14251 fix: Organization check
  __checks__/organization.spec.ts
Labels: High priority, core, foundation

#14244 fix(translations/de): typo in limit_booking_only_first_slot
  apps/web/public/static/locales/de/common.json
Labels: community

#14068 chore: adds useful SQL scripts for devops
  scripts/auto-grant.sql
  scripts/connection-activity.sql
  scripts/delete-empty-google-credentials.sql
  scripts/find-email-case-insensitive-duplicates.sql
Labels: api, core, foundation

#14123 fix: No handlers found for ics-feed
  packages/app-store/ics-feedcalendar/pages/setup/index.tsx
Labels: 🐛 bug, app-store, Medium priority, 🚧 wip / in the making, community

#14263 refactor: prisma platform tables use pascal case
  packages/prisma/migrations/20240329084749_platform_snake_case_to_pascal_case/migration.sql
  packages/prisma/schema.prisma
Labels: ❗️ migrations, platform, core

#14264 refactor: OAuth creation form hide apps permissions
  packages/platform/constants/permissions.ts
Labels: platform, core
