Repository calcom/cal.com, pull requests merged in 2024-12, with the labels that each got.

#17917 feat: Only require confirmation for free email domains
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/getEventTypesFromDB.ts
  packages/features/bookings/lib/handleNewBooking/getRequiresConfirmationFlags.ts
  packages/features/eventtypes/components/tabs/advanced/RequiresConfirmationController.tsx
  packages/features/eventtypes/lib/types.ts
  packages/lib/server/repository/eventType.ts
  packages/platform/atoms/event-types/hooks/useEventTypeForm.ts
  packages/prisma/migrations/20241129194340_add_requires_confirmation_for_free_email_to_eventtype/migration.sql
  packages/prisma/schema.prisma
Labels: ✨ feature, ❗️ migrations, bookings, event-types, core, consumer, ready-for-e2e

#17943 fix: UI regression related to DataTable
  packages/features/data-table/components/DataTable.tsx
  packages/features/ee/dsync/components/GroupTeamMappingTable.tsx
  packages/features/ee/teams/components/MemberList.tsx
  packages/features/timezone-buddy/components/AvailabilitySliderTable.tsx
  packages/types/tanstack-table.d.ts
Labels: 📉 regressing, ui, core, consumer, ready-for-e2e

#17840 fix: Meeting URL does not save when changing the location to Gmeet or any static app
  packages/lib/CalEventParser.ts
  packages/trpc/server/routers/viewer/bookings/editLocation.handler.ts
Labels: 🐛 bug, High priority, 2 points, bookings, workflows, core, ready-for-e2e

#17897 fix: refactor OG link builder
  apps/web/playwright/booking-pages.e2e.ts
  apps/web/playwright/organization/booking.e2e.ts
  apps/web/playwright/settings/upload-avatar.e2e.ts
  packages/lib/OgImages.tsx
  packages/lib/constants.ts
Labels: 🐛 bug, core, 💻 refactor, consumer, ready-for-e2e

#17912 chore: Extract some refactor work from util.ts to improve error handling
  packages/lib/errors.ts
  packages/lib/server/getServerErrorFromUnknown.ts
Labels: core, 💻 refactor, foundation, ready-for-e2e

#17929 fix: navigation items weird behavior
  packages/features/flags/hooks/index.ts
Labels: 🐛 bug, core, ready-for-e2e

#17911 fix: /members improvements
  apps/web/modules/members/members-view.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/data-table/components/DataTableSelectionBar.tsx
  packages/features/ee/teams/components/DeleteBulkTeamMembers.tsx
  packages/features/ee/teams/components/EventTypesList.tsx
  packages/features/ee/teams/components/MemberList.tsx
  packages/features/shell/navigation/Navigation.tsx
  packages/features/shell/navigation/NavigationItem.tsx
  packages/features/users/components/UserTable/BulkActions/DeleteBulkUsers.tsx
  packages/features/users/components/UserTable/BulkActions/DynamicLink.tsx
  packages/features/users/components/UserTable/BulkActions/EventTypesList.tsx
  packages/features/users/components/UserTable/BulkActions/MassAssignAttributes.tsx
  packages/features/users/components/UserTable/BulkActions/TeamList.tsx
  packages/features/users/components/UserTable/UserListTable.tsx
Labels: 🧹 Improvements, core, consumer, ready-for-e2e

#17927 fix: host entry not created when user added to team in org
  packages/trpc/server/routers/viewer/organizations/utils.ts
Labels: 🐛 bug, Low priority, teams, organizations, community, ready-for-e2e

#17938 feat: routing form table merge columns
  packages/features/insights/components/RoutingFormResponsesTable.tsx
Labels: ✨ feature, routing-forms, core, consumer, ready-for-e2e

#17761 feat: Show add to calendar section for customers after booking an event
  apps/web/modules/bookings/views/bookings-single-view.tsx
Labels: ✨ feature, 🧹 Improvements, bookings, 🚨 needs approval, community, ready-for-e2e

#17875 fix: ai translations description for atoms
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/components/EventMeta.tsx
  packages/features/bookings/Booker/types.ts
  packages/features/eventtypes/components/tabs/setup/EventSetupTab.tsx
  packages/platform/atoms/booker/BookerWebWrapper.tsx
Labels: 🐛 bug, platform, i18n, event-types, core, ai, ready-for-e2e

#17932 chore: fixed colored event margin
  apps/web/modules/event-types/views/event-types-listing-view.tsx
Labels: event-types, ready-for-e2e

#17756 fix: fix date comparison for OOO
  packages/trpc/server/routers/loggedInViewer/__tests__/outOfOffice.handler.test.ts
  packages/trpc/server/routers/loggedInViewer/outOfOffice.handler.ts
Labels: 🐛 bug, core, consumer, ready-for-e2e

#17914 fix: Date Range Picker behavior
  apps/web/playwright/out-of-office.e2e.ts
  packages/features/insights/filters/DateSelect.tsx
  packages/ui/components/form/date-range-picker/Calendar.tsx
  packages/ui/components/form/date-range-picker/DateRangePicker.tsx
Labels: 🐛 bug, ui, core, ready-for-e2e

#17954 chore: Reduce org banner height on mobile booker
  packages/features/bookings/Booker/Booker.tsx
Labels: 🧹 Improvements, booking-page, core, consumer, ready-for-e2e

#17399 fix: brand colors set by user not respected in embed
  packages/features/embed/Embed.tsx
  packages/features/embed/EventTypeEmbed.tsx
  packages/features/embed/RoutingFormEmbed.tsx
  packages/features/embed/lib/EmbedTabs.tsx
  packages/features/embed/lib/buildCssVarsPerTheme.ts
  packages/features/embed/types/index.d.ts
Labels: 🐛 bug, Medium priority, Stale, embed, community, ready-for-e2e

#17957 test: fix organisation settings e2e
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/organization/organization-settings.e2e.ts
Labels: automated-tests, core, 💻 refactor, foundation, ready-for-e2e

#17960 fix: Revert "merge columns (#17938)"
  packages/features/insights/components/RoutingFormResponsesTable.tsx
Labels: core, foundation, consumer, ready-for-e2e

#17950 feat: return participants
  packages/features/tasker/tasks/triggerNoShow/common.ts
  packages/features/tasker/tasks/triggerNoShow/triggerGuestNoShow.ts
  packages/features/tasker/tasks/triggerNoShow/triggerHostNoShow.test.ts
  packages/features/tasker/tasks/triggerNoShow/triggerHostNoShow.ts
Labels: ✨ feature, High priority, enterprise, core, ready-for-e2e

#17961 fix: change case for column size vars
  packages/features/data-table/components/DataTable.tsx
Labels: 🐛 bug, ui, core, consumer, ready-for-e2e

#17958 fix: [Stacked PR] Review fixes
  apps/web/components/getting-started/components/AppConnectionItem.tsx
  apps/web/components/getting-started/components/ConnectedCalendarItem.tsx
  apps/web/components/getting-started/steps-views/ConnectedVideoStep.tsx
  domain-wide-delegation.md
  packages/app-store/googlecalendar/_metadata.ts
  packages/app-store/googlecalendar/api/add.ts
  packages/app-store/utils.ts
  packages/features/calendars/CalendarSwitch.tsx
  packages/features/ee/payments/api/webhook.ts
  packages/lib/domainWideDelegation/clientAndServer.ts
  packages/lib/domainWideDelegation/server.ts
  packages/lib/server/repository/destinationCalendar.ts
  packages/prisma/schema.prisma
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/loggedInViewer/integrations.handler.ts
  packages/trpc/server/routers/loggedInViewer/setDestinationCalendar.handler.ts
Labels: ❗️ migrations, enterprise, core, ready-for-e2e

#17956 feat: Salesforce - add option to ignore guests
  apps/web/public/static/locales/en/common.json
  packages/app-store/salesforce/components/EventTypeAppCardInterface.tsx
  packages/app-store/salesforce/zod.ts
  packages/core/crmManager/crmManager.ts
Labels: ✨ feature, core, crm-apps, consumer, ready-for-e2e

#17939 fix: remove platform and console submodule
  git-setup.sh
Labels: enterprise, core, ready-for-e2e

#17969 fix: More review fixes for domain wide delegation
  TODO.md
  apps/web/public/static/locales/en/common.json
  domain-wide-delegation.md
  packages/app-store/server.ts
  packages/features/ee/organizations/pages/settings/domainWideDelegation.tsx
  packages/features/settings/appDir/SettingsLayoutAppDirClient.tsx
  packages/features/settings/layouts/SettingsLayout.tsx
  packages/lib/server/buildCredentialPayloadForCalendar.ts
  packages/lib/server/repository/destinationCalendar.ts
  packages/lib/server/repository/domainWideDelegation.ts
  packages/lib/server/repository/selectedCalendar.ts
  packages/trpc/server/routers/viewer/domainWideDelegation/add.handler.ts
  packages/trpc/server/routers/viewer/domainWideDelegation/update.handler.ts
  packages/trpc/server/routers/viewer/domainWideDelegation/utils.ts
Labels: enterprise, core, ready-for-e2e

#17972 chore: safeMarkdown
  apps/web/modules/bookings/views/bookings-single-view.tsx
Labels: community, ready-for-e2e

#17825 docs: v2 rolling window and authentication
  apps/api/v2/src/ee/bookings/2024-08-13/outputs/cancel-booking.output.ts
  apps/api/v2/src/ee/bookings/2024-08-13/outputs/create-booking.output.ts
  apps/api/v2/src/ee/bookings/2024-08-13/outputs/reschedule-booking.output.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-flow/oauth-flow.controller.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/introduction.mdx
  docs/api-reference/v2/openapi.json
  docs/images/platform/guides/booking-fields/custom-fields/booker.png
  docs/images/platform/guides/booking-fields/custom-fields/prefilled.png
  docs/images/platform/guides/booking-fields/custom-fields/request.png
  docs/images/platform/guides/booking-fields/default-fields/booker.png
  docs/images/platform/guides/booking-fields/read-only/prefilled.png
  docs/images/platform/guides/booking-fields/read-only/request.png
  docs/images/platform/guides/replacing-toasts/availability-settings.png
  docs/mint.json
  docs/platform/guides/booking-fields.mdx
  docs/platform/guides/booking-redirects.mdx
  docs/platform/guides/replacing-toasts.mdx
  docs/platform/introduction.mdx
  packages/platform/types/bookings/2024-08-13/outputs/get-booking.output.ts
  packages/platform/types/bookings/2024-08-13/outputs/get-bookings.output.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/booking-window.input.ts
Labels: docs, platform, core, ready-for-e2e

#17369 fix: Remove user from managed event type when removing from org
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  packages/trpc/server/routers/viewer/organizations/bulkDeleteUsers.handler.ts
  packages/trpc/server/routers/viewer/organizations/bulkDeleteUsers.test.ts
Labels: 🐛 bug, High priority, organizations, event-types, community, high-risk, ready-for-e2e

#17976 fix: handling of defaultLabel
  packages/features/form-builder/FormBuilder.tsx
Labels: 🐛 bug, core, foundation, ready-for-e2e

#17947 feat: watchlist
  apps/api/v1/lib/helpers/verifyApiKey.ts
  apps/api/v1/lib/utils/isAdmin.ts
  apps/api/v1/lib/utils/isLockedOrBlocked.ts
  apps/api/v1/next.d.ts
  apps/api/v1/test/lib/middleware/verifyApiKey.test.ts
  apps/api/v1/test/lib/utils/isAdmin.integration-test.ts
  apps/api/v1/test/lib/utils/isLockedOrBlocked.test.ts
  apps/api/v1/tsconfig.json
  packages/features/auth/signup/handlers/calcomHandler.ts
  packages/features/watchlist/operations/check-if-email-in-watchlist.controller.ts
  packages/features/watchlist/watchlist.model.ts
  packages/features/watchlist/watchlist.repository.interface.ts
  packages/features/watchlist/watchlist.repository.mock.ts
  packages/features/watchlist/watchlist.repository.ts
  packages/prisma/migrations/20241202182411_add_watchlist/migration.sql
  packages/prisma/schema.prisma
Labels: ✨ feature, ❗️ migrations, api, authentication, core, foundation, ready-for-e2e

#17981 fix: z index hover card on routing form responses
  packages/features/insights/components/RoutingFormResponsesTable.tsx
  packages/ui/components/hover-card/index.tsx
  packages/ui/index.ts
Labels: 🐛 bug, routing-forms, ui, core, consumer, ready-for-e2e

#17985 fix: remove duplicate headers in attribute pages
  apps/web/app/settings/(settings-layout)/organizations/attributes/[id]/edit/page.tsx
  apps/web/app/settings/(settings-layout)/organizations/attributes/create/page.tsx
  packages/features/ee/organizations/pages/settings/attributes/attributes-create-view.tsx
  packages/features/ee/organizations/pages/settings/attributes/attributes-edit-view.tsx
  packages/features/ee/organizations/pages/settings/attributes/attributes-list-view.tsx
Labels: 🐛 bug, ui, core, consumer, ready-for-e2e

#17989 feat: Salesforce - search for account ownership based on website
  packages/app-store/salesforce/lib/CrmService.ts
Labels: ✨ feature, core, crm-apps, consumer, ready-for-e2e

#17991 fix: trying to update the timeFormat throws error
  apps/api/v2/src/modules/users/inputs/update-managed-user.input.ts
Labels: 🐛 bug, platform, core, ready-for-e2e

#17970 chore: add Replexica env to ci tests
  .github/workflows/e2e-api-v2.yml
  .github/workflows/unit-tests.yml
Labels: platform, ❗️ .env changes, ci, core, ready-for-e2e

#17995 Fix getSchedule not using dwd credentials
  packages/core/getUserAvailability.ts
  packages/lib/domainWideDelegation/server.ts
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: 🐛 bug, enterprise, bookings, core

#17959 refactor: v2 OAuth webhooks & workflows
  apps/api/v2/package.json
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/emails/team-emails.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/bookings.service.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-webhooks/oauth-client-webhooks.controller.e2e-spec.ts
  packages/features/bookings/lib/handleConfirmation.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/scheduleNoShowTriggers.ts
  packages/features/ee/round-robin/roundRobinManualReassignment.ts
  packages/features/ee/round-robin/roundRobinReassignment.ts
  packages/features/handleMarkNoShow.ts
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer/bookings/confirm.handler.ts
  yarn.lock
Labels: platform, webhooks, workflows, core, 💻 refactor, ready-for-e2e

#17998 fix: disable mandatory reminder for platform
  apps/api/v2/package.json
  packages/features/bookings/lib/handleConfirmation.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/ee/workflows/lib/reminders/scheduleMandatoryReminder.ts
Labels: 🐛 bug, platform, emails, core, ready-for-e2e

#17984 feat: add assignment reason to routing insights
  apps/web/public/static/locales/en/common.json
  packages/features/insights/components/RoutingFormResponsesTable.tsx
  packages/features/insights/server/routing-events.ts
Labels: ✨ feature, routing-forms, insights, core, consumer, ready-for-e2e

#17987 feat: fetch SEO data for booking pages in server
  apps/web/lib/team/[slug]/[type]/getServerSideProps.tsx
  apps/web/modules/team/type-view.tsx
  apps/web/modules/users/views/users-type-public-view.tsx
  apps/web/server/lib/[user]/[type]/getServerSideProps.ts
  packages/features/bookings/components/BookerSeo.tsx
Labels: ✨ feature, bookings, booking-page, core, consumer, ready-for-e2e

#17996 chore: Move pre-commit commands to pre-push
  .husky/pre-commit
  .husky/pre-push
  CONTRIBUTING.md
  package.json
Labels: core, foundation, ready-for-e2e

#17983 chore: enable eslint rule react/no-danger
  apps/web/app/layout.tsx
  apps/web/components/PageWrapper.tsx
  apps/web/components/PageWrapperAppDir.tsx
  apps/web/components/team/screens/Team.tsx
  apps/web/modules/apps/[slug]/slug-view.tsx
  apps/web/modules/bookings/views/bookings-single-view.tsx
  apps/web/modules/signup-view.tsx
  apps/web/modules/team/team-view.tsx
  apps/web/modules/users/views/users-public-view.tsx
  apps/web/modules/videos/views/videos-single-view.tsx
  apps/web/pages/_document.tsx
  packages/app-store/BookingPageTagManager.tsx
  packages/config/eslint-preset.js
  packages/emails/src/components/Info.tsx
  packages/emails/src/components/RawHtml.tsx
  packages/features/bookings/Booker/components/EventMeta.tsx
  packages/features/ee/organizations/pages/settings/other-team-profile-view.tsx
  packages/features/ee/organizations/pages/settings/profile.tsx
  packages/features/ee/teams/pages/team-profile-view.tsx
  packages/features/eventtypes/components/EventTypeDescription.tsx
  packages/features/form-builder/FormBuilder.tsx
  packages/ui/components/form/checkbox/Checkbox.tsx
Labels: community, ready-for-e2e

#18002 fix: data loading state
  packages/features/insights/server/routing-events.ts
Labels: core, consumer, ready-for-e2e

#16794 chore: `settings/developer` - remove pages router and use app router
  .env.example
  apps/web/abTest/middlewareFactory.ts
  apps/web/app/settings/(settings-layout)/developer/api-keys/page.tsx
  apps/web/app/settings/(settings-layout)/developer/webhooks/[id]/page.tsx
  apps/web/app/settings/(settings-layout)/developer/webhooks/new/page.tsx
  apps/web/app/settings/(settings-layout)/developer/webhooks/page.tsx
  apps/web/modules/settings/developer/api-keys-view.tsx
  apps/web/modules/settings/developer/components/CreateApiKeyButton.tsx
  apps/web/pages/settings/developer/api-keys.tsx
  apps/web/pages/settings/developer/webhooks/[id]/index.tsx
  apps/web/pages/settings/developer/webhooks/index.tsx
  apps/web/pages/settings/developer/webhooks/new.tsx
  apps/web/playwright/fixtures/webhooks.ts
  apps/web/playwright/webhook.e2e.ts
  apps/web/scripts/vercel-app-router-deploy.sh
  packages/features/webhooks/components/WebhookForm.tsx
  packages/features/webhooks/pages/webhook-new-view.tsx
  packages/features/webhooks/pages/webhooks-view.tsx
  turbo.json
Labels: ❗️ .env changes, core, 💻 refactor, consumer, high-risk, ready-for-e2e

#18009 revert: "chore: Move pre-commit commands to pre-push (#17996)"
  .husky/pre-commit
  .husky/pre-push
  CONTRIBUTING.md
  package.json
Labels: core, foundation, ready-for-e2e

#18012 chore: named export / default export same time
  packages/features/webhooks/pages/webhooks-view.tsx
Labels: core, consumer, ready-for-e2e

#18004 fix: fetching event-types of org users apiv2
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/controllers/event-types.controller.e2e-spec.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/event-types.service.ts
  apps/api/v2/src/modules/users/services/users.service.ts
  apps/api/v2/src/modules/users/users.repository.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
  packages/platform/types/event-types/event-types_2024_06_14/inputs/get-event-types-query.input.ts
Labels: 🐛 bug, High priority, platform, event-types, core, ready-for-e2e

#18015 fix: Remove direct DWD table access from google-calendar and remove delegatedToId column from Credential
  apps/web/pages/settings/organizations/domain-wide-delegation-TODO.md
  apps/web/pages/settings/organizations/domain-wide-delegation.md
  packages/app-store/_utils/getCalendar.ts
  packages/app-store/_utils/installation.ts
  packages/app-store/applecalendar/api/add.ts
  packages/app-store/caldavcalendar/api/add.ts
  packages/app-store/dailyvideo/lib/VideoApiAdapter.ts
  packages/app-store/exchange2013calendar/api/add.ts
  packages/app-store/exchange2016calendar/api/add.ts
  packages/app-store/exchangecalendar/api/_postAdd.ts
  packages/app-store/googlecalendar/api/webhook.ts
  packages/app-store/googlecalendar/lib/CalendarService.ts
  packages/app-store/ics-feedcalendar/api/add.ts
  packages/app-store/office365video/lib/VideoApiAdapter.test.ts
  packages/app-store/utils.ts
  packages/core/CalendarManager.ts
  packages/core/EventManager.ts
  packages/core/getCalendarsEvents.ts
  packages/core/videoClient.ts
  packages/features/bookings/lib/handleSeats/cancel/cancelAttendeeSeat.ts
  packages/features/bookings/lib/handleSeats/lib/lastAttendeeDeleteBooking.ts
  packages/features/calendar-cache/calendar-cache.ts
  packages/features/credentials/handleDeleteCredential.ts
  packages/lib/domainWideDelegation/server.ts
  packages/lib/server/getUsersCredentials.ts
  packages/lib/server/repository/credential.ts
  packages/lib/server/repository/domainWideDelegation.ts
  packages/platform/atoms/selected-calendars/wrappers/SelectedCalendarsSettingsWebWrapper.tsx
  packages/prisma/migrations/20241204142553_remove_delegated_to_id_column/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/selects/credential.ts
  packages/trpc/server/routers/loggedInViewer/integrations.handler.ts
  packages/trpc/server/routers/viewer/availability/calendarOverlay.handler.ts
  packages/trpc/server/routers/viewer/bookings/requestReschedule.handler.ts
  packages/trpc/server/routers/viewer/domainWideDelegation/toggleEnabled.handler.ts
  packages/types/Calendar.d.ts
  packages/types/Credential.d.ts
  yarn.lock
Labels: ❗️ migrations, enterprise, core

#18018 fix: custom implem markdownToSafeHTML for platform
  packages/platform/atoms/lib/markdownToSafeHTML.ts
  packages/platform/atoms/monorepo.ts
  packages/platform/atoms/vite.config.ts
Labels: 🐛 bug, platform, core, ready-for-e2e

#17873 feat: Add slotFormat query parameter to slots API V2 endpoint to return start and end time of a slot
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/event-types.repository.ts
  apps/api/v2/src/modules/slots/controllers/slots.controller.ts
  apps/api/v2/src/modules/slots/services/slots.service.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
  packages/platform/enums/index.ts
  packages/platform/enums/slot-format.enum.ts
  packages/platform/types/slots.ts
Labels: 🐛 bug, ✨ feature, Medium priority, api, community, ready-for-e2e

#18014 fix: localStorage not found for `Booker` atom
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
Labels: 🐛 bug, platform, core, ready-for-e2e

#17511 fix: Don't force reschedule with same RR host if reschedule is actually rerouting
  apps/web/test/lib/getSchedule.test.ts
  apps/web/test/lib/getSchedule/expects.ts
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/test/reschedule.test.ts
  packages/lib/isOutOfBounds.tsx
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: 🐛 bug, High priority, enterprise, core, ready-for-e2e

#17850 fix: days of the week in different language in the workflow
  packages/features/ee/workflows/api/scheduleEmailReminders.ts
  packages/features/ee/workflows/components/WorkflowStepContainer.tsx
  packages/features/ee/workflows/lib/reminders/emailReminderManager.ts
  packages/features/ee/workflows/lib/reminders/templates/emailReminderTemplate.ts
  packages/trpc/server/routers/viewer/workflows/create.handler.ts
Labels: 🐛 bug, workflows, i18n, emails, core, ready-for-e2e

#17796 feat: refactor filters on insights response table
  apps/web/modules/insights/insights-routing-view.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/apps/AdminAppsList.tsx
  packages/features/data-table/components/DataTableToolbar.tsx
  packages/features/data-table/components/filters/FilterOptions.tsx
  packages/features/data-table/components/filters/MultiSelectFilterOptions.tsx
  packages/features/data-table/components/filters/TextFilterOptions.tsx
  packages/features/data-table/components/filters/index.tsx
  packages/features/data-table/lib/server.ts
  packages/features/data-table/lib/types.ts
  packages/features/data-table/lib/utils.ts
  packages/features/ee/organizations/pages/settings/attributes/attributes-list-view.tsx
  packages/features/ee/teams/components/MemberList.tsx
  packages/features/insights/components/RoutingFormResponsesTable.tsx
  packages/features/insights/filters/ClearFilters.tsx
  packages/features/insights/filters/DateSelect.tsx
  packages/features/insights/filters/RoutingFormFilterList.tsx
  packages/features/insights/filters/TeamAndSelfList.tsx
  packages/features/insights/filters/UserListInTeam.tsx
  packages/features/insights/filters/index.tsx
  packages/features/insights/filters/routing/FilterBar.tsx
  packages/features/insights/server/routing-events.ts
  packages/features/insights/server/trpc-router.ts
  packages/features/users/components/UserTable/UserListTable.tsx
  packages/prisma/package.json
  packages/prisma/seed-utils.ts
  packages/trpc/server/routers/viewer/organizations/listMembers.handler.ts
  packages/types/tanstack-table.d.ts
  yarn.lock
Labels: insights, core, 💻 refactor, consumer, ready-for-e2e

#18003 feat: prevent rescheduling past bookings
  apps/web/components/booking/BookingListItem.tsx
  apps/web/lib/reschedule/[uid]/getServerSideProps.ts
  apps/web/modules/bookings/views/bookings-single-view.tsx
Labels: ✨ feature, 🧹 Improvements, High priority, bookings, community, ready-for-e2e

#17792 chore: drop sourceLang, targetLang and id columns
  packages/features/tasker/tasks/translateEventTypeDescription.ts
  packages/lib/server/repository/eventTypeTranslation.ts
  packages/prisma/migrations/20241127102756_remove_fields_from_evenet_type_translation/migration.sql
  packages/prisma/schema.prisma
Labels: ❗️ migrations, core, consumer, ready-for-e2e

#18024 revert: "feat: refactor filters on insights response table (#17796)"
  apps/web/modules/insights/insights-routing-view.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/apps/AdminAppsList.tsx
  packages/features/data-table/components/DataTableToolbar.tsx
  packages/features/data-table/components/filters/FilterOptions.tsx
  packages/features/data-table/components/filters/MultiSelectFilterOptions.tsx
  packages/features/data-table/components/filters/TextFilterOptions.tsx
  packages/features/data-table/components/filters/index.tsx
  packages/features/data-table/lib/server.ts
  packages/features/data-table/lib/types.ts
  packages/features/data-table/lib/utils.ts
  packages/features/ee/organizations/pages/settings/attributes/attributes-list-view.tsx
  packages/features/ee/teams/components/MemberList.tsx
  packages/features/insights/components/RoutingFormResponsesTable.tsx
  packages/features/insights/filters/ClearFilters.tsx
  packages/features/insights/filters/DateSelect.tsx
  packages/features/insights/filters/RoutingFormFilterList.tsx
  packages/features/insights/filters/TeamAndSelfList.tsx
  packages/features/insights/filters/UsersListInTeam.tsx
  packages/features/insights/filters/index.tsx
  packages/features/insights/filters/routing/FilterBar.tsx
  packages/features/insights/server/routing-events.ts
  packages/features/insights/server/trpc-router.ts
  packages/features/users/components/UserTable/UserListTable.tsx
  packages/prisma/package.json
  packages/prisma/seed-utils.ts
  packages/trpc/server/routers/viewer/organizations/listMembers.handler.ts
  packages/types/tanstack-table.d.ts
  yarn.lock
Labels: routing-forms, insights, core, foundation, ready-for-e2e

#18025 chore: technical debt - remove unused files
  apps/web/components/auth/layouts/AdminLayout.tsx
  packages/features/ee/sso/page/teams-sso-view.tsx
  packages/features/ee/users/pages/users-listing-view.tsx
Labels: core, consumer, ready-for-e2e

#17986 feat: Webhook support for Managed Events
  apps/web/public/static/locales/en/common.json
  packages/features/ee/managed-event-types/lib/handleChildrenEventTypes.ts
  packages/features/eventtypes/components/tabs/webhooks/EventWebhooksTab.tsx
  packages/features/webhooks/components/EventTypeWebhookListItem.tsx
  packages/features/webhooks/lib/getWebhooks.ts
  packages/platform/atoms/event-types/hooks/useTabsNavigations.tsx
  packages/trpc/server/routers/viewer/webhook/create.handler.ts
  packages/trpc/server/routers/viewer/webhook/list.handler.ts
Labels: ✨ feature, enterprise, webhooks, event-types, core, ready-for-e2e

#17810 feat: Reduce bundle size via better imports + install gcal + gvideo by default for google signups
  .env.example
  apps/api/v2/src/ee/calendars/services/gcal.service.ts
  apps/api/v2/src/ee/gcal/gcal.controller.ts
  apps/api/v2/src/modules/apps/services/gcal.service.ts
  apps/web/package.json
  apps/web/pages/api/teams/googleworkspace/add.ts
  apps/web/pages/api/teams/googleworkspace/callback.ts
  packages/app-store/_utils/oauth/updateProfilePhotoGoogle.ts
  packages/app-store/googlecalendar/api/add.ts
  packages/app-store/googlecalendar/api/callback.ts
  packages/app-store/googlecalendar/lib/CalendarService.test.ts
  packages/app-store/googlecalendar/lib/CalendarService.ts
  packages/app-store/googlecalendar/lib/__mocks__/googleapis.ts
  packages/app-store/googlecalendar/lib/constants.ts
  packages/app-store/googlecalendar/lib/utils.ts
  packages/app-store/googlecalendar/package.json
  packages/app-store/googlevideo/package.json
  packages/features/auth/lib/next-auth-options.ts
  packages/lib/constants.ts
  packages/lib/google.ts
  packages/lib/server/repository/credential.ts
  packages/lib/server/repository/google.ts
  packages/lib/server/repository/selectedCalendar.ts
  packages/platform/libraries/vite.config.js
  packages/trpc/server/routers/viewer/googleWorkspace/googleWorkspace.handler.ts
  packages/types/Calendar.d.ts
  yarn.lock
Labels: ✨ feature, app-store, ❗️ .env changes, performance, core, consumer, ready-for-e2e

#18032 chore: technical debt - remove instances of testing /future routes
  apps/web/playwright/ab-tests-redirect.e2e.ts
  apps/web/playwright/app-store.e2e.ts
  apps/web/playwright/auth/forgot-password.e2e.ts
  apps/web/playwright/booking-pages.e2e.ts
  apps/web/playwright/event-types.e2e.ts
  apps/web/playwright/lib/future-legacy-routes.ts
  apps/web/playwright/login.e2e.ts
  apps/web/playwright/payment.e2e.ts
  apps/web/playwright/teams.e2e.ts
Labels: automated-tests, core, consumer, ready-for-e2e

#17805 feat: Okta(SCIM2.0) -> Attributes Sync and Group Option support
  apps/web/pages/api/scim/v2.0/[...directory].ts
  apps/web/public/static/locales/en/common.json
  apps/web/test/lib/generateCsv.test.ts
  packages/app-store/routing-forms/trpc/getAttributesForTeam.handler.ts
  packages/features/ee/dsync/lib/__tests__/getAttributesFromScimPayload.test.ts
  packages/features/ee/dsync/lib/getAttributesFromScimPayload.ts
  packages/features/ee/dsync/lib/handleGroupEvents.ts
  packages/features/ee/dsync/lib/handleUserEvents.ts
  packages/features/ee/organizations/pages/settings/attributes/AttributesForm.tsx
  packages/features/ee/organizations/pages/settings/attributes/__tests__/AttributeForm.test.ts
  packages/features/ee/organizations/pages/settings/attributes/attributes-create-view.tsx
  packages/features/ee/organizations/pages/settings/attributes/attributes-edit-view.tsx
  packages/features/ee/round-robin/assignmentReason/AssignmentReasonRecorder.ts
  packages/features/users/components/UserTable/BulkActions/MassAssignAttributes.tsx
  packages/features/users/components/UserTable/EditSheet/EditUserForm.tsx
  packages/features/users/components/UserTable/UserListTable.tsx
  packages/features/users/components/UserTable/types.ts
  packages/lib/raqb/findTeamMembersMatchingAttributeLogic.test.ts
  packages/lib/raqb/findTeamMembersMatchingAttributeLogic.ts
  packages/lib/raqb/getAttributes.ts
  packages/lib/raqb/raqbUtils.test.ts
  packages/lib/raqb/raqbUtils.ts
  packages/lib/raqb/types.d.ts
  packages/lib/server/repository/attribute.ts
  packages/lib/server/repository/attributeOption.ts
  packages/lib/server/repository/attributeToUser.ts
  packages/lib/service/TODO.md
  packages/lib/service/attribute/server/assignValueToUser.test.ts
  packages/lib/service/attribute/server/assignValueToUser.ts
  packages/lib/service/attribute/server/getAttributes.test.ts
  packages/lib/service/attribute/server/getAttributes.ts
  packages/lib/service/attribute/server/scim-attribute-sync.md
  packages/lib/service/attribute/server/utils.ts
  packages/lib/service/attribute/types.d.ts
  packages/lib/service/attribute/utils.ts
  packages/prisma/migrations/20241126132214_scim_attributes_sync_related_attrs_added/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/attributes/assignUserToAttribute.handler.ts
  packages/trpc/server/routers/viewer/attributes/create.handler.ts
  packages/trpc/server/routers/viewer/attributes/create.schema.ts
  packages/trpc/server/routers/viewer/attributes/edit.handler.ts
  packages/trpc/server/routers/viewer/attributes/edit.schema.ts
  packages/trpc/server/routers/viewer/attributes/get.handler.ts
  packages/trpc/server/routers/viewer/attributes/getByUserId.handler.ts
  packages/trpc/server/routers/viewer/organizations/listMembers.handler.ts
  vitest.workspace.ts
Labels: ✨ feature, ❗️ migrations, enterprise, core, ready-for-e2e

#18038 feat: v1 booking "created at" field in response
  apps/api/v1/lib/validations/booking.ts
Labels: ✨ feature, enterprise, bookings, core, ready-for-e2e

#17988 feat: conferencing atoms
  apps/api/v2/package.json
  apps/api/v2/src/modules/apps/apps.repository.ts
  apps/api/v2/src/modules/atoms/atoms.module.ts
  apps/api/v2/src/modules/atoms/controllers/atoms.controller.ts
  apps/api/v2/src/modules/atoms/inputs/event-types-app.input.ts
  apps/api/v2/src/modules/atoms/services/conferencing-atom.service.ts
  apps/api/v2/src/modules/atoms/services/event-types-atom.service.ts
  apps/api/v2/src/modules/conferencing/conferencing.module.ts
  apps/api/v2/src/modules/conferencing/controllers/conferencing.controller.ts
  apps/api/v2/src/modules/conferencing/outputs/get-conferencing-apps-oauth-url.ts
  apps/api/v2/src/modules/conferencing/outputs/get-conferencing-apps.output.ts
  apps/api/v2/src/modules/conferencing/outputs/get-default-conferencing-app.output.ts
  apps/api/v2/src/modules/conferencing/repositories/conferencing.respository.ts
  apps/api/v2/src/modules/conferencing/services/conferencing.service.ts
  apps/api/v2/src/modules/conferencing/services/google-meet.service.ts
  apps/api/v2/src/modules/conferencing/services/zoom-video.service.ts
  apps/api/v2/swagger/documentation.json
  apps/web/modules/apps/installed/[category]/installed-category-view.tsx
  apps/web/modules/availability/[schedule]/schedule-view.tsx
  apps/web/modules/availability/availability-view.tsx
  apps/web/modules/settings/developer/api-keys-view.tsx
  apps/web/public/static/locales/en/common.json
  docs/api-reference/v2/openapi.json
  packages/features/apps/components/AppList.tsx
  packages/features/apps/components/AppListCard.tsx
  packages/features/apps/components/AppSetDefaultLinkDialog.tsx
  packages/features/apps/components/DisconnectIntegrationModal.tsx
  packages/features/credentials/handleDeleteCredential.ts
  packages/features/ee/components/CommonSkeletonLoaders.tsx
  packages/features/ee/organizations/pages/settings/attributes/attributes-list-view.tsx
  packages/features/ee/teams/pages/team-appearance-view.tsx
  packages/features/ee/teams/pages/team-listing-view.tsx
  packages/features/ee/teams/pages/team-members-view.tsx
  packages/features/ee/teams/pages/team-profile-view.tsx
  packages/features/eventtypes/components/BulkEditDefaultForEventsModal.tsx
  packages/lib/bulkUpdateEventsToDefaultLocation.ts
  packages/lib/getConnectedApps.ts
  packages/platform/atoms/availability/AvailabilitySettings.tsx
  packages/platform/atoms/connect/conferencing-apps/ConferencingAppsViewPlatformWrapper.tsx
  packages/platform/atoms/connect/conferencing-apps/ConferencingAppsViewWebWrapper.tsx
  packages/platform/atoms/connect/conferencing-apps/hooks/useAtomBulkUpdateEventTypesToDefaultLocation.ts
  packages/platform/atoms/connect/conferencing-apps/hooks/useAtomGetEventTypes.ts
  packages/platform/atoms/connect/conferencing-apps/hooks/useAtomsGetInstalledConferencingApps.ts
  packages/platform/atoms/connect/conferencing-apps/hooks/useConnect.ts
  packages/platform/atoms/connect/conferencing-apps/hooks/useDeleteCredential.ts
  packages/platform/atoms/connect/conferencing-apps/hooks/useGetDefaultConferencingApp.ts
  packages/platform/atoms/connect/conferencing-apps/hooks/useUpdateUserDefaultConferencingApp.ts
  packages/platform/atoms/index.ts
  packages/platform/constants/apps.ts
  packages/platform/examples/base/src/components/Navbar/index.tsx
  packages/platform/examples/base/src/pages/conferencing-apps.tsx
  packages/platform/libraries/index.ts
  packages/trpc/server/routers/loggedInViewer/integrations.handler.ts
  packages/trpc/server/routers/viewer/eventTypes/bulkUpdateToDefaultLocation.handler.ts
Labels: ✨ feature, platform, core, ⚛️ atoms, ready-for-e2e

#18043 feat: Enable SCIM logging that can be configured through constant
  .env.example
  apps/web/pages/api/scim/v2.0/[...directory].ts
  packages/lib/constants.ts
  turbo.json
Labels: ✨ feature, enterprise, ❗️ .env changes, core, ready-for-e2e

#18029 chore: Add host default language to workflow reminder weekdays
  packages/features/ee/workflows/api/scheduleEmailReminders.ts
  packages/features/ee/workflows/api/scheduleSMSReminders.ts
  packages/features/ee/workflows/api/scheduleWhatsappReminders.ts
  packages/features/ee/workflows/components/WorkflowStepContainer.tsx
  packages/features/ee/workflows/lib/actionHelperFunctions.ts
  packages/features/ee/workflows/lib/reminders/emailReminderManager.ts
  packages/features/ee/workflows/lib/reminders/smsReminderManager.ts
  packages/features/ee/workflows/lib/reminders/templates/customTemplate.ts
  packages/features/ee/workflows/lib/reminders/templates/emailRatingTemplate.ts
  packages/features/ee/workflows/lib/reminders/templates/smsReminderTemplate.ts
  packages/features/ee/workflows/lib/reminders/templates/whatsapp/whatsappEventCancelledTemplate.ts
  packages/features/ee/workflows/lib/reminders/templates/whatsapp/whatsappEventCompletedTemplate.ts
  packages/features/ee/workflows/lib/reminders/templates/whatsapp/whatsappEventReminderTemplate.ts
  packages/features/ee/workflows/lib/reminders/templates/whatsapp/whatsappEventRescheduledTemplate.ts
  packages/features/ee/workflows/lib/reminders/whatsappReminderManager.ts
Labels: workflows, core, ready-for-e2e

#18045 fix: Schedule a timezone change only allows you to select one day not date range
  apps/web/components/settings/TravelScheduleModal.tsx
Labels: 🐛 bug, core, ready-for-e2e

#18034 fix: Do not consider salesforce ownership when making rerouting decision
  apps/web/test/lib/getSchedule.test.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/lib/bookings/routing/utils.test.ts
  packages/lib/bookings/routing/utils.ts
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: 🐛 bug, enterprise, core, crm-apps, ready-for-e2e

#18058 fix: When crating a new event from a team event list, the cancel button redirects to /event-types #
  packages/features/eventtypes/components/CreateEventTypeDialog.tsx
Labels: 🐛 bug, Low priority, event-types, community, ready-for-e2e

#18013 feat: domain wide delegation UI
  apps/web/app/settings/(admin-layout)/admin/workspace-platforms/page.tsx
  apps/web/app/settings/(settings-layout)/organizations/domain-wide-delegation/page.tsx
  apps/web/pages/api/trpc/domainWideDelegation/[trpc].ts
  apps/web/public/static/locales/en/common.json
  apps/web/tsconfig.json
  packages/app-store/googlecalendar/lib/CalendarService.test.ts
  packages/features/domain-wide-delegation/domain-wide-delegation-repository.interface.ts
  packages/features/domain-wide-delegation/domain-wide-delegation.ts
  packages/features/domain-wide-delegation/mock-domain-wide-delegation.repository.ts
  packages/features/ee/organizations/pages/settings/admin/WorkspacePlatformPage.tsx
  packages/features/ee/organizations/pages/settings/domainWideDelegation.tsx
  packages/features/flags/config.ts
  packages/features/flags/hooks/index.ts
  packages/features/settings/appDir/SettingsLayoutAppDirClient.tsx
  packages/features/settings/layouts/SettingsLayout.tsx
  packages/lib/buildCalEventFromBooking.ts
  packages/lib/server/repository/domainWideDelegation.ts
  packages/lib/server/repository/organization.ts
  packages/lib/server/repository/workspacePlatform.ts
  packages/prisma/migrations/20241205095738_add_feature_flag_domain_wide_delegation/migration.sql
  packages/prisma/migrations/20241206131352_add_dwd/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/zod-utils.ts
  packages/trpc/react/shared.ts
  packages/trpc/server/routers/viewer/_router.tsx
  packages/trpc/server/routers/viewer/admin/_router.ts
  packages/trpc/server/routers/viewer/admin/workspacePlatform/add.handler.ts
  packages/trpc/server/routers/viewer/admin/workspacePlatform/list.handler.ts
  packages/trpc/server/routers/viewer/admin/workspacePlatform/schema.ts
  packages/trpc/server/routers/viewer/admin/workspacePlatform/toggleEnabled.handler.ts
  packages/trpc/server/routers/viewer/admin/workspacePlatform/update.handler.ts
  packages/trpc/server/routers/viewer/admin/workspacePlatform/updateServiceAccount.handler.ts
  packages/trpc/server/routers/viewer/admin/workspacePlatform/utils.ts
  packages/trpc/server/routers/viewer/domainWideDelegation/_router.ts
  packages/trpc/server/routers/viewer/domainWideDelegation/add.handler.ts
  packages/trpc/server/routers/viewer/domainWideDelegation/delete.handler.ts
  packages/trpc/server/routers/viewer/domainWideDelegation/list.handler.ts
  packages/trpc/server/routers/viewer/domainWideDelegation/listWorkspacePlatforms.handler.ts
  packages/trpc/server/routers/viewer/domainWideDelegation/schema.ts
  packages/trpc/server/routers/viewer/domainWideDelegation/toggleEnabled.handler.ts
  packages/trpc/server/routers/viewer/domainWideDelegation/update.handler.ts
  packages/trpc/server/routers/viewer/domainWideDelegation/utils.ts
  packages/types/Calendar.d.ts
Labels: ✨ feature, ❗️ migrations, enterprise, core, admin, ready-for-e2e

#18039 chore: add user profile to org user endpoints apiv2
  apps/api/v2/src/modules/organizations/controllers/users/organizations-users.controller.ts
  apps/api/v2/src/modules/organizations/controllers/users/organizations-users.e2e-spec.ts
  apps/api/v2/src/modules/organizations/outputs/get-organization-users.output.ts
  apps/api/v2/src/modules/organizations/repositories/organizations-users.repository.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
Labels: platform, api, organizations, core, ready-for-e2e

#18040 fix: add onTouchEnd for mobile apps
  packages/platform/atoms/connect/OAuthConnect.tsx
Labels: 🐛 bug, platform, core, ready-for-e2e

#17973 feat: resizing in DataTable
  packages/features/data-table/components/DataTable.tsx
  packages/features/data-table/index.ts
  packages/features/data-table/lib/resizing.ts
  packages/features/users/components/UserTable/UserListTable.tsx
Labels: ✨ feature, core, consumer, ready-for-e2e

#16980 chore: use app router - /apps main page
  .env.example
  apps/web/abTest/middlewareFactory.ts
  apps/web/app/apps/page.tsx
  apps/web/middleware.ts
  apps/web/pages/apps/index.tsx
  apps/web/scripts/vercel-app-router-deploy.sh
  turbo.json
Labels: ❗️ .env changes, core, consumer, ready-for-e2e

#18041 feat: v2 teams memberships endpoints
  apps/api/v2/src/ee/platform-endpoints-module.ts
  apps/api/v2/src/modules/teams/memberships/controllers/teams-memberships.controller.e2e-spec.ts
  apps/api/v2/src/modules/teams/memberships/controllers/teams-memberships.controller.ts
  apps/api/v2/src/modules/teams/memberships/inputs/create-team-membership.input.ts
  apps/api/v2/src/modules/teams/memberships/inputs/update-team-membership.input.ts
  apps/api/v2/src/modules/teams/memberships/outputs/create-team-membership.output.ts
  apps/api/v2/src/modules/teams/memberships/outputs/delete-team-membership.output.ts
  apps/api/v2/src/modules/teams/memberships/outputs/get-team-membership.output.ts
  apps/api/v2/src/modules/teams/memberships/outputs/get-team-memberships.output.ts
  apps/api/v2/src/modules/teams/memberships/outputs/team-membership.output.ts
  apps/api/v2/src/modules/teams/memberships/outputs/update-team-membership.output.ts
  apps/api/v2/src/modules/teams/memberships/services/teams-memberships.service.ts
  apps/api/v2/src/modules/teams/memberships/teams-memberships.module.ts
  apps/api/v2/src/modules/teams/memberships/teams-memberships.repository.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
Labels: ✨ feature, teams, platform, core, ready-for-e2e

#18065 fix: add members page back to settings
  packages/features/settings/appDir/SettingsLayoutAppDirClient.tsx
Labels: organizations, core, consumer, ready-for-e2e

#18055 fix: team event is leading to a 404 page due to slug conflict
  apps/web/lib/team/[slug]/[type]/getServerSideProps.tsx
Labels: 🐛 bug, teams, core, ready-for-e2e

#18056 feat: Use Stripe paymentElement with multiple payment methods
  apps/web/server/lib/auth/sso/[provider]/getServerSideProps.tsx
  packages/app-store/_utils/paid-apps.ts
  packages/app-store/stripepayment/api/subscription.ts
  packages/app-store/stripepayment/lib/PaymentService.ts
  packages/features/auth/signup/handlers/calcomHandler.ts
  packages/features/ee/payments/components/Payment.tsx
Labels: ✨ feature, 🧹 Improvements, 💎 Bounty, billing, 🙋 Bounty claim, community, ready-for-e2e

#18066 docs: Fix OAuth casing
  apps/api/v2/src/ee/calendars/controllers/calendars.controller.e2e-spec.ts
  apps/api/v2/src/ee/calendars/services/gcal.service.ts
  apps/api/v2/src/ee/gcal/gcal.controller.e2e-spec.ts
  apps/api/v2/src/ee/gcal/gcal.controller.ts
  apps/api/v2/src/modules/auth/guards/permissions/permissions.guard.spec.ts
  apps/api/v2/src/modules/conferencing/controllers/conferencing.controller.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-webhooks/oauth-client-webhooks.controller.e2e-spec.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
  docs/platform/faq.mdx
Labels: docs, core, foundation, ready-for-e2e

#18069 chore: enable markdown for platform atoms
  packages/platform/atoms/lib/markdownToSafeHTML.ts
  packages/platform/atoms/package.json
Labels: platform, core, ready-for-e2e

#18064 chore: Remove pages/settings
  apps/web/lib/orgMigration.test.ts
  apps/web/pages/api/orgMigration/moveTeamToOrg.ts
  apps/web/pages/api/orgMigration/moveUserToOrg.ts
  apps/web/pages/api/orgMigration/removeTeamFromOrg.ts
  apps/web/pages/api/orgMigration/removeUserFromOrg.ts
  apps/web/pages/settings/admin/orgMigrations/_OrgMigrationLayout.tsx
  apps/web/pages/settings/admin/orgMigrations/moveTeamToOrg.tsx
  apps/web/pages/settings/admin/orgMigrations/moveUserToOrg.tsx
  apps/web/pages/settings/admin/orgMigrations/removeTeamFromOrg.tsx
  apps/web/pages/settings/admin/orgMigrations/removeUserFromOrg.tsx
  apps/web/playwright/change-username.e2e.ts
  apps/web/playwright/lib/orgMigration.ts
  apps/web/playwright/organization/organization-invitation.e2e.ts
  packages/features/settings/layouts/SettingsLayout.tsx
Labels: enterprise, core, foundation, ready-for-e2e

#17821 feat: banner and avatars for `Booker` atom
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.e2e-spec.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/outputs/managed-user.output.ts
  apps/api/v2/src/modules/oauth-clients/services/oauth-clients-users.service.ts
  apps/api/v2/src/modules/organizations/controllers/teams/organizations-teams.controller.e2e-spec.ts
  apps/api/v2/src/modules/organizations/inputs/create-organization-team.input.ts
  apps/api/v2/src/modules/organizations/inputs/update-organization-team.input.ts
  apps/api/v2/src/modules/organizations/repositories/organizations-event-types.repository.ts
  apps/api/v2/src/modules/organizations/services/event-types/output.service.ts
  apps/api/v2/src/modules/users/inputs/create-managed-user.input.ts
  apps/api/v2/src/modules/users/inputs/update-managed-user.input.ts
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/components/EventMeta.tsx
  packages/features/bookings/components/event-meta/Members.tsx
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
  packages/platform/atoms/event-types/atom-api-transformers/transformApiEventTypeForAtom.ts
  packages/platform/examples/base/src/pages/api/managed-user.ts
  packages/platform/types/event-types/event-types_2024_06_14/outputs/event-type.output.ts
Labels: ✨ feature, platform, bookings, core, ready-for-e2e

#18070 fix: public booking page serialization error
  apps/web/server/lib/[user]/getServerSideProps.ts
Labels: 🐛 bug, High priority, booking-page, core, consumer, 1sec review, ready-for-e2e

#17760 fix: Request permissions for shared Office365/Outlook calendars
  packages/app-store/office365calendar/api/add.ts
  packages/app-store/office365calendar/lib/CalendarService.ts
Labels: 🐛 bug, app-store, Medium priority, 📉 regressing, Stale, calendar-apps, community, ready-for-e2e

#17449 chore: Add location to workflow reminder template
  packages/features/ee/workflows/api/scheduleEmailReminders.ts
  packages/features/ee/workflows/lib/reminders/emailReminderManager.ts
  packages/features/ee/workflows/lib/reminders/templates/emailReminderTemplate.ts
Labels: Low priority, workflows, core, community, ready-for-e2e

#17980 fix: not able to mark no show
  apps/web/playwright/bookings-list.e2e.ts
  apps/web/playwright/lib/testUtils.ts
  apps/web/playwright/managed-event-types.e2e.ts
  packages/lib/server/repository/booking.ts
Labels: 🐛 bug, bookings, core, ready-for-e2e

#18074 chore: fixed days of trial
  packages/features/ee/teams/lib/payments.ts
Labels: billing, community, ready-for-e2e

#17982 fix: sorting insights table for booking status
  packages/features/insights/components/RoutingFormResponsesTable.tsx
Labels: 🐛 bug, insights, core, consumer, ready-for-e2e

#18020 fix: can't edit ooo
  apps/web/public/static/locales/en/common.json
  packages/trpc/server/routers/loggedInViewer/outOfOffice.handler.ts
Labels: 🐛 bug, community, ready-for-e2e

#17936 feat: Add OAuth support for closecom app linking
  .env.example
  apps/web/components/apps/installation/ConfigureStepCard.tsx
  packages/app-store/_pages/setup/index.tsx
  packages/app-store/closecom/api/_getAdd.ts
  packages/app-store/closecom/api/_postAdd.ts
  packages/app-store/closecom/api/_postCheck.ts
  packages/app-store/closecom/api/add.ts
  packages/app-store/closecom/api/callback.ts
  packages/app-store/closecom/api/check.ts
  packages/app-store/closecom/api/index.ts
  packages/app-store/closecom/config.json
  packages/app-store/closecom/lib/CrmService.ts
  packages/app-store/closecom/pages/setup/index.tsx
  packages/app-store/closecom/zod.ts
  packages/lib/CloseCom.ts
  packages/prisma/seed-app-store.ts
  turbo.json
Labels: ✨ feature, app-store, Medium priority, ❗️ .env changes, api, crm-apps, osshack, community, high-risk, ready-for-e2e

#18080 build: Change alpine image to one compatible with Prisma
  apps/api/v2/Dockerfile
Labels: docker, core, foundation, ready-for-e2e

#18057 feat: ability to require an email
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/lib/getBookingResponsesSchema.test.ts
  packages/features/bookings/lib/getBookingResponsesSchema.ts
  packages/features/form-builder/FormBuilder.tsx
  packages/features/form-builder/schema.ts
Labels: ✨ feature, Low priority, community, ready-for-e2e

#18053 feat: Show routing reason on booking page [CAL-4814]
  apps/web/components/booking/BookingListItem.tsx
  apps/web/lib/booking/assignmentReasonBadgeTitleMap.ts
  apps/web/public/static/locales/en/common.json
  packages/trpc/server/routers/viewer/bookings/get.handler.ts
Labels: ✨ feature, booking-page, core, consumer, ready-for-e2e

#16531 chore: Remove Pages Router / Use App Router - `more`, `maintenance`, `upgrade`, `connect-and-join`
  .env.example
  apps/web/abTest/middlewareFactory.ts
  apps/web/app/connect-and-join/page.tsx
  apps/web/app/maintenance/page.tsx
  apps/web/app/more/page.tsx
  apps/web/app/upgrade/page.tsx
  apps/web/modules/maintenance/maintenance-view.tsx
  apps/web/pages/connect-and-join.tsx
  apps/web/pages/maintenance.tsx
  apps/web/pages/more.tsx
  apps/web/pages/upgrade.tsx
  apps/web/public/static/locales/en/common.json
  apps/web/scripts/vercel-app-router-deploy.sh
  packages/app-store/office365calendar/api/add.ts
  packages/embeds/embed-core/playground.ts
  packages/embeds/embed-core/src/embed.test.ts
  turbo.json
Labels: ❗️ .env changes, core, 💻 refactor, foundation, consumer, high-risk, ready-for-e2e

#18101 chore: app router migration - `/enterprise` and `d/[link]/[slug]`
  apps/web/app/d/[link]/[slug]/page.tsx
  apps/web/app/enterprise/page.tsx
  apps/web/pages/d/[link]/[slug].tsx
  apps/web/pages/enterprise/index.tsx
Labels: enterprise, core, consumer, ready-for-e2e

#18048 chore: remove extra fetching and get user locale from headers in settings pages
  apps/web/app/_utils.tsx
  apps/web/app/settings/(admin-layout)/admin/apps/[category]/page.tsx
  apps/web/app/settings/(admin-layout)/admin/flags/page.tsx
  apps/web/app/settings/(admin-layout)/admin/impersonation/page.tsx
  apps/web/app/settings/(admin-layout)/admin/lockedSMS/page.tsx
  apps/web/app/settings/(admin-layout)/admin/oAuth/page.tsx
  apps/web/app/settings/(admin-layout)/admin/organizations/[id]/edit/page.tsx
  apps/web/app/settings/(admin-layout)/admin/organizations/page.tsx
  apps/web/app/settings/(admin-layout)/admin/users/[id]/edit/page.tsx
  apps/web/app/settings/(admin-layout)/admin/users/add/page.tsx
  apps/web/app/settings/(admin-layout)/admin/users/page.tsx
  apps/web/app/settings/(settings-layout)/billing/page.tsx
  apps/web/app/settings/(settings-layout)/developer/api-keys/page.tsx
  apps/web/app/settings/(settings-layout)/developer/webhooks/[id]/page.tsx
  apps/web/app/settings/(settings-layout)/developer/webhooks/new/page.tsx
  apps/web/app/settings/(settings-layout)/my-account/appearance/page.tsx
  apps/web/app/settings/(settings-layout)/my-account/calendars/page.tsx
  apps/web/app/settings/(settings-layout)/my-account/conferencing/page.tsx
  apps/web/app/settings/(settings-layout)/my-account/general/page.tsx
  apps/web/app/settings/(settings-layout)/my-account/out-of-office/page.tsx
  apps/web/app/settings/(settings-layout)/my-account/profile/page.tsx
  apps/web/app/settings/(settings-layout)/organizations/admin-api/page.tsx
  apps/web/app/settings/(settings-layout)/organizations/attributes/page.tsx
  apps/web/app/settings/(settings-layout)/organizations/dsync/page.tsx
  apps/web/app/settings/(settings-layout)/organizations/general/page.tsx
  apps/web/app/settings/(settings-layout)/organizations/privacy/page.tsx
  apps/web/app/settings/(settings-layout)/organizations/profile/page.tsx
  apps/web/app/settings/(settings-layout)/organizations/sso/page.tsx
  apps/web/app/settings/(settings-layout)/organizations/teams/other/[id]/appearance/page.tsx
  apps/web/app/settings/(settings-layout)/organizations/teams/other/[id]/members/page.tsx
  apps/web/app/settings/(settings-layout)/organizations/teams/other/[id]/profile/page.tsx
  apps/web/app/settings/(settings-layout)/organizations/teams/other/page.tsx
  apps/web/app/settings/(settings-layout)/security/impersonation/page.tsx
  apps/web/app/settings/(settings-layout)/security/password/page.tsx
  apps/web/app/settings/(settings-layout)/security/sso/page.tsx
  apps/web/app/settings/(settings-layout)/security/two-factor-auth/page.tsx
  apps/web/app/settings/(settings-layout)/teams/[id]/appearance/page.tsx
  apps/web/app/settings/(settings-layout)/teams/[id]/bookingLimits/page.tsx
  apps/web/app/settings/(settings-layout)/teams/[id]/members/page.tsx
  apps/web/app/settings/(settings-layout)/teams/[id]/profile/page.tsx
  apps/web/app/settings/(settings-layout)/teams/page.tsx
  apps/web/app/settings/organizations/members/page.tsx
  apps/web/middleware.ts
Labels: i18n, core, consumer, ready-for-e2e

#18088 chore: remove pages router and use app router for /insights pages
  apps/web/app/insights/page.tsx
  apps/web/app/insights/routing/page.tsx
  apps/web/pages/insights/index.tsx
  apps/web/pages/insights/routing/index.tsx
  apps/web/scripts/vercel-app-router-deploy.sh
Labels: insights, core, consumer, ready-for-e2e

#16519 chore: Remove Pages Router / Use App Router - `/workflows`
  .env.example
  apps/web/abTest/middlewareFactory.ts
  apps/web/app/future/workflows/page.tsx
  apps/web/app/workflows/[workflow]/page.tsx
  apps/web/app/workflows/page.tsx
  apps/web/middleware.ts
  apps/web/pages/workflows/[workflow].tsx
  apps/web/pages/workflows/index.tsx
  apps/web/public/static/locales/en/common.json
  apps/web/scripts/vercel-app-router-deploy.sh
  turbo.json
Labels: ❗️ .env changes, workflows, core, 💻 refactor, foundation, consumer, high-risk, ready-for-e2e

#18084 fix: Insights team filter behavior
  packages/features/insights/filters/TeamAndSelfList.tsx
  packages/features/insights/server/trpc-router.ts
Labels: 🐛 bug, insights, core, ready-for-e2e

#17794 feat: Title - AI translation for booking pages
  apps/web/cron-tester.ts
  apps/web/playwright/managed-event-types.e2e.ts
  apps/web/playwright/webhook.e2e.ts
  apps/web/public/static/locales/en/common.json
  apps/web/test/lib/generateCsv.test.ts
  packages/features/bookings/Booker/components/EventMeta.tsx
  packages/features/tasker/tasker.ts
  packages/features/tasker/tasks/index.ts
  packages/features/tasker/tasks/translateEventTypeData.ts
  packages/features/tasker/tasks/translateEventTypeDescription.ts
  packages/lib/server/repository/eventTypeTranslation.ts
  packages/prisma/migrations/20241122050747_add_title_to_event_type_auto_translated_field/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/eventTypes/update.handler.ts
Labels: ❗️ migrations, i18n, event-types, booking-page, core, ai, consumer, ready-for-e2e

#18087 fix: prevent infinite rerendering of DataTable
  packages/features/data-table/components/useFetchMoreOnBottomReached.ts
  packages/features/ee/teams/components/MemberList.tsx
  packages/features/insights/components/RoutingFormResponsesTable.tsx
  packages/features/users/components/UserTable/UserListTable.tsx
Labels: 🐛 bug, core, consumer, ready-for-e2e

#16518 chore: Remove Pages Router / Render App Router - `/video`
  .env.example
  apps/web/abTest/middlewareFactory.ts
  apps/web/app/future/video/[uid]/page.tsx
  apps/web/app/video/[uid]/page.tsx
  apps/web/app/video/meeting-ended/[uid]/page.tsx
  apps/web/app/video/meeting-not-started/[uid]/page.tsx
  apps/web/app/video/no-meeting-found/page.tsx
  apps/web/middleware.ts
  apps/web/modules/videos/views/videos-meeting-ended-single-view.tsx
  apps/web/modules/videos/views/videos-single-view.tsx
  apps/web/pages/video/[uid].tsx
  apps/web/pages/video/meeting-ended/[uid].tsx
  apps/web/pages/video/meeting-not-started/[uid].tsx
  apps/web/pages/video/no-meeting-found.tsx
  apps/web/public/static/locales/en/common.json
  apps/web/scripts/vercel-app-router-deploy.sh
  turbo.json
Labels: ❗️ .env changes, core, cal video, 💻 refactor, foundation, consumer, high-risk, ready-for-e2e

#18116 chore: Add CODEOWNERS
  .github/CODEOWNERS
Labels: core, foundation, ready-for-e2e

#18118 fix: Error on webhooks page exporting client only comp directly
  apps/web/app/settings/(settings-layout)/developer/webhooks/page.tsx
Labels: 🐛 bug, webhooks, core, foundation, ready-for-e2e

#18077 fix: correct line-breaks in calendar event description
  packages/lib/CalEventParser.ts
Labels: 🐛 bug, ui, community, ready-for-e2e

#18001 feat: migrate /apps/routing-forms/forms to /routing
  apps/web/lib/routing/getServerSideProps.ts
  apps/web/middleware.ts
  apps/web/modules/routing/pages-view.tsx
  apps/web/pages/routing/index.tsx
  apps/web/public/icons/sprite.svg
  packages/app-store/routing-forms/pages/layout-handler/[...appPages].tsx
  packages/app-store/routing-forms/playwright/tests/basic.e2e.ts
  packages/features/shell/navigation/Navigation.tsx
  packages/ui/components/icon/icon-list.mjs
  packages/ui/components/icon/icon-names.ts
Labels: ✨ feature, ⚡ Quick Wins, Medium priority, routing-forms, community, ready-for-e2e

#17434 feat: Change 'add override' to 'save override'
  apps/web/public/static/locales/ar/common.json
  apps/web/public/static/locales/az/common.json
  apps/web/public/static/locales/cs/common.json
  apps/web/public/static/locales/da/common.json
  apps/web/public/static/locales/de/common.json
  apps/web/public/static/locales/en/common.json
  apps/web/public/static/locales/es-419/common.json
  apps/web/public/static/locales/es/common.json
  apps/web/public/static/locales/et/common.json
  apps/web/public/static/locales/fr/common.json
  apps/web/public/static/locales/he/common.json
  apps/web/public/static/locales/hu/common.json
  apps/web/public/static/locales/it/common.json
  apps/web/public/static/locales/ja/common.json
  apps/web/public/static/locales/km/common.json
  apps/web/public/static/locales/ko/common.json
  apps/web/public/static/locales/nl/common.json
  apps/web/public/static/locales/no/common.json
  apps/web/public/static/locales/pl/common.json
  apps/web/public/static/locales/pt-BR/common.json
  apps/web/public/static/locales/pt/common.json
  apps/web/public/static/locales/ro/common.json
  apps/web/public/static/locales/ru/common.json
  apps/web/public/static/locales/sr/common.json
  apps/web/public/static/locales/sv/common.json
  apps/web/public/static/locales/tr/common.json
  apps/web/public/static/locales/uk/common.json
  apps/web/public/static/locales/vi/common.json
  apps/web/public/static/locales/zh-CN/common.json
  apps/web/public/static/locales/zh-TW/common.json
  packages/features/schedules/components/DateOverrideInputDialog.tsx
  packages/features/schedules/components/DateOverrideList.tsx
  packages/features/timezone-buddy/components/AvailabilityEditSheet.tsx
  packages/platform/atoms/availability/AvailabilitySettings.tsx
  packages/ui/components/schedules/date-override-list.test.tsx
Labels: 🧹 Improvements, Medium priority, i18n, ui, community, ready-for-e2e

#18125 refactor: improved observability for Salesforce
  packages/app-store/salesforce/lib/CrmService.ts
  packages/app-store/salesforce/lib/getSalesforceAppKeys.ts
  packages/core/crmManager/crmManager.ts
  packages/types/CrmService.d.ts
Labels: core, crm-apps, 💻 refactor, foundation, ready-for-e2e

#18127 build: Node alpine libssl symlink fix
  apps/api/v2/Dockerfile
Labels: core, foundation, ready-for-e2e

#18131 fix: Salesforce - only call create prospect record once
  packages/app-store/salesforce/lib/CrmService.ts
Labels: 🐛 bug, core, crm-apps, consumer, ready-for-e2e

#18105 fix: CRM error log
  packages/core/EventManager.ts
Labels: enterprise, core, crm-apps, ready-for-e2e

#18108 fix: store default booking fields when creating event
  apps/api/v2/package.json
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/controllers/event-types.controller.e2e-spec.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/pipes/event-type-response.transformer.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/output-event-types.service.ts
  apps/api/v2/src/modules/organizations/controllers/event-types/organizations-event-types.e2e-spec.ts
  apps/api/v2/src/modules/organizations/controllers/pipes/event-types/team-event-types-response.transformer.ts
  apps/api/v2/src/modules/organizations/services/event-types/output.service.ts
  packages/platform/libraries/index.ts
  yarn.lock
Labels: 🐛 bug, platform, event-types, core, ready-for-e2e

#18109 feat: weights per attribute UI
  apps/web/public/static/locales/en/common.json
  packages/features/ee/organizations/pages/settings/attributes/AttributesForm.tsx
  packages/features/ee/organizations/pages/settings/attributes/attributes-edit-view.tsx
  packages/features/ee/organizations/pages/settings/attributes/attributes-list-view.tsx
  packages/features/users/components/UserTable/BulkActions/MassAssignAttributes.tsx
  packages/features/users/components/UserTable/EditSheet/EditUserForm.tsx
  packages/features/users/components/UserTable/EditSheet/EditUserSheet.tsx
  packages/features/users/components/UserTable/UserListTable.tsx
  packages/features/users/components/UserTable/types.ts
  packages/lib/csvUtils.ts
  packages/trpc/server/routers/viewer/attributes/assignUserToAttribute.handler.ts
  packages/trpc/server/routers/viewer/attributes/assignUserToAttribute.schema.ts
  packages/trpc/server/routers/viewer/attributes/edit.handler.ts
  packages/trpc/server/routers/viewer/attributes/edit.schema.ts
  packages/trpc/server/routers/viewer/attributes/get.handler.ts
  packages/trpc/server/routers/viewer/attributes/getByUserId.handler.ts
  packages/trpc/server/routers/viewer/organizations/listMembers.handler.ts
  packages/ui/components/icon/icon-list.mjs
Labels: ✨ feature, ui, core, consumer, ready-for-e2e

#18133 fix: early return if no users are found to prevent prisma error
  packages/features/insights/server/routing-events.ts
Labels: 🐛 bug, insights, core, consumer, ready-for-e2e

#18136 chore: add successRedirectUrl to event-types api v2
  apps/api/v2/src/modules/organizations/controllers/event-types/organizations-event-types.e2e-spec.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/create-event-type.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/update-event-type.input.ts
Labels: platform, event-types, core, ready-for-e2e

#18128 fix: filling users logic
  apps/web/lib/team/[slug]/[type]/getServerSideProps.tsx
  apps/web/server/lib/[user]/[type]/getServerSideProps.ts
  packages/features/bookings/components/BookerSeo.tsx
Labels: 🐛 bug, core, consumer, ready-for-e2e

#18082 fix: update get booking output for v2
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/api-key-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/recurring-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/seated-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/team-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/user-bookings.e2e-spec.ts
  packages/platform/types/bookings/2024-08-13/outputs/booking.output.ts
Labels: 🐛 bug, platform, bookings, core, ready-for-e2e

#18140 fix: Searching users in admin page not working
  packages/trpc/server/routers/viewer/admin/listPaginated.handler.ts
Labels: 🐛 bug, core, ready-for-e2e

#18145 fix: default to 100 when attribute weight undefined
  packages/lib/server/getLuckyUser.ts
Labels: 🐛 bug, High priority, core, consumer, ready-for-e2e

#18149 fix: Prisma validation error in generateMetadata (workflows)
  apps/web/app/workflows/[workflow]/page.tsx
  packages/lib/server/repository/workflow.ts
Labels: 🐛 bug, workflows, core, foundation, ready-for-e2e

#18147 refactor: improved observability in google calendar service
  packages/app-store/googlecalendar/lib/CalendarService.ts
Labels: core, 💻 refactor, foundation, ready-for-e2e

#18154 chore: fix misleading test names
  apps/web/playwright/event-types.e2e.ts
  apps/web/playwright/teams.e2e.ts
Labels: automated-tests, core, consumer, ready-for-e2e

#18153 fix: ensure migrated pages are added to config.matcher in middleware
  apps/web/middleware.ts
Labels: core, consumer, ready-for-e2e

#18148 chore: use getTranslate instead
  apps/web/app/settings/(admin-layout)/admin/workspace-platforms/page.tsx
  apps/web/app/settings/(settings-layout)/organizations/domain-wide-delegation/page.tsx
Labels: core, consumer, ready-for-e2e

#18156 chore: i18n - remove hardcoded strings
  apps/web/app/future/org/[orgSlug]/embed/page.tsx
  apps/web/app/future/org/[orgSlug]/page.tsx
  apps/web/app/future/org/[orgSlug]/team/[slug]/page.tsx
  apps/web/app/future/team/[slug]/embed/page.tsx
  apps/web/app/future/team/[slug]/page.tsx
  apps/web/components/settings/platform/dashboard/NoPlatformPlan.tsx
  apps/web/components/settings/platform/oauth-clients/oauth-client-form/index.tsx
  apps/web/modules/settings/platform/oauth-clients/[clientId]/edit/edit-webhooks-view.tsx
  apps/web/modules/settings/platform/platform-view.tsx
  apps/web/modules/team/team-view.tsx
  apps/web/modules/upgrade/upgrade-view.tsx
  apps/web/public/static/locales/en/common.json
Labels: i18n, core, consumer, ready-for-e2e

#18120 fix: Hyperlinks not highlighted in eventmeta
  packages/features/bookings/Booker/components/EventMeta.tsx
Labels: 🐛 bug, bookings, core, ready-for-e2e

#18159 chore: small changes for platform booker embed
  packages/features/bookings/components/event-meta/Members.tsx
  packages/platform/atoms/booker-embed/BookerEmbed.tsx
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
  packages/platform/atoms/src/components/atoms-wrapper.tsx
Labels: platform, embed, core, ready-for-e2e

#16517 chore: `/availability` - Remove Pages Router / Render App Router
  .env.example
  apps/web/abTest/middlewareFactory.ts
  apps/web/app/availability/[schedule]/page.tsx
  apps/web/app/availability/page.tsx
  apps/web/app/availability/troubleshoot/page.tsx
  apps/web/app/future/availability/[schedule]/page.tsx
  apps/web/app/future/availability/page.tsx
  apps/web/middleware.ts
  apps/web/pages/availability/[schedule].tsx
  apps/web/pages/availability/index.tsx
  apps/web/pages/availability/troubleshoot.tsx
  apps/web/scripts/vercel-app-router-deploy.sh
  packages/core/EventManager.ts
  turbo.json
Labels: ❗️ .env changes, core, 💻 refactor, foundation, consumer, high-risk, ready-for-e2e

#18121 fix: Invalid time zone specified: Etc/Unknown
  apps/web/lib/clock.ts
  apps/web/modules/bookings/views/bookings-single-view.test.tsx
  apps/web/modules/bookings/views/bookings-single-view.tsx
  packages/features/bookings/lib/timePreferences.ts
  packages/features/ee/payments/components/PaymentPage.tsx
  packages/features/ee/teams/components/TeamAvailabilityModal.tsx
  packages/features/settings/TimezoneChangeDialog.tsx
  packages/features/timezone-buddy/components/AvailabilitySliderTable.tsx
  packages/lib/constants.ts
  packages/platform/atoms/event-types/payments/PaymentForm.tsx
Labels: 🐛 bug, bookings, core, ready-for-e2e

#18075 fix: add no show guest
  packages/features/insights/server/events.ts
Labels: 🐛 bug, Medium priority, enterprise, insights, core, ready-for-e2e

#18169 fix: wrong workflow notifications when enabling workflows
  packages/trpc/server/routers/viewer/workflows/activateEventType.handler.ts
Labels: 🐛 bug, High priority, workflows, event-types, core, consumer, ready-for-e2e

#18171 fix: improve getAllUserBooking filter by teamIds
  packages/trpc/server/routers/viewer/bookings/get.handler.ts
Labels: 🧹 Improvements, platform, bookings, core, ready-for-e2e

#18173 fix: don't send reassingment email to attendee for past events
  packages/features/ee/round-robin/roundRobinManualReassignment.ts
  packages/features/ee/round-robin/roundRobinReassignment.ts
Labels: 🐛 bug, teams, core, consumer, ready-for-e2e

#18174 chore: bump platform libraries version for api-v2
  apps/api/v2/package.json
Labels: ⬆️ dependencies, platform, core, ready-for-e2e

#18175 revert: "fix: correct line-breaks in calendar event description"
  packages/lib/CalEventParser.ts
Labels: core, foundation, ready-for-e2e

#18176 fix: change trigger time for form submitted not booked webhook
  packages/app-store/routing-forms/trpc/utils.ts
Labels: 🐛 bug, routing-forms, webhooks, core, consumer, ready-for-e2e

#18177 fix: app router - viewport / favicon metadata
  apps/web/app/maintenance/page.tsx
  apps/web/lib/metadata.ts
Labels: 🐛 bug, core, consumer, ready-for-e2e

#18179 fix: trpc/react-query — only one query client should exist
  apps/web/app/_trpc/trpc-provider.tsx
  apps/web/app/layout.tsx
  apps/web/lib/app-providers-app-dir.tsx
Labels: 🐛 bug, core, consumer, ready-for-e2e

#17126 chore: update app layout
  apps/web/app/layout.tsx
Labels: Stale, ui, core, consumer, ready-for-e2e

#18193 fix: Next.js bundle analysis build error
  .github/workflows/nextjs-bundle-analysis.yml
Labels: ci, core, foundation, ready-for-e2e

#18192 fix: Booking questions order correction in confirmation email
  apps/web/modules/bookings/views/bookings-single-view.tsx
Labels: 🐛 bug, Low priority, bookings, emails, community, ready-for-e2e

#18067 feat: added office 365 video to conferencing atoms
  apps/api/v2/src/modules/conferencing/conferencing.module.ts
  apps/api/v2/src/modules/conferencing/controllers/conferencing.controller.ts
  apps/api/v2/src/modules/conferencing/services/office365-video.service.ts
  apps/api/v2/src/modules/conferencing/services/zoom-video.service.ts
  apps/api/v2/swagger/documentation.json
  apps/web/public/static/locales/en/common.json
  docs/mint.json
  docs/platform/atoms/conferencing-apps.mdx
  packages/app-store/office365video/components/AccountDialog.tsx
  packages/app-store/office365video/components/InstallAppButton.tsx
  packages/platform/atoms/connect/conferencing-apps/ConferencingAppsViewPlatformWrapper.tsx
  packages/platform/atoms/connect/conferencing-apps/hooks/useConnect.ts
  packages/platform/constants/apps.ts
Labels: ✨ feature, platform, core, ready-for-e2e

#18207 fix: routing form insights and refactoring
  packages/features/insights/components/FailedBookingsByField.tsx
  packages/features/insights/components/RoutedToPerPeriod.tsx
  packages/features/insights/components/RoutingFormResponsesTable.tsx
  packages/features/insights/components/RoutingKPICards.tsx
  packages/features/insights/context/FiltersProvider.tsx
  packages/features/insights/filters/Download/RoutingDownload.tsx
  packages/features/insights/filters/FilterType.tsx
  packages/features/insights/filters/RoutingFormFieldFilter.tsx
  packages/features/insights/filters/RoutingFormFilterList.tsx
  packages/features/insights/filters/TeamAndSelfList.tsx
  packages/features/insights/hooks/useDefaultRoutingForm.ts
  packages/features/insights/server/routing-events.ts
  packages/features/insights/server/trpc-router.ts
Labels: 🐛 bug, High priority, routing-forms, insights, core, ready-for-e2e

#18200 fix: bookings parsing errors
  apps/api/v2/src/ee/bookings/2024-08-13/services/input.service.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/output.service.ts
  apps/api/v2/src/lib/safe-parse/default-responses-booking.ts
  apps/api/v2/src/lib/safe-parse/safe-parse.ts
  packages/prisma/zod-utils.ts
Labels: 🐛 bug, platform, bookings, core, ready-for-e2e

#18137 refactor: getContacts
  packages/app-store/salesforce/lib/CrmService.test.ts
  packages/app-store/salesforce/lib/CrmService.ts
Labels: High priority, enterprise, core, crm-apps, 💻 refactor, ready-for-e2e

#18211 perf: improve insights where query and type fix
  apps/web/pages/api/cron/monthlyDigestEmail.ts
  packages/features/insights/server/events.ts
Labels: insights, core, foundation, ready-for-e2e

#18205 chore: bring back availability step
  apps/web/components/getting-started/steps-views/SetupAvailability.tsx
  apps/web/modules/getting-started/[[...step]]/onboarding-view.tsx
  apps/web/playwright/onboarding.e2e.ts
Labels: automated-tests, core, consumer, ready-for-e2e

#18203 feat: Booker atom slots callbacks
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
  packages/platform/atoms/hooks/useSlots.ts
Labels: ✨ feature, platform, core, ready-for-e2e

#18212 chore: New booking perf tracing
  apps/web/pages/api/book/event.ts
  packages/features/bookings/lib/handleNewBooking.ts
Labels: performance, core, foundation, ready-for-e2e

#18219 perf: limit # of host members for OG image
  apps/web/lib/team/[slug]/[type]/getServerSideProps.tsx
Labels: 🐛 bug, core, consumer, ready-for-e2e

#18215 fix: column f.userid does not exist
  packages/features/insights/server/routing-events.ts
Labels: 🐛 bug, routing-forms, insights, core, ready-for-e2e
