Repository calcom/cal.com, pull requests merged in 2024-05, with the labels that each got.

#14841 chore: Bring back next-18next.config.js
  apps/api/v2/.eslintrc.js
  apps/api/v2/next-i18next.config.js
Labels: platform, i18n, core

#14819 chore: Update README.md
  README.md
Labels: docs, core

#14845 fix: availability.e2e.ts - Date Overrides
  apps/web/playwright/availability.e2e.ts
  packages/features/schedules/components/Schedule.tsx
Labels: 🐛 bug, automated-tests, core, consumer

#14847 chore: Add default to match migration for Platform Billing
  packages/prisma/schema.prisma
Labels: platform, core

#14839 chore: small UI fix for insights
  apps/web/pages/insights/index.tsx
  apps/web/public/static/locales/en/common.json
Labels: 🧹 Improvements, ⚡ Quick Wins, insights, ui, core

#14737 test: add unit tests for sms sending
  apps/web/test/fixtures/fixtures.ts
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  apps/web/test/utils/bookingScenario/expects.ts
  apps/web/test/utils/bookingScenario/getMockRequestDataForBooking.ts
  apps/web/test/utils/bookingScenario/test.ts
  packages/features/bookings/lib/handleNewBooking/test/fresh-booking.test.ts
  packages/features/bookings/lib/handleNewBooking/test/reschedule.test.ts
  packages/features/bookings/lib/handleNewBooking/test/workflow-notifications.test.ts
  packages/features/ee/workflows/lib/reminders/providers/twilioProvider.ts
  packages/lib/testSMS.ts
Labels: High priority, bookings, workflows, automated-tests, core, consumer

#14806 chore: Allow disabling attendee emails if `SMS_ATTENDEE` is a part of the workflow
  apps/web/public/static/locales/en/common.json
  packages/features/ee/workflows/lib/allowDisablingStandardEmails.ts
Labels: workflows, emails, core, consumer

#14857 chore: Attach unique request ids
  apps/api/v2/src/app.module.ts
  apps/api/v2/src/filters/http-exception.filter.ts
  apps/api/v2/src/filters/prisma-exception.filter.ts
  apps/api/v2/src/filters/sentry-exception.filter.ts
  apps/api/v2/src/filters/trpc-exception.filter.ts
  apps/api/v2/src/filters/zod-exception.filter.ts
  apps/api/v2/src/middleware/request-ids/request-id.interceptor.ts
  apps/api/v2/src/middleware/request-ids/request-id.middleware.ts
Labels: platform, api, core

#14856 chore: don't try to increase usage for legacy plans
  apps/api/v2/src/modules/billing/services/billing.service.ts
Labels: platform, billing, core

#14830 fix: Snippet path in preview
  packages/embeds/embed-core/playwright/tests/preview.e2e.ts
  packages/embeds/embed-core/src/preview.ts
Labels: 🐛 bug, High priority, 📉 regressing, automated-tests, embed, core, consumer

#14822 chore: Discard unused Platform stripe events
  apps/api/v2/src/modules/billing/controllers/billing.controller.ts
Labels: platform, billing, core

#14865 chore: v4.0.6
  apps/web/package.json
Labels: High priority, core, foundation

#14809 fix: Speed up booking time
  packages/core/getUserAvailability.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: 🐛 bug, High priority, teams, bookings, performance, core, calendar-apps, consumer

#14796 feat: orgs trigger alert when loading a calendar and no availability is
  apps/web/package.json
  apps/web/public/static/locales/en/common.json
  packages/emails/email-manager.ts
  packages/emails/src/templates/OrganizationAdminNoSlots.tsx
  packages/emails/src/templates/index.ts
  packages/emails/templates/organization-admin-no-slots-email.ts
  packages/features/ee/organizations/pages/components/NoSlotsNotificationSwitch.tsx
  packages/features/ee/organizations/pages/settings/general.tsx
  packages/features/redis/IRedisService.d.ts
  packages/features/redis/RedisService.ts
  packages/prisma/migrations/20240429100018_add_org_admin_no_slots_notification/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/organizations/list.handler.ts
  packages/trpc/server/routers/viewer/organizations/update.handler.ts
  packages/trpc/server/routers/viewer/organizations/update.schema.ts
  packages/trpc/server/routers/viewer/slots/handleNotificationWhenNoSlots.test.ts
  packages/trpc/server/routers/viewer/slots/handleNotificationWhenNoSlots.ts
  packages/trpc/server/routers/viewer/slots/util.ts
  turbo.json
Labels: ✨ feature, ❗️ migrations, 🎨 needs design, High priority, organizations, booking-page, emails, core, consumer

#14846 fix: Sender ID info not shown on hover
  packages/features/ee/workflows/components/WorkflowStepContainer.tsx
Labels: 🐛 bug, ✅ good first issue, Low priority, workflows, ui, community

#14853 feat: Add reschedule information with booking Read
  apps/api/v1/lib/validations/booking.ts
  apps/api/v1/pages/api/docs.ts
Labels: ✨ feature, docs, Medium priority, enterprise, bookings, api, community

#14850 fix: flaky webhook e2e test
  apps/web/playwright/webhook.e2e.ts
Labels: 🐛 bug, automated-tests, core, consumer

#14883 fix: UI breaking in AddActionDialog fixed
  packages/features/ee/workflows/components/AddActionDialog.tsx
Labels: 🐛 bug, workflows, community

#14793 test: Google CalendarService test
  packages/app-store/googlecalendar/lib/CalendarService.test.ts
  packages/app-store/googlecalendar/lib/CalendarService.ts
  packages/app-store/googlecalendar/lib/__mocks__/googleapis.ts
  packages/app-store/tests/__mocks__/OAuthManager.ts
Labels: app-store, automated-tests, core, consumer

#14569 fix: Support adding a non-existent email as the owner of the organization
  apps/web/playwright/organization/booking.e2e.ts
  apps/web/playwright/organization/lib/gotoPathAndExpectRedirectToOrgDomain.ts
  apps/web/playwright/organization/organization-creation.e2e.ts
  packages/emails/src/templates/OrganizationCreationEmail.tsx
  packages/emails/templates/organization-creation-email.ts
  packages/features/ee/dsync/lib/handleGroupEvents.ts
  packages/features/ee/dsync/lib/handleUserEvents.ts
  packages/features/ee/dsync/lib/inviteExistingUserToOrg.ts
  packages/features/ee/organizations/components/CreateANewOrganizationForm.tsx
  packages/features/ee/teams/components/TeamList.tsx
  packages/lib/server/repository/organization.ts
  packages/lib/server/repository/user.ts
  packages/trpc/server/routers/viewer/organizations/create.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMember.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/utils.ts
Labels: ✨ feature, ❗️ migrations, High priority, organizations, emails, core, consumer

#14745 fix: Booking Cancelled Webhook - Organiser webhook payload is missing id. #14697
  apps/web/test/utils/bookingScenario/expects.ts
  packages/features/bookings/lib/handleCancelBooking.ts
Labels: 🐛 bug, High priority, bookings, webhooks, community

#14898 fix: api v2 docs in prod
  apps/api/v2/package.json
  apps/api/v2/src/main.ts
Labels: 🐛 bug, docs, platform, api, core

#14835 chore: Use better buildjet hardware for e2e
  .github/workflows/cache-clean.yml
  .github/workflows/check-types.yml
  .github/workflows/e2e.yml
  .github/workflows/nextjs-bundle-analysis.yml
  .github/workflows/pr.yml
  .github/workflows/unit-tests.yml
Labels: High priority, automated-tests, ci, core, foundation

#14900 chore: Use 4vCPU BuildJet hardware for type checks
  .github/workflows/check-types.yml
Labels: High priority, ci, core, foundation

#14892 fix: UI breaking in AddActionDialog on reducing browser window height
  packages/features/ee/workflows/components/AddActionDialog.tsx
Labels: 🐛 bug, ui, community

#14896 chore: centered cal video logo
  apps/web/modules/videos/views/videos-single-view.tsx
Labels: ui, cal video

#14823 chore: Cache cityTimezones for Platform
  apps/api/v2/src/modules/timezones/services/timezones.service.ts
  apps/api/v2/src/modules/timezones/timezones.module.ts
Labels: platform, api, core

#14879 fix: Sender ID info not being shown on 'info' hover in 'add action' flow
  packages/features/ee/workflows/components/AddActionDialog.tsx
Labels: 🐛 bug, workflows, ui, community

#14787 fix: zod error message and missing translation
  apps/web/public/static/locales/en/common.json
  packages/prisma/zod-utils.ts
Labels: 🐛 bug, ⚡ Quick Wins, i18n, authentication, 🙋 Bounty claim, community

#14854 fix: date override modal
  packages/features/schedules/components/DateOverrideInputDialog.tsx
Labels: 🐛 bug, ui, core, consumer

#14801 feat: posthog app added
  packages/app-store/apps.browser.generated.tsx
  packages/app-store/apps.keys-schemas.generated.ts
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.schemas.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/bookerApps.metadata.generated.ts
  packages/app-store/posthog/DESCRIPTION.md
  packages/app-store/posthog/api/add.ts
  packages/app-store/posthog/api/index.ts
  packages/app-store/posthog/components/EventTypeAppCardInterface.tsx
  packages/app-store/posthog/config.json
  packages/app-store/posthog/index.ts
  packages/app-store/posthog/package.json
  packages/app-store/posthog/static/1.png
  packages/app-store/posthog/static/icon.svg
  packages/app-store/posthog/zod.ts
Labels: ✨ feature, app-store, Low priority, Stale, insights, community

#14663 feat: "Add an Override" calendar starts with the day specified in general settings
  packages/features/schedules/components/DateOverrideInputDialog.tsx
  packages/features/schedules/components/DateOverrideList.tsx
  packages/platform/atoms/availability/AvailabilitySettings.tsx
Labels: ✨ feature, ✅ good first issue, 🧹 Improvements, Low priority, bookings, ui, booking-page, community

#14816 test: Test the scenario where resourceOwner.id is null
  packages/app-store/_utils/oauth/OAuthManager.test.ts
Labels: app-store, automated-tests, core, consumer

#14907 fix: remove global twilio variable
  packages/features/ee/workflows/lib/reminders/providers/twilioProvider.ts
Labels: workflows, core, consumer

#14902 chore: Add build of API v2 to PR checks
  .github/workflows/api-v1-production-build.yml
  .github/workflows/api-v2-production-build.yml
  .github/workflows/pr.yml
Labels: High priority, api, ci, core, foundation

#14730 fix: reschedule with google meet
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/test/reschedule.test.ts
  packages/types/Calendar.d.ts
Labels: 🐛 bug, High priority, 📉 regressing, bookings, automated-tests, emails, core, consumer

#14917 fix: slot check
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: 🐛 bug, core, consumer

#14605 feat: cal-3452 parameter for impersonation
  apps/web/pages/settings/admin/impersonation.tsx
  apps/web/playwright/impersonation.e2e.ts
  packages/features/ee/support/lib/intercom/useIntercom.ts
Labels: ✨ feature, api, core, consumer

#14904 chore: Async scalars & less queries due to grouping
  apps/web/pages/api/cron/monthlyDigestEmail.ts
  packages/features/insights/server/events.ts
  packages/features/insights/server/trpc-router.ts
Labels: insights, core, foundation

#14235 feat: redirect after booking: option to forward parameters
  apps/web/components/eventtype/EventAdvancedTab.tsx
  apps/web/modules/event-types/views/event-types-single-view.tsx
  apps/web/public/static/locales/en/common.json
  packages/app-store/alby/components/AlbyPaymentComponent.tsx
  packages/features/bookings/Booker/components/hooks/useBookings.ts
  packages/features/ee/payments/components/Payment.tsx
  packages/features/ee/payments/pages/payment.tsx
  packages/features/eventtypes/lib/getPublicEvent.ts
  packages/features/eventtypes/lib/types.ts
  packages/lib/bookingSuccessRedirect.ts
  packages/lib/defaultEvents.ts
  packages/lib/event-types/getEventTypeById.ts
  packages/lib/test/builder.ts
  packages/prisma/migrations/20240327165803_forward_parameters_on_success_redirect/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/zod-utils.ts
Labels: ✨ feature, ❗️ migrations, Medium priority, 💎 Bounty, Stale, 🙋 Bounty claim, community

#14836 chore: Removed duplicate production build
  .github/actions/cache-build/action.yml
  .github/workflows/api-v1-production-build.yml
  .github/workflows/e2e-app-store.yml
  .github/workflows/e2e-embed-react.yml
  .github/workflows/e2e-embed.yml
  .github/workflows/e2e.yml
  .github/workflows/nextjs-bundle-analysis.yml
  .github/workflows/pr.yml
  .github/workflows/pre-release.yml
  .github/workflows/production-build-without-database.yml
  .github/workflows/production-build.yml
Labels: High priority, ci, core, foundation

#14932 fix: Caching key for CI database
  .github/actions/cache-build/action.yml
Labels: 🐛 bug, ci, core, foundation

#14933 chore: Release/v4.0.7
  apps/web/package.json
  yarn.lock
Labels: ⬆️ dependencies, core, foundation

#14920 fix: pass query params to dynamic meetings
  apps/web/modules/users/views/users-public-view.getServerSideProps.tsx
  apps/web/playwright/dynamic-booking-pages.e2e.ts
  packages/features/bookings/components/event-meta/Duration.tsx
Labels: 🐛 bug, bookings, core, consumer

#14890 feat: Added admin-api page
  apps/web/pages/settings/organizations/admin-api.tsx
  apps/web/public/static/locales/de/common.json
  apps/web/public/static/locales/en/common.json
  apps/web/public/static/locales/fr/common.json
  apps/web/public/static/locales/it/common.json
  apps/web/public/static/locales/pt-BR/common.json
  apps/web/public/static/locales/pt/common.json
  packages/features/ee/organizations/pages/settings/admin-api.tsx
  packages/features/settings/layouts/SettingsLayout.tsx
Labels: ✨ feature, enterprise, api, organizations

#14939 feat: handleCreateBooking for platform booker
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
Labels: ✨ feature, platform, core

#14938 fix: redis cache key overlap
  apps/api/v2/src/modules/oauth-clients/services/oauth-flow.service.ts
Labels: 🐛 bug, platform, api, core

#14460 feat: Redirect when event type does not match booking type
  apps/web/modules/users/views/users-type-public-view.getServerSideProps.tsx
  apps/web/playwright/booking-pages.e2e.ts
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/features/ee/common/components/LicenseRequired.tsx
  packages/prisma/schema.prisma
Labels: Medium priority, core, foundation

#14941 chore: Update PR template to include more mandatory tasks
  .github/PULL_REQUEST_TEMPLATE.md
Labels: docs, core, foundation

#14945 fix: sync book event form values with bookingData
  packages/features/bookings/Booker/components/hooks/useInitialFormValues.ts
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
  packages/platform/examples/base/src/pages/booking.tsx
Labels: 🐛 bug, platform, bookings, core

#14949 fix: attempt to fix flaky e2e tests
  apps/web/playwright/webhook.e2e.ts
Labels: 🐛 bug, automated-tests, core, consumer

#14922 fix: Only able to create one webhook per event type
  apps/web/components/eventtype/EventWebhooksTab.tsx
Labels: 🐛 bug, ⚡ Quick Wins, Low priority, webhooks, event-types, community

#14955 fix: managed user timeZone, timeFormat and weekStart during creation
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.e2e-spec.ts
  apps/api/v2/src/modules/oauth-clients/services/oauth-clients-users.service.ts
  apps/api/v2/src/modules/users/inputs/create-managed-user.input.ts
  apps/api/v2/src/modules/users/inputs/update-managed-user.input.ts
  apps/api/v2/src/modules/users/inputs/validators/is-time-format.ts
  apps/api/v2/src/modules/users/inputs/validators/is-week-start.ts
  apps/api/v2/src/modules/users/users.repository.ts
  apps/api/v2/swagger/documentation.json
  apps/api/v2/test/setEnvVars.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/utils.ts
Labels: 🐛 bug, platform, api, core

#14871 fix: buffer times in handleNewBooking
  apps/web/components/eventtype/EventLimitsTab.tsx
  packages/core/getBusyTimes.ts
  packages/features/bookings/lib/handleNewBooking/test/booking-limits.test.ts
  packages/features/eventtypes/lib/getDefinedBufferTimes.ts
Labels: 🐛 bug, High priority, bookings, core, consumer

#14962 fix: gcal save incomplete app credentials
  apps/api/v2/src/ee/gcal/gcal.controller.ts
Labels: 🐛 bug, platform, api, core, calendar-apps

#14965 chore: v4.0.8
  apps/web/package.json
Labels: ⬆️ dependencies, core, foundation

#14967 fix: api v2 hotfix google calendar, exception details, billing check guard
  apps/api/v2/src/ee/gcal/gcal.controller.ts
  apps/api/v2/src/filters/http-exception.filter.ts
  apps/api/v2/src/modules/billing/controllers/billing.controller.ts
  packages/platform/types/api.ts
Labels: 🐛 bug, platform, api, billing, core

#14960 fix: Show error log in case of /event-types redirect
  apps/web/modules/event-types/views/event-types-single-view.getServerSideProps.tsx
  packages/lib/safeStringify.ts
Labels: 🐛 bug, event-types, core, consumer

#14958 fix: Release new versions for embed
  apps/web/CHANGELOG.md
  packages/embeds/embed-core/CHANGELOG.md
  packages/embeds/embed-core/package.json
  packages/embeds/embed-react/CHANGELOG.md
  packages/embeds/embed-react/package.json
  packages/embeds/embed-snippet/CHANGELOG.md
  packages/embeds/embed-snippet/package.json
Labels: ⬆️ dependencies, embed, core, consumer

#14912 feat: orgs create dynamic events from org member list
  apps/web/public/static/locales/en/common.json
  packages/features/users/components/UserTable/UserListTable.tsx
  packages/ui/components/data-table/DataTableSelectionBar.tsx
  packages/ui/components/data-table/DataTableToolbar.tsx
  packages/ui/components/data-table/index.tsx
Labels: ✨ feature, 🎨 needs design, Medium priority, enterprise, organizations, ui, event-types, core, consumer

#14975 fix: Fixed email embed for team when specific times are chosen embeds the wrong URL
  packages/features/embed/Embed.tsx
Labels: 🐛 bug, teams, embed, community

#14971 fix: SAML fixes for uppercase email & GOOGLE → SAML idp switch
  packages/features/auth/lib/next-auth-options.ts
Labels: 🐛 bug, ✨ feature, High priority, enterprise, organizations, authentication, core

#14864 fix: meeting ended and started webhooks trigger
  apps/web/playwright/webhook.e2e.ts
  apps/web/test/utils/bookingScenario/expects.ts
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/features/bookings/lib/handleConfirmation.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleSeats/handleSeats.ts
  packages/features/bookings/lib/handleSeats/types.d.ts
  packages/features/webhooks/components/WebhookListItem.tsx
  packages/features/webhooks/lib/cron.ts
  packages/features/webhooks/lib/handleWebhookScheduledTriggers.ts
  packages/features/webhooks/lib/scheduleTrigger.ts
  packages/features/webhooks/lib/test/webhooks.test.ts
  packages/prisma/migrations/20240502213807_add_webhook_scheduled_triggers_to_bookings/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/loggedInViewer/connectAndJoin.handler.ts
  packages/trpc/server/routers/loggedInViewer/deleteCredential.handler.ts
  packages/trpc/server/routers/viewer/bookings/confirm.handler.ts
  packages/trpc/server/routers/viewer/bookings/requestReschedule.handler.ts
  packages/trpc/server/routers/viewer/webhook/edit.handler.ts
Labels: 🐛 bug, ❗️ migrations, High priority, bookings, webhooks, api, core, crm-apps, consumer

#14995 fix: Allow less than 30 seats for orgs
  apps/api/v1/pages/api/teams/[teamId]/_patch.ts
  packages/features/ee/teams/lib/payments.test.ts
  packages/features/ee/teams/lib/payments.ts
  packages/trpc/server/routers/viewer/organizations/publish.handler.ts
  packages/trpc/server/routers/viewer/teams/publish.handler.ts
Labels: 🐛 bug, seats, api, core, consumer

#14943 fix: add retryCount to workflowReminder
  packages/features/ee/workflows/api/scheduleSMSReminders.ts
  packages/prisma/migrations/20240508134359_add_retry_count_to_workflow_reminder/migration.sql
  packages/prisma/schema.prisma
Labels: 🐛 bug, ❗️ migrations, Low priority, workflows, core, consumer

#15003 fix: Regression: Can’t set person to forward OOO bookings
  packages/trpc/server/routers/loggedInViewer/outOfOffice.handler.ts
Labels: 🐛 bug, High priority, 📉 regressing, community, consumer

#15002 chore: hide oauthClientId from session email in booker
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
Labels: platform, core

#15001 chore: open disableGuests for event-types apiv2
  apps/api/v2/src/ee/event-types/controllers/event-types.controller.e2e-spec.ts
  apps/api/v2/src/ee/event-types/inputs/create-event-type.input.ts
  apps/api/v2/src/ee/event-types/inputs/update-event-type.input.ts
  apps/api/v2/swagger/documentation.json
  packages/prisma/zod/custom/eventtype.ts
Labels: platform, api, event-types, core

#15025 chore: enable transcription for teams plan users
  apps/web/modules/videos/views/videos-single-view.tsx
  packages/app-store/dailyvideo/lib/VideoApiAdapter.ts
Labels: teams, core, ai, consumer

#15011 fix: error when unlinking google account
  apps/web/pages/settings/my-account/profile.tsx
  apps/web/public/static/locales/en/common.json
  packages/trpc/server/routers/loggedInViewer/_router.tsx
  packages/trpc/server/routers/loggedInViewer/unlinkConnectedAccount.handler.spec.ts
  packages/trpc/server/routers/loggedInViewer/unlinkConnectedAccount.handler.ts
  packages/trpc/server/routers/loggedInViewer/updateProfile.handler.ts
  packages/trpc/server/routers/loggedInViewer/updateProfile.schema.ts
Labels: 🐛 bug, High priority, authentication, core, foundation

#14738 fix: Impersonation flicker on timezone change
  packages/features/settings/TimezoneChangeDialog.tsx
  packages/features/shell/Shell.tsx
  playwright.config.ts
Labels: 🐛 bug, 🧹 Improvements, automated-tests, core, foundation

#14987 fix: better errors for platform
  apps/web/components/settings/platform/pricing/platform-pricing/index.tsx
  apps/web/pages/settings/platform/oauth-clients/[clientId]/edit/index.tsx
  apps/web/pages/settings/platform/oauth-clients/create.tsx
  apps/web/public/static/locales/en/common.json
  packages/lib/errorCodes.ts
Labels: 🐛 bug, 🧹 Improvements, High priority, platform, community

#15035 chore: v4.0.9
  apps/web/package.json
Labels: ⬆️ dependencies, core, foundation

#15031 chore: more fields event-types api v2
  apps/api/v2/src/ee/event-types/controllers/event-types.controller.e2e-spec.ts
  apps/api/v2/src/ee/event-types/inputs/create-event-type.input.ts
  apps/api/v2/src/ee/event-types/inputs/update-event-type.input.ts
  apps/api/v2/swagger/documentation.json
  packages/prisma/zod/custom/eventtype.ts
Labels: platform, api, event-types, core

#15040 fix: disable useGetOAuthClientManagedUsers if clientId not defined
  apps/web/lib/hooks/settings/platform/oauth-clients/useOAuthClients.ts
Labels: 🐛 bug, platform, core

#15049 fix: invalid type of enable_transcription_storage
  apps/web/modules/videos/ai/ai-transcribe.tsx
  apps/web/modules/videos/views/videos-single-view.getServerSideProps.tsx
  apps/web/modules/videos/views/videos-single-view.tsx
  packages/app-store/dailyvideo/lib/VideoApiAdapter.ts
Labels: High priority, core, 🚨 urgent, consumer

#15051 chore: Allow disabling email sending without errors
  apps/web/playwright/fixtures/emails.ts
Labels: automated-tests, emails, core, foundation

#15041 chore: prop disableEditableHeading in availability settings
  packages/platform/atoms/availability/AvailabilitySettings.tsx
  packages/platform/atoms/availability/wrappers/PlatformAvailabilitySettingsWrapper.tsx
  packages/ui/components/editable-heading/EditableHeading.tsx
Labels: platform, core

#15055 fix: Dynamic (Group) meetings showing one person avatar on the double
  packages/features/bookings/components/event-meta/Members.tsx
Labels: 🐛 bug, Medium priority, teams, bookings, booking-page, community

#15012 fix: hosts not set when duplicating team event-type
  packages/trpc/server/routers/viewer/eventTypes/duplicate.handler.ts
Labels: 🐛 bug, teams, event-types, community

#15060 chore: release v4.1.0
  apps/web/package.json
Labels: core, foundation

#15053 fix: platform onboarding improvements
  apps/api/v2/src/modules/billing/services/billing.service.ts
  apps/web/components/settings/platform/pricing/billing-card/index.tsx
  apps/web/components/settings/platform/pricing/platform-pricing/index.tsx
  apps/web/pages/signup.tsx
Labels: 🧹 Improvements, platform, billing, core

#14894 feat: added BAA to App Store
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/baa-for-hipaa/DESCRIPTION.md
  packages/app-store/baa-for-hipaa/api/add.ts
  packages/app-store/baa-for-hipaa/api/index.ts
  packages/app-store/baa-for-hipaa/components/.gitkeep
  packages/app-store/baa-for-hipaa/config.json
  packages/app-store/baa-for-hipaa/index.ts
  packages/app-store/baa-for-hipaa/package.json
  packages/app-store/baa-for-hipaa/static/1.jpg
  packages/app-store/baa-for-hipaa/static/icon.svg
Labels: ✨ feature, app-store, ⚡ Quick Wins

#14870 refactor: api v2 schedules
  apps/api/v2/src/ee/bookings/controllers/bookings.controller.e2e-spec.ts
  apps/api/v2/src/ee/me/me.controller.e2e-spec.ts
  apps/api/v2/src/ee/me/me.controller.ts
  apps/api/v2/src/ee/schedules/controllers/schedules.controller.e2e-spec.ts
  apps/api/v2/src/ee/schedules/controllers/schedules.controller.ts
  apps/api/v2/src/ee/schedules/inputs/create-schedule.input.ts
  apps/api/v2/src/ee/schedules/outputs/schedule-updated.output.ts
  apps/api/v2/src/ee/schedules/outputs/schedule.output.ts
  apps/api/v2/src/ee/schedules/schedules.module.ts
  apps/api/v2/src/ee/schedules/schedules.repository.ts
  apps/api/v2/src/ee/schedules/services/input-schedules.service.ts
  apps/api/v2/src/ee/schedules/services/output-schedules.service.ts
  apps/api/v2/src/ee/schedules/services/schedules.service.ts
  apps/api/v2/src/modules/availabilities/availabilities.module.ts
  apps/api/v2/src/modules/availabilities/availabilities.service.ts
  apps/api/v2/src/modules/availabilities/inputs/create-availability.input.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.ts
  apps/api/v2/src/modules/users/users.repository.ts
  apps/api/v2/swagger/documentation.json
  packages/lib/availability.ts
  packages/lib/schedules/index.ts
  packages/lib/schedules/transformers/for-atom.ts
  packages/lib/schedules/transformers/from-api.ts
  packages/lib/schedules/transformers/index.ts
  packages/platform/atoms/availability/AvailabilitySettings.tsx
  packages/platform/atoms/availability/atom-api-transformers/transformApiScheduleForAtom.spec.ts
  packages/platform/atoms/availability/atom-api-transformers/transformApiScheduleForAtom.ts
  packages/platform/atoms/availability/atom-api-transformers/transformAtomScheduleForApi.spec.ts
  packages/platform/atoms/availability/atom-api-transformers/transformAtomScheduleForApi.ts
  packages/platform/atoms/availability/wrappers/PlatformAvailabilitySettingsWrapper.tsx
  packages/platform/atoms/hooks/schedules/useDeleteSchedule.ts
  packages/platform/atoms/hooks/schedules/useSchedule.ts
  packages/platform/atoms/hooks/schedules/useSchedules.ts
  packages/platform/atoms/hooks/schedules/useUpdateSchedule.ts
  packages/platform/atoms/hooks/useClientSchedule.ts
  packages/platform/atoms/jest.config.json
  packages/platform/atoms/package.json
  packages/platform/libraries/index.ts
  packages/platform/types/schedules.ts
  packages/platform/types/schedules/constants.ts
  packages/platform/types/schedules/index.ts
  packages/platform/types/schedules/inputs/create-schedule.input.ts
  packages/platform/types/schedules/inputs/index.ts
  packages/platform/types/schedules/inputs/update-schedule.input.ts
  packages/platform/types/schedules/outputs/create-schedule.output.ts
  packages/platform/types/schedules/outputs/delete-schedule.output.ts
  packages/platform/types/schedules/outputs/get-default-schedule.output.ts
  packages/platform/types/schedules/outputs/get-schedule.output.ts
  packages/platform/types/schedules/outputs/get-schedules.output.ts
  packages/platform/types/schedules/outputs/index.ts
  packages/platform/types/schedules/outputs/schedule.output.ts
  packages/platform/types/schedules/outputs/update-schedule.output.ts
  packages/trpc/server/routers/viewer/availability/schedule/get.handler.ts
  packages/trpc/server/routers/viewer/availability/schedule/update.handler.ts
  yarn.lock
Labels: platform, api, core, 💻 refactor

#15027 fix: terms and conditions text
  packages/features/bookings/Booker/components/BookEventForm/BookEventForm.tsx
Labels: 🐛 bug, bookings, core, consumer

#15038 fix: Add the 'cal-video' location only if it doesn't already exist
  packages/trpc/server/routers/loggedInViewer/deleteCredential.handler.ts
Labels: 🐛 bug, Medium priority, core, cal video

#15046 fix: Invalid phone error on prefill with plus(+) sign
  packages/features/bookings/lib/getBookingResponsesSchema.test.ts
  packages/features/bookings/lib/getBookingResponsesSchema.ts
Labels: 🐛 bug, Medium priority, bookings, core, consumer

#14930 fix: Collective event types with seats - hosts count towards the seat count
  packages/core/getUserAvailability.ts
Labels: 🐛 bug, Medium priority, seats, community

#14940 chore: Add test for booking cancelled webhook
  apps/web/test/utils/bookingScenario/expects.ts
  packages/features/bookings/lib/handleCancelBooking/test/webhook.test.ts
Labels: Medium priority, webhooks, automated-tests, community

#15099 fix: Prevent 500 error when fetching more than 3000 bookings from an user
  apps/api/v1/pages/api/bookings/_get.ts
Labels: 🐛 bug, High priority, bookings, api, core, foundation

#15039 chore: api-v2 slotInterval, afterEventBuffer, beforeEventBuffer min 0
  apps/api/v2/src/ee/event-types/inputs/create-event-type.input.ts
  apps/api/v2/src/ee/event-types/inputs/update-event-type.input.ts
  packages/prisma/zod/custom/eventtype.ts
Labels: platform, api, event-types, core

#14998 fix: upgrade deprecated github actions
  .github/actions/cache-build/action.yml
  .github/actions/cache-db/action.yml
  .github/actions/dangerous-git-checkout/action.yml
  .github/actions/yarn-install/action.yml
  .github/actions/yarn-playwright-install/action.yml
  .github/workflows/api-v1-production-build.yml
  .github/workflows/api-v2-production-build.yml
  .github/workflows/cache-clean.yml
  .github/workflows/check-if-ui-has-changed.yml
  .github/workflows/check-types.yml
  .github/workflows/cron-monthlyDigestEmail.yml
  .github/workflows/crowdin.yml
  .github/workflows/delete-buildjet-cache.yml
  .github/workflows/e2e-app-store.yml
  .github/workflows/e2e-embed-react.yml
  .github/workflows/e2e-embed.yml
  .github/workflows/e2e.yml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
  .github/workflows/nextjs-bundle-analysis.yml
  .github/workflows/pr.yml
  .github/workflows/pre-release.yml
  .github/workflows/production-build-without-database.yml
  .github/workflows/release-docker.yaml
  .github/workflows/release.yml
  .github/workflows/submodule-sync.yml
  .github/workflows/unit-tests.yml
  .github/workflows/yarn-install.yml
Labels: ⬆️ dependencies, Medium priority, ci, community

#14929 chore: API Build cache in CI pipeline
  .github/workflows/api-v1-production-build.yml
  .github/workflows/api-v2-production-build.yml
Labels: Low priority, api, ci, community

#15095 fix: rate limiting improvements
  packages/features/ee/workflows/lib/reminders/reminderScheduler.ts
Labels: workflows, core, consumer

#15113 chore: added google reviews
  apps/web/pages/signup.tsx
  apps/web/public/product-cards/google-reviews.svg
Labels: ui

#15044 chore: fixed a few cal.ai ui issues and cal.video logo
  apps/web/modules/videos/ai/ai-transcribe.tsx
  apps/web/modules/videos/views/videos-single-view.tsx
  apps/web/public/sparkles-red.svg
  packages/features/bookings/Booker/Booker.tsx
Labels: ui, cal video, ai

#15124 feat: add autoscroll in mobile
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/components/DatePicker.tsx
  packages/features/calendars/DatePicker.tsx
Labels: ✨ feature, 🧹 Improvements, ⚡ Quick Wins, Medium priority, bookings, ui, core, consumer

#15093 fix: daily buffer in getServerSideProps
  apps/web/modules/videos/views/videos-single-view.getServerSideProps.tsx
Labels: 🐛 bug, Medium priority, core, consumer

#15110 fix: resolve labeler workflow failure
  .github/workflows/labeler.yml
Labels: ci, community

#14915 feat: Future Limit - Toggle to exclude unavailable days
  apps/web/components/eventtype/EventLimitsTab.tsx
  apps/web/public/static/locales/en/common.json
  apps/web/test/handlers/requestReschedule.test.ts
  apps/web/test/lib/getSchedule.test.ts
  apps/web/test/lib/getSchedule/expects.ts
  apps/web/test/lib/getSchedule/futureLimit.timezone.test.ts
  apps/web/test/lib/getSchedule/setupAndTeardown.ts
  apps/web/test/lib/getSchedule/utils.ts
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  apps/web/test/utils/bookingScenario/expects.ts
  apps/web/test/utils/bookingScenario/getMockRequestDataForBooking.ts
  apps/web/test/utils/bookingScenario/setupAndTeardown.ts
  apps/web/test/utils/bookingScenario/test.ts
  packages/config/prettier-preset.js
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/test/booking-limits.test.ts
  packages/features/bookings/lib/handleNewBooking/test/complex-schedules.test.ts
  packages/features/bookings/lib/handleNewBooking/test/date-overrides.test.ts
  packages/features/bookings/lib/handleNewBooking/test/dynamic-group-booking.test.ts
  packages/features/bookings/lib/handleNewBooking/test/fresh-booking.test.ts
  packages/features/bookings/lib/handleNewBooking/test/managed-event-type-booking.test.ts
  packages/features/bookings/lib/handleNewBooking/test/recurring-event.test.ts
  packages/features/bookings/lib/handleNewBooking/test/reschedule.test.ts
  packages/features/bookings/lib/handleNewBooking/test/team-bookings/collective-scheduling.test.ts
  packages/features/bookings/lib/handleNewBooking/test/workflow-notifications.test.ts
  packages/features/bookings/lib/handleSeats/test/handleSeats.test.ts
  packages/features/eventtypes/lib/types.ts
  packages/features/webhooks/lib/test/webhooks.test.ts
  packages/lib/constants.ts
  packages/lib/isOutOfBounds.timezone.test.ts
  packages/lib/isOutOfBounds.tsx
  packages/prisma/migrations/20240506101739_add_rolling_window_period_type/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: ✨ feature, ❗️ migrations, High priority, event-types, core, consumer, high-risk

#15127 chore: Updated labeler to v5
  .github/labeler.yml
Labels: ci, core, foundation

#15130 revert: refactor: api v2 schedules
  apps/api/v2/src/ee/bookings/controllers/bookings.controller.e2e-spec.ts
  apps/api/v2/src/ee/me/me.controller.e2e-spec.ts
  apps/api/v2/src/ee/me/me.controller.ts
  apps/api/v2/src/ee/schedules/controllers/schedules.controller.e2e-spec.ts
  apps/api/v2/src/ee/schedules/controllers/schedules.controller.ts
  apps/api/v2/src/ee/schedules/inputs/create-schedule.input.ts
  apps/api/v2/src/ee/schedules/outputs/create-schedule.output.ts
  apps/api/v2/src/ee/schedules/outputs/delete-schedule.output.ts
  apps/api/v2/src/ee/schedules/outputs/get-default-schedule.output.ts
  apps/api/v2/src/ee/schedules/outputs/get-schedule.output.ts
  apps/api/v2/src/ee/schedules/outputs/get-schedules.output.ts
  apps/api/v2/src/ee/schedules/outputs/schedule-updated.output.ts
  apps/api/v2/src/ee/schedules/outputs/schedule.output.ts
  apps/api/v2/src/ee/schedules/outputs/update-schedule.output.ts
  apps/api/v2/src/ee/schedules/schedules.module.ts
  apps/api/v2/src/ee/schedules/schedules.repository.ts
  apps/api/v2/src/ee/schedules/services/input-schedules.service.ts
  apps/api/v2/src/ee/schedules/services/output-schedules.service.ts
  apps/api/v2/src/ee/schedules/services/schedules.service.ts
  apps/api/v2/src/modules/availabilities/availabilities.module.ts
  apps/api/v2/src/modules/availabilities/availabilities.service.ts
  apps/api/v2/src/modules/availabilities/inputs/create-availability.input.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.ts
  apps/api/v2/src/modules/users/users.repository.ts
  apps/api/v2/swagger/documentation.json
  packages/lib/availability.ts
  packages/lib/schedules/client/transformers.ts
  packages/lib/schedules/index.ts
  packages/lib/schedules/transformers/from-api.ts
  packages/lib/schedules/transformers/index.ts
  packages/platform/atoms/availability/AvailabilitySettings.tsx
  packages/platform/atoms/availability/atom-api-transformers/transformApiScheduleForAtom.spec.ts
  packages/platform/atoms/availability/atom-api-transformers/transformApiScheduleForAtom.ts
  packages/platform/atoms/availability/atom-api-transformers/transformAtomScheduleForApi.spec.ts
  packages/platform/atoms/availability/atom-api-transformers/transformAtomScheduleForApi.ts
  packages/platform/atoms/availability/wrappers/PlatformAvailabilitySettingsWrapper.tsx
  packages/platform/atoms/hooks/schedules/useSchedule.ts
  packages/platform/atoms/hooks/schedules/useSchedules.ts
  packages/platform/atoms/hooks/useClientSchedule.ts
  packages/platform/atoms/hooks/useDeleteSchedule.ts
  packages/platform/atoms/hooks/useUpdateSchedule.ts
  packages/platform/atoms/jest.config.json
  packages/platform/atoms/package.json
  packages/platform/libraries/index.ts
  packages/platform/types/schedules.ts
  packages/platform/types/schedules/constants.ts
  packages/platform/types/schedules/index.ts
  packages/platform/types/schedules/inputs/create-schedule.input.ts
  packages/platform/types/schedules/inputs/index.ts
  packages/platform/types/schedules/inputs/update-schedule.input.ts
  packages/platform/types/schedules/outputs/index.ts
  packages/platform/types/schedules/outputs/schedule.output.ts
  packages/trpc/server/routers/viewer/availability/schedule/get.handler.ts
  packages/trpc/server/routers/viewer/availability/schedule/update.handler.ts
  yarn.lock
Labels: platform, api, core, 💻 refactor

#14815 feat: Workflow — Send Email to Specific Email
  apps/web/public/static/locales/en/common.json
  packages/emails/src/templates/VerifyEmailByCode.tsx
  packages/emails/templates/attendee-verify-email.ts
  packages/features/auth/lib/verifyEmail.ts
  packages/features/ee/workflows/api/scheduleEmailReminders.ts
  packages/features/ee/workflows/components/WorkflowStepContainer.tsx
  packages/features/ee/workflows/lib/getOptions.ts
  packages/features/ee/workflows/lib/reminders/emailReminderManager.ts
  packages/features/ee/workflows/lib/reminders/reminderScheduler.ts
  packages/features/ee/workflows/pages/workflow.tsx
  packages/prisma/migrations/20240513101457_add_verified_emails/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/auth/sendVerifyEmailCode.handler.ts
  packages/trpc/server/routers/viewer/auth/sendVerifyEmailCode.schema.ts
  packages/trpc/server/routers/viewer/workflows/_router.tsx
  packages/trpc/server/routers/viewer/workflows/activateEventType.handler.ts
  packages/trpc/server/routers/viewer/workflows/getVerifiedEmails.handler.ts
  packages/trpc/server/routers/viewer/workflows/getVerifiedEmails.schema.ts
  packages/trpc/server/routers/viewer/workflows/update.handler.ts
  packages/trpc/server/routers/viewer/workflows/verifyEmailCode.handler.ts
  packages/trpc/server/routers/viewer/workflows/verifyEmailCode.schema.ts
Labels: ✨ feature, ❗️ migrations, Medium priority, workflows, emails, community

#14556 feat: Skip RR Assignment if Contact Exists In Salesforce
  apps/web/public/static/locales/en/common.json
  packages/app-store/_utils/useIsAppEnabled.ts
  packages/app-store/salesforce/components/EventTypeAppCardInterface.tsx
  packages/app-store/salesforce/lib/CrmService.ts
  packages/app-store/salesforce/zod.ts
  packages/app-store/types.d.ts
  packages/core/crmManager/crmManager.ts
  packages/features/bookings/Booker/components/hooks/useBookings.ts
  packages/features/bookings/Booker/utils/event.ts
  packages/features/bookings/lib/book-event-form/booking-to-mutation-input-mapper.tsx
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/schedules/lib/use-schedule/useSchedule.ts
  packages/platform/atoms/booker/BookerWebWrapper.tsx
  packages/platform/atoms/hooks/useHandleBookEvent.ts
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer/slots/types.ts
  packages/trpc/server/routers/viewer/slots/util.ts
  packages/types/CrmService.d.ts
Labels: ✨ feature, teams, bookings, core, crm-apps, consumer, high-risk

#15139 fix: Adds missing dependecy
  apps/web/package.json
  yarn.lock
Labels: 🐛 bug, ⬆️ dependencies, High priority, core, foundation

#15134 fix: return 200 status code
  apps/web/modules/videos/ai/ai-transcribe.tsx
  apps/web/pages/api/recorded-daily-video.ts
Labels: 🐛 bug, core, consumer

#15141 feat(i18n): finish pt-br translation
  apps/web/public/static/locales/pt-BR/common.json
Labels: i18n, community

#15143 refactor: v2 origin check error message
  apps/api/v2/src/modules/auth/strategies/access-token/access-token.strategy.ts
Labels: platform, api, authentication, core, 💻 refactor

#15147 chore: Downgrade 8 vCPU actions to 4
  .github/workflows/e2e.yml
Labels: High priority, automated-tests, ci, core, foundation

#15082 fix: Add organization logo to org dynamic events
  apps/web/playwright/dynamic-booking-pages.e2e.ts
  packages/features/bookings/components/event-meta/Members.tsx
  packages/features/eventtypes/lib/getPublicEvent.ts
Labels: 🐛 bug, organizations, event-types, core, foundation

#15106 fix: app crash on accessing certains pages of organization/teams when user not part of any organization or team
  packages/features/ee/organizations/pages/settings/appearance.tsx
  packages/features/ee/organizations/pages/settings/general.tsx
  packages/features/ee/organizations/pages/settings/other-team-members-view.tsx
  packages/features/ee/organizations/pages/settings/other-team-profile-view.tsx
  packages/features/ee/organizations/pages/settings/profile.tsx
  packages/features/ee/sso/page/teams-sso-view.tsx
  packages/features/ee/teams/pages/team-appearance-view.tsx
  packages/features/ee/teams/pages/team-members-view.tsx
  packages/features/ee/teams/pages/team-profile-view.tsx
Labels: 🐛 bug, teams, organizations, community

#15149 chore: skips flaky future limits test
  packages/features/bookings/lib/handleNewBooking/test/booking-limits.test.ts
Labels: automated-tests, core, foundation

#15151 chore: v4.1.1
  apps/web/package.json
Labels: core, foundation

#14825 chore: better logging for failed webhooks
  apps/web/pages/api/recorded-daily-video.ts
  packages/features/bookings/lib/handleBookingRequested.ts
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/features/bookings/lib/handleConfirmation.ts
  packages/features/bookings/lib/handleSeats/cancel/cancelAttendeeSeat.ts
  packages/features/bookings/lib/handleWebhookTrigger.ts
  packages/trpc/server/routers/viewer/bookings/requestReschedule.handler.ts
Labels: bookings, webhooks, community

#15155 fix: Failing futureLimit handleNewBooking test
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  packages/features/bookings/lib/handleNewBooking/test/booking-limits.test.ts
Labels: 🐛 bug, bookings, automated-tests, core, consumer

#15131 feat: add get recording and transcripts API endpoint
  apps/api/v1/pages/api/bookings/[id]/recordings/_get.ts
  apps/api/v1/pages/api/bookings/[id]/recordings/index.ts
  apps/api/v1/pages/api/bookings/[id]/transcripts/_get.ts
  apps/api/v1/pages/api/bookings/[id]/transcripts/index.ts
  apps/api/v1/pages/api/docs.ts
  apps/api/v1/test/lib/bookings/[id]/recordings/_get.test.ts
  apps/api/v1/test/lib/bookings/[id]/transcripts/_get.test.ts
  packages/lib/test/builder.ts
Labels: ✨ feature, High priority, bookings, api, core, consumer

#15159 chore: Release version 4.1.2
  apps/web/package.json
Labels: ⬆️ dependencies, core, foundation

#15163 fix: Make pagination optional in Bookings API
  apps/api/v1/pages/api/bookings/_get.ts
Labels: 🐛 bug, bookings, api, core

#15164 chore: Moved legacy rewrites from afterFiles to beforeFiles
  apps/web/next.config.js
Labels: core, 💻 refactor, foundation

#14935 fix: Use origin as provided in HeadSeo. origin would be different for Domain cases
  apps/web/modules/bookings/views/bookings-single-view.getServerSideProps.tsx
  apps/web/modules/bookings/views/bookings-single-view.test.tsx
  apps/web/modules/bookings/views/bookings-single-view.tsx
  apps/web/modules/test-setup.ts
  apps/web/modules/users/views/users-public-view.test.tsx
  apps/web/modules/users/views/users-public-view.tsx
  apps/web/pages/team/[slug].tsx
  apps/web/playwright/booking-pages.e2e.ts
  apps/web/playwright/organization/booking.e2e.ts
  packages/features/bookings/components/BookerSeo.test.tsx
  packages/features/bookings/components/BookerSeo.tsx
  packages/features/ee/organizations/lib/orgDomains.ts
  packages/features/test/orgDomains.test.ts
  packages/ui/components/head-seo/HeadSeo.tsx
  packages/ui/components/head-seo/head-seo.test.tsx
  vitest.workspace.ts
Labels: 🐛 bug, High priority, teams, bookings, organizations, ui, core, consumer

#15172 feat: v2 API enable updating event-type bookingFields
  apps/api/v2/src/ee/event-types/controllers/event-types.controller.e2e-spec.ts
  apps/api/v2/src/ee/event-types/inputs/update-event-type.input.ts
  packages/platform/libraries/index.ts
Labels: ✨ feature, platform, event-types, core

#15167 fix: mobile avatars not loading on event-types
  apps/web/modules/event-types/views/event-types-listing-view.tsx
Labels: 🐛 bug, event-types, community

#15028 fix: broken url on booking page
  packages/features/bookings/components/event-meta/Members.tsx
Labels: 🐛 bug, High priority, 📉 regressing, booking-page, core, consumer

#15176 chore: v4.1.3
  apps/web/package.json
Labels: High priority, core, foundation

#15161 chore: Skip flaky tests that have been failing often
  apps/web/playwright/event-types.e2e.ts
  apps/web/playwright/login.e2e.ts
  apps/web/playwright/profile.e2e.ts
  packages/embeds/embed-react/playwright/tests/basic.e2e.ts
Labels: High priority, automated-tests, ci, core, foundation

#15157 fix: Org Seeder - to better represent production scenario and fix admin org delete cleanup
  apps/web/public/static/locales/en/common.json
  packages/prisma/seed.ts
  packages/trpc/server/routers/viewer/organizations/adminDelete.handler.ts
Labels: 🐛 bug, organizations, core, consumer

#15156 fix: signing_up_terms i18n
  apps/web/pages/signup.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/Booker/components/BookEventForm/BookEventForm.tsx
Labels: i18n, core, consumer, 1sec review

#15186 chore: v4.1.4
  apps/web/package.json
Labels: High priority, core, foundation

#12698 fix: refactor crypto.ts to migrate to more secure encryption keys
  .env.example
  .github/workflows/api-v1-production-build.yml
  .github/workflows/e2e-app-store.yml
  .github/workflows/e2e-embed-react.yml
  .github/workflows/e2e-embed.yml
  .github/workflows/e2e.yml
  .github/workflows/integration-tests.yml
  .github/workflows/nextjs-bundle-analysis.yml
  .github/workflows/production-build-without-database.yml
  apps/web/pages/api/auth/two-factor/totp/disable.ts
  apps/web/pages/api/auth/two-factor/totp/enable.ts
  apps/web/pages/api/auth/two-factor/totp/setup.ts
  apps/web/pages/api/link.ts
  apps/web/pages/api/webhook/app-credential.ts
  apps/web/playwright/login.2fa.e2e.ts
  packages/app-store/applecalendar/api/add.ts
  packages/app-store/caldavcalendar/api/add.ts
  packages/app-store/closecom/api/_postAdd.ts
  packages/app-store/closecom/lib/CalendarService.ts
  packages/app-store/exchange2013calendar/api/add.ts
  packages/app-store/exchange2013calendar/lib/CalendarService.ts
  packages/app-store/exchange2016calendar/api/add.ts
  packages/app-store/exchange2016calendar/lib/CalendarService.ts
  packages/app-store/exchangecalendar/api/_postAdd.ts
  packages/app-store/exchangecalendar/lib/CalendarService.ts
  packages/app-store/ics-feedcalendar/api/add.ts
  packages/app-store/ics-feedcalendar/lib/CalendarService.ts
  packages/app-store/sendgrid/api/_postAdd.ts
  packages/app-store/sendgrid/lib/CalendarService.ts
  packages/emails/src/templates/OrganizerRequestEmail.tsx
  packages/features/auth/lib/next-auth-options.ts
  packages/lib/CalendarService.ts
  packages/lib/crypto.ts
  packages/trpc/server/routers/loggedInViewer/deleteMe.handler.ts
  packages/types/environment.d.ts
  turbo.json
  vitest.config.ts
Labels: Medium priority, ❗️ .env changes, community, foundation

#15185 chore: return empty array if no transcription found
  packages/app-store/dailyvideo/lib/VideoApiAdapter.ts
Labels: core, ai, consumer

#15178 fix: styles for the schedule component, make it mobile-friendly
  packages/features/schedules/components/Schedule.tsx
Labels: 🧹 Improvements, platform, ui, core

#15195 fix(atoms): fix max-height bug for the Booker component
  packages/features/bookings/Booker/Booker.tsx
Labels: 🐛 bug, platform, bookings, core

#15184 fix: attendeeSeatId is not being returned on webhook response for events with seats
  packages/features/bookings/lib/handleSeats/handleSeats.ts
Labels: 🐛 bug, Medium priority, seats, webhooks, community

#15198 fix: Profile page crash due to invalid topLevelElement
  packages/ui/components/editor/plugins/ToolbarPlugin.tsx
Labels: 🐛 bug, ui, core, foundation

#14274 chore: added event-types link to settings
  packages/features/settings/layouts/SettingsLayout.tsx
  packages/features/settings/layouts/SettingsLayoutAppDir.tsx
Labels: ✨ feature, 🚧 wip / in the making, ⚡ Quick Wins, Low priority, teams, core

#15207 fix: platform booker icons and address property for type inPerson
  packages/features/bookings/components/event-meta/AvailableEventLocations.tsx
  packages/features/bookings/lib/getLocationOptionsForSelect.ts
Labels: 🐛 bug, platform, bookings, core

#15066 fix: Event Type Toggle Shift
  apps/web/components/eventtype/EventTypeSingleLayout.tsx
Labels: 🐛 bug, ui, event-types, community

#14862 fix: event duration missing translation
  apps/web/public/static/locales/ar/common.json
  apps/web/public/static/locales/cs/common.json
  apps/web/public/static/locales/da/common.json
  apps/web/public/static/locales/es/common.json
  apps/web/public/static/locales/ja/common.json
  apps/web/public/static/locales/ko/common.json
  apps/web/public/static/locales/nl/common.json
  apps/web/public/static/locales/no/common.json
  apps/web/public/static/locales/pl/common.json
  apps/web/public/static/locales/ro/common.json
  apps/web/public/static/locales/ru/common.json
  apps/web/public/static/locales/sr/common.json
  apps/web/public/static/locales/sv/common.json
  apps/web/public/static/locales/tr/common.json
  apps/web/public/static/locales/uk/common.json
  apps/web/public/static/locales/vi/common.json
  apps/web/public/static/locales/zh-CN/common.json
  apps/web/public/static/locales/zh-TW/common.json
Labels: 🐛 bug, i18n, community

#14849 feat: autosave availability after making changes
  packages/features/schedules/components/Schedule.tsx
  packages/platform/atoms/availability/AvailabilitySettings.tsx
Labels: ✨ feature, 🧹 Improvements, Medium priority, bookings, event types, community

#15190 fix: avatar on booking page
  apps/web/modules/users/views/users-public-view.getServerSideProps.tsx
  packages/features/bookings/Booker/types.ts
  packages/features/bookings/components/event-meta/Members.tsx
  packages/features/eventtypes/lib/getPublicEvent.ts
Labels: 🐛 bug, High priority, bookings, event-types, booking-page, core, consumer

#15160 fix: feedback for crm RR skip
  apps/web/test/lib/getSchedule.test.ts
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  packages/app-store/salesforce/components/EventTypeAppCardInterface.tsx
  packages/features/bookings/lib/handleNewBooking/test/team-bookings/collective-scheduling.test.ts
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: teams, automated-tests, core, crm-apps, consumer

#15215 fix: platform plan name is always uppercase
  apps/api/v2/src/modules/billing/controllers/billing.controller.ts
  apps/api/v2/src/modules/billing/services/billing.config.service.ts
Labels: 🐛 bug, platform, core

#15216 fix: exclude atoms web wrappers from build
  packages/platform/atoms/availability/index.ts
  packages/platform/atoms/availability/wrappers/AvailabilitySettingsPlatformWrapper.tsx
  packages/platform/atoms/availability/wrappers/AvailabilitySettingsWebWrapper.tsx
  packages/platform/atoms/index.ts
  packages/platform/atoms/monorepo.ts
  packages/platform/atoms/tsconfig.json
Labels: 🐛 bug, platform, core, 💻 refactor

#15219 chore: Platform Booker defaultFormValues for prefilling
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
Labels: platform, core

#14156 feat: Add {first name} variable to Organizer & Scheduler custom event…
  apps/web/components/eventtype/CustomEventTypeModal.tsx
  apps/web/components/eventtype/EventAdvancedTab.tsx
  apps/web/public/static/locales/en/common.json
  packages/core/event.ts
Labels: ✨ feature, Low priority, ui, event-types, core, community

#15220 feat: jelly seamless signup
  apps/web/components/apps/AppPage.tsx
  packages/app-store/_utils/setDefaultConferencingApp.ts
  packages/app-store/_utils/useAddAppMutation.ts
  packages/app-store/jelly/api/callback.ts
  packages/app-store/types.d.ts
  packages/lib/event-types/getBulkEventTypes.ts
  packages/trpc/server/routers/viewer/eventTypes/bulkEventFetch.handler.ts
  packages/trpc/server/routers/viewer/eventTypes/bulkUpdateToDefaultLocation.handler.ts
Labels: 🐛 bug, ✨ feature, app-store, Medium priority, High priority, event-types, core, consumer

#15230 chore: v4.1.5
  apps/web/package.json
Labels: core, foundation

#15192 chore: Reducing E2E test sharding
  .github/workflows/e2e-app-store.yml
  .github/workflows/e2e-embed-react.yml
  .github/workflows/e2e-embed.yml
  .github/workflows/e2e.yml
  apps/web/lib/app-providers-app-dir.tsx
  apps/web/lib/app-providers.tsx
  apps/web/playwright/profile.e2e.ts
Labels: automated-tests, ci, core, foundation

#15244 fix: not able to click start recording button when transcription enabled
  apps/web/modules/videos/ai/ai-transcribe.tsx
  apps/web/modules/videos/views/videos-single-view.tsx
  packages/lib/constants.ts
Labels: 🐛 bug, High priority, ui, core, cal video, ai, consumer

#15224 fix: intercom has organisation
  packages/features/ee/support/lib/intercom/useIntercom.ts
Labels: enterprise, core, consumer
