Repository calcom/cal.com, pull requests merged in 2024-11, with the labels that each got.

#17430 fix: no availability email frequency fix
  packages/emails/src/templates/OrganizationAdminNoSlots.tsx
  packages/emails/templates/organization-admin-no-slots-email.ts
  packages/trpc/server/routers/viewer/slots/handleNotificationWhenNoSlots.test.ts
  packages/trpc/server/routers/viewer/slots/handleNotificationWhenNoSlots.ts
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: High priority, teams, emails, core, consumer, ready-for-e2e

#17438 fix: update profile photo logic in google cal integration
  packages/app-store/googlecalendar/api/callback.ts
Labels: 🐛 bug, app-store, core, consumer, ready-for-e2e

#17441 perf: google cal profile photo
  packages/app-store/googlecalendar/api/callback.ts
Labels: app-store, performance, core, consumer, ready-for-e2e

#17440 fix: create a wrapper for google calendar fetching
  packages/app-store/googlecalendar/api/callback.ts
  packages/app-store/googlecalendar/lib/CalendarService.ts
  packages/app-store/googlecalendar/lib/utils.ts
Labels: 🐛 bug, app-store, core, consumer, ready-for-e2e

#17437 perf: Add more specific spans to getBusyTimes
  packages/core/getBusyTimes.ts
Labels: performance, core, foundation, ready-for-e2e

#17450 fix: docs mdx syntax errors
  docs/platform/atoms/availability-settings.mdx
  docs/platform/faq.mdx
Labels: docs, platform, core, ready-for-e2e

#17451 fix: payments tab typo for platform
  packages/platform/atoms/event-types/wrappers/EventPaymentsTabPlatformWrapper.tsx
Labels: platform, core, ready-for-e2e

#17456 fix: filter by team url
  packages/features/settings/appDir/SettingsLayoutAppDirClient.tsx
  packages/features/settings/layouts/SettingsLayout.tsx
Labels: 🐛 bug, enterprise, core, ready-for-e2e

#17458 feat: allow users to generate csv tables for org members
  apps/web/test/lib/generateCsv.test.ts
  packages/features/users/components/UserTable/UserListTable.tsx
  packages/lib/csvUtils.ts
Labels: ✨ feature, organizations, core, consumer, ready-for-e2e

#17457 chore: remove no option text
  packages/features/bookings/components/PeopleFilter.tsx
Labels: enterprise, bookings, core, ready-for-e2e

#17461 fix: ensure fetching all members before exporting csv
  apps/web/test/lib/generateCsv.test.ts
  packages/features/users/components/UserTable/UserListTable.tsx
  packages/lib/csvUtils.ts
Labels: 🐛 bug, core, consumer, ready-for-e2e

#17464 perf: Remove extra spans
  packages/core/getBusyTimes.ts
Labels: core, foundation, ready-for-e2e

#17465 chore: v4.6.16
  apps/web/package.json
Labels: core, foundation, ready-for-e2e

#17468 chore: add webhook in payload
  packages/features/tasker/tasks/triggerNoShow/common.ts
  packages/features/tasker/tasks/triggerNoShow/triggerHostNoShow.test.ts
Labels: enterprise, webhooks, core, 🚨 urgent, ready-for-e2e

#16862 feat: adding posthog libs for node + js
  .env.example
  apps/web/lib/app-providers-app-dir.tsx
  apps/web/lib/app-providers.tsx
  apps/web/modules/signup-view.tsx
  apps/web/package.json
  packages/features/auth/lib/next-auth-options.ts
  packages/features/bookings/Booker/Booker.tsx
  packages/features/ee/event-tracking/lib/posthog/postHogClient.ts
  packages/features/ee/event-tracking/lib/posthog/provider.tsx
  packages/features/ee/event-tracking/lib/posthog/providerDynamic.tsx
  packages/features/ee/event-tracking/lib/posthog/userPostHog.tsx
  packages/features/ee/event-tracking/lib/posthog/web/PostHogPageView.tsx
  packages/features/eventtypes/components/CreateEventTypeDialog.tsx
  packages/features/insights/filters/index.tsx
  packages/features/settings/appDir/SettingsLayoutAppDirClient.tsx
  packages/features/settings/layouts/SettingsLayout.tsx
  packages/features/shell/Shell.tsx
  packages/features/shell/user-dropdown/UserDropdown.tsx
  packages/types/environment.d.ts
  turbo.json
Labels: ✨ feature, ❗️ .env changes, insights, community, ready-for-e2e

#17473 fix: api/routing-forms/responses
  packages/app-store/routing-forms/api/responses/[formId].ts
  packages/app-store/routing-forms/components/SingleForm.tsx
Labels: 🐛 bug, routing-forms, core, consumer, ready-for-e2e

#17476 chore: add missing i18n to metadata in settings/platform pages
  apps/web/app/settings/platform/oauth-clients/[clientId]/edit/webhooks/page.tsx
  apps/web/app/settings/platform/oauth-clients/create/page.tsx
  apps/web/app/settings/platform/page.tsx
  apps/web/app/settings/platform/plans/page.tsx
  apps/web/modules/settings/platform/oauth-clients/[clientId]/edit/edit-view.tsx
  apps/web/modules/settings/platform/oauth-clients/[clientId]/edit/edit-webhooks-view.tsx
  apps/web/modules/settings/platform/oauth-clients/create-new-view.tsx
  apps/web/public/static/locales/en/common.json
Labels: platform, i18n, core, consumer, ready-for-e2e

#17439 fix: simplify the common schedule toggle check logic
  packages/features/eventtypes/components/tabs/availability/EventAvailabilityTab.tsx
Labels: event-types, core, ready-for-e2e

#17484 fix: cancelling invalid booking seat apiv2
  apps/api/v2/src/ee/bookings/2024-08-13/bookings.module.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/bookings.service.ts
  apps/api/v2/src/modules/booking-seat/booking-seat.repository.ts
Labels: platform, bookings, api, core, ready-for-e2e

#17486 chore: Update build-an-app.mdx
  docs/developing/guides/appstore-and-integration/build-an-app.mdx
Labels: docs, community, ready-for-e2e

#17482 fix: creating recurring seated bookings for same timeslot
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/seated-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/bookings.service.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/output.service.ts
Labels: platform, bookings, core, ready-for-e2e

#17489 feat: instant meeting modal improvements
  packages/features/bookings/Booker/components/InstantBooking.tsx
  packages/ui/components/avatar/UserAvatarGroupWithOrg.tsx
Labels: 🧹 Improvements, High priority, enterprise, core, ready-for-e2e

#17481 refactor: Salesforce - on booking write to fields on person record
  packages/app-store/salesforce/lib/CrmService.ts
Labels: enterprise, core, crm-apps, 💻 refactor

#17483 fix: assign/remove team members to team event-types
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.e2e-spec.ts
  apps/api/v2/src/modules/oauth-clients/services/oauth-clients-users.service.ts
  apps/api/v2/src/modules/organizations/controllers/teams/memberships/organizations-teams-memberships.controller.e2e-spec.ts
  apps/api/v2/src/modules/organizations/controllers/teams/memberships/organizations-teams-memberships.controller.ts
  apps/api/v2/src/modules/organizations/controllers/users/organizations-users.e2e-spec.ts
  apps/api/v2/src/modules/organizations/repositories/organizations-event-types.repository.ts
  apps/api/v2/src/modules/organizations/services/event-types/organizations-event-types.service.ts
  apps/api/v2/src/modules/organizations/services/organizations-teams.service.ts
  apps/api/v2/src/modules/organizations/services/organizations-users-service.ts
Labels: teams, platform, event-types, core, ready-for-e2e

#17492 perf: Allow bypassing 3rd party calendar busy times
  apps/api/v1/pages/api/availability/_get.ts
  packages/core/getBusyTimes.ts
  packages/core/getUserAvailability.ts
  packages/features/bookings/lib/handleNewBooking/ensureAvailableUsers.ts
  packages/trpc/server/routers/viewer/availability/user.handler.ts
  packages/trpc/server/routers/viewer/slots/types.ts
  packages/trpc/server/routers/viewer/slots/util.ts
  packages/trpc/server/routers/viewer/teams/getMemberAvailability.handler.ts
Labels: performance, core, foundation, ready-for-e2e

#17454 feat: Display who a RR automatic reassign was routed too
  apps/web/components/dialog/ReassignDialog.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/ee/round-robin/roundRobinReassignment.ts
  packages/trpc/server/routers/viewer/teams/roundRobin/roundRobinReassign.handler.ts
Labels: ✨ feature, teams, core, consumer, ready-for-e2e

#17360 feat: docs for payment form atom
  docs/mint.json
  docs/platform/atoms/payment-form.mdx
Labels: docs, platform, core, ready-for-e2e

#17400 feat: Add feature to download routing form reports
  apps/web/public/static/locales/en/common.json
  packages/app-store/routing-forms/components/react-awesome-query-builder/widgets.tsx
  packages/app-store/routing-forms/pages/reporting/[...appPages].tsx
  packages/app-store/routing-forms/trpc/report.handler.ts
  packages/app-store/routing-forms/trpc/report.schema.ts
  packages/features/insights/filters/Download/index.tsx
  packages/features/insights/server/events.ts
Labels: ✨ feature, routing-forms, core, consumer, ready-for-e2e

#17466 feat: docs for event type atom
  docs/images/Assignment.png
  docs/images/Availability.png
  docs/images/DestinationCalendar.png
  docs/images/EventSetup.png
  docs/images/Recurring.png
  docs/images/SelectedCalendar.png
  docs/images/StripeConnect.png
  docs/images/StripeConnected.png
  docs/images/Team_Availability.png
  docs/mint.json
  docs/platform/atoms/calendar-settings.mdx
  docs/platform/atoms/create-event-type.mdx
  docs/platform/atoms/event-type.mdx
Labels: docs, platform, event-types, core, ready-for-e2e

#17494 chore: posthog vars
  turbo.json
Labels: core, ready-for-e2e

#17493 chore: v4.6.17
  apps/web/package.json
Labels: ⬆️ dependencies, core, foundation, ready-for-e2e

#17495 fix: missing responsive design in org members page
  packages/features/users/components/UserTable/UserListTable.tsx
  packages/ui/components/data-table/DataTableToolbar.tsx
Labels: 🐛 bug, ui, core, consumer, ready-for-e2e

#17504 fix: broken social media preview and title
  packages/lib/OgImages.tsx
Labels: 🐛 bug, core, consumer, ready-for-e2e

#17477 feat: Salesforce - on booking write to fields on person record [CAL-4575]
  apps/web/public/static/locales/en/common.json
  packages/app-store/salesforce/components/EventTypeAppCardInterface.tsx
  packages/app-store/salesforce/lib/CrmService.ts
  packages/app-store/salesforce/lib/enums.ts
  packages/app-store/salesforce/lib/recordEnum.ts
  packages/app-store/salesforce/zod.ts
Labels: ✨ feature, core, crm-apps, consumer, ready-for-e2e

#17485 fix: disable all emails modal crash on platform
  apps/web/components/eventtype/settings/DisableAllEmailsSetting.tsx
  packages/features/eventtypes/components/tabs/advanced/DisableAllEmailsSetting.tsx
Labels: 🐛 bug, platform, core, ready-for-e2e

#17444 fix: routing form: dont disable routing and reporting on mobile and fix mobile layout instead
  packages/app-store/routing-forms/components/RoutingNavBar.tsx
  packages/app-store/routing-forms/components/SingleForm.tsx
  packages/app-store/routing-forms/components/react-awesome-query-builder/styles.css
  packages/app-store/routing-forms/pages/route-builder/[...appPages].tsx
Labels: 🐛 bug, 🧹 Improvements, Low priority, 💎 Bounty, routing-forms, ui, 🙋 Bounty claim, community, ready-for-e2e

#17508 fix: Don't let the modal close accidentally atleast when loading
  packages/embeds/embed-core/src/ModalBox/ModalBox.ts
  packages/embeds/embed-core/src/embed-iframe.ts
Labels: 🐛 bug, enterprise, embed, core, ready-for-e2e

#17498 chore: Update SettingsLayout.tsx
  packages/features/settings/appDir/SettingsLayoutAppDirClient.tsx
  packages/features/settings/layouts/SettingsLayout.tsx
Labels: ⚡ Quick Wins, admin, community, ready-for-e2e

#17512 fix: copy to clipboard button
  apps/web/modules/event-types/views/event-types-listing-view.tsx
  packages/platform/atoms/event-types/wrappers/EventTypeWebWrapper.tsx
Labels: 🐛 bug, event-types, core, consumer, ready-for-e2e

#17416 feat: Round Robin Skip If contact owner first available slot is more than 2 weeks, round robin as normal [CAL-4651]
  apps/web/test/lib/getSchedule.test.ts
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: teams, core, consumer, ready-for-e2e

#17516 fix: Logic fix in Salesforce no-show
  packages/app-store/salesforce/lib/CrmService.ts
Labels: 🐛 bug, core, crm-apps, consumer, ready-for-e2e

#17443 chore: Replace prisma actions Credential Repository / SelectedCalendar Repository methods
  packages/app-store/googlecalendar/api/callback.ts
  packages/app-store/googlecalendar/lib/CalendarService.ts
  packages/lib/google.ts
  packages/lib/server/repository/credential.ts
  packages/lib/server/repository/google.ts
  packages/lib/server/repository/selectedCalendar.ts
  packages/lib/server/repository/user.ts
Labels: core, 💻 refactor, consumer, ready-for-e2e

#17517 fix: common schedule toggling incorrectly
  packages/features/eventtypes/components/tabs/availability/EventAvailabilityTab.tsx
  packages/features/eventtypes/lib/types.ts
  packages/trpc/server/routers/viewer/eventTypes/types.ts
  packages/trpc/server/routers/viewer/eventTypes/update.schema.ts
  packages/trpc/server/routers/viewer/eventTypes/util.ts
Labels: event-types, core, foundation, ready-for-e2e

#17522 fix: saml does not add future members to eventtype
  packages/features/auth/signup/utils/createOrUpdateMemberships.ts
  packages/features/ee/dsync/lib/users/createUsersAndConnectToOrg.ts
Labels: authentication, core, foundation, ready-for-e2e

#17480 fix: event-type atom tabs controlled by prop
  packages/platform/atoms/event-types/hooks/usePlatformTabsNavigations.tsx
Labels: platform, event-types, core, ready-for-e2e

#17521 chore: Release v4.6.18
  apps/web/package.json
Labels: ⬆️ dependencies, core, foundation, ready-for-e2e

#17525 chore: cache meeting OG images for 1 day
  apps/web/pages/api/social/og/image.tsx
Labels: performance, core, consumer, ready-for-e2e

#17528 fix: event types atom docs
  docs/platform/atoms/event-type.mdx
  docs/platform/atoms/payment-form.mdx
Labels: docs, platform, core, ready-for-e2e

#17520 fix: booker timezone from preference instead of session
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
Labels: 🐛 bug, platform, bookings, core, ready-for-e2e

#17472 feat: reset RR every month
  apps/web/test/lib/CheckForEmptyAssignment.test.ts
  apps/web/test/lib/team-event-types.test.ts
  packages/app-store/routing-forms/components/SingleForm.tsx
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/ensureAvailableUsers.ts
  packages/features/bookings/lib/handleNewBooking/getEventTypesFromDB.ts
  packages/features/bookings/lib/handleNewBooking/loadUsers.ts
  packages/features/bookings/lib/handleNewBooking/types.ts
  packages/features/ee/round-robin/roundRobinManualReassignment.ts
  packages/features/ee/round-robin/roundRobinReassignment.ts
  packages/features/eventtypes/components/AddMembersWithSwitch.tsx
  packages/features/eventtypes/components/CheckedTeamSelect.tsx
  packages/features/eventtypes/components/EventType.tsx
  packages/features/eventtypes/components/HostEditDialogs.tsx
  packages/features/eventtypes/components/tabs/assignment/EventTeamAssignmentTab.tsx
  packages/features/eventtypes/lib/types.ts
  packages/lib/server/getLuckyUser.integration-test.ts
  packages/lib/server/getLuckyUser.test.ts
  packages/lib/server/getLuckyUser.ts
  packages/lib/server/repository/booking.ts
  packages/lib/server/repository/eventType.ts
  packages/lib/test/builder.ts
  packages/prisma/migrations/20241101180315_add_created_at_to_host/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/eventTypes/update.handler.ts
  packages/trpc/server/routers/viewer/eventTypes/util.ts
Labels: ❗️ migrations, 🧹 Improvements, High priority, teams, event-types, core, community, consumer, ready-for-e2e

#17513 fix: issues in 'updateNewTeamMemberEventTypes' while adding new team member.
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/team/team-invitation.e2e.ts
  packages/lib/server/queries/teams/index.ts
Labels: 🐛 bug, High priority, teams, community, high-risk, ready-for-e2e

#17519 chore: add sentry performance tracking api-v2
  apps/api/v2/package.json
  apps/api/v2/src/app.module.ts
  apps/api/v2/src/app.ts
  apps/api/v2/src/env.ts
  apps/api/v2/src/instrument.ts
Labels: platform, api, performance, core, ready-for-e2e

#17524 chore: v4.6.19
  apps/web/package.json
Labels: ⬆️ dependencies, core, foundation, ready-for-e2e

#17550 fix: loom iframe for atoms
  docs/platform/atoms/apple-calendar-connect.mdx
Labels: docs, platform, core, ready-for-e2e

#17549 fix: move team availability search to serverside
  packages/features/timezone-buddy/components/AvailabilitySliderTable.tsx
  packages/trpc/server/routers/viewer/availability/team/listTeamAvailability.handler.ts
  packages/trpc/server/routers/viewer/availability/team/listTeamAvailability.schema.ts
Labels: 🐛 bug, teams, core, consumer, ready-for-e2e

#17460 feat: api v2 reassign
  apps/api/v2/package.json
  apps/api/v2/src/ee/bookings/2024-08-13/bookings.repository.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/bookings.controller.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/reassign-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/outputs/reassign-booking.output.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/bookings.service.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/output.service.ts
  packages/platform/libraries/index.ts
  packages/platform/types/bookings/2024-08-13/inputs/index.ts
  packages/platform/types/bookings/2024-08-13/inputs/reassign-to-user.input.ts
  packages/platform/types/bookings/2024-08-13/outputs/booking.output.ts
  yarn.lock
Labels: ✨ feature, bookings, api, core, consumer, ready-for-e2e

#17530 feat: adds attendee and host names, and guest emails in forwarded params
  packages/lib/bookingSuccessRedirect.ts
  packages/prisma/selects/payment.ts
Labels: ✨ feature, High priority, enterprise, bookings, core, ready-for-e2e

#17566 fix: pass `upId` to JWT if logging in through SAML
  packages/features/auth/lib/next-auth-options.ts
Labels: authentication, core, consumer, ready-for-e2e

#17556 fix: atoms docs
  docs/platform/atoms/apple-calendar-connect.mdx
  docs/platform/atoms/calendar-settings.mdx
Labels: docs, platform, core, ready-for-e2e

#17569 fix: docs loom iframe fixes
  docs/platform/atoms/calendar-settings.mdx
Labels: docs, platform, core, ready-for-e2e

#17571 chore: v4.6.20
  apps/web/package.json
Labels: core, foundation, ready-for-e2e

#17573 fix: incorrect capitalization in company names
  docs/self-hosting/apps/install-apps/introduction.mdx
Labels: docs, community, ready-for-e2e

#17570 fix: iframe issue for atoms documentation
  docs/developing/guides/automation/webhooks.mdx
  docs/platform/atoms/apple-calendar-connect.mdx
  docs/platform/atoms/availability-settings.mdx
  docs/platform/atoms/booker.mdx
  docs/platform/atoms/calendar-settings.mdx
  docs/platform/atoms/event-type.mdx
  docs/platform/atoms/google-calendar-connect.mdx
  docs/platform/atoms/outlook-calendar-connect.mdx
  docs/platform/atoms/payment-form.mdx
  docs/platform/booking-redirects.mdx
Labels: docs, platform, core, ready-for-e2e

#17538 fix: Routing Form - Small Improvements
  apps/web/playwright/icons.e2e.ts-snapshots/icons--calcom-web-linux.png
  apps/web/public/icons/sprite.svg
  packages/app-store/routing-forms/pages/route-builder/[...appPages].tsx
  packages/app-store/routing-forms/zod.ts
  packages/features/shell/Shell.tsx
  packages/ui/components/card/FormCard.tsx
  packages/ui/components/icon/icon-list.mjs
  packages/ui/components/icon/icon-names.ts
Labels: 🧹 Improvements, enterprise, routing-forms, core, ready-for-e2e

#17548 fix: Incorrect seat availability count displayed for seated booking
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: 🐛 bug, High priority, seats, core, ready-for-e2e

#17403 fix: Users details leak for team booking when the team is private
  packages/features/eventtypes/lib/getPublicEvent.ts
  packages/lib/server/repository/event.ts
  packages/trpc/server/middlewares/sessionMiddleware.ts
  packages/trpc/server/routers/publicViewer/event.handler.ts
  packages/trpc/server/routers/publicViewer/procedures/event.ts
Labels: 🐛 bug, High priority, teams, core, ready-for-e2e

#17491 chore: Routing form - Add submitted_at and Sort entries with latest on top
  packages/app-store/routing-forms/playwright/tests/basic.e2e.ts
  packages/app-store/routing-forms/trpc/report.handler.ts
Labels: 🧹 Improvements, routing-forms, core, ready-for-e2e

#17134 chore: plain text plugin for Editor
  packages/features/ee/workflows/components/WorkflowStepContainer.tsx
  packages/lib/turndownService.ts
  packages/ui/components/editor/Editor.tsx
  packages/ui/components/editor/plugins/PlainTextPlugin.tsx
Labels: core, ready-for-e2e

#17537 fix: Form link in Reroute Dialog gives 404 for members that aren't admin/owner of team
  apps/web/components/PageWrapper.tsx
  apps/web/components/PageWrapperAppDir.tsx
  apps/web/pages/403.tsx
  apps/web/public/static/locales/en/common.json
  packages/app-store/routing-forms/components/getServerSidePropsSingleForm.ts
Labels: 🧹 Improvements, routing-forms, core, ready-for-e2e

#17564 fix: hidden phone booking field should never need validation
  packages/features/bookings/lib/getBookingResponsesSchema.ts
Labels: 🐛 bug, bookings, core, ready-for-e2e

#17448 fix: incorrect booking title for diff users
  apps/web/modules/bookings/views/bookings-single-view.tsx
  apps/web/public/static/locales/en/common.json
Labels: 🐛 bug, Low priority, bookings, core, ready-for-e2e

#17526 feat: Salesforce RR skip based on a user on a lookup field on an account
  apps/web/lib/team/[slug]/[type]/getServerSideProps.tsx
  apps/web/public/static/locales/en/common.json
  packages/app-store/googlecalendar/api/callback.ts
  packages/app-store/routing-forms/appBookingFormHandler.ts
  packages/app-store/routing-forms/appComponents.ts
  packages/app-store/routing-forms/appDataSchemas.ts
  packages/app-store/routing-forms/components/DynamicAppComponent.tsx
  packages/app-store/routing-forms/lib/constants.ts
  packages/app-store/routing-forms/lib/enabledApps.ts
  packages/app-store/routing-forms/lib/getEventTypeAppMetadata.ts
  packages/app-store/routing-forms/pages/route-builder/[...appPages].tsx
  packages/app-store/routing-forms/pages/routing-link/getUrlSearchParamsToForward.ts
  packages/app-store/routing-forms/playwright/tests/basic.e2e.ts
  packages/app-store/routing-forms/types/types.d.ts
  packages/app-store/routing-forms/zod.ts
  packages/app-store/salesforce/components/RoutingFormOptions.tsx
  packages/app-store/salesforce/lib/CrmService.ts
  packages/app-store/salesforce/lib/routingFormBookingFormHandler.ts
  packages/app-store/salesforce/zod.ts
  packages/features/settings/layouts/SettingsLayout.tsx
  packages/lib/server/repository/credential.ts
  packages/lib/server/service/eventType.ts
  yarn.lock
Labels: ✨ feature, routing-forms, core, crm-apps, consumer, ready-for-e2e

#17586 chore: Release v4.6.21
  apps/web/package.json
Labels: ⬆️ dependencies, core, foundation, ready-for-e2e

#17581 feat: add free platform plan
  apps/api/v2/src/modules/billing/billing.processor.ts
  apps/api/v2/src/modules/billing/billing.repository.ts
  apps/api/v2/src/modules/billing/controllers/billing.controller.e2e-spec.ts
  apps/api/v2/src/modules/billing/controllers/billing.controller.ts
  apps/api/v2/src/modules/billing/services/billing.service.ts
  apps/api/v2/src/modules/billing/types.ts
  apps/api/v2/src/modules/organizations/organizations.repository.ts
  apps/api/v2/src/modules/stripe/stripe.service.ts
  apps/api/v2/swagger/documentation.json
  apps/api/v2/test/fixtures/repository/billing.repository.fixture.ts
  apps/web/components/settings/platform/platformUtils.ts
  apps/web/components/settings/platform/pricing/billing-card/index.tsx
  apps/web/lib/settings/platform/utils.ts
Labels: ✨ feature, platform, core, ready-for-e2e

#17593 fix: split firstname lastname support, phone support & timezone specific startTime in success redirect params
  packages/lib/bookingSuccessRedirect.ts
  packages/prisma/selects/payment.ts
Labels: enterprise, bookings, core, ready-for-e2e

#17518 perf: routing forms loading time
  packages/app-store/routing-forms/api/responses/[formId].ts
  packages/app-store/routing-forms/lib/isFormCreateEditAllowed.ts
  packages/app-store/routing-forms/trpc/formMutation.handler.ts
  packages/app-store/routing-forms/trpc/forms.handler.ts
  packages/app-store/routing-forms/trpc/getResponseWithFormFields.handler.ts
  packages/lib/entityPermissionUtils.ts
Labels: High priority, enterprise, routing-forms, performance, core, ready-for-e2e

#17555 fix: apiv2 updateNewTeamMemberEventTypes silently
  apps/api/v2/package.json
  apps/api/v2/src/modules/organizations/controllers/teams/memberships/organizations-teams-memberships.controller.ts
Labels: 🐛 bug, teams, platform, api, event-types, core, ready-for-e2e

#17600 chore: Release v4.6.22
  apps/web/package.json
Labels: ⬆️ dependencies, core, foundation, ready-for-e2e

#17604 fix: #17602
  packages/features/ee/event-tracking/lib/posthog/web/PostHogPageView.tsx
Labels: 🐛 bug, ✅ good first issue, ⚡ Quick Wins, good first issue, community, ready-for-e2e

#17598 feat: v2 multiple length event types and their bookings
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/variable-length-bookings.controller.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/input.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/controllers/event-types.controller.e2e-spec.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/input-event-types.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/output-event-types.service.ts
  packages/platform/types/bookings/2024-08-13/inputs/create-booking.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/create-event-type.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/update-event-type.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/outputs/event-type.output.ts
Labels: platform, core, ready-for-e2e

#17578 feat: v2 confirm / decline booking endpoints
  apps/api/v2/package.json
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/bookings.controller.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/confirm-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/bookings.service.ts
  apps/api/v2/swagger/documentation.json
  packages/emails/templates/attendee-declined-email.ts
  packages/emails/templates/attendee-scheduled-email.ts
  packages/emails/templates/organizer-scheduled-email.ts
  packages/platform/libraries/index.ts
  packages/platform/types/bookings/2024-08-13/inputs/decline-booking.input.ts
  packages/platform/types/bookings/2024-08-13/inputs/index.ts
  yarn.lock
Labels: ✨ feature, platform, bookings, api, core, ready-for-e2e

#17617 chore: update Instant Meeting Error Message
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/Booker/components/RedirectToInstantMeetingModal.tsx
Labels: 🧹 Improvements, community, ready-for-e2e

#17588 fix: mark guest are no show
  packages/features/tasker/tasks/triggerNoShow/common.ts
  packages/features/tasker/tasks/triggerNoShow/triggerGuestNoShow.ts
Labels: 🐛 bug, enterprise, webhooks, core, ready-for-e2e

#17607 fix: Refactor publicPageUrl to use getBookerBaseUrlSync like elsewhere
  packages/features/shell/SideBar.tsx
Labels: core, 💻 refactor, foundation, ready-for-e2e

#17109 fix: fetch next batch if event types are empty and cursor exists
  apps/web/modules/event-types/views/event-types-listing-view.tsx
  packages/trpc/server/routers/viewer/eventTypes/getEventTypesFromGroup.handler.ts
Labels: 🐛 bug, High priority, enterprise, event-types, core, high-risk, ready-for-e2e

#17046 chore: Automated API v2 OpenAPI spec generation
  apps/api/v2/src/main.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-flow/oauth-flow.controller.ts
  apps/api/v2/src/modules/webhooks/controllers/webhooks.controller.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
Labels: docs, Stale, api, core, foundation, ready-for-e2e

#17612 fix: skip triggering webhook in case of duplicate email
  packages/app-store/routing-forms/trpc/utils.ts
  packages/features/tasker/tasks/triggerFormSubmittedNoEvent/triggerFormSubmittedNoEventWebhook.ts
Labels: High priority, enterprise, routing-forms, webhooks, core, ready-for-e2e

#17623 refactor: change title
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/components/RedirectToInstantMeetingModal.tsx
Labels: enterprise, core, 💻 refactor, ready-for-e2e

#17618 fix: fix telli URL [CAL-4702]
  packages/app-store/telli/api/add.ts
  packages/app-store/telli/config.json
Labels: 🐛 bug, app-store, community, ready-for-e2e

#17554 fix: make actions column sticky in members list
  packages/features/users/components/UserTable/UserListTable.tsx
  packages/types/tanstack-table.d.ts
  packages/ui/components/data-table/DataTable.tsx
  packages/ui/components/data-table/tanstack.d.ts
Labels: 🐛 bug, 🧹 Improvements, ui, core, consumer, ready-for-e2e

#17620 chore: v4.6.23
  apps/web/package.json
Labels: core, foundation, ready-for-e2e

#16929 chore: Cleanup Close.com
  apps/web/pages/api/teams/create.ts
  packages/core/EventManager.ts
  packages/features/auth/signup/handlers/calcomHandler.ts
  packages/features/auth/signup/handlers/selfHostedHandler.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/ee/teams/api/upgrade.ts
  packages/features/users/lib/userDeletionService.ts
  packages/lib/sync/SyncServiceManager.ts
  packages/lib/sync/services/CloseComService.ts
  packages/lib/sync/services/index.ts
  packages/trpc/server/routers/loggedInViewer/deleteMeWithoutPassword.handler.ts
  packages/trpc/server/routers/loggedInViewer/updateProfile.handler.ts
  packages/trpc/server/routers/viewer/organizations/create.handler.ts
  packages/trpc/server/routers/viewer/organizations/publish.handler.ts
  packages/trpc/server/routers/viewer/organizations/update.handler.ts
  packages/trpc/server/routers/viewer/teams/acceptOrLeave.handler.ts
  packages/trpc/server/routers/viewer/teams/changeMemberRole.handler.ts
  packages/trpc/server/routers/viewer/teams/create.handler.ts
  packages/trpc/server/routers/viewer/teams/update.handler.ts
Labels: core, crm-apps, foundation, ready-for-e2e

#17595 feat: Add API v2 logs to axiom
  apps/api/v2/.env.example
  apps/api/v2/package.json
  apps/api/v2/src/env.ts
  apps/api/v2/src/lib/logger.ts
  yarn.lock
Labels: ❗️ .env changes, api, core, foundation, ready-for-e2e

#17503 chore: upgrade `@vercel/og` lib
  apps/web/package.json
  apps/web/pages/api/social/og/image.tsx
  packages/lib/package.json
  packages/ui/components/head-seo/HeadSeo.tsx
  yarn.lock
Labels: 🐛 bug, ⬆️ dependencies, core, consumer, ready-for-e2e

#17206 perf: Move /me stats to separate tRPC handler
  packages/features/ee/event-tracking/lib/posthog/userPostHog.tsx
  packages/features/ee/support/lib/intercom/useIntercom.ts
  packages/trpc/server/routers/loggedInViewer/_router.tsx
  packages/trpc/server/routers/loggedInViewer/me.handler.ts
  packages/trpc/server/routers/loggedInViewer/myStats.handler.ts
  packages/trpc/server/routers/loggedInViewer/myStats.schema.ts
  packages/trpc/server/routers/loggedInViewer/procedures/myStats.ts
Labels: performance, core, foundation, ready-for-e2e

#17628 chore: typo in webhook
  apps/web/public/static/locales/en/common.json
Labels: community, ready-for-e2e

#17625 feat: allow marking no show after booking has started
  apps/web/components/booking/BookingListItem.tsx
  packages/features/handleMarkNoShow.ts
Labels: ✨ feature, Medium priority, bookings, community, ready-for-e2e

#17613 fix: resolved troubleshoot-sidbar bug
  packages/features/troubleshooter/Troubleshooter.tsx
Labels: 🐛 bug, ui, community, ready-for-e2e

#17510 chore: routingform org attribute seed
  apps/api/v1/test/lib/utils/retrieveScopedAccessibleUsers.integration-test.ts
  packages/prisma/seed-insights.ts
  packages/prisma/seed-utils.ts
  packages/prisma/seed.ts
Labels: routing-forms, organizations, core, consumer, ready-for-e2e

#17639 chore: v4.6.24
  apps/web/package.json
Labels: core, foundation, ready-for-e2e

#17652 feat(CAL-4730): add `sk-SK` language
  i18n.json
Labels: i18n, community, ready-for-e2e

#17656 fix: z index issue on dropdown menu
  packages/features/users/components/UserTable/UserTableActions.tsx
Labels: 🐛 bug, ui, core, consumer, ready-for-e2e

#17591 feat: exclude emails and domains
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/lib/getBookingResponsesSchema.test.ts
  packages/features/bookings/lib/getBookingResponsesSchema.ts
  packages/features/form-builder/FormBuilder.tsx
  packages/features/form-builder/schema.ts
Labels: ✨ feature, ⚡ Quick Wins, High priority, 💎 Bounty, bookings, 🙋 Bounty claim, community, ready-for-e2e

#17567 feat: attribute weights and virtual queues
  apps/web/modules/signup-view.tsx
  packages/app-store/routing-forms/trpc/response.handler.ts
  packages/app-store/routing-forms/zod.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/ee/round-robin/roundRobinReassignment.ts
  packages/features/eventtypes/components/CreateEventTypeDialog.tsx
  packages/features/insights/filters/index.tsx
  packages/lib/server/getLuckyUser.test.ts
  packages/lib/server/getLuckyUser.ts
  packages/lib/server/repository/booking.ts
  packages/prisma/migrations/20241108222820_add_weights_to_attribute/migration.sql
  packages/prisma/schema.prisma
Labels: ✨ feature, ❗️ migrations, routing-forms, core, consumer, ready-for-e2e

#11928 feat: Populate gCal calendar cache via webhooks
  .env.example
  apps/web/app/api/calendar-cache/cron/route.ts
  apps/web/app/settings/(admin-layout)/admin/calendar-cache/page.tsx
  apps/web/cron-tester.ts
  apps/web/pages/api/availability/calendar.ts
  apps/web/pages/api/cron/calendar-cache-cleanup.ts
  apps/web/vercel.json
  packages/app-store/googlecalendar/api/callback.ts
  packages/app-store/googlecalendar/api/index.ts
  packages/app-store/googlecalendar/api/webhook.ts
  packages/app-store/googlecalendar/lib/CalendarService.test.ts
  packages/app-store/googlecalendar/lib/CalendarService.ts
  packages/app-store/googlecalendar/lib/__mocks__/googleapis.ts
  packages/app-store/tests/__mocks__/OAuthManager.ts
  packages/core/CalendarManager.ts
  packages/core/getCalendarsEvents.ts
  packages/features/calendar-cache/api/cron.ts
  packages/features/calendar-cache/calendar-cache.repository.interface.ts
  packages/features/calendar-cache/calendar-cache.repository.mock.ts
  packages/features/calendar-cache/calendar-cache.repository.schema.ts
  packages/features/calendar-cache/calendar-cache.repository.ts
  packages/features/calendar-cache/calendar-cache.ts
  packages/features/calendars/CalendarSwitch.tsx
  packages/features/flags/features.repository.interface.ts
  packages/features/flags/features.repository.ts
  packages/features/flags/hooks/index.ts
  packages/features/flags/server/utils.ts
  packages/lib/server/defaultResponder.appDir.ts
  packages/lib/server/repository/google.ts
  packages/lib/server/repository/selectedCalendar.ts
  packages/lib/server/repository/user.ts
  packages/prisma/migrations/20240207222843_add_google_watched_calendars/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/sql/getSelectedCalendarsToWatch.sql
  packages/trpc/server/routers/viewer/admin/_router.ts
  packages/trpc/server/routers/viewer/admin/toggleFeatureFlag.handler.ts
  packages/trpc/server/routers/viewer/admin/toggleFeatureFlag.procedure.ts
  packages/trpc/server/routers/viewer/admin/toggleFeatureFlag.schema.ts
  packages/types/Calendar.d.ts
  turbo.json
Labels: ✨ feature, ❗️ migrations, app-store, Medium priority, High priority, ❗️ .env changes, webhooks, api, performance, core, foundation, ready-for-e2e

#17668 fix: unable to lock individual event type creation
  packages/prisma/extensions/disallow-undefined-delete-update-many.test.ts
  packages/prisma/extensions/disallow-undefined-delete-update-many.ts
Labels: event-types, core, ready-for-e2e

#17583 feat: insights routing forms
  apps/web/modules/insights/insights-routing-view.tsx
  apps/web/modules/insights/insights-view.tsx
  apps/web/modules/insights/layout.tsx
  apps/web/pages/insights/routing/index.tsx
  apps/web/playwright/insights.e2e.ts
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/components/PeopleFilter.tsx
  packages/features/insights/components/FailedBookingsByField.tsx
  packages/features/insights/components/RoutingFormResponsesTable.tsx
  packages/features/insights/components/RoutingKPICards.tsx
  packages/features/insights/components/index.ts
  packages/features/insights/context/FiltersProvider.tsx
  packages/features/insights/context/provider.ts
  packages/features/insights/filters/BookingStatusFilter.tsx
  packages/features/insights/filters/Download/Download.tsx
  packages/features/insights/filters/Download/RoutingDownload.tsx
  packages/features/insights/filters/Download/index.tsx
  packages/features/insights/filters/EventTypeList.tsx
  packages/features/insights/filters/FilterType.tsx
  packages/features/insights/filters/RoutingFormFieldFilter.tsx
  packages/features/insights/filters/RoutingFormFilterList.tsx
  packages/features/insights/filters/TeamAndSelfList.tsx
  packages/features/insights/filters/UsersListInTeam.tsx
  packages/features/insights/filters/index.tsx
  packages/features/insights/hooks/useDefaultRoutingForm.ts
  packages/features/insights/server/routing-events.ts
  packages/features/insights/server/trpc-router.ts
  packages/features/shell/navigation/Navigation.tsx
  packages/features/tips/UpgradeTip.tsx
  packages/lib/csvUtils.ts
  packages/prisma/seed-utils.ts
  packages/ui/components/filter-select/index.tsx
  packages/ui/index.ts
  packages/ui/package.json
Labels: ✨ feature, routing-forms, insights, core, consumer, ready-for-e2e

#17670 test: Add test to validate error when the where object contain null values and 'in' field is undefined
  packages/prisma/extensions/disallow-undefined-delete-update-many.test.ts
Labels: automated-tests, core, ready-for-e2e

#17552 fix: Preview queue position and contact owner in preview
  apps/web/components/dialog/RerouteDialog.tsx
  apps/web/components/dialog/__tests__/RerouteDialog.test.tsx
  apps/web/lib/getTeamMemberEmailFromCrm.ts
  apps/web/lib/team/[slug]/[type]/getServerSideProps.tsx
  apps/web/pages/api/trpc/routingForms/[trpc].ts
  apps/web/public/static/locales/en/common.json
  packages/app-store/_utils/CRMRoundRobinSkip.ts
  packages/app-store/routing-forms/__tests__/TestFormDialog.test.tsx
  packages/app-store/routing-forms/components/SingleForm.tsx
  packages/app-store/routing-forms/pages/routing-link/getUrlSearchParamsToForward.ts
  packages/app-store/routing-forms/trpc/_router.ts
  packages/app-store/routing-forms/trpc/findTeamMembersMatchingAttributeLogic.handler.ts
  packages/app-store/routing-forms/trpc/response.handler.ts
  packages/app-store/routing-forms/trpc/response.schema.ts
  packages/app-store/routing-forms/trpc/utils.ts
  packages/app-store/routing-forms/zod.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/ee/round-robin/roundRobinReassignment.ts
  packages/lib/server/getLuckyUser.integration-test.ts
  packages/lib/server/getLuckyUser.ts
  packages/lib/server/repository/booking.ts
  packages/lib/server/repository/eventType.ts
  packages/trpc/react/shared.ts
  packages/trpc/server/routers/viewer/_router.tsx
  packages/trpc/server/routers/viewer/routing-forms/_router.ts
  packages/trpc/server/routers/viewer/routing-forms/findTeamMembersMatchingAttributeLogic.handler.ts
  packages/trpc/server/routers/viewer/routing-forms/findTeamMembersMatchingAttributeLogic.schema.ts
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: ❗️ migrations, 🧹 Improvements, teams, enterprise, routing-forms, core, ready-for-e2e

#17676 fix: removed calendar cache admin page
  apps/web/app/settings/(admin-layout)/admin/calendar-cache/page.tsx
Labels: core, foundation, ready-for-e2e

#17626 fix: update current cursor
  packages/trpc/server/routers/viewer/eventTypes/getEventTypesFromGroup.handler.ts
Labels: enterprise, event-types, core, ready-for-e2e

#17664 chore: v4.7.0
  apps/web/package.json
Labels: ⬆️ dependencies, core, foundation, ready-for-e2e

#17677 chore: Remove playwright install API v2 E2E
  .github/workflows/e2e-api-v2.yml
Labels: api, ci, core, foundation, ready-for-e2e

#17681 perf: optimize team admin check queries
  packages/lib/server/repository/profile.ts
  packages/lib/server/repository/user.ts
  packages/trpc/server/middlewares/sessionMiddleware.ts
Labels: 🐛 bug, High priority, performance, core, foundation, ready-for-e2e

#17684 fix: Hotfix/ Fix contact owner routing
  apps/web/lib/getTeamMemberEmailFromCrm.ts
Labels: 🐛 bug, enterprise, core, crm-apps, ready-for-e2e

#17685 test: findTeamMemberEmailFromCrm
  apps/web/lib/__tests__/getTeamMemberEmailFromCrm.test.ts
  apps/web/lib/getTeamMemberEmailFromCrm.ts
  apps/web/lib/team/[slug]/[type]/getServerSideProps.tsx
  packages/trpc/server/routers/viewer/routing-forms/findTeamMembersMatchingAttributeLogic.handler.ts
Labels: enterprise, automated-tests, core, crm-apps, ready-for-e2e

#17686 chore: Release v4.7.1
  apps/web/package.json
Labels: core, foundation, ready-for-e2e

#17687 fix: large org routing insights UI issues
  apps/web/modules/insights/insights-routing-view.tsx
  packages/features/insights/components/FailedBookingsByField.tsx
  packages/features/insights/components/RoutingFormResponsesTable.tsx
  packages/features/insights/components/RoutingKPICards.tsx
  packages/features/insights/components/index.ts
  packages/features/insights/components/tremor/BarList.tsx
  packages/features/insights/filters/FilterType.tsx
  packages/features/insights/filters/index.tsx
  packages/ui/components/data-table/filters/index.tsx
  packages/ui/components/dropdown/Dropdown.tsx
  packages/ui/components/hover-card/index.tsx
  packages/ui/index.ts
Labels: 🧹 Improvements, insights, core, consumer, ready-for-e2e

#17688 fix: routing column filters
  apps/web/modules/insights/insights-routing-view.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/insights/components/RoutingFormResponsesTable.tsx
  packages/features/insights/filters/index.tsx
Labels: 🐛 bug, routing-forms, core, consumer, ready-for-e2e

#17683 perf: optimize organization admin check
  packages/lib/server/repository/profile.ts
  packages/trpc/server/middlewares/sessionMiddleware.ts
Labels: organizations, performance, core, foundation, ready-for-e2e

#17690 chore: Found a critical index missing on profileId
  packages/prisma/migrations/20241116180203_add_missing_profile_id_idx/migration.sql
  packages/prisma/schema.prisma
Labels: ❗️ migrations, core, foundation, ready-for-e2e

#17667 fix: how-to-setup-api-in-a-local-instance.mdx in docs with correction after api-v2
  docs/developing/guides/api/how-to-setup-api-in-a-local-instance.mdx
Labels: docs, community, ready-for-e2e

#17692 chore: Release v4.7.2
  apps/web/package.json
Labels: core, foundation, ready-for-e2e

#17695 feat: Add link column to CSV file for org members
  apps/web/test/lib/generateCsv.test.ts
  packages/features/users/components/UserTable/UserListTable.tsx
  packages/lib/csvUtils.ts
Labels: ✨ feature, organizations, core, consumer, ready-for-e2e

#17651 feat: AI description - DB model + frontend + backend (fetch only)
  .env.example
  apps/web/package.json
  apps/web/public/static/locales/en/common.json
  apps/web/test/lib/handleChildrenEventTypes.test.ts
  packages/features/bookings/Booker/components/EventMeta.tsx
  packages/features/bookings/types.ts
  packages/features/eventtypes/components/tabs/setup/EventSetupTab.tsx
  packages/features/eventtypes/lib/getPublicEvent.ts
  packages/features/eventtypes/lib/types.ts
  packages/lib/constants.ts
  packages/lib/defaultEvents.ts
  packages/lib/server/eventTypeSelect.ts
  packages/lib/server/repository/eventType.ts
  packages/lib/server/service/replexica.ts
  packages/lib/test/builder.ts
  packages/platform/atoms/event-types/hooks/useEventTypeForm.ts
  packages/prisma/migrations/20241114210330_add_event_type_translation_model/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/eventTypes/update.handler.ts
  yarn.lock
Labels: ✨ feature, ❗️ migrations, ❗️ .env changes, i18n, event-types, core, ai, consumer, ready-for-e2e

#17701 chore: v4.7.3
  apps/web/package.json
Labels: ⬆️ dependencies, core, foundation, ready-for-e2e

#17702 feat: Added more supported languages
  i18n.json
  packages/config/next-i18next.config.js
Labels: i18n, core, foundation, ready-for-e2e

#17705 chore: Remove faulty languages for Replexica
  i18n.json
  packages/config/next-i18next.config.js
Labels: i18n, core, foundation, ready-for-e2e

#17645 feat: v2 subsequent recurring booking cancellation
  apps/api/v2/package.json
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/bookings.controller.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/reassign-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/recurring-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/user-bookings.controller.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/bookings.service.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/input.service.ts
  apps/api/v2/swagger/documentation.json
  apps/api/v2/test/fixtures/repository/bookings.repository.fixture.ts
  packages/emails/templates/attendee-cancelled-email.ts
  packages/emails/templates/organizer-cancelled-email.ts
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/platform/libraries/index.ts
  packages/platform/types/bookings/2024-08-13/inputs/cancel-booking.input.ts
  packages/prisma/zod-utils.ts
  yarn.lock
Labels: ✨ feature, platform, core, ready-for-e2e

#17714 feat: DataTable component should use a "key" of data as the selection key
  packages/features/ee/teams/components/MemberList.tsx
  packages/features/users/components/UserTable/UserListTable.tsx
Labels: 🐛 bug, ✨ feature, Medium priority, community, ready-for-e2e

#17710 chore: add default reading direction to atoms wrapper
  packages/platform/atoms/cal-provider/CalProvider.tsx
  packages/platform/atoms/hooks/useAtomsContext.ts
  packages/platform/atoms/src/components/atoms-wrapper.tsx
Labels: platform, core, ready-for-e2e

#17718 fix: provide explicit column width for member list
  packages/features/users/components/UserTable/UserListTable.tsx
  packages/ui/components/data-table/DataTable.tsx
Labels: 🐛 bug, ui, core, consumer, ready-for-e2e

#17647 feat: add instant meeting parameter
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/types.ts
  packages/features/eventtypes/components/tabs/instant/InstantEventController.tsx
  packages/features/eventtypes/lib/getPublicEvent.ts
  packages/features/eventtypes/lib/types.ts
  packages/lib/server/eventTypeSelect.ts
  packages/lib/server/repository/eventType.ts
  packages/lib/test/builder.ts
  packages/platform/atoms/event-types/hooks/useEventTypeForm.ts
  packages/platform/sdk/src/endpoints/events/event-types/types.ts
  packages/platform/sdk/src/endpoints/events/types.ts
  packages/prisma/migrations/20241114174956_add_instant_meeting_parameters/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer/eventTypes/types.ts
Labels: ✨ feature, ❗️ migrations, High priority, enterprise, core, ready-for-e2e

#17707 feat: enable all users to create platform team
  packages/features/ee/platform/components/CreateANewPlatformForm.tsx
  packages/trpc/server/routers/viewer/organizations/create.handler.ts
Labels: ✨ feature, platform, core, ready-for-e2e

#17715 feat: Add column visibility filters to routing insights table
  apps/web/modules/insights/insights-routing-view.tsx
  packages/features/insights/components/RoutingFormResponsesTable.tsx
  packages/features/insights/filters/routing/FilterBar.tsx
Labels: ✨ feature, routing-forms, core, consumer, ready-for-e2e

#17689 perf: get event types
  packages/trpc/server/routers/viewer/eventTypes/getEventTypesFromGroup.handler.ts
  packages/trpc/server/routers/viewer/eventTypes/getEventTypesFromGroup.integration-test.ts
Labels: enterprise, event-types, performance, core, high-risk, ready-for-e2e

#17579 fix: calendar settings atom modifications
  packages/platform/atoms/selected-calendars/wrappers/SelectedCalendarsSettingsPlatformWrapper.tsx
  packages/platform/examples/base/src/pages/calendars.tsx
Labels: 🐛 bug, platform, core, ready-for-e2e

#17671 docs: update oauth
  docs/developing/guides/appstore-and-integration/oauth.mdx
Labels: docs, enterprise, core, ready-for-e2e

#16855 fix: add default schedule while creating org member
  apps/web/playwright/lib/testUtils.ts
  apps/web/playwright/organization/booking.e2e.ts
  apps/web/playwright/organization/organization-invitation.e2e.ts
  packages/features/eventtypes/components/AddMembersWithSwitch.tsx
  packages/features/eventtypes/components/tabs/assignment/EventTeamAssignmentTab.tsx
  packages/trpc/server/routers/viewer/teams/inviteMember/utils.ts
Labels: 🐛 bug, High priority, teams, Urgent, organizations, community, ready-for-e2e

#15437 feat: Autofill feature
  packages/features/bookings/Booker/components/hooks/useBookingForm.ts
  packages/features/bookings/Booker/components/hooks/useInitialFormValues.ts
  packages/features/bookings/Booker/utils/lastBookingResponse.test.ts
  packages/features/bookings/Booker/utils/lastBookingResponse.ts
  packages/platform/atoms/booker/BookerWebWrapper.tsx
  packages/platform/atoms/hooks/bookings/useHandleBookEvent.ts
Labels: ✨ feature, ❗️ migrations, Medium priority, bookings, event-types, booking-page, community, consumer, ready-for-e2e, community-interns

#17682 revert: "feat: Populate gCal calendar cache via webhooks (#11928)""
  .env.example
  apps/web/cron-tester.ts
  apps/web/pages/api/availability/calendar.ts
  apps/web/pages/api/calendar-cache/cron.ts
  apps/web/pages/api/cron/calendar-cache-cleanup.ts
  apps/web/vercel.json
  packages/app-store/googlecalendar/api/callback.ts
  packages/app-store/googlecalendar/api/index.ts
  packages/app-store/googlecalendar/api/webhook.ts
  packages/app-store/googlecalendar/lib/CalendarService.test.ts
  packages/app-store/googlecalendar/lib/CalendarService.ts
  packages/app-store/googlecalendar/lib/__mocks__/googleapis.ts
  packages/app-store/tests/__mocks__/OAuthManager.ts
  packages/core/CalendarManager.ts
  packages/core/getCalendarsEvents.ts
  packages/features/calendar-cache/api/cron.ts
  packages/features/calendar-cache/calendar-cache.repository.interface.ts
  packages/features/calendar-cache/calendar-cache.repository.mock.ts
  packages/features/calendar-cache/calendar-cache.repository.schema.ts
  packages/features/calendar-cache/calendar-cache.repository.ts
  packages/features/calendar-cache/calendar-cache.ts
  packages/features/calendars/CalendarSwitch.tsx
  packages/features/flags/features.repository.interface.ts
  packages/features/flags/features.repository.ts
  packages/features/flags/hooks/index.ts
  packages/features/flags/server/utils.ts
  packages/lib/server/repository/google.ts
  packages/lib/server/repository/selectedCalendar.ts
  packages/lib/server/repository/user.ts
  packages/prisma/migrations/20240207222843_add_google_watched_calendars/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/sql/getSelectedCalendarsToWatch.sql
  packages/trpc/server/routers/viewer/admin/_router.ts
  packages/trpc/server/routers/viewer/admin/toggleFeatureFlag.handler.ts
  packages/trpc/server/routers/viewer/admin/toggleFeatureFlag.procedure.ts
  packages/trpc/server/routers/viewer/admin/toggleFeatureFlag.schema.ts
  packages/types/Calendar.d.ts
  turbo.json
Labels: ❗️ migrations, app-store, ❗️ .env changes, webhooks, core, foundation, ready-for-e2e

#17728 chore: v4.7.4
  apps/web/package.json
Labels: core, foundation, ready-for-e2e

#17733 chore: booking status reporting
  packages/features/insights/components/RoutingFormResponsesTable.tsx
Labels: 🧹 Improvements, routing-forms, core, consumer, ready-for-e2e

#17743 fix: platform libraries build vite.config
  packages/platform/libraries/vite.config.js
Labels: platform, core, ready-for-e2e

#17734 fix: request reschedule for round-robin events with "reschedule with same round-robin host" shows no availability
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: 🐛 bug, teams, core, ready-for-e2e

#17650 feat: Salesforce: Write booking question values to attendee record in Salesforce [CAL-4731]
  packages/app-store/salesforce/components/EventTypeAppCardInterface.tsx
  packages/app-store/salesforce/lib/CrmService.ts
  packages/app-store/salesforce/lib/enums.ts
Labels: ✨ feature, core, crm-apps, consumer, ready-for-e2e

#17261 feat: adds last active timestamp
  apps/web/test/lib/generateCsv.test.ts
  packages/features/auth/lib/getServerSession.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/ee/teams/components/MemberList.tsx
  packages/features/users/components/UserTable/UserListTable.tsx
  packages/features/users/components/UserTable/types.ts
  packages/features/users/users.repository.interface.ts
  packages/features/users/users.repository.ts
  packages/prisma/migrations/20241023041541_add_user_last_active_at/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/organizations/listMembers.handler.ts
  packages/trpc/server/routers/viewer/teams/listMembers.handler.ts
Labels: ✨ feature, ❗️ migrations, Medium priority, 💎 Bounty, insights, organizations, core, foundation, ready-for-e2e

#17010 fix: identify org-wide features per user
  packages/emails/templates/organizer-request-email.ts
  packages/features/flags/features.repository.interface.ts
  packages/features/flags/features.repository.mock.ts
  packages/features/flags/features.repository.ts
  packages/features/flags/operations/check-if-user-has-feature.controller.test.ts
  packages/features/flags/operations/check-if-user-has-feature.controller.ts
  packages/features/flags/operations/check-if-user-has-feature.ts
  packages/features/flags/operations/check-if-user-has-feature.use-case.test.ts
  packages/features/flags/operations/check-if-user-has-feature.use-case.ts
  packages/prisma/migrations/20241119185538_add_index_for_user_and_team_features/migration.sql
  packages/prisma/schema.prisma
Labels: ❗️ migrations, Stale, automated-tests, core, 💻 refactor, foundation, ready-for-e2e

#17750 chore: v4.7.5
  apps/web/package.json
Labels: ⬆️ dependencies, core, foundation, ready-for-e2e

#17653 fix: PostHog event tracking
  packages/features/ee/event-tracking/lib/posthog/provider.tsx
  packages/features/ee/event-tracking/lib/posthog/userPostHog.tsx
Labels: 🐛 bug, core, ready-for-e2e
