Repository calcom/cal.com, pull requests merged in 2024-09, with the labels that each got.

#16439 fix: Unconfirmed booking busytimes of other users being fetched in troubleshooter
  packages/core/getBusyTimes.ts
Labels: 🐛 bug, enterprise, bookings, core, ready-for-e2e

#16452 chore: App router migration (`/workflows`) fix metadata and remove duplicate file for `getStaticProps`
  apps/web/app/future/workflows/[workflow]/page.tsx
  apps/web/modules/workflows/workflow-single-view.getStaticProps.tsx
  packages/features/ee/workflows/pages/workflow.tsx
  packages/lib/server/repository/workflow.ts
  packages/trpc/server/routers/viewer/workflows/get.handler.ts
  packages/trpc/server/routers/viewer/workflows/get.schema.ts
Labels: workflows, core, 💻 refactor, consumer, ready-for-e2e

#16468 chore: Log cold starts of /v1/slots
  apps/api/v1/pages/api/slots/_get.ts
Labels: High priority, performance, core, foundation, ready-for-e2e

#16466 chore: App router migration - Add method to `BookingRepository` & Extract `/videos/**/*` into `/modules` and `/lib`
  apps/web/app/future/video/[uid]/page.tsx
  apps/web/app/future/video/meeting-ended/[uid]/page.tsx
  apps/web/app/future/video/meeting-not-started/[uid]/page.tsx
  apps/web/app/future/video/no-meeting-found/page.tsx
  apps/web/lib/video/[uid]/getServerSideProps.ts
  apps/web/lib/video/meeting-ended/[uid]/getServerSideProps.ts
  apps/web/lib/video/meeting-not-started/[uid]/getServerSideProps.ts
  apps/web/modules/videos/views/videos-meeting-ended-single-view.tsx
  apps/web/modules/videos/views/videos-meeting-not-started-single-view.tsx
  apps/web/modules/videos/views/videos-single-view.tsx
  apps/web/pages/video/[uid].tsx
  apps/web/pages/video/meeting-ended/[uid].tsx
  apps/web/pages/video/meeting-not-started/[uid].tsx
  apps/web/pages/video/no-meeting-found.tsx
  packages/lib/server/repository/booking.ts
Labels: core, 💻 refactor, consumer, ready-for-e2e

#16467 chore: App router migration - `/auth/forgot-password/*`, `/auth/login`, `/auth/logout`
  apps/web/app/future/auth/forgot-password/[id]/page.tsx
  apps/web/app/future/auth/forgot-password/page.tsx
  apps/web/app/future/auth/login/page.tsx
  apps/web/app/future/auth/logout/page.tsx
  apps/web/middleware.ts
  apps/web/modules/auth/forgot-password/[id]/forgot-password-single-view.tsx
  apps/web/modules/auth/forgot-password/forgot-password-view.tsx
  apps/web/modules/auth/login-view.tsx
  apps/web/modules/auth/logout-view.tsx
  apps/web/pages/auth/forgot-password/[id].tsx
  apps/web/pages/auth/forgot-password/index.tsx
  apps/web/pages/auth/login.tsx
  apps/web/pages/auth/logout.tsx
  apps/web/server/lib/auth/forgot-password/[id]/getServerSideProps.tsx
  apps/web/server/lib/auth/forgot-password/getServerSideProps.tsx
  apps/web/server/lib/auth/login/getServerSideProps.tsx
Labels: authentication, core, consumer, ready-for-e2e

#16469 chore: Add 3 more languages to AI translations
  i18n.json
Labels: Low priority, i18n, core, foundation, ready-for-e2e

#16441 fix: Adding yearly title to preview page
  packages/lib/recurringStrings.ts
  packages/prisma/schema.prisma
Labels: 🐛 bug, event-types, booking-page, community, ready-for-e2e

#16424 feat: availability in instant meeting
  apps/web/public/static/locales/en/common.json
  apps/web/test/lib/handleChildrenEventTypes.test.ts
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/types.ts
  packages/features/eventtypes/components/EventType.tsx
  packages/features/eventtypes/components/tabs/instant/InstantEventController.tsx
  packages/features/eventtypes/lib/getPublicEvent.ts
  packages/features/eventtypes/lib/isCurrentlyAvailable.test.ts
  packages/lib/event-types/getEventTypeById.ts
  packages/lib/server/eventTypeSelect.ts
  packages/lib/server/repository/eventType.ts
  packages/lib/test/builder.ts
  packages/prisma/migrations/20240830084943_add_instant_meeting_schedule/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/eventTypes/duplicate.handler.ts
  packages/trpc/server/routers/viewer/eventTypes/types.ts
  packages/trpc/server/routers/viewer/eventTypes/update.handler.ts
Labels: ✨ feature, ❗️ migrations, High priority, enterprise, event-types, booking-page, core, ready-for-e2e

#16474 Add disable
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/output-event-types.service.ts
  packages/lib/event-types/transformers/api-request.ts
  packages/lib/event-types/transformers/api-response.ts
  packages/platform/enums/event-types/booking-window.enum.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/booking-limits-count.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/booking-limits-duration.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/booking-window.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/create-event-type.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/disabled.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/recurrence.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/requires-confirmation.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/seats.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/outputs/event-type.output.ts
Labels: platform, core

#16089 chore: Update bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: ⚡ Quick Wins, Medium priority, ready-for-e2e

#16426 chore: Remove unnecessary log
  packages/app-store/googlecalendar/lib/CalendarService.ts
Labels: Low priority, core, calendar-apps, foundation, ready-for-e2e

#16473 chore: v2 bump platform libraries
  apps/api/v2/package.json
  apps/api/v2/swagger/documentation.json
  packages/platform/libraries/CHANGELOG.md
  yarn.lock
Labels: platform, core, ready-for-e2e

#16485 fix: use dbWrite in OrganizationsTeamsRepository
  apps/api/v2/src/modules/organizations/repositories/organizations-teams.repository.ts
Labels: 🐛 bug, platform, organizations, core, ready-for-e2e

#16486 fix: api v2 booking controller handle error codes
  apps/api/v2/package.json
  apps/api/v2/src/ee/bookings/controllers/bookings.controller.e2e-spec.ts
  apps/api/v2/src/ee/bookings/controllers/bookings.controller.ts
  packages/platform/libraries/index.ts
Labels: 🐛 bug, platform, bookings, core, ready-for-e2e

#16419 chore: Remove obsolete docker compose version
  apps/api/v1/test/docker-compose.yml
  apps/api/v2/docker-compose.yaml
  apps/web/test/docker-compose.yml
  packages/emails/docker-compose.yml
  packages/prisma/docker-compose.yml
Labels: docker, community, ready-for-e2e

#16492 chore: Edit deploy script to enable `/future/auth`
  apps/web/scripts/vercel-production-deploy.sh
Labels: core, foundation, consumer, ready-for-e2e

#16403 fix: v1 API Teams access
  apps/api/v1/pages/api/bookings/[id]/_auth-middleware.ts
  apps/api/v1/pages/api/event-types/[id]/_delete.ts
  apps/api/v1/pages/api/event-types/_utils/checkParentEventOwnership.ts
  apps/api/v1/pages/api/event-types/_utils/checkTeamEventEditPermission.ts
  apps/api/v1/pages/api/teams/[teamId]/_auth-middleware.ts
  apps/api/v1/test/lib/bookings/_auth-middleware.integration-test.ts
  apps/api/v1/test/lib/event-types/[id]/_delete.test.ts
Labels: 🐛 bug, High priority, teams, enterprise, api, core, ready-for-e2e

#16484 fix: Add jitter when Outlook requests are throttled
  packages/app-store/office365calendar/lib/CalendarService.ts
Labels: 🐛 bug, core, calendar-apps, consumer, ready-for-e2e

#16408 ci: adds basic visual regression testing for icons
  apps/web/pages/icons.tsx
  apps/web/playwright/icons.e2e.ts
  apps/web/playwright/icons.e2e.ts-snapshots/icons--calcom-web-darwin.png
  apps/web/playwright/icons.e2e.ts-snapshots/icons--calcom-web-linux.png
  apps/web/public/icons/sprite.svg
  packages/ui/components/icon/Icon.tsx
  packages/ui/components/icon/icon-list.mjs
  packages/ui/scripts/build-icons.mjs
Labels: Medium priority, automated-tests, ui, ci, core, foundation, ready-for-e2e

#16461 feat: attributes v2 api
  apps/api/v2/package.json
  apps/api/v2/src/modules/organizations/controllers/attributes/organization-attributes-options.e2e-spec.ts
  apps/api/v2/src/modules/organizations/controllers/attributes/organization-attributes.e2e-spec.ts
  apps/api/v2/src/modules/organizations/controllers/attributes/organizations-attributes-options.controller.ts
  apps/api/v2/src/modules/organizations/controllers/attributes/organizations-attributes.controller.ts
  apps/api/v2/src/modules/organizations/inputs/attributes/assign/organizations-attributes-options-assign.input.ts
  apps/api/v2/src/modules/organizations/inputs/attributes/create-organization-attribute.input.ts
  apps/api/v2/src/modules/organizations/inputs/attributes/options/create-organization-attribute-option.input.ts
  apps/api/v2/src/modules/organizations/inputs/attributes/options/update-organizaiton-attribute-option.input.ts.ts
  apps/api/v2/src/modules/organizations/inputs/attributes/update-organization-attribute.input.ts
  apps/api/v2/src/modules/organizations/organizations.module.ts
  apps/api/v2/src/modules/organizations/outputs/attributes/attribute.output.ts
  apps/api/v2/src/modules/organizations/outputs/attributes/base.output.ts
  apps/api/v2/src/modules/organizations/outputs/attributes/create-organization-attributes.output.ts
  apps/api/v2/src/modules/organizations/outputs/attributes/delete-organization-attributes.output.ts
  apps/api/v2/src/modules/organizations/outputs/attributes/get-organization-attributes.output.ts
  apps/api/v2/src/modules/organizations/outputs/attributes/options/assign-option-user.output.ts
  apps/api/v2/src/modules/organizations/outputs/attributes/options/create-option.output.ts
  apps/api/v2/src/modules/organizations/outputs/attributes/options/delete-option.output.ts
  apps/api/v2/src/modules/organizations/outputs/attributes/options/get-option-user.output.ts
  apps/api/v2/src/modules/organizations/outputs/attributes/options/get-option.output.ts
  apps/api/v2/src/modules/organizations/outputs/attributes/options/option.output.ts
  apps/api/v2/src/modules/organizations/outputs/attributes/options/update-option.output.ts
  apps/api/v2/src/modules/organizations/outputs/attributes/update-organization-attributes.output.ts
  apps/api/v2/src/modules/organizations/repositories/attributes/organization-attribute-option.repository.ts
  apps/api/v2/src/modules/organizations/repositories/attributes/organization-attribute.repository.ts
  apps/api/v2/src/modules/organizations/repositories/organizations-membership.repository.ts
  apps/api/v2/src/modules/organizations/services/attributes/organization-attributes-option.service.ts
  apps/api/v2/src/modules/organizations/services/attributes/organization-attributes.service.ts
  apps/api/v2/src/modules/organizations/services/organizations-membership.service.ts
  apps/api/v2/swagger/documentation.json
  apps/api/v2/test/fixtures/repository/attributes.repository.fixture.ts
  i18n.json
Labels: ✨ feature, api, organizations, core, consumer, ready-for-e2e

#15194 feat: Ability to Hyperlink text in Checkbox on Additional Questions
  apps/web/modules/bookings/views/bookings-single-view.getServerSideProps.tsx
  apps/web/modules/bookings/views/bookings-single-view.tsx
  apps/web/playwright/manage-booking-questions.e2e.ts
  packages/emails/src/components/Info.tsx
  packages/emails/src/components/UserFieldsResponses.tsx
  packages/features/form-builder/FormBuilder.tsx
  packages/features/form-builder/testUtils.ts
  packages/ui/components/dialog/Dialog.tsx
  packages/ui/components/editor/Editor.tsx
Labels: ✨ feature, 🙋🏻‍♂️help wanted, Medium priority, routing-forms, booking-page, community, ready-for-e2e, community-interns

#16502 perf: Separate OR clauses from Insights counts
  packages/features/insights/server/events.ts
Labels: High priority, insights, core, foundation, ready-for-e2e

#16507 chore: v4.4.6
  apps/web/package.json
Labels: High priority, core, foundation, ready-for-e2e

#15286 feat: Add step in team creation form for selecting event type and create a team event
  apps/web/app/future/settings/teams/[id]/event-type/page.tsx
  apps/web/pages/settings/teams/[id]/event-type.tsx
  apps/web/pages/settings/teams/[id]/onboard-members.tsx
  apps/web/pages/settings/teams/new/index.tsx
  apps/web/playwright/managed-event-types.e2e.ts
  apps/web/playwright/organization/team-management.e2e.ts
  apps/web/playwright/teams.e2e.ts
  packages/features/ee/teams/components/AddNewTeamMembers.tsx
  packages/features/ee/teams/components/TeamEventTypeForm.tsx
  packages/features/eventtypes/components/CreateEventTypeDialog.tsx
  packages/lib/hooks/useCreateEventType.ts
  packages/ui/layouts/WizardLayout.tsx
Labels: ✨ feature, 🧹 Improvements, Medium priority, teams, event-types, community, consumer, ready-for-e2e, community-interns

#16511 chore: improved lastused login method flow
  apps/web/modules/auth/login-view.tsx
  packages/features/auth/SAMLLogin.tsx
Labels: authentication, community, ready-for-e2e, community-interns

#16513 fix: flakyness on booking questions tests
  apps/web/playwright/manage-booking-questions.e2e.ts
Labels: 🐛 bug, automated-tests, core, foundation, ready-for-e2e

#16113 refactor: allow managed event tests parallel runs
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/managed-event-types.e2e.ts
  apps/web/playwright/managedBooking/advancedOptions.e2e.ts
Labels: automated-tests, core, 💻 refactor, foundation, ready-for-e2e

#16437 feat: hashed link retrieval from event types v1 api
  apps/api/v1/lib/validations/event-type.ts
  apps/api/v1/pages/api/event-types/[id]/_get.ts
  apps/api/v1/pages/api/event-types/_get.ts
Labels: ✨ feature, ✅ good first issue, 🙋🏻‍♂️help wanted, Low priority, api, community, ready-for-e2e

#16496 refactor: update `AppProvidersAppDir` to align more closely with `AppProviders` (used for Pages Router)
  apps/web/lib/app-providers-app-dir.tsx
Labels: core, 💻 refactor, consumer, ready-for-e2e

#16521 fix: Left align instead of right aligned rating feedback in insights
  packages/features/insights/components/FeedbackTable.tsx
Labels: enterprise, insights, ui, core, ready-for-e2e

#16520 chore: Add last batch of languages to translate with AI
  i18n.json
Labels: i18n, core, foundation, ready-for-e2e

#16522 chore: make generic function for separate or queries
  packages/features/insights/server/events.ts
Labels: insights, performance, core, foundation, ready-for-e2e

#16525 chore: improve typing of runSeparateQueriesForOrStatements
  packages/features/insights/server/events.ts
Labels: platform, core, 💻 refactor, ready-for-e2e

#16354 chore: App-router-migration`(/apps`) fix metadata, extract components into `/module` and finish migration
  apps/web/app/future/apps/[slug]/[...pages]/page.tsx
  apps/web/app/future/apps/[slug]/page.tsx
  apps/web/app/future/apps/[slug]/setup/page.tsx
  apps/web/app/future/apps/categories/[category]/page.tsx
  apps/web/app/future/apps/categories/page.tsx
  apps/web/app/future/apps/installation/[[...step]]/page.tsx
  apps/web/app/future/apps/installed/[category]/page.tsx
  apps/web/app/future/apps/installed/page.tsx
  apps/web/app/future/apps/page.tsx
  apps/web/components/apps/installation/ConfigureStepCard.tsx
  apps/web/components/apps/installation/EventTypeAppSettingsWrapper.tsx
  apps/web/components/apps/installation/EventTypeConferencingAppSettings.tsx
  apps/web/components/apps/installation/EventTypesStepCard.tsx
  apps/web/lib/apps/[slug]/[...pages]/getServerSideProps.ts
  apps/web/lib/apps/installation/[[...step]]/getServerSideProps.ts
  apps/web/lib/apps/installed/[category]/getServerSideProps.tsx
  apps/web/modules/apps/[slug]/[...pages]/pages-view.tsx
  apps/web/modules/apps/[slug]/setup/setup-view.tsx
  apps/web/modules/apps/[slug]/slug-view.tsx
  apps/web/modules/apps/apps-view.tsx
  apps/web/modules/apps/categories/[category]/category-view.tsx
  apps/web/modules/apps/categories/categories-view.tsx
  apps/web/modules/apps/installation/[[...step]]/constants.ts
  apps/web/modules/apps/installation/[[...step]]/step-view.tsx
  apps/web/modules/apps/installed/[category]/installed-category-view.tsx
  apps/web/pages/apps/[slug]/[...pages].tsx
  apps/web/pages/apps/[slug]/index.tsx
  apps/web/pages/apps/[slug]/setup.tsx
  apps/web/pages/apps/categories/[category].tsx
  apps/web/pages/apps/categories/index.tsx
  apps/web/pages/apps/index.tsx
  apps/web/pages/apps/installation/[[...step]].tsx
  apps/web/pages/apps/installed/[category].tsx
  packages/lib/server/repository/app.ts
Labels: app-store, High priority, platform, core, 🚨 needs approval, 💻 refactor, consumer, ready-for-e2e

#16530 chore: updated cookie usage i18n
  apps/web/public/static/locales/en/common.json
Labels: i18n, ready-for-e2e

#16515 chore: get platform me from trpc instead of apiv2
  apps/web/components/settings/platform/hooks/usePlatformMe.ts
  packages/trpc/server/routers/loggedInViewer/_router.tsx
  packages/trpc/server/routers/loggedInViewer/platformMe.handler.ts
  packages/trpc/server/routers/loggedInViewer/procedures/platformMe.ts
Labels: platform, core, ready-for-e2e

#16514 chore: booker atom username / teams props enabled queries
  apps/api/v2/src/ee/provider/outputs/verify-client.output.ts
  apps/api/v2/src/ee/provider/provider.controller.ts
  apps/api/v2/swagger/documentation.json
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
  packages/platform/atoms/cal-provider/BaseCalProvider.tsx
  packages/platform/atoms/cal-provider/CalProvider.tsx
  packages/platform/atoms/hooks/event-types/public/useEventType.ts
  packages/platform/atoms/hooks/event-types/public/useTeamEventType.ts
  packages/platform/atoms/hooks/useAvailableSlots.ts
  packages/platform/atoms/hooks/useOAuthClient.ts
  packages/platform/examples/base/src/pages/booking.tsx
  packages/platform/types/slots.ts
Labels: platform, event-types, core, ready-for-e2e

#15434 feat: OOO webhook and zapier
  apps/web/lib/daily-webhook/triggerWebhooks.ts
  apps/web/pages/settings/my-account/out-of-office/index.tsx
  apps/web/playwright/bookings-list.e2e.ts
  apps/web/playwright/webhook.e2e.ts
  apps/web/public/static/locales/en/common.json
  packages/app-store/zapier/README.md
  packages/app-store/zapier/api/index.ts
  packages/app-store/zapier/api/subscriptions/listOOOEntries.ts
  packages/features/bookings/lib/getWebhookPayloadForBooking.ts
  packages/features/bookings/lib/handleConfirmation.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleSeats/cancel/cancelAttendeeSeat.ts
  packages/features/bookings/lib/handleSeats/handleSeats.ts
  packages/features/bookings/lib/handleWebhookTrigger.ts
  packages/features/handleMarkNoShow.ts
  packages/features/webhooks/components/WebhookForm.tsx
  packages/features/webhooks/lib/constants.ts
  packages/features/webhooks/lib/getWebhooks.ts
  packages/features/webhooks/lib/scheduleTrigger.ts
  packages/features/webhooks/lib/sendPayload.ts
  packages/prisma/migrations/20240611054408_add_ooo_created_as_webhook_enum/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/loggedInViewer/outOfOffice.handler.ts
  packages/trpc/server/routers/viewer/bookings/confirm.handler.ts
  packages/trpc/server/routers/viewer/bookings/requestReschedule.handler.ts
  packages/trpc/server/routers/viewer/webhook/create.handler.ts
  packages/trpc/server/routers/viewer/webhook/testTrigger.handler.ts
Labels: ✨ feature, ❗️ migrations, app-store, Low priority, 💎 Bounty, webhooks, 🙋 Bounty claim, community, ready-for-e2e

#16142 fix: #16083. booking location editable
  apps/web/components/dialog/EditLocationDialog.tsx
Labels: 🐛 bug, High priority, Stale, ui, booking-page, community, ready-for-e2e

#16509 fix: Invalid options for Select and MultiSelect when both legacy and new options(i.e. with and without id are present)
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/lib/pageObject.ts
  packages/app-store/routing-forms/api/responses/[formId].ts
  packages/app-store/routing-forms/lib/FieldTypes.ts
  packages/app-store/routing-forms/lib/__tests__/getQueryBuilderConfig.test.ts
  packages/app-store/routing-forms/lib/getQueryBuilderConfig.ts
  packages/app-store/routing-forms/lib/reportingUtils.ts
  packages/app-store/routing-forms/lib/selectOptions.ts
  packages/app-store/routing-forms/lib/transformResponse.ts
  packages/app-store/routing-forms/pages/form-edit/[...appPages].tsx
  packages/app-store/routing-forms/pages/reporting/[...appPages].tsx
  packages/app-store/routing-forms/playwright/tests/basic.e2e.ts
  packages/app-store/routing-forms/trpc/report.handler.ts
  packages/prisma/seed-app-store.ts
Labels: 🐛 bug, Medium priority, enterprise, 📉 regressing, routing-forms, core, ready-for-e2e

#16364 fix: fixed the flaky e2e tests that failed the most times and refactor
  apps/web/playwright/availability.e2e.ts
  apps/web/playwright/booking-pages.e2e.ts
  apps/web/playwright/booking-seats.e2e.ts
  apps/web/playwright/dynamic-booking-pages.e2e.ts
  apps/web/playwright/event-types.e2e.ts
  apps/web/playwright/hash-my-url.e2e.ts
  apps/web/playwright/impersonation.e2e.ts
  apps/web/playwright/insights.e2e.ts
  apps/web/playwright/integrations-stripe.e2e.ts
  apps/web/playwright/lib/testUtils.ts
  apps/web/playwright/manage-booking-questions.e2e.ts
  apps/web/playwright/organization/booking.e2e.ts
  apps/web/playwright/organization/organization-creation.e2e.ts
  apps/web/playwright/organization/organization-invitation.e2e.ts
  apps/web/playwright/organization/team-management.e2e.ts
  apps/web/playwright/out-of-office.e2e.ts
  apps/web/playwright/payment-apps.e2e.ts
  apps/web/playwright/profile.e2e.ts
  apps/web/playwright/settings/upload-avatar.e2e.ts
  apps/web/playwright/signup.e2e.ts
  apps/web/playwright/teams.e2e.ts
  apps/web/playwright/unpublished.e2e.ts
  apps/web/playwright/webhook.e2e.ts
  apps/web/playwright/workflow.e2e.ts
  packages/app-store/routing-forms/playwright/tests/basic.e2e.ts
  packages/embeds/embed-core/playwright/lib/testUtils.ts
  packages/embeds/embed-core/playwright/tests/action-based.e2e.ts
  packages/embeds/embed-core/playwright/tests/namespacing.e2e.ts
  packages/features/settings/CreateOrEditOutOfOfficeModal.tsx
Labels: automated-tests, 💻 refactor, community, ready-for-e2e, community-interns

#16526 chore: fix input DTOs for v2 calendar busy times endpoint
  packages/platform/types/calendars.ts
  packages/platform/types/package.json
Labels: platform, core, ready-for-e2e

#16548 chore: Fix bundle error occurring in Next.js Bundle Analysis CI job
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMemberUtils.test.ts
Labels: ci, core, consumer, ready-for-e2e

#16556 chore: Update and rename bug_report.yml to bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: ready-for-e2e

#16558 perf: Modified Insights view to use UNION for user/team bookings
  packages/features/insights/server/events.ts
  packages/features/insights/server/trpc-router.ts
  packages/prisma/migrations/20240909162522_union_insights_data/migration.sql
  packages/prisma/schema.prisma
Labels: ❗️ migrations, High priority, performance, core, foundation, ready-for-e2e

#16561 perf: use isTeamBooking filter in all of Insights
  apps/web/pages/api/cron/monthlyDigestEmail.ts
  packages/features/insights/server/trpc-router.ts
Labels: High priority, insights, performance, core, foundation, ready-for-e2e

#16537 perf: Server-Side Data Fetching in App Router: `SettingsLayout` / `AdminLayout`
  apps/web/app/future/auth/logout/page.tsx
  apps/web/app/future/settings/(admin)/admin/page.tsx
  apps/web/app/future/settings/(admin)/layout.tsx
  apps/web/app/future/settings/(settings)/layout.tsx
  apps/web/app/future/settings/(settings)/organizations/[id]/onboard-admins/page.tsx
  apps/web/app/future/settings/(settings)/organizations/appearance/layout.tsx
  apps/web/app/future/settings/(settings)/organizations/billing/layout.tsx
  apps/web/app/future/settings/(settings)/organizations/general/layout.tsx
  apps/web/app/future/settings/(settings)/organizations/members/layout.tsx
  apps/web/app/future/settings/(settings)/organizations/profile/layout.tsx
  apps/web/app/future/settings/(settings)/organizations/teams/other/[id]/appearance/layout.tsx
  apps/web/app/future/settings/(settings)/organizations/teams/other/[id]/members/layout.tsx
  apps/web/app/future/settings/(settings)/organizations/teams/other/[id]/profile/layout.tsx
  apps/web/app/future/settings/(settings)/organizations/teams/other/layout.tsx
  apps/web/app/future/settings/(settings)/teams/layout.tsx
  apps/web/app/layoutHOC.tsx
  apps/web/components/PageWrapperAppDir.tsx
  apps/web/components/auth/layouts/AdminLayoutAppDir.tsx
  apps/web/components/auth/layouts/AdminLayoutAppDirClient.tsx
  packages/features/MainLayoutAppDir.tsx
  packages/features/settings/appDir/SettingsLayoutAppDir.tsx
  packages/features/settings/appDir/SettingsLayoutAppDirClient.tsx
  packages/lib/server/repository/organization.ts
  packages/trpc/server/routers/viewer/organizations/list.handler.ts
  packages/trpc/server/routers/viewer/organizations/listOtherTeams.handler.ts
Labels: High priority, performance, core, 💻 refactor, consumer, ready-for-e2e

#16406 chore: App router migration - `/attributes`, `/privacy`, `/dsync`, `/license-key` under `/settings` route group
  apps/web/app/future/settings/(settings)/organizations/attributes/[id]/edit/page.tsx
  apps/web/app/future/settings/(settings)/organizations/attributes/create/page.tsx
  apps/web/app/future/settings/(settings)/organizations/attributes/page.tsx
  apps/web/app/future/settings/(settings)/organizations/dsync/page.tsx
  apps/web/app/future/settings/(settings)/organizations/privacy/page.tsx
  apps/web/app/future/settings/license-key/new/page.tsx
  apps/web/lib/settings/license-key/new/getServerSideProps.tsx
  apps/web/modules/settings/license-key/new/new-view.tsx
  apps/web/pages/settings/license-key/new/index.tsx
  apps/web/pages/settings/organizations/attributes/[id]/edit.tsx
  apps/web/pages/settings/organizations/attributes/create.tsx
  apps/web/pages/settings/organizations/attributes/index.tsx
  apps/web/pages/settings/organizations/dsync.tsx
  apps/web/pages/settings/organizations/privacy.tsx
  packages/features/ee/deployment/licensekey/CreateLicenseKeyForm.tsx
  packages/features/ee/dsync/page/team-dsync-view.tsx
  packages/features/ee/organizations/pages/settings/attributes/attributes-create-view.tsx
  packages/features/ee/organizations/pages/settings/attributes/attributes-edit-view.tsx
  packages/features/ee/organizations/pages/settings/attributes/attributes-list-view.tsx
  packages/features/ee/organizations/pages/settings/privacy.tsx
  packages/features/settings/layouts/SettingsLayout.tsx
Labels: High priority, teams, platform, routing-forms, organizations, billing, core, security, 💻 refactor, consumer, ready-for-e2e

#16334 chore: App router migration - `settings/platform/**/*`, `settings/organizations/new` and `settings/organizations/[id]/*`
  .env.example
  apps/web/abTest/middlewareFactory.ts
  apps/web/app/future/settings/(settings)/organizations/[id]/onboard-admins/page.tsx
  apps/web/app/future/settings/organizations/[id]/about/page.tsx
  apps/web/app/future/settings/organizations/[id]/add-teams/page.tsx
  apps/web/app/future/settings/organizations/[id]/onboard-members/page.tsx
  apps/web/app/future/settings/organizations/new/page.tsx
  apps/web/app/future/settings/platform/new/page.tsx
  apps/web/app/future/settings/platform/oauth-clients/[clientId]/edit/page.tsx
  apps/web/app/future/settings/platform/oauth-clients/[clientId]/edit/webhooks/page.tsx
  apps/web/app/future/settings/platform/oauth-clients/create/page.tsx
  apps/web/app/future/settings/platform/page.tsx
  apps/web/modules/settings/organizations/[id]/about-view.tsx
  apps/web/modules/settings/organizations/[id]/add-teams-view.tsx
  apps/web/modules/settings/organizations/[id]/onboard-members-view.tsx
  apps/web/modules/settings/organizations/new/create-new-view.tsx
  apps/web/modules/settings/platform/new/create-new-view.tsx
  apps/web/modules/settings/platform/oauth-clients/[clientId]/edit/edit-view.tsx
  apps/web/modules/settings/platform/oauth-clients/[clientId]/edit/edit-webhooks-view.tsx
  apps/web/modules/settings/platform/oauth-clients/create-new-view.tsx
  apps/web/modules/settings/platform/platform-view.tsx
  apps/web/pages/settings/organizations/[id]/about.tsx
  apps/web/pages/settings/organizations/[id]/add-teams.tsx
  apps/web/pages/settings/organizations/[id]/onboard-members.tsx
  apps/web/pages/settings/organizations/new/index.tsx
  apps/web/pages/settings/platform/index.tsx
  apps/web/pages/settings/platform/new/index.tsx
  apps/web/pages/settings/platform/oauth-clients/[clientId]/edit/index.tsx
  apps/web/pages/settings/platform/oauth-clients/[clientId]/edit/webhooks.tsx
  apps/web/pages/settings/platform/oauth-clients/create.tsx
  apps/web/scripts/vercel-app-router-deploy.sh
  packages/features/ee/organizations/components/AboutOrganizationForm.tsx
  packages/features/ee/organizations/components/AddNewTeamsForm.tsx
  packages/features/ee/organizations/components/CreateANewOrganizationForm.tsx
  packages/features/ee/platform/components/CreateANewPlatformForm.tsx
  turbo.json
Labels: High priority, platform, ❗️ .env changes, routing-forms, organizations, core, 💻 refactor, consumer, ready-for-e2e

#16568 chore: Remove separate OR queries for Insights
  packages/features/insights/server/events.ts
Labels: Medium priority, insights, core, 💻 refactor, foundation, ready-for-e2e

#16573 fix: rescheduled by missing encoding
  apps/web/modules/bookings/views/bookings-single-view.tsx
Labels: 🐛 bug, booking-page, core, foundation, ready-for-e2e

#16574 chore: Release v4.4.7
  apps/web/package.json
Labels: core, foundation, ready-for-e2e

#16569 fix: to show updated values in eventTypes list
  packages/features/eventtypes/components/EventType.tsx
Labels: 🐛 bug, event-types, community, ready-for-e2e

#16553 fix: to allow paypal install on team when user already installed
  packages/app-store/paypal/api/add.ts
Labels: 🐛 bug, app-store, billing, community, ready-for-e2e

#16581 perf: Insights - put teamId filter first
  packages/features/insights/server/trpc-router.ts
Labels: Medium priority, performance, core, foundation, ready-for-e2e

#16582 fix: booking response field's label is not translated
  apps/web/modules/bookings/views/bookings-single-view.getServerSideProps.tsx
Labels: i18n, community, ready-for-e2e, community-interns

#16584 revert: booking rejection reason from booking success page
  apps/web/components/booking/BookingListItem.tsx
  apps/web/components/booking/RejectBooking.tsx
  apps/web/modules/bookings/views/bookings-single-view.tsx
  packages/emails/src/templates/OrganizerRequestEmail.tsx
Labels: booking-page, community, ready-for-e2e, community-interns

#16448 chore: App router migration (`org/[orgSlug]/instant-meeting`), add missing page
  apps/web/app/future/org/[orgSlug]/instant-meeting/team/[slug]/[type]/page.tsx
  apps/web/lib/org/[orgSlug]/instant-meeting/team/[slug]/[type]/getServerSideProps.ts
  apps/web/modules/org/[orgSlug]/instant-meeting/team/[slug]/[type]/instant-meeting-view.tsx
  apps/web/pages/org/[orgSlug]/instant-meeting/team/[slug]/[type].tsx
  packages/lib/server/repository/event.ts
  packages/trpc/server/routers/publicViewer/event.handler.ts
Labels: High priority, platform, routing-forms, core, consumer, ready-for-e2e

#16536 perf: Server-Side Data Fetching in App Router: `/availability`
  apps/web/app/future/availability/[schedule]/page.tsx
  apps/web/app/future/availability/page.tsx
  apps/web/modules/availability/[schedule]/schedule-view.tsx
  apps/web/modules/availability/availability-view.tsx
  packages/lib/hasEditPermissionForUser.ts
  packages/lib/server/repository/schedule.ts
  packages/lib/server/repository/travelSchedule.ts
  packages/lib/server/repository/user.ts
  packages/trpc/server/routers/loggedInViewer/getTravelSchedules.handler.ts
  packages/trpc/server/routers/viewer/availability/schedule/get.handler.ts
Labels: High priority, performance, core, consumer, ready-for-e2e

#16563 perf: Server-Side Data Fetching in App Router: `/workflows`
  apps/web/app/future/workflows/[workflow]/page.tsx
  apps/web/app/future/workflows/page.tsx
  apps/web/lib/workflows/[workflow]/getStaticProps.tsx
  apps/web/pages/workflows/[workflow].tsx
  packages/features/ee/workflows/pages/index.tsx
  packages/features/ee/workflows/pages/workflow.tsx
  packages/lib/server/repository/workflow.ts
  packages/trpc/server/routers/viewer/workflows/filteredList.handler.tsx
  packages/trpc/server/routers/viewer/workflows/getVerifiedEmails.handler.ts
  packages/trpc/server/routers/viewer/workflows/getVerifiedNumbers.handler.ts
Labels: workflows, performance, core, consumer, high-risk, ready-for-e2e

#16457 chore: App router migration - Fix `/event-types/[type]` page, move `getServerSideProps` to `/lib` for event-types pages
  apps/web/app/future/event-types/[type]/page.tsx
  apps/web/lib/event-types/[type]/getServerSideProps.ts
  apps/web/lib/event-types/getServerSideProps.tsx
  apps/web/modules/event-types/views/event-types-single-view.tsx
  apps/web/pages/event-types/[type]/index.tsx
  packages/features/eventtypes/components/EventTypeAppDir.tsx
Labels: event-types, core, 💻 refactor, consumer, ready-for-e2e

#15260 fix: wrong reschedule link for an org member for a booking on event outside the org
  apps/web/components/booking/BookingListItem.tsx
Labels: 🐛 bug, Medium priority, bookings, organizations, community, ready-for-e2e

#16320 fix: use meeting id to get transcripts
  apps/web/pages/api/recorded-daily-video.ts
  packages/app-store/dailyvideo/lib/VideoApiAdapter.ts
  packages/core/videoClient.ts
  packages/types/VideoApiAdapter.d.ts
Labels: 🐛 bug, Medium priority, enterprise, Stale, api, core, cal video, ready-for-e2e

#16594 perf: Include no shows in main status query
  packages/features/insights/server/events.ts
  packages/features/insights/server/trpc-router.ts
Labels: insights, performance, core, foundation, ready-for-e2e

#16593 fix: API V1 slots add explicit orgSlug null fallback
  apps/web/pages/api/get-inbound-dynamic-variables.ts
  apps/web/test/lib/getSchedule.test.ts
  apps/web/test/lib/getSchedule/futureLimit.timezone.test.ts
  packages/trpc/server/routers/viewer/slots/types.ts
Labels: 🐛 bug, enterprise, api, core, ready-for-e2e

#16598 fix: availability/[schedule]
  apps/web/app/future/availability/[schedule]/page.tsx
  apps/web/modules/availability/[schedule]/schedule-view.tsx
Labels: core, consumer, ready-for-e2e

#16600 chore: Remove passing optional prisma select prop to Repository classes
  apps/web/app/future/availability/[schedule]/page.tsx
  apps/web/app/future/video/meeting-not-started/[uid]/page.tsx
  apps/web/lib/video/[uid]/getServerSideProps.ts
  apps/web/lib/video/meeting-ended/[uid]/getServerSideProps.ts
  apps/web/lib/video/meeting-not-started/[uid]/getServerSideProps.ts
  packages/lib/server/repository/booking.ts
  packages/lib/server/repository/user.ts
Labels: core, 💻 refactor, consumer, ready-for-e2e

#16478 feat: update v2 calendar services logic to handle multiple calendars
  apps/api/v2/src/ee/calendars/services/apple-calendar.service.ts
  apps/api/v2/src/ee/calendars/services/calendars.service.ts
  apps/api/v2/src/ee/calendars/services/gcal.service.ts
  apps/api/v2/src/ee/calendars/services/outlook.service.ts
  apps/api/v2/src/modules/credentials/credentials.repository.ts
  apps/api/v2/src/modules/destination-calendars/destination-calendars.module.ts
  apps/api/v2/src/modules/selected-calendars/selected-calendars.repository.ts
  apps/api/v2/src/modules/users/users.repository.ts
  packages/platform/atoms/connect/apple/AppleConnect.tsx
Labels: ✨ feature, platform, core, calendar-apps, ready-for-e2e

#16588 fix(ally): changed unsemantic button
  packages/embeds/embed-core/src/ModalBox/ModalBoxHtml.ts
Labels: 🐛 bug, ui, embed, community, ready-for-e2e

#16540 fix: (managed-event-booking): slug conflict handling
  packages/features/eventtypes/components/EventType.tsx
  packages/features/eventtypes/components/tabs/assignment/EventTeamAssignmentTab.tsx
Labels: 🐛 bug, Medium priority, teams, event-types, community, ready-for-e2e

#16555 fix: profile page flickering and refactor
  apps/web/components/ui/UsernameAvailability/index.tsx
Labels: 🐛 bug, 💻 refactor, community, ready-for-e2e, community-interns

#16577 fix: use current user email
  apps/web/modules/bookings/views/bookings-single-view.tsx
Labels: ui, ready-for-e2e, community-interns

#16615 chore: Remove PR reviewed automation
  .github/workflows/pr-review.yml
Labels: ci, core, foundation, ready-for-e2e

#16165 feat: Implement Dub.co for conversion tracking
  apps/api/v1/pages/api/teams/_post.ts
  apps/web/app/future/availability/[schedule]/page.tsx
  apps/web/app/future/availability/page.tsx
  apps/web/app/future/settings/(admin)/admin/apps/[category]/page.tsx
  apps/web/app/future/settings/(admin)/admin/impersonation/page.tsx
  apps/web/app/future/settings/(admin)/admin/organizations/page.tsx
  apps/web/app/future/settings/(settings)/billing/page.tsx
  apps/web/app/future/settings/(settings)/developer/api-keys/page.tsx
  apps/web/app/future/settings/(settings)/developer/webhooks/[id]/page.tsx
  apps/web/app/future/settings/(settings)/developer/webhooks/new/page.tsx
  apps/web/app/future/settings/(settings)/my-account/appearance/page.tsx
  apps/web/app/future/settings/(settings)/my-account/calendars/page.tsx
  apps/web/app/future/settings/(settings)/my-account/conferencing/page.tsx
  apps/web/app/future/settings/(settings)/my-account/general/page.tsx
  apps/web/app/future/settings/(settings)/my-account/out-of-office/page.tsx
  apps/web/app/future/settings/(settings)/my-account/profile/page.tsx
  apps/web/app/future/settings/(settings)/organizations/admin-api/page.tsx
  apps/web/app/future/settings/(settings)/organizations/dsync/page.tsx
  apps/web/app/future/settings/(settings)/organizations/privacy/page.tsx
  apps/web/app/future/settings/(settings)/security/impersonation/page.tsx
  apps/web/app/future/settings/(settings)/security/password/page.tsx
  apps/web/app/future/settings/(settings)/security/sso/page.tsx
  apps/web/app/future/settings/(settings)/security/two-factor-auth/page.tsx
  apps/web/app/future/workflows/[workflow]/page.tsx
  apps/web/app/future/workflows/page.tsx
  apps/web/components/auth/layouts/AdminLayoutAppDir.tsx
  apps/web/lib/settings/license-key/new/getServerSideProps.tsx
  apps/web/package.json
  apps/web/pages/api/auth/[...nextauth].tsx
  apps/web/pages/api/generate-referral-link.ts
  apps/web/pages/signup.tsx
  apps/web/playwright/fixtures/workflows.ts
  apps/web/playwright/workflow.e2e.ts
  apps/web/public/static/locales/en/common.json
  apps/web/server/lib/auth/sso/[provider]/getServerSideProps.tsx
  packages/features/auth/lib/dub.ts
  packages/features/auth/lib/get-server-session-for-app-dir.ts
  packages/features/auth/lib/next-auth-options.ts
  packages/features/auth/package.json
  packages/features/ee/teams/lib/payments.ts
  packages/features/package.json
  packages/features/settings/appDir/SettingsLayoutAppDir.tsx
  packages/features/shell/Shell.tsx
  packages/lib/hooks/useCopy.ts
  packages/lib/server/repository/user.ts
  packages/prisma/migrations/20240909084221_add_referal_link_id/migration.sql
  packages/prisma/schema.prisma
  turbo.json
  yarn.lock
Labels: ✨ feature, ❗️ migrations, High priority, insights, community, ready-for-e2e

#16539 fix: prevent linking duplicate apple calendars
  packages/app-store/applecalendar/api/add.ts
Labels: 🐛 bug, app-store, calendar-apps, community, ready-for-e2e, community-interns

#16617 chore: v4.4.9
  apps/web/package.json
Labels: core, foundation, ready-for-e2e

#16453 chore: App router migration - Create/Use `EventRepository` and Extract `/team/**/*` and `/teams/*` into `/modules` from `/pages`
  apps/web/app/WithEmbedSSR.tsx
  apps/web/app/future/[user]/[type]/page.tsx
  apps/web/app/future/d/[link]/[slug]/page.tsx
  apps/web/app/future/org/[orgSlug]/embed/page.tsx
  apps/web/app/future/org/[orgSlug]/page.tsx
  apps/web/app/future/org/[orgSlug]/team/[slug]/[type]/page.tsx
  apps/web/app/future/org/[orgSlug]/team/[slug]/page.tsx
  apps/web/app/future/team/[slug]/[type]/embed/page.tsx
  apps/web/app/future/team/[slug]/[type]/page.tsx
  apps/web/app/future/team/[slug]/embed/page.tsx
  apps/web/app/future/team/[slug]/page.tsx
  apps/web/app/future/teams/page.tsx
  apps/web/lib/org/[orgSlug]/[user]/getServerSideProps.tsx
  apps/web/lib/teams/getServerSideProps.tsx
  apps/web/lib/withEmbedSsr.test.ts
  apps/web/lib/withEmbedSsr.tsx
  apps/web/middleware.ts
  apps/web/modules/team/team-view.tsx
  apps/web/modules/team/type-view.tsx
  apps/web/modules/teams/teams-view.tsx
  apps/web/pages/org/[orgSlug]/[user]/[type]/index.tsx
  apps/web/pages/org/[orgSlug]/[user]/index.tsx
  apps/web/pages/org/[orgSlug]/index.ts
  apps/web/pages/org/[orgSlug]/team/[slug]/[type].ts
  apps/web/pages/org/[orgSlug]/team/[slug]/index.ts
  apps/web/pages/team/[slug].tsx
  apps/web/pages/team/[slug]/[type].tsx
  apps/web/pages/team/[slug]/[type]/embed.tsx
  apps/web/pages/team/[slug]/embed.tsx
  apps/web/pages/teams/index.tsx
  packages/embeds/embed-core/playground.ts
  packages/embeds/embed-core/src/embed.ts
  packages/lib/server/repository/event.ts
Labels: teams, core, 💻 refactor, consumer, ready-for-e2e

#16618 fix: Show toast after copy referral link + change icon to `"gift"`
  apps/web/pages/api/generate-referral-link.ts
  apps/web/playwright/icons.e2e.ts-snapshots/icons--calcom-web-darwin.png
  apps/web/playwright/icons.e2e.ts-snapshots/icons--calcom-web-linux.png
  apps/web/public/icons/sprite.svg
  packages/features/shell/Shell.tsx
  packages/lib/hooks/useCopy.ts
  packages/ui/components/icon/IconSprites.tsx
  packages/ui/components/icon/icon-list.mjs
  packages/ui/components/icon/icon-names.ts
Labels: 🐛 bug, ui, community, ready-for-e2e

#16551 feat: overlay calendar for `Booker` atom
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/components/Header.tsx
  packages/features/bookings/Booker/components/OverlayCalendar/OverlayCalendar.tsx
  packages/features/bookings/Booker/components/OverlayCalendar/OverlayCalendarSettingsModal.tsx
  packages/features/bookings/Booker/components/hooks/useCalendars.ts
  packages/features/bookings/Booker/components/hooks/useLocalSet.tsx
  packages/features/bookings/Booker/components/hooks/useOverlayCalendar.ts
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
  packages/platform/atoms/hooks/useCalendarsBusyTimes.ts
  packages/platform/examples/base/src/pages/booking.tsx
Labels: ✨ feature, platform, booking-page, core, ready-for-e2e

#15344 feat: replace team list view with org list view UI and fix team view user availability
  apps/web/playwright/organization/organization-invitation.e2e.ts
  apps/web/public/static/locales/en/common.json
  packages/features/ee/teams/components/DeleteBulkTeamMembers.tsx
  packages/features/ee/teams/components/EditMemberSheet.tsx
  packages/features/ee/teams/components/MemberChangeRoleModal.tsx
  packages/features/ee/teams/components/MemberListItem.tsx
  packages/features/ee/teams/pages/team-members-view.tsx
  packages/features/users/components/UserTable/EditSheet/SheetFooterControls.tsx
  packages/features/users/components/UserTable/EditSheet/store.ts
  packages/trpc/server/routers/viewer/teams/changeMemberRole.handler.ts
  packages/trpc/server/routers/viewer/teams/lazyLoadMembers.handler.ts
Labels: 🐛 bug, ✨ feature, Low priority, teams, organizations, ui, community, ready-for-e2e, community-interns

#15721 chore: Add Prisma extension to block deleteMany/updateMany with undefined 'in'
  packages/prisma/extensions/disallow-undefined-delete-update-many.test.ts
  packages/prisma/extensions/disallow-undefined-delete-update-many.ts
  packages/prisma/index.ts
Labels: 🧹 Improvements, High priority, platform, automated-tests, core, foundation, ready-for-e2e

#16626 feat: create loading state for copy referral link from dub.co
  packages/features/shell/Shell.tsx
  packages/lib/hooks/useCopy.ts
Labels: ✨ feature, core, consumer, ready-for-e2e

#16628 fix: make admin role unnecessary for future-opt-in API
  apps/web/pages/api/future-opt-in.ts
Labels: api, core, consumer, ready-for-e2e

#16444 chore: App-router-migration`(/auth/verify`) add missing metadata / page & extract components into `/module`
  apps/web/app/future/auth/verify-email-change/page.tsx
  apps/web/app/future/auth/verify-email/page.tsx
  apps/web/app/future/auth/verify/page.tsx
  apps/web/modules/auth/verify-email-change-view.tsx
  apps/web/modules/auth/verify-email-view.tsx
  apps/web/modules/auth/verify-view.tsx
  apps/web/pages/auth/verify-email-change.tsx
  apps/web/pages/auth/verify-email.tsx
  apps/web/pages/auth/verify.tsx
  apps/web/server/lib/auth/verify-email-change/getServerSideProps.tsx
  packages/lib/server/repository/stripe.ts
  packages/trpc/server/routers/publicViewer/stripeCheckoutSession.handler.ts
Labels: High priority, platform, authentication, core, 💻 refactor, consumer, ready-for-e2e

#16620 fix: get slot logic for v1 API
  apps/api/v1/pages/api/slots/_get.ts
  apps/web/test/lib/getSchedule.test.ts
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  packages/lib/server/repository/user.ts
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: 🐛 bug, enterprise, api, core, ready-for-e2e

#16630 fix: hide platform tab in navigation when not subscribed
  packages/features/shell/Shell.tsx
Labels: platform, core, ready-for-e2e

#16633 chore: rewrite imports of prisma enums to @calcom/prisma/enums
  packages/features/ee/workflows/lib/allowDisablingStandardEmails.ts
  packages/features/ee/workflows/lib/reminders/templates/whatsapp/whatsappEventCancelledTemplate.ts
  packages/features/ee/workflows/lib/reminders/templates/whatsapp/whatsappEventCompletedTemplate.ts
  packages/features/ee/workflows/lib/reminders/templates/whatsapp/whatsappEventReminderTemplate.ts
  packages/features/ee/workflows/lib/reminders/templates/whatsapp/whatsappEventRescheduledTemplate.ts
Labels: platform, core, 💻 refactor, ready-for-e2e

#16623 fix: use correct redirect url for google oauth when using overlay calendar
  packages/platform/atoms/booker/BookerWebWrapper.tsx
Labels: 🐛 bug, authentication, core, consumer, ready-for-e2e

#16639 chore: added IS_EUROPE for signup
  apps/web/pages/signup.tsx
  packages/lib/constants.ts
Labels: ✨ feature, High priority, authentication, ready-for-e2e

#16629 fix: prevent creating multiple platform orgs
  packages/features/ee/platform/components/CreateANewPlatformForm.tsx
  packages/trpc/server/routers/viewer/organizations/create.handler.ts
Labels: platform, core, ready-for-e2e

#16621 fix: managed event type is not deleted for the assigned user when the team is deleted
  packages/features/ee/teams/pages/team-profile-view.tsx
  packages/trpc/server/routers/viewer/teams/delete.handler.ts
Labels: 🐛 bug, teams, event-types, community, ready-for-e2e, community-interns

#16607 feat: add a way to call invalidate route
  apps/web/app/future/settings/(settings)/developer/api-keys/page.tsx
  apps/web/modules/settings/developer/api-keys-view.tsx
  packages/features/ee/api-keys/components/ApiKeyDialogForm.tsx
  packages/features/ee/api-keys/components/ApiKeyListItem.tsx
Labels: ✨ feature, api, core, consumer, ready-for-e2e

#16483 refactor: remove networkidle waiters
  apps/web/playwright/auth/auth-index.e2e.ts
  apps/web/playwright/availability.e2e.ts
  apps/web/playwright/booking-limits.e2e.ts
  apps/web/playwright/booking-pages.e2e.ts
  apps/web/playwright/booking-seats.e2e.ts
  apps/web/playwright/change-password.e2e.ts
  apps/web/playwright/change-theme.e2e.ts
  apps/web/playwright/change-username.e2e.ts
  apps/web/playwright/dynamic-booking-pages.e2e.ts
  apps/web/playwright/event-types.e2e.ts
  apps/web/playwright/fixtures/apps.ts
  apps/web/playwright/hash-my-url.e2e.ts
  apps/web/playwright/impersonation.e2e.ts
  apps/web/playwright/insights.e2e.ts
  apps/web/playwright/lib/testUtils.ts
  apps/web/playwright/managed-event-types.e2e.ts
  apps/web/playwright/oauth-provider.e2e.ts
  apps/web/playwright/organization/across-org/across-org.e2e.ts
  apps/web/playwright/organization/lib/inviteUser.ts
  apps/web/playwright/organization/organization-creation.e2e.ts
  apps/web/playwright/organization/organization-invitation.e2e.ts
  apps/web/playwright/organization/team-management.e2e.ts
  apps/web/playwright/out-of-office.e2e.ts
  apps/web/playwright/overlay-calendar.e2e.ts
  apps/web/playwright/payment.e2e.ts
  apps/web/playwright/profile.e2e.ts
  apps/web/playwright/reschedule.e2e.ts
  apps/web/playwright/signup.e2e.ts
  apps/web/playwright/team/team-invitation.e2e.ts
  apps/web/playwright/teams.e2e.ts
  apps/web/playwright/unpublished.e2e.ts
  apps/web/playwright/webhook.e2e.ts
  packages/app-store/routing-forms/playwright/tests/basic.e2e.ts
  playwright.config.ts
Labels: automated-tests, core, 💻 refactor, foundation, ready-for-e2e

#16649 fix: Add new api-key CTA button is missing in settings/developer/api-keys
  apps/web/app/future/settings/(settings)/developer/api-keys/page.tsx
  apps/web/modules/settings/developer/api-keys-view.tsx
  apps/web/pages/settings/developer/api-keys.tsx
Labels: 🐛 bug, api, core, consumer, ready-for-e2e

#16650 chore: v4.5.0
  apps/web/package.json
Labels: High priority, core, foundation, ready-for-e2e

#16632 chore: StripeRepository -> StripeService and move from server/repository to server/service
  apps/web/app/future/auth/verify/page.tsx
  packages/lib/server/service/stripe.ts
  packages/trpc/server/routers/publicViewer/stripeCheckoutSession.handler.ts
Labels: billing, core, 💻 refactor, consumer, ready-for-e2e

#16655 fix: verify Code Dialog ui
  packages/features/bookings/components/VerifyCodeDialog.tsx
Labels: 🐛 bug, Low priority, ui, embed, community, ready-for-e2e

#16657 fix: add logger to util to debug v1 API slot
  packages/lib/server/repository/user.ts
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: 🐛 bug, enterprise, api, core, ready-for-e2e

#16653 fix: multiselect required check
  packages/features/bookings/lib/getBookingResponsesSchema.ts
Labels: 🐛 bug, Low priority, bookings, community, ready-for-e2e

#16664 fix: Update callback.ts to work with AU location
  packages/app-store/zohocalendar/api/callback.ts
Labels: 🐛 bug, app-store, community, ready-for-e2e

#16659 fix: fix org check on team slider
  apps/web/modules/availability/availability-view.tsx
Labels: 🐛 bug, teams, core, consumer, ready-for-e2e

#16642 fix: overlay calendar view for `Booker` atom
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
Labels: 🐛 bug, platform, core, ready-for-e2e

#16516 chore: App router - add missing metadata for `/[user]` pages
  apps/web/app/future/[user]/[type]/embed/page.tsx
  apps/web/app/future/[user]/[type]/page.tsx
  apps/web/app/future/[user]/embed/page.tsx
  apps/web/app/future/[user]/page.tsx
  apps/web/lib/org/[orgSlug]/[user]/[type]/getServerSideProps.tsx
  apps/web/modules/users/views/users-public-view.tsx
  apps/web/modules/users/views/users-type-public-view.tsx
  apps/web/pages/[user]/[type]/embed.tsx
  apps/web/pages/[user]/[type]/index.tsx
  apps/web/pages/[user]/embed.tsx
  apps/web/pages/[user]/index.tsx
  apps/web/pages/org/[orgSlug]/[user]/[type]/index.tsx
  apps/web/pages/org/[orgSlug]/[user]/index.tsx
  apps/web/scripts/vercel-app-router-deploy.sh
  apps/web/server/lib/[user]/[type]/getServerSideProps.ts
  apps/web/server/lib/[user]/getServerSideProps.ts
Labels: ❗️ .env changes, core, 💻 refactor, consumer, ready-for-e2e

#16670 chore: Update `dclid` → `dub_id`
  apps/web/lib/settings/license-key/new/getServerSideProps.tsx
  apps/web/pages/api/auth/[...nextauth].tsx
  packages/features/auth/lib/get-server-session-for-app-dir.ts
  packages/features/auth/lib/next-auth-options.ts
Labels: authentication, community, ready-for-e2e

#16449 chore: App Router Migration, add metadata to `getting-started`, extract into `/modules` and add method to UserRepository
  apps/web/app/_utils.tsx
  apps/web/app/future/getting-started/[[...step]]/page.tsx
  apps/web/lib/getting-started/[[...step]]/getServerSideProps.tsx
  apps/web/lib/metadata.ts
  apps/web/modules/getting-started/[[...step]]/onboarding-view.tsx
  apps/web/pages/getting-started/[[...step]].tsx
  packages/lib/server/repository/user.ts
Labels: core, 💻 refactor, consumer, ready-for-e2e

#15704 feat: org team app install
  apps/api/v2/src/modules/organizations/inputs/attributes/options/create-organization-attribute-option.input.ts
  apps/api/v2/src/modules/organizations/services/attributes/organization-attributes.service.ts
  apps/web/components/apps/installation/AccountsStepCard.tsx
  apps/web/components/apps/installation/ConfigureStepCard.tsx
  apps/web/components/apps/installation/EventTypesStepCard.tsx
  apps/web/lib/apps/getServerSideProps.tsx
  apps/web/lib/apps/installation/[[...step]]/getServerSideProps.ts
  apps/web/modules/apps/installation/[[...step]]/step-view.tsx
  apps/web/playwright/apps/conferencing/conferencingApps.e2e.ts
  apps/web/playwright/fixtures/apps.ts
  apps/web/playwright/integrations-stripe.e2e.ts
  packages/app-store/_utils/oauth/createOAuthAppCredential.ts
  packages/app-store/_utils/throwIfNotHaveAdminAccessToTeam.ts
  packages/app-store/_utils/useAddAppMutation.ts
  packages/lib/server/repository/user.ts
  packages/trpc/server/routers/loggedInViewer/appCredentialsByType.handler.ts
Labels: ✨ feature, app-store, Medium priority, teams, platform, organizations, core, consumer, ready-for-e2e

#16673 chore: expose metadata on platform booker atom
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
  packages/platform/examples/base/src/pages/booking.tsx
Labels: ✨ feature, platform, core, ready-for-e2e

#16677 fix: make connect calendar atoms client side
  packages/platform/atoms/connect/OAuthConnect.tsx
  packages/platform/atoms/connect/apple/AppleConnect.tsx
  packages/platform/atoms/connect/google/GcalConnect.tsx
  packages/platform/atoms/connect/outlook/OutlookConnect.tsx
Labels: platform, core, ready-for-e2e

#16662 fix: add optimistic UI for deleting member on org user table
  packages/features/users/components/UserTable/DeleteMemberModal.tsx
Labels: 🐛 bug, ui, core, consumer, ready-for-e2e

#16676 feat: update vitest version v0.34 to V2.11
  apps/web/test/lib/next-config.test.ts
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  apps/web/test/utils/bookingScenario/test.ts
  package.json
  packages/features/bookings/lib/handleNewBooking/test/booking-limits.test.ts
  packages/features/bookings/lib/handleNewBooking/test/complex-schedules.test.ts
  packages/features/bookings/lib/handleNewBooking/test/date-overrides.test.ts
  packages/features/bookings/lib/handleNewBooking/test/fresh-booking.test.ts
  packages/features/bookings/lib/handleNewBooking/test/recurring-event.test.ts
  packages/features/bookings/lib/handleNewBooking/test/reschedule.test.ts
  packages/lib/server/getDefaultLocations.test.ts
  packages/trpc/server/routers/viewer/teams/getMinimal.handler.test.ts
  packages/ui/components/button/button.test.tsx
  tests/libs/__mocks__/prismaMock.ts
  yarn.lock
Labels: ⬆️ dependencies, core, consumer, ready-for-e2e

#16690 chore: v4.5.1
  apps/web/package.json
Labels: core, foundation, ready-for-e2e

#16692 fix: dates in ooo booking redirect email
  apps/web/public/static/locales/en/common.json
Labels: Medium priority, emails, core, consumer, ready-for-e2e

#16695 fix: new user detection for dub analytics
  packages/features/auth/lib/next-auth-options.ts
Labels: authentication, core, foundation, ready-for-e2e

#16550 chore: EventTypeWebWrapper base pr
  apps/web/app/future/event-types/[type]/page.tsx
  apps/web/modules/event-types/views/event-types-single-view.tsx
  packages/features/eventtypes/components/EventType.tsx
  packages/features/eventtypes/components/EventTypeAppDir.tsx
  packages/features/eventtypes/lib/types.ts
  packages/platform/atoms/event-types/hooks/useEventTypeForm.ts
  packages/platform/atoms/event-types/hooks/useHandleRouteChange.ts
  packages/platform/atoms/event-types/wrappers/EventTypeWebWrapper.tsx
  packages/platform/atoms/monorepo.ts
Labels: ❗️ migrations, platform, ❗️ .env changes, event-types, core, ready-for-e2e

#16685 refactor: v2 and atoms booking fields
  apps/api/v2/package.json
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/services/event-types.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/controllers/event-types.controller.e2e-spec.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/event-types.repository.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/input-event-types.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/output-event-types.service.ts
  apps/api/v2/test/setEnvVars.ts
  packages/lib/event-types/transformers/api-request.ts
  packages/lib/event-types/transformers/api-response.ts
  packages/lib/event-types/transformers/api-to-internal/api-to-internal.spec.ts
  packages/lib/event-types/transformers/api-to-internal/booking-fields.ts
  packages/lib/event-types/transformers/api-to-internal/future-booking-limits.ts
  packages/lib/event-types/transformers/api-to-internal/index.ts
  packages/lib/event-types/transformers/api-to-internal/interval-limits.ts
  packages/lib/event-types/transformers/api-to-internal/locations.ts
  packages/lib/event-types/transformers/api-to-internal/recurrence.ts
  packages/lib/event-types/transformers/index.ts
  packages/lib/event-types/transformers/internal-to-api/booking-fields.ts
  packages/lib/event-types/transformers/internal-to-api/future-booking-limits.ts
  packages/lib/event-types/transformers/internal-to-api/index.ts
  packages/lib/event-types/transformers/internal-to-api/internal-to-api.spec.ts
  packages/lib/event-types/transformers/internal-to-api/interval-limits.ts
  packages/lib/event-types/transformers/internal-to-api/locations.ts
  packages/lib/event-types/transformers/internal-to-api/recurrence.ts
  packages/platform/atoms/event-types/atom-api-transformers/transformApiEventTypeForAtom.ts
  packages/platform/libraries/CHANGELOG.md
  packages/platform/libraries/index.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/booking-fields.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/create-event-type.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/update-event-type.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/outputs/booking-fields.output.ts
  packages/platform/types/event-types/event-types_2024_06_14/outputs/event-type.output.ts
  packages/platform/types/event-types/event-types_2024_06_14/outputs/index.ts
  yarn.lock
Labels: platform, event-types, core, 💻 refactor, ready-for-e2e

#16660 fix: fixed more flaky e2e tests (round 2)
  apps/web/playwright/availability.e2e.ts
  apps/web/playwright/booking-limits.e2e.ts
  apps/web/playwright/booking-pages.e2e.ts
  apps/web/playwright/booking-seats.e2e.ts
  apps/web/playwright/change-password.e2e.ts
  apps/web/playwright/change-theme.e2e.ts
  apps/web/playwright/change-username.e2e.ts
  apps/web/playwright/dynamic-booking-pages.e2e.ts
  apps/web/playwright/event-types.e2e.ts
  apps/web/playwright/fixtures/apps.ts
  apps/web/playwright/hash-my-url.e2e.ts
  apps/web/playwright/impersonation.e2e.ts
  apps/web/playwright/insights.e2e.ts
  apps/web/playwright/lib/testUtils.ts
  apps/web/playwright/oauth-provider.e2e.ts
  apps/web/playwright/organization/across-org/across-org.e2e.ts
  apps/web/playwright/organization/booking.e2e.ts
  apps/web/playwright/organization/lib/inviteUser.ts
  apps/web/playwright/organization/organization-creation.e2e.ts
  apps/web/playwright/organization/organization-invitation.e2e.ts
  apps/web/playwright/organization/team-management.e2e.ts
  apps/web/playwright/overlay-calendar.e2e.ts
  apps/web/playwright/payment.e2e.ts
  apps/web/playwright/profile.e2e.ts
  apps/web/playwright/reschedule.e2e.ts
  apps/web/playwright/signup.e2e.ts
  apps/web/playwright/team/team-invitation.e2e.ts
  apps/web/playwright/teams.e2e.ts
  apps/web/playwright/unpublished.e2e.ts
  apps/web/playwright/webhook.e2e.ts
  packages/app-store/routing-forms/playwright/tests/basic.e2e.ts
  packages/app-store/routing-forms/playwright/tests/testUtils.ts
Labels: automated-tests, community, ready-for-e2e, community-interns

#16706 feat: Retell AI
  apps/web/components/apps/AppPage.tsx
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/retell-ai/DESCRIPTION.md
  packages/app-store/retell-ai/api/add.ts
  packages/app-store/retell-ai/api/index.ts
  packages/app-store/retell-ai/components/.gitkeep
  packages/app-store/retell-ai/config.json
  packages/app-store/retell-ai/index.ts
  packages/app-store/retell-ai/package.json
  packages/app-store/retell-ai/static/1.jpg
  packages/app-store/retell-ai/static/2.jpg
  packages/app-store/retell-ai/static/3.jpg
  packages/app-store/retell-ai/static/4.jpg
  packages/app-store/retell-ai/static/icon-dark.svg
Labels: ✨ feature, app-store, ai, ready-for-e2e

#16672 refactor: event setup tab web wrapper
  packages/features/eventtypes/components/tabs/setup/EventSetupTab.tsx
  packages/platform/atoms/event-types/wrappers/EventSetupTabWebWrapper.tsx
  packages/platform/atoms/event-types/wrappers/EventTypeWebWrapper.tsx
Labels: platform, event-types, core, 💻 refactor, ready-for-e2e

#16040 feat: per user and team feature flags
  packages/prisma/migrations/20240918202101_adds_per_user_and_team_feature_flags/migration.sql
  packages/prisma/schema.prisma
Labels: ✨ feature, ❗️ migrations, platform, core, foundation, ready-for-e2e

#16458 chore: App router migration - fix metadata for bookings/[status] and add env var for /booking page
  .env.example
  apps/web/abTest/middlewareFactory.ts
  apps/web/app/future/bookings/[status]/page.tsx
  apps/web/scripts/vercel-app-router-deploy.sh
  turbo.json
Labels: ❗️ .env changes, bookings, core, 💻 refactor, consumer, ready-for-e2e

#16608 docs: v2 schedules and event-types swagger
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/controllers/event-types.controller.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/controllers/event-types.controller.ts
  apps/api/v2/src/ee/schedules/schedules_2024_04_15/controllers/schedules.controller.ts
  apps/api/v2/src/ee/schedules/schedules_2024_06_11/controllers/schedules.controller.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.ts
  apps/api/v2/src/modules/users/inputs/create-managed-user.input.ts
  apps/api/v2/swagger/documentation.json
  packages/platform/types/event-types/event-types_2024_06_14/inputs/booking-fields.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/booking-window.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/create-event-type.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/get-event-types-query.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/locations.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/update-event-type.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/outputs/booking-fields.output.ts
  packages/platform/types/event-types/event-types_2024_06_14/outputs/event-type.output.ts
  packages/platform/types/schedules/schedules-2024-06-11/inputs/create-schedule.input.ts
  packages/platform/types/schedules/schedules-2024-06-11/outputs/schedule.output.ts
Labels: docs, platform, core, ready-for-e2e

#16715 fix: connect apple calendar atom nested <button>'s
  packages/platform/atoms/connect/apple/AppleConnect.tsx
Labels: platform, core, ready-for-e2e

#16714 fix: Embed API Typings for 'on' and 'off'
  packages/embeds/embed-core/playground.ts
  packages/embeds/embed-core/src/embed.ts
  packages/embeds/embed-core/src/sdk-action-manager.ts
  packages/embeds/embed-core/tsconfig.json
  packages/embeds/embed-react/inline.tsx
  packages/embeds/embed-react/src/index.ts
  packages/embeds/embed-react/tsconfig.json
Labels: enterprise, embed, core, ready-for-e2e

#16716 fix: type error on booking cancelled page
  apps/web/components/booking/BookingListItem.tsx
Labels: 🐛 bug, enterprise, bookings, core, 🚨 urgent, ready-for-e2e

#16713 chore: Bump embed versions
  apps/web/CHANGELOG.md
  apps/web/package.json
  packages/embeds/embed-core/CHANGELOG.md
  packages/embeds/embed-core/package.json
  packages/embeds/embed-react/CHANGELOG.md
  packages/embeds/embed-react/package.json
  packages/embeds/embed-snippet/CHANGELOG.md
  packages/embeds/embed-snippet/package.json
Labels: enterprise, embed, core, ready-for-e2e

#16721 feat: add create license key to admin tab if IS_CALCOM
  apps/web/public/static/locales/en/common.json
  packages/features/settings/layouts/SettingsLayout.tsx
Labels: ✨ feature, core, admin, consumer, ready-for-e2e

#16589 chore: App Router - remove references to `/pages` for remaining pages in `/auth`, `/insights`, `/d`, `signup` and add missing default `/future` page
  apps/web/app/future/apps/[slug]/[...pages]/page.tsx
  apps/web/app/future/auth/setup/page.tsx
  apps/web/app/future/auth/signin/page.tsx
  apps/web/app/future/auth/sso/[provider]/page.tsx
  apps/web/app/future/auth/sso/direct/page.tsx
  apps/web/app/future/booking/[uid]/page.tsx
  apps/web/app/future/d/[link]/[slug]/page.tsx
  apps/web/app/future/insights/page.tsx
  apps/web/app/future/org/[orgSlug]/embed/page.tsx
  apps/web/app/future/org/[orgSlug]/page.tsx
  apps/web/app/future/org/[orgSlug]/team/[slug]/[type]/page.tsx
  apps/web/app/future/org/[orgSlug]/team/[slug]/page.tsx
  apps/web/app/future/page.tsx
  apps/web/app/future/reschedule/[uid]/embed/page.tsx
  apps/web/app/future/reschedule/[uid]/page.tsx
  apps/web/app/future/routing-forms/[...pages]/page.tsx
  apps/web/app/future/routing-forms/page.tsx
  apps/web/app/future/signup/page.tsx
  apps/web/app/layoutHOC.tsx
  apps/web/lib/apps/[slug]/[...pages]/getServerSideProps.ts
  apps/web/lib/reschedule/[uid]/getServerSideProps.ts
  apps/web/modules/apps/[slug]/[...pages]/pages-view.tsx
  apps/web/modules/auth/setup-view.tsx
  apps/web/modules/auth/signin-view.tsx
  apps/web/modules/auth/sso/direct-view.tsx
  apps/web/modules/auth/sso/provider-view.tsx
  apps/web/modules/d/[link]/d-type-view.tsx
  apps/web/modules/insights/insights-view.tsx
  apps/web/modules/signup-view.tsx
  apps/web/pages/auth/setup/index.tsx
  apps/web/pages/auth/signin.tsx
  apps/web/pages/auth/sso/[provider].tsx
  apps/web/pages/auth/sso/direct.tsx
  apps/web/pages/d/[link]/[slug].tsx
  apps/web/pages/insights/index.tsx
  apps/web/pages/reschedule/[uid].tsx
  apps/web/pages/reschedule/[uid]/embed.tsx
  apps/web/pages/signup.tsx
  packages/app-store/routing-forms/pages/layout-handler/[...appPages].tsx
  yarn.lock
Labels: core, 💻 refactor, consumer, ready-for-e2e

#16734 chore: add granular logging to the logger
  .env.example
  README.md
  apps/web/app/_trpc/trpc-provider.tsx
  packages/lib/logger.ts
  packages/prisma/index.ts
  packages/trpc/react/trpc.ts
  turbo.json
Labels: docs, enterprise, ❗️ .env changes, core, ready-for-e2e

#16737 feat: onBeforeUpdate AvailabilitySettings prop
  packages/platform/atoms/availability/wrappers/AvailabilitySettingsPlatformWrapper.tsx
  packages/platform/atoms/index.ts
  packages/platform/atoms/monorepo.ts
Labels: ✨ feature, platform, core, ready-for-e2e

#16736 feat: Add EXPAND accepting "team" in API V1 Bookings
  apps/api/v1/lib/validations/booking.ts
  apps/api/v1/lib/validations/shared/queryExpandRelations.ts
  apps/api/v1/pages/api/bookings/[id]/_get.ts
  apps/api/v1/pages/api/bookings/_get.ts
  apps/api/v1/test/lib/bookings/_get.integration-test.ts
Labels: ✨ feature, enterprise, api, core, ready-for-e2e

#16742 chore: revert availability autosave feature
  packages/features/schedules/components/Schedule.tsx
  packages/platform/atoms/availability/AvailabilitySettings.tsx
Labels: core, foundation, ready-for-e2e

#16746 chore: improve api-v2 rate limiting
  apps/api/v2/src/app.module.ts
  apps/api/v2/src/lib/throttler-guard.ts
Labels: platform, api, core, ready-for-e2e

#16747 chore: Default to connected Salesforce account as contact owner
  packages/app-store/salesforce/lib/CrmService.ts
Labels: core, crm-apps, consumer, ready-for-e2e

#16728 chore: Release v4.5.3
  apps/web/package.json
Labels: core, foundation, ready-for-e2e

#16745 chore: Use no isolation for unit tests
  .github/workflows/unit-tests.yml
Labels: automated-tests, core, foundation, ready-for-e2e

#16696 fix: flaky e2e patterns
  apps/web/components/booking/CancelBooking.tsx
  apps/web/lib/hooks/useAsPath.ts
  apps/web/lib/hooks/useRefreshData.ts
  apps/web/playwright/availability.e2e.ts
  apps/web/playwright/booking-limits.e2e.ts
  apps/web/playwright/booking-pages.e2e.ts
  apps/web/playwright/booking-seats.e2e.ts
  apps/web/playwright/change-password.e2e.ts
  apps/web/playwright/change-username.e2e.ts
  apps/web/playwright/dynamic-booking-pages.e2e.ts
  apps/web/playwright/event-types.e2e.ts
  apps/web/playwright/fixtures/bookings.ts
  apps/web/playwright/fixtures/regularBookings.ts
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/hash-my-url.e2e.ts
  apps/web/playwright/integrations-stripe.e2e.ts
  apps/web/playwright/integrations.e2e.ts
  apps/web/playwright/lib/fixtures.ts
  apps/web/playwright/lib/testUtils.ts
  apps/web/playwright/manage-booking-questions.e2e.ts
  apps/web/playwright/organization/booking.e2e.ts
  apps/web/playwright/organization/lib/inviteUser.ts
  apps/web/playwright/organization/organization-invitation.e2e.ts
  apps/web/playwright/profile.e2e.ts
  apps/web/playwright/reschedule.e2e.ts
  apps/web/playwright/team/team-invitation.e2e.ts
  apps/web/playwright/teams.e2e.ts
  apps/web/playwright/webhook.e2e.ts
  packages/embeds/embed-core/playwright/lib/testUtils.ts
Labels: automated-tests, core, 💻 refactor, foundation, ready-for-e2e

#16678 refactor: make managed user's name required
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.e2e-spec.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/outputs/managed-user.output.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-clients/oauth-clients.controller.ts
  apps/api/v2/src/modules/oauth-clients/services/oauth-clients-users.service.ts
  apps/api/v2/src/modules/users/inputs/create-managed-user.input.ts
  apps/api/v2/swagger/documentation.json
Labels: platform, core, 💻 refactor, ready-for-e2e

#16750 chore: fix formatting
  .github/ISSUE_TEMPLATE/feature_request.md
  CONTRIBUTING.md
  README.md
  apps/api/v2/README.md
  apps/web/app/_trpc/trpc-provider.tsx
  example-apps/credential-sync/README.md
  infra/README.md
  packages/app-store/clic/DESCRIPTION.md
  packages/app-store/demodesk/DESCRIPTION.md
  packages/app-store/linear/DESCRIPTION.md
  packages/app-store/pipedrive-crm/DESCRIPTION.md
  packages/app-store/pipedrive-crm/README.md
  packages/app-store/retell-ai/DESCRIPTION.md
  packages/app-store/roam/DESCRIPTION.md
  packages/app-store/routing-forms/pages/layout-handler/[...appPages].tsx
  packages/app-store/synthflow/DESCRIPTION.md
  packages/app-store/zapier/README.md
  packages/features/ee/organizations/README.md
  packages/platform/constants/README.md
  packages/platform/enums/README.md
  packages/platform/libraries/CHANGELOG.md
  packages/platform/libraries/README.md
  packages/platform/sdk/README.md
  packages/platform/types/README.md
  packages/platform/utils/README.md
  packages/trpc/react/trpc.ts
Labels: core, foundation, ready-for-e2e

#16722 fix: more general translation for 'seats 'in NL
  apps/web/public/static/locales/nl/common.json
Labels: i18n, community, ready-for-e2e

#16324 chore: booking verification token and booking rejection logic from email
  apps/web/pages/api/verify-booking-token.ts
  packages/emails/src/components/BookingConfirmationForm.tsx
  packages/emails/src/components/CallToAction.tsx
  packages/emails/src/components/CallToActionTable.tsx
  packages/emails/src/components/index.ts
  packages/emails/src/templates/OrganizerRequestEmailV2.tsx
  packages/emails/src/templates/index.ts
  packages/emails/templates/organizer-request-email.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/createBooking.ts
  packages/features/flags/config.ts
  packages/features/flags/features.repository.interface.ts
  packages/features/flags/features.repository.ts
  packages/lib/test/builder.ts
  packages/prisma/migrations/20240823033245_booking_one_time_password/migration.sql
  packages/prisma/migrations/20240920000000_adds_feature_flag_organizer_request_email_v2/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/trpc.ts
  packages/types/Calendar.d.ts
Labels: ❗️ migrations, bookings, emails, community, ready-for-e2e, community-interns

#16752 fix: Flakyness on pages that use a hard refresh
  apps/web/components/booking/CancelBooking.tsx
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/managed-event-types.e2e.ts
  apps/web/playwright/organization/booking.e2e.ts
  apps/web/playwright/reschedule.e2e.ts
  packages/features/ee/teams/components/TeamListItem.tsx
  packages/features/shell/Shell.tsx
  packages/lib/hooks/useAsPath.ts
  packages/lib/hooks/useRefreshData.ts
Labels: 🐛 bug, core, foundation, ready-for-e2e

#16724 fix: update zoom integration doc to include user settings scope
  README.md
Labels: 🐛 bug, docs, community, ready-for-e2e

#16753 revert: Remove NOT_FOUND error introduced in 16620
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: enterprise, core, ready-for-e2e

#16679 refactor: event limits web wrapper
  packages/features/eventtypes/components/tabs/limits/EventLimitsTab.tsx
  packages/platform/atoms/event-types/wrappers/EventLimitsTabWebWrapper.tsx
  packages/platform/atoms/event-types/wrappers/EventTypeWebWrapper.tsx
Labels: platform, event-types, core, 💻 refactor, ready-for-e2e

#16669 fix: Issue with zoom meetings getting "invalid Meeting ID"
  packages/app-store/zoomvideo/lib/VideoApiAdapter.ts
Labels: 🐛 bug, app-store, High priority, community, ready-for-e2e

#16755 feat: billing tab for platform
  apps/api/v2/src/modules/billing/billing.repository.ts
  apps/api/v2/src/modules/billing/controllers/billing.controller.ts
  apps/api/v2/src/modules/billing/services/billing.service.ts
  apps/web/components/settings/platform/pricing/billing-card/index.tsx
  apps/web/components/settings/platform/pricing/platform-pricing/index.tsx
  apps/web/lib/hooks/settings/platform/oauth-clients/usePersistOAuthClient.ts
  apps/web/modules/settings/billing/billing-view.tsx
  apps/web/modules/settings/platform/billing/billing-view.tsx
  apps/web/modules/settings/platform/plans/platform-plans-view.tsx
  apps/web/modules/settings/platform/platform-view.tsx
  apps/web/pages/settings/platform/billing/index.tsx
  apps/web/pages/settings/platform/plans/index.tsx
  packages/features/shell/Shell.tsx
Labels: ✨ feature, platform, billing, core, ready-for-e2e

#16710 feat: Update UI of signup / login pages
  apps/web/modules/auth/login-view.tsx
  apps/web/modules/signup-view.tsx
  apps/web/playwright/organization/organization-invitation.e2e.ts
  apps/web/playwright/signup.e2e.ts
  apps/web/public/google-icon-colored.svg
  packages/features/auth/SAMLLogin.tsx
Labels: ✨ feature, ui, authentication, core, consumer, ready-for-e2e

#16614 feat: global booking limits for teams
  apps/api/v1/lib/validations/team.ts
  apps/api/v1/pages/api/teams/[teamId]/_patch.ts
  apps/api/v1/pages/api/teams/_post.ts
  apps/api/v2/src/modules/organizations/inputs/update-organization-team.input.ts
  apps/web/pages/settings/teams/[id]/bookingLimits.tsx
  apps/web/public/static/locales/en/common.json
  apps/web/test/lib/getSchedule.test.ts
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  packages/core/bookingLimits/getBusyTimesFromLimits.ts
  packages/core/bookingLimits/limitManager.ts
  packages/core/getBusyTimes.ts
  packages/core/getUserAvailability.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/getEventTypesFromDB.ts
  packages/features/bookings/lib/handleNewBooking/global-booking-limits.test.ts
  packages/features/ee/teams/pages/team-booking-limits-view.tsx
  packages/features/eventtypes/components/tabs/limits/EventLimitsTab.tsx
  packages/features/settings/layouts/SettingsLayout.tsx
  packages/lib/server/checkBookingLimits.ts
  packages/lib/server/checkDurationLimits.ts
  packages/lib/server/queries/booking/index.ts
  packages/lib/server/queries/teams/index.ts
  packages/lib/server/repository/booking.ts
  packages/prisma/migrations/20240912150824_add_booking_limits_to_team/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/slots/util.ts
  packages/trpc/server/routers/viewer/teams/update.handler.ts
  packages/trpc/server/routers/viewer/teams/update.schema.ts
Labels: 🐛 bug, ✨ feature, ❗️ migrations, 🧹 Improvements, linear, Medium priority, High priority, teams, Stale, bookings, core, consumer, ready-for-e2e

#16777 fix: add booking limits to SettingsLayoutAppDirClient
  packages/features/settings/appDir/SettingsLayoutAppDirClient.tsx
Labels: bookings, ui, core, consumer, ready-for-e2e

#16783 fix: validate managed user timeFormat
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.e2e-spec.ts
  apps/api/v2/src/modules/users/inputs/create-managed-user.input.ts
Labels: platform, core, ready-for-e2e
