Repository calcom/cal.com, pull requests merged in 2024-07, with the labels that each got.

#15631 chore: Delete unused module
  packages/app-store/googlecalendar/components/ExistingGoogleCal.tsx
Labels: 🐛 bug, calendar-apps, 💻 refactor, community, ready-for-e2e

#15638 fix: make toast consistent with brand colour
  packages/ui/components/toast/showToast.tsx
Labels: 🐛 bug, ui, community, ready-for-e2e, community-interns

#15629 fix(@cal.com/web): update debounce logic to work correctly and not show non-premium usernames as premium
  apps/web/components/ui/UsernameAvailability/PremiumTextfield.tsx
  apps/web/components/ui/UsernameAvailability/UsernameTextfield.tsx
  apps/web/pages/signup.tsx
Labels: 🐛 bug, ui, community, ready-for-e2e

#13912 fix: Redirect URL with query params
  packages/lib/bookingSuccessRedirect.ts
Labels: 🐛 bug, ⚡ Quick Wins, Low priority, community, ready-for-e2e

#15637 fix: typo in german translation
  apps/web/public/static/locales/de/common.json
Labels: i18n, community, ready-for-e2e

#15626 refactor: remove duplicate object key in common.json
  apps/web/public/static/locales/en/common.json
Labels: 🐛 bug, 🧹 Improvements, i18n, community, ready-for-e2e

#15642 fix: passing booking id in the payload
  apps/web/playwright/bookings-list.e2e.ts
  packages/features/webhooks/lib/sendPayload.ts
  packages/trpc/server/routers/publicViewer/noShow.handler.ts
Labels: 🐛 bug, webhooks, core, consumer, ready-for-e2e

#15511 fix: Remove/Disable Duplicate button in Read Only mode of an event-type
  apps/web/modules/event-types/views/event-types-listing-view.tsx
  apps/web/playwright/event-types.e2e.ts
Labels: 🐛 bug, ✅ good first issue, Low priority, event-types, community, ready-for-e2e, community-interns

#15649 fix: toast message is not showing and some refactor
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/components/BookEventForm/BookEventForm.tsx
  packages/features/bookings/Booker/components/hooks/useVerifyEmail.ts
  packages/features/bookings/components/VerifyCodeDialog.tsx
Labels: 🐛 bug, bookings, community, ready-for-e2e, community-interns

#15654 fix: assignAllTeamMembers field wrongly set in db
  packages/trpc/server/routers/viewer/eventTypes/update.handler.ts
Labels: 🐛 bug, teams, event-types, community, ready-for-e2e

#15146 chore: update formbricks-js to newest version
  packages/lib/formbricks-client.ts
  packages/lib/package.json
  yarn.lock
Labels: ⬆️ dependencies, Medium priority, community, ready-for-e2e

#15617 fix: platform seed script
  packages/prisma/seed.ts
Labels: platform, core, ready-for-e2e

#15492 feat: embed: remove "Preview" tab and instead split code/preview layout 50/50 vertically
  apps/web/playwright/embed-code-generator.e2e.ts
  packages/features/embed/Embed.tsx
  packages/features/embed/lib/EmbedTabs.tsx
Labels: ✨ feature, 🧹 Improvements, ⚡ Quick Wins, Low priority, ui, embed, community, ready-for-e2e, community-interns

#15374 feat: v1 API - add sort option on GET /bookings
  apps/api/v1/lib/validations/booking.ts
  apps/api/v1/pages/api/bookings/_get.ts
Labels: ✨ feature, Low priority, api, community, ready-for-e2e, community-interns

#14872 chore: remove personal branding if in an org and use org branding
  apps/web/playwright/settings/upload-avatar.e2e.ts
  packages/features/ee/organizations/pages/settings/appearance.tsx
  packages/features/ee/organizations/pages/settings/profile.tsx
  packages/features/settings/layouts/SettingsLayout.tsx
  packages/ui/components/image-uploader/ImageUploader.tsx
Labels: 🐛 bug, ✨ feature, 🧹 Improvements, Medium priority, enterprise, organizations, ui, community, ready-for-e2e, community-interns

#15589 feat: RECORDING_TRANSCRIPTION_GENERATED webhook
  apps/web/lib/daily-webhook/getBooking.ts
  apps/web/lib/daily-webhook/getBookingReference.ts
  apps/web/lib/daily-webhook/getCalendarEvent.ts
  apps/web/lib/daily-webhook/schema.ts
  apps/web/lib/daily-webhook/tests/recorded-daily-video.test.ts
  apps/web/lib/daily-webhook/triggerWebhooks.ts
  apps/web/pages/api/recorded-daily-video.ts
  apps/web/public/static/locales/en/common.json
  packages/app-store/dailyvideo/lib/VideoApiAdapter.ts
  packages/app-store/dailyvideo/lib/index.ts
  packages/features/webhooks/components/WebhookForm.tsx
  packages/features/webhooks/lib/constants.ts
  packages/features/webhooks/lib/sendPayload.ts
  packages/lib/server/repository/bookingReference.ts
  packages/prisma/migrations/20240626191137_add_recording_transcription_ready_webhook/migration.sql
  packages/prisma/schema.prisma
Labels: ✨ feature, ❗️ migrations, High priority, webhooks, automated-tests, core, consumer, ready-for-e2e

#15675 fix: datePicker skeleton issue solved
  packages/features/calendars/DatePicker.tsx
Labels: 🐛 bug, ui, community, ready-for-e2e

#15685 fix: booker atom types
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
Labels: 🐛 bug, platform, core, ready-for-e2e

#15687 fix: remove assignment dialog
  apps/web/modules/event-types/views/event-types-single-view.tsx
Labels: 🐛 bug, event-types, core, consumer, ready-for-e2e

#15660 fix: 15636 Sort order of team event types incorrect
  packages/lib/server/queries/teams/index.ts
Labels: 🐛 bug, teams, community, ready-for-e2e

#15664 fix: Broken navigation after booking creation in some cases
  packages/app-store/routing-forms/pages/routing-link/[...appPages].tsx
  packages/lib/bookingSuccessRedirect.ts
  packages/lib/navigateInTopWindow.ts
Labels: ⚡ Quick Wins, Medium priority, routing-forms, bookings, embed, core, consumer, ready-for-e2e

#15465 fix: guests are not appearing on the booking page and made some improvements
  apps/web/components/booking/BookingListItem.tsx
Labels: 🐛 bug, 🧹 Improvements, community, ready-for-e2e, community-interns

#15193 feat: app install flow followup
  apps/web/components/apps/AppPage.tsx
  apps/web/components/apps/InstallAppButtonChild.tsx
  apps/web/components/apps/installation/AccountsStepCard.tsx
  apps/web/components/apps/installation/ConfigureStepCard.tsx
  apps/web/components/apps/installation/EventTypeAppSettingsWrapper.tsx
  apps/web/components/apps/installation/EventTypeConferencingAppSettings.tsx
  apps/web/components/eventtype/EventSetupTab.tsx
  apps/web/components/eventtype/Locations.tsx
  apps/web/components/ui/form/LocationSelect.tsx
  apps/web/lib/apps/getServerSideProps.tsx
  apps/web/modules/event-types/views/event-types-single-view.tsx
  apps/web/pages/api/integrations/[...args].ts
  apps/web/pages/apps/[slug]/index.tsx
  apps/web/pages/apps/installation/[[...step]].tsx
  apps/web/playwright/apps/analytics/analyticsApps.e2e.ts
  apps/web/playwright/apps/conferencing/conferencingApps.e2e.ts
  apps/web/playwright/event-types.e2e.ts
  apps/web/playwright/fixtures/apps.ts
  apps/web/playwright/lib/testUtils.ts
  apps/web/playwright/teams.e2e.ts
  packages/app-store/_appRegistry.ts
  packages/app-store/_components/OmniInstallAppButton.tsx
  packages/app-store/_utils/oauth/decodeOAuthState.ts
  packages/app-store/_utils/throwIfNotHaveAdminAccessToTeam.ts
  packages/app-store/_utils/useAddAppMutation.ts
  packages/app-store/around/api/_getAdd.ts
  packages/app-store/basecamp3/api/callback.ts
  packages/app-store/googlevideo/api/_getAdd.ts
  packages/app-store/huddle01video/api/add.ts
  packages/app-store/intercom/api/callback.ts
  packages/app-store/jelly/api/callback.ts
  packages/app-store/jitsivideo/api/add.ts
  packages/app-store/office365video/api/callback.ts
  packages/app-store/office365video/components/AccountDialog.tsx
  packages/app-store/ping/api/_getAdd.ts
  packages/app-store/riverside/api/_getAdd.ts
  packages/app-store/salesforce/api/callback.ts
  packages/app-store/server.ts
  packages/app-store/stripepayment/api/callback.ts
  packages/app-store/sylapsvideo/api/add.ts
  packages/app-store/tandemvideo/api/callback.ts
  packages/app-store/types.d.ts
  packages/app-store/utils.ts
  packages/app-store/webex/api/callback.ts
  packages/app-store/whereby/api/_getAdd.ts
  packages/app-store/zoho-bigin/api/callback.ts
  packages/app-store/zohocrm/api/callback.ts
  packages/app-store/zoomvideo/api/callback.ts
  packages/embeds/embed-core/src/useCompatSearchParams.tsx
  packages/features/ee/teams/lib/getUserAdminTeams.ts
  packages/features/eventtypes/lib/types.ts
  packages/lib/apps/getAppOnboardingUrl.ts
  packages/lib/server/repository/user.ts
  packages/trpc/server/routers/loggedInViewer/appCredentialsByType.handler.ts
  packages/ui/components/apps/AllApps.tsx
  packages/ui/components/apps/AppCard.tsx
  packages/ui/components/apps/appCard.test.tsx
Labels: ✨ feature, app-store, High priority, automated-tests, event-types, core, consumer, high-risk, ready-for-e2e

#15299 fix: Update stripe customer email when a user updates cal.com email
  apps/web/pages/api/auth/verify-email.ts
Labels: 🐛 bug, Low priority, billing, community, ready-for-e2e

#15602 fix: incorrect booking seats full error on collective seated event
  packages/features/bookings/lib/handleSeats/create/createNewSeat.ts
  packages/features/bookings/lib/handleSeats/test/handleSeats.test.ts
Labels: 🐛 bug, teams, bookings, seats, community, ready-for-e2e

#15612 refactor: handleNewBooking #3
  packages/features/bookings/lib/getBookingDataSchema.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/createBooking.ts
  packages/features/bookings/lib/handleNewBooking/ensureAvailableUsers.ts
  packages/features/bookings/lib/handleNewBooking/findBookingQuery.ts
  packages/features/bookings/lib/handleNewBooking/getBookingData.ts
  packages/features/bookings/lib/handleNewBooking/getOriginalRescheduledBooking.ts
  packages/features/bookings/lib/handleNewBooking/getRequiresConfirmationFlags.ts
  packages/features/bookings/lib/handleNewBooking/handleAppsStatus.ts
  packages/features/bookings/lib/handleNewBooking/loadUsers.ts
  packages/features/bookings/lib/handleNewBooking/types.ts
  packages/features/bookings/lib/handleSeats/create/createNewSeat.ts
  packages/features/bookings/lib/handleSeats/lib/lastAttendeeDeleteBooking.ts
  packages/features/bookings/lib/handleSeats/reschedule/attendee/attendeeRescheduleSeatedBooking.ts
  packages/features/bookings/lib/handleSeats/reschedule/owner/combineTwoSeatedBookings.ts
  packages/features/bookings/lib/handleSeats/reschedule/owner/moveSeatedBookingToNewTimeSlot.ts
  packages/features/bookings/lib/handleSeats/types.d.ts
  packages/features/instant-meeting/handleInstantMeeting.ts
  packages/lib/defaultEvents.ts
  packages/lib/getPaymentAppData.ts
Labels: bookings, core, 💻 refactor, consumer, ready-for-e2e

#15694 chore: add caching apiv2 roles guard
  apps/api/v2/src/modules/auth/guards/roles/roles.guard.ts
  apps/api/v2/src/modules/organizations/organizations.module.ts
  apps/api/v2/swagger/documentation.json
Labels: platform, core, ready-for-e2e

#15696 fix: 404s becoming 500s
  apps/web/app/not-found.tsx
Labels: 🐛 bug, High priority, core, foundation, ready-for-e2e

#15703 chore: v4.2.4
  apps/web/package.json
Labels: core, foundation, ready-for-e2e

#15669 fix: Rescheduling email when there is broken calendar integration
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/test/reschedule.test.ts
Labels: 🐛 bug, High priority, bookings, emails, core, calendar-apps, consumer, ready-for-e2e

#15702 fix: disable google-meet in user onboarding if google-calendar is not installed
  apps/web/components/getting-started/components/AppConnectionItem.tsx
  apps/web/components/getting-started/steps-views/ConnectedVideoStep.tsx
  packages/app-store/_appRegistry.ts
  packages/trpc/server/routers/loggedInViewer/integrations.handler.ts
  packages/ui/components/button/Button.tsx
Labels: 🐛 bug, app-store, 🧹 Improvements, Low priority, core, consumer, ready-for-e2e

#15376 fix: set conferencing apps as default
  apps/web/components/getting-started/components/AppConnectionItem.tsx
  apps/web/components/getting-started/steps-views/ConnectedVideoStep.tsx
  packages/app-store/_utils/useAddAppMutation.ts
  packages/app-store/components.tsx
  packages/trpc/server/routers/viewer/apps/_router.tsx
  packages/trpc/server/routers/viewer/apps/setDefaultConferencingApp.handler.ts
  packages/trpc/server/routers/viewer/apps/setDefaultConferencingApp.schema.ts
Labels: 🐛 bug, app-store, Medium priority, community, ready-for-e2e, community-interns

#15698 chore: add i18n to atoms
  packages/platform/atoms/cal-provider/BaseCalProvider.tsx
  packages/platform/atoms/cal-provider/CalProvider.tsx
  packages/platform/atoms/hooks/useAtomsContext.ts
Labels: platform, i18n, core, ready-for-e2e

#15690 feat: add POST end point to mark calls as no-shows
  apps/api/v2/package.json
  apps/api/v2/src/ee/bookings/controllers/bookings.controller.ts
  apps/api/v2/src/ee/bookings/inputs/mark-no-show.input.ts
  apps/api/v2/src/ee/bookings/outputs/mark-no-show.output.ts
  apps/web/components/booking/BookingListItem.tsx
  apps/web/modules/bookings/views/bookings-single-view.tsx
  packages/features/bookings/types.ts
  packages/features/handleMarkNoShow.ts
  packages/platform/libraries/index.ts
  packages/trpc/server/routers/publicViewer/noShow.handler.ts
  packages/trpc/server/routers/publicViewer/noShow.schema.ts
Labels: ✨ feature, High priority, bookings, api, core, consumer, ready-for-e2e

#15719 chore: cache org guard and fix roles guard apiv2
  apps/api/v2/src/modules/auth/guards/organizations/is-org.guard.ts
  apps/api/v2/src/modules/auth/guards/roles/roles.guard.ts
Labels: platform, api, core, ready-for-e2e

#15448 chore: sort calendar crendentials in event manager
  packages/core/EventManager.ts
Labels: 🐛 bug, High priority, core, calendar-apps, community, foundation, ready-for-e2e

#15711 fix: Text in Embed Code Visibility Fixed
  packages/features/embed/lib/EmbedTabs.tsx
Labels: 🐛 bug, Low priority, embed, community, ready-for-e2e

#15724 fix: api-v2 controllers e2e tests
  apps/api/v2/src/ee/bookings/controllers/bookings.controller.e2e-spec.ts
  apps/api/v2/src/ee/calendars/calendars.controller.e2e-spec.ts
  apps/api/v2/src/ee/gcal/gcal.controller.e2e-spec.ts
  apps/api/v2/src/modules/billing/services/billing.service.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-clients/oauth-clients.controller.e2e-spec.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-flow/oauth-flow.controller.e2e-spec.ts
  apps/api/v2/src/modules/organizations/controllers/teams/organizations-teams.controller.e2e-spec.ts
  apps/api/v2/src/modules/organizations/controllers/teams/organizations-teams.controller.ts
  apps/api/v2/src/modules/organizations/organizations.module.ts
  apps/api/v2/test/fixtures/repository/billing.repository.fixture.ts
  apps/api/v2/test/mocks/calendars-service-mock.ts
Labels: platform, automated-tests, api, core, ready-for-e2e

#15732 fix: remove console.log and tsignore apiv2
  apps/api/v2/src/ee/calendars/calendars.controller.e2e-spec.ts
  apps/api/v2/src/modules/billing/services/billing.service.ts
Labels: platform, api, core, ready-for-e2e

#15722 fix: event type back button
  apps/web/modules/event-types/views/event-types-single-view.tsx
Labels: 🐛 bug, event-types, core, consumer, ready-for-e2e

#15733 fix: api v2 unit tests
  apps/api/v2/src/modules/auth/guards/permissions/permissions.guard.spec.ts
  apps/api/v2/src/modules/auth/strategies/api-auth/api-auth.strategy.spec.ts
Labels: 🐛 bug, platform, automated-tests, api, core, ready-for-e2e

#15713 feat: Campsite conferencing app
  packages/app-store/apps.keys-schemas.generated.ts
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.schemas.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/bookerApps.metadata.generated.ts
  packages/app-store/campsite/DESCRIPTION.md
  packages/app-store/campsite/api/add.ts
  packages/app-store/campsite/api/callback.ts
  packages/app-store/campsite/api/index.ts
  packages/app-store/campsite/config.json
  packages/app-store/campsite/index.ts
  packages/app-store/campsite/lib/VideoApiAdapter.ts
  packages/app-store/campsite/lib/index.ts
  packages/app-store/campsite/package.json
  packages/app-store/campsite/static/1.png
  packages/app-store/campsite/static/2.png
  packages/app-store/campsite/static/3.png
  packages/app-store/campsite/static/icon.svg
  packages/app-store/campsite/zod.ts
  packages/app-store/index.ts
Labels: ✨ feature, app-store, authentication, community, ready-for-e2e

#15689 feat: `BookerEmbed` atom
  packages/platform/atoms/.env.example
  packages/platform/atoms/booker-embed/BookerEmbed.tsx
  packages/platform/atoms/booker-embed/index.ts
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
  packages/platform/atoms/index.ts
  packages/platform/examples/base/src/components/Navbar/index.tsx
  packages/platform/examples/base/src/pages/_app.tsx
  packages/platform/examples/base/src/pages/embed.tsx
Labels: ✨ feature, platform, core, ready-for-e2e

#15731 chore: [app-router-migration] - add missing getServerSideProps to /event-types
  apps/web/app/future/event-types/page.tsx
Labels: 🐛 bug, event-types, core, consumer, ready-for-e2e

#15730 fix: Ensure unique username in an organization
  packages/prisma/migrations/20240711080953_unique_username_in_org/migration.sql
  packages/prisma/schema.prisma
Labels: ❗️ migrations, organizations, core, consumer, ready-for-e2e

#15740 chore: add check for booking
  packages/features/bookings/Booker/components/hooks/useBookings.ts
  packages/trpc/server/routers/publicViewer/noShow.handler.ts
Labels: High priority, bookings, core, consumer, ready-for-e2e

#15543 fix: icon visibility and add up and down icons
  packages/features/ee/workflows/components/TimeTimeUnitInput.tsx
  packages/features/ee/workflows/lib/getOptions.ts
Labels: 🐛 bug, workflows, ui, community, ready-for-e2e

#15737 chore: readme platform libraries
  packages/features/auth/lib/getServerSession.ts
  packages/platform/libraries/README.md
Labels: platform, core, ready-for-e2e

#15746 chore: fix apiv2 org teams doc
  apps/api/v2/src/modules/organizations/controllers/schedules/organizations-schedules.controller.ts
  apps/api/v2/src/modules/organizations/controllers/teams/organizations-teams.controller.ts
  apps/api/v2/src/modules/organizations/outputs/organization-team.output.ts
  apps/api/v2/swagger/documentation.json
  packages/platform/types/api.ts
Labels: docs, platform, api, core, ready-for-e2e

#15766 chore: Update README.md
  README.md
Labels: docs, Medium priority, enterprise

#15771 chore: Release v4.3.0
  apps/web/package.json
Labels: core, foundation, ready-for-e2e

#15768 chore: platform libraries versions cleanup api v2
  apps/api/v2/package.json
  apps/api/v2/src/ee/bookings/controllers/bookings.controller.e2e-spec.ts
  apps/api/v2/src/ee/bookings/controllers/bookings.controller.ts
  apps/api/v2/src/ee/bookings/inputs/create-recurring-booking.input.ts
  apps/api/v2/src/ee/calendars/services/apple-calendar.service.ts
  apps/api/v2/src/ee/calendars/services/calendars.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/controllers/event-types.controller.e2e-spec.ts
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/controllers/event-types.controller.ts
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/event-types.repository.ts
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/services/event-types.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/event-types.repository.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/event-types.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/input-event-types.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/output-event-types.service.ts
  apps/api/v2/src/ee/schedules/schedules_2024_06_11/services/input-schedules.service.ts
  apps/api/v2/src/filters/trpc-exception.filter.ts
  apps/api/v2/src/modules/oauth-clients/services/oauth-clients-users.service.ts
  apps/api/v2/src/modules/slots/controllers/slots.controller.ts
  apps/api/v2/src/modules/slots/slots.repository.ts
  apps/api/v2/src/modules/timezones/controllers/timezones.controller.ts
  apps/api/v2/src/modules/timezones/services/timezones.service.ts
  packages/features/auth/lib/getServerSession.ts
  packages/platform/libraries/README.md
  packages/platform/libraries/index.ts
  packages/platform/libraries/package.json
Labels: platform, core, ready-for-e2e

#15777 fix: higher resolution Campsite icon
  packages/app-store/campsite/config.json
  packages/app-store/campsite/static/icon.png
  packages/app-store/campsite/static/icon.svg
Labels: app-store, community, ready-for-e2e

#15774 refactor: allow system admins to create event-type without membership
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/services/event-types.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/event-types.service.ts
  packages/trpc/server/routers/viewer/eventTypes/create.handler.ts
Labels: platform, automated-tests, event-types, core, ready-for-e2e

#15786 chore: add platform-libraries change log
  packages/platform/libraries/CHANGELOG.md
Labels: docs, platform, core, ready-for-e2e

#15386 fix: filter admin_api if org is present
  packages/features/settings/layouts/SettingsLayout.tsx
Labels: 🐛 bug, Low priority, api, organizations, community, ready-for-e2e

#15753 fix: #15749 Display availability page as per weekstart setting
  apps/web/components/eventtype/EventAvailabilityTab.tsx
  apps/web/pages/availability/index.tsx
  packages/features/schedules/components/ScheduleListItem.tsx
  packages/lib/weekstart.test.ts
  packages/lib/weekstart.ts
  packages/platform/atoms/availability/AvailabilitySettings.tsx
  packages/platform/atoms/availability/wrappers/AvailabilitySettingsPlatformWrapper.tsx
Labels: 🐛 bug, ui, core, community, ready-for-e2e

#15760 feat: allow passing initial data props to calendar connectors
  packages/platform/atoms/connect/OAuthConnect.tsx
  packages/platform/atoms/connect/apple/AppleConnect.tsx
  packages/platform/atoms/connect/google/GcalConnect.tsx
  packages/platform/atoms/connect/outlook/OutlookConnect.tsx
  packages/platform/atoms/hooks/connect/useCheck.ts
Labels: ✨ feature, 🧹 Improvements, core, ready-for-e2e

#15765 chore: Update /ee README.md
  packages/features/ee/README.md
Labels: docs, ready-for-e2e

#15454 feat: Fix Proton Calendar with ICS
  apps/web/public/static/locales/en/common.json
  packages/app-store/ics-feedcalendar/api/add.ts
  packages/app-store/ics-feedcalendar/lib/CalendarService.ts
  packages/app-store/ics-feedcalendar/pages/setup/index.tsx
Labels: ✨ feature, app-store, Medium priority, 💎 Bounty, caldav, booking-page, 🙋 Bounty claim, community, ready-for-e2e

#15779 fix: creating organization team should add owner
  apps/api/v2/src/modules/memberships/memberships.repository.ts
  apps/api/v2/src/modules/organizations/controllers/teams/organizations-teams.controller.e2e-spec.ts
  apps/api/v2/src/modules/organizations/controllers/teams/organizations-teams.controller.ts
  apps/api/v2/src/modules/organizations/services/organizations-teams.service.ts
  apps/api/v2/test/fixtures/repository/membership.repository.fixture.ts
Labels: platform, core, ready-for-e2e

#15739 feat: API org user scope
  apps/api/v2/src/modules/email/email.module.ts
  apps/api/v2/src/modules/email/email.service.ts
  apps/api/v2/src/modules/organizations/controllers/users/organizations-users.controller.ts
  apps/api/v2/src/modules/organizations/controllers/users/organizations-users.e2e-spec.ts
  apps/api/v2/src/modules/organizations/inputs/create-organization-user.input.ts
  apps/api/v2/src/modules/organizations/inputs/get-organization-users.input.ts
  apps/api/v2/src/modules/organizations/inputs/update-organization-user.input.ts
  apps/api/v2/src/modules/organizations/organizations.module.ts
  apps/api/v2/src/modules/organizations/outputs/get-organization-users.output.ts
  apps/api/v2/src/modules/organizations/repositories/organizations-users.repository.ts
  apps/api/v2/src/modules/organizations/services/organizations-users-service.ts
  apps/api/v2/src/modules/users/inputs/create-user.input.ts
  apps/api/v2/src/modules/users/inputs/get-users.input.ts
  apps/api/v2/src/modules/users/inputs/update-user.input.ts
  apps/api/v2/src/modules/users/outputs/get-users.output.ts
  apps/api/v2/src/modules/users/validators/avatarValidator.ts
  apps/api/v2/src/modules/users/validators/isEmailStringOrArray.ts
  apps/api/v2/src/modules/users/validators/localeValidator.ts
  apps/api/v2/src/modules/users/validators/themeValidator.ts
  apps/api/v2/src/modules/users/validators/timeFormatValidator.ts
  apps/api/v2/src/modules/users/validators/timeZoneValidator.ts
  apps/api/v2/src/modules/users/validators/weekdayValidator.ts
  apps/api/v2/swagger/documentation.json
Labels: ✨ feature, api, organizations, core, consumer, ready-for-e2e

#15792 docs(contributing): change fork link
  CONTRIBUTING.md
Labels: docs, Low priority, community

#15793 chore: removed cal.ai email assistant
  apps/ai/.env.example
  apps/ai/README.md
  apps/ai/next-env.d.ts
  apps/ai/next.config.js
  apps/ai/package.json
  apps/ai/src/app/api/agent/route.ts
  apps/ai/src/app/api/onboard/route.ts
  apps/ai/src/app/api/receive/route.ts
  apps/ai/src/env.mjs
  apps/ai/src/public/architecture.png
  apps/ai/src/tools/createBooking.ts
  apps/ai/src/tools/deleteBooking.ts
  apps/ai/src/tools/getAvailability.ts
  apps/ai/src/tools/getBookings.ts
  apps/ai/src/tools/getEventTypes.ts
  apps/ai/src/tools/sendBookingEmail.ts
  apps/ai/src/tools/updateBooking.ts
  apps/ai/src/types/availability.ts
  apps/ai/src/types/booking.ts
  apps/ai/src/types/eventType.ts
  apps/ai/src/types/user.ts
  apps/ai/src/types/workingHours.ts
  apps/ai/src/utils/agent.ts
  apps/ai/src/utils/context.ts
  apps/ai/src/utils/extractUsers.ts
  apps/ai/src/utils/host.ts
  apps/ai/src/utils/now.ts
  apps/ai/src/utils/sendEmail.ts
  apps/ai/src/utils/verifyParseKey.ts
  apps/ai/tsconfig.json
  packages/app-store/apps.browser.generated.tsx
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/cal-ai/DESCRIPTION.md
  packages/app-store/cal-ai/api/_getAdd.ts
  packages/app-store/cal-ai/api/_getCallback.ts
  packages/app-store/cal-ai/api/add.ts
  packages/app-store/cal-ai/api/callback.ts
  packages/app-store/cal-ai/api/index.ts
  packages/app-store/cal-ai/components/AppSettingsInterface.tsx
  packages/app-store/cal-ai/config.json
  packages/app-store/cal-ai/index.ts
  packages/app-store/cal-ai/package.json
  packages/app-store/cal-ai/static/1.jpg
  packages/app-store/cal-ai/static/2.jpg
  packages/app-store/cal-ai/static/3.jpg
  packages/app-store/cal-ai/static/4.jpg
  packages/app-store/cal-ai/static/5.jpg
  packages/app-store/cal-ai/static/icon.png
Labels: Low priority, ai, ready-for-e2e

#15798 fix: booker readded border
  packages/features/bookings/Booker/Booker.tsx
Labels: 🐛 bug, ⚡ Quick Wins, Low priority, ui, ready-for-e2e

#15796 fix: fetch workflows on the backend
  apps/web/modules/event-types/views/event-types-single-view.tsx
  packages/lib/event-types/getEventTypeById.ts
  packages/lib/server/repository/eventType.ts
  packages/trpc/server/routers/viewer/workflows/getAllActiveWorkflows.handler.ts
  packages/trpc/server/routers/viewer/workflows/getAllActiveWorkflows.schema.ts
  packages/trpc/server/routers/viewer/workflows/util.ts
Labels: 🐛 bug, High priority, workflows, core, 🚨 urgent, consumer, ready-for-e2e

#15807 fix: Add signout button on onboarding screen
  apps/web/pages/getting-started/[[...step]].tsx
Labels: 🐛 bug, ✨ feature, 🧹 Improvements, Low priority, ui, community, ready-for-e2e

#15808 fix: findOrgUser use profiles instead of organizationId apiv2
  apps/api/v2/src/modules/organizations/organizations.repository.ts
Labels: platform, organizations, core, ready-for-e2e

#15794 chore: set managed user locale via api v2
  apps/api/v2/src/lib/enums/locales.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.e2e-spec.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/outputs/managed-user.output.ts
  apps/api/v2/src/modules/oauth-clients/services/oauth-clients-users.service.ts
  apps/api/v2/src/modules/users/inputs/create-managed-user.input.ts
  apps/api/v2/src/modules/users/inputs/update-managed-user.input.ts
  apps/api/v2/swagger/documentation.json
Labels: platform, api, core, ready-for-e2e

#15578 feat: V2 Org Memberships
  apps/api/v2/src/modules/auth/decorators/get-membership/get-membership.decorator.ts
  apps/api/v2/src/modules/auth/guards/memberships/is-membership-in-org.guard.ts
  apps/api/v2/src/modules/organizations/controllers/memberships/organizations-membership.controller.e2e-spec.ts
  apps/api/v2/src/modules/organizations/controllers/memberships/organizations-membership.controller.ts
  apps/api/v2/src/modules/organizations/inputs/create-organization-membership.input.ts
  apps/api/v2/src/modules/organizations/inputs/update-organization-membership.input.ts
  apps/api/v2/src/modules/organizations/organizations.module.ts
  apps/api/v2/src/modules/organizations/outputs/organization-membership/create-membership.output.ts
  apps/api/v2/src/modules/organizations/outputs/organization-membership/delete-membership.output.ts
  apps/api/v2/src/modules/organizations/outputs/organization-membership/get-all-memberships.output.ts
  apps/api/v2/src/modules/organizations/outputs/organization-membership/get-membership.output.ts
  apps/api/v2/src/modules/organizations/outputs/organization-membership/membership.output.ts
  apps/api/v2/src/modules/organizations/outputs/organization-membership/update-membership.output.ts
  apps/api/v2/src/modules/organizations/repositories/organizations-membership.repository.ts
  apps/api/v2/src/modules/organizations/services/organizations-membership.service.ts
  apps/api/v2/swagger/documentation.json
  packages/prisma/schema.prisma
Labels: ✨ feature, platform, api, organizations, core, ready-for-e2e

#14982 chore: Introduce a new class WebAppURL that extends URL
  apps/web/app/WithEmbedSSR.tsx
  apps/web/lib/withEmbedSsr.tsx
  packages/lib/WebAppURL.ts
Labels: ✨ feature, Low priority, 💻 refactor, community, ready-for-e2e, community-interns

#15780 feat: Salesforce - Disable creating new contacts
  apps/web/public/static/locales/en/common.json
  packages/app-store/salesforce/components/EventTypeAppCardInterface.tsx
  packages/app-store/salesforce/zod.ts
  packages/core/EventManager.ts
  packages/core/crmManager/crmManager.ts
  packages/features/bookings/lib/handleConfirmation.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleSeats/create/createNewSeat.ts
  packages/features/ee/payments/api/webhook.ts
  packages/lib/payment/handlePaymentSuccess.ts
Labels: ✨ feature, High priority, enterprise, core, crm-apps, consumer, ready-for-e2e

#15817 chore: v4.3.1
  apps/web/package.json
Labels: core, foundation, ready-for-e2e

#15823 revert: "chore: removed cal.ai email assistant (#15793)"
  apps/ai/.env.example
  apps/ai/README.md
  apps/ai/next-env.d.ts
  apps/ai/next.config.js
  apps/ai/package.json
  apps/ai/src/app/api/agent/route.ts
  apps/ai/src/app/api/onboard/route.ts
  apps/ai/src/app/api/receive/route.ts
  apps/ai/src/env.mjs
  apps/ai/src/public/architecture.png
  apps/ai/src/tools/createBooking.ts
  apps/ai/src/tools/deleteBooking.ts
  apps/ai/src/tools/getAvailability.ts
  apps/ai/src/tools/getBookings.ts
  apps/ai/src/tools/getEventTypes.ts
  apps/ai/src/tools/sendBookingEmail.ts
  apps/ai/src/tools/updateBooking.ts
  apps/ai/src/types/availability.ts
  apps/ai/src/types/booking.ts
  apps/ai/src/types/eventType.ts
  apps/ai/src/types/user.ts
  apps/ai/src/types/workingHours.ts
  apps/ai/src/utils/agent.ts
  apps/ai/src/utils/context.ts
  apps/ai/src/utils/extractUsers.ts
  apps/ai/src/utils/host.ts
  apps/ai/src/utils/now.ts
  apps/ai/src/utils/sendEmail.ts
  apps/ai/src/utils/verifyParseKey.ts
  apps/ai/tsconfig.json
  packages/app-store/apps.browser.generated.tsx
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/cal-ai/DESCRIPTION.md
  packages/app-store/cal-ai/api/_getAdd.ts
  packages/app-store/cal-ai/api/_getCallback.ts
  packages/app-store/cal-ai/api/add.ts
  packages/app-store/cal-ai/api/callback.ts
  packages/app-store/cal-ai/api/index.ts
  packages/app-store/cal-ai/components/AppSettingsInterface.tsx
  packages/app-store/cal-ai/config.json
  packages/app-store/cal-ai/index.ts
  packages/app-store/cal-ai/package.json
  packages/app-store/cal-ai/static/1.jpg
  packages/app-store/cal-ai/static/2.jpg
  packages/app-store/cal-ai/static/3.jpg
  packages/app-store/cal-ai/static/4.jpg
  packages/app-store/cal-ai/static/5.jpg
  packages/app-store/cal-ai/static/icon.png
Labels: core, ai, foundation, ready-for-e2e

#15557 feat: [CAL-3939] fix org banner
  packages/features/ee/organizations/README.md
  packages/features/ee/organizations/pages/settings/profile.tsx
  packages/ui/components/organization-banner/OrgBanner.test.tsx
  packages/ui/components/organization-banner/OrgBanner.tsx
  packages/ui/components/organization-banner/index.ts
  packages/ui/index.tsx
Labels: ✨ feature, 🙋🏻‍♂️help wanted, ⚡ Quick Wins, Low priority, enterprise, organizations, ui, community, ready-for-e2e

#15818 chore: update translation
  apps/web/components/eventtype/EventLimitsTab.tsx
  apps/web/public/static/locales/de/common.json
  apps/web/public/static/locales/en/common.json
  apps/web/public/static/locales/fr/common.json
  apps/web/public/static/locales/he/common.json
  apps/web/public/static/locales/hu/common.json
  apps/web/public/static/locales/it/common.json
  apps/web/public/static/locales/pt-BR/common.json
  apps/web/public/static/locales/pt/common.json
  apps/web/public/static/locales/zh-CN/common.json
Labels: 🧹 Improvements, i18n, core, consumer, ready-for-e2e

#15830 fix: PATCH /me formatted timezone incorrectly
  apps/api/v2/src/ee/me/me.controller.e2e-spec.ts
  apps/api/v2/src/ee/me/me.controller.ts
  apps/api/v2/src/modules/users/users.repository.ts
Labels: 🐛 bug, platform, api, core, ready-for-e2e

#15831 fix: revert libraries version event-types controller apiv2
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/controllers/event-types.controller.ts
Labels: 🐛 bug, platform, event-types, core, ready-for-e2e

#15291 fix: system default theme for dashboard and booking page
  apps/web/pages/settings/my-account/appearance.tsx
  packages/features/ee/organizations/pages/settings/appearance.tsx
  packages/features/ee/teams/pages/team-appearance-view.tsx
  packages/lib/hooks/useTheme.tsx
Labels: 🐛 bug, Low priority, ui, community, ready-for-e2e

#15820 feat: api v2 org team memberships endpoints
  apps/api/v2/src/modules/organizations/controllers/memberships/organizations-membership.controller.e2e-spec.ts
  apps/api/v2/src/modules/organizations/controllers/teams/memberships/organizations-teams-memberships.controller.e2e-spec.ts
  apps/api/v2/src/modules/organizations/controllers/teams/memberships/organizations-teams-memberships.controller.ts
  apps/api/v2/src/modules/organizations/inputs/create-organization-team-membership.input.ts
  apps/api/v2/src/modules/organizations/inputs/update-organization-team-membership.input.ts
  apps/api/v2/src/modules/organizations/organizations.module.ts
  apps/api/v2/src/modules/organizations/outputs/organization-teams-memberships.output.ts
  apps/api/v2/src/modules/organizations/repositories/organizations-teams-memberships.repository.ts
  apps/api/v2/src/modules/organizations/services/organizations-membership.service.ts
  apps/api/v2/src/modules/organizations/services/organizations-teams-memberships.service.ts
  apps/api/v2/swagger/documentation.json
Labels: ✨ feature, platform, api, core, ready-for-e2e

#15827 fix(website): fix sitemap by adding prisma env var
  turbo.json
Labels: ❗️ .env changes, core, community, ready-for-e2e

#15616 fix: multiple getSchedule requests on email change in booker
  packages/platform/atoms/booker/BookerWebWrapper.tsx
Labels: 🐛 bug, Medium priority, bookings, booking-page, performance, core, community, ready-for-e2e

#15837 fix: api-auth-strategy tests are e2e apiv2
  apps/api/v2/src/modules/auth/strategies/api-auth/api-auth.strategy.e2e-spec.ts
Labels: platform, automated-tests, core, ready-for-e2e

#15775 feat: v2 organizations event types endpoints
  apps/api/v2/package.json
  apps/api/v2/src/ee/bookings/controllers/bookings.controller.e2e-spec.ts
  apps/api/v2/src/ee/bookings/controllers/bookings.controller.ts
  apps/api/v2/src/ee/bookings/inputs/create-recurring-booking.input.ts
  apps/api/v2/src/ee/calendars/services/apple-calendar.service.ts
  apps/api/v2/src/ee/calendars/services/calendars.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/controllers/event-types.controller.e2e-spec.ts
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/event-types.repository.ts
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/services/event-types.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/event-types.module.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/event-types.repository.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/event-types.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/input-event-types.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/output-event-types.service.ts
  apps/api/v2/src/ee/schedules/schedules_2024_06_11/services/input-schedules.service.ts
  apps/api/v2/src/filters/trpc-exception.filter.ts
  apps/api/v2/src/modules/email/email.service.ts
  apps/api/v2/src/modules/oauth-clients/services/oauth-clients-users.service.ts
  apps/api/v2/src/modules/organizations/controllers/event-types/organizations-event-types.controller.ts
  apps/api/v2/src/modules/organizations/controllers/event-types/organizations-event-types.e2e-spec.ts
  apps/api/v2/src/modules/organizations/controllers/event-types/outputs/teams/create-team-event-type.output.ts
  apps/api/v2/src/modules/organizations/controllers/event-types/outputs/teams/delete-team-event-type.output.ts
  apps/api/v2/src/modules/organizations/controllers/event-types/outputs/teams/get-team-event-type.output.ts
  apps/api/v2/src/modules/organizations/controllers/event-types/outputs/teams/get-team-event-types.output.ts
  apps/api/v2/src/modules/organizations/controllers/event-types/outputs/teams/update-team-event-type.output.ts
  apps/api/v2/src/modules/organizations/organizations.module.ts
  apps/api/v2/src/modules/organizations/repositories/organizations-event-types.repository.ts
  apps/api/v2/src/modules/organizations/repositories/organizations-teams.repository.ts
  apps/api/v2/src/modules/organizations/services/event-types/input.service.ts
  apps/api/v2/src/modules/organizations/services/event-types/organizations-event-types.service.ts
  apps/api/v2/src/modules/organizations/services/event-types/output.service.ts
  apps/api/v2/src/modules/organizations/services/organizations-users-service.ts
  apps/api/v2/src/modules/slots/controllers/slots.controller.ts
  apps/api/v2/src/modules/slots/slots.repository.ts
  apps/api/v2/src/modules/timezones/controllers/timezones.controller.ts
  apps/api/v2/src/modules/timezones/services/timezones.service.ts
  apps/api/v2/src/modules/users/users.repository.ts
  apps/api/v2/swagger/documentation.json
  apps/api/v2/test/fixtures/repository/event-types.repository.fixture.ts
  apps/api/v2/test/mocks/api-auth-mock.strategy.ts
  packages/platform/types/api.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/create-event-type.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/update-event-type.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/outputs/event-type.output.ts
  yarn.lock
Labels: ✨ feature, platform, api, organizations, event-types, core, ready-for-e2e

#15838 fix: TimeZone select should show the selected timezone
  packages/features/bookings/Booker/components/EventMeta.tsx
Labels: 🐛 bug, ui, community, ready-for-e2e

#15705 feat: Add a fresh signup to matching organization after email verification
  apps/api/v1/pages/api/invites/_post.ts
  apps/web/pages/api/auth/verify-email.test.ts
  apps/web/pages/api/auth/verify-email.ts
  packages/features/ee/teams/components/AddNewTeamMembers.tsx
  packages/features/users/components/UserTable/InviteMemberModal.tsx
  packages/lib/server/repository/__mocks__/organization.ts
  packages/lib/server/repository/organization.test.ts
  packages/lib/server/repository/organization.ts
  packages/trpc/server/routers/viewer/organizations/createTeams.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/__mocks__/inviteMemberUtils.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMember.handler.test.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMember.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMember.schema.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/utils.ts
Labels: ✨ feature, High priority, teams, ❓ needs spec, organizations, authentication, core, consumer, ready-for-e2e

#15762 fix: added translations for et
  apps/web/public/static/locales/et/common.json
  packages/config/next-i18next.config.js
Labels: i18n, community, ready-for-e2e

#15855 fix: added fix for email title for issue# 15848
  packages/emails/templates/attendee-scheduled-email.ts
  packages/emails/templates/organizer-scheduled-email.ts
Labels: 🐛 bug, emails, community, ready-for-e2e

#15835 fix: Text in React Embed Code Becomes Invisible on Selection
  packages/features/embed/lib/EmbedTabs.tsx
Labels: 🐛 bug, embed, community, ready-for-e2e

#15841 chore: Add transition effects in UI components
  packages/features/settings/layouts/SettingsLayout.tsx
  packages/features/settings/layouts/SettingsLayoutAppDir.tsx
  packages/ui/components/apps/AllApps.tsx
  packages/ui/components/card/Card.tsx
  packages/ui/components/editor/Editor.tsx
  packages/ui/components/form/inputs/TextField.tsx
  packages/ui/components/form/switch/Switch.tsx
  packages/ui/components/form/toggleGroup/ToggleGroup.tsx
Labels: 🧹 Improvements, community, ready-for-e2e

#15834 fix: Fix React cal api namespaced usage
  apps/web/playwright/embed-code-generator.e2e.ts
  packages/features/embed/lib/EmbedCodes.tsx
  packages/features/embed/lib/EmbedTabs.tsx
  packages/features/embed/lib/getApiName.test.tsx
  packages/features/embed/lib/getApiName.tsx
Labels: 🐛 bug, Medium priority, embed, core, consumer, ready-for-e2e

#15803 feat: v2 API enable updating event type schedule
  apps/api/v2/package.json
  apps/api/v2/src/ee/bookings/controllers/bookings.controller.e2e-spec.ts
  apps/api/v2/src/ee/bookings/controllers/bookings.controller.ts
  apps/api/v2/src/ee/bookings/inputs/create-recurring-booking.input.ts
  apps/api/v2/src/ee/calendars/services/apple-calendar.service.ts
  apps/api/v2/src/ee/calendars/services/calendars.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/controllers/event-types.controller.e2e-spec.ts
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/controllers/event-types.controller.ts
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/event-types.repository.ts
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/services/event-types.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/controllers/event-types.controller.e2e-spec.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/event-types.module.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/event-types.repository.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/event-types.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/input-event-types.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/output-event-types.service.ts
  apps/api/v2/src/ee/schedules/schedules_2024_06_11/schedules.repository.ts
  apps/api/v2/src/ee/schedules/schedules_2024_06_11/services/input-schedules.service.ts
  apps/api/v2/src/filters/trpc-exception.filter.ts
  apps/api/v2/src/modules/email/email.service.ts
  apps/api/v2/src/modules/oauth-clients/services/oauth-clients-users.service.ts
  apps/api/v2/src/modules/organizations/controllers/event-types/organizations-event-types.e2e-spec.ts
  apps/api/v2/src/modules/organizations/services/event-types/organizations-event-types.service.ts
  apps/api/v2/src/modules/organizations/services/event-types/output.service.ts
  apps/api/v2/src/modules/organizations/services/organizations-users-service.ts
  apps/api/v2/src/modules/slots/controllers/slots.controller.ts
  apps/api/v2/src/modules/slots/slots.repository.ts
  apps/api/v2/src/modules/timezones/controllers/timezones.controller.ts
  apps/api/v2/src/modules/timezones/services/timezones.service.ts
  apps/api/v2/swagger/documentation.json
  apps/api/v2/test/fixtures/repository/schedules.repository.fixture.ts
  packages/platform/libraries/CHANGELOG.md
  packages/platform/types/event-types/event-types_2024_06_14/inputs/create-event-type.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/update-event-type.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/outputs/event-type.output.ts
  packages/prisma/zod/custom/eventtype.ts
  packages/trpc/server/routers/viewer/eventTypes/create.handler.ts
  yarn.lock
Labels: ✨ feature, platform, api, core, ready-for-e2e

#15761 feat: api endpoints for calendar settings atom
  apps/api/v2/src/ee/calendars/calendars.module.ts
  apps/api/v2/src/ee/calendars/calendars.repository.ts
  apps/api/v2/src/ee/calendars/controllers/calendars.controller.e2e-spec.ts
  apps/api/v2/src/ee/calendars/controllers/calendars.controller.ts
  apps/api/v2/src/ee/calendars/outputs/delete-calendar-credentials.output.ts
  apps/api/v2/src/ee/calendars/services/calendars.service.ts
  apps/api/v2/src/ee/gcal/gcal.module.ts
  apps/api/v2/src/modules/selected-calendars/controllers/selected-calendars.controller.e2e-spec.ts
  apps/api/v2/src/modules/selected-calendars/controllers/selected-calendars.controller.ts
  apps/api/v2/src/modules/selected-calendars/inputs/selected-calendars.input.ts
  apps/api/v2/src/modules/selected-calendars/outputs/selected-calendars.output.ts
  apps/api/v2/src/modules/selected-calendars/selected-calendars.module.ts
  apps/api/v2/src/modules/selected-calendars/selected-calendars.repository.ts
  packages/platform/atoms/hooks/calendars/useAddSelectedCalendar.ts
  packages/platform/atoms/hooks/calendars/useDeleteCalendarCredentials.ts
  packages/platform/atoms/hooks/calendars/useRemoveSelectedCalendar.ts
  packages/platform/atoms/index.ts
Labels: ✨ feature, platform, api, core, ready-for-e2e

#14751 feat: skype app added
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/bookerApps.metadata.generated.ts
  packages/app-store/skype/DESCRIPTION.md
  packages/app-store/skype/api/add.ts
  packages/app-store/skype/api/index.ts
  packages/app-store/skype/config.json
  packages/app-store/skype/index.ts
  packages/app-store/skype/package.json
  packages/app-store/skype/static/1.jpeg
  packages/app-store/skype/static/2.jpeg
  packages/app-store/skype/static/3.jpeg
  packages/app-store/skype/static/icon.svg
Labels: ✨ feature, app-store, Low priority, community, ready-for-e2e, community-interns

#15856 test: Create 4 test cases to POST Attendees
  apps/api/v1/test/lib/attendees/_post.test.ts
Labels: automated-tests, api, community, ready-for-e2e

#15875 chore: add cleanup to api auth strategy e2e test apiv2
  apps/api/v2/src/modules/auth/strategies/api-auth/api-auth.strategy.e2e-spec.ts
Labels: platform, automated-tests, core, ready-for-e2e

#15876 chore: updated bug_report.md template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: ready-for-e2e

#15866 refactor: auto-accept membership for v2 org team creator
  apps/api/v2/src/modules/memberships/memberships.repository.ts
  apps/api/v2/src/modules/organizations/services/organizations-teams.service.ts
Labels: teams, platform, organizations, core, ready-for-e2e

#15211 feat: Link to rescheduled booking from the old one
  apps/web/modules/bookings/views/bookings-single-view.getServerSideProps.tsx
  apps/web/modules/bookings/views/bookings-single-view.test.tsx
  apps/web/modules/bookings/views/bookings-single-view.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/lib/getUserBooking.ts
  packages/lib/server/repository/booking.ts
Labels: 🐛 bug, ✨ feature, Medium priority, bookings, booking-page, emails, 🚨 needs approval, community, ready-for-e2e, community-interns

#15877 chore: updated feature_request.md template
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: core, ready-for-e2e

#15879 chore: v4.3.2
  apps/web/package.json
Labels: High priority, core, foundation, ready-for-e2e

#15882 fix: Update component order, props for Link in user-public-view
  apps/web/modules/users/views/users-public-view.tsx
Labels: 🧹 Improvements, ui, community, ready-for-e2e

#15886 refactor: v2 organizations event-types e2e tests
  apps/api/v2/src/modules/organizations/controllers/event-types/organizations-event-types.e2e-spec.ts
Labels: platform, event-types, core, 💻 refactor, ready-for-e2e

#15865 chore: Add v2 API test suite
  .github/workflows/e2e-api-v2.yml
  .github/workflows/pr.yml
  .github/workflows/unit-tests.yml
  apps/api/v2/package.json
  apps/api/v2/src/ee/calendars/controllers/calendars.controller.e2e-spec.ts
  apps/api/v2/src/modules/oauth-clients/guards/oauth-client-credentials/oauth-client-credentials.guard.e2e-spec.ts
Labels: Medium priority, automated-tests, api, ci, core, foundation, ready-for-e2e

#15880 chore: Remove unit tests from running after crowd in
  .github/workflows/api-v1-production-build.yml
  .github/workflows/api-v2-production-build.yml
  .github/workflows/check-types.yml
  .github/workflows/e2e-app-store.yml
  .github/workflows/e2e-embed-react.yml
  .github/workflows/e2e-embed.yml
  .github/workflows/e2e.yml
  .github/workflows/integration-tests.yml
  .github/workflows/lint.yml
  .github/workflows/nextjs-bundle-analysis.yml
  .github/workflows/pr.yml
  .github/workflows/pre-release.yml
  .github/workflows/production-build-without-database.yml
  .github/workflows/unit-tests.yml
  .github/workflows/yarn-install.yml
Labels: automated-tests, ci, core, foundation, ready-for-e2e

#15873 test: test cases for POST selected-calendars
  apps/api/v1/test/lib/selected-calendars/_post.test.ts
Labels: automated-tests, api, community, ready-for-e2e

#15878 fix: Change conferencing app-store URL on event types and bookings pages
  apps/web/components/dialog/EditLocationDialog.tsx
  apps/web/components/eventtype/Locations.tsx
  apps/web/public/static/locales/ar/common.json
  apps/web/public/static/locales/cs/common.json
  apps/web/public/static/locales/da/common.json
  apps/web/public/static/locales/de/common.json
  apps/web/public/static/locales/en/common.json
  apps/web/public/static/locales/es/common.json
  apps/web/public/static/locales/et/common.json
  apps/web/public/static/locales/fr/common.json
  apps/web/public/static/locales/he/common.json
  apps/web/public/static/locales/hu/common.json
  apps/web/public/static/locales/it/common.json
  apps/web/public/static/locales/ja/common.json
  apps/web/public/static/locales/ko/common.json
  apps/web/public/static/locales/nl/common.json
  apps/web/public/static/locales/no/common.json
  apps/web/public/static/locales/pl/common.json
  apps/web/public/static/locales/pt-BR/common.json
  apps/web/public/static/locales/pt/common.json
  apps/web/public/static/locales/ro/common.json
  apps/web/public/static/locales/ru/common.json
  apps/web/public/static/locales/sr/common.json
  apps/web/public/static/locales/sv/common.json
  apps/web/public/static/locales/tr/common.json
  apps/web/public/static/locales/uk/common.json
  apps/web/public/static/locales/vi/common.json
  apps/web/public/static/locales/zh-CN/common.json
  apps/web/public/static/locales/zh-TW/common.json
Labels: app-store, ⚡ Quick Wins, Low priority, 💎 Bounty, event-types, 🙋 Bounty claim, community, ready-for-e2e

#15890 fix: edit button in availability page does not work on small screen #15888
  packages/ui/components/editable-heading/EditableHeading.tsx
Labels: 🐛 bug, ui, community, ready-for-e2e

#15085 chore: platform api usage based billing using queue
  apps/api/v2/.env.example
  apps/api/v2/jest-e2e.json
  apps/api/v2/package.json
  apps/api/v2/src/app.module.ts
  apps/api/v2/src/ee/bookings/controllers/bookings.controller.e2e-spec.ts
  apps/api/v2/src/ee/bookings/controllers/bookings.controller.ts
  apps/api/v2/src/ee/bookings/inputs/create-recurring-booking.input.ts
  apps/api/v2/src/ee/calendars/services/apple-calendar.service.ts
  apps/api/v2/src/ee/calendars/services/calendars.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/controllers/event-types.controller.e2e-spec.ts
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/event-types.repository.ts
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/services/event-types.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/event-types.repository.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/event-types.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/input-event-types.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/output-event-types.service.ts
  apps/api/v2/src/ee/schedules/schedules_2024_06_11/services/input-schedules.service.ts
  apps/api/v2/src/filters/trpc-exception.filter.ts
  apps/api/v2/src/modules/billing/billing.module.ts
  apps/api/v2/src/modules/billing/billing.processor.ts
  apps/api/v2/src/modules/billing/services/billing.config.service.ts
  apps/api/v2/src/modules/billing/services/billing.service.ts
  apps/api/v2/src/modules/email/email.service.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-clients/oauth-clients.controller.e2e-spec.ts
  apps/api/v2/src/modules/oauth-clients/services/oauth-clients-users.service.ts
  apps/api/v2/src/modules/organizations/organizations.repository.ts
  apps/api/v2/src/modules/organizations/services/event-types/organizations-event-types.service.ts
  apps/api/v2/src/modules/organizations/services/organizations-users-service.ts
  apps/api/v2/src/modules/redis/redis.service.ts
  apps/api/v2/src/modules/slots/controllers/slots.controller.ts
  apps/api/v2/src/modules/slots/slots.repository.ts
  apps/api/v2/src/modules/timezones/controllers/timezones.controller.ts
  apps/api/v2/src/modules/timezones/services/timezones.service.ts
  apps/api/v2/test/fixtures/repository/billing.repository.fixture.ts
  package.json
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/features/instant-meeting/handleInstantMeeting.ts
Labels: Medium priority, platform, bookings, api, billing, core, ready-for-e2e

#15894 chore: Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: High priority, ready-for-e2e

#14994 fix: google calendar event not deleted on updating the default calendar for a cal.com event
  packages/app-store/googlecalendar/lib/CalendarService.ts
Labels: 🐛 bug, linear, Medium priority, bookings, calendar-apps, community, high-risk, ready-for-e2e

#15901 chore: fixed bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: core, ready-for-e2e

#15868 fix: Unable to invite a user to a team via username
  packages/features/ee/teams/components/MemberInvitationModal.tsx
  packages/features/users/components/UserTable/InviteMemberModal.tsx
Labels: 🐛 bug, teams, community, ready-for-e2e

#15326 feat: team owner/admin, be able to confirm/reject "requires confirmation" team events
  apps/web/components/booking/BookingListItem.tsx
  packages/trpc/server/routers/viewer/bookings/_router.tsx
  packages/trpc/server/routers/viewer/bookings/confirm.handler.ts
  packages/trpc/server/routers/viewer/bookings/get.handler.ts
Labels: ✨ feature, linear, Medium priority, teams, Stale, booking-page, community, ready-for-e2e, community-interns

#15900 chore: Update config.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: core, ready-for-e2e

#15904 chore: update dtos for v2 calendars endpoint
  apps/api/v2/src/ee/calendars/controllers/calendars.controller.ts
  apps/api/v2/src/ee/calendars/input/delete-calendar-credentials.input.ts
  apps/api/v2/swagger/documentation.json
Labels: docs, platform, core, calendar-apps, ready-for-e2e

#15910 feat: org members can fetch their teams apiv2
  apps/api/v2/src/modules/organizations/controllers/teams/organizations-teams.controller.e2e-spec.ts
  apps/api/v2/src/modules/organizations/controllers/teams/organizations-teams.controller.ts
  apps/api/v2/src/modules/organizations/outputs/organization-team.output.ts
  apps/api/v2/src/modules/organizations/repositories/organizations-teams.repository.ts
  apps/api/v2/src/modules/organizations/services/organizations-teams.service.ts
Labels: ✨ feature, platform, api, core, ready-for-e2e

#15892 feat: refactor drawer component
  packages/config/tailwind-preset.js
  packages/features/timezone-buddy/components/AvailabilityEditSheet.tsx
  packages/features/users/components/UserTable/EditSheet/EditUserForm.tsx
  packages/features/users/components/UserTable/EditSheet/EditUserSheet.tsx
  packages/ui/components/sheet/sheet.tsx
  packages/ui/index.tsx
Labels: core, 💻 refactor, consumer, ready-for-e2e

#15222 feat: usage base billed - license key check - move to private api
  .env.example
  apps/api/v1/lib/helpers/verifyApiKey.ts
  apps/api/v1/test/lib/middleware/verifyApiKey.test.ts
  apps/web/pages/settings/license-key/new/index.tsx
  packages/features/auth/lib/getServerSession.ts
  packages/features/auth/lib/next-auth-options.ts
  packages/features/ee/common/server/LicenseKeyService.test.ts
  packages/features/ee/common/server/LicenseKeyService.ts
  packages/features/ee/common/server/private-api-utils.ts
  packages/features/ee/deployment/lib/getDeploymentKey.ts
  packages/features/ee/deployment/licensekey/CreateLicenseKeyForm.tsx
  packages/lib/constants.ts
  packages/prisma/extensions/usage-tracking.ts
  packages/prisma/index.ts
  packages/trpc/server/routers/viewer/admin/createSelfHostedLicenseKey.handler.ts
  yarn.lock
Labels: ✨ feature, Medium priority, ❗️ .env changes, core, security, consumer, ready-for-e2e

#15920 fix: make max_participants optional
  packages/prisma/zod-utils.ts
Labels: 🐛 bug, core, consumer, ready-for-e2e

#15924 chore: Release v4.3.3
  apps/web/package.json
Labels: core, foundation, ready-for-e2e

#15918 fix: Fix teams helper image background color mode
  packages/features/tips/UpgradeTip.tsx
Labels: 🐛 bug, ui, community, ready-for-e2e

#15923 chore: Add missing comments for self hosted billing
  .env.example
Labels: ✨ feature, ❗️ .env changes, self-hosting, core, foundation, ready-for-e2e

#15926 chore: Update feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: ready-for-e2e

#15934 style: update text area
  apps/web/pages/settings/my-account/profile.tsx
  packages/features/ee/organizations/pages/settings/other-team-profile-view.tsx
  packages/features/ee/organizations/pages/settings/profile.tsx
  packages/features/ee/teams/pages/team-profile-view.tsx
  packages/ui/components/editor/stylesEditor.css
Labels: ui, community, ready-for-e2e

#15699 fix: #15697 Assignment warning modal poping up ,even when hosts are added .
  apps/web/lib/checkForEmptyAssignment.ts
  apps/web/modules/event-types/views/event-types-single-view.tsx
  apps/web/test/lib/CheckForEmptyAssignment.test.ts
Labels: 🐛 bug, ✅ good first issue, teams, event-types, community, ready-for-e2e

#15925 fix: getting an error when a team member tries to leave a team
  packages/trpc/server/routers/viewer/teams/removeMember.handler.ts
Labels: 🐛 bug, core, community, ready-for-e2e, community-interns

#15916 feat: add transitions to more components
  apps/web/components/apps/installation/EventTypesStepCard.tsx
  apps/web/components/booking/BookingListItem.tsx
  apps/web/components/settings/platform/oauth-clients/oauth-client-form/index.tsx
  apps/web/components/ui/form/CheckboxField.tsx
  packages/app-store/ics-feedcalendar/pages/setup/index.tsx
  packages/features/ee/organizations/components/TeamInviteFromOrg.tsx
  packages/features/ee/workflows/pages/index.tsx
  packages/features/embed/Embed.tsx
  packages/features/filters/components/TeamsFilter.tsx
  packages/features/form-builder/Components.tsx
  packages/features/shell/Shell.tsx
  packages/ui/components/form/checkbox/Checkbox.tsx
  packages/ui/components/form/checkbox/MultiSelectCheckboxes.tsx
  packages/ui/components/form/dropdown/Dropdown.tsx
  packages/ui/components/form/inputs/Input.tsx
  packages/ui/components/form/inputs/TextField.tsx
  packages/ui/components/form/select/Select.tsx
  packages/ui/components/form/toggleGroup/BooleanToggleGroup.tsx
Labels: 🧹 Improvements, ui, community, ready-for-e2e

#15955 fix: Change minimum number of teams required for org self-serve
  packages/features/ee/teams/components/TeamList.tsx
  packages/lib/constants.ts
Labels: 🐛 bug, Low priority, teams, platform, ui, community, ready-for-e2e

#15957 feat: pwa ready and add shortcut for quick access
  apps/web/public/site.webmanifest
Labels: 🐛 bug, ✨ feature, community, ready-for-e2e

#15921 fix: update translations for "by proceeding, ..."
  apps/web/public/static/locales/cs/common.json
  apps/web/public/static/locales/da/common.json
  apps/web/public/static/locales/el/common.json
  apps/web/public/static/locales/es/common.json
  apps/web/public/static/locales/id/common.json
  apps/web/public/static/locales/ja/common.json
  apps/web/public/static/locales/ko/common.json
  apps/web/public/static/locales/lv/common.json
  apps/web/public/static/locales/nl/common.json
  apps/web/public/static/locales/no/common.json
  apps/web/public/static/locales/pl/common.json
  apps/web/public/static/locales/pt-BR/common.json
  apps/web/public/static/locales/ro/common.json
  apps/web/public/static/locales/ru/common.json
  apps/web/public/static/locales/sk/common.json
  apps/web/public/static/locales/sv/common.json
  apps/web/public/static/locales/tr/common.json
  apps/web/public/static/locales/uk/common.json
  apps/web/public/static/locales/zh-TW/common.json
Labels: Low priority, i18n, community, ready-for-e2e

#15944 feat: Add title attribute to iframe in embed.ts
  packages/embeds/embed-core/src/embed.ts
Labels: 🐛 bug, ✨ feature, embed, community, ready-for-e2e

#15544 fix: Assignment reminder modal appears when deleting a team event type
  apps/web/components/eventtype/EventTypeSingleLayout.tsx
  apps/web/modules/event-types/views/event-types-single-view.tsx
Labels: 🐛 bug, ui, event-types, community, ready-for-e2e, community-interns

#15275 fix: Add CORP and COEP headers to embedded pages
  apps/web/app/WithEmbedSSR.tsx
  apps/web/lib/withEmbedSsr.test.ts
  apps/web/lib/withEmbedSsr.tsx
  apps/web/next.config.js
  apps/web/pages/reschedule/[uid].tsx
  packages/app-store/routing-forms/pages/routing-link/getServerSideProps.ts
  packages/embeds/embed-core/index.html
  packages/embeds/embed-core/playground.ts
  packages/embeds/embed-core/playwright/lib/testUtils.ts
  packages/embeds/embed-core/playwright/tests/inline.e2e.ts
  packages/embeds/embed-core/src/embed-iframe.ts
  packages/embeds/embed-core/vite.config.js
Labels: 🐛 bug, Low priority, embed, core, consumer, ready-for-e2e

#15323 feat: No-show bookings - do not count towards a member's round robin assignment
  packages/lib/server/getLuckyUser.integration-test.ts
  packages/lib/server/getLuckyUser.ts
  packages/prisma/migrations/20240712162735_default_no_show_host_to_false/migration.sql
  packages/prisma/schema.prisma
Labels: ✨ feature, ❗️ migrations, Medium priority, teams, bookings, community, consumer, ready-for-e2e, community-interns

#15908 refactor: v1 orgs unlimited teams
  apps/api/v1/pages/api/teams/_post.ts
Labels: teams, platform, core, 💻 refactor, ready-for-e2e

#15933 fix: refresh connect atoms on token change
  packages/platform/examples/base/package.json
  packages/platform/examples/base/src/pages/_app.tsx
  packages/platform/examples/base/src/pages/api/get-managed-users.ts
Labels: 🐛 bug, platform, core, consumer, ready-for-e2e

#15903 fix: Next.js bundle analysis
  .github/workflows/all-checks.yml
  .github/workflows/nextjs-bundle-analysis-annotation.yml
  .github/workflows/nextjs-bundle-analysis.yml
  .github/workflows/pr.yml
Labels: Medium priority, automated-tests, ci, core, foundation, ready-for-e2e

#15912 fix: type in webhook payload
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/trpc/server/routers/viewer/payments.tsx
Labels: 🐛 bug, webhooks, core, consumer, ready-for-e2e

#15975 fix: auto accept
  packages/lib/server/repository/organization.test.ts
  packages/lib/server/repository/organization.ts
Labels: core, consumer, ready-for-e2e

#15979 fix: Broken GitHub workflows
  .github/workflows/pr.yml
Labels: High priority, ci, core, foundation, ready-for-e2e

#15322 test: Delete credential endpoint
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  packages/features/credentials/deleteCredential.test.ts
  packages/features/credentials/handleDeleteCredential.ts
  packages/lib/server/repository/app.ts
  packages/lib/server/repository/credential.ts
  packages/lib/server/repository/destinationCalendar.ts
  packages/lib/server/repository/eventType.ts
  packages/trpc/server/routers/loggedInViewer/deleteCredential.handler.ts
Labels: Low priority, automated-tests, core, consumer, ready-for-e2e

#15974 fix: #15967 Show better error when wrong variable is used in custom event name
  apps/web/components/eventtype/CustomEventTypeModal.tsx
  apps/web/modules/event-types/views/event-types-single-view.tsx
  apps/web/public/static/locales/en/common.json
  packages/core/event.test.ts
  packages/core/event.ts
Labels: 🐛 bug, 🧹 Improvements, event-types, community, ready-for-e2e

#15971 chore: add global rate limiting to prevent abuse apiv2
  apps/api/v2/src/app.module.ts
Labels: platform, api, core, security, ready-for-e2e

#15098 feat: ability to provide a reason for event rejection (from email) and some changes
  apps/web/components/booking/BookingListItem.tsx
  apps/web/components/booking/RejectBooking.tsx
  apps/web/modules/bookings/views/bookings-single-view.tsx
  apps/web/public/static/locales/en/common.json
  packages/emails/src/templates/OrganizerRequestEmail.tsx
Labels: ✨ feature, Medium priority, teams, booking-page, emails, community, ready-for-e2e, community-interns

#15970 fix: bullMq redis connection string apiv2
  apps/api/v2/src/app.module.ts
Labels: 🐛 bug, platform, bookings, core, ready-for-e2e

#15981 fix: #15968 update to show booking question variables in Available variables
  apps/web/components/eventtype/CustomEventTypeModal.tsx
  apps/web/public/static/locales/en/common.json
Labels: 🐛 bug, ✨ feature, docs, ui, community, ready-for-e2e

#15391 feat: cal ai templates
  apps/web/components/eventtype/AIEventController.tsx
  apps/web/modules/event-types/views/event-types-single-view.tsx
  apps/web/pages/api/get-inbound-dynamic-variables.ts
  apps/web/public/static/locales/en/common.json
  packages/features/ee/cal-ai-phone/getTemplateFieldsSchema.ts
  packages/features/ee/cal-ai-phone/promptTemplates.ts
  packages/features/ee/cal-ai-phone/retellAIService.ts
  packages/features/ee/cal-ai-phone/template-fields-map.ts
  packages/features/ee/cal-ai-phone/zod-utils.ts
  packages/features/eventtypes/lib/types.ts
  packages/platform/sdk/src/endpoints/events/types.ts
  packages/prisma/migrations/20240610084425_add_cal_ai_template/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer/eventTypes/types.ts
  packages/trpc/server/routers/viewer/organizations/_router.tsx
  packages/trpc/server/routers/viewer/organizations/createPhoneCall.handler.ts
Labels: ✨ feature, ❗️ migrations, Medium priority, High priority, core, ai, consumer, ready-for-e2e

#15844 fix: Add signup disabled flag check on signup route
  apps/web/pages/api/auth/signup.ts
Labels: 🐛 bug, Low priority, authentication, community, high-risk, ready-for-e2e

#15976 fix: Add strict checks for email to create an organization
  packages/trpc/server/routers/viewer/organizations/create.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/utils.ts
Labels: enterprise, authentication, core, ready-for-e2e
