Repository calcom/cal.com, pull requests merged in 2024-08, with the labels that each got.

#16014 fix: bulk update event type dialog logic
  apps/web/components/apps/AppList.tsx
  packages/features/eventtypes/components/BulkEditDefaultForEventsModal.tsx
Labels: 🐛 bug, event-types, community, ready-for-e2e, community-interns

#16018 chore: disconnect prisma on module destroy apiv2
  apps/api/v2/src/modules/prisma/prisma-read.service.ts
  apps/api/v2/src/modules/prisma/prisma-write.service.ts
  apps/api/v2/test/fixtures/repository/api-keys.repository.fixture.ts
  apps/api/v2/test/fixtures/repository/billing.repository.fixture.ts
  apps/api/v2/test/fixtures/repository/bookings.repository.fixture.ts
  apps/api/v2/test/fixtures/repository/credentials.repository.fixture.ts
  apps/api/v2/test/fixtures/repository/event-types.repository.fixture.ts
  apps/api/v2/test/fixtures/repository/membership.repository.fixture.ts
  apps/api/v2/test/fixtures/repository/profiles.repository.fixture.ts
  apps/api/v2/test/fixtures/repository/schedules.repository.fixture.ts
  apps/api/v2/test/fixtures/repository/team.repository.fixture.ts
  apps/api/v2/test/fixtures/repository/tokens.repository.fixture.ts
  apps/api/v2/test/fixtures/repository/users.repository.fixture.ts
Labels: platform, automated-tests, api, ci, core, ready-for-e2e

#16000 chore: add gap to orgs user data table filters
  packages/ui/components/data-table/DataTableToolbar.tsx
Labels: ui, core, consumer, ready-for-e2e

#15867 feat: SysAdmin API Guard for Org Admins
  apps/api/v1/lib/utils/isAdmin.ts
  apps/api/v1/test/lib/utils/isAdmin.integration-test.ts
  apps/api/v2/src/modules/auth/guards/organizations/is-admin-api-enabled.guard.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-flow/oauth-flow.controller.e2e-spec.ts
  apps/api/v2/src/modules/organizations/controllers/event-types/organizations-event-types.controller.ts
  apps/api/v2/src/modules/organizations/controllers/event-types/organizations-event-types.e2e-spec.ts
  apps/api/v2/src/modules/organizations/controllers/memberships/organizations-membership.controller.e2e-spec.ts
  apps/api/v2/src/modules/organizations/controllers/memberships/organizations-membership.controller.ts
  apps/api/v2/src/modules/organizations/controllers/schedules/organizations-schedules.controller.ts
  apps/api/v2/src/modules/organizations/controllers/schedules/organizations-schedules.e2e-spec.ts
  apps/api/v2/src/modules/organizations/controllers/teams/memberships/organizations-teams-memberships.controller.e2e-spec.ts
  apps/api/v2/src/modules/organizations/controllers/teams/memberships/organizations-teams-memberships.controller.ts
  apps/api/v2/src/modules/organizations/controllers/teams/organizations-teams.controller.e2e-spec.ts
  apps/api/v2/src/modules/organizations/controllers/teams/organizations-teams.controller.ts
  apps/api/v2/src/modules/organizations/controllers/users/organizations-users.controller.ts
  apps/api/v2/src/modules/organizations/controllers/users/organizations-users.e2e-spec.ts
  apps/api/v2/src/modules/organizations/organizations.repository.ts
  apps/api/v2/test/fixtures/repository/organization.repository.fixture.ts
  apps/web/public/static/locales/en/common.json
  packages/features/ee/organizations/pages/settings/admin/AdminOrgPage.tsx
  packages/prisma/migrations/20240722105401_add_is_admin_api_enabled_organization_setting/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/seed.ts
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer/organizations/adminUpdate.handler.ts
Labels: ✨ feature, ❗️ migrations, enterprise, api, organizations, core, security, ready-for-e2e

#16047 fix: Review fixes for event-types-infinite-scroll
  packages/features/eventtypes/components/CreateEventTypeDialog.tsx
  packages/lib/server/repository/eventType.ts
Labels: 🐛 bug, enterprise, event-types, core

#15825 fix: Future Limit Calculations
  apps/web/test/lib/getSchedule/futureLimit.timezone.test.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/lib/isOutOfBounds.timezone.test.ts
  packages/lib/isOutOfBounds.tsx
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: 🐛 bug, High priority, bookings, core, consumer, ready-for-e2e

#16031 fix: hide org upgrade banner for platform orgs
  packages/trpc/server/routers/viewer/organizations/checkIfOrgNeedsUpgrade.handler.ts
Labels: 🐛 bug, Medium priority, platform, core, ready-for-e2e

#16029 fix: typo in license service + move to a noop
  packages/features/ee/common/server/LicenseKeyService.ts
Labels: core, consumer, ready-for-e2e

#16032 fix: platform orgs shouldn't have org redirect
  packages/lib/createAProfileForAnExistingUser.ts
  packages/lib/server/repository/team.ts
Labels: 🐛 bug, Medium priority, platform, core, ready-for-e2e

#15481 feat: Add URL-type input in booking question field
  apps/web/public/static/locales/en/common.json
  packages/app-store/routing-forms/components/react-awesome-query-builder/widgets.tsx
  packages/features/bookings/lib/getBookingResponsesSchema.test.ts
  packages/features/form-builder/Components.tsx
  packages/features/form-builder/fieldTypes.ts
  packages/features/form-builder/propsTypes.ts
  packages/features/form-builder/schema.ts
Labels: ✨ feature, Low priority, booking-page, community, ready-for-e2e, community-interns

#15262 feat: Make event duration a dynamic text variable
  apps/web/components/eventtype/CustomEventTypeModal.tsx
  apps/web/components/eventtype/EventAdvancedTab.tsx
  apps/web/modules/bookings/views/bookings-single-view.tsx
  apps/web/public/static/locales/en/common.json
  packages/core/event.test.ts
  packages/core/event.ts
  packages/emails/email-manager.ts
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/types/Calendar.d.ts
Labels: ✨ feature, linear, Low priority, event-types, emails, community, ready-for-e2e, community-interns

#15292 feat: Default to showing the next month with availability
  packages/features/bookings/Booker/components/DatePicker.tsx
Labels: ✨ feature, linear, Medium priority, bookings, community, ready-for-e2e, community-interns

#15949 refactor: event types infinite scroll
  apps/web/app/WithAppDirSsr.tsx
  apps/web/lib/event-types/getServerSideProps.tsx
  apps/web/lib/hooks/useInViewObserver.ts
  apps/web/modules/event-types/views/event-types-listing-view.tsx
  packages/features/eventtypes/components/CreateEventTypeDialog.tsx
  packages/features/eventtypes/components/DuplicateDialog.tsx
  packages/features/kbar/Kbar.tsx
  packages/lib/constants.ts
  packages/lib/server/repository/eventType.ts
  packages/lib/server/repository/membership.ts
  packages/trpc/server/routers/viewer/eventTypes/_router.ts
  packages/trpc/server/routers/viewer/eventTypes/getByViewer.schema.ts
  packages/trpc/server/routers/viewer/eventTypes/getEventTypesFromGroup.handler.ts
  packages/trpc/server/routers/viewer/eventTypes/getUserEventGroups.handler.ts
  packages/trpc/server/routers/viewer/eventTypes/util.ts
  packages/ui/components/avatar/AvatarGroup.tsx
  packages/ui/components/avatar/UserAvatarGroup.tsx
  turbo.json
Labels: High priority, enterprise, 5 points, ui, event-types, core, consumer, high-risk, ready-for-e2e

#16034 chore: upgrades playwright to 1.45.3
  apps/web/package.json
  apps/web/playwright/booking-pages.e2e.ts
  apps/web/playwright/impersonation.e2e.ts
  apps/web/playwright/insights.e2e.ts
  apps/web/playwright/integrations-stripe.e2e.ts
  apps/web/playwright/integrations.e2e.ts
  apps/web/playwright/lib/fixtures.ts
  apps/web/playwright/lib/loadJSON.ts
  apps/web/playwright/lib/testUtils.ts
  apps/web/playwright/login.2fa.e2e.ts
  apps/web/playwright/login.e2e.ts
  apps/web/playwright/managed-event-types.e2e.ts
  apps/web/playwright/organization/across-org/across-org.e2e.ts
  apps/web/playwright/organization/organization-creation.e2e.ts
  apps/web/playwright/overlay-calendar.e2e.ts
  apps/web/playwright/signup.e2e.ts
  apps/web/playwright/teams.e2e.ts
  apps/web/playwright/trial.e2e.ts
  apps/web/playwright/unpublished.e2e.ts
  package.json
  packages/embeds/embed-core/package.json
  packages/embeds/embed-core/playwright/lib/testUtils.ts
  packages/embeds/embed-core/playwright/tests/action-based.e2e.ts
  packages/embeds/embed-core/playwright/tests/inline.e2e.ts
  packages/embeds/embed-react/package.json
  yarn.lock
Labels: ⬆️ dependencies, core, foundation, ready-for-e2e

#15929 perf: improve typescript perf by pre-generating the router types
  apps/web/tsconfig.json
  packages/lib/constants.ts
  packages/lib/tsconfig.json
  packages/trpc/.gitignore
  packages/trpc/package.json
  packages/trpc/server/routers/viewer/payments.tsx
  packages/trpc/tsconfig.json
  turbo.json
  yarn.lock
Labels: 🐛 bug, 🧹 Improvements, Medium priority, 💰 Rewarded, performance, community, foundation, high-risk, ready-for-e2e

#16048 feat: new design of users slideover
  packages/features/users/components/UserTable/EditSheet/DisplayInfo.tsx
  packages/features/users/components/UserTable/EditSheet/EditUserSheet.tsx
  packages/features/users/components/UserTable/EditSheet/OrganizationBanner.tsx
  packages/features/users/components/UserTable/EditSheet/SheetFooterControls.tsx
  packages/ui/components/badge/Badge.tsx
  packages/ui/components/sheet/sheet.tsx
Labels: ✨ feature, ⚡ Quick Wins, Medium priority, ui, core, consumer, ready-for-e2e

#16081 fix: testId -> testid
  packages/features/users/components/UserTable/UserListTable.tsx
  packages/ui/components/data-table/index.tsx
Labels: ui, core, foundation, ready-for-e2e

#16074 fix: re-booked booking metadata
  apps/api/v2/package.json
  apps/api/v2/src/ee/bookings/controllers/bookings.controller.e2e-spec.ts
  apps/api/v2/src/ee/bookings/controllers/bookings.controller.ts
  apps/api/v2/src/ee/bookings/inputs/create-recurring-booking.input.ts
  apps/api/v2/src/ee/calendars/services/apple-calendar.service.ts
  apps/api/v2/src/ee/calendars/services/calendars.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/controllers/event-types.controller.e2e-spec.ts
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/event-types.repository.ts
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/services/event-types.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/event-types.repository.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/event-types.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/input-event-types.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/output-event-types.service.ts
  apps/api/v2/src/ee/schedules/schedules_2024_06_11/services/input-schedules.service.ts
  apps/api/v2/src/filters/trpc-exception.filter.ts
  apps/api/v2/src/modules/email/email.service.ts
  apps/api/v2/src/modules/oauth-clients/services/oauth-clients-users.service.ts
  apps/api/v2/src/modules/organizations/services/event-types/organizations-event-types.service.ts
  apps/api/v2/src/modules/organizations/services/organizations-teams.service.ts
  apps/api/v2/src/modules/organizations/services/organizations-users-service.ts
  apps/api/v2/src/modules/slots/controllers/slots.controller.ts
  apps/api/v2/src/modules/slots/slots.repository.ts
  apps/api/v2/src/modules/timezones/controllers/timezones.controller.ts
  apps/api/v2/src/modules/timezones/services/timezones.service.ts
  packages/features/bookings/lib/handleNewBooking/createBooking.ts
  packages/platform/libraries/CHANGELOG.md
  packages/trpc/tsconfig.json
  yarn.lock
Labels: 🐛 bug, platform, bookings, core, ready-for-e2e

#16086 fix: Prefill of Attendee Phone Number location with a + in URL
  packages/features/bookings/lib/getBookingResponsesSchema.test.ts
  packages/features/bookings/lib/getBookingResponsesSchema.ts
Labels: 🐛 bug, booking-page, core, ready-for-e2e

#16087 fix: next.js console warning due to output:standalone
  apps/web/next.config.js
  turbo.json
Labels: core, foundation, ready-for-e2e

#15461 chore: Reapply "fix: bookings made via API don't include the specified locat…
  apps/web/test/utils/bookingScenario/getMockRequestDataForBooking.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/test/fresh-booking.test.ts
Labels: bookings, core, foundation, ready-for-e2e

#14308 feat: Round robin reassignment via round robin algorithm [CAL-3138]
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/controllers/event-types.controller.ts
  apps/web/components/booking/BookingListItem.tsx
  apps/web/components/dialog/ReassignDialog.tsx
  apps/web/lib/booking.ts
  apps/web/modules/bookings/views/bookings-single-view.test.tsx
  apps/web/public/static/locales/en/common.json
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  packages/app-store/skype/config.json
  packages/core/EventManager.ts
  packages/features/bookings/lib/handleNewBooking/getEventTypesFromDB.ts
  packages/features/bookings/lib/handleNewBooking/types.ts
  packages/features/ee/round-robin/roundRobinReassignment.test.ts
  packages/features/ee/round-robin/roundRobinReassignment.ts
  packages/lib/server/repository/booking.ts
  packages/lib/server/repository/bookingReference.ts
  packages/lib/server/repository/user.ts
  packages/trpc/server/routers/viewer/bookings/get.handler.ts
  packages/trpc/server/routers/viewer/teams/_router.tsx
  packages/trpc/server/routers/viewer/teams/roundRobin/roundRobinReassign.handler.ts
  packages/trpc/server/routers/viewer/teams/roundRobin/roundRobinReassign.schema.ts
  packages/ui/components/editable-heading/EditableHeading.tsx
Labels: ✨ feature, teams, core, consumer, ready-for-e2e

#16062 chore: Refactor CloseComSetup form submission logic
  packages/app-store/closecom/pages/setup/index.tsx
Labels: app-store, Low priority, crm-apps, app-store-template, 💻 refactor, community, ready-for-e2e

#16057 fix: incorrect week-start input value
  packages/features/ee/users/components/UserForm.tsx
Labels: 🐛 bug, ui, community, ready-for-e2e

#15891 chore: update null noShowHost in Booking to false
  packages/prisma/migrations/20240724124035_update_null_no_show_host_to_false/migration.sql
Labels: ❗️ migrations, community, ready-for-e2e, community-interns

#16058 fix: #16041 team eventtype create from api
  apps/api/v1/pages/api/event-types/_post.ts
Labels: 🐛 bug, teams, bookings, event-types, community, ready-for-e2e

#16090 fix: type error that is visible now
  packages/features/ee/round-robin/roundRobinReassignment.ts
  packages/lib/event-types/getEventTypesByViewer.ts
Labels: 🐛 bug, teams, event-types, community, ready-for-e2e, community-interns

#16027 chore: add a timeout of 2s to the licence key service
  packages/features/ee/common/server/LicenseKeyService.test.ts
  packages/features/ee/common/server/LicenseKeyService.ts
Labels: bookings, core, foundation, ready-for-e2e

#16092 chore: replaced discord with github discussions
  README.md
  apps/web/pages/404.tsx
  apps/web/public/static/locales/ar/common.json
  apps/web/public/static/locales/cs/common.json
  apps/web/public/static/locales/de/common.json
  apps/web/public/static/locales/en/common.json
  apps/web/public/static/locales/es/common.json
  apps/web/public/static/locales/et/common.json
  apps/web/public/static/locales/fr/common.json
  apps/web/public/static/locales/he/common.json
  apps/web/public/static/locales/hu/common.json
  apps/web/public/static/locales/it/common.json
  apps/web/public/static/locales/ja/common.json
  apps/web/public/static/locales/ko/common.json
  apps/web/public/static/locales/nl/common.json
  apps/web/public/static/locales/pl/common.json
  apps/web/public/static/locales/pt-BR/common.json
  apps/web/public/static/locales/pt/common.json
  apps/web/public/static/locales/ro/common.json
  apps/web/public/static/locales/ru/common.json
  apps/web/public/static/locales/sr/common.json
  apps/web/public/static/locales/sv/common.json
  apps/web/public/static/locales/tr/common.json
  apps/web/public/static/locales/uk/common.json
  apps/web/public/static/locales/vi/common.json
  apps/web/public/static/locales/zh-CN/common.json
  apps/web/public/static/locales/zh-TW/common.json
  packages/features/ee/support/components/ContactMenuItem.tsx
  packages/features/shell/Shell.tsx
  packages/lib/constants.ts
  packages/ui/components/icon/Discord.tsx
  packages/ui/package.json
Labels: 🧹 Improvements, ⚡ Quick Wins, Low priority, ready-for-e2e

#16082 test: Create 5 tests cases for POST /api/event-types endpoint
  apps/api/v1/test/lib/event-types/_post.test.ts
Labels: automated-tests, api, community, ready-for-e2e

#16094 fix: Wrong tracking event for bookings
  packages/prisma/extensions/usage-tracking.ts
Labels: 🐛 bug, bookings, core, foundation, ready-for-e2e

#16059 chore: Fix typo in CSS class name for signup page and Calendar
  apps/web/pages/signup.tsx
  packages/ui/components/form/date-range-picker/Calendar.tsx
Labels: ui, community, ready-for-e2e

#15229 fix: issue in the event location field
  apps/web/components/eventtype/Locations.tsx
Labels: 🐛 bug, Low priority, ui, event-types, community, ready-for-e2e, community-interns

#16049 chore: nestjs readme
  apps/api/v2/README.md
Labels: ⚡ Quick Wins, docs, Low priority, ready-for-e2e

#16065 fix: Set user's timezone as fallback to event's timezone
  packages/features/bookings/lib/handleNewBooking.ts
Labels: High priority, bookings, community, ready-for-e2e

#16098 fix: remove row on click for data-table
  packages/features/users/components/UserTable/UserListTable.tsx
Labels: 🐛 bug, ui, core, consumer, ready-for-e2e

#16096 chore: v4.3.5
  apps/web/package.json
Labels: core, foundation, ready-for-e2e

#16115 fix: Remove missing users from assignment
  packages/features/eventtypes/components/AddMembersWithSwitch.tsx
Labels: 🐛 bug, enterprise, core, ready-for-e2e

#15966 fix: use organization default fixedPrice if self-serve/default price is passed in
  .env.example
  packages/features/ee/teams/lib/payments.ts
  packages/lib/constants.ts
  turbo.json
Labels: platform, ❗️ .env changes, billing, core, consumer, ready-for-e2e

#16114 fix: display skeleton loader
  apps/web/components/eventtype/SkeletonLoader.tsx
  apps/web/modules/event-types/views/event-types-listing-view.tsx
Labels: 🐛 bug, enterprise, ui, core, ready-for-e2e

#15738 feat: create new markNoShow endpoint
  apps/api/v2/src/ee/bookings/controllers/bookings.controller.ts
  apps/api/v2/src/ee/bookings/outputs/mark-no-show.output.ts
  apps/web/components/booking/BookingListItem.tsx
  apps/web/modules/bookings/views/bookings-single-view.tsx
  apps/web/modules/test-setup.ts
  packages/features/handleMarkNoShow.ts
  packages/lib/server/repository/booking.ts
  packages/trpc/server/routers/loggedInViewer/_router.tsx
  packages/trpc/server/routers/loggedInViewer/markNoShow.handler.ts
  packages/trpc/server/routers/loggedInViewer/markNoShow.schema.ts
  packages/trpc/server/routers/publicViewer/_router.tsx
  packages/trpc/server/routers/publicViewer/markHostAsNoShow.handler.ts
  packages/trpc/server/routers/publicViewer/markHostAsNoShow.schema.ts
Labels: ✨ feature, Medium priority, enterprise, bookings, webhooks, api, core, consumer, ready-for-e2e

#16106 fix: uncaught errors in sendPayload
  packages/features/webhooks/lib/sendPayload.ts
Labels: webhooks, core, foundation, ready-for-e2e

#16105 fix: uncaught errors in WebhookService
  packages/features/webhooks/lib/WebhookService.ts
  packages/features/webhooks/lib/sendPayload.ts
Labels: core, 💻 refactor, foundation, ready-for-e2e

#16003 chore: Remove cal.ai email assistant
  apps/ai/.env.example
  apps/ai/README.md
  apps/ai/next-env.d.ts
  apps/ai/next.config.js
  apps/ai/package.json
  apps/ai/src/app/api/agent/route.ts
  apps/ai/src/app/api/onboard/route.ts
  apps/ai/src/app/api/receive/route.ts
  apps/ai/src/env.mjs
  apps/ai/src/public/architecture.png
  apps/ai/src/tools/createBooking.ts
  apps/ai/src/tools/deleteBooking.ts
  apps/ai/src/tools/getAvailability.ts
  apps/ai/src/tools/getBookings.ts
  apps/ai/src/tools/getEventTypes.ts
  apps/ai/src/tools/sendBookingEmail.ts
  apps/ai/src/tools/updateBooking.ts
  apps/ai/src/types/availability.ts
  apps/ai/src/types/booking.ts
  apps/ai/src/types/eventType.ts
  apps/ai/src/types/user.ts
  apps/ai/src/types/workingHours.ts
  apps/ai/src/utils/agent.ts
  apps/ai/src/utils/context.ts
  apps/ai/src/utils/extractUsers.ts
  apps/ai/src/utils/host.ts
  apps/ai/src/utils/now.ts
  apps/ai/src/utils/sendEmail.ts
  apps/ai/src/utils/verifyParseKey.ts
  apps/ai/tsconfig.json
  packages/app-store/apps.browser.generated.tsx
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/cal-ai/DESCRIPTION.md
  packages/app-store/cal-ai/api/_getAdd.ts
  packages/app-store/cal-ai/api/_getCallback.ts
  packages/app-store/cal-ai/api/add.ts
  packages/app-store/cal-ai/api/callback.ts
  packages/app-store/cal-ai/api/index.ts
  packages/app-store/cal-ai/components/AppSettingsInterface.tsx
  packages/app-store/cal-ai/config.json
  packages/app-store/cal-ai/index.ts
  packages/app-store/cal-ai/package.json
  packages/app-store/cal-ai/static/1.jpg
  packages/app-store/cal-ai/static/2.jpg
  packages/app-store/cal-ai/static/3.jpg
  packages/app-store/cal-ai/static/4.jpg
  packages/app-store/cal-ai/static/5.jpg
  packages/app-store/cal-ai/static/icon.png
Labels: ⚡ Quick Wins, Medium priority, performance, ai, ready-for-e2e

#16104 fix: uncaught errors in PaymentService
  packages/features/webhooks/lib/WebhookService.ts
  packages/features/webhooks/lib/sendPayload.ts
  packages/types/PaymentService.d.ts
Labels: 🐛 bug, core, foundation, ready-for-e2e

#16060 feat: Add upcoming bookings feature to GET /api/bookings endpoint
  apps/api/v1/lib/validations/booking.ts
  apps/api/v1/pages/api/bookings/_get.ts
  apps/api/v1/test/lib/bookings/_get.integration-test.ts
Labels: ✨ feature, Medium priority, bookings, api, community, ready-for-e2e

#16117 fix: Hide personal booking theme when in an organization
  apps/web/pages/settings/my-account/appearance.tsx
  packages/features/settings/layouts/SettingsLayout.tsx
Labels: 🐛 bug, ⚡ Quick Wins, Low priority, ui, core, consumer, ready-for-e2e

#16103 fix: SCIM improvements
  apps/web/pages/api/scim/v2.0/[...directory].ts
  packages/features/ee/dsync/lib/handleGroupEvents.ts
  packages/features/ee/dsync/lib/handleUserEvents.ts
Labels: enterprise, core, consumer, ready-for-e2e

#15742 fix: Unable to submit booking form if Attendee Phone is used and then booking Fields are saved
  apps/web/components/eventtype/Locations.tsx
  packages/features/form-builder/Components.tsx
  packages/features/form-builder/FormBuilder.tsx
  packages/features/form-builder/FormBuilderField.tsx
Labels: 🐛 bug, Medium priority, High priority, enterprise, booking-page, community, ready-for-e2e

#16121 fix: Better UI for the setup page, When trying to reach an app that hasn't been already installed under an account
  apps/web/public/static/locales/en/common.json
  packages/app-store/_components/AppNotInstalledMessage.tsx
  packages/app-store/alby/pages/setup/index.tsx
  packages/app-store/make/pages/setup/index.tsx
  packages/app-store/paypal/pages/setup/index.tsx
  packages/app-store/zapier/pages/setup/index.tsx
Labels: ✨ feature, app-store, 🧹 Improvements, Low priority, i18n, ui, community, ready-for-e2e

#16118 feat: Allow cancellation & reschedule on past bookings
  apps/web/components/booking/BookingListItem.tsx
  apps/web/modules/bookings/views/bookings-single-view.tsx
  packages/features/calendars/DatePicker.tsx
Labels: ✨ feature, enterprise, bookings, core, ready-for-e2e

#16130 chore: oAuth Client Guard apv2
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.e2e-spec.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-clients/oauth-clients.controller.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-flow/oauth-flow.controller.e2e-spec.ts
  apps/api/v2/src/modules/oauth-clients/guards/oauth-client-guard.ts
Labels: platform, api, core, ready-for-e2e

#16131 fix: use singleton in license key service
  apps/api/v1/lib/helpers/verifyApiKey.ts
  packages/features/auth/lib/getServerSession.ts
  packages/features/auth/lib/next-auth-options.ts
  packages/features/ee/common/server/LicenseKeyService.ts
  packages/prisma/extensions/usage-tracking.ts
Labels: core, consumer, ready-for-e2e

#16132 fix: v2 event-types & MS outlook event description
  apps/api/v2/package.json
  apps/api/v2/src/ee/bookings/controllers/bookings.controller.e2e-spec.ts
  apps/api/v2/src/ee/bookings/controllers/bookings.controller.ts
  apps/api/v2/src/ee/bookings/inputs/create-recurring-booking.input.ts
  apps/api/v2/src/ee/calendars/services/apple-calendar.service.ts
  apps/api/v2/src/ee/calendars/services/calendars.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/controllers/event-types.controller.e2e-spec.ts
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/event-types.repository.ts
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/services/event-types.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/event-types.repository.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/event-types.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/input-event-types.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/output-event-types.service.ts
  apps/api/v2/src/ee/schedules/schedules_2024_06_11/services/input-schedules.service.ts
  apps/api/v2/src/filters/trpc-exception.filter.ts
  apps/api/v2/src/modules/email/email.service.ts
  apps/api/v2/src/modules/oauth-clients/services/oauth-clients-users.service.ts
  apps/api/v2/src/modules/organizations/services/event-types/organizations-event-types.service.ts
  apps/api/v2/src/modules/organizations/services/organizations-teams.service.ts
  apps/api/v2/src/modules/organizations/services/organizations-users-service.ts
  apps/api/v2/src/modules/slots/controllers/slots.controller.ts
  apps/api/v2/src/modules/slots/slots.repository.ts
  apps/api/v2/src/modules/timezones/controllers/timezones.controller.ts
  apps/api/v2/src/modules/timezones/services/timezones.service.ts
  apps/api/v2/swagger/documentation.json
  packages/app-store/office365calendar/lib/CalendarService.ts
  packages/lib/event-types/transformers/api-request.spec.ts
  packages/lib/event-types/transformers/api-request.ts
  packages/lib/event-types/transformers/api-response.spec.ts
  packages/lib/event-types/transformers/api-response.ts
  packages/platform/libraries/CHANGELOG.md
  packages/platform/libraries/index.ts
  yarn.lock
Labels: platform, event-types, core, ready-for-e2e

#16107 fix: uncaught PaymentService typings in payment utils
  packages/trpc/server/routers/viewer/payments.tsx
Labels: 🐛 bug, core, foundation, ready-for-e2e

#16135 perf: use svg sprite for icons
  apps/web/components/EnterprisePage.tsx
  apps/web/components/apps/installation/ConfigureStepCard.tsx
  apps/web/next.config.js
  apps/web/package.json
  apps/web/pages/apps/installed/[category].tsx
  apps/web/public/icons/sprite.svg
  packages/app-store/_utils/getAppCategories.ts
  packages/app-store/routing-forms/pages/forms/[...appPages].tsx
  packages/features/ee/teams/components/TeamList.tsx
  packages/features/shell/Shell.tsx
  packages/features/users/components/UserTable/BulkActions/EventTypesList.tsx
  packages/platform/atoms/package.json
  packages/platform/examples/base/src/pages/[bookingUid].tsx
  packages/types/SVGComponent.d.ts
  packages/ui/.gitignore
  packages/ui/components/data-table/DataTableFilter.tsx
  packages/ui/components/data-table/DataTableToolbar.tsx
  packages/ui/components/icon/Icon.tsx
  packages/ui/components/icon/IconDev.tsx
  packages/ui/components/icon/IconProd.tsx
  packages/ui/components/icon/README.md
  packages/ui/components/icon/dynamicIconImports.tsx
  packages/ui/components/icon/icon-list.mjs
  packages/ui/components/icon/icon-names.ts
  packages/ui/components/top-banner/TopBanner.tsx
  packages/ui/index.tsx
  packages/ui/package.json
  packages/ui/scripts/build-icons.mjs
  packages/ui/scripts/generate-icons.mjs
  yarn.lock
Labels: Medium priority, performance, community, high-risk, ready-for-e2e

#15489 fix: #15474 retrieve zoom usersettings and update zoom integration
  packages/app-store/zoomvideo/lib/VideoApiAdapter.ts
Labels: 🐛 bug, app-store, Medium priority, calendar-apps, community, ready-for-e2e

#15728 fix: #15726 increase max recurring events limit input
  apps/web/components/eventtype/RecurringEventController.tsx
Labels: 🐛 bug, event-types, community, ready-for-e2e

#16147 feat: atoms date overrides modal custom classes
  packages/features/schedules/components/DateOverrideInputDialog.tsx
  packages/platform/atoms/availability/AvailabilitySettings.tsx
Labels: ✨ feature, platform, core, ready-for-e2e

#16148 fix: broken password inputs
  packages/ui/components/form/inputs/Input.tsx
Labels: 🐛 bug, ui, core, consumer, ready-for-e2e

#16095 refactor: simplify workflow page and improve load time
  packages/features/ee/workflows/components/AddActionDialog.tsx
  packages/features/ee/workflows/lib/schema.ts
  packages/features/ee/workflows/pages/workflow.tsx
  packages/lib/server/repository/eventType.ts
  packages/lib/server/repository/membership.ts
  packages/trpc/server/routers/viewer/eventTypes/_router.ts
  packages/trpc/server/routers/viewer/eventTypes/getTeamAndEventTypeOptions.handler.ts
  packages/trpc/server/routers/viewer/eventTypes/getTeamAndEventTypeOptions.schema.ts
Labels: High priority, enterprise, workflows, performance, core, 💻 refactor, ready-for-e2e

#16144 test: v2 new event-types endpoints handle legacy event-types
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/controllers/event-types.controller.e2e-spec.ts
  apps/api/v2/test/fixtures/repository/event-types.repository.fixture.ts
Labels: platform, automated-tests, event-types, core, ready-for-e2e

#16151 fix: remove requirement for signature token
  packages/features/ee/common/server/LicenseKeyService.ts
Labels: enterprise, core, consumer, ready-for-e2e

#16139 revert: fix: #15857 add managed by tooltip
  apps/web/public/static/locales/en/common.json
  packages/features/eventtypes/components/EventTypeDescription.tsx
  packages/lib/event-types/getEventTypesByViewer.ts
  packages/lib/server/eventTypeSelect.ts
Labels: enterprise, ui, core, ready-for-e2e

#16152 feat: App horizon workrooms
  apps/web/public/static/locales/km/vital.json
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/bookerApps.metadata.generated.ts
  packages/app-store/horizon-workrooms/DESCRIPTION.md
  packages/app-store/horizon-workrooms/api/add.ts
  packages/app-store/horizon-workrooms/api/index.ts
  packages/app-store/horizon-workrooms/config.json
  packages/app-store/horizon-workrooms/index.ts
  packages/app-store/horizon-workrooms/package.json
  packages/app-store/horizon-workrooms/static/1.jpeg
  packages/app-store/horizon-workrooms/static/2.jpeg
  packages/app-store/horizon-workrooms/static/3.jpeg
  packages/app-store/horizon-workrooms/static/icon.svg
Labels: ✨ feature, app-store, 🧹 Improvements, ⚡ Quick Wins, Medium priority, ready-for-e2e

#16134 feat: Platform OAuthClient Webhooks
  apps/api/v2/package.json
  apps/api/v2/src/ee/bookings/controllers/bookings.controller.e2e-spec.ts
  apps/api/v2/src/ee/bookings/controllers/bookings.controller.ts
  apps/api/v2/src/ee/bookings/inputs/create-recurring-booking.input.ts
  apps/api/v2/src/ee/calendars/services/apple-calendar.service.ts
  apps/api/v2/src/ee/calendars/services/calendars.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/controllers/event-types.controller.e2e-spec.ts
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/event-types.repository.ts
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/services/event-types.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/event-types.repository.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/event-types.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/input-event-types.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/output-event-types.service.ts
  apps/api/v2/src/ee/schedules/schedules_2024_06_11/services/input-schedules.service.ts
  apps/api/v2/src/filters/trpc-exception.filter.ts
  apps/api/v2/src/modules/email/email.service.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-webhooks/oauth-client-webhooks.controller.e2e-spec.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-webhooks/oauth-client-webhooks.controller.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-clients/oauth-clients.controller.ts
  apps/api/v2/src/modules/oauth-clients/services/oauth-clients-users.service.ts
  apps/api/v2/src/modules/organizations/services/event-types/organizations-event-types.service.ts
  apps/api/v2/src/modules/organizations/services/event-types/output.service.ts
  apps/api/v2/src/modules/organizations/services/organizations-teams.service.ts
  apps/api/v2/src/modules/organizations/services/organizations-users-service.ts
  apps/api/v2/src/modules/slots/controllers/slots.controller.ts
  apps/api/v2/src/modules/slots/slots.repository.ts
  apps/api/v2/src/modules/timezones/controllers/timezones.controller.ts
  apps/api/v2/src/modules/timezones/services/timezones.service.ts
  apps/api/v2/src/modules/webhooks/guards/is-oauth-client-webhook-guard.ts
  apps/api/v2/src/modules/webhooks/outputs/oauth-client-webhook.output.ts
  apps/api/v2/src/modules/webhooks/outputs/webhook.output.ts
  apps/api/v2/src/modules/webhooks/pipes/WebhookOutputPipe.ts
  apps/api/v2/src/modules/webhooks/services/oauth-clients-webhooks.service.ts
  apps/api/v2/src/modules/webhooks/webhooks.module.ts
  apps/api/v2/src/modules/webhooks/webhooks.repository.ts
  apps/api/v2/swagger/documentation.json
  apps/web/components/settings/platform/oauth-clients/OAuthClientCard.tsx
  apps/web/lib/hooks/settings/platform/oauth-clients/useOAuthClientWebhooks.ts
  apps/web/pages/settings/platform/oauth-clients/[clientId]/edit/webhooks.tsx
  apps/web/pages/settings/platform/oauth-clients/create.tsx
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/webhooks/components/WebhookForm.tsx
  packages/features/webhooks/lib/getWebhooks.ts
  packages/lib/test/builder.ts
  packages/prisma/migrations/20240802124001_webhooks_oauth_client/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/zod/webhook.ts
Labels: ✨ feature, ❗️ migrations, platform, webhooks, core, ready-for-e2e

#16159 fix: add sensible default size for svg icons
  packages/ui/components/icon/Icon.tsx
Labels: ui, core, foundation, ready-for-e2e

#16016 fix: reviewed-user-sms-lock
  packages/lib/checkRateLimitAndThrowError.ts
  packages/prisma/migrations/20240804185106_add_sms_lock_reviewed_by_admin_flag_in_user_and_team_table/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/admin/setSMSLockState.handler.ts
Labels: 🐛 bug, ❗️ migrations, 🧹 Improvements, teams, admin, community, ready-for-e2e

#16161 feat: improve Card component hover effect
  packages/ui/components/card/Card.tsx
Labels: 🧹 Improvements, ui, community, ready-for-e2e

#15132 feat: provide option to allow rescheduling with the same round-robin host
  apps/web/components/eventtype/EventAdvancedTab.tsx
  apps/web/modules/event-types/views/event-types-single-view.tsx
  apps/web/public/static/locales/en/common.json
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/getEventTypesFromDB.ts
  packages/features/bookings/lib/handleNewBooking/test/reschedule.test.ts
  packages/features/eventtypes/lib/getPublicEvent.ts
  packages/features/eventtypes/lib/types.ts
  packages/lib/defaultEvents.ts
  packages/lib/server/eventTypeSelect.ts
  packages/lib/server/repository/eventType.ts
  packages/lib/test/builder.ts
  packages/prisma/migrations/20240802053512_allow_rescheduling_with_same_round_robin_host/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: ✨ feature, ❗️ migrations, High priority, teams, bookings, event-types, community, ready-for-e2e, community-interns

#16170 chore: fixed todesktop nav
  packages/features/shell/Shell.tsx
Labels: 🐛 bug, ✨ feature, ⚡ Quick Wins, Low priority, ui, ready-for-e2e

#16172 fix: remove layout as its already in /future/settings/teams/layout.tsx
  apps/web/app/future/settings/teams/[id]/appearance/layout.tsx
  apps/web/app/future/settings/teams/[id]/billing/layout.tsx
  apps/web/app/future/settings/teams/[id]/members/layout.tsx
  apps/web/app/future/settings/teams/[id]/profile/layout.tsx
  apps/web/app/future/settings/teams/[id]/sso/layout.tsx
Labels: teams, core, consumer, ready-for-e2e

#16180 fix: Add booking related events for recurring bookings as well
  packages/embeds/embed-core/src/sdk-action-manager.ts
  packages/features/bookings/Booker/components/hooks/useBookings.ts
  packages/features/bookings/lib/create-booking.ts
  packages/features/bookings/lib/create-instant-booking.ts
  packages/features/bookings/lib/create-recurring-booking.ts
Labels: enterprise, bookings, core, ready-for-e2e

#16001 test: Bring back broken out-of-office tests, prevent modal button clickable before flicker, and fix timezone issue
  apps/web/pages/settings/my-account/out-of-office/index.tsx
  apps/web/playwright/out-of-office.e2e.ts
Labels: 🐛 bug, Medium priority, automated-tests, ui, community, consumer, ready-for-e2e

#15993 fix: scheduleId not unset properly bug
  apps/web/components/eventtype/EventAvailabilityTab.tsx
  apps/web/modules/event-types/views/event-types-single-view.tsx
  packages/core/getUserAvailability.ts
  packages/features/ee/managed-event-types/hooks/useLockedFieldsManager.tsx
  packages/features/ee/teams/components/TeamList.tsx
  packages/ui/components/card/Card.tsx
  packages/ui/components/data-table/index.tsx
Labels: 🐛 bug, ❗️ migrations, High priority, Urgent, event-types, core, foundation, ready-for-e2e

#16120 feat: `CalendarSettings` atom
  apps/web/components/AppListCard.tsx
  apps/web/components/apps/AdditionalCalendarSelector.tsx
  apps/web/components/apps/CalendarListContainer.tsx
  packages/app-store/components.tsx
  packages/embeds/embed-core/src/embed-iframe.ts
  packages/features/apps/components/DisconnectIntegration.tsx
  packages/features/bookings/Booker/store.ts
  packages/features/calendars/CalendarSwitch.tsx
  packages/platform/atoms/availability/AvailabilitySettings.tsx
  packages/platform/atoms/booker/BookerWebWrapper.tsx
  packages/platform/atoms/cal-provider/CalProvider.tsx
  packages/platform/atoms/calendar-settings/CalendarSettings.tsx
  packages/platform/atoms/calendar-settings/index.ts
  packages/platform/atoms/calendar-settings/wrappers/CalendarSettingsPlatformWrapper.tsx
  packages/platform/atoms/calendar-settings/wrappers/CalendarSettingsWebWrapper.tsx
  packages/platform/atoms/hooks/calendars/useDeleteCalendarCredentials.ts
  packages/platform/atoms/hooks/useAtomsContext.ts
  packages/platform/atoms/index.ts
  packages/platform/atoms/monorepo.ts
  packages/platform/atoms/package.json
  packages/platform/atoms/src/components/ui/switch.tsx
  packages/platform/examples/base/src/pages/calendars.tsx
  packages/trpc/components/QueryCell.tsx
  packages/ui/components/app-list-card/AppListCard.tsx
  packages/ui/components/app-list-card/index.ts
  packages/ui/components/apps/AllApps.tsx
  packages/ui/components/apps/AppCard.tsx
  packages/ui/components/apps/Slider.tsx
  packages/ui/components/breadcrumb/Breadcrumb.tsx
  packages/ui/components/calendar-switch/CalendarSwitch.tsx
  packages/ui/components/calendar-switch/index.ts
  packages/ui/components/credits/Credits.tsx
  packages/ui/components/data-table/index.tsx
  packages/ui/components/dialog/Dialog.tsx
  packages/ui/components/disconnect-calendar-integration/DisconnectIntegration.tsx
  packages/ui/components/disconnect-calendar-integration/index.ts
  packages/ui/components/editable-heading/EditableHeading.tsx
  packages/ui/components/editor/plugins/AddVariablesPlugin.tsx
  packages/ui/components/editor/plugins/ToolbarPlugin.tsx
  packages/ui/components/form/color-picker/colorpicker.tsx
  packages/ui/components/form/inputs/Input.tsx
  packages/ui/components/form/inputs/TextField.tsx
  packages/ui/components/form/timezone-select/TimezoneSelect.tsx
  packages/ui/components/form/toggleGroup/BooleanToggleGroup.tsx
  packages/ui/components/form/wizard/WizardForm.tsx
  packages/ui/components/image-uploader/BannerUploader.tsx
  packages/ui/components/image-uploader/ImageUploader.tsx
  packages/ui/components/meta/Meta.tsx
  packages/ui/components/mocks/trpc.tsx
  packages/ui/components/scrollable/ScrollableArea.tsx
  packages/ui/form/PhoneInput.tsx
  packages/ui/index.tsx
  packages/ui/layouts/WizardLayout.tsx
  packages/ui/styles/useCalcomTheme.tsx
Labels: ✨ feature, platform, core, ready-for-e2e

#16179 feat: e2e reports in gh-pages
  .github/actions/yarn-install/action.yml
  .github/actions/yarn-playwright-install/action.yml
  .github/workflows/cleanup.yml
  .github/workflows/e2e.yml
  .github/workflows/merge-reports.yml
  .github/workflows/pr.yml
  .github/workflows/publish-report.yml
  .github/workflows/yarn-install.yml
  playwright.config.ts
Labels: automated-tests, ci, core, foundation, ready-for-e2e

#16146 feat: add gtm to load in us only
  apps/web/components/GTM.tsx
  apps/web/components/PageWrapper.tsx
  apps/web/pages/api/geolocation.ts
  package.json
  packages/features/ee/workflows/lib/reminders/providers/sendgridProvider.ts
  yarn.lock
Labels: ✨ feature, ui, core, consumer, ready-for-e2e

#15902 fix: Disable all emails per event type w/o a workflow [CAL-4066]
  apps/web/components/eventtype/EventAdvancedTab.tsx
  apps/web/components/eventtype/settings/DisableAllEmailsSetting.tsx
  apps/web/pages/api/cron/bookingReminder.ts
  apps/web/public/static/locales/en/common.json
  packages/app-store/stripepayment/lib/PaymentService.ts
  packages/app-store/vital/lib/reschedule.ts
  packages/app-store/wipemycalother/lib/reschedule.ts
  packages/emails/email-manager.ts
  packages/features/bookings/lib/handleBookingRequested.ts
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/features/bookings/lib/handleConfirmation.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleSeats/cancel/cancelAttendeeSeat.ts
  packages/features/bookings/lib/handleSeats/create/createNewSeat.ts
  packages/features/bookings/lib/handleSeats/reschedule/attendee/attendeeRescheduleSeatedBooking.ts
  packages/features/bookings/lib/handleSeats/reschedule/owner/combineTwoSeatedBookings.ts
  packages/features/bookings/lib/handleSeats/reschedule/owner/moveSeatedBookingToNewTimeSlot.ts
  packages/features/credentials/handleDeleteCredential.ts
  packages/features/ee/payments/api/webhook.ts
  packages/features/ee/round-robin/roundRobinReassignment.ts
  packages/lib/payment/handlePayment.ts
  packages/lib/payment/handlePaymentSuccess.ts
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/loggedInViewer/connectAndJoin.handler.ts
  packages/trpc/server/routers/viewer/bookings/confirm.handler.ts
  packages/trpc/server/routers/viewer/bookings/editLocation.handler.ts
  packages/trpc/server/routers/viewer/bookings/requestReschedule.handler.ts
  packages/trpc/server/routers/viewer/eventTypes/update.handler.ts
  packages/trpc/server/routers/viewer/payments.tsx
  packages/trpc/server/routers/viewer/payments/chargeCard.handler.ts
  packages/types/PaymentService.d.ts
Labels: ✨ feature, 🎨 needs design, Medium priority, High priority, teams, organizations, emails, core, consumer, ready-for-e2e

#16195 fix: doesn't fall back to calvideo if wrong destination is used for google meet
  packages/core/EventManager.ts
Labels: 🐛 bug, Medium priority, community, ready-for-e2e

#16097 fix: transcribe UI subtitle were blocking chat
  apps/web/modules/videos/ai/ai-transcribe.tsx
  apps/web/modules/videos/views/videos-single-view.tsx
Labels: 🐛 bug, ⚡ Quick Wins, ui, cal video, ai, ready-for-e2e

#16100 fix: ready-for-e2e label
  .github/workflows/pr-review.yml
Labels: 🐛 bug, core, foundation, ready-for-e2e

#16202 test: merge all e2e reports
  .github/workflows/e2e-app-store.yml
  .github/workflows/e2e-embed-react.yml
  .github/workflows/e2e-embed.yml
  .github/workflows/pr.yml
Labels: automated-tests, core, foundation, ready-for-e2e

#16205 fix: missing pipeline dependecies
  .github/workflows/pr.yml
Labels: automated-tests, ci, core, foundation, ready-for-e2e

#16181 chore: preserve non-org dashboard for platform users
  apps/web/public/icons/sprite.svg
  packages/features/auth/lib/next-auth-options.ts
  packages/features/eventtypes/lib/getPublicEvent.ts
  packages/features/shell/Shell.tsx
  packages/lib/server/getBrand.ts
  packages/lib/server/repository/profile.ts
  packages/lib/server/repository/user.ts
  packages/trpc/server/routers/loggedInViewer/me.handler.ts
  packages/ui/components/icon/icon-list.mjs
  packages/ui/components/icon/icon-names.ts
Labels: High priority, platform, core, high-risk, ready-for-e2e

#16210 fix: platform me data for dashboard
  apps/api/v2/src/ee/me/me.controller.e2e-spec.ts
  apps/api/v2/src/ee/me/me.controller.ts
  apps/api/v2/src/ee/me/outputs/me.output.ts
  apps/api/v2/src/modules/auth/guards/permissions/permissions.guard.ts
  apps/api/v2/src/modules/auth/strategies/api-auth/api-auth.strategy.ts
  apps/api/v2/src/modules/users/users.repository.ts
  apps/api/v2/swagger/documentation.json
  apps/web/components/settings/platform/hooks/useGetUserAttributes.ts
  apps/web/components/settings/platform/hooks/usePlatformMe.ts
  packages/platform/types/oauth-clients.ts
Labels: platform, core, ready-for-e2e

#16214 fix: use platform me typing
  apps/web/components/settings/platform/hooks/useGetUserAttributes.ts
  apps/web/components/settings/platform/hooks/usePlatformMe.ts
Labels: platform, core, ready-for-e2e

#15558 feat: Round Robin Weights
  apps/web/components/eventtype/EventTeamTab.tsx
  apps/web/modules/event-types/views/event-types-single-view.tsx
  apps/web/public/static/locales/en/common.json
  apps/web/test/lib/CheckForEmptyAssignment.test.ts
  apps/web/test/lib/team-event-types.test.ts
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  packages/app-store/routing-forms/components/SingleForm.tsx
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/getEventTypesFromDB.ts
  packages/features/bookings/lib/handleNewBooking/loadUsers.ts
  packages/features/bookings/lib/handleNewBooking/types.ts
  packages/features/ee/round-robin/roundRobinReassignment.ts
  packages/features/eventtypes/components/AddMembersWithSwitch.tsx
  packages/features/eventtypes/components/CheckedTeamSelect.tsx
  packages/features/eventtypes/components/HostEditDialogs.tsx
  packages/features/eventtypes/lib/types.ts
  packages/lib/defaultEvents.ts
  packages/lib/server/eventTypeSelect.ts
  packages/lib/server/getLuckyUser.integration-test.ts
  packages/lib/server/getLuckyUser.ts
  packages/lib/server/repository/booking.ts
  packages/lib/server/repository/eventType.ts
  packages/lib/test/builder.ts
  packages/prisma/migrations/20240626171118_add_weights_to_host/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer/eventTypes/types.ts
  packages/trpc/server/routers/viewer/eventTypes/update.handler.ts
  packages/trpc/server/routers/viewer/eventTypes/util.ts
Labels: ✨ feature, ❗️ migrations, Medium priority, High priority, teams, core, consumer, high-risk, ready-for-e2e

#16108 refactor: use WebhookService in payments router
  packages/trpc/server/routers/viewer/payments.tsx
Labels: webhooks, core, 💻 refactor, foundation, ready-for-e2e

#16133 feat: destination calendar settings for `CalendarSettings` atom
  apps/api/v2/src/ee/calendars/outputs/connected-calendars.output.ts
  apps/api/v2/src/modules/destination-calendars/controllers/destination-calendars.controller.e2e-spec.ts
  apps/api/v2/src/modules/destination-calendars/controllers/destination-calendars.controller.ts
  apps/api/v2/src/modules/destination-calendars/destination-calendars.module.ts
  apps/api/v2/src/modules/destination-calendars/destination-calendars.repository.ts
  apps/api/v2/src/modules/destination-calendars/inputs/destination-calendars.input.ts
  apps/api/v2/src/modules/destination-calendars/outputs/destination-calendars.output.ts
  apps/api/v2/src/modules/destination-calendars/services/destination-calendars.service.ts
  apps/api/v2/src/modules/endpoints.module.ts
  apps/api/v2/swagger/documentation.json
  apps/web/components/apps/CalendarListContainer.tsx
  packages/features/calendars/DestinationCalendarSelector.tsx
  packages/platform/atoms/calendar-settings/CalendarSettings.tsx
  packages/platform/atoms/calendar-settings/wrappers/CalendarSettingsPlatformWrapper.tsx
  packages/platform/atoms/destination-calendar/DestinationCalendar.tsx
  packages/platform/atoms/destination-calendar/DestinationCalendarSelector.tsx
  packages/platform/atoms/destination-calendar/index.ts
  packages/platform/atoms/destination-calendar/wrappers/DestinationCalendarSettingsPlatformWrapper.tsx
  packages/platform/atoms/destination-calendar/wrappers/DestinationCalendarSettingsWebWrapper.tsx
  packages/platform/atoms/hooks/calendars/useUpdateDestinationCalendars.ts
  packages/platform/atoms/index.ts
  packages/platform/atoms/lib/getPlaceholderContent.ts
  packages/platform/atoms/monorepo.ts
  packages/platform/atoms/selected-calendar/SelectedCalendarSettings.tsx
  packages/platform/atoms/selected-calendar/index.ts
  packages/platform/atoms/selected-calendar/wrappers/SelectedCalendarSettingsPlatformWrapper.tsx
  packages/platform/atoms/selected-calendar/wrappers/SelectedCalendarSettingsWebWrapper.tsx
  packages/platform/examples/base/src/pages/calendars.tsx
Labels: ✨ feature, platform, core, ready-for-e2e

#16220 fix: pipeline permissions for label action
  .github/workflows/pr-review.yml
Labels: ci, core, foundation, ready-for-e2e

#15964 feat: attributes
  apps/web/pages/api/trpc/attributes/[trpc].ts
  apps/web/pages/settings/organizations/attributes/[id]/edit.tsx
  apps/web/pages/settings/organizations/attributes/create.tsx
  apps/web/pages/settings/organizations/attributes/index.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/ee/organizations/pages/settings/attributes/AttributesForm.tsx
  packages/features/ee/organizations/pages/settings/attributes/ListSkeleton.tsx
  packages/features/ee/organizations/pages/settings/attributes/attributes-create-view.tsx
  packages/features/ee/organizations/pages/settings/attributes/attributes-edit-view.tsx
  packages/features/ee/organizations/pages/settings/attributes/attributes-list-view.tsx
  packages/features/flags/config.ts
  packages/features/settings/layouts/SettingsLayout.tsx
  packages/features/users/components/UserTable/EditSheet/EditUserForm.tsx
  packages/features/users/components/UserTable/EditSheet/EditUserSheet.tsx
  packages/features/users/components/UserTable/UserListTable.tsx
  packages/prisma/migrations/20240808084028_add_attribute_tables/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/react/shared.ts
  packages/trpc/server/routers/viewer/_router.tsx
  packages/trpc/server/routers/viewer/attributes/_router.ts
  packages/trpc/server/routers/viewer/attributes/assignUserToAttribute.handler.ts
  packages/trpc/server/routers/viewer/attributes/assignUserToAttribute.schema.ts
  packages/trpc/server/routers/viewer/attributes/create.handler.ts
  packages/trpc/server/routers/viewer/attributes/create.schema.ts
  packages/trpc/server/routers/viewer/attributes/delete.handler.ts
  packages/trpc/server/routers/viewer/attributes/delete.schema.ts
  packages/trpc/server/routers/viewer/attributes/edit.handler.ts
  packages/trpc/server/routers/viewer/attributes/edit.schema.ts
  packages/trpc/server/routers/viewer/attributes/get.handler.ts
  packages/trpc/server/routers/viewer/attributes/get.schema.ts
  packages/trpc/server/routers/viewer/attributes/getByUserId.handler.ts
  packages/trpc/server/routers/viewer/attributes/getByUserId.schema.ts
  packages/trpc/server/routers/viewer/attributes/list.handler.ts
  packages/trpc/server/routers/viewer/attributes/toggleActive.handler.ts
  packages/trpc/server/routers/viewer/attributes/toggleActive.schema.ts
  packages/trpc/server/routers/viewer/organizations/updateUser.handler.ts
  packages/trpc/server/routers/viewer/organizations/updateUser.schema.ts
  packages/ui/components/button/index.ts
  packages/ui/components/form/select/Select.tsx
  packages/ui/components/sheet/sheet.tsx
  packages/ui/index.tsx
Labels: ✨ feature, ❗️ migrations, High priority, teams, core, consumer, ready-for-e2e

#16219 chore: Release v4.4.0
  apps/web/package.json
Labels: core, foundation, ready-for-e2e

#16217 fix: Outlook Event Formatting
  packages/app-store/office365calendar/lib/CalendarService.ts
Labels: 🐛 bug, core, calendar-apps, consumer, ready-for-e2e

#16128 feat: extend api/v2/event-types
  apps/api/v2/package.json
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/controllers/event-types.controller.e2e-spec.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/event-types.repository.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/event-types.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/input-event-types.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/output-event-types.service.ts
  apps/api/v2/src/modules/organizations/controllers/event-types/organizations-event-types.e2e-spec.ts
  apps/api/v2/src/modules/organizations/services/event-types/input.service.ts
  apps/api/v2/src/modules/organizations/services/event-types/organizations-event-types.service.ts
  apps/api/v2/src/modules/organizations/services/event-types/output.service.ts
  apps/api/v2/swagger/documentation.json
  packages/lib/event-types/transformers/api-request.spec.ts
  packages/lib/event-types/transformers/api-request.ts
  packages/lib/event-types/transformers/api-response.spec.ts
  packages/lib/event-types/transformers/api-response.ts
  packages/platform/atoms/event-types/atom-api-transformers/transformApiEventTypeForAtom.ts
  packages/platform/libraries/CHANGELOG.md
  packages/platform/libraries/index.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/booking-limits-count.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/booking-limits-duration.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/booking-window.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/create-event-type.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/enums/booking-window.enum.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/enums/interval-limits.enum.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/index.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/update-event-type.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/outputs/event-type.output.ts
  yarn.lock
Labels: ✨ feature, platform, api, event-types, core, ready-for-e2e

#16227 fix: padding around adding fixed host
  apps/web/components/eventtype/EventTeamTab.tsx
Labels: ui, core, consumer, ready-for-e2e

#16204 fix: Duplicating org team event types not working #16199
  packages/prisma/zod/custom/eventtype.ts
Labels: 🐛 bug, teams, community, ready-for-e2e

#16235 fix: check profiles from user.profiles apiv2
  apps/api/v2/src/ee/me/me.controller.ts
  apps/api/v2/src/modules/organizations/services/event-types/organizations-event-types.service.ts
  apps/api/v2/src/modules/users/services/users.service.ts
  apps/api/v2/src/modules/users/users.repository.ts
Labels: 🐛 bug, platform, api, core, ready-for-e2e

#16239 fix: rewrite to avoid cross origin issues with sprite.svg icons
  apps/web/next.config.js
Labels: platform, core, foundation, ready-for-e2e

#16244 fix: cross domain SVG sprites
  apps/web/app/layout.tsx
  apps/web/components/PageWrapper.tsx
  apps/web/lib/app-providers-app-dir.tsx
  apps/web/lib/app-providers.tsx
  packages/platform/atoms/cal-provider/BaseCalProvider.tsx
  packages/ui/components/icon/Icon.tsx
  packages/ui/components/icon/IconSprites.tsx
  packages/ui/index.tsx
  packages/ui/package.json
  yarn.lock
Labels: 🐛 bug, ui, core, foundation, ready-for-e2e

#16246 chore: v4.4.1
  apps/web/package.json
Labels: core, foundation, ready-for-e2e

#16234 fix: cal video bug fix and improvements
  apps/web/modules/videos/ai/ai-transcribe.tsx
Labels: 🐛 bug, enterprise, core, cal video, ready-for-e2e

#15715 feat: Add 'Disable on Prefill' option for fields
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/inputs/update-event-type.input.ts
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/outputs/get-event-type-public.output.ts
  apps/web/public/static/locales/en/common.json
  packages/app-store/routing-forms/components/FormInputFields.tsx
  packages/app-store/routing-forms/components/react-awesome-query-builder/widgets.test.tsx
  packages/app-store/routing-forms/components/react-awesome-query-builder/widgets.tsx
  packages/embeds/embed-core/playwright/lib/testUtils.ts
  packages/features/form-builder/Components.tsx
  packages/features/form-builder/FormBuilder.tsx
  packages/features/form-builder/FormBuilderField.tsx
  packages/features/form-builder/lib/formbuilder/test/FormBuilder.test.tsx
  packages/features/form-builder/lib/formbuilder/test/testUtils.ts
  packages/features/form-builder/schema.ts
  packages/features/form-builder/useShouldBeDisabledDueToPrefill.test.ts
  packages/features/form-builder/useShouldBeDisabledDueToPrefill.tsx
  packages/prisma/schema.prisma
  vitest.workspace.ts
Labels: ✨ feature, High priority, 💎 Bounty, ui, booking-page, 🙋 Bounty claim, community, ready-for-e2e

#16240 fix: event name in attendee cancellation email
  packages/emails/email-manager.ts
Labels: 🐛 bug, emails, core, consumer, ready-for-e2e

#16229 chore: missing ff attributes migration
  packages/prisma/migrations/20240816083533_attribute_feature_flag/migration.sql
Labels: ❗️ migrations, core, consumer, ready-for-e2e

#16111 fix: ensures tRPC definitions are built before starting dev scripts
  packages/trpc/package.json
  turbo.json
Labels: ⬆️ dependencies, ci, core, foundation, ready-for-e2e

#16263 chore: update icons list
  packages/ui/components/icon/icon-list.mjs
Labels: platform, ui, core, ready-for-e2e

#16257 docs: update documentation references to include `/docs` base path
  .github/PULL_REQUEST_TEMPLATE.md
  apps/api/v1/pages/api/availabilities/[id]/_delete.ts
  apps/api/v1/pages/api/availabilities/[id]/_get.ts
  apps/api/v1/pages/api/availabilities/[id]/_patch.ts
  apps/api/v1/pages/api/availabilities/_post.ts
  apps/api/v1/pages/api/docs.ts
  apps/api/v1/pages/api/event-types/[id]/_delete.ts
  apps/api/v1/pages/api/event-types/[id]/_get.ts
  apps/api/v1/pages/api/event-types/[id]/_patch.ts
  apps/api/v1/pages/api/event-types/_get.ts
  apps/api/v1/pages/api/event-types/_post.ts
  apps/api/v1/pages/api/teams/[teamId]/event-types/_get.ts
  apps/api/v1/pages/api/webhooks/[id]/_delete.ts
  apps/api/v1/pages/api/webhooks/[id]/_get.ts
  apps/api/v1/pages/api/webhooks/[id]/_patch.ts
  apps/api/v1/pages/api/webhooks/_get.ts
  apps/api/v1/pages/api/webhooks/_post.ts
Labels: docs, community, ready-for-e2e

#16243 fix: type issues in attributes-edit-view
  packages/features/ee/organizations/pages/settings/attributes/attributes-edit-view.tsx
Labels: organizations, ui, core, foundation, ready-for-e2e

#16187 fix: Chinese traditional shows multiple durations of the event as a string
  apps/web/public/static/locales/cs/common.json
  apps/web/public/static/locales/da/common.json
  apps/web/public/static/locales/es/common.json
  apps/web/public/static/locales/eu/common.json
  apps/web/public/static/locales/ja/common.json
  apps/web/public/static/locales/ko/common.json
  apps/web/public/static/locales/nl/common.json
  apps/web/public/static/locales/no/common.json
  apps/web/public/static/locales/pl/common.json
  apps/web/public/static/locales/pt-BR/common.json
  apps/web/public/static/locales/ro/common.json
  apps/web/public/static/locales/ru/common.json
  apps/web/public/static/locales/sr/common.json
  apps/web/public/static/locales/sv/common.json
  apps/web/public/static/locales/tr/common.json
  apps/web/public/static/locales/uk/common.json
  apps/web/public/static/locales/vi/common.json
  apps/web/public/static/locales/zh-CN/common.json
  apps/web/public/static/locales/zh-TW/common.json
Labels: 🐛 bug, i18n, community, ready-for-e2e

#15422 feat: make the meeting duration time more visually toggleable
  apps/web/modules/users/views/users-type-public-view.getServerSideProps.tsx
  apps/web/playwright/dynamic-booking-pages.e2e.ts
  apps/web/playwright/event-types.e2e.ts
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/components/event-meta/Details.tsx
  packages/features/bookings/components/event-meta/Duration.tsx
  packages/ui/components/apps/AllApps.tsx
Labels: ✨ feature, 🧹 Improvements, linear, Medium priority, bookings, ui, booking-page, community, ready-for-e2e, community-interns

#16264 fix: v1 api payments endpoint fix
  apps/api/v1/lib/validations/payment.ts
Labels: 🐛 bug, Medium priority, enterprise, api, core, ready-for-e2e

#16163 fix: #16150 update to fix seated event reschedule
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleSeats/test/handleSeats.test.ts
Labels: 🐛 bug, bookings, seats, community, ready-for-e2e

#16267 chore(availabilty-page): Bulk update modal
  packages/platform/atoms/availability/AvailabilitySettings.tsx
Labels: 🐛 bug, platform, ui, community, ready-for-e2e

#16110 fix: trpc config to catch previously uncaught errors
  packages/trpc/package.json
  packages/trpc/tsconfig.json
  turbo.json
Labels: core, 💻 refactor, foundation, ready-for-e2e

#16109 fix: uncaught types errors in invite members team handler
  packages/trpc/package.json
  packages/trpc/server/routers/viewer/teams/inviteMember/__mocks__/inviteMemberUtils.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMember.handler.test.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMemberUtils.test.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/types.ts
  packages/trpc/tsconfig.json
  turbo.json
Labels: ❗️ migrations, platform, automated-tests, core, foundation, ready-for-e2e

#16273 fix: only keep latest e2e test results
  .github/workflows/publish-report.yml
Labels: automated-tests, ci, core, foundation, ready-for-e2e

#16198 fix: #16079 hide settings/Admin API if not org and update link to sales
  packages/features/ee/organizations/pages/settings/admin-api.tsx
  packages/features/settings/layouts/SettingsLayout.tsx
Labels: Low priority, api, organizations, community, ready-for-e2e

#16196 fix: Close.com can't be installed
  packages/app-store/closecom/pages/setup/index.tsx
Labels: 🐛 bug, app-store, crm-apps, community, ready-for-e2e

#16185 fix: whatsapp message body sometimes editable (Issue #16067)
  apps/web/components/eventtype/EventSetupTab.tsx
  packages/ui/components/editor/Editor.test.tsx
  packages/ui/components/editor/Editor.tsx
  packages/ui/components/editor/plugins/EditablePlugin.test.tsx
  packages/ui/components/editor/plugins/EditablePlugin.tsx
Labels: 🐛 bug, Medium priority, workflows, community, ready-for-e2e

#16216 feat: Add transition to hover background in multiple components
  apps/web/components/apps/installation/AccountsStepCard.tsx
  apps/web/components/apps/installation/EventTypesStepCard.tsx
  apps/web/components/eventtype/EventTypeSingleLayout.tsx
  apps/web/components/team/screens/Team.tsx
  apps/web/modules/bookings/views/bookings-single-view.tsx
  apps/web/modules/event-types/views/event-types-listing-view.tsx
  apps/web/pages/team/[slug].tsx
  apps/web/playwright/insights.e2e.ts
  packages/app-store/qr_code/components/EventTypeAppSettingsInterface.tsx
  packages/app-store/routing-forms/components/FormActions.tsx
  packages/app-store/routing-forms/components/SingleForm.tsx
  packages/features/ee/organizations/components/TeamInviteFromOrg.tsx
  packages/features/ee/organizations/pages/components/OtherTeamListItem.tsx
  packages/features/ee/support/components/ContactMenuItem.tsx
  packages/features/ee/support/components/HelpMenuItem.tsx
  packages/features/ee/support/lib/freshchat/FreshChatMenuItem.tsx
  packages/features/ee/support/lib/helpscout/HelpscoutMenuItem.tsx
  packages/features/ee/support/lib/zendesk/ZendeskMenuItem.tsx
  packages/features/ee/workflows/components/WorkflowListPage.tsx
  packages/features/ee/workflows/pages/index.tsx
  packages/features/embed/Embed.tsx
  packages/features/filters/components/TeamsFilter.tsx
  packages/features/form-builder/Components.tsx
  packages/features/form-builder/FormBuilder.tsx
  packages/features/insights/filters/EventTypeList.tsx
  packages/features/kbar/Kbar.tsx
  packages/features/settings/layouts/SettingsLayout.tsx
  packages/features/settings/layouts/SettingsLayoutAppDir.tsx
  packages/features/shell/Shell.tsx
  packages/features/troubleshooter/components/TroubleshooterSidebar.tsx
  packages/platform/atoms/availability/AvailabilitySettings.tsx
  packages/ui/components/command/index.tsx
  packages/ui/components/editor/plugins/AddVariablesPlugin.tsx
  packages/ui/components/form/dropdown/Dropdown.tsx
  packages/ui/components/image-uploader/BannerUploader.tsx
  packages/ui/components/image-uploader/ImageUploader.tsx
  packages/ui/components/table/TableNew.tsx
  packages/ui/form/radio-area/Radio.tsx
  packages/ui/form/radio-area/RadioAreaGroup.tsx
Labels: 🧹 Improvements, community, ready-for-e2e

#16215 fix: Apps config modal form showing the same config for all apps
  packages/features/apps/AdminAppsList.tsx
Labels: 🐛 bug, community, ready-for-e2e

#16242 fix: Timezone overflow
  packages/features/bookings/Booker/components/EventMeta.tsx
Labels: 🐛 bug, bookings, booking-page, community, ready-for-e2e

#16231 fix: textarea ux in Editor.tsx #16225
  packages/features/eventtypes/components/CreateEventTypeDialog.tsx
  packages/ui/components/editor/Editor.tsx
Labels: 🐛 bug, ui, community, ready-for-e2e

#14740 feat: ability to add guests via app.cal.com/bookings
  apps/web/components/booking/BookingListItem.tsx
  apps/web/components/dialog/AddGuestsDialog.tsx
  apps/web/public/static/locales/en/common.json
  packages/emails/email-manager.ts
  packages/emails/src/templates/AttendeeAddGuestsEmail.tsx
  packages/emails/src/templates/OrganizerAddGuestsEmail.tsx
  packages/emails/src/templates/index.ts
  packages/emails/templates/attendee-add-guests-email.ts
  packages/emails/templates/organizer-add-guests-email.ts
  packages/trpc/server/routers/viewer/bookings/_router.tsx
  packages/trpc/server/routers/viewer/bookings/addGuests.handler.ts
  packages/trpc/server/routers/viewer/bookings/addGuests.schema.ts
  packages/ui/form/MultiEmail.tsx
  packages/ui/form/MultiEmailLazy.tsx
  packages/ui/index.tsx
Labels: ✨ feature, 🎨 needs design, Medium priority, Low priority, bookings, booking-page, emails, community, ready-for-e2e, community-interns

#16233 chore: update platform billing plans
  apps/web/components/settings/platform/dashboard/NoPlatformPlan.tsx
  apps/web/components/settings/platform/platformUtils.ts
Labels: platform, core, ready-for-e2e

#16249 fix: check profiles and orgId from user.profiles apiv2
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/event-types.repository.ts
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/services/event-types.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/event-types.repository.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/event-types.service.ts
  apps/api/v2/src/modules/auth/guards/organization-roles/organization-roles.guard.ts
  apps/api/v2/src/modules/billing/billing.module.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-clients/oauth-clients.controller.ts
  apps/api/v2/src/modules/oauth-clients/guards/oauth-client-guard.ts
  apps/api/v2/src/modules/organizations/services/event-types/organizations-event-types.service.ts
  apps/api/v2/src/modules/users/services/users.service.ts
  apps/api/v2/src/modules/webhooks/guards/is-oauth-client-webhook-guard.ts
Labels: platform, core, ready-for-e2e

#16304 fix: UI Breaks When Entering a Long Username in Profile Settings
  apps/web/components/ui/UsernameAvailability/PremiumTextfield.tsx
  apps/web/components/ui/UsernameAvailability/UsernameTextfield.tsx
Labels: 🐛 bug, ✅ good first issue, 🧹 Improvements, linear, ui, community, ready-for-e2e

#16288 chore: [app-router-migration] - `settings/teams/[id]/sso` is not needed
  apps/web/app/future/settings/teams/[id]/sso/page.tsx
Labels: community, ready-for-e2e

#16279 fix: round robin event rejection problem
  apps/web/modules/bookings/views/bookings-single-view.tsx
Labels: 🐛 bug, teams, community, ready-for-e2e, community-interns

#16245 fix: permissions issue in pr labeler
  .github/workflows/pr-review.yml
Labels: ci, core, foundation, ready-for-e2e

#16300 feat: :sparkles: support for adding script url added for umami
  packages/app-store/umami/components/EventTypeAppCardInterface.tsx
  packages/app-store/umami/config.json
  packages/app-store/umami/zod.ts
Labels: ✨ feature, community, ready-for-e2e

#14767 fix: Workflow action 'email to host' only sends to one host of team e…
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/features/bookings/lib/handleConfirmation.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/test/workflow-notifications.test.ts
  packages/features/bookings/lib/handleSeats/handleSeats.ts
  packages/features/ee/workflows/api/scheduleEmailReminders.ts
  packages/features/ee/workflows/lib/getWorkflowReminders.ts
  packages/features/ee/workflows/lib/reminders/reminderScheduler.ts
  packages/trpc/server/routers/viewer/workflows/activateEventType.handler.ts
  packages/trpc/server/routers/viewer/workflows/util.ts
Labels: 🐛 bug, Medium priority, teams, workflows, emails, community, ready-for-e2e, community-interns

#16248 fix: atoms icons and build issues
  .github/workflows/all-checks.yml
  .github/workflows/atoms-production-build.yml
  .github/workflows/pr.yml
  apps/api/v2/package.json
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/controllers/event-types.controller.e2e-spec.ts
  apps/api/v2/src/modules/organizations/controllers/event-types/organizations-event-types.e2e-spec.ts
  apps/api/v2/src/modules/organizations/services/event-types/input.service.ts
  apps/api/v2/swagger/documentation.json
  apps/web/package.json
  apps/web/public/icons/sprite.svg
  packages/lib/event-types/transformers/api-request.ts
  packages/lib/event-types/transformers/api-response.ts
  packages/platform/atoms/connect/apple/AppleConnect.tsx
  packages/platform/atoms/package.json
  packages/platform/atoms/vite.config.ts
  packages/platform/enums/README.md
  packages/platform/enums/event-types/booking-window.enum.ts
  packages/platform/enums/event-types/editable.ts
  packages/platform/enums/event-types/field-type.ts
  packages/platform/enums/event-types/frequency.ts
  packages/platform/enums/event-types/interval-limits.enum.ts
  packages/platform/enums/event-types/period-type.ts
  packages/platform/enums/event-types/scheduling-type.ts
  packages/platform/enums/index.ts
  packages/platform/enums/monorepo.ts
  packages/platform/enums/package.json
  packages/platform/enums/permissions.ts
  packages/platform/enums/tsconfig.json
  packages/platform/types/event-types/event-types_2024_06_14/inputs/booking-window.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/create-event-type.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/outputs/event-type.output.ts
  packages/platform/types/package.json
  packages/trpc/tsconfig.json
  packages/ui/components/icon/icon-list.mjs
  packages/ui/components/icon/icon-names.ts
Labels: platform, core, ready-for-e2e

#16247 fix: Disable ICS file generation when destination calendar is Outlook
  apps/web/test/utils/bookingScenario/expects.ts
  packages/app-store/office365calendar/lib/CalendarService.ts
  packages/emails/lib/generateIcsFile.ts
  packages/emails/lib/generateIcsString.ts
  packages/emails/templates/attendee-add-guests-email.ts
  packages/emails/templates/attendee-cancelled-email.ts
  packages/emails/templates/attendee-location-change-email.ts
  packages/emails/templates/attendee-rescheduled-email.ts
  packages/emails/templates/attendee-scheduled-email.ts
  packages/emails/templates/attendee-was-requested-to-reschedule-email.ts
  packages/emails/templates/organizer-add-guests-email.ts
  packages/emails/templates/organizer-cancelled-email.ts
  packages/emails/templates/organizer-location-change-email.ts
  packages/emails/templates/organizer-requested-to-reschedule-email.ts
  packages/emails/templates/organizer-rescheduled-email.ts
  packages/emails/templates/organizer-scheduled-email.ts
  packages/features/bookings/lib/handleNewBooking/test/fresh-booking.test.ts
Labels: emails, core, calendar-apps, consumer, ready-for-e2e

#16319 chore: Make how E2E test suite checks for Stripe consistent
  apps/web/playwright/change-username.e2e.ts
  apps/web/playwright/integrations-stripe.e2e.ts
  apps/web/playwright/lib/testUtils.ts
  apps/web/playwright/reschedule.e2e.ts
Labels: automated-tests, core, foundation, ready-for-e2e

#15706 feat: Multiple Options Paste and Routing Form improvements related to Select fields
  apps/web/playwright/fixtures/routingForms.ts
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/webhook.e2e.ts
  packages/app-store/routing-forms/api/responses/[formId].ts
  packages/app-store/routing-forms/components/FormInputFields.tsx
  packages/app-store/routing-forms/components/SingleForm.tsx
  packages/app-store/routing-forms/lib/getQueryBuilderConfig.ts
  packages/app-store/routing-forms/lib/getSerializableForm.ts
  packages/app-store/routing-forms/lib/processRoute.tsx
  packages/app-store/routing-forms/lib/selectOptions.ts
  packages/app-store/routing-forms/lib/substituteVariables.ts
  packages/app-store/routing-forms/lib/transformResponse.test.ts
  packages/app-store/routing-forms/lib/transformResponse.ts
  packages/app-store/routing-forms/pages/form-edit/[...appPages].tsx
  packages/app-store/routing-forms/pages/router/getServerSideProps.ts
  packages/app-store/routing-forms/pages/routing-link/[...appPages].tsx
  packages/app-store/routing-forms/pages/routing-link/getUrlSearchParamsToForward.test.ts
  packages/app-store/routing-forms/pages/routing-link/getUrlSearchParamsToForward.ts
  packages/app-store/routing-forms/playwright/tests/basic.e2e.ts
  packages/app-store/routing-forms/trpc/buildResponsesForReporting.test.ts
  packages/app-store/routing-forms/trpc/report.handler.ts
  packages/app-store/routing-forms/trpc/response.handler.ts
  packages/app-store/routing-forms/trpc/utils.ts
  packages/app-store/routing-forms/types/types.d.ts
  packages/app-store/routing-forms/zod.ts
  packages/features/shell/Shell.tsx
  packages/prisma/seed-app-store.ts
Labels: ✨ feature, 🧹 Improvements, ⚡ Quick Wins, Low priority, routing-forms, ui, performance, community, ready-for-e2e

#16022 fix: error message when email exists
  apps/web/pages/signup.tsx
  packages/lib/server/username.ts
Labels: enterprise, authentication, core, ready-for-e2e

#16321 chore: v4.4.3
  apps/web/package.json
Labels: core, foundation, ready-for-e2e

#16298 fix: delete attribute member relation if no input is provided
  packages/trpc/server/routers/viewer/attributes/assignUserToAttribute.handler.ts
Labels: 🐛 bug, High priority, core, consumer, ready-for-e2e

#16326 fix: Migrates E2E reports to external repo
  .github/workflows/cleanup.yml
  .github/workflows/publish-report.yml
Labels: automated-tests, ci, core, foundation, ready-for-e2e

#16322 revert: "fix: uncaught types errors in invite members team handler (#1…
  packages/trpc/package.json
  turbo.json
Labels: teams, core, foundation, ready-for-e2e

#16329 chore: rename calendar settings atom
  apps/web/components/apps/CalendarListContainer.tsx
  packages/platform/atoms/calendar-settings/wrappers/CalendarSettingsPlatformWrapper.tsx
  packages/platform/atoms/index.ts
  packages/platform/atoms/monorepo.ts
  packages/platform/atoms/selected-calendar/index.ts
  packages/platform/atoms/selected-calendars/SelectedCalendarsSettings.tsx
  packages/platform/atoms/selected-calendars/index.ts
  packages/platform/atoms/selected-calendars/wrappers/SelectedCalendarsSettingsPlatformWrapper.tsx
  packages/platform/atoms/selected-calendars/wrappers/SelectedCalendarsSettingsWebWrapper.tsx
Labels: platform, core, ready-for-e2e

#15103 fix: visiting organization without access shows empty page
  apps/web/pages/settings/organizations/members.tsx
  packages/features/ee/organizations/pages/settings/getServerSidePropsMembers.tsx
Labels: 🐛 bug, Medium priority, enterprise, organizations, community, ready-for-e2e

#16338 fix: fixing i18n key signing_up_terms is lost
  apps/web/public/static/locales/bg/common.json
  apps/web/public/static/locales/ca/common.json
  apps/web/public/static/locales/eu/common.json
  apps/web/public/static/locales/fi/common.json
  apps/web/public/static/locales/hr/common.json
  apps/web/public/static/locales/hu/common.json
  apps/web/public/static/locales/km/common.json
  apps/web/public/static/locales/lv/common.json
  apps/web/public/static/locales/nl/common.json
  apps/web/public/static/locales/sr/common.json
  apps/web/public/static/locales/ta/common.json
  apps/web/public/static/locales/vi/common.json
  apps/web/public/static/locales/zh-CN/common.json
Labels: i18n, community, ready-for-e2e

#16339 fix: multiple_duration_timeUnit_short Chinese translation
  apps/web/public/static/locales/ar/common.json
  apps/web/public/static/locales/bg/common.json
  apps/web/public/static/locales/ca/common.json
  apps/web/public/static/locales/cs/common.json
  apps/web/public/static/locales/da/common.json
  apps/web/public/static/locales/de/common.json
  apps/web/public/static/locales/el/common.json
  apps/web/public/static/locales/es/common.json
  apps/web/public/static/locales/et/common.json
  apps/web/public/static/locales/eu/common.json
  apps/web/public/static/locales/fi/common.json
  apps/web/public/static/locales/fr/common.json
  apps/web/public/static/locales/he/common.json
  apps/web/public/static/locales/hr/common.json
  apps/web/public/static/locales/hu/common.json
  apps/web/public/static/locales/id/common.json
  apps/web/public/static/locales/it/common.json
  apps/web/public/static/locales/ja/common.json
  apps/web/public/static/locales/km/common.json
  apps/web/public/static/locales/ko/common.json
  apps/web/public/static/locales/lv/common.json
  apps/web/public/static/locales/nl/common.json
  apps/web/public/static/locales/no/common.json
  apps/web/public/static/locales/pl/common.json
  apps/web/public/static/locales/pt/common.json
  apps/web/public/static/locales/ro/common.json
  apps/web/public/static/locales/ru/common.json
  apps/web/public/static/locales/sk/common.json
  apps/web/public/static/locales/sr/common.json
  apps/web/public/static/locales/sv/common.json
  apps/web/public/static/locales/ta/common.json
  apps/web/public/static/locales/tr/common.json
  apps/web/public/static/locales/uk/common.json
  apps/web/public/static/locales/vi/common.json
  apps/web/public/static/locales/zh-CN/common.json
  apps/web/public/static/locales/zh-TW/common.json
Labels: 🐛 bug, i18n, community, ready-for-e2e

#15337 feat: Add rescheduledBy & canceledBy fields in the DB
  apps/api/v1/lib/validations/booking.ts
  apps/web/components/booking/CancelBooking.tsx
  apps/web/modules/bookings/views/bookings-single-view.tsx
  apps/web/pages/reschedule/[uid].tsx
  apps/web/test/utils/bookingScenario/expects.ts
  apps/web/test/utils/bookingScenario/getMockRequestDataForBooking.ts
  packages/emails/src/components/ManageLink.tsx
  packages/emails/src/templates/OrganizerScheduledEmail.tsx
  packages/features/bookings/Booker/store.ts
  packages/features/bookings/Booker/types.ts
  packages/features/bookings/lib/book-event-form/booking-to-mutation-input-mapper.tsx
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/features/bookings/lib/handleCancelBooking/test/webhook.test.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/test/reschedule.test.ts
  packages/features/bookings/lib/handleSeats/handleSeats.ts
  packages/features/bookings/lib/handleSeats/test/handleSeats.test.ts
  packages/features/bookings/lib/handleSeats/types.d.ts
  packages/features/webhooks/lib/sendPayload.ts
  packages/lib/CalEventParser.ts
  packages/lib/test/builder.ts
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
  packages/platform/atoms/booker/BookerWebWrapper.tsx
  packages/platform/atoms/hooks/useHandleBookEvent.ts
  packages/prisma/migrations/20240605135455_rescheduled_by_and_cancelled_by_for_bookings/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer/bookings/requestReschedule.handler.ts
Labels: ✨ feature, ✅ good first issue, ❗️ migrations, ⚡ Quick Wins, Medium priority, bookings, community, ready-for-e2e, community-interns

#16351 fix: fix some missing translation
  apps/web/public/static/locales/ar/common.json
  apps/web/public/static/locales/bg/common.json
  apps/web/public/static/locales/ca/common.json
  apps/web/public/static/locales/cs/common.json
  apps/web/public/static/locales/da/common.json
  apps/web/public/static/locales/de/common.json
  apps/web/public/static/locales/el/common.json
  apps/web/public/static/locales/es/common.json
  apps/web/public/static/locales/et/common.json
  apps/web/public/static/locales/eu/common.json
  apps/web/public/static/locales/fi/common.json
  apps/web/public/static/locales/fr/common.json
  apps/web/public/static/locales/he/common.json
  apps/web/public/static/locales/hr/common.json
  apps/web/public/static/locales/hu/common.json
  apps/web/public/static/locales/id/common.json
  apps/web/public/static/locales/it/common.json
  apps/web/public/static/locales/ja/common.json
  apps/web/public/static/locales/km/common.json
  apps/web/public/static/locales/ko/common.json
  apps/web/public/static/locales/lv/common.json
  apps/web/public/static/locales/nl/common.json
  apps/web/public/static/locales/no/common.json
  apps/web/public/static/locales/pl/common.json
  apps/web/public/static/locales/pt-BR/common.json
  apps/web/public/static/locales/pt/common.json
  apps/web/public/static/locales/ro/common.json
  apps/web/public/static/locales/ru/common.json
  apps/web/public/static/locales/sk/common.json
  apps/web/public/static/locales/sr/common.json
  apps/web/public/static/locales/sv/common.json
  apps/web/public/static/locales/ta/common.json
  apps/web/public/static/locales/tr/common.json
  apps/web/public/static/locales/uk/common.json
  apps/web/public/static/locales/vi/common.json
  apps/web/public/static/locales/zh-CN/common.json
  apps/web/public/static/locales/zh-TW/common.json
Labels: i18n, community, ready-for-e2e

#16251 feat: add recurringEvent attribute to api/v2/event-types
  apps/api/v2/package.json
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/controllers/event-types.controller.e2e-spec.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/event-types.repository.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/event-types.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/input-event-types.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/output-event-types.service.ts
  apps/api/v2/src/modules/organizations/services/event-types/input.service.ts
  apps/api/v2/src/modules/organizations/services/event-types/organizations-event-types.service.ts
  apps/api/v2/swagger/documentation.json
  apps/api/v2/tsconfig.json
  packages/app-store/routing-forms/lib/substituteVariables.ts
  packages/lib/event-types/transformers/api-request.spec.ts
  packages/lib/event-types/transformers/api-request.ts
  packages/lib/event-types/transformers/api-response.spec.ts
  packages/lib/event-types/transformers/api-response.ts
  packages/platform/enums/event-types/frequency.ts
  packages/platform/libraries/CHANGELOG.md
  packages/platform/libraries/index.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/create-event-type.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/index.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/recurrence.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/recurring-event.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/update-event-type.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/outputs/event-type.output.ts
  yarn.lock
Labels: ✨ feature, platform, api, core, ready-for-e2e

#16355 fix: Text for cookie consent checkbox in various languages
  apps/web/public/static/locales/de/common.json
  apps/web/public/static/locales/en/common.json
  apps/web/public/static/locales/es/common.json
  apps/web/public/static/locales/et/common.json
  apps/web/public/static/locales/fr/common.json
  apps/web/public/static/locales/he/common.json
  apps/web/public/static/locales/hu/common.json
  apps/web/public/static/locales/it/common.json
  apps/web/public/static/locales/pt-BR/common.json
  apps/web/public/static/locales/pt/common.json
  apps/web/public/static/locales/zh-CN/common.json
Labels: i18n, community, ready-for-e2e
