Repository calcom/cal.com, pull requests merged in 2025-02, with the labels that each got.

#19055 fix: Global e2e failure
  apps/web/playwright/out-of-office.e2e.ts
Labels: automated-tests, core, ready-for-e2e

#19052 fix: semi colon revealed in UI
  apps/web/app/(use-page-wrapper)/(main-nav)/teams/page.tsx
Labels: ui, core, consumer, ready-for-e2e

#19053 chore: tech debt clearing - `getServerSession` has a dead arg: `res`
  apps/web/lib/apps/installation/[[...step]]/getServerSideProps.ts
  apps/web/lib/d/[link]/[slug]/getServerSideProps.tsx
  apps/web/lib/reschedule/[uid]/getServerSideProps.ts
  apps/web/lib/settings/license-key/new/getServerSideProps.tsx
  apps/web/modules/bookings/views/bookings-single-view.getServerSideProps.tsx
  apps/web/pages/api/auth/changepw.ts
  apps/web/pages/api/auth/two-factor/totp/disable.ts
  apps/web/pages/api/auth/two-factor/totp/enable.ts
  apps/web/pages/api/auth/two-factor/totp/setup.ts
  apps/web/pages/api/book/event.ts
  apps/web/pages/api/book/instant-event.ts
  apps/web/pages/api/book/recurring-event.ts
  apps/web/pages/api/cancel.ts
  apps/web/pages/api/future-opt-in.ts
  apps/web/pages/api/generate-referral-link.ts
  apps/web/pages/api/integrations/[...args].ts
  apps/web/pages/api/intercom-hash.ts
  apps/web/pages/api/me.ts
  apps/web/pages/api/teams/googleworkspace/callback.ts
  apps/web/server/lib/[user]/[type]/getServerSideProps.ts
  packages/app-store/alby/pages/setup/_getServerSideProps.tsx
  packages/app-store/hitpay/pages/setup/_getServerSideProps.tsx
  packages/app-store/huddle01video/api/callback.ts
  packages/app-store/pipedrive-crm/api/add.ts
  packages/features/auth/lib/getServerSession.ts
  packages/features/ee/organizations/pages/organization.tsx
  packages/features/ee/organizations/pages/settings/getServerSidePropsMembers.tsx
  packages/features/ee/teams/api/upgrade.ts
  packages/trpc/server/middlewares/sessionMiddleware.ts
Labels: core, 💻 refactor, consumer, ready-for-e2e

#19054 fix: username visible in private booking link
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/components/EventMeta.tsx
  packages/features/bookings/components/event-meta/Members.tsx
Labels: 🐛 bug, bookings, core, consumer, ready-for-e2e

#19049 fix: trash icon is aligned now
  packages/platform/atoms/availability/AvailabilitySettings.tsx
Labels: 🐛 bug, ui, community, ready-for-e2e, community-interns

#19028 refactor: v2 api e2e performance
  apps/api/v2/jest-e2e.json
  apps/api/v2/package.json
  apps/api/v2/src/app.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-04-15/controllers/bookings.controller.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/api-key-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/booking-fields.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/confirm-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/emails/confirm-emails.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/emails/team-emails.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/emails/user-emails.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/reassign-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/recurring-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/seated-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/team-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/user-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/variable-length-bookings.e2e-spec.ts
  apps/api/v2/src/ee/calendars/controllers/calendars.controller.e2e-spec.ts
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/controllers/event-types.controller.e2e-spec.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/controllers/event-types.controller.e2e-spec.ts
  apps/api/v2/src/ee/me/me.controller.e2e-spec.ts
  apps/api/v2/src/ee/schedules/schedules_2024_04_15/controllers/schedules.controller.e2e-spec.ts
  apps/api/v2/src/ee/schedules/schedules_2024_06_11/controllers/schedules.controller.e2e-spec.ts
  apps/api/v2/src/modules/auth/strategies/api-auth/api-auth.strategy.e2e-spec.ts
  apps/api/v2/src/modules/billing/controllers/billing.controller.e2e-spec.ts
  apps/api/v2/src/modules/conferencing/controllers/conferencing.controller.e2e-spec.ts
  apps/api/v2/src/modules/destination-calendars/controllers/destination-calendars.controller.e2e-spec.ts
  apps/api/v2/src/modules/event-types/controllers/event-types-webhooks.controller.e2e-spec.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.e2e-spec.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-webhooks/oauth-client-webhooks.controller.e2e-spec.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-clients/oauth-clients.controller.e2e-spec.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-flow/oauth-flow.controller.e2e-spec.ts
  apps/api/v2/src/modules/organizations/controllers/attributes/organization-attributes-options.e2e-spec.ts
  apps/api/v2/src/modules/organizations/controllers/attributes/organization-attributes.e2e-spec.ts
  apps/api/v2/src/modules/organizations/controllers/event-types/organizations-event-types.e2e-spec.ts
  apps/api/v2/src/modules/organizations/controllers/memberships/organizations-membership.controller.e2e-spec.ts
  apps/api/v2/src/modules/organizations/controllers/schedules/organizations-schedules.e2e-spec.ts
  apps/api/v2/src/modules/organizations/controllers/teams/memberships/organizations-teams-memberships.controller.e2e-spec.ts
  apps/api/v2/src/modules/organizations/controllers/teams/organizations-teams.controller.e2e-spec.ts
  apps/api/v2/src/modules/organizations/controllers/teams/schedules/organizations-teams-schedules.e2e-spec.ts
  apps/api/v2/src/modules/organizations/controllers/users/ooo/organizations-users-ooo.e2e-spec.ts
  apps/api/v2/src/modules/organizations/controllers/users/organizations-users.e2e-spec.ts
  apps/api/v2/src/modules/organizations/controllers/webhooks/organizations-webhooks.e2e-spec.ts
  apps/api/v2/src/modules/slots/controllers/slots.controller.e2e-spec.ts
  apps/api/v2/src/modules/teams/event-types/controllers/teams-event-types.controller.e2e-spec.ts
  apps/api/v2/src/modules/teams/memberships/controllers/teams-memberships.controller.e2e-spec.ts
  apps/api/v2/src/modules/teams/teams/controllers/teams.controller.e2e-spec.ts
  apps/api/v2/src/modules/webhooks/controllers/webhooks.controller.e2e-spec.ts
  apps/api/v2/test/utils/randomNumber.ts
  apps/api/v2/test/utils/randomString.ts
Labels: platform, performance, core, 💻 refactor, ready-for-e2e

#19047 chore: Salesforce - Add logging
  packages/app-store/salesforce/lib/CrmService.ts
Labels: core, crm-apps, consumer, ready-for-e2e

#19058 fix: remove padding for custom data table header
  packages/features/data-table/components/DataTable.tsx
Labels: 📉 regressing, ui, core, consumer, ready-for-e2e

#19059 fix: remove unused attribute columns for /insights/routing
  packages/app-store/routing-forms/lib/FieldTypes.ts
  packages/features/insights/components/RoutingFormResponsesTable.tsx
Labels: routing-forms, insights, core, consumer, ready-for-e2e

#19062 fix: clean up fields columns on /insights/routing
  packages/features/insights/components/RoutingFormResponsesTable.tsx
  packages/features/insights/server/routing-events.ts
Labels: routing-forms, insights, core, consumer, ready-for-e2e

#19073 fix: Crash of getSchedule
  packages/core/getUserAvailability.ts
  packages/lib/slots.ts
Labels: enterprise, core, ready-for-e2e

#19070 fix: some modifications to logging event detail input
  packages/features/bookings/lib/handleNewBooking/ensureAvailableUsers.ts
Labels: core, foundation, ready-for-e2e

#18938 chore: Update CODEOWNERS for Platform and infra-related code
  .github/CODEOWNERS
Labels: Low priority, platform, core, foundation, ready-for-e2e

#19064 fix: empty state search messaging event page
  apps/web/modules/event-types/views/event-types-listing-view.tsx
  apps/web/public/static/locales/en/common.json
Labels: i18n, ui, community, ready-for-e2e, community-interns

#19086 chore: run webhookTriggers cron job every minute
  .github/workflows/cron-webhooks-triggers.yml
Labels: webhooks, core, consumer, ready-for-e2e

#19087 fix: do not force cancellation reason for platform
  apps/api/v2/package.json
  packages/features/bookings/lib/handleCancelBooking.ts
Labels: 🐛 bug, platform, bookings, core, ready-for-e2e

#18097 fix: Ensure previous slots do appear if the month search param is removed
  packages/features/bookings/Booker/store.ts
Labels: 🐛 bug, Stale, booking-page, community, ready-for-e2e

#19097 fix: nullish check on insights routing
  packages/features/insights/components/RoutingFormResponsesTable.tsx
Labels: 🐛 bug, insights, core, consumer, ready-for-e2e

#19102 feat: attio app
  help/apps-and-integrations/attio.mdx
  help/mint.json
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/attio/DESCRIPTION.md
  packages/app-store/attio/api/add.ts
  packages/app-store/attio/api/index.ts
  packages/app-store/attio/components/.gitkeep
  packages/app-store/attio/config.json
  packages/app-store/attio/index.ts
  packages/app-store/attio/package.json
  packages/app-store/attio/static/1.jpeg
  packages/app-store/attio/static/2.jpeg
  packages/app-store/attio/static/3.jpeg
  packages/app-store/attio/static/4.jpeg
  packages/app-store/attio/static/5.jpeg
  packages/app-store/attio/static/6.jpeg
  packages/app-store/attio/static/icon-dark.svg
  packages/app-store/attio/static/icon.svg
Labels: ✨ feature, app-store, community, ready-for-e2e

#18978 fix: preview.html
  package.json
  packages/embeds/embed-core/playwright/tests/preview.e2e.ts
  packages/embeds/embed-core/src/preview.ts
  packages/embeds/embed-core/vite.config.js
  packages/embeds/vite.config.js
  packages/lib/getSafeRedirectUrl.test.ts
  packages/lib/getSafeRedirectUrl.ts
  turbo.json
Labels: enterprise, core, security, ready-for-e2e

#19088 chore: enable more router props
  packages/platform/atoms/booker-embed/BookerEmbed.tsx
  packages/platform/atoms/router/Router.tsx
Labels: platform, core, ready-for-e2e

#18875 feat: v2 organization bookings endpoints
  apps/api/v2/src/ee/bookings/2024-08-13/bookings.module.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/team-bookings.e2e-spec.ts
  apps/api/v2/src/ee/platform-endpoints-module.ts
  apps/api/v2/src/modules/endpoints.module.ts
  apps/api/v2/src/modules/organizations/controllers/teams/bookings/inputs/get-organizations-teams-bookings.input.ts
  apps/api/v2/src/modules/organizations/controllers/teams/bookings/organizations-teams-bookings.controller.e2e-spec.ts
  apps/api/v2/src/modules/organizations/controllers/teams/bookings/organizations-teams-bookings.controller.ts
  apps/api/v2/src/modules/organizations/controllers/teams/bookings/organizations-teams-bookings.module.ts
  apps/api/v2/swagger/documentation.json
  apps/api/v2/test/fixtures/repository/organization.repository.fixture.ts
  docs/api-reference/v2/openapi.json
Labels: ✨ feature, platform, organizations, core, ready-for-e2e

#19089 chore: Don't require checks for /help updates
  .github/workflows/pr.yml
Labels: ci, core, foundation, ready-for-e2e

#19111 fix: null check
  packages/features/insights/filters/OrgTeamsFilter.tsx
Labels: core, foundation, consumer, ready-for-e2e

#19109 fix: add orgId to EventTeamAssignmentTabPlatformWrapper
  packages/platform/atoms/event-types/wrappers/EventTypePlatformWrapper.tsx
Labels: platform, event-types, core, ready-for-e2e

#19104 chore: Flatmap today's bookings
  apps/web/modules/bookings/views/bookings-listing-view.tsx
Labels: 🐛 bug, bookings, core, consumer, ready-for-e2e

#19113 fix: startdate filter and ui sync on bookings page
  packages/features/bookings/components/FiltersContainer.tsx
  packages/features/filters/components/StartTimeFilters.tsx
Labels: 🧹 Improvements, community, ready-for-e2e, community-interns

#19121 chore: Trigger Docker release on publish
  .github/workflows/release-docker.yaml
Labels: docker, core, foundation, ready-for-e2e

#19125 feat: enable booker atom for non org team events
  apps/api/v2/src/modules/teams/event-types/controllers/teams-event-types.controller.ts
  packages/platform/atoms/hooks/event-types/public/useTeamEventType.ts
Labels: ✨ feature, teams, platform, core, ready-for-e2e

#19130 fix: RSC boundary errors
  apps/web/app/(use-page-wrapper)/auth/verify-email/page.tsx
  apps/web/app/(use-page-wrapper)/more/page.tsx
Labels: 🐛 bug, core, consumer, ready-for-e2e

#19106 chore: Salesforce add more logging
  packages/app-store/salesforce/lib/CrmService.ts
Labels: core, crm-apps, consumer, ready-for-e2e

#19135 fix: change error message for cloudflare turnstile
  packages/lib/server/checkCfTurnstileToken.ts
Labels: core, consumer, ready-for-e2e

#19131 fix: logo for org team event types
  packages/features/eventtypes/lib/getPublicEvent.ts
Labels: 🐛 bug, enterprise, core, ready-for-e2e

#19105 chore: migrate api for team creation to App Router
  apps/web/app/api/teams/create/route.ts
  apps/web/pages/api/teams/create.ts
Labels: teams, api, core, consumer, ready-for-e2e

#19099 chore: migrate api/availability/calendar to App Router
  apps/web/app/api/availability/calendar/route.ts
  apps/web/pages/api/availability/calendar.ts
Labels: core, consumer, high-risk, ready-for-e2e

#19143 perf: make metadata generation light for event type single page
  apps/web/app/(use-page-wrapper)/event-types/[type]/page.tsx
  packages/lib/server/repository/eventType.ts
Labels: event-types, performance, core, consumer, ready-for-e2e

#19074 chore: migrate `api/cancel` to App Router
  apps/web/app/api/cancel/route.ts
  apps/web/pages/api/cancel.ts
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/features/bookings/lib/handleSeats/cancel/cancelAttendeeSeat.ts
Labels: api, core, consumer, high-risk, ready-for-e2e

#19151 chore: tech debt clearing — remove HeadSeo from components where not needed
  apps/web/components/apps/App.tsx
  apps/web/modules/signup-view.tsx
Labels: core, consumer, ready-for-e2e

#19144 fix: typos in docs/
  docs/api-reference/v1/openapi-v1.json
  docs/api-reference/v2/openapi.json
  docs/developing/open-source-contribution/introduction.mdx
  docs/introduction.mdx
  docs/platform/atoms/apple-calendar-connect.mdx
  docs/platform/atoms/event-type.mdx
  docs/platform/atoms/google-calendar-connect.mdx
  docs/platform/atoms/outlook-calendar-connect.mdx
  docs/platform/atoms/payment-form.mdx
  docs/platform/faq.mdx
  docs/self-hosting/database-migrations.mdx
Labels: docs, community, ready-for-e2e

#19124 docs: Embed docs Help updated with metadata passing details
  help/embedding/prefill-booking-form-embed.mdx
Labels: docs, enterprise, core, ready-for-e2e

#19146 chore: refactor `apiRouteMiddleware` and add it to some api routes in App Router
  apps/web/app/api/availability/calendar/route.ts
  apps/web/app/api/cancel/route.ts
  apps/web/app/api/customer-card/route.ts
  apps/web/app/api/plain-hash/route.ts
  apps/web/app/api/teams/create/route.ts
  packages/lib/server/apiRouteMiddleware.ts
Labels: api, core, 💻 refactor, consumer, ready-for-e2e

#19071 test: Scenario that replicates the crash in production
  apps/web/test/lib/getSchedule.test.ts
  apps/web/test/utils/bookingScenario/bookingScenario.ts
Labels: enterprise, automated-tests, core, ready-for-e2e

#19065 feat: add option to disable sending transcription emails
  apps/web/lib/apps/installation/[[...step]]/getServerSideProps.ts
  apps/web/lib/booking.ts
  apps/web/lib/daily-webhook/getBooking.ts
  apps/web/pages/api/recorded-daily-video.ts
  apps/web/public/static/locales/en/common.json
  apps/web/server/lib/[user]/getServerSideProps.ts
  packages/features/eventtypes/components/tabs/advanced/EventAdvancedTab.tsx
  packages/lib/event-types/getEventTypesPublic.ts
  packages/lib/server/eventTypeSelect.ts
  packages/lib/server/repository/eventType.ts
  packages/lib/test/builder.ts
  packages/platform/atoms/event-types/hooks/useEventTypeForm.ts
  packages/prisma/migrations/20250203180603_add_can_send_transcription_email/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/selects/event-types.ts
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer/eventTypes/getTeamAndEventTypeOptions.handler.ts
Labels: ✨ feature, ❗️ migrations, enterprise, core, ready-for-e2e

#19157 fix: source typo in EditUserForm.tsx
  packages/features/users/components/UserTable/EditSheet/EditUserForm.tsx
Labels: 🐛 bug, community, ready-for-e2e

#19162 fix: source typo in bookingScenario.ts test
  apps/web/test/utils/bookingScenario/bookingScenario.ts
Labels: community, ready-for-e2e

#19129 fix: selected filters for numeric and text filters
  packages/features/data-table/components/filters/FilterPopover.tsx
  packages/features/data-table/components/filters/NumberFilterOptions.tsx
  packages/features/data-table/components/filters/TextFilterOptions.tsx
  packages/features/data-table/components/filters/types.ts
  packages/features/data-table/components/filters/utils.ts
Labels: 🐛 bug, core, consumer, ready-for-e2e

#19156 fix: Could not book the meeting unhandled error
  packages/app-store/zohocalendar/lib/CalendarService.ts
Labels: 🐛 bug, app-store, core, ready-for-e2e

#19152 fix: Lock time-zone not working properly
  packages/features/bookings/Booker/components/EventMeta.tsx
Labels: 🐛 bug, bookings, core, ready-for-e2e

#19175 fix: null check for useSearchParams()
  example-apps/credential-sync/pages/index.tsx
  packages/features/filters/components/StartTimeFilters.tsx
Labels: 🐛 bug, core, consumer, ready-for-e2e

#19172 fix: resize columns when column visibility changes
  packages/features/data-table/lib/resizing.ts
Labels: 🐛 bug, core, consumer, ready-for-e2e

#19180 chore: SF logging
  packages/app-store/salesforce/lib/CrmService.ts
Labels: core, crm-apps, consumer, ready-for-e2e

#19184 fix: placeholder-added-robin-host-select
  apps/web/public/static/locales/en/common.json
  packages/features/eventtypes/components/CheckedTeamSelect.tsx
  packages/features/eventtypes/components/tabs/assignment/EventTeamAssignmentTab.tsx
Labels: i18n, event-types, community, ready-for-e2e, community-interns

#19067 chore: migrate orgDomain instant meeting route to App Router
  apps/web/app/future/org/[orgSlug]/instant-meeting/team/[slug]/[type]/page.tsx
  apps/web/app/org/[orgSlug]/instant-meeting/team/[slug]/[type]/page.tsx
  apps/web/lib/org/[orgSlug]/instant-meeting/team/[slug]/[type]/getServerSideProps.ts
  apps/web/modules/org/[orgSlug]/instant-meeting/team/[slug]/[type]/instant-meeting-view.tsx
  apps/web/pages/org/[orgSlug]/instant-meeting/team/[slug]/[type].tsx
Labels: organizations, core, consumer, high-risk, ready-for-e2e

#19206 feat: move apps to more
  packages/features/shell/navigation/Navigation.tsx
Labels: ✨ feature, ui, community, ready-for-e2e

#19154 perf: fetch only by id
  apps/web/app/(use-page-wrapper)/event-types/[type]/page.tsx
  packages/lib/server/repository/eventType.ts
Labels: enterprise, event-types, performance, core, ready-for-e2e

#19194 fix: typos in apps/web
  apps/web/components/layouts/_README.md
  apps/web/getNextjsOrgRewriteConfig.js
  apps/web/lib/app-providers-app-dir.tsx
  apps/web/lib/app-providers.tsx
  apps/web/lib/buildNonce.ts
  apps/web/lib/video/[uid]/getServerSideProps.ts
  apps/web/modules/auth/verify-email-change-view.tsx
  apps/web/modules/settings/my-account/profile-view.tsx
  apps/web/modules/signup-view.tsx
  apps/web/pages/_document.tsx
  apps/web/pages/api/auth/verify-email.ts
  apps/web/pages/api/teams/googleworkspace/add.ts
  apps/web/server/lib/setup/getServerSideProps.tsx
  apps/web/styles/raqb.css
  apps/web/test/lib/checkBookingLimits.test.ts
  apps/web/test/lib/getSchedule.test.ts
  apps/web/test/utils/bookingScenario/expects.ts
Labels: 🐛 bug, 🧹 Improvements, community, ready-for-e2e

#19173 fix: typo in conferencing.repository.ts filename (#19161)
  apps/api/v2/src/modules/conferencing/conferencing.module.ts
  apps/api/v2/src/modules/conferencing/repositories/conferencing.repository.ts
  apps/api/v2/src/modules/conferencing/services/conferencing.service.ts
  apps/api/v2/src/modules/conferencing/services/google-meet.service.ts
Labels: 🐛 bug, 🧹 Improvements, community, ready-for-e2e

#19211 chore: changed "routing" icon
  apps/web/public/icons/sprite.svg
  packages/app-store/routing-forms/pages/forms/[...appPages].tsx
  packages/features/shell/navigation/Navigation.tsx
  packages/features/tips/UpgradeTip.tsx
  packages/ui/components/icon/icon-list.mjs
  packages/ui/components/icon/icon-names.ts
Labels: routing-forms, ui, community, ready-for-e2e

#19208 chore: removed props.hideHeadingOnMobile
  apps/web/app/(use-page-wrapper)/(main-nav)/ShellMainAppDir.tsx
  apps/web/app/(use-page-wrapper)/(main-nav)/layout.tsx
  apps/web/app/settings/(settings-layout)/SettingsLayoutAppDirClient.tsx
  apps/web/components/apps/App.tsx
  apps/web/components/apps/layouts/AppsLayout.tsx
  apps/web/components/apps/layouts/InstalledAppsLayout.tsx
  apps/web/modules/apps/categories/categories-view.tsx
  apps/web/modules/more/more-page-view.tsx
  apps/web/modules/settings/platform/billing/billing-view.tsx
  apps/web/modules/settings/platform/managed-users/managed-users-view.tsx
  apps/web/modules/settings/platform/oauth-clients/[clientId]/edit/edit-view.tsx
  apps/web/modules/settings/platform/oauth-clients/[clientId]/edit/edit-webhooks-view.tsx
  apps/web/modules/settings/platform/oauth-clients/create-new-view.tsx
  apps/web/modules/settings/platform/platform-view.tsx
  apps/web/modules/upgrade/upgrade-view.tsx
  packages/app-store/routing-forms/pages/forms/[...appPages].tsx
  packages/features/ee/platform/pages/settings/members.tsx
  packages/features/ee/workflows/pages/index.tsx
  packages/features/ee/workflows/pages/workflow.tsx
  packages/features/shell/Shell.tsx
Labels: 🧹 Improvements, community, ready-for-e2e

#19218 fix: update hungarian translation for booking and cancellation texts
  apps/web/public/static/locales/hu/common.json
Labels: ✨ feature, Low priority, i18n, community, ready-for-e2e, community-interns

#19192 fix: Disable round robin reassignment if reroute is available
  apps/web/components/booking/BookingListItem.tsx
  apps/web/components/dialog/ReassignDialog.tsx
Labels: 🐛 bug, teams, core, consumer, ready-for-e2e

#19222 feat: remove tabs when only user and no team
  apps/web/modules/event-types/views/event-types-listing-view.tsx
Labels: ✨ feature, ui, event-types, community, ready-for-e2e, community-interns

#19226 fix: RSC boundary error from auth/oauth2/authorize
  apps/web/app/(use-page-wrapper)/auth/oauth2/authorize/page.tsx
Labels: 🐛 bug, core, consumer, ready-for-e2e

#19033 fix: replace filter implementations on /insights
  apps/web/modules/insights/insights-view.tsx
  apps/web/playwright/insights.e2e.ts
  packages/features/data-table/components/filters/AddFilterButton.tsx
  packages/features/data-table/components/filters/ClearFiltersButton.tsx
  packages/features/data-table/components/filters/DateRangeFilter.tsx
  packages/features/data-table/components/filters/FilterPopover.tsx
  packages/features/data-table/components/filters/MultiSelectFilterOptions.tsx
  packages/features/data-table/components/filters/SingleSelectFilterOptions.tsx
  packages/features/data-table/hooks/useFilterableColumns.ts
  packages/features/data-table/lib/dateRange.ts
  packages/features/data-table/lib/types.ts
  packages/features/data-table/lib/utils.ts
  packages/features/ee/teams/components/MemberList.tsx
  packages/features/filters/components/TeamsFilter.tsx
  packages/features/insights/components/AverageEventDurationChart.tsx
  packages/features/insights/components/BookedByCell.tsx
  packages/features/insights/components/BookingAtCell.tsx
  packages/features/insights/components/BookingKPICards.tsx
  packages/features/insights/components/BookingStatusBadge.tsx
  packages/features/insights/components/BookingStatusLineChart.tsx
  packages/features/insights/components/CellWithOverflowX.tsx
  packages/features/insights/components/HighestNoShowHostTable.tsx
  packages/features/insights/components/HighestRatedMembersTable.tsx
  packages/features/insights/components/LeastBookedTeamMembersTable.tsx
  packages/features/insights/components/LowestRatedMembersTable.tsx
  packages/features/insights/components/MostBookedTeamMembersTable.tsx
  packages/features/insights/components/PopularEventsTable.tsx
  packages/features/insights/components/RecentFeedbackTable.tsx
  packages/features/insights/components/ResponseValueCell.tsx
  packages/features/insights/components/RoutingFormResponsesTable.tsx
  packages/features/insights/components/tremor.css
  packages/features/insights/context/FiltersProvider.tsx
  packages/features/insights/context/provider.ts
  packages/features/insights/filters/BookingStatusFilter.tsx
  packages/features/insights/filters/ClearFilters.tsx
  packages/features/insights/filters/DateSelect.tsx
  packages/features/insights/filters/Download/Download.tsx
  packages/features/insights/filters/EventTypeList.tsx
  packages/features/insights/filters/FilterType.tsx
  packages/features/insights/filters/OrgTeamsFilter.tsx
  packages/features/insights/filters/RoutingFormFieldFilter.tsx
  packages/features/insights/filters/RoutingFormFilterList.tsx
  packages/features/insights/filters/TeamAndSelfList.tsx
  packages/features/insights/filters/UserListInTeam.tsx
  packages/features/insights/filters/index.tsx
  packages/features/insights/hooks/useInsightsBookings.ts
  packages/features/insights/hooks/useInsightsColumns.tsx
  packages/features/insights/hooks/useInsightsFacetedUniqueValues.ts
  packages/features/insights/hooks/useInsightsOrgTeams.ts
  packages/features/insights/hooks/useInsightsParameters.ts
  packages/features/insights/lib/bookingStatusToText.ts
  packages/features/insights/lib/types.ts
  packages/features/insights/server/routing-events.ts
  packages/features/insights/server/trpc-router.ts
  packages/features/users/components/UserTable/UserListTable.tsx
Labels: routing-forms, insights, core, consumer, ready-for-e2e

#19198 fix: the set as default apps issue with links #19176
  apps/web/modules/apps/installed/[category]/installed-category-view.tsx
  packages/app-store/mirotalk/config.json
Labels: 🐛 bug, Low priority, community, ready-for-e2e

#19137 chore: atoms and docs update
  apps/api/v2/src/ee/gcal/gcal.controller.ts
  apps/api/v2/swagger/documentation.json
  docs/platform/atoms/availability-settings.mdx
  docs/platform/atoms/booker.mdx
  docs/platform/atoms/calendar-settings.mdx
  packages/platform/atoms/cal-provider/BaseCalProvider.tsx
  packages/platform/atoms/cal-provider/CalProvider.tsx
  packages/platform/atoms/globals.css
Labels: docs, platform, core, ready-for-e2e

#19230 fix: the word on confirm booking button in japanese
  apps/web/public/static/locales/ja/common.json
Labels: 🐛 bug, Low priority, i18n, ui, community, ready-for-e2e

#19133 feat: v2 GET bookings updated at filters and sort
  apps/api/v2/package.json
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/user-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/input.service.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/output.service.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
  packages/lib/bookings/getAllUserBookings.ts
  packages/platform/types/bookings/2024-08-13/inputs/get-bookings.input.ts
  packages/platform/types/bookings/2024-08-13/outputs/booking.output.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/update-event-type.input.ts
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/bookings/get.handler.ts
  packages/trpc/server/routers/viewer/bookings/get.schema.ts
  yarn.lock
Labels: ✨ feature, ❗️ migrations, platform, bookings, core, ready-for-e2e

#19223 fix: broken preview embed
  packages/embeds/embed-core/src/preview.ts
Labels: enterprise, embed, core, ready-for-e2e

#19228 chore: added impersonation to sidebar for admins
  packages/features/shell/SideBar.tsx
Labels: admin, ready-for-e2e

#19229 fix: get user loggedin if accouont is found + add better error handling for new user creation
  apps/web/app/(use-page-wrapper)/auth/error/page.tsx
  packages/features/auth/lib/next-auth-options.ts
Labels: 🐛 bug, core, consumer, ready-for-e2e

#17820 fix: bookings for guests added by organizer get cancelled when rescheduled
  packages/features/bookings/lib/handleNewBooking.ts
Labels: 🐛 bug, teams, Stale, bookings, community, ready-for-e2e

#19236 fix: select "Your account" for members by default on insights
  packages/features/insights/context/InsightsOrgTeamsProvider.tsx
  packages/features/insights/filters/OrgTeamsFilter.tsx
Labels: 🐛 bug, insights, core, consumer, ready-for-e2e

#19240 chore: Update CODEOWNERS to include more booking files
  .github/CODEOWNERS
Labels: core, foundation

#19243 revert: "fix: bookings for guests added by organizer get cancelled wh…
  packages/features/bookings/lib/handleNewBooking.ts
Labels: core, foundation, ready-for-e2e

#19244 perf: Use a limit for searching website in Salesforce
  packages/app-store/salesforce/lib/CrmService.ts
Labels: performance, core, crm-apps, foundation, ready-for-e2e

#18772 fix: Multiple rr-hosts combine to create erroneous availability
  packages/core/getAggregatedAvailability/getAggregatedAvailability.test.ts
  packages/core/getAggregatedAvailability/index.ts
  packages/lib/slots.test.ts
  packages/lib/slots.ts
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: 🐛 bug, teams, bookings, core, foundation, high-risk, ready-for-e2e

#19253 fix: decode params used in query object in buildLegacyCtx
  apps/web/lib/buildLegacyCtx.tsx
  apps/web/playwright/booking-pages.e2e.ts
Labels: 🐛 bug, core, consumer, ready-for-e2e

#19241 fix: CTA is hidden on mobile
  packages/features/shell/Shell.tsx
Labels: 🐛 bug, event-types, core, ready-for-e2e

#18858 fix: v2 slots not returning attendees and bookingUid info
  apps/api/v2/src/modules/slots/controllers/slots.controller.e2e-spec.ts
  apps/api/v2/src/modules/slots/services/slots-output.service.ts
  apps/api/v2/test/fixtures/repository/attendee.repository.fixture.ts
  apps/api/v2/test/fixtures/repository/booking-seat.repository.fixture.ts
Labels: 🐛 bug, platform, core, ready-for-e2e

#19190 chore: Remove `BookerSeo` component
  packages/features/bookings/components/BookerSeo.test.tsx
  packages/features/bookings/components/BookerSeo.tsx
Labels: core, consumer, ready-for-e2e

#19189 perf: remove WithLayout HOC from private booking page and booking embed
  apps/web/app/(use-page-wrapper)/booking/[uid]/embed/page.tsx
  apps/web/app/(use-page-wrapper)/d/[link]/[slug]/page.tsx
  apps/web/app/booking/[uid]/embed/page.tsx
  apps/web/lib/hooks/useIsBookingPage.ts
  apps/web/modules/bookings/views/bookings-single-view.tsx
  apps/web/modules/d/[link]/d-type-view.tsx
Labels: booking-page, performance, core, consumer, ready-for-e2e

#19191 chore: remove unneeded props from `AuthContainer` and make its usages cleaner
  apps/web/app/(use-page-wrapper)/auth/error/page.tsx
  apps/web/components/ui/AuthContainer.tsx
  apps/web/modules/auth/forgot-password/[id]/forgot-password-single-view.tsx
  apps/web/modules/auth/forgot-password/forgot-password-view.tsx
  apps/web/modules/auth/login-view.tsx
  apps/web/modules/auth/logout-view.tsx
Labels: authentication, core, 💻 refactor, consumer, ready-for-e2e

#19216 fix: overlapping-dropdown-bookings-page
  apps/web/components/booking/BookingListItem.tsx
  apps/web/playwright/bookings-list.e2e.ts
Labels: 🐛 bug, bookings, ui, community, ready-for-e2e, community-interns

#19217 chore: salesforce for Router / Booker atoms and api v2
  apps/api/v2/package.json
  apps/api/v2/src/ee/bookings/2024-04-15/inputs/create-booking.input.ts
  apps/api/v2/src/modules/router/controllers/router.controller.ts
  apps/api/v2/src/modules/router/router.module.ts
  apps/api/v2/swagger/documentation.json
  apps/web/lib/team/[slug]/[type]/getServerSideProps.tsx
  docs/api-reference/v2/openapi.json
  packages/app-store/routing-forms/lib/handleResponse.ts
  packages/platform/atoms/booker-embed/BookerEmbed.tsx
  packages/platform/atoms/booker-embed/useGetRoutingFormUrlProps.tsx
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
  packages/platform/atoms/hooks/useAvailableSlots.ts
  packages/platform/types/embed.ts
  packages/platform/types/slots.ts
Labels: platform, core, crm-apps, ready-for-e2e

#19259 fix: indicate hidden columns on filter dropdown
  packages/features/data-table/components/filters/AddFilterButton.tsx
Labels: 🐛 bug, core, consumer, ready-for-e2e

#19260 fix: path to impersonation page on side bar
  packages/features/shell/SideBar.tsx
Labels: 🐛 bug, core, consumer, ready-for-e2e

#19245 fix: added youtube videos to tips.tsx sidebar
  packages/features/tips/Tips.tsx
Labels: core, consumer, ready-for-e2e

#19255 perf: Move PlainChat up the hierarchy to remove rerenders
  apps/web/app/api/plain-hash/route.ts
  apps/web/app/providers.tsx
  apps/web/lib/app-providers-app-dir.tsx
  apps/web/lib/app-providers.tsx
  apps/web/lib/plain/plainChat.tsx
  apps/web/pages/_app.tsx
Labels: performance, core, consumer, ready-for-e2e

#19266 fix: insights org without team return
  packages/features/insights/server/trpc-router.ts
Labels: 🐛 bug, enterprise, insights, core, ready-for-e2e

#19272 chore: CreateCRMEvent task - Handle cancelled status
  packages/features/tasker/tasks/crm/createCRMEvent.ts
Labels: core, crm-apps, consumer, ready-for-e2e

#19235 feat: Use new /routing URL for routing forms
  apps/web/next.config.js
  packages/app-store/routing-forms/components/FormActions.tsx
  packages/app-store/routing-forms/components/SingleForm.tsx
  packages/app-store/routing-forms/config.json
  packages/app-store/routing-forms/pages/forms/[...appPages].tsx
  packages/app-store/routing-forms/playwright/tests/basic.e2e.ts
  packages/features/embed/Embed.tsx
  packages/features/embed/RoutingFormEmbed.tsx
  packages/features/embed/lib/hooks/useEmbedDialogCtx.tsx
  packages/features/embed/lib/hooks/useEmbedParams.ts
  packages/features/embed/types/index.d.ts
  packages/features/shell/Shell.tsx
  packages/features/shell/navigation/Navigation.tsx
  packages/features/shell/navigation/NavigationItem.tsx
Labels: ✨ feature, enterprise, routing-forms, core, ready-for-e2e

#19261 fix: remove section on /bookings if no data exists
  apps/web/modules/bookings/views/bookings-listing-view.tsx
Labels: 🐛 bug, bookings, core, consumer, ready-for-e2e

#18758 feat: v2 slots new version
  apps/api/v2/package.json
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/booking-fields.e2e-spec.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/event-types.repository.ts
  apps/api/v2/src/ee/platform-endpoints-module.ts
  apps/api/v2/src/lib/api-versions.ts
  apps/api/v2/src/modules/auth/decorators/get-optional-user/get-optional-user.decorator.ts
  apps/api/v2/src/modules/auth/guards/optional-api-auth/optional-api-auth.guard.ts
  apps/api/v2/src/modules/auth/strategies/api-auth/api-auth.strategy.ts
  apps/api/v2/src/modules/memberships/memberships.module.ts
  apps/api/v2/src/modules/memberships/services/memberships.service.ts
  apps/api/v2/src/modules/organizations/organizations.repository.ts
  apps/api/v2/src/modules/organizations/repositories/organizations-users.repository.ts
  apps/api/v2/src/modules/slots/slots-2024-04-15/controllers/slots.controller.e2e-spec.ts
  apps/api/v2/src/modules/slots/slots-2024-04-15/controllers/slots.controller.ts
  apps/api/v2/src/modules/slots/slots-2024-04-15/services/slots-output.service.ts
  apps/api/v2/src/modules/slots/slots-2024-04-15/services/slots.service.ts
  apps/api/v2/src/modules/slots/slots-2024-04-15/slots.module.ts
  apps/api/v2/src/modules/slots/slots-2024-04-15/slots.repository.ts
  apps/api/v2/src/modules/slots/slots-2024-09-04/controllers/e2e/dynamic-event-type-slots.controller.e2e-spec.ts
  apps/api/v2/src/modules/slots/slots-2024-09-04/controllers/e2e/expected-slots.ts
  apps/api/v2/src/modules/slots/slots-2024-09-04/controllers/e2e/org-team-event-type-slots.controller.e2e-spec.ts
  apps/api/v2/src/modules/slots/slots-2024-09-04/controllers/e2e/team-event-type-slots.controller.e2e-spec.ts
  apps/api/v2/src/modules/slots/slots-2024-09-04/controllers/e2e/user-event-type-slots.controller.e2e-spec.ts
  apps/api/v2/src/modules/slots/slots-2024-09-04/controllers/slots.controller.ts
  apps/api/v2/src/modules/slots/slots-2024-09-04/outputs/get-reserved-slot.output.ts
  apps/api/v2/src/modules/slots/slots-2024-09-04/outputs/get-slots.output.ts
  apps/api/v2/src/modules/slots/slots-2024-09-04/outputs/reserve-slot.output.ts
  apps/api/v2/src/modules/slots/slots-2024-09-04/services/slots-input.service.ts
  apps/api/v2/src/modules/slots/slots-2024-09-04/services/slots-output.service.ts
  apps/api/v2/src/modules/slots/slots-2024-09-04/services/slots.service.ts
  apps/api/v2/src/modules/slots/slots-2024-09-04/slots.module.ts
  apps/api/v2/src/modules/slots/slots-2024-09-04/slots.repository.ts
  apps/api/v2/src/modules/slots/slots.module.ts
  apps/api/v2/swagger/documentation.json
  apps/api/v2/test/fixtures/repository/bookings.repository.fixture.ts
  apps/api/v2/test/fixtures/repository/selected-slots.repository.fixture.ts
  docs/api-reference/v2/openapi.json
  packages/platform/constants/api.ts
  packages/platform/types/slots/index.ts
  packages/platform/types/slots/slots-2024-04-15/index.ts
  packages/platform/types/slots/slots-2024-04-15/inputs/index.ts
  packages/platform/types/slots/slots-2024-09-04/index.ts
  packages/platform/types/slots/slots-2024-09-04/inputs/get-slots-input.pipe.ts
  packages/platform/types/slots/slots-2024-09-04/inputs/get-slots.input.ts
  packages/platform/types/slots/slots-2024-09-04/inputs/index.ts
  packages/platform/types/slots/slots-2024-09-04/inputs/reserve-slot.input.ts
  packages/platform/types/slots/slots-2024-09-04/outputs/get-reserved-slot.output.ts
  packages/platform/types/slots/slots-2024-09-04/outputs/index.ts
  packages/platform/types/slots/slots-2024-09-04/outputs/reserve-slot.output.ts
  packages/platform/types/slots/slots-2024-09-04/outputs/slots.output.ts
  yarn.lock
Labels: ✨ feature, platform, core, ready-for-e2e

#19279 refactor: remove depreceated fields
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/outputs/create-phone-call.output.ts
  packages/features/ee/cal-ai-phone/retellAIService.ts
  packages/features/ee/cal-ai-phone/zod-utils.ts
Labels: enterprise, core, 🚨 urgent, 💻 refactor, ready-for-e2e

#19286 chore: Refactor to remove `getServerSideProps` for /teams route
  apps/web/app/(use-page-wrapper)/(main-nav)/teams/page.tsx
  apps/web/lib/teams/getServerSideProps.tsx
  apps/web/modules/teams/teams-view.tsx
Labels: teams, core, consumer, ready-for-e2e

#19271 fix: Salesforce - if no contact throw Error
  packages/app-store/salesforce/lib/CrmService.ts
Labels: 🐛 bug, core, crm-apps, consumer, ready-for-e2e

#19276 fix: missing await router controller
  apps/api/v2/src/modules/router/controllers/router.controller.ts
Labels: platform, api, core, ready-for-e2e

#18035 fix: Default people filter in bookings list for admin
  apps/web/app/(use-page-wrapper)/apps/[slug]/setup/page.tsx
  apps/web/modules/bookings/views/bookings-listing-view.tsx
  apps/web/playwright/bookings-list.e2e.ts
  packages/features/bookings/components/FiltersContainer.tsx
  packages/trpc/server/routers/loggedInViewer/me.handler.ts
Labels: 🧹 Improvements, Low priority, bookings, community, ready-for-e2e

#19278 feat: add CSAT to V2 bookings return
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/user-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/output.service.ts
  apps/api/v2/swagger/documentation.json
  packages/platform/types/bookings/2024-08-13/outputs/booking.output.ts
Labels: ✨ feature, enterprise, bookings, core, ready-for-e2e

#19292 chore: disable v2 booking seats safe parse error logs
  apps/api/v2/src/ee/bookings/2024-08-13/services/output.service.ts
  apps/api/v2/src/lib/safe-parse/safe-parse.ts
Labels: platform, core, ready-for-e2e

#19263 revert: Reapply "fix: Multiple rr-hosts combine to create erroneous availabil…
  packages/core/getAggregatedAvailability/getAggregatedAvailability.test.ts
  packages/core/getAggregatedAvailability/getAggregatedAvailability.ts
  packages/core/getAggregatedAvailability/getAggregatedAvailabilityOld.ts
  packages/core/getAggregatedAvailability/index.ts
  packages/lib/slots.test.ts
  packages/lib/slots.ts
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: bookings, core, foundation, ready-for-e2e

#19291 chore: calendars controller v2 docs
  apps/api/v2/src/ee/calendars/controllers/calendars.controller.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
Labels: docs, platform, api, core, ready-for-e2e

#19117 fix: add ireland to noAlphanumericSenderIdSupport
  packages/features/ee/workflows/lib/alphanumericSenderIdSupport.ts
Labels: 🐛 bug, workflows, core, consumer, ready-for-e2e

#19285 perf: separate client vs server code from insights layout
  apps/web/app/(use-page-wrapper)/insights/UpgradeTipWrapper.tsx
  apps/web/app/(use-page-wrapper)/insights/layout.tsx
Labels: insights, core, consumer, ready-for-e2e

#19060 feat: Compare workflow reminder bodies to default template
  packages/features/ee/workflows/components/WorkflowStepContainer.tsx
  packages/features/ee/workflows/lib/actionHelperFunctions.ts
  packages/features/ee/workflows/lib/compareReminderBodyToTemplate.ts
  packages/features/ee/workflows/lib/reminders/templates/emailRatingTemplate.ts
  packages/features/ee/workflows/lib/reminders/templates/emailReminderTemplate.ts
  packages/features/ee/workflows/lib/reminders/templates/plainTextTemplates.ts
  packages/features/ee/workflows/lib/reminders/templates/smsReminderTemplate.ts
  packages/features/ee/workflows/lib/reminders/templates/whatsapp/whatsappEventCancelledTemplate.ts
  packages/features/ee/workflows/lib/reminders/templates/whatsapp/whatsappEventCompletedTemplate.ts
  packages/features/ee/workflows/lib/reminders/templates/whatsapp/whatsappEventReminderTemplate.ts
  packages/features/ee/workflows/lib/reminders/templates/whatsapp/whatsappEventRescheduledTemplate.ts
  packages/features/ee/workflows/lib/test/compareReminderBodyToTemplate.test.ts
  packages/features/tasker/tasks/scanWorkflowBody.ts
Labels: ✨ feature, workflows, core, consumer, ready-for-e2e

#19248 feat: Use Folders to organize SMS links on Dub
  packages/features/auth/package.json
  packages/features/ee/workflows/lib/reminders/utils.ts
  yarn.lock
Labels: ✨ feature, community, ready-for-e2e

#19277 fix: removing-all-members-toggle-for-fh
  packages/features/eventtypes/components/AddMembersWithSwitch.tsx
  packages/features/eventtypes/components/tabs/assignment/EventTeamAssignmentTab.tsx
  packages/ui/components/form/switch/SettingsToggle.tsx
Labels: 🐛 bug, High priority, event-types, community, ready-for-e2e, community-interns

#19306 fix: global e2e fail
  apps/web/playwright/manage-booking-questions.e2e.ts
Labels: automated-tests, core, ready-for-e2e

#18956 chore: migrate `/apps/routing-forms/[...pages]` to App Router
  apps/web/app/(use-page-wrapper)/apps/routing-forms/[...pages]/page.tsx
  apps/web/app/(use-page-wrapper)/apps/routing-forms/page.tsx
  apps/web/app/future/apps/[slug]/[...pages]/page.tsx
  apps/web/lib/apps/[slug]/[...pages]/getServerSideProps.ts
  apps/web/lib/apps/routing-forms/[...pages]/getServerSideProps.ts
  apps/web/lib/hooks/useIsBookingPage.ts
  apps/web/middleware.ts
  apps/web/modules/apps/[slug]/[...pages]/pages-view.tsx
  apps/web/pages/apps/[slug]/[...pages].tsx
  packages/app-store/routing-forms/components/SingleForm.tsx
  packages/app-store/routing-forms/components/getServerSidePropsSingleForm.ts
  packages/app-store/routing-forms/pages/app-routing.config.tsx
  packages/app-store/routing-forms/pages/form-edit/[...appPages].tsx
  packages/app-store/routing-forms/pages/forms/[...appPages].tsx
  packages/app-store/routing-forms/pages/incomplete-booking/[...appPages].tsx
  packages/app-store/routing-forms/pages/layout-handler/[...appPages].tsx
  packages/app-store/routing-forms/pages/reporting/[...appPages].tsx
  packages/app-store/routing-forms/pages/route-builder/[...appPages].tsx
  packages/app-store/routing-forms/pages/routing-link/[...appPages].tsx
  packages/app-store/routing-forms/pages/routing-link/getServerSideProps.ts
  packages/app-store/typeform/pages/app-routing.config.tsx
  packages/features/shell/Shell.tsx
  packages/features/shell/navigation/NavigationItem.tsx
  packages/types/AppGetServerSideProps.d.ts
Labels: routing-forms, core, consumer, ready-for-e2e

#19100 chore: migrate api for team upgrade to App Router
  apps/web/app/api/teams/[team]/upgrade/route.ts
  apps/web/pages/api/teams/[team]/upgrade.ts
  packages/features/ee/teams/api/upgrade.ts
Labels: teams, api, core, consumer, high-risk, ready-for-e2e

#19317 fix: cut off and alignment bug
  packages/features/eventtypes/components/AssignAllTeamMembers.tsx
  packages/ui/components/navigation/tabs/VerticalTabItem.tsx
Labels: 🐛 bug, ui, community, ready-for-e2e, community-interns

#19284 fix: nested scrolls on /bookings
  apps/web/modules/bookings/views/bookings-listing-view.tsx
  packages/features/data-table/components/DataTableWrapper.tsx
Labels: 🧹 Improvements, bookings, core, consumer, ready-for-e2e

#19006 fix: Can't change availability for managed event type
  packages/features/ee/managed-event-types/lib/handleChildrenEventTypes.ts
  packages/trpc/server/routers/viewer/eventTypes/update.handler.ts
Labels: 🐛 bug, event-types, core, ready-for-e2e

#19295 fix: bulk-update-in-scheduleId-in-detailed-view
  apps/web/modules/availability/[schedule]/schedule-view.tsx
  packages/trpc/server/routers/viewer/availability/schedule/bulkUpdateDefaultAvailability.handler.ts
  packages/trpc/server/routers/viewer/availability/schedule/bulkUpdateDefaultAvailability.schema.ts
Labels: 🐛 bug, bookings, event-types, community, ready-for-e2e, community-interns

#18132 feat: prevent automatic query parameters when opening booking page
  packages/features/bookings/Booker/components/DatePicker.tsx
  packages/features/bookings/Booker/store.ts
  packages/features/calendars/DatePicker.tsx
Labels: ✨ feature, ⚡ Quick Wins, Low priority, Stale, booking-page, community, ready-for-e2e

#19320 feat: atoms adjustments with ui v3 styles
  packages/platform/atoms/connect/OAuthConnect.tsx
  packages/platform/atoms/connect/apple/AppleConnect.tsx
  packages/platform/atoms/connect/stripe/StripeConnect.tsx
  packages/platform/atoms/selected-calendars/wrappers/SelectedCalendarsSettingsPlatformWrapper.tsx
  packages/ui/components/form/inputs/TextField.tsx
Labels: ✨ feature, platform, ui, core, ready-for-e2e

#19323 refactor: Clean out old code, no longer needed
  packages/features/ee/teams/components/TeamAvailabilityTimes.tsx
  packages/lib/slots.test.ts
  packages/lib/slots.ts
Labels: core, 💻 refactor, foundation, ready-for-e2e

#19150 feat: Create `UserCreationService` and use in API V1 create user endpoint
  apps/api/v1/pages/api/users/_post.ts
  apps/api/v1/test/lib/users/_post.test.ts
  packages/lib/server/repository/organization.ts
  packages/lib/server/repository/user.test.ts
  packages/lib/server/repository/user.ts
  packages/lib/server/service/userCreationService.test.ts
  packages/lib/server/service/userCreationService.ts
Labels: ✨ feature, api, core, consumer, ready-for-e2e

#19298 fix: HubSpot doesn't work for paid team events.
  packages/lib/payment/handlePaymentSuccess.ts
Labels: 🐛 bug, core, crm-apps, ready-for-e2e

#19325 fix: timezone input text is now visible in dark mode
  packages/ui/components/form/select/components.tsx
Labels: ui, community, ready-for-e2e, community-interns

#19315 feat: make first tab active by default
  apps/web/modules/event-types/views/event-types-listing-view.tsx
Labels: ✨ feature, Low priority, ui, event-types, community, ready-for-e2e, community-interns

#18604 fix: Can't use unsaved booking question as variable in event name
  packages/platform/atoms/event-types/hooks/useEventTypeForm.ts
Labels: 🐛 bug, Low priority, event-types, community, ready-for-e2e

#19331 chore: remove WithLayout from not-found route
  apps/web/app/not-found.tsx
Labels: core, consumer, ready-for-e2e

#19312 chore: v3 fixed filters, new profile view
  apps/web/components/booking/BookingListItem.tsx
  apps/web/modules/bookings/views/bookings-single-view.tsx
  apps/web/modules/users/views/users-public-view.tsx
  packages/app-store/routing-forms/components/react-awesome-query-builder/config/uiConfig.tsx
  packages/features/bookings/components/FilterToggle.tsx
  packages/features/shell/navigation/Navigation.tsx
  packages/ui/components/editor/Editor.tsx
Labels: bookings, community, ready-for-e2e

#19258 fix: Issues with date changes in column view
  packages/features/bookings/Booker/store.ts
Labels: 🐛 bug, bookings, core, ready-for-e2e

#19267 chore: fixed tooltip position for routing form
  apps/web/public/static/locales/en/common.json
  packages/app-store/routing-forms/components/SingleForm.tsx
Labels: routing-forms, community, ready-for-e2e

#18550 fix: Fairness when routing
  apps/web/test/lib/getSchedule.test.ts
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/getLocationValuesForDb.ts
  packages/features/bookings/lib/handleNewBooking/loadAndValidateUsers.ts
  packages/features/bookings/lib/handleNewBooking/loadUsers.ts
  packages/features/bookings/lib/handleNewBooking/test/team-bookings/collective-scheduling.test.ts
  packages/features/schedules/lib/use-schedule/useSchedule.ts
  packages/lib/bookings/filterHostsByLeadThreshold.test.ts
  packages/lib/bookings/filterHostsByLeadThreshold.ts
  packages/lib/bookings/filterHostsBySameRoundRobinHost.test.ts
  packages/lib/bookings/filterHostsBySameRoundRobinHost.ts
  packages/lib/bookings/findQualifiedHosts.test.ts
  packages/lib/bookings/findQualifiedHosts.ts
  packages/lib/bookings/getRoutedUsers.test.ts
  packages/lib/bookings/getRoutedUsers.ts
  packages/lib/bookings/routing/utils.ts
  packages/lib/server/getLuckyUser.ts
  packages/lib/server/repository/eventType.ts
  packages/trpc/server/routers/viewer/slots/types.ts
  packages/trpc/server/routers/viewer/slots/util.test.ts
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: High priority, routing-forms, bookings, core, foundation, high-risk, ready-for-e2e

#19335 fix: blank add guest input, location and request reschedule glitch
  apps/web/components/dialog/AddGuestsDialog.tsx
  apps/web/components/dialog/EditLocationDialog.tsx
  apps/web/components/dialog/RescheduleDialog.tsx
  packages/ui/form/MultiEmail.tsx
Labels: 🧹 Improvements, community, ready-for-e2e, community-interns

#19343 fix: empty hosts array in filterHostsByLeadThreshold
  packages/lib/bookings/filterHostsByLeadThreshold.ts
Labels: 🐛 bug, bookings, core, consumer, ready-for-e2e

#19348 fix: Plain Chat loading in embed
  apps/web/app/providers.tsx
  apps/web/lib/hooks/useIsBookingPage.ts
Labels: 🐛 bug, enterprise, Urgent, booking-page, core, ready-for-e2e

#19350 fix: tanstack getRight error, focus in user impersonation, missing space after input fields, border in my-profile email
  apps/web/components/settings/CustomEmailTextField.tsx
  apps/web/modules/settings/admin/impersonation-view.tsx
  packages/features/data-table/components/DataTable.tsx
  packages/features/users/components/UserTable/EditSheet/EditUserForm.tsx
Labels: 🐛 bug, 🧹 Improvements, community, ready-for-e2e, community-interns

#19353 fix: Test preview - Routing forms crash for regular teams(that are not sub-teams)
  apps/web/modules/insights/insights-virtual-queues-view.tsx
  packages/app-store/routing-forms/__tests__/TestFormDialog.test.tsx
  packages/app-store/routing-forms/components/SingleForm.tsx
  packages/trpc/server/routers/viewer/routing-forms/findTeamMembersMatchingAttributeLogicOfRoute.handler.ts
Labels: 🐛 bug, enterprise, routing-forms, core, ready-for-e2e

#19361 fix: Show loading indicator in button when delete account API is in progress
  apps/web/modules/settings/my-account/profile-view.tsx
Labels: ui, community, ready-for-e2e

#19368 fix: Dont crash entire listing if one form has faulty JSON fields
  packages/app-store/routing-forms/components/FormActions.tsx
  packages/app-store/routing-forms/pages/forms/[...appPages].tsx
  packages/app-store/routing-forms/pages/route-builder/[...appPages].tsx
  packages/app-store/routing-forms/trpc/forms.handler.ts
Labels: 🐛 bug, Medium priority, enterprise, Stale, routing-forms, core, ready-for-e2e

#17432 feat: Duration select dropdown multiple durations email embed
  packages/features/embed/Embed.tsx
Labels: 🐛 bug, ✨ feature, Low priority, embed, community, ready-for-e2e

#19309 fix(ui): prevent text descender cutoff in user dropdown
  packages/features/shell/user-dropdown/UserDropdown.tsx
Labels: 🐛 bug, ui, community, ready-for-e2e

#19270 fix: Improved EventsLimit page for mobile viewports
  packages/features/eventtypes/components/tabs/limits/EventLimitsTab.tsx
Labels: 🐛 bug, 🧹 Improvements, ui, event-types, community, ready-for-e2e

#18505 feat: Add 'Monobot CX' web application into cal.com app-store
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/monobot/DESCRIPTION.md
  packages/app-store/monobot/api/add.ts
  packages/app-store/monobot/api/index.ts
  packages/app-store/monobot/components/.gitkeep
  packages/app-store/monobot/config.json
  packages/app-store/monobot/index.ts
  packages/app-store/monobot/package.json
  packages/app-store/monobot/static/1.jpeg
  packages/app-store/monobot/static/2.jpeg
  packages/app-store/monobot/static/3.jpeg
  packages/app-store/monobot/static/icon.svg
Labels: ✨ feature, app-store, community, ready-for-e2e

#19383 fix: impersonation button alignment
  apps/web/modules/settings/admin/impersonation-view.tsx
Labels: ui, community, ready-for-e2e, community-interns

#19397 chore: Salesforce - Added logs more
  packages/lib/server/getTeamMemberEmailFromCrm.ts
Labels: enterprise, core, ready-for-e2e

#18865 fix: Dry Run improvements - Slot reservation
  apps/web/modules/bookings/views/booking-dry-run-success-view.tsx
  apps/web/pages/router/index.tsx
  headless-routing-to-booking-flow.md
  packages/app-store/routing-forms/trpc/utils.ts
  packages/features/bookings/Booker/components/DryRunMessage.tsx
  packages/features/bookings/Booker/components/hooks/useSlots.ts
  packages/trpc/server/routers/viewer/slots/reserveSlot.handler.ts
  packages/trpc/server/routers/viewer/slots/types.ts
Labels: 🐛 bug, Low priority, enterprise, bookings, core, ready-for-e2e

#19351 fix: multiselect is broken
  packages/ui/components/form/select/Select.tsx
Labels: 🐛 bug, ui, core, ready-for-e2e

#19290 fix: reduce abnormal spacing in calendar invite
  packages/lib/CalEventParser.test.ts
  packages/lib/CalEventParser.ts
Labels: 🐛 bug, Low priority, ui, community, ready-for-e2e, community-interns

#18749 feat: implement mintlify AI search into CMD+K
  .env.example
  apps/web/public/static/locales/en/common.json
  packages/features/kbar/Kbar.tsx
  packages/features/mintlify-chat/MintlifyChat.tsx
  packages/features/mintlify-chat/util.ts
  turbo.json
Labels: ✨ feature, ⚡ Quick Wins, docs, ❗️ .env changes, 💎 Bounty, 🙋 Bounty claim, ai, community, ready-for-e2e

#19410 fix: fix youtube link and referral url
  packages/app-store/monobot/DESCRIPTION.md
  packages/app-store/monobot/api/add.ts
  packages/app-store/monobot/config.json
Labels: 🐛 bug, community, ready-for-e2e

#19349 chore: remove org/team booking routes from middleware
  apps/web/app/org/[orgSlug]/[user]/[type]/page.tsx
  apps/web/app/org/[orgSlug]/[user]/page.tsx
  apps/web/app/org/[orgSlug]/instant-meeting/team/[slug]/[type]/page.tsx
  apps/web/app/team/[slug]/[type]/page.tsx
  apps/web/app/team/[slug]/page.tsx
  apps/web/middleware.ts
Labels: organizations, core, consumer, ready-for-e2e

#19103 fix: Issues with scheduling timezone change without end time
  apps/web/components/settings/TravelScheduleModal.tsx
  packages/ui/components/form/datepicker/DatePicker.tsx
  packages/ui/components/form/datepicker/datepicker.test.tsx
Labels: 🐛 bug, Medium priority, ui, community, ready-for-e2e

#19346 chore: Block POST requests to all page routes except a whitelist
  apps/web/abTest/middlewareFactory.ts
  apps/web/abTest/utils.ts
  apps/web/middleware.test.ts
  apps/web/middleware.ts
Labels: automated-tests, core, consumer, ready-for-e2e

#19421 fix: Routing Form - Crash due to an invalid state of connected field that was deleted in main form
  apps/web/public/static/locales/en/common.json
  packages/app-store/routing-forms/components/FormInputFields.tsx
  packages/app-store/routing-forms/lib/isRouterLinkedField.ts
Labels: 🐛 bug, enterprise, routing-forms, core, ready-for-e2e
