Repository calcom/cal.com, pull requests merged in 2025-03, with the labels that each got.

#19635 revert: v2 managed user attendee bookings
  apps/api/v2/src/ee/bookings/2024-04-15/bookings.module.ts
  apps/api/v2/src/ee/bookings/2024-04-15/controllers/bookings.controller.ts
  apps/api/v2/src/ee/bookings/2024-04-15/controllers/managed-user-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-04-15/inputs/create-booking.input.ts
  apps/api/v2/src/ee/bookings/2024-04-15/outputs/get-bookings.output.ts
  apps/api/v2/src/ee/bookings/2024-08-13/bookings.module.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/managed-user-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/bookings.service.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/input.service.ts
  apps/api/v2/src/ee/bookings/shared/platform-bookings.service.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/outputs/create-managed-user.output.ts
  apps/api/v2/src/modules/oauth-clients/services/oauth-clients-users.service.ts
Labels: bookings, core, foundation, ready-for-e2e

#19637 fix: useAtomGetEventTypes pathname
  packages/platform/atoms/connect/conferencing-apps/hooks/useAtomGetEventTypes.ts
Labels: 🐛 bug, platform, core, ready-for-e2e

#19639 hotfix: Embed - Sometimes hidden mostly for acme.cal.local/team1 page
  packages/embeds/embed-core/src/embed-iframe.ts
Labels: 🐛 bug, enterprise, embed, core, ready-for-e2e

#19641 chore: replaced submit to continue
  packages/app-store/routing-forms/pages/routing-link/[...appPages].tsx
Labels: routing-forms, community, ready-for-e2e

#19633 fix: 6 character hash suffix in the username for a member of an orga…
  packages/features/auth/lib/next-auth-options.ts
Labels: organizations, authentication, community, ready-for-e2e

#19650 fix: Dismiss toast on click
  packages/ui/components/toast/showToast.tsx
Labels: 🧹 Improvements, community, ready-for-e2e

#19605 fix: Re-instate new slot logic now it's A/B tested in production
  .github/CODEOWNERS
  apps/web/test/lib/getAggregateWorkingHours.test.ts
  packages/core/getAggregateWorkingHours.test.ts
  packages/core/getAggregateWorkingHours.ts
  packages/core/getAggregatedAvailability.test.ts
  packages/core/getAggregatedAvailability.ts
  packages/core/getAggregatedAvailability/date-range-utils/mergeOverlappingDateRanges.test.ts
  packages/core/getAggregatedAvailability/date-range-utils/mergeOverlappingDateRanges.ts
  packages/core/getAggregatedAvailability/getAggregatedAvailabilityOld.ts
  packages/core/getAggregatedAvailability/index.ts
  packages/lib/slots.test.ts
  packages/lib/slots.ts
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: 🐛 bug, core, foundation, ready-for-e2e

#19656 fix: verification input field
  packages/features/ee/workflows/components/WorkflowStepContainer.tsx
Labels: 🐛 bug, workflows, community, ready-for-e2e, community-interns

#19647 fix: Incorrect Attendee Shown When Cancelling a Seated Event
  packages/emails/email-manager.ts
  packages/emails/templates/organizer-attendee-cancelled-seat-email.ts
  packages/emails/templates/organizer-scheduled-email.ts
Labels: 🐛 bug, emails, core, ready-for-e2e

#19649 fix: remove ‘add guests’ from the dropdown if it’s disabled in the booking questions
  apps/web/components/booking/BookingListItem.tsx
  packages/trpc/server/routers/viewer/bookings/get.handler.ts
Labels: 🐛 bug, bookings, core, ready-for-e2e

#19549 feat: added Ability to set organizer's default app as a valid input location in api/v2
  apps/api/v2/package.json
  apps/api/v2/src/modules/organizations/event-types/organizations-event-types.e2e-spec.ts
  apps/api/v2/src/modules/organizations/event-types/services/input.service.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
  packages/lib/event-types/transformers/api-to-internal/api-to-internal.spec.ts
  packages/lib/event-types/transformers/api-to-internal/locations.ts
  packages/lib/event-types/transformers/internal-to-api/internal-to-api.spec.ts
  packages/lib/event-types/transformers/internal-to-api/locations.ts
  packages/platform/atoms/event-types/atom-api-transformers/transformApiEventTypeForAtom.ts
  packages/platform/libraries/index.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/create-event-type.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/locations.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/update-event-type.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/outputs/event-type.output.ts
  packages/platform/types/event-types/event-types_2024_06_14/outputs/locations.output.ts
  yarn.lock
Labels: ✨ feature, platform, api, core, ready-for-e2e

#19620 fix: show selected filter values first in single- & multi-select filters
  packages/features/data-table/components/filters/BaseSelectFilterOptions.tsx
  packages/features/data-table/components/filters/MultiSelectFilterOptions.tsx
  packages/features/data-table/components/filters/SingleSelectFilterOptions.tsx
  packages/features/data-table/hooks/useFilterValue.ts
  packages/features/data-table/lib/types.ts
Labels: routing-forms, insights, core, consumer, ready-for-e2e

#19665 fix: small mistake in Hungarian confirmation
  apps/web/public/static/locales/hu/common.json
Labels: i18n, community, ready-for-e2e, community-interns

#19662 fix: adjust table height on /bookings
  apps/web/modules/bookings/hooks/useStretchedHeightToBottom.ts
  apps/web/modules/bookings/views/bookings-listing-view.tsx
Labels: 🐛 bug, bookings, core, consumer, ready-for-e2e

#19667 fix: Private links in orgs when profile username isnt cal.com username
  apps/web/lib/d/[link]/[slug]/getServerSideProps.tsx
Labels: 🐛 bug, organizations, core, consumer, ready-for-e2e

#19673 fix: UI on mobile
  apps/web/components/team/screens/Team.tsx
Labels: 🐛 bug, Medium priority, enterprise, ui, community, ready-for-e2e, community-interns

#19672 fix: use portal for DataTableSelectionBar
  packages/features/data-table/components/DataTableSelectionBar.tsx
Labels: 📉 regressing, ui, core, consumer, ready-for-e2e

#19668 chore: add docs to /v2/organizations/:orgId/organizations endpoints
  apps/api/v2/src/modules/organizations/organizations/organizations-organizations.controller.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
Labels: docs, platform, organizations, core, ready-for-e2e

#19648 fix: some flaky e2e tests
  apps/web/modules/settings/my-account/general-view.tsx
  apps/web/playwright/booking-pages.e2e.ts
  apps/web/playwright/change-theme.e2e.ts
  apps/web/playwright/locale.e2e.ts
  apps/web/playwright/manage-booking-questions.e2e.ts
  packages/app-store/routing-forms/playwright/tests/basic.e2e.ts
  packages/app-store/routing-forms/playwright/tests/testUtils.ts
  packages/app-store/typeform/playwright/tests/basic.e2e.ts
Labels: automated-tests, core, ready-for-e2e

#19546 fix: scheduleId to work on PATCH event type host assignment via api v1
  apps/api/v1/lib/validations/event-type.ts
Labels: 🐛 bug, api, community, ready-for-e2e

#19268 fix: allow cancelledBy query param to work on api v1
  apps/api/v1/pages/api/bookings/[id]/_delete.ts
Labels: 🐛 bug, api, community, ready-for-e2e

#19598 chore: remove TRPC barrel exports
  apps/web/app/_trpc/trpc-provider.tsx
  apps/web/components/getting-started/steps-views/SetupAvailability.tsx
  apps/web/components/ui/UsernameAvailability/PremiumTextfield.tsx
  apps/web/components/ui/UsernameAvailability/UsernameTextfield.tsx
  apps/web/components/ui/UsernameAvailability/index.tsx
  apps/web/modules/connect-and-join/connect-and-join-view.tsx
  apps/web/modules/event-types/views/event-types-listing-view.tsx
  apps/web/modules/settings/my-account/profile-view.tsx
  apps/web/pages/api/link.ts
  apps/web/pages/api/verify-booking-token.ts
  apps/web/server/lib/ssg.ts
  apps/web/server/lib/ssr.ts
  packages/app-store/basecamp3/trpc/projectMutation.handler.ts
  packages/app-store/basecamp3/trpc/projects.handler.ts
  packages/app-store/routing-forms/components/SingleForm.tsx
  packages/app-store/routing-forms/lib/handleResponse.ts
  packages/app-store/routing-forms/trpc/deleteForm.handler.ts
  packages/app-store/routing-forms/trpc/formMutation.handler.ts
  packages/app-store/routing-forms/trpc/getIncompleteBookingSettings.handler.ts
  packages/app-store/routing-forms/trpc/report.handler.ts
  packages/app-store/routing-forms/trpc/saveIncompleteBookingSettings.handler.ts
  packages/app-store/tsconfig.json
  packages/features/auth/lib/next-auth-options.ts
  packages/features/bookings/lib/getAllCredentialsForUsersOnEvent/refreshCredentials.ts
  packages/features/ee/sso/lib/sso.ts
  packages/features/ee/users/server/trpc-router.ts
  packages/lib/CalendarAppError.ts
  packages/lib/checkRateLimitAndThrowError.ts
  packages/lib/server/getRoutedUrl.ts
  packages/platform/atoms/event-types/wrappers/EventTypeWebWrapper.tsx
  packages/trpc/client/index.ts
  packages/trpc/index.ts
  packages/trpc/next/index.ts
  packages/trpc/react/index.ts
  packages/trpc/react/server.ts
  packages/trpc/react/trpc.ts
  packages/trpc/server/index.ts
  packages/trpc/server/routers/viewer/auth/resendVerifyEmail.handler.ts
  packages/trpc/server/routers/viewer/domainWideDelegation/update.handler.ts
  packages/trpc/server/routers/viewer/routing-forms/findTeamMembersMatchingAttributeLogicOfRoute.handler.ts
  packages/trpc/server/routers/viewer/routing-forms/response.handler.ts
  packages/trpc/server/routers/viewer/teams/createInvite.handler.ts
  packages/trpc/server/routers/viewer/teams/deleteInvite.handler.ts
  packages/trpc/server/routers/viewer/teams/setInviteExpiration.handler.ts
  packages/trpc/tsconfig.json
  packages/ui/components/mocks/trpc.tsx
Labels: core, 💻 refactor, consumer, ready-for-e2e

#19678 chore: early return for static assets in middleware
  apps/web/middleware.ts
Labels: core, consumer, ready-for-e2e

#19680 chore: TS config - ignore node_modules in subdirectories
  apps/api/v1/tsconfig.json
  apps/storybook/tsconfig.json
  apps/swagger/tsconfig.json
  apps/web/tsconfig.json
  example-apps/credential-sync/tsconfig.json
  packages/app-store/tsconfig.json
  packages/debugging/tsconfig.json
  packages/embeds/embed-core/tsconfig.json
  packages/embeds/embed-react/tsconfig.json
  packages/embeds/embed-snippet/tsconfig.json
  packages/features/tsconfig.json
  packages/lib/tsconfig.json
  packages/platform/atoms/tsconfig.json
  packages/platform/constants/tsconfig.json
  packages/platform/enums/tsconfig.json
  packages/platform/examples/base/tsconfig.json
  packages/platform/libraries/tsconfig.json
  packages/platform/types/tsconfig.json
  packages/platform/utils/tsconfig.json
  packages/types/tsconfig.json
  packages/ui/tsconfig.json
Labels: core, foundation, ready-for-e2e

#19687 feat: improve Intercom app
  packages/app-store/intercom/api/configure.ts
  packages/app-store/intercom/api/get.ts
  packages/app-store/intercom/api/index.ts
  packages/app-store/intercom/api/initialize.ts
  packages/app-store/intercom/api/sheet.ts
  packages/app-store/intercom/lib/configure/button.ts
  packages/app-store/intercom/lib/configure/link.ts
  packages/app-store/intercom/lib/index.ts
  packages/app-store/intercom/lib/isValidCalURL.ts
Labels: ✨ feature, 🙋🏻‍♂️help wanted, app-store, Medium priority, 💎 Bounty, 💰 Rewarded, community, ready-for-e2e

#19636 fix: api v2 axiom logs exceed column size
  apps/api/v2/src/filters/http-exception.filter.ts
  apps/api/v2/src/filters/prisma-exception.filter.ts
  apps/api/v2/src/filters/trpc-exception.filter.ts
  apps/api/v2/src/filters/zod-exception.filter.ts
  apps/api/v2/src/lib/filterReqHeaders.ts
  apps/api/v2/src/middleware/request-ids/request-id.middleware.ts
Labels: 🐛 bug, platform, api, core, ready-for-e2e

#19696 chore: improve validate hosts api v2 team event-types
  apps/api/v2/src/modules/organizations/event-types/services/input.service.ts
  apps/api/v2/src/modules/teams/teams/teams.repository.ts
Labels: teams, platform, event-types, core, ready-for-e2e

#19707 fix: member filter issue
  packages/trpc/server/routers/viewer/teams/listSimpleMembers.handler.ts
Labels: 🐛 bug, High priority, teams, bookings, core, ready-for-e2e

#19692 fix: incorrect locale value
  apps/web/public/static/locales/de/common.json
Labels: 🐛 bug, core

#19704 feat: improved ooo search
  packages/features/settings/outOfOffice/OutOfOfficeEntriesList.tsx
  packages/trpc/server/routers/loggedInViewer/outOfOfficeEntriesList.handler.ts
Labels: community, ready-for-e2e

#19716 fix: v2 managed user attendee bookings
  apps/api/v2/src/ee/bookings/2024-04-15/bookings.module.ts
  apps/api/v2/src/ee/bookings/2024-04-15/controllers/bookings.controller.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-04-15/controllers/bookings.controller.ts
  apps/api/v2/src/ee/bookings/2024-04-15/controllers/managed-user-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-04-15/inputs/create-booking.input.ts
  apps/api/v2/src/ee/bookings/2024-04-15/outputs/get-bookings.output.ts
  apps/api/v2/src/ee/bookings/2024-08-13/bookings.module.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/managed-user-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/bookings.service.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/input.service.ts
  apps/api/v2/src/ee/bookings/shared/platform-bookings.service.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/outputs/create-managed-user.output.ts
  apps/api/v2/src/modules/oauth-clients/services/oauth-clients-users.service.ts
Labels: 🐛 bug, platform, bookings, core, ready-for-e2e

#19730 perf: dynamic import for Sentry CaptureException
  packages/features/flags/features.repository.ts
  packages/features/users/users.repository.ts
  packages/features/watchlist/watchlist.repository.ts
Labels: performance, core, consumer, ready-for-e2e

#19574 fix: typos in packages directory
  packages/emails/templates/confirm-email.html
  packages/platform/types/event-types/event-types_2024_06_14/inputs/booking-fields.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/create-event-type.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/update-event-type.input.ts
  packages/prisma/docker-compose.yml
  packages/prisma/sql/getSelectedCalendarsToWatch.sql
  packages/types/App.d.ts
  packages/types/next.d.ts
Labels: community, ready-for-e2e

#19715 fix: auto submission upon uploading photo
  apps/web/components/getting-started/steps-views/UserProfile.tsx
Labels: 🐛 bug, community, ready-for-e2e, community-interns

#19702 fix: booking fields being overridden for team events in atoms
  apps/api/v2/src/modules/atoms/services/event-types-atom.service.ts
Labels: 🐛 bug, teams, platform, event-types, core, ready-for-e2e

#19727 chore: write `defaultResponder` for App Router APIs
  apps/web/app/api/apiRouteMiddleware.ts
  apps/web/app/api/avatar/[uuid]/route.ts
  apps/web/app/api/cancel/route.ts
  apps/web/app/api/customer-card/route.ts
  apps/web/app/api/defaultResponderForAppDir.test.ts
  apps/web/app/api/defaultResponderForAppDir.ts
  apps/web/app/api/plain-hash/route.ts
  apps/web/app/api/social/og/image/route.tsx
  apps/web/test/lib/plainTiers.test.ts
Labels: api, core, consumer, ready-for-e2e

#19738 fix: search on team availiability (for non-org users)
  packages/trpc/server/routers/viewer/availability/team/listTeamAvailability.handler.ts
Labels: 🐛 bug, teams, core, consumer, ready-for-e2e

#19737 feat: Updates to HitPay Payment App
  packages/app-store/hitpay/api/callback.ts
  packages/app-store/hitpay/api/webhook.ts
  packages/app-store/hitpay/components/HitPayDropIn.ts
  packages/app-store/hitpay/components/HitpayPaymentComponent.tsx
  packages/app-store/hitpay/components/KeyInput.tsx
  packages/app-store/hitpay/config.json
  packages/app-store/hitpay/lib/PaymentService.ts
  packages/app-store/hitpay/lib/types.d.ts
  packages/app-store/hitpay/pages/setup/index.tsx
  packages/app-store/hitpay/static/4.jpeg
Labels: ❗️ migrations, ❗️ .env changes, ready-for-e2e

#19733 chore: Upgrade to node v20 as v18 is EOL next month
  .github/actions/yarn-install/action.yml
  apps/api/v2/package.json
  apps/swagger/package.json
  apps/web/package.json
  package.json
  packages/types/package.json
  yarn.lock
Labels: core, foundation, ready-for-e2e

#19690 refactor: Typescript fixes and updates for bumping ts version to 5.8.2
  packages/features/apps/components/AppListCard.tsx
  packages/features/bookings/Booker/utils/isBookingDryRun.ts
  packages/features/bookings/lib/handleNewBooking/getEventTypesFromDB.ts
  packages/features/ee/organizations/lib/orgDomains.ts
  packages/features/embed/Embed.tsx
  packages/features/eventtypes/components/tabs/limits/EventLimitsTab.tsx
  packages/features/schedules/lib/use-schedule/useSchedule.ts
  packages/features/shell/navigation/Navigation.tsx
  packages/lib/bookingSuccessRedirect.ts
  packages/lib/crypto.ts
  packages/lib/slugify.ts
  packages/trpc/package.json
  packages/trpc/server/routers/viewer/organizations/adminUpdate.handler.ts
  packages/trpc/tsconfig.json
  packages/ui/components/createButton/CreateButton.tsx
  packages/ui/components/dialog/Dialog.tsx
  yarn.lock
Labels: core, 💻 refactor, foundation, ready-for-e2e

#19688 perf: remove atoms monorepo imports
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/my-account/conferencing/page.tsx
  apps/web/components/apps/CalendarListContainer.tsx
  apps/web/modules/availability/[schedule]/schedule-view.tsx
  apps/web/modules/d/[link]/d-type-view.tsx
  apps/web/modules/event-types/views/event-types-single-view.tsx
  apps/web/modules/org/[orgSlug]/instant-meeting/team/[slug]/[type]/instant-meeting-view.tsx
  apps/web/modules/team/type-view.tsx
  apps/web/modules/users/views/users-type-public-view.tsx
  packages/app-store/test-setup.ts
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/components/BookEventForm/BookEventForm.tsx
  packages/features/bookings/Booker/components/BookEventForm/BookFormAsModal.tsx
  packages/features/bookings/Booker/components/EventMeta.tsx
  packages/features/bookings/Booker/components/hooks/useBookings.ts
  packages/features/eventtypes/components/AddMembersWithSwitch.tsx
  packages/features/eventtypes/components/EventTypeLayout.tsx
  packages/features/eventtypes/components/tabs/advanced/EventAdvancedTab.tsx
  packages/features/package.json
  packages/lib/hooks/useLocale.ts
  packages/platform/atoms/monorepo.ts
  packages/platform/atoms/package.json
  packages/platform/atoms/vite.config.ts
  packages/ui/components/dialog/Dialog.tsx
  packages/ui/components/test-setup.ts
  yarn.lock
Labels: performance, core, foundation, ready-for-e2e

#19683 fix: open cal video url on new page when ready
  packages/platform/atoms/booker/BookerWebWrapper.tsx
Labels: 🐛 bug, enterprise, core, ready-for-e2e

#19760 chore: Bump .nvmrc node version to node 20
  .nvmrc
  apps/web/.nvmrc
Labels: core, foundation, ready-for-e2e

#19762 fix: typos in apps/api
  apps/api/v1/README.md
  apps/api/v1/lib/validations/user.ts
  apps/api/v1/next.config.js
  apps/api/v1/pages/api/bookings/[id]/_patch.ts
  apps/api/v1/pages/api/event-types/_get.ts
  apps/api/v1/pages/api/memberships/[id]/_delete.ts
  apps/api/v1/pages/api/users/[userId]/_delete.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/api-key-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/booking-fields.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/confirm-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/emails/confirm-emails.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/emails/team-emails.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/emails/user-emails.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/recurring-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/team-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/user-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/variable-length-bookings.e2e-spec.ts
  apps/api/v2/src/modules/destination-calendars/inputs/destination-calendars.input.ts
  apps/api/v2/src/modules/event-types/controllers/event-types-webhooks.controller.e2e-spec.ts
  apps/api/v2/src/modules/jwt/jwt.service.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-webhooks/oauth-client-webhooks.controller.e2e-spec.ts
  apps/api/v2/src/modules/organizations/schedules/organizations-schedules.e2e-spec.ts
  apps/api/v2/src/modules/organizations/teams/bookings/organizations-teams-bookings.controller.e2e-spec.ts
  apps/api/v2/src/modules/organizations/webhooks/controllers/organizations-webhooks.e2e-spec.ts
  apps/api/v2/src/modules/webhooks/controllers/webhooks.controller.e2e-spec.ts
  apps/api/v2/swagger/documentation.json
Labels: community, ready-for-e2e

#19153 fix(payments): add return_url for Alipay PaymentIntent confirmation; fixes #19138
  packages/features/ee/payments/components/Payment.tsx
  packages/platform/atoms/event-types/payments/StripePaymentForm.tsx
Labels: 🐛 bug, ❗️ migrations, billing, payments, community, ready-for-e2e

#19732 chore: Fix types of app-store to prevent type drilling
  packages/app-store/hitpay/components/KeyInput.tsx
  packages/app-store/routing-forms/pages/layout-handler/[...appPages].tsx
Labels: app-store, routing-forms, core, foundation, ready-for-e2e

#19761 fix: hubspot not working for paid team events
  packages/features/ee/payments/api/webhook.ts
  packages/lib/payment/handlePaymentSuccess.ts
Labels: teams, core, crm-apps, ready-for-e2e

#19288 refactor: `emailReminderTemplate` to accept object as param
  packages/features/ee/workflows/api/scheduleEmailReminders.ts
  packages/features/ee/workflows/lib/reminders/emailReminderManager.ts
  packages/trpc/server/routers/viewer/workflows/create.handler.ts
  packages/trpc/server/routers/viewer/workflows/util.ts
Labels: workflows, core, 💻 refactor, consumer, ready-for-e2e

#19720 fix: condition-for-incomplete-bookings-tab
  packages/app-store/routing-forms/components/RoutingNavBar.tsx
  packages/app-store/routing-forms/pages/incomplete-booking/[...appPages].tsx
Labels: 🐛 bug, routing-forms, community, ready-for-e2e, community-interns

#19769 chore: Update CODEOWNERS to have @calcom/Foundation on Platform line items
  .github/CODEOWNERS
Labels: core, foundation, ready-for-e2e

#19718 perf: Add `CrmServiceMap`
  packages/app-store-cli/src/build.ts
  packages/app-store/_utils/getCrm.ts
  packages/app-store/closecom/lib/CrmService.ts
  packages/app-store/crm.apps.generated.ts
  packages/app-store/hubspot/lib/CrmService.ts
  packages/app-store/pipedrive-crm/lib/CrmService.ts
  packages/app-store/zoho-bigin/lib/CrmService.ts
  packages/app-store/zohocrm/lib/CrmService.ts
  packages/lib/crmManager/crmManager.ts
Labels: performance, core, crm-apps, consumer, ready-for-e2e

#19755 chore: [Snyk] Fix for 1 vulnerabilities
  apps/api/v2/.snyk
  apps/api/v2/package.json
Labels: ⬆️ dependencies, core, ready-for-e2e

#19770 chore: Bump node to 20 in APIv2 Dockerfile
  apps/api/v2/Dockerfile
Labels: docker, core, foundation, ready-for-e2e

#19710 refactor: Remove intervalLimits from @calcom/lib and export directly
  apps/web/playwright/booking-limits.e2e.ts
  apps/web/playwright/lib/testUtils.ts
  apps/web/test/lib/checkBookingLimits.test.ts
  apps/web/test/lib/checkDurationLimits.test.ts
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  packages/features/bookings/lib/handleNewBooking/checkBookingAndDurationLimits.ts
  packages/features/bookings/lib/handleNewBooking/ensureAvailableUsers.ts
  packages/features/ee/teams/pages/team-settings-view.tsx
  packages/features/eventtypes/components/tabs/limits/EventLimitsTab.tsx
  packages/features/eventtypes/lib/types.ts
  packages/lib/event-types/getEventTypeById.ts
  packages/lib/getBusyTimes.ts
  packages/lib/getUserAvailability.ts
  packages/lib/index.ts
  packages/lib/intervalLimit.ts
  packages/lib/intervalLimits/intervalLimit.ts
  packages/lib/intervalLimits/intervalLimitSchema.ts
  packages/lib/intervalLimits/isBookingLimits.ts
  packages/lib/intervalLimits/isDurationLimits.ts
  packages/lib/intervalLimits/limitManager.ts
  packages/lib/intervalLimits/server/checkBookingLimits.ts
  packages/lib/intervalLimits/server/checkDurationLimits.ts
  packages/lib/intervalLimits/server/getBusyTimesFromLimits.ts
  packages/lib/intervalLimits/validateIntervalLimitOrder.ts
  packages/lib/server/index.ts
  packages/lib/server/queries/teams/index.ts
  packages/platform/atoms/event-types/hooks/useEventTypeForm.ts
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer/eventTypes/update.handler.ts
  packages/trpc/server/routers/viewer/slots/util.ts
  packages/trpc/server/routers/viewer/teams/update.handler.ts
  packages/trpc/server/routers/viewer/teams/update.schema.ts
  packages/types/Calendar.d.ts
Labels: core, 💻 refactor, foundation, ready-for-e2e

#19697 feat: add booking id & booking link columns to /insights/routing
  apps/web/public/static/locales/en/common.json
  packages/features/data-table/lib/context.tsx
  packages/features/insights/hooks/useInsightsColumns.tsx
  packages/features/insights/hooks/useInsightsFacetedUniqueValues.ts
Labels: ✨ feature, routing-forms, insights, core, consumer, ready-for-e2e

#19788 feat: display country code from IP
  apps/web/components/dialog/EditLocationDialog.tsx
  packages/features/bookings/Booker/components/BookEventForm/BookingFields.test.tsx
  packages/features/components/phone-input/PhoneInput.tsx
  packages/features/components/phone-input/index.ts
  packages/features/ee/workflows/components/AddActionDialog.tsx
  packages/features/ee/workflows/components/WorkflowStepContainer.tsx
  packages/features/eventtypes/components/Locations.tsx
  packages/features/eventtypes/components/tabs/ai/AIEventController.tsx
  packages/features/form-builder/Components.tsx
  packages/ui/__mocks__/ui.tsx
  packages/ui/index.ts
Labels: ✨ feature, enterprise, core, ready-for-e2e

#19774 chore: rename virtual-queue to router-position
  apps/web/app/(use-page-wrapper)/insights/router-position/page.tsx
  packages/features/shell/navigation/Navigation.tsx
Labels: 🐛 bug, ⚡ Quick Wins, 🙋 Bounty claim, community, ready-for-e2e

#19793 fix: invalid access token bug for v2 bookings controller
  apps/api/v2/src/ee/bookings/2024-08-13/services/input.service.ts
Labels: 🐛 bug, platform, bookings, core, ready-for-e2e

#19799 refactor: Salesforce - account query based on website
  packages/app-store/salesforce/lib/CrmService.ts
Labels: core, crm-apps, 💻 refactor, consumer, ready-for-e2e

#19797 fix: api v2 create event-type with delegation credentials
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/event-types.service.ts
Labels: 🐛 bug, platform, event-types, core, ready-for-e2e

#19778 docs: update SAML guide
  docs/developing/guides/auth-and-provision/sso-setup.mdx
  docs/self-hosting/sso-setup.mdx
Labels: docs, enterprise, authentication, core, ready-for-e2e

#19815 docs: Update README to include NODE_OPTIONS script
  README.md
Labels: docs, community, ready-for-e2e, community-interns

#19831 chore: Update CODEOWNERS for package.json files
  .github/CODEOWNERS
Labels: core, foundation, ready-for-e2e

#19834 fix: fixes the crash when empty `users` or `hosts` array is passed to _getDelegationCredentialsMapPerUser
  packages/lib/delegationCredential/server.test.ts
  packages/lib/delegationCredential/server.ts
Labels: 🐛 bug, enterprise, core, ready-for-e2e

#19809 chore: added "+ group link" tip
  apps/web/modules/settings/my-account/profile-view.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/ee/teams/components/TeamsListing.tsx
Labels: i18n, community, ready-for-e2e

#19810 fix: Cannot Read properties of undefined reading ('id')
  packages/features/tips/Tips.tsx
Labels: 🐛 bug, community, ready-for-e2e

#19814 revert: "fix: prevent background scroll on opening timezone select menu"
  packages/features/components/timezone-select/TimezoneSelect.tsx
Labels: core, ready-for-e2e

#19790 fix: Calendar events attached to workflow emails are missing meeting url
  packages/features/ee/workflows/api/scheduleEmailReminders.ts
Labels: 🐛 bug, Medium priority, workflows, emails, core, ready-for-e2e

#19700 feat: team ooo read-only for non-admin
  apps/web/playwright/out-of-office.e2e.ts
  apps/web/public/static/locales/en/common.json
  packages/features/settings/outOfOffice/CreateNewOutOfOfficeEntryButton.tsx
  packages/features/settings/outOfOffice/CreateOrEditOutOfOfficeModal.tsx
  packages/features/settings/outOfOffice/OutOfOfficeEntriesList.tsx
  packages/features/settings/outOfOffice/OutOfOfficeToggleGroup.tsx
  packages/trpc/server/routers/loggedInViewer/outOfOfficeEntriesList.handler.ts
  packages/trpc/server/routers/viewer/teams/legacyListMembers.handler.ts
  packages/trpc/server/routers/viewer/teams/legacyListMembers.schema.ts
Labels: ✨ feature, teams, 🚨 needs approval, community, ready-for-e2e

#19839 fix: calcom UI circle dep
  packages/ui/components/editor/Editor.test.tsx
  packages/ui/components/editor/Editor.tsx
  packages/ui/components/editor/index.ts
  packages/ui/components/editor/plugins/ToolbarPlugin.tsx
  packages/ui/components/editor/types.ts
  packages/ui/components/form/select/Select.tsx
  packages/ui/components/form/select/components.tsx
  packages/ui/components/form/select/types.ts
Labels: 🐛 bug, ui, core, consumer, ready-for-e2e

#19785 fix: date range on /bookings
  apps/web/modules/bookings/views/bookings-listing-view.tsx
Labels: 🐛 bug, bookings, core, consumer, ready-for-e2e

#19862 fix: failing tests during DST transition
  packages/features/bookings/lib/handleNewBooking/test/complex-schedules.test.ts
  packages/features/bookings/lib/handleNewBooking/test/date-overrides.test.ts
Labels: automated-tests, community, ready-for-e2e

#19867 chore: update robots.txt to disallow /settings and /settings/my-account
  apps/web/public/robots.txt
Labels: 🐛 bug, authentication, community, ready-for-e2e

#19860 chore: remove empty path from middleware matcher
  apps/web/middleware.ts
Labels: core, consumer, ready-for-e2e

#19826 chore: migrate two-factor APIs to app router
  apps/web/app/api/auth/two-factor/totp/disable/route.ts
  apps/web/app/api/auth/two-factor/totp/enable/route.ts
  apps/web/app/api/auth/two-factor/totp/setup/route.ts
  apps/web/pages/api/auth/two-factor/totp/enable.ts
Labels: authentication, core, consumer, ready-for-e2e

#19806 feat: no-show confirmation does not pop up for single attendee
  apps/web/components/booking/BookingListItem.tsx
Labels: ✨ feature, 🧹 Improvements, High priority, bookings, community, consumer, ready-for-e2e, community-interns

#19879 fix: Typo in Email Address
  packages/app-store/element-call/config.json
Labels: app-store, community, ready-for-e2e

#19798 chore: decouple calcom/ui/Tooltip from atoms
  packages/platform/atoms/package.json
  packages/platform/atoms/src/components/ui/tooltip.tsx
  packages/platform/atoms/vite.config.ts
  packages/ui/components/tooltip/Tooltip.tsx
Labels: platform, core, 💻 refactor, ready-for-e2e

#19851 chore: add logs for debugging
  packages/features/bookings/lib/handleNewBooking.ts
  packages/lib/EventManager.ts
Labels: core, ready-for-e2e

#19794 fix: playwright typos
  apps/web/playwright/auth/auth-index.e2e.ts
  apps/web/playwright/availability.e2e.ts
  apps/web/playwright/booking-limits.e2e.ts
  apps/web/playwright/fixtures/features.ts
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/integrations.e2e.ts
  apps/web/playwright/lib/testUtils.ts
  apps/web/playwright/login.2fa.e2e.ts
  apps/web/playwright/login.e2e.ts
  apps/web/playwright/oauth-provider.e2e.ts
  apps/web/playwright/organization/organization-creation.e2e.ts
  apps/web/playwright/profile.e2e.ts
  apps/web/playwright/signup.e2e.ts
  apps/web/playwright/webhook.e2e.ts
  playwright.config.ts
Labels: automated-tests, community, ready-for-e2e

#19895 refactor: extract slots from libraries barrel file
  apps/api/v2/package.json
  apps/api/v2/src/modules/slots/slots-2024-04-15/controllers/slots.controller.ts
  apps/api/v2/src/modules/slots/slots-2024-04-15/services/slots-output.service.ts
  apps/api/v2/src/modules/slots/slots-2024-09-04/services/slots-input.service.ts
  apps/api/v2/src/modules/slots/slots-2024-09-04/services/slots.service.ts
  apps/api/v2/tsconfig.json
  packages/lib/event-types/getEventTypeById.ts
  packages/platform/libraries/index.ts
  packages/platform/libraries/package.json
  packages/platform/libraries/slots.ts
  packages/platform/libraries/vite.config.js
Labels: platform, core, 💻 refactor, ready-for-e2e

#19892 fix: profile to user repository circle dependancy
  packages/lib/server/repository/profile.ts
Labels: 🐛 bug, core, consumer, ready-for-e2e

#19896 fix: calcom trpc circle deps slots handlers
  apps/web/test/lib/getSchedule/selectedSlots.test.ts
  packages/trpc/server/routers/viewer/apps/updateAppCredentials.handler.ts
  packages/trpc/server/routers/viewer/apps/updateAppCredentials.validator.ts
  packages/trpc/server/routers/viewer/slots/getSchedule.handler.ts
  packages/trpc/server/routers/viewer/slots/types.ts
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: 🐛 bug, core, consumer, ready-for-e2e

#19894 fix: add documentaion to `blockUnconfirmedBookingsInBooker`
  packages/platform/types/event-types/event-types_2024_06_14/inputs/confirmation-policy.input.ts
Labels: platform, event-types, core, ready-for-e2e

#19846 fix: platform libraries barrel file extract event-types
  apps/api/v2/package.json
  apps/api/v2/src/ee/bookings/2024-08-13/services/input.service.ts
  apps/api/v2/src/ee/calendars/outputs/connected-calendars.output.ts
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/controllers/event-types.controller.e2e-spec.ts
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/event-types.repository.ts
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/services/event-types.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/event-types.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/input-event-types.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/output-event-types.service.ts
  apps/api/v2/src/modules/atoms/controllers/atoms.controller.ts
  apps/api/v2/src/modules/atoms/services/event-types-atom.service.ts
  apps/api/v2/src/modules/organizations/event-types/services/input.service.ts
  apps/api/v2/src/modules/organizations/event-types/services/organizations-event-types.service.ts
  apps/api/v2/src/modules/organizations/teams/memberships/organizations-teams-memberships.controller.ts
  apps/api/v2/src/modules/selected-calendars/selected-calendars.repository.ts
  apps/api/v2/src/modules/teams/event-types/services/teams-event-types.service.ts
  apps/api/v2/src/modules/teams/memberships/controllers/teams-memberships.controller.ts
  apps/api/v2/swagger/documentation.json
  apps/api/v2/tsconfig.json
  docs/api-reference/v2/openapi.json
  packages/lib/event-types/transformers/api-to-internal/seats.ts
  packages/lib/event-types/transformers/internal-to-api/seats.ts
  packages/platform/libraries/event-types.ts
  packages/platform/libraries/index.ts
  packages/platform/libraries/package.json
  packages/platform/libraries/vite.config.js
  packages/platform/types/event-types/event-types_2024_06_14/outputs/event-type.output.ts
Labels: platform, event-types, core, ready-for-e2e

#19903 refactor: circular dependencies platform packages
  packages/platform/atoms/booker/types.ts
  packages/platform/atoms/cal-provider/BaseCalProvider.tsx
  packages/platform/atoms/cal-provider/CalProvider.tsx
  packages/platform/atoms/cal-provider/languages.ts
  packages/platform/atoms/event-types/hooks/usePlatformTabsNavigations.tsx
  packages/platform/atoms/event-types/wrappers/EventTypePlatformWrapper.tsx
  packages/platform/atoms/event-types/wrappers/types.ts
  packages/platform/atoms/hooks/useAtomsContext.ts
  packages/platform/sdk/.release-it.js
  packages/platform/sdk/README.md
  packages/platform/sdk/example/index.ts
  packages/platform/sdk/package.json
  packages/platform/sdk/rollup.config.js
  packages/platform/sdk/src/cal.ts
  packages/platform/sdk/src/endpoints/bookings/index.ts
  packages/platform/sdk/src/endpoints/endpoint-handler.ts
  packages/platform/sdk/src/endpoints/events/event-types/index.ts
  packages/platform/sdk/src/endpoints/events/event-types/types.ts
  packages/platform/sdk/src/endpoints/events/index.ts
  packages/platform/sdk/src/endpoints/events/types.ts
  packages/platform/sdk/src/endpoints/managed-users/index.ts
  packages/platform/sdk/src/endpoints/managed-users/types.ts
  packages/platform/sdk/src/endpoints/oauth-flow/index.ts
  packages/platform/sdk/src/endpoints/oauth-flow/types.ts
  packages/platform/sdk/src/endpoints/schedules/index.ts
  packages/platform/sdk/src/endpoints/schedules/types.ts
  packages/platform/sdk/src/endpoints/slots/index.ts
  packages/platform/sdk/src/endpoints/slots/types.ts
  packages/platform/sdk/src/index.ts
  packages/platform/sdk/src/lib/endpoints.ts
  packages/platform/sdk/src/lib/errors/cal-api-error.ts
  packages/platform/sdk/src/lib/errors/sdk-initialization-error.ts
  packages/platform/sdk/src/lib/http-caller.ts
  packages/platform/sdk/src/lib/sdk-secrets.ts
  packages/platform/sdk/src/swagger-types.d.ts
  packages/platform/sdk/src/types.ts
  packages/platform/sdk/tsconfig.build.json
  packages/platform/sdk/tsconfig.json
Labels: platform, core, 💻 refactor, ready-for-e2e

#17941 feat: update platform onboarding docs
  docs/images/Landing_Page.png
  docs/images/Platform_dashboard.png
  docs/images/Platform_plans.png
  docs/images/Platform_signup.png
  docs/images/Platform_subscribe.png
  docs/images/Signup_page.png
  docs/mint.json
  docs/platform/introduction.mdx
  docs/platform/setup.mdx
Labels: docs, platform, Stale, core, ready-for-e2e

#19675 fix: add badge for disabled workflow actions and templates in trial mode
  apps/web/public/static/locales/en/common.json
  packages/features/ee/billing/billing-service.ts
  packages/features/ee/billing/stripe-billling-service.ts
  packages/features/ee/billing/teams/internal-team-billing.ts
  packages/lib/hooks/useHasPaidPlan.ts
  packages/trpc/server/routers/viewer/teams/hasActiveTeamPlan.handler.ts
  packages/trpc/server/routers/viewer/workflows/getWorkflowActionOptions.handler.ts
  packages/trpc/server/routers/viewer/workflows/update.handler.ts
  packages/ui/components/badge/UpgradeTeamsBadge.tsx
  packages/ui/components/form/select/components.tsx
Labels: 🐛 bug, High priority, teams, workflows, ui, core, consumer, ready-for-e2e

#19875 chore: cron workflows / webhooks API to app router
  apps/web/app/api/cron/webhookTriggers/route.ts
  apps/web/app/api/cron/workflows/scheduleEmailReminders/route.ts
  apps/web/app/api/cron/workflows/scheduleSMSReminders/route.ts
  apps/web/app/api/cron/workflows/scheduleWhatsappReminders/route.ts
  apps/web/pages/api/cron/webhookTriggers.ts
  apps/web/pages/api/cron/workflows/scheduleEmailReminders.ts
  apps/web/pages/api/cron/workflows/scheduleSMSReminders.ts
  apps/web/pages/api/cron/workflows/scheduleWhatsappReminders.ts
  packages/features/ee/workflows/api/scheduleEmailReminders.ts
  packages/features/ee/workflows/api/scheduleSMSReminders.ts
  packages/features/ee/workflows/api/scheduleWhatsappReminders.ts
  packages/features/webhooks/lib/cron.ts
Labels: workflows, api, core, consumer, ready-for-e2e

#19905 fix: removed rounded top corners on webhook form
  packages/features/webhooks/components/WebhookForm.tsx
Labels: 🐛 bug, Low priority, webhooks, ui, community, ready-for-e2e

#19915 chore: missing pieces to migrated apis
  apps/web/app/api/link/route.ts
Labels: api, core, consumer, ready-for-e2e

#19911 chore: Remove typeform app
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/routing-forms/components/SingleForm.tsx
  packages/app-store/routing-forms/pages/forms/[...appPages].tsx
  packages/app-store/typeform/DESCRIPTION.md
  packages/app-store/typeform/api/add.ts
  packages/app-store/typeform/api/index.ts
  packages/app-store/typeform/config.json
  packages/app-store/typeform/index.ts
  packages/app-store/typeform/package.json
  packages/app-store/typeform/pages/how-to-use/[...appPages].tsx
  packages/app-store/typeform/playwright/tests/basic.e2e.ts
  packages/app-store/typeform/static/copy-typeform-redirect-url.png
  packages/app-store/typeform/static/how-it-looks-in-typeform.png
  packages/app-store/typeform/static/icon-dark.svg
  packages/app-store/typeform/static/icon.svg
  yarn.lock
Labels: app-store, core, consumer, ready-for-e2e

#19824 chore: migrate oauth APIs to app router
  apps/web/app/api/auth/oauth/me/route.ts
  apps/web/app/api/auth/oauth/refreshToken/route.ts
  apps/web/app/api/auth/oauth/token/route.ts
  apps/web/pages/api/auth/oauth/me.ts
  packages/app-store/zapier/lib/validateAccountOrApiKey.ts
  packages/features/auth/lib/oAuthAuthorization.ts
Labels: api, core, consumer, ready-for-e2e

#19918 fix: update filter styles on org member list
  apps/web/modules/bookings/views/bookings-listing-view.tsx
  apps/web/modules/insights/insights-view.tsx
  packages/features/data-table/components/DataTableToolbar.tsx
  packages/features/data-table/components/filters/AddFilterButton.tsx
  packages/features/data-table/components/filters/ClearFiltersButton.tsx
  packages/features/data-table/components/filters/FilterPopover.tsx
  packages/features/data-table/components/filters/NumberFilterOptions.tsx
  packages/features/insights/components/RoutingFormResponsesTable.tsx
  packages/features/users/components/UserTable/UserListTable.tsx
Labels: ui, core, consumer, ready-for-e2e

#19693 fix: duplicate value found in common.json error
  apps/web/app/(use-page-wrapper)/auth/verify-email/page.tsx
  apps/web/components/EnterprisePage.tsx
  apps/web/modules/bookings/views/bookings-single-view.tsx
  apps/web/public/static/locales/ar/common.json
  apps/web/public/static/locales/az/common.json
  apps/web/public/static/locales/bg/common.json
  apps/web/public/static/locales/ca/common.json
  apps/web/public/static/locales/cs/common.json
  apps/web/public/static/locales/da/common.json
  apps/web/public/static/locales/de/common.json
  apps/web/public/static/locales/el/common.json
  apps/web/public/static/locales/en/common.json
  apps/web/public/static/locales/es-419/common.json
  apps/web/public/static/locales/es/common.json
  apps/web/public/static/locales/et/common.json
  apps/web/public/static/locales/eu/common.json
  apps/web/public/static/locales/fi/common.json
  apps/web/public/static/locales/fr/common.json
  apps/web/public/static/locales/he/common.json
  apps/web/public/static/locales/hr/common.json
  apps/web/public/static/locales/hu/common.json
  apps/web/public/static/locales/id/common.json
  apps/web/public/static/locales/it/common.json
  apps/web/public/static/locales/ja/common.json
  apps/web/public/static/locales/km/common.json
  apps/web/public/static/locales/ko/common.json
  apps/web/public/static/locales/lv/common.json
  apps/web/public/static/locales/nl/common.json
  apps/web/public/static/locales/no/common.json
  apps/web/public/static/locales/pl/common.json
  apps/web/public/static/locales/pt-BR/common.json
  apps/web/public/static/locales/pt/common.json
  apps/web/public/static/locales/ro/common.json
  apps/web/public/static/locales/ru/common.json
  apps/web/public/static/locales/sk-SK/common.json
  apps/web/public/static/locales/sk/common.json
  apps/web/public/static/locales/sr/common.json
  apps/web/public/static/locales/sv/common.json
  apps/web/public/static/locales/ta/common.json
  apps/web/public/static/locales/tr/common.json
  apps/web/public/static/locales/uk/common.json
  apps/web/public/static/locales/vi/common.json
  apps/web/public/static/locales/zh-CN/common.json
  apps/web/public/static/locales/zh-TW/common.json
  packages/emails/src/templates/VerifyAccountEmail.tsx
  packages/emails/src/templates/VerifyEmailChangeEmail.tsx
  packages/emails/templates/organization-admin-no-slots-email.ts
  packages/features/bookings/Booker/components/BookEventForm/BookEventForm.tsx
  packages/features/bookings/components/AvailableTimes.tsx
  packages/features/eventtypes/components/tabs/advanced/RequiresConfirmationController.tsx
  packages/platform/atoms/event-types/hooks/usePlatformTabsNavigations.tsx
Labels: i18n, community, ready-for-e2e, community-interns

#19928 fix: mobile-view
  packages/features/ee/teams/components/TeamListItem.tsx
Labels: 🐛 bug, ui, community, ready-for-e2e, community-interns

#18548 feat: sound on browser push notification
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/SettingsLayoutAppDirClient.tsx
  apps/web/app/layout.tsx
  apps/web/app/providers.tsx
  apps/web/app/settings/(settings-layout)/my-account/push-notifications/page.tsx
  apps/web/components/notification-sound-handler.tsx
  apps/web/modules/settings/my-account/push-notifications-view.tsx
  apps/web/pages/_app.tsx
  apps/web/public/ring.mp3
  apps/web/public/service-worker.js
  apps/web/public/static/locales/en/common.json
  packages/features/instant-meeting/handleInstantMeeting.ts
  packages/features/notifications/WebPushContext.tsx
  packages/features/notifications/sendNotification.ts
  packages/features/shell/Shell.tsx
  packages/lib/hooks/useNotifications.tsx
  packages/trpc/server/routers/loggedInViewer/addNotificationsSubscription.handler.ts
Labels: ✨ feature, High priority, enterprise, webhooks, organizations, ui, core, ready-for-e2e

#19712 chore: pass metadata
  packages/embeds/embed-core/src/sdk-action-manager.ts
  packages/features/bookings/Booker/components/hooks/useBookings.ts
  packages/features/bookings/lib/handleNewBooking.ts
Labels: enterprise, bookings, core, ready-for-e2e

#19930 fix: handle both json and form data correctly in POST methods
  apps/web/app/api/auth/forgot-password/route.ts
  apps/web/app/api/auth/oauth/refreshToken/route.ts
  apps/web/app/api/auth/oauth/token/route.ts
  apps/web/app/api/auth/reset-password/route.ts
  apps/web/app/api/auth/saml/authorize/route.ts
  apps/web/app/api/auth/saml/callback/route.ts
  apps/web/app/api/auth/saml/token/route.ts
  apps/web/app/api/auth/setup/route.ts
  apps/web/app/api/auth/two-factor/totp/disable/route.ts
  apps/web/app/api/auth/two-factor/totp/enable/route.ts
  apps/web/app/api/auth/two-factor/totp/setup/route.ts
  apps/web/app/api/parseRequestData.ts
  apps/web/app/api/verify-booking-token/route.ts
  packages/features/ee/sso/lib/jackson.ts
Labels: authentication, core, consumer, ready-for-e2e

#19938 fix: extracted `app-store` and `DWD` platform-libraries imports to a `/app-store` barrel file
  apps/api/v2/package.json
  apps/api/v2/src/ee/bookings/2024-04-15/inputs/create-recurring-booking.input.ts
  apps/api/v2/src/ee/calendars/controllers/calendars.controller.e2e-spec.ts
  apps/api/v2/src/ee/calendars/services/apple-calendar.service.ts
  apps/api/v2/src/ee/calendars/services/ics-feed.service.ts
  apps/api/v2/src/modules/atoms/controllers/atoms.controller.ts
  apps/api/v2/src/modules/atoms/services/conferencing-atom.service.ts
  apps/api/v2/src/modules/atoms/services/event-types-atom.service.ts
  apps/api/v2/src/modules/conferencing/services/conferencing.service.ts
  apps/api/v2/src/modules/organizations/delegation-credentials/services/organizations-delegation-credential.service.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
  packages/platform/libraries/app-store.ts
  packages/platform/libraries/index.ts
  packages/platform/libraries/package.json
  packages/platform/libraries/vite.config.js
  yarn.lock
Labels: app-store, platform, core, 💻 refactor, ready-for-e2e

#19802 feat: implement standard pagination for org member list
  apps/web/modules/bookings/views/bookings-listing-view.tsx
  apps/web/public/static/locales/en/common.json
  apps/web/test/lib/generateCsv.test.ts
  packages/features/data-table/components/DataTable.tsx
  packages/features/data-table/components/DataTablePagination.tsx
  packages/features/data-table/components/DataTableWrapper.tsx
  packages/features/data-table/hooks/useFetchMoreOnBottomReached.ts
  packages/features/data-table/lib/context.tsx
  packages/features/ee/teams/components/MemberList.tsx
  packages/features/ee/users/components/UsersTable.tsx
  packages/features/insights/components/RoutingFormResponsesTable.tsx
  packages/features/settings/outOfOffice/OutOfOfficeEntriesList.tsx
  packages/features/timezone-buddy/components/AvailabilitySliderTable.tsx
  packages/features/users/components/UserTable/BulkActions/DeleteBulkUsers.tsx
  packages/features/users/components/UserTable/BulkActions/MassAssignAttributes.tsx
  packages/features/users/components/UserTable/DeleteMemberModal.tsx
  packages/features/users/components/UserTable/PlatformManagedUsersTable.tsx
  packages/features/users/components/UserTable/UserListTable.tsx
  packages/features/users/components/UserTable/types.ts
  packages/lib/csvUtils.ts
  packages/trpc/server/routers/viewer/organizations/_router.tsx
  packages/trpc/server/routers/viewer/organizations/listMembers.handler.ts
  packages/trpc/server/routers/viewer/organizations/listMembers.schema.ts
  packages/ui/components/pagination/Pagination.tsx
Labels: ✨ feature, organizations, core, consumer, ready-for-e2e

#19836 refactor: extract emails from libraries barrel file
  apps/api/v2/package.json
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/api-key-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/emails/confirm-emails.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/emails/team-emails.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/emails/user-emails.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/recurring-bookings.e2e-spec.ts
  apps/api/v2/src/modules/email/email.service.ts
  apps/api/v2/tsconfig.json
  docs/api-reference/v2/openapi.json
  packages/platform/libraries/emails.ts
  packages/platform/libraries/index.ts
  packages/platform/libraries/package.json
  packages/platform/libraries/vite.config.js
  yarn.lock
Labels: platform, emails, core, 💻 refactor, ready-for-e2e

#19944 test: managed org creator profiles
  apps/api/v2/src/modules/organizations/organizations/organizations-organizations.controller.e2e-spec.ts
Labels: platform, core, ready-for-e2e

#19726 chore: update hooks sections for platform docs
  docs/mint.json
  docs/platform/bookings-hooks.mdx
  docs/platform/calendars-hooks.mdx
  docs/platform/event-types-hooks.mdx
  docs/platform/hooks.mdx
  docs/platform/user-or-team-related-hooks.mdx
  packages/platform/atoms/index.ts
Labels: docs, platform, core, ready-for-e2e

#19949 fix: catch error for getOwnerId with invalid token
  apps/api/v2/src/ee/bookings/2024-04-15/controllers/bookings.controller.ts
Labels: 🐛 bug, platform, bookings, core, ready-for-e2e

#19962 fix: correct translation key for host and attendee emails
  apps/web/modules/bookings/views/bookings-single-view.tsx
Labels: i18n, community, ready-for-e2e, community-interns

#19958 fix: update wrong oauth tests and parseRequestData util
  apps/web/app/api/auth/oauth/refreshToken/route.ts
  apps/web/app/api/auth/oauth/token/route.ts
  apps/web/app/api/parseRequestData.ts
  apps/web/playwright/oauth-provider.e2e.ts
Labels: automated-tests, core, consumer, ready-for-e2e

#19885 chore: Upgrade `dub` to latest version for dual-sided incentives
  packages/features/auth/package.json
  yarn.lock
Labels: ⬆️ dependencies, community, ready-for-e2e

#19777 feat: calendar-links API
  PR_TODO.md
  apps/api/v2/README.md
  apps/api/v2/package.json
  apps/api/v2/src/ee/bookings/2024-08-13/bookings.repository.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/bookings.controller.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/calendar-links.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/outputs/calendar-links.output.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/bookings.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/event-types.repository.ts
  apps/api/v2/swagger/documentation.json
  apps/api/v2/test/setEnvVars.ts
  apps/web/modules/bookings/views/bookings-single-view.tsx
  docs/api-reference/v2/openapi.json
  packages/lib/bookings/getCalendarLinks.test.ts
  packages/lib/bookings/getCalendarLinks.ts
  packages/lib/event.ts
  packages/platform/libraries/index.ts
  packages/platform/libraries/package.json
  yarn.lock
Labels: ✨ feature, enterprise, api, core, ready-for-e2e

#19939 fix: v2 team metadata
  apps/api/v2/src/modules/organizations/organizations/inputs/create-managed-organization.input.ts
  apps/api/v2/src/modules/organizations/organizations/inputs/update-managed-organization.input.ts
  apps/api/v2/src/modules/organizations/organizations/organizations-organizations.controller.e2e-spec.ts
  apps/api/v2/src/modules/organizations/organizations/outputs/managed-organization.output.ts
  apps/api/v2/src/modules/organizations/organizations/services/managed-organizations-output.service.ts
  apps/api/v2/src/modules/organizations/organizations/services/managed-organizations.service.ts
  apps/api/v2/src/modules/organizations/teams/index/organizations-teams.controller.e2e-spec.ts
  apps/api/v2/src/modules/teams/teams/controllers/teams.controller.e2e-spec.ts
  apps/api/v2/src/modules/teams/teams/inputs/create-team.input.ts
  apps/api/v2/src/modules/teams/teams/inputs/update-team.input.ts
  packages/platform/types/bookings/2024-08-13/inputs/validators/validate-metadata.ts
  packages/platform/types/teams/outputs/team.output.ts
Labels: 🐛 bug, platform, core, ready-for-e2e

#19950 fix: apply standard pagination to /insights/routing
  packages/features/insights/components/RoutingFormResponsesTable.tsx
  packages/features/insights/filters/Download/RoutingFormResponsesDownload.tsx
  packages/features/insights/server/raw-data.schema.ts
  packages/features/insights/server/routing-events.ts
  packages/features/insights/server/trpc-router.ts
Labels: routing-forms, insights, core, consumer, ready-for-e2e

#19976 chore: remove code not needed in defaultResponder
  apps/web/app/api/defaultResponderForAppDir.test.ts
  apps/web/app/api/defaultResponderForAppDir.ts
Labels: core, consumer, ready-for-e2e

#19833 fix: v2 rescheduled booking with confirmation
  apps/api/v2/src/ee/bookings/2024-04-15/controllers/bookings.controller.ts
  apps/api/v2/src/ee/bookings/2024-04-15/controllers/managed-user-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-04-15/inputs/create-booking.input.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/emails/confirm-emails.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/managed-user-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/input.service.ts
  apps/api/v2/src/ee/bookings/shared/platform-bookings.service.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.e2e-spec.ts
  apps/api/v2/src/modules/oauth-clients/services/oauth-clients-users.service.ts
  packages/platform/atoms/booker-embed/BookerEmbed.tsx
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
  packages/platform/atoms/booker/types.ts
  packages/platform/atoms/router/Router.tsx
  packages/platform/examples/base/src/pages/[bookingUid].tsx
  packages/platform/examples/base/src/pages/booking.tsx
  packages/platform/types/bookings/2024-08-13/inputs/reschedule-booking.input.ts
Labels: 🐛 bug, platform, bookings, core, ready-for-e2e

#19838 refactor: extract schedules from libraries barrel file
  apps/api/v2/package.json
  apps/api/v2/src/ee/schedules/schedules_2024_06_11/services/input-schedules.service.ts
  apps/api/v2/tsconfig.json
  packages/platform/libraries/index.ts
  packages/platform/libraries/package.json
  packages/platform/libraries/schedules.ts
  packages/platform/libraries/vite.config.js
Labels: platform, core, 💻 refactor, ready-for-e2e

#19986 fix: broken metadata import from platform/types
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.e2e-spec.ts
  apps/api/v2/src/modules/oauth-clients/services/oauth-clients-users.service.ts
  apps/api/v2/src/modules/organizations/organizations/inputs/create-managed-organization.input.ts
  apps/api/v2/src/modules/organizations/organizations/inputs/update-managed-organization.input.ts
  apps/api/v2/src/modules/organizations/organizations/outputs/managed-organization.output.ts
  apps/api/v2/src/modules/teams/teams/inputs/create-team.input.ts
  apps/api/v2/src/modules/teams/teams/inputs/update-team.input.ts
  packages/platform/types/bookings/2024-08-13/inputs/index.ts
  packages/platform/types/teams/outputs/team.output.ts
Labels: 🐛 bug, platform, core, ready-for-e2e

#19994 fix: importing from @calcom/emails exposed daily-video api route to client code
  apps/web/app/api/recorded-daily-video/route.ts
  packages/emails/daily-video-emails.ts
Labels: 🐛 bug, emails, core, consumer, ready-for-e2e

#19999 fix: push notification page UI
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/my-account/push-notifications/page.tsx
Labels: 🐛 bug, enterprise, ui, core, ready-for-e2e

#19979 fix: add improved logging and decrease ttl
  packages/lib/__tests__/autoLock.test.ts
  packages/lib/autoLock.ts
Labels: core, consumer, ready-for-e2e

#20005 fix: avatar sentry errors
  apps/web/app/api/avatar/[uuid]/route.ts
Labels: 🐛 bug, core, consumer, ready-for-e2e

#20008 fix: remove Trans component
  apps/web/public/static/locales/en/common.json
  packages/emails/src/templates/DailyVideoDownloadRecordingEmail.tsx
Labels: enterprise, i18n, core, ready-for-e2e

#19613 refactor: v2 booking locations
  apps/api/v2/package.json
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/seated-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/user-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/input.service.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
  packages/lib/event-types/transformers/api-to-internal/locations.ts
  packages/platform/libraries/event-types.ts
  packages/platform/types/bookings/2024-08-13/inputs/create-booking.input.ts
  packages/platform/types/bookings/2024-08-13/inputs/location.input.ts
  yarn.lock
Labels: platform, bookings, core, 💻 refactor, ready-for-e2e

#20011 docs: v2 reschedule and cancel booking
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/bookings.controller.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
Labels: docs, platform, bookings, core, ready-for-e2e

#20021 chore: add CalendarService Exception Filter api v2
  apps/api/v2/package.json
  apps/api/v2/src/app.ts
  apps/api/v2/src/filters/calendar-service-exception.filter.ts
  apps/api/v2/src/lib/filterReqHeaders.ts
  packages/platform/libraries/app-store.ts
Labels: platform, api, core, ready-for-e2e

#20027 fix: no-meeting-found is exporting client component from RSC
  apps/web/app/(use-page-wrapper)/video/no-meeting-found/page.tsx
Labels: 🐛 bug, core, consumer, ready-for-e2e

#20002 fix: hide slot unavailable message for instant meetings
  packages/features/bookings/Booker/Booker.tsx
Labels: 🐛 bug, enterprise, bookings, core, ready-for-e2e

#19596 feat: Fetch previous ooo records using DateRangeFilter
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/my-account/out-of-office/page.tsx
  apps/web/playwright/out-of-office.e2e.ts
  packages/features/settings/outOfOffice/OutOfOfficeEntriesList.tsx
  packages/trpc/server/routers/loggedInViewer/outOfOfficeEntriesList.handler.ts
  packages/trpc/server/routers/loggedInViewer/outOfOfficeEntriesList.schema.ts
Labels: ✨ feature, Medium priority, teams, community, consumer, ready-for-e2e

#19853 fix: disable plain for self hosters
  apps/web/app/api/plain-hash/route.ts
  apps/web/lib/plain/plainChat.tsx
  apps/web/test/lib/plainTiers.test.ts
  packages/lib/constants.ts
Labels: 🐛 bug, ❗️ .env changes, self-hosting, core, ready-for-e2e

#20040 fix: Disable connected forms for any new form or route until further notice
  packages/app-store/routing-forms/components/FormActions.tsx
  packages/app-store/routing-forms/pages/route-builder/[...appPages].tsx
  packages/app-store/routing-forms/playwright/tests/basic.e2e.ts
Labels: enterprise, routing-forms, core, ready-for-e2e

#20003 fix: Enable feature for embeds when 100 pc is set
  packages/features/bookings/Booker/utils/isFeatureEnabledForVisitor.test.ts
  packages/features/bookings/Booker/utils/isFeatureEnabledForVisitor.ts
  packages/trpc/server/routers/viewer/slots/isAvailable.handler.ts
  packages/trpc/server/routers/viewer/slots/isAvailable.schema.ts
Labels: 🐛 bug, enterprise, embed, core, ready-for-e2e

#19973 fix: apply standard pagination to /bookings
  apps/web/modules/bookings/hooks/useStretchedHeightToBottom.ts
  apps/web/modules/bookings/views/bookings-listing-view.tsx
  packages/features/data-table/components/DataTableWrapper.tsx
  packages/lib/bookings/getAllUserBookings.ts
  packages/trpc/server/routers/viewer/bookings/get.handler.ts
  packages/trpc/server/routers/viewer/bookings/get.schema.ts
Labels: 🧹 Improvements, bookings, core, consumer, ready-for-e2e

#19890 fix: circular dependency in handleNewBooking
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/checkBookingAndDurationLimits.ts
  packages/features/bookings/lib/handleNewBooking/createBooking.ts
  packages/features/bookings/lib/handleNewBooking/ensureAvailableUsers.ts
  packages/features/bookings/lib/handleNewBooking/getBookingData.ts
  packages/features/bookings/lib/handleNewBooking/getCustomInputsResponses.ts
  packages/features/bookings/lib/handleNewBooking/getEventTypesFromDB.ts
  packages/features/bookings/lib/handleNewBooking/getOriginalRescheduledBooking.ts
  packages/features/bookings/lib/handleNewBooking/handleAppsStatus.ts
  packages/features/bookings/lib/handleNewBooking/loadAndValidateUsers.ts
  packages/features/bookings/lib/handleNewBooking/loadUsers.ts
  packages/features/bookings/lib/handleNewBooking/logger.ts
  packages/features/bookings/lib/handleNewBooking/originalRescheduledBookingUtils.ts
  packages/features/bookings/lib/handleNewBooking/types.ts
  packages/features/bookings/lib/handleSeats/handleSeats.ts
  packages/features/bookings/lib/handleSeats/lib/lastAttendeeDeleteBooking.ts
  packages/features/bookings/lib/handleSeats/reschedule/owner/combineTwoSeatedBookings.ts
  packages/features/bookings/lib/handleSeats/reschedule/owner/moveSeatedBookingToNewTimeSlot.ts
  packages/features/bookings/lib/handleSeats/reschedule/owner/ownerRescheduleSeatedBooking.ts
  packages/features/bookings/lib/handleSeats/reschedule/rescheduleSeatedBooking.ts
  packages/features/bookings/lib/handleSeats/types.d.ts
Labels: 🐛 bug, enterprise, bookings, core, ready-for-e2e

#20033 fix: Intercom app - regex valid url
  packages/app-store/intercom/lib/isValidCalURL.ts
Labels: 🐛 bug, ✨ feature, 🙋🏻‍♂️help wanted, app-store, Medium priority, 💎 Bounty, 💰 Rewarded, community, ready-for-e2e

#17050 feat: store cal video recording on s3
  .env.example
  packages/app-store/dailyvideo/lib/VideoApiAdapter.ts
  turbo.json
Labels: ✨ feature, enterprise, ❗️ .env changes, core, ready-for-e2e

#20057 fix: add conditional
  packages/trpc/server/routers/viewer/payments/chargeCard.handler.ts
Labels: core, payments, consumer, ready-for-e2e

#20058 perf: Ignore node_modules in Tailwind preset
  packages/config/tailwind-preset.js
Labels: performance, core, foundation, ready-for-e2e

#20007 fix: add booking uid and link to insights routing downloads
  packages/features/data-table/components/DataTablePagination.tsx
  packages/features/data-table/components/DataTableWrapper.tsx
  packages/features/insights/server/routing-events.ts
Labels: routing-forms, insights, core, consumer, ready-for-e2e

#20000 feat: don't update query params for booker atom
  docs/platform/atoms/booker.mdx
  packages/features/bookings/Booker/store.ts
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
  packages/platform/atoms/booker/types.ts
  packages/platform/examples/base/src/pages/booking.tsx
Labels: ✨ feature, platform, bookings, core, ready-for-e2e

#20050 fix: Do not self import @calcom/ui
  packages/features/apps/components/AppListCard.tsx
  packages/features/apps/components/AppListCardPlatformWrapper.tsx
  packages/features/apps/components/AppListCardWebWrapper.tsx
  packages/types/CredentialOwner.d.ts
  packages/ui/components/TokenHandler/TokenHandler.tsx
  packages/ui/components/app-list-card/AppListCard.tsx
  packages/ui/components/apps/AppCard.tsx
  packages/ui/components/avatar/UserAvatar.tsx
  packages/ui/components/avatar/UserAvatarGroup.tsx
  packages/ui/components/avatar/UserAvatarGroupWithOrg.tsx
  packages/ui/components/button/Button.tsx
  packages/ui/components/command/Command.tsx
  packages/ui/components/disconnect-calendar-integration/DisconnectIntegration.tsx
  packages/ui/components/filter-select/index.tsx
  packages/ui/components/form/color-picker/colorpicker.test.tsx
  packages/ui/components/form/color-picker/colorpicker.tsx
  packages/ui/components/form/datepicker/DatePicker.tsx
  packages/ui/components/form/inputs/Input.tsx
  packages/ui/components/form/inputs/types.d.ts
  packages/ui/components/form/slider/RangeSlider.tsx
  packages/ui/components/form/slider/RangeSliderPopover.tsx
  packages/ui/components/form/toggleGroup/ToggleGroup.tsx
  packages/ui/components/icon/Icon.tsx
  packages/ui/components/table/table.test.tsx
  packages/ui/components/unpublished-entity/UnpublishedEntity.tsx
  packages/ui/index.ts
  packages/ui/layouts/WizardLayout.tsx
  packages/ui/package.json
Labels: core, foundation, ready-for-e2e

#19953 fix: support more className-related props at DataTable
  apps/web/modules/bookings/views/bookings-listing-view.tsx
  packages/features/data-table/components/DataTable.tsx
  packages/features/data-table/components/DataTableWrapper.tsx
  packages/features/data-table/components/filters/ClearFiltersButton.tsx
  packages/features/ee/billing/api/webhook/_invoice.paid.ts
  packages/features/ee/billing/organizations/index.ts
  packages/features/ee/billing/teams/internal-team-billing.ts
  packages/features/insights/components/RoutingFormResponsesTable.tsx
  packages/features/settings/outOfOffice/OutOfOfficeEntriesList.tsx
  packages/features/users/components/UserTable/PlatformManagedUsersTable.tsx
  packages/features/users/components/UserTable/UserListTable.tsx
Labels: ui, core, consumer, ready-for-e2e

#20063 add utm params to insights
  packages/features/insights/components/RoutingFormResponsesTable.tsx
  packages/features/insights/hooks/useInsightsColumns.tsx
  packages/features/insights/server/routing-events.ts
  packages/prisma/migrations/20250313110448_update_routing_form_response/migration.sql
  packages/prisma/schema.prisma
Labels: ❗️ migrations, insights, core, consumer, ready-for-e2e

#20077 fix: client export warning
  apps/web/app/(use-page-wrapper)/enterprise/page.tsx
Labels: core, consumer, ready-for-e2e

#20073 fix: flaky test in ooo e2e
  apps/web/playwright/out-of-office.e2e.ts
Labels: core, ready-for-e2e

#20015 fix: synced no-show state after mutation
  apps/web/components/booking/BookingListItem.tsx
Labels: 🐛 bug, 🧹 Improvements, Low priority, bookings, ui, community, ready-for-e2e

#20055 fix: delegation credential not found
  apps/api/v2/src/modules/organizations/delegation-credentials/services/organizations-delegation-credential.service.ts
Labels: 🐛 bug, platform, organizations, core, ready-for-e2e

#20067 perf: fix paths in tailwind preset + ignore node modules in Platform tailwind config
  packages/config/tailwind-preset.js
  packages/platform/atoms/tailwind.config.cjs
Labels: platform, performance, core, consumer, ready-for-e2e

#20042 docs: v2 set cal-api-version header automatically
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/bookings.controller.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/controllers/event-types.controller.ts
  apps/api/v2/src/ee/schedules/schedules_2024_06_11/controllers/schedules.controller.ts
  apps/api/v2/src/modules/slots/slots-2024-09-04/controllers/slots.controller.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
Labels: docs, platform, core, ready-for-e2e

#20075 fix: Build completed with no type errors
  apps/web/lib/apps/installation/[[...step]]/getServerSideProps.ts
  packages/features/ee/workflows/lib/getWorkflowReminders.ts
  packages/lib/server/repository/selectedCalendar.ts
Labels: 🐛 bug, community, ready-for-e2e

#20085 fix: invitati instead of inviati
  apps/web/public/static/locales/it/common.json
Labels: i18n, community, ready-for-e2e, community-interns

#20081 chore: handle conferencing callback missing state error
  apps/api/v2/src/modules/conferencing/controllers/conferencing.controller.ts
Labels: 🐛 bug, platform, core, ready-for-e2e

#20054 feat: v2 bookings createdAt filter
  apps/api/v2/package.json
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/user-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/bookings.service.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/input.service.ts
  packages/platform/types/bookings/2024-08-13/inputs/get-bookings.input.ts
  packages/trpc/server/routers/viewer/bookings/get.handler.ts
  packages/trpc/server/routers/viewer/bookings/get.schema.ts
  yarn.lock
Labels: platform, bookings, core, ready-for-e2e
