Repository calcom/cal.com, pull requests merged in 2025-07, with the labels that each got.

#22167 fix: prevent location input from losing focus after each key stroke
  packages/features/eventtypes/components/Locations.tsx
Labels: 🐛 bug, ui, event-types, community, ready-for-e2e

#22132 fix: prevent info icon from repositioning when text wraps on small screens
  apps/web/modules/settings/my-account/profile-view.tsx
Labels: ui, community, ready-for-e2e

#22169 chore: add test for updateProfilePhotoGoogle
  packages/app-store/_utils/oauth/updateProfilePhotoGoogle.test.ts
  packages/app-store/_utils/oauth/updateProfilePhotoGoogle.ts
  packages/lib/isBase64Image.ts
  packages/trpc/server/routers/viewer/me/updateProfile.handler.ts
  packages/trpc/server/routers/viewer/organizations/update.handler.ts
  packages/trpc/server/routers/viewer/organizations/updateUser.handler.ts
  packages/trpc/server/routers/viewer/teams/create.handler.ts
  packages/trpc/server/routers/viewer/teams/update.handler.ts
Labels: core, 💻 refactor, foundation, ready-for-e2e

#22175 fix: Optional Question ' Leaves Variable Tag in Event Name
  packages/lib/event.ts
Labels: 🐛 bug, bookings, core, ready-for-e2e

#21670 fix: Unable to set custom class names under datePickerCustomClassNames in the Booker component
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/components/DatePicker.tsx
  packages/features/bookings/Booker/types.ts
Labels: 🐛 bug, platform, bookings, booking-page, community, ⚛️ atoms, ready-for-e2e

#22185 revert: Process Base64 Avatar Image
  packages/app-store/_utils/oauth/updateProfilePhotoGoogle.test.ts
  packages/app-store/_utils/oauth/updateProfilePhotoGoogle.ts
  packages/app-store/googlecalendar/api/callback.ts
  packages/lib/isBase64Image.ts
  packages/trpc/server/routers/viewer/me/updateProfile.handler.ts
  packages/trpc/server/routers/viewer/organizations/update.handler.ts
  packages/trpc/server/routers/viewer/organizations/updateUser.handler.ts
  packages/trpc/server/routers/viewer/teams/create.handler.ts
  packages/trpc/server/routers/viewer/teams/update.handler.ts
Labels: core, foundation, ready-for-e2e

#22183 feat: Use a separate project for Client Sentry
  .env.example
  apps/web/instrumentation-client.ts
  turbo.json
Labels: ✨ feature, ❗️ .env changes, core, foundation, ready-for-e2e

#22117 fix: dynamic links considers '' empty string / nothing as valid username
  packages/lib/defaultEvents.ts
Labels: 🐛 bug, bookings, Private, community, ready-for-e2e

#22216 chore: Ignore 'dba' for labeling
  .github/workflows/labeler.yml
Labels: ci, core, foundation, ready-for-e2e, dba

#22222 fix: resolve race condition in ready-for-e2e label checking
  .github/workflows/pr.yml
Labels: ci, core, foundation, ready-for-e2e

#22229 fix: use triggering user's email/name in draft-release workflow
  .github/workflows/draft-release.yml
Labels: ci, core, foundation, ready-for-e2e

#22210 fix: Don't default to ROUND_ROBIN as user bookings don't have it set
  packages/trpc/server/routers/viewer/bookings/get.handler.ts
Labels: 🐛 bug, enterprise, bookings, core, ready-for-e2e

#21982 fix: Avoid `prerender` duplicate calls for same calLink that could arise with faulty implementation
  packages/embeds/README.md
  packages/embeds/embed-core/src/constants.ts
  packages/embeds/embed-core/src/embed.test.ts
  packages/embeds/embed-core/src/embed.ts
  packages/embeds/embed-core/src/types.ts
  packages/embeds/embed-core/src/utils.ts
Labels: 🐛 bug, enterprise, embed, core, ready-for-e2e

#22093 perf: optimize filterRedundantDateRanges from O(n²) to O(n log n)
  packages/lib/getAggregatedAvailability/date-range-utils/filterRedundantDateRanges.test.ts
  packages/lib/getAggregatedAvailability/date-range-utils/filterRedundantDateRanges.ts
  packages/lib/intervalTree.ts
Labels: performance, core, foundation, ready-for-e2e, dba

#22204 chore: add sharp as depdency on apiv1
  apps/api/v1/next-env.d.ts
  apps/api/v1/next.config.js
  apps/api/v1/package.json
  packages/app-store/_utils/oauth/updateProfilePhotoGoogle.ts
  packages/app-store/googlecalendar/api/callback.ts
  packages/trpc/server/routers/viewer/me/updateProfile.handler.ts
  packages/trpc/server/routers/viewer/organizations/updateUser.handler.ts
  packages/trpc/server/routers/viewer/teams/create.handler.ts
  packages/trpc/server/routers/viewer/teams/update.handler.ts
  yarn.lock
Labels: ⬆️ dependencies, platform, core, foundation, ready-for-e2e, dba

#22236 chore: add user org id to user context apiv2 axiom
  apps/api/v2/src/lib/extract-user-context.ts
Labels: platform, api, core, foundation, ready-for-e2e

#22202 fix: add `formatPeriodFull` method for different date formatting in insights
  packages/features/insights/server/__tests__/events.test.ts
  packages/features/insights/server/events.ts
Labels: insights, core, consumer, ready-for-e2e

#22245 fix: atoms local
  packages/platform/atoms/.gitignore
  packages/platform/atoms/package.json
  packages/platform/atoms/scripts/dev-on.js
  packages/platform/atoms/vite.config.ts
  packages/platform/examples/base/README.md
  packages/platform/examples/base/atoms-dev-on.sh
  packages/platform/examples/base/package.json
Labels: platform, core, ready-for-e2e

#22251 fix: Don't continue retrying SMS reminders infinitely
  packages/features/ee/workflows/api/scheduleSMSReminders.ts
Labels: 🐛 bug, Urgent, workflows, core, foundation, ready-for-e2e

#22076 perf: optimize date range intersection algorithm from O(n²) to O(n log n)
  packages/lib/date-ranges.test.ts
  packages/lib/date-ranges.ts
Labels: High priority, core, foundation, ready-for-e2e

#22130 docs: improve English naturalness in API v2 documentation
  apps/api/v2/src/ee/calendars/controllers/calendars.controller.ts
  apps/api/v2/src/modules/conferencing/controllers/conferencing.controller.ts
  apps/api/v2/src/modules/organizations/attributes/options/organizations-attributes-options.controller.ts
  apps/api/v2/src/modules/organizations/bookings/organizations-bookings.controller.ts
  apps/api/v2/src/modules/organizations/conferencing/organizations-conferencing.controller.ts
  apps/api/v2/src/modules/organizations/delegation-credentials/organizations-delegation-credential.controller.ts
  apps/api/v2/src/modules/organizations/stripe/organizations-stripe.controller.ts
  apps/api/v2/src/modules/organizations/users/bookings/controllers/organizations-users-bookings-controller.ts
  apps/api/v2/src/modules/organizations/users/ooo/controllers/organizations-users-ooo-controller.ts
  apps/api/v2/src/modules/slots/slots-2024-09-04/controllers/slots.controller.ts
  apps/api/v2/src/modules/stripe/controllers/stripe.controller.ts
  apps/api/v2/src/modules/webhooks/controllers/webhooks.controller.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
  docs/developing/guides/api/how-to-setup-api-in-a-local-instance.mdx
  docs/platform/atoms/payment-form.mdx
  docs/platform/event-types-hooks.mdx
  docs/platform/faq.mdx
  docs/platform/guides/global-event-types.mdx
  docs/platform/guides/teams-setup.mdx
  docs/platform/quickstart.mdx
  docs/platform/setup.mdx
Labels: docs, core, foundation, ready-for-e2e, dba

#22036 refactor: create team service
  apps/web/app/(use-page-wrapper)/(main-nav)/teams/server-page.tsx
  packages/features/ee/workflows/lib/reminders/whatsappReminderManager.ts
  packages/lib/server/repository/TeamRepository.test.ts
  packages/lib/server/repository/team.ts
  packages/lib/server/repository/workflow.ts
  packages/lib/server/service/TeamService.alternative.test.ts
  packages/lib/server/service/TeamService.test.ts
  packages/lib/server/service/team.ts
  packages/trpc/server/routers/viewer/teams/delete.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMemberByToken.handler.ts
  packages/trpc/server/routers/viewer/teams/publish.handler.ts
  packages/trpc/server/routers/viewer/teams/removeMember.handler.ts
Labels: teams, enterprise, core, 💻 refactor, ready-for-e2e

#22258 refactor: filter out admins and owners from platform event types hosts
  apps/api/v2/src/modules/atoms/services/event-types-atom.service.ts
Labels: platform, core, 💻 refactor, ready-for-e2e

#22239 feat: Add routing-forms record response endpoint with available slots
  apps/api/v2/package.json
  apps/api/v2/src/ee/bookings/2024-08-13/services/input.service.ts
  apps/api/v2/src/modules/organizations/routing-forms/controllers/organizations-routing-forms-responses.controller.e2e-spec.ts
  apps/api/v2/src/modules/organizations/routing-forms/controllers/organizations-routing-forms-responses.controller.ts
  apps/api/v2/src/modules/organizations/routing-forms/inputs/create-routing-form-response.input.ts
  apps/api/v2/src/modules/organizations/routing-forms/organizations-routing-forms.module.ts
  apps/api/v2/src/modules/organizations/routing-forms/outputs/create-routing-form-response.output.ts
  apps/api/v2/src/modules/organizations/routing-forms/services/organizations-routing-forms-responses.service.ts
  apps/api/v2/src/modules/organizations/teams/routing-forms/organizations-teams-routing-forms.module.ts
  apps/api/v2/src/modules/router/controllers/router.controller.ts
  apps/api/v2/src/modules/routing-forms/services/routing-forms.service.ts
  apps/api/v2/src/modules/slots/slots-2024-09-04/services/slots-input.service.ts
  apps/api/v2/src/modules/slots/slots-2024-09-04/services/slots.service.ts
  apps/api/v2/swagger/documentation.json
  apps/api/v2/test/fixtures/repository/api-keys.repository.fixture.ts
  docs/api-reference/v2/openapi.json
  packages/app-store/routing-forms/lib/crmRouting/routerGetCrmContactOwnerEmail.ts
  packages/app-store/routing-forms/lib/handleResponse.test.ts
  packages/app-store/routing-forms/lib/handleResponse.ts
  packages/lib/server/getRoutedUrl.ts
  packages/platform/types/bookings/2024-08-13/inputs/create-booking.input.ts
  packages/platform/types/slots/slots-2024-09-04/inputs/get-slots.input.ts
  packages/trpc/server/routers/viewer/routing-forms/response.handler.ts
Labels: ✨ feature, enterprise, routing-forms, api, core, ready-for-e2e

#22266 fix: prevent footer from overlapping content in SearchDialog
  packages/app-store/giphy/components/SearchDialog.tsx
Labels: 🐛 bug, ui, event-types, community, ready-for-e2e

#22290 refactor: getAvailableSlots use repositories
  apps/api/v2/package.json
  packages/lib/server/repository/eventType.ts
  packages/lib/server/repository/ooo.ts
  packages/lib/server/repository/selectedSlots.ts
  packages/lib/server/repository/team.ts
  packages/lib/server/repository/user.ts
  packages/trpc/server/routers/viewer/slots/util.ts
  yarn.lock
Labels: platform, core, 💻 refactor, foundation, ready-for-e2e

#20764 fix: improve redirect parameter handling for success page
  packages/lib/bookingSuccessRedirect.test.ts
  packages/lib/bookingSuccessRedirect.ts
Labels: 🐛 bug, Medium priority, automated-tests, embed, community, ready-for-e2e

#22233 fix: Unable to cancel a team event if any event host is an attendee
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/features/bookings/lib/handleCancelBooking/test/handleCancelBooking.test.ts
Labels: 🐛 bug, teams, bookings, emails, core, ready-for-e2e

#21807 chore: added platform link to api key settings
  apps/web/public/static/locales/en/common.json
  packages/features/ee/api-keys/components/ApiKeyDialogForm.tsx
Labels: 🧹 Improvements, platform, api, core, ready-for-e2e

#22301 refactor: attendee scheduled email timezone
  packages/emails/templates/attendee-scheduled-email.ts
Labels: platform, emails, core, 💻 refactor, ready-for-e2e

#20567 feat: Add Bengali Language Support. This fixes #17717
  apps/api/v1/lib/validations/user.ts
  apps/api/v2/src/lib/enums/locales.ts
  apps/api/v2/src/modules/users/validators/localeValidator.ts
  apps/api/v2/swagger/documentation.json
  apps/web/public/static/locales/bn/common.json
  docs/api-reference/v2/openapi.json
  i18n.json
  packages/platform/types/bookings/2024-08-13/inputs/language.ts
Labels: Medium priority, Stale, i18n, community, ready-for-e2e

#22323 fix: Improve perceived loading speed with default loader(reverts to previous behaviour)
  packages/embeds/embed-core/src/EmbedElement.test.ts
  packages/embeds/embed-core/src/EmbedElement.ts
  packages/embeds/embed-core/src/__tests__/embed-iframe.test.ts
  packages/embeds/embed-core/src/embed-iframe/__tests__/isLinkReady.test.ts
  packages/embeds/embed-core/src/embed-iframe/__tests__/test-utils.ts
  packages/embeds/embed-core/src/embed-iframe/lib/utils.ts
Labels: 🐛 bug, enterprise, embed, performance, core, ready-for-e2e

#22334 revert: "refactor: GetAvailableSlotsService (#22321)"
  apps/api/v1/pages/api/slots/_get.ts
  apps/api/v2/package.json
  apps/api/v2/src/modules/slots/slots-2024-04-15/controllers/slots.controller.ts
  apps/api/v2/src/modules/slots/slots-2024-04-15/workers/slots.worker.ts
  apps/api/v2/src/modules/slots/slots-2024-09-04/services/slots.service.ts
  apps/web/pages/api/get-inbound-dynamic-variables.ts
  apps/web/test/lib/getSchedule.test.ts
  apps/web/test/lib/getSchedule/calendarEvents.test.ts
  apps/web/test/lib/getSchedule/delegation-credential.test.ts
  apps/web/test/lib/getSchedule/futureLimit.timezone.test.ts
  apps/web/test/lib/getSchedule/restrictionSchedule.test.ts
  apps/web/test/lib/getSchedule/selectedSlots.test.ts
  package.json
  packages/platform/libraries/slots.ts
  packages/trpc/server/routers/viewer/highPerf/getTeamSchedule.handler.ts
  packages/trpc/server/routers/viewer/slots/getSchedule.handler.ts
  packages/trpc/server/routers/viewer/slots/util.ts
  yarn.lock
Labels: platform, core, 💻 refactor, foundation, ready-for-e2e

#22282 fix: Hosts are able to cancel an event without providing any reason but with whitespace characters
  apps/web/components/booking/CancelBooking.tsx
  packages/features/bookings/lib/handleCancelBooking.ts
Labels: 🐛 bug, bookings, community, ready-for-e2e

#22232 fix: theme and password type in newUser seed data
  packages/prisma/seed.ts
Labels: 🐛 bug, Low priority, 💻 refactor, community, ready-for-e2e

#22001 fix: allow enter key to create new list items in editor
  packages/ui/components/editor/plugins/customEnterKeyPlugin.tsx
Labels: 🐛 bug, Low priority, event-types, community, ready-for-e2e

#22348 fix: manage Seo index for embed page
  apps/web/app/(booking-page-wrapper)/[user]/[type]/embed/page.tsx
  apps/web/app/(booking-page-wrapper)/[user]/embed/page.tsx
  apps/web/app/(booking-page-wrapper)/org/[orgSlug]/[user]/[type]/embed/page.tsx
  apps/web/app/(booking-page-wrapper)/org/[orgSlug]/[user]/embed/page.tsx
  apps/web/app/(booking-page-wrapper)/team/[slug]/[type]/embed/page.tsx
  apps/web/app/(booking-page-wrapper)/team/[slug]/embed/page.tsx
Labels: 🐛 bug, embed, core, ready-for-e2e

#22356 chore: DI repositories in AvailableSlotsService class
  apps/api/v1/pages/api/slots/_get.ts
  apps/api/v2/package.json
  apps/api/v2/src/lib/repositories/PrismaOOORepository.ts
  apps/api/v2/src/lib/repositories/PrismaScheduleRepository.ts
  apps/api/v2/src/lib/services/AvailableSlots.ts
  apps/api/v2/src/modules/slots/slots-2024-04-15/controllers/slots.controller.ts
  apps/api/v2/src/modules/slots/slots-2024-04-15/slots.module.ts
  apps/api/v2/src/modules/slots/slots-2024-04-15/workers/slots.worker.module.ts
  apps/api/v2/src/modules/slots/slots-2024-04-15/workers/slots.worker.ts
  apps/api/v2/src/modules/slots/slots-2024-09-04/services/slots.service.ts
  apps/api/v2/src/modules/slots/slots-2024-09-04/slots.module.ts
  apps/api/v2/tsconfig.json
  apps/web/pages/api/get-inbound-dynamic-variables.ts
  apps/web/test/lib/getSchedule.test.ts
  apps/web/test/lib/getSchedule/calendarEvents.test.ts
  apps/web/test/lib/getSchedule/delegation-credential.test.ts
  apps/web/test/lib/getSchedule/futureLimit.timezone.test.ts
  apps/web/test/lib/getSchedule/restrictionSchedule.test.ts
  apps/web/test/lib/getSchedule/selectedSlots.test.ts
  packages/lib/di/containers/available-slots.ts
  packages/lib/di/modules/available-slots.ts
  packages/lib/di/modules/ooo.ts
  packages/lib/di/modules/schedule.ts
  packages/lib/di/tokens.ts
  packages/platform/libraries/package.json
  packages/platform/libraries/repositories.ts
  packages/platform/libraries/vite.config.js
  packages/prisma/prisma.module.ts
  packages/trpc/server/routers/viewer/highPerf/getTeamSchedule.handler.ts
  packages/trpc/server/routers/viewer/slots/getSchedule.handler.ts
  packages/trpc/server/routers/viewer/slots/util.ts
  yarn.lock
Labels: platform, bookings, core, 💻 refactor, foundation, ready-for-e2e

#22341 fix: use domain errors instead of trpc
  packages/features/pbac/domain/errors/role-management.error.ts
  packages/features/pbac/services/__tests__/role-management.factory.test.ts
  packages/features/pbac/services/role-management.factory.ts
  packages/trpc/server/routers/viewer/organizations/updateUser.handler.ts
Labels: 🐛 bug, core, consumer, ready-for-e2e

#22318 fix: Move pbac to prisma from kysley
  packages/features/pbac/domain/mappers/RoleMapper.ts
  packages/features/pbac/domain/models/Role.ts
  packages/features/pbac/domain/repositories/IRoleRepository.ts
  packages/features/pbac/infrastructure/mappers/RoleOutputMapper.ts
  packages/features/pbac/infrastructure/repositories/PermissionRepository.ts
  packages/features/pbac/infrastructure/repositories/RoleRepository.ts
  packages/features/pbac/services/__tests__/permission-diff.service.test.ts
  packages/features/pbac/services/__tests__/role.service.test.ts
  packages/features/pbac/services/permission-diff.service.ts
  packages/features/pbac/services/role.service.ts
Labels: core, consumer, ready-for-e2e

#22082 fix: Always return `cancellationReason` and `cancelledByEmail` for cancelled bookings
  apps/api/v2/src/ee/bookings/2024-08-13/services/output.service.ts
Labels: 🐛 bug, Medium priority, platform, bookings, api, 💻 refactor, community, ready-for-e2e

#22400 Revert "feat: add race condition test for calendar-cache-serve booking flow"
  apps/web/playwright/booking-race-condition.e2e.ts
Labels: core, foundation

#22399 revert: "fix: Add new route to create team routing-form response (#22…
  apps/api/v2/src/modules/auth/guards/or-guard/index.ts
  apps/api/v2/src/modules/auth/guards/or-guard/or.guard.spec.ts
  apps/api/v2/src/modules/auth/guards/or-guard/or.guard.ts
  apps/api/v2/src/modules/auth/guards/organizations/is-user-routing-form.guard.ts
  apps/api/v2/src/modules/organizations/routing-forms/controllers/organizations-routing-forms-responses.controller.e2e-spec.ts
  apps/api/v2/src/modules/organizations/routing-forms/controllers/organizations-routing-forms-responses.controller.ts
  apps/api/v2/src/modules/organizations/routing-forms/organizations-routing-forms.module.ts
  apps/api/v2/src/modules/organizations/routing-forms/services/organizations-routing-forms-responses.service.ts
  apps/api/v2/src/modules/organizations/routing-forms/services/shared-routing-form-response.service.ts
  apps/api/v2/src/modules/organizations/teams/routing-forms/controllers/organizations-teams-routing-forms-responses.controller.e2e-spec.ts
  apps/api/v2/src/modules/organizations/teams/routing-forms/controllers/organizations-teams-routing-forms-responses.controller.ts
  apps/api/v2/src/modules/organizations/teams/routing-forms/organizations-teams-routing-forms.module.ts
  apps/api/v2/src/modules/organizations/teams/routing-forms/services/organizations-teams-routing-forms-responses.service.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
Labels: routing-forms, api, core, foundation, ready-for-e2e

#22375 feat: add method for getting teamId permissions PBAC
  packages/features/pbac/domain/repositories/IPermissionRepository.ts
  packages/features/pbac/infrastructure/repositories/PermissionRepository.ts
  packages/features/pbac/services/__tests__/permission-check.service.test.ts
  packages/features/pbac/services/permission-check.service.ts
Labels: ✨ feature, teams, core, consumer, ready-for-e2e

#22409 fix: members page crash with pbac feature flag
  packages/features/pbac/infrastructure/mappers/RoleOutputMapper.ts
Labels: 🐛 bug, core, consumer, ready-for-e2e

#22253 fix: validate Round Robin host availability in handleNewBooking
  apps/web/components/dialog/__tests__/RerouteDialog.test.tsx
  apps/web/public/static/locales/en/common.json
  packages/app-store/googlecalendar/lib/CalendarService.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/test/dynamic-group-booking.test.ts
  packages/features/bookings/lib/handleNewBooking/test/round-robin-no-hosts.test.ts
  packages/features/bookings/lib/handleNewBooking/test/team-bookings/collective-scheduling.test.ts
  packages/features/ee/round-robin/roundRobinReassignment.ts
  packages/lib/errorCodes.ts
  packages/lib/server/getServerErrorFromUnknown.test.ts
  packages/lib/server/getServerErrorFromUnknown.ts
Labels: 🐛 bug, High priority, teams, bookings, core, consumer, ready-for-e2e

#22289 feat: v2 bookings return rescheduledToUid
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/user-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/bookings.service.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/output.service.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
  packages/platform/types/bookings/2024-08-13/outputs/booking.output.ts
Labels: ✨ feature, platform, bookings, core, ready-for-e2e

#22395 perf: Tasker performance improvements
  packages/app-store/routing-forms/trpc/onFormSubmission.test.ts
  packages/app-store/routing-forms/trpc/utils.ts
  packages/features/ee/workflows/lib/test/workflows.test.ts
  packages/features/tasker/repository.ts
  packages/features/tasker/tasks/triggerFormSubmittedNoEvent/triggerFormSubmittedNoEventWebhook.ts
  packages/prisma/migrations/20250710172011_add_indexes_and_uniq_index_to_task_table/migration.sql
  packages/prisma/schema.prisma
Labels: ❗️ migrations, performance, core, foundation, ready-for-e2e

#18770 feat: Add cancelledBy input to cancellation page
  apps/web/components/booking/CancelBooking.tsx
  apps/web/modules/bookings/views/bookings-single-view.tsx
  packages/lib/server/locales/en/common.json
Labels: ✨ feature, Medium priority, bookings, i18n, community, ready-for-e2e

#22286 fix: get v2/calendars existing record conflict
  apps/api/v2/package.json
  apps/api/v2/src/ee/calendars/controllers/calendars.controller.e2e-spec.ts
  packages/lib/getConnectedDestinationCalendars.ts
  packages/lib/server/repository/destinationCalendar.ts
  yarn.lock
Labels: 🐛 bug, platform, core, calendar-apps, ready-for-e2e

#22448 fix: interpolate appName in invalid_credential message
  packages/ui/components/app-list-card/AppListCard.tsx
Labels: 🐛 bug, ui, Private, community, ready-for-e2e

#22474 Fix typo "{l" in event-type causing syntax error
  docs/platform/atoms/event-type.mdx
Labels: docs, community, ready-for-e2e

#22472 feat: remove Event Types from team settings navigation
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/SettingsLayoutAppDirClient.tsx
Labels: teams, core, consumer, ready-for-e2e

#21717 fix: added custom filter for time select
  packages/features/schedules/components/Schedule.tsx
Labels: ✨ feature, 🧹 Improvements, Low priority, Stale, community, ready-for-e2e

#22331 fix: CalDAV credential verification between multiple instances
  packages/lib/EventManager.test.ts
  packages/lib/EventManager.ts
  packages/lib/getCalendarsEvents.test.ts
  packages/lib/getCalendarsEvents.ts
Labels: 🐛 bug, caldav, core, foundation, ready-for-e2e

#22345 feat: convert InsightsBookingService to use Prisma.sql raw queries
  packages/lib/server/service/__tests__/insightsBooking.integration-test.ts
  packages/lib/server/service/insightsBooking.ts
Labels: ✨ feature, insights, core, consumer, ready-for-e2e

#22444 perf: remove one server fetch (me fetcher) in /teams
  apps/web/app/(use-page-wrapper)/(main-nav)/teams/server-page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/(org-admin-only)/layout.tsx
  apps/web/app/(use-page-wrapper)/settings/organizations/(org-admin-only)/layout.tsx
  packages/features/ee/teams/components/TeamList.tsx
  packages/features/ee/teams/components/TeamListItem.tsx
  packages/features/ee/teams/components/TeamsListing.tsx
Labels: teams, core, 💻 refactor, foundation, ready-for-e2e

#22172 perf: caching + modularize data fetching for team booking pages
  apps/web/app/(booking-page-wrapper)/team/[slug]/[type]/actions.ts
  apps/web/app/(booking-page-wrapper)/team/[slug]/[type]/page.tsx
  apps/web/app/(booking-page-wrapper)/team/[slug]/[type]/pageWithCachedData.tsx
  apps/web/app/(booking-page-wrapper)/team/[slug]/[type]/queries.ts
  apps/web/modules/team/type-view-cached.tsx
  packages/features/ee/organizations/pages/settings/other-team-profile-view.tsx
  packages/features/ee/teams/components/RoundRobinSettings.tsx
  packages/features/ee/teams/lib/getTeamData.ts
  packages/features/ee/teams/pages/team-appearance-view.tsx
  packages/features/ee/teams/pages/team-profile-view.tsx
  packages/features/ee/teams/pages/team-settings-view.tsx
  packages/features/eventtypes/lib/getPublicEvent.ts
  packages/features/eventtypes/lib/getTeamEventType.ts
  packages/features/flags/config.ts
  packages/features/flags/hooks/index.ts
  packages/lib/constants.ts
  packages/platform/atoms/booker/BookerWebWrapper.tsx
  packages/platform/atoms/booker/index.ts
  packages/platform/atoms/event-types/wrappers/EventTypeWebWrapper.tsx
Labels: teams, bookings, booking-page, performance, core, foundation, ready-for-e2e

#22463 fix: Show the Stripe payment error message and change the status to 400 for charge card issues
  apps/web/components/dialog/ChargeCardDialog.tsx
  apps/web/public/static/locales/en/common.json
  packages/app-store/stripepayment/lib/PaymentService.ts
  packages/lib/server/getServerErrorFromUnknown.test.ts
  packages/lib/server/getServerErrorFromUnknown.ts
  packages/trpc/server/routers/viewer/payments/chargeCard.handler.ts
Labels: 🐛 bug, billing, core, ready-for-e2e

#22325 revert: "refactor: filter out admins and owners from platform event types hosts"
  apps/api/v2/src/modules/atoms/services/event-types-atom.service.ts
Labels: platform, event-types, core, foundation, ready-for-e2e

#22106 feat: add drop off funnel chart for /insights/routing
  apps/web/app/(use-page-wrapper)/settings/(admin-layout)/admin/playground/layout.tsx
  apps/web/app/(use-page-wrapper)/settings/(admin-layout)/admin/playground/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(admin-layout)/admin/playground/routing-funnel/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/SettingsLayoutAppDirClient.tsx
  apps/web/modules/insights/insights-routing-view.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/data-table/lib/__tests__/server.test.ts
  packages/features/data-table/lib/server.ts
  packages/features/insights/components/ChartCard.tsx
  packages/features/insights/components/FailedBookingsByField.tsx
  packages/features/insights/components/RoutedToPerPeriod.tsx
  packages/features/insights/components/RoutingFunnel.tsx
  packages/features/insights/components/RoutingFunnelContent.tsx
  packages/features/insights/components/RoutingFunnelSkeleton.tsx
  packages/features/insights/components/index.ts
  packages/features/insights/hooks/useInsightsOrgTeams.ts
  packages/features/insights/hooks/useInsightsParameters.ts
  packages/features/insights/server/events.ts
  packages/features/insights/server/raw-data.schema.ts
  packages/features/insights/server/trpc-router.ts
  packages/features/package.json
  packages/lib/server/service/__tests__/insightsRouting.integration-test.ts
  packages/lib/server/service/insightsRouting.ts
  yarn.lock
Labels: ✨ feature, routing-forms, insights, core, consumer, ready-for-e2e

#22566 feat: migration for team booking page cache feature flag
  packages/prisma/migrations/20250716135157_team_booking_page_cache_feature_flag/migration.sql
Labels: ✨ feature, ❗️ migrations, core, foundation, ready-for-e2e

#22574 fix: 400 is correct error code for computing slot for past booking
  packages/trpc/server/routers/viewer/slots/util.test.ts
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: 🐛 bug, bookings, core, foundation, ready-for-e2e

#22407 fix: Add new route to create team routing-form response again(after revert earlier)
  apps/api/v2/src/modules/auth/guards/or-guard/index.ts
  apps/api/v2/src/modules/auth/guards/or-guard/or.guard.spec.ts
  apps/api/v2/src/modules/auth/guards/or-guard/or.guard.ts
  apps/api/v2/src/modules/auth/guards/organizations/is-user-routing-form.guard.ts
  apps/api/v2/src/modules/organizations/routing-forms/controllers/organizations-routing-forms-responses.controller.e2e-spec.ts
  apps/api/v2/src/modules/organizations/routing-forms/controllers/organizations-routing-forms-responses.controller.ts
  apps/api/v2/src/modules/organizations/routing-forms/organizations-routing-forms.module.ts
  apps/api/v2/src/modules/organizations/routing-forms/services/organizations-routing-forms-responses.service.ts
  apps/api/v2/src/modules/organizations/routing-forms/services/shared-routing-form-response.service.ts
  apps/api/v2/src/modules/organizations/teams/routing-forms/controllers/organizations-teams-routing-forms-responses.controller.e2e-spec.ts
  apps/api/v2/src/modules/organizations/teams/routing-forms/controllers/organizations-teams-routing-forms-responses.controller.ts
  apps/api/v2/src/modules/organizations/teams/routing-forms/organizations-teams-routing-forms.module.ts
  apps/api/v2/src/modules/organizations/teams/routing-forms/services/organizations-teams-routing-forms-responses.service.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
Labels: High priority, enterprise, routing-forms, api, core, ready-for-e2e

#22568 fix: Use `WEBAPP_URL` for org members new tab
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/SettingsLayoutAppDirClient.tsx
Labels: 🐛 bug, enterprise, core, ready-for-e2e

#22557 fix: update styles of charts on /insights
  apps/web/modules/insights/insights-view.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/insights/components/AverageEventDurationChart.tsx
  packages/features/insights/components/BookingKPICards.tsx
  packages/features/insights/components/BookingStatusLineChart.tsx
  packages/features/insights/components/ChartCard.tsx
  packages/features/insights/components/FeedbackTable.tsx
  packages/features/insights/components/HighestNoShowHostTable.tsx
  packages/features/insights/components/HighestRatedMembersTable.tsx
  packages/features/insights/components/KPICard.tsx
  packages/features/insights/components/LeastBookedTeamMembersTable.tsx
  packages/features/insights/components/LowestRatedMembersTable.tsx
  packages/features/insights/components/MostBookedTeamMembersTable.tsx
  packages/features/insights/components/MostCancelledBookingsTables.tsx
  packages/features/insights/components/PopularEventsTable.tsx
  packages/features/insights/components/RecentFeedbackTable.tsx
  packages/features/insights/components/TotalBookingUsersTable.tsx
  packages/features/insights/components/TotalUserFeedbackTable.tsx
Labels: 🧹 Improvements, insights, core, consumer, ready-for-e2e

#22274 fix: add missing ref parameter to SatSymbol forwardRef component
  packages/ui/components/icon/SatSymbol.tsx
Labels: 🐛 bug, core, consumer, ready-for-e2e

#22590 perf: Faster logic by preventing instanceof Dayjs in slots.ts
  packages/lib/slots.ts
Labels: performance, core, foundation, ready-for-e2e

#22585 feat: team roles ui pbac
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/SettingsLayoutAppDirClient.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/roles/_components/DeleteRoleModal.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/roles/_components/RoleSheet.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/roles/_components/RolesList.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/roles/actions.ts
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/teams/[id]/roles/page.tsx
  packages/features/pbac/domain/types/permission-registry.ts
  packages/features/pbac/infrastructure/repositories/RoleRepository.ts
Labels: ✨ feature, teams, ui, core, consumer, ready-for-e2e

#22264 fix: Code Quality improvements to response record endpoint and added unit tests
  apps/api/v2/src/modules/organizations/routing-forms/outputs/create-routing-form-response.output.ts
  apps/api/v2/src/modules/organizations/routing-forms/services/shared-routing-form-response.service.ts
  apps/api/v2/src/modules/slots/slots-2024-09-04/services/slots-input.service.ts
  apps/api/v2/src/modules/slots/slots-2024-09-04/services/slots.service.spec.ts
  apps/api/v2/src/modules/slots/slots-2024-09-04/services/slots.service.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
  packages/platform/types/slots/slots-2024-09-04/inputs/get-slots-input.pipe.ts
  packages/platform/types/slots/slots-2024-09-04/inputs/get-slots.input.ts
Labels: 🐛 bug, 🧹 Improvements, enterprise, automated-tests, core, ready-for-e2e

#22623 fix: Editing RR weights adds all hosts
  packages/features/eventtypes/components/EditWeightsForAllTeamMembers.tsx
Labels: 🐛 bug, ✅ good first issue, ⚡ Quick Wins, teams, community, consumer, ready-for-e2e

#22575 fix: API handler response termination logic
  apps/web/pages/api/integrations/[...args].ts
Labels: 🐛 bug, api, core, foundation, ready-for-e2e

#22588 fix: v2 ignore permissions check for 3rd party oauth
  apps/api/v2/src/modules/auth/guards/permissions/permissions.guard.spec.ts
  apps/api/v2/src/modules/auth/guards/permissions/permissions.guard.ts
  apps/api/v2/src/modules/auth/strategies/api-auth/api-auth.strategy.e2e-spec.ts
  apps/api/v2/src/modules/auth/strategies/api-auth/api-auth.strategy.ts
  apps/api/v2/src/modules/cal-unified-calendars/cal-unified-calendars.module.ts
  apps/api/v2/src/modules/tokens/tokens.module.ts
  apps/api/v2/src/modules/tokens/tokens.service.ts
Labels: platform, api, authentication, core, ready-for-e2e

#22627 fix: update enterprise sales URL from i.cal.com to go.cal.com
  apps/web/components/EnterprisePage.tsx
  apps/web/components/settings/platform/pricing/platform-pricing/index.tsx
  docs/developing/guides/appstore-and-integration/how-to-show-assigned-people-from-a-crm.mdx
  packages/features/ee/teams/components/TeamList.tsx
Labels: enterprise, platform, core, ready-for-e2e

#22625 perf: Prevent parse when object is empty, resulting in a truthy value
  packages/lib/getUserAvailability.ts
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: performance, core, foundation, ready-for-e2e

#22410 chore(eslint): add no-this-in-static-method rule to prevent context loss
  packages/eslint-plugin/src/configs/recommended.ts
  packages/eslint-plugin/src/rules/index.ts
  packages/eslint-plugin/src/rules/no-this-in-static-method.ts
Labels: 🧹 Improvements, core, consumer, ready-for-e2e

#22567 feat: add test to verify unpublished platform orgs are excluded from credit usage
  packages/features/ee/billing/credit-service.test.ts
Labels: ✨ feature, platform, automated-tests, core, ready-for-e2e

#22619 feat: add hourly booking charts on /insights
  apps/web/app/(use-page-wrapper)/settings/(admin-layout)/admin/playground/bookings-by-hour/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(admin-layout)/admin/playground/page.tsx
  apps/web/modules/insights/insights-view.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/insights/components/BookingsByHourChart.tsx
  packages/features/insights/components/ChartCard.tsx
  packages/features/insights/components/LoadingInsights.tsx
  packages/features/insights/components/TotalBookingUsersTable.tsx
  packages/features/insights/components/index.ts
  packages/features/insights/server/raw-data.schema.ts
  packages/features/insights/server/trpc-router.ts
  packages/lib/server/service/__tests__/insightsRouting.integration-test.ts
  packages/lib/server/service/insightsBooking.ts
  packages/lib/server/service/insightsRouting.ts
Labels: ✨ feature, insights, core, consumer, ready-for-e2e

#22659 fix: issues found in PBAC creation
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/SettingsLayoutAppDirClient.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/layout.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/roles/_components/AdvancedPermissionGroup.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/roles/_components/usePermissions.ts
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/roles/actions.ts
Labels: 🐛 bug, organizations, core, consumer, ready-for-e2e

#22670 refactor: rename eventType files to eventTypeRepository and eventTypeService
  apps/web/lib/video/[uid]/getServerSideProps.ts
  packages/app-store/routing-forms/lib/crmRouting/routerGetCrmContactOwnerEmail.ts
  packages/app-store/salesforce/lib/routingFormBookingFormHandler.ts
  packages/features/credentials/deleteCredential.test.ts
  packages/lib/di/modules/eventType.ts
  packages/lib/event-types/getEventTypeById.ts
  packages/lib/event-types/getEventTypesByViewer.ts
  packages/lib/getConnectedDestinationCalendars.ts
  packages/lib/getUserAvailability.ts
  packages/lib/server/repository/eventTypeRepository.ts
  packages/lib/server/service/eventTypeService.ts
  packages/platform/libraries/repositories.ts
  packages/trpc/server/routers/viewer/eventTypes/create.handler.ts
  packages/trpc/server/routers/viewer/eventTypes/duplicate.handler.ts
  packages/trpc/server/routers/viewer/eventTypes/getEventTypesFromGroup.handler.ts
  packages/trpc/server/routers/viewer/eventTypes/getTeamAndEventTypeOptions.handler.ts
  packages/trpc/server/routers/viewer/eventTypes/util.ts
  packages/trpc/server/routers/viewer/routing-forms/findTeamMembersMatchingAttributeLogicOfRoute.handler.ts
  packages/trpc/server/routers/viewer/slots/isAvailable.handler.ts
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: core, 💻 refactor, consumer, ready-for-e2e

#22672 fix: (pbac) edit sheet readonly to all to readonly
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/roles/_components/__tests__/usePermissions.test.ts
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/roles/_components/usePermissions.ts
  packages/features/pbac/infrastructure/repositories/RoleRepository.ts
  packages/features/pbac/services/__tests__/role.service.test.ts
Labels: 🐛 bug, teams, core, consumer, ready-for-e2e

#22540 refactor: Booking list items actions UI
  apps/web/components/booking/BookingListItem.tsx
  apps/web/components/booking/bookingActions.test.ts
  apps/web/components/booking/bookingActions.ts
  apps/web/playwright/booking-pages.e2e.ts
  apps/web/playwright/bookings-list.e2e.ts
  apps/web/playwright/dynamic-booking-pages.e2e.ts
  apps/web/playwright/reschedule.e2e.ts
  apps/web/public/static/locales/en/common.json
Labels: enterprise, bookings, ui, core, 💻 refactor, ready-for-e2e

#22684 fix: team settings label ui
  packages/features/ee/teams/components/DisableTeamImpersonation.tsx
  packages/features/ee/teams/components/MakeTeamPrivateSwitch.tsx
Labels: 🧹 Improvements, teams, community, ready-for-e2e, community-interns

#22694 fix: Fixed the webhook select indicators which is misaligned when the height increases.
  packages/features/webhooks/components/WebhookForm.tsx
Labels: 🐛 bug, webhooks, ui, community, ready-for-e2e

#22163 perf: Add an explicit DTO + other type improvements to membership repo
  packages/lib/server/repository/membership.ts
Labels: core, foundation, ready-for-e2e, dba

#22441 fix: unskip and fix API v1 unit tests, add comprehensive bookings test coverage
  apps/api/v1/lib/helpers/verifyApiKey.test.ts
  apps/api/v1/pages/api/bookings/[id]/_get.ts
  apps/api/v1/pages/api/bookings/_post.ts
  apps/api/v1/test/lib/bookings/[id]/_delete.test.ts
  apps/api/v1/test/lib/bookings/[id]/_patch.test.ts
  apps/api/v1/test/lib/bookings/_get.test.ts
  apps/api/v1/test/lib/bookings/_post.test.ts
  packages/features/bookings/lib/handleNewBooking/getEventTypesFromDB.ts
  packages/lib/errorCodes.ts
  packages/lib/server/getServerErrorFromUnknown.ts
  tests/libs/__mocks__/prismaMock.ts
Labels: 🐛 bug, bookings, automated-tests, api, core, foundation, ready-for-e2e, self-hosted

#20712 perf: server-fetch data for all pages in /settings/my-account
  apps/web/app/(use-page-wrapper)/apps/installed/[category]/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/my-account/appearance/actions.ts
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/my-account/appearance/loading.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/my-account/appearance/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/my-account/calendars/loading.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/my-account/calendars/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/my-account/conferencing/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/my-account/general/actions.ts
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/my-account/general/loading.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/my-account/general/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/my-account/out-of-office/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/my-account/profile/loading.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/my-account/profile/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/my-account/push-notifications/page.tsx
  apps/web/app/cache/membership.ts
  apps/web/app/cache/path/settings/my-account/index.ts
  apps/web/app/cache/travelSchedule.ts
  apps/web/components/apps/CalendarListContainer.tsx
  apps/web/modules/apps/installed/[category]/installed-category-view.tsx
  apps/web/modules/settings/my-account/appearance-skeleton.tsx
  apps/web/modules/settings/my-account/appearance-view.tsx
  apps/web/modules/settings/my-account/general-skeleton.tsx
  apps/web/modules/settings/my-account/general-view.tsx
  apps/web/modules/settings/my-account/profile-skeleton.tsx
  apps/web/modules/settings/my-account/profile-view.tsx
  apps/web/modules/settings/my-account/push-notifications-view.tsx
  packages/features/settings/outOfOffice/OutOfOfficeEntriesList.tsx
  packages/lib/server/repository/membership.ts
  packages/lib/unstable_cache/index.ts
  packages/lib/unstable_cache/unstable_cache.ts
  packages/platform/atoms/connect/conferencing-apps/ConferencingAppsViewWebWrapper.tsx
  packages/trpc/server/routers/viewer/teams/hasTeamPlan.handler.ts
Labels: performance, core, foundation, ready-for-e2e

#22305 refactor: A improvement fix related to optional phone validation
  packages/features/bookings/lib/getBookingResponsesSchema.ts
Labels: 🐛 bug, 🧹 Improvements, Medium priority, bookings, booking-page, community, ready-for-e2e, Public

#22704 feat: (PBAC) Add db seed
  packages/prisma/cleanup-pbac.ts
  packages/prisma/package.json
  packages/prisma/seed-pbac-only.ts
  packages/prisma/seed-pbac-organization.ts
  packages/prisma/seed.ts
Labels: ✨ feature, core, consumer, ready-for-e2e

#22728 fix: a.trim is not a function type error
  apps/web/components/booking/BookingListItem.tsx
Labels: 🐛 bug, core, ready-for-e2e

#22698 fix: use InsightsBookingService for Download button on /insights
  packages/features/insights/filters/Download/Download.tsx
  packages/features/insights/server/events.ts
  packages/features/insights/server/trpc-router.ts
  packages/lib/server/service/insightsBooking.ts
Labels: 🐛 bug, insights, core, consumer, ready-for-e2e

#22734 docs: Update contributors-guide
  .cursor/rules/review.mdc
  CONTRIBUTING.md
  docs/developing/open-source-contribution/contributors-guide.mdx
Labels: docs, enterprise, core, ready-for-e2e

#22739 fix: use email instead of id for customer id
  apps/web/lib/plain/plain.ts
Labels: 🐛 bug, core, ready-for-e2e

#22742 chore: small UI changes to plain chat box
  apps/web/lib/plain/PlainContactForm.tsx
Labels: platform, ui, core, ready-for-e2e

#22741 refactor: event trends chart on /insights to use InsightsBookingService
  apps/web/modules/insights/insights-view.tsx
  packages/features/insights/components/EventTrendsChart.tsx
  packages/features/insights/components/index.ts
  packages/features/insights/server/events.ts
  packages/features/insights/server/trpc-router.ts
  packages/lib/server/service/insightsBooking.ts
Labels: insights, core, 💻 refactor, consumer, ready-for-e2e

#22723 chore: add auto recording
  apps/api/v2/package.json
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/controllers/event-types.controller.e2e-spec.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
  packages/platform/types/event-types/event-types_2024_06_14/inputs/create-event-type.input.ts
  packages/prisma/zod/custom/eventtype.ts
  packages/trpc/server/routers/viewer/eventTypes/create.handler.ts
  yarn.lock
Labels: enterprise, api, core, 🚨 urgent, ready-for-e2e

#22705 refactor: rename SelectedSlotsRepository to PrismaSelectedSlotRepository
  apps/api/v2/package.json
  apps/api/v2/src/lib/modules/available-slots.module.ts
  apps/api/v2/src/lib/repositories/prisma-selected-slot.repository.ts
  apps/api/v2/src/lib/services/available-slots.service.ts
  apps/api/v2/src/modules/slots/slots-2024-04-15/controllers/slots.controller.e2e-spec.ts
  apps/api/v2/src/modules/slots/slots-2024-09-04/controllers/e2e/team-event-type-slots.controller.e2e-spec.ts
  apps/api/v2/src/modules/slots/slots-2024-09-04/controllers/e2e/user-event-type-slots.controller.e2e-spec.ts
  apps/api/v2/test/fixtures/repository/selected-slot.repository.fixture.ts
  packages/lib/di/containers/available-slots.ts
  packages/lib/di/modules/available-slots.ts
  packages/lib/di/modules/selectedSlots.ts
  packages/lib/di/tokens.ts
  packages/lib/server/repository/ISelectedSlotRepository.ts
  packages/lib/server/repository/PrismaSelectedSlotRepository.ts
  packages/lib/server/repository/dto/SelectedSlot.ts
  packages/lib/server/repository/dto/hashedLinkSelect.ts
  packages/lib/server/repository/dto/selectedSlotDeleteManyExpiredSlotsInput.ts
  packages/lib/server/repository/dto/selectedSlotFindManyReservedByOthersInput.ts
  packages/lib/server/repository/dto/selectedSlotFindManyUnexpiredSlotsInput.ts
  packages/lib/server/repository/dto/selectedSlotFindReservedByOthersInput.ts
  packages/platform/libraries/repositories.ts
  packages/trpc/server/routers/viewer/slots/isAvailable.handler.ts
  packages/trpc/server/routers/viewer/slots/reserveSlot.handler.test.ts
  packages/trpc/server/routers/viewer/slots/reserveSlot.handler.ts
  packages/trpc/server/routers/viewer/slots/util.ts
  yarn.lock
Labels: core, 💻 refactor, foundation, ready-for-e2e

#22749 docs: fix path to coding style guide
  docs/developing/open-source-contribution/pull-requests.mdx
Labels: 🐛 bug, docs, community, ready-for-e2e

#22733 fix: (PBAC) Add organization fallback on resources
  packages/features/pbac/domain/repositories/IPermissionRepository.ts
  packages/features/pbac/infrastructure/repositories/PermissionRepository.ts
  packages/features/pbac/services/__tests__/permission-check.service.test.ts
  packages/features/pbac/services/permission-check.service.ts
Labels: 🐛 bug, core, consumer, ready-for-e2e

#22721 fix: buy credit option is not visible on personal account
  apps/web/modules/settings/billing/components/BillingCredits.tsx
  apps/web/playwright/buy-credits.e2e.ts
  packages/lib/constants.ts
  packages/trpc/server/routers/viewer/credits/buyCredits.handler.ts
  packages/trpc/server/routers/viewer/credits/getAllCredits.handler.ts
Labels: 🐛 bug, core, ready-for-e2e

#22677 refactor: use dependency injection for InsightsRoutingService
  packages/features/insights/hooks/useInsightsOrgTeams.ts
  packages/features/insights/server/trpc-router.ts
  packages/lib/di/containers/insights-routing.ts
  packages/lib/di/modules/insights-routing.ts
  packages/lib/di/tokens.ts
  packages/lib/server/service/__tests__/insightsRouting.integration-test.ts
  packages/lib/server/service/insightsRoutingBase.ts
  packages/lib/server/service/insightsRoutingDI.ts
Labels: routing-forms, insights, core, 💻 refactor, consumer, ready-for-e2e

#22775 fix: CSV generation from insights returns empty results
  packages/lib/server/service/insightsBooking.ts
  packages/lib/server/service/insightsRoutingBase.ts
Labels: 🐛 bug, insights, core, ready-for-e2e

#22773 fix: changesets atoms release env variables
  .github/workflows/changesets.yml
Labels: platform, ❗️ .env changes, core, ready-for-e2e

#22744 refactor: update charts on /insights to use InsightsBookingService
  apps/web/app/(use-page-wrapper)/settings/(admin-layout)/admin/playground/bookings-by-hour/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(admin-layout)/admin/playground/routing-funnel/page.tsx
  apps/web/modules/insights/insights-routing-view.tsx
  apps/web/modules/insights/insights-view.tsx
  packages/features/insights/HOW_TO_ADD_BOOKING_CHARTS.md
  packages/features/insights/components/BookingAtCell.tsx
  packages/features/insights/components/ChartCard.tsx
  packages/features/insights/components/EventTrendsChart.tsx
  packages/features/insights/components/FeedbackTable.tsx
  packages/features/insights/components/HighestNoShowHostTable.tsx
  packages/features/insights/components/KPICard.tsx
  packages/features/insights/components/MostCancelledBookingsTables.tsx
  packages/features/insights/components/RecentFeedbackTable.tsx
  packages/features/insights/components/TotalBookingUsersTable.tsx
  packages/features/insights/components/UserStatsTable.tsx
  packages/features/insights/components/booking/AverageEventDurationChart.tsx
  packages/features/insights/components/booking/BookingKPICards.tsx
  packages/features/insights/components/booking/BookingsByHourChart.tsx
  packages/features/insights/components/booking/EventTrendsChart.tsx
  packages/features/insights/components/booking/HighestNoShowHostTable.tsx
  packages/features/insights/components/booking/HighestRatedMembersTable.tsx
  packages/features/insights/components/booking/LeastBookedTeamMembersTable.tsx
  packages/features/insights/components/booking/LowestRatedMembersTable.tsx
  packages/features/insights/components/booking/MostBookedTeamMembersTable.tsx
  packages/features/insights/components/booking/MostCancelledBookingsTables.tsx
  packages/features/insights/components/booking/PopularEventsTable.tsx
  packages/features/insights/components/booking/RecentFeedbackTable.tsx
  packages/features/insights/components/booking/TimezoneBadge.tsx
  packages/features/insights/components/booking/index.ts
  packages/features/insights/components/index.ts
  packages/features/insights/components/routing/FailedBookingsByField.tsx
  packages/features/insights/components/routing/RoutedToPerPeriod.tsx
  packages/features/insights/components/routing/RoutingFormResponsesTable.tsx
  packages/features/insights/components/routing/RoutingFunnel.tsx
  packages/features/insights/components/routing/RoutingFunnelContent.tsx
  packages/features/insights/components/routing/RoutingFunnelSkeleton.tsx
  packages/features/insights/components/routing/RoutingKPICards.tsx
  packages/features/insights/components/routing/index.ts
  packages/features/insights/components/tremor/BarList.tsx
  packages/features/insights/filters/Download/Download.tsx
  packages/features/insights/hooks/useInsightsBookingParameters.ts
  packages/features/insights/hooks/useInsightsBookings.ts
  packages/features/insights/server/__tests__/events.test.ts
  packages/features/insights/server/events.ts
  packages/features/insights/server/insightsDateUtils.ts
  packages/features/insights/server/trpc-router.ts
  packages/lib/server/service/insightsBooking.ts
  packages/lib/server/service/insightsRoutingBase.ts
Labels: insights, core, 💻 refactor, consumer, ready-for-e2e

#21197 feat: BTCPay Server App
  apps/web/pages/api/integrations/btcpayserver/webhook.ts
  packages/app-store/_pages/setup/_getServerSideProps.tsx
  packages/app-store/_pages/setup/index.tsx
  packages/app-store/apps.browser.generated.tsx
  packages/app-store/apps.keys-schemas.generated.ts
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.schemas.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/btcpayserver/DESCRIPTION.md
  packages/app-store/btcpayserver/api/add.ts
  packages/app-store/btcpayserver/api/index.ts
  packages/app-store/btcpayserver/api/webhook.ts
  packages/app-store/btcpayserver/components/BtcpayPaymentComponent.tsx
  packages/app-store/btcpayserver/components/EventTypeAppCardInterface.tsx
  packages/app-store/btcpayserver/components/EventTypeAppSettingsInterface.tsx
  packages/app-store/btcpayserver/components/KeyInput.tsx
  packages/app-store/btcpayserver/config.json
  packages/app-store/btcpayserver/index.ts
  packages/app-store/btcpayserver/lib/PaymentService.ts
  packages/app-store/btcpayserver/lib/btcpayCredentialKeysSchema.ts
  packages/app-store/btcpayserver/lib/currencyOptions.ts
  packages/app-store/btcpayserver/lib/index.ts
  packages/app-store/btcpayserver/package.json
  packages/app-store/btcpayserver/pages/setup/_getServerSideProps.tsx
  packages/app-store/btcpayserver/pages/setup/index.tsx
  packages/app-store/btcpayserver/static/checkout.png
  packages/app-store/btcpayserver/static/icon.svg
  packages/app-store/btcpayserver/static/integrations.png
  packages/app-store/btcpayserver/static/website.png
  packages/app-store/btcpayserver/zod.ts
  packages/app-store/index.ts
  packages/features/ee/payments/components/PaymentPage.tsx
  packages/lib/server/repository/BookingPaymentRepository.interface.ts
  packages/lib/server/repository/PrismaBookingPaymentRepository.ts
  packages/types/Json.d.ts
  yarn.lock
Labels: ✨ feature, app-store, payments, community, ready-for-e2e

#22782 chore: Log availability snapshot when booking is created
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/ensureAvailableUsers.ts
  packages/features/bookings/lib/handleNewBooking/types.ts
  packages/lib/getUserAvailability.ts
Labels: enterprise, bookings, core, ready-for-e2e

#22533 feat: add race condition test with dynamic date selection
  apps/web/playwright/booking-race-condition.e2e.ts
Labels: automated-tests, core, ready-for-e2e

#22800 fix: alignment of time unit select box content
  packages/features/eventtypes/components/tabs/advanced/RequiresConfirmationController.tsx
Labels: 🐛 bug, 🧹 Improvements, event-types, community, ready-for-e2e

#22760 fix: center-align timezone and edit availability button on mobile layout
  packages/features/eventtypes/components/tabs/availability/EventAvailabilityTab.tsx
Labels: 🐛 bug, ui, community, ready-for-e2e

#22693 refactor: rename app.ts to appRepository.ts for better naming consistency
  packages/features/credentials/deleteCredential.test.ts
  packages/lib/server/repository/PrismaAppRepository.ts
Labels: core, 💻 refactor, consumer, ready-for-e2e

#22716 feat: rename repository files to include Repository suffix
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/developer/api-keys/page.tsx
  packages/app-store/salesforce/lib/CrmService.ts
  packages/lib/server/repository/PrismaApiKeyRepository.ts
  packages/lib/server/repository/PrismaAssignmentReasonRepository.ts
  packages/trpc/server/routers/viewer/apiKeys/list.handler.ts
Labels: core, consumer, ready-for-e2e

#22815 fix: redir parameter for connect atoms
  .changeset/short-foxes-crash.md
  packages/platform/atoms/hooks/connect/useConnect.ts
Labels: 🐛 bug, platform, core, ready-for-e2e

#22819 fix: flaky e2e
  apps/web/playwright/booking-race-condition.e2e.ts
Labels: automated-tests, core, ready-for-e2e

#22770 feat: Improving Booking Visibility at Month-End
  packages/features/bookings/Booker/components/DatePicker.tsx
  packages/features/bookings/Booker/components/Header.tsx
  packages/features/bookings/Booker/store.ts
  packages/features/calendars/DatePicker.tsx
  packages/features/calendars/__tests__/DatePicker.test.tsx
  packages/features/embed/Embed.tsx
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
  packages/platform/atoms/booker/BookerWebWrapper.tsx
Labels: ✨ feature, 🧹 Improvements, High priority, enterprise, bookings, core, consumer, ready-for-e2e

#22711 fix: Errors in org onboarding in some edge cases
  apps/web/modules/settings/organizations/new/_components/AddNewTeamsForm.tsx
  packages/features/ee/organizations/lib/server/createOrganizationFromOnboarding.test.ts
  packages/features/ee/organizations/lib/server/createOrganizationFromOnboarding.ts
  packages/trpc/server/routers/viewer/organizations/__tests__/createTeams.handler.test.ts
  packages/trpc/server/routers/viewer/organizations/createTeams.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMember.handler.test.ts
Labels: teams, enterprise, organizations, core, ready-for-e2e

#22467 feat: enable PBAC checking on organization settings page
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/(org-admin-only)/attributes/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/(org-admin-only)/dsync/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/(org-admin-only)/privacy/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/(org-admin-only)/sso/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/general/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/profile/page.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/ee/dsync/page/team-dsync-view.tsx
  packages/features/ee/organizations/pages/components/DisablePhoneOnlySMSNotificationsSwitch.tsx
  packages/features/ee/organizations/pages/components/LockEventTypeSwitch.tsx
  packages/features/ee/organizations/pages/components/NoSlotsNotificationSwitch.tsx
  packages/features/ee/organizations/pages/settings/attributes/attributes-list-view.tsx
  packages/features/ee/organizations/pages/settings/general.tsx
  packages/features/ee/organizations/pages/settings/privacy.tsx
  packages/features/ee/organizations/pages/settings/profile.tsx
  packages/features/ee/sso/page/orgs-sso-view.tsx
  packages/features/pbac/domain/mappers/PermissionMapper.ts
  packages/features/pbac/domain/types/permission-registry.ts
  packages/features/pbac/lib/__tests__/resource-permissions.test.ts
  packages/features/pbac/lib/resource-permissions.ts
  packages/prisma/migrations/20250714075355_add_attributes_pbac_permissions/migration.sql
  packages/trpc/server/routers/viewer/attributes/create.handler.ts
  packages/trpc/server/routers/viewer/attributes/delete.handler.ts
  packages/trpc/server/routers/viewer/attributes/edit.handler.ts
  packages/trpc/server/routers/viewer/attributes/toggleActive.handler.ts
  packages/trpc/server/routers/viewer/organizations/update.handler.ts
Labels: ✨ feature, ❗️ migrations, enterprise, organizations, core, consumer, ready-for-e2e

#22836 fix: add new end of month UI to mobile
  packages/features/bookings/Booker/components/DatePicker.tsx
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
  packages/platform/atoms/booker/BookerWebWrapper.tsx
Labels: 🧹 Improvements, core, consumer, ready-for-e2e

#22820 test: add comprehensive unit tests for handleInstantMeeting
  packages/features/instant-meeting/handleInstantMeeting.test.ts
Labels: 🐛 bug, automated-tests, core, ready-for-e2e
