Repository calcom/cal.com, pull requests merged in 2025-08, with the labels that each got.

#22713 fix: Missing bookingId in BOOKING_CANCELLED webhook payload
  packages/lib/server/service/BookingWebhookFactory.ts
  packages/lib/server/service/__tests__/BookingWebhookFactory.test.ts
  packages/trpc/server/routers/viewer/bookings/requestReschedule.handler.ts
  packages/types/JsonObject.d.ts
Labels: 🐛 bug, enterprise, webhooks, core, ready-for-e2e

#22861 chore: upgrade TypeScript to v5.9
  apps/api/v1/package.json
  apps/api/v2/package.json
  apps/ui-playground/package.json
  apps/web/app/api/logo/route.ts
  apps/web/package.json
  package.json
  packages/app-store-cli/package.json
  packages/config/package.json
  packages/embeds/embed-core/package.json
  packages/embeds/embed-react/package.json
  packages/embeds/embed-snippet/package.json
  packages/eslint-plugin/package.json
  packages/lib/package.json
  packages/platform/atoms/package.json
  packages/platform/examples/base/package.json
  packages/platform/libraries/package.json
  packages/trpc/package.json
  packages/ui/package.json
  yarn.lock
Labels: core, consumer, ready-for-e2e

#22837 fix: minor UI improvements for end of month design
  packages/features/calendars/DatePicker.tsx
Labels: 🧹 Improvements, Medium priority, core, consumer, ready-for-e2e

#22882 fix: enable auto recording for organizer is not working for cal ivdeo
  apps/web/lib/video/[uid]/getServerSideProps.ts
Labels: 🐛 bug, core, ready-for-e2e

#22792 refactor: add useInsightsRoutingParameters() for InsightsRoutingService
  packages/features/insights/components/routing/RoutingFunnel.tsx
  packages/features/insights/hooks/useInsightsRoutingParameters.ts
  packages/features/insights/server/trpc-router.ts
Labels: routing-forms, insights, core, 💻 refactor, consumer, ready-for-e2e

#22791 refactor: replace tremor with recharts
  apps/web/modules/insights/insights-view.tsx
  apps/web/modules/settings/billing/components/BillingCredits.tsx
  apps/web/package.json
  apps/web/public/static/locales/en/common.json
  apps/web/tailwind.config.js
  packages/features/insights/components/Card.tsx
  packages/features/insights/components/ChartCard.tsx
  packages/features/insights/components/KPICard.tsx
  packages/features/insights/components/LineChart.tsx
  packages/features/insights/components/LoadingInsights.tsx
  packages/features/insights/components/UserStatsTable.tsx
  packages/features/insights/components/booking/AverageEventDurationChart.tsx
  packages/features/insights/components/booking/BookingKPICards.tsx
  packages/features/insights/components/booking/BookingsByHourChart.tsx
  packages/features/insights/components/booking/EventTrendsChart.tsx
  packages/features/insights/components/booking/RecentFeedbackTable.tsx
  packages/features/insights/components/booking/RecentFeedbackTableContent.tsx
  packages/features/insights/components/index.ts
  packages/features/insights/components/routing/FailedBookingsByField.tsx
  packages/features/insights/components/routing/RoutedToPerPeriod.tsx
  packages/features/insights/components/routing/RoutingFormResponsesTable.tsx
  packages/features/insights/components/routing/RoutingKPICards.tsx
  packages/features/insights/components/tremor.css
  packages/features/insights/components/tremor.types.ts
  packages/features/insights/components/tremor/BarList.tsx
  packages/features/insights/lib/colors.ts
  packages/features/insights/lib/index.ts
  packages/lib/server/service/insightsBooking.ts
  packages/platform/atoms/tailwind.config.cjs
  packages/ui/components/progress-bar/ProgressBar.tsx
  packages/ui/components/progress-bar/index.ts
  packages/ui/package.json
  yarn.lock
Labels: insights, core, consumer, ready-for-e2e

#21697 test: add no show webhooks integration tests
  packages/features/bookings/lib/handleNewBooking/scheduleNoShowTriggers.integration-test.ts
Labels: Medium priority, enterprise, webhooks, automated-tests, community, ready-for-e2e, community-interns

#21474 fix: add backfill migration for routing response denormalized tables
  packages/prisma/migrations/20250618093846_routing_form_response_denormalize_backfill/migration.sql
  packages/prisma/migrations/20250618093923_routing_form_response_field_backfill/migration.sql
Labels: ❗️ migrations, routing-forms, core, consumer, ready-for-e2e

#22123 fix(event-types): remove gap in URL input for event creation
  apps/web/components/ui/UsernameAvailability/UsernameTextfield.tsx
  packages/features/eventtypes/components/CreateEventTypeForm.tsx
  packages/features/eventtypes/components/tabs/setup/EventSetupTab.tsx
Labels: 🐛 bug, Low priority, event-types, community, ready-for-e2e

#22790 refactor: use dependency injection for InsightsBookingService
  packages/features/insights/HOW_TO_ADD_BOOKING_CHARTS.md
  packages/features/insights/server/trpc-router.ts
  packages/lib/di/containers/insights-booking.ts
  packages/lib/di/modules/insights-booking.ts
  packages/lib/di/tokens.ts
  packages/lib/server/service/InsightsBookingBaseService.ts
  packages/lib/server/service/InsightsBookingDIService.ts
  packages/lib/server/service/__tests__/InsightsBookingService.integration-test.ts
  packages/lib/server/service/__tests__/InsightsRoutingService.integration-test.ts
Labels: insights, core, 💻 refactor, consumer, ready-for-e2e

#22902 chore: upgrade @unkey/ratelimit
  package.json
  yarn.lock
Labels: ⬆️ dependencies, community, ready-for-e2e

#22903 revert: eslint-config-next to v13.2.1
  packages/config/package.json
  yarn.lock
Labels: ⬆️ dependencies, core, consumer, ready-for-e2e

#22914 fix: OG image error from missing height field
  packages/lib/OgImages.tsx
Labels: 🐛 bug, core, foundation, ready-for-e2e

#22913 fix: resolve circular dependency in getUserAvailability by extracting getPeriodStartDatesBetween utility
  apps/api/v2/package.json
  packages/lib/getUserAvailability.ts
  packages/lib/intervalLimits/server/getBusyTimesFromLimits.ts
  packages/lib/intervalLimits/utils/getPeriodStartDatesBetween.ts
  yarn.lock
Labels: core, 💻 refactor, foundation, ready-for-e2e

#22916 fix: OG image error from custom fonts not being supported
  apps/web/app/api/social/og/image/route.tsx
Labels: 🐛 bug, core, foundation, consumer, ready-for-e2e

#22937 fix: fix position of plain support button
  apps/web/lib/plain/PlainContactForm.tsx
Labels: 🧹 Improvements, platform, core, ready-for-e2e

#22933 fix: BTCPayServer App - fixes #22928
  packages/app-store/btcpayserver/components/EventTypeAppSettingsInterface.tsx
Labels: 🐛 bug, app-store, ui, community, ready-for-e2e

#22924 chore: update ESLint configuration
  .eslintrc.js
  apps/api/v1/pages/api/availability/_get.ts
Labels: 🐛 bug, 💰 Rewarded, ci, community, ready-for-e2e

#22940 feat: rename cal.ai to transcribe
  apps/web/modules/videos/button-states.ts
  apps/web/modules/videos/views/videos-single-view.tsx
Labels: ✨ feature, 🧹 Improvements, ai, community, consumer, ready-for-e2e

#22898 fix: booker embed
  packages/platform/atoms/booker-embed/BookerEmbed.tsx
  packages/platform/atoms/cal-provider/BaseCalProvider.tsx
  packages/platform/atoms/hooks/event-types/public/useAtomGetPublicEvent.tsx
  packages/platform/atoms/hooks/useMe.ts
  packages/platform/atoms/hooks/useOAuthClient.ts
Labels: platform, core, ready-for-e2e

#22952 fix: contact support button overlap
  apps/web/components/plain/PlainContactForm.tsx
  apps/web/components/plain/__tests__/PlainContactForm.test.tsx
  apps/web/components/plain/plainChat.tsx
  apps/web/lib/plain/dynamicProvider.tsx
Labels: 🐛 bug, 🧹 Improvements, ui, community, ready-for-e2e

#22957 fix: SCIM group events - compare membership with teamId
  packages/features/ee/dsync/lib/handleGroupEvents.ts
Labels: 🐛 bug, teams, enterprise, core, ready-for-e2e

#22964 fix: ICS file on workflows where the invite is added wont display the link of the integration
  packages/features/ee/workflows/lib/reminders/emailReminderManager.ts
Labels: 🐛 bug, Low priority, workflows, community, ready-for-e2e

#22896 docs: refactor the v2 api README file
  apps/api/v2/README.md
Labels: docs, community, ready-for-e2e

#22887 Fix: Update BTCPay Server currencies and fix dark mode bug
  packages/app-store/btcpayserver/components/EventTypeAppSettingsInterface.tsx
  packages/app-store/btcpayserver/lib/currencyOptions.ts
Labels: app-store, 🧹 Improvements, community, ready-for-e2e

#22921 chore: added headless routing link to embed
  apps/web/public/static/locales/en/common.json
  packages/features/embed/Embed.tsx
  packages/features/embed/RoutingFormEmbed.tsx
  packages/features/embed/lib/EmbedCodes.tsx
  packages/features/embed/lib/EmbedTabs.tsx
  packages/features/embed/types/index.d.ts
Labels: platform, embed, core, ready-for-e2e

#22860 fix: reschedule with same RR hosts
  packages/lib/bookings/filterHostsBySameRoundRobinHost.test.ts
  packages/lib/bookings/filterHostsBySameRoundRobinHost.ts
  packages/lib/bookings/findQualifiedHostsWithDelegationCredentials.ts
Labels: 🐛 bug, teams, bookings, core, consumer, ready-for-e2e

#22843 fix: add strict URL validation with consistent error message
  packages/features/form-builder/schema.ts
Labels: 🐛 bug, ✨ feature, 🧹 Improvements, Low priority, community, ready-for-e2e, Public

#22845 feat: add Workflow resource to PBAC system with permission enforcement
  apps/web/public/static/locales/en/common.json
  packages/features/ee/teams/components/createButton/CreateButtonWithTeamsList.tsx
  packages/features/ee/workflows/components/WorkflowDetailsPage.tsx
  packages/features/ee/workflows/components/WorkflowListPage.tsx
  packages/features/ee/workflows/pages/index.tsx
  packages/features/ee/workflows/pages/workflow.tsx
  packages/features/pbac/domain/types/permission-registry.ts
  packages/lib/server/repository/workflow-permissions.ts
  packages/lib/server/repository/workflow.ts
  packages/trpc/server/routers/loggedInViewer/teamsAndUserProfilesQuery.handler.ts
  packages/trpc/server/routers/loggedInViewer/teamsAndUserProfilesQuery.schema.ts
  packages/trpc/server/routers/viewer/workflows/create.handler.ts
  packages/trpc/server/routers/viewer/workflows/delete.handler.ts
  packages/trpc/server/routers/viewer/workflows/filteredList.handler.tsx
  packages/trpc/server/routers/viewer/workflows/get.handler.ts
  packages/trpc/server/routers/viewer/workflows/update.handler.ts
  packages/trpc/server/routers/viewer/workflows/util.test.ts
  packages/trpc/server/routers/viewer/workflows/util.ts
Labels: ✨ feature, ❗️ migrations, core, consumer, ready-for-e2e

#22972 fix: prevent makeBodyVisible timeout from running after test teardown
  packages/embeds/embed-core/src/__tests__/embed-iframe.test.ts
Labels: 🐛 bug, core, ready-for-e2e

#22296 feat: Round Robin groups
  apps/web/components/booking/BookingListItem.tsx
  apps/web/components/booking/bookingActions.test.ts
  apps/web/components/booking/bookingActions.ts
  apps/web/public/static/locales/en/common.json
  apps/web/test/lib/getSchedule.test.ts
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  docs/api-reference/v2/openapi.json
  packages/eslint-plugin/src/rules/avoid-web-storage.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/getEventTypesFromDB.ts
  packages/features/bookings/lib/handleNewBooking/loadUsers.ts
  packages/features/bookings/lib/handleNewBooking/test/buildEventForTeamEventType.test.ts
  packages/features/bookings/lib/handleNewBooking/test/team-bookings/round-robin.test.ts
  packages/features/bookings/lib/handleNewBooking/test/team-bookings/seatedRoundRobin.test.ts
  packages/features/bookings/lib/handleNewBooking/types.ts
  packages/features/ee/round-robin/roundRobinManualReassignment.ts
  packages/features/ee/round-robin/roundRobinReassignment.ts
  packages/features/eventtypes/components/AddMembersWithSwitch.tsx
  packages/features/eventtypes/components/CheckedTeamSelect.tsx
  packages/features/eventtypes/components/EditWeightsForAllTeamMembers.tsx
  packages/features/eventtypes/components/EventType.tsx
  packages/features/eventtypes/components/HostEditDialogs.tsx
  packages/features/eventtypes/components/tabs/assignment/EventTeamAssignmentTab.tsx
  packages/features/eventtypes/lib/types.ts
  packages/features/schedules/components/Schedule.tsx
  packages/lib/__mocks__/constants.ts
  packages/lib/bookings/filterHostsBySameRoundRobinHost.test.ts
  packages/lib/bookings/filterHostsBySameRoundRobinHost.ts
  packages/lib/bookings/findQualifiedHostsWithDelegationCredentials.test.ts
  packages/lib/bookings/findQualifiedHostsWithDelegationCredentials.ts
  packages/lib/bookings/getRoutedUsers.ts
  packages/lib/bookings/hostGroupUtils.ts
  packages/lib/constants.ts
  packages/lib/defaultEvents.ts
  packages/lib/errorCodes.ts
  packages/lib/getAggregatedAvailability.test.ts
  packages/lib/getAggregatedAvailability.ts
  packages/lib/server/repository/eventTypeRepository.ts
  packages/platform/atoms/event-types/hooks/useEventTypeForm.ts
  packages/platform/atoms/event-types/wrappers/EventTypeWebWrapper.tsx
  packages/prisma/migrations/20250704081718_add_host_groups/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/bookings/get.handler.ts
  packages/trpc/server/routers/viewer/eventTypes/types.ts
  packages/trpc/server/routers/viewer/eventTypes/update.handler.ts
  packages/trpc/server/routers/viewer/eventTypes/util.ts
  packages/trpc/server/routers/viewer/slots/util.ts
  packages/trpc/server/routers/viewer/teams/hasTeamPlan.handler.ts
Labels: ✨ feature, ❗️ migrations, High priority, teams, bookings, ui, core, consumer, ready-for-e2e

#22983 fix: slugify event slug in duplicate dialog
  packages/features/eventtypes/components/DuplicateDialog.tsx
Labels: 🐛 bug, event-types, core, ready-for-e2e

#22919 feat: cal ai self serve architecture #1
  apps/api/v2/src/modules/workflows/inputs/workflow-step.input.ts
  apps/web/package.json
  apps/web/pages/api/get-inbound-dynamic-variables.ts
  packages/app-store/stripepayment/lib/constants.ts
  packages/app-store/stripepayment/lib/utils.ts
  packages/features/calAIPhone/AIPhoneServiceRegistry.test.ts
  packages/features/calAIPhone/AIPhoneServiceRegistry.ts
  packages/features/calAIPhone/README.md
  packages/features/calAIPhone/getTemplateFieldsSchema.ts
  packages/features/calAIPhone/index.ts
  packages/features/calAIPhone/initializeRegistry.ts
  packages/features/calAIPhone/interfaces/AIPhoneService.interface.ts
  packages/features/calAIPhone/promptTemplates.ts
  packages/features/calAIPhone/providers/adapters/PrismaAgentRepositoryAdapter.ts
  packages/features/calAIPhone/providers/adapters/PrismaPhoneNumberRepositoryAdapter.ts
  packages/features/calAIPhone/providers/adapters/PrismaTransactionAdapter.ts
  packages/features/calAIPhone/providers/interfaces/AgentRepositoryInterface.ts
  packages/features/calAIPhone/providers/interfaces/PhoneNumberRepositoryInterface.ts
  packages/features/calAIPhone/providers/interfaces/TransactionInterface.ts
  packages/features/calAIPhone/providers/retellAI/RetellAIPhoneServiceProvider.test.ts
  packages/features/calAIPhone/providers/retellAI/RetellAIPhoneServiceProvider.ts
  packages/features/calAIPhone/providers/retellAI/RetellAIPhoneServiceProviderFactory.test.ts
  packages/features/calAIPhone/providers/retellAI/RetellAIPhoneServiceProviderFactory.ts
  packages/features/calAIPhone/providers/retellAI/RetellAIService.test.ts
  packages/features/calAIPhone/providers/retellAI/RetellAIService.ts
  packages/features/calAIPhone/providers/retellAI/RetellAIServiceMapper.ts
  packages/features/calAIPhone/providers/retellAI/RetellSDKClient.test.ts
  packages/features/calAIPhone/providers/retellAI/RetellSDKClient.ts
  packages/features/calAIPhone/providers/retellAI/errors.ts
  packages/features/calAIPhone/providers/retellAI/index.ts
  packages/features/calAIPhone/providers/retellAI/services/AIConfigurationService.ts
  packages/features/calAIPhone/providers/retellAI/services/AgentService.ts
  packages/features/calAIPhone/providers/retellAI/services/BillingService.ts
  packages/features/calAIPhone/providers/retellAI/services/CallService.ts
  packages/features/calAIPhone/providers/retellAI/services/PhoneNumberService.ts
  packages/features/calAIPhone/providers/retellAI/services/README.md
  packages/features/calAIPhone/providers/retellAI/services/__tests__/AIConfigurationService.test.ts
  packages/features/calAIPhone/providers/retellAI/services/__tests__/BillingService.test.ts
  packages/features/calAIPhone/providers/retellAI/services/__tests__/CallService.test.ts
  packages/features/calAIPhone/providers/retellAI/services/__tests__/PhoneNumberService.test.ts
  packages/features/calAIPhone/providers/retellAI/services/__tests__/test-utils.ts
  packages/features/calAIPhone/providers/retellAI/types.ts
  packages/features/calAIPhone/retellAIService.ts
  packages/features/calAIPhone/template-fields-map.ts
  packages/features/calAIPhone/zod-utils.ts
  packages/features/ee/workflows/components/WorkflowDetailsPage.tsx
  packages/features/ee/workflows/lib/constants.ts
  packages/features/ee/workflows/lib/getOptions.ts
  packages/features/eventtypes/components/tabs/ai/AIEventController.tsx
  packages/features/handleCreatePhoneCall.ts
  packages/lib/server/repository/PrismaAgentRepository.ts
  packages/lib/server/repository/PrismaPhoneNumberRepository.ts
  packages/platform/atoms/event-types/hooks/useEventTypeForm.ts
  packages/prisma/migrations/20250807134931_add_cal_ai_self_serve/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/eventTypes/types.ts
  packages/trpc/server/routers/viewer/organizations/_router.tsx
  packages/trpc/server/routers/viewer/organizations/createPhoneCall.handler.ts
  packages/trpc/server/routers/viewer/workflows/update.handler.ts
  yarn.lock
Labels: ✨ feature, ❗️ migrations, High priority, enterprise, core, ai, ready-for-e2e

#22984 chore: wrap samlResponse in try/catch
  apps/web/app/api/auth/saml/callback/route.ts
Labels: enterprise, authentication, core, ready-for-e2e

#22987 fix: typo in env var name in log message
  packages/features/ee/organizations/lib/orgDomains.ts
Labels: community, ready-for-e2e

#21377 fix: MSTeams not created as online meetings
  packages/app-store/components.tsx
  packages/app-store/locations.ts
  packages/app-store/office365calendar/lib/CalendarService.ts
  packages/app-store/office365video/_metadata.ts
  packages/app-store/office365video/config.json
  packages/lib/CalEventParser.ts
  packages/lib/EventManager.ts
Labels: 🐛 bug, app-store, 🧹 Improvements, Medium priority, High priority, 💎 Bounty, emails, calendar-apps, 🙋 Bounty claim, community, ready-for-e2e, $500

#22632 perf: optimize app registry performance with caching
  packages/lib/apps/getInstallCountPerApp.ts
Labels: ✨ feature, app-store, 🧹 Improvements, Medium priority, performance, core, foundation, ready-for-e2e

#23005 fix: Booker active booking limit can't be toggeled off
  packages/trpc/server/routers/viewer/eventTypes/update.handler.ts
Labels: 🐛 bug, event-types, core, ready-for-e2e

#23011 fix: weight filter should never return length=0
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/test/team-bookings/round-robin.test.ts
Labels: 🐛 bug, bookings, core, consumer, ready-for-e2e

#23002 fix: Contact support button position changed from absolute to fixed
  apps/web/components/plain/PlainContactForm.tsx
Labels: 🐛 bug, 🧹 Improvements, ui, event-types, community, ready-for-e2e

#22943 feat: Add private links to API
  apps/api/v2/package.json
  apps/api/v2/src/ee/event-types-private-links/controllers/event-types-private-links.controller.e2e-spec.ts
  apps/api/v2/src/ee/event-types-private-links/controllers/event-types-private-links.controller.ts
  apps/api/v2/src/ee/event-types-private-links/event-types-private-links.module.ts
  apps/api/v2/src/ee/event-types-private-links/private-links.repository.ts
  apps/api/v2/src/ee/event-types-private-links/services/private-links-input.service.ts
  apps/api/v2/src/ee/event-types-private-links/services/private-links-output.service.ts
  apps/api/v2/src/ee/event-types-private-links/services/private-links.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/controllers/event-types.controller.ts
  apps/api/v2/src/ee/platform-endpoints-module.ts
  apps/api/v2/src/modules/event-types/guards/event-type-ownership.guard.ts
  apps/api/v2/swagger/documentation.json
  apps/api/v2/tsconfig.json
  docs/api-reference/v2/openapi.json
  packages/lib/server/service/hashedLinkService.ts
  packages/platform/libraries/package.json
  packages/platform/libraries/private-links.ts
  packages/platform/libraries/vite.config.js
  packages/platform/types/event-types/index.ts
  packages/platform/types/event-types/inputs/private-link.input.ts
  packages/platform/types/event-types/outputs/private-link.output.ts
  packages/platform/types/index.ts
  yarn.lock
Labels: ✨ feature, automerge, enterprise, platform, api, core, ready-for-e2e

#22926 feat: atoms e2e tests
  .github/workflows/atoms-e2e.yml
  packages/platform/atoms/README.md
  packages/platform/examples/base/.gitignore
  packages/platform/examples/base/package.json
  packages/platform/examples/base/playwright.config.ts
  packages/platform/examples/base/tests/create-event-type-atom/create-event-type.e2e.ts
  yarn.lock
Labels: platform, automated-tests, core, ready-for-e2e

#23001 fix: false 500s from `/api/book/event`
  packages/features/CalendarEventBuilder.test.ts
  packages/features/CalendarEventBuilder.ts
  packages/features/bookings/lib/getCalEventResponses.ts
  packages/features/bookings/lib/handleNewBooking.ts
Labels: 🐛 bug, bookings, core, foundation, ready-for-e2e

#23009 fix: Org Redirect in SINGLE ORG Mode
  apps/web/app/(booking-page-wrapper)/team/[slug]/[type]/pageWithCachedData.tsx
  apps/web/lib/d/[link]/[slug]/getServerSideProps.tsx
  apps/web/lib/getTemporaryOrgRedirect.test.ts
  apps/web/lib/getTemporaryOrgRedirect.ts
  apps/web/lib/handleOrgRedirect.test.ts
  apps/web/lib/handleOrgRedirect.ts
  apps/web/lib/org/[orgSlug]/[user]/getServerSideProps.tsx
  apps/web/lib/team/[slug]/[type]/getServerSideProps.tsx
  apps/web/lib/team/[slug]/getServerSideProps.tsx
  apps/web/server/lib/[user]/[type]/getServerSideProps.ts
  apps/web/server/lib/[user]/getServerSideProps.ts
Labels: 🐛 bug, enterprise, Urgent, core, ready-for-e2e

#22976 feat: more atoms styles
  .changeset/mighty-wings-create.md
  docs/platform/atoms/availability-settings.mdx
  docs/platform/atoms/calendar-settings.mdx
  packages/features/schedules/components/Schedule.tsx
  packages/platform/atoms/availability/AvailabilitySettings.tsx
  packages/platform/atoms/availability/types.ts
  packages/platform/atoms/calendar-settings/wrappers/CalendarSettingsPlatformWrapper.tsx
  packages/platform/atoms/destination-calendar/DestinationCalendar.tsx
  packages/platform/atoms/destination-calendar/wrappers/DestinationCalendarSettingsPlatformWrapper.tsx
  packages/platform/atoms/selected-calendars/wrappers/SelectedCalendarsSettingsPlatformWrapper.tsx
  packages/platform/examples/base/src/pages/availability.tsx
  packages/platform/examples/base/src/pages/calendars.tsx
  packages/ui/components/app-list-card/AppListCard.tsx
Labels: ✨ feature, platform, core, ready-for-e2e

#23040 fix: unauthorized trpc error in /getting-started page
  apps/web/app/(use-page-wrapper)/getting-started/[[...step]]/page.tsx
  apps/web/modules/getting-started/[[...step]]/onboarding-view.tsx
Labels: 🐛 bug, core, foundation, consumer, ready-for-e2e

#23039 fix: atoms e2e env variables to turbo.json
  turbo.json
Labels: platform, ❗️ .env changes, core, ready-for-e2e

#23020 chore: Add `jackson` and `jose` to next config `serverExternalPackages`
  apps/web/next.config.js
Labels: 🐛 bug, enterprise, core, ready-for-e2e

#23058 fix: remove network level caching for i18n
  packages/lib/server/i18n.ts
Labels: 🐛 bug, i18n, core, foundation, ready-for-e2e

#23060 Fix: lock timezone on booking page breaks atoms
  .changeset/deep-owls-hang.md
  packages/features/eventtypes/components/tabs/advanced/EventAdvancedTab.tsx
  packages/platform/atoms/event-types/wrappers/EventTypePlatformWrapper.tsx
Labels: 🐛 bug, platform, booking-page, core, ready-for-e2e

#23052 feat: add toggle for no availability dialog
  .changeset/great-hands-lick.md
  docs/platform/atoms/booker.mdx
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/components/DatePicker.tsx
  packages/features/bookings/Booker/types.ts
  packages/features/calendars/DatePicker.tsx
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
Labels: ✨ feature, platform, bookings, core, ready-for-e2e

#23064 fix: use server fetched user for all sub pages in /getting-started
  apps/web/components/getting-started/steps-views/ConnectedVideoStep.tsx
  apps/web/components/getting-started/steps-views/UserProfile.tsx
  apps/web/components/getting-started/steps-views/UserSettings.tsx
  apps/web/modules/getting-started/[[...step]]/onboarding-view.tsx
Labels: 🐛 bug, core, foundation, consumer, ready-for-e2e

#23063 fix: managed orgs get bookings
  apps/api/v2/package.json
  apps/api/v2/src/ee/event-types-private-links/controllers/event-types-private-links.controller.ts
  apps/api/v2/src/modules/organizations/bookings/managed-organizations-bookings.controller.e2e-spec.ts
  apps/api/v2/test/fixtures/repository/managed-organizations.repository.fixture.ts
  packages/platform/types/event-types/inputs/private-link.input.ts
  packages/trpc/server/routers/viewer/bookings/get.handler.ts
  yarn.lock
Labels: platform, bookings, organizations, core, ready-for-e2e

#23066 revert: fix: managed orgs get bookings
  apps/api/v2/package.json
  apps/api/v2/src/ee/event-types-private-links/controllers/event-types-private-links.controller.ts
  apps/api/v2/src/modules/organizations/bookings/managed-organizations-bookings.controller.e2e-spec.ts
  apps/api/v2/test/fixtures/repository/managed-organizations.repository.fixture.ts
  packages/platform/types/event-types/inputs/private-link.input.ts
  packages/trpc/server/routers/viewer/bookings/get.handler.ts
  yarn.lock
Labels: 🐛 bug, platform, bookings, organizations, core, ready-for-e2e

#23070 fix: Type error in inviteMember.handler test
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMember.handler.integration-test.ts
Labels: teams, automated-tests, core, foundation, ready-for-e2e

#23078 fix: managed organization bookings
  apps/api/v2/package.json
  apps/api/v2/src/ee/event-types-private-links/controllers/event-types-private-links.controller.ts
  apps/api/v2/src/modules/organizations/bookings/managed-organizations-bookings.controller.e2e-spec.ts
  apps/api/v2/test/fixtures/repository/managed-organizations.repository.fixture.ts
  packages/platform/types/event-types/inputs/private-link.input.ts
  packages/trpc/server/routers/viewer/bookings/get.handler.ts
  yarn.lock
Labels: 🐛 bug, platform, bookings, organizations, core, ready-for-e2e

#23048 feat: org/team event type private links endpoints
  apps/api/v2/package.json
  apps/api/v2/src/ee/event-types-private-links/controllers/event-types-private-links.controller.ts
  apps/api/v2/src/ee/event-types-private-links/controllers/organizations-event-types-private-links.controller.ts
  apps/api/v2/src/ee/event-types-private-links/event-types-private-links.module.ts
  apps/api/v2/src/ee/event-types-private-links/services/private-links.service.ts
  apps/api/v2/src/modules/organizations/event-types/organizations-event-types-private-links.e2e-spec.ts
  apps/api/v2/src/modules/organizations/organizations.module.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
  yarn.lock
Labels: ✨ feature, teams, enterprise, platform, api, organizations, core, ready-for-e2e

#23071 fix: Add org-level payment credential fallback for no-show fee charging
  packages/lib/server/repository/credential.ts
  packages/lib/server/repository/team.ts
  packages/trpc/server/routers/viewer/payments/chargeCard.handler.ts
Labels: 🐛 bug, billing, core, ready-for-e2e

#23085 fix: prevent cross-team app visibility in organizations
  packages/lib/getConnectedApps.ts
Labels: 🐛 bug, teams, core, ready-for-e2e

#23057 perf: check feature flag in layout level for /settings/organizations/new routes
  apps/web/app/(use-page-wrapper)/settings/organizations/new/about/page.tsx
  apps/web/app/(use-page-wrapper)/settings/organizations/new/add-teams/page.tsx
  apps/web/app/(use-page-wrapper)/settings/organizations/new/handover/page.tsx
  apps/web/app/(use-page-wrapper)/settings/organizations/new/layout.tsx
  apps/web/app/(use-page-wrapper)/settings/organizations/new/onboard-members/page.tsx
  apps/web/app/(use-page-wrapper)/settings/organizations/new/page.tsx
  apps/web/app/(use-page-wrapper)/settings/organizations/new/status/page.tsx
Labels: core, 💻 refactor, foundation, ready-for-e2e

#23072 feat: add dry run events for SDK (dryRunBookingSuccessfulV2 and dryRunRescheduleBookingSuccessfulV2)
  packages/embeds/embed-core/src/sdk-action-manager.ts
  packages/features/bookings/Booker/components/hooks/useBookings.ts
Labels: enterprise, bookings, core, ready-for-e2e

#23077 feat: enable credits for orgs
  apps/web/modules/settings/billing/components/BillingCredits.tsx
  packages/features/ee/billing/credit-service.test.ts
  packages/features/ee/billing/credit-service.ts
  packages/trpc/server/routers/viewer/credits/buyCredits.handler.ts
Labels: ✨ feature, billing, core, consumer, ready-for-e2e

#23119 chore: bump atoms changeset silentlyHandleCalendarFailures
  .changeset/spicy-squids-win.md
  docs/platform/atoms/booker.mdx
Labels: platform, core, foundation, ready-for-e2e

#23140 fix: multiple booking duration isn't working
  packages/features/bookings/components/event-meta/Duration.tsx
Labels: 🐛 bug, bookings, core, ready-for-e2e

#23144 test: E2E test to verify event multiple duration works correctly
  apps/web/playwright/dynamic-booking-pages.e2e.ts
Labels: automated-tests, core, ready-for-e2e

#23142 fix: fixed scroll issue while configuring workflow
  packages/features/ee/workflows/pages/workflow.tsx
Labels: 🐛 bug, workflows, community, ready-for-e2e

#23164 fix: allow org admin to accept/reject booking
  apps/api/v2/package.json
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/managed-user-bookings.e2e-spec.ts
  packages/trpc/server/routers/viewer/bookings/confirm.handler.ts
  yarn.lock
Labels: 🐛 bug, platform, bookings, core, ready-for-e2e

#23175 refactor: static methods of HostRepository & PrismaAttributeRepository
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/teams/[id]/members/page.tsx
  apps/web/app/(use-page-wrapper)/settings/organizations/(org-user-only)/members/page.tsx
  packages/lib/server/repository/PrismaAttributeRepository.ts
  packages/lib/server/repository/host.ts
  packages/lib/service/attribute/server/assignValueToUser.ts
  packages/lib/service/attribute/server/getAttributes.ts
  packages/trpc/server/routers/viewer/attributes/list.handler.ts
  packages/trpc/server/routers/viewer/availability/schedule/delete.handler.ts
  packages/trpc/server/routers/viewer/availability/util.test.ts
  packages/trpc/server/routers/viewer/availability/util.ts
Labels: platform, core, 💻 refactor, foundation, ready-for-e2e

#23113 refactor: Extract `<CalVideoSettings />` from `<Locations />
  apps/web/components/apps/installation/EventTypeConferencingAppSettings.tsx
  packages/features/eventtypes/components/locations/CalVideoSettings.tsx
  packages/features/eventtypes/components/locations/LocationSettingsContainer.tsx
  packages/features/eventtypes/components/locations/Locations.tsx
  packages/features/eventtypes/components/tabs/setup/EventSetupTab.tsx
  packages/features/eventtypes/lib/types.ts
Labels: enterprise, event-types, core, 💻 refactor, ready-for-e2e

#23182 fix: error when opening date override input dialog
  packages/features/schedules/components/DateOverrideInputDialog.tsx
Labels: 🐛 bug, automerge, ui, core, ready-for-e2e

#23185 fix: correct impossible logical condition Office365CalendarService
  packages/app-store/office365calendar/lib/CalendarService.ts
Labels: 🐛 bug, app-store, platform, core, foundation, ready-for-e2e

#23186 fix: get organization bookings bookingUid parameter
  apps/api/v2/package.json
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/managed-user-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/input.service.ts
  apps/api/v2/src/modules/organizations/bookings/organizations-bookings.controller.e2e-spec.ts
  yarn.lock
Labels: 🐛 bug, platform, bookings, organizations, core, ready-for-e2e

#23168 perf: Only apply autoprefixer in production
  apps/web/postcss.config.js
Labels: 🧹 Improvements, community, ready-for-e2e

#23129 fix: Add missing CSS variable for switch component accent color
  apps/web/modules/getting-started/[[...step]]/onboarding-view.tsx
Labels: 🐛 bug, ui, community, ready-for-e2e

#23171 refactor: remove highperf endpoints
  apps/web/pages/api/trpc/highPerf/[trpc].ts
  packages/features/schedules/lib/use-schedule/useSchedule.ts
  packages/trpc/react/shared.ts
  packages/trpc/server/routers/viewer/_router.tsx
  packages/trpc/server/routers/viewer/highPerf/_router.tsx
  packages/trpc/server/routers/viewer/highPerf/getTeamSchedule.handler.ts
  packages/trpc/server/routers/viewer/highPerf/getTeamSchedule.schema.ts
Labels: api, core, 💻 refactor, foundation, ready-for-e2e

#22979 chore: hide cal branding for platform bookings
  apps/web/lib/booking.ts
  apps/web/modules/bookings/views/bookings-single-view.getServerSideProps.tsx
  packages/lib/defaultEvents.ts
  packages/prisma/selects/user.ts
Labels: 🧹 Improvements, platform, bookings, core, ready-for-e2e

#23216 fix: duplicate event created on attendee calendar due to wrong icalUid
  packages/features/bookings/lib/handleNewBooking.ts
Labels: 🐛 bug, bookings, core, ready-for-e2e

#23231 chore: Upgrade `boxyhq/saml-jackson` to 1.52.2
  apps/web/package.json
  packages/features/ee/sso/lib/jackson.ts
  yarn.lock
Labels: ⬆️ dependencies, enterprise, core, ready-for-e2e

#23200 chore: add coderabbit config file
  .coderabbit.yaml
Labels: core, foundation, ready-for-e2e

#23229 fix: Add guests via URL param even if field is hidden
  packages/features/bookings/lib/getCalEventResponses.ts
  packages/features/bookings/lib/handleNewBooking/getBookingData.ts
Labels: 🐛 bug, enterprise, bookings, core, ready-for-e2e

#23251 chore: Remove maintenance mode middleware
  apps/web/middleware.ts
  turbo.json
Labels: core, foundation, ready-for-e2e

#21297 feat: add attendee filters to /insights/routing (+ use RoutingFormResponseDenormalized)
  apps/web/public/static/locales/en/common.json
  packages/features/insights/components/BookedByCell.tsx
  packages/features/insights/components/routing/RoutingFormResponsesTable.tsx
  packages/features/insights/components/routing/RoutingKPICards.tsx
  packages/features/insights/filters/Download/RoutingFormResponsesDownload.tsx
  packages/features/insights/hooks/useInsightsColumns.tsx
  packages/features/insights/hooks/useInsightsParameters.ts
  packages/features/insights/lib/types.ts
  packages/features/insights/server/raw-data.schema.ts
  packages/features/insights/server/routing-events.ts
  packages/features/insights/server/trpc-router.ts
  packages/lib/server/service/InsightsRoutingBaseService.ts
  packages/lib/server/service/__tests__/InsightsRoutingService.integration-test.ts
Labels: routing-forms, insights, core, consumer, ready-for-e2e

#23173 feat: multi Select for "Event Type" in Insights
  packages/features/insights/hooks/useInsightsBookings.ts
  packages/lib/server/service/InsightsBookingBaseService.ts
  packages/lib/server/service/__tests__/InsightsBookingService.integration-test.ts
Labels: 🧹 Improvements, insights, community, consumer, ready-for-e2e

#23074 feat: add send & verify code flow to booker atom when email verification is turned on
  .changeset/stale-tires-report.md
  apps/api/v2/package.json
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/seated-bookings.e2e-spec.ts
  apps/api/v2/src/ee/event-types-private-links/event-types-private-links.module.ts
  apps/api/v2/src/modules/atoms/atoms.module.ts
  apps/api/v2/src/modules/atoms/controllers/atoms.verification.controller.ts
  apps/api/v2/src/modules/atoms/inputs/check-email-verification-required-params.ts
  apps/api/v2/src/modules/atoms/inputs/send-verification-email.input.ts
  apps/api/v2/src/modules/atoms/inputs/verify-email-code.input.ts
  apps/api/v2/src/modules/atoms/outputs/send-verification-email.output.ts
  apps/api/v2/src/modules/atoms/outputs/verify-email-code.output.ts
  apps/api/v2/src/modules/atoms/services/verification-atom.service.ts
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
  packages/platform/atoms/hooks/useMe.ts
  packages/platform/atoms/hooks/useVerifyCode.ts
  packages/platform/atoms/hooks/useVerifyEmail.ts
  packages/platform/libraries/index.ts
  packages/trpc/server/routers/publicViewer/checkIfUserEmailVerificationRequired.handler.ts
  packages/trpc/server/routers/viewer/auth/sendVerifyEmailCode.handler.ts
  packages/trpc/server/routers/viewer/auth/verifyCodeUnAuthenticated.handler.ts
  packages/trpc/server/routers/viewer/organizations/verifyCode.handler.ts
  yarn.lock
Labels: ✨ feature, platform, booking-page, core, ⚛️ atoms, ready-for-e2e

#23263 fix: truncated droplist in reroute booking
  apps/web/components/dialog/RerouteDialog.tsx
Labels: 🐛 bug, 🧹 Improvements, ui, community, ready-for-e2e

#23278 chore: add debug logs org team event type creation
  apps/api/v2/src/modules/organizations/event-types/organizations-event-types.controller.ts
  apps/api/v2/src/modules/organizations/event-types/services/organizations-event-types.service.ts
  apps/api/v2/src/modules/teams/event-types/services/teams-event-types.service.ts
Labels: teams, platform, organizations, event-types, core, ready-for-e2e

#22840 fix: Manual RR reassign location change - Cal Video/Zoom/GoogleMeet to Zoom/Google Meet/Cal Video
  packages/app-store/locations.ts
  packages/app-store/webex/api/add.ts
  packages/app-store/webex/api/callback.ts
  packages/features/ee/round-robin/handleRescheduleEventManager.ts
  packages/features/ee/round-robin/roundRobinManualReassignment.test.ts
  packages/features/ee/round-robin/roundRobinManualReassignment.ts
  packages/lib/server/service/bookingLocationService.test.ts
  packages/lib/server/service/bookingLocationService.ts
Labels: 🐛 bug, teams, enterprise, bookings, core, ready-for-e2e

#23217 feat: authentication secured event types
  apps/api/v2/package.json
  apps/api/v2/src/ee/bookings/2024-08-13/bookings.module.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/bookings.controller.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/managed-user-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/bookings.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/controllers/event-types.controller.e2e-spec.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/event-types.repository.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/output-event-types.service.ts
  apps/api/v2/src/modules/auth/decorators/get-optional-user/get-optional-user.decorator.ts
  apps/api/v2/src/modules/memberships/memberships.repository.ts
  apps/api/v2/src/modules/memberships/services/memberships.service.ts
  apps/api/v2/src/modules/organizations/event-types/services/output.service.ts
  apps/api/v2/src/modules/organizations/teams/schedules/organizations-teams-schedules.controller.ts
  apps/api/v2/src/modules/slots/slots-2024-09-04/controllers/slots.controller.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
  packages/lib/defaultEvents.ts
  packages/lib/test/builder.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/create-event-type.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/update-event-type.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/outputs/event-type.output.ts
  packages/prisma/migrations/20250820094118_add_event_type_booking_requires_auth_column/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/zod-utils.ts
  yarn.lock
Labels: ❗️ migrations, platform, event-types, core, ready-for-e2e

#23281 refactor: run atoms e2e when e2e label added
  .github/workflows/all-checks.yml
  .github/workflows/e2e-atoms.yml
  .github/workflows/pr.yml
Labels: platform, automated-tests, ci, core, ready-for-e2e

#23114 feat: Add custom label for organizer default app and link meeting
  apps/web/public/static/locales/en/common.json
  packages/app-store/locations.ts
  packages/app-store/server.ts
  packages/features/bookings/components/event-meta/AvailableEventLocations.tsx
  packages/features/bookings/lib/getLocationOptionsForSelect.ts
  packages/features/eventtypes/components/locations/DefaultLocationSettings.tsx
  packages/features/eventtypes/components/locations/LocationInput.tsx
  packages/features/eventtypes/components/locations/Locations.tsx
  packages/features/eventtypes/components/locations/types.d.ts
  packages/features/eventtypes/components/tabs/setup/EventSetupTab.tsx
  packages/features/eventtypes/lib/types.ts
  packages/prisma/zod-utils.ts
Labels: ✨ feature, enterprise, core, ready-for-e2e

#23232 feat: add E2E test to prevent duplicate schedule API calls
  apps/web/playwright/booking-duplicate-api-calls.e2e.ts
Labels: automated-tests, core, foundation, ready-for-e2e, self-hosted

#23286 perf: Improve memory cache on build
  apps/web/next.config.js
  turbo.json
Labels: core, foundation, ready-for-e2e

#23319 perf: reduce build time and deployment size by removing unused routes
  apps/web/app/(use-page-wrapper)/403/page.tsx
  apps/web/app/(use-page-wrapper)/500/copy-button.tsx
  apps/web/app/(use-page-wrapper)/500/page.tsx
  apps/web/test/lib/pagesAndRewritePaths.test.ts
Labels: performance, core, foundation, ready-for-e2e

#23317 fix: Trim input before submission(availability)
  packages/features/schedules/components/NewScheduleButton.tsx
Labels: 🐛 bug, community, ready-for-e2e

#23214 fix: add variables dropdown UI
  apps/web/public/static/locales/en/common.json
  packages/ui/components/editor/plugins/AddVariablesDropdown.test.tsx
  packages/ui/components/editor/plugins/AddVariablesDropdown.tsx
Labels: 🧹 Improvements, core, consumer, ready-for-e2e

#23207 perf: do not use next/dist/server image optimizer
  apps/web/app/api/logo/route.ts
  packages/lib/server/imageUtils.ts
Labels: 🧹 Improvements, performance, core, foundation, ready-for-e2e

#23228 fix: show correct input type for location in FormBuilder
  packages/features/form-builder/FormBuilder.tsx
Labels: 🐛 bug, core, ready-for-e2e

#23324 perf: Make /icons page a static page
  apps/web/app/_utils.tsx
  apps/web/app/icons/page.tsx
Labels: 🧹 Improvements, core, foundation, ready-for-e2e

#23328 feat: enable Stripe Adaptive Currencies for subscription flows
  apps/api/v2/src/modules/billing/services/billing.service.ts
Labels: ✨ feature, ❗️ .env changes, billing, core, foundation, ready-for-e2e

#23336 fix: german translation for button in the onboarding flow
  apps/web/public/static/locales/de/common.json
Labels: 🐛 bug, i18n, community, foundation, ready-for-e2e

#23344 fix: getting error when userid passed into booking filters
  packages/trpc/server/routers/viewer/bookings/get.handler.ts
Labels: 🐛 bug, bookings, core, ready-for-e2e

#23346 fix: recurring event isn't working
  apps/web/playwright/event-types.e2e.ts
  apps/web/playwright/lib/testUtils.ts
  packages/features/bookings/components/event-meta/Occurences.tsx
Labels: 🐛 bug, High priority, bookings, core, ready-for-e2e

#23013 revert: "fix: remove fallback permssions on organization Id. (#22769)"
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/roles/_components/__tests__/usePermissions.test.ts
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/roles/_components/usePermissions.ts
  apps/web/public/static/locales/en/common.json
  packages/features/ee/workflows/components/WorkflowDetailsPage.tsx
  packages/features/pbac/domain/types/permission-registry.ts
  packages/features/pbac/services/__tests__/permission-check.service.test.ts
  packages/features/pbac/services/permission-check.service.ts
  packages/lib/server/repository/workflow-permissions.ts
  packages/prisma/migrations/20250728091301_add_manage_permissions_to_default_roles/migration.sql
Labels: ❗️ migrations, core, 💻 refactor, consumer, ready-for-e2e

#23329 refactor: convert lucky user to service class
  apps/api/v2/package.json
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/emails/team-emails.e2e-spec.ts
  apps/api/v2/src/lib/repositories/prisma-attribute.repository.ts
  apps/api/v2/src/lib/repositories/prisma-host.repository.ts
  apps/api/v2/src/lib/services/lucky-user.service.ts
  apps/api/v2/test/fixtures/repository/api-keys.repository.fixture.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/ee/round-robin/roundRobinReassignment.ts
  packages/lib/bookings/filterHostsByLeadThreshold.test.ts
  packages/lib/bookings/filterHostsByLeadThreshold.ts
  packages/lib/di/containers/LuckyUser.ts
  packages/lib/di/modules/Attribute.ts
  packages/lib/di/modules/Host.ts
  packages/lib/di/modules/LuckyUser.ts
  packages/lib/di/tokens.ts
  packages/lib/server/getLuckyUser.integration-test.ts
  packages/lib/server/getLuckyUser.test.ts
  packages/lib/server/getLuckyUser.ts
  packages/lib/server/repository/PrismaAttributeRepository.ts
  packages/lib/server/repository/host.ts
  packages/lib/server/repository/ooo.ts
  packages/lib/server/repository/user.ts
  packages/platform/libraries/bookings.ts
  packages/platform/libraries/repositories.ts
  packages/trpc/server/routers/viewer/routing-forms/findTeamMembersMatchingAttributeLogicOfRoute.handler.ts
  yarn.lock
Labels: platform, api, core, 💻 refactor, foundation, ready-for-e2e

#23272 chore: update daily dependencies
  apps/web/package.json
  package.json
  yarn.lock
Labels: ⬆️ dependencies, enterprise, core, ready-for-e2e

#21226 test: Performance tests suite
  .github/workflows/performance-tests.yml
  tests/performance/README.md
  tests/performance/load/booking.js
  tests/performance/smoke/booking.js
  tests/performance/spike/booking.js
  tests/performance/stress/booking.js
  tests/performance/utils/config.js
  tests/performance/utils/helpers.js
  tests/scripts/run-k6-local.sh
Labels: automated-tests, performance, core, ready-for-e2e

#22450 perf: implement quick app store loading optimizations
  apps/web/test/lib/getSchedule/delegation-credential.test.ts
  apps/web/test/lib/getSchedule/selectedSlots.test.ts
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  package.json
  packages/app-store-cli/src/build.ts
  packages/app-store/_utils/getCalendar.ts
  packages/app-store/applecalendar/lib/CalendarService.ts
  packages/app-store/caldavcalendar/lib/CalendarService.ts
  packages/app-store/calendar.services.generated.ts
  packages/app-store/constants.ts
  packages/app-store/googlecalendar/lib/CalendarService.ts
  packages/app-store/index.ts
  packages/app-store/locations.ts
  packages/app-store/office365calendar/lib/CalendarService.ts
  packages/features/bookings/lib/handleNewBooking/test/complex-schedules.test.ts
  packages/features/bookings/lib/handleNewBooking/test/date-overrides.test.ts
  packages/features/bookings/lib/handleNewBooking/test/delegation-credential.test.ts
  packages/features/bookings/lib/handleNewBooking/test/fresh-booking.test.ts
  packages/features/bookings/lib/handleNewBooking/test/handleNewRecurringBooking.test.ts
  packages/features/bookings/lib/handleNewBooking/test/recurring-event.test.ts
  packages/features/bookings/lib/handleNewBooking/test/reschedule.test.ts
  packages/features/bookings/lib/handleNewBooking/test/team-bookings/collective-reschedule-destination-calendar.test.ts
  packages/features/bookings/lib/handleNewBooking/test/team-bookings/collective-scheduling.test.ts
  packages/features/ee/round-robin/roundRobinDeleteEvents.test.ts
  packages/lib/CalendarManager.ts
  packages/lib/getCalendarsEvents.test.ts
  packages/lib/payment/handlePayment.ts
  packages/lib/videoClient.ts
  packages/trpc/server/routers/viewer/slots/util.ts
  setupVitest.ts
  yarn.lock
Labels: app-store, core, foundation, ready-for-e2e, self-hosted

#23359 fix: remove TypeScript path mapping and standardize @calcom/ui imports
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/roles/_components/AdvancedPermissionGroup.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/roles/_components/CreateRoleCta.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/roles/_components/RoleSheet.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/roles/_components/RolesList.tsx
  apps/web/modules/settings/billing/components/BillingCredits.tsx
  apps/web/tsconfig.json
Labels: 🧹 Improvements, core, foundation, ready-for-e2e

#23372 perf: optimize analytics app imports to avoid loading entire app store
  packages/app-store-cli/src/build.ts
  packages/app-store/_utils/getAnalytics.ts
  packages/app-store/analytics.services.generated.ts
  turbo.json
  yarn.lock
Labels: app-store, performance, core, foundation, ready-for-e2e, self-hosted

#23236 fix: Role not getting updated immediately in edit profile modal
  packages/features/ee/teams/components/EditMemberSheet.tsx
  packages/features/ee/teams/components/MemberChangeRoleModal.tsx
Labels: 🐛 bug, teams, community, ready-for-e2e

#23379 fix: replace `useTranslation` with `useLocale` in `AppCard` component
  packages/app-store/_components/AppCard.tsx
Labels: 🐛 bug, ✅ good first issue, app-store, Low priority, i18n, community, ready-for-e2e

#23364 fix: dutch appearing in booking field name
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/transformers/internal-to-api/booking-fields.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/transformers/internal-to-api/internal-to-api.spec.ts
  apps/api/v2/src/modules/organizations/event-types/organizations-event-types.e2e-spec.ts
Labels: 🐛 bug, platform, event-types, core, ready-for-e2e

#23411 chore: Remove payment fee from `chargeCard`
  packages/app-store/stripepayment/lib/PaymentService.ts
Labels: enterprise, billing, core, ready-for-e2e

#23343 fix: Missing personal event types in All filter
  packages/features/insights/server/__tests__/trpc-router.test.ts
  packages/features/insights/server/trpc-router.ts
Labels: 🐛 bug, event-types, community, consumer, ready-for-e2e

#23423 chore: CODEOWNER change for /apps/web/lib files
  .github/CODEOWNERS
Labels: core, foundation, ready-for-e2e

#23381 feat: add Recent No-Show Guests chart to insights page
  apps/web/modules/insights/insights-view.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/insights/components/ChartCard.tsx
  packages/features/insights/components/booking/RecentNoShowGuestsChart.tsx
  packages/features/insights/components/booking/index.ts
  packages/features/insights/server/trpc-router.ts
  packages/lib/server/service/InsightsBookingBaseService.ts
  packages/ui/components/card/PanelCard.tsx
Labels: ✨ feature, insights, core, consumer, ready-for-e2e

#21983 fix: type error in the `EventAvailabilityTabPlatformWrapper` component
  packages/features/eventtypes/components/tabs/availability/EventAvailabilityTab.tsx
  packages/platform/atoms/event-types/wrappers/EventAvailabilityTabPlatformWrapper.tsx
Labels: 🐛 bug, Low priority, platform, Stale, event-types, 💻 refactor, community, ready-for-e2e

#23420 refactor: add logging in getCalEventResponses
  packages/features/bookings/lib/getCalEventResponses.ts
Labels: enterprise, bookings, core, 💻 refactor, ready-for-e2e

#23440 feat: (PBAC) Introduce depends on permission registery
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/roles/_components/usePermissions.ts
  packages/features/pbac/domain/types/permission-registry.ts
  packages/features/pbac/utils/permissionTraversal.ts
Labels: ✨ feature, core, consumer, ready-for-e2e

#23367 feat(teams): show org upgrade tip for one team and add singular copy on /teams
  apps/web/public/static/locales/en/common.json
  packages/features/ee/teams/components/TeamList.tsx
  packages/lib/constants.ts
Labels: teams, i18n, core, consumer, ready-for-e2e

#23444 refactor: small improvements for cal ai
  apps/web/public/static/locales/en/common.json
  packages/features/calAIPhone/providers/retellAI/services/AgentService.ts
  packages/features/ee/workflows/components/AgentConfigurationSheet.tsx
  packages/lib/formatPhoneNumber.ts
  packages/lib/server/repository/PrismaApiKeyRepository.ts
  packages/trpc/server/routers/viewer/workflows/update.handler.ts
Labels: enterprise, core, 💻 refactor, ready-for-e2e

#23429 fix: Allow install on teams for concurrent meeting apps
  apps/web/components/apps/AppPage.tsx
  apps/web/lib/apps/installation/[[...step]]/getServerSideProps.ts
  packages/features/apps/components/AppCard.tsx
Labels: teams, enterprise, core, ready-for-e2e

#23447 fix: unable to cancel seated event due to booking responses
  packages/trpc/server/routers/viewer/bookings/editLocation.handler.ts
Labels: 🐛 bug, bookings, core, ready-for-e2e

#23449 refactor: Remove app store index
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  packages/app-store/index.ts
  tests/libs/__mocks__/app-store.ts
Labels: app-store, enterprise, core, 💻 refactor, ready-for-e2e

#23357 fix: remove event type URL for managed event types
  apps/web/lib/team/[slug]/[type]/getServerSideProps.tsx
  apps/web/modules/event-types/views/event-types-listing-view.tsx
Labels: 🐛 bug, Medium priority, event-types, community, consumer, ready-for-e2e

#23454 fix: unordered list issue
  packages/lib/markdownToSafeHTML.ts
  packages/lib/markdownToSafeHTMLClient.ts
Labels: 🧹 Improvements, Low priority, ui, community, ready-for-e2e

#23191 feat: Add search functionality for variables in workflow
  apps/web/public/static/locales/en/common.json
  packages/ui/components/editor/plugins/AddVariablesDropdown.tsx
Labels: ✨ feature, Low priority, workflows, ui, community, ready-for-e2e

#23304 refactor: error message for notification subscription failure
  packages/features/notifications/WebPushContext.tsx
Labels: 🐛 bug, 🧹 Improvements, community, ready-for-e2e

#23221 fix: Created Availability is not displayed after browser back navigation
  packages/features/schedules/components/NewScheduleButton.tsx
Labels: 🐛 bug, bookings, community, ready-for-e2e

#23479 fix: cancel event button for each booking on bookings page
  apps/web/components/booking/BookingListItem.tsx
Labels: 🐛 bug, Low priority, teams, bookings, community, ready-for-e2e
