Repository calcom/cal.com, pull requests merged in 2025-09, with the labels that each got.

#23443 fix: fixes PBAC roles creation and update when adding Attributes
  packages/features/pbac/domain/types/__tests__/permission-registry.test.ts
  packages/features/pbac/domain/types/permission-registry.ts
  packages/features/pbac/infrastructure/repositories/PermissionRepository.ts
  packages/features/pbac/infrastructure/repositories/RoleRepository.ts
  packages/features/pbac/services/__tests__/permission-diff.service.test.ts
  packages/features/pbac/services/permission-diff.service.ts
  packages/features/pbac/services/permission.service.ts
  packages/trpc/server/routers/viewer/pbac/_router.tsx
Labels: 🐛 bug, core, consumer, ready-for-e2e

#23445 feat: enable italian for atoms
  .changeset/brave-bees-bake.md
  docs/platform/atoms/cal-provider.mdx
  packages/platform/atoms/cal-provider/BaseCalProvider.tsx
  packages/platform/atoms/cal-provider/languages.ts
Labels: ✨ feature, platform, core, ready-for-e2e

#23485 perf: separate task creation from processing to eliminate compilation overhead
  packages/features/tasker/README.md
  packages/features/tasker/api/cron.ts
  packages/features/tasker/internal-tasker.ts
  packages/features/tasker/task-processor.ts
  packages/features/tasker/tasker.ts
Labels: core, 💻 refactor, foundation, ready-for-e2e

#23491 fix: Plain chat not opening from help button for free users and on bookings list page
  apps/web/components/plain/PlainContactForm.tsx
  apps/web/components/plain/__tests__/PlainContactForm.test.tsx
  apps/web/components/plain/plainChat.tsx
  apps/web/lib/hooks/useIsBookingPage.ts
  packages/features/shell/user-dropdown/UserDropdown.tsx
Labels: 🐛 bug, core, ready-for-e2e

#23462 feat: Allow disabling auto-scroll using ui.disable-auto-scroll
  packages/embeds/embed-core/src/embed-iframe.ts
  packages/embeds/embed-core/src/lib/utils.ts
  packages/embeds/embed-core/src/types.ts
  packages/features/bookings/Booker/Booker.tsx
Labels: ✨ feature, enterprise, Urgent, booking-page, core, ready-for-e2e

#23390 feat: add toggleable legend functionality to ChartCard components
  packages/features/insights/components/ChartCard.tsx
  packages/features/insights/components/booking/EventTrendsChart.tsx
  packages/features/insights/components/routing/RoutingFunnel.tsx
  packages/features/insights/components/routing/RoutingFunnelContent.tsx
  packages/features/insights/hooks/useToggleableLegend.ts
Labels: ✨ feature, insights, ui, core, consumer, ready-for-e2e

#23366 feat: add collapsible support to PanelCard component
  apps/web/public/static/locales/en/common.json
  packages/features/insights/components/ChartCard.tsx
  packages/ui/components/card/PanelCard.tsx
Labels: ✨ feature, insights, ui, core, consumer, ready-for-e2e

#22276 fix: regex and id extraction for giphy media urls
  packages/app-store/giphy/api/get.ts
Labels: 🐛 bug, app-store, Low priority, event-types, community, ready-for-e2e

#23489 fix: e2e test - wait for session to load next step
  apps/web/playwright/booking-pages.e2e.ts
  apps/web/playwright/fixtures/users.ts
Labels: 🐛 bug, automated-tests, core, consumer, ready-for-e2e

#23439 chore: CSRF protect cancel functionality
  apps/web/app/api/cancel/route.ts
  apps/web/app/api/csrf/route.ts
  apps/web/components/booking/CancelBooking.tsx
  apps/web/playwright/booking-pages.e2e.ts
  packages/prisma/zod-utils.ts
Labels: core, ready-for-e2e

#23166 fix: add new backfill script for RoutingFormResponseDenormalized
  packages/prisma/migrations/20250818151914_routing_form_response_denormalized_backfill2/migration.sql
Labels: ❗️ migrations, core, consumer, ready-for-e2e

#23502 fix: Vitest is being bundled to client + bump lingo.dev version
  apps/web/lib/pages/auth/verify-email.test.ts
  apps/web/lib/pages/auth/verify-email.ts
  apps/web/lib/pages/document/_applyThemeForDocument.test.ts
  apps/web/lib/pages/document/_applyThemeForDocument.ts
  apps/web/package.json
  apps/web/pages/_document.tsx
  apps/web/pages/api/auth/verify-email.ts
  packages/lib/package.json
  packages/lib/server/service/lingoDotDev.ts
  packages/ui/package.json
  yarn.lock
Labels: 🐛 bug, core, foundation, ready-for-e2e

#22899 feat: add iCalSequence to new booking data
  packages/features/bookings/lib/handleNewBooking/createBooking.ts
Labels: 🐛 bug, ✨ feature, Low priority, Stale, bookings, webhooks, community, consumer, ready-for-e2e, community-interns

#23512 fix: update E2E Atoms workflow naming to match convention
  .github/workflows/e2e-atoms.yml
Labels: ci, core, foundation, ready-for-e2e

#23518 chore: add eslint rules to avoid importing from app-store
  .eslintrc.js
Labels: core, foundation, ready-for-e2e

#23520 chore: avoid circular deps
  .eslintrc.js
  package.json
  yarn.lock
Labels: ⬆️ dependencies, core, 💻 refactor, foundation, ready-for-e2e

#23169 feat: add delete recording script
  packages/app-store/dailyvideo/lib/scripts/deleteRecordings.ts
Labels: ✨ feature, app-store, enterprise, core, ready-for-e2e

#23525 fix(workflows): hide organizer email in workflow emails (#23392)
  packages/features/ee/workflows/api/scheduleEmailReminders.ts
  packages/features/ee/workflows/lib/reminders/emailReminderManager.ts
Labels: 🐛 bug, Medium priority, workflows, emails, community, ready-for-e2e, size/S

#23523 Fix : Resolve UI inconsistency in reset button
  packages/ui/components/form/color-picker/colorpicker.tsx
Labels: 🧹 Improvements, community, ready-for-e2e

#23448 feat: Make single org setup more reliable by automatically adjusting RESERVED_SUBDOMAINS and ORGANIZATIONS_ENABLED
  apps/web/next.config.js
Labels: ✨ feature, enterprise, core, ready-for-e2e

#23531 perf: Remove next-i18next dependency from packages/emails and packages/lib
  packages/emails/package.json
  packages/emails/src/templates/CreditBalanceLimitReachedEmail.tsx
  packages/emails/src/templates/CreditBalanceLowWarningEmail.tsx
  packages/features/CalendarEventBuilder.test.ts
  packages/features/CalendarEventBuilder.ts
  packages/lib/package.json
Labels: ⬆️ dependencies, i18n, core, 💻 refactor, foundation, ready-for-e2e, size/S

#23537 feat: dogfood pbac internally on IS_CALCOM instances
  packages/features/pbac/services/__tests__/permission-check.service.test.ts
  packages/features/pbac/services/permission-check.service.ts
Labels: ✨ feature, core, consumer, ready-for-e2e, size/L

#22667 fix: Disable cancel button for past bookings
  apps/web/components/booking/bookingActions.test.ts
  apps/web/components/booking/bookingActions.ts
  apps/web/modules/bookings/views/bookings-single-view.tsx
  apps/web/playwright/booking-pages.e2e.ts
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/features/bookings/lib/handleCancelBooking/test/handleCancelBooking.test.ts
Labels: 🐛 bug, ✨ feature, 🧹 Improvements, linear, Medium priority, bookings, community, consumer, ready-for-e2e, size/L

#23556 fix: make CSRF cookies accessible in embedded iframe contexts
  apps/web/app/api/csrf/route.ts
Labels: 🐛 bug, authentication, core, ready-for-e2e, size/S

#21413 fix: Do not fallback to existing db value if input is null for settings.
  packages/platform/atoms/event-types/hooks/useEventTypeForm.ts
  packages/trpc/server/routers/viewer/eventTypes/update.handler.ts
Labels: 🐛 bug, Low priority, platform, Stale, seats, event-types, community, ready-for-e2e

#23565 chore: add max-warnings to avoid pushing new warns
  package.json
Labels: core, foundation, ready-for-e2e, size/XS

#23553 fix: delete team bug when instant meeting token exist
  packages/prisma/migrations/20250903165210_add_on_cascade/migration.sql
  packages/prisma/schema.prisma
Labels: 🐛 bug, ❗️ migrations, High priority, enterprise, core, ready-for-e2e, size/XS

#23566 fix: Avoid using prisma types on client
  packages/lib/redactError.ts
Labels: 🐛 bug, core, foundation, ready-for-e2e, size/S

#21345 fix: no show webhook triggers not updating
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/features/bookings/lib/handleConfirmation.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/scheduleNoShowTriggers.ts
  packages/features/webhooks/lib/scheduleTrigger.ts
  packages/trpc/server/routers/loggedInViewer/connectAndJoin.handler.ts
  packages/trpc/server/routers/viewer/bookings/requestReschedule.handler.ts
  packages/trpc/server/routers/viewer/webhook/edit.handler.ts
Labels: 🐛 bug, Medium priority, enterprise, webhooks, community, ready-for-e2e, community-interns

#22146 fix: clicking on previous step navigates to correct step instead of next
  apps/web/modules/getting-started/[[...step]]/onboarding-view.tsx
  packages/ui/components/form/step/Steps.tsx
  packages/ui/components/form/step/steps.test.tsx
  packages/ui/components/form/wizard/WizardForm.tsx
  packages/ui/components/form/wizard/useWizardState.ts
  packages/ui/components/layout/WizardLayout.tsx
Labels: 🐛 bug, Low priority, ui, community, ready-for-e2e, size/M

#23476 fix: resolve undefined {CANCEL_URL} in workflow templates
  packages/features/bookings/lib/handleSeats/handleSeats.ts
  packages/features/ee/workflows/lib/reminders/emailReminderManager.ts
Labels: 🐛 bug, Low priority, bookings, workflows, emails, community, ready-for-e2e, size/S

#21231 feat: zod schemas for app metadata in config.json
  packages/app-store-cli/src/build.ts
  packages/types/AppMetaSchema.ts
Labels: ✨ feature, ✅ good first issue, app-store, ⚡ Quick Wins, Low priority, Stale, community, ready-for-e2e, size/L

#23572 fix: missing step causes `Invalid rewrites found` in local API docs
  docs/developing/guides/api/how-to-setup-api-in-a-local-instance.mdx
Labels: 🐛 bug, docs, ❗️ .env changes, community, ready-for-e2e, size/XS

#23068 feat: add 5 new workflow triggers for booking events
  apps/api/v2/src/modules/workflows/inputs/create-workflow.input.ts
  apps/api/v2/src/modules/workflows/inputs/update-workflow.input.ts
  apps/api/v2/src/modules/workflows/inputs/workflow-trigger.input.ts
  apps/api/v2/swagger/documentation.json
  apps/web/playwright/fixtures/workflows.ts
  apps/web/playwright/workflow.e2e.ts
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/lib/handleBookingRequested.ts
  packages/features/bookings/lib/handleCancelBooking/test/handleCancelBooking.test.ts
  packages/features/bookings/lib/handleConfirmation.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/test/fresh-booking.test.ts
  packages/features/bookings/lib/handleSeats/handleSeats.ts
  packages/features/ee/workflows/lib/constants.ts
  packages/features/ee/workflows/lib/reminders/emailReminderManager.ts
  packages/features/ee/workflows/lib/reminders/reminderScheduler.ts
  packages/features/ee/workflows/lib/reminders/smsReminderManager.ts
  packages/features/ee/workflows/lib/reminders/utils.ts
  packages/features/ee/workflows/lib/reminders/whatsappReminderManager.ts
  packages/features/handleMarkNoShow.ts
  packages/lib/payment/getBooking.ts
  packages/lib/server/service/workflows.ts
  packages/prisma/migrations/20250813182504_adding_booking_triggers_to_workflows/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/bookings/confirm.handler.test.ts
  packages/trpc/server/routers/viewer/bookings/confirm.handler.ts
  packages/trpc/server/routers/viewer/payments.tsx
Labels: ✨ feature, ❗️ migrations, High priority, bookings, workflows, core, consumer, ready-for-e2e, size/XXL

#22766 feat: enhance image upload validation across the application
  apps/api/v1/pages/api/users/[userId]/_patch.ts
  apps/web/app/api/avatar/[uuid]/route.ts
  apps/web/public/static/locales/en/common.json
  packages/app-store/_utils/oauth/updateProfilePhotoGoogle.ts
  packages/lib/constants.ts
  packages/lib/imageValidationConstants.ts
  packages/lib/server/avatar.ts
  packages/lib/server/imageValidation.test.ts
  packages/lib/server/imageValidation.ts
  packages/trpc/server/routers/viewer/me/updateProfile.handler.ts
  packages/trpc/server/routers/viewer/organizations/update.handler.ts
  packages/trpc/server/routers/viewer/organizations/updateUser.handler.ts
  packages/ui/components/image-uploader/BannerUploader.tsx
  packages/ui/components/image-uploader/ImageUploader.tsx
  packages/ui/components/image-uploader/imageValidation.test.ts
  packages/ui/components/image-uploader/imageValidation.ts
Labels: ✨ feature, 🧹 Improvements, community, ready-for-e2e, community-interns, size/XXL

#23568 fix: make sure the email is in lowercase when updating profile
  apps/web/modules/settings/my-account/profile-view.tsx
Labels: 🐛 bug, ✨ feature, app-store, core, consumer, ready-for-e2e, size/XS

#23589 chore: bump platform libs to 0.0.338
  apps/api/v2/package.json
  yarn.lock
Labels: platform, core, foundation, ready-for-e2e, size/S

#23578 refactor: handle emails and sms side effects
  apps/api/v2/package.json
  packages/features/bookings/lib/BookingEmailSmsHandler.ts
  packages/features/bookings/lib/handleNewBooking.ts
  yarn.lock
Labels: platform, bookings, core, 💻 refactor, foundation, ready-for-e2e, size/XL

#23551 fix: resolve Sentry version conflicts and import-in-the-middle error
  apps/api/v2/package.json
  package.json
  yarn.lock
Labels: ⬆️ dependencies, core, foundation, ready-for-e2e, size/XXL

#23633 fix: all e2e flakes [WIP]
  apps/web/playwright/change-theme.e2e.ts
  apps/web/playwright/workflow.e2e.ts
Labels: automated-tests, core, ready-for-e2e, size/S

#23617 perf: optimize public event query by using lightweight session lookup
  packages/trpc/server/middlewares/sessionMiddleware.ts
  packages/trpc/server/routers/publicViewer/procedures/event.ts
Labels: performance, core, foundation, ready-for-e2e, size/S

#23648 fix: unit test flake
  packages/app-store/googlecalendar/lib/__tests__/CalendarService.test.ts
Labels: automated-tests, core, ready-for-e2e, size/XS

#23536 refactor: Migrate trpc routers in App store package to Trpc package
  apps/web/pages/api/trpc/appBasecamp3/[trpc].ts
  apps/web/pages/api/trpc/appRoutingForms/[trpc].ts
  packages/app-store/basecamp3/trpc-router.ts
  packages/app-store/routing-forms/lib/formSubmissionUtils.test.ts
  packages/app-store/routing-forms/lib/formSubmissionUtils.ts
  packages/app-store/routing-forms/trpc-router.ts
  packages/app-store/routing-forms/trpc/utils.ts
  packages/features/tasker/tasks/triggerFormSubmittedNoEvent/triggerFormSubmittedNoEventWebhook.ts
  packages/trpc/server/routers/apps/basecamp3/_router.ts
  packages/trpc/server/routers/apps/basecamp3/projectMutation.handler.ts
  packages/trpc/server/routers/apps/basecamp3/projectMutation.schema.ts
  packages/trpc/server/routers/apps/basecamp3/projects.handler.ts
  packages/trpc/server/routers/apps/routing-forms/_router.ts
  packages/trpc/server/routers/apps/routing-forms/deleteForm.handler.ts
  packages/trpc/server/routers/apps/routing-forms/deleteForm.schema.ts
  packages/trpc/server/routers/apps/routing-forms/formMutation.handler.ts
  packages/trpc/server/routers/apps/routing-forms/formMutation.schema.ts
  packages/trpc/server/routers/apps/routing-forms/formQuery.handler.ts
  packages/trpc/server/routers/apps/routing-forms/formQuery.schema.ts
  packages/trpc/server/routers/apps/routing-forms/forms.handler.ts
  packages/trpc/server/routers/apps/routing-forms/forms.schema.ts
  packages/trpc/server/routers/apps/routing-forms/getAttributesForTeam.handler.ts
  packages/trpc/server/routers/apps/routing-forms/getAttributesForTeam.schema.ts
  packages/trpc/server/routers/apps/routing-forms/getIncompleteBookingSettings.handler.ts
  packages/trpc/server/routers/apps/routing-forms/getIncompleteBookingSettings.schema.ts
  packages/trpc/server/routers/apps/routing-forms/getResponseWithFormFields.handler.ts
  packages/trpc/server/routers/apps/routing-forms/permissions.ts
  packages/trpc/server/routers/apps/routing-forms/procedures/forms.ts
  packages/trpc/server/routers/apps/routing-forms/saveIncompleteBookingSettings.handler.ts
  packages/trpc/server/routers/apps/routing-forms/saveIncompleteBookingSettings.schema.ts
  packages/trpc/server/routers/viewer/_router.tsx
  packages/trpc/server/routers/viewer/workflows/workflowOrder.handler.ts
Labels: core, 💻 refactor, foundation, ready-for-e2e, size/XL

#23665 chore: add an eslint rule to warn importing trpc package in app store package
  .eslintrc.js
Labels: core, foundation, ready-for-e2e, size/S

#23655 refactor: Move StripeService from `@calcom/lib` and `@calcom/features`
  apps/web/app/(use-page-wrapper)/auth/verify/page.tsx
  packages/features/ee/payments/server/stripe-service.ts
  packages/trpc/server/routers/publicViewer/stripeCheckoutSession.handler.ts
Labels: core, 💻 refactor, foundation, ready-for-e2e, size/M

#23668 fix: unit test flakiness
  packages/app-store/googlecalendar/lib/__tests__/CalendarService.test.ts
Labels: core, ready-for-e2e, size/XS

#23514 fix: v2 seated bookings
  apps/api/v2/package.json
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/booking-fields.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/seated-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/bookings.service.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/output.service.ts
  packages/lib/CalEventParser.ts
  yarn.lock
Labels: 🐛 bug, platform, bookings, core, ready-for-e2e, size/L

#23669 refactor: Do not import app-store in `getServerErrorFromUnknown`
  packages/app-store/_utils/stripe.types.ts
  packages/lib/server/getServerErrorFromUnknown.ts
  packages/lib/stripe-error.ts
Labels: core, 💻 refactor, foundation, ready-for-e2e, size/M

#23666 refactor: Migrate `getRoutedUrl` from `@calcom/lib` to `@calcom/features`
  apps/api/v2/package.json
  apps/web/pages/api/router/index.ts
  apps/web/server/lib/router/getServerSideProps.ts
  packages/features/routing-forms/lib/getRoutedUrl.test.ts
  packages/features/routing-forms/lib/getRoutedUrl.ts
  packages/platform/libraries/index.ts
  yarn.lock
Labels: core, 💻 refactor, foundation, ready-for-e2e, size/S

#23680 fix: workflows attach ICS file in base64 format
  packages/features/ee/workflows/api/scheduleEmailReminders.ts
  packages/features/ee/workflows/lib/reminders/emailReminderManager.ts
Labels: 🐛 bug, workflows, core, ready-for-e2e, size/XS

#23613 fix: change internal note preset team fkey to cascade
  packages/prisma/migrations/20250905082756_change_internal_note_preset_team_fkey_to_cascade/migration.sql
  packages/prisma/schema.prisma
Labels: ❗️ migrations, core, ready-for-e2e, size/XS

#23630 fix: send awaiting payment email only to the current attendee seat
  packages/app-store/stripepayment/lib/PaymentService.ts
  packages/features/bookings/lib/handleSeats/create/createNewSeat.ts
  packages/features/bookings/lib/handleSeats/types.d.ts
Labels: seats, billing, core, ready-for-e2e, size/M

#23685 fix: misaligned buttons in platform oauth client update form
  apps/web/components/settings/platform/oauth-clients/oauth-client-form/index.tsx
Labels: 🐛 bug, platform, community, ready-for-e2e, size/XS

#23647 fix: Don’t allow hosts to cancel a booking without providing a reason through v1
  apps/api/v1/lib/validations/booking.ts
Labels: 🐛 bug, platform, bookings, core, ready-for-e2e, size/XS

#23285 feat: implement tiered Intercom chat system replacing Plain
  .env.example
  apps/web/app/api/customer-card/route.ts
  apps/web/app/api/plain-hash/route.ts
  apps/web/app/api/support/__tests__/route.test.ts
  apps/web/app/api/support/conversation/route.ts
  apps/web/app/api/support/hash/route.ts
  apps/web/app/api/support/route.ts
  apps/web/app/api/support/upload/route.ts
  apps/web/app/providers.tsx
  apps/web/components/plain/PlainContactForm.tsx
  apps/web/components/plain/__tests__/PlainContactForm.test.tsx
  apps/web/components/plain/plainChat.tsx
  apps/web/lib/app-providers-app-dir.tsx
  apps/web/lib/app-providers.tsx
  apps/web/lib/plain/card-components.ts
  apps/web/lib/plain/dynamicProvider.tsx
  apps/web/lib/plain/plain.ts
  apps/web/modules/settings/billing/billing-view.tsx
  apps/web/modules/settings/platform/billing/billing-view.tsx
  apps/web/next.config.js
  apps/web/package.json
  apps/web/public/static/locales/en/common.json
  apps/web/test/lib/plainTiers.test.ts
  packages/features/ee/support/components/IntercomContactForm.tsx
  packages/features/ee/support/lib/intercom/intercom.ts
  packages/features/ee/support/lib/intercom/provider.tsx
  packages/features/ee/support/lib/intercom/providerDynamic.tsx
  packages/features/ee/support/lib/intercom/useIntercom.ts
  packages/features/flags/config.ts
  packages/features/flags/hooks/index.ts
  packages/features/shell/user-dropdown/UserDropdown.tsx
  packages/lib/constants.ts
  packages/platform/examples/base/src/pages/event-types.tsx
  packages/prisma/migrations/20250905121358_add_feature_flag_tiered_support_chat/migration.sql
  turbo.json
  yarn.lock
Labels: ✨ feature, ❗️ migrations, platform, ❗️ .env changes, api, core, ready-for-e2e, size/XXL

#23658 fix: duplicate event created in attendee calendar due to incorrect icalUid
  packages/features/ee/round-robin/handleRescheduleEventManager.ts
  packages/features/ee/round-robin/roundRobinManualReassignment.ts
  packages/features/ee/round-robin/roundRobinReassignment.ts
Labels: 🐛 bug, Low priority, teams, bookings, community, ready-for-e2e, size/XS

#23692 perf: move to disable prisma client extension inference
  apps/api/v1/pages/api/credential-sync/_patch.ts
  apps/api/v1/pages/api/credential-sync/_post.ts
  apps/api/v1/test/lib/attendees/_post.test.ts
  apps/api/v1/test/lib/bookings/[id]/_delete.test.ts
  apps/api/v1/test/lib/bookings/[id]/_patch.test.ts
  apps/api/v1/test/lib/bookings/_get.test.ts
  apps/api/v1/test/lib/bookings/_post.test.ts
  apps/api/v1/test/lib/event-types/[id]/_delete.test.ts
  apps/api/v1/test/lib/event-types/[id]/_get.test.ts
  apps/web/playwright/lib/test-helpers/routingFormHelpers.ts
  packages/app-store/_utils/oauth/updateTokenObject.ts
  packages/app-store/nextcloudtalk/lib/VideoApiAdapter.ts
  packages/app-store/zoomvideo/lib/VideoApiAdapter.ts
  packages/features/flags/features.repository.ts
  packages/features/insights/server/trpc-router.ts
  packages/lib/server/repository/booking.ts
  packages/lib/server/repository/delegationCredential.ts
  packages/lib/server/repository/membership.ts
  packages/lib/server/repository/workspacePlatform.ts
  packages/lib/server/service/InsightsBookingBaseService.ts
  packages/lib/server/service/InsightsRoutingBaseService.ts
  packages/lib/server/service/InsightsRoutingDIService.ts
  packages/prisma/extensions/usage-tracking.ts
  packages/prisma/index.ts
Labels: 🧹 Improvements, core, foundation, ready-for-e2e, size/XL

#23584 fix: v2 hidden event types
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/controllers/event-types.controller.e2e-spec.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/controllers/event-types.controller.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/event-types.repository.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/event-types.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/output-event-types.service.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
Labels: 🐛 bug, platform, event-types, core, ready-for-e2e, size/XXL

#23592 feat: add PBAC permission checks to insights
  apps/web/app/(use-page-wrapper)/insights/checkInsightsPagePermission.ts
  apps/web/app/(use-page-wrapper)/insights/layout.tsx
  apps/web/app/(use-page-wrapper)/insights/page.tsx
  apps/web/app/(use-page-wrapper)/insights/router-position/page.tsx
  apps/web/app/(use-page-wrapper)/insights/routing/page.tsx
  packages/features/insights/server/hasInsightsPermission.ts
  packages/features/insights/server/routing-events.ts
  packages/features/insights/server/trpc-router.ts
Labels: ✨ feature, routing-forms, insights, core, consumer, ready-for-e2e, size/L

#23707 fix: org layout authentication
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/(org-admin-only)/attributes/[id]/edit/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/(org-admin-only)/attributes/create/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/(org-admin-only)/attributes/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/(org-admin-only)/billing/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/(org-admin-only)/delegation-credential/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/(org-admin-only)/dsync/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/(org-admin-only)/privacy/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/(org-admin-only)/sso/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/actions/validateUserHasOrg.test.ts
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/actions/validateUserHasOrg.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/actions/validateUserHasOrgAdmin.test.ts
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/actions/validateUserHasOrgAdmin.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/admin-api/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/general/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/layout.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/profile/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/roles/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/teams/other/(main-page)/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/teams/other/[id]/appearance/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/teams/other/[id]/members/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/teams/other/[id]/profile/page.tsx
Labels: authentication, core, consumer, ready-for-e2e, size/XL

#23686 feat: add `customReplyToEmail` for EventTypeSettings atom
  .changeset/sour-nights-speak.md
  apps/api/v2/src/modules/atoms/atoms.module.ts
  apps/api/v2/src/modules/atoms/atoms.repository.ts
  apps/api/v2/src/modules/atoms/controllers/atoms.verification.controller.ts
  apps/api/v2/src/modules/atoms/inputs/add-verified-email.input.ts
  apps/api/v2/src/modules/atoms/inputs/get-verified-emails-params.ts
  apps/api/v2/src/modules/atoms/outputs/get-verified-emails-output.ts
  apps/api/v2/src/modules/atoms/services/verification-atom.service.ts
  apps/api/v2/src/modules/teams/teams/teams.repository.ts
  apps/web/public/static/locales/en/common.json
  packages/features/eventtypes/components/AddVerifiedEmail.tsx
  packages/features/eventtypes/components/tabs/advanced/EventAdvancedTab.tsx
  packages/platform/atoms/event-types/hooks/useAddVerifiedEmail.ts
  packages/platform/atoms/event-types/hooks/useGetVerifiedEmails.ts
  packages/platform/atoms/event-types/wrappers/EventAdvancedPlatformWrapper.tsx
  packages/platform/atoms/lib/appendClientIdToEmail.ts
Labels: platform, event-types, core, ready-for-e2e, size/XL

#23713 fix: intercom showing on cal video page
  packages/features/ee/support/lib/intercom/provider.tsx
Labels: 🐛 bug, core, ready-for-e2e, size/XS

#23643 fix: conventional left aligned dropdown
  packages/ui/components/dropdown/Dropdown.tsx
Labels: 🧹 Improvements, community, ready-for-e2e, size/XS

#23719 docs: add knowledge base against unnecessary Day.js usage
  .agents/knowledge-base.md
Labels: docs, core, consumer, ready-for-e2e, size/XS

#23733 fix: Ignore bot requests for headless router
  apps/web/package.json
  apps/web/server/lib/router/getServerSideProps.ts
  yarn.lock
Labels: enterprise, routing-forms, core, ready-for-e2e, size/M

#23732 chore: update vitest
  package.json
  yarn.lock
Labels: ⬆️ dependencies, enterprise, core, ready-for-e2e, size/L

#23739 revert: fix(workflows): hide organizer email in workflow emails (#23392)
  packages/features/ee/workflows/api/scheduleEmailReminders.ts
  packages/features/ee/workflows/lib/reminders/emailReminderManager.ts
Labels: 🐛 bug, workflows, core, foundation, ready-for-e2e, size/S

#23527 feat: add web phone call for cal ai
  apps/web/package.json
  apps/web/public/icons/sprite.svg
  apps/web/public/static/locales/en/common.json
  packages/features/calAIPhone/interfaces/AIPhoneService.interface.ts
  packages/features/calAIPhone/providers/retellAI/RetellAIPhoneServiceProvider.ts
  packages/features/calAIPhone/providers/retellAI/RetellAIService.ts
  packages/features/calAIPhone/providers/retellAI/RetellSDKClient.ts
  packages/features/calAIPhone/providers/retellAI/services/CallService.ts
  packages/features/calAIPhone/providers/retellAI/types.ts
  packages/features/ee/workflows/components/AgentConfigurationSheet.tsx
  packages/features/ee/workflows/components/TestPhoneCallDialog.tsx
  packages/features/ee/workflows/components/WebCallDialog.tsx
  packages/features/ee/workflows/components/WorkflowStepContainer.tsx
  packages/trpc/server/routers/viewer/aiVoiceAgent/_router.ts
  packages/trpc/server/routers/viewer/aiVoiceAgent/createWebCall.handler.ts
  packages/trpc/server/routers/viewer/aiVoiceAgent/createWebCall.schema.ts
  packages/trpc/server/routers/viewer/credits/_router.tsx
  packages/trpc/server/routers/viewer/credits/hasAvailableCredits.handler.ts
  packages/trpc/server/routers/viewer/credits/hasAvailableCredits.schema.ts
  packages/ui/components/icon/icon-list.mjs
  packages/ui/components/icon/icon-names.ts
  yarn.lock
Labels: ✨ feature, High priority, enterprise, core, ai, ready-for-e2e, size/XXL

#23814 fix: platform library export-verifyEmailCodeUnAuthenticated
  apps/api/v2/package.json
  apps/api/v2/src/modules/atoms/services/verification-atom.service.ts
  packages/platform/libraries/index.ts
  packages/trpc/server/routers/viewer/auth/util.ts
  packages/trpc/server/routers/viewer/auth/verifyCodeUnAuthenticated.handler.ts
  yarn.lock
Labels: 🐛 bug, platform, core, foundation, ready-for-e2e, size/S

#23793 docs: update insights chart dev guide for Prisma v6
  docs/developing/guides/insights/add-new-booking-charts.mdx
  packages/features/insights/HOW_TO_ADD_BOOKING_CHARTS.md
Labels: docs, core, consumer, ready-for-e2e, size/M

#23742 refactor: circular deps between app store and lib [3]
  apps/api/v2/package.json
  apps/api/v2/src/modules/atoms/controllers/atoms.verification.controller.ts
  apps/web/app/(use-page-wrapper)/payment/[uid]/PaymentPage.tsx
  apps/web/components/booking/BookingListItem.tsx
  apps/web/components/booking/CancelBooking.tsx
  apps/web/components/booking/__tests__/CancelBooking.cancellationFee.test.tsx
  packages/app-store/_utils/getConnectedApps.ts
  packages/app-store/_utils/getEnabledAppsFromCredentials.ts
  packages/app-store/_utils/payments/getPaymentAppData.ts
  packages/app-store/_utils/payments/handlePaymentSuccess.ts
  packages/app-store/server.ts
  packages/features/bookings/Booker/components/BookEventForm/BookEventForm.tsx
  packages/features/bookings/components/AvailableTimes.tsx
  packages/features/bookings/components/event-meta/Details.tsx
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/features/bookings/lib/handleCancelBooking/test/handleCancelBooking.test.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/types.ts
  packages/features/bookings/lib/payment/deletePayment.ts
  packages/features/bookings/lib/payment/getBooking.ts
  packages/features/bookings/lib/payment/handleNoShowFee.test.ts
  packages/features/bookings/lib/payment/handleNoShowFee.ts
  packages/features/bookings/lib/payment/handlePaymentRefund.ts
  packages/features/bookings/lib/payment/handleRefundError.ts
  packages/features/bookings/lib/payment/processNoShowFeeOnCancellation.test.ts
  packages/features/bookings/lib/payment/processNoShowFeeOnCancellation.ts
  packages/features/bookings/lib/payment/processPaymentRefund.test.ts
  packages/features/bookings/lib/payment/processPaymentRefund.ts
  packages/features/bookings/lib/payment/shouldChargeNoShowCancellationFee.test.ts
  packages/features/bookings/lib/payment/shouldChargeNoShowCancellationFee.ts
  packages/features/credentials/handleDeleteCredential.ts
  packages/features/ee/payments/api/webhook.ts
  packages/features/eventtypes/components/EventTypeDescription.tsx
  packages/features/eventtypes/components/tabs/instant/EventInstantTab.tsx
  packages/features/eventtypes/components/tabs/recurring/EventRecurringTab.tsx
  packages/platform/atoms/event-types/hooks/usePlatformTabsNavigations.tsx
  packages/platform/atoms/event-types/hooks/useTabsNavigations.tsx
  packages/platform/atoms/event-types/payments/PaymentForm.tsx
  packages/platform/libraries/app-store.ts
  packages/trpc/server/routers/viewer/bookings/confirm.handler.ts
  packages/trpc/server/routers/viewer/payments/chargeCard.handler.ts
  yarn.lock
Labels: app-store, booking-page, core, 💻 refactor, foundation, ready-for-e2e, size/L

#23651 feat: cal ai promo design
  apps/ui-playground/app/global.css
  apps/web/app/(use-page-wrapper)/workflow/new/page.tsx
  apps/web/playwright/fixtures/workflows.ts
  apps/web/playwright/icons.e2e.ts
  apps/web/playwright/icons.e2e.ts-snapshots/icons--calcom-web-linux.png
  apps/web/public/cal-ai-banner.svg
  apps/web/public/cal-ai-workflow-sidebar.jpg
  apps/web/public/call-outgoing.svg
  apps/web/public/icons/sprite.svg
  apps/web/public/static/locales/en/common.json
  apps/web/styles/globals.css
  packages/config/tailwind-preset.js
  packages/features/ee/workflows/components/AgentConfigurationSheet.tsx
  packages/features/ee/workflows/components/EmptyScreen.tsx
  packages/features/ee/workflows/components/WorkflowCreationDialog.tsx
  packages/features/ee/workflows/components/WorkflowStepContainer.tsx
  packages/features/ee/workflows/lib/getOptions.ts
  packages/features/ee/workflows/pages/index.tsx
  packages/features/ee/workflows/pages/workflow.tsx
  packages/features/shell/CalAiBanner.tsx
  packages/features/shell/Shell.tsx
  packages/features/shell/navigation/NavigationItem.tsx
  packages/features/tips/Tips.tsx
  packages/ui/components/card/Card.tsx
  packages/ui/components/form/select/components.tsx
  packages/ui/components/icon/icon-list.mjs
  packages/ui/components/icon/icon-names.ts
  packages/ui/components/sheet/Sheet.tsx
Labels: ✨ feature, High priority, enterprise, core, ai, ready-for-e2e, size/XXL

#23761 feat: call history V1
  apps/web/app/(use-page-wrapper)/insights/call-history/page.tsx
  apps/web/modules/insights/insights-call-history-view.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/calAIPhone/index.ts
  packages/features/calAIPhone/interfaces/AIPhoneService.interface.ts
  packages/features/calAIPhone/providers/retellAI/RetellAIPhoneServiceProvider.ts
  packages/features/calAIPhone/providers/retellAI/RetellAIService.ts
  packages/features/calAIPhone/providers/retellAI/RetellSDKClient.ts
  packages/features/calAIPhone/providers/retellAI/index.ts
  packages/features/calAIPhone/providers/retellAI/services/CallService.ts
  packages/features/calAIPhone/providers/retellAI/types.ts
  packages/features/ee/workflows/components/CallDetailsSheet.tsx
  packages/features/ee/workflows/components/types.ts
  packages/features/ee/workflows/pages/call-history.tsx
  packages/features/shell/navigation/Navigation.tsx
  packages/lib/server/repository/calAiPhoneNumber.ts
  packages/lib/server/repository/membership.ts
  packages/trpc/server/routers/viewer/aiVoiceAgent/_router.ts
  packages/trpc/server/routers/viewer/aiVoiceAgent/listCalls.handler.ts
  packages/trpc/server/routers/viewer/aiVoiceAgent/listCalls.schema.ts
Labels: ✨ feature, High priority, enterprise, insights, core, ai, ready-for-e2e, size/XXL

#23827 chore: small cal.ai updates
  apps/web/app/(use-page-wrapper)/workflow/new/page.tsx
  apps/web/public/static/locales/ar/common.json
  apps/web/public/static/locales/az/common.json
  apps/web/public/static/locales/bg/common.json
  apps/web/public/static/locales/bn/common.json
  apps/web/public/static/locales/ca/common.json
  apps/web/public/static/locales/cs/common.json
  apps/web/public/static/locales/da/common.json
  apps/web/public/static/locales/de/common.json
  apps/web/public/static/locales/el/common.json
  apps/web/public/static/locales/en/common.json
  apps/web/public/static/locales/es-419/common.json
  apps/web/public/static/locales/es/common.json
  apps/web/public/static/locales/et/common.json
  apps/web/public/static/locales/eu/common.json
  apps/web/public/static/locales/fi/common.json
  apps/web/public/static/locales/fr/common.json
  apps/web/public/static/locales/he/common.json
  apps/web/public/static/locales/hu/common.json
  apps/web/public/static/locales/it/common.json
  apps/web/public/static/locales/ja/common.json
  apps/web/public/static/locales/km/common.json
  apps/web/public/static/locales/ko/common.json
  apps/web/public/static/locales/nl/common.json
  apps/web/public/static/locales/no/common.json
  apps/web/public/static/locales/pl/common.json
  apps/web/public/static/locales/pt-BR/common.json
  apps/web/public/static/locales/pt/common.json
  apps/web/public/static/locales/ro/common.json
  apps/web/public/static/locales/ru/common.json
  apps/web/public/static/locales/sk-SK/common.json
  apps/web/public/static/locales/sr/common.json
  apps/web/public/static/locales/tr/common.json
  apps/web/public/static/locales/uk/common.json
  apps/web/public/static/locales/vi/common.json
  apps/web/public/static/locales/zh-CN/common.json
  apps/web/public/static/locales/zh-TW/common.json
  packages/features/shell/CalAiBanner.tsx
Labels: platform, core, ai, ready-for-e2e, size/L

#23831 fix: use class CreateDelegationCredentialInput instead of type for ap…
  apps/api/v2/src/modules/organizations/delegation-credentials/organizations-delegation-credential.controller.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
Labels: 🐛 bug, platform, api, core, foundation, ready-for-e2e, size/L

#23791 feat: sort bookingUserId options alphabetically on the /insights/routing page
  packages/features/insights/hooks/useInsightsRoutingFacetedUniqueValues.ts
Labels: 🧹 Improvements, insights, core, consumer, ready-for-e2e, size/M

#23706 feat: implement generalized navigation permission system with PBAC
  apps/web/app/(use-page-wrapper)/layout.tsx
  packages/features/shell/navigation/NavigationItem.tsx
  packages/features/shell/navigation/useShouldDisplayNavigationItem.ts
  packages/features/shell/permissions/NavigationPermissionsProvider.tsx
  packages/features/shell/permissions/types.ts
  packages/lib/server/repository/membership.ts
  packages/lib/webstorage.ts
  packages/trpc/server/routers/viewer/pbac/_router.tsx
Labels: ✨ feature, core, consumer, ready-for-e2e, size/L

#23777 feat: add e2e tests for insights charts
  apps/web/playwright/insights.e2e.ts
  packages/features/insights/components/booking/HighestRatedMembersTable.tsx
  packages/features/insights/components/booking/LowestRatedMembersTable.tsx
  packages/ui/components/card/PanelCard.tsx
Labels: insights, automated-tests, core, consumer, ready-for-e2e, size/M

#23672 docs: update knowledge base regarding auth checks in page
  .agents/knowledge-base.md
Labels: docs, core, consumer, ready-for-e2e, size/M

#23811 fix: Handle account user lookup fields for queued form responses
  apps/web/lib/__tests__/getTeamMemberEmailFromCrm.test.ts
  packages/app-store/routing-forms/lib/constants.ts
  packages/embeds/embed-core/routing-playground.html
  packages/lib/server/getTeamMemberEmailFromCrm.ts
Labels: 🐛 bug, enterprise, Urgent, routing-forms, core, ready-for-e2e, size/XL

#23846 feat: PBAC remove dogfood for safe checking
  packages/features/pbac/services/__tests__/permission-check.service.test.ts
  packages/features/pbac/services/permission-check.service.ts
Labels: ✨ feature, core, consumer, ready-for-e2e, size/L

#23862 chore: add build platform libs in api v2 github actions
  .github/workflows/e2e-api-v2.yml
  .github/workflows/unit-tests.yml
Labels: platform, ci, core, foundation, ready-for-e2e, size/XS

#23860 fix: change no-restricted-imports to @typescript-eslint/no-restricted-imports for allowTypeImports support
  .eslintrc.js
Labels: enterprise, core, ready-for-e2e, size/XS

#23854 fix: phone number cancel billing
  packages/features/calAIPhone/providers/retellAI/services/BillingService.ts
  packages/features/calAIPhone/providers/retellAI/services/__tests__/BillingService.test.ts
  packages/features/ee/billing/api/webhook/_customer.subscription.deleted.ts
Labels: 🐛 bug, High priority, enterprise, billing, core, ready-for-e2e, size/M

#23740 chore: [Booking Refactor - Preparation - 0]Move modules required by RegularBookingService to moduleLoader format
  packages/lib/di/containers/LuckyUser.ts
  packages/lib/di/di.ts
  packages/lib/di/modules/Attribute.ts
  packages/lib/di/modules/Host.ts
  packages/lib/di/modules/LuckyUser.ts
  packages/lib/di/modules/Ooo.ts
  packages/lib/di/modules/User.ts
Labels: enterprise, core, 💻 refactor, ready-for-e2e, size/L

#23834 chore: use local platform libraries instead of npm package
  apps/api/v2/Dockerfile
  apps/api/v2/package.json
  yarn.lock
Labels: ⬆️ dependencies, platform, core, foundation, ready-for-e2e, size/S

#23868 feat: v2 show hidden attendees for authenticated requests
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/bookings.controller.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/seated-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/bookings.service.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/output.service.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
Labels: ✨ feature, platform, bookings, core, ready-for-e2e, size/XXL

#23872 chore: add auth strategy test only x-cal-client-id provided
  apps/api/v2/src/modules/auth/strategies/api-auth/api-auth.strategy.e2e-spec.ts
Labels: platform, automated-tests, core, foundation, ready-for-e2e, size/S

#23883 chore: update env variables for atoms e2e yml
  .github/workflows/e2e-atoms.yml
Labels: platform, ❗️ .env changes, core, ready-for-e2e, size/XS

#23881 fix: Teams list not getting refreshed after adding a new team
  packages/features/ee/teams/components/CreateANewTeamForm.tsx
Labels: 🐛 bug, teams, community, ready-for-e2e, size/XS

#23736 fix: Alternate reschedule behaviour for past bookings - Don't allow new booking
  apps/web/lib/reschedule/[uid]/getServerSideProps.ts
  packages/features/bookings/lib/reschedule/determineReschedulePreventionRedirect.test.ts
  packages/features/bookings/lib/reschedule/determineReschedulePreventionRedirect.ts
  packages/lib/constants.ts
  packages/lib/defaultEvents.ts
  turbo.json
Labels: 🐛 bug, enterprise, Urgent, bookings, core, ready-for-e2e, size/XL

#23877 fix: resolve hydration mismatch in analytics app installation
  apps/web/components/apps/installation/ConfigureStepCard.tsx
Labels: 🐛 bug, core, ready-for-e2e, size/L

#23804 fix: Zod error caused by number-type responses
  packages/features/bookings/lib/get-booking.ts
  packages/lib/getBooking.tsx
Labels: 🐛 bug, routing-forms, webhooks, core, ready-for-e2e, size/S

#23906 fix: users still get updated email when reassign event after disabling standard emails
  packages/features/ee/round-robin/roundRobinManualReassignment.ts
  packages/features/ee/round-robin/roundRobinReassignment.ts
Labels: 🐛 bug, teams, core, ready-for-e2e, size/XS

#23905 fix: event startTime is defaulting to UTC in zoom app
  packages/app-store/zoomvideo/lib/VideoApiAdapter.ts
Labels: 🐛 bug, app-store, core, ready-for-e2e, size/XS

#23910 fix: handle NaN != NaN prefetch
  packages/platform/atoms/booker/BookerWebWrapper.tsx
Labels: 🐛 bug, enterprise, platform, core, ready-for-e2e, size/S

#23820 refactor: remove @calcom/features dependency from @calcom/prisma
  apps/web/app/api/auth/reset-password/route.ts
  apps/web/app/api/auth/setup/route.ts
  apps/web/components/setup/AdminUser.tsx
  apps/web/lib/apps/installation/[[...step]]/getServerSideProps.ts
  package.json
  packages/features/auth/lib/next-auth-options.ts
  packages/features/auth/signup/handlers/calcomHandler.ts
  packages/features/auth/signup/handlers/selfHostedHandler.ts
  packages/features/eventtypes/components/tabs/advanced/EventAdvancedTab.tsx
  packages/features/form-builder/Components.tsx
  packages/features/form-builder/FormBuilder.tsx
  packages/features/form-builder/fieldTypes.ts
  packages/features/form-builder/fieldsThatSupportLabelAsSafeHtml.ts
  packages/features/form-builder/schema.ts
  packages/features/form-builder/utils/variantsConfig.ts
  packages/lib/auth/hashPassword.ts
  packages/lib/auth/isPasswordValid.ts
  packages/lib/server/service/userCreationService.test.ts
  packages/lib/server/service/userCreationService.ts
  packages/prisma/package.json
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer/auth/changePassword.handler.ts
  packages/trpc/server/routers/viewer/organizations/setPassword.handler.ts
  scripts/seed-huge-event-types.ts
  scripts/seed-insights.ts
  scripts/seed-pbac-organization.ts
  scripts/seed-performance-testing.ts
  scripts/seed-utils.ts
  scripts/seed.ts
  yarn.lock
Labels: core, 💻 refactor, foundation, ready-for-e2e, size/L

#23287 test: correct route pattern and assertions in duplicate API calls E2E test
  apps/web/playwright/booking-duplicate-api-calls.e2e.ts
Labels: Stale, automated-tests, booking-page, core, foundation, ready-for-e2e, self-hosted, size/M, sre

#23891 fix: EventTypeSettings Checkbox booking field label
  .changeset/cold-dragons-chew.md
  .changeset/config.json
  packages/features/form-builder/FormBuilder.tsx
Labels: platform, core, ready-for-e2e, size/S

#23926 fix: few e2e flakes
  apps/web/playwright/out-of-office.e2e.ts
Labels: core, ready-for-e2e, size/XS

#23904 fix: event type not found 400 and other
  apps/api/v1/lib/helpers/captureErrors.ts
  apps/api/v1/lib/selects/event-type.ts
  apps/api/v1/lib/validations/event-type.ts
  apps/api/v1/pages/api/event-types/[id]/_delete.ts
  apps/api/v1/pages/api/event-types/[id]/_get.ts
  apps/api/v1/pages/api/event-types/[id]/_patch.ts
  apps/api/v1/pages/api/event-types/_get.ts
  apps/api/v1/pages/api/event-types/_post.ts
  apps/api/v1/pages/api/teams/[teamId]/event-types/_get.ts
  apps/api/v1/test/lib/event-types/[id]/_delete.test.ts
  apps/api/v1/test/lib/event-types/[id]/_get.test.ts
  packages/lib/server/defaultHandler.test.ts
  packages/lib/server/defaultHandler.ts
Labels: 🐛 bug, event-types, core, foundation, ready-for-e2e, size/L, sre

#23832 chore: eslint rule for blocking importing features from appstore, lib, prisma
  .eslintrc.js
Labels: ✨ feature, 🧹 Improvements, core, 💻 refactor, foundation, ready-for-e2e, size/M

#23935 fix: disable intercom while being impersonated
  packages/features/ee/support/lib/intercom/provider.tsx
Labels: 🐛 bug, core, ready-for-e2e, size/XS

#23771 feat: add date and time columns to insights CSV exports
  packages/features/insights/server/routing-events.ts
  packages/features/insights/server/trpc-router.ts
  packages/lib/server/service/InsightsBookingBaseService.ts
Labels: routing-forms, insights, core, consumer, ready-for-e2e, size/M

#23908 feat: Billing page redesign plus credits
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/(org-admin-only)/billing/page.tsx
  apps/web/modules/settings/billing/billing-view.tsx
  apps/web/modules/settings/billing/components/BillingCredits.tsx
  apps/web/modules/settings/billing/components/BillingCreditsSkeleton.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/ee/billing/credit-service.test.ts
  packages/features/ee/billing/credit-service.ts
Labels: ✨ feature, billing, core, consumer, ready-for-e2e, size/XL

#23951 chore: do not log whole error stack in getConnectedCalendars
  packages/features/calendars/lib/CalendarManager.ts
Labels: 🧹 Improvements, platform, core, foundation, ready-for-e2e, size/XS

#23942 chore: documentation of event-type bookingRequiresAuthentication
  packages/platform/types/event-types/event-types_2024_06_14/inputs/create-event-type.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/update-event-type.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/outputs/event-type.output.ts
Labels: platform, event-types, core, foundation, ready-for-e2e, size/XS

#23823 fix: loading spinner appears in top-left corner during Round Robin setup
  packages/features/eventtypes/components/EventTypeLayout.tsx
Labels: 🐛 bug, ui, community, ready-for-e2e, size/XS

#23920 docs: Updated getting started process
  docs/self-hosting/docker.mdx
Labels: docs, docker, community, ready-for-e2e, size/L

#23866 fix: remove platform client ID from attendee list when adding team members as attendee in a team event
  packages/lib/formatCalendarEvent.ts
  packages/platform/atoms/hooks/useOAuthFlow.ts
Labels: 🐛 bug, teams, platform, core, ready-for-e2e, size/S

#23966 fix: few more e2e flakes
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/insights.e2e.ts
Labels: automated-tests, core, ready-for-e2e, size/XS

#23976 fix: always check team.parentID even if no membership
  packages/features/pbac/domain/repositories/IPermissionRepository.ts
  packages/features/pbac/infrastructure/repositories/PermissionRepository.ts
  packages/features/pbac/services/__tests__/permission-check.service.test.ts
  packages/features/pbac/services/permission-check.service.ts
  packages/trpc/server/routers/viewer/eventTypes/heavy/create.handler.ts
Labels: 🐛 bug, core, consumer, ready-for-e2e, size/L

#23956 fix: resolve 404 error when rescheduling seated event bookings due type mismatch
  apps/web/public/static/locales/en/common.json
  packages/features/form-builder/FormBuilder.test.tsx
  packages/features/form-builder/FormBuilder.tsx
Labels: 🐛 bug, bookings, seats, core, ready-for-e2e, size/M

#23996 feat: Add spam block schema and migration
  packages/prisma/migrations/20250923082416_add_spam_block/migration.sql
  packages/prisma/schema.prisma
Labels: ✨ feature, ❗️ migrations, enterprise, core, ready-for-e2e, size/M

#23949 feat: add createdAt and updatedAt fields to EventType model
  apps/web/test/lib/handleChildrenEventTypes.test.ts
  packages/features/eventtypes/lib/defaultEvents.ts
  packages/lib/test/builder.ts
  packages/prisma/extensions/event-type-timestamps.ts
  packages/prisma/index.ts
  packages/prisma/migrations/20250919174231_add_event_type_timestamps/migration.sql
  packages/prisma/schema.prisma
Labels: ✨ feature, ❗️ migrations, event-types, core, ready-for-e2e, size/M

#24024 chore: remove @id from BookingTimeStatusDenormalized for Prisma .16 support
  packages/prisma/schema.prisma
Labels: core, foundation, ready-for-e2e, size/XS, sre

#24033 fix: make createdById at Watchlist nullable
  packages/prisma/migrations/20250924091435_update_watchlist_created_by_id_fkey/migration.sql
  packages/prisma/schema.prisma
Labels: ❗️ migrations, core, consumer, ready-for-e2e, size/S

#24050 test: replace prismaMock with BookingRepository mock in checkDurationLimits tests
  apps/web/test/lib/checkDurationLimits.test.ts
Labels: automated-tests, core, foundation, ready-for-e2e, size/S, sre

#23975 fix: platform billing portal
  apps/web/modules/settings/platform/billing/billing-view.tsx
  packages/app-store/stripepayment/lib/services/team/TeamBillingPortalService.ts
  packages/lib/server/repository/team.ts
Labels: 🐛 bug, platform, billing, core, ready-for-e2e, size/M

#23790 feat: adds user plan info in `useHasPaidPlan` for intercom
  apps/web/app/api/support/conversation/route.ts
  packages/features/ee/billing/constants.ts
  packages/features/ee/billing/domain/billing-plans.ts
  packages/features/ee/support/lib/intercom/useIntercom.ts
  packages/lib/hooks/useHasPaidPlan.ts
  packages/lib/server/repository/membership.ts
  packages/trpc/server/routers/viewer/organizations/publish.handler.ts
  packages/trpc/server/routers/viewer/teams/hasTeamPlan.handler.ts
  turbo.json
Labels: ✨ feature, teams, platform, billing, core, ready-for-e2e, size/L

#24026 refactor: use permission check service for isTeamAdmin
  packages/features/ee/dsync/lib/server/userCanCreateTeamGroupMapping.ts
  packages/features/ee/sso/lib/saml.ts
  packages/features/ee/teams/lib/queries.ts
  packages/features/pbac/services/role-management.factory.ts
  packages/trpc/server/routers/viewer/bookings/addGuests.handler.ts
  packages/trpc/server/routers/viewer/dsync/create.handler.ts
  packages/trpc/server/routers/viewer/dsync/delete.handler.ts
  packages/trpc/server/routers/viewer/dsync/get.handler.ts
  packages/trpc/server/routers/viewer/sso/delete.handler.ts
  packages/trpc/server/routers/viewer/sso/get.handler.ts
  packages/trpc/server/routers/viewer/sso/update.handler.ts
  packages/trpc/server/routers/viewer/sso/updateOIDC.handler.ts
  packages/trpc/server/routers/viewer/teams/createInvite.handler.ts
  packages/trpc/server/routers/viewer/teams/deleteInvite.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/inviteMemberUtils.test.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/utils.ts
  packages/trpc/server/routers/viewer/teams/publish.handler.ts
  packages/trpc/server/routers/viewer/teams/removeHostsFromEventTypes.handler.ts
  packages/trpc/server/routers/viewer/teams/setInviteExpiration.handler.ts
  packages/trpc/server/routers/viewer/teams/update.handler.ts
  packages/trpc/server/routers/viewer/teams/updateInternalNotesPresets.handler.ts
Labels: teams, core, 💻 refactor, foundation, ready-for-e2e, size/L

#24003 fix: border appearing in shell billing
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/billing/page.tsx
Labels: 🧹 Improvements, billing, core, consumer, ready-for-e2e, size/XS

#24078 revert: "perf: Replace isTeamMember util with an index DB call (#24066)"
  packages/features/ee/teams/lib/queries.ts
  packages/lib/server/repository/membership.ts
  packages/trpc/server/routers/viewer/teams/getInternalNotesPresets.handler.ts
  packages/trpc/server/routers/viewer/teams/getMemberAvailability.handler.ts
Labels: teams, core, foundation, ready-for-e2e, size/M

#24085 chore: remove atoms e2e for now
  .github/workflows/all-checks.yml
  .github/workflows/pr.yml
Labels: platform, automated-tests, ci, core, foundation, ready-for-e2e, size/S

#24069 chore: add content type to ics file
  packages/emails/lib/generateIcsFile.ts
Labels: 🧹 Improvements, core, ready-for-e2e, size/XS

#24088 fix: billing portal for platform
  packages/app-store/stripepayment/lib/services/organization/OrganizationBillingPortalService.ts
Labels: 🐛 bug, platform, billing, core, ready-for-e2e, size/M

#24089 fix: hydration issue ( Step 3 is not visible for all analytics apps )
  apps/web/components/apps/installation/ConfigureStepCard.tsx
  apps/web/modules/apps/installation/[[...step]]/step-view.tsx
Labels: 🐛 bug, insights, community, ready-for-e2e, size/XS

#23885 fix: align email focus ring with password/username
  packages/ui/components/form/inputs/TextField.tsx
Labels: 🐛 bug, 🧹 Improvements, Low priority, ui, authentication, community, ready-for-e2e, size/S

#24073 feat: add create invite link endpoint
  apps/api/v2/src/modules/organizations/organizations.module.ts
  apps/api/v2/src/modules/organizations/teams/invite/organizations-teams-invite.controller.e2e-spec.ts
  apps/api/v2/src/modules/organizations/teams/invite/organizations-teams-invite.controller.ts
  apps/api/v2/src/modules/organizations/teams/invite/outputs/invite.output.ts
  apps/web/playwright/signup.e2e.ts
  docs/api-reference/v2/openapi.json
  packages/lib/server/service/teamService.ts
  packages/trpc/server/routers/viewer/teams/createInvite.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/utils.ts
Labels: ✨ feature, High priority, teams, enterprise, platform, api, core, ready-for-e2e, size/L

#24103 chore: Allow underscore variable pattern being ignored for eslint
  packages/eslint-config/base.js
Labels: size/XS

#24095 fix: remove legacy logic into legacy service
  packages/features/pbac/services/role-management.factory.ts
  packages/trpc/server/routers/viewer/teams/changeMemberRole.handler.ts
Labels: 🐛 bug, teams, core, consumer, ready-for-e2e, size/L

#23356 fix: Bunch of fixes and minor changes throughout the app
  apps/web/app/(use-page-wrapper)/(main-nav)/teams/CTA.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/SettingsLayoutAppDirClient.tsx
  apps/web/components/dialog/__tests__/EditLocationDialog.test.tsx
  apps/web/modules/signup-view.tsx
  apps/web/playwright/event-types.e2e.ts
  apps/web/playwright/filter-helpers.ts
  apps/web/playwright/fixtures/regularBookings.ts
  apps/web/playwright/managed-event-types.e2e.ts
  apps/web/public/static/locales/en/common.json
  packages/app-store/utils.ts
  packages/features/apps/components/AllApps.tsx
  packages/features/apps/components/AppCard.tsx
  packages/features/data-table/components/filters/ColumnVisibilityButton.tsx
  packages/features/data-table/components/segment/FilterSegmentSelect.tsx
  packages/features/ee/teams/components/MakeTeamPrivateSwitch.tsx
  packages/features/ee/workflows/components/WorkflowListPage.tsx
  packages/features/eventtypes/components/locations/CalVideoSettings.tsx
  packages/features/eventtypes/components/tabs/advanced/EventAdvancedTab.tsx
  packages/features/eventtypes/components/tabs/limits/EventLimitsTab.tsx
  packages/features/eventtypes/components/tabs/setup/EventSetupTab.tsx
  packages/features/form-builder/FormBuilder.tsx
  packages/features/schedules/components/ScheduleListItem.tsx
  packages/platform/atoms/event-types/wrappers/EventAdvancedWebWrapper.tsx
  packages/platform/atoms/event-types/wrappers/EventTypeWebWrapper.tsx
  packages/ui/components/navigation/tabs/VerticalTabItem.tsx
Labels: 🐛 bug, 🧹 Improvements, core, ready-for-e2e, size/L

#24071 docs: v2 disabled input
  docs/api-reference/v2/openapi.json
  packages/platform/types/event-types/event-types_2024_06_14/inputs/disabled.input.ts
Labels: docs, platform, api, core, ready-for-e2e, size/XS

#24114 fix: mobile layout for API keys settings and dialog
  packages/features/ee/api-keys/components/ApiKeyDialogForm.tsx
  packages/features/settings/appDir/SettingsHeader.tsx
Labels: 🐛 bug, 🧹 Improvements, community, ready-for-e2e, size/S

#24111 fix: v2 api event type splitName booking field
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/controllers/event-types.controller.e2e-spec.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/booking-fields.input.ts
Labels: 🐛 bug, platform, core, ready-for-e2e, size/M

#24115 refactor: replace checkAdminOrOwner with PBAC availability.read permission
  apps/web/app/(use-page-wrapper)/(main-nav)/availability/page.tsx
Labels: core, 💻 refactor, consumer, ready-for-e2e, size/S

#24107 docs: add comprehensive DataTable usage guide
  packages/features/data-table/GUIDE.md
Labels: docs, core, consumer, ready-for-e2e, size/XXL

#24116 refactor: replace checkAdminOrOwner with team.create permission in teams page
  apps/web/app/(use-page-wrapper)/(main-nav)/teams/server-page.tsx
  packages/features/ee/teams/components/TeamsListing.tsx
Labels: 🧹 Improvements, core, consumer, ready-for-e2e, size/M

#24132 chore: Use enums instead of hardcoded strings
  packages/features/auth/lib/checkAdminOrOwner.ts
  packages/features/auth/lib/next-auth-options.ts
  packages/features/bookings/lib/payment/processNoShowFeeOnCancellation.ts
  packages/features/ee/impersonation/lib/ImpersonationProvider.ts
  packages/features/ee/organizations/lib/OrganizationPaymentService.ts
  packages/features/ee/organizations/lib/OrganizationPermissionService.ts
  packages/lib/server/repository/webhook.ts
Labels: 🧹 Improvements, core, consumer, ready-for-e2e, size/M

#23998 feat: pbac - private teams
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/roles/_components/AdvancedPermissionGroup.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/roles/_components/RoleSheet.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/roles/_components/RolesList.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/roles/_components/SimplePermissionItem.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/roles/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/teams/[id]/members/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/teams/[id]/roles/page.tsx
  apps/web/app/(use-page-wrapper)/settings/organizations/(org-user-only)/members/page.tsx
  apps/web/lib/team/[slug]/getServerSideProps.tsx
  packages/features/pbac/domain/types/permission-registry.ts
  packages/prisma/migrations/20250923085350_add_list_members_private_permissions/migration.sql
  packages/trpc/server/routers/viewer/organizations/getMembers.handler.ts
  packages/trpc/server/routers/viewer/organizations/listMembers.handler.test.ts
  packages/trpc/server/routers/viewer/organizations/listMembers.handler.ts
  packages/trpc/server/routers/viewer/teams/legacyListMembers.handler.ts
  packages/trpc/server/routers/viewer/teams/listMembers.handler.ts
Labels: ✨ feature, ❗️ migrations, core, consumer, ready-for-e2e, size/L

#24140 chore: Add addMembersToTeams logic from 24099
  packages/trpc/server/routers/viewer/organizations/utils.ts
Labels: teams, core, consumer, ready-for-e2e, size/S

#24122 feat: add booking flags for skipAvailabilityCheck, skipEventLimitsCheck, skipCalendarSyncTaskCreation
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/test/booking-flags.test.ts
Labels: ✨ feature, bookings, core, foundation, ready-for-e2e, size/XL

#24142 chore: add permissions.canUpdateOrganization to settings
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/SettingsLayoutAppDirClient.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/layout.tsx
Labels: core, consumer, ready-for-e2e, size/M

#24102 chore: Optional skip warnings for lint-staged
  lint-staged.config.mjs
  package.json
  packages/eslint-config/base.js
Labels: core, foundation, ready-for-e2e, size/S

#23710 perf: dynamically import sentry in Next.js api routes' wrapper
  apps/web/app/api/defaultResponderForAppDir.ts
  packages/lib/server/defaultResponder.ts
Labels: api, core, foundation, ready-for-e2e, size/S

#24152 test: replace prismaMock with BookingRepository mock in checkBookingLimits tests
  apps/web/test/lib/checkBookingLimits.test.ts
Labels: automated-tests, core, foundation, ready-for-e2e, size/S

#24153 chore: Update yarn.lock
  yarn.lock
Labels: ⬆️ dependencies, core, foundation, ready-for-e2e, size/S
