Repository calcom/cal.com, pull requests merged in 2025-05, with the labels that each got.

#21044 fix: cal.cache not working
  packages/features/schedules/lib/use-schedule/useSchedule.ts
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
Labels: 🐛 bug, platform, core, foundation, ready-for-e2e

#20929 fix: restricting platform user from creating another regular org
  apps/web/public/static/locales/en/common.json
  packages/features/ee/organizations/lib/server/orgCreationUtils.ts
Labels: 🐛 bug, Medium priority, platform, organizations, community, ready-for-e2e

#20425 feat: Ability to set a locked timezone for event type
  apps/web/server/lib/[user]/getServerSideProps.ts
  apps/web/test/lib/handleChildrenEventTypes.test.ts
  docs/platform/guides/teams-setup.mdx
  packages/features/bookings/Booker/components/EventMeta.tsx
  packages/features/bookings/lib/handleNewBooking/getEventTypesFromDB.ts
  packages/features/bookings/types.ts
  packages/features/eventtypes/components/tabs/advanced/EventAdvancedTab.tsx
  packages/features/eventtypes/lib/getPublicEvent.ts
  packages/features/eventtypes/lib/types.ts
  packages/lib/defaultEvents.ts
  packages/lib/event-types/getEventTypesPublic.ts
  packages/lib/server/eventTypeSelect.ts
  packages/lib/server/repository/eventType.ts
  packages/lib/test/builder.ts
  packages/platform/atoms/event-types/hooks/useEventTypeForm.ts
  packages/prisma/migrations/20250328085029_event_locked_timezone/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/selects/event-types.ts
  packages/prisma/zod-utils.ts
Labels: ✨ feature, ❗️ migrations, bookings, event-types, core, ready-for-e2e

#20818 fix: dry run props for `CalendarSettings` atom
  packages/platform/atoms/selected-calendars/wrappers/SelectedCalendarsSettingsPlatformWrapper.tsx
Labels: platform, core, ready-for-e2e

#21046 fix: unit test bug
  packages/features/calendars/__tests__/NoAvailabilityDialog.test.tsx
Labels: 🐛 bug, enterprise, automated-tests, core, ready-for-e2e

#21035 fix: attendeePhoneNumber not appearing in calendar event
  packages/lib/CalEventParser.ts
Labels: 🐛 bug, core, calendar-apps, ready-for-e2e

#20607 feat: routing v3 design
  apps/web/app/(use-page-wrapper)/apps/routing-forms/[...pages]/page.tsx
  apps/web/app/(use-page-wrapper)/workflows/[workflow]/page.tsx
  apps/web/modules/insights/insights-virtual-queues-view.tsx
  apps/web/playwright/lib/testUtils.ts
  apps/web/public/static/locales/en/common.json
  apps/web/styles/raqb.css
  apps/web/tailwind.config.js
  packages/app-store/routing-forms/__tests__/TestFormDialog.test.tsx
  packages/app-store/routing-forms/components/FormActions.tsx
  packages/app-store/routing-forms/components/FormInputFields.tsx
  packages/app-store/routing-forms/components/InfoLostWarningDialog.tsx
  packages/app-store/routing-forms/components/RoutingNavBar.tsx
  packages/app-store/routing-forms/components/SingleForm.tsx
  packages/app-store/routing-forms/components/_components/EmptyState.tsx
  packages/app-store/routing-forms/components/_components/FormSettingsSlideover.tsx
  packages/app-store/routing-forms/components/_components/Header.tsx
  packages/app-store/routing-forms/components/_components/ResultSection.tsx
  packages/app-store/routing-forms/components/_components/RoutingSkeleton.tsx
  packages/app-store/routing-forms/components/_components/TeamMemberSelect.tsx
  packages/app-store/routing-forms/components/_components/TeamMembersMatchResult.tsx
  packages/app-store/routing-forms/components/_components/TestForm.tsx
  packages/app-store/routing-forms/components/react-awesome-query-builder/config/uiConfig.tsx
  packages/app-store/routing-forms/components/react-awesome-query-builder/widgets.tsx
  packages/app-store/routing-forms/pages/form-edit/[...appPages].tsx
  packages/app-store/routing-forms/pages/incomplete-booking/[...appPages].tsx
  packages/app-store/routing-forms/pages/route-builder/[...appPages].tsx
  packages/app-store/routing-forms/playwright/tests/basic.e2e.ts
  packages/app-store/routing-forms/types/shared.ts
  packages/platform/atoms/globals.css
  packages/ui/components/card/FormCard.tsx
  packages/ui/components/form/inputs/MultiOptionInput.tsx
  packages/ui/components/form/select/Select.tsx
  packages/ui/components/form/toggleGroup/BooleanToggleGroup.tsx
  packages/ui/components/form/toggleGroup/ToggleGroup.tsx
  packages/ui/components/sheet/Sheet.tsx
Labels: ✨ feature, 🧹 Improvements, High priority, routing-forms, core, consumer, ready-for-e2e

#21051 chore: fixed headline of timelessui
  apps/ui-playground/app/(home)/page.tsx
Labels: platform, core, community, foundation

#21057 chore: Allow Foundation to approve on behalf of Consumer
  .github/CODEOWNERS
Labels: core, admin, foundation, ready-for-e2e

#20733 feat: show-utm-params
  apps/web/modules/bookings/views/bookings-single-view.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/lib/getUserBooking.ts
Labels: ✨ feature, High priority, i18n, community, ready-for-e2e, community-interns

#21059 revert: "fix: eventType filter on /insights (#20823)"
  packages/features/insights/server/trpc-router.ts
Labels: insights, core, consumer, ready-for-e2e

#21038 feat: add setting to disable phone only sms notification
  apps/web/public/static/locales/en/common.json
  packages/features/ee/organizations/pages/components/DisablePhoneOnlySMSNotificationsSwitch.tsx
  packages/features/ee/organizations/pages/settings/general.tsx
  packages/lib/server/repository/organization.ts
  packages/prisma/migrations/20250430084050_disable_org_phone_only_sms/migration.sql
  packages/prisma/schema.prisma
  packages/sms/sms-manager.ts
  packages/trpc/server/routers/viewer/organizations/update.handler.ts
  packages/trpc/server/routers/viewer/organizations/update.schema.ts
Labels: ✨ feature, ❗️ migrations, High priority, enterprise, core, ready-for-e2e

#21066 revert: "feat: Ability to set a locked timezone for event type (#20425)"
  apps/web/server/lib/[user]/getServerSideProps.ts
  apps/web/test/lib/handleChildrenEventTypes.test.ts
  docs/platform/guides/teams-setup.mdx
  packages/features/bookings/Booker/components/EventMeta.tsx
  packages/features/bookings/lib/handleNewBooking/getEventTypesFromDB.ts
  packages/features/bookings/types.ts
  packages/features/eventtypes/components/tabs/advanced/EventAdvancedTab.tsx
  packages/features/eventtypes/lib/getPublicEvent.ts
  packages/features/eventtypes/lib/types.ts
  packages/lib/defaultEvents.ts
  packages/lib/event-types/getEventTypesPublic.ts
  packages/lib/server/eventTypeSelect.ts
  packages/lib/server/repository/eventType.ts
  packages/lib/test/builder.ts
  packages/platform/atoms/event-types/hooks/useEventTypeForm.ts
  packages/prisma/migrations/20250328085029_event_locked_timezone/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/selects/event-types.ts
  packages/prisma/zod-utils.ts
Labels: ❗️ migrations, core, foundation, ready-for-e2e

#21058 refactor: Replace attendee email with user id in idempotency key
  apps/web/playwright/booking-pages.e2e.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/requiresConfirmation/getBookingRequest.ts
  packages/prisma/extensions/booking-idempotency-key.ts
Labels: High priority, enterprise, core, 💻 refactor, high-risk, ready-for-e2e

#21070 fix: disabled sms hanging, by calling resolve()
  packages/sms/sms-manager.ts
Labels: 🐛 bug, core, foundation, ready-for-e2e

#21078 fix: rf v3 tidy up mobile issues
  packages/app-store/routing-forms/components/FormActions.tsx
  packages/app-store/routing-forms/components/SingleForm.tsx
  packages/app-store/routing-forms/components/_components/Header.tsx
  packages/ui/components/form/toggleGroup/ToggleGroup.tsx
Labels: 🧹 Improvements, routing-forms, core, consumer, ready-for-e2e

#21031 fix: between operator for attribute matching
  packages/app-store/routing-forms/__tests__/config.test.ts
  packages/app-store/routing-forms/components/react-awesome-query-builder/config/BasicConfig.ts
  packages/app-store/routing-forms/playwright/tests/basic.e2e.ts
Labels: 🐛 bug, routing-forms, community, ready-for-e2e

#21006 feat: verified resources endpoint [v2]
  apps/api/v2/package.json
  apps/api/v2/src/lib/endpoint-throttler-decorator.ts
  apps/api/v2/src/lib/throttler-guard.ts
  apps/api/v2/src/modules/endpoints.module.ts
  apps/api/v2/src/modules/organizations/teams/routing-forms/controllers/organizations-teams-routing-forms-responses.controller.ts
  apps/api/v2/src/modules/organizations/teams/verified-resources/org-teams-verified-resources.controller.e2e-spec.ts
  apps/api/v2/src/modules/organizations/teams/verified-resources/org-teams-verified-resources.controller.ts
  apps/api/v2/src/modules/teams/verified-resources/teams-verified-resources.controller.ts
  apps/api/v2/src/modules/verified-resources/controllers/users-verified-resources.controller.ts
  apps/api/v2/src/modules/verified-resources/inputs/request-email-verification.input.ts
  apps/api/v2/src/modules/verified-resources/inputs/request-phone-verification.input.ts
  apps/api/v2/src/modules/verified-resources/inputs/verify-email.input.ts
  apps/api/v2/src/modules/verified-resources/inputs/verify-phone.input.ts
  apps/api/v2/src/modules/verified-resources/outputs/request-email-verification-output.ts
  apps/api/v2/src/modules/verified-resources/outputs/request-phone-verification-output.ts
  apps/api/v2/src/modules/verified-resources/outputs/verified-email.output.ts
  apps/api/v2/src/modules/verified-resources/outputs/verified-phone.output.ts
  apps/api/v2/src/modules/verified-resources/services/verified-resources.service.ts
  apps/api/v2/src/modules/verified-resources/teams-verified-resources.repository.ts
  apps/api/v2/src/modules/verified-resources/users-verified-resources.repository.ts
  apps/api/v2/src/modules/verified-resources/verified-resources.module.ts
  apps/api/v2/swagger/documentation.json
  apps/api/v2/test/fixtures/repository/verified-resources.repository.fixture.ts
  docs/api-reference/v2/openapi.json
  packages/platform/libraries/emails.ts
  packages/platform/libraries/index.ts
  packages/trpc/server/routers/viewer/workflows/verifyEmailCode.handler.ts
Labels: ✨ feature, platform, api, core, ready-for-e2e

#21085 fix: wrong info on cancelled email
  packages/emails/src/templates/BaseScheduledEmail.tsx
  packages/features/bookings/lib/handleCancelBooking.ts
Labels: 🐛 bug, emails, core, ready-for-e2e

#21087 test: retry times for api v2 e2e test in CI
  apps/api/v2/jest-e2e.json
  apps/api/v2/test/jest.setup-e2e.ts
Labels: automated-tests, core, ready-for-e2e

#21092 fix: Read user id properly when generating idempotency key
  packages/prisma/extensions/booking-idempotency-key.ts
Labels: 🐛 bug, enterprise, core, ready-for-e2e

#21101 chore: bump platform libraries
  apps/api/v2/package.json
Labels: platform, core, ready-for-e2e

#21097 fix: add missing 'add' in profile username tip (#21049)
  apps/web/public/static/locales/en/common.json
Labels: community, ready-for-e2e

#21105 fix: typos in apps/api/v2
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/emails/confirm-emails.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/user-bookings.e2e-spec.ts
  apps/api/v2/src/modules/organizations/users/index/organizations-users.repository.ts
  apps/api/v2/src/modules/tokens/tokens.repository.ts
Labels: 🐛 bug, 🧹 Improvements, community, ready-for-e2e

#21008 feat: add membership creation date to Organization Member List table (CAL-5406)
  apps/api/v1/pages/api/memberships/_post.ts
  apps/api/v2/src/modules/memberships/memberships.repository.ts
  apps/api/v2/src/modules/organizations/teams/memberships/organizations-teams-memberships.repository.ts
  apps/api/v2/src/modules/teams/memberships/teams-memberships.repository.ts
  apps/api/v2/test/fixtures/repository/membership.repository.fixture.ts
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/out-of-office.e2e.ts
  apps/web/public/static/locales/en/common.json
  apps/web/test/lib/generateCsv.test.ts
  packages/features/data-table/components/filters/ActiveFilters.tsx
  packages/features/data-table/components/filters/DateRangeFilter.tsx
  packages/features/data-table/lib/server.ts
  packages/features/data-table/lib/types.ts
  packages/features/ee/dsync/lib/handleGroupEvents.ts
  packages/features/ee/organizations/lib/server/createOrganizationFromOnboarding.test.ts
  packages/features/users/components/UserTable/PlatformManagedUsersTable.tsx
  packages/features/users/components/UserTable/UserListTable.tsx
  packages/lib/server/repository/membership.ts
  packages/lib/server/repository/organization.ts
  packages/lib/server/repository/team.ts
  packages/lib/service/attribute/server/assignValueToUser.test.ts
  packages/prisma/migrations/20250407204810_add_membership_creation_date/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/seed-insights.ts
  packages/prisma/seed-utils.ts
  packages/prisma/seed.ts
  packages/trpc/server/routers/viewer/organizations/listMembers.handler.ts
  packages/trpc/server/routers/viewer/organizations/utils.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/utils.ts
Labels: ✨ feature, ❗️ migrations, organizations, core, consumer, ready-for-e2e

#21077 fix: correct booker email input
  packages/features/form-builder/Components.tsx
Labels: booking-page, core, consumer, ready-for-e2e

#20557 fix: button fixes v3
  apps/ui-playground/content/design/components/button.mdx
  packages/ui/components/button/Button.tsx
Labels: ⚡ Quick Wins, ui, core, consumer, ready-for-e2e

#21106 fix: meeting link fails when manually reassign
  packages/lib/server/repository/booking.ts
Labels: 🐛 bug, teams, bookings, core, ready-for-e2e

#21034 fix: {Organizer} placeholder in event title not updating on reschedule
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/createBooking.ts
  packages/features/bookings/lib/handleNewBooking/test/reschedule.test.ts
  packages/lib/event.ts
Labels: 🐛 bug, bookings, core, ready-for-e2e

#21094 build(packages/features): resolved type error when building `apps/web`.
  packages/features/ee/teams/components/TeamsListing.tsx
Labels: 🐛 bug, community, ready-for-e2e

#21110 feat: booking URL validation to accept links without explicit mention of https://
  packages/features/bookings/lib/getBookingResponsesSchema.test.ts
  packages/features/form-builder/schema.ts
Labels: ✨ feature, bookings, community, ready-for-e2e, community-interns

#21115 fix: availability view error
  packages/trpc/server/routers/viewer/availability/list.handler.ts
Labels: 🐛 bug, bookings, core, ready-for-e2e

#21118 chore: Update CODEOWNERS for booking tRPC handlers
  .github/CODEOWNERS
Labels: core, admin, foundation, ready-for-e2e

#21089 perf: remove unnecessary routes from middleware
  apps/web/middleware.test.ts
  apps/web/middleware.ts
Labels: performance, core, foundation, ready-for-e2e

#21117 chore: Add proton.me to email provider list
  packages/features/ee/organizations/lib/server/orgCreationUtils.ts
Labels: emails, core, foundation, ready-for-e2e

#21032 refactor: centralize feature flag operations in FeaturesRepository
  apps/web/app/(use-page-wrapper)/insights/page.tsx
  apps/web/app/(use-page-wrapper)/insights/router-position/page.tsx
  apps/web/app/(use-page-wrapper)/insights/routing/page.tsx
  apps/web/lib/settings/organizations/new/getServerSideProps.tsx
  apps/web/lib/signup/getServerSideProps.tsx
  apps/web/lib/team/[slug]/getServerSideProps.tsx
  apps/web/pages/api/auth/signup.ts
  packages/app-store/googlecalendar/lib/CalendarService.test.ts
  packages/emails/templates/_base-email.ts
  packages/features/auth/lib/verifyEmail.ts
  packages/features/ee/organizations/pages/organization.tsx
  packages/features/flags/features.repository.integration-test.ts
  packages/features/flags/features.repository.ts
  packages/features/flags/server/procedures/map.ts
  packages/features/flags/server/router.ts
  packages/features/flags/server/utils.ts
  packages/trpc/server/routers/viewer/me/updateProfile.handler.ts
  packages/trpc/server/routers/viewer/slots/handleNotificationWhenNoSlots.test.ts
Labels: core, 💻 refactor, foundation, ready-for-e2e

#21084 chore: get bookings with kysely
  apps/api/v2/package.json
  apps/api/v2/src/ee/bookings/2024-04-15/bookings.module.ts
  apps/api/v2/src/ee/bookings/2024-04-15/controllers/bookings.controller.ts
  apps/api/v2/src/ee/bookings/2024-08-13/bookings.module.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/bookings.service.ts
  apps/api/v2/src/modules/kysely/kysely-read.service.ts
  apps/api/v2/src/modules/kysely/kysely-write.service.ts
  apps/api/v2/src/modules/kysely/kysely.module.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
  packages/kysely/.gitignore
  packages/kysely/README.md
  packages/kysely/index.ts
  packages/kysely/package.json
  packages/kysely/utils/json/traverse/index.ts
  packages/lib/bookings/getAllUserBookings.ts
  packages/prisma/package.json
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/bookings/get.handler.ts
  yarn.lock
Labels: ⬆️ dependencies, platform, bookings, core, 💻 refactor, ready-for-e2e

#21120 fix: theme search param crashing booking page
  apps/web/lib/__tests__/getThemeProviderProps.test.ts
  apps/web/lib/getThemeProviderProps.ts
Labels: 🐛 bug, core, foundation, ready-for-e2e

#21125 fix: get bookings advanced email and attendee filter
  apps/api/v2/package.json
  packages/trpc/server/routers/viewer/bookings/get.handler.ts
Labels: 🐛 bug, platform, bookings, core, ready-for-e2e

#21124 docs: Update delegation-credential.md
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/delegation-credential/delegation-credential.md
Labels: docs, enterprise, core, ready-for-e2e

#21129 fix: improvements for scheduling Email reminders
  packages/features/ee/workflows/api/scheduleEmailReminders.ts
  packages/features/ee/workflows/lib/getWorkflowReminders.ts
  packages/features/ee/workflows/lib/reminders/emailReminderManager.ts
  packages/trpc/server/routers/viewer/workflows/util.ts
Labels: workflows, emails, core, consumer, ready-for-e2e

#20947 feat: add denormalized table for BookingTimeStatus view
  apps/web/playwright/booking-denormalized.e2e.ts
  packages/prisma/migrations/20250502130807_create_booking_denormalized/migration.sql
  packages/prisma/migrations/20250502130843_setup_triggers_for_booking_denormalized/migration.sql
  packages/prisma/migrations/20250505135207_create_booking_time_status_denormalized/migration.sql
  packages/prisma/schema.prisma
Labels: ✨ feature, ❗️ migrations, core, consumer, ready-for-e2e

#21136 fix: delete organization user endpoint not working in api v2
  apps/api/v2/src/modules/organizations/users/index/organizations-users.repository.ts
Labels: platform, api, organizations, community, ready-for-e2e

#21143 fix: advanced text filters getBookings with kysely
  packages/trpc/server/routers/viewer/bookings/get.handler.ts
Labels: 🐛 bug, platform, bookings, core, ready-for-e2e

#21147 feat(v3): table designs
  packages/features/data-table/components/DataTable.tsx
  packages/features/data-table/components/DataTableWrapper.tsx
  packages/features/ee/teams/components/MemberList.tsx
  packages/features/users/components/UserTable/PlatformManagedUsersTable.tsx
  packages/features/users/components/UserTable/UserListTable.tsx
  packages/ui/components/pagination/Pagination.tsx
  packages/ui/components/table/TableNew.tsx
Labels: ✨ feature, ui, core, consumer, ready-for-e2e

#21148 chore: convert booking_denormalized e2e test to integration test
  apps/web/playwright/booking-denormalized.e2e.ts
  packages/features/insights/__tests__/booking-denormalized.integration-test.ts
Labels: automated-tests, core, consumer, ready-for-e2e

#20630 fix: e2e flakes
  apps/web/playwright/hash-my-url.e2e.ts
  apps/web/playwright/login.2fa.e2e.ts
Labels: automated-tests, core, ready-for-e2e

#21150 fix: api v2 routing form responses flaky tests
  apps/api/v2/src/modules/organizations/routing-forms/controllers/organizations-routing-forms-responses.controller.e2e-spec.ts
  apps/api/v2/src/modules/organizations/teams/routing-forms/controllers/organizations-teams-routing-forms-responses.controller.e2e-spec.ts
  apps/api/v2/test/fixtures/repository/routing-forms.repository.fixture.ts
  packages/platform/types/routing-forms/responses/routing-form-response.output.ts
Labels: 🐛 bug, platform, routing-forms, automated-tests, core, ready-for-e2e

#21144 fix: decline-booking-reason-missing
  packages/emails/src/templates/BaseScheduledEmail.tsx
Labels: 🐛 bug, emails, community, ready-for-e2e

#20650 chore: Removes around app
  apps/api/v2/swagger/documentation.json
  apps/web/playwright/apps/conferencing/conferencingApps.e2e.ts
  docs/api-reference/v2/openapi.json
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/around/DESCRIPTION.md
  packages/app-store/around/api/_getAdd.ts
  packages/app-store/around/api/add.ts
  packages/app-store/around/api/index.ts
  packages/app-store/around/config.json
  packages/app-store/around/index.ts
  packages/app-store/around/package.json
  packages/app-store/around/static/1.jpg
  packages/app-store/around/static/2.jpg
  packages/app-store/around/static/3.jpg
  packages/app-store/around/static/4.jpg
  packages/app-store/around/static/5.jpg
  packages/app-store/around/static/6.jpg
  packages/app-store/around/static/7.jpg
  packages/app-store/around/static/8.jpg
  packages/app-store/around/static/icon.svg
  packages/app-store/bookerApps.metadata.generated.ts
  packages/app-store/index.ts
  packages/lib/event-types/transformers/api-to-internal/locations.ts
  packages/lib/event-types/transformers/internal-to-api/locations.ts
  packages/lib/event-types/transformers/internal/locations.ts
  packages/platform/types/bookings/2024-08-13/inputs/location.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/outputs/locations.output.ts
  packages/prisma/migrations/20250506000000_remove_around_from_event_types/migration.sql
  packages/prisma/migrations/20250506000001_remove_around_credentials/migration.sql
  packages/prisma/migrations/20250506000002_remove_around_app/migration.sql
  yarn.lock
Labels: ❗️ migrations, app-store, core, foundation, ready-for-e2e

#16407 perf: Refactor bookings queries for API
  apps/api/v1/lib/utils/bookings/get/buildWhereClause.ts
  apps/api/v1/pages/api/bookings/_get.ts
  apps/api/v1/test/lib/bookings/_get.integration-test.ts
  apps/api/v1/test/lib/bookings/get/buildWhereClause.test.ts
Labels: High priority, bookings, api, performance, core, 💻 refactor, foundation, ready-for-e2e

#21083 fix: hiding And connect with specific team members option for non org teams
  packages/app-store/routing-forms/pages/route-builder/[...appPages].tsx
Labels: 🐛 bug, 🧹 Improvements, Low priority, routing-forms, organizations, community, ready-for-e2e

#21159 test: add e2e test for round robin event types
  apps/web/playwright/organization/booking.e2e.ts
Labels: teams, enterprise, automated-tests, core, ready-for-e2e

#21133 feat: Add `handleSlotSelect` prop for custom timeslot selection/reservation handling
  docs/platform/guides/custom-slot-select-flow.mdx
  packages/platform/atoms/booker-embed/BookerEmbed.tsx
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
  packages/platform/atoms/booker/types.ts
  packages/platform/atoms/hooks/useSlots.ts
  packages/platform/atoms/router/Router.tsx
  packages/platform/examples/base/src/pages/booking.tsx
  yarn.lock
Labels: ✨ feature, platform, core, ⚛️ atoms, ready-for-e2e

#21156 fix: attendees not visible for hosts in a seated team booking
  apps/web/modules/bookings/views/bookings-single-view.getServerSideProps.tsx
Labels: 🐛 bug, teams, bookings, core, ready-for-e2e

#21082 feat: enforce log in cal video
  apps/web/lib/video/[uid]/getServerSideProps.ts
  apps/web/modules/videos/views/videos-single-view.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/flags/config.ts
  packages/features/flags/hooks/index.ts
  packages/prisma/migrations/20250502154530900_add_login_overlay/migration.sql
Labels: ✨ feature, ❗️ migrations, enterprise, webhooks, insights, i18n, core, cal video, ready-for-e2e

#21139 fix: don't allow double reserving already reserved slot
  apps/api/v2/src/modules/slots/slots-2024-09-04/controllers/e2e/user-event-type-slots.controller.e2e-spec.ts
  apps/api/v2/src/modules/slots/slots-2024-09-04/services/slots.service.ts
  apps/api/v2/src/modules/slots/slots-2024-09-04/slots.repository.ts
Labels: 🐛 bug, platform, bookings, core, ready-for-e2e

#21190 chore: remove @calcom/lib/server barrel file
  packages/lib/__tests__/buildCalEventFromBooking.test.ts
  packages/lib/buildCalEventFromBooking.ts
  packages/lib/server/index.ts
Labels: core, foundation, ready-for-e2e

#21179 feat: booking references api type filter
  apps/api/v2/src/ee/bookings/2024-08-13/booking-references.repository.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/bookings.controller.ts
  apps/api/v2/src/ee/bookings/2024-08-13/inputs/booking-references-filter.input.ts
  apps/api/v2/src/ee/bookings/2024-08-13/outputs/booking-references.output.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/booking-references.service.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/output-booking-references.service.ts
  apps/api/v2/src/modules/organizations/teams/bookings/organizations-teams-bookings.controller.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
Labels: ✨ feature, platform, bookings, api, core, ready-for-e2e

#21178 docs: Update delegation credential README
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/delegation-credential/delegation-credential.md
Labels: docs, enterprise, core, ready-for-e2e

#20720 feat: Prerender booking link and reuse with headless router
  apps/web/pages/api/router/index.ts
  apps/web/pages/router/index.tsx
  packages/embeds/LIFECYCLE.md
  packages/embeds/README.md
  packages/embeds/embed-core/README.md
  packages/embeds/embed-core/playground.ts
  packages/embeds/embed-core/routing-playground.html
  packages/embeds/embed-core/src/EmbedElement.ts
  packages/embeds/embed-core/src/Inline/inline.ts
  packages/embeds/embed-core/src/ModalBox/ModalBox.ts
  packages/embeds/embed-core/src/ModalBox/ModalBoxHtml.ts
  packages/embeds/embed-core/src/__tests__/embed-iframe.test.ts
  packages/embeds/embed-core/src/__tests__/utils.test.ts
  packages/embeds/embed-core/src/constants.ts
  packages/embeds/embed-core/src/embed-iframe.ts
  packages/embeds/embed-core/src/embed.test.ts
  packages/embeds/embed-core/src/embed.ts
  packages/embeds/embed-core/src/sdk-action-manager.ts
  packages/embeds/embed-core/src/types.ts
  packages/embeds/embed-core/src/utils.ts
  packages/features/bookings/Booker/Booker.tsx
  packages/features/schedules/lib/use-schedule/useSchedule.ts
  packages/lib/server/defaultHandler.ts
  packages/lib/server/getRoutedUrl.ts
  packages/prisma/seed-insights.ts
  packages/prisma/seed-utils.ts
Labels: ✨ feature, enterprise, embed, core, consumer, ready-for-e2e

#21199 chore: Remove all barrel files in @calcom/features/schedules
  apps/web/components/getting-started/steps-views/SetupAvailability.tsx
  apps/web/modules/availability/availability-view.tsx
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/components/AvailableTimeSlots.tsx
  packages/features/bookings/Booker/components/DatePicker.tsx
  packages/features/bookings/Booker/utils/event.ts
  packages/features/bookings/components/AvailableTimes.tsx
  packages/features/embed/Embed.tsx
  packages/features/schedules/components/index.ts
  packages/features/schedules/index.ts
  packages/features/schedules/lib/use-schedule/index.ts
  packages/features/timezone-buddy/components/AvailabilityEditSheet.tsx
  packages/features/troubleshooter/components/LargeCalendar.tsx
  packages/platform/atoms/availability/AvailabilitySettings.tsx
Labels: core, foundation, ready-for-e2e

#21131 feat: v2 membership attributes
  apps/api/v2/package.json
  apps/api/v2/src/modules/organizations/memberships/organizations-membership.controller.e2e-spec.ts
  apps/api/v2/src/modules/organizations/memberships/organizations-membership.controller.ts
  apps/api/v2/src/modules/organizations/memberships/organizations-membership.repository.ts
  apps/api/v2/src/modules/organizations/memberships/outputs/create-membership.output.ts
  apps/api/v2/src/modules/organizations/memberships/outputs/delete-membership.output.ts
  apps/api/v2/src/modules/organizations/memberships/outputs/get-all-memberships.output.ts
  apps/api/v2/src/modules/organizations/memberships/outputs/get-membership.output.ts
  apps/api/v2/src/modules/organizations/memberships/outputs/organization-membership.output.ts
  apps/api/v2/src/modules/organizations/memberships/outputs/update-membership.output.ts
  apps/api/v2/src/modules/organizations/memberships/services/organizations-membership-output.service.ts
  apps/api/v2/src/modules/organizations/memberships/services/organizations-membership.service.ts
  apps/api/v2/src/modules/organizations/organizations.module.ts
  apps/api/v2/src/modules/organizations/organizations/organizations-organizations.module.ts
  apps/api/v2/src/modules/selected-calendars/selected-calendars.module.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
  packages/platform/libraries/index.ts
  packages/trpc/server/routers/viewer/attributes/getByUserId.handler.ts
  yarn.lock
Labels: ✨ feature, platform, organizations, core, ready-for-e2e

#21170 refactor: Use Iffy for workflow body scanning
  .env.example
  packages/features/ee/organizations/pages/components/DisablePhoneOnlySMSNotificationsSwitch.tsx
  packages/features/tasker/tasks/scanWorkflowBody.test.ts
  packages/features/tasker/tasks/scanWorkflowBody.ts
  packages/lib/constants.ts
  turbo.json
Labels: enterprise, ❗️ .env changes, workflows, core, 💻 refactor, ready-for-e2e

#21187 feat: add feature flag for sending workflow emails with smtp
  packages/features/ee/round-robin/roundRobinManualReassignment.ts
  packages/features/ee/round-robin/roundRobinReassignment.ts
  packages/features/ee/workflows/api/scheduleEmailReminders.ts
  packages/features/ee/workflows/lib/reminders/emailReminderManager.ts
  packages/features/ee/workflows/lib/reminders/reminderScheduler.ts
  packages/features/ee/workflows/lib/reminders/scheduleMandatoryReminder.ts
  packages/features/ee/workflows/lib/test/workflows.test.ts
  packages/features/flags/config.ts
  packages/features/flags/hooks/index.ts
  packages/prisma/migrations/20250508131736_add_workflow_smtp_feature_flag/migration.sql
  packages/trpc/server/routers/viewer/workflows/activateEventType.handler.ts
  packages/trpc/server/routers/viewer/workflows/util.ts
Labels: ✨ feature, ❗️ migrations, emails, core, consumer, ready-for-e2e

#21200 refactor: removes copy-webpack-plugin
  apps/web/next.config.js
  apps/web/package.json
  apps/web/scripts/copy-app-store-static.js
  yarn.lock
Labels: core, 💻 refactor, foundation, ready-for-e2e

#21108 build(apps/web): enabled client code Sentry source maps uploading.
  .env.example
  apps/web/app/api/version/route.ts
  apps/web/instrumentation-client.ts
  apps/web/instrumentation.ts
  apps/web/modules/maintenance/maintenance-view.tsx
  apps/web/next.config.js
  apps/web/package.json
  apps/web/public/static/locales/en/common.json
  apps/web/scripts/create-sentry-release.js
  apps/web/sentry.client.config.ts
  apps/web/sentry.server.config.ts
  turbo.json
  yarn.lock
Labels: 🐛 bug, ⬆️ dependencies, High priority, ❗️ .env changes, 💰 Rewarded, i18n, performance, ci, community, foundation, ready-for-e2e, Public

#21141 test: add tests for the search dropdown in /bookings/upcoming filter
  apps/web/playwright/bookings-list.e2e.ts
Labels: automated-tests, community, ready-for-e2e, community-interns

#21176 chore: setup delegation credential related crons
  apps/web/app/api/cron/credentials/route.ts
  apps/web/app/api/cron/selected-calendars/route.ts
  apps/web/vercel.json
Labels: enterprise, core, ready-for-e2e

#21211 chore: Remove Sentry replay integration
  .env.example
  apps/web/instrumentation-client.ts
  apps/web/sentry.edge.config.ts
  apps/web/sentry.server.config.ts
  turbo.json
Labels: ❗️ .env changes, core, foundation, ready-for-e2e

#21212 fix: add org email into ics when hideorganizer email is true
  packages/emails/lib/generateIcsString.test.ts
  packages/emails/lib/generateIcsString.ts
Labels: 🐛 bug, core, ready-for-e2e

#21063 feat: Add option to include no shows in RR calculations
  apps/web/public/static/locales/en/common.json
  apps/web/test/lib/handleChildrenEventTypes.test.ts
  packages/features/bookings/lib/handleNewBooking/getEventTypesFromDB.ts
  packages/features/bookings/lib/handleNewBooking/loadAndValidateUsers.ts
  packages/features/eventtypes/components/tabs/assignment/EventTeamAssignmentTab.tsx
  packages/lib/bookings/filterHostsByLeadThreshold.ts
  packages/lib/bookings/findQualifiedHostsWithDelegationCredentials.ts
  packages/lib/defaultEvents.ts
  packages/lib/server/getLuckyUser.ts
  packages/lib/server/repository/booking.test.ts
  packages/lib/server/repository/booking.ts
  packages/lib/server/repository/eventType.ts
  packages/lib/test/builder.ts
  packages/platform/atoms/event-types/hooks/useEventTypeForm.ts
  packages/prisma/migrations/20250430031041_add_include_no_show_in_rr_calculation/migration.sql
  packages/prisma/schema.prisma
Labels: ✨ feature, ❗️ migrations, enterprise, event-types, core, ready-for-e2e

#20310 fix: sentry builds
  apps/api/v1/package.json
  apps/api/v1/sentry.client.config.ts
  apps/api/v2/src/instrument.ts
  apps/web/.gitignore
  apps/web/app/global-error.tsx
  apps/web/instrumentation-client.ts
  apps/web/next.config.js
  apps/web/sentry.edge.config.ts
  apps/web/sentry.server.config.ts
  turbo.json
  yarn.lock
Labels: 🐛 bug, ❗️ .env changes, core, foundation, ready-for-e2e

#21065 feat: add autocomplete to login and signup
  apps/web/modules/auth/login-view.tsx
  apps/web/modules/signup-view.tsx
Labels: ✨ feature, 🧹 Improvements, Low priority, Stale, ui, authentication, community, ready-for-e2e

#20499 feat: active managed user billing (v1)
  apps/api/v2/src/modules/billing/billing.module.ts
  apps/api/v2/src/modules/billing/billing.repository.ts
  apps/api/v2/src/modules/billing/controllers/billing.controller.ts
  apps/api/v2/src/modules/billing/services/billing.service.ts
  apps/api/v2/src/modules/billing/types.ts
  apps/api/v2/src/modules/users/users.repository.ts
  packages/platform/examples/base/src/pages/_app.tsx
  packages/platform/examples/base/src/pages/api/managed-user.ts
  packages/prisma/migrations/20250401191319_/migration.sql
  packages/prisma/schema.prisma
Labels: ✨ feature, ❗️ migrations, platform, billing, core, ready-for-e2e

#19975 chore: migrate signup API to appDir
  apps/web/app/api/auth/signup/route.ts
  packages/features/auth/signup/handlers/calcomHandler.ts
  packages/features/auth/signup/handlers/selfHostedHandler.ts
  packages/lib/server/username.ts
Labels: authentication, core, foundation, consumer, ready-for-e2e

#21173 feat: add pagination to get bookings endpoints [v2]
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/bookings.controller.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/bookings.service.ts
  apps/api/v2/src/modules/organizations/bookings/organizations-bookings.controller.ts
  apps/api/v2/src/modules/organizations/teams/bookings/organizations-teams-bookings.controller.ts
  apps/api/v2/src/modules/organizations/users/bookings/controllers/organizations-users-bookings-controller.ts
  apps/api/v2/src/modules/organizations/users/bookings/controllers/organizations-users-bookings.e2e-spec.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
  packages/platform/types/bookings/2024-08-13/inputs/get-bookings.input.ts
  packages/platform/types/bookings/2024-08-13/outputs/get-bookings.output.ts
Labels: ✨ feature, platform, bookings, api, core, ready-for-e2e

#21216 fix: typos in packages/
  packages/features/bookings/Booker/config.ts
  packages/features/bookings/Booker/utils/isTimeslotAvailable.ts
  packages/lib/EventManager.ts
  packages/lib/bookings/findQualifiedHostsWithDelegationCredentials.ts
  packages/lib/delegationCredential/server.ts
  packages/ui/components/navigation/tabs/navigation.test.tsx
Labels: community, ready-for-e2e

#21223 fix: typos in apps/ui-playground
  apps/ui-playground/content/design/components/button.mdx
  apps/ui-playground/content/design/components/textarea.sizes.tsx
Labels: community, ready-for-e2e

#21219 refactor: Uses withReporting to force named functions for tracing
  packages/app-store/routing-forms/lib/handleResponse.ts
  packages/app-store/routing-forms/trpc/utils.ts
  packages/emails/email-manager.ts
  packages/features/bookings/lib/getAllCredentialsForUsersOnEvent/refreshCredentials.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/checkBookingAndDurationLimits.ts
  packages/features/bookings/lib/handleNewBooking/createBooking.ts
  packages/features/bookings/lib/handleNewBooking/ensureAvailableUsers.ts
  packages/features/bookings/lib/handleNewBooking/findBookingQuery.ts
  packages/features/bookings/lib/handleNewBooking/getBookingData.ts
  packages/features/bookings/lib/handleNewBooking/getEventType.ts
  packages/features/bookings/lib/handleNewBooking/getLocationValuesForDb.ts
  packages/features/bookings/lib/handleNewBooking/getRequiresConfirmationFlags.ts
  packages/features/bookings/lib/handleNewBooking/loadAndValidateUsers.ts
  packages/features/bookings/lib/handleNewBooking/scheduleNoShowTriggers.ts
  packages/features/bookings/lib/handleNewBooking/validateBookingTimeIsNotOutOfBounds.ts
  packages/features/bookings/lib/handleNewBooking/validateEventLength.ts
  packages/features/bookings/lib/handleWebhookTrigger.ts
  packages/features/ee/round-robin/assignmentReason/AssignmentReasonRecorder.ts
  packages/features/ee/workflows/lib/reminders/reminderScheduler.ts
  packages/features/ee/workflows/lib/reminders/scheduleMandatoryReminder.ts
  packages/features/webhooks/lib/getWebhooks.ts
  packages/features/webhooks/lib/scheduleTrigger.ts
  packages/lib/bookings/findQualifiedHostsWithDelegationCredentials.ts
  packages/lib/getBusyTimes.ts
  packages/lib/getUserAvailability.ts
  packages/lib/intervalLimits/server/checkBookingLimits.ts
  packages/lib/intervalLimits/server/getBusyTimesFromLimits.ts
  packages/lib/redactSensitiveData.test.ts
  packages/lib/redactSensitiveData.ts
  packages/lib/sentryWrapper.ts
  packages/lib/server/getRoutedUrl.ts
  packages/lib/server/repository/booking.ts
  packages/lib/slots.ts
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: core, 💻 refactor, foundation, ready-for-e2e

#21258 fix: local storage in useTheme hook
  packages/lib/hooks/useTheme.tsx
Labels: 🐛 bug, core, foundation, ready-for-e2e

#21239 fix: Credentials cron for DelegationCredential not working
  apps/web/app/api/cron/credentials/route.ts
  apps/web/app/api/cron/selected-calendars/route.ts
  packages/app-store/googlecalendar/lib/CalendarService.ts
  packages/features/calendar-cache/calendar-cache.repository.ts
Labels: 🐛 bug, enterprise, core, ready-for-e2e

#21265 fix: localStorage error in AvailableTimeSlots
  packages/features/bookings/Booker/components/AvailableTimeSlots.tsx
Labels: 🐛 bug, bookings, core, foundation, ready-for-e2e

#20126 feat: Credit System (SMS)
  .env.example
  .github/workflows/cron-checkSmsPrices.yml
  apps/web/app/api/cron/checkSmsPrices/route.ts
  apps/web/modules/settings/billing/billing-view.tsx
  apps/web/modules/settings/billing/components/BillingCredits.tsx
  apps/web/modules/settings/billing/components/BillingCreditsSkeleton.tsx
  apps/web/pages/api/trpc/credits/[trpc].ts
  apps/web/pages/api/twilio/webhook.ts
  apps/web/public/static/locales/en/common.json
  packages/emails/email-manager.ts
  packages/emails/src/templates/CreditBalanceLimitReachedEmail.tsx
  packages/emails/src/templates/CreditBalanceLowWarningEmail.tsx
  packages/emails/src/templates/index.ts
  packages/emails/templates/credit-balance-limit-reached-email.ts
  packages/emails/templates/credit-balance-low-warning-email.ts
  packages/features/bookings/lib/handleNewBooking/test/workflow-notifications.test.ts
  packages/features/ee/billing/api/webhook/_checkout.session.completed.ts
  packages/features/ee/billing/api/webhook/index.ts
  packages/features/ee/billing/credit-service.test.ts
  packages/features/ee/billing/credit-service.ts
  packages/features/ee/billing/stripe-billling-service.ts
  packages/features/ee/workflows/api/scheduleSMSReminders.ts
  packages/features/ee/workflows/api/scheduleWhatsappReminders.ts
  packages/features/ee/workflows/lib/reminders/messageDispatcher.ts
  packages/features/ee/workflows/lib/reminders/providers/twilioProvider.ts
  packages/features/ee/workflows/lib/reminders/reminderScheduler.test.ts
  packages/features/ee/workflows/lib/reminders/reminderScheduler.ts
  packages/features/ee/workflows/lib/reminders/smsReminderManager.ts
  packages/features/ee/workflows/lib/reminders/whatsappReminderManager.ts
  packages/features/ee/workflows/lib/test/workflows.test.ts
  packages/lib/constants.ts
  packages/lib/server/repository/credits.ts
  packages/lib/server/repository/membership.ts
  packages/lib/server/repository/team.ts
  packages/prisma/migrations/20250506113723_add_credit_balance/migration.sql
  packages/prisma/schema.prisma
  packages/sms/sms-manager.ts
  packages/trpc/react/shared.ts
  packages/trpc/server/routers/viewer/_router.tsx
  packages/trpc/server/routers/viewer/credits/_router.tsx
  packages/trpc/server/routers/viewer/credits/buyCredits.handler.ts
  packages/trpc/server/routers/viewer/credits/buyCredits.schema.ts
  packages/trpc/server/routers/viewer/credits/getAllCredits.handler.ts
  packages/trpc/server/routers/viewer/credits/getAllCredits.schema.ts
  turbo.json
Labels: ✨ feature, ❗️ migrations, teams, ❗️ .env changes, billing, core, consumer, ready-for-e2e

#21256 fix: Ensure Default Location is Applied When Creating New Event Type via API v2
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/input-event-types.service.ts
Labels: 🐛 bug, platform, api, event-types, core, ready-for-e2e

#21255 fix: Inconsistent Location Handling for Event Types API - Map office365-video to msteams in Validation Handling
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/event-types.module.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/input-event-types.service.ts
  apps/api/v2/src/modules/organizations/event-types/services/input.service.ts
  apps/api/v2/src/modules/teams/event-types/teams-event-types.module.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
Labels: 🐛 bug, platform, api, event-types, core, 💻 refactor, ready-for-e2e

#21245 feat: SMS credits for free users
  apps/web/app/api/cron/checkSmsPrices/route.ts
  apps/web/modules/settings/billing/components/BillingCredits.tsx
  apps/web/pages/api/twilio/webhook.ts
  apps/web/public/static/locales/en/common.json
  packages/emails/email-manager.ts
  packages/emails/src/templates/CreditBalanceLimitReachedEmail.tsx
  packages/emails/src/templates/CreditBalanceLowWarningEmail.tsx
  packages/emails/templates/credit-balance-limit-reached-email.ts
  packages/emails/templates/credit-balance-low-warning-email.ts
  packages/features/ee/billing/api/webhook/_checkout.session.completed.ts
  packages/features/ee/billing/credit-service.test.ts
  packages/features/ee/billing/credit-service.ts
  packages/features/ee/workflows/components/AddActionDialog.tsx
  packages/features/ee/workflows/components/WorkflowStepContainer.tsx
  packages/features/ee/workflows/lib/getOptions.ts
  packages/features/ee/workflows/lib/reminders/reminderScheduler.test.ts
  packages/features/ee/workflows/lib/reminders/reminderScheduler.ts
  packages/lib/server/repository/credits.ts
  packages/lib/server/repository/membership.ts
  packages/lib/server/repository/team.ts
  packages/trpc/server/routers/viewer/credits/buyCredits.handler.ts
  packages/trpc/server/routers/viewer/credits/buyCredits.schema.ts
  packages/trpc/server/routers/viewer/credits/getAllCredits.handler.ts
  packages/trpc/server/routers/viewer/credits/getAllCredits.schema.ts
  packages/trpc/server/routers/viewer/workflows/activateEventType.handler.ts
  packages/trpc/server/routers/viewer/workflows/getWorkflowActionOptions.handler.ts
  packages/trpc/server/routers/viewer/workflows/update.handler.ts
  packages/ui/components/badge/CreditsBadge.tsx
  packages/ui/components/badge/index.ts
  packages/ui/components/form/select/components.tsx
Labels: ❗️ migrations, 🧹 Improvements, docs, ❗️ .env changes, workflows, billing, core, consumer, ready-for-e2e

#21274 fix: corrected path for cron in documentation
  docs/developing/local-development.mdx
  docs/self-hosting/installation.mdx
Labels: docs, community, ready-for-e2e

#21272 perf: don't load ring.mp3 on booking page
  apps/web/app/layout.tsx
  apps/web/app/providers.tsx
Labels: 🧹 Improvements, enterprise, booking-page, performance, core, ready-for-e2e

#21263 fix: use actual event duration mins for templated event names
  apps/web/modules/bookings/views/bookings-single-view.tsx
  packages/emails/email-manager.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/ee/round-robin/roundRobinManualReassignment.ts
  packages/features/ee/round-robin/roundRobinReassignment.ts
  packages/lib/bookings/getCalendarLinks.ts
Labels: 🐛 bug, bookings, event-types, community, ready-for-e2e

#21286 chore: Remove `bcryptjs` dependency from @calcom/lib
  packages/lib/package.json
  yarn.lock
Labels: ⬆️ dependencies, core, foundation, ready-for-e2e

#21288 fix: Salesforce - fix option to create contact if account exists
  packages/app-store/salesforce/components/EventTypeAppCardInterface.tsx
  packages/platform/atoms/event-types/hooks/useEventTypeForm.ts
Labels: 🐛 bug, enterprise, core, crm-apps, ready-for-e2e

#21259 fix: add arg validation to ensureValidPhoneNumber
  packages/features/bookings/lib/getBookingResponsesSchema.ts
Labels: 🐛 bug, bookings, core, foundation, ready-for-e2e

#21196 docs: correct documentation for slot format in 2024-09-04 API
  apps/api/v2/src/modules/slots/slots-2024-09-04/controllers/slots.controller.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
Labels: docs, api, community, ready-for-e2e

#21214 fix: v2 sentry errors
  apps/api/v2/src/ee/bookings/2024-08-13/services/bookings.service.ts
  apps/api/v2/src/modules/slots/slots-2024-04-15/controllers/slots.controller.ts
  apps/api/v2/src/modules/slots/slots-2024-09-04/services/slots.service.ts
  packages/lib/event-types/transformers/internal-to-api/locations.ts
  packages/platform/types/bookings/2024-08-13/inputs/location.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/locations.input.ts
  packages/platform/types/slots/slots-2024-04-15/inputs/index.ts
  packages/platform/types/slots/slots-2024-09-04/inputs/get-slots.input.ts
Labels: platform, core, ready-for-e2e

#21191 fix: v2 bookings with sms reminders
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/user-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/bookings.service.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/input.service.ts
  apps/api/v2/test/fixtures/repository/workflow-reminder.repository.fixture.ts
  apps/api/v2/test/fixtures/repository/workflow.repository.fixture.ts
Labels: platform, bookings, core, ready-for-e2e

#21278 fix: sticky columns in DataTable
  packages/features/data-table/components/DataTable.tsx
Labels: 📉 regressing, core, consumer, ready-for-e2e

#21300 chore: Lower number of errors sent to Sentry
  .env.example
  apps/web/instrumentation-client.ts
  apps/web/sentry.edge.config.ts
  apps/web/sentry.server.config.ts
  packages/app-store/googlecalendar/api/webhook.ts
  turbo.json
Labels: ❗️ .env changes, core, foundation, ready-for-e2e

#21306 fix: useLocale used outside of App Router & time zone dropdown timeout
  packages/platform/atoms/lib/useLocale.ts
  packages/platform/atoms/vite.config.ts
Labels: 🐛 bug, platform, core, ready-for-e2e

#21302 fix: case insensitive filter for attendees on /bookings
  packages/trpc/server/routers/viewer/bookings/get.handler.ts
Labels: 🐛 bug, bookings, core, consumer, ready-for-e2e

#21311 chore: Back down @calcom/Consumer CODEOWNERS
  .github/CODEOWNERS
Labels: core, admin, foundation, ready-for-e2e

#21312 chore: Add @calcom/Consumer as CODEOWNER for ui-playground
  .github/CODEOWNERS
Labels: core, admin, foundation, ready-for-e2e

#21309 refactor: Handle API v2 team slots in useSchedule hook
  packages/features/bookings/Booker/utils/event.ts
  packages/features/schedules/lib/use-schedule/useSchedule.ts
Labels: performance, core, 💻 refactor, foundation, ready-for-e2e

#21318 fix: user primary email not updating on reassignment
  packages/features/ee/round-robin/roundRobinReassignment.ts
Labels: 🐛 bug, teams, core, ready-for-e2e

#21317 fix: Seated events and round robin - all round robin hosts are being added to the calendar event
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/test/buildEventForTeamEventType.test.ts
  packages/features/bookings/lib/handleNewBooking/test/team-bookings/seatedRoundRobin.test.ts
Labels: 🐛 bug, High priority, teams, seats, core, ready-for-e2e

#21315 feat: Add `AssignmentReason` to `BOOKING_CREATED` webhook
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/ee/round-robin/assignmentReason/AssignmentReasonRecorder.ts
Labels: enterprise, core, ready-for-e2e

#21333 fix: add link to /help/billing-and-usage/messaging-credits
  apps/web/modules/settings/billing/components/BillingCredits.tsx
  apps/web/public/static/locales/en/common.json
Labels: i18n, billing, core, consumer, ready-for-e2e

#21279 fix: v2 token secret conflicts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.ts
  apps/api/v2/src/modules/tokens/tokens.repository.ts
Labels: 🐛 bug, platform, api, core, ready-for-e2e

#21338 fix: unable to save workflow with verified secondary email
  packages/trpc/server/routers/viewer/workflows/util.ts
Labels: 🐛 bug, workflows, core, ready-for-e2e

#21341 refactor: check insights feature flag in higher stack
  apps/web/app/(use-page-wrapper)/insights/layout.tsx
  apps/web/app/(use-page-wrapper)/insights/page.tsx
  apps/web/app/(use-page-wrapper)/insights/router-position/page.tsx
  apps/web/app/(use-page-wrapper)/insights/routing/page.tsx
Labels: insights, core, 💻 refactor, foundation, ready-for-e2e

#21348 fix: (hu) correct typo 'ektávolítás' to 'eltávolítás' in Hungarian tr…
  apps/web/public/static/locales/hu/common.json
Labels: 🐛 bug, i18n, community, ready-for-e2e

#21301 fix: Allow zero `routingFormResponseId` in API v2 available endpoint
  apps/api/v2/src/modules/slots/slots-2024-04-15/controllers/slots.controller.e2e-spec.ts
  packages/features/schedules/lib/use-schedule/useSchedule.ts
  packages/platform/types/slots/slots-2024-04-15/inputs/index.ts
Labels: 🐛 bug, enterprise, api, core, ready-for-e2e

#21339 fix: booker atom seated events reservation
  apps/api/v2/src/modules/slots/slots-2024-04-15/services/slots.service.ts
  packages/features/bookings/Booker/components/AvailableTimeSlots.tsx
  packages/platform/atoms/hooks/useReserveSlot.ts
  packages/platform/atoms/hooks/useSlots.ts
  packages/platform/examples/base/src/pages/booking.tsx
Labels: 🐛 bug, platform, bookings, seats, core, ready-for-e2e

#21163 fix: POST /v2/bookings validate submitted booking fields
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/booking-fields.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/bookings.service.ts
Labels: 🐛 bug, platform, bookings, core, ready-for-e2e

#21362 fix: remove disabled on SMS Workflow actions
  packages/features/ee/workflows/components/AddActionDialog.tsx
Labels: 🐛 bug, workflows, core, consumer, ready-for-e2e

#21299 feat: automated changelogs and releases by changesets
  .changeset/config.json
  .github/workflows/changesets.yml
  README.md
  apps/api/v2/package.json
  apps/api/v2/src/modules/slots/slots-2024-04-15/controllers/slots.controller.e2e-spec.ts
  package.json
  packages/features/bookings/lib/handleNewBooking/test/team-bookings/seatedRoundRobin.test.ts
  packages/platform/atoms/README.md
  packages/platform/atoms/package.json
  yarn.lock
Labels: ✨ feature, platform, workflows, core, ready-for-e2e

#21363 fix: Update email template to display rescheduleBy
  packages/emails/src/templates/BaseScheduledEmail.tsx
  packages/features/bookings/lib/handleNewBooking.ts
  packages/types/Calendar.d.ts
Labels: 🐛 bug, bookings, core, ready-for-e2e

#21367 fix: allows users with additional credits to send verification code
  packages/trpc/server/routers/viewer/workflows/sendVerificationCode.handler.ts
Labels: 🐛 bug, workflows, core, ready-for-e2e

#21365 perf: ignore Object Not Found Matching Id error to prevent sentry overload
  apps/web/instrumentation-client.ts
Labels: performance, core, foundation, ready-for-e2e

#21369 perf: Better perf by going event type first w/o booking
  packages/trpc/server/routers/viewer/workflows/activateEventType.handler.ts
Labels: performance, core, foundation, ready-for-e2e

#21335 fix: make 'Send reset email' button text visible on hover (#21334)
  apps/web/modules/auth/forgot-password/forgot-password-view.tsx
Labels: 🐛 bug, ui, community, ready-for-e2e

#18782 feat: option to enforce language for bookingPage
  apps/web/app/(booking-page-wrapper)/[user]/[type]/embed/page.tsx
  apps/web/app/(booking-page-wrapper)/[user]/[type]/page.tsx
  apps/web/app/(booking-page-wrapper)/org/[orgSlug]/[user]/[type]/embed/page.tsx
  apps/web/app/(booking-page-wrapper)/org/[orgSlug]/[user]/[type]/page.tsx
  apps/web/app/(booking-page-wrapper)/team/[slug]/[type]/embed/page.tsx
  apps/web/app/(booking-page-wrapper)/team/[slug]/[type]/page.tsx
  apps/web/app/(use-page-wrapper)/booking/[uid]/embed/page.tsx
  apps/web/app/(use-page-wrapper)/booking/[uid]/page.tsx
  apps/web/app/CustomI18nProvider.tsx
  apps/web/lib/booking.ts
  apps/web/lib/team/[slug]/[type]/getServerSideProps.tsx
  apps/web/playwright/event-types.e2e.ts
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/types.ts
  packages/features/eventtypes/components/tabs/setup/EventSetupTab.tsx
  packages/features/eventtypes/lib/getPublicEvent.ts
  packages/features/eventtypes/lib/types.ts
  packages/lib/defaultEvents.ts
  packages/lib/hooks/useLocale.ts
  packages/lib/server/eventTypeSelect.ts
  packages/lib/server/repository/eventType.ts
  packages/lib/test/builder.ts
  packages/platform/atoms/event-types/wrappers/EventSetupTabWebWrapper.tsx
  packages/prisma/migrations/20250117091620_event_type_add_interface_language/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/zod-utils.ts
Labels: ✨ feature, ❗️ migrations, 💎 Bounty, bookings, i18n, ui, event-types, booking-page, event types, 🙋 Bounty claim, community, ready-for-e2e, $20

#21383 chore: Add workflow to post security advisories to Slack
  .github/workflows/advisories-to-slack.yml
Labels: core, security, foundation, ready-for-e2e

#21384 chore: Update advisories-to-slack.yml
  .github/workflows/advisories-to-slack.yml
Labels: ci, core, foundation, ready-for-e2e

#21251 feat: support no show webhook for instant meetings
  packages/trpc/server/routers/loggedInViewer/connectAndJoin.handler.ts
Labels: ✨ feature, enterprise, webhooks, core, ready-for-e2e

#21388 chore: add missing migration for RoutingFormResponseDenormalized
  packages/prisma/migrations/20250519083756_missing_migration_routing_form_response_denormalized/migration.sql
  packages/prisma/schema.prisma
Labels: ❗️ migrations, core, consumer, ready-for-e2e

#21396 revert: "perf: add p-limit to _getUsersAvailability to limit concurre…
  packages/lib/getUserAvailability.ts
Labels: core, foundation, ready-for-e2e

#21390 fix: Wrong event details sent to previous host on reschedule RR event
  packages/features/bookings/lib/handleNewBooking.ts
Labels: 🐛 bug, teams, bookings, core, ready-for-e2e

#21391 chore: bump platform libraries for v2
  apps/api/v2/package.json
  yarn.lock
Labels: platform, core, ready-for-e2e

#21381 perf: cache TRPC queries in /event-types RSC
  apps/web/app/(use-page-wrapper)/(main-nav)/event-types/page.tsx
  apps/web/app/_trpc/context.ts
  apps/web/app/_types.ts
Labels: event-types, performance, core, foundation, ready-for-e2e

#21402 perf: follow up of server query caching in /event-types
  packages/features/ee/teams/components/CreateANewTeamForm.tsx
  packages/features/ee/teams/pages/team-profile-view.tsx
  packages/features/eventtypes/components/DuplicateDialog.tsx
Labels: event-types, performance, core, foundation, ready-for-e2e

#21270 fix: Handle invalid non-delegation credential in cron
  apps/web/app/api/cron/credentials/__tests__/cron.test.ts
  apps/web/app/api/cron/credentials/route.ts
  apps/web/app/api/cron/selected-calendars/__tests__/cron.test.ts
  apps/web/app/api/cron/selected-calendars/route.ts
  packages/app-store/googlecalendar/lib/CalendarService.ts
  packages/features/calendar-cache/api/cron.ts
  packages/features/calendar-cache/calendar-cache.repository.ts
  packages/features/delegation-credentials/README.md
  packages/features/delegation-credentials/scripts/rate-limit-test-google-service-account-impersonation.js
  packages/lib/getCalendarsEvents.ts
  packages/lib/server/__mocks__/serviceAccountKey.ts
  packages/lib/server/repository/selectedCalendar.ts
Labels: enterprise, automated-tests, core, calendar-apps, ready-for-e2e

#21397 chore: Increase workflows/trpc timeout to 800s
  apps/web/vercel.json
Labels: workflows, core, foundation, ready-for-e2e

#21398 perf: cache TRPC queries in /availability RSC
  apps/web/app/(use-page-wrapper)/(main-nav)/availability/page.tsx
Labels: performance, core, foundation, ready-for-e2e

#21415 chore: use correct import path for AppRouter
  apps/web/components/apps/MultiDisconnectIntegration.tsx
Labels: core, 💻 refactor, consumer, ready-for-e2e

#21419 test: update flaky tests
  packages/features/insights/__tests__/booking-denormalized.integration-test.ts
  packages/features/insights/__tests__/routing-form-response-denormalized.integration-test.ts
  packages/lib/slots.test.ts
Labels: automated-tests, core, consumer, ready-for-e2e

#21356 fix: apply transaction to public methods of CreditService
  packages/features/ee/billing/credit-service.test.ts
  packages/features/ee/billing/credit-service.ts
  packages/lib/server/repository/credits.ts
  packages/lib/server/repository/membership.ts
Labels: core, consumer, ready-for-e2e

#21420 fix: add migration to backfill BookingDenormalized
  packages/prisma/migrations/20250520143014_booking_denormalized_backfill/migration.sql
Labels: ❗️ migrations, core, consumer, ready-for-e2e

#21342 perf: Server Fetching for platform members and org members pages
  apps/web/app/(use-page-wrapper)/settings/organizations/[id]/members/layout.tsx
  apps/web/app/(use-page-wrapper)/settings/organizations/[id]/members/loading.tsx
  apps/web/app/(use-page-wrapper)/settings/organizations/[id]/members/page.tsx
  apps/web/app/(use-page-wrapper)/settings/organizations/members/layout.tsx
  apps/web/app/(use-page-wrapper)/settings/organizations/members/loading.tsx
  apps/web/app/(use-page-wrapper)/settings/organizations/members/page.tsx
  apps/web/app/(use-page-wrapper)/settings/platform/members/layout.tsx
  apps/web/app/(use-page-wrapper)/settings/platform/members/loading.tsx
  apps/web/app/(use-page-wrapper)/settings/platform/members/page.tsx
  apps/web/modules/members/members-view.tsx
  packages/features/ee/organizations/pages/members.tsx
  packages/features/ee/platform/pages/settings/members.tsx
  packages/features/users/components/UserTable/UserListTable.tsx
  packages/features/users/components/UserTable/UserListTableSkeleton.tsx
Labels: 🧹 Improvements, organizations, performance, core, foundation, ready-for-e2e

#21421 fix: WhatsApp workflows are not working
  .env.example
  packages/features/ee/workflows/api/scheduleWhatsappReminders.ts
  packages/features/ee/workflows/lib/reminders/messageDispatcher.ts
  packages/features/ee/workflows/lib/reminders/providers/twilioProvider.ts
  packages/features/ee/workflows/lib/reminders/templates/whatsapp/ContentSidMapping.ts
  packages/features/ee/workflows/lib/reminders/whatsappReminderManager.ts
  turbo.json
Labels: 🐛 bug, ❗️ .env changes, core, ready-for-e2e

#21410 fix: don’t let the booking page crash on invalid metadata
  apps/web/components/booking/BookingListItem.tsx
  apps/web/modules/bookings/views/bookings-single-view.tsx
Labels: 🐛 bug, booking-page, core, ready-for-e2e

#21434 fix: don't schedule past workflow reminders with tasker
  packages/features/ee/workflows/lib/reminders/providers/emailProvider.ts
  packages/features/ee/workflows/lib/test/workflows.test.ts
Labels: 🐛 bug, workflows, core, consumer, ready-for-e2e

#21416 fix: canceling workflow reminders
  packages/features/tasker/tasks/scanWorkflowBody.test.ts
  packages/features/tasker/tasks/scanWorkflowBody.ts
  packages/trpc/server/routers/viewer/workflows/activateEventType.handler.ts
Labels: 🐛 bug, workflows, event-types, core, consumer, ready-for-e2e

#21433 perf: use app dir to fetch team feature flags in settings
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/SettingsLayoutAppDirClient.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/layout.tsx
  packages/features/flags/features.repository.ts
  packages/features/flags/hooks/useIsFeatureEnabledForTeam.ts
  packages/trpc/server/routers/viewer/delegationCredential/_router.ts
Labels: teams, core, consumer, ready-for-e2e

#21380 feat(bookings): implement Booking UID filter for bookings data table.
  apps/web/modules/bookings/views/bookings-listing-view.tsx
  apps/web/public/static/locales/en/common.json
  packages/lib/bookings/getAllUserBookings.ts
  packages/platform/types/bookings/2024-08-13/inputs/get-bookings.input.ts
  packages/trpc/server/routers/viewer/bookings/get.handler.ts
  packages/trpc/server/routers/viewer/bookings/get.schema.ts
Labels: ✨ feature, 🧹 Improvements, bookings, community, consumer, ready-for-e2e

#21028 fix: replace bookingTimeStatus with bookingTimeStatusDenormalized
  apps/web/app/api/cron/monthlyDigestEmail/route.ts
  packages/features/insights/server/events.ts
  packages/features/insights/server/trpc-router.ts
Labels: bookings, core, consumer, ready-for-e2e

#21424 perf: use server fetched data in instant-meeting and private booking pages
  apps/web/lib/d/[link]/[slug]/getServerSideProps.tsx
  apps/web/lib/org/[orgSlug]/instant-meeting/team/[slug]/[type]/getServerSideProps.ts
  apps/web/modules/d/[link]/d-type-view.tsx
  apps/web/modules/org/[orgSlug]/instant-meeting/team/[slug]/[type]/instant-meeting-view.tsx
Labels: 🧹 Improvements, bookings, performance, core, foundation, ready-for-e2e

#21426 chore: remove last booking response dead code
  packages/features/bookings/Booker/components/hooks/useBookingForm.ts
  packages/features/bookings/Booker/components/hooks/useInitialFormValues.ts
  packages/features/bookings/Booker/utils/lastBookingResponse.test.ts
  packages/features/bookings/Booker/utils/lastBookingResponse.ts
  packages/platform/atoms/booker/BookerWebWrapper.tsx
  packages/platform/atoms/hooks/bookings/useHandleBookEvent.ts
Labels: bookings, core, foundation, ready-for-e2e

#21425 refactor: simplify arg of useBookerLayout hook
  packages/features/bookings/Booker/components/hooks/useBookerLayout.ts
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
  packages/platform/atoms/booker/BookerWebWrapper.tsx
Labels: core, 💻 refactor, foundation, ready-for-e2e

#21276 feat: Send emails to potentially affected Organization Members on disabling delegation credential
  apps/web/public/static/locales/en/common.json
  packages/emails/email-manager.ts
  packages/emails/templates/delegation-credential-disabled-email.ts
  packages/features/delegation-credentials/README.md
  packages/features/ee/organizations/pages/settings/delegationCredential.tsx
  packages/lib/server/repository/__tests__/delegationCredential.test.ts
  packages/lib/server/repository/delegationCredential.ts
  packages/lib/server/repository/membership.ts
  packages/prisma/migrations/20250520103718_add_last_enabled_at_disabled_at_to_delegation_credential/migration.sql
  packages/prisma/migrations/20250520103801_add_missing_default_now_to_created_at_membership/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/delegationCredential/_router.ts
  packages/trpc/server/routers/viewer/delegationCredential/getAffectedMembersForDisable.handler.ts
  packages/trpc/server/routers/viewer/delegationCredential/schema.ts
  packages/trpc/server/routers/viewer/delegationCredential/toggleEnabled.handler.ts
Labels: ✨ feature, ❗️ migrations, enterprise, emails, core, ready-for-e2e
