Repository calcom/cal.com, pull requests merged in 2025-06, with the labels that each got.

#21671 fix: Correct typo 'siège' to 'place' in French translation
  apps/web/public/static/locales/fr/common.json
Labels: community

#21686 fix: Update handlers and refactor code
  packages/app-store/routing-forms/trpc/getIncompleteBookingSettings.handler.ts
  packages/trpc/server/routers/viewer/apps/appCredentialsByType.handler.ts
Labels: 🐛 bug, routing-forms, core, ready-for-e2e

#21693 fix-wrong-url-on-auth-error
  packages/features/auth/lib/next-auth-options.ts
Labels: 🐛 bug, enterprise, authentication, core, ready-for-e2e

#21748 chore: @foundation required for embeds changes
  .github/CODEOWNERS
Labels: core, admin, foundation, ready-for-e2e

#21742 chore: enable disable rewrite for apiv2 selfhost
  apps/api/v2/.env.example
  apps/api/v2/src/env.ts
  apps/api/v2/src/middleware/app.rewrites.middleware.ts
Labels: platform, core, ready-for-e2e

#21730 fix: Use setTimeout instead of requestAnimationFrame which is more reliable and support calOrigin in prerender
  packages/embeds/embed-core/src/embed-iframe.ts
  packages/embeds/embed-core/src/embed.ts
Labels: 🐛 bug, enterprise, embed, core, ready-for-e2e

#21734 fix: improved update host in eventName function to handle more pattern
  packages/lib/event.test.ts
  packages/lib/event.ts
Labels: 🐛 bug, core, ready-for-e2e

#21684 fix: Incorrect RR host is shown in the email and calendar event for a seated RR event
  packages/features/bookings/lib/handleNewBooking.ts
Labels: 🐛 bug, High priority, bookings, core, ready-for-e2e

#21741 docs: Cleanup false info
  docs/developing/guides/appstore-and-integration/oauth.mdx
  docs/mint.json
Labels: docs, enterprise, core, ready-for-e2e

#21758 feat: override name in daily video
  apps/web/lib/video/[uid]/getServerSideProps.ts
  apps/web/modules/videos/views/videos-single-view.tsx
Labels: ✨ feature, enterprise, core, cal video, ready-for-e2e, Requested

#21733 fix: cal atoms schedule container class in availability settings custom class names not being applied
  packages/features/schedules/components/Schedule.tsx
  packages/platform/atoms/availability/AvailabilitySettings.tsx
  packages/platform/atoms/availability/types.ts
Labels: 🐛 bug, Low priority, ui, community, ready-for-e2e

#21779 fix: multi-line formatted correctly for sms
  packages/ui/components/editor/Editor.test.tsx
  packages/ui/components/editor/plugins/ToolbarPlugin.tsx
Labels: 🐛 bug, workflows, Private, community, ready-for-e2e

#21768 feat: add credit purchase log
  packages/features/ee/billing/api/webhook/_checkout.session.completed.ts
  packages/lib/server/repository/credits.ts
  packages/prisma/migrations/20250611112835_add_credit_purchase_log/migration.sql
  packages/prisma/schema.prisma
Labels: ❗️ migrations, billing, core, consumer, ready-for-e2e

#21790 fix: remove deprecated fields from retell ai
  packages/features/ee/cal-ai-phone/retellAIService.ts
  packages/features/ee/cal-ai-phone/zod-utils.ts
Labels: enterprise, core, 🚨 urgent, ai, ready-for-e2e

#21776 perf: use repository for apiKeys list query & caching in /settings/developer/api-keys RSC
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/developer/api-keys/actions.ts
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/developer/api-keys/page.tsx
  packages/lib/server/repository/apiKey.ts
  packages/trpc/server/routers/viewer/apiKeys/list.handler.ts
Labels: api, performance, core, ready-for-e2e

#21787 fix: apply user timeZone for Event Trends on /insights
  packages/features/insights/server/events.ts
  packages/features/insights/server/trpc-router.ts
Labels: 🐛 bug, insights, core, consumer, ready-for-e2e

#21175 fix: Updates to HitPay app
  packages/app-store/hitpay/api/callback.ts
  packages/app-store/hitpay/api/webhook.ts
  packages/app-store/hitpay/lib/PaymentService.ts
  packages/app-store/hitpay/lib/types.d.ts
Labels: 🐛 bug, app-store, bookings, community, ready-for-e2e

#21336 feat: api v2 get google-calendar event details
  apps/api/v2/package.json
  apps/api/v2/src/ee/bookings/2024-08-13/booking-references.repository.ts
  apps/api/v2/src/ee/calendars/calendars.module.ts
  apps/api/v2/src/ee/calendars/services/gcal.service.ts
  apps/api/v2/src/modules/cal-unified-calendars/cal-unified-calendars.module.ts
  apps/api/v2/src/modules/cal-unified-calendars/controllers/cal-unified-calendars.controller.ts
  apps/api/v2/src/modules/cal-unified-calendars/outputs/get-unified-calendar-event.ts
  apps/api/v2/src/modules/cal-unified-calendars/pipes/get-calendar-event-details-output-pipe.ts
  apps/api/v2/src/modules/cal-unified-calendars/services/google-calendar.service.ts
  apps/api/v2/src/modules/endpoints.module.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
  packages/platform/libraries/app-store.ts
  yarn.lock
Labels: ✨ feature, platform, api, core, calendar-apps, ready-for-e2e

#21691 feat: enable transcription automatically
  apps/web/lib/video/[uid]/getServerSideProps.ts
  apps/web/modules/videos/ai/ai-transcribe.tsx
  apps/web/modules/videos/views/videos-single-view.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/eventtypes/components/Locations.tsx
  packages/features/eventtypes/lib/types.ts
  packages/lib/server/repository/booking.ts
  packages/lib/server/repository/calVideoSettings.ts
  packages/lib/server/repository/eventType.ts
  packages/platform/atoms/event-types/hooks/useEventTypeForm.ts
  packages/prisma/migrations/20250528061149_add_transcription_setting/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/eventTypes/types.ts
  packages/trpc/server/routers/viewer/eventTypes/update.handler.ts
Labels: 🐛 bug, ❗️ migrations, Medium priority, enterprise, core, cal video, ai, ready-for-e2e

#21611 feat: restructure org pages based on permission levels
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/(org-admin-only)/attributes/[id]/edit/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/(org-admin-only)/attributes/create/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/(org-admin-only)/attributes/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/(org-admin-only)/billing/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/(org-admin-only)/delegation-credential/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/(org-admin-only)/dsync/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/(org-admin-only)/layout.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/(org-admin-only)/privacy/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/(org-admin-only)/sso/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/billing/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/organizations/layout.tsx
  apps/web/app/(use-page-wrapper)/settings/organizations/(org-admin-only)/appearance/page.tsx
  apps/web/app/(use-page-wrapper)/settings/organizations/(org-admin-only)/layout.tsx
  apps/web/app/(use-page-wrapper)/settings/organizations/(org-user-only)/[id]/members/layout.tsx
  apps/web/app/(use-page-wrapper)/settings/organizations/(org-user-only)/[id]/members/loading.tsx
  apps/web/app/(use-page-wrapper)/settings/organizations/(org-user-only)/[id]/members/page.tsx
  apps/web/app/(use-page-wrapper)/settings/organizations/(org-user-only)/layout.tsx
  apps/web/app/(use-page-wrapper)/settings/organizations/(org-user-only)/members/actions.ts
  apps/web/app/(use-page-wrapper)/settings/organizations/(org-user-only)/members/layout.tsx
  apps/web/app/(use-page-wrapper)/settings/organizations/(org-user-only)/members/loading.tsx
  apps/web/app/(use-page-wrapper)/settings/organizations/(org-user-only)/members/page.tsx
  packages/features/ee/organizations/pages/settings/attributes/DeleteAttributeModal.tsx
  packages/features/ee/organizations/pages/settings/attributes/attributes-create-view.tsx
  packages/features/ee/organizations/pages/settings/attributes/attributes-edit-view.tsx
  packages/features/ee/organizations/pages/settings/attributes/attributes-list-view.tsx
Labels: ✨ feature, organizations, core, foundation, ready-for-e2e

#21648 chore: move logics to FilterSegmentRepository
  packages/lib/server/repository/__tests__/filterSegments/create.test.ts
  packages/lib/server/repository/__tests__/filterSegments/delete.test.ts
  packages/lib/server/repository/__tests__/filterSegments/get.test.ts
  packages/lib/server/repository/__tests__/filterSegments/update.test.ts
  packages/lib/server/repository/filterSegment.ts
  packages/lib/server/repository/filterSegment.type.ts
  packages/trpc/server/routers/viewer/filterSegments/_router.tsx
  packages/trpc/server/routers/viewer/filterSegments/create.handler.ts
  packages/trpc/server/routers/viewer/filterSegments/create.schema.ts
  packages/trpc/server/routers/viewer/filterSegments/delete.handler.ts
  packages/trpc/server/routers/viewer/filterSegments/delete.schema.ts
  packages/trpc/server/routers/viewer/filterSegments/list.handler.ts
  packages/trpc/server/routers/viewer/filterSegments/list.schema.ts
  packages/trpc/server/routers/viewer/filterSegments/preference.handler.ts
  packages/trpc/server/routers/viewer/filterSegments/preference.schema.ts
  packages/trpc/server/routers/viewer/filterSegments/types.ts
  packages/trpc/server/routers/viewer/filterSegments/update.handler.ts
  packages/trpc/server/routers/viewer/filterSegments/update.schema.ts
Labels: core, 💻 refactor, consumer, ready-for-e2e

#21329 chore: Org Team workflows endpoints [v2]
  apps/api/v2/package.json
  apps/api/v2/src/modules/auth/guards/workflows/is-workflow-in-team.ts
  apps/api/v2/src/modules/organizations/organizations.module.ts
  apps/api/v2/src/modules/organizations/teams/workflows/controllers/org-team-workflows.controller.e2e-spec.ts
  apps/api/v2/src/modules/organizations/teams/workflows/controllers/org-team-workflows.controller.ts
  apps/api/v2/src/modules/workflows/inputs/create-workflow.input.ts
  apps/api/v2/src/modules/workflows/inputs/update-workflow.input.ts
  apps/api/v2/src/modules/workflows/inputs/workflow-step.input.ts
  apps/api/v2/src/modules/workflows/inputs/workflow-trigger.input.ts
  apps/api/v2/src/modules/workflows/outputs/workflow.output.ts
  apps/api/v2/src/modules/workflows/services/team-workflows.service.ts
  apps/api/v2/src/modules/workflows/services/workflows.input.service.ts
  apps/api/v2/src/modules/workflows/services/workflows.output.service.ts
  apps/api/v2/src/modules/workflows/workflows.repository.ts
  apps/api/v2/swagger/documentation.json
  apps/api/v2/test/fixtures/repository/verified-resources.repository.fixture.ts
  apps/api/v2/tsconfig.json
  docs/api-reference/v2/openapi.json
  packages/platform/libraries/package.json
  packages/platform/libraries/vite.config.js
  packages/platform/libraries/workflows.ts
  packages/trpc/server/routers/viewer/teams/hasActiveTeamPlan.handler.ts
  packages/trpc/server/routers/viewer/workflows/update.handler.ts
Labels: ✨ feature, teams, platform, workflows, core, foundation, ready-for-e2e

#21788 feat: platform toggle calendar event creation
  apps/api/v2/package.json
  apps/api/v2/src/ee/bookings/2024-04-15/controllers/bookings.controller.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/user-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/bookings.service.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/input.service.ts
  apps/api/v2/src/ee/bookings/shared/platform-bookings.service.ts
  apps/api/v2/src/modules/oauth-clients/services/oauth-clients/oauth-clients-output.service.ts
  apps/api/v2/swagger/documentation.json
  apps/api/v2/test/fixtures/repository/oauth-client.repository.fixture.ts
  apps/web/components/settings/platform/dashboard/oauth-clients-list/index.tsx
  apps/web/components/settings/platform/oauth-clients/OAuthClientCard.tsx
  apps/web/components/settings/platform/oauth-clients/oauth-client-form/index.tsx
  apps/web/modules/settings/platform/oauth-clients/[clientId]/edit/edit-view.tsx
  apps/web/modules/settings/platform/oauth-clients/create-new-view.tsx
  docs/api-reference/v2/openapi.json
  packages/features/bookings/lib/handleConfirmation.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewRecurringBooking.ts
  packages/features/ee/payments/api/webhook.ts
  packages/features/platform-oauth-client/get-platform-params.ts
  packages/features/platform-oauth-client/platform-oauth-client.repository.interface.ts
  packages/features/platform-oauth-client/platform-oauth-client.repository.ts
  packages/lib/EventManager.ts
  packages/lib/payment/getBooking.ts
  packages/lib/payment/handlePaymentSuccess.ts
  packages/platform/libraries/event-types.ts
  packages/platform/types/oauth-clients/inputs/create-oauth-client.input.ts
  packages/platform/types/oauth-clients/inputs/update-oauth-client.input.ts
  packages/platform/types/oauth-clients/outputs/oauth-client.output.ts
  packages/prisma/migrations/20250611095054_add_are_calendar_events_enabled_for_oauth_client/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/zod-utils.ts
  yarn.lock
Labels: ✨ feature, ❗️ migrations, platform, core, ready-for-e2e

#21626 fix: slots rescheduleUid
  apps/api/v2/src/modules/slots/slots-2024-09-04/controllers/e2e/reschedule-uid-slots.controller.e2e-spec.ts
  apps/api/v2/src/modules/slots/slots-2024-09-04/controllers/slots.controller.ts
  apps/api/v2/src/modules/slots/slots-2024-09-04/services/slots-input.service.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
  packages/platform/types/slots/slots-2024-09-04/inputs/get-slots.input.ts
Labels: 🐛 bug, platform, api, community, ready-for-e2e, Customer-reported

#21745 feat: Restrict same email to create more than 'n' active bookings at…
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/checkActiveBookingsLimitForBooker.ts
  packages/features/bookings/lib/handleNewBooking/getEventTypesFromDB.ts
  packages/features/eventtypes/components/tabs/advanced/EventAdvancedTab.tsx
  packages/features/eventtypes/components/tabs/limits/EventLimitsTab.tsx
  packages/features/eventtypes/components/tabs/recurring/RecurringEventController.tsx
  packages/features/eventtypes/lib/types.ts
  packages/lib/defaultEvents.ts
  packages/lib/server/repository/eventType.ts
  packages/lib/test/builder.ts
  packages/platform/atoms/event-types/hooks/useEventTypeForm.ts
  packages/prisma/migrations/20250609132708_added_bookerbookinglimit/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer/eventTypes/update.handler.ts
Labels: ✨ feature, ✅ good first issue, ❗️ migrations, ⚡ Quick Wins, bookings, event-types, community, consumer, ready-for-e2e

#21681 refactor: Do not consider event type id in idempotency key
  packages/prisma/extensions/booking-idempotency-key.ts
Labels: enterprise, bookings, core, 💻 refactor, ready-for-e2e

#21778 feat: Allow reschedule when max booker bookings have been reached
  apps/api/v1/pages/api/slots/_get.test.ts
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/components/BookEventForm/BookEventForm.tsx
  packages/features/bookings/Booker/components/hooks/useBookings.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/checkActiveBookingsLimitForBooker.ts
  packages/features/bookings/lib/handleNewBooking/getEventTypesFromDB.ts
  packages/features/eventtypes/components/tabs/limits/EventLimitsTab.tsx
  packages/features/eventtypes/components/tabs/limits/MaxActiveBookingsPerBookerController.tsx
  packages/features/eventtypes/lib/types.ts
  packages/lib/defaultEvents.ts
  packages/lib/errorCodes.ts
  packages/lib/fetch-wrapper.ts
  packages/lib/http-error.ts
  packages/lib/server/defaultResponder.ts
  packages/lib/server/repository/eventType.ts
  packages/lib/test/builder.ts
  packages/platform/atoms/event-types/hooks/useEventTypeForm.ts
  packages/prisma/migrations/20250613224705_max_booker_booking_limit_offer_reschedule/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer/eventTypes/update.handler.ts
Labels: ✨ feature, ❗️ migrations, enterprise, bookings, event-types, core, ready-for-e2e

#21815 chore: ux improve for seats input
  packages/features/eventtypes/components/tabs/advanced/EventAdvancedTab.tsx
Labels: 🧹 Improvements, seats, community, ready-for-e2e

#21818 fix: Few flaky e2e test
  apps/web/playwright/fixtures/users.ts
  apps/web/playwright/login.2fa.e2e.ts
  apps/web/playwright/organization/booking.e2e.ts
Labels: automated-tests, core, ready-for-e2e

#21833 fix: getBookings for team admins within orgs
  apps/api/v2/package.json
  apps/api/v2/src/ee/bookings/2024-08-13/services/cal-video.service.ts
  apps/api/v2/swagger/documentation.json
  apps/api/v2/tsconfig.json
  docs/api-reference/v2/openapi.json
  packages/platform/libraries/conferencing.ts
  packages/platform/libraries/index.ts
  packages/platform/libraries/package.json
  packages/platform/libraries/vite.config.js
  packages/trpc/server/routers/viewer/bookings/get.handler.ts
Labels: 🐛 bug, teams, platform, bookings, core, foundation, ready-for-e2e

#21744 docs: v2 cancelling seated booking as a host
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/bookings.controller.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/seated-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/output.service.ts
  apps/api/v2/swagger/documentation.json
  apps/api/v2/test/fixtures/repository/booking-seat.repository.fixture.ts
  docs/api-reference/v2/openapi.json
Labels: docs, platform, bookings, seats, core, ready-for-e2e

#21856 chore: Auto review seeded orgs
  packages/prisma/seed.ts
Labels: enterprise, core, ready-for-e2e

#21753 fix: v2 event type disable guests
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/controllers/event-types.controller.e2e-spec.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/input-event-types.service.ts
Labels: 🐛 bug, platform, event-types, core, ready-for-e2e

#21843 fix: replyTo includes the correct email
  packages/emails/templates/organizer-add-guests-email.ts
  packages/emails/templates/organizer-daily-video-download-recording-email.ts
  packages/emails/templates/organizer-daily-video-download-transcript-email.ts
  packages/emails/templates/organizer-location-change-email.ts
  packages/emails/templates/organizer-request-email.ts
  packages/emails/templates/organizer-request-reminder-email.ts
  packages/emails/templates/organizer-rescheduled-email.ts
  packages/emails/templates/organizer-scheduled-email.ts
  packages/lib/getReplyToEmail.ts
  packages/lib/getReplyToHeader.ts
Labels: emails, core, ready-for-e2e

#21864 fix: event type settings atom not saving
  .changeset/polite-actors-go.md
  packages/features/eventtypes/components/Locations.tsx
  packages/platform/atoms/package.json
Labels: platform, event-types, core, ready-for-e2e

#21860 chore: add global prefix to api v2 via env variable for selfhost
  apps/api/v2/src/app.ts
Labels: platform, ❗️ .env changes, core, foundation, ready-for-e2e

#21841 refactor: seated booking reschedule error message
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/seated-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/input.service.ts
Labels: platform, core, 💻 refactor, ready-for-e2e

#21805 feat: Headless router - queue recording booking response
  apps/web/app/api/routing-forms/queued-response/__tests__/queued-response.test.ts
  apps/web/app/api/routing-forms/queued-response/route.ts
  packages/app-store/routing-forms/lib/formSubmissionUtils.ts
  packages/app-store/routing-forms/lib/getResponseToStore.ts
  packages/app-store/routing-forms/lib/handleResponse.ts
  packages/app-store/routing-forms/pages/routing-link/[...appPages].tsx
  packages/app-store/routing-forms/pages/routing-link/getUrlSearchParamsToForward.test.ts
  packages/app-store/routing-forms/pages/routing-link/getUrlSearchParamsToForward.ts
  packages/embeds/embed-core/index.html
  packages/embeds/embed-core/playground/lib/playground-init.ts
  packages/embeds/embed-core/playground/lib/playground.ts
  packages/embeds/embed-core/routing-playground.html
  packages/embeds/embed-core/src/__tests__/embed-iframe.test.ts
  packages/embeds/embed-core/src/constants.ts
  packages/embeds/embed-core/src/embed-iframe.ts
  packages/embeds/embed-core/src/embed-iframe/lib/embedStore.ts
  packages/embeds/embed-core/src/embed-iframe/lib/utils.ts
  packages/embeds/embed-core/src/embed.test.ts
  packages/embeds/embed-core/src/embed.ts
  packages/embeds/embed-core/src/sdk-action-manager.ts
  packages/embeds/embed-core/src/types.ts
  packages/features/schedules/lib/use-schedule/useSchedule.ts
  packages/lib/server/getRoutedUrl.ts
  packages/lib/server/repository/formResponse.ts
  packages/prisma/migrations/20250617060130_add_queued_response_table/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/slots/types.ts
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: ✨ feature, ❗️ migrations, enterprise, routing-forms, embed, core, ready-for-e2e

#21874 chore: Add logging to check max active bookings for booker
  packages/features/bookings/lib/handleNewBooking/checkActiveBookingsLimitForBooker.ts
Labels: enterprise, bookings, core, ready-for-e2e

#21868 fix: update trigger function for RoutingFormResponseField
  packages/prisma/migrations/20250617123959_update_handle_routing_form_response_fields/migration.sql
Labels: 🐛 bug, ❗️ migrations, routing-forms, core, consumer, ready-for-e2e

#21811 perf: deduplicating DB fetches + leverage unique DB index for team type booking page
  apps/web/lib/getTemporaryOrgRedirect.ts
  apps/web/lib/team/[slug]/[type]/getServerSideProps.tsx
  packages/features/bookings/lib/get-booking.ts
Labels: teams, performance, core, foundation, ready-for-e2e

#21890 fix: microsoft oAuth in api/v2
  apps/api/v2/src/ee/calendars/controllers/calendars.controller.ts
  apps/api/v2/src/ee/calendars/services/gcal.service.ts
  apps/api/v2/src/ee/calendars/services/outlook.service.ts
Labels: 🐛 bug, app-store, platform, api, authentication, core, ready-for-e2e

#21899 fix: 'handles OOO correctly' test fail in non-UTC servertime
  packages/lib/date-ranges.test.ts
  packages/lib/date-ranges.ts
Labels: automated-tests, core, foundation, ready-for-e2e

#21902 test: add unit tests to various important fns in routing flow
  packages/app-store/routing-forms/lib/handleResponse.test.ts
  packages/app-store/routing-forms/lib/substituteVariables.ts
  packages/app-store/routing-forms/trpc/onFormSubmission.test.ts
  packages/app-store/routing-forms/trpc/utils.ts
  packages/lib/server/getRoutedUrl.test.ts
Labels: enterprise, routing-forms, automated-tests, core, ready-for-e2e

#21755 feat: disable transcription setting in cal video
  apps/web/lib/video/[uid]/getServerSideProps.ts
  apps/web/modules/videos/ai/ai-transcribe.tsx
  apps/web/modules/videos/views/videos-single-view.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/eventtypes/components/Locations.tsx
  packages/features/eventtypes/lib/types.ts
  packages/lib/server/repository/booking.ts
  packages/lib/server/repository/calVideoSettings.ts
  packages/lib/server/repository/eventType.ts
  packages/platform/atoms/event-types/hooks/useEventTypeForm.ts
  packages/prisma/migrations/20250610135051_add_transcription_cal_video_setting/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/eventTypes/types.ts
  packages/trpc/server/routers/viewer/eventTypes/update.handler.ts
Labels: ✨ feature, ❗️ migrations, enterprise, core, cal video, ready-for-e2e, Requested

#21909 perf: improve invalid app credential query
  packages/trpc/server/routers/viewer/me/checkForInvalidAppCredentials.ts
Labels: enterprise, performance, core, ready-for-e2e

#21884 fix: alignment of delete button on hover at event-types
  apps/web/modules/event-types/views/event-types-listing-view.tsx
Labels: 🧹 Improvements, community, ready-for-e2e

#21903 fix: Banner uploader fix error handling and reduce image size jump
  apps/web/public/static/locales/en/common.json
  packages/features/ee/organizations/pages/settings/profile.tsx
  packages/trpc/server/routers/viewer/organizations/update.handler.ts
  packages/ui/components/image-uploader/BannerUploader.tsx
  packages/ui/components/image-uploader/ImageUploader.tsx
Labels: 🐛 bug, 🧹 Improvements, ⚡ Quick Wins, enterprise, organizations, core, ready-for-e2e

#21920 fix: Add comment for an error case in onboarding
  packages/features/ee/organizations/lib/server/createOrganizationFromOnboarding.ts
Labels: enterprise, core, ready-for-e2e

#21801 fix: Slots are available even after exceeding the booking limits for the team event
  packages/lib/intervalLimits/limitManager.ts
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: 🐛 bug, Medium priority, teams, bookings, core, ready-for-e2e

#21925 fix(i18n): correct Serbian translation for scheduled event (#21235)
  apps/web/public/static/locales/sr/common.json
Labels: Low priority, i18n, Private, community, ready-for-e2e

#21922 fix: can save an event type without a slug
  packages/prisma/zod-utils.ts
Labels: 🐛 bug, core, ready-for-e2e

#21607 fix: align tick icon, text, and cross icon inside toaster
  packages/ui/components/toast/showToast.tsx
Labels: 🐛 bug, 🧹 Improvements, ui, community, ready-for-e2e

#21932 CI: skip draft from releases
  .github/workflows/draft-release.yml
Labels: ci, core, foundation, ready-for-e2e

#21936 fix: gap between reschedule label and user on mobile screen
  apps/web/modules/bookings/views/bookings-single-view.tsx
Labels: 🧹 Improvements, community, ready-for-e2e, community-interns

#21924 fix: routing form redirects to use app.cal.com instead of cal.com
  packages/app-store/routing-forms/__tests__/getEventTypeRedirectUrl.test.ts
  packages/app-store/routing-forms/enrichFormWithMigrationData.ts
  packages/features/embed/lib/EmbedTabs.tsx
  packages/features/embed/lib/hooks/index.tsx
  packages/lib/hooks/useBookerUrl.ts
Labels: 🐛 bug, routing-forms, core, ready-for-e2e

#21940 fix: Rate limit /router endpoint
  packages/lib/server/getRoutedUrl.ts
Labels: 🐛 bug, 🧹 Improvements, enterprise, embed, core, 🚨 urgent, ready-for-e2e

#20964 chore: Lower the threshold for eager token expiration
  packages/app-store/googlecalendar/lib/CalendarAuth.ts
Labels: app-store, Stale, core, foundation, ready-for-e2e

#21948 chore: better trpc error handling for api v2
  apps/api/v2/src/filters/trpc-exception.filter.ts
  apps/api/v2/src/modules/slots/slots-2024-04-15/controllers/slots.controller.ts
Labels: platform, api, core, foundation, ready-for-e2e

#21969 revert: "perf: deduplicating DB fetches + leverage unique DB index for team type booking page"
  apps/web/lib/getTemporaryOrgRedirect.ts
  apps/web/lib/team/[slug]/[type]/getServerSideProps.tsx
  packages/features/bookings/lib/get-booking.ts
Labels: bookings, core, foundation, ready-for-e2e

#21970 fix: dont expose credential.key in api output
  apps/api/v2/src/modules/conferencing/repositories/conferencing.repository.ts
Labels: platform, api, core, security, ready-for-e2e

#21771 feat: download credit expense log button
  apps/web/app/api/cron/checkSmsPrices/route.ts
  apps/web/modules/settings/billing/components/BillingCredits.tsx
  apps/web/modules/settings/billing/components/BillingCreditsSkeleton.tsx
  apps/web/pages/api/twilio/webhook.ts
  apps/web/public/static/locales/en/common.json
  packages/features/ee/billing/credit-service.ts
  packages/features/ee/workflows/lib/reminders/providers/twilioProvider.ts
  packages/features/ee/workflows/lib/test/twilioWebhook.test.ts
  packages/lib/server/repository/credits.test.ts
  packages/lib/server/repository/credits.ts
  packages/prisma/migrations/20250611123345_add_sms_segments_to_credit_expense_log/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/credits/_router.tsx
  packages/trpc/server/routers/viewer/credits/downloadExpenseLog.handler.ts
  packages/trpc/server/routers/viewer/credits/downloadExpenseLog.schema.ts
  packages/ui/components/badge/CreditsBadge.tsx
Labels: ✨ feature, ❗️ migrations, billing, core, consumer, ready-for-e2e

#21871 feat: Add `onTimeslotsLoaded` prop to `Booker` atom
  docs/platform/atoms/booker.mdx
  packages/platform/atoms/booker/BookerPlatformWrapper.tsx
  packages/platform/atoms/booker/types.ts
Labels: ✨ feature, platform, community, ⚛️ atoms, ready-for-e2e

#21972 fix: 502 in auth session
  packages/features/auth/lib/next-auth-options.ts
Labels: 🐛 bug, authentication, core, foundation, ready-for-e2e

#21985 fix: background of event advanced questions section in dark theme
  packages/features/eventtypes/components/tabs/advanced/EventAdvancedTab.tsx
Labels: ui, community, ready-for-e2e

#21979 Revert "fix: multi-line formatted correctly for sms"
  packages/ui/components/editor/Editor.test.tsx
  packages/ui/components/editor/plugins/ToolbarPlugin.tsx
Labels: core, ready-for-e2e

#21943 fix: booking title translation issue
  apps/web/modules/bookings/views/bookings-single-view.tsx
Labels: 🐛 bug, core, ready-for-e2e

#21991 fix: Add error log for zoom
  packages/app-store/zoomvideo/lib/VideoApiAdapter.ts
Labels: core, foundation, ready-for-e2e

#21850 perf: Refactor `getPublicEvent` to fetch org data using DB index key
  apps/api/v2/src/modules/atoms/services/event-types-atom.service.ts
  apps/web/lib/d/[link]/[slug]/getServerSideProps.tsx
  apps/web/lib/org/[orgSlug]/instant-meeting/team/[slug]/[type]/getServerSideProps.ts
  apps/web/server/lib/[user]/[type]/getServerSideProps.ts
  packages/features/bookings/Booker/utils/event.ts
  packages/features/eventtypes/lib/getPublicEvent.ts
  packages/lib/server/repository/event.ts
  packages/trpc/server/routers/publicViewer/event.schema.ts
Labels: performance, core, foundation, ready-for-e2e

#21275 fix: Theme class names for embed elements
  packages/embeds/embed-core/src/EmbedElement.test.ts
  packages/embeds/embed-core/src/EmbedElement.ts
  packages/embeds/embed-core/src/addAppCssVars.ts
  packages/embeds/embed-core/src/constants.ts
  packages/embeds/embed-core/src/ui-utils.ts
Labels: 🐛 bug, High priority, enterprise, embed, community, ready-for-e2e

#21900 docs: fix casing in cal signature on webhook
  docs/developing/guides/automation/webhooks.mdx
Labels: docs, enterprise, webhooks, core, ready-for-e2e

#21995 fix: Hungarian translation fixes
  apps/web/public/static/locales/hu/common.json
Labels: i18n, community, ready-for-e2e

#21906 feat: Preserve past SMS workflow reminders by disabling deletion
  packages/features/ee/workflows/api/scheduleSMSReminders.ts
Labels: ✨ feature, workflows, community, consumer, ready-for-e2e

#22018 revert: "feat: Phone based bookings for everyone (#21320)"
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/lib/getBookingFields.ts
  packages/features/eventtypes/components/tabs/advanced/EventAdvancedTab.tsx
  packages/features/form-builder/FormBuilder.tsx
  packages/lib/server/repository/team.ts
  packages/sms/sms-manager.ts
  packages/sms/test/sms-manager.test.ts
Labels: i18n, core, foundation, ready-for-e2e

#21994 fix: Org creation for self-hosters
  apps/web/modules/settings/organizations/new/_components/OnboardMembersView.tsx
  apps/web/playwright/organization/organization-creation.e2e.ts
  packages/embeds/embed-core/src/__tests__/embed-iframe.test.ts
  packages/features/ee/organizations/components/CreateANewOrganizationForm.tsx
  packages/features/ee/organizations/lib/onboardingStore.ts
  packages/features/ee/organizations/lib/server/createOrganizationFromOnboarding.test.ts
  packages/features/ee/organizations/lib/server/createOrganizationFromOnboarding.ts
  packages/features/ee/organizations/types/schemas.ts
  packages/lib/server/repository/organizationOnboarding.ts
  packages/trpc/server/routers/viewer/organizations/_router.tsx
  packages/trpc/server/routers/viewer/organizations/createSelfHosted.handler.ts
  packages/trpc/server/routers/viewer/organizations/createSelfHosted.schema.ts
  packages/trpc/server/routers/viewer/organizations/createWithPaymentIntent.schema.ts
  packages/trpc/server/routers/viewer/organizations/intentToCreateOrg.handler.test.ts
  packages/trpc/server/routers/viewer/organizations/intentToCreateOrg.handler.ts
Labels: 🐛 bug, enterprise, Urgent, self-hosting, core, 🚨 urgent, ready-for-e2e

#22015 feat: correct Error codes in /api/social/og/image responses
  apps/web/app/api/social/og/image/__tests__/route.test.ts
  apps/web/app/api/social/og/image/route.tsx
Labels: core, foundation, ready-for-e2e

#21939 feat: allow setting DAILY VIDEO region via env
  packages/app-store/dailyvideo/lib/VideoApiAdapter.ts
  turbo.json
Labels: ✨ feature, platform, ❗️ .env changes, core, foundation, ready-for-e2e

#22043 fix: e2e tests failure
  apps/web/playwright/fixtures/users.ts
  packages/app-store/routing-forms/playwright/tests/basic.e2e.ts
Labels: routing-forms, automated-tests, core, ready-for-e2e

#22022 fix: error because Seated slot reservations do not pass bookingUid
  packages/trpc/server/routers/viewer/slots/reserveSlot.handler.ts
  packages/trpc/server/routers/viewer/slots/types.ts
Labels: 🐛 bug, seats, community, ready-for-e2e

#22041 perf: optimize fetch for primary google calendar
  apps/web/app/api/cron/selected-calendars/__tests__/cron.test.ts
  apps/web/app/api/cron/selected-calendars/route.ts
  packages/app-store/googlecalendar/lib/CalendarService.ts
  packages/app-store/googlecalendar/lib/__mocks__/googleapis.ts
  packages/app-store/googlecalendar/lib/__tests__/CalendarService.test.ts
Labels: automated-tests, performance, core, calendar-apps, foundation, ready-for-e2e

#22003 fix: add InsightsBookingRepository
  packages/lib/server/repository/__tests__/insightsBooking.integration-test.ts
  packages/lib/server/repository/insightsBooking.ts
Labels: insights, core, consumer, ready-for-e2e

#22063 chore: bump platform libraries
  apps/api/v2/package.json
  yarn.lock
Labels: ⬆️ dependencies, platform, core, ready-for-e2e

#22065 fix: Generate new idempotency key when round robin reassigning
  packages/features/ee/round-robin/roundRobinManualReassignment.ts
  packages/features/ee/round-robin/roundRobinReassignment.ts
  packages/lib/idempotencyKey/idempotencyKeyService.ts
  packages/prisma/extensions/booking-idempotency-key.ts
Labels: 🐛 bug, teams, enterprise, core, ready-for-e2e

#22074 chore: Disable setting profile picture from Google
  packages/app-store/googlecalendar/api/callback.ts
Labels: 🐛 bug, app-store, enterprise, core, ready-for-e2e

#22087 perf: improve intersect in date-ranges
  packages/lib/date-ranges.test.ts
  packages/lib/date-ranges.ts
Labels: 🧹 Improvements, enterprise, core, ready-for-e2e

#22057 fix: add InsightsRoutingService and refactor InsightsBookingRepository
  packages/app-store/routing-forms/trpc/getAttributesForTeam.handler.ts
  packages/lib/server/repository/membership.ts
  packages/lib/server/repository/team.ts
  packages/lib/server/service/__tests__/insightsBooking.integration-test.ts
  packages/lib/server/service/__tests__/insightsRouting.integration-test.ts
  packages/lib/server/service/insightsBooking.ts
  packages/lib/server/service/insightsRouting.ts
  packages/lib/service/attribute/server/assignValueToUser.ts
  packages/trpc/server/routers/viewer/teams/get.handler.ts
Labels: insights, core, 💻 refactor, consumer, ready-for-e2e

#22103 fix: changesets release
  .changeset/spicy-things-act.md
  package.json
  packages/platform/atoms/README.md
Labels: platform, core, ready-for-e2e

#22101 perf: optimize slot conflict checking from O(n²) to O(n log n)
  packages/features/bookings/lib/conflictChecker/checkForConflicts.test.ts
  packages/features/bookings/lib/conflictChecker/checkForConflicts.ts
Labels: bookings, performance, core, foundation, ready-for-e2e

#22109 chore: Use DBA team for prisma CODEOWNER
  .github/CODEOWNERS
Labels: core, foundation, ready-for-e2e, dba

#22107 fix: changesets release memory
  .changeset/short-clowns-admire.md
  .github/workflows/changesets.yml
  package.json
  packages/platform/atoms/CHANGELOG.md
  packages/platform/atoms/package.json
Labels: platform, core, ready-for-e2e

#22118 fix: Zoom - More logging and fix for unexpected errors seen in logs
  packages/app-store/_utils/oauth/OAuthManager.ts
  packages/app-store/zoomvideo/api/add.ts
  packages/app-store/zoomvideo/api/callback.ts
  packages/app-store/zoomvideo/lib/VideoApiAdapter.ts
Labels: 🐛 bug, enterprise, core, ready-for-e2e

#22137 fix: truncate zoom meeting agenda
  packages/app-store/zoomvideo/lib/VideoApiAdapter.ts
Labels: 🐛 bug, core, ready-for-e2e

#22153 refactor: atoms peer deps
  packages/platform/atoms/package.json
Labels: platform, core, 💻 refactor, ready-for-e2e

#22069 perf: optimize listWithTeamHandler query
  packages/trpc/server/routers/viewer/eventTypes/listWithTeam.handler.integration-test.ts
  packages/trpc/server/routers/viewer/eventTypes/listWithTeam.handler.ts
Labels: High priority, enterprise, event-types, performance, core, ready-for-e2e

#22168 refactor: cookie domain logic in defaultCookies
  packages/lib/default-cookies.ts
Labels: core, 💻 refactor, foundation, ready-for-e2e, dba
