Repository calcom/cal.com, pull requests merged in 2025-01, with the labels that each got.

#18429 feat: Add dry run mode message during the booking process.
  apps/web/next.config.js
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/components/DryRunMessage.tsx
  packages/features/bookings/Booker/utils/isBookingDryRun.ts
  packages/features/bookings/lib/book-event-form/booking-to-mutation-input-mapper.tsx
Labels: ✨ feature, enterprise, bookings, core, ready-for-e2e

#18295 fix: atoms globals.css invalid class format
  packages/platform/atoms/globals.css
Labels: 🐛 bug, platform, core, ready-for-e2e

#18436 chore: migrate /icons page to App Router
  apps/web/app/403/page.tsx
  apps/web/app/500/page.tsx
  apps/web/app/icons/IconGrid.tsx
  apps/web/app/icons/page.tsx
  apps/web/pages/icons.tsx
  apps/web/public/static/locales/en/common.json
  packages/config/tailwind-preset.js
Labels: i18n, core, consumer, ready-for-e2e

#18441 fix: booker atom booking fields
  packages/platform/atoms/event-types/atom-api-transformers/transformApiEventTypeForAtom.ts
Labels: 🐛 bug, platform, core, ready-for-e2e

#18439 fix: get bookings ordering
  packages/trpc/server/routers/viewer/bookings/get.handler.ts
Labels: 🐛 bug, enterprise, bookings, core, ready-for-e2e

#18446 fix: improve useInViewObserver hook to trigger when observer is in view on mount
  packages/lib/hooks/useInViewObserver.ts
Labels: 🐛 bug, community, ready-for-e2e

#18433 fix: react incompatiblity with nextjs error
  packages/embeds/embed-react/package.json
Labels: 🐛 bug, ⬆️ dependencies, community, ready-for-e2e

#18445 fix: Zoho Bigin not pulling information from booking
  packages/app-store/zoho-bigin/lib/CrmService.ts
Labels: 🐛 bug, app-store, Low priority, core, crm-apps, ready-for-e2e

#18451 Fix 404 for team page
  apps/web/lib/team/[slug]/getServerSideProps.tsx
  apps/web/pages/[user]/embed.tsx
Labels: teams

#18427 fix: Enhance SCIM payload handling and attribute creation
  packages/features/ee/dsync/lib/__tests__/getAttributesFromScimPayload.test.ts
  packages/features/ee/dsync/lib/getAttributesFromScimPayload.ts
  packages/features/ee/dsync/lib/handleUserEvents.ts
  packages/features/ee/organizations/pages/settings/attributes/attributes-create-view.tsx
  packages/trpc/server/routers/viewer/attributes/create.handler.ts
  packages/trpc/server/routers/viewer/attributes/create.schema.ts
  packages/trpc/server/routers/viewer/attributes/edit.handler.ts
  packages/trpc/server/routers/viewer/attributes/utils.test.ts
  packages/trpc/server/routers/viewer/attributes/utils.ts
Labels: enterprise, core, ready-for-e2e

#15537 fix: Timezone in Email Embed not working #15525
  packages/features/bookings/Booker/components/BookEventForm/BookFormAsModal.tsx
  packages/features/bookings/Booker/components/EventMeta.tsx
  packages/features/bookings/Booker/components/hooks/useBookerTime.ts
  packages/features/bookings/Booker/store.ts
  packages/features/bookings/Booker/utils/event.ts
  packages/features/bookings/Booker/utils/getBookerTimezone.ts
  packages/features/bookings/components/AvailableTimes.tsx
  packages/features/bookings/components/event-meta/Occurences.tsx
  packages/features/calendars/weeklyview/components/Calendar.tsx
  packages/features/calendars/weeklyview/components/currentTime/index.tsx
  packages/features/calendars/weeklyview/components/event/Empty.tsx
  packages/features/embed/Embed.tsx
  packages/platform/atoms/booker/BookerWebWrapper.tsx
  packages/platform/atoms/hooks/bookings/useHandleBookEvent.ts
Labels: 🐛 bug, bookings, ui, embed, booking-page, community, ready-for-e2e

#18113 feat: server side sorting for insights routing
  packages/features/data-table/components/DataTable.tsx
  packages/features/data-table/components/DataTableToolbar.tsx
  packages/features/data-table/components/filters/MultiSelectFilterOptions.tsx
  packages/features/data-table/components/filters/NumberFilterOptions.tsx
  packages/features/data-table/components/filters/SingleSelectFilterOptions.tsx
  packages/features/data-table/components/filters/TextFilterOptions.tsx
  packages/features/data-table/components/filters/index.tsx
  packages/features/data-table/hooks/index.ts
  packages/features/data-table/hooks/useColumnFilters.ts
  packages/features/data-table/hooks/useDataTable.ts
  packages/features/data-table/hooks/useFilterValue.ts
  packages/features/data-table/index.ts
  packages/features/data-table/lib/context.tsx
  packages/features/data-table/lib/server.ts
  packages/features/data-table/lib/types.ts
  packages/features/data-table/lib/utils.ts
  packages/features/insights/components/RoutingFormResponsesTable.tsx
  packages/features/insights/filters/Download/RoutingDownload.tsx
  packages/features/insights/filters/Download/RoutingFormResponsesDownload.tsx
  packages/features/insights/filters/Download/index.tsx
  packages/features/insights/lib/types.ts
  packages/features/insights/server/routing-events.ts
  packages/features/insights/server/trpc-router.ts
  packages/prisma/migrations/20241212164338_create_routing_form_response/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/seed-insights.ts
  packages/trpc/server/routers/viewer/organizations/listMembers.handler.ts
Labels: ❗️ migrations, routing-forms, insights, core, consumer, ready-for-e2e

#18448 chore: Salesforce - Add additional logging and error checks
  packages/app-store/salesforce/lib/CrmService.ts
Labels: core, crm-apps, consumer, ready-for-e2e

#18455 fix: improve App Store filters & misaligned arrow indicators
  packages/ui/components/apps/AllApps.tsx
Labels: 🐛 bug, app-store, 🧹 Improvements, community, ready-for-e2e

#18434 fix: Show managed event bookings for team admins/owners
  packages/trpc/server/routers/viewer/bookings/get.handler.ts
Labels: 🐛 bug, teams, enterprise, bookings, core, ready-for-e2e

#18186 chore: app router - /team, /org, /[user] booking pages (excl. embeds)
  .env.example
  apps/web/abTest/middlewareFactory.ts
  apps/web/app/[user]/[type]/page.tsx
  apps/web/app/[user]/page.tsx
  apps/web/app/_utils.tsx
  apps/web/app/d/[link]/[slug]/page.tsx
  apps/web/app/future/[user]/page.tsx
  apps/web/app/future/org/[orgSlug]/[user]/[type]/embed/page.tsx
  apps/web/app/future/org/[orgSlug]/[user]/[type]/page.tsx
  apps/web/app/future/org/[orgSlug]/[user]/embed/page.tsx
  apps/web/app/future/org/[orgSlug]/[user]/page.tsx
  apps/web/app/future/org/[orgSlug]/page.tsx
  apps/web/app/future/org/[orgSlug]/team/[slug]/[type]/page.tsx
  apps/web/app/future/org/[orgSlug]/team/[slug]/page.tsx
  apps/web/app/generateBookingPageMetadata.ts
  apps/web/app/layout.tsx
  apps/web/app/org/[orgSlug]/[user]/[type]/page.tsx
  apps/web/app/org/[orgSlug]/[user]/page.tsx
  apps/web/app/org/[orgSlug]/instant-meeting/team/[slug]/[type]/page.tsx
  apps/web/app/org/[orgSlug]/page.tsx
  apps/web/app/org/[orgSlug]/team/[slug]/[type]/page.tsx
  apps/web/app/org/[orgSlug]/team/[slug]/page.tsx
  apps/web/app/team/[slug]/[type]/page.tsx
  apps/web/app/team/[slug]/page.tsx
  apps/web/lib/org/[orgSlug]/[user]/getServerSideProps.tsx
  apps/web/lib/team/[slug]/getServerSideProps.tsx
  apps/web/middleware.ts
  apps/web/modules/d/[link]/d-type-view.tsx
  apps/web/modules/org/[orgSlug]/instant-meeting/team/[slug]/[type]/instant-meeting-view.tsx
  apps/web/modules/team/team-view.tsx
  apps/web/modules/team/type-view.tsx
  apps/web/modules/users/views/users-public-view.test.tsx
  apps/web/modules/users/views/users-public-view.tsx
  apps/web/modules/users/views/users-type-public-view.tsx
  apps/web/pages/[user]/[type]/embed.tsx
  apps/web/pages/[user]/[type]/index.tsx
  apps/web/pages/[user]/embed.tsx
  apps/web/pages/[user]/index.tsx
  apps/web/pages/org/[orgSlug]/[user]/[type]/embed.tsx
  apps/web/pages/org/[orgSlug]/[user]/[type]/index.tsx
  apps/web/pages/org/[orgSlug]/[user]/embed.tsx
  apps/web/pages/org/[orgSlug]/[user]/index.tsx
  apps/web/pages/org/[orgSlug]/embed.tsx
  apps/web/pages/org/[orgSlug]/index.ts
  apps/web/pages/org/[orgSlug]/instant-meeting/team/[slug]/[type].tsx
  apps/web/pages/org/[orgSlug]/team/[slug]/[type].ts
  apps/web/pages/org/[orgSlug]/team/[slug]/index.ts
  apps/web/pages/team/[slug].tsx
  apps/web/pages/team/[slug]/[type].tsx
  apps/web/playwright/dynamic-booking-pages.e2e.ts
  apps/web/playwright/organization/organization-settings.e2e.ts
  apps/web/scripts/vercel-app-router-deploy.sh
  apps/web/server/lib/[user]/[type]/getServerSideProps.ts
  packages/features/bookings/components/BookerSeo.test.tsx
  packages/features/bookings/components/BookerSeo.tsx
  packages/lib/defaultEvents.ts
  packages/lib/server/repository/user.ts
  packages/ui/components/head-seo/HeadSeo.tsx
  packages/ui/components/head-seo/head-seo.test.tsx
  turbo.json
Labels: teams, ❗️ .env changes, organizations, booking-page, core, consumer, high-risk, ready-for-e2e

#18151 chore: app router - /signup page
  apps/web/app/signup/page.tsx
  apps/web/pages/signup.tsx
Labels: core, consumer, high-risk, ready-for-e2e

#18266 fix: improve qr readability of alby payment integration
  packages/app-store/alby/components/AlbyPaymentComponent.tsx
Labels: 🧹 Improvements, Stale, community, ready-for-e2e

#18462 fix: It's hard to click on the last available Event Duration
  packages/ui/components/apps/AllApps.tsx
Labels: 🐛 bug, ⚡ Quick Wins, Medium priority, 💎 Bounty, ui, 🙋 Bounty claim, community, ready-for-e2e

#18463 perf: Use improved checkIfAvailable and remove dupe code
  packages/features/bookings/lib/conflictChecker/checkForConflicts.test.ts
  packages/features/bookings/lib/conflictChecker/checkForConflicts.ts
  packages/features/bookings/lib/handleNewBooking/ensureAvailableUsers.ts
  packages/trpc/server/routers/viewer/slots/util.test.ts
  packages/trpc/server/routers/viewer/slots/util.ts
Labels: performance, core, foundation, ready-for-e2e

#18386 feat: Info lost when navigating without warning routing form
  apps/web/public/static/locales/en/common.json
  packages/app-store/routing-forms/components/InfoLostWarningDialog.tsx
  packages/app-store/routing-forms/components/RoutingNavBar.tsx
  packages/app-store/routing-forms/components/SingleForm.tsx
  packages/app-store/routing-forms/pages/form-edit/[...appPages].tsx
Labels: ✨ feature, Low priority, routing-forms, ui, community, ready-for-e2e

#18271 docs: cal-api-version header example for bookings controller v2
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/bookings.controller.ts
Labels: docs, platform, Stale, core, ready-for-e2e

#18428 feat: refund policies for payment apps
  apps/web/components/booking/BookingListItem.tsx
  apps/web/public/static/locales/en/common.json
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  packages/app-store/stripepayment/components/EventTypeAppSettingsInterface.tsx
  packages/app-store/stripepayment/zod.ts
  packages/features/bookings/Booker/components/BookEventForm/BookEventForm.tsx
  packages/features/bookings/components/event-meta/Details.tsx
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/features/bookings/lib/handleCancelBooking/test/handleCancelBooking.test.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/ee/payments/components/PaymentPage.tsx
  packages/features/eventtypes/components/EventTypeDescription.tsx
  packages/features/eventtypes/components/tabs/instant/EventInstantTab.tsx
  packages/features/eventtypes/components/tabs/recurring/EventRecurringTab.tsx
  packages/lib/getPaymentAppData.ts
  packages/lib/payment/handlePaymentRefund.ts
  packages/lib/payment/processPaymentRefund.test.ts
  packages/lib/payment/processPaymentRefund.ts
  packages/lib/payment/types.ts
  packages/platform/atoms/event-types/hooks/usePlatformTabsNavigations.tsx
  packages/platform/atoms/event-types/hooks/useTabsNavigations.tsx
  packages/platform/atoms/event-types/payments/PaymentForm.tsx
  packages/trpc/server/routers/viewer/bookings/confirm.handler.ts
Labels: ✨ feature, Low priority, 💎 Bounty, billing, 🙋 Bounty claim, payments, community, ready-for-e2e

#18257 fix: initialize useCustomTemplate state based on payloadTemplate prop…
  packages/features/webhooks/components/WebhookForm.tsx
Labels: 🐛 bug, Low priority, webhooks, ui, community, ready-for-e2e

#18285 chore: Bump version for embed
  apps/web/CHANGELOG.md
  apps/web/package.json
  packages/embeds/embed-core/CHANGELOG.md
  packages/embeds/embed-core/package.json
  packages/embeds/embed-react/CHANGELOG.md
  packages/embeds/embed-react/package.json
  packages/embeds/embed-snippet/CHANGELOG.md
  packages/embeds/embed-snippet/package.json
Labels: enterprise, Stale, embed, core, ready-for-e2e

#18314 chore: ignore oAuthClientId for Booker Embed bookings
  apps/api/v2/src/app.ts
  apps/api/v2/src/ee/bookings/2024-04-15/controllers/bookings.controller.ts
  packages/platform/atoms/cal-provider/CalProvider.tsx
  packages/platform/atoms/lib/http.ts
  packages/platform/constants/api.ts
Labels: platform, bookings, core, ready-for-e2e

#18287 refactor: v2 default booking fields
  apps/api/v2/package.json
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/seated-bookings.e2e-spec.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/controllers/event-types.controller.e2e-spec.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/input-event-types.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/output-event-types.service.ts
  apps/api/v2/src/modules/organizations/controllers/event-types/organizations-event-types.e2e-spec.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
  packages/lib/event-types/transformers/api-to-internal/api-to-internal.spec.ts
  packages/lib/event-types/transformers/api-to-internal/booking-fields.ts
  packages/lib/event-types/transformers/internal-to-api/booking-fields.ts
  packages/platform/atoms/event-types/atom-api-transformers/transformApiEventTypeForAtom.ts
  packages/platform/libraries/index.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/booking-fields.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/create-event-type.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/update-event-type.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/outputs/booking-fields.output.ts
  packages/platform/types/event-types/event-types_2024_06_14/transformed/event-type.tranformed.ts
  yarn.lock
Labels: platform, core, 💻 refactor, ready-for-e2e

#18383 feat: Single domain setup when only one org in the system
  .env.example
  README.md
  apps/web/getNextjsOrgRewriteConfig.js
  apps/web/getSubdomainRegExp.js
  apps/web/next.config.js
  apps/web/pagesAndRewritePaths.js
  apps/web/test/lib/next-config.test.ts
  turbo.json
Labels: ✨ feature, High priority, enterprise, ❗️ .env changes, self-hosting, organizations, core, ready-for-e2e

#18107 fix: Cannot read properties of undefined (reading 'timeZone')
  packages/lib/CalEventParser.ts
Labels: 🐛 bug, High priority, bookings, emails, community, consumer, ready-for-e2e, community-interns

#17871 fix: cancel workflows on cancel booking
  packages/features/ee/workflows/lib/getWorkflowReminders.ts
Labels: 🐛 bug, ✨ feature, High priority, workflows, emails, community, high-risk, ready-for-e2e

#18489 feat: insights - render layout only once
  apps/web/app/insights/layout.tsx
  apps/web/app/insights/page.tsx
  apps/web/app/insights/routing/page.tsx
  apps/web/app/insights/virtual-queues/page.tsx
  apps/web/lib/insights/getServerSideProps.tsx
  apps/web/modules/insights/insights-routing-view.tsx
  apps/web/modules/insights/insights-view.tsx
  apps/web/modules/insights/insights-virtual-queues-view.tsx
  apps/web/modules/insights/layout.tsx
Labels: ✨ feature, insights, core, consumer, ready-for-e2e

#18488 fix: v2 slots timeZone parameter
  apps/api/v2/src/modules/slots/controllers/slots.controller.e2e-spec.ts
  apps/api/v2/src/modules/slots/controllers/slots.controller.ts
  apps/api/v2/src/modules/slots/services/slots-output.service.ts
  apps/api/v2/src/modules/slots/services/slots.service.ts
  apps/api/v2/src/modules/slots/slots.module.ts
  apps/api/v2/swagger/documentation.json
  apps/api/v2/test/fixtures/repository/event-types.repository.fixture.ts
  apps/api/v2/test/fixtures/repository/selected-slots.repository.fixture.ts
  docs/api-reference/v2/openapi.json
  packages/platform/types/slots.ts
Labels: platform, bookings, core, ready-for-e2e

#18483 fix: failing org spec test
  apps/web/pages/[user]/embed.tsx
Labels: 🐛 bug, core, foundation, consumer, ready-for-e2e

#18494 perf: Remove zod from edge runtime
  apps/web/abTest/middlewareFactory.ts
  apps/web/lib/csp.ts
  packages/features/auth/lib/getLocale.ts
Labels: performance, core, foundation, ready-for-e2e

#18487 chore: remove unused layout code from `SideBar`
  packages/features/shell/SideBar.tsx
Labels: core, consumer, ready-for-e2e

#18482 fix: Increase Tasker queue limit to 1000
  packages/features/tasker/repository.ts
Labels: 🐛 bug, core, foundation, ready-for-e2e

#18490 feat: bookings - render layout only once
  apps/web/app/bookings/[status]/page.tsx
  apps/web/app/bookings/layout.tsx
  apps/web/modules/bookings/views/bookings-listing-view.tsx
Labels: ✨ feature, bookings, core, consumer, ready-for-e2e

#18498 chore: remove unused layouts: MainLayout & MainLayoutAppDir
  apps/web/app/enterprise/page.tsx
  apps/web/components/EnterprisePage.tsx
  packages/features/MainLayout.tsx
  packages/features/MainLayoutAppDir.tsx
Labels: enterprise, core, foundation, consumer, ready-for-e2e

#18495 fix: 404 on the public form page for a sub-team form when the owner itself was removed from the org
  apps/web/server/lib/router/getServerSideProps.ts
  packages/app-store/routing-forms/pages/routing-link/getServerSideProps.ts
  packages/features/routing-forms/lib/isAuthorizedToViewForm.test.ts
  packages/features/routing-forms/lib/isAuthorizedToViewForm.ts
Labels: 🐛 bug, enterprise, routing-forms, core, ready-for-e2e

#18500 chore: Remove all instances of useIntercom
  apps/web/modules/event-types/views/event-types-listing-view.tsx
  apps/web/modules/settings/billing/billing-view.tsx
  apps/web/modules/settings/platform/billing/billing-view.tsx
  packages/features/ee/support/components/HelpMenuItem.tsx
  packages/features/shell/Shell.tsx
Labels: 🧹 Improvements, core, foundation, ready-for-e2e

#18501 fix: checkly tests
  __checks__/organization.spec.ts
Labels: enterprise, automated-tests, core, ready-for-e2e

#18504 revert: "fix: improve useInViewObserver hook to trigger when observer is in view on mount"
  packages/lib/hooks/useInViewObserver.ts
Labels: High priority, enterprise, core, ready-for-e2e

#18502 fix: type + build errors
  apps/web/app/future/org/[orgSlug]/[user]/[type]/embed/page.tsx
  apps/web/app/future/org/[orgSlug]/[user]/embed/page.tsx
  apps/web/app/org/[orgSlug]/[user]/[type]/page.tsx
  apps/web/app/org/[orgSlug]/[user]/page.tsx
  apps/web/lib/app-providers-app-dir.tsx
Labels: 🐛 bug, platform, core, foundation, ready-for-e2e

#18225 chore: Add Salesforce tests to `getContacts` method
  packages/app-store/salesforce/lib/CrmService.test.ts
  packages/app-store/salesforce/lib/CrmService.ts
Labels: Stale, automated-tests, core, crm-apps, consumer, ready-for-e2e

#18181 chore: app router - /event-types pages
  .env.example
  apps/web/abTest/middlewareFactory.ts
  apps/web/app/event-types/[type]/page.tsx
  apps/web/app/event-types/page.tsx
  apps/web/middleware.ts
  apps/web/modules/event-types/views/event-types-listing-view.tsx
  apps/web/modules/event-types/views/event-types-single-view.tsx
  apps/web/pages/event-types/[type]/index.tsx
  apps/web/pages/event-types/index.tsx
  apps/web/playwright/manage-booking-questions.e2e.ts
  apps/web/scripts/vercel-app-router-deploy.sh
  packages/features/eventtypes/components/EventTypeLayout.tsx
  packages/platform/atoms/event-types/wrappers/EventTypeWebWrapper.tsx
  turbo.json
Labels: ❗️ .env changes, event-types, core, consumer, high-risk, ready-for-e2e

#18506 perf: use react svg cache from root level
  apps/web/app/providers.tsx
  apps/web/lib/app-providers-app-dir.tsx
  apps/web/lib/app-providers.tsx
  apps/web/pages/_app.tsx
Labels: performance, core, consumer, ready-for-e2e

#18503 feat: add DataTableWrapper
  packages/features/data-table/components/DataTableWrapper.tsx
  packages/features/data-table/components/filters/index.tsx
  packages/features/data-table/components/index.ts
  packages/features/data-table/lib/context.tsx
  packages/features/insights/components/RoutingFormResponsesTable.tsx
  packages/features/users/components/UserTable/UserListTable.tsx
Labels: ✨ feature, routing-forms, insights, core, consumer, ready-for-e2e

#18520 fix: add index to AssignmentReason
  packages/prisma/migrations/20250108095727_assignment_reason_index/migration.sql
  packages/prisma/schema.prisma
Labels: ❗️ migrations, core, consumer, ready-for-e2e

#18461 feat: Insihts analytics app added
  packages/app-store/apps.browser.generated.tsx
  packages/app-store/apps.keys-schemas.generated.ts
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.schemas.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/bookerApps.metadata.generated.ts
  packages/app-store/insihts/DESCRIPTION.md
  packages/app-store/insihts/api/add.ts
  packages/app-store/insihts/api/index.ts
  packages/app-store/insihts/components/EventTypeAppCardInterface.tsx
  packages/app-store/insihts/config.json
  packages/app-store/insihts/index.ts
  packages/app-store/insihts/package.json
  packages/app-store/insihts/static/1.png
  packages/app-store/insihts/static/icon.svg
  packages/app-store/insihts/zod.ts
Labels: ✨ feature, app-store, Low priority, insights, community, ready-for-e2e

#18513 feat: Add auto payment methods for paid bookings on Stripe
  packages/app-store/stripepayment/lib/PaymentService.ts
  packages/lib/payment/handlePayment.ts
Labels: ✨ feature, core, payments, foundation, ready-for-e2e

#18354 fix: Description not rendered as html in select event types screen when installing an app
  apps/web/components/apps/installation/EventTypesStepCard.tsx
Labels: 🐛 bug, event-types, community, ready-for-e2e

#17635 feat: support phone based booking api
  apps/api/v2/package.json
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/team-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/bookings.service.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/input.service.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/output.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/output-event-types.service.ts
  apps/api/v2/src/modules/organizations/controllers/event-types/organizations-event-types.e2e-spec.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
  packages/features/bookings/lib/getBookingResponsesSchema.ts
  packages/features/ee/workflows/lib/reminders/providers/twilioProvider.ts
  packages/lib/event-types/transformers/api-to-internal/api-to-internal.spec.ts
  packages/lib/event-types/transformers/api-to-internal/booking-fields.ts
  packages/platform/types/bookings/2024-08-13/inputs/create-booking.input.ts
  packages/platform/types/bookings/2024-08-13/outputs/booking.output.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/booking-fields.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/update-event-type.input.ts
  turbo.json
  yarn.lock
Labels: ✨ feature, enterprise, bookings, api, core, ready-for-e2e

#18499 feat: api v2 org ooo crud
  apps/api/v2/src/modules/ooo/guards/is-user-ooo.ts
  apps/api/v2/src/modules/ooo/inputs/ooo.input.ts
  apps/api/v2/src/modules/ooo/outputs/ooo.output.ts
  apps/api/v2/src/modules/ooo/repositories/ooo.repository.ts
  apps/api/v2/src/modules/ooo/services/ooo.service.ts
  apps/api/v2/src/modules/organizations/controllers/users/ooo/organizations-users-ooo-controller.ts
  apps/api/v2/src/modules/organizations/controllers/users/ooo/organizations-users-ooo.e2e-spec.ts
  apps/api/v2/src/modules/organizations/organizations.module.ts
  apps/api/v2/src/modules/users/users.repository.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
Labels: ✨ feature, platform, api, organizations, core, ready-for-e2e

#18518 chore: change identifier
  packages/trpc/server/routers/loggedInViewer/addSecondaryEmail.handler.ts
  packages/trpc/server/routers/viewer/auth/resendVerifyEmail.handler.ts
Labels: enterprise, core, ready-for-e2e

#18551 chore: fixed help logo
  help/mint.json
Labels: community

#18552 chore: mintlify updates
  help/mint.json
Labels: docs, community

#18558 fix: added videos and fixed iframe sizes for help page docs
  help/bookings/paid-bookings.mdx
  help/embedding/adding-embed.mdx
  help/event-types/add-events.mdx
  help/event-types/create-first-event.mdx
  help/event-types/create-recurring.mdx
  help/event-types/create-secret.mdx
  help/event-types/dynamic.mdx
  help/event-types/how-to-requires.mdx
  help/event-types/round-robin.mdx
Labels: docs, core, ready-for-e2e

#18560 chore: temporarily skip a failing E2E test
  apps/web/playwright/manage-booking-questions.e2e.ts
Labels: automated-tests, core, ready-for-e2e

#18542 chore: child key missing
  apps/web/modules/bookings/views/bookings-single-view.tsx
Labels: ⚡ Quick Wins, bookings, core, consumer, ready-for-e2e

#18553 fix: Handle booker UI busy or skip on timeslot
  packages/features/bookings/components/AvailableTimes.tsx
Labels: 🐛 bug, bookings, core, consumer, ready-for-e2e

#18524 fix: Update org readme
  packages/features/ee/organizations/README.md
Labels: enterprise, core, ready-for-e2e

#18557 perf: Improve routing insights view
  packages/prisma/migrations/20250109145213_update_routing_form_response/migration.sql
Labels: ❗️ migrations, High priority, performance, core, foundation, ready-for-e2e

#18541 chore: clean up some code in app router routes
  apps/web/app/availability/[schedule]/page.tsx
  apps/web/app/bookings/[status]/page.tsx
  apps/web/app/video/meeting-not-started/[uid]/page.tsx
  apps/web/app/workflows/[workflow]/page.tsx
Labels: ⚡ Quick Wins, core, consumer, ready-for-e2e

#18289 chore: Salesforce - optimize `getContact` method [CAL-4940]
  apps/web/lib/__tests__/getTeamMemberEmailFromCrm.test.ts
  apps/web/lib/team/[slug]/[type]/getServerSideProps.tsx
  packages/app-store/salesforce/lib/CrmService.test.ts
  packages/app-store/salesforce/lib/CrmService.ts
Labels: performance, core, crm-apps, consumer, ready-for-e2e

#18539 feat: bulk shorten links with dub.links.createMany
  packages/features/ee/workflows/api/scheduleSMSReminders.ts
  packages/features/ee/workflows/lib/reminders/smsReminderManager.ts
  packages/features/ee/workflows/lib/reminders/utils.ts
Labels: ✨ feature, workflows, community, ready-for-e2e

#18363 chore: Upgrade `jsforce` to 3.6.2 and use `jsforce-node`
  apps/api/v2/package.json
  help/mint.json
  packages/app-store/salesforce/api/add.ts
  packages/app-store/salesforce/api/callback.ts
  packages/app-store/salesforce/lib/CrmService.ts
  packages/app-store/salesforce/package.json
  packages/platform/libraries/vite.config.js
  yarn.lock
Labels: ⬆️ dependencies, core, crm-apps, consumer, ready-for-e2e

#18570 chore: Webhook should timeout fast on e2e
  apps/web/playwright/lib/testUtils.ts
Labels: automated-tests, core, foundation, ready-for-e2e

#18574 fix: flaky e2e of manage-booking-questions test
  apps/web/playwright/manage-booking-questions.e2e.ts
Labels: automated-tests, core, ready-for-e2e

#18576 chore: cleanup — remove HeadSeo from migrated app router components
  apps/web/components/EnterprisePage.tsx
  apps/web/modules/availability/availability-view.tsx
  apps/web/modules/bookings/views/bookings-listing-view.tsx
  apps/web/modules/insights/layout.tsx
  apps/web/modules/more/more-page-view.tsx
  apps/web/modules/settings/platform/billing/billing-view.tsx
  apps/web/modules/settings/platform/oauth-clients/[clientId]/edit/edit-view.tsx
  apps/web/modules/settings/platform/oauth-clients/[clientId]/edit/edit-webhooks-view.tsx
  apps/web/modules/settings/platform/oauth-clients/create-new-view.tsx
  apps/web/modules/settings/platform/plans/platform-plans-view.tsx
  apps/web/modules/settings/platform/platform-view.tsx
  apps/web/modules/teams/teams-view.tsx
  apps/web/modules/upgrade/upgrade-view.tsx
  packages/features/ee/workflows/pages/index.tsx
  packages/features/ee/workflows/pages/workflow.tsx
Labels: core, consumer, ready-for-e2e

#18572 chore: fix SVG warning on render
  apps/web/app/layout.tsx
Labels: 🧹 Improvements, core, foundation, ready-for-e2e

#18579 fix: date filter for the same day showing appointments of the day before
  packages/features/filters/components/StartTimeFilters.tsx
  packages/trpc/server/routers/viewer/bookings/get.handler.ts
Labels: 🐛 bug, bookings, core, ready-for-e2e

#18530 fix: billing plain chat working
  apps/web/modules/settings/billing/billing-view.tsx
  apps/web/modules/settings/platform/billing/billing-view.tsx
Labels: 🐛 bug, billing, core, ready-for-e2e

#18522 fix: Unpublished org is visible as an option in the team list during workflow creation
  packages/trpc/server/routers/loggedInViewer/teamsAndUserProfilesQuery.handler.ts
Labels: 🐛 bug, teams, core, ready-for-e2e

#18581 fix: improve filters at /bookings
  packages/features/bookings/components/EventTypeFilter.tsx
  packages/features/bookings/components/PeopleFilter.tsx
  packages/trpc/server/routers/viewer/teams/_router.tsx
  packages/trpc/server/routers/viewer/teams/legacyListMembers.handler.ts
  packages/trpc/server/routers/viewer/teams/legacyListMembers.schema.ts
Labels: 🧹 Improvements, bookings, core, consumer, ready-for-e2e

#18559 fix: flaky e2e test in saml.e2e
  apps/web/playwright/saml.e2e.ts
Labels: ❗️ .env changes, automated-tests, core, ready-for-e2e

#18578 docs: fix footer socials in /help and other broken pages
  help/bookings/paid-bookings.mdx
  help/event-types/create-first-event.mdx
  help/event-types/recurring-events.mdx
  help/mint.json
Labels: docs, enterprise, core, ready-for-e2e

#18582 chore: improve ooo reason documentation apiv2
  apps/api/v2/src/modules/ooo/inputs/ooo.input.ts
  apps/api/v2/src/modules/ooo/outputs/ooo.output.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
Labels: docs, platform, api, core, ready-for-e2e

#18585 feat: granola.ai app
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/granola/DESCRIPTION.md
  packages/app-store/granola/api/add.ts
  packages/app-store/granola/api/index.ts
  packages/app-store/granola/components/.gitkeep
  packages/app-store/granola/config.json
  packages/app-store/granola/index.ts
  packages/app-store/granola/package.json
  packages/app-store/granola/static/1.jpeg
  packages/app-store/granola/static/2.jpeg
  packages/app-store/granola/static/3.jpeg
  packages/app-store/granola/static/4.jpeg
  packages/app-store/granola/static/5.jpeg
  packages/app-store/granola/static/icon.svg
Labels: ✨ feature, ai, community, ready-for-e2e

#18202 fix: wrong Meeting Ended payload in zapier
  packages/features/bookings/lib/handleConfirmation.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/webhooks/lib/scheduleTrigger.ts
Labels: 🐛 bug, Medium priority, bookings, webhooks, community, ready-for-e2e

#18588 fix: Create dub links if valid url
  packages/features/ee/workflows/lib/reminders/utils.ts
Labels: 🐛 bug, core, consumer, ready-for-e2e

#18593 docs: fix error introduced in #18578
  help/mint.json
Labels: docs, enterprise, core, ready-for-e2e

#17782 feat: Round Robin weights future members toggle
  apps/web/public/static/locales/en/common.json
  packages/features/eventtypes/components/AddMembersWithSwitch.tsx
  packages/features/eventtypes/components/EditWeightsForAllTeamMembers.tsx
  packages/features/eventtypes/components/tabs/assignment/EventTeamAssignmentTab.tsx
Labels: ✨ feature, Medium priority, teams, event-types, core, consumer, ready-for-e2e

#18511 fix: detailed customer card
  apps/web/app/api/customer-card/route.ts
  apps/web/pages/api/plain/customer-card-display.ts
  apps/web/pages/api/plain/example-cards/index.ts
  packages/lib/server/repository/user.ts
Labels: 🧹 Improvements, api, core, ready-for-e2e

#18449 chore: migrate 404 page to App Router
  apps/web/app/global-error.tsx
  apps/web/app/not-found.tsx
  apps/web/middleware.ts
  apps/web/pages/404.tsx
  apps/web/playwright/organization/booking.e2e.ts
  apps/web/public/static/locales/en/common.json
  apps/web/test/lib/pagesAndRewritePaths.test.ts
Labels: i18n, core, consumer, ready-for-e2e

#18597 chore: app router 404 page
  apps/web/app/global-error.tsx
  apps/web/app/not-found.tsx
  apps/web/middleware.ts
  apps/web/pages/404.tsx
  apps/web/playwright/organization/booking.e2e.ts
  apps/web/public/static/locales/en/common.json
  apps/web/test/lib/pagesAndRewritePaths.test.ts
Labels: i18n, core, foundation, consumer, ready-for-e2e

#18606 feat: render custom error page for unexpected sever error + remove` pages/_error`
  apps/web/app/error.tsx
  apps/web/components/error/error-page.tsx
  apps/web/pages/_error.tsx
Labels: ✨ feature, core, consumer, ready-for-e2e

#18610 fix: app router not-found page cannot be static
  apps/web/app/not-found.tsx
Labels: 🐛 bug, core, consumer, ready-for-e2e

#18615 chore: redirect to /500 if pathname does not exist + better error handling
  apps/web/app/not-found.tsx
  apps/web/components/error/error-page.tsx
  apps/web/middleware.ts
Labels: 🧹 Improvements, core, consumer, ready-for-e2e

#18618 chore: gracefully handle 404s from pages router's dynamic pages + tests
  apps/web/middleware.ts
  apps/web/pages/_error.tsx
  apps/web/playwright/app-router-not-found.e2e.ts
Labels: automated-tests, core, consumer, ready-for-e2e

#18622 chore: use custom 404 in pages/_error
  apps/web/components/error/404-page.tsx
  apps/web/middleware.ts
  apps/web/pages/_error.tsx
Labels: core, consumer, ready-for-e2e

#18623 fix: parsing teamId
  packages/features/insights/server/trpc-router.ts
Labels: 🐛 bug, core, consumer, ready-for-e2e

#18625 chore: restore error pages for pages router
  apps/web/pages/404.tsx
  apps/web/pages/_error.tsx
Labels: core, consumer, ready-for-e2e

#18628 fix: disabling guest workflow emails
  packages/features/ee/workflows/lib/reminders/reminderScheduler.ts
Labels: 🐛 bug, workflows, core, consumer, ready-for-e2e

#18587 revert: "feat: bulk shorten links with dub.links.createMany (#18539)"
  packages/features/ee/workflows/api/scheduleSMSReminders.ts
  packages/features/ee/workflows/lib/reminders/smsReminderManager.ts
  packages/features/ee/workflows/lib/reminders/utils.ts
Labels: workflows, core, foundation, ready-for-e2e

#18632 fix: disable sending sms when email is present
  packages/features/bookings/lib/handleNewBooking/test/team-bookings/collective-scheduling.test.ts
  packages/sms/sms-manager.ts
Labels: 🐛 bug, enterprise, core, ready-for-e2e

#18634 fix: main lint errors
  .github/workflows/lint.yml
  apps/web/app/apps/installation/[[...step]]/page.tsx
  apps/web/app/apps/installed/[category]/page.tsx
  apps/web/components/error/error-page.tsx
Labels: core, foundation, ready-for-e2e

#18607 feat: don't show zapier/make webhooks in webhook list
  packages/lib/server/repository/webhook.ts
Labels: ✨ feature, Medium priority, webhooks, community, ready-for-e2e

#18651 fix: potential fix for flaky layout shift
  apps/web/modules/team/type-view.tsx
  apps/web/pages/team/[slug]/[type].tsx
Labels: 🐛 bug, core, consumer, ready-for-e2e

#18637 chore: log error to Sentry in app router error page
  apps/web/app/error.tsx
Labels: core, consumer, ready-for-e2e

#18566 perf: improve routing insights view (2)
  packages/prisma/migrations/20250109161330_update_routing_form_response/migration.sql
Labels: ❗️ migrations, performance, core, consumer, ready-for-e2e

#18645 feat: get org ooo entries and filters/sort
  apps/api/v2/src/modules/ooo/inputs/ooo.input.ts
  apps/api/v2/src/modules/ooo/repositories/ooo.repository.ts
  apps/api/v2/src/modules/ooo/services/ooo.service.ts
  apps/api/v2/src/modules/organizations/controllers/users/ooo/organizations-users-ooo-controller.ts
  apps/api/v2/src/modules/organizations/controllers/users/ooo/organizations-users-ooo.e2e-spec.ts
  apps/api/v2/src/modules/organizations/controllers/users/ooo/repositories/organizations-users-ooo.repository.ts
  apps/api/v2/src/modules/organizations/controllers/users/ooo/services/organization-users-ooo.service.ts
  apps/api/v2/src/modules/organizations/organizations.module.ts
  apps/api/v2/src/modules/users/inputs/get-users.input.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
Labels: ✨ feature, platform, api, organizations, core, ready-for-e2e

#18646 chore: platform libraries readme publish reasons
  packages/platform/libraries/README.md
Labels: docs, platform, core, ready-for-e2e

#18631 fix: BUG: adding filters to settings/teams/[team-id]/members page thr…
  packages/features/ee/teams/components/MemberList.tsx
Labels: 🐛 bug, Medium priority, teams, community, ready-for-e2e

#18659 perf: no need for two query fetches for d link (private booking page)
  apps/web/app/d/[link]/[slug]/page.tsx
  apps/web/lib/d/[link]/[slug]/getServerSideProps.tsx
Labels: booking-page, performance, core, consumer, ready-for-e2e

#18616 feat: Routing form submitted but no booking - Salesforce actions
  apps/web/public/static/locales/en/common.json
  packages/app-store/routing-forms/components/RoutingNavBar.tsx
  packages/app-store/routing-forms/lib/enabledIncompleteBookingApps.ts
  packages/app-store/routing-forms/lib/incompleteBooking/actionDataSchemas.ts
  packages/app-store/routing-forms/lib/incompleteBooking/actionFunctions.ts
  packages/app-store/routing-forms/pages/app-routing-server.config.ts
  packages/app-store/routing-forms/pages/app-routing.config.tsx
  packages/app-store/routing-forms/pages/incomplete-booking/[...appPages].tsx
  packages/app-store/routing-forms/trpc/_router.ts
  packages/app-store/routing-forms/trpc/getIncompleteBookingSettings.handler.ts
  packages/app-store/routing-forms/trpc/getIncompleteBookingSettings.schema.ts
  packages/app-store/routing-forms/trpc/saveIncompleteBookingSettings.handler.ts
  packages/app-store/routing-forms/trpc/saveIncompleteBookingSettings.schema.ts
  packages/app-store/salesforce/lib/CrmService.ts
  packages/app-store/salesforce/lib/routingForm/incompleteBookingAction.ts
  packages/app-store/salesforce/zod.ts
  packages/features/tasker/tasks/triggerFormSubmittedNoEvent/triggerFormSubmittedNoEventWebhook.ts
  packages/prisma/migrations/20250113170733_add_routingforms_incompletebooking_action_table/migration.sql
  packages/prisma/schema.prisma
Labels: ✨ feature, ❗️ migrations, routing-forms, core, consumer, ready-for-e2e

#18656 chore: migrate /team booking pages
  apps/web/app/_utils.tsx
  apps/web/app/future/team/[slug]/[type]/embed/page.tsx
  apps/web/app/future/team/[slug]/[type]/page.tsx
  apps/web/app/future/team/[slug]/embed/page.tsx
  apps/web/app/future/team/[slug]/page.tsx
  apps/web/app/team/[slug]/[type]/page.tsx
  apps/web/app/team/[slug]/page.tsx
  apps/web/middleware.ts
  apps/web/modules/team/type-view.tsx
  apps/web/pages/org/[orgSlug]/index.ts
  apps/web/pages/org/[orgSlug]/index.tsx
  apps/web/pages/org/[orgSlug]/team/[slug]/[type].ts
  apps/web/pages/org/[orgSlug]/team/[slug]/[type].tsx
  apps/web/pages/org/[orgSlug]/team/[slug]/index.ts
  apps/web/playwright/organization/organization-settings.e2e.ts
Labels: teams, bookings, core, consumer, ready-for-e2e

#18589 refactor: use DataTable for /bookings
  apps/web/components/booking/BookingListItem.tsx
  apps/web/modules/bookings/views/bookings-listing-view.tsx
  packages/features/bookings/components/PeopleFilter.tsx
  packages/features/data-table/components/DataTable.tsx
  packages/features/data-table/components/DataTableWrapper.tsx
  packages/features/ee/teams/components/MemberList.tsx
  packages/features/filters/components/TeamsFilter.tsx
  packages/features/users/components/UserTable/PlatformManagedUsersTable.tsx
Labels: bookings, core, 💻 refactor, consumer, ready-for-e2e

#18692 fix: add back global-error.tsx
  apps/web/app/error.tsx
  apps/web/app/global-error.tsx
Labels: core, consumer, ready-for-e2e

#18696 fix: revert app error pages
  apps/web/app/error.tsx
  apps/web/app/global-error.tsx
  apps/web/app/not-found.tsx
Labels: 🐛 bug, core, consumer, ready-for-e2e

#18678 fix: Booking atom phone booking field and booking fields order
  apps/api/v2/package.json
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/controllers/event-types.controller.e2e-spec.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/services/output-event-types.service.ts
  apps/api/v2/src/modules/organizations/controllers/event-types/organizations-event-types.e2e-spec.ts
  packages/lib/event-types/transformers/api-to-internal/booking-fields.ts
  packages/lib/event-types/transformers/internal-to-api/booking-fields.ts
  packages/lib/event-types/transformers/internal-to-api/internal-to-api.spec.ts
  packages/platform/examples/base/src/pages/api/managed-user.ts
  packages/platform/libraries/README.md
  packages/platform/libraries/package.json
  packages/platform/libraries/scripts/local.js
  packages/platform/libraries/scripts/postpublish.js
  packages/platform/libraries/scripts/prepublish.js
  packages/platform/types/event-types/event-types_2024_06_14/outputs/booking-fields.output.ts
  yarn.lock
Labels: platform, core, ready-for-e2e

#18711 feat: Allow non-calcom domains to run team slug pages
  apps/web/lib/team/[slug]/[type]/getServerSideProps.tsx
  apps/web/lib/team/[slug]/getServerSideProps.tsx
  packages/features/ee/organizations/lib/orgSettings.ts
  packages/lib/server/repository/organization.ts
Labels: ✨ feature, teams, platform, core, foundation, ready-for-e2e

#18712 fix: add decoding logic to app router params
  apps/web/lib/buildLegacyCtx.tsx
  apps/web/server/lib/[user]/getServerSideProps.ts
  packages/lib/defaultEvents.ts
Labels: 🐛 bug, core, consumer, ready-for-e2e

#18532 feat: Salesforce - map booking questions to event record
  packages/app-store/salesforce/lib/CrmService.ts
Labels: ✨ feature, core, crm-apps, consumer, ready-for-e2e

#18714 chore: Revert - "revert app error pages #18696" PR
  apps/web/app/error.tsx
  apps/web/app/global-error.tsx
  apps/web/app/not-found.tsx
Labels: 🧹 Improvements, core, consumer, ready-for-e2e

#18370 perf: Move CRM event creation to tasker
  apps/api/v2/src/modules/organizations/controllers/users/ooo/organizations-users-ooo.e2e-spec.ts
  packages/app-store/salesforce/lib/CrmService.ts
  packages/core/EventManager.ts
  packages/core/crmManager/tasker/crmScheduler.ts
  packages/features/flags/config.ts
  packages/features/flags/hooks/index.ts
  packages/features/tasker/tasker.ts
  packages/features/tasker/tasks/crm/__tests__/createCRMEvent.test.ts
  packages/features/tasker/tasks/crm/createCRMEvent.ts
  packages/features/tasker/tasks/crm/lib/buildCalendarEvent.ts
  packages/features/tasker/tasks/crm/schema.ts
  packages/features/tasker/tasks/index.ts
  packages/prisma/migrations/20241230140747531_add_salesforce_crm_tasker/migration.sql
Labels: ❗️ migrations, ❗️ .env changes, Urgent, performance, core, crm-apps, consumer, ready-for-e2e

#18675 fix: resize app-store images to use less bytes
  packages/app-store/campsite/static/1.png
  packages/app-store/campsite/static/2.png
  packages/app-store/campsite/static/3.png
  packages/app-store/campsite/static/icon.png
  packages/app-store/make/DESCRIPTION.md
  packages/app-store/make/static/1.jpeg
  packages/app-store/make/static/1.png
  packages/app-store/make/static/2.jpeg
  packages/app-store/make/static/2.png
  packages/app-store/make/static/3.jpeg
  packages/app-store/make/static/3.png
  packages/app-store/make/static/4.jpeg
  packages/app-store/make/static/4.png
  packages/app-store/make/static/5.jpeg
  packages/app-store/make/static/5.png
  packages/app-store/metapixel/static/1.png
  packages/app-store/metapixel/static/2.png
  packages/app-store/metapixel/static/3.png
  packages/app-store/ping/static/1.png
  packages/app-store/zoomvideo/static/zoom4.png
Labels: app-store, core, ready-for-e2e

#18694 fix: Booking with the same email when using capital letters
  packages/features/form-builder/Components.tsx
Labels: 🐛 bug, bookings, core, ready-for-e2e

#18713 fix: filters ui breaking on mobile in routing insights page
  packages/features/data-table/components/DataTableWrapper.tsx
Labels: 🐛 bug, ui, community, ready-for-e2e

#18722 feat: Salesforce - write to field without validation
  packages/app-store/salesforce/components/EventTypeAppCardInterface.tsx
  packages/app-store/salesforce/lib/CrmService.ts
  packages/app-store/salesforce/lib/enums.ts
Labels: ✨ feature, core, crm-apps, consumer, ready-for-e2e

#18549 fix: edit webhook time
  packages/features/webhooks/components/WebhookForm.tsx
  packages/trpc/server/routers/viewer/webhook/edit.handler.ts
Labels: 🐛 bug, enterprise, webhooks, core, ready-for-e2e

#18731 chore: clean up `<HeadSeo>` components where not needed
  apps/web/modules/bookings/views/bookings-single-view.tsx
  apps/web/modules/d/[link]/d-type-view.tsx
  apps/web/modules/team/team-view.tsx
Labels: 🧹 Improvements, core, consumer, ready-for-e2e

#18732 chore: migrate `/auth/new`
  .env.example
  apps/web/abTest/middlewareFactory.ts
  apps/web/app/auth/new/page.tsx
  apps/web/pages/auth/new.tsx
  apps/web/scripts/vercel-app-router-deploy.sh
  turbo.json
Labels: ❗️ .env changes, core, consumer, ready-for-e2e

#18727 fix: duplicating an event turns private link on
  packages/trpc/server/routers/viewer/eventTypes/duplicate.handler.ts
Labels: 🐛 bug, event-types, core, ready-for-e2e

#18683 fix: Getting an error with managed events when accessing through api/v1
  packages/features/ee/managed-event-types/lib/handleChildrenEventTypes.ts
Labels: 🐛 bug, core, ready-for-e2e

#18608 fix: Impersonation issue from userstable
  packages/features/ee/users/components/UsersTable.tsx
Labels: 🐛 bug, insights, core, ready-for-e2e

#18718 fix: potential org slug fix
  apps/web/app/org/[orgSlug]/page.tsx
  apps/web/app/org/[orgSlug]/team/[slug]/[type]/page.tsx
  apps/web/app/org/[orgSlug]/team/[slug]/page.tsx
Labels: 🐛 bug, core, consumer, ready-for-e2e

#18733 chore: technical debt clearing - remove getServerSideProps for /event-types
  apps/web/app/event-types/page.tsx
  apps/web/lib/event-types/getServerSideProps.tsx
  apps/web/modules/event-types/views/event-types-listing-view.tsx
Labels: event-types, core, consumer, ready-for-e2e

#18452 feat: Use dub.customer.list to issue dual-sided incentives
  apps/api/v1/pages/api/teams/_post.ts
  packages/features/auth/lib/dub.ts
Labels: ✨ feature, api, community, ready-for-e2e

#18728 fix: adjust table height for a few rows on /bookings
  apps/web/modules/bookings/views/bookings-listing-view.tsx
  packages/features/data-table/components/DataTable.tsx
  packages/features/data-table/components/DataTableWrapper.tsx
Labels: 🐛 bug, 📉 regressing, bookings, core, consumer, ready-for-e2e

#18741 fix: small spacing fix in app router 404
  apps/web/app/not-found.tsx
Labels: core, consumer, ready-for-e2e

#18630 feat: auto lock
  apps/api/v1/lib/helpers/rateLimitApiKey.test.ts
  apps/api/v1/lib/helpers/rateLimitApiKey.ts
  packages/features/redis/IRedisService.d.ts
  packages/features/redis/RedisService.ts
  packages/lib/__tests__/autoLock.test.ts
  packages/lib/autoLock.ts
  packages/lib/checkRateLimitAndThrowError.ts
Labels: ✨ feature, core, consumer, ready-for-e2e

#18744 feat: Using edge-csrf instead
  apps/web/lib/team/[slug]/[type]/getServerSideProps.tsx
  apps/web/middleware.ts
  apps/web/package.json
  apps/web/pages/api/book/event.ts
  apps/web/pages/api/book/instant-event.ts
  apps/web/pages/api/book/recurring-event.ts
  packages/features/csrf/csrf.interface.ts
  packages/features/csrf/csrf.mock.ts
  packages/features/csrf/csrf.ts
  packages/features/package.json
  packages/lib/fetch-wrapper.ts
  yarn.lock
Labels: core, 💻 refactor, foundation, ready-for-e2e

#18745 chore: remove WithLayout from 8 low-risk single pages
  apps/web/app/(use-page-wrapper)/403/page.tsx
  apps/web/app/(use-page-wrapper)/500/copy-button.tsx
  apps/web/app/(use-page-wrapper)/500/page.tsx
  apps/web/app/(use-page-wrapper)/auth/error/page.tsx
  apps/web/app/(use-page-wrapper)/connect-and-join/page.tsx
  apps/web/app/(use-page-wrapper)/enterprise/page.tsx
  apps/web/app/(use-page-wrapper)/maintenance/page.tsx
  apps/web/app/(use-page-wrapper)/more/page.tsx
  apps/web/app/(use-page-wrapper)/upgrade/page.tsx
Labels: core, consumer, ready-for-e2e

#18757 chore: bump libphonenumber-js version to 1.11.18
  .yarn/patches/libphonenumber-js+1.11.18.patch
  apps/web/package.json
  package.json
  packages/features/ee/package.json
  yarn.lock
Labels: 🐛 bug, ⬆️ dependencies, enterprise, booking-page, core, ready-for-e2e

#18746 chore: tech debt clearing - simplify `isThemeSupported` usage
  apps/web/app/layoutHOC.tsx
  apps/web/components/PageWrapperAppDir.tsx
  apps/web/lib/app-providers-app-dir.tsx
  apps/web/lib/hooks/useIsThemeSupported.ts
Labels: core, 💻 refactor, consumer, ready-for-e2e

#18756 fix: Parse JSON metadata better and stop crash from API V1
  apps/api/v1/lib/validations/shared/jsonSchema.ts
Labels: 🐛 bug, enterprise, api, core, ready-for-e2e

#18719 fix: ensure platform managed user has 1 schedule by default
  apps/api/v2/package.json
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.e2e-spec.ts
  apps/api/v2/test/fixtures/repository/schedules.repository.fixture.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/utils.ts
  yarn.lock
Labels: 🐛 bug, platform, core, ready-for-e2e

#18760 fix: nested scrolls on /bookings/upcoming
  apps/web/components/booking/BookingListItem.tsx
  apps/web/modules/bookings/views/bookings-listing-view.tsx
  apps/web/playwright/wipe-my-cal.e2e.ts
  apps/web/public/static/locales/en/common.json
  packages/features/data-table/components/DataTableWrapper.tsx
Labels: 🧹 Improvements, bookings, core, consumer, ready-for-e2e

#17213 feat: HitPay Payment App
  packages/app-store/_pages/setup/_getServerSideProps.tsx
  packages/app-store/_pages/setup/index.tsx
  packages/app-store/apps.browser.generated.tsx
  packages/app-store/apps.keys-schemas.generated.ts
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.schemas.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/hitpay/DESCRIPTION.md
  packages/app-store/hitpay/LICENSE
  packages/app-store/hitpay/README.md
  packages/app-store/hitpay/api/add.ts
  packages/app-store/hitpay/api/callback.ts
  packages/app-store/hitpay/api/index.ts
  packages/app-store/hitpay/api/webhook.ts
  packages/app-store/hitpay/components/.gitkeep
  packages/app-store/hitpay/components/EventTypeAppCardInterface.tsx
  packages/app-store/hitpay/components/EventTypeAppSettingsInterface.tsx
  packages/app-store/hitpay/components/HitpayPaymentComponent.tsx
  packages/app-store/hitpay/components/KeyInput.tsx
  packages/app-store/hitpay/components/constants.ts
  packages/app-store/hitpay/config.json
  packages/app-store/hitpay/index.ts
  packages/app-store/hitpay/lib/PaymentService.ts
  packages/app-store/hitpay/lib/constants.ts
  packages/app-store/hitpay/lib/currencyConversions.ts
  packages/app-store/hitpay/lib/hitpayCredentialKeysSchema.ts
  packages/app-store/hitpay/lib/index.ts
  packages/app-store/hitpay/package.json
  packages/app-store/hitpay/pages/setup/_getServerSideProps.tsx
  packages/app-store/hitpay/pages/setup/index.tsx
  packages/app-store/hitpay/static/1.jpeg
  packages/app-store/hitpay/static/2.jpeg
  packages/app-store/hitpay/static/3.jpeg
  packages/app-store/hitpay/static/4.jpeg
  packages/app-store/hitpay/static/icon.svg
  packages/app-store/hitpay/zod.ts
  packages/app-store/index.ts
  packages/features/ee/payments/components/PaymentPage.tsx
  turbo.json
Labels: ✨ feature, app-store, Medium priority, payments, community, ready-for-e2e

#18748 fix: Disable custom templates for trialing teams
  packages/features/ee/billing/billing-service.ts
  packages/features/ee/billing/stripe-billling-service.ts
  packages/features/ee/billing/teams/internal-team-billing.ts
  packages/features/ee/workflows/components/WorkflowStepContainer.tsx
  packages/lib/hooks/useHasPaidPlan.ts
  packages/trpc/server/routers/viewer/teams/_router.tsx
  packages/trpc/server/routers/viewer/teams/hasActiveTeamPlan.handler.ts
  packages/trpc/server/routers/viewer/teams/hasActiveTeamPlan.schema.ts
  packages/trpc/server/routers/viewer/workflows/update.handler.ts
Labels: teams, billing, core, consumer, ready-for-e2e

#18769 chore: Add more logging around getUserAvailability
  packages/core/getUserAvailability.ts
Labels: core, foundation, ready-for-e2e

#18755 feat: Use Cloudflare Turnstile in booker
  .env.example
  apps/web/modules/signup-view.tsx
  apps/web/pages/api/book/event.ts
  apps/web/pages/api/book/recurring-event.ts
  packages/features/auth/Turnstile.tsx
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/components/BookEventForm/BookEventForm.tsx
  packages/features/bookings/Booker/components/hooks/useBookingForm.ts
  packages/features/bookings/Booker/types.ts
  packages/lib/constants.ts
  packages/lib/server/checkCfTurnstileToken.ts
  packages/platform/atoms/booker/BookerWebWrapper.tsx
  packages/prisma/zod-utils.ts
  turbo.json
Labels: ✨ feature, ❗️ .env changes, bookings, core, foundation, ready-for-e2e

#18740 feat: add transcription as attachment
  apps/web/public/static/locales/en/common.json
  packages/emails/src/templates/DailyVideoDownloadTranscriptEmail.tsx
  packages/emails/templates/attendee-daily-video-download-transcript-email.ts
  packages/emails/templates/organizer-daily-video-download-transcript-email.ts
Labels: ✨ feature, enterprise, emails, core, ready-for-e2e

#18686 fix: routing form list overflow
  packages/app-store/routing-forms/pages/forms/[...appPages].tsx
Labels: 🐛 bug, routing-forms, ui, community, ready-for-e2e

#18753 chore: migrate low-risk 3 /auth pages to App Router
  apps/web/app/auth/oauth2/authorize/page.tsx
  apps/web/app/auth/platform/authorize/page.tsx
  apps/web/app/auth/signin/page.tsx
  apps/web/middleware.ts
  apps/web/pages/auth/oauth2/authorize.tsx
  apps/web/pages/auth/platform/authorize.tsx
  apps/web/pages/auth/signin.tsx
  apps/web/public/static/locales/en/common.json
Labels: i18n, authentication, core, consumer, ready-for-e2e

#18723 feat: Hubspot - create new contacts under an account
  apps/web/public/static/locales/en/common.json
  packages/app-store/hubspot/api/add.ts
  packages/app-store/hubspot/components/EventTypeAppCardInterface.tsx
  packages/app-store/hubspot/lib/CrmService.ts
  packages/app-store/hubspot/zod.ts
Labels: ✨ feature, core, crm-apps, consumer, ready-for-e2e

#18780 chore: Remove Chromatic GitHub workflow
  .github/workflows/check-if-ui-has-changed.yml
Labels: core, foundation, ready-for-e2e

#18681 fix: handle cancelation reason when user is host
  apps/web/components/booking/CancelBooking.tsx
  apps/web/modules/bookings/views/bookings-single-view.getServerSideProps.tsx
  apps/web/modules/bookings/views/bookings-single-view.tsx
  apps/web/playwright/booking-pages.e2e.ts
  apps/web/playwright/booking-seats.e2e.ts
  apps/web/playwright/dynamic-booking-pages.e2e.ts
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/features/bookings/lib/handleSeats/test/handleSeats.test.ts
Labels: 🐛 bug, bookings, i18n, core, consumer, ready-for-e2e

#18790 chore: Double available memory on api/book/event
  apps/web/vercel.json
Labels: core, foundation, ready-for-e2e

#18789 fix: Initialize Hubspot client in CRMService
  packages/app-store/hubspot/lib/CrmService.ts
Labels: 🐛 bug, core, crm-apps, consumer, ready-for-e2e
