Repository calcom/cal.com, pull requests merged in 2025-04, with the labels that each got.

#20458 fix: User fields response not populated in HubSpot
  packages/app-store/hubspot/lib/CrmService.ts
Labels: 🐛 bug, core, crm-apps, ready-for-e2e

#20468 fix: trigger Lingo.dev for a translation not picked up
  apps/web/public/static/locales/en/common.json
  packages/features/shell/useBottomNavItems.ts
Labels: i18n, core, foundation, ready-for-e2e

#20472 fix: trigger Lingo.dev for a translation not picked up
  apps/web/public/static/locales/en/common.json
Labels: i18n, community, ready-for-e2e, community-interns

#20474 fix: form builder dark mode
  packages/features/form-builder/Components.tsx
  packages/features/form-builder/FormBuilder.tsx
Labels: 🐛 bug, ui, core, consumer, ready-for-e2e

#20473 fix: add missing DataTableProvider
  apps/web/playwright/team-availability.e2e.ts
  packages/features/ee/dsync/components/GroupTeamMappingTable.tsx
  packages/features/timezone-buddy/components/AvailabilitySliderTable.tsx
Labels: 🐛 bug, automated-tests, core, consumer, ready-for-e2e

#20475 fix: trigger lingo.dev by removing duplicate value
  apps/web/public/static/locales/en/common.json
Labels: community, ready-for-e2e, community-interns

#20443 chore: update status code
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/originalRescheduledBookingUtils.ts
  packages/lib/server/getServerErrorFromUnknown.ts
Labels: enterprise, core, ready-for-e2e

#20479 chore: Allow tracing orphaned event types (added id)
  packages/features/eventtypes/lib/getPublicEvent.ts
Labels: event-types, core, foundation, ready-for-e2e

#20241 feat: refactor handleCancelBooking to not have next request
  apps/api/v1/pages/api/bookings/[id]/_delete.ts
  apps/api/v2/package.json
  apps/api/v2/src/ee/bookings/2024-04-15/controllers/bookings.controller.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/bookings.service.ts
  apps/web/app/api/cancel/route.ts
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/features/bookings/lib/handleCancelBooking/test/handleCancelBooking.test.ts
  packages/features/bookings/lib/handleSeats/cancel/cancelAttendeeSeat.ts
  packages/features/bookings/lib/handleSeats/test/handleSeats.test.ts
  yarn.lock
Labels: bookings, core, 💻 refactor, consumer, ready-for-e2e

#20492 feat: implement booking page error boundary
  apps/web/components/error/BookingPageErrorBoundary.tsx
  apps/web/modules/d/[link]/d-type-view.tsx
  apps/web/modules/org/[orgSlug]/instant-meeting/team/[slug]/[type]/instant-meeting-view.tsx
  apps/web/modules/team/type-view.tsx
  apps/web/modules/users/views/users-type-public-view.tsx
Labels: ✨ feature, booking-page, core, foundation, ready-for-e2e

#20439 perf: Remove `ssrInit` completely
  apps/web/app/(use-page-wrapper)/apps/[slug]/setup/page.tsx
  apps/web/app/WithAppDirSsr.tsx
  apps/web/app/WithEmbedSSR.tsx
  apps/web/app/_trpc/context.ts
  apps/web/lib/apps/categories/getServerSideProps.tsx
  apps/web/lib/apps/getServerSideProps.tsx
  apps/web/lib/apps/routing-forms/[...pages]/getServerSideProps.ts
  apps/web/lib/d/[link]/[slug]/getServerSideProps.tsx
  apps/web/lib/event-types/[type]/getServerSideProps.ts
  apps/web/lib/getting-started/[[...step]]/getServerSideProps.tsx
  apps/web/lib/org/[orgSlug]/instant-meeting/team/[slug]/[type]/getServerSideProps.ts
  apps/web/lib/signup/getServerSideProps.tsx
  apps/web/lib/team/[slug]/[type]/getServerSideProps.tsx
  apps/web/lib/team/[slug]/getServerSideProps.tsx
  apps/web/lib/video/[uid]/getServerSideProps.ts
  apps/web/modules/bookings/views/bookings-single-view.getServerSideProps.tsx
  apps/web/modules/users/views/users-public-view.test.tsx
  apps/web/server/lib/[user]/[type]/getServerSideProps.ts
  apps/web/server/lib/[user]/getServerSideProps.ts
  apps/web/server/lib/auth/login/getServerSideProps.tsx
  apps/web/server/lib/auth/sso/[provider]/getServerSideProps.tsx
  apps/web/server/lib/setup/getServerSideProps.tsx
  apps/web/server/lib/ssr.ts
  packages/app-store/routing-forms/components/getServerSidePropsSingleForm.ts
  packages/app-store/routing-forms/pages/forms/getServerSideProps.ts
  packages/features/ee/payments/pages/payment.tsx
  packages/platform/atoms/event-types/hooks/useAtomEventTypePaymentInfo.ts
  packages/platform/atoms/event-types/payments/PaymentForm.tsx
  packages/platform/atoms/event-types/payments/StripePaymentForm.tsx
  packages/types/AppGetServerSideProps.d.ts
Labels: performance, core, foundation, ready-for-e2e

#20490 chore: Salesforce - handle checkbox type fields
  packages/app-store/routing-forms/pages/incomplete-booking/[...appPages].tsx
  packages/app-store/salesforce/components/EventTypeAppCardInterface.tsx
  packages/app-store/salesforce/lib/CrmService.ts
  packages/app-store/salesforce/lib/enums.ts
  packages/app-store/salesforce/zod.ts
Labels: core, crm-apps, consumer, ready-for-e2e

#20371 chore: do not route to meeting-ended page for daily link used for testing
  apps/web/lib/video/[uid]/getServerSideProps.ts
Labels: enterprise, core, cal video, ready-for-e2e

#20461 feat: support Filter Segment in other pages
  apps/web/app/(use-page-wrapper)/insights/layout.tsx
  apps/web/modules/bookings/views/bookings-listing-view.tsx
  apps/web/playwright/out-of-office.e2e.ts
  packages/features/data-table/DataTableProvider.tsx
  packages/features/data-table/components/filters/AddFilterButton.tsx
  packages/features/data-table/components/filters/FilterBar.tsx
  packages/features/data-table/components/filters/index.ts
  packages/features/data-table/components/index.ts
  packages/features/data-table/components/segment/index.ts
  packages/features/insights/components/RoutingFormResponsesTable.tsx
  packages/features/settings/outOfOffice/OutOfOfficeEntriesList.tsx
  packages/features/users/components/UserTable/PlatformManagedUsersTable.tsx
  packages/features/users/components/UserTable/UserListTable.tsx
Labels: ✨ feature, platform, bookings, insights, core, consumer, ready-for-e2e

#20501 fix: google signin getting started redirect
  packages/features/auth/lib/hooks/useRedirectToOnboardingIfNeeded.tsx
Labels: 🐛 bug, authentication, core, consumer, ready-for-e2e

#18195 fix: Correct import of markdownToSafeHtml on the client
  apps/web/components/apps/installation/EventTypesStepCard.tsx
  apps/web/components/team/screens/Team.tsx
  apps/web/modules/apps/[slug]/slug-view.tsx
  apps/web/modules/bookings/views/bookings-single-view.tsx
  apps/web/modules/videos/views/videos-single-view.tsx
  packages/features/ee/organizations/pages/settings/other-team-profile-view.tsx
  packages/features/ee/organizations/pages/settings/profile.tsx
  packages/features/ee/teams/pages/team-profile-view.tsx
  packages/features/eventtypes/components/EventTypeDescription.tsx
  packages/features/mintlify-chat/MintlifyChat.tsx
  packages/ui/components/form/checkbox/Checkbox.tsx
Labels: core, 💻 refactor, ready-for-e2e

#20502 fix: switch saveMode for SaveFilterSegmentButton
  packages/features/data-table/DataTableProvider.tsx
  packages/features/data-table/components/segment/SaveFilterSegmentButton.tsx
Labels: 🐛 bug, core, consumer, ready-for-e2e

#20505 chore: set x-request-id in response header for exeptions apiv2
  apps/api/v2/src/filters/calendar-service-exception.filter.ts
  apps/api/v2/src/filters/http-exception.filter.ts
  apps/api/v2/src/filters/prisma-exception.filter.ts
  apps/api/v2/src/filters/trpc-exception.filter.ts
  apps/api/v2/src/filters/zod-exception.filter.ts
Labels: platform, api, core, ready-for-e2e

#20486 refactor: v2 access and refresh tokens
  apps/api/v2/src/modules/jwt/jwt.service.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.e2e-spec.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/outputs/create-managed-user.output.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-flow/oauth-flow.controller.e2e-spec.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-flow/oauth-flow.controller.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-flow/responses/KeysResponse.dto.ts
  apps/api/v2/src/modules/oauth-clients/services/oauth-clients-users.service.ts
  apps/api/v2/src/modules/oauth-clients/services/oauth-flow.service.ts
  apps/api/v2/src/modules/tokens/tokens.repository.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
  packages/platform/examples/base/src/pages/booking.tsx
Labels: platform, authentication, core, 💻 refactor, ready-for-e2e

#20506 fix: v2 bookings attendeeEmail filter
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/managed-user-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/bookings.service.ts
  packages/platform/types/bookings/2024-08-13/inputs/get-bookings.input.ts
Labels: 🐛 bug, platform, bookings, core, ready-for-e2e

#20494 chore: refactor to use `createRouterCaller` util
  apps/web/app/_trpc/context.ts
  apps/web/lib/d/[link]/[slug]/getServerSideProps.tsx
  apps/web/lib/event-types/[type]/getServerSideProps.ts
  apps/web/lib/org/[orgSlug]/instant-meeting/team/[slug]/[type]/getServerSideProps.ts
  apps/web/modules/bookings/views/bookings-single-view.getServerSideProps.tsx
  apps/web/server/lib/[user]/[type]/getServerSideProps.ts
Labels: core, foundation, ready-for-e2e

#20508 docs: CalProvider
  docs/mint.json
  docs/platform/atoms/cal-provider.mdx
Labels: docs, platform, core, ready-for-e2e

#20513 fix: add oauth client id to table identifier on platform managed user list
  packages/features/users/components/UserTable/PlatformManagedUsersTable.tsx
Labels: 🐛 bug, platform, api, core, consumer, ready-for-e2e

#20082 refactor: extract NextRequest from handle new booking
  apps/api/v1/pages/api/bookings/_post.ts
  apps/api/v2/package.json
  apps/api/v2/src/ee/bookings/2024-04-15/controllers/bookings.controller.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/bookings.service.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/input.service.ts
  apps/web/pages/api/book/event.ts
  apps/web/pages/api/book/recurring-event.ts
  packages/features/apps/components/AppList.tsx
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/getBookingData.ts
  packages/features/bookings/lib/handleNewBooking/global-booking-limits.test.ts
  packages/features/bookings/lib/handleNewBooking/loadAndValidateUsers.ts
  packages/features/bookings/lib/handleNewBooking/loadUsers.ts
  packages/features/bookings/lib/handleNewBooking/test/booking-limits.test.ts
  packages/features/bookings/lib/handleNewBooking/test/complex-schedules.test.ts
  packages/features/bookings/lib/handleNewBooking/test/date-overrides.test.ts
  packages/features/bookings/lib/handleNewBooking/test/delegation-credential.test.ts
  packages/features/bookings/lib/handleNewBooking/test/dynamic-group-booking.test.ts
  packages/features/bookings/lib/handleNewBooking/test/fresh-booking.test.ts
  packages/features/bookings/lib/handleNewBooking/test/handleNewRecurringBooking.test.ts
  packages/features/bookings/lib/handleNewBooking/test/reschedule.test.ts
  packages/features/bookings/lib/handleNewBooking/test/team-bookings/collective-scheduling.test.ts
  packages/features/bookings/lib/handleNewBooking/test/workflow-notifications.test.ts
  packages/features/bookings/lib/handleNewRecurringBooking.ts
  packages/features/bookings/lib/handleSeats/test/handleSeats.test.ts
  packages/features/ee/organizations/lib/orgDomains.ts
  packages/features/instant-meeting/handleInstantMeeting.ts
Labels: core, 💻 refactor, consumer, high-risk, ready-for-e2e

#20515 fix: Add to calendar feature not working properly
  packages/trpc/server/routers/loggedInViewer/setDestinationCalendar.handler.ts
Labels: 🐛 bug, core, ready-for-e2e

#20480 fix: firstname lastname identifiers
  packages/features/form-builder/FormBuilder.tsx
Labels: 🐛 bug, event-types, community, ready-for-e2e

#20520 fix: v2 allow creating team events without hosts
  apps/api/v2/src/modules/organizations/event-types/assign-all-team-members.e2e-spec.ts
  apps/api/v2/src/modules/organizations/event-types/services/input.service.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/create-event-type.input.ts
Labels: teams, platform, core, ready-for-e2e

#20440 chore: bridge logs api v2 <-> libraries
  apps/api/v2/.env.example
  apps/api/v2/package.json
  apps/api/v2/src/lib/logger.bridge.ts
  packages/platform/libraries/vite.config.js
Labels: platform, ❗️ .env changes, automated-tests, api, core, ready-for-e2e

#20521 fix: keep search term on the url (DataTableToolbar.SearchBar)
  packages/features/data-table/DataTableProvider.tsx
  packages/features/data-table/components/DataTableToolbar.tsx
  packages/features/ee/teams/components/MemberList.tsx
  packages/features/settings/outOfOffice/OutOfOfficeEntriesList.tsx
  packages/features/timezone-buddy/components/AvailabilitySliderTable.tsx
  packages/features/users/components/UserTable/PlatformManagedUsersTable.tsx
  packages/features/users/components/UserTable/UserListTable.tsx
Labels: 🐛 bug, core, consumer, ready-for-e2e

#20517 chore: Booker Header - selectedDateString could be null
  packages/features/bookings/Booker/components/Header.tsx
Labels: bookings, core, foundation, ready-for-e2e

#20528 new script for checking diffs to set platform as codeowner
  .github/scripts/check-low-risk-changes.sh
  .github/workflows/pr.yml
Labels: community, community-interns

#20527 feat: v2 return booking icsUid
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/user-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/output.service.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
  packages/platform/types/bookings/2024-08-13/outputs/booking.output.ts
Labels: ✨ feature, platform, bookings, core, ready-for-e2e

#20213 feat: max-seats-per-time-slot
  apps/api/v1/lib/validations/event-type.ts
  apps/api/v2/src/ee/event-types/event-types_2024_04_15/inputs/update-event-type.input.ts
  packages/features/eventtypes/components/tabs/advanced/EventAdvancedTab.tsx
  packages/lib/constants.ts
  packages/platform/constants/api.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/seats.input.ts
  packages/trpc/server/routers/viewer/eventTypes/types.ts
Labels: ✨ feature, High priority, seats, event-types, community, ready-for-e2e, community-interns

#20489 feat: options to disable cancelling and/or rescheduling
  apps/web/components/booking/BookingListItem.tsx
  apps/web/lib/booking.ts
  apps/web/lib/reschedule/[uid]/getServerSideProps.ts
  apps/web/lib/team/[slug]/[type]/getServerSideProps.tsx
  apps/web/modules/bookings/views/bookings-single-view.tsx
  apps/web/playwright/booking-pages.e2e.ts
  apps/web/public/static/locales/en/common.json
  apps/web/server/lib/[user]/[type]/getServerSideProps.ts
  packages/features/bookings/lib/get-booking.ts
  packages/features/bookings/lib/getBookingToDelete.ts
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/features/bookings/types.ts
  packages/features/eventtypes/components/tabs/advanced/EventAdvancedTab.tsx
  packages/features/eventtypes/lib/getPublicEvent.ts
  packages/features/eventtypes/lib/types.ts
  packages/lib/defaultEvents.ts
  packages/lib/server/eventTypeSelect.ts
  packages/lib/server/repository/eventType.ts
  packages/lib/test/builder.ts
  packages/prisma/migrations/20250331185500_adding_disable_cancellation_and_disable_rescheduling/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/zod-utils.ts
  packages/trpc/server/routers/viewer/bookings/get.handler.ts
Labels: ✨ feature, 🙋🏻‍♂️help wanted, ❗️ migrations, High priority, 💎 Bounty, bookings, event-types, 🙋 Bounty claim, community, ready-for-e2e, community-interns

#20495 feat: Update `@dub/analytics` to support domainsConfig.refer
  apps/web/modules/signup-view.tsx
  apps/web/next.config.js
  apps/web/package.json
  yarn.lock
Labels: ✨ feature, ⬆️ dependencies, community, ready-for-e2e

#20525 fix: don't display user event types with no owner
  packages/lib/event-types/getEventTypesPublic.ts
Labels: 🐛 bug, enterprise, event-types, core, ready-for-e2e

#20532 chore: Update favicon for docs
  docs/favicon-32x32.png
  docs/favicon.png
  docs/mint.json
Labels: docs, core, foundation, ready-for-e2e

#20516 perf: Speed up User Type booking page
  apps/web/app/(booking-page-wrapper)/[user]/[type]/page.tsx
  apps/web/app/(booking-page-wrapper)/org/[orgSlug]/[user]/[type]/page.tsx
  apps/web/modules/users/views/users-type-public-view.tsx
  apps/web/server/lib/[user]/[type]/getServerSideProps.ts
  packages/features/bookings/Booker/components/hooks/useSlots.ts
  packages/features/bookings/Booker/utils/event.ts
  packages/platform/atoms/booker/BookerWebWrapper.tsx
Labels: performance, core, foundation, ready-for-e2e

#20488 fix: fixed language translations
  packages/features/eventtypes/components/tabs/advanced/DisableAllEmailsSetting.tsx
Labels: 🐛 bug, i18n, emails, community, ready-for-e2e

#19858 feat: Added new table under Insights page for most cancelled bookings
  apps/web/modules/insights/insights-view.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/insights/components/MostCancelledBookingsTables.tsx
  packages/features/insights/components/index.ts
  packages/features/insights/server/trpc-router.ts
Labels: ✨ feature, ❗️ .env changes, 💎 Bounty, insights, 🙋 Bounty claim, community, ready-for-e2e

#20487 fix: Fixing the overlapping timezone dropdown menu
  packages/features/components/timezone-select/TimezoneSelect.tsx
Labels: 🐛 bug, Low priority, ui, community, ready-for-e2e

#20539 chore: Salesforce - Handle `datetime` and `textarea` field types
  packages/app-store/salesforce/lib/CrmService.ts
  packages/app-store/salesforce/lib/enums.ts
Labels: core, crm-apps, consumer, ready-for-e2e

#20483 fix: Updated DateRangePicker in limit future booking
  packages/features/settings/outOfOffice/CreateOrEditOutOfOfficeModal.tsx
  packages/ui/components/form/date-range-picker/DateRangePicker.tsx
Labels: 🐛 bug, ui, event-types, community, ready-for-e2e

#20542 fix: ooo calibration for google calendar busy times
  packages/lib/server/getLuckyUser.ts
Labels: 🐛 bug, High priority, core, calendar-apps, consumer, ready-for-e2e

#20221 feat: v2 admin GET bookings, user information
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/bookings.controller.ts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/user-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/bookings.service.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/input.service.ts
  apps/api/v2/src/ee/bookings/shared/platform-bookings.service.ts
  apps/api/v2/src/ee/event-types/event-types_2024_06_14/event-types.repository.ts
  apps/api/v2/src/modules/endpoints.module.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.e2e-spec.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/outputs/managed-user.output.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-clients/oauth-clients.controller.ts
  apps/api/v2/src/modules/oauth-clients/oauth-client.module.ts
  apps/api/v2/src/modules/oauth-clients/services/oauth-clients-users-output.service.ts
  apps/api/v2/src/modules/oauth-clients/services/oauth-clients-users.service.ts
  apps/api/v2/src/modules/organizations/event-types/assign-all-team-members.e2e-spec.ts
  apps/api/v2/src/modules/organizations/event-types/organizations-event-types.e2e-spec.ts
  apps/api/v2/src/modules/organizations/memberships/organizations-membership.controller.e2e-spec.ts
  apps/api/v2/src/modules/organizations/memberships/organizations-membership.controller.ts
  apps/api/v2/src/modules/organizations/memberships/organizations-membership.repository.ts
  apps/api/v2/src/modules/organizations/memberships/outputs/create-membership.output.ts
  apps/api/v2/src/modules/organizations/memberships/outputs/delete-membership.output.ts
  apps/api/v2/src/modules/organizations/memberships/outputs/get-all-memberships.output.ts
  apps/api/v2/src/modules/organizations/memberships/outputs/get-membership.output.ts
  apps/api/v2/src/modules/organizations/memberships/outputs/membership.output.ts
  apps/api/v2/src/modules/organizations/memberships/outputs/update-membership.output.ts
  apps/api/v2/src/modules/organizations/teams/memberships/organizations-teams-memberships.controller.e2e-spec.ts
  apps/api/v2/src/modules/organizations/teams/memberships/organizations-teams-memberships.controller.ts
  apps/api/v2/src/modules/organizations/teams/memberships/organizations-teams-memberships.repository.ts
  apps/api/v2/src/modules/organizations/teams/memberships/outputs/organization-teams-memberships.output.ts
  apps/api/v2/src/modules/organizations/users/bookings/controllers/organizations-users-bookings-controller.ts
  apps/api/v2/src/modules/organizations/users/bookings/controllers/organizations-users-bookings.e2e-spec.ts
  apps/api/v2/src/modules/organizations/users/bookings/organizations-users-bookings.module.ts
  apps/api/v2/src/modules/organizations/users/bookings/services/organization-users-bookings.service.ts
  apps/api/v2/src/modules/organizations/users/index/controllers/organizations-users.controller.ts
  apps/api/v2/src/modules/organizations/users/index/controllers/organizations-users.e2e-spec.ts
  apps/api/v2/src/modules/organizations/users/index/organizations-users.repository.ts
  apps/api/v2/src/modules/slots/slots-2024-09-04/controllers/slots.controller.ts
  apps/api/v2/src/modules/teams/event-types/controllers/teams-event-types.controller.e2e-spec.ts
  apps/api/v2/src/modules/teams/memberships/controllers/teams-memberships.controller.e2e-spec.ts
  apps/api/v2/src/modules/teams/memberships/outputs/team-membership.output.ts
  apps/api/v2/src/modules/teams/memberships/teams-memberships.repository.ts
  apps/api/v2/src/modules/users/inputs/create-managed-user.input.ts
  apps/api/v2/src/modules/users/inputs/create-user.input.ts
  apps/api/v2/src/modules/users/inputs/update-managed-user.input.ts
  apps/api/v2/src/modules/users/outputs/get-users.output.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
  packages/platform/types/bookings/2024-08-13/inputs/create-booking.input.ts
Labels: ✨ feature, platform, bookings, core, ready-for-e2e

#20544 fix: badge dot sizes to be 8x8
  packages/ui/components/badge/Badge.tsx
Labels: 🐛 bug, ui, core, consumer, ready-for-e2e

#19812 feat: Implements Greetmate.ai app into Cal.com
  packages/app-store/apps.metadata.generated.ts
  packages/app-store/apps.server.generated.ts
  packages/app-store/greetmate-ai/DESCRIPTION.md
  packages/app-store/greetmate-ai/api/add.ts
  packages/app-store/greetmate-ai/api/index.ts
  packages/app-store/greetmate-ai/components/.gitkeep
  packages/app-store/greetmate-ai/config.json
  packages/app-store/greetmate-ai/index.ts
  packages/app-store/greetmate-ai/package.json
  packages/app-store/greetmate-ai/static/1.jpeg
  packages/app-store/greetmate-ai/static/2.jpeg
  packages/app-store/greetmate-ai/static/icon.svg
Labels: ✨ feature, app-store, community, ready-for-e2e

#20545 perf: Remove dynamic imports of Sentry
  apps/web/app/api/defaultResponderForAppDir.ts
  packages/features/flags/features.repository.ts
  packages/features/users/users.repository.ts
  packages/features/watchlist/watchlist.repository.ts
  packages/lib/server/defaultResponder.ts
  packages/trpc/server/middlewares/captureErrorsMiddleware.ts
Labels: performance, core, foundation, ready-for-e2e

#20547 perf: Remove dynamic imports for Vital and libphonenumber-js
  packages/app-store/vital/lib/client.ts
  packages/features/bookings/lib/getBookingResponsesSchema.ts
Labels: performance, core, foundation, ready-for-e2e

#20549 fix: toggle group segment design
  apps/ui-playground/tailwind.config.js
  packages/ui/components/form/toggleGroup/ToggleGroup.tsx
Labels: ui, core, consumer, ready-for-e2e

#20524 docs: platform refresh tokens and team event type atoms
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-flow/oauth-flow.controller.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
  docs/platform/atoms/event-type.mdx
  docs/platform/quickstart.mdx
Labels: docs, platform, core, ready-for-e2e

#20553 fix: platform dialog portal issue [Atoms]
  apps/api/v2/src/modules/organizations/bookings/organizations-bookings.controller.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
  packages/platform/atoms/src/components/ui/dialog.tsx
Labels: 🐛 bug, platform, core, ready-for-e2e

#20559 feat: update translations via @lingodotdev
  apps/web/public/static/locales/ar/common.json
  apps/web/public/static/locales/az/common.json
  apps/web/public/static/locales/bg/common.json
  apps/web/public/static/locales/ca/common.json
  apps/web/public/static/locales/cs/common.json
  apps/web/public/static/locales/da/common.json
  apps/web/public/static/locales/de/common.json
  apps/web/public/static/locales/el/common.json
  apps/web/public/static/locales/es-419/common.json
  apps/web/public/static/locales/es/common.json
  apps/web/public/static/locales/et/common.json
  apps/web/public/static/locales/eu/common.json
  apps/web/public/static/locales/fi/common.json
  apps/web/public/static/locales/fr/common.json
  apps/web/public/static/locales/he/common.json
  apps/web/public/static/locales/hu/common.json
  apps/web/public/static/locales/it/common.json
  apps/web/public/static/locales/ja/common.json
  apps/web/public/static/locales/km/common.json
  apps/web/public/static/locales/ko/common.json
  apps/web/public/static/locales/nl/common.json
  apps/web/public/static/locales/no/common.json
  apps/web/public/static/locales/pl/common.json
  apps/web/public/static/locales/pt-BR/common.json
  apps/web/public/static/locales/pt/common.json
  apps/web/public/static/locales/ro/common.json
  apps/web/public/static/locales/ru/common.json
  apps/web/public/static/locales/sk-SK/common.json
  apps/web/public/static/locales/sr/common.json
  apps/web/public/static/locales/sv/common.json
  apps/web/public/static/locales/tr/common.json
  apps/web/public/static/locales/uk/common.json
  apps/web/public/static/locales/vi/common.json
  apps/web/public/static/locales/zh-CN/common.json
  apps/web/public/static/locales/zh-TW/common.json
  i18n.lock
Labels: i18n, community, foundation, ready-for-e2e

#20537 refactor: SCIM - `handleGroupEvents`
  .env.example
  packages/features/ee/dsync/lib/handleGroupEvents.ts
  packages/features/ee/dsync/lib/users/createUsersAndConnectToOrg.ts
  packages/lib/constants.ts
  packages/lib/server/queries/teams/index.ts
  packages/lib/server/repository/profile.ts
  packages/trpc/server/routers/viewer/organizations/adminVerify.handler.ts
  packages/trpc/server/routers/viewer/teams/inviteMember/utils.ts
  turbo.json
Labels: enterprise, ❗️ .env changes, core, 💻 refactor, consumer, ready-for-e2e

#20531 chore: remove unused dep—react-intl
  apps/web/package.json
  yarn.lock
Labels: ⬆️ dependencies, core, foundation, ready-for-e2e

#20467 chore: Use `createCallerFactory` since `createCaller` method is deprecated
  apps/api/v1/pages/api/invites/_post.ts
  apps/api/v1/pages/api/teams/[teamId]/publish.ts
  apps/web/app/api/link/route.ts
Labels: api, core, 💻 refactor, foundation, ready-for-e2e

#20555 fix: broken getBusyTimes test in TZ!=UTC
  packages/lib/getBusyTimes.test.ts
Labels: automated-tests, core, foundation, ready-for-e2e

#20562 chore: Migration to backfill EventType.userId with B, if null
  packages/prisma/migrations/20250404225129_backfill_userid_from_user_eventtype/migration.sql
Labels: ❗️ migrations, core, foundation, high-risk, ready-for-e2e

#20496 perf: leverage trpc initialData for event-types page
  apps/web/app/(use-page-wrapper)/(main-nav)/event-types/page.tsx
  apps/web/modules/event-types/views/event-types-listing-view.tsx
Labels: ✨ feature, event-types, performance, core, foundation, ready-for-e2e

#20565 fix: update German translation for 'cancel' to 'Stornieren'
  apps/web/public/static/locales/de/common.json
Labels: ✨ feature, 🧹 Improvements, i18n, 🚨 needs approval, community, ready-for-e2e

#20297 fix: enabling weights on RR events breaks atoms
  apps/api/v2/package.json
  apps/api/v2/src/modules/atoms/atoms.module.ts
  apps/api/v2/src/modules/atoms/controllers/atoms.controller.ts
  apps/api/v2/src/modules/atoms/inputs/find-team-members-matching-attribute.input.ts
  apps/api/v2/src/modules/atoms/outputs/find-team-members-matching-attribute.output.ts
  apps/api/v2/src/modules/atoms/services/attributes-atom.service.ts
  apps/web/modules/videos/views/videos-single-view.tsx
  packages/features/eventtypes/components/EditWeightsForAllTeamMembers.tsx
  packages/features/eventtypes/components/EventTypeDescription.tsx
  packages/platform/atoms/event-types/hooks/useTeamMembersWithSegment.tsx
  packages/platform/libraries/index.ts
  packages/platform/types/teams/outputs/index.ts
  packages/platform/types/teams/outputs/team-members-attributes.output.ts
  yarn.lock
Labels: 🐛 bug, platform, core, ⚛️ atoms, ready-for-e2e

#20560 fix: improve booking page error boundary + remove dynamic imports from Booker
  apps/web/app/error.tsx
  apps/web/components/error/BookingPageErrorBoundary.tsx
  apps/web/components/error/error-page.tsx
  packages/features/bookings/Booker/Booker.tsx
  packages/features/bookings/Booker/__tests__/Booker.test.tsx
Labels: 🐛 bug, 🧹 Improvements, bookings, booking-page, core, foundation, ready-for-e2e

#20576 fix: Require confirmation on toggling delegation credential
  apps/web/public/static/locales/en/common.json
  packages/features/ee/organizations/pages/settings/delegationCredential.tsx
Labels: 🧹 Improvements, enterprise, i18n, core, ready-for-e2e

#20526 feat: support searchTerm in Filter Segment
  packages/features/data-table/DataTableProvider.tsx
  packages/features/data-table/components/DataTableToolbar.tsx
  packages/features/data-table/components/segment/SaveFilterSegmentButton.tsx
  packages/features/data-table/lib/segments.ts
  packages/features/data-table/lib/types.ts
  packages/prisma/migrations/20250403094343_add_search_term_to_filter_segment/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/filterSegments/__tests__/create.handler.test.ts
  packages/trpc/server/routers/viewer/filterSegments/__tests__/update.handler.test.ts
  packages/trpc/server/routers/viewer/filterSegments/create.schema.ts
  packages/trpc/server/routers/viewer/filterSegments/update.handler.ts
  packages/trpc/server/routers/viewer/filterSegments/update.schema.ts
Labels: ✨ feature, ❗️ migrations, core, consumer, ready-for-e2e

#20581 fix: turbo pack error in webhooks/new/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/developer/webhooks/new/page.tsx
  packages/features/webhooks/pages/webhook-new-view.tsx
Labels: 🐛 bug, webhooks, core, foundation, ready-for-e2e

#20589 revert: refactor v2 access and refresh tokens
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.e2e-spec.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-flow/oauth-flow.controller.e2e-spec.ts
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-flow/oauth-flow.controller.ts
  apps/api/v2/src/modules/oauth-clients/services/oauth-clients-users.service.ts
  apps/api/v2/src/modules/oauth-clients/services/oauth-flow.service.ts
  apps/api/v2/src/modules/tokens/tokens.repository.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
  packages/platform/examples/base/src/pages/booking.tsx
Labels: platform, api, authentication, core, ready-for-e2e

#20592 fix: verification code truncation fix
  packages/emails/src/templates/VerifyEmailByCode.tsx
Labels: emails, core, ready-for-e2e

#20583 perf: fetch data server side for /settings/webhooks
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/developer/webhooks/(with-loader)/actions.ts
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/developer/webhooks/(with-loader)/loading.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/developer/webhooks/(with-loader)/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/developer/webhooks/page.tsx
  apps/web/middleware.ts
  packages/features/webhooks/components/EventTypeWebhookListItem.tsx
  packages/features/webhooks/components/WebhookForm.tsx
  packages/features/webhooks/components/WebhookListItem.tsx
  packages/features/webhooks/components/WebhookTestDisclosure.tsx
  packages/features/webhooks/pages/webhook-edit-view.tsx
  packages/features/webhooks/pages/webhook-new-view.tsx
  packages/features/webhooks/pages/webhooks-view.tsx
Labels: webhooks, performance, core, foundation, ready-for-e2e

#20476 fix: all flaky e2e tests
  apps/web/playwright/apps/analytics/analyticsApps.e2e.ts
  apps/web/playwright/bookings-list.e2e.ts
  apps/web/playwright/event-types.e2e.ts
  apps/web/playwright/fixtures/apps.ts
  apps/web/playwright/hash-my-url.e2e.ts
  apps/web/playwright/lib/testUtils.ts
  apps/web/playwright/manage-booking-questions.e2e.ts
  apps/web/playwright/managed-event-types.e2e.ts
  apps/web/playwright/organization/booking.e2e.ts
  apps/web/playwright/out-of-office.e2e.ts
  apps/web/playwright/settings/upload-avatar.e2e.ts
  packages/app-store/routing-forms/playwright/tests/basic.e2e.ts
  packages/features/settings/outOfOffice/OutOfOfficeEntriesList.tsx
Labels: automated-tests, core, ready-for-e2e

#20598 revert: "chore: Migration to backfill EventType.userId with B, if null"
  packages/prisma/migrations/20250404225129_backfill_userid_from_user_eventtype/migration.sql
Labels: ❗️ migrations, core, foundation, ready-for-e2e

#20600 revert: "feat: enable 'Overlay Calendar' enabled by default for signe…
  packages/platform/atoms/booker/BookerWebWrapper.tsx
Labels: booking-page, core, foundation, ready-for-e2e

#20578 chore: Add id column in CalendarCache
  packages/prisma/migrations/20250407034337_add_id_field_calendar_cache/migration.sql
  packages/prisma/schema.prisma
Labels: ❗️ migrations, enterprise, core, ready-for-e2e

#20584 fix: Layout is not being set properly on mobile screens
  packages/platform/atoms/booker/BookerWebWrapper.tsx
Labels: 🐛 bug, booking-page, core, ready-for-e2e

#20588 fix: weight filter should never return length=0
  packages/lib/server/getLuckyUser.test.ts
  packages/lib/server/getLuckyUser.ts
Labels: 🐛 bug, core, consumer, ready-for-e2e

#20566 feat: sticky-shell in event-types
  packages/features/shell/Shell.tsx
Labels: 🧹 Improvements, community, ready-for-e2e, community-interns

#20606 fix: use real ip in throttler [v2]
  apps/api/v2/src/lib/throttler-guard.ts
Labels: 🐛 bug, platform, core, ready-for-e2e

#20602 fix: Incorrect booker URL for individual event types inside the org
  apps/web/modules/event-types/views/event-types-listing-view.tsx
Labels: 🐛 bug, event-types, core, ready-for-e2e

#20608 fix: A few flakes
  apps/web/playwright/payment-apps.e2e.ts
Labels: automated-tests, core, ready-for-e2e

#20612 fix: use correct organizer info when admin accepts team booking requiring confirmation
  apps/web/playwright/webhook.e2e.ts
  packages/trpc/server/routers/viewer/bookings/confirm.handler.ts
Labels: 🐛 bug, teams, bookings, core, ready-for-e2e

#20625 fix: full page reload on routing forms
  packages/app-store/routing-forms/components/RoutingNavBar.tsx
Labels: 🐛 bug, routing-forms, core, consumer, ready-for-e2e

#20587 fix: separate Filter Segment implementation from DataTableProvider
  apps/web/modules/bookings/views/bookings-listing-view.tsx
  apps/web/modules/insights/insights-routing-view.tsx
  packages/features/data-table/DataTableProvider.tsx
  packages/features/data-table/components/DataTable.tsx
  packages/features/data-table/components/segment/FilterSegmentSelect.tsx
  packages/features/data-table/components/segment/SaveFilterSegmentButton.tsx
  packages/features/data-table/hooks/useColumnResizing.ts
  packages/features/data-table/hooks/useSegments.ts
  packages/features/data-table/hooks/useSegmentsNoop.ts
  packages/features/data-table/index.ts
  packages/features/data-table/lib/types.ts
  packages/features/settings/outOfOffice/OutOfOfficeEntriesList.tsx
  packages/features/users/components/UserTable/PlatformManagedUsersTable.tsx
  packages/features/users/components/UserTable/UserListTable.tsx
Labels: core, 💻 refactor, consumer, ready-for-e2e

#20293 feat: move workflow emails to smtp
  .github/workflows/cron-scheduleEmailReminders.yml
  packages/emails/email-manager.ts
  packages/emails/templates/workflow-email.ts
  packages/features/ee/round-robin/roundRobinManualReassignment.ts
  packages/features/ee/round-robin/roundRobinReassignment.ts
  packages/features/ee/workflows/api/scheduleEmailReminders.ts
  packages/features/ee/workflows/lib/reminders/emailReminderManager.ts
  packages/features/ee/workflows/lib/reminders/providers/emailProvider.ts
  packages/features/ee/workflows/lib/reminders/providers/sendgridProvider.ts
  packages/features/ee/workflows/lib/reminders/scheduleMandatoryReminder.ts
  packages/features/ee/workflows/lib/test/workflows.test.ts
  packages/features/tasker/internal-tasker.ts
  packages/features/tasker/repository.ts
  packages/features/tasker/tasker.ts
  packages/features/tasker/tasks/index.ts
  packages/features/tasker/tasks/sendWorkflowEmails.ts
  packages/lib/__mocks__/constants.ts
  packages/lib/server/repository/workflow.ts
  packages/prisma/migrations/20250331140235_add_reference_uid_to_task/migration.sql
  packages/prisma/schema.prisma
Labels: ✨ feature, ❗️ migrations, High priority, workflows, emails, core, consumer, ready-for-e2e

#20639 chore: Add more Salesforce logging
  packages/app-store/salesforce/lib/CrmService.ts
Labels: core, crm-apps, consumer, ready-for-e2e

#20401 feat: added rescheduled UI to Booking page and Booking Listing page
  apps/web/components/booking/BookingListItem.tsx
  apps/web/modules/bookings/views/bookings-single-view.getServerSideProps.tsx
  apps/web/modules/bookings/views/bookings-single-view.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/lib/getUserBooking.ts
  packages/lib/server/repository/booking.ts
  packages/trpc/server/routers/viewer/bookings/get.handler.ts
Labels: ✨ feature, 🧹 Improvements, Medium priority, bookings, i18n, ui, booking-page, community, consumer, ready-for-e2e

#20613 chore: Admin unlocking user, also verify workflow steps
  packages/features/ee/users/components/UsersTable.tsx
  packages/trpc/server/routers/viewer/admin/_router.ts
  packages/trpc/server/routers/viewer/admin/verifyWorkflows.handler.ts
  packages/trpc/server/routers/viewer/admin/verifyWorkflows.schema.ts
Labels: workflows, core, admin, consumer, ready-for-e2e

#20641 chore: Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: docs, core, foundation

#20610 feat: auto turn on overlay calendar while loggedin
  packages/features/bookings/Booker/components/OverlayCalendar/OverlayCalendar.tsx
  packages/platform/atoms/booker/BookerWebWrapper.tsx
Labels: ✨ feature, 🧹 Improvements, Low priority, calendar-apps, community, ready-for-e2e, community-interns

#20634 feat: Removed offset start times feature from UI
  apps/web/playwright/eventType/limit-tab.e2e.ts
  apps/web/playwright/fixtures/regularBookings.ts
  packages/features/eventtypes/components/tabs/limits/EventLimitsTab.tsx
Labels: Low priority, ui, event-types, community, consumer, ready-for-e2e, devin

#20648 chore: remove unnecessary tests and mock data
  apps/web/playwright/eventType/limit-tab.e2e.ts
  apps/web/playwright/fixtures/regularBookings.ts
Labels: automated-tests, community, ready-for-e2e, community-interns

#20660 fix: updatedAt routing form response migration
  packages/prisma/migrations/20250409135411_updated_at_routing_form_response/migration.sql
  packages/prisma/schema.prisma
Labels: ❗️ migrations, platform, routing-forms, core, ready-for-e2e

#20654 fix: convert SVG avatar into PNG on save and serve
  apps/web/app/api/avatar/[uuid]/route.ts
  apps/web/package.json
  packages/lib/package.json
  packages/lib/server/avatar.ts
  packages/lib/server/imageUtils.ts
  yarn.lock
Labels: 🐛 bug, core, security, foundation, ready-for-e2e

#20664 fix: Broken API docs
  docs/api-reference/v2/openapi.json
Labels: docs, api, core, foundation, ready-for-e2e

#20665 chore: Add logging and try/catch blocks in `handleNewBooking`
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/lib/EventManager.ts
Labels: bookings, core, consumer, ready-for-e2e

#20667 revert: "fix: Broken API docs (#20664)"
  docs/api-reference/v2/openapi.json
Labels: docs, core, foundation, ready-for-e2e

#20666 fix: App installation option at the team level
  apps/web/lib/apps/installation/[[...step]]/getServerSideProps.ts
Labels: app-store, core, ready-for-e2e

#20597 perf: make `useLocale` hook to use server-fetched i18n if in App router context
  apps/web/app/AppRouterI18nProvider.tsx
  apps/web/app/layout.tsx
  apps/web/components/PageWrapperAppDir.tsx
  apps/web/lib/app-providers-app-dir.tsx
  packages/lib/hooks/useLocale.ts
  packages/lib/server/i18n.ts
  packages/ui/components/unpublished-entity/UnpublishedEntity.tsx
Labels: i18n, performance, core, foundation, high-risk, ready-for-e2e

#20619 fix: location input value in custom event name
  packages/lib/event.ts
Labels: 🐛 bug, event-types, core, ready-for-e2e

#20657 fix: dynamic text variable not populating on workflows
  packages/features/ee/workflows/lib/reminders/templates/customTemplate.ts
Labels: 🐛 bug, workflows, core, ready-for-e2e

#20668 chore: clean up api v2 docs
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/bookings.controller.ts
  apps/api/v2/src/modules/organizations/conferencing/organizations-conferencing.controller.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
Labels: docs, api, core, foundation, ready-for-e2e

#20695 fix: Revert "fix: Make event type title visible in mobile view (
  apps/web/app/(use-page-wrapper)/(main-nav)/ShellMainAppDir.tsx
  packages/features/shell/Shell.tsx
Labels: core, foundation, ready-for-e2e

#19841 chore: Make app compatible with Fluid Compute
  apps/api/v1/pages/api/slots/_get.ts
  apps/web/app/api/me/route.ts
  packages/app-store/giphy/lib/giphyManager.ts
  packages/app-store/hubspot/api/add.ts
  packages/app-store/hubspot/api/callback.ts
  packages/app-store/intercom/api/add.ts
  packages/app-store/intercom/api/callback.ts
  packages/app-store/office365calendar/api/add.ts
  packages/app-store/office365calendar/api/callback.ts
  packages/app-store/office365video/api/add.ts
  packages/app-store/office365video/api/callback.ts
  packages/app-store/routing-forms/trpc/utils.ts
  packages/app-store/salesforce/api/add.ts
  packages/app-store/salesforce/api/callback.ts
  packages/app-store/tandemvideo/api/add.ts
  packages/app-store/tandemvideo/api/callback.ts
  packages/app-store/tandemvideo/lib/VideoApiAdapter.ts
  packages/app-store/zohocrm/api/_getAdd.ts
  packages/app-store/zohocrm/api/callback.ts
  packages/features/ee/workflows/lib/reminders/providers/sendgridProvider.ts
  packages/lib/rateLimit.ts
  packages/platform/atoms/hooks/event-types/public/useTeamEventType.ts
  packages/trpc/server/routers/loggedInViewer/_router.tsx
  packages/trpc/server/routers/publicViewer/_router.tsx
  packages/trpc/server/routers/publicViewer/procedures/event.ts
  packages/trpc/server/routers/publicViewer/procedures/session.ts
  packages/trpc/server/routers/publicViewer/timezones/_router.tsx
  packages/trpc/server/routers/viewer/admin/_router.ts
  packages/trpc/server/routers/viewer/admin/toggleFeatureFlag.procedure.ts
  packages/trpc/server/routers/viewer/apiKeys/_router.tsx
  packages/trpc/server/routers/viewer/apps/_router.tsx
  packages/trpc/server/routers/viewer/attributes/_router.ts
  packages/trpc/server/routers/viewer/auth/_router.tsx
  packages/trpc/server/routers/viewer/availability/_router.tsx
  packages/trpc/server/routers/viewer/availability/schedule/_router.tsx
  packages/trpc/server/routers/viewer/bookings/_router.tsx
  packages/trpc/server/routers/viewer/calVideo/_router.tsx
  packages/trpc/server/routers/viewer/calendars/_router.tsx
  packages/trpc/server/routers/viewer/credentials/_router.tsx
  packages/trpc/server/routers/viewer/delegationCredential/_router.ts
  packages/trpc/server/routers/viewer/deploymentSetup/_router.tsx
  packages/trpc/server/routers/viewer/dsync/_router.tsx
  packages/trpc/server/routers/viewer/dsync/teamGroupMapping/_router.tsx
  packages/trpc/server/routers/viewer/eventTypes/_router.ts
  packages/trpc/server/routers/viewer/filterSegments/_router.tsx
  packages/trpc/server/routers/viewer/googleWorkspace/_router.tsx
  packages/trpc/server/routers/viewer/highPerf/_router.tsx
  packages/trpc/server/routers/viewer/oAuth/_router.tsx
  packages/trpc/server/routers/viewer/organizations/_router.tsx
  packages/trpc/server/routers/viewer/routing-forms/_router.ts
  packages/trpc/server/routers/viewer/slots/_router.tsx
  packages/trpc/server/routers/viewer/teams/_router.tsx
  packages/trpc/server/routers/viewer/teams/procedures/hasTeamPlan.ts
  packages/trpc/server/trpc.ts
Labels: core, foundation, ready-for-e2e

#20633 fix: recalculate date range from filter segments
  packages/features/data-table/components/filters/DateRangeFilter.tsx
  packages/features/data-table/hooks/useSegments.ts
  packages/features/data-table/lib/dateRange.test.ts
  packages/features/data-table/lib/dateRange.ts
Labels: routing-forms, insights, core, consumer, ready-for-e2e

#20701 fix: uneven toggle ui on availability page
  apps/web/modules/availability/availability-view.tsx
Labels: 🐛 bug, ui, community, ready-for-e2e, community-interns

#20572 fix: made text dependent on host's refund policy by conditionally rendering text.
  apps/web/modules/bookings/views/bookings-single-view.getServerSideProps.tsx
  apps/web/modules/bookings/views/bookings-single-view.tsx
  apps/web/public/static/locales/en/common.json
Labels: 🐛 bug, ✨ feature, 🧹 Improvements, Low priority, bookings, i18n, community, consumer, ready-for-e2e

#20688 refactor: required booking fields message
  apps/api/v2/src/ee/bookings/2024-08-13/services/bookings.service.ts
Labels: platform, bookings, core, 💻 refactor, ready-for-e2e

#20690 feat: dry run behaviour for `CalendarSettings` atom
  packages/platform/atoms/calendar-settings/wrappers/CalendarSettingsPlatformWrapper.tsx
  packages/platform/atoms/destination-calendar/wrappers/DestinationCalendarSettingsPlatformWrapper.tsx
  packages/platform/atoms/selected-calendars/wrappers/SelectedCalendarsSettingsPlatformWrapper.tsx
Labels: ✨ feature, platform, core, ready-for-e2e

#20686 feat: dry run behaviour for `AvailabilitySettings` atom
  packages/platform/atoms/availability/wrappers/AvailabilitySettingsPlatformWrapper.tsx
Labels: ✨ feature, platform, core, ready-for-e2e

#20699 feat: dry run behaviour for connect atoms
  apps/api/v2/src/ee/calendars/controllers/calendars.controller.e2e-spec.ts
  apps/api/v2/src/ee/calendars/controllers/calendars.controller.ts
  apps/api/v2/src/ee/calendars/services/gcal.service.ts
  apps/api/v2/src/ee/calendars/services/outlook.service.ts
  packages/platform/atoms/connect/OAuthConnect.tsx
  packages/platform/atoms/connect/apple/AppleConnect.tsx
  packages/platform/atoms/connect/google/GcalConnect.tsx
  packages/platform/atoms/connect/outlook/OutlookConnect.tsx
  packages/platform/atoms/hooks/connect/useConnect.ts
Labels: ✨ feature, platform, core, ready-for-e2e

#18605 feat: Redirect to original event link for rescheduling cancelled booking
  apps/web/lib/reschedule/[uid]/getServerSideProps.ts
  apps/web/lib/team/[slug]/[type]/getServerSideProps.tsx
  apps/web/playwright/booking-pages.e2e.ts
  apps/web/server/lib/[user]/[type]/getServerSideProps.ts
  packages/features/bookings/lib/get-booking.ts
Labels: ✨ feature, 🧹 Improvements, High priority, bookings, community, ready-for-e2e

#20451 fix: Improves dialog window that appears when there is no availability in a month. Adding a description to clarify limits when rolling or range period types are in use.
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/Booker/__tests__/Booker.test.tsx
  packages/features/bookings/Booker/components/DatePicker.tsx
  packages/features/calendars/DatePicker.tsx
  packages/features/calendars/NoAvailabilityDialog.tsx
  packages/features/calendars/__tests__/DatePicker.test.tsx
  packages/features/calendars/__tests__/NoAvailabilityDialog.test.tsx
  packages/features/eventtypes/lib/getPublicEvent.ts
  packages/lib/__mocks__/logger.ts
  packages/types/Event.d.ts
  packages/ui/components/dialog/Dialog.tsx
Labels: ✅ good first issue, 🧹 Improvements, Low priority, bookings, i18n, ui, community, ready-for-e2e

#20674 feat: email workflow templates translation
  apps/web/public/static/locales/ar/common.json
  apps/web/public/static/locales/az/common.json
  apps/web/public/static/locales/bg/common.json
  apps/web/public/static/locales/ca/common.json
  apps/web/public/static/locales/cs/common.json
  apps/web/public/static/locales/da/common.json
  apps/web/public/static/locales/de/common.json
  apps/web/public/static/locales/el/common.json
  apps/web/public/static/locales/en/common.json
  apps/web/public/static/locales/es-419/common.json
  apps/web/public/static/locales/es/common.json
  apps/web/public/static/locales/et/common.json
  apps/web/public/static/locales/eu/common.json
  apps/web/public/static/locales/fi/common.json
  apps/web/public/static/locales/fr/common.json
  apps/web/public/static/locales/he/common.json
  apps/web/public/static/locales/hr/common.json
  apps/web/public/static/locales/hu/common.json
  apps/web/public/static/locales/id/common.json
  apps/web/public/static/locales/it/common.json
  apps/web/public/static/locales/ja/common.json
  apps/web/public/static/locales/km/common.json
  apps/web/public/static/locales/ko/common.json
  apps/web/public/static/locales/lv/common.json
  apps/web/public/static/locales/nl/common.json
  apps/web/public/static/locales/no/common.json
  apps/web/public/static/locales/pl/common.json
  apps/web/public/static/locales/pt-BR/common.json
  apps/web/public/static/locales/pt/common.json
  apps/web/public/static/locales/ro/common.json
  apps/web/public/static/locales/ru/common.json
  apps/web/public/static/locales/sk-SK/common.json
  apps/web/public/static/locales/sk/common.json
  apps/web/public/static/locales/sr/common.json
  apps/web/public/static/locales/sv/common.json
  apps/web/public/static/locales/ta/common.json
  apps/web/public/static/locales/tr/common.json
  apps/web/public/static/locales/uk/common.json
  apps/web/public/static/locales/vi/common.json
  apps/web/public/static/locales/zh-CN/common.json
  apps/web/public/static/locales/zh-TW/common.json
  packages/features/ee/workflows/api/scheduleEmailReminders.ts
  packages/features/ee/workflows/components/WorkflowStepContainer.tsx
  packages/features/ee/workflows/lib/actionHelperFunctions.ts
  packages/features/ee/workflows/lib/reminders/emailReminderManager.ts
  packages/features/ee/workflows/lib/reminders/templates/emailRatingTemplate.ts
  packages/features/ee/workflows/lib/reminders/templates/emailReminderTemplate.ts
  packages/features/ee/workflows/lib/test/compareReminderBodyToTemplate.test.ts
  packages/features/tasker/tasks/scanWorkflowBody.ts
  packages/trpc/server/routers/viewer/workflows/create.handler.ts
  packages/trpc/server/routers/viewer/workflows/update.handler.ts
  packages/trpc/server/routers/viewer/workflows/util.ts
Labels: High priority, workflows, i18n, community, ready-for-e2e

#20708 fix: make padding equal on availability toggle
  apps/web/modules/availability/availability-view.tsx
Labels: 🧹 Improvements, community, ready-for-e2e, community-interns

#20696 feat: placeholder component for user dropdown to remove layout shift
  packages/features/shell/user-dropdown/UserDropdown.tsx
Labels: 🧹 Improvements, ui, core, foundation, consumer, ready-for-e2e

#20713 fix: Tasker import and error handling for routing form responses
  packages/app-store/routing-forms/trpc/utils.ts
Labels: 🐛 bug, routing-forms, core, foundation, ready-for-e2e

#20714 fix: availability CTA height
  apps/web/modules/availability/availability-view.tsx
  packages/features/schedules/components/NewScheduleButton.tsx
Labels: 🧹 Improvements, core, consumer, ready-for-e2e

#19257 fix: don't allow seats for recurring events
  apps/web/playwright/booking-pages.e2e.ts
  apps/web/playwright/event-types.e2e.ts
  apps/web/public/static/locales/en/common.json
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/eventtypes/components/tabs/advanced/EventAdvancedTab.tsx
  packages/features/eventtypes/components/tabs/recurring/RecurringEventController.tsx
  packages/platform/atoms/event-types/hooks/useEventTypeForm.ts
  packages/trpc/server/routers/viewer/eventTypes/update.handler.ts
Labels: 🐛 bug, Medium priority, Stale, seats, i18n, event-types, community, ready-for-e2e

#20715 fix: routing form endpoints date filters validation [v2]
  apps/api/v2/src/modules/organizations/routing-forms/controllers/organizations-routing-forms-responses.controller.e2e-spec.ts
  apps/api/v2/src/modules/organizations/routing-forms/inputs/get-routing-form-responses-params.input.ts
  apps/api/v2/src/modules/organizations/routing-forms/organizations-routing-forms.repository.ts
  apps/api/v2/src/modules/organizations/routing-forms/services/organizations-routing-forms-responses.service.ts
  apps/api/v2/src/modules/organizations/routing-forms/services/organizations-routing-forms.service.ts
  apps/api/v2/src/modules/organizations/teams/routing-forms/organizations-teams-routing-forms.module.ts
  apps/api/v2/src/modules/organizations/teams/routing-forms/repositories/organizations-teams-routing-forms-responses.repository.ts
  apps/api/v2/src/modules/organizations/teams/routing-forms/repositories/organizations-teams-routing-forms.repository.ts
  apps/api/v2/src/modules/organizations/teams/routing-forms/services/organizations-teams-routing-forms-responses.service.ts
  apps/api/v2/src/modules/organizations/teams/routing-forms/services/organizations-teams-routing-forms.service.ts
Labels: platform, routing-forms, core, ready-for-e2e

#20637 feat: v2 return slots based on routing form response
  apps/api/v2/package.json
  apps/api/v2/src/ee/platform-endpoints-module.ts
  apps/api/v2/src/modules/organizations/organizations/organizations-organizations.controller.ts
  apps/api/v2/src/modules/routing-forms/controllers/routing-forms.controller.ts
  apps/api/v2/src/modules/routing-forms/controllers/routing-forms.e2e-spec.ts
  apps/api/v2/src/modules/routing-forms/outputs/response-slots.output.ts
  apps/api/v2/src/modules/routing-forms/routing-forms.module.ts
  apps/api/v2/src/modules/routing-forms/services/routing-forms.service.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
  packages/lib/server/getRoutedUrl.ts
  packages/platform/types/slots/slots-2024-09-04/inputs/get-slots.input.ts
  yarn.lock
Labels: ✨ feature, platform, routing-forms, core, ready-for-e2e

#20651 fix: readonly ics error
  packages/app-store/ics-feedcalendar/api/add.ts
  packages/app-store/ics-feedcalendar/lib/CalendarService.ts
  packages/app-store/ics-feedcalendar/pages/setup/index.tsx
Labels: 🐛 bug, app-store, enterprise, core, high-risk, ready-for-e2e

#20646 feat: Embed - Show skeleton loader when pageType is provided
  packages/embeds/README.md
  packages/embeds/embed-core/index.html
  packages/embeds/embed-core/package.json
  packages/embeds/embed-core/playground.ts
  packages/embeds/embed-core/src/EmbedElement.test.ts
  packages/embeds/embed-core/src/EmbedElement.ts
  packages/embeds/embed-core/src/Inline/inline.ts
  packages/embeds/embed-core/src/Inline/inlineHtml.ts
  packages/embeds/embed-core/src/ModalBox/ModalBox.ts
  packages/embeds/embed-core/src/ModalBox/ModalBoxHtml.ts
  packages/embeds/embed-core/src/__tests__/utils.test.ts
  packages/embeds/embed-core/src/addAppCssVars.ts
  packages/embeds/embed-core/src/embed-iframe.ts
  packages/embeds/embed-core/src/embed.ts
  packages/embeds/embed-core/src/types.ts
  packages/embeds/embed-core/src/ui-utils.ts
  packages/embeds/embed-core/src/ui/skeleton.ts
  packages/embeds/embed-core/src/utils.ts
  packages/embeds/embed-core/tailwind.config.js
  packages/embeds/embed-core/test/__mocks__/windowMatchMedia.ts
  packages/embeds/embed-react/inline.html
  packages/embeds/embed-react/inline.tsx
  packages/features/bookings/Booker/Booker.tsx
Labels: ✨ feature, enterprise, embed, core, ready-for-e2e

#20675 perf: Fetch data server-side for Webhook Create page
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/developer/webhooks/(with-loader)/loading.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/developer/webhooks/(with-loader)/page.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/developer/webhooks/new/loading.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/developer/webhooks/new/page.tsx
  packages/features/webhooks/pages/webhook-new-skeleton.tsx
  packages/features/webhooks/pages/webhook-new-view.tsx
  packages/features/webhooks/pages/webhooks-skeleton.tsx
  packages/features/webhooks/pages/webhooks-view.tsx
Labels: webhooks, performance, core, foundation, ready-for-e2e

#20718 refactor: improve error handling in captureErrorsMiddleware
  packages/trpc/server/middlewares/captureErrorsMiddleware.ts
Labels: core, 💻 refactor, foundation, ready-for-e2e

#20727 fix: wrong translation value
  apps/web/modules/apps/categories/[category]/category-view.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/settings/TimezoneChangeDialog.tsx
Labels: i18n, core, foundation, ready-for-e2e

#19870 chore: Rename @calcom/lib/date-fns to @calcom/lib/dayjs
  apps/api/v1/pages/api/slots/_get.ts
  apps/web/components/booking/BookingListItem.tsx
  apps/web/modules/bookings/views/bookings-single-view.tsx
  apps/web/modules/settings/my-account/general-view.tsx
  apps/web/modules/test-setup.ts
  apps/web/modules/videos/views/videos-single-view.tsx
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  packages/features/bookings/Booker/components/DatePicker.tsx
  packages/features/bookings/lib/handleNewBooking/validateBookingTimeIsNotOutOfBounds.ts
  packages/features/calendars/DatePicker.tsx
  packages/features/calendars/lib/getAvailableDatesInMonth.timezone.test.ts
  packages/features/calendars/lib/getAvailableDatesInMonth.ts
  packages/features/embed/Embed.tsx
  packages/features/schedules/components/DateOverrideInputDialog.tsx
  packages/features/webhooks/lib/sendPayload.ts
  packages/lib/dayjs/index.ts
  packages/lib/dayjs/stringToDayjs.test.ts
  packages/lib/getBusyTimes.ts
  packages/lib/getUserAvailability.ts
  packages/lib/schedules/transformers/for-atom.ts
  packages/lib/slots.ts
  packages/prisma/zod-utils.ts
  packages/prisma/zod/custom/booking.ts
  packages/trpc/server/routers/viewer/slots/util.ts
  packages/ui/components/popover/MeetingTimeInTimezones.tsx
Labels: core, 💻 refactor, foundation, ready-for-e2e

#20728 test: e2e test for the Routing Form to Event Booking flow
  packages/app-store/routing-forms/playwright/tests/basic.e2e.ts
Labels: 🐛 bug, routing-forms, automated-tests, core, ready-for-e2e

#20717 feat: Whitelist user's from workflow spam scanning
  apps/web/public/static/locales/en/common.json
  packages/features/ee/users/components/UsersTable.tsx
  packages/features/tasker/tasks/scanWorkflowBody.test.ts
  packages/features/tasker/tasks/scanWorkflowBody.ts
  packages/lib/server/repository/user.ts
  packages/prisma/migrations/20250415173346_add_whitelist_workflows_to_user/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/routers/viewer/admin/_router.ts
  packages/trpc/server/routers/viewer/admin/listPaginated.handler.ts
  packages/trpc/server/routers/viewer/admin/whitelistUserWorkflows.handler.ts
  packages/trpc/server/routers/viewer/admin/whitelistUserWorkflows.schema.ts
Labels: ✨ feature, ❗️ migrations, workflows, core, consumer, ready-for-e2e

#20738 fix: disable Google Translate from HTML
  apps/web/app/layout.tsx
  packages/embeds/embed-core/playwright/tests/action-based.e2e.ts
Labels: 🐛 bug, core, foundation, ready-for-e2e

#20744 fix: buggy skeleton rendering for month view
  packages/embeds/embed-core/src/ui/skeleton.ts
Labels: 🐛 bug, ui, community, ready-for-e2e, community-interns

#20745 fix: Wrong schedule ID set for child managed event
  packages/features/ee/managed-event-types/lib/handleChildrenEventTypes.ts
Labels: 🐛 bug, core, ready-for-e2e

#20751 fix: failing e2e test
  apps/web/playwright/organization/organization-settings.e2e.ts
Labels: automated-tests, core, ready-for-e2e

#20743 fix: Admin/owner unable to confirm managed bookings
  packages/trpc/server/routers/viewer/bookings/confirm.handler.ts
Labels: 🐛 bug, bookings, core, ready-for-e2e

#20755 refactor: v2 automatic round robin reassign error message
  apps/api/v2/src/ee/bookings/2024-08-13/services/bookings.service.ts
Labels: platform, core, 💻 refactor, ready-for-e2e

#20737 fix: return react fragment from all layout.tsx
  apps/web/app/(use-page-wrapper)/(main-nav)/layout.tsx
  apps/web/app/(use-page-wrapper)/apps/categories/layout.tsx
  apps/web/app/(use-page-wrapper)/availability/troubleshoot/layout.tsx
  apps/web/app/(use-page-wrapper)/insights/layout.tsx
  apps/web/app/(use-page-wrapper)/settings/(settings-layout)/layout.tsx
Labels: 🐛 bug, core, foundation, ready-for-e2e

#20540 feat: add guards to stripe teams controller
  apps/api/v2/package.json
  apps/api/v2/src/modules/auth/auth.module.ts
  apps/api/v2/src/modules/conferencing/conferencing.module.ts
  apps/api/v2/src/modules/conferencing/controllers/conferencing.controller.ts
  apps/api/v2/src/modules/conferencing/services/conferencing.service.ts
  apps/api/v2/src/modules/organizations/conferencing/organizations-conferencing.controller.ts
  apps/api/v2/src/modules/organizations/conferencing/organizations-conferencing.module.ts
  apps/api/v2/src/modules/organizations/conferencing/services/organizations-conferencing.service.ts
  apps/api/v2/src/modules/organizations/organizations.module.ts
  apps/api/v2/src/modules/organizations/stripe/organizations-stripe.controller.ts
  apps/api/v2/src/modules/organizations/stripe/organizations-stripe.module.ts
  apps/api/v2/src/modules/organizations/stripe/services/organizations-stripe.service.ts
  apps/api/v2/src/modules/stripe/controllers/stripe.controller.ts
  apps/api/v2/src/modules/stripe/outputs/stripe.output.ts
  apps/api/v2/src/modules/stripe/stripe.module.ts
  apps/api/v2/src/modules/stripe/stripe.service.ts
  apps/api/v2/src/modules/teams/event-types/teams-event-types.module.ts
  apps/api/v2/swagger/documentation.json
  apps/web/modules/bookings/views/bookings-single-view.tsx
  docs/api-reference/v2/openapi.json
  packages/platform/atoms/connect/apple/AppleConnect.tsx
  packages/platform/atoms/connect/stripe/StripeConnect.tsx
  packages/platform/atoms/event-types/wrappers/EventPaymentsTabPlatformWrapper.tsx
  packages/platform/atoms/hooks/stripe/useCheck.ts
  packages/platform/atoms/hooks/stripe/useConnect.ts
  packages/platform/examples/base/src/pages/conferencing-apps.tsx
  packages/prisma/zod-utils.ts
  yarn.lock
Labels: ✨ feature, teams, platform, organizations, billing, core, ready-for-e2e

#20761 chore: Skip flakey tests SEO tests
  apps/web/playwright/organization/organization-settings.e2e.ts
Labels: automated-tests, core, consumer, ready-for-e2e

#20759 feat: Write UTM params to Salesforce
  packages/app-store/salesforce/lib/CrmService.ts
Labels: ✨ feature, core, crm-apps, consumer, ready-for-e2e

#20732 chore: Remove verbose logging
  packages/lib/server/repository/user.ts
Labels: core, foundation, ready-for-e2e

#20758 fix: offer seats feature is broken
  packages/trpc/server/routers/viewer/eventTypes/update.handler.ts
Labels: 🐛 bug, seats, core, ready-for-e2e

#20763 fix: Remove trailing } from utm param
  packages/app-store/salesforce/lib/CrmService.ts
Labels: 🐛 bug, core, crm-apps, consumer, ready-for-e2e

#20754 fix: only managed users assignable to managed team event
  apps/api/v2/package.json
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/seated-bookings.e2e-spec.ts
  apps/api/v2/src/modules/atoms/services/event-types-atom.service.ts
  packages/lib/event-types/getEventTypeById.ts
  packages/lib/server/repository/eventType.ts
  yarn.lock
Labels: 🐛 bug, teams, platform, event-types, core, ready-for-e2e

#20765 feat: make skeleton for booking embed accurate
  packages/embeds/embed-core/src/ui/skeleton.ts
Labels: ✨ feature, embed, community, ready-for-e2e, community-interns

#20766 fix: calendar connect atoms
  apps/api/v2/src/ee/calendars/controllers/calendars.controller.ts
Labels: 🐛 bug, platform, core, calendar-apps, ready-for-e2e

#20749 fix: header overlaps in month view on short viewport
  packages/features/bookings/Booker/Booker.tsx
Labels: 🐛 bug, Medium priority, ui, booking-page, community, ready-for-e2e

#20120 fix: 404 for embed.js in single domain-single org self hosting setup
  apps/web/pagesAndRewritePaths.js
  apps/web/test/lib/next-config.test.ts
Labels: 🐛 bug, enterprise, self-hosting, embed, core, ready-for-e2e

#20785 chore: improved warning for UNKEY_ROOT_KEY
  packages/lib/rateLimit.ts
Labels: community, ready-for-e2e

#20788 fix: v2 Sentry errors
  apps/api/v2/src/ee/bookings/2024-08-13/services/bookings.service.ts
  apps/api/v2/swagger/documentation.json
  docs/api-reference/v2/openapi.json
  packages/platform/types/bookings/2024-08-13/inputs/create-booking.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/booker-layouts.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/booking-limits-count.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/booking-limits-duration.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/create-event-type.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/update-event-type.input.ts
Labels: 🐛 bug, platform, bookings, event-types, core, ready-for-e2e

#20786 fix: Org onboarding handle error due to platform team being moved to regular org
  packages/features/ee/billing/api/webhook/_invoice.paid.org.ts
  packages/features/ee/organizations/lib/server/createOrganizationFromOnboarding.test.ts
  packages/features/ee/organizations/lib/server/createOrganizationFromOnboarding.ts
  packages/trpc/server/routers/viewer/organizations/__tests__/createTeams.handler.test.ts
  packages/trpc/server/routers/viewer/organizations/createTeams.handler.ts
Labels: 🐛 bug, enterprise, platform, core, ready-for-e2e

#20790 fix: Wrong text EmbedTheme -> Theme
  packages/features/embed/Embed.tsx
Labels: 🐛 bug, enterprise, embed, core, ready-for-e2e

#20719 refactor: replace timeZone string validation with timeZoneSchema
  apps/web/app/api/customer-card/route.ts
  packages/features/users/components/UserTable/EditSheet/EditUserForm.tsx
  packages/lib/dayjs/timeZone.schema.ts
  packages/prisma/zod/custom/booking.ts
  packages/trpc/server/routers/viewer/availability/schedule/update.schema.ts
  packages/trpc/server/routers/viewer/me/updateProfile.schema.ts
  packages/trpc/server/routers/viewer/organizations/update.schema.ts
  packages/trpc/server/routers/viewer/organizations/updateUser.schema.ts
  packages/trpc/server/routers/viewer/slots/types.ts
  packages/trpc/server/routers/viewer/teams/getMemberAvailability.schema.ts
Labels: core, 💻 refactor, foundation, ready-for-e2e

#20582 fix: improved 'use-identity-login' error message for users trying to signInn using different provider
  apps/web/app/(use-page-wrapper)/auth/error/page.tsx
  apps/web/public/static/locales/en/common.json
  packages/features/auth/lib/next-auth-options.ts
Labels: 🐛 bug, i18n, authentication, community, ready-for-e2e
