Repository calcom/cal.com, pull requests merged in 2025-10, with the labels that each got.

#24188 chore: Remove `safeStringify` from graphql errors
  packages/app-store/salesforce/lib/graphql/SalesforceGraphQLClient.ts
Labels: 🧹 Improvements, enterprise, core, ready-for-e2e, size/XS

#24192 fix: add missing permissions to workflows
  packages/trpc/server/routers/viewer/workflows/getAllActiveWorkflows.handler.ts
Labels: 🐛 bug, workflows, core, ready-for-e2e, size/XS

#24000 fix: different calendar hosts
  packages/app-store/office365calendar/lib/CalendarService.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/test/team-bookings/collective-reschedule-destination-calendar.test.ts
  packages/lib/formatCalendarEvent.ts
Labels: 🐛 bug, platform, bookings, core, ready-for-e2e, size/S

#24118 feat(ui/api-keys): add confirmation dialog for API key deletion
  apps/web/public/static/locales/en/common.json
  packages/features/ee/api-keys/components/ApiKeyListItem.tsx
Labels: 🐛 bug, ✨ feature, Low priority, api, community, ready-for-e2e, size/M

#23805 feat: add created_at field display to admin user edit page
  packages/features/ee/users/components/UserForm.tsx
Labels: ✨ feature, platform, Stale, core, admin, ready-for-e2e, size/S

#23738 fix: `customReplyEmailTo` feedback
  apps/api/v2/src/modules/atoms/atoms-secondary-emails.repository.ts
  apps/api/v2/src/modules/atoms/atoms.module.ts
  apps/api/v2/src/modules/atoms/atoms.repository.ts
  apps/api/v2/src/modules/atoms/services/verification-atom.service.ts
  apps/api/v2/src/modules/teams/teams/teams.repository.ts
  apps/api/v2/src/modules/users/users.repository.ts
  packages/features/eventtypes/components/AddVerifiedEmail.tsx
  packages/features/isValidEmail.ts
Labels: 🐛 bug, platform, core, ready-for-e2e, size/L

#24144 fix: Always enforce one owner with pbac
  packages/features/pbac/services/__tests__/role-management.factory.test.ts
  packages/features/pbac/services/pbac-role-manager.service.ts
  packages/features/pbac/services/role-management.factory.ts
Labels: 🐛 bug, core, consumer, ready-for-e2e, size/L

#24170 feat: add host validation for team event types
  packages/platform/types/event-types/event-types_2024_06_14/inputs/create-event-type.input.ts
  packages/platform/types/event-types/event-types_2024_06_14/inputs/update-event-type.input.ts
Labels: ✨ feature, Medium priority, platform, api, event-types, core, Private, 💻 refactor, ready-for-e2e, size/S, 🛠 Tech Debt, Investment

#24189 chore: update description
  apps/web/public/static/locales/ar/common.json
  apps/web/public/static/locales/az/common.json
  apps/web/public/static/locales/bg/common.json
  apps/web/public/static/locales/bn/common.json
  apps/web/public/static/locales/ca/common.json
  apps/web/public/static/locales/cs/common.json
  apps/web/public/static/locales/da/common.json
  apps/web/public/static/locales/de/common.json
  apps/web/public/static/locales/el/common.json
  apps/web/public/static/locales/en/common.json
  apps/web/public/static/locales/es-419/common.json
  apps/web/public/static/locales/es/common.json
  apps/web/public/static/locales/et/common.json
  apps/web/public/static/locales/eu/common.json
  apps/web/public/static/locales/fi/common.json
  apps/web/public/static/locales/fr/common.json
  apps/web/public/static/locales/he/common.json
  apps/web/public/static/locales/hu/common.json
  apps/web/public/static/locales/it/common.json
  apps/web/public/static/locales/ja/common.json
  apps/web/public/static/locales/km/common.json
  apps/web/public/static/locales/ko/common.json
  apps/web/public/static/locales/nl/common.json
  apps/web/public/static/locales/no/common.json
  apps/web/public/static/locales/pl/common.json
  apps/web/public/static/locales/pt-BR/common.json
  apps/web/public/static/locales/pt/common.json
  apps/web/public/static/locales/ro/common.json
  apps/web/public/static/locales/ru/common.json
  apps/web/public/static/locales/sk-SK/common.json
  apps/web/public/static/locales/sr/common.json
  apps/web/public/static/locales/sv/common.json
  apps/web/public/static/locales/tr/common.json
  apps/web/public/static/locales/uk/common.json
  apps/web/public/static/locales/vi/common.json
  apps/web/public/static/locales/zh-CN/common.json
  apps/web/public/static/locales/zh-TW/common.json
  packages/features/bookings/Booker/components/InstantBooking.tsx
Labels: enterprise, i18n, core, foundation, ready-for-e2e, size/L

#24219 fix: Getting an unauthorized error when accessing the workflow tab for a child-managed event
  packages/trpc/server/routers/viewer/workflows/getAllActiveWorkflows.handler.ts
Labels: 🐛 bug, workflows, core, consumer, ready-for-e2e, size/S

#24206 refactor: dont allow scheduling team event type without hosts
  apps/api/v2/src/ee/bookings/2024-08-13/controllers/e2e/team-bookings.e2e-spec.ts
  apps/api/v2/src/ee/bookings/2024-08-13/services/bookings.service.ts
Labels: teams, platform, core, ready-for-e2e, size/M

#24226 fix: managed user timeZone validation
  apps/api/v2/src/modules/oauth-clients/controllers/oauth-client-users/oauth-client-users.controller.e2e-spec.ts
  apps/api/v2/src/modules/users/inputs/create-managed-user.input.ts
Labels: 🐛 bug, platform, core, ready-for-e2e, size/L

#24240 fix: hydration error warning in scheduleListItem component
  packages/features/schedules/components/ScheduleListItem.tsx
Labels: 🐛 bug, community, ready-for-e2e, size/XS

#23923 feat: add email filtering to team memberships endpoint
  apps/api/v2/src/modules/teams/memberships/controllers/teams-memberships.controller.e2e-spec.ts
  apps/api/v2/src/modules/teams/memberships/controllers/teams-memberships.controller.ts
  apps/api/v2/src/modules/teams/memberships/inputs/get-team-memberships.input.ts
  apps/api/v2/src/modules/teams/memberships/services/teams-memberships.service.ts
  apps/api/v2/src/modules/teams/memberships/teams-memberships.repository.ts
  apps/api/v2/src/modules/users/inputs/get-users.input.ts
Labels: ✨ feature, teams, platform, 💻 refactor, community, ready-for-e2e, community-interns, size/L

#24249 fix: event is not added to outlook cal through workflow ics file
  packages/emails/lib/generateIcsFile.ts
  packages/features/ee/workflows/api/scheduleEmailReminders.ts
  packages/features/ee/workflows/lib/reminders/emailReminderManager.ts
Labels: 🐛 bug, core, ready-for-e2e, size/S

#24235 refactor: Salesforce `getContacts`
  packages/app-store/salesforce/lib/CrmService.test.ts
  packages/app-store/salesforce/lib/CrmService.ts
  packages/app-store/salesforce/lib/__tests__/salesforceMock.ts
Labels: enterprise, core, crm-apps, 💻 refactor, consumer, ready-for-e2e, size/L

#24246 chore: Watchlist schema update
  apps/api/v1/test/lib/utils/isLockedOrBlocked.test.ts
  packages/features/bookings/lib/handleNewBooking/test/fresh-booking.test.ts
  packages/features/watchlist/lib/testUtils.ts
  packages/features/watchlist/watchlist.repository.ts
  packages/prisma/migrations/20251003103832_upsert_watchlist_audit/migration.sql
  packages/prisma/schema.prisma
Labels: ❗️ migrations, enterprise, core, ready-for-e2e, size/L

#24284 fix: contentType is added incorrectly in the workflow ICS
  packages/features/ee/workflows/api/scheduleEmailReminders.ts
  packages/features/ee/workflows/lib/reminders/emailReminderManager.ts
Labels: 🐛 bug, workflows, core, ready-for-e2e, size/XS

#23246 feat: add usernameInOrg field to webhook organizer payload for organization users
  apps/web/public/static/locales/en/common.json
  apps/web/test/utils/bookingScenario/bookingScenario.ts
  apps/web/test/utils/bookingScenario/expects.ts
  packages/features/CalendarEventBuilder.ts
  packages/features/bookings/lib/handleCancelBooking.ts
  packages/features/bookings/lib/handleCancelBooking/test/handleCancelBooking.test.ts
  packages/features/bookings/lib/handleNewBooking.ts
  packages/features/bookings/lib/handleNewBooking/test/fresh-booking.test.ts
  packages/features/bookings/lib/handleNewBooking/test/team-bookings/round-robin.test.ts
  packages/features/bookings/lib/payment/getBooking.ts
  packages/features/webhooks/components/WebhookForm.tsx
  packages/features/webhooks/lib/sendPayload.ts
  packages/trpc/server/routers/viewer/bookings/confirm.handler.ts
  packages/types/Calendar.d.ts
Labels: ✨ feature, High priority, enterprise, webhooks, organizations, core, ready-for-e2e, size/XL

#24279 fix: timezone variable name does not match webhook payload
  packages/features/webhooks/components/WebhookForm.tsx
Labels: 🐛 bug, webhooks, community, ready-for-e2e, size/XS

#24300 docs: update License key for self hosted instance
  docs/developing/guides/api/how-to-setup-api-in-a-local-instance.mdx
Labels: docs, enterprise, core, ready-for-e2e, size/XS

#24307 chore: Upgrade Next.js to 15.5.4
  apps/web/package.json
  yarn.lock
Labels: ⬆️ dependencies, core, foundation, ready-for-e2e, size/L

#24311 chore: Remove unused next dependency in @calcom/ui
  packages/ui/package.json
  yarn.lock
Labels: ⬆️ dependencies, core, foundation, ready-for-e2e, size/L

#24259 fix: make empty screen template grid mobile responsive
  packages/features/ee/workflows/components/EmptyScreen.tsx
Labels: 🐛 bug, 🧹 Improvements, workflows, ui, community, ready-for-e2e, size/XS

#24212 fix: Proper error handling in PrismaAppRepository.findAppStore with Sentry logging
  packages/features/apps/repository/PrismaAppRepository.ts
Labels: 🐛 bug, app-store, 🧹 Improvements, community, ready-for-e2e, size/S

#24263 fix: polish sign-in translation
  apps/web/public/static/locales/pl/common.json
Labels: 🐛 bug, i18n, community, ready-for-e2e, size/XS

#24341 refactor: update JellyPhone icon
  packages/app-store/jelly/static/icon.svg
Labels: app-store, 💻 refactor, community, ready-for-e2e, size/S
